! generic
*foreground:                  #cccccc
*background:                  #000000

! urxvt
URxvt.font:                   xft:xos4 Terminus:size=12:antialias=true:hinting=true
URxvt.url-launcher:           /usr/bin/xdg-open
URxvt.matcher.button:         1
URxvt.scrollBar:              false
URxvt.termName:               xterm-256color
URxvt.saveLines:              10000
URxvt*inheritPixmap:          true
URxvt*shading:                10
URxvt.clipboard.autocopy:     true
URxvt.keysym.M-Escape:        perl:keyboard-select:activate
URxvt.keysym.Control-Shift-V: perl:pasta:paste
URxvt.perl-ext-common:        default,selection-to-clipboard,pasta,matcher,keyboard-select
URxvt.keysym.M-u:             perl:url-select:select_next
urxvt.transparent:            true
urxvt.buffered:               true
urxvt.jumpScroll:             false
urxvt.scrollTtyKeypress:      true
urxvt.scrollTtyOutput:        false
urxvt.scrollWithBuffer:       false
urxvt.scrollstyle:            plain
urxvt.secondaryScroll:        false
urxvt.xftAntialias:           true
urxvt.color12:                RoyalBlue
urxvt.matcher.rend.0:         Bold fg6
urxvt.cursorBlink:            false
urxvt.cursorColor:            #6298e0
urxvt.mapAlert:               true
urxvt.pointerBlank:           true
urxvt.resource:               value


! xterm
xterm*VT100*geometry:         80x24
xterm*faceName:               xft:xos4 Terminus:size=12:antialias=true
xterm*faceSize:               12
xterm*renderFont:             true
xterm*utf8:                   always
xterm*utf8Title:              true
xterm*locale:                 true
xterm*cursorColor:            #6298e0
xterm*cursorBlink:            false
xterm*selectToClipboard:      true
xterm*SaveLines:              10000
xterm*transparent:            true

! cursor
Xcursor.theme:                Adwaita
Xcursor.size:                 14
