[Desktop Entry]
Type=Service
Name=Favicons
Name[ar]=أيقونات الويب
Name[ast]=Favicons
Name[be@latin]=Ikony sajtaŭ
Name[bg]=Уеб-икони
Name[bn]=ফ্যাভ-আইকন
Name[bn_IN]=Favicons
Name[bs]=favikone
Name[ca]=Icones de web
Name[ca@valencia]=Icones de web
Name[cs]=Oblíbené ikony
Name[csb]=Faviconë (ikònczi)
Name[da]=Favicons
Name[de]=Webseitensymbole
Name[el]=Αγαπημένα εικονίδια
Name[en_GB]=Favicons
Name[eo]=Favorikonoj
Name[es]=Favicons
Name[et]=Lemmikikoonid
Name[eu]=Favicon-ak
Name[fi]=Verkkosivukuvakkeet
Name[fr]=Émoticônes
Name[fy]=Favicon-ôfbyldings
Name[ga]=Deilbhíní Ceanán
Name[gl]=Iconas de páxina web
Name[gu]=ફેવિકોન્સ
Name[he]=סמלי מועדפים
Name[hi]=फेविकॉन
Name[hne]=फेविकान
Name[hr]=Omiljene ikone
Name[hu]=Favikonok
Name[ia]=Favicons
Name[id]=Ikon Favorit
Name[is]=Veftáknmyndir (favicons)
Name[it]=Iconcine
Name[ja]=ファビコン
Name[kk]=Favicon таңбашалары
Name[km]=រូប​តំណាង​សំណព្វ
Name[kn]=ಫೆವಿಕಾನ್‌ಗಳು
Name[ko]=파비콘
Name[ku]=Nîşanên Malperan
Name[lt]=Srities ženkliukai
Name[lv]=TīmekļaIkonas
Name[mai]=फेविकान
Name[mk]=Омилени икони
Name[ml]=ഇഷ്ടചിഹ്നങ്ങള്‍
Name[mr]=Favicons
Name[nb]=Ikoner for favorittsteder
Name[nds]=Nettsieden-Lüttbiller
Name[nl]=Favicons
Name[nn]=Bokmerkeikon
Name[or]=Favicons
Name[pa]=ਫੇਵੀਕਾਨ
Name[pl]=Ikony witryn
Name[pt]='Favicons'
Name[pt_BR]=Favicons
Name[ro]=Pictograme favorite
Name[ru]=Значки веб-сайтов
Name[si]=Favicons
Name[sk]=Favikony
Name[sl]=Ikone zaznamkov
Name[sr]=фавиконе
Name[sr@ijekavian]=фавиконе
Name[sr@ijekavianlatin]=favikone
Name[sr@latin]=favikone
Name[sv]=Favoritikoner
Name[ta]=சின்னங்கள்
Name[tg]=Нишонаҳои саҳифаи интернетӣ
Name[th]=ไอคอนเว็บ
Name[tr]=Site Simgeleri
Name[ug]=تور بېكەت سىنبەلگە
Name[uk]=Піктограми «Вибраного»
Name[wa]=Pititès imådjetes favicons
Name[x-test]=xxFaviconsxx
Name[zh_CN]=网站图标
Name[zh_TW]=網站圖示
Comment=Stores website icons
Comment[ar]=يخزن أيقونات مواقع الإنترنت
Comment[ast]=Almacena iconos de sitios web
Comment[bg]=Запазване на иконки за уеб-сайтове
Comment[bs]=Skladišti ikone veb sajtova
Comment[ca]=Emmagatzema les icones dels llocs web
Comment[ca@valencia]=Emmagatzema les icones dels llocs web
Comment[cs]=Ukládá ikony stránek
Comment[da]=Gemmer webside-ikoner
Comment[de]=Webseitensymbole speichern
Comment[el]=Αποθήκευση εικονιδίων ιστοσελίδας
Comment[en_GB]=Stores website icons
Comment[es]=Almacena iconos de sitios web
Comment[et]=Veebilehekülgede ikoonide salvestamine
Comment[eu]=Webguneen ikonoak gordetzen ditu
Comment[fi]=Säilyttää verkkosivujen kuvakkeita
Comment[fr]=Enregistre les icônes des sites Internet
Comment[ga]=Stórálann sé deilbhín suíomh Gréasáin
Comment[gl]=Garda as iconas logotipo dos sitios web
Comment[gu]=વેબસાઈટના ચિહ્નો સંગ્રહ કરે છે
Comment[he]=איחסון סמלי אתרים
Comment[hi]=वेबसाइट प्रतीक सहेजता है
Comment[hr]=Sprema ikone web stranica
Comment[hu]=Weboldalak ikonjainak tárolása
Comment[ia]=Il immagazina icones del sito web
Comment[id]=Simpan ikon situs web
Comment[is]=Geymir táknmyndir vefsvæða
Comment[it]=Memorizza le icone dei siti Web
Comment[ja]=ウェブサイトのアイコンを保存
Comment[kk]=Веб-сайт таңбашаларын сақтау орны
Comment[km]=ទុក​រូបតំណាង​របស់​បណ្ដាញ
Comment[kn]=ಜಾಲ ತಾಣಗಳ ಚಿತ್ರಾತ್ಮಕ ಸಂಕೇತ (ಐಕಾನ್)ಗಳನ್ನು ಶೇಖರಿಸುತ್ತದೆ
Comment[ko]=웹 사이트 아이콘을 저장함
Comment[lt]=Saugo svetainės ženkliukus
Comment[lv]=Saglabā tīmekļa vietņu ikonas
Comment[mr]=वेबसाईट चिन्हे संचयीत करतो
Comment[nb]=Lagrer nettstedsikoner
Comment[nds]=Wohrt Nettsiedenlüttbiller
Comment[nl]=Slaat website pictogrammen op
Comment[nn]=Lagrar nettstadikon
Comment[pa]=ਵੈੱਬਸਾਈਟ ਆਈਕਾਨ ਸਟੋਰ ਕਰਦਾ ਹੈ
Comment[pl]=Przechowuje ikony stron WWW
Comment[pt]=Guarda os ícones das páginas Web
Comment[pt_BR]=Armazena os ícones dos sites da Web
Comment[ro]=Stochează pictogramele siturilor
Comment[ru]=Хранение значков веб-сайтов
Comment[si]=වෙබ් අඩවි අයිකන ගබඩා කර
Comment[sk]=Ukladá ikony stránok
Comment[sl]=Hrani ikone spletnih strani
Comment[sr]=Складишти иконе веб сајтова
Comment[sr@ijekavian]=Складишти иконе веб сајтова
Comment[sr@ijekavianlatin]=Skladišti ikone veb sajtova
Comment[sr@latin]=Skladišti ikone veb sajtova
Comment[sv]=Lagrar webbplatsikoner
Comment[tg]=Нишонаҳои сайтҳои интернет нигоҳ мекунад
Comment[th]=จัดเก็บไอคอนของเว็บไซต์
Comment[tr]=Web sayfası simgelerini saklar
Comment[ug]=تور بېكەت سىنبەلگىسىنى ساقلايدۇ
Comment[uk]=Зберігання піктограм вебсайтів
Comment[wa]=Wåde les imådjetes des waibes
Comment[x-test]=xxStores website iconsxx
Comment[zh_CN]=保存网站图标
Comment[zh_TW]=儲存網站圖示
X-KDE-ServiceTypes=KDEDModule
X-KDE-Library=favicons
X-KDE-DBus-ModuleName=favicons
X-KDE-Kded-autoload=false
X-KDE-Kded-load-on-demand=true
