[Desktop Entry]
Type=Service
Name=Cookie Jar
Name[ar]=كعكة Jar
Name[bg]=Буркан за бисквитки
Name[bn]=কুকি জার
Name[bs]=Kolekcija kolačića
Name[ca]=Repositori de galetes
Name[ca@valencia]=Repositori de galetes
Name[cs]=Cookie Jar
Name[da]=Cookie Jar
Name[de]=Cookie-Behälter
Name[el]=Cookie Jar
Name[en_GB]=Cookie Jar
Name[es]=Almacén de cookies
Name[et]=Küpsisekarp
Name[eu]=Cookie ontzia
Name[fa]=ظرف کوکی
Name[fi]=Evästeiden säilytys
Name[fr]=Boîte à cookies
Name[ga]=Crúiscín Fianán
Name[gl]=Bote de cookies
Name[gu]=કૂકી જાર
Name[he]=צנצנת עוגיות
Name[hi]=कुकी जार
Name[hr]=Cookie Jar
Name[hu]=Cookie-tároló
Name[hy]=Քուքի բանկա
Name[ia]=Cookie Jar
Name[id]=Jar Kuki
Name[is]=Smákökukrukka
Name[it]=Modulo Jar dei cookie
Name[ja]=クッキー Jar
Name[kk]=Cookie сауыты
Name[km]=ខូឃី Jar
Name[ko]=쿠키 병
Name[ku]=Cookie Jar
Name[lv]=Sīkdatņu trauks
Name[mr]=कूकी जार
Name[nb]=Lager for informasjonskapsler
Name[nds]=Kookjepleeg
Name[nl]=Cookie-depot
Name[pa]=ਕੂਕੀਜ਼ ਜ਼ਾਰ
Name[pl]=Przechowywanie ciasteczek
Name[pt]=Repositório de 'Cookies'
Name[pt_BR]=Repositório de cookies
Name[ro]=Modul Cookie JAR
Name[ru]=Служба cookie
Name[se]=Diehtočoahkorádju
Name[sk]=Úložisko cookie
Name[sl]=Posoda s piškotki
Name[sq]=Kavanozi i biskotave
Name[sr]=Тегла за колачиће
Name[sr@ijekavian]=Тегла за колачиће
Name[sr@ijekavianlatin]=Tegla za kolačiće
Name[sr@latin]=Tegla za kolačiće
Name[sv]=Kakburk
Name[ta]=Cookie Jar
Name[tg]=Cookie Jar
Name[th]=โถคุกกี้
Name[tr]=Cookie Jar
Name[tt]=Cookie Jar
Name[ug]=Cookie Jar
Name[uk]=Глечик з куками
Name[wa]=Coûke Jar
Name[x-test]=xxCookie Jarxx
Name[zh_CN]=Cookie Jar 模块
Name[zh_TW]=Cookie Jar
Comment=Stores network cookies
Comment[ar]=يخزن كعكات (cookies) الشبكة
Comment[bg]=Съхранява мрежовите бисквитки
Comment[bs]=Skladišti mrežne kolačiće
Comment[ca]=Emmagatzema les galetes de la xarxa
Comment[ca@valencia]=Emmagatzema les galetes de la xarxa
Comment[cs]=Ukládá síťová cookie
Comment[da]=Gemmer netværkscookies
Comment[de]=Netzwerk-Cookies speichern
Comment[el]=Αποθήκευση δικτυακών cookies
Comment[en_GB]=Stores network cookies
Comment[es]=Almacena cookies de la red
Comment[et]=Võrguküpsiste salvestamine
Comment[eu]=Sareko cookie-ak biltegiratzen ditu
Comment[fi]=Säilyttää verkkoevästeitä
Comment[fr]=Enregistre les cookies réseau
Comment[ga]=Stórálann sé seo fianáin líonra
Comment[gl]=Garda cookies da rede
Comment[gu]=નેટવર્ક કૂકીઓ સંગ્રહે છે
Comment[he]=שומר עוגיות רשת
Comment[hi]=नेटवर्क कुकीज सहेजता है
Comment[hr]=Sprema mrežne kolačiće
Comment[hu]=Hálózati sütik tárolása
Comment[hy]=Պահում է ցանցի քուքիները
Comment[ia]=Il immagazina le cookies de rete
Comment[id]=Simpan kuki jaringan
Comment[is]=Geymir smákökur af netum
Comment[it]=Salva cookie di rete
Comment[ja]=ネットワーククッキーを保存
Comment[kk]=Желі cookie сақтайтын орын
Comment[km]=រក្សាទុក​ខូឃី​បណ្ដាញ
Comment[ko]=네트워크 쿠키를 저장합니다
Comment[ku]=Çerezên torê tomar dike
Comment[lv]=Galbā tīkla sīkdatnes
Comment[mr]=संजाळ कूकीज साठवतो
Comment[nb]=Lagrer informasjonskapsler fra nettverket
Comment[nds]=Wohrt Nettwark-Kookjes
Comment[nl]=Slaat netwerk-cookies op
Comment[pa]=ਨੈੱਟਵਰਕ ਕੂਕੀਜ਼ ਸਟੋਰ ਕਰੋ
Comment[pl]=Przechowuje ciasteczka sieciowe
Comment[pt]=Guarda os 'cookies' da rede
Comment[pt_BR]=Armazena os cookies da rede
Comment[ro]=Stochează cookie-uri de rețea
Comment[ru]=Сохранение сетевых cookie
Comment[se]=Vurke fierpmádatdiehtočoahkuid
Comment[sk]=Ukladá sieťové cookies
Comment[sl]=Hrani omrežne piškotke
Comment[sr]=Складишти мрежне колачиће
Comment[sr@ijekavian]=Складишти мрежне колачиће
Comment[sr@ijekavianlatin]=Skladišti mrežne kolačiće
Comment[sr@latin]=Skladišti mrežne kolačiće
Comment[sv]=Lagrar nätverkskakor
Comment[ta]=பிணைய நினைவிகளை சேமிக்கிறது
Comment[tg]=Нигоҳдории хусиятҳои шабака
Comment[th]=จัดเก็บคุกกี้ต่าง ๆ ที่ได้จากเครือข่าย
Comment[tr]=Ağ çerezlerini saklar
Comment[tt]=Челтәрле cookies'ны саклау
Comment[ug]=تور cookie نى ساقلايدۇ
Comment[uk]=Зберігання кук мережі
Comment[vi]=Lưu cookies mạng
Comment[wa]=Wåde les coûkes del rantoele
Comment[x-test]=xxStores network cookiesxx
Comment[zh_CN]=存储网络 cookie
Comment[zh_TW]=儲存網路 cookie
X-KDE-ServiceTypes=KDEDModule
X-KDE-Library=kcookiejar
X-KDE-DBus-ModuleName=kcookiejar
X-KDE-Kded-autoload=false
X-KDE-Kded-load-on-demand=true
