[Desktop Entry]
Type=Service

X-KDE-ServiceTypes=KDEDModule
X-KDE-Library=kephal
X-KDE-DBus-ModuleName=kephal
X-KDE-Kded-autoload=false
X-KDE-Kded-load-on-demand=true

Name=Display Management
Name[ar]=إدارة العرض
Name[ast]=Xestión de pantalla
Name[bg]=Управление на екрана
Name[bs]=Upravljanje prikazom
Name[ca]=Gestió de la pantalla
Name[ca@valencia]=Gestió de la pantalla
Name[cs]=Správa zobrazení
Name[da]=Håndtering af skærme
Name[de]=Bildschirmverwaltung
Name[el]=Εμφάνιση διαχείρισης
Name[en_GB]=Display Management
Name[es]=Gestión de pantalla
Name[et]=Kuvahaldus
Name[eu]=Bistaratze kudeaketa
Name[fi]=Näytönhallinta
Name[fr]=Gestion de l'affichage
Name[ga]=Bainisteoireacht Scáileán
Name[gl]=Xestión do monitor
Name[he]=ניהול צגים
Name[hi]=डिस्पले प्रबंधन
Name[hr]=Upravitelj zaslona
Name[hu]=Képernyőkezelő
Name[ia]=Gestion de monstrator
Name[id]=Manajemen Tampilan
Name[is]=Skjáastjórnun
Name[it]=Gestione del video
Name[ja]=ディスプレイ管理
Name[kk]=Дисплейді басқару
Name[km]=បង្ហាញ​ការ​គ្រប់គ្រង
Name[kn]=ಪ್ರದರ್ಶನ ವ್ಯವಸ್ಥಾಪಕ
Name[ko]=디스플레이 관리
Name[lt]=Ekrano valdymas
Name[lv]=Ekrāna pārvaldība
Name[mr]=डिस्प्ले व्यवस्थापन
Name[nb]=Skjermstyring
Name[nds]=Schirmpleeg
Name[nl]=Schermbeheer
Name[pa]=ਡਿਸਪਲੇਅ ਮੈਨੇਜਮੈਂਟ
Name[pl]=Zarządzanie wyświetlaczem
Name[pt]=Gestão do Ecrã
Name[pt_BR]=Gerenciamento de tela
Name[ro]=Gestiune afișaj
Name[ru]=Управление экраном
Name[si]=ප්‍රදර්ශන කළමනාකරනය
Name[sk]=Správa obrazovky
Name[sl]=Upravljanje z zasloni
Name[sr]=Управљање приказом
Name[sr@ijekavian]=Управљање приказом
Name[sr@ijekavianlatin]=Upravljanje prikazom
Name[sr@latin]=Upravljanje prikazom
Name[sv]=Skärmhantering
Name[tg]=Идоракунии экран
Name[th]=การจัดการระบบแสดงผล
Name[tr]=Ekran Yönetimi
Name[ug]=باشقۇرۇشنى كۆرسەت
Name[uk]=Керування дисплеєм
Name[vi]=Quản lý hiển thị
Name[wa]=Manaedjmint do håynaedje
Name[x-test]=xxDisplay Managementxx
Name[zh_CN]=显示管理
Name[zh_TW]=顯示管理員
Comment=Manages displays and video outputs
Comment[ar]=أدر الشاشات ومخارج الفيديو
Comment[ast]=Xestiona pantalles y salides de videu
Comment[bg]=Управление на екрана и изходите за видео
Comment[bs]=Upravlja prikazima i video izlazima
Comment[ca]=Gestiona les pantalles i les sortides de vídeo
Comment[ca@valencia]=Gestiona les pantalles i les eixides de vídeo
Comment[cs]=Spravuje displeje a výstupy obrazu
Comment[da]=Håndterer skærme og video-output
Comment[de]=Bildschirme und Grafikkarten verwalten
Comment[el]=Διαχείριση εμφάνισης και εξόδων βίντεο
Comment[en_GB]=Manages displays and video outputs
Comment[es]=Gestiona pantallas y salidas de vídeo
Comment[et]=Monitoride ja videoväljundite haldamine
Comment[eu]=Bistaraketa eta bideo irteerak kudeatzen ditu
Comment[fi]=Hallitsee näyttöjä ja videoulostuloja
Comment[fr]=Gère les affichages et les sorties vidéo
Comment[ga]=Bainistigh scáileáin agus aschuir fhíse
Comment[gl]=Xestiona as pantallas e as saídas de vídeo
Comment[he]=מנהל תצוגות ופלטי וידאו
Comment[hr]=Upravlja zaslonskim i video izlazima
Comment[hu]=Képernyők és videokimenetek kezelése
Comment[ia]=Il gere egressos de video e monstratores
Comment[id]=Atur keluaran tampilan dan video
Comment[is]=Sýslar með skjái og vídeóúttök
Comment[it]=Gestisce gli schermi e le uscite video
Comment[ja]=ディスプレイとビデオ出力を管理
Comment[kk]=Дисплейді және видео көрсетуін басқару
Comment[km]=គ្រប់គ្រង​ការ​បង្ហាញ និង​លទ្ធផល​វីដេអូ
Comment[ko]=디스플레이와 비디오 출력을 관리합니다
Comment[lt]=Ekrano ir video išėjimų valdymas
Comment[lv]=Pārvalda ekrānus un video izvadus
Comment[mr]=दृश्य व व्हिडीओ आउटपुट्स व्यवस्थापीत करतो
Comment[nb]=Håndterer skjermer og videoutganger
Comment[nds]=Schirmen un Videoutgäng plegen
Comment[nl]=Beheert schermen en video-invoer
Comment[pa]=ਡਿਸਪਲੇਅ ਅਤੇ ਵਿਡੀਓ ਆਉਟਪੁੱਟ ਪਰਬੰਧ
Comment[pl]=Zarządzanie wyświetlaczami i wyjściami wideo
Comment[pt]=Faz a gestão dos ecrãs e das saídas de vídeo
Comment[pt_BR]=Gerencia as telas e as saídas de vídeo
Comment[ro]=Gestionează afișajele și ieșirile video
Comment[ru]=Управляет экранами и видеовыходами
Comment[si]=ප්‍රදර්ශන සහ වීඩියෝ ප්‍රතිදාන කළමනාකරනය කරයි
Comment[sk]=Spravuje obrazovky a video výstupy
Comment[sl]=Upravlja z zasloni in izhodi za video
Comment[sr]=Управља приказима и видео излазима
Comment[sr@ijekavian]=Управља приказима и видео излазима
Comment[sr@ijekavianlatin]=Upravlja prikazima i video izlazima
Comment[sr@latin]=Upravlja prikazima i video izlazima
Comment[sv]=Hanterar skärmar och videoutgångar
Comment[tg]=Барориши экран ва видеоро идора мекунад
Comment[th]=จัดการการแสดงผลและการส่งออกวีดิโอต่าง ๆ
Comment[tr]=Ekranları ve video çıkışlarını yönetir
Comment[ug]=باشقۇرۇش كۆرسىتىلىپ سىنغا چىقىرىلىدۇ
Comment[uk]=Керує дисплеями та виводом відеоданих
Comment[vi]=Quản lý hiển thị và xuất hình ảnh
Comment[wa]=Manaedje les waitroûles eyet les rexhowes videyo
Comment[x-test]=xxManages displays and video outputsxx
Comment[zh_CN]=管理显示和视频输出
Comment[zh_TW]=管理顯示與影片輸出
