[Desktop Entry]
Name=Input Actions
Name[af]=Inset Aksies
Name[ar]=إجراءات الإدخال
Name[ast]=Aiciones d'entrada
Name[be]=Дзеянні уводу
Name[be@latin]=Uvodnyja aperacyi
Name[bg]=Входни действия
Name[bn_IN]=ইনপুট সংক্রান্ত কর্ম
Name[br]=Oberoù enkas
Name[bs]=Radnje unosa
Name[ca]=Accions d'entrada
Name[ca@valencia]=Accions d'entrada
Name[cs]=Vstupní činnosti
Name[csb]=Klawiszowé dzéjania
Name[da]=Input-handlinger
Name[de]=Tastenkombinationen
Name[el]=Ενέργειες εισόδου
Name[en_GB]=Input Actions
Name[eo]=Enir-agadoj
Name[es]=Acciones de Entrada
Name[et]=Sisestustoimingud
Name[eu]=Sarrerako ekintzak
Name[fa]=کنشهای ورودی
Name[fi]=Syöttötoiminnot
Name[fr]=Actions d'entrée 
Name[fy]=Ynfieraksjes
Name[ga]=Gníomhartha Ionchurtha
Name[gl]=Accións de entrada
Name[gu]=ઇનપુટ ક્રિયાઓ
Name[he]=פעולות קלט
Name[hi]=इनपुट क्रियाएँ
Name[hne]=इनपुट काम
Name[hr]=Akcije prečaca
Name[hsb]=Zapodawanske akcije
Name[hu]=Beviteli műveletek
Name[ia]=Input Actions (Actiones de insertar)
Name[id]=Aksi Masukan
Name[is]=Inntaksaðgerðir
Name[it]=Azioni di immissione
Name[ja]=入力アクション
Name[ka]=შეტანის ქმედებები
Name[kk]=Енгізу әрекеттері
Name[km]=សកម្មភាព​បញ្ចូល
Name[kn]=ಆದಾನ ಕ್ರಿಯೆಗಳು
Name[ko]=입력 동작
Name[lt]=Įvesties veiksmai
Name[lv]=Ievades darbības
Name[mai]=इनपुट क्रिया
Name[mk]=Влезни дејства
Name[ml]=ഇന്‍പുട്ട് പ്രവര്‍ത്തനങ്ങള്‍
Name[mr]=इनपुट क्रिया
Name[ms]=Tindakan Input
Name[nb]=Input-handlinger
Name[nds]=Ingaavakschonen
Name[ne]=आगत कार्य
Name[nl]=Invoeracties
Name[nn]=Inn­handlingar
Name[pa]=ਇੰਪੁੱਟ ਐਕਸ਼ਨ
Name[pl]=Działania wejścia
Name[pt]=Acções de Entrada
Name[pt_BR]=Ações de entrada
Name[ro]=Acțiuni de intrare
Name[ru]=Действия
Name[se]=Sisačoallodoaimmat
Name[si]=ආදාන ක්‍රියා
Name[sk]=Vstupné akcie
Name[sl]=Vnosna dejanja
Name[sr]=Радње уноса
Name[sr@ijekavian]=Радње уноса
Name[sr@ijekavianlatin]=Radnje unosa
Name[sr@latin]=Radnje unosa
Name[sv]=Inmatningsåtgärder
Name[ta]=உள்ளீட்டு செயல்கள்
Name[te]=ఇన్‌పుట్ చర్యలు
Name[tg]=Тарзи вуруд
Name[th]=การกระทำเพื่อป้อนข้อมูล
Name[tr]=Girdi Eylemleri
Name[ug]=كىرگۈزۈش مەشغۇلاتى
Name[uk]=Ввід
Name[uz]=Kiritish amallari
Name[uz@cyrillic]=Киритиш амаллари
Name[vi]=Hành động nhập
Name[wa]=Accions en intrêye
Name[x-test]=xxInput Actionsxx
Name[zh_CN]=输入动作
Name[zh_TW]=輸入動作
Comment=Input Actions service performing configured actions on key presses
Comment[ar]=خدمة إجراءات الإدخال تنفذ الإجراءات المضبوطة عند ضغط المفاتيح
Comment[ast]=El serviciu d'Aiciones d'Entrada faciendo les aiciones configuraes según les tecles calcaes
Comment[bg]=Услугата за входни действия изпълнява зададени действия при натискане на клавиши комбинации
Comment[bs]=Servis radnji unosa, izvršava podešene radnje na pritiske tastera
Comment[ca]=Servei d'accions d'entrada que porta a terme accions configurades en prémer tecles
Comment[ca@valencia]=Servei d'accions d'entrada que porta a terme accions configurades en prémer tecles
Comment[cs]=Služba vstupních akcí jenž po stisknutí klávesy vykoná nakonfigurovanou akci
Comment[da]=Input-handlinger-tjeneste som udfører konfigurerede handlinger ved tastetryk
Comment[de]=„Tastenkombinationen“ führt benutzerdefinierte Aktionen auf Tastendruck aus.
Comment[el]=Υπηρεσία ενεργειών εισόδου εκτελεί διαμορφωμένες ενέργειες με το πάτημα πλήκτρων
Comment[en_GB]=Input Actions service performing configured actions on key presses
Comment[es]=El servicio de Acciones de Entrada realizando las acciones configuradas para la pulsación de teclas
Comment[et]=Sisestustoimingute teenus, mis võimaldab klahve vajutades ette võtta teatavaid määratud toiminguid
Comment[eu]=Sarrerako ekintzen zerbitzua, teklak sakatutakoan konfiguratutako ekintzak burutzen
Comment[fi]=Syöttötoimintopalvelut suoritetaan asetetuille toiminnoille näppäinpainalluksilla
Comment[fr]=Service des actions d'entrée exécutant les actions configurées lors d'appuis de touches du clavier
Comment[gl]=O servizo de accións de entrada responde á pulsación de teclas facendo as accións que se configuren
Comment[he]=שירות פעולות קלט מבצע פעולות מוגדרות בלחיצת מקש.
Comment[hr]=Usluga akcije prečaca izvršava podešene akcije na pritisak tipke
Comment[hu]=A Beviteli műveletek szolgáltatás beállított műveleteket hajt végre billentyűlenyomáskor
Comment[ia]=Servicio de Input Actions que il exeque actiones configurate sur pressiones de claves
Comment[id]=Layanan Aksi Masukan melakukan aksi yang diatur ketika tombol ditekan
Comment[is]=Inntaksaðgerðaþjónustan sér um að framkvæma forstilltar aðgerðir þegar ýtt er á skilgreinda lykla
Comment[it]=Il servizio azioni di immissione effettua particolari azioni quando certi tasti vengono premuti
Comment[ja]=入力アクションサービスはキー押下時の設定されたアクションを実行します
Comment[kk]=Енгізу әрекеттер қызметі перне басқанда баптап қойған әрекетті істейді
Comment[km]=បាន​កំណត់​រចនាសម្ព័ន្ធ​ការ​អនុវត្ត​សេវា​សកម្មភាព​បញ្ចូល នៅពេល​ចុច​គ្រាប់​ចុច
Comment[kn]=ಕೀಲಿ ಒತ್ತಿದಾಗ, ಆದಾನ ಕ್ರಿಯೆಗಳ(ಇನ್ಪುಟ್ ಎಕ್ಷನ್)  ಸೇವೆಯು ಸಂರಚಿಸಿದ ಕ್ರಿಯೆಗಳನ್ನು ಮಾಡುತ್ತದೆ
Comment[ko]=키가 눌릴 때 실행할 동작을 설정합니다
Comment[lt]=Įvesties veiksmų servisas, paspaudus atitinkamus klavišus vykdantis nurodytus veiksmus
Comment[lv]=Ievades darbību serviss izpilda konfigurētās darbības pie taustiņu nospiešanas
Comment[mr]=कळ दाबल्यावर होणाऱ्या संयोजीत क्रिया करणारी इनपुट क्रिया सेवा
Comment[nb]=Tjeneste for inndata-handlinger, som utfører definerte handlinger for tastetrykk
Comment[nds]=Ingaavakschonen mit fastleggt Tastendruckakschonen utföhren
Comment[nl]=Service voor invoeracties die ingestelde acties uitvoert bij toetsen indrukken
Comment[nn]=Teneste for innhandlingar som utfører dei oppsette handlingane ved tastetrykk
Comment[pa]=ਸਵਿੱਚ ਦੱਬਣ ਉੱਤੇ ਇੰਪੁੱਟ ਕਾਰਵਾਈ ਸਰਵਿਸ ਕਰਨ ਦੀ ਸੰਰਚਨਾ
Comment[pl]=Usługa wykonująca skonfigurowane działania po naciśnięciu klawiszy
Comment[pt]=Serviço de acções de entrada que efectua acções configuradas ao carregar nas teclas
Comment[pt_BR]=Serviço de ações de entrada que realiza ações configuradas ao pressionar as teclas
Comment[ro]=Serviciu de acțiuni de intrare care execută acțiunile configurate la apăsarea tastelor
Comment[ru]=Служба действий выполняет настроенные действия при нажатии клавиш
Comment[si]=ආදාන ක්‍රියා සේවාව යතුරු එබුම් මත වින්‍යාසගත කල ක්‍රියා සිදු කරමින්
Comment[sk]=Služba pre vstupné akcie, ktorá vykonáva nastavené akcie pri stlačení kláves
Comment[sl]=Storitev za vnosna dejanja, ki ob pritisku tipk izvede nastavljeno dejanje
Comment[sr]=Сервис радњи уноса, извршава подешене радње на притиске тастера
Comment[sr@ijekavian]=Сервис радњи уноса, извршава подешене радње на притиске тастера
Comment[sr@ijekavianlatin]=Servis radnji unosa, izvršava podešene radnje na pritiske tastera
Comment[sr@latin]=Servis radnji unosa, izvršava podešene radnje na pritiske tastera
Comment[sv]=Tjänst för inmatningsåtgärder som utför inställda åtgärder vid tangentnedtryckning
Comment[th]=บริการการกระทำเพื่อป้อนข้อมูลสำหรับเรียกการกระทำที่ได้ปรับแต่งไว้เมื่อมีการกดปุ่มพิมพ์
Comment[tr]=Tuş basımları üzerinde önceden yapılandırılmış eylemleri gerçekleştiren Girdi Eylemleri hizmeti
Comment[ug]=كىرگۈزۈش مەشغۇلات مۇلازىمىتى كۇنۇپكا بېسىلغاندا ئالدىن سەپلەنگەن مەشغۇلاتنى ئىجرا قىلىدۇ
Comment[uk]=Служба «Ввід» виконує вказані дії у відповідь на натискання певних клавіш
Comment[vi]=Dịch vụ Hành động nhập thực hiện các hành động được cấu hình khi có phím nhấn
Comment[wa]=Siervice des faitindjes d' intrêye fijhant les faitindjes apontieyes cwand on tchôke les tapes
Comment[x-test]=xxInput Actions service performing configured actions on key pressesxx
Comment[zh_CN]=输入动作服务可在按下键位时执行预配置的动作
Comment[zh_TW]=輸入動作服務，在按下按鍵時執行設定好的動作。
Type=Service
X-KDE-ServiceTypes=KDEDModule
X-KDE-Library=khotkeys
X-KDE-DBus-ModuleName=khotkeys
X-KDE-Kded-autoload=true
OnlyShowIn=KDE;
