[Desktop Entry]
Type=Service
Name=Konqueror Browser Preloader
Name[ar]=وحدة كونكيورر لما قبل التحميل
Name[ast]=Módulu de precarga del restolador Konqueror
Name[bg]=Предварително зареждане на браузъра Konqueror
Name[bn]=কনকরার ব্রাউজার প্রি-লোডার
Name[bs]=Predučitavač K‑osvajača
Name[ca]=Precarregador del navegador Konqueror
Name[ca@valencia]=Precarregador del navegador Konqueror
Name[cs]=Modul pro načítání Konqueroru
Name[da]=Forudindlæsning af browseren Konqueror
Name[de]=Konqueror-Webbrowser-Schnellstarter
Name[el]=Προφόρτωση περιηγητή Konqueror
Name[en_GB]=Konqueror Browser Preloader
Name[es]=Módulo de precarga del navegador Konqueror
Name[et]=Konquerori brauseri eellaadimise moodul
Name[eu]=Konqueror arakatzailearen aurrekargatzailea
Name[fi]=Konqueror-selaimen esilataaja
Name[fr]=Module de préchargement du navigateur Konqueror
Name[ga]=Réamhluchtóir Bhrabhsálaí Konqueror
Name[gl]=O precargador do navegador Konqueror
Name[gu]=કોન્કરર બ્રાઉઝર પૂર્વલાવવું
Name[he]=טעינה מקדימה של Konqueror
Name[hi]=कॉन्क्वेरर ब्राउसर प्रीलोडर
Name[hr]=Predučitavanje pretraživača Konqueror
Name[hu]=Konqueror-gyorsbetöltő
Name[ia]=Precargator del Navigator de Konqueror
Name[id]=Prapemuatan Peramban Konqueror
Name[is]=Konqueror forræsingareining
Name[it]=Precaricatore del browser Konqueror
Name[ja]=Konqueror ブラウザプリローダ
Name[kk]=Konqueror шолғыштың алдын-ала жүктегіші
Name[km]=កម្មវិធីផ្ទុកជា​មុន​នៃ​កម្មវិធី​រុករក​បណ្ដាញ​របស់ Konqueror
Name[kn]=ಕಾಂಕರರ್ ಜಾಲ ವೀಕ್ಷಕ ಪೂರ್ವೋತ್ಥಾಪನಾ (ಪ್ರಿ ಲೋಡ್) ಘಟಕ
Name[ko]=Konqueror 브라우저 프리로더
Name[lt]=Konqueror išankstinio įkrovimo modulis
Name[lv]=Konqueror priekšielādēšanas modulis
Name[mai]=कान्क्वेरर ब्राउजर प्रीलोडर
Name[ml]=കോണ്‍ക്വറര്‍ ബ്രൌസര്‍ പ്രീലോഡര്‍ മൊഡ്യൂള്‍
Name[mr]=कॉन्करर ब्राऊजर प्रीलोडर
Name[nb]=Forhåndslaster for Konqueror nettleser
Name[nds]=Konqueror vörladen
Name[nl]=Konqueror browser preloader-module
Name[nn]=Førehandslastar for nettlesaren Konqueror
Name[pa]=ਕੋਨਕਿਉਰੋਰ ਬਰਾਊਜ਼ਰ ਪਹਿਲਾਂ ਲੋਡ ਮੋਡੀਊਲ
Name[pl]=Wstępne wczytywanie dla Konquerora
Name[pt]=Pré-Carregamento do Navegador Konqueror
Name[pt_BR]=Pré-carregamento do navegador Konqueror
Name[ro]=Preîncărcare Konqueror
Name[ru]=Предварительная загрузка веб-браузера Konqueror
Name[si]=Konqueror ගවේශක පෙර ආරම්භකය
Name[sk]=Prednahratie prehliadača Konqueror
Name[sl]=Prednalagalnik brskalnika Konqueror
Name[sr]=Предучитавач К‑освајача
Name[sr@ijekavian]=Предучитавач К‑освајача
Name[sr@ijekavianlatin]=Predučitavač K‑osvajača
Name[sr@latin]=Predučitavač K‑osvajača
Name[sv]=Ladda Konqueror webbläsare i förväg
Name[tg]=Боркунии пешакии браузери Konqueror
Name[th]=ตัวโหลด Konqueror ล่วงหน้า
Name[tr]=Konqueror Tarayıcı Önyükleyicisi
Name[ug]=Konqueror توركۆرگۈ ئالدىن يۈكلىگۈچ
Name[uk]=Попереднє завантаження переглядача Konqueror
Name[wa]=Prétcherdjeu do betchteu di Konqueror
Name[x-test]=xxKonqueror Browser Preloaderxx
Name[zh_CN]=Konqueror 浏览器预加载器
Name[zh_TW]=Konqueror 瀏覽器預先載入模組
Comment=Reduces Konqueror startup time
Comment[af]=Verminder Konqueror se opstart tyd
Comment[ar]=يقلّل من وقت بدء تشغيل كونكيورر
Comment[as]=Konqueror আৰম্ভণিৰ সময় কম কৰে
Comment[ast]=Reduz el tiempu d'aniciu de Konqueror
Comment[be]=Змяншае час запуску Konqueror
Comment[be@latin]=Źmianšaje čas, patrebny dla ŭklučeńnia prahramy „Konqueror”
Comment[bg]=Ускорява зареждането на браузъра Konqueror
Comment[bn]=কনকরার চালু করার সময় কমায়
Comment[bn_IN]=Konqueror আরম্ভ করতে ব্যবহৃত সময় হ্রাস করে
Comment[bs]=Smanjuje vrijeme pokretanja K‑osvajača
Comment[ca]=Redueix el temps d'inici del Konqueror
Comment[ca@valencia]=Redueix el temps d'inici del Konqueror
Comment[cs]=Redukuje čas pro spuštění Konqueroru
Comment[csb]=Zmiészô czas zrëszaniô Konquerora
Comment[cy]=Lleihau amser ymgychwyn Konqueror
Comment[da]=Reducerer Konquerors opstartstid
Comment[de]=Lädt Konqueror im Voraus und verringert so die Ladezeit
Comment[el]=Μειώνει το χρόνο εκκίνησης του Konqueror
Comment[en_GB]=Reduces Konqueror startup time
Comment[eo]=Mallongigas la Konkerantan startotempon
Comment[es]=Reduce el tiempo de inicio de Konqueror
Comment[et]=Kahandab Konquerori käivitamise aega
Comment[eu]=Konquerorren abiatze denbora laburtzen du
Comment[fa]=زمان راه‌اندازی Konqueror را کاهش می‌دهد
Comment[fi]=Vähentää Konquerorin käynnistysaikaa
Comment[fr]=Réduit le temps de démarrage de Konqueror
Comment[fy]=Redusearret de begjintiid fan Konqueror
Comment[ga]=Laghdaíonn sé seo an t-am chun Konqueror a thosú
Comment[gl]=Reduce o tempo de inicio de Konqueror
Comment[gu]=કોન્કરર શરૂઆત સમય ઘટાડે છે
Comment[he]=בשביל להקטין את זמן ההפעלה של Konqueror
Comment[hi]=कॉन्करर के चालू होने के समय को कम करता है
Comment[hne]=कान्करर के चालू होए के समय ल कम करथे 
Comment[hr]=Ubrzava pokretanje Konquerora
Comment[hsb]=Zredukuje čas za wuwjedźenje konquerora
Comment[hu]=A Konqueror elindulási idejének lecsökkentése
Comment[ia]=Il reduce tempore de startar de Konqueror
Comment[id]=Kurangi waktu hidupkan Konqueror
Comment[is]=Dregur úr ræsingatíma Konqueror vafrans
Comment[it]=Riduce il tempo di avvio di Konqueror
Comment[ja]=Konqueror の起動時間を短縮します
Comment[ka]=ამცირებს Konqueror-ის გაშვების დროს
Comment[kk]=Konqueror-ді жүктеу уақытын қысқартады
Comment[km]=បន្ថយ​រយៈពេល​ចាប់ផ្ដើម​របស់ Konqueror
Comment[kn]=ಕಾಂಕರರ್ ಪ್ರಾರಂಭಕ್ಕೆ  ಸಮಯ ಕಡಿಮೆಮಾಡುತ್ತದೆ
Comment[ko]=Konqueror 시작 시간을 줄입니다
Comment[ku]=Dema vebûna konwuerorê Kêm Dike
Comment[lt]=Sutrumpina Konqueror paleidimo laiką
Comment[lv]=Samazina Konqueror palaišanas laiku
Comment[mai]=कान्करर केर चालू हएबाक समय केँ कम करैत अछि
Comment[mk]=Го намалува времето за стартување на Konqueror
Comment[ml]=കോണ്‍ക്വറര്‍ തുടങ്ങുന്നതിനുള്ള സമയം കുറയ്ക്കുന്നു
Comment[mr]=कॉन्करर चालू होतेवेळी प्रारंभ वेळ कमी करतो
Comment[ms]=Mengurangkan masa pemulaan Konqueror
Comment[nb]=Reduserer oppstartstida for Konqueror
Comment[nds]=Bringt de Starttiet vun Konqueror daal
Comment[ne]=कन्क्वेरर सुरुआत समय घटाउँछ
Comment[nl]=Reduceert de opstarttijd van Konqueror
Comment[nn]=Reduserer oppstartstida til Konqueror
Comment[or]=Reduces Konqueror startup time
Comment[pa]=ਕੋਨਕਿਉਰੋਰ ਸਟਾਰਟਅੱਪ ਟਾਈਮ ਘਟਾਉਦਾ ਹੈ
Comment[pl]=Zmniejsza czas uruchomienia Konquerora
Comment[pt]=Reduz o tempo de arranque do Konqueror
Comment[pt_BR]=Reduz o tempo de inicialização do Konqueror
Comment[ro]=Reduce timpul de pornire al Konqueror
Comment[ru]=Предварительная загрузка Konqueror во время запуска KDE
Comment[se]=Unnida Konquerora álggahanáiggi
Comment[si]=Konqueror ආරම්භක කාලය අඩු කරයි
Comment[sk]=Zmenšuje dobu štartu Konquerora
Comment[sl]=Skrajša zagonski čas brskalnika Konqueror
Comment[sr]=Смањује време покретања К‑освајача
Comment[sr@ijekavian]=Смањује вријеме покретања К‑освајача
Comment[sr@ijekavianlatin]=Smanjuje vrijeme pokretanja K‑osvajača
Comment[sr@latin]=Smanjuje vreme pokretanja K‑osvajača
Comment[sv]=Minskar Konquerors starttid
Comment[ta]=கான்கொரர் துவக்க நேரத்தை குறைக்கிறது
Comment[te]=కాంకెరర్ మొదలు సమయాన్ని తగ్గించును
Comment[tg]=Вақти боркунии Konqueror кам мекунад
Comment[th]=ลดเวลาที่ใช้เริ่มทำงานของ Konqueror
Comment[tr]=Konqueror açılış zamanını azaltır
Comment[ug]=Konqueror قوزغىلىش ۋاقتىنى قىسقارتىدۇ
Comment[uk]=Зменшує час запуску Konqueror
Comment[uz]=Konqueror ishga tushish vaqtini kamaytirish
Comment[uz@cyrillic]=Konqueror ишга тушиш вақтини камайтириш
Comment[vi]=Giảm thời gian khởi chạy Konqueror
Comment[wa]=Rind pus cout l' tins d' enondaedje di Konqueror
Comment[x-test]=xxReduces Konqueror startup timexx
Comment[zh_CN]=减少 Konqueror 的启动时间
Comment[zh_TW]=減少 Konqueror 啟動時間
X-KDE-ServiceTypes=KDEDModule
X-KDE-Library=konqy_preloader
X-KDE-DBus-ModuleName=konqy_preloader
X-KDE-Kded-autoload=false
X-KDE-Kded-load-on-demand=true
