[Desktop Entry]
Type=Service
Name=Password Caching
Name[ar]=تخبئة كلمات السر
Name[ast]=Caché de contraseñes
Name[bg]=Запомняне на пароли
Name[bn]=পাসওয়ার্ড ক্যাশিং
Name[bs]=Keširanje lozinke
Name[ca]=Ús de memòria cau de contrasenyes
Name[ca@valencia]=Ús de memòria cau de contrasenyes
Name[cs]=Kešování hesel
Name[da]=Caching af adgangskoder
Name[de]=Passwort-Zwischenspeicherung
Name[el]=Λανθάνουσας μνήμη κωδικού πρόσβασης
Name[en_GB]=Password Caching
Name[eo]=Kaŝmemorado por pasvorto
Name[es]=Caché de contraseñas
Name[et]=Parooli puhverdamine
Name[eu]=Pasahitzen cachea
Name[fi]=Salasanavälimuisti
Name[fr]=Masquage du mot de passe
Name[ga]=Taisce Focal Faire
Name[gl]=Caché de contrasinais
Name[gu]=પાસવર્ડ કેશિંગ
Name[he]=שמירת סיסמאות במטמון
Name[hi]=पासवर्ड कैशिंग
Name[hr]=Spremanje zaporke u privremenu memoriju
Name[hu]=Jelszavak gyorsítótárazása
Name[ia]=Ponente in cache le contrasigno
Name[id]=Penyimpanan sandi
Name[is]=Skyndiminni fyrir lykilorð
Name[it]=Memorizzazione delle password
Name[ja]=パスワードキャッシング
Name[kk]=Паролін кэштеу
Name[km]=ឃ្លាំងសម្ងាត់​ពាក្យ​សម្ងាត់
Name[kn]=ಗುಪ್ತಪದ (ಪಾಸ್ ವರ್ಡ್) ಸಂಗ್ರಹಣೆ (ಕ್ಯಾಶಿಂಗ್)
Name[ko]=암호 캐싱
Name[lt]=Slaptažodžio prisiminimas
Name[lv]=Paroļu saglabāšana
Name[mai]=गूढ़किल्ली कैशिंग
Name[ml]=അടയാളവാക്കു് ഓര്‍ത്തുവയ്ക്കുക
Name[mr]=गुप्तशब्द आठवणीत ठेवत आहे
Name[nb]=Passordlagring
Name[nds]=Twischenspiekern vun Passwöör
Name[nl]=Caching van wachtwoorden
Name[nn]=Mellomlager for passord
Name[pa]=ਪਾਸਵਰਡ ਕੈਸ਼ਿੰਗ
Name[pl]=Zapamiętywanie haseł
Name[pt]='Cache' de Senhas
Name[pt_BR]=Cache de senhas
Name[ro]=Stocare parole
Name[ru]=Кэширование паролей
Name[si]=මුරපද කැචේ කිරීම
Name[sk]=Ukladanie hesiel do vyrovnávacej pamäte
Name[sl]=Predpomnjenje gesel
Name[sr]=Кеширање лозинке
Name[sr@ijekavian]=Кеширање лозинке
Name[sr@ijekavianlatin]=Keširanje lozinke
Name[sr@latin]=Keširanje lozinke
Name[sv]=Lösenordslagring
Name[tg]=Захираи парол
Name[th]=การจัดเก็บรหัสผ่าน
Name[tr]=Parola Önbellekleme
Name[ug]=ئىم غەملەك
Name[uk]=Кешування паролів
Name[vi]=Lưu đệm mật khẩu
Name[wa]=Muchete do scret
Name[x-test]=xxPassword Cachingxx
Name[zh_CN]=密码缓存
Name[zh_TW]=密碼快取
Comment=Temporary password caching
Comment[ar]=تخبئة (تخزين مؤقت) كلمات السر
Comment[ast]=Cachéu temporal de contraseñes
Comment[bg]=Временно запомняне на пароли
Comment[bn]=সাময়িক পাসওয়ার্ড ক্যাশিং
Comment[bs]=Privremeno keširanje lozinke
Comment[ca]=Ús temporal de memòria cau de contrasenyes
Comment[ca@valencia]=Ús temporal de memòria cau de contrasenyes
Comment[cs]=Dočasné kešování hesel
Comment[da]=Midlertidig caching af adgangskoder
Comment[de]=Temporäre Passwort-Zwischenspeicherung
Comment[el]=Προσωρινή λανθάνουσα μνήμη κωδικού πρόσβασης
Comment[en_GB]=Temporary password caching
Comment[eo]=Kaŝmemorado por portempa pasvorto
Comment[es]=Cacheo temporal de contraseñas
Comment[et]=Ajutine parooli puhverdamine
Comment[eu]=Pasahitzen aldiuneko cachea
Comment[fi]=Väliaikainen salasanavälimuisti
Comment[fr]=Masquage temporaire du mot de passe
Comment[ga]=Taisce Shealadach Focal Faire
Comment[gl]=Caché temporal de contrasinais
Comment[gu]=કામચલાઉ પાસવર્ડ કેશીંગ
Comment[he]=שמירה זמנית של סיסמאות בזיכרון מטמון
Comment[hi]=अस्थायी पासवर्ड कैशिंग
Comment[hr]=Privremeno spremanje zaporke
Comment[hu]=Jelszavak ideiglenes gyorsítótárazása
Comment[ia]=Ponente in cache le contrasigno temporari
Comment[id]=Penyimpanan sandi temporer
Comment[is]=Bráðabirgðavistun lykilorða í skyndiminni
Comment[it]=Memorizzazione delle password temporanea
Comment[ja]=一時的なパスワードキャッシング
Comment[kk]=Паролін уақытша кэштеу
Comment[km]=​ឃ្លាំងសម្ងាត់​ពាក្យ​សម្ងាត់​បណ្ដោះអាសន្ន
Comment[kn]=ಗುಪ್ತಪದ (ಪಾಸ್ ವರ್ಡ್) ತತ್ಕಾಲ  ಸಂಗ್ರಹಣೆ (ಕ್ಯಾಶಿಂಗ್)
Comment[ko]=임시 암호 캐싱
Comment[lt]=Laikinas slaptažodžio prisiminimas
Comment[lv]=Īslaicīga paroļu atcerēšanās
Comment[mai]=अस्थायी गूढ़किल्ली कैशिंग
Comment[ml]=താത്കാലികമായി അടയാളവാക്കു് ഓര്‍ത്തുവയ്ക്കുക
Comment[mr]=गुप्तशब्द तात्पूरता आठवणीत ठेवत आहे
Comment[nb]=Midlertidig mellomlagring av passord
Comment[nds]=Passwöör temporeer twischenspiekern
Comment[nl]=Tijdelijke caching van wachtwoorden
Comment[nn]=Mellombels lagring av passord
Comment[pa]=ਆਰਜੀ ਪਾਸਵਰਡ ਕੈਸ਼ਿੰਗ
Comment[pl]=Tymczasowe zapamiętywanie haseł
Comment[pt]='Cache' temporária de senhas
Comment[pt_BR]=Cache temporária de senhas
Comment[ro]=Stocarea temporară a parolelor
Comment[ru]=Временное кэширование паролей
Comment[si]=තාවකාලික මුරපද කැශ් කිරීම
Comment[sk]=Dočasné ukladanie hesiel do vyrovnávacej pamäte
Comment[sl]=Začasno predpomnjenje gesel
Comment[sr]=Привремено кеширање лозинке
Comment[sr@ijekavian]=Привремено кеширање лозинке
Comment[sr@ijekavianlatin]=Privremeno keširanje lozinke
Comment[sr@latin]=Privremeno keširanje lozinke
Comment[sv]=Tillfällig lagring av lösenord
Comment[tg]=Захираи пароли муваққатӣ
Comment[th]=การจัดเก็บรหัสผ่านชั่วคราว
Comment[tr]=Geçici parola önbelleklemesi
Comment[ug]=ۋاقىتلىق ئىم غەملەك
Comment[uk]=Тимчасове кешування паролів
Comment[vi]=Lưu đệm mật khẩu tạm
Comment[wa]=Muchete timporaire do scret
Comment[x-test]=xxTemporary password cachingxx
Comment[zh_CN]=临时性密码缓存
Comment[zh_TW]=暫時性的密碼快取
X-KDE-ServiceTypes=KDEDModule
X-KDE-Library=kpasswdserver
X-KDE-DBus-ModuleName=kpasswdserver
X-KDE-Kded-autoload=false
X-KDE-Kded-load-on-demand=true
