[Desktop Entry]
Name=K Remote Control Daemon
Name[ar]=مراقب التحكّم عن بعد ك
Name[ast]=K Remote Control Daemon
Name[bs]=KDE demon daljinskih upravljača
Name[ca]=Dimoni K de comandaments a distància
Name[ca@valencia]=Dimoni K de comandaments a distància
Name[cs]=Démon dálkového ovládání pro KDE
Name[da]=Dæmon til K Remote Control
Name[de]=Fernsteuerungsdienst für KDE
Name[el]=K Remote Control Daemon
Name[en_GB]=K Remote Control Dæmon
Name[es]=Demonio de mandos a distancia para K
Name[et]=KDE kaugjuhtimise deemon
Name[eu]=K Urruneko aginte deabrua
Name[fi]=K Kauko-ohjaintaustaohjelma
Name[fr]=Démon pour K Remote Control
Name[ga]=Deamhan Cianrialtáin K
Name[gl]=Daemon de control remoto K
Name[hr]=Servis K Remote Control
Name[hu]=KDE távirányító démon
Name[ia]=Demone de Controlo remote K
Name[id]=Daemon K Remote Control
Name[it]=Demone telecomandi
Name[ja]=K Remote Control デーモン
Name[kk]=Қашықтан басқару K-қызметі
Name[km]=ដេមិន​វត្ថុ​បញ្ជា K Remote
Name[ko]=K 리모콘 데몬
Name[lt]=K Nuotolinio valdymo demonas
Name[lv]=K Remote Control dēmons
Name[mr]=के रीमोट कंट्रोल डीमन
Name[nb]=K Remote Control Daemon
Name[nds]=KDE-Feernbedeendämoon
Name[nl]=K Remote Control-daemon
Name[nn]=Fjernkontrollar
Name[pa]=ਕੇ ਰਿਮੋਟ ਕੰਟਰੋਲ ਡੈਮਨ
Name[pl]=Demon K dla pilotów
Name[pt]=Servidor de Comandos à Distância do KDE
Name[pt_BR]=Servidor de controles remotos do KDE
Name[ro]=Demon de telecomandă K
Name[ru]=Служба удалённого управления KDE
Name[sk]=Démon pre diaľkové ovládače
Name[sl]=Ozadnji program za daljinske upravljalnike
Name[sr]=КДЕ демон даљинских управљача
Name[sr@ijekavian]=КДЕ демон даљинских управљача
Name[sr@ijekavianlatin]=KDE demon daljinskih upravljača
Name[sr@latin]=KDE demon daljinskih upravljača
Name[sv]=Demon för Kremotecontrol
Name[th]=ดีมอนตัวควบคุมระยะไกล-K
Name[tr]=KRemote Denetim Hizmeti
Name[ug]=K يىراقتىن تىزگىنلەش مۇئەككىلى
Name[uk]=Фонова служба дистанційного керування
Name[x-test]=xxK Remote Control Daemonxx
Name[zh_CN]=K 远程控制守护程序
Name[zh_TW]=KDE 遠端遙控守護程式
Type=Service
X-KDE-ServiceTypes=KDEDModule
X-KDE-ModuleType=Library
X-KDE-Library=kremotecontroldaemon
X-KDE-DBus-ModuleName=kremotecontroldaemon
X-KDE-Kded-autoload=true
X-KDE-Kded-load-on-demand=true
OnlyShowIn=KDE;
