[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=KDEDModule
X-KDE-Library=kssld
X-KDE-DBus-ModuleName=kssld
X-KDE-Kded-autoload=false
X-KDE-Kded-load-on-demand=true
Name=SSL Certificate Policy
Name[ar]=سياسة شهادات SSL
Name[bg]=Политика за SSL-сертификати
Name[bs]=SSL certifikat o privatnosti
Name[ca]=Política de certificats SSL
Name[ca@valencia]=Política de certificats SSL
Name[cs]=Chování SSL certifikátů
Name[da]=Politik for SSL-certifikat
Name[de]=SSL-Zertifikat-Regel
Name[el]=Πολιτική πιστοποιητικών SSL
Name[en_GB]=SSL Certificate Policy
Name[es]=Política de certificados SSL
Name[et]=SSL sertifikadi reegel
Name[eu]=SSL ziurtagiri politika
Name[fi]=SSL-varmennekäytäntö
Name[fr]=Politique de certificats SSL
Name[ga]=Polasaí Teastas SSL
Name[gl]=Política de certificados de SSL
Name[gu]=SSL સર્ટિફિકેટ નિતી
Name[he]=מדיניות אישורי SSL
Name[hr]=SSL certificirana pravila
Name[hu]=SSL tanúsítvány-házirend
Name[hy]=SSL-ի վկայականի սկզբունք
Name[ia]=Politica del certificato SSL
Name[id]=Kebijakan Sertifikat SSL
Name[is]=SSL skilríkjastefna
Name[it]=Regole certificati SSL
Name[ja]=SSL 証明書のポリシー
Name[kk]=SSL куәлік ережесі
Name[km]=គោលនយោបាយ​វិញ្ញាបនបត្រ SSL
Name[kn]=SSL ಪ್ರಮಾಣಪತ್ರ ನೀತಿ
Name[ko]=SSL 인증서 정책
Name[ku]=Polîçeya Bawernameya SSL
Name[lt]=SSL liudijimų politika
Name[lv]=SSL sertifikātu politika
Name[mr]=ssl प्रमाणपत्र धोरण
Name[ms]=Polisi Sijil SSL
Name[nb]=SSL-sertifikatpraksis
Name[nds]=SSL-Zertifikatregel
Name[nl]=SSL-certificaat-beleid
Name[pa]=SSL ਸਰਟੀਫਿਕੇਟ ਪਾਲਸੀ
Name[pl]=Polityka certyfikatów SSL
Name[pt]=Política de Certificados SSL
Name[pt_BR]=Política de certificados SSL
Name[ro]=Politică de certificate SSL
Name[ru]=Политика сертификатов SSL
Name[se]=SSL-sertifikáhttanjuolggadusat
Name[si]=SSL සහතික ප්‍රතිපත්තිය
Name[sk]=Politika SSL certifikátov
Name[sl]=Pravilnik za potrdila SSL
Name[sr]=Смернице ССЛ сертификата
Name[sr@ijekavian]=Смјернице ССЛ сертификата
Name[sr@ijekavianlatin]=Smjernice SSL sertifikata
Name[sr@latin]=Smernice SSL sertifikata
Name[sv]=SSL-certifikatpolicy
Name[ta]=SSL சான்று கொள்கை
Name[tg]=Сиёсати иҷозатномаи SSL
Name[th]=นโยบายสำหรับใบรับรอง SSL
Name[tr]=SSL Sertifika Politikası
Name[tt]=SSL Таныклыкларның Күрсәтмәсе
Name[ug]=SSL گۇۋاھنامە تەدبىرى
Name[uk]=Правила для сертифікатів SSL
Name[vi]=Chế độ chứng chỉ SSL
Name[wa]=Politike d' acertinaedje SSL
Name[x-test]=xxSSL Certificate Policyxx
Name[zh_CN]=SSL 证书策略
Name[zh_TW]=SSL 憑證政策
Comment=Provides SSL certificate policy to applications
Comment[ar]=يقدم سياسة شهادات SSL للتطبيقات
Comment[bg]=Осигурява управление на SSL-сертификати за приложения
Comment[bs]=Pruža programima smjernice za SSL sertifikate
Comment[ca]=Proporciona la política de certificats SSL a les aplicacions
Comment[ca@valencia]=Proporciona la política de certificats SSL a les aplicacions
Comment[cs]=Poskytuje politiky SSL certifikátů pro aplikace
Comment[da]=Leverer politik for SSL-certifikat til programmer
Comment[de]=SSL-Zertifikat-Regel den Anwendungen zur Verfügung stellen
Comment[el]=Παρέχει την πολιτική πιστοποιητικών SSL στις εφαρμογές
Comment[en_GB]=Provides SSL certificate policy to applications
Comment[es]=Proporciona a las aplicaciones una política de certificados SSL
Comment[et]=SSL sertifikaadi reegli edastamine rakendustele
Comment[eu]=Aplikazioei SSL ziurtagiri politika hornitzen die
Comment[fi]=Tarjoaa SSL-varmennekäytännön sovelluksille
Comment[fr]=Fournit une politique de certificats SSL aux applications
Comment[ga]=Soláthraíonn sé polasaí teastas SSL d'fheidhmchláir
Comment[gl]=Fornece a política de certificados de SSL para os programas
Comment[gu]=કાર્યક્રમોને SSL સર્ટિફિકેટ્સ નિતી પૂરી પાડે છે
Comment[he]=מדיניות מתן אישורי SSL ליישומים
Comment[hr]=Pruža SSL certificirana pravila aplikacijama
Comment[hu]=SSL tanúsítvány-házirend biztosítása alkalmazásokhoz
Comment[hy]=Տրամադրում է SSL-ի վկայականի սկզբունքը գործադրումներին
Comment[ia]=Il forni le politica de certification SSL pro le applicationes
Comment[id]=Menyediakan kebijakan sertifikat SSL bagi aplikasi
Comment[is]=Gefur út stefnu fyrir SSL-skilríki til forrita
Comment[it]=Fornisce alle applicazioni regole per i certificati SSL
Comment[ja]=アプリケーションに SSL 証明書のポリシーを提供
Comment[kk]=Қолданбалар үшін SSL куәлік ережелерін орнату
Comment[km]=ផ្ដល់​គោលនយោបាយ​វិញ្ញាបនបត្រ​ SSL ដល់​កម្មវិធី
Comment[ko]=프로그램에 SSL 인증서 정책을 알려 줍니다
Comment[ku]=Ji bo sepanan plîçeya bawernameya SSL peyde dike
Comment[lv]=Nodrošina programmas ar SSL politiku
Comment[mr]=SSL प्रमाणपत्र धोरण अनुप्रयोगांस पुरवितो
Comment[nb]=Forsyner programmer med praksis for SSL-sertifikater
Comment[nds]=Stellt SSL-Zertifikaatregeln för Programmen praat.
Comment[nl]=Levert het SSL-certificaat-beleid aan applicaties
Comment[pa]=ਐਪਲੀਕੇਸ਼ਨਾਂ ਲਈ SSL ਸਰਟੀਫਿਕੇਟ ਪਾਲਸੀ ਦਿੰਦਾ ਹੈ
Comment[pl]=Udostępnia politykę certyfikatów SSL programom
Comment[pt]=Fornece uma política de certificados SSL às aplicações
Comment[pt_BR]=Fornece uma política de certificados SSL aos aplicativos
Comment[ro]=Oferă applicațiilor politică de certificate SSL
Comment[ru]=Политика сертификатов SSL для приложений
Comment[se]=Addá sertifikáhttanjuolggadusaid prográmmaide
Comment[sk]=Poskytuje politiku SSL certifikátov pre aplikácie
Comment[sl]=Programom ponuja pravilnike za potrdila SSL
Comment[sr]=Пружа програмима смернице за ССЛ сертификате
Comment[sr@ijekavian]=Пружа програмима смјернице за ССЛ сертификате
Comment[sr@ijekavianlatin]=Pruža programima smjernice za SSL sertifikate
Comment[sr@latin]=Pruža programima smernice za SSL sertifikate
Comment[sv]=Tillhandahåller SSL-certifikatpolicyn till program
Comment[ta]=பயன்பாடுகளுக்கு SSL சான்று கொள்கை வழங்குகிறது
Comment[tg]=Сиёсати иҷозатномаи SSL-ро ба барномаҳо дастрас мекунад
Comment[th]=กำหนดนโยบายการใช้ใบรับรอง SSL ให้กับโปรแกรมต่าง ๆ
Comment[tr]=Uygulamalar için SSL sertifika politikası sağlar
Comment[tt]=Кушылмалар өчен SSL таныклыкларның күрсәтмәсе
Comment[ug]=پروگراممىغا SSL گۇۋاھنامە تەدبىرى تەمىنلەيدۇ
Comment[uk]=Правила роботи з сертифікатами SSL для програм
Comment[vi]=Cung cấp các chế độ chứng chỉ SSL cho ứng dụng
Comment[wa]=Dene li politike d' acertinaedje SSL ås programes
Comment[x-test]=xxProvides SSL certificate policy to applicationsxx
Comment[zh_CN]=向应用程序提供 SSL 证书策略
Comment[zh_TW]=提供 SSL 憑證政策給應用程式
