[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=KDEDModule
X-KDE-Library=nepomuksearchmodule
X-KDE-DBus-ModuleName=nepomuksearchmodule
X-KDE-Kded-autoload=true
X-KDE-Kded-load-on-demand=false
Name=Nepomuk Search Module
Name[ar]=وحدة بحث نبومك
Name[ast]=Módulu de gueta Nepomuk
Name[bg]=Модул за търсене Nepomuk
Name[bn]=নেপোমুক সন্ধান মডিউল
Name[bs]=Pretraživački modul Nepomuka
Name[ca]=Mòdul de cerques del Nepomuk
Name[ca@valencia]=Mòdul de cerques del Nepomuk
Name[cs]=Vyhledávací modul Nepomuk
Name[da]=Nepomuk søgemodul
Name[de]=Nepomuk-Suchmodul
Name[el]=Μονάδα Αναζήτησης Nepomuk
Name[en_GB]=Nepomuk Search Module
Name[eo]=Modulo de serĉoj per Nepomuk
Name[es]=Módulo de búsqueda Nepomuk
Name[et]=Nepomuki otsingumoodul
Name[eu]=Nepomuk bilaketa mudulua
Name[fa]=وصله‌ی جستجوی Nepomuk
Name[fi]=Nepomukin hakumoduuli
Name[fr]=Service de recherche Nepomuk
Name[ga]=Modúl Cuardaigh Nepomuk
Name[gl]=Módulo de buscas de Nepomuk
Name[gu]=નેપોમુક શોધ મોડ્યુલ
Name[he]=מודול החיפוש של Nepomuk
Name[hi]=नेपोमक खोज मोड्यूल
Name[hr]=Nepomukov modul za pretraživanje
Name[hu]=Nepomuk keresőmodul
Name[ia]=Modulo de cerca de Nepomuk
Name[id]=Modul Pencarian Nepomuk
Name[is]=Nepomuk leitareining
Name[it]=Modulo di ricerca di Nepomuk
Name[ja]=Nepomuk 検索モジュール
Name[kk]=Nepomuk іздеу модулі
Name[km]=ម៉ូឌុល​ស្វែងរក​របស់ Nepomuk
Name[kn]=ನೆಪೋಮುಕ್ ಹುಡುಕು ಘಟಕ
Name[ko]=Nepomuk 검색 모듈
Name[lt]=Nepomuk paieškos modulis
Name[lv]=Nepomuk meklēšanas modulis
Name[mk]=Модул на Непомук за пребарување
Name[ml]=നെപ്പോമുക്ക് തെരച്ചില്‍ മൊഡ്യൂള്‍
Name[mr]=नेपोमुक शोध विभाग
Name[nb]=Nepomuk søkemodul
Name[nds]=Nepomuk-Söökmoduul
Name[nl]=Nepomuk-zoekmodule
Name[nn]=Nepomuk søkjemodul
Name[pa]=ਨਿਪੋਮੁਕ ਖੋਜ ਮੋਡੀਊਲ
Name[pl]=Moduł wyszukiwania Nepomuka
Name[pt]=Módulo de Pesquisa do Nepomuk
Name[pt_BR]=Módulo de pesquisa do Nepomuk
Name[ro]=Modul de căutare Nepomuk
Name[ru]=Модуль поиска Nepomuk
Name[si]=Nepomuk සෙවුම් ඒකකය
Name[sk]=Modul vyhľadávania Nepomuk
Name[sl]=Nepomukov modul za iskanje
Name[sr]=Претраживачки модул Непомука
Name[sr@ijekavian]=Претраживачки модул Непомука
Name[sr@ijekavianlatin]=Pretraživački modul Nepomuka
Name[sr@latin]=Pretraživački modul Nepomuka
Name[sv]=Nepomuk-sökmodul
Name[tg]=Модули ҷустуҷӯии Nepomuk
Name[th]=มอดูลค้นหาของบริการ Neomuk
Name[tr]=Nepomuk Arama Modülü
Name[ug]=Nepomuk ئىزدەش بۆلىكى
Name[uk]=Модуль пошуку Nepomuk
Name[vi]=Môđun tìm kiếm Nepomuk
Name[wa]=Module di cweraedje Nepomuk
Name[x-test]=xxNepomuk Search Modulexx
Name[zh_CN]=Nepomuk 搜索模块
Name[zh_TW]=Nepomuk 搜尋模組
Comment=Helper module for KIO to ensure automatic updates of nepomuksearch listings.
Comment[ar]=الوحدة المساعدة لدخل وخرج كدي لضمان التحديث التلقائي للوائح بحث نِبوموك
Comment[ast]=Módulu auxiliar de KIO p'asegurar l'anovamientu automáticu de llistaos de guetes con Nepomuk.
Comment[bg]=Помощен модул за KIO осигуряващ автоматично обновяване на списък с търсени резултати
Comment[bs]=Pomoćni modul za K‑U/I koji obezbeđuje automatsko ažuriranje spiskova Nepomukove pretrage.
Comment[ca]=Mòdul ajudant per al KIO que assegura les actualitzacions automàtiques dels llistats del «nepomuksearch».
Comment[ca@valencia]=Mòdul ajudant per al KIO que assegura les actualitzacions automàtiques dels llistats del «nepomuksearch».
Comment[cs]=Pomocný KIO modul pro zajištění automatických aktualizací seznamů Vyhledávání Nepomuku.
Comment[da]=Hjælpemodul til KIO til at sikre automatisk opdatering af nepomuksearchs oplistninger.
Comment[de]=Hilfsmodul für KIO zur automatischen Aktualisierung von Nepomuk Suchergebnis-Listen.
Comment[el]=Μονάδα βοήθειας για το KIO για να διασφαλιστούν οι αυτόματες ενημερώσεις στην λίστα του nepomuksearch.
Comment[en_GB]=Helper module for KIO to ensure automatic updates of nepomuksearch listings.
Comment[eo]=Helpila modulo por KIO por certigi aŭtomatajn ĝisdatigojn de listoj de nepomuksearch
Comment[es]=Módulo auxiliar de KIO para asegurar la actualización automática de listados de búsquedas con Nepomuk.
Comment[et]=KIO abimoodul Nepomuki otsinguloendite automaatseks uuendamiseks.
Comment[eu]=KIOrentzako modulu laguntzailea nepomuksearch zerrenden eguneraketa automatikoa ziurtatzeko.
Comment[fi]=KIO-apumoduuli, joka takaa nepomuksearch-luettelointien automaattiset päivitykset
Comment[fr]=Module assistant pour KIO assurant les mises à jours automatiques des listes de recherche de Nepomuk
Comment[ga]=Modúl cabhrach le haghaidh KIO a dhéanann cinnte go bhfuil eolairí nepomuksearch nuashonraithe go huathoibríoch.
Comment[gl]=Módulo auxiliar de KIO para garantir a actualización automática das listas de nepomuksearch.
Comment[he]=מודול עזרה עבור KIO המבטיח עידכון אוטומטי של הרשימות של nepomuksearch.
Comment[hi]= नेपोमकखोज सूचीकरण के स्वचालित अद्यतन को सुनिश्चित करने के लिए KIO के सहायक मॉड्यूल.
Comment[hr]=Pomoćni modul za KIO koji osigurava automatsko ažuriranje izlistavanja nepomuk pretraga.
Comment[hu]=KIO segédmodul a Nepomuk keresőszolgáltatás listái automatikus frissítésének ellenőrzéséhez.
Comment[ia]=Modulo de adjuta pro KIO per assecurar actualisationes automatic de listas de nepomuksearch (cerca de Nepomuk).
Comment[id]=Modul penolong untuk KIO untuk memastikan pemutakhiran otomatis pengurutan nepomuksearch.
Comment[is]=KIO hjálpareining sem tryggir sjálfvirkar uppfærslur á leitarlistum Nepomuk leitareiningar.
Comment[it]=Modulo ausiliare per KIO per assicurare gli aggiornamenti automatici delle liste di ricerca di Nepomuk.
Comment[ja]=Nepomuk 検索一覧を自動的に更新するための KIO ヘルパーモジュール
Comment[kk]=nepomuksearch тізімдерін автоматты түрде жаңартуға арналған KIO-нің көмекші модулі
Comment[km]=ម៉ឌុល​កម្មវិធី​ជំនួយ​សម្រាប់ KIO ដើម្បី​ប្រាកដ​ថា ធ្វើ​​បច្ចុប្បន្នភាព​ការ​រាយ​របស់ nepomuksearch ដោយ​ស្វ័យ​ប្រវត្តិ ។
Comment[ko]=nepomuksearch 목록을 자동으로 업데이트하는 KIO 모듈입니다.
Comment[lt]=Pagalbos modulis, skirtas KIO, užtikrinantis automatinius atnaujinimus nepomuk paieškos sąrašuose.
Comment[lv]=KIO palīgmodulis, lai nodrošinātu Nepomuk meklēšanas sarakstu automātiskos atjauninājumus.
Comment[mr]=नेपोमुक शोध यादी स्वयंचलित अद्ययावत करण्याकरिता KIO साठीचा मदत विभाग 
Comment[nb]=Hjelpemodul for KIO – for å sikre automatiske oppdateringer av nepomuksearch-resultater.
Comment[nds]=Hülpmoduul för de KDE-In-/Utgaav för automaatsch Opfrischen vun Nepomuk-Sööklisten
Comment[nl]=Helper-module voor KIO om automatisch bijwerken van nepomukzoeklijsten.
Comment[nn]=Hjelpemodul for KIO – for å sikra automatiske oppdateringar av nepomuksearch-resultat.
Comment[pa]=KIO ਲਈ ਮੱਦਦ ਮੋਡੀਊਲ, ਜੋ ਕਿ ਯਕੀਨੀ ਬਣਾਉਂਦਾ ਹੈ ਕਿ nepomuksearch ਲਿਸਟਿੰਗ ਦਾ ਆਟੋਮੈਟਿਕ ਅੱਪਡੇਟ ਹੋਵੇ।
Comment[pl]=Moduł pomocniczy dla KIO służący do zapewnienia automatycznych uaktualnień list nepomuksearch.
Comment[pt]=Módulo auxiliar do KIO para garantir as actualizações automáticas das listagens do 'nepomuksearch'.
Comment[pt_BR]=Módulo assistente do KIO para garantir atualizações automáticas das listagens do nepomuksearch.
Comment[ro]=Modul ajutător pentru KIO care asigură actualizarea automată a listărilor nepomuksearch.
Comment[ru]=Вспомогательный модуль KIO, необходимый для обновления результатов поиска.
Comment[si]=nepomuksearch ලැයිස්තුගත කිරීම් වල ස්වයං යාවත්කාල සහතික කිරීමට KIO සඳහා උදව් කරනයේ ඒකකය.
Comment[sk]=Pomocný modul pre KIO, ktorý zabezpečuje automatickú aktualizáciu zoznamov nepomuksearch.
Comment[sl]=Modul pomagalnika za KIO, ki zagotavlja samodejne posodobitve seznamov nepomuksearch
Comment[sr]=Помоћни модул за К‑У/И који обезбеђује аутоматско ажурирање спискова Непомукове претраге.
Comment[sr@ijekavian]=Помоћни модул за К‑У/И који обезбеђује аутоматско ажурирање спискова Непомукове претраге.
Comment[sr@ijekavianlatin]=Pomoćni modul za K‑U/I koji obezbeđuje automatsko ažuriranje spiskova Nepomukove pretrage.
Comment[sr@latin]=Pomoćni modul za K‑U/I koji obezbeđuje automatsko ažuriranje spiskova Nepomukove pretrage.
Comment[sv]=Hjälpmodul för I/O-slavar för att försäkra att automatisk uppdatering görs av Nepomuk söklistningar.
Comment[tg]=Модули ёрирасон барои рӯйхати навигариҳои худкори nepomuksearch дар системаи KIO
Comment[th]=มอดูลช่วยสำหรับ KIO เพื่อให้แน่ใจว่าจะมีการปรับปรุงการทำรายการของ nepomuksearch
Comment[tr]=KIO'nun, nepomuksearch listelerinin otomatik güncellenmesini sağlaması için yardımcı modül.
Comment[ug]=KIO نىڭ nepomuk ئىزدەش تىزىمىنى ئۆزلۈكىدىن يېڭىلاشقا ئىشلىتىدىغان ياردەمچى بۆلىكى
Comment[uk]=Допоміжний модуль KIO для забезпечення автоматичного оновлення списків nepomuksearch.
Comment[vi]=Môđun trợ giúp cho KIO để đảm bảo cập nhật danh sách nepomuksearch tự động.
Comment[wa]=Module aidant KIO po fé les djivêyes di metaedjes a djoû otomatikes di nepomuksearch
Comment[x-test]=xxHelper module for KIO to ensure automatic updates of nepomuksearch listings.xx
Comment[zh_CN]=KIO 用于自动更新 Nepomuk 搜索列表的助手模块。
Comment[zh_TW]=KIO 協助模組，確定 nepomuk 搜尋清單會自動更新。
