[Desktop Entry]
Name=Network Status
Name[ar]=حالة الشبكة
Name[ast]=Estáu de la rede
Name[bg]=Състояние на мрежата
Name[bn]=নেটওয়ার্কের অবস্থা
Name[bs]=Stanje mreže
Name[ca]=Estat de la xarxa
Name[ca@valencia]=Estat de la xarxa
Name[cs]=Stav sítě
Name[da]=Netværksstatus
Name[de]=Netzwerkstatus
Name[el]=Κατάσταση δικτύου
Name[en_GB]=Network Status
Name[eo]=Stato de reto
Name[es]=Estado de la red
Name[et]=Võrguolek
Name[eu]=Sarearen egoera
Name[fa]=وضعیت شبکه
Name[fi]=Verkon tila
Name[fr]=État du réseau
Name[ga]=Stádas an Líonra
Name[gl]=Estado da rede
Name[gu]=નેટવર્ક સ્થિતિ
Name[he]=מצב הרשת
Name[hi]=नेटवर्क स्थिति
Name[hr]=Stanje mreže
Name[hu]=Hálózatfigyelő
Name[ia]=Stato de Rete
Name[id]=Status Jaringan
Name[is]=Staða nets
Name[it]=Stato di rete
Name[ja]=ネットワークステータス
Name[kk]=Желі күй-жайы
Name[km]=ស្ថានភាព​បណ្តាញ
Name[kn]=ಜಾಲಬಂಧ ಸ್ಥಿತಿ
Name[ko]=네트워크 상태
Name[lt]=Tinklo būsena
Name[lv]=Tīkla stāvoklis
Name[mr]=संजाळ स्थिति
Name[nb]=Nettverksstatus
Name[nds]=Nettwarktostand
Name[nl]=Netwerkstatus
Name[nn]=Nettverksstatus
Name[pa]=ਨੈੱਟਵਰਕ ਹਾਲਤ
Name[pl]=Stan sieci
Name[pt]=Estado da Rede
Name[pt_BR]=Status da rede
Name[ro]=Stare rețea
Name[ru]=Состояние сети
Name[si]=ජාල තත්වය
Name[sk]=Stav siete
Name[sl]=Stanje omrežja
Name[sr]=Стање мреже
Name[sr@ijekavian]=Стање мреже
Name[sr@ijekavianlatin]=Stanje mreže
Name[sr@latin]=Stanje mreže
Name[sv]=Nätverksstatus
Name[tg]=Ҳолати шабакаи Интернет
Name[th]=สถานะเครือข่าย
Name[tr]=Ağ Durumu
Name[ug]=تور ھالىتى
Name[uk]=Стан мережі
Name[vi]=Trạng thái mạng
Name[wa]=Estat del rantoele
Name[x-test]=xxNetwork Statusxx
Name[zh_CN]=网络状态
Name[zh_TW]=網路狀態
Comment=Tracks status of network interfaces and provides notification to applications using the network.
Comment[ar]=يتابع حالة واجهات الشبكة ويوفر التنبيهات للتطبيقات التي تستخدم الشبكة
Comment[ast]=Estudia l'estáu de los interfaces de rede y notifica les aplicaciones de rede.
Comment[be@latin]=Naziraje za stanoviščam sietkavych interfejsaŭ, infarmuje aplikacyi pra źmieny.
Comment[bg]=Проверява състоянието на мрежата и изпраща уведомление на програмите в мрежата
Comment[bs]=Prati stanje mrežnih sučelja i obaveštava o programima koji koriste mrežu
Comment[ca]=Fa un seguiment de l'estat de les interfícies de xarxa i proporciona notificació a les aplicacions usant la xarxa.
Comment[ca@valencia]=Fa un seguiment de l'estat de les interfícies de xarxa i proporciona notificació a les aplicacions usant la xarxa.
Comment[cs]=Sleduje stav síťových rozhraní a poskytuje informace aplikacím, které síť používají.
Comment[da]=Overvåger status af netværksgrænseflader og giver besked til programmer som bruger netværket
Comment[de]=Überprüft den Status von Netzwerkschnittstellen und benachrichtigt Programme, die das Netzwerk verwenden
Comment[el]=Παρακολουθεί την κατάσταση των διασυνδέσεων δικτύου και προσφέρει ειδοποιήσεις σε εφαρμογές που χρησιμοποιούν το δίκτυο.
Comment[en_GB]=Tracks status of network interfaces and provides notification to applications using the network.
Comment[eo]=Ĝi spuras la staton de retaj interfacoj kaj provizas atentigon al aplikaĵoj, kiuj uzas la reton.
Comment[es]=Estudia el estado de las interfaces de red y proporciona notificaciones a las aplicaciones que usan la red.
Comment[et]=Võrguliideste oleku jälgimine ja märguannete edastamine rakendustele võrgu vahendusel.
Comment[eu]=Sare interfazeen egoera zelatatu eta sarea erabiltzen duten aplikazioei jakinarazpenak ematen dizkie.
Comment[fa]=وضعیت واسطهای شبکه را ردیابی کرده و با استفاده از شبکه برای کاربرد، اخطار فراهم می‌کند.
Comment[fi]=Seuraa verkkoliitäntöjen tilaa ja antaa ilmoituksia verkkoa käyttäville ohjelmille.
Comment[fr]=Surveille l'état des interfaces réseau et fournit des notifications aux applications utilisant le réseau.
Comment[fy]=Hâldt de tastân by fan de Netwurkynterfaces en hâldt dêr de applikaasjes fan op de hichte.
Comment[ga]=Déan monatóireacht ar stádas na gcomhéadan líonra agus tabhair eolas d'fheidhmchlár a bhaineann úsáid as an líonra.
Comment[gl]=Segue o estado das interfaces de rede e notifica aos programas que usen a rede.
Comment[gu]=નેટવર્ક ઇન્ટરફેસોની સ્થિતિનો ખ્યાલ રાખે છે અને નેટવર્ક ઉપયોગ કરતાં કાર્યક્રમોને સંદેશાઓ પૂરા પાડે છે.
Comment[he]=עוקב אחר מצב ממשקי רשת ומספק הודעות ליישומים המשתמשים ברשת
Comment[hi]=संजाल अंतराफलक की  स्थिति ट्रैक करता है और संजाल का उपयोग करने वाले अनुप्रयोग को अधिसूचना प्रदान करता है
Comment[hr]=Prati stanja mrežnih sučelja i omogućuje obavijesti aplikacijama koje koriste mrežu.
Comment[hu]=Figyeli a hálózati csatolók állapotát és értesítéseket küld a csatolókat használó alkalmazásoknak.
Comment[ia]=Il tracia le stato del interfacies de rete e il forni notification al applicationes que usa le rete.
Comment[id]=Melacak status antarmuka jaringan dan menyediakan notifikasi ke aplikasi menggunakan jaringan
Comment[is]=Fylgist með ástandi netviðmóta og veitir upplýsingar til þeirra forrita sem eru að nota netið.
Comment[it]=Segue lo stato delle interfacce di rete e fornisce notifiche alle applicazioni la usano.
Comment[ja]=ネットワークインターフェースの状態を追跡し、ネットワークを使うアプリケーションに情報を提供します。
Comment[kk]=Желі интерфейстерінің күйін қадағалап желісін пайдаланатын қолданбаларды құлақтандырады.
Comment[km]=តាម​ដាន​ស្ថានភាពរបស់​​ចំណុច​ប្រទាក់​បណ្តាញ និង​ផ្តល់​នូវ​សេចក្តី​ជូន​ដំណឹង​ទៅ​កម្មវិធី​ដោយ​ប្រើ​បណ្តាញ ។
Comment[kn]=ಜಾಲಬಂಧದ ಸ್ಥಿತಿಗತಿಗಳನ್ನು ಗಮನಿಸಿ ಜಾಲಬಂಧವನ್ನು ಬಳಸುವ ಅನ್ವಯಗಳಿಗೆ ಸೂಚನೆಗಳನ್ನು ನೀಡುತ್ತದೆ.
Comment[ko]=네트워크 인터페이스의 상태를 추적하고 네트워크를 사용하는 프로그램에게 알려 줍니다.
Comment[ku]=Rewşa trakên navrûyê torê û peydakera hişyarkerên ji bo sepanên ji hêla torê ve tên bikaranîn
Comment[lt]=Seka tinklo sąsajų būseną ir informuoja apie jas programas, naudojančias tinklą
Comment[lv]=Seko līdz jūsu tīkla ierīču stāvoklim un paziņo programmas, kas izmanto tīklu.
Comment[mk]=Го следи статусот на мрежните интерфејси и дава известување на апликациите што ја користат мрежата.
Comment[ml]=ശൃംഖലാവിനിമയതലങ്ങളുടെ സ്ഥിതിവിവരം നോക്കി അതുപയോഗിക്കുന്ന പ്രയോഗങ്ങളെ അറിയിക്കുന്നു.
Comment[mr]=संजाळ दुव्याची स्थिती नियंत्रीत करतो व संजाळचा वापर करणाऱ्या अनुप्रयोग करिता सूचना पुरवितो.
Comment[nb]=Holder øye med status for nettverks-grensesnitt og varsler programmer som bruker nettverket.
Comment[nds]=Beluert den Tostand vun de Nettwarkkoppelsteden un gifft Programmen Bescheed, de dat Nettwark bruukt
Comment[ne]=सञ्जाल इन्टरफेसहरूको वस्तुस्थिति ट्रयाक गर्दछ र सञ्जाल प्रयोग गरिरहेको अनुप्रयोगमा सूचना उपलब्ध गर्दछ ।
Comment[nl]=Volgt de status van netwerkinterfaces en levert notificatie aan programma's die het netwerk gebruiken.
Comment[nn]=Viser status til nettverksgrensesnitt, og varslar program som brukar nettverket.
Comment[pa]=ਨੈੱਟਵਰਕ ਇੰਟਰਫੇਸ ਦੀ ਹਾਲਤ ਦੀ ਜਾਂਚ ਕਰਦਾ ਹੈ ਅਤੇ ਨੈੱਟਵਰਕ ਵਰਤਣ ਵਾਲੇ ਐਪਲੀਕੇਸ਼ਨਾਂ ਲਈ ਨੋਟੀਫਿਕੇਸ਼ਨ ਦਿੰਦਾ ਹੈ।
Comment[pl]=Śledzi stan interfejsów sieciowych przekazuje informacje do programów wykorzystujących sieć.
Comment[pt]=Regista o estado das interfaces de rede e notifica as aplicações que necessitem da rede.
Comment[pt_BR]=Monitora o estado das interfaces de rede e fornece notificações para os aplicativos usando a rede.
Comment[ro]=Urmărește starea interfețelor de rețea și furnizează notificări aplicațiilor ce utilizează rețeaua.
Comment[ru]=Отслеживает состояние сетевых интерфейсов и предоставляет уведомления приложениям, использующим сеть.
Comment[se]=Čájeha fierbmelávtta stáhtusa ja dieđihastá prográmmaid mat geavahit fierpmádaga.
Comment[si]=ජාල අතුරුමුහුණත ගැන විමසිල්ලෙන් සිට එහි තත්වය ජාලය භාවිත කරන යෙදුම් වලට ලබාදේ.
Comment[sk]=Sleduje stav sieťových rozhraní a poskytuje upozornenia aplikáciam, ktoré používajú sieť.
Comment[sl]=Nadzoruje stanje omrežnih vmesnikov in obvešča programe, ki uporabljajo omrežje.
Comment[sr]=Прати стање мрежних сучеља и обавештава о програмима који користе мрежу
Comment[sr@ijekavian]=Прати стање мрежних сучеља и обавјештава о програмима који користе мрежу
Comment[sr@ijekavianlatin]=Prati stanje mrežnih sučelja i obavještava o programima koji koriste mrežu
Comment[sr@latin]=Prati stanje mrežnih sučelja i obaveštava o programima koji koriste mrežu
Comment[sv]=Följer status hos nätverksgränssnitt och tillhandahåller underrättelser till program som använder nätverket.
Comment[ta]=Tracks status of network interfaces and provides notification to applications using the network.
Comment[te]=నెట్వర్‍క్  ఇంటర్‌ఫేసెస్ యొక్క స్థితిని ట్రాక్ చేస్తుంది మరియు నెట్వర్‍క్  ఉపయోగించే అనువర్తనములకు నోటీస్‌ను అందిస్తుంది
Comment[tg]=Ҳолати интерфейси шабакаи Интернетро нигоҳубин мекунад ва огоҳдодро ба барномаҳое, ки шабакаро истифода мебаранд таъмин менамояд.
Comment[th]=ติดตามสถานะของส่วนติดต่อเครือข่ายและมีการแจ้งเตือนไปยังโปรแกรม โดยใช้เครือข่าย
Comment[tr]=Ağ arayüzlerini izler ve ağın durumu hakkında uygulamalara bildirimde bulunur.
Comment[ug]=تور ئېغىزىنىڭ ھالىتىنى ئىزلايدۇ ھەمدە تور ئىشلىتىۋاتقان پروگراممىلارغا ئۇقتۇرۇش تەمىنلەيدۇ.
Comment[uk]=Слідкує за станом мережних інтерфейсів і надає сповіщення програмам, які використовують мережу.
Comment[vi]=Theo dõi trạng thái các giao diện mạng và cung cấp thông báo tới các ứng dụng sử dụng mạng.
Comment[wa]=Shût l' estat des interfaces di rantoele eyet evoye des notifiaedjes åzès programes ki s' siervèt del rantoele.
Comment[x-test]=xxTracks status of network interfaces and provides notification to applications using the network.xx
Comment[zh_CN]=跟踪网络接口的状态并且为正在使用网络的应用程序提供通知。
Comment[zh_TW]=追蹤網路介面的狀態，提供通知給使用網路的應用程式
Type=Service
X-KDE-ServiceTypes=KDEDModule
X-KDE-ModuleType=Library
X-KDE-Library=networkstatus
X-KDE-DBus-ModuleName=networkstatus
X-KDE-Kded-autoload=true
X-KDE-Kded-load-on-demand=true

