[Desktop Entry]
Type=Service
Icon=preferences-system-power-management
X-KDE-ServiceTypes=KDEDModule
X-KDE-Library=powerdevil
X-KDE-DBus-ModuleName=powerdevil
X-KDE-Kded-autoload=true
X-KDE-Kded-load-on-demand=false
X-KDE-Kded-phase=1

Name=Power Management
Name[ar]=إدارة الطاقة
Name[ast]=Xestión d'enerxía
Name[be@latin]=Kiravańnie enerhijaj
Name[bg]=Управление на захранването
Name[bn]=পাওয়ার ব্যবস্থাপনা
Name[bn_IN]=বিদ্যুৎ সরবরাহ পরিচালনা
Name[bs]=Upravljanje napajanjem
Name[ca]=Gestió d'energia
Name[ca@valencia]=Gestió d'energia
Name[cs]=Správa napájení
Name[csb]=Sprôwianié mòcą
Name[da]=Strømstyring
Name[de]=Energieverwaltung
Name[el]=Διαχείριση ενέργειας
Name[en_GB]=Power Management
Name[eo]=Energiadministrado
Name[es]=Gestión de energía
Name[et]=Toitehaldus
Name[eu]=Energia kudeaketa
Name[fi]=Virranhallinta
Name[fr]=Gestion de l'énergie
Name[fy]=Enerzjybehear
Name[ga]=Bainisteoireacht Cumhachta
Name[gl]=Xestión da enerxía
Name[gu]=પાવર વ્યવસ્થાપક
Name[he]=ניהול צריכת חשמל
Name[hi]=बिज़ली प्रबंधन
Name[hne]=पावर प्रबंधन
Name[hr]=Upravljanje potrošnjom energije
Name[hu]=Energiakezelő
Name[ia]=Gestion de energia
Name[id]=Manajemen Daya
Name[is]=Orkustjórnun
Name[it]=Gestione energetica
Name[ja]=電源管理
Name[kk]=Қуаттандыруды басқару
Name[km]=ការ​គ្រប់គ្រង​ថាមពល
Name[kn]=ವಿದ್ಯುಚ್ಛಕ್ತಿ ವ್ಯವಸ್ಥಾಪನೆ
Name[ko]=전원 관리
Name[ku]=Gerînendeyê hêzê
Name[lt]=Energijos valdymas
Name[lv]=Energokontrole
Name[mai]=पावर मैनेजमेंट
Name[mk]=Менаџмент на енергија
Name[ml]=വൈദ്യുതി നടത്തിപ്പു്
Name[mr]=वीज व्यवस्थापन
Name[nb]=Strømstyring
Name[nds]=Stroomkuntrull
Name[nl]=Energiebeheer
Name[nn]=Straumstyring
Name[or]=ଶକ୍ତି ପରିଚାଳନା
Name[pa]=ਪਾਵਰ ਮੈਨਿਜਮੈਂਟ
Name[pl]=Zarządzanie energią
Name[pt]=Gestão de Energia
Name[pt_BR]=Gerenciamento de energia
Name[ro]=Gestiune energie
Name[ru]=Управление питанием
Name[si]=බල පරිපාලනය
Name[sk]=Správa napájania
Name[sl]=Upravljanje z energijo
Name[sr]=Управљање напајањем
Name[sr@ijekavian]=Управљање напајањем
Name[sr@ijekavianlatin]=Upravljanje napajanjem
Name[sr@latin]=Upravljanje napajanjem
Name[sv]=Strömsparhantering
Name[ta]=Power Management
Name[tg]=Идоракунии барқ
Name[th]=การจัดการพลังงาน
Name[tr]=Güç Yönetimi
Name[ug]=توك مەنبەسىنى باشقۇرۇش
Name[uk]=Керування живленням
Name[wa]=Manaedjmint di l' enerdjeye
Name[x-test]=xxPower Managementxx
Name[zh_CN]=电源管理
Name[zh_TW]=電源管理

Comment=Battery, Display and CPU power management and notification
Comment[ar]=إدارة طاقة وإشعارات البطارية والشاشة والمعالج
Comment[ast]=Xestión y notificaciones d'enerxía de la batería, pantalla y CPU
Comment[bg]=Управление и уведомяване относно захранването на батерията, екрана и процесора
Comment[bs]=Obavještavanje i upravljanje baterijom i napajanjem ekrana i procesora
Comment[ca]=Gestió d'energia i notificació de la bateria, pantalla i CPU
Comment[ca@valencia]=Gestió d'energia i notificació de la bateria, pantalla i CPU
Comment[cs]=Správa a oznamování baterie, zobrazení a výkonu CPU
Comment[da]=Bekendtgørelser om strømstyring for batteri, skærm og CPU
Comment[de]=Akku-, Anzeige- und Prozessorleistungsverwaltung und -benachrichtigung
Comment[el]=Μπαταρία, Εμφάνιση και διαχείριση ενέργειας και ειδοποιήσεων ΚΜΕ
Comment[en_GB]=Battery, Display and CPU power management and notification
Comment[es]=Gestión y notificaciones de energía de la batería, pantalla y CPU
Comment[et]=Aku, monitori ja protsessori toitehaldus ja märguanded
Comment[eu]=Bateria, pantaila eta PUZ energia kudeaketa eta jakinarazpena
Comment[fi]=Akun, näytön ja suorittimen virranhallinta sekä ilmoitukset
Comment[fr]=Gestion et notifications de l'énergie pour les batteries, l'affichage et la consommation du processeur
Comment[gl]=Xestión e notificacións da xestión enerxética da batería, da pantalla e da CPU
Comment[he]=ניהול והודעות של צריכת החשמל של הסוללה, התצוגה והמעבד
Comment[hr]=Upravljanje potrošnjom energije baterije, ekrana i CPU-a i pripadajućim obavijestima.
Comment[hu]=Akkumulátor-, kijelző- és processzorkezelés és értesítés
Comment[ia]=Batteria, monstrator, gestion de energia de CPU e notification 
Comment[id]=Baterai, Tampilan dan manajemen daya CPU dan notifikasi
Comment[is]=Stjórnun og tilkynningar vegna rafhlaðna, skjáa og örgjörva
Comment[it]=Gestione e notifica di batteria, schermo e consumo del processore
Comment[ja]=バッテリ、ディスプレイ、CPU の電源管理と通知
Comment[kk]=Батарея, дисплей, процесорын қуаттаныруын басқару және олs туралы құлақтандыру
Comment[km]=ថ្ម បង្ហាញ​ការ​ជូនដំណឹង និង​គ្រប់គ្រង​ថាមពល​ស៊ីភីយូ
Comment[ko]=배터리, 디스플레이, CPU 전원 관리 및 알림
Comment[lt]=Baterijos, Monitoriaus ir CPU energijos valdymas ir pranešimai
Comment[lv]=Baterijas, ekrāna un procesora enerģijas pārvaldība un paziņojumi
Comment[mr]=बॅटरी, डिस्प्ले व CPU वीज व्यवस्थापन व सूचना
Comment[nb]=Håndtering og varsling for strømstyring av batteri, skjerm og prosessor
Comment[nds]=Batterie-, Schirm- un Perzesser-Stroomkuntrull un -Bescheden
Comment[nl]=Energiebeheer voor accu, scherm en CPU en meldingen
Comment[pa]=ਬੈਟਰੀ, ਡਿਸਪਲੇਅ ਤੇ CPU ਪਾਵਰ ਪਰਬੰਧ ਤੇ ਨੋਟੀਫਿਕੇਸ਼ਨ
Comment[pl]=Zarządzanie i powiadomienia o stanie baterii, wyświetlacza i zasilania procesora
Comment[pt]=Gestão e notificação da energia, do ecrã e do CPU
Comment[pt_BR]=Gerenciamento e notificação de energia, da tela e do CPU
Comment[ro]=Gestiune și notificări pentru acumulator, afișaj și putere procesor
Comment[ru]=Настройка яркости экрана, режима ожидания и питания
Comment[si]=බැටරි, ප්‍රදර්ශන සහ CPU බලශක්ති කළමනාකරනය සහ දැනුම්දීම
Comment[sk]=Správa napájania a upozornenia batérie, obrazovky a CPU
Comment[sl]=Upravljanje in obveščanje o porabi energije baterije, zaslona in procesorja
Comment[sr]=Обавештавање и управљање батеријом и напајањем екрана и процесора
Comment[sr@ijekavian]=Обавјештавање и управљање батеријом и напајањем екрана и процесора
Comment[sr@ijekavianlatin]=Obavještavanje i upravljanje baterijom i napajanjem ekrana i procesora
Comment[sr@latin]=Obaveštavanje i upravljanje baterijom i napajanjem ekrana i procesora
Comment[sv]=Hantering och underrättelser om batteri, skärm och processorkraft
Comment[tg]=Батарея, Экран ва идоракунии манбаъи CPU ва огоҳӣ
Comment[th]=การจัดการพลังงานของ แบตเตอรี่, ส่วนแสดงผล และซีพียู รวมถึงการแจ้งให้ทราบ
Comment[tr]=Pil, Ekran ve CPU güç yönetimi ve bildirimler
Comment[ug]=توكدان، ئېكران ۋە CPU توك مەنبە باشقۇرۇش ۋە ئۇقتۇرۇش
Comment[uk]=Керування та сповіщення про стан акумуляторів та живлення дисплея і процесора
Comment[vi]=Quản lý năng lượng và thông báo cho pin, màn hình và CPU
Comment[wa]=Manaedjmint eyet notifiaedje di l' enerdjeye del batreye, do håynaedje et do CPU
Comment[x-test]=xxBattery, Display and CPU power management and notificationxx
Comment[zh_CN]=电池、显示器和 CPU 电源管理及通知
Comment[zh_TW]=電池、顯示與 CPU 電力管理與通知
