[Desktop Entry]
Type=Service
Name=Network Proxy Configuration
Name[ar]=إعدادات وكيل الشبكة
Name[bg]=Настройки на мрежови посредник
Name[bn]=নেটওয়ার্ক প্রক্সি কনফিগারেশন
Name[bs]=Podešavanje proksija za mrežu
Name[ca]=Configuració del servidor intermediari de xarxa
Name[ca@valencia]=Configuració del servidor intermediari de xarxa
Name[cs]=Nastavení proxy sítě
Name[da]=Indstilling af netværksproxy
Name[de]=Netzwerk-Proxy-Einrichtung
Name[el]=Ρύθμιση διαμεσολαβητή δικτύου
Name[en_GB]=Network Proxy Configuration
Name[es]=Configuración del proxy de la red
Name[et]=Võrgupuhverserveri seadistamine
Name[eu]=Sareko ordezkariaren konfigurazioa
Name[fi]=Verkon välityspalvelinasetukset
Name[fr]=Configuration du serveur mandataire de réseau
Name[ga]=Cumraíocht an tSeachfhreastalaí
Name[gl]=Configuración do proxy de rede
Name[gu]=નેટવર્ક પ્રોક્સી રુપરેખાંકન
Name[he]=קביעת הגדרות מתווך רשת
Name[hi]=नेटवर्क प्रॉक्सी कॉन्फ़िगरेशन
Name[hr]=Podešavanje mrežnog proxyja
Name[hu]=Hálózati proxybeállítások
Name[hy]=Ցանցի փոխարինող կերպարանք
Name[ia]=Configuration de proxy de rete
Name[id]=Konfigurasi Proxy Jaringan
Name[is]=Stillingar milliþjóna (proxy)
Name[it]=Configurazione proxy di rete
Name[ja]=ネットワークプロキシ設定
Name[kk]=Желі проксиін баптау
Name[km]=ការ​កំណត់​រចនាសម្ព័ន្ធ​ប្រូកស៊ី​បណ្ដាញ
Name[ko]=네트워크 프록시 설정
Name[ku]=Veavakirina Proxy ya Torê
Name[lt]=Tinklo įgaliotųjų serverių konfigūravimas
Name[lv]=Starpniekserveru konfigurēšana
Name[mr]=संजाळ प्रतिनिधि संयोजना
Name[nb]=Oppsett for mellomtjener
Name[nds]=Nettwark-Proxy instellen
Name[nl]=Configuratie voor netwerk-proxy
Name[pa]=ਨੈੱਟਵਰਕ ਪਰਾਕਸੀ ਸੰਰਚਨਾ
Name[pl]=Konfiguracja pośrednika sieciowego
Name[pt]=Configuração do 'Proxy' de Rede
Name[pt_BR]=Configuração do proxy de rede
Name[ro]=Configurare proxy rețea
Name[ru]=Настройка прокси-серверов
Name[se]=Fierpmádatgaskabálvvá heivehus
Name[si]=ජාල ප්‍රොක්සි සැකසීම
Name[sk]=Nastavenie sieťového proxy
Name[sl]=Nastavitev omrežnega posredniškega strežnika
Name[sr]=Подешавање проксија за мрежу
Name[sr@ijekavian]=Подешавање проксија за мрежу
Name[sr@ijekavianlatin]=Podešavanje proksija za mrežu
Name[sr@latin]=Podešavanje proksija za mrežu
Name[sv]=Inställning av nätverksproxy
Name[ta]=பிணைய மாற்று வடிவமைப்பு
Name[tg]=Танзимоти шабакаи Proxy
Name[th]=การปรับแต่งพร็อกซีของเครือข่าย
Name[tr]=Vekil Sunucu Yapılandırması
Name[tt]=Челтәрнең прокси көйләнеше
Name[ug]=تور ۋاكالەتچى سەپلىمە
Name[uk]=Налаштування проксі-сервера мережі
Name[vi]=Cấu hình proxy mạng
Name[wa]=Apontiaedje do procsi del rantoele
Name[x-test]=xxNetwork Proxy Configurationxx
Name[zh_CN]=网络代理配置
Name[zh_TW]=網路代理組態
Comment=Automatic proxy configuration
Comment[af]=Outomatiese proksie opstelling
Comment[ar]=تهيئة آلية للخادم الوكيل
Comment[as]=স্বয়ংক্ৰিয় নিযুক্তকৰ বিন্যাস
Comment[ast]=Configuración automática del proxy
Comment[be]=Аўтаматычнае настаўленне проксі
Comment[be@latin]=Aŭtamatyčnaje naładžvańnie proxy
Comment[bg]=Автоматично настройване на мрежови посредник
Comment[bn]=স্বয়ংক্রিয় প্রক্সি কনফিগারেশন
Comment[bn_IN]=স্বয়ংক্রিয় প্রক্সি কনফিগারেশন ব্যবস্থা
Comment[br]=Kefluniadur emgefreekh ar proksi
Comment[bs]=Automatsko podešavanje proksija
Comment[ca]=Configuració automàtica de l'intermediari
Comment[ca@valencia]=Configuració automàtica de l'intermediari
Comment[cs]=Automatické nastavení proxy
Comment[csb]=Aùtokònfigùracëjô pòstrzédnika
Comment[cy]=Ffurweddiad Awtomatig o'r Dirprwy
Comment[da]=Automatisk proxy-indstilling
Comment[de]=Sucht nach einem Proxy-Server und richtet ihn ein
Comment[el]=Αυτόματη ρύθμιση διαμεσολαβητή
Comment[en_GB]=Automatic proxy configuration
Comment[eo]=Aŭtomata prokuragordo
Comment[es]=Configuración automática del proxy
Comment[et]=Automaatne puhverserveri seadistamine
Comment[eu]=Ordezkariaren konfigurazio automatikoa
Comment[fa]=پیکربندی خودکار پیشکار
Comment[fi]=Automaattiset välityspalvelinasetukset
Comment[fr]=Configuration automatique du serveur mandataire
Comment[fy]=Automatyske proxy ynstelling
Comment[ga]=Uathchumraíocht an tseachfhreastalaí
Comment[gl]=Configuración automática do proxy
Comment[gu]=આપમેળે પ્રોક્સી રુપરેખાંકન
Comment[he]=קביעת הגדרות מתווכים באופן אוטומטי
Comment[hi]=स्वचालित प्रॉक्सी कॉन्फ़िगरेशन
Comment[hne]=अपने अपन प्राक्सी कान्फिगरेसन
Comment[hr]=Automatsko konfiguriranje proxyja
Comment[hsb]=Awtomatiska konfiguracija proxyja
Comment[hu]=Automatikus proxybeállítás
Comment[hy]=Ավտոմատ պոխարինողի ձևակերպություն
Comment[ia]=Configuration automatic de proxy
Comment[id]=Konfigurasi proxy otomatis
Comment[is]=Sjálfvirkar stillingar vefsels
Comment[it]=Configurazione automatica proxy
Comment[ja]=自動プロキシ設定
Comment[kk]=Проксиді автоматты түрде бапату
Comment[km]=ការ​កំណត់​រចនាសម្ព័ន្ធ​ប្រូកស៊ី​ដោយ​ស្វ័យប្រវត្តិ
Comment[kn]=ಸ್ವಯಂಚಾಲಿತ ಪ್ರಾತಿನಿಧಿಕ (ಪ್ರಾಕ್ಸಿ) ಸಂರಚನೆ
Comment[ko]=자동 프록시 설정
Comment[ku]=Veavakirina bixweber yê proxy 
Comment[lb]=Automatesch Proxy-Configuratioun
Comment[lt]=Automatinis proxy derinimas
Comment[lv]=Automātiska starpniekserveru konfigurēšana
Comment[mai]=स्वचालित प्राक्सी बिन्यास
Comment[mk]=Автоматска конфигурација на прокси
Comment[ml]=പ്രോക്സിയുടെ സ്വയം ക്രമീകരണം
Comment[mr]=स्वयंचलित प्रतिनिधि संयोजना
Comment[ms]=Penyelarasan Proksi Automatik
Comment[nb]=Automatisk mellomtjeneroppsett
Comment[nds]=Proxy automaatsch instellen
Comment[ne]=स्वचालित प्रोक्सी कन्फिगरेसन
Comment[nl]=Automatische proxy-configuratie
Comment[nn]=Automatisk mellomtenaroppsett
Comment[or]=ସ୍ୱୟଂଚାଳିତ ଛାୟା ବିନ୍ୟାସ
Comment[pa]=ਆਟੋਮੈਟਿਕ ਪਰਾਕਸੀ ਸੰਰਚਨਾ
Comment[pl]=Autokonfiguracja pośrednika
Comment[ps]=خپلکارې ګوډاګي سازونه
Comment[pt]=Configuração automática do 'proxy'
Comment[pt_BR]=Configuração automática do proxy
Comment[ro]=Configurare automată pentru proxy
Comment[ru]=Автоматическая настройка прокси-сервера
Comment[se]=Automáhtalaš gaskabálváheiveheapmi
Comment[si]=ස්වයංක්‍රීය ප්‍රොක්සි සැකසීම
Comment[sk]=Automatické nastavenie proxy
Comment[sl]=Samodejne nastavitve posredniškega strežnika
Comment[sr]=Аутоматско подешавање проксија
Comment[sr@ijekavian]=Аутоматско подешавање проксија
Comment[sr@ijekavianlatin]=Automatsko podešavanje proksija
Comment[sr@latin]=Automatsko podešavanje proksija
Comment[sv]=Automatisk proxyinställning
Comment[ta]=தானியக்க மாற்று வடிவமைப்பு
Comment[te]=స్వయంచాలక ప్రాక్సీ రూపకరణం
Comment[tg]=Танзимоти худкории proxy
Comment[th]=การปรับแต่งพร็อกซีอัตโนมัติ
Comment[tr]=Otomatik vekil sunucu yapılandırması
Comment[tt]=Проксины автоматик рәвештә көйләү
Comment[ug]=ئاپتوماتىك ۋاكالەتچى سەپلىمىسى
Comment[uk]=Автоматичне визначення проксі-сервера
Comment[uz]=Proksini avtomatik ravishda moslash
Comment[uz@cyrillic]=Проксини автоматик равишда мослаш
Comment[vi]=Cấu hình proxy tự động
Comment[wa]=Apontiaedje otomatike do procsi
Comment[x-test]=xxAutomatic proxy configurationxx
Comment[zh_CN]=自动代理配置
Comment[zh_HK]=自動代理伺服器組態
Comment[zh_TW]=自動代理組態
X-KDE-ServiceTypes=KDEDModule
X-KDE-Library=proxyscout
X-KDE-DBus-ModuleName=proxyscout
X-KDE-Kded-autoload=false
X-KDE-Kded-load-on-demand=true
