[Desktop Entry]
Name=Display Management change monitor
Name[ar]=مراقب تغيرات إدارة العرض
Name[ast]=Monitor de cambeos na xestión de pantalla
Name[bg]=Управление на екрана и смяна на монитор
Name[bs]=Nadzornik upravljanja prikazom
Name[ca]=Control del canvi de gestió de la pantalla
Name[ca@valencia]=Control del canvi de gestió de la pantalla
Name[cs]=Monitor změn správy zobrazení
Name[da]=Ændringsovervågning for håndtering af skærme
Name[de]=Bildschirmverwaltung (Anzeige ändern)
Name[el]=Εμφάνιση διαχείρισης αλλαγής οθόνης
Name[en_GB]=Display Management change monitor
Name[es]=Monitor de cambios en la gestión de pantalla
Name[et]=Monitori kuvahaldus
Name[eu]=Bistaratze kudeatzailearen aldaketa begiralea
Name[fi]=Näyttöhallinnan muutosmonitori
Name[fr]=Surveillance de modifications dans le gestionnaire d'affichage
Name[gl]=Vixilante de cambios na xestión do monitor
Name[he]=ניהול צגים שינוי צג
Name[hr]=Prikazuje upravljanje promjenom monitora
Name[hu]=A Képernyőkezelő megváltoztatta a monitort
Name[ia]=Gerente de monstrator  : cambiar monitor
Name[id]=Tampilkan monitor ubah Manajemen
Name[is]=Stjórna og skipta um skjá
Name[it]=Monitor di cambiamento della gestione dello schermo
Name[ja]=ディスプレイ管理 モニタ変更
Name[kk]=Дисплей басқару мониторын өзгерту
Name[km]=ត្រួតពិនិត្យ​ការ​ផ្លាស់ប្ដូរ​គ្រប់គ្រង​ការ​បង្ហាញ
Name[kn]=ಪ್ರದರ್ಶಕ ವ್ಯವಸ್ಥಾಪನೆಯ ಬದಲಾವಣೆ ಮೇಲ್ವಿಚಾರಕ
Name[ko]=디스플레이 관리 변경 모니터
Name[lt]=Ekrano valdymas keisti monitorių
Name[lv]=Ekrāna pārvaldības izmaiņu novērotājs
Name[mr]=डिस्प्ले व्यवस्थापन मॉनिटर बदल
Name[nb]=Endret skjerm i skjermbehandling
Name[nds]=Schirmpleeg - Monitor ännern
Name[nl]=Monitor voor wijzigingen in schermbeheer
Name[nn]=Endra skjerm i skjermhandsaming
Name[pa]=ਡਿਸਪਲੇਅ ਪਰਬੰਧ ਮਾਨੀਟਰ ਬਦਲਣਾ
Name[pl]=Zmiana monitora
Name[pt]=Monitoriza as alterações de Gestão do Ecrã
Name[pt_BR]=Monitoramento das alterações do gerenciamento de tela
Name[ro]=Monitor de schimbări în gestiunea afișajului
Name[ru]=Настройка мониторов при их замене
Name[si]=ප්‍රදර්ශන කළමනාකරනය මොනිටරය වෙනස් කරයි
Name[sk]=Správa obrazovky - zmena monitora
Name[sl]=Nadzornik sprememb upravljanja zaslonov
Name[sr]=Надзорник управљања приказом
Name[sr@ijekavian]=Надзорник управљања приказом
Name[sr@ijekavianlatin]=Nadzornik upravljanja prikazom
Name[sr@latin]=Nadzornik upravljanja prikazom
Name[sv]=Skärmhantering bildskärmsbyte
Name[tg]=Идоракунии мубодилаи монитор
Name[th]=การจัดการระบบแสดงผล - เปลี่ยนจอภาพ
Name[tr]=Ekran Yönetimi değişim izleyicisi
Name[ug]=كۆرسىتىش باشقۇرغۇچ كۆزەتكۈچنى ئۆزگەرتىدۇ
Name[uk]=Зміна монітора керування показом
Name[wa]=Håyner li manaedjmint des candjmints d' waitroûle
Name[x-test]=xxDisplay Management change monitorxx
Name[zh_CN]=显示管理器更改监控器
Name[zh_TW]=顯示管理變更監控器
Type=Service
X-KDE-ServiceTypes=KDEDModule
X-KDE-Library=randrmonitor
X-KDE-DBus-ModuleName=randrmonitor
X-KDE-Kded-autoload=true
OnlyShowIn=KDE;
