[Desktop Entry]
Icon=text-html
Name=archassault
Type=Link
URL[$e]=https://github.com/ArchAssault-Project/archassault
X-KDE-LastOpenedWith=kfmclient_html
