[Desktop Entry]
Icon=image-png
Name=blackarch.png
Type=Link
URL[$e]=file:///home/arthur/blackarch/own/blackarchiso/elken/blackarch/blackarch.png
X-KDE-LastOpenedWith=kmenuedit
