# KDE Config File
[Desktop Entry]
Name=Calendar
Name[be]=Каляндар
Name[bs]=Kalendar
Name[ca]=Calendari
Name[ca@valencia]=Calendari
Name[cs]=Kalendář
Name[da]=Kalender
Name[de]=Kalender
Name[el]=Ημερολόγιο
Name[en_GB]=Calendar
Name[eo]=Kalendaro
Name[es]=Calendario
Name[et]=Kalender
Name[fi]=Kalenteri
Name[fr]=Calendrier
Name[ga]=Féilire
Name[gl]=Axenda
Name[he]=לוח־שנה
Name[hne]=कलेन्डर
Name[hu]=Naptár
Name[ia]=Calendario
Name[it]=Calendario
Name[ja]=カレンダー
Name[kk]=Күнтізбе
Name[km]=ប្រតិទិន
Name[lt]=Kalendorius
Name[lv]=Kalendārs
Name[mr]=दिनदर्शिका
Name[nb]=Kalender
Name[nds]=Kalenner
Name[nl]=Agenda
Name[nn]=Kalender
Name[oc]=Calendièr
Name[pa]=ਕੈਲੰਡਰ
Name[pl]=Kalendarz
Name[pt]=Calendário
Name[pt_BR]=Calendário
Name[ro]=Calendar
Name[ru]=Календарь
Name[se]=Kaleandar
Name[sk]=Kalendár
Name[sl]=Koledar
Name[sq]=Kalendari
Name[sr]=Календар
Name[sr@ijekavian]=Календар
Name[sr@ijekavianlatin]=Kalendar
Name[sr@latin]=Kalendar
Name[sv]=Kalender
Name[th]=ปฎิทิน
Name[tr]=Takvim
Name[ug]=يىلنامە
Name[uk]=Календар
Name[wa]=Calindrî
Name[x-test]=xxCalendarxx
Name[zh_CN]=日历
Name[zh_TW]=行事曆
Type=Service
X-KDE-ServiceTypes=KResources/Manager
X-KDE-ResourceFamily=calendar
