[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=KRemoteControlManager
X-KDE-Library=kremotecontrol_lirc
InitialPreference=80

Name=Lirc
Name[bs]=Lirc
Name[ca]=LIRC
Name[ca@valencia]=LIRC
Name[cs]=Lirc
Name[da]=Lirc
Name[de]=Lirc
Name[el]=Lirc
Name[es]=Lirc
Name[et]=Lirc
Name[eu]=Lirc
Name[fi]=Lirc
Name[fr]=Lirc
Name[ga]=Lirc
Name[gl]=LIRC
Name[hr]=Lirc
Name[hu]=Lirc
Name[ia]=Lirc
Name[it]=Lirc
Name[kk]=Lirc
Name[km]=Lirc
Name[ko]=Lirc
Name[lt]=Lirc
Name[mr]=Lirc
Name[nb]=Lirc
Name[nds]=Lirc
Name[nl]=Lirc
Name[pa]=Lirc
Name[pl]=Lirc
Name[pt]=Lirc
Name[pt_BR]=Lirc
Name[ro]=Lirc
Name[ru]=Lirc
Name[sk]=Lirc
Name[sl]=Lirc
Name[sr]=ЛИРЦ
Name[sr@ijekavian]=ЛИРЦ
Name[sr@ijekavianlatin]=LIRC
Name[sr@latin]=LIRC
Name[sv]=Lirc
Name[tr]=Lirc
Name[uk]=Lirc
Name[x-test]=xxLircxx
Name[zh_CN]=Lirc
Name[zh_TW]=Lirc

Comment=Linux Infrared Remote Control
Comment[bs]=Linux Daljinski upravljači
Comment[ca]=Control remot per infraroigs del Linux
Comment[ca@valencia]=Control remot per infraroigs del Linux
Comment[cs]=Linuxové infračervené dálkové ovládání
Comment[da]=Linux infrarød fjernbetjening (Lirc)
Comment[de]=Infrarot-Fernbedienung für Linux
Comment[el]=Linux Infrared Remote Control
Comment[es]=Mando a distancia por infrarrojos de Linux
Comment[et]=Linuxi infrapuna kaugjuhtimine
Comment[eu]=Linux-en urruneko aginte infragorria.
Comment[fi]=Linuxin infrapunalla toimivien kauko-ohjainten ohjaus
Comment[fr]=Contrôle à distance infrarouge pour Linux
Comment[ga]=Cianrialtán Infridhearg Linux
Comment[gl]=Control remoto por infravermellos de Linux (LIRC).
Comment[hr]=Linuxovo infracrveno daljinsko upravljanje
Comment[hu]=Linux Infrared Remote Control
Comment[ia]=Linux Infrared Remote Control (Controlo Remote Infrarubie de Linux)
Comment[it]=Telecomandi ad infrarosso per Linux
Comment[kk]=Linux инфрақызыл қашықтан басқаруы
Comment[km]=វត្ថុ​បញ្ជា​ពីចម្ងាយអាំងហ្វ្រា​របស់​លីនុច
Comment[ko]=리눅스 리모콘 제어
Comment[lt]=Linux infraraudonųjų spindulių nuotolinis valdymas
Comment[mr]=लिनक्स इन्फ्रारेड रीमोट कंट्रोल
Comment[nb]=Linux Infrared Remote Control: Linux infrarød fjernstyring
Comment[nds]=Infraroot-Feernbedenen för Linux
Comment[nl]=Linux infrarood afstandsbediening (lirc)
Comment[pa]=ਲੀਨਕਸ ਇੰਫਰਾਰੈੱਡ ਰਿਮੋਟ ਕੰਟਰੋਲ
Comment[pl]=Piloty na podczerwień dla Linuksa
Comment[pt]=Comando à Distância por Infravermelhos para Linux
Comment[pt_BR]=Controle remoto infravermelho no Linux
Comment[ro]=Linux Infrared Remote Control
Comment[ru]=Инфракрасное дистанционное управление для Linux
Comment[sk]=Linuxové infračervené diaľkové ovládanie
Comment[sl]=Infrardeči daljinski upravljalnik za Linux
Comment[sr]=Инфрацрвени даљински управљачи под Линуксом
Comment[sr@ijekavian]=Инфрацрвени даљински управљачи под Линуксом
Comment[sr@ijekavianlatin]=Infracrveni daljinski upravljači pod Linuxom
Comment[sr@latin]=Infracrveni daljinski upravljači pod Linuxom
Comment[sv]=Linux infraröda fjärrkontroll
Comment[tr]=Linux Kızılötesi Uzaktan Denetim
Comment[ug]=Linux ئىنفرا قىزىل نۇرلۇق تىزگىنلەش
Comment[uk]=Інфрачервоне дистанційне керування для Linux
Comment[x-test]=xxLinux Infrared Remote Controlxx
Comment[zh_CN]=Linux 红外遥控
Comment[zh_TW]=Linux 紅外線遙控

Icon=infrared-remote
