<?xml version="1.0" encoding="utf-8"?>
<openbox_menu xmlns="http://openbox.org/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://openbox.org/                 file:///usr/share/openbox/menu.xsd">
	<menu id="root-menu" label="Openbox 3.5">
		<menu execute="/usr/bin/obmenu-generator -i" id="desktop-app-menu" label="Applications"/>
		<menu execute="~/.config/openbox/pipemenus/obpipemenu-places ~/" id="places" label="Places"/>
		<menu execute="~/.config/openbox/pipemenus/obrecent.sh ~/" id="recent" label="Recent Files"/>
		<menu id="Preferences" label="Preferences">
			<menu id="root-menu-90523" label="Conky Config">
				<item label="Edit .conkyrc">
					<action name="Execute">
						<execute>
							scite ~/.conkyrc
						</execute>
					</action>
				</item>
				<item label="Restart Conky">
					<action name="Execute">
						<execute>
							conkywonky
						</execute>
					</action>
				</item>
			</menu>
            <menu id="root-menu-891528" label="Eye Candy">
				<item label="No effects">
					<action name="Execute">
						<execute>
							~/.config/openbox/scripts/xcompmgr.sh unset
						</execute>
					</action>
				</item>
				<item label="Transparency">
					<action name="Execute">
						<execute>
							~/.config/openbox/scripts/xcompmgr.sh set
						</execute>
					</action>
				</item>
				<item label="Transparency, fading">
					<action name="Execute">
						<execute>
							~/.config/openbox/scripts/xcompmgr.sh setshaded
						</execute>
					</action>
				</item>
				<item label="Transparency, fading shadows">
					<action name="Execute">
						<execute>
							~/.config/openbox/scripts/xcompmgr.sh setshadowshade
						</execute>
					</action>
				</item>
			</menu>
            <menu id="root-menu-525118" label="Openbox Config">
				<item label="Edit autostart">
					<action name="Execute">
						<execute>
							scite ~/.config/opebox/autostart
						</execute>
					</action>
				</item>
                <item label="GUI Menu Editor">
					<action name="Execute">
						<execute>
							obmenu
						</execute>
					</action>
				</item>
                <item label="GUI Config Tool">
					<action name="Execute">
						<execute>
							obconf
						</execute>
					</action>
				</item>
				<item label="Key Editor">
					<action name="Execute">
						<execute>
							obkey
						</execute>
					</action>
				</item>
				<item label="Reconfigure">
					<action name="Reconfigure"/>
				</item>
				<item label="Restart">
					<action name="Restart"/>
				</item>
			</menu>
            <menu id="root-menu-23433" label="Take Screenshot">
				<item label="Now">
					<action name="Execute">
						<execute>
							scrot '%Y-%m-%d--%s_$wx$h_scrot.png' -e 'mv $f ~/Images/screenshots &amp; geeqie ~/$f'
						</execute>
					</action>
				</item>
				<item label="In 5 Seconds...">
					<action name="Execute">
						<execute>
							scrot -d 5 '%Y-%m-%d--%s_$wx$h_scrot.png' -e 'mv $f ~/Images/screenshots &amp; geeqie ~/$f'
						</execute>
					</action>
				</item>
				<item label="In 10 Seconds...">
					<action name="Execute">
						<execute>
							scrot -d 10 '%Y-%m-%d--%s_$wx$h_scrot.png' -e 'mv $f ~/Images/screenshots &amp; geeqie ~/$f'
						</execute>
					</action>
				</item>
				<item label="Selected Area... (click &amp; drag mouse)">
					<action name="Execute">
						<execute>
							scrot -s '%Y-%m-%d--%s_$wx$h_scrot.png' -e 'mv $f ~/Images/screenshots &amp; geeqie ~/$f'
						</execute>
					</action>
				</item>
			</menu>
            <menu id="root-menu-571948" label="tint2 config">
				<item label="Edit tint2rc">
					<action name="Execute">
						<execute>
							scite ~/.config/tint2/tint2rc
						</execute>
					</action>
				</item>
				<item label="Tint Wizard">
					<action name="Execute">
						<execute>
							tintwizard.py
						</execute>
					</action>
				</item>
			</menu>
            <item label="Input Device Preferences">
				<action name="Execute">
					<execute>
						lxinput
					</execute>
				</action>
			</item>
			<item label="Screen Resolution">
				<action name="Execute">
					<execute>
						arandr
					</execute>
				</action>
			</item>
			<item label="User Interface Settings">
				<action name="Execute">
					<execute>
						lxappearance
					</execute>
				</action>
			</item>
			<item label="Wallpaper">
				<action name="Execute">
					<execute>
						nitrogen
					</execute>
				</action>
			</item>
		</menu>
		<separator/>
        <item label="Exit">
			<action name="Execute">
				<execute>
					oblogout
				</execute>
			</action>
		</item>
	</menu>
</openbox_menu>