#
# SPDX-License-Identifier: GPL-3.0-or-later

INCLUDE boot/syslinux/archiso_head.cfg

LABEL arch64
TEXT HELP
Boot the BLACKARCH Linux (x86_64) live medium.
It allows you to install BLACKARCH or perform system maintenance.
ENDTEXT
MENU LABEL Boot BLACKARCH Default (x86_64)
LINUX boot/x86_64/vmlinuz-linux
INITRD boot/intel-ucode.img,boot/amd-ucode.img,boot/x86_64/initramfs-linux.img
APPEND archisobasedir=%INSTALL_DIR% cow_spacesize=10G archisolabel=%ARCHISO_LABEL% nouveau.modeset=1 nouveau i915.modeset=1 radeon.modeset=1 modprobe.blacklist=nvidia

LABEL Boot BLACKARCH Nvidia NonFree new cards non hybrid (x86_64)
LINUX boot/x86_64/vmlinuz-linux
INITRD boot/intel-ucode.img,boot/amd-ucode.img,boot/x86_64/initramfs-linux.img
APPEND archisobasedir=%INSTALL_DIR% cow_spacesize=10G archisolabel=%ARCHISO_LABEL% nouveau.modeset=0 modprobe.blacklist=nouveau nvidia i915.modeset=1 radeon.modeset=1

INCLUDE boot/syslinux/archiso_tail.cfg
