#lxdm {
	background-image: url("wave.svg");
	background-size: 100%;
}

#bottom_pane {
	background-color: rgba(0,0,0,0.24);
}

#time {
	font: Sans 12;
	color: #ffffff;
}

#user_list, #login_entry {
	background-image: none;
}

#prompt, #bottom_pane GtkLabel {
	color: #ffffff;
}
