[begin] (blackarch menu)

    [submenu] (terminals)
        [exec] (term (grey\)) {urxvt -bg black -fg grey}
        [exec] (term (red\)) {urxvt -bg black -fg red}
        [exec] (term (green\)) {urxvt -bg black -fg green}
        [exec] (term (yellow\)) {urxvt -bg black -fg yellow}
        [exec] (term (white\)) {urxvt -bg black -fg white}
    [end]

    [submenu] (browsers)
        [exec] (firefox) {firefox}
        [exec] (chromium) {chromium}
    [end]

    [submenu] (network)
        [exec] (wicd-gtk) {wicd-gtk}
        [exec] (wicd-curses) {wicd-curses}
    [end]

    [submenu] (blackarch)
