[begin] (blackarch menu)

    [submenu] (terminals)
        [exec] (xterm (red\)) {xterm -bg black -fg red}
        [exec] (xterm (green\)) {xterm -bg black -fg green}
        [exec] (xterm (yellow\)) {xterm -bg black -fg yellow}
        [exec] (xterm (white\)) {xterm -bg black -fg white}
    [end]

    [submenu] (browsers)
        [exec] (firefox) {firefox}
        [exec] (midori) {midori}
    [end]

    [submenu] (network)
        [exec] (wicd-gtk) {wicd-gtk}
        [exec] (wicd-curses) {wicd-curses}
    [end]

    [submenu] (blackarch)
