<?xml version="1.0" encoding="UTF-8"?>

<openbox_menu xmlns="http://openbox.org/3.4/menu">

<menu id="terminals-menu" label="terminals">
	<item label="term (grey)">
    <action name="Execute">
      <command>urxvt -bg black -fg grey</command>
    </action>
  </item>
  <item label="term (red)">
		<action name="Execute">
			<command>urxvt -bg black -fg red</command>
		</action>
	</item>
	<item label="term (green)">
		<action name="Execute">
			<command>urxvt -bg black -fg green</command>
		</action>
	</item>
	<item label="term (yellow)">
		<action name="Execute">
			<command>urxvt -bg black -fg yellow</command>
		</action>
	</item>
	<item label="term (white)">
		<action name="Execute">
			<command>urxvt -bg black -fg white</command>
		</action>
	</item>
</menu>

<menu id="browsers-menu" label="browsers">
	<item label="firefox">
		<action name="Execute">
			<command>firefox</command>
			<startupnotify>
				<enabled>yes</enabled>
				<wmclass>firefox</wmclass>
			</startupnotify>
		</action>
	</item>
	<item label="chromium">
		<action name="Execute">
			<command>chromium --no-sandbox</command>
			<startupnotify>
				<enabled>yes</enabled>
				<wmclass>chromium</wmclass>
		  </startupnotify>
		</action>
	</item>
</menu>

<menu id="network-menu" label="network">
	<item label="wifi-radar">
		<action name="Execute">
			<command>wifi-radar</command>
			<startupnotify>
				<enabled>yes</enabled>
				<wmclass>wifi-radar</wmclass>
		  </startupnotify>
		</action>
	</item>
	<item label="wifi-radar-polkit">
		<action name="Execute">
			<command>wifi-radar-polkit</command>
			<startupnotify>
				<enabled>yes</enabled>
				<wmclass>wifi-radar-polkit</wmclass>
		  </startupnotify>
		</action>
	</item>
</menu>

