
<menu id="system-menu" label="system">
    <item label="openbox configuration manager">
        <action name="Execute">
            <command>obconf</command>
            <startupnotify>
                <enabled>yes</enabled>
            </startupnotify>
        </action>
    </item>
    <separator />
    <item label="reconfigure openbox">
        <action name="reconfigure" />
    </item>
</menu>

</openbox_menu>
