[Desktop Entry]
Name=Akonadi
Name[ar]=اكوندا
Name[bg]=Akonadi
Name[bs]=Akonadi
Name[ca]=Akonadi
Name[ca@valencia]=Akonadi
Name[cs]=Akonadi
Name[da]=Akonadi
Name[de]=Akonadi-Ressource
Name[el]=Akonadi
Name[en_GB]=Akonadi
Name[eo]=Akonadi
Name[es]=Akonadi
Name[et]=Akonadi
Name[fi]=Akonadi
Name[fr]=Akonadi
Name[ga]=Akonadi
Name[gl]=Akonadi
Name[hu]=Akonadi
Name[ia]=Akonadi
Name[it]=Akonadi
Name[ja]=Akonadi
Name[kk]=Akonadi
Name[km]=Akonadi
Name[ko]=Akonadi
Name[lt]=Akonadi
Name[lv]=Akonadi
Name[mai]=Akonadi
Name[mr]=आकोनाडी
Name[nb]=Akonadi
Name[nds]=Akonadi
Name[nl]=Akonadi
Name[nn]=Akonadi
Name[pa]=ਅਕੌਂਡੀ
Name[pl]=Akonadi
Name[pt]=Akonadi
Name[pt_BR]=Akonadi
Name[ro]=Akonadi
Name[ru]=Akonadi
Name[sk]=Akonadi
Name[sl]=Akonadi
Name[sq]=Akonadi
Name[sr]=Аконади
Name[sr@ijekavian]=Аконади
Name[sr@ijekavianlatin]=Akonadi
Name[sr@latin]=Akonadi
Name[sv]=Akonadi
Name[tr]=Akonadi
Name[ug]=Akonadi
Name[uk]=Akonadi
Name[x-test]=xxAkonadixx
Name[zh_CN]=Akonadi
Name[zh_TW]=Akonadi
Comment=Provides access to calendars stored in Akonadi calendar folders
Comment[ar]=يوفر الوصول للتقويمات المحفوظة في مجلد تقويم اكوندا
Comment[bs]=Omogućava pristup kalendarima pohranjenim u Akonadi direktorijima kalendara
Comment[ca]=Proporciona l'accés als calendaris emmagatzemats en carpetes de calendari de l'Akonadi
Comment[ca@valencia]=Proporciona l'accés als calendaris emmagatzemats en carpetes de calendari de l'Akonadi
Comment[da]=Giver adgang til kalendere lagret i Akonadi kalender-mapper
Comment[de]=Ermöglicht den Zugriff auf Kalender, die in Akonadi-Ordnern gespeichert sind.
Comment[el]=Παρέχει πρόσβαση σε ημερολόγια αποθηκευμένα σε φακέλους ημερολογίου του Akonadi
Comment[en_GB]=Provides access to calendars stored in Akonadi calendar folders
Comment[es]=Proporciona acceso a calendarios almacenados en carpetas de calendario de Akonadi
Comment[et]=Võimaldab kasutada Akonadi kalendrikaustadesse salvestatud kalendreid
Comment[fi]=Tarjoaa pääsyn Akonadin kalenterikansioihin tallennettuihin kalentereihin
Comment[fr]=Fournit l'accès aux calendriers enregistrés dans les dossiers d'agenda Akonadi
Comment[gl]=Permite acceder aos calendarios almacenados nos cartafoles de calendario do Akonadi
Comment[hr]=Nudi pristup kalendarima pohranjenima u Akonadijeve kalendarske mape
Comment[hu]=Hozzáférést biztosít Akonadi-naptárak tartalmához
Comment[ia]=Provide accesso a calendarios salveguardate in dossiers pro calendarios de Akonadi
Comment[it]=Consente l'accesso alle voci di calendario memorizzate in cartelle di tipo calendario di Akonadi
Comment[ja]=Akonadi のカレンダーフォルダに保存されているカレンダーへのアクセスを提供します
Comment[kk]=Akonadi күнтізбенің қапшығындағы күнтізбелеріне қатынау
Comment[km]=ផ្ដល់​សិទ្ធិ​ចូល​ដំណើរការ​ទៅកាន់​ប្រតិទិន​ដែល​បាន​រក្សាទុក​នៅ​ក្នុង​ថត​ប្រតិទិន Akonadi
Comment[ko]=Akonadi 달력 폴더에 저장된 달력에 접근합니다
Comment[lt]=Suteikia priėjimą prie kalendorių, saugomų Akonadi kalendorių aplankuose
Comment[lv]=Nodrošina piekļuvi kalendāriem, kas glabājas Akonadi kalendāru mapēs
Comment[nb]=Gir tilgang til kalendere lagret i Akonadi adressebok-mappene
Comment[nds]=Stellt Togriep op binnen Akonadi sien Kalennerornern wohrte Kalenners praat
Comment[nl]=Geeft toegang tot de in de agendamappen van Akonadi opgeslagen agenda's
Comment[nn]=Gjev tilgang til kalendrar lagra i Akonadi-kalendermapper
Comment[pa]=ਅਕੌਂਡੀ ਕੈਲੰਡਰ ਫੋਲਡਰਾਂ ਵਿੱਚ ਸਟੋਰ ਕੀਤੇ ਕੈਲੰਡਰਾਂ ਲਈ ਅਸੈੱਸ ਹੈ
Comment[pl]=Zapewnia dostęp do kalendarzy przechowywanych w katalogach kalendarzy Akonadi
Comment[pt]=Oferece o acesso aos calendários guardados nas pastas de calendários do Akonadi
Comment[pt_BR]=Fornece acesso aos calendários armazenados nas pastas de calendários do Akonadi
Comment[ro]=Oferă acces la calendarele stocate în dosarele de calendar Akonadi
Comment[ru]=Доступ к папкам календарей Akonadi
Comment[sk]=Poskytuje prístup ku kalendárom uloženým v priečinkoch kalendára Akonadi
Comment[sl]=Omogoča dostop do koledarjev, shranjenih v Akonadijevih mapah s koledarji
Comment[sr]=Омогућава приступ календарима смештеним у календарским фасциклама Аконадија
Comment[sr@ijekavian]=Омогућава приступ календарима смјештеним у календарским фасциклама Аконадија
Comment[sr@ijekavianlatin]=Omogućava pristup kalendarima smještenim u kalendarskim fasciklama Akonadija
Comment[sr@latin]=Omogućava pristup kalendarima smeštenim u kalendarskim fasciklama Akonadija
Comment[sv]=Ger tillgång till kalendrar lagrade i Akonadi-kalenderkataloger
Comment[tr]=Akonadi takvim dizinlerindeki takvimlere erişim sağlar
Comment[uk]=Надає доступ до календарів, які зберігаються у теках календарів Akonadi
Comment[x-test]=xxProvides access to calendars stored in Akonadi calendar foldersxx
Comment[zh_CN]=提供对存储在 Akonadi 日历文件夹中的日历的访问支持
Comment[zh_TW]=提供存取儲存在 Akonadi 通訊錄資料夾中的行事曆
X-KDE-Library=kcal_akonadi
Type=Service
X-KDE-ServiceTypes=KResources/Plugin
X-KDE-ResourceFamily=calendar
X-KDE-ResourceType=akonadi
