[Desktop Entry]
Name=Calendar in Local Directory
Name[be]=Каляндар у мясцовай тэчцы
Name[bs]=Kalendar u lokalnom direktoriju
Name[ca]=Calendari en un directori local
Name[ca@valencia]=Calendari en un directori local
Name[cs]=Kalendář v místním adresáři
Name[da]=Kalender i lokal mappe
Name[de]=Kalender in lokalem Ordner
Name[el]=Ημερολόγιο σε τοπικό κατάλογο
Name[en_GB]=Calendar in Local Directory
Name[es]=Calendario en directorio local
Name[et]=Kalender kohalikus kataloogis
Name[fi]=Kalenteri paikallisessa kansiossa
Name[fr]=Calendrier dans un dossier local
Name[ga]=Féilire i gComhadlann Logánta
Name[gl]=Axenda nun cartafol local
Name[he]=לוח שנה בספרייה מקומית
Name[hne]=लोकल डिरेक्टरी मं कलेन्डर
Name[hu]=Naptár helyi könyvtárban
Name[ia]=Calendario in directorio local
Name[it]=Calendario nella cartella locale
Name[ja]=ローカルディレクトリのカレンダー
Name[kk]=Жергілікті каталогтағы күнтізбе
Name[km]=ប្រតិទិន​ក្នុង​ថត​មូលដ្ឋាន
Name[lt]=Kalendorius vietiniame aplanke
Name[lv]=Kalendārs lokālā mapē
Name[mr]=स्थानिक संचयीकेतील दिनदर्शिका
Name[nb]=Kalender i lokal mappe
Name[nds]=Kalenner in'n lokalen Orner
Name[nl]=Agenda in lokale map
Name[nn]=Kalender i lokal mappe
Name[pa]=ਲੋਕਲ ਡਾਇਰੈਕਟਰੀ 'ਚ ਕੈਲੰਡਰ
Name[pl]=Kalendarz w katalogu lokalnym
Name[pt]=Calendário numa Pasta Local
Name[pt_BR]=Calendário em pasta local
Name[ro]=Calendar în director local
Name[ru]=Календарь в локальной папке
Name[se]=Kaleandar báikkálaš katalogas
Name[sk]=Kalendár v lokálnom adresári.
Name[sl]=Koledar v krajevnem imeniku
Name[sr]=Календар у локалној фасцикли
Name[sr@ijekavian]=Календар у локалној фасцикли
Name[sr@ijekavianlatin]=Kalendar u lokalnoj fascikli
Name[sr@latin]=Kalendar u lokalnoj fascikli
Name[sv]=Kalender i lokal katalog
Name[th]=ปฎิทินในไดเรกทอรีภายในระบบ
Name[tr]=Yerel Dizindeki Takvim
Name[uk]=Календар в локальній теці
Name[wa]=Calindrî dins on ridant coinrece
Name[x-test]=xxCalendar in Local Directoryxx
Name[zh_CN]=本地目录中的日历
Name[zh_TW]=本地端目錄裡的行事曆
Comment=Provides access to calendar items, each stored in a single file, in a given directory
Comment[bs]=Pruža pristup kalendarskim stavkama, skladištenim u poјedinačnim faјlovima u datoј fascikli
Comment[ca]=Proporciona l'accés als elements d'un calendari, cada un emmagatzemat en un fitxer individual, en un directori proporcionat
Comment[ca@valencia]=Proporciona l'accés als elements d'un calendari, cada un emmagatzemat en un fitxer individual, en un directori proporcionat
Comment[cs]=Poskytuje přístup k položkám kalendáře, každé uložené v jednom souboru v daném adresáři
Comment[da]=Giver adgang til kalenderelementer, hver lagret i en enkelt fil, i en given mappe
Comment[de]=Ermöglicht Zugriff auf Kalender, die jeweils in einzelnen Dateien in einem vorgegebenen Ordner gespeichert sind
Comment[el]=Προσφέρει πρόσβαση σε αντικείμενα ημερολογίου, αποθηκευμένα σε ξεχωριστά αρχεία, σε ένα δοσμένο κατάλογο
Comment[en_GB]=Provides access to calendar items, each stored in a single file, in a given directory
Comment[es]=Provee acceso a elementos de un calendario, cada uno almacenado en un archivo diferente, dentro de un directorio determinado
Comment[et]=Võimaldab kasutada eraldi failidesse salvestatud kalendrielemente määratud kataloogis
Comment[fi]=Tarjoaa pääsyn annetun kansion erillisiin tiedostoihin tallennettuihin kalenteritietueisiin
Comment[fr]=Fournit un accès à des entrées d'agenda, chaque élément étant enregistré dans un fichier unique, dans le dossier indiqué
Comment[ga]=Soláthraíonn sé seo rochtain ar mhíreanna féilire, gach ceann stóráilte i gcomhad aonair, i gcomhadlann sonraithe
Comment[gl]=Fornece acceso aos obxectos do calendario, cada un gardado nun ficheiro nun cartafol dado
Comment[he]=מספק גישה אל פרטי לוח־שנה, כל אחד שמור בתור קובץ בודד, בספריה נתונה.
Comment[hu]=Helyi mappában tárolt naptérbejegyzések elérését biztosítja. Minden bejegyzés külön fájlban található.
Comment[ia]=Il provide accesso a elementos de calendario, cata un immagazinate in un file singule, in un date directorio
Comment[it]=Fornisce accesso a voci di calendario, ciascuna memorizzata in un singolo file in una data cartella
Comment[ja]=それぞれが単一のファイルに保存されている任意のディレクトリ内のカレンダーアイテムへのアクセスを提供します。
Comment[kk]=Көрсетілген қапшықта, бөлек файлдарда сақталған күнтізбенің жазуларына қатынау мүмкіндігін береді.
Comment[km]=ផ្ដល់​ការ​ចូលដំណើរការ​ទៅ​កាន់​ធាតុ​ប្រតិទិន ធាតុ​នីមួយៗ​បាន​ផ្ទុក​នៅ​ក្នុង​ឯកសារ​តែ​មួយ នៅ​ក្នុង​ថត​ដែល​បាន​ផ្ដល់​ឲ្យ
Comment[lt]=Suteikia prieigą prie kalendoriaus įrašų, kurie saugomi individualiai nurodytame aplanke
Comment[lv]=Nodrošina piekļuvi kalendāra ierakstiem, kas katrs glabājas vienā failā, norādītā mapē
Comment[nb]=Gir tilgang til kalenderoppføringer, hver  lagret i en enkelt fil, i en gitt mappe
Comment[nds]=Stellt Togriep op Kalennerindrääg praat, elkeen binnen een Datei binnen en angeven Orner.
Comment[nl]=Geeft toegang tot agenda-items, elk opgeslagen in een enkel bestand in een opgegeven map
Comment[nn]=Gjev tilgang til kalenderelement i ei viss mappe, der dei er lagra i kvar sine filer.
Comment[pl]=Daje dostęp do plików obiektów kalendarza, każdy w oddzielnym pliku, w podanym katalogu
Comment[pt]=Oferece o acesso aos itens do calendário, estando cada um guardado num único ficheiro de uma dada pasta
Comment[pt_BR]=Fornece acesso aos itens do calendário, cada um armazenado em um único arquivo na pasta indicada
Comment[ro]=Oferă acces la elemente de calendar, fiecare stocat într-un singur fișier, într-un anumit director
Comment[ru]=Предоставляет доступ к элементам календаря, хранящимся в отдельных файлах в указанном каталоге.
Comment[se]=Dáinna beasat kaleandarmerkošidda, vurkejuvvon okta fiilan, dihto katalogas
Comment[sk]=Poskytuje prístup do položiek adresára, každá uložená v jednoduchom súbore v danom adresári.
Comment[sl]=Nudi dostop do koledarskih vnosov, ki so shranjeni vsak posebej v svoji datoteki, v dani mapi
Comment[sr]=Пружа приступ календарским ставкама, складиштеним у појединачним фајловима у датој фасцикли.
Comment[sr@ijekavian]=Пружа приступ календарским ставкама, складиштеним у појединачним фајловима у датој фасцикли.
Comment[sr@ijekavianlatin]=Pruža pristup kalendarskim stavkama, skladištenim u pojedinačnim fajlovima u datoj fascikli.
Comment[sr@latin]=Pruža pristup kalendarskim stavkama, skladištenim u pojedinačnim fajlovima u datoj fascikli.
Comment[sv]=Ger tillgång till kalenderobjekt, vart och ett lagrat i en enskild lokal fil, i en given katalog
Comment[th]=เข้าใช้รายการต่าง ๆ ของปฏิทิน ซึ่งแต่ละรายการถูกจัดเก็บไว้เป็นแฟ้มเดี่ยว ๆ ในไดเรกทอรีที่ให้มา
Comment[tr]=Belirli bir dizinde, her biri tek bir dosyada depolanmış takvim ögelerine erişim sağlar
Comment[uk]=Надає доступ до записів календаря, кожен з яких зберігається у окремому файлі у вказаному каталозі
Comment[x-test]=xxProvides access to calendar items, each stored in a single file, in a given directoryxx
Comment[zh_CN]=提供对被存储在给定目录下单独文件中的日历内容的访问支持
Comment[zh_TW]=提供存取在特定目錄下，個別儲存於單一檔案中的行事曆的項目的功能
X-KDE-Library=kcal_localdir
Type=Service
X-KDE-ServiceTypes=KResources/Plugin
X-KDE-ResourceFamily=calendar
X-KDE-ResourceType=localdir
