[Desktop Entry]
Type=Service
Icon=aim_protocol
X-KDE-ServiceTypes=KABC/IMProtocol,KPluginInfo
X-KDE-InstantMessagingKABCField=messaging/aim
Comment=AIM Protocol
Comment[bs]=AIM Protokol
Comment[ca]=Protocol AIM
Comment[ca@valencia]=Protocol AIM
Comment[cs]=Protokol AIM
Comment[da]=AIM-protokollen
Comment[de]=AIM-Protokoll
Comment[el]=Πρωτόκολλο AIM
Comment[en_GB]=AIM Protocol
Comment[eo]=AIM-Protokolo
Comment[es]=Protocolo AIM
Comment[et]=AIM protokoll
Comment[fi]=AIM-yhteyskäytäntö
Comment[fr]=Protocole AIM
Comment[ga]=Prótacal AIM
Comment[gl]=Protocolo AIM
Comment[he]=פרוקוטול AIM
Comment[hu]=AIM protokoll
Comment[ia]=Protocollo AIM
Comment[it]=Protocollo AIM
Comment[ja]=AIM プロトコル
Comment[kk]=AIM протоколы
Comment[km]=ពិធីការ​ AIM ​​
Comment[lt]=AIM protokolas
Comment[mr]=AIM शिष्टाचार
Comment[nb]=AIM-protokoll
Comment[nds]=AIM-Protokoll
Comment[nl]=AIM-protocol
Comment[nn]=AIM-protokoll
Comment[pl]=Protokół AIM
Comment[pt]=Protocolo AIM
Comment[pt_BR]=Protocolo do AIM
Comment[ro]=Protocol AIM
Comment[ru]=Протокол обмена сообщениями AIM
Comment[sk]=Protokol AIM
Comment[sl]=Protokol AIM
Comment[sr]=Протокол АИМ
Comment[sr@ijekavian]=Протокол АИМ
Comment[sr@ijekavianlatin]=Protokol AIM
Comment[sr@latin]=Protokol AIM
Comment[sv]=AIM-protokoll
Comment[th]=โพรโทคอล AIM
Comment[tr]=AIM Protokolü
Comment[uk]=Протокол AIM
Comment[wa]=Protocole AIM
Comment[x-test]=xxAIM Protocolxx
Comment[zh_CN]=AIM 协议
Comment[zh_TW]=AIM 協定
Name=AIM
Name[bs]=AIM
Name[ca]=AIM
Name[ca@valencia]=AIM
Name[cs]=AIM
Name[da]=AIM
Name[de]=AIM
Name[el]=AIM
Name[en_GB]=AIM
Name[eo]=AIM
Name[es]=AIM
Name[et]=AIM
Name[fi]=AIM
Name[fr]=AIM
Name[ga]=AIM
Name[gl]=AIM
Name[he]=AIM
Name[hu]=AIM
Name[ia]=AIM
Name[it]=AIM
Name[ja]=AIM
Name[kk]=AIM
Name[km]=AIM​
Name[lt]=AIM
Name[mr]=AIM
Name[nb]=AIM
Name[nds]=AIM
Name[nl]=AIM
Name[nn]=AIM
Name[pl]=AIM
Name[pt]=AIM
Name[pt_BR]=AIM
Name[ro]=AIM
Name[ru]=AIM
Name[sk]=AIM
Name[sl]=AIM
Name[sr]=АИМ
Name[sr@ijekavian]=АИМ
Name[sr@ijekavianlatin]=AIM
Name[sr@latin]=AIM
Name[sv]=AIM
Name[th]=AIM
Name[tr]=AIM
Name[ug]=AIM
Name[uk]=AIM
Name[wa]=AIM
Name[x-test]=xxAIMxx
Name[zh_CN]=AIM
Name[zh_TW]=AIM

