[Desktop Entry]
Type=Service
Icon=gadu_protocol
X-KDE-ServiceTypes=KABC/IMProtocol,KPluginInfo
X-KDE-InstantMessagingKABCField=messaging/gadu
Comment=Gadu-Gadu Protocol
Comment[bs]=Gadu-Gadu Protokol
Comment[ca]=Protocol Gadu-Gadu
Comment[ca@valencia]=Protocol Gadu-Gadu
Comment[cs]=Protokol Gadu-Gadu
Comment[da]=Gadu-Gadu-protokollen
Comment[de]=Gadu-Gadu-Protokoll
Comment[el]=Πρωτόκολλο Gadu-Gadu
Comment[en_GB]=Gadu-Gadu Protocol
Comment[eo]=Gadu-Gadu Protokolo
Comment[es]=Protocolo Gadu-Gadu
Comment[et]=Gadu-Gadu protokoll
Comment[fi]=Gadu-Gadu-yhteyskäytäntö
Comment[fr]=Protocole Gadu-Gadu
Comment[ga]=Prótacal Gadu-Gadu
Comment[gl]=Protocolo Gadu-Gadu
Comment[he]=פרוטוקול Gadu-Gadu
Comment[hu]=Gadu-Gadu protokoll
Comment[ia]=Protocollo Gadu-Gadu
Comment[it]=Protocollo Gadu-Gadu
Comment[ja]=Gadu-Gadu プロトコル
Comment[kk]=Gadu-Gadu протоколы
Comment[km]=ពិធីការ​ Gadu-Gadu
Comment[lt]=Gadu-Gadu protokolas
Comment[mr]=गडु-गडु शिष्टाचार
Comment[nb]=Gadu-Gadu-protokoll
Comment[nds]=Gadu-Gadu-Protokoll
Comment[nl]=Gadu-Gadu-protocol
Comment[nn]=Gadu-Gadu-protokoll
Comment[pl]=Protokół Gadu-Gadu
Comment[pt]=Protocolo Gadu-Gadu
Comment[pt_BR]=Protocolo do Gadu-Gadu
Comment[ro]=Protocol Gadu-Gadu
Comment[ru]=Протокол обмена сообщениями Gadu-Gadu
Comment[sk]=Protokol Gadu-Gadu
Comment[sl]=Protokol Gadu-Gadu
Comment[sr]=Протокол гаду‑гаду
Comment[sr@ijekavian]=Протокол гаду‑гаду
Comment[sr@ijekavianlatin]=Protokol Gadu‑Gadu
Comment[sr@latin]=Protokol Gadu‑Gadu
Comment[sv]=Gadu-Gadu protokoll
Comment[th]=โพรโทคอล Gadu-Gadu
Comment[tr]=Gadu-Gadu Protokolü
Comment[uk]=Протокол Gadu-Gadu
Comment[wa]=Protocole Gadu-gadu
Comment[x-test]=xxGadu-Gadu Protocolxx
Comment[zh_CN]=Gadu-Gadu 协议
Comment[zh_TW]=Gadu-Gadu 協定
Name=Gadu-Gadu
Name[bs]=Gadu-Gadu
Name[ca]=Gadu-Gadu
Name[ca@valencia]=Gadu-Gadu
Name[cs]=Gadu-Gadu
Name[da]=Gadu-Gadu
Name[de]=Gadu-Gadu
Name[el]=Gadu-Gadu
Name[en_GB]=Gadu-Gadu
Name[eo]=Gadu-Gadu
Name[es]=Gadu-Gadu
Name[et]=Gadu-Gadu
Name[fi]=Gadu-Gadu
Name[fr]=Gadu-Gadu
Name[ga]=Gadu-Gadu
Name[gl]=Gadu-Gadu
Name[he]=Gadu-Gadu
Name[hu]=Gadu-Gadu
Name[ia]=Gadu-Gadu
Name[it]=Gadu-Gadu
Name[ja]=Gadu-Gadu
Name[kk]=Gadu-Gadu
Name[km]=Gadu-Gadu
Name[lt]=Gadu-Gadu
Name[mr]=गडु-गडु
Name[nb]=Gadu-Gadu
Name[nds]=Gadu-Gadu
Name[nl]=Gadu-Gadu
Name[nn]=Gadu-Gadu
Name[pl]=Gadu-Gadu
Name[pt]=Gadu-Gadu
Name[pt_BR]=Gadu-Gadu
Name[ro]=Gadu-Gadu
Name[ru]=Gadu-Gadu
Name[sk]=Gadu-Gadu
Name[sl]=Gadu-Gadu
Name[sr]=Гаду‑гаду
Name[sr@ijekavian]=Гаду‑гаду
Name[sr@ijekavianlatin]=Gadu‑Gadu
Name[sr@latin]=Gadu‑Gadu
Name[sv]=Gadu-Gadu
Name[th]=Gadu-Gadu
Name[tr]=Gadu-Gadu
Name[ug]=گادۇ-گادۇ(Gadu-Gadu)
Name[uk]=Gadu-Gadu
Name[wa]=Gadu-Gadu
Name[x-test]=xxGadu-Gaduxx
Name[zh_CN]=Gadu-Gadu
Name[zh_TW]=Gadu-Gadu

