[Desktop Entry]
Type=Service
Icon=google_protocol
X-KDE-ServiceTypes=KABC/IMProtocol,KPluginInfo
X-KDE-InstantMessagingKABCField=messaging/googletalk
Comment=Google Talk
Comment[bs]=Google Talk
Comment[ca]=Google Talk
Comment[ca@valencia]=Google Talk
Comment[cs]=Google Talk
Comment[da]=Google Talk
Comment[de]=Google Talk
Comment[el]=Google Talk
Comment[es]=Google Talk
Comment[et]=Google Talk
Comment[fi]=Google Talk
Comment[fr]=Google Talk
Comment[gl]=Google Talk
Comment[hu]=Google Talk
Comment[ia]=Google Talk
Comment[it]=Google Talk
Comment[kk]=Google Talk
Comment[nb]=Google Talk
Comment[nl]=Google Talk
Comment[pl]=Google Talk
Comment[pt]=Google Talk
Comment[pt_BR]=Google Talk
Comment[ro]=Google Talk
Comment[ru]=Google Talk
Comment[sk]=Google Talk
Comment[sl]=Google Talk
Comment[sr]=Гугл‑разговор
Comment[sr@ijekavian]=Гугл‑разговор
Comment[sr@ijekavianlatin]=Google-razgovor
Comment[sr@latin]=Google-razgovor
Comment[sv]=Google Talk
Comment[tr]=Google Talk
Comment[ug]=گۇگىل سۆھبەت(Google Talk)
Comment[uk]=Google Talk
Comment[x-test]=xxGoogle Talkxx
Comment[zh_CN]=Google Talk
Comment[zh_TW]=Google Talk
Name=Google Talk
Name[bs]=Google Talk
Name[ca]=Google Talk
Name[ca@valencia]=Google Talk
Name[cs]=Google Talk
Name[da]=Google Talk
Name[de]=Google Talk
Name[el]=Google Talk
Name[es]=Google Talk
Name[et]=Google Talk
Name[fi]=Google Talk
Name[fr]=Google Talk
Name[gl]=Google Talk
Name[hu]=Google Talk
Name[ia]=Google Talk
Name[it]=Google Talk
Name[kk]=Google Talk
Name[nb]=Google Talk
Name[nl]=Google Talk
Name[pl]=Google Talk
Name[pt]=Google Talk
Name[pt_BR]=Google Talk
Name[ro]=Google Talk
Name[ru]=Google Talk
Name[sk]=Google Talk
Name[sl]=Google Talk
Name[sr]=Гугл‑разговор
Name[sr@ijekavian]=Гугл‑разговор
Name[sr@ijekavianlatin]=Google-razgovor
Name[sr@latin]=Google-razgovor
Name[sv]=Google Talk
Name[tr]=Google Talk
Name[ug]=گۇگىل سۆھبەت(Google Talk)
Name[uk]=Google Talk
Name[x-test]=xxGoogle Talkxx
Name[zh_CN]=Google Talk
Name[zh_TW]=Google Talk
