[Desktop Entry]
Type=Service
Icon=icq_protocol
X-KDE-ServiceTypes=KABC/IMProtocol,KPluginInfo
X-KDE-InstantMessagingKABCField=messaging/icq
Comment=ICQ Protocol
Comment[bs]=ICQ Protokol
Comment[ca]=Protocol ICQ
Comment[ca@valencia]=Protocol ICQ
Comment[cs]=Protokol ICQ
Comment[da]=ICQ-protokollen
Comment[de]=ICQ-Protokoll
Comment[el]=Πρωτόκολλο ICQ
Comment[en_GB]=ICQ Protocol
Comment[eo]=ICQ Protokolo
Comment[es]=Protocolo ICQ
Comment[et]=ICQ protokoll
Comment[fi]=ICQ-yhteyskäytäntö
Comment[fr]=Protocole ICQ
Comment[ga]=Prótacal ICQ
Comment[gl]=Protocolo ICQ
Comment[he]=פרוטוקול ICQ
Comment[hu]=ICQ protokoll
Comment[ia]=Protocollo ICQ
Comment[it]=Protocollo ICQ
Comment[ja]=ICQ プロトコル
Comment[kk]=ICQ протоколыl
Comment[km]=ពិធីការ​ ICQ
Comment[lt]=ICQ protokolas
Comment[mr]=ICQ शिष्टाचार
Comment[nb]=ICQ-protokoll
Comment[nds]=ICQ-Protokoll
Comment[nl]=ICQ-protocol
Comment[nn]=ICQ-protokoll
Comment[pl]=Protokół ICQ
Comment[pt]=Protocolo ICQ
Comment[pt_BR]=Protocolo do ICQ
Comment[ro]=Protocol ICQ
Comment[ru]=Протокол обмена сообщениями ICQ
Comment[sk]=Protokol ICQ
Comment[sl]=Protokol ICQ
Comment[sr]=Протокол ајсикју
Comment[sr@ijekavian]=Протокол ајсикју
Comment[sr@ijekavianlatin]=Protokol ICQ
Comment[sr@latin]=Protokol ICQ
Comment[sv]=ICQ-protokoll
Comment[th]=โพรโทคอล ICQ
Comment[tr]=ICQ Protokolü
Comment[uk]=Протокол ICQ
Comment[wa]=Protocole ICQ
Comment[x-test]=xxICQ Protocolxx
Comment[zh_CN]=ICQ 协议
Comment[zh_TW]=ICQ 協定
Name=ICQ
Name[bs]=ICQ
Name[ca]=ICQ
Name[ca@valencia]=ICQ
Name[cs]=ICQ
Name[da]=ICQ
Name[de]=ICQ
Name[el]=ICQ
Name[en_GB]=ICQ
Name[eo]=ICQ
Name[es]=ICQ
Name[et]=ICQ
Name[fi]=ICQ
Name[fr]=ICQ
Name[ga]=ICQ
Name[gl]=ICQ
Name[he]=ICQ
Name[hu]=ICQ
Name[ia]=ICQ
Name[it]=ICQ
Name[ja]=ICQ
Name[kk]=ICQ
Name[km]=ICQ
Name[lt]=ICQ
Name[mr]=ICQ
Name[nb]=ICQ
Name[nds]=ICQ
Name[nl]=ICQ
Name[nn]=ICQ
Name[pl]=ICQ
Name[pt]=ICQ
Name[pt_BR]=ICQ
Name[ro]=ICQ
Name[ru]=ICQ
Name[sk]=ICQ
Name[sl]=ICQ
Name[sr]=ајсикју
Name[sr@ijekavian]=ајсикју
Name[sr@ijekavianlatin]=ICQ
Name[sr@latin]=ICQ
Name[sv]=ICQ
Name[th]=ICQ
Name[tr]=ICQ
Name[ug]=ICQ
Name[uk]=ICQ
Name[wa]=ICQ
Name[x-test]=xxICQxx
Name[zh_CN]=ICQ
Name[zh_TW]=ICQ

