[Desktop Entry]
Type=Service
Icon=jabber_protocol
X-KDE-ServiceTypes=KABC/IMProtocol,KPluginInfo
X-KDE-InstantMessagingKABCField=messaging/xmpp
Comment=Jabber Protocol
Comment[bs]=Jabber Protokol
Comment[ca]=Protocol Jabber
Comment[ca@valencia]=Protocol Jabber
Comment[cs]=Protokol Jabber
Comment[da]=Jabber-protokollen
Comment[de]=Jabber-Protokoll
Comment[el]=Πρωτόκολλο Jabber
Comment[en_GB]=Jabber Protocol
Comment[eo]=Jabber Protokolo
Comment[es]=Protocolo Jabber
Comment[et]=Jabberi protokoll
Comment[fi]=Jabber-yhteyskäytäntö
Comment[fr]=Protocole Jabber
Comment[ga]=Prótacal Jabber
Comment[gl]=Protocolo Jabber
Comment[he]=פרוטוקול Jabber
Comment[hu]=Jabber protokoll
Comment[ia]=Protocollo Jabber
Comment[it]=Protocollo Jabber
Comment[ja]=Jabber プロトコル
Comment[kk]=Jabber протоколы
Comment[km]=ពិធី​​ការ​ Jabber
Comment[lt]=Jabber protokolas
Comment[mr]=जेबर शिष्टाचार
Comment[nb]=Jabber-protokoll
Comment[nds]=Jabber-Protokoll
Comment[nl]=Jabber-protocol
Comment[nn]=Jabber-protokoll
Comment[pl]=Protokół Jabber
Comment[pt]=Protocolo Jabber
Comment[pt_BR]=Protocolo do Jabber
Comment[ro]=Protocol Jabber
Comment[ru]=Протокол обмена сообщениями Jabber
Comment[sk]=Protokol Jabber
Comment[sl]=Protokol Jabber
Comment[sr]=Протокол џабер
Comment[sr@ijekavian]=Протокол џабер
Comment[sr@ijekavianlatin]=Protokol Jabber
Comment[sr@latin]=Protokol Jabber
Comment[sv]=Jabber-protokoll
Comment[th]=โพรโทคอล Jabber
Comment[tr]=Jabber Protocolü
Comment[uk]=Протокол Jabber
Comment[wa]=Protocole Jabber
Comment[x-test]=xxJabber Protocolxx
Comment[zh_CN]=Jabber 协议
Comment[zh_TW]=Jabber 協定
Name=Jabber
Name[bs]=Jabber
Name[ca]=Jabber
Name[ca@valencia]=Jabber
Name[cs]=Jabber
Name[da]=Jabber
Name[de]=Jabber
Name[el]=Jabber
Name[en_GB]=Jabber
Name[eo]=Jabber
Name[es]=Jabber
Name[et]=Jabber
Name[fi]=Jabber
Name[fr]=Jabber
Name[ga]=Jabber
Name[gl]=Jabber
Name[he]=Jabber
Name[hu]=Jabber
Name[ia]=Jabber
Name[it]=Jabber
Name[ja]=Jabber
Name[kk]=Jabber
Name[km]=Jabber
Name[lt]=Jabber
Name[mr]=जेबर
Name[nb]=Jabber
Name[nds]=Jabber
Name[nl]=Jabber
Name[nn]=Jabber
Name[pl]=Jabber
Name[pt]=Jabber
Name[pt_BR]=Jabber
Name[ro]=Jabber
Name[ru]=Jabber
Name[sk]=Jabber
Name[sl]=Jabber
Name[sr]=Џабер
Name[sr@ijekavian]=Џабер
Name[sr@ijekavianlatin]=Jabber
Name[sr@latin]=Jabber
Name[sv]=Jabber
Name[th]=Jabber
Name[tr]=Jabber
Name[ug]=Jabber
Name[uk]=Jabber
Name[wa]=Jabber
Name[x-test]=xxJabberxx
Name[zh_CN]=Jabber
Name[zh_TW]=Jabber

