[Desktop Entry]
Type=Service
Icon=meanwhile_protocol
X-KDE-ServiceTypes=KABC/IMProtocol,KPluginInfo
X-KDE-InstantMessagingKABCField=messaging/meanwhile
Comment=Meanwhile Protocol
Comment[bs]=Meanwhile Protokol
Comment[ca]=Protocol Meanwhile
Comment[ca@valencia]=Protocol Meanwhile
Comment[cs]=Protokol Meanwhile
Comment[da]=Meanwhile-protokollen
Comment[de]=Meanwhile-Protokoll
Comment[el]=Πρωτόκολλο Meanwhile
Comment[en_GB]=Meanwhile Protocol
Comment[eo]=Meanwhile Protokolo
Comment[es]=Protocolo Meanwhile
Comment[et]=Meanwhile'i protokoll
Comment[fi]=Meanwhile-yhteyskäytäntö
Comment[fr]=Protocole Meanwhile
Comment[ga]=Prótacal Meanwhile
Comment[gl]=Protocolo Meanwhile
Comment[he]=פרוטוקול Meanwhile
Comment[hu]=Meanwhile protokoll
Comment[ia]=Protocollo Meanwhile
Comment[it]=Protocollo Meanwhile
Comment[ja]=Meanwhile プロトコル
Comment[kk]=Meanwhile протоколы
Comment[km]=ពិធីការ​ Meanwhile
Comment[lt]=Meanwhile protokolas
Comment[mr]=मीनव्हाइल शिष्टाचार
Comment[nb]=Meanwhile-protokoll
Comment[nds]=Meanwhile-Protokoll
Comment[nl]=Meanwhile-protocol
Comment[nn]=Meanwhile-protokoll
Comment[pl]=Protokół Meanwhile
Comment[pt]=Protocolo Meanwhile
Comment[pt_BR]=Protocolo do Meanwhile
Comment[ro]=Protocol Meanwhile
Comment[ru]=Протокол обмена сообщениями Meanwhile
Comment[sk]=Protokol Meanwhile
Comment[sl]=Protokol Meanwhile
Comment[sr]=Протокол минвајл
Comment[sr@ijekavian]=Протокол минвајл
Comment[sr@ijekavianlatin]=Protokol Meanwhile
Comment[sr@latin]=Protokol Meanwhile
Comment[sv]=Meanwhile-protokoll
Comment[th]=โพรโทคอล Meanwhile
Comment[tr]=Meanwhile Protokolü
Comment[uk]=Протокол Meanwhile
Comment[wa]=Protocole Meanwhile
Comment[x-test]=xxMeanwhile Protocolxx
Comment[zh_CN]=Meanwhile 协议
Comment[zh_TW]=Meanwhile 協定
Name=Meanwhile
Name[bs]=Meanwhile
Name[ca]=Meanwhile
Name[ca@valencia]=Meanwhile
Name[cs]=Meanwhile
Name[da]=Meanwhile
Name[de]=Meanwhile
Name[el]=Meanwhile
Name[en_GB]=Meanwhile
Name[eo]=Meanwhile
Name[es]=Meanwhile
Name[et]=Meanwhile
Name[fi]=Meanwhile
Name[fr]=Meanwhile
Name[ga]=Meanwhile
Name[gl]=Meanwhile
Name[he]=Meanwhile
Name[hu]=Meanwhile
Name[ia]=Meanwhile
Name[it]=Meanwhile
Name[ja]=Meanwhile
Name[kk]=Meanwhile
Name[km]=Meanwhile
Name[lt]=Meanwhile
Name[mr]=मीनव्हाइल
Name[nb]=Meanwhile
Name[nds]=Meanwhile
Name[nl]=Meanwhile
Name[nn]=Meanwhile
Name[pl]=Meanwhile
Name[pt]=Meanwhile
Name[pt_BR]=Meanwhile
Name[ro]=Meanwhile
Name[ru]=Meanwhile
Name[sk]=Meanwhile
Name[sl]=Meanwhile
Name[sr]=Минвајл
Name[sr@ijekavian]=Минвајл
Name[sr@ijekavianlatin]=Meanwhile
Name[sr@latin]=Meanwhile
Name[sv]=Meanwhile
Name[th]=Meanwhile
Name[tr]=Meanwhile
Name[ug]=Meanwhile
Name[uk]=Meanwhile
Name[wa]=Meanwhile
Name[x-test]=xxMeanwhilexx
Name[zh_CN]=Meanwhile
Name[zh_TW]=Meanwhile

