[Desktop Entry]
Type=Service
Icon=msn_protocol
X-KDE-ServiceTypes=KABC/IMProtocol,KPluginInfo
X-KDE-InstantMessagingKABCField=messaging/msn
Comment=MSN Messenger
Comment[bs]=MSN Mesendžer
Comment[ca]=MSN Messenger
Comment[ca@valencia]=MSN Messenger
Comment[cs]=MSN Messenger
Comment[da]=MSN Messenger
Comment[de]=MSN-Nachrichtendienst
Comment[el]=Αποστολέας μηνυμάτων MSN
Comment[en_GB]=MSN Messenger
Comment[eo]=MSN Mesaĝilo
Comment[es]=MSN Messenger
Comment[et]=MSN Messenger
Comment[fi]=MSN Messenger
Comment[fr]=Messagerie MSN
Comment[ga]=MSN Messenger
Comment[gl]=Mensaxeiro MSN
Comment[he]=פרוטוקול MSN
Comment[hu]=MSN Messenger
Comment[ia]=Messaggero MSN
Comment[it]=MSN Messenger
Comment[ja]=MSN メッセンジャー
Comment[kk]=MSN хабарласуы
Comment[km]=កម្មវិធី​ផ្ញើសារ MSN
Comment[lt]=MSN žinučių klientas
Comment[mr]=एमएसएन संदेशवाहक
Comment[nb]=MSN Messenger
Comment[nds]=MSN-Kortnarichtenmaker
Comment[nl]=MSN Messenger
Comment[nn]=MSN Messenger
Comment[pl]=MSN Messenger
Comment[pt]=MSN Messenger
Comment[pt_BR]=MSN Messenger
Comment[ro]=Mesagerul MSN
Comment[ru]=Протокол обмена сообщениями MSN
Comment[sk]=MSN Messenger
Comment[sl]=MSN Messenger
Comment[sr]=МСН месенџер
Comment[sr@ijekavian]=МСН месенџер
Comment[sr@ijekavianlatin]=MSN Messenger
Comment[sr@latin]=MSN Messenger
Comment[sv]=MSN Messenger
Comment[tr]=MSN Messenger
Comment[ug]=MSN Messenger
Comment[uk]=MSN Messenger
Comment[wa]=MSN Messenger
Comment[x-test]=xxMSN Messengerxx
Comment[zh_CN]=MSN Messenger
Comment[zh_TW]=MSN
Name=MSN Messenger
Name[bs]=MSN Mesendžer
Name[ca]=MSN Messenger
Name[ca@valencia]=MSN Messenger
Name[cs]=MSN Messenger
Name[da]=MSN Messenger
Name[de]=MSN Messenger
Name[el]=Αποστολέας μηνυμάτων MSN
Name[en_GB]=MSN Messenger
Name[eo]=MSN mesaĝilo
Name[es]=MSN Messenger
Name[et]=MSN Messenger
Name[fi]=MSN Messenger
Name[fr]=Messagerie MSN
Name[ga]=MSN Messenger
Name[gl]=MSN Messenger
Name[he]=MSN Messenger
Name[hu]=MSN Messenger
Name[ia]=Messaggero MSN
Name[it]=MSN Messenger
Name[ja]=MSN メッセンジャー
Name[kk]=MSN Messenger
Name[km]=កម្មវិធី​ផ្ញើសារ MSN
Name[lt]=MSN žinučių klientas
Name[mr]=एमएसएन संदेशवाहक
Name[nb]=MSN Messenger
Name[nds]=MSN-Kortnarichtenmaker
Name[nl]=MSN Messenger
Name[nn]=MSN Messenger
Name[pl]=MSN Messenger
Name[pt]=MSN Messenger
Name[pt_BR]=MSN Messenger
Name[ro]=Mesagerul MSN
Name[ru]=MSN
Name[sk]=MSN Messenger
Name[sl]=MSN Messenger
Name[sr]=МСН месенџер
Name[sr@ijekavian]=МСН месенџер
Name[sr@ijekavianlatin]=MSN Messenger
Name[sr@latin]=MSN Messenger
Name[sv]=MSN Messenger
Name[tr]=MSN Messenger
Name[ug]=MSN Messenger
Name[uk]=MSN Messenger
Name[wa]=MSN Messenger
Name[x-test]=xxMSN Messengerxx
Name[zh_CN]=MSN Messenger
Name[zh_TW]=MSN

