[Desktop Entry]
Type=Service
Icon=skype_protocol
X-KDE-ServiceTypes=KABC/IMProtocol,KPluginInfo
X-KDE-InstantMessagingKABCField=messaging/skype
Comment=Skype Internet Telephony
Comment[bs]=Skype (Skajp) internet tehnologija
Comment[ca]=Telefonia d'Internet Skype
Comment[ca@valencia]=Telefonia d'Internet Skype
Comment[cs]=Internetová telefonie Skype
Comment[da]=Internettelefoni med Skype
Comment[de]=Skype-Internettelefonie
Comment[el]=Διαδικτυακή τηλεφωνία Skype
Comment[en_GB]=Skype Internet Telephony
Comment[eo]=Skype Interreta Telefonado
Comment[es]=Telefonía por Internet de Skype
Comment[et]=Internetitelefon Skype
Comment[fi]=Skype-internetpuhelin
Comment[fr]=Téléphonie Internet Skype
Comment[ga]=Teileafónaíocht Idirlín Skype
Comment[gl]=Telefonía por Internet de Skype
Comment[he]=טלפוניית אינטרנט של Skype
Comment[hu]=Skype internetes telefon
Comment[ia]=Telephonia Internet de Skype
Comment[it]=Telefonia su Internet di Skype
Comment[ja]=Skype インターネット電話
Comment[kk]=Skype Интернет телефоны
Comment[km]=ទូរស័ព្ទ​តាម​អ៊ីនធឺណិត​ ​Skype​
Comment[lt]=Skype interneto telefonija
Comment[mr]=स्काइप इंटरनेट टेलिफोनी
Comment[nb]=Skype IP-telefoni
Comment[nds]=Internet-Telefoneren mit Skype
Comment[nl]=Skype internet-telefonie
Comment[nn]=Skype Internett-telefoni
Comment[pl]=Internetowa telefonia Skype
Comment[pt]=Telefonia Internet Skype
Comment[pt_BR]=Telefonia Internet Skype
Comment[ro]=Telefonie prin internet Skype
Comment[ru]=Интернет-телефония Skype
Comment[sk]=Skype Internet Telephony
Comment[sl]=Medmrežna telefonija Skype
Comment[sr]=Скајп, интернет телефонија
Comment[sr@ijekavian]=Скајп, интернет телефонија
Comment[sr@ijekavianlatin]=Skype, internet telefonija
Comment[sr@latin]=Skype, internet telefonija
Comment[sv]=Skype Internettelefoni
Comment[tr]=Skype Internet Telefonu
Comment[uk]=Інтернет-телефонія Skype
Comment[wa]=Telefoneye sol Daegntoele Skype
Comment[x-test]=xxSkype Internet Telephonyxx
Comment[zh_CN]=Skype 互联网电话
Comment[zh_TW]=Skype 網路電話
Name=Skype
Name[bs]=Skype (Skajp)
Name[ca]=Skype
Name[ca@valencia]=Skype
Name[cs]=Skype
Name[da]=Skype
Name[de]=Skype
Name[el]=Skype
Name[en_GB]=Skype
Name[eo]=kype
Name[es]=Skype
Name[et]=Skype
Name[fi]=Skype
Name[fr]=Skype
Name[ga]=Skype
Name[gl]=Skype
Name[he]=Skype
Name[hu]=Skype
Name[ia]=Skype
Name[it]=Skype
Name[ja]=Skype
Name[kk]=Skype
Name[km]=Skype
Name[lt]=Skype
Name[mr]=स्काइप
Name[nb]=Skype
Name[nds]=Skype
Name[nl]=Skype
Name[nn]=Skype
Name[pl]=Skype
Name[pt]=Skype
Name[pt_BR]=Skype
Name[ro]=Skype
Name[ru]=Skype
Name[sk]=Skype
Name[sl]=Skype
Name[sr]=Скајп
Name[sr@ijekavian]=Скајп
Name[sr@ijekavianlatin]=Skype
Name[sr@latin]=Skype
Name[sv]=Skype
Name[th]=Skype
Name[tr]=Skype
Name[ug]=Skype
Name[uk]=Skype
Name[wa]=Skype
Name[x-test]=xxSkypexx
Name[zh_CN]=Skype
Name[zh_TW]=Skype
