[Desktop Entry]
Type=Service
Icon=sms_protocol
X-KDE-ServiceTypes=KABC/IMProtocol,KPluginInfo
X-KDE-InstantMessagingKABCField=messaging/sms
Comment=SMS Protocol
Comment[bs]=SMS Protokol
Comment[ca]=Protocol SMS
Comment[ca@valencia]=Protocol SMS
Comment[cs]=SMS protokol
Comment[da]=SMS-protokol
Comment[de]=SMS-Protokoll
Comment[el]=Πρωτόκολλο SMS
Comment[en_GB]=SMS Protocol
Comment[eo]=SMS Protokolo
Comment[es]=Protocolo SMS
Comment[et]=SMS protokoll
Comment[fi]=Tekstiviestiyhteyskäytäntö
Comment[fr]=Protocole SMS
Comment[ga]=Prótacal SMS
Comment[gl]=Protocolo SMS
Comment[he]=פרוטוקול מסרונים
Comment[hu]=SMS protokoll
Comment[ia]=Protocollo SMS
Comment[it]=Protocollo SMS
Comment[ja]=SMS プロトコル
Comment[kk]=SMS протоколы
Comment[km]=ពិធីការ​ SMS ​​
Comment[lt]=SMS protokolas
Comment[mr]=एसएमएस शिष्टाचार
Comment[nb]=SMS Protokoll
Comment[nds]=SMS-Protokoll
Comment[nl]=SMS-protocol
Comment[nn]=SMS-protokoll
Comment[pl]=Protokół SMS
Comment[pt]=Protocolo SMS
Comment[pt_BR]=Protocolo SMS
Comment[ro]=Protocol SMS
Comment[ru]=Протокол SMS
Comment[sk]=Protokol SMS
Comment[sl]=Protokol SMS
Comment[sr]=Протокол СМС
Comment[sr@ijekavian]=Протокол СМС
Comment[sr@ijekavianlatin]=Protokol SMS
Comment[sr@latin]=Protokol SMS
Comment[sv]=SMS-protokoll
Comment[th]=โพรโทคอล SMS
Comment[tr]=SMS Protokolü
Comment[uk]=Протокол SMS
Comment[wa]=Protocole SMS
Comment[x-test]=xxSMS Protocolxx
Comment[zh_CN]=短消息协议
Comment[zh_TW]=SMS 協定
Name=SMS
Name[bs]=SMS
Name[ca]=SMS
Name[ca@valencia]=SMS
Name[cs]=SMS
Name[da]=SMS
Name[de]=SMS
Name[el]=SMS
Name[en_GB]=SMS
Name[eo]=SMS
Name[es]=SMS
Name[et]=SMS
Name[fi]=Tekstiviesti
Name[fr]=SMS
Name[ga]=SMS
Name[gl]=SMS
Name[he]=מסרון
Name[hu]=SMS
Name[ia]=SMS
Name[it]=SMS
Name[ja]=SMS
Name[kk]=SMS
Name[km]=SMS
Name[lt]=SMS
Name[mr]=एसएमएस
Name[nb]=SMS
Name[nds]=SMS
Name[nl]=SMS
Name[nn]=SMS
Name[pl]=SMS
Name[pt]=SMS
Name[pt_BR]=SMS
Name[ro]=SMS
Name[ru]=SMS
Name[sk]=SMS
Name[sl]=SMS
Name[sr]=СМС
Name[sr@ijekavian]=СМС
Name[sr@ijekavianlatin]=SMS
Name[sr@latin]=SMS
Name[sv]=SMS
Name[th]=SMS
Name[tr]=SMS
Name[ug]=SMS
Name[uk]=SMS
Name[wa]=SMS
Name[x-test]=xxSMSxx
Name[zh_CN]=SMS
Name[zh_TW]=SMS

