[Desktop Entry]
Type=Service
Icon=yahoo_protocol
X-KDE-ServiceTypes=KABC/IMProtocol,KPluginInfo
X-KDE-InstantMessagingKABCField=messaging/yahoo
Comment=Yahoo Protocol
Comment[bs]=Yahoo Protokol
Comment[ca]=Protocol Yahoo
Comment[ca@valencia]=Protocol Yahoo
Comment[cs]=Protokol Yahoo
Comment[da]=Yahoo-protokollen
Comment[de]=Yahoo-Protokoll
Comment[el]=Πρωτόκολλο Yahoo
Comment[en_GB]=Yahoo Protocol
Comment[eo]=Yahoo Protokolo
Comment[es]=Protocolo Yahoo
Comment[et]=Yahoo protokoll
Comment[fi]=Yahoo-yhteyskäytäntö
Comment[fr]=Protocole Yahoo
Comment[ga]=Prótacal Yahoo
Comment[gl]=Protocolo Yahoo
Comment[he]=פרוטוקול Yahoo
Comment[hu]=Yahoo protokoll
Comment[ia]=Protocollo Yahoo
Comment[it]=Protocollo Yahoo
Comment[ja]=Yahoo プロトコル
Comment[kk]=Yahoo протоколы
Comment[km]=ពិធីការ​យ៉ាហ៊ូ​
Comment[lt]=Yahoo protokolas
Comment[mr]=याहू शिष्टाचार
Comment[nb]=Yahoo-protokoll
Comment[nds]=Yahoo-Protokoll
Comment[nl]=Yahoo-protocol
Comment[nn]=Yahoo!-protokoll
Comment[pl]=Protokół Yahoo
Comment[pt]=Protocolo Yahoo
Comment[pt_BR]=Protocolo do Yahoo
Comment[ro]=Protocol Yahoo
Comment[ru]=Протокол Yahoo
Comment[sk]=Protokol Yahoo
Comment[sl]=Protokol Yahoo
Comment[sr]=Протокол Јахуа
Comment[sr@ijekavian]=Протокол Јахуа
Comment[sr@ijekavianlatin]=Protokol Yahooa
Comment[sr@latin]=Protokol Yahooa
Comment[sv]=Yahoo-protokoll
Comment[th]=โพรโทคอล Yahoo
Comment[tr]=Yahoo Protokolü
Comment[uk]=Протокол Yahoo
Comment[wa]=Protocole Yahoo
Comment[x-test]=xxYahoo Protocolxx
Comment[zh_CN]=Yahoo 协议
Comment[zh_TW]=Yahoo 協定
Name=Yahoo
Name[bs]=Yahoo
Name[ca]=Yahoo
Name[ca@valencia]=Yahoo
Name[cs]=Yahoo
Name[da]=Yahoo
Name[de]=Yahoo
Name[el]=Yahoo
Name[en_GB]=Yahoo
Name[eo]=Yahoo
Name[es]=Yahoo
Name[et]=Yahoo
Name[fi]=Yahoo
Name[fr]=Yahoo
Name[ga]=Yahoo
Name[gl]=Yahoo
Name[he]=Yahoo
Name[hu]=Yahoo
Name[ia]=Yahoo
Name[it]=Yahoo
Name[ja]=Yahoo
Name[kk]=Yahoo
Name[km]=យ៉ាហ៊ូ​
Name[lt]=Yahoo
Name[mr]=याहू 
Name[nb]=Yahoo
Name[nds]=Yahoo
Name[nl]=Yahoo
Name[nn]=Yahoo
Name[pl]=Yahoo
Name[pt]=Yahoo
Name[pt_BR]=Yahoo
Name[ro]=Yahoo
Name[ru]=Yahoo
Name[sk]=Yahoo
Name[sl]=Yahoo
Name[sr]=Јаху
Name[sr@ijekavian]=Јаху
Name[sr@ijekavianlatin]=Yahoo
Name[sr@latin]=Yahoo
Name[sv]=Yahoo
Name[th]=Yahoo
Name[tr]=Yahoo
Name[ug]=ياخۇ
Name[uk]=Yahoo
Name[wa]=Yahoo
Name[x-test]=xxYahooxx
Name[zh_CN]=Yahoo
Name[zh_TW]=Yahoo

