[Desktop Entry]
Name=eGroupware
Name[bg]=eGroupware
Name[bs]=eGroupware
Name[ca]=eGroupware
Name[ca@valencia]=eGroupware
Name[cs]=eGroupware
Name[da]=eGroupware
Name[de]=eGroupware
Name[el]=eGroupware
Name[es]=eGroupware
Name[et]=eGroupware
Name[fi]=eGroupware
Name[fr]=eGroupware
Name[ga]=eGroupware
Name[gl]=eGroupware
Name[hu]=eGroupware
Name[ia]=eGroupware
Name[it]=eGroupware
Name[kk]=eGroupware
Name[km]=eGroupware
Name[ko]=eGroupware
Name[lt]=eGroupware
Name[lv]=eGroupware
Name[mr]=इ-ग्रुपवेअर
Name[nb]=eGroupware
Name[nds]=eGroupware
Name[nl]=eGroupware
Name[pl]=eGroupware
Name[pt]=eGroupware
Name[pt_BR]=eGroupware
Name[ro]=eGroupware
Name[ru]=eGroupware
Name[sk]=eGroupware
Name[sl]=eGroupware
Name[sr]=Е‑групвер
Name[sr@ijekavian]=Е‑групвер
Name[sr@ijekavianlatin]=EGroupware
Name[sr@latin]=EGroupware
Name[sv]=eGroupware
Name[tr]=eGroupware
Name[uk]=eGroupware
Name[x-test]=xxeGroupwarexx
Name[zh_CN]=eGroupware
Name[zh_TW]=eGroupware
Type=Service
X-KDE-ServiceTypes=DavGroupwareProvider

X-DavGroupware-SupportedProtocols=CalDav,CardDav
X-DavGroupware-CalDavPath=/groupdav.php
X-DavGroupware-CardDavPath=/groupdav.php
