[Desktop Entry]
Name=ownCloud (< 5.0)
Name[bs]=ownCloud (< 5.0)
Name[ca]=ownCloud (< 5.0)
Name[ca@valencia]=ownCloud (< 5.0)
Name[cs]=ownCloud (< 5.0)
Name[da]=ownCloud (< 5.0)
Name[de]=ownCloud (< 5.0)
Name[el]=ownCloud (<5.0)
Name[es]=ownCloud (< 5.0)
Name[fi]=ownCloud (< 5.0)
Name[fr]=ownCloud (< 5.0)
Name[gl]=ownCloud (< 5.0)
Name[hu]=ownCloud (< 5.0)
Name[ia]=ownCloud (<5.0)
Name[it]=ownCloud (< 5.0)
Name[kk]=ownCloud (< 5.0)
Name[ko]=ownCloud (< 5.0)
Name[nb]=ownCloud (< 5.0)
Name[nl]=ownCloud (< 5.0)
Name[pl]=ownCloud (< 5.0)
Name[pt]=ownCloud (< 5.0)
Name[pt_BR]=ownCloud (< 5.0)
Name[ru]=ownCloud (< 5.0)
Name[sk]=ownCloud (< 5.0)
Name[sr]=Оунклауд (< 5.0)
Name[sr@ijekavian]=Оунклауд (< 5.0)
Name[sr@ijekavianlatin]=ownCloud (< 5.0)
Name[sr@latin]=ownCloud (< 5.0)
Name[sv]=ownCloud (< 5.0)
Name[tr]=ownCloud (< 5.0)
Name[uk]=ownCloud (< 5.0)
Name[x-test]=xxownCloud (< 5.0)xx
Name[zh_CN]=ownCloud (< 5.0)
Name[zh_TW]=ownCloud (< 5.0)
Type=Service
X-KDE-ServiceTypes=DavGroupwareProvider

X-DavGroupware-SupportedProtocols=CalDav,CardDav
X-DavGroupware-CalDavPath=/apps/calendar/caldav.php
X-DavGroupware-CardDavPath=/apps/contacts/carddav.php
