[Desktop Entry]
Name=ScalableOGo
Name[bg]=ScalableOGo
Name[bs]=ScalableOGo
Name[ca]=ScalableOGo
Name[ca@valencia]=ScalableOGo
Name[cs]=ScalableOGo
Name[da]=ScalableOGo
Name[de]=ScalableOGo
Name[el]=ScalableOGo
Name[es]=ScalableOGo
Name[et]=ScalableOGo
Name[fi]=ScalableOGo
Name[fr]=ScalableOGo
Name[ga]=ScalableOGo
Name[gl]=ScalableOGo
Name[hu]=ScalableOGo
Name[ia]=ScalableOGo
Name[it]=ScalableOGo
Name[kk]=ScalableOGo
Name[km]=ScalableOGo
Name[ko]=ScalableOGo
Name[lt]=ScalableOGo
Name[lv]=ScalableOGo
Name[nb]=ScalableOGo
Name[nds]=ScalableOGo
Name[nl]=ScalableOGo
Name[pl]=ScalableOGo
Name[pt]=ScalableOGo
Name[pt_BR]=ScalableOGo
Name[ro]=ScalableOGo
Name[ru]=ScalableOGo
Name[sk]=ScalableOGo
Name[sl]=ScalableOGo
Name[sr]=Скејлабл‑ого
Name[sr@ijekavian]=Скејлабл‑ого
Name[sr@ijekavianlatin]=ScalableOGo
Name[sr@latin]=ScalableOGo
Name[sv]=ScalableOGo
Name[tr]=ScalableOGo
Name[uk]=ScalableOGo
Name[x-test]=xxScalableOGoxx
Name[zh_CN]=ScalableOGo
Name[zh_TW]=ScalableOGo
Type=Service
X-KDE-ServiceTypes=DavGroupwareProvider

X-DavGroupware-SupportedProtocols=CalDav,CardDav
X-DavGroupware-InstallationPath=/SOGo
X-DavGroupware-CalDavPath=/dav/$user$/Calendar
X-DavGroupware-CardDavPath=/dav/$user$/Contacts
