[Desktop Entry]
Name=Zarafa
Name[bg]=Zarafa
Name[bs]=Zarafa
Name[ca]=Zarafa
Name[ca@valencia]=Zarafa
Name[cs]=Zarafa
Name[da]=Zarafa
Name[de]=Zarafa
Name[el]=Zarafa
Name[es]=Zarafa
Name[et]=Zarafa
Name[fi]=Zarafa
Name[fr]=Zarafa
Name[ga]=Zarafa
Name[gl]=Zarafa
Name[hu]=Zarafa
Name[ia]=Zarafa
Name[it]=Zarafa
Name[kk]=Zarafa
Name[km]=Zarafa
Name[ko]=Zarafa
Name[lt]=Zarafa
Name[lv]=Zarafa
Name[mr]=झराफा
Name[nb]=Zarafa
Name[nds]=Zarafa
Name[nl]=Zarafa
Name[pl]=Zarafa
Name[pt]=Zarafa
Name[pt_BR]=Zarafa
Name[ro]=Zarafa
Name[ru]=Zarafa
Name[sk]=Zarafa
Name[sl]=Zarafa
Name[sr]=Зарафа
Name[sr@ijekavian]=Зарафа
Name[sr@ijekavianlatin]=Zarafa
Name[sr@latin]=Zarafa
Name[sv]=Zarafa
Name[tr]=Zarafa
Name[uk]=Zarafa
Name[x-test]=xxZarafaxx
Name[zh_CN]=Zarafa
Name[zh_TW]=Zarafa
Type=Service
X-KDE-ServiceTypes=DavGroupwareProvider

X-DavGroupware-SupportedProtocols=CalDav
X-DavGroupware-CalDavPath=/caldav/$user$
