#lxdm {
	background-image: url("blackarch.jpg")
}

#bottom_pane {
	background-color: rgba(0,0,0,0.24);
}

#time {
	font: "Terminus";
	color: #0d3264;
}

#user_list, #login_entry {
	background-image: none;
	background-color: #000000;
	color: #6298e0;
}

#prompt, #bottom_pane GtkLabel {
	color: #6298e0;
}
