[Desktop Entry]
Type=Service
ServiceTypes=KonqPopupMenu/Plugin
MimeType=all/all;
Actions=compressHere;compressAsZip;compressAsRar;compressAsTar;compressTo;
X-KDE-Submenu=Compress
X-KDE-Submenu[ar]=اضغط
X-KDE-Submenu[ast]=Comprimir
X-KDE-Submenu[bg]=Компресиране
X-KDE-Submenu[bs]=Kompresuj
X-KDE-Submenu[ca]=Compressió
X-KDE-Submenu[ca@valencia]=Compressió
X-KDE-Submenu[cs]=Zkomprimovat
X-KDE-Submenu[da]=Komprimér
X-KDE-Submenu[de]=Komprimieren
X-KDE-Submenu[el]=Συμπίεση
X-KDE-Submenu[en_GB]=Compress
X-KDE-Submenu[es]=Comprimir
X-KDE-Submenu[et]=Paki
X-KDE-Submenu[eu]=Konprimatu
X-KDE-Submenu[fi]=Pakkaa
X-KDE-Submenu[fr]=Compresser
X-KDE-Submenu[ga]=Comhbhrúigh
X-KDE-Submenu[gl]=Comprimir
X-KDE-Submenu[hne]=संपीडित करव
X-KDE-Submenu[hr]=Zapakiraj
X-KDE-Submenu[hu]=Tömörítés
X-KDE-Submenu[ia]=Comprime
X-KDE-Submenu[id]=Kompres
X-KDE-Submenu[it]=Comprimi
X-KDE-Submenu[ja]=圧縮
X-KDE-Submenu[kk]=Сығу
X-KDE-Submenu[km]=បង្ហាប់
X-KDE-Submenu[ko]=압축하기
X-KDE-Submenu[lt]=Suspausti
X-KDE-Submenu[lv]=Saspiest
X-KDE-Submenu[mr]=संक्षिप्त करा
X-KDE-Submenu[nb]=Komprimer
X-KDE-Submenu[nds]=Komprimeren
X-KDE-Submenu[nl]=Comprimeren
X-KDE-Submenu[nn]=Komprimer
X-KDE-Submenu[pa]=ਕੰਪਰੈੱਸ
X-KDE-Submenu[pl]=Kompresuj
X-KDE-Submenu[pt]=Comprimir
X-KDE-Submenu[pt_BR]=Compactar
X-KDE-Submenu[ro]=Comprimă
X-KDE-Submenu[ru]=Упаковать
X-KDE-Submenu[sk]=Komprimovať
X-KDE-Submenu[sl]=Stisni
X-KDE-Submenu[sq]=Ngjish
X-KDE-Submenu[sr]=Компресуј
X-KDE-Submenu[sr@ijekavian]=Компресуј
X-KDE-Submenu[sr@ijekavianlatin]=Kompresuj
X-KDE-Submenu[sr@latin]=Kompresuj
X-KDE-Submenu[sv]=Komprimera
X-KDE-Submenu[th]=บีบข้อมูล
X-KDE-Submenu[tr]=Sıkıştır
X-KDE-Submenu[ug]=پرېس
X-KDE-Submenu[uk]=Стиснути
X-KDE-Submenu[wa]=Rastrinde
X-KDE-Submenu[x-test]=xxCompressxx
X-KDE-Submenu[zh_CN]=压缩
X-KDE-Submenu[zh_TW]=壓縮
X-KDE-StartupNotify=false
X-KDE-Priority=TopLevel

[Desktop Action compressHere]
Name=Here
Name[ar]=هنا
Name[ast]=Equí
Name[bs]=ovdje
Name[ca]=Aquí
Name[ca@valencia]=Ací
Name[cs]=Sem
Name[da]=Her
Name[de]=Hier
Name[el]=Εδώ
Name[en_GB]=Here
Name[es]=Aquí
Name[et]=Siia
Name[eu]=Hemen
Name[fi]=Tähän
Name[fr]=Ici
Name[ga]=Anseo
Name[gl]=Aquí
Name[hr]=Ovdje
Name[hu]=Ide
Name[ia]=Hic
Name[id]=Di Sini
Name[is]=Hér
Name[it]=Qui
Name[ja]=ここに
Name[kk]=Осында
Name[km]=នៅ​ទីនេះ
Name[ko]=여기
Name[lt]=Čia
Name[lv]=Šeit
Name[mr]=येथे
Name[nb]=Her
Name[nds]=Hier
Name[nl]=Hier
Name[nn]=Her
Name[pa]=ਇੱਥੇ
Name[pl]=Tutaj
Name[pt]=Aqui
Name[pt_BR]=Aqui
Name[ro]=Aici
Name[ru]=В эту папку
Name[sk]=Sem
Name[sl]=Sem
Name[sq]=Këtu
Name[sr]=овде
Name[sr@ijekavian]=овдје
Name[sr@ijekavianlatin]=ovdje
Name[sr@latin]=ovde
Name[sv]=Här
Name[th]=ไว้ที่นี่
Name[tr]=Buraya
Name[ug]=بۇ جاي
Name[uk]=Сюди
Name[wa]=Cial
Name[x-test]=xxHerexx
Name[zh_CN]=这里
Name[zh_TW]=這裡
Icon=ark
Exec=ark --changetofirstpath --add --autofilename tar.gz %F

[Desktop Action compressAsZip]
Name=As ZIP Archive
Name[ar]=ك أرشيف ZIP
Name[ast]=Como archivu comprimíu ZIP
Name[bs]=kao ZIP arhivu
Name[ca]=Com a arxiu ZIP
Name[ca@valencia]=Com a arxiu ZIP
Name[cs]=Jako archiv ZIP
Name[da]=Som ZIP-arkiv
Name[de]=Als ZIP-Archiv
Name[el]=Ως αρχειοθήκη ZIP
Name[en_GB]=As ZIP Archive
Name[es]=Como archivo comprimido ZIP
Name[et]=ZIP-arhiivina
Name[eu]=ZIP artxibo gisa
Name[fi]=Zip-paketiksi
Name[fr]=Comme une archive « ZIP »
Name[ga]=Mar Chartlann ZIP
Name[gl]=Como arquivo ZIP
Name[hr]=Kao ZIP-arhiva
Name[hu]=ZIP archívumként
Name[ia]=Como archivo ZIP
Name[id]=Sebagai Arsip ZIP
Name[it]=Come archivio ZIP
Name[ja]=ZIP アーカイブに
Name[kk]=ZIP архиві қылып
Name[km]=ជា​ប័ណ្ណសារ ZIP
Name[ko]=ZIP 파일로
Name[lt]=ZIP archyvas
Name[lv]=Kā ZIP arhīvu
Name[mr]=ZIP संग्रह प्रमाणे
Name[nb]=Som ZIP-arkiv
Name[nds]=As Zip-Archiev
Name[nl]=Als ZIP-archief
Name[nn]=Som ZIP-arkiv
Name[pa]=ਜ਼ਿਪ ਅਕਾਇਵ ਵਾਂਗ
Name[pl]=Jako archiwum ZIP
Name[pt]=Como Pacote ZIP
Name[pt_BR]=Como arquivo ZIP
Name[ro]=Ca arhivă ZIP
Name[ru]=Как архив ZIP
Name[sk]=Do ZIP archívu
Name[sl]=Kot arhiv ZIP
Name[sq]=Si Arkiv ZIP
Name[sr]=као ЗИП архиву
Name[sr@ijekavian]=као ЗИП архиву
Name[sr@ijekavianlatin]=kao ZIP arhivu
Name[sr@latin]=kao ZIP arhivu
Name[sv]=Som ZIP-arkiv
Name[th]=เป็นแฟ้มจัดเก็บบีบอัดแบบ ZIP
Name[tr]=ZIP Arşivi Olarak
Name[ug]=ZIP ئارخىپى
Name[uk]=Як архів ZIP
Name[wa]=Come årtchive ZIP
Name[x-test]=xxAs ZIP Archivexx
Name[zh_CN]=为 ZIP 归档
Name[zh_TW]=成 ZIP 壓縮檔
Icon=ark
Exec=ark --changetofirstpath --add --autofilename zip %F

[Desktop Action compressAsRar]
Name=As RAR Archive
Name[ar]=كأرشيف RAR
Name[ast]=Como archivu comprimíu RAR
Name[bs]=kao RAR arhivu
Name[ca]=Com a arxiu RAR
Name[ca@valencia]=Com a arxiu RAR
Name[cs]=Jako archiv RAR
Name[da]=Som RAR-arkiv
Name[de]=Als RAR-Archiv
Name[el]=Ως αρχειοθήκη RAR
Name[en_GB]=As RAR Archive
Name[es]=Como archivo comprimido RAR
Name[et]=RAR-arhiivina
Name[eu]=RAR artxiboa gisa
Name[fi]=RAR-paketiksi
Name[fr]=Comme une archive « RAR »
Name[ga]=Mar Chartlann RAR
Name[gl]=Como arquivo RAR
Name[hr]=Kao RAR-arhiva
Name[hu]=RAR archívumként
Name[ia]=Como archivo RAR
Name[id]=Sebagai Arsip RAR
Name[it]=Come archivio RAR
Name[ja]=RAR アーカイブに
Name[kk]=RAR архиві қылып
Name[km]=​ជា​ប័ណ្ណសារ RAR
Name[ko]=RAR 파일로
Name[lt]=RAR archyvas
Name[lv]=Kā RAR arhīvu
Name[mr]=RAR संग्रह प्रमाणे
Name[nb]=Som RAR-arkiv
Name[nds]=As RAR-Archiev
Name[nl]=Als RAR-archief
Name[nn]=Som RAR-arkiv
Name[pa]=RAR ਅਕਾਇਵ ਵਾਂਗ
Name[pl]=Jako archiwum RAR
Name[pt]=Como Pacote RAR
Name[pt_BR]=Como arquivo RAR
Name[ro]=Ca arhivă RAR
Name[ru]=Как архив RAR
Name[sk]=Do RAR archívu
Name[sl]=Kot arhiv RAR
Name[sq]=Si Arkiv RAR
Name[sr]=као РАР архиву
Name[sr@ijekavian]=као РАР архиву
Name[sr@ijekavianlatin]=kao RAR arhivu
Name[sr@latin]=kao RAR arhivu
Name[sv]=Som RAR-arkiv
Name[th]=เป็นแฟ้มจัดเก็บบีบอัดแบบ RAR
Name[tr]=RAR Arşivi Olarak
Name[ug]=RAR ئارخىپى
Name[uk]=Як архів RAR
Name[wa]=Come årtchive RAR
Name[x-test]=xxAs RAR Archivexx
Name[zh_CN]=为 RAR 归档
Name[zh_TW]=成 RAR 壓縮檔
Icon=ark
Exec=ark --changetofirstpath --add --autofilename rar %F

[Desktop Action compressAsTar]
Name=As ZIP/TAR Archive
Name[ar]=كأرشيف  ZIP/TAR
Name[ast]=Como archivu comprimíu ZIP/TAR
Name[bs]=kao ZIP+tar arhivu
Name[ca]=Com a arxiu ZIP/TAR
Name[ca@valencia]=Com a arxiu ZIP/TAR
Name[cs]=Jako archiv ZIP/TAR
Name[da]=Som ZIP-/TAR-arkiv
Name[de]=Als ZIP/TAR-Archiv
Name[el]=Ως αρχειοθήκη ZIP/TAR
Name[en_GB]=As ZIP/TAR Archive
Name[es]=Como archivo comprimido ZIP/TAR
Name[et]=ZIP/TAR-arhiivina
Name[eu]=ZIP/TAR artxibo gisa
Name[fi]=Zip/Tar-paketiksi
Name[fr]=Comme une archive « ZIP » / « TAR »
Name[ga]=Mar Chartlann ZIP/TAR
Name[gl]=Como arquivo ZIP/TAR
Name[hr]=Kao ZIP/TAR-arhiva
Name[hu]=ZIP/TAR archívumként
Name[ia]=Como archivo ZIP/TAR
Name[id]=Sebagai Arsip ZIP/TAR
Name[it]=Come archivio ZIP/TAR
Name[ja]=ZIP/TAR アーカイブに
Name[kk]=ZIP/TAR архиві қылып
Name[km]=ជា​ប័ណ្ណសារ ZIP/TAR
Name[ko]=ZIP/TAR 파일로
Name[lt]=ZIP/TAR archyvas
Name[lv]=Kā ZIP/TAR arhīvu
Name[mr]=ZIP/TAR संग्रह प्रमाणे
Name[nb]=Som ZIP/TAR-arkiv
Name[nds]=As Zip/Tar-Archiev
Name[nl]=Als ZIP/TAR-archief
Name[nn]=Som ZIP/TAR-arkiv
Name[pa]=ਜ਼ਿੱਪ/RAR ਅਕਾਇਵ ਵਾਂਗ
Name[pl]=Jako archiwum ZIP/TAR
Name[pt]=Como Pacote ZIP/TAR
Name[pt_BR]=Como arquivo ZIP/TAR
Name[ro]=Ca arhivă ZIP/TAR
Name[ru]=Как архив ZIP/TAR
Name[sk]=Do ZIP/TAR archívu
Name[sl]=Kot arhiv ZIP/TAR
Name[sq]=Si Arkiv ZIP/TAR
Name[sr]=као ЗИП+тар архиву
Name[sr@ijekavian]=као ЗИП+тар архиву
Name[sr@ijekavianlatin]=kao ZIP+tar arhivu
Name[sr@latin]=kao ZIP+tar arhivu
Name[sv]=Som ZIP/TAR-arkiv
Name[th]=เป็นแฟ้มจัดเก็บบีบอัดแบบ ZIP/TAR
Name[tr]=ZIP/TAR Arşivi Olarak
Name[ug]=ZIP/TAR ئارخىپى
Name[uk]=Як архів ZIP/TAR
Name[wa]=Come årtchive ZIP/TAR
Name[x-test]=xxAs ZIP/TAR Archivexx
Name[zh_CN]=为 ZIP/TAR 归档
Name[zh_TW]=成 ZIP/TAR 壓縮檔
Icon=ark
Exec=ark --changetofirstpath --add --autofilename tar.gz %F

[Desktop Action compressTo]
Name=Compress To...
Name[ar]=اضغط إلى...
Name[ast]=Comprimir en...
Name[bs]=Kompresuj u...
Name[ca]=Comprimeix a...
Name[ca@valencia]=Comprimeix a...
Name[cs]=Zkomprimovat do...
Name[da]=Komprimér til...
Name[de]=Komprimieren nach ...
Name[el]=Συμπίεση σε...
Name[en_GB]=Compress To...
Name[es]=Comprimir en...
Name[et]=Paki asukohta...
Name[eu]=Konprimatu hona...
Name[fi]=Pakkaa...
Name[fr]=Compresser vers...
Name[ga]=Comhbhrúigh Go...
Name[gl]=Comprimir en...
Name[hr]=Zapakiraj u …
Name[hu]=Tömörítés ide…
Name[ia]=Comprime a...
Name[id]=Kompres ke...
Name[it]=Comprimi in...
Name[ja]=圧縮...
Name[kk]=Мыныған архивтеу,,,
Name[km]=បង្ហាប់​ទៅ​ជា​...
Name[ko]=다음으로 압축하기...
Name[lt]=Suspausti į...
Name[lv]=Saspiest uz...
Name[mr]=यावर संक्षिप्त करा...
Name[nb]=Komprimer til …
Name[nds]=Komprimeren as...
Name[nl]=Comprimeren naar...
Name[nn]=Komprimer til …
Name[pa]=...ਵਜੋਂ ਕੰਪਰੈੱਸ ਕਰੋ
Name[pl]=Kompresuj do...
Name[pt]=Comprimir Para...
Name[pt_BR]=Compactar para...
Name[ro]=Comprimă în...
Name[ru]=Упаковать в архив...
Name[sk]=Komprimovať do...
Name[sl]=Stisni v ...
Name[sq]=Ngjishe Tek...
Name[sr]=другде...
Name[sr@ijekavian]=другдје...
Name[sr@ijekavianlatin]=drugdje...
Name[sr@latin]=drugde...
Name[sv]=Komprimera till...
Name[th]=บีบข้อมูลไปยัง...
Name[tr]=Farklı Sıkıştır...
Name[ug]=… غا پرېسلاش
Name[uk]=Стиснути до...
Name[wa]=Rastrinde eyet rlomer...
Name[x-test]=xxCompress To...xx
Name[zh_CN]=压缩到...
Name[zh_TW]=壓縮為...
Icon=ark
Exec=ark --add --changetofirstpath --dialog %F
