[Desktop Entry]
Type=Service
# all files inherit from application/octet-stream
MimeType=application/octet-stream;
X-KDE-ServiceTypes=KonqPopupMenu/Plugin
Actions=encrypt;

[Desktop Action encrypt]
Name=Encrypt File
Name[ar]=تشفير ملف
Name[ast]=Encriptar ficheru
Name[bg]=Шифроване на файл
Name[bs]=Šifruj datoteku
Name[ca]=Encripta el fitxer
Name[ca@valencia]=Encripta el fitxer
Name[cs]=Zašifrovat soubor
Name[cy]=Cêl-ysgrifo Ffeil
Name[da]=Kryptér fil
Name[de]=Datei verschlüsseln
Name[el]=Κρυπτογράφηση αρχείου
Name[en_GB]=Encrypt File
Name[eo]=Ĉifri dosieron
Name[es]=Cifrar archivo
Name[et]=Krüpti fail
Name[eu]=Fitxategiak Zifratu
Name[fa]=رمزبندی پرونده
Name[fi]=Salaa tiedosto
Name[fr]=Chiffrer le fichier
Name[ga]=Criptigh Comhad
Name[gl]=Cifrar o ficheiro
Name[he]=הצפן קובץ
Name[hne]=फाइल एनक्रिप्ट करव
Name[hr]=Kriptiraj datoteku
Name[hu]=Fájl titkosítása
Name[ia]=Crypta file
Name[id]=Enkripsi Berkas
Name[is]=Dulrita skrá
Name[it]=Cifratura file
Name[ja]=ファイルを暗号化
Name[kk]=Файлды шифрлау
Name[km]=អ៊ីនគ្រិប​ឯកសារ
Name[ko]=파일 암호화
Name[lt]=Šifruoti failą
Name[lv]=Šifrēt failu
Name[mk]=Криптирај датотеки
Name[mr]=फाईल कुटलिपीबद्ध करा
Name[ms]=Encrypt File
Name[nb]=Krypter fil
Name[nds]=Dateiverslöteln
Name[ne]=फाइल गुप्तीकरण गर्नुहोस्
Name[nl]=Bestand versleutelen
Name[nn]=Krypter fil
Name[pa]=ਫਾਇਲ ਇੰਕ੍ਰਿਪਟ
Name[pl]=Zaszyfruj plik
Name[pt]=Cifrar o Ficheiro
Name[pt_BR]=Criptografar arquivo
Name[ro]=Criptează fișierul
Name[ru]=Зашифровать файл
Name[sk]=Zašifrovať súbor
Name[sl]=Šifriraj datoteko
Name[sq]=Kripto Skedarin
Name[sr]=Шифруј фајл
Name[sr@ijekavian]=Шифруј фајл
Name[sr@ijekavianlatin]=Šifruj fajl
Name[sr@latin]=Šifruj fajl
Name[sv]=Kryptera fil
Name[ta]=சங்கேத கோப்பு
Name[tg]=Рамзкунонии Файл
Name[th]=เข้ารหัสแฟ้ม
Name[tr]=Dosya Şifrele
Name[ug]=ھۆججەت شىفىرلاش
Name[uk]=Зашифрувати файл
Name[vi]=Mã Hóa Tập Tin
Name[wa]=Ecripter fitchî
Name[x-test]=xxEncrypt Filexx
Name[zh_CN]=加密文件
Name[zh_TW]=加密檔案
Icon=kgpg
Exec=kgpg -e %F

