[Desktop Entry]
Encoding=UTF-8
ServiceTypes=KonqPopupMenu/Plugin,image/*
TryExec=convert
Type=Service
Actions=convToJPEG;convToPNG;convToGIF;convToTIF;
X-KDE-Submenu=Convert To
X-KDE-Submenu[ar]=حول إلى
X-KDE-Submenu[be]=Канвертаваць у
X-KDE-Submenu[bg]=Преобразуване в
X-KDE-Submenu[bs]=Pretvori u
X-KDE-Submenu[ca]=Converteix a
X-KDE-Submenu[ca@valencia]=Converteix a
X-KDE-Submenu[cs]=Převést do
X-KDE-Submenu[da]=Konvertér til
X-KDE-Submenu[de]=Umwandeln in
X-KDE-Submenu[el]=Μετατροπή σε
X-KDE-Submenu[en_GB]=Convert To
X-KDE-Submenu[es]=Convertir a
X-KDE-Submenu[et]=Teisendamine
X-KDE-Submenu[eu]=Bihurtu hona
X-KDE-Submenu[fa]=تبدیل به
X-KDE-Submenu[fi]=Muunna muotoon
X-KDE-Submenu[fr]=Convertir en
X-KDE-Submenu[ga]=Tiontaigh Go
X-KDE-Submenu[gl]=Converter en
X-KDE-Submenu[he]=המר ל־
X-KDE-Submenu[hne]=ये मां बदलव 
X-KDE-Submenu[hr]=Pretvori u
X-KDE-Submenu[hu]=Konvertálás
X-KDE-Submenu[ia]=Converte a
X-KDE-Submenu[is]=Umbreyta í
X-KDE-Submenu[it]=Converti in
X-KDE-Submenu[ja]=変換
X-KDE-Submenu[kk]=Келесіге аудару:
X-KDE-Submenu[km]=បម្លែង​ទៅ
X-KDE-Submenu[kn]=ಇದಕ್ಕೆ ಪರಿವರ್ತಿಸು
X-KDE-Submenu[ko]=다음으로 변환
X-KDE-Submenu[ku]=Veguhezîne Ji
X-KDE-Submenu[lt]=Konvertuoti į
X-KDE-Submenu[lv]=Pārveidot uz
X-KDE-Submenu[mr]=यात रूपांतरीत करा
X-KDE-Submenu[nb]=Konverter til
X-KDE-Submenu[nds]=Ümwanneln na
X-KDE-Submenu[nl]=Converteren naar
X-KDE-Submenu[nn]=Gjer om til
X-KDE-Submenu[pa]=ਬਦਲੋ
X-KDE-Submenu[pl]=Przekształć do
X-KDE-Submenu[pt]=Converter Para
X-KDE-Submenu[pt_BR]=Converter para
X-KDE-Submenu[ro]=Convertește la
X-KDE-Submenu[ru]=Преобразовать в
X-KDE-Submenu[sk]=Previesť do
X-KDE-Submenu[sl]=Pretvori v
X-KDE-Submenu[sr]=Претвори у
X-KDE-Submenu[sr@ijekavian]=Претвори у
X-KDE-Submenu[sr@ijekavianlatin]=Pretvori u
X-KDE-Submenu[sr@latin]=Pretvori u
X-KDE-Submenu[sv]=Konvertera till
X-KDE-Submenu[tg]=Табдилкунӣ ба
X-KDE-Submenu[th]=แปลงเป็น
X-KDE-Submenu[tr]=Dönüştür
X-KDE-Submenu[ug]=ئايلاندۇر
X-KDE-Submenu[uk]=Перетворити на
X-KDE-Submenu[vi]=Chuyển đổi sang
X-KDE-Submenu[wa]=Kivierser viè
X-KDE-Submenu[x-test]=xxConvert Toxx
X-KDE-Submenu[zh_CN]=转换为
X-KDE-Submenu[zh_TW]=轉換為
TryExec=convert

[Desktop Action convToJPEG]
Name=JPEG
Name[ar]=JPEG
Name[be]=JPEG
Name[bg]=JPEG
Name[bs]=JPEG
Name[ca]=JPEG
Name[ca@valencia]=JPEG
Name[cs]=JPEG
Name[da]=JPEG
Name[de]=JPEG
Name[el]=JPEG
Name[en_GB]=JPEG
Name[eo]=JPEG
Name[es]=JPEG
Name[et]=JPEG
Name[eu]=JPEG
Name[fi]=JPEG
Name[fr]=JPEG
Name[ga]=JPEG
Name[gl]=JPEG
Name[he]=JPEG
Name[hne]=जेपीईजी
Name[hr]=JPEG
Name[hu]=JPEG
Name[ia]=JPEG
Name[is]=JPEG
Name[it]=JPEG
Name[ja]=JPEG
Name[kk]=JPEG
Name[km]=JPEG
Name[kn]=JPEG
Name[ko]=JPEG
Name[ku]=JPEG
Name[lt]=JPEG
Name[lv]=JPEG
Name[mai]=JPEG
Name[mr]=JPEG
Name[ms]=JPEG
Name[nb]=JPEG
Name[nds]=JPEG
Name[nl]=JPEG
Name[nn]=JPEG
Name[oc]=JPEG
Name[pa]=JPEG
Name[pl]=JPEG
Name[pt]=JPEG
Name[pt_BR]=JPEG
Name[ro]=JPEG
Name[ru]=JPEG
Name[sk]=JPEG
Name[sl]=JPEG
Name[sr]=ЈПЕГ
Name[sr@ijekavian]=ЈПЕГ
Name[sr@ijekavianlatin]=JPEG
Name[sr@latin]=JPEG
Name[sv]=JPEG
Name[tg]=JPEG
Name[th]=แฟ้มภาพประเภท JPEG
Name[tr]=JPEG
Name[ug]=JPEG
Name[uk]=JPEG
Name[vi]=JPEG
Name[wa]=JPEG
Name[x-test]=xxJPEGxx
Name[zh_CN]=JPEG
Name[zh_TW]=JPEG
Icon=image-jpeg
Exec=convert %f "`echo %f | perl -pe 's/\\.[^.]+$//'`.jpg"

[Desktop Action convToPNG]
Name=PNG
Name[ar]=PNG
Name[be]=PNG
Name[bg]=PNG
Name[bs]=PNG
Name[ca]=PNG
Name[ca@valencia]=PNG
Name[cs]=PNG
Name[da]=PNG
Name[de]=PNG
Name[el]=PNG
Name[en_GB]=PNG
Name[eo]=PNG
Name[es]=PNG
Name[et]=PNG
Name[eu]=PNG
Name[fi]=PNG
Name[fr]=PNG
Name[ga]=PNG
Name[gl]=PNG
Name[he]=PNG
Name[hne]=पीएनजी
Name[hr]=PNG
Name[hu]=PNG
Name[ia]=PNG
Name[is]=PNG
Name[it]=PNG
Name[ja]=PNG
Name[kk]=PNG
Name[km]=PNG
Name[kn]=PNG
Name[ko]=PNG
Name[ku]=PNG
Name[lt]=PNG
Name[lv]=PNG
Name[mai]=PNG
Name[mr]=PNG
Name[ms]=PNG
Name[nb]=PNG
Name[nds]=PNG
Name[nl]=PNG
Name[nn]=PNG
Name[oc]=PNG
Name[pa]=PNG
Name[pl]=PNG
Name[pt]=PNG
Name[pt_BR]=PNG
Name[ro]=PNG
Name[ru]=PNG
Name[sk]=PNG
Name[sl]=PNG
Name[sr]=ПНГ
Name[sr@ijekavian]=ПНГ
Name[sr@ijekavianlatin]=PNG
Name[sr@latin]=PNG
Name[sv]=PNG
Name[tg]=PNG
Name[th]=แฟ้มภาพประเภท PNG
Name[tr]=PNG
Name[ug]=PNG
Name[uk]=PNG
Name[vi]=PNG
Name[wa]=PNG
Name[x-test]=xxPNGxx
Name[zh_CN]=PNG
Name[zh_TW]=PNG
Icon=image-png
Exec=convert %f "`echo %f | perl -pe 's/\\.[^.]+$//'`.png"

[Desktop Action convToTIF]
Name=TIFF
Name[ar]=TIFF
Name[bg]=TIFF
Name[bs]=TIFF
Name[ca]=TIFF
Name[ca@valencia]=TIFF
Name[cs]=TIF
Name[da]=TIFF
Name[de]=TIFF
Name[el]=TIFF
Name[en_GB]=TIFF
Name[eo]=TIFF
Name[es]=TIFF
Name[et]=TIFF
Name[eu]=TIFF
Name[fi]=TIFF
Name[fr]=TIFF
Name[ga]=TIFF
Name[gl]=TIFF
Name[he]=TIFF
Name[hr]=TIFF
Name[hu]=TIFF
Name[ia]=TIFF
Name[is]=TIFF
Name[it]=TIFF
Name[ja]=TIFF
Name[kk]=TIFF
Name[km]=TIFF
Name[ko]=TIFF
Name[lt]=TIFF
Name[lv]=TIFF
Name[mai]=TIFF
Name[mr]=TIFF
Name[ms]=TIFF
Name[nb]=TIFF
Name[nds]=TIFF
Name[nl]=TIFF
Name[nn]=TIFF
Name[pa]=TIFF
Name[pl]=TIFF
Name[pt]=TIFF
Name[pt_BR]=TIFF
Name[ro]=TIFF
Name[ru]=TIFF
Name[sk]=TIFF
Name[sl]=TIFF
Name[sr]=ТИФФ
Name[sr@ijekavian]=ТИФФ
Name[sr@ijekavianlatin]=TIFF
Name[sr@latin]=TIFF
Name[sv]=TIFF
Name[tg]=TIFF
Name[th]=แฟ้มภาพประเภท TIF
Name[tr]=TIFF
Name[ug]=TIFF
Name[uk]=TIFF
Name[wa]=TIFF
Name[x-test]=xxTIFFxx
Name[zh_CN]=TIFF
Name[zh_TW]=TIFF
Icon=image-tiff
Exec=convert %f "`echo %f | perl -pe 's/\\.[^.]+$//'`.tif"

[Desktop Action convToGIF]
Name=GIF
Name[ar]=GIF
Name[be]=GIF
Name[bg]=GIF
Name[bs]=GIF
Name[ca]=GIF
Name[ca@valencia]=GIF
Name[cs]=GIF
Name[da]=GIF
Name[de]=GIF
Name[el]=GIF
Name[en_GB]=GIF
Name[eo]=GIF
Name[es]=GIF
Name[et]=GIF
Name[eu]=GIF
Name[fi]=GIF
Name[fr]=GIF
Name[ga]=GIF
Name[gl]=GIF
Name[he]=GIF
Name[hne]=जीआईएफ
Name[hr]=GIF
Name[hu]=GIF
Name[ia]=GIF
Name[is]=GIF
Name[it]=GIF
Name[ja]=GIF
Name[kk]=GIF
Name[km]=GIF
Name[kn]=GIF
Name[ko]=GIF
Name[ku]=GIF
Name[lt]=GIF
Name[lv]=GIF
Name[mai]=GIF
Name[mr]=GIF
Name[ms]=GIF
Name[nb]=GIF
Name[nds]=GIF
Name[nl]=GIF
Name[nn]=GIF
Name[oc]=GIF
Name[pa]=GIF
Name[pl]=GIF
Name[pt]=GIF
Name[pt_BR]=GIF
Name[ro]=GIF
Name[ru]=GIF
Name[sk]=GIF
Name[sl]=GIF
Name[sr]=ГИФ
Name[sr@ijekavian]=ГИФ
Name[sr@ijekavianlatin]=GIF
Name[sr@latin]=GIF
Name[sv]=GIF
Name[tg]=GIF
Name[th]=แฟ้มภาพประเภท GIF
Name[tr]=GIF
Name[ug]=GIF
Name[uk]=GIF
Name[vi]=GIF
Name[wa]=GIF
Name[x-test]=xxGIFxx
Name[zh_CN]=GIF
Name[zh_TW]=GIF
Icon=image-gif
Exec=convert %f "`echo %f | perl -pe 's/\\.[^.]+$//'`.gif"

