[Desktop Entry]
Type=ServiceType
X-KDE-ServiceType=AkonadiNepomukFeeder
Name=Akonadi NepomukFeeder Plugin
Name[bs]=Akonadi Nepomuk napajač  plugin
Name[ca]=Connector de l'alimentador Nepomuk per l'Akonadi
Name[ca@valencia]=Connector de l'alimentador Nepomuk per l'Akonadi
Name[cs]=Modul Akonadi NepomukFeeder
Name[da]=Akonadi NepomukFeeder-plugin
Name[de]=Nepomuk-Zusatzmodul für Akonadi
Name[el]=Πρόσθετο τροφοδότη Nepomuk του Akonadi
Name[es]=Complemento de proveedor Akonadi de Nepomuk
Name[et]=Akonadi Nepomuki sööturi plugin
Name[fi]=Akonadin NepomukFeeder-liitännäinen
Name[fr]=Module externe Nepomuk pour Akonadi
Name[ga]=Breiseán NepomukFeeder Akonadi
Name[gl]=Complemento de alimentación de Nepomuk para Akonadi
Name[hu]=Akonadi Nepomuk feltöltő bővítmény
Name[ia]=Plug-in de syndication de Akonadi Nepomuk
Name[it]=Estensione fornitore Akonadi per Nepomuk
Name[kk]=Akonadi Nepomuk бергіш плагині
Name[km]=កម្មវិធី​ជំនួយ​របស់ Akonadi NepomukFeeder
Name[ko]=Akonadi NepomukFeeder 플러그인
Name[lt]=Akonadi NepomukFeeder įskiepis
Name[lv]=Akonadi NepomukFeeder spraudnis
Name[nb]=Akonadi programtillegg NepomukFeeder
Name[nds]=Nepomuk-Ingaavmoduul för Akonadi
Name[nl]=Akonadi NepomukFeeder-plug-in
Name[pl]=Wtyczka Podajnik Akonadi Nepomuk
Name[pt]='Plugin' de Fontes do Nepomuk para o Akonadi
Name[pt_BR]=Plugin do alimentador do Nepomuk para o Akonadi
Name[ru]=Модуль NepomukFeeder
Name[sk]=Plugin podávača Akonadi Nepomuk
Name[sl]=Vstavek NepomukFeeder za Akonadi
Name[sr]=Аконадијев прикључак Непомуковог уводника
Name[sr@ijekavian]=Аконадијев прикључак Непомуковог уводника
Name[sr@ijekavianlatin]=Akonadijev priključak Nepomukovog uvodnika
Name[sr@latin]=Akonadijev priključak Nepomukovog uvodnika
Name[sv]=Akonadi insticksprogram för inmatning till Nepomuk
Name[tr]=Akonadi NepomukFeeder Eklentisi
Name[uk]=Додаток передавання даних Akonadi Nepomuk
Name[x-test]=xxAkonadi NepomukFeeder Pluginxx
Name[zh_CN]=Akonadi Nepomuk 采集器插件
Name[zh_TW]=Akonadi NepomukFeeder 外掛程式
