[Desktop Entry]
Type=ServiceType
X-KDE-ServiceType=DBUS/Text-to-Speech
Comment=Text-to-Speech Service with a D-Bus interface
Comment[ar]=خدمة قراءة النص مع واجهة D-Bus
Comment[as]=এটা D-Bus সংযোগ মাধ্যম থকা লিপি-ৰ পৰা-ভাষালৈ নিয়াৰ সেৱা
Comment[ast]=Serviciu Testu Faláu con interfaz D-Bus
Comment[be]=Сервіс агалошвання тэксту з інтэрфейсам D-Bus
Comment[be@latin]=Słužba ahałašeńnia tekstu z interfejsam „D-Bus”
Comment[bg]=Синтез на глас с интерфейс DCOP
Comment[bn]=ডি-বাস (DBUS) ইন্টারফেস সহ টেক্সট-টু-স্পীচ সার্ভিস
Comment[bn_IN]=D-Bus ইন্টারফেসের সাহায্যে উপলব্ধ টেক্সট-থেকে-শব্দ পরিসেবা
Comment[bs]=Tekst‑u‑govor servis sa d‑bus sučeljem
Comment[ca]=Servei de síntesi de veu amb una interfície D-Bus
Comment[ca@valencia]=Servei de síntesi de veu amb una interfície D-Bus
Comment[cs]=Služba text-na-řeč s DBUS rozhraním
Comment[csb]=Ùsłëżnota czëtaniô tekstu z interfejsã DCOP
Comment[da]=Tekst-til-tale-tjeneste med B-BUS-grænseflade
Comment[de]=Sprachausgabe mit D-Bus-Schnittstelle
Comment[el]=Υπηρεσία κειμένου-σε-ομιλία με διεπαφή D-Bus
Comment[en_GB]=Text-to-Speech Service with a D-Bus interface
Comment[eo]=Teksto-al-voĉa servo kun D-Bus-interfaco
Comment[es]=Servicio de texto a voz con una interfaz D-Bus
Comment[et]=Teksti ettelugemise teenus D-Bus-liidesega
Comment[eu]=Testua-ahoskatzea zerbitzua D-Bus interfazearekin
Comment[fa]=خدمت متن به گفتار با یک واسط D-Bus
Comment[fi]=Puhesynteesipalvelu D-Bus-rajapinnalla
Comment[fr]=Service de synthèse vocale avec une interface D-Bus
Comment[fy]=Tekst-ta-prate mei in D-Bus-ynterface
Comment[ga]=Seirbhís Téacs-go-Caint le comhéadan D-Bus
Comment[gl]=Servizo de texto-para-fala con interface D-Bus
Comment[gu]=D-Bus ઇન્ટરફેસ સાથે લખાણ-થી-ધ્વનિ સેવા
Comment[he]=שירות טקסט לדיבור עם ממשק D-Bus
Comment[hi]=डी-बस इंटरफ़ेस के साथ पाठ-से-वार्ता सेवा
Comment[hne]=डी-बस इंटरफेस के साथ पाठ-से-वार्ता सेवा
Comment[hr]=Usluga tekst-u-govor s D-Bus sučeljem.
Comment[hsb]=konwertowanje teksta na rěč z D-Bus-interfejsom
Comment[hu]=Szövegfelolvasó szolgáltatás D-Bus felülettel
Comment[hy]=Տեքստը խոսք դարձնելու ծառայություն D-Bus ծրագրերի համակարգով
Comment[ia]=Servicio de texto a parola con un interfacie D-Bus
Comment[id]=Layanan Teks-ke-Percakapan dengan antarmuka D-Bus
Comment[is]=Texti-í-tal þjónusta með D-Bus viðmóti
Comment[it]=Servizio di pronuncia con un'interfaccia D-Bus
Comment[ja]=D-Bus インターフェースを持つテキスト読み上げサービス
Comment[kk]=D-Bus интерфейсті мәтіннен дыбыстап оқу қызметі
Comment[km]=សេវា​អត្ថបទ-ទៅ-សំដី​ដែល​មានចំណុចប្រទាក់ DCOP
Comment[kn]=D-Bus ಸಂಪರ್ಕಸಾಧನದೊಂದಿಗೆ (interface) ಪಠ್ಯ ವಾಚನ (text-to-speech) ಸೇವೆ
Comment[ko]=D-Bus 인터페이스를 사용하는 텍스트 음성 변환 서비스
Comment[ku]=Servîsa Axaftin-bi-Nivîsê bi navrû ya D-Bus
Comment[lt]=Teksto vertimo kalba tarnyba su D-Bus sąsaja
Comment[lv]=Teksts-uz-runu serviss ar D-Bus saskarni
Comment[mai]=डी-बस इंटरफ़ेस केर सँग पाठ-सँ-वार्ता सेवा
Comment[mk]=Сервис за текст-во-говор со D-Bus-интерфејс
Comment[ml]=ഡി-ബസ് വിനിമയതലമുള്ള അക്ഷരങ്ങളെ ശബ്ദത്തിലേയ്ക്കു് മാറ്റുന്ന സേവനം
Comment[mr]=D-Bus संवाद पाठ्य भाष्य सेवा
Comment[ms]=Servis Teks-ke-Tutur dengan antaramuka D-Bus
Comment[nb]=Tekst til tale-program med D-Bus-grensesnitt
Comment[nds]=Vörleesdeenst mit en DBUS-Koppelsteed
Comment[ne]=D-Bus इन्टरफेससँग पाठ-बाट-बोली सेवा
Comment[nl]=Tekst-tot-spraak-dienst met een DCOP interface
Comment[nn]=Tekst-til-tale-teneste med D-Bus-grensesnitt
Comment[or]=Text-to-Speech Service with a D-Bus interface
Comment[pa]=ਇੱਕ D-Bus ਇੰਟਰਫੇਸ ਨਾਲ ਪਾਠ-ਤੋਂ-ਬੋਲੀ ਸਰਵਿਸ
Comment[pl]=Usługa czytania tekstu z interfejsem D-Bus
Comment[pt]=Serviço de Texto-para-Fala com interface D-Bus
Comment[pt_BR]=Serviço de conversão de texto-em-fala com interface D-Bus
Comment[ro]=Serviciu text-vorbire cu interfață D-Bus
Comment[ru]=Служба синтеза речи с интерфейсом D-Bus
Comment[se]=Hubmon-teaksta-bálvalus mas lea D-Bus-lákta
Comment[sk]=Služba prevodu textu na reč s rozhraním D-Bus
Comment[sl]=Storitev besedilo-v-govor z vmesnikom D-Bus
Comment[sr]=Текст‑у‑говор сервис са д‑бус сучељем
Comment[sr@ijekavian]=Текст‑у‑говор сервис са д‑бус сучељем
Comment[sr@ijekavianlatin]=Tekst‑u‑govor servis sa D‑Bus sučeljem
Comment[sr@latin]=Tekst‑u‑govor servis sa D‑Bus sučeljem
Comment[sv]=Text-till-tal-tjänst med ett D-bus-gränssnitt
Comment[ta]=D-Bus இடைமுகத்துடன் கூடிய உரை-ஒலி சேவை
Comment[te]=డి-బస్ ఇంటర్ఫేస్ కల్గిన వాచకం నుంచి మాటలకు మార్చు సేవ
Comment[tg]=Хидмати Мант-ба-Талаффуз бо интерфейси D-Bus
Comment[th]=บริการเปลี่ยนข้อความเป็นเสียงพูด พร้อมด้วยส่วนติดต่อกับ DCOP
Comment[tr]=D-Bus Arayüzü Kullanan Metin Seslendirme Servisi
Comment[tt]=D-Bus интерфейсы аша эшләуче Текст Укучы Хезмәте
Comment[ug]=D-Bus ئېغىزى بار تېكىستتىن ئاۋازغا مۇلازىمىتى
Comment[uk]=Служба синтезу мовлення з інтерфейсом D-Bus
Comment[vi]=Dịch vụ Văn bản sang Tiếng nói có giao diện D-Bus
Comment[wa]=Siervice tecse-viè-vwès avou ene eterface D-Bus
Comment[x-test]=xxText-to-Speech Service with a D-Bus interfacexx
Comment[zh_CN]=带 D-Bus 接口的文本到语音服务
Comment[zh_TW]=DBUS 介面的文字轉語音服務
