[Desktop Entry]
Type=ServiceType
X-KDE-ServiceType=DBUS/InstantMessenger
Comment=Instant Messenger with a D-Bus interface
Comment[ar]=مرسال فوري مع واجهة D-Bus
Comment[as]=এটা D-Bus সংযোগ মাধ্যম থকা Instant Messenger
Comment[ast]=Mensaxería nel intre con interfaz D-Bus
Comment[be]=Імгненны абвестнік з інтэрфейсам D-Bus
Comment[be@latin]=Kamunikatar z interfejsam „D-Bus”
Comment[bg]=Програма за съобщения в реално време с интерфейс DCOP
Comment[bn]=ডি-বাস (DBUS) ইন্টারফেস সহ ইনস্ট্যান্ট মেসেঞ্জার
Comment[bn_IN]=D-Bus ইন্টারফেসসহ ইনস্ট্যান্ট বার্তা আদান-প্রদান ব্যবস্থা
Comment[bs]=Brzi glasnik sa d‑bus sučeljem
Comment[ca]=Missatgeria instantània amb una interfície D-Bus
Comment[ca@valencia]=Missatgeria instantània amb una interfície D-Bus
Comment[cs]=Komunikátor s DBUS rozhraním
Comment[csb]=Internetowi kòmùnikator z interfejsã D-Bus
Comment[da]=Instant Messenger med D-Bus-grænseflade
Comment[de]=Instant Messenger mit D-Bus-Schnittstelle
Comment[el]=Στιγμιαίος αποστολέας μηνυμάτων με διεπαφή D-Bus
Comment[en_GB]=Instant Messenger with a D-Bus interface
Comment[eo]=Tujmesaĝilo kun D-Bus-interfaco
Comment[es]=Mensajería instantánea con interfaz D-Bus
Comment[et]=Kiirsuhtlemisrakendus D-Bus-liidesega
Comment[eu]=Berehalako mezularitza D-Bus interfazearekin
Comment[fa]=پیام‌رسان فوری با یک واسط D-Bus
Comment[fi]=Pikaviestiohjelma D-Bus-rajapinnalla
Comment[fr]=Messagerie instantanée avec interface D-Bus
Comment[fy]=Instant Messenger mei in D-Bus-ynterface 
Comment[ga]=Clár teachtaireachtaí meandaracha le comhéadan D-Bus
Comment[gl]=Mensaxería instantánea con interface D-Bus
Comment[gu]=D-Bus ઇન્ટરફેસ સાથે ઇન્સ્ટન્ટ મેસેન્જર
Comment[he]=תוכנת מסרים מידיים עם ממשק D-Bus
Comment[hi]=डी-बस इंटरफ़ेस के साथ इंस्टैंट मैसेंजर
Comment[hne]=डी-बस इंटरफेस के साथ इंस्टैंट मैसेंजर
Comment[hr]=Aplikacija za komunikaciju s D-Bus sučeljem
Comment[hsb]=Instant Messenger z DCOP-interfejsom
Comment[hu]=Azonnali üzenetküldő D-Bus felülettel
Comment[hy]=Ակնթարթային սուրհանդակ D-Bus ծրագրերի համակարգով
Comment[ia]=Messagero Instante con un interfacie D-Bus 
Comment[id]=Pesan Instan dengan antarmuka D-Bus
Comment[is]=Spjallforrit með D-Bus viðmóti
Comment[it]=Messaggistica istantanea con un'interfaccia D-Bus
Comment[ja]=D-Bus インターフェースを持つインスタントメッセンジャー
Comment[kk]=D-Bus интерфейсті лезде хабарласу бағдарламасы
Comment[km]=​កម្មវិធី​ផ្ញើ​សារ​បន្ទាន់​ដែល​មាន​ចំណុច​ប្រទាក់ DCOP
Comment[kn]=D-Bus ಸಂಪರ್ಕಸಾಧನದೊಂದಿಗಿನ (interface) ತಕ್ಷಣ ಓಲೆಕಾರ
Comment[ko]=D-Bus 인터페이스를 사용하는 인스턴트 메신저
Comment[ku]=Peyamkera Têgihan bi navrû ya D-Bus
Comment[lt]=Momentinių žinučių klientas su D-Bus sąsaja
Comment[lv]=Tūlītējās ziņapmaiņas programma ar D-Bus saskarni
Comment[mai]=डी-बस इंटरफ़ेस केर सँग इंस्टैंट मैसेंजर
Comment[mk]=Инстант гласник (Messenger) со D-Bus интерфејс
Comment[ml]=ഡി-ബസ് വിനിമയതലമുള്ള ഇന്‍സ്റ്റന്റ് മെസഞ്ചര്‍
Comment[mr]=D-Bus संवादपटरहीत जलद संदेशवाहक
Comment[ms]=Utusan Segera dengan antaramuka D-Bus
Comment[nb]=Lynmeldingsprogram med D-Bus-grensesnitt
Comment[nds]=Kortnarichten-Maker mit en D-Bus-Koppelsteed
Comment[ne]=D-Bus इन्टरफेससँग इन्सट्यान्ट मेसेन्जर
Comment[nl]=Instant-messenger met een D-Bus-interface
Comment[nn]=Lynmeldingsprogram med D-Bus-grensesnitt
Comment[or]=D-Bus ଅନ୍ତରାପୃଷ୍ଠ ସହିତ ତୁରନ୍ତ ସନ୍ଦେଶ ଦୁତ
Comment[pa]=ਇੱਕ D-Bus ਇੰਟਰਫੇਸ ਲਈ ਇੱਕ ਮੌਕਾ ਮੈਸੈਂਜ਼ਰ
Comment[pl]=Komunikator internetowy z interfejsem D-Bus
Comment[pt]=Mensageiro Instantâneo com interface D-Bus
Comment[pt_BR]=Mensageiro instantâneo com interface D-Bus
Comment[ro]=Mesagerie instantanee cu interfață D-Bus
Comment[ru]=Клиент обмена мгновенными сообщениями с интерфейсом D-Bus
Comment[se]=Šleađgadiehtoprográmma mas lea D-Bus-lákta
Comment[sk]=Instant Messenger s rozhraním D-Bus
Comment[sl]=Hipni sporočilnik z vmesnikom D-Bus
Comment[sq]=Mesazher i çastit me ndërfaqe D-Bus
Comment[sr]=Брзи гласник са д‑бус сучељем
Comment[sr@ijekavian]=Брзи гласник са д‑бус сучељем
Comment[sr@ijekavianlatin]=Brzi glasnik sa D‑Bus sučeljem
Comment[sr@latin]=Brzi glasnik sa D‑Bus sučeljem
Comment[sv]=Direktmeddelanden med ett D-Bus-gränssnitt
Comment[ta]=D-Bus இடைமுகத்தோடுக் கூடிய உடனடி தூதர்
Comment[te]=డి-బస్ ఇంటర్ఫెస్ కలిగివున్న ఇంస్టెంట్ మెస్సెన్జర్
Comment[tg]=Барномаи паёмнависӣ бо интерфейси D-Bus
Comment[th]=โปรแกรมส่งข้อความด่วนทันใจ ด้วยส่วนติดต่อกับ D-Bus
Comment[tr]=D-Bus Arayüzü Kullanan Anında Mesajlaşma Uygulaması
Comment[tt]=D-Bus интерфейсы аша эшләүче ашыгыч хәбәрләшү клиенты
Comment[ug]=D-Bus ئېغىزى بار مۇڭداشقۇ
Comment[uk]=Програма миттєвого зв'язку, у якій передбачено інтерфейс D-Bus
Comment[vi]=Trình nhắn tin tức thời với giao diện D-Bus
Comment[wa]=Messaedjreye sol moumint avou ene eterface D-Bus
Comment[x-test]=xxInstant Messenger with a D-Bus interfacexx
Comment[zh_CN]=带 D-Bus 接口的即时通讯程序
Comment[zh_TW]=DBUS 介面的即時通訊系統
