[Desktop Entry]
Type=ServiceType
X-KDE-ServiceType=KABC/IMProtocol
X-KDE-KAddressBook-CEWVersion=1
Name=KAddressbook Instant Messaging Protocol
Name[bs]=Protokol brzih poruka K adresara
Name[ca]=Protocol de missatgeria instantània del KAddressbook
Name[ca@valencia]=Protocol de missatgeria instantània del KAddressbook
Name[cs]=KAddressbook instant messaging protokol
Name[da]=KAddressbook instant messaging-protokol
Name[de]=Instant-Messaging-Protokoll im KDE-Adressbuch
Name[el]=Πρωτόκολλο στιγμιαίων μηνυμάτων KAddressbook
Name[en_GB]=KAddressbook Instant Messaging Protocol
Name[eo]=KAddressbook Rapidmesaĝila Protokolo
Name[es]=Protocolo de mensajería instantánea de KAddressbook
Name[et]=KDE aadressiraamatu kiirsuhtlusprotokoll
Name[fi]=KAddressbookin pikaviestinyhteyskäytäntö
Name[fr]=Protocole de messagerie instantanée KAddressBook
Name[ga]=Prótacal Teachtaireachtaí Meandaracha KAddressbook
Name[gl]=Protocolo de mensaxería instantánea do KAddressbook
Name[he]=פרוטוקול מסרים מידיים של פנקס הכתובות
Name[hu]=KAddressbook azonnali üzenetküldő protokoll
Name[ia]=Protocollo de messageria instantanee de KAddressbook
Name[it]=Protocollo di messaggi istantanei di KAddressbook
Name[kk]=KAddressbook-тың лезде хабарласу протоколы
Name[km]=ពិធីការ​ផ្ញើ​សារ​បន្ទាន់​របស់ KAddressbook
Name[lt]=KAdresų knygelės momentinių pranešimų protokolas
Name[mr]=के-एड्रेस-बूक त्वरित संदेश शिष्टाचार
Name[nb]=KAdressbook lynmeldingsprotokoll
Name[nds]=KAddressbook-Kortnarichten-Protokoll
Name[nl]=KAddressbook Instant Messaging-protocol
Name[nn]=Lynmeldingsprotokoll for KDE-adresseboka
Name[pl]=Protokół komunikatora internetowego KAddressbook
Name[pt]=Protocolo de Mensagens Instantâneas do KAddressbook
Name[pt_BR]=Protocolo de Mensagens Instantâneas do KAddressbook
Name[ro]=Protocol de mesagerie instantanee a cărții de adrese
Name[ru]=Протокол обмена мгновенными сообщениями KAddressBook
Name[sk]=Protokol KAddressbook Instant Messaging
Name[sl]=Protokol takojšnjega sporočanja v KAddressBook
Name[sr]=Брзогласнички протокол К‑адресара
Name[sr@ijekavian]=Брзогласнички протокол К‑адресара
Name[sr@ijekavianlatin]=Brzoglasnički protokol K‑adresara
Name[sr@latin]=Brzoglasnički protokol K‑adresara
Name[sv]=Addressbokens direktmeddelandeprotokoll
Name[th]=โพรโทคอลข้อความด่วนทันใจของสมุดที่อยู่-K
Name[tr]=KAddressbook Anlık Mesajlaşma Protokolü
Name[uk]=Протокол миттєвого обміну повідомленнями KAddressbook
Name[wa]=Protocole di messaedjreye sol moumint di KAddressbook
Name[x-test]=xxKAddressbook Instant Messaging Protocolxx
Name[zh_CN]=KAddressbook 即时通讯协议
Name[zh_TW]=KAddressbook 即時通訊協定
[PropertyDef::X-KDE-InstantMessagingKABCField]
Type=QString

