[Desktop Entry]
Type=ServiceType
X-KDE-ServiceType=KEmoticons

[PropertyDef::X-KDE-Priority]
Type=int

[PropertyDef::X-KDE-EmoticonsFileName]
Type=QString
