[Desktop Entry]
Type=ServiceType
X-KDE-ServiceType=Kerfuffle/Plugin
Comment=Plugin for handling of archive formats for the Kerfuffle library
Comment[ar]=ملحق للتحكم بهيئات الأرشيف لمكتبة Kerfuffle
Comment[ast]=Aplicación pa remanar los formatos de ficheru de la llibrería Kerfuffle
Comment[bg]=Приствка за работа с архиви за Kerfuffle
Comment[bs]=Priključak za rukovanje formatima arhiva za biblioteku Kerfafl
Comment[ca]=Connector per gestionar els formats d'arxiu per la biblioteca Kerfuffle
Comment[ca@valencia]=Connector per gestionar els formats d'arxiu per la biblioteca Kerfuffle
Comment[cs]=Modul pro správu formátů archivů pro knihovnu Kerfuffle
Comment[da]=Plugin til håndtering af arkivformater til Kerfuffle-biblioteket
Comment[de]=Modul zum Umgang mit Archivformaten der Kerfuffle-Bibliothek
Comment[el]=Πρόσθετο χειρισμού μορφών αρχειοθήκης για τη βιβλιοθήκη Kerfuffle
Comment[en_GB]=Plugin for handling of archive formats for the Kerfuffle library
Comment[es]=Complemento para manejar formatos de archivo de la biblioteca Kerfuffle
Comment[et]=Kerfuffle'i teegi arhiivifailide haldamise plugin
Comment[eu]=Kerfuffle liburutegiaren artxibo formatuak erabiltzeko plugina
Comment[fi]=Kerfuffle-kirjaston pakettimuotojen tuki
Comment[fr]=Module externe de gestion des formats d'archives pour la bibliothèque « Kerfuffle »
Comment[ga]=Breiseán a láimhseálann formáidí cartlainne thar ceann na leabharlainne Kerfuffle
Comment[gl]=Extensión da biblioteca Kerfuffle para manexar formatos de arquivo
Comment[he]=תוסף לניהול פורמטי ארכיונים לספריית Kerfuffle 
Comment[hne]=करफुफल लाइब्रेरी बर अभिलेख फारमेट हेंडल करे बर प्लगइन
Comment[hr]=Priključak za upravljanje arhivnim formatima za biblioteku Kerfuffle
Comment[hu]=Archívumkezelő modul a Kerfuffle programkönyvtárhoz
Comment[ia]=Plugin per manear formatos de archivo per le libreria Kerfuffle
Comment[id]=Pengaya untuk menangani format arsip pustaka Kerfuffle
Comment[it]=Estensione per gestire formati di archivio per la libreria Kerfuffle
Comment[ja]=Kerfuffle ライブラリのアーカイブ形式を扱うプラグイン
Comment[kk]=Kerfuffle жиын файлға арналған архив пішіндерімен айналасу плагині
Comment[km]=កម្មវិធីជំនួយ​សម្រាប់​គ្រប់គ្រង​ទ្រង់ទ្រាយ​ប័ណ្ណសារ​សម្រាប់​បណ្ណាល័យ Kerfuffle
Comment[ko]=Kerfuffle 라이브러리를 위한 압축 파일 플러그인
Comment[lt]=Kerfuffle bibliotekos archyvų formatų palaikymo priedas
Comment[lv]=Arhīva failu tipu izmantošanas spraudnis Kerfuffle bibliotēkai.
Comment[mr]=कर्फफल लायब्ररी करिताचे संग्रह प्रकार हाताळणारे प्लगइन
Comment[nb]=Programtillegg som håndterer arkivformater, for Kerfuffle-biblioteket
Comment[nds]=Archievformaten-Moduul för de Kerfuffle-Bibliotheek
Comment[nl]=Plug-in voor het afhandelen van archiefformaten voor de Kerfuffle-bibliotheek
Comment[nn]=Programtillegg som handsamar arkivformat for Kerfuffle-biblioteket
Comment[pl]=Wtyczka do obsługi formatów archiwów w bibliotece Kerfuffle
Comment[pt]='Plugin' para lidar com os formatos de pacotes da biblioteca Kerfuffle
Comment[pt_BR]=Plugin para manipulação de formatos de arquivo, para a biblioteca Kerfuffle
Comment[ro]=Modul pentru pentru mînuirea formatelor de arhive pentru biblioteca Kerfuffle
Comment[ru]=Расширение для поддержки архивов с помощью библиотеки Kerfuffle
Comment[sk]=Modul pre spracovanie formátov archívov pre knižnicu Kerfuffle
Comment[sl]=Vstavek za ravnanje z arhivi za knjižnico Kerfuffle
Comment[sq]=Plugin që merret me formatet e arkivave për librarinë Kerfuffle
Comment[sr]=Прикључак за руковање форматима архива за библиотеку Керфафл
Comment[sr@ijekavian]=Прикључак за руковање форматима архива за библиотеку Керфафл
Comment[sr@ijekavianlatin]=Priključak za rukovanje formatima arhiva za biblioteku Kerfuffle
Comment[sr@latin]=Priključak za rukovanje formatima arhiva za biblioteku Kerfuffle
Comment[sv]=Insticksprogram för hantering av arkivformat för Kerfuffle-biblioteket
Comment[ta]=கெர்ஃபஃபில் ஃ நூலகத்துக்கு காப்பக வடிவமைப்பை கையாள சொருகிகள்
Comment[th]=ส่วนเสริมของไลบรารี Kerfuffle สำหรับจัดการแฟ้มจัดเก็บแบบต่าง ๆ 
Comment[tr]=Kerfuffle kitaplığı için arşiv biçimleri eklentileri
Comment[uk]=Додаток для роботи з форматами архівів для бібліотеки Kerfuffle
Comment[x-test]=xxPlugin for handling of archive formats for the Kerfuffle libraryxx
Comment[zh_CN]=Kerfuffle 库的压缩归档格式处理插件
Comment[zh_TW]=處理 Kerfuffle 函式庫壓縮格式的外掛程式

# Priority. The greater the better.
[PropertyDef::X-KDE-Priority]
Type=int

# Revision of the plugin API.
[PropertyDef::X-KDE-Kerfuffle-APIRevision]
Type=int

# Is the plugin read-write or not? (i.e., can it create archives?)
[PropertyDef::X-KDE-Kerfuffle-ReadWrite]
Type=bool


