[Desktop Entry]
Type=ServiceType
X-KDE-ServiceType=KFileWrite

Comment=KFileWrite plugin
Comment[af]=KFileWrite inpropmodule
Comment[ar]=ملحق KFileWrite
Comment[as]=KFileWrite প্লাগ-ইন
Comment[ast]=Complementu KFileWrite
Comment[be@latin]=Plugin dla KFileWrite
Comment[bg]=Приставка за KFileWrite
Comment[bn]=KFileWrite প্লাগ-ইন
Comment[bn_IN]=KFileWrite প্লাগ-ইন
Comment[bs]=Priključak za zapis datoteka (KFile)
Comment[ca]=Connector del KFileWrite
Comment[ca@valencia]=Connector del KFileWrite
Comment[cs]=Modul KFileWrite
Comment[csb]=Wtëkôcz KFileWrite
Comment[da]=KFileWrite-plugin
Comment[de]=KFileWrite-Modul
Comment[el]=Πρόσθετο KFileWrite
Comment[en_GB]=KFileWrite plugin
Comment[eo]=KFileWrite-kromprogramo
Comment[es]=Complemento KFileWrite
Comment[et]=KFileWrite'i plugin
Comment[eu]=KFileWrite plugin-a
Comment[fa]=وصله KFileWrite
Comment[fi]=KFileWrite-liitännäinen
Comment[fr]=Module externe KFileWrite
Comment[fy]=KFileWrite plugin
Comment[ga]=Breiseán KFileWrite
Comment[gl]=Complemento KFileWrite
Comment[gu]=KFileWrite પ્લગઈન
Comment[he]=תוסף KFileWrite
Comment[hi]=के-फ़ाइल-राइट प्लगइन
Comment[hne]=के-फाइल-राइट प्लगइन
Comment[hr]=KFileWrite priključak
Comment[hsb]=KFileWrite-zašćěpka
Comment[hu]=KFileWrite modul
Comment[hy]=KFileWrite հարմարանք
Comment[ia]=Plugin de KFileWrite
Comment[id]=Plugin KFileWrite
Comment[is]=KFileWrite íforrit
Comment[it]=Estensione KFileWrite
Comment[ja]=KFileWrite プラグイン
Comment[kk]=KFileWrite плагині
Comment[km]=កម្មវិធី​ជំនួយ KFileWrite
Comment[kn]=ಕೆಫೈಲ್ರೈಟ್ ಮಿಳಿತಾನ್ವಯ (ಪ್ಲಗಿನ್)
Comment[ko]=KFileWrite 플러그인
Comment[ku]=Pêveka KPelBinivîse
Comment[lt]=KFileWrite priedas
Comment[lv]=KFileWrite spraudnis
Comment[mai]=के-फाइल-राइट प्लगइन
Comment[mk]=Приклучок за KFileWrite
Comment[ml]=കെഫയല്‍റൈറ്റ്  സംയോജകം
Comment[mr]=KFileWrite  प्लगइन
Comment[nb]=KFileWrite-programtillegg
Comment[nds]=KFile-Schriefmoduul
Comment[ne]=केडीई फाइल राइट प्लगइन
Comment[nl]=KFileWrite-plugin
Comment[nn]=KFileWrite-tillegg
Comment[or]=KFileWrite ପ୍ଲଗଇନ
Comment[pa]=KFileWrite ਪਲੱਗਇਨ
Comment[pl]=Wtyczka do obsługi danych KFileWrite
Comment[ps]=لګون KFileWrite
Comment[pt]='Plugin' do KFileWrite
Comment[pt_BR]=Plugin do KFileWrite
Comment[ro]=Modul KFileWrite
Comment[ru]=Расширение KFileWrite
Comment[se]=KFileWrite-lassemodula
Comment[si]=KFileWrite ප්ලගීනය
Comment[sk]=Modul KFileWrite
Comment[sl]=Vstavek KFileWrite
Comment[sq]=KFileWrite plugin
Comment[sr]=Прикључак за запис фајлова (к‑фајл)
Comment[sr@ijekavian]=Прикључак за запис фајлова (к‑фајл)
Comment[sr@ijekavianlatin]=Priključak za zapis fajlova (KFile)
Comment[sr@latin]=Priključak za zapis fajlova (KFile)
Comment[sv]=KFileWrite-insticksprogram
Comment[ta]=KFileWrite செருகி
Comment[te]=కెఫైల్ వ్రైట్ ప్లగిన్
Comment[tg]=Васлкунаки навишти KFile
Comment[th]=โปรแกรมเสริมสำหรับเขียน KFileWrite
Comment[tr]=KFileWrite Eklentisi
Comment[tt]=KFileWrite өстәмәсе
Comment[ug]=KFileWrite قىستۇرما
Comment[uk]=Додаток KFileWrite
Comment[vi]=Phần bổ sung KFileWrite
Comment[wa]=Tchôke-divins sicrijhaedje di fitchîs
Comment[x-test]=xxKFileWrite pluginxx
Comment[zh_CN]=KFileWrite 插件
Comment[zh_TW]=KFileWrite 外掛程式

[PropertyDef::MetaDataKeys]
Type=QStringList

