[Desktop Entry]
Type=ServiceType
X-KDE-ServiceType=KFilePlugin
Name=KFile Meta Data Plugin
Name[af]=KFile Metadata inpropmodule
Name[ar]=ملحق KFile Meta Data
Name[as]=KFile মেটা ডাটা প্লাগ-ইন
Name[ast]=Complementu pa metadatos de KFile
Name[be@latin]=Plugin metaźviestak dla KFile
Name[bg]=Приставка за мета данни
Name[bn]=কে-ফাইল মেটা-ডেটা প্লাগ-ইন
Name[bn_IN]=KFile মিটা ডাটা প্লাগ-ইন
Name[bs]=Priključak za metapodatke (KFile)
Name[ca]=Connector de meta dades KFile
Name[ca@valencia]=Connector de meta dades KFile
Name[cs]=Modul KFile pro metadata
Name[csb]=Wtëkôcz do sprôwianiô pòdôwkama nieznónegò fòrmatu
Name[cy]=Ategyn Meta-ddata KFfeil
Name[da]=KFile Metadata-plugin
Name[de]=KFile: Metadaten-Modul
Name[el]=Πρόσθετο μετα-δεδομένων του KFile
Name[en_GB]=KFile Meta Data Plugin
Name[eo]=KFile-metadatuma kromprogramo
Name[es]=Complemento de meta datos KFile
Name[et]=KFile'i metaandmete plugin
Name[eu]=KFile metadatuen plugin-a
Name[fa]=وصله فراداده KFile
Name[fi]=KFile-metatietoliitännäinen
Name[fr]=Module externe de métadonnées KFile
Name[fy]=KFile Meta Data Plugin
Name[ga]=Breiseán meiteashonraí do KFile
Name[gl]=Complemento de metadatos para KFile
Name[gu]=Meta માહિતી પ્લગઈન
Name[he]=תוסף מידע קובץ עבור KFile
Name[hi]=के-फ़ाइल मेटा डाटा प्लगइन
Name[hne]=के-फाइल मेटा डाटा प्लगइन
Name[hr]=KFile priključak za meta-podatke 
Name[hsb]=KFile-zašćěpka za Meta-Data
Name[hu]=KFile metaadat-modul
Name[hy]=KFile մետա տեղեկության հարմարանք
Name[ia]=Plugin de Meta datos de KFile
Name[id]=Plugin Data Meta KFile
Name[is]=KFile metagagna-íforrit
Name[it]=Estensione informazioni aggiuntive per KFile
Name[ja]=KFile メタデータプラグイン
Name[kk]=KFile метадеректер модулі
Name[km]=កម្មវិធី​ជំនួយ​ទិន្នន័យ​មេតា KFile
Name[kn]=ಕೆಫೈಲ್ ಪ್ರದತ್ತ (ಮೆಟಾಡಾಟಾ) ಮಿಳಿತಾನ್ವಯ (ಪ್ಲಗಿನ್)
Name[ko]=KFile 메타 데이터 플러그인
Name[ku]=Pêveka KPel Ser Dane
Name[lb]=KFile-Metadonnéeë-Plugin
Name[lt]=KFile Meta duomenų priedas
Name[lv]=KFile metadatu spraudnis
Name[mai]=के-फाइल मेटा डाटा प्लगइन
Name[mk]=KFile приклучок за мета податоци
Name[ml]=കെഫയല്‍ മെറ്റാ ഡാറ്റയ്ക്കായുള്ള സംയോജകം
Name[mr]=KFile मेटा माहिती प्लगइन
Name[ms]=Plug masuk Data Meta KFile
Name[nb]=KFile-programtillegg for metadata
Name[nds]=KFile, Metadaten-Plugin
Name[ne]=केडीई फाइल मेटाडेटा प्लगइन
Name[nl]=KFile Meta Data Plugin
Name[nn]=KFile-tillegg for metadata
Name[or]=KFile ଅଧିତଥ୍ୟ ପ୍ଲଗଇନ
Name[pa]=KFile ਮੈਟਾ ਡਾਟਾ ਪਲੱਗਇਨ
Name[pl]=Wtyczka do obsługi danych nieznanego formatu
Name[pt]='Plugin' de Meta-Dados do KFile
Name[pt_BR]=Plugin de metadados KFile
Name[ro]=Modul metadate KFile
Name[ru]=Расширение метаданных для KFile
Name[se]=KFile lassemoduvla metadieđuid várás
Name[si]=KFile මෙටා දත්ත ප්ලගීනය
Name[sk]=Modul KFile pre metadáta
Name[sl]=Vstavek za metapodatke pri KFile
Name[sr]=Прикључак за метаподатке (к‑фајл)
Name[sr@ijekavian]=Прикључак за метаподатке (к‑фајл)
Name[sr@ijekavianlatin]=Priključak za metapodatke (KFile)
Name[sr@latin]=Priključak za metapodatke (KFile)
Name[sv]=Kfil-metadata-insticksprogram
Name[ta]=KFile அடிப்படை தகவல் சொருகி
Name[te]=కెదస్త్రం మెటా దత్తాంసం ప్లగిన్
Name[tg]=Васлкунаки маълумоти KFile Meta
Name[th]=โปรแกรมเสริมข้อมูลกำกับ KFile
Name[tr]=KFile Meta Verisi Eklentisi
Name[tt]=KFile мета-файлы өчен өстәмә
Name[ug]=KFile مېتا سانلىق-مەلۇمات قىستۇرمىسى
Name[uk]=Додаток роботи з метаданими KFile
Name[uz]=KFile meta maʼlumot uchun plagin
Name[uz@cyrillic]=KFile мета маълумот учун плагин
Name[vi]=Phần bổ sung dữ liệu lý lịch KFile
Name[wa]=Tchôke-divins meta-dnêyes des fitchîs
Name[xh]=Iplagi yangaphakathi ye KFile Meta Data
Name[x-test]=xxKFile Meta Data Pluginxx
Name[zh_CN]=KFile 元数据插件
Name[zh_HK]=KFile 元資料外掛程式
Name[zh_TW]=KFile 資料定義外掛程式

[PropertyDef::PreferredItems]
Type=QStringList

[PropertyDef::PreferredGroups]
Type=QStringList

[PropertyDef::SupportsThumbnail]
Type=bool
