[Desktop Entry]
Type=ServiceType
X-KDE-ServiceType=KFileItemAction/Plugin
Comment=Plugin for the KIO file item context menu
Comment[ar]=إضافة تستخدم لقائمة السياق لعناصر ملفات KIO
Comment[bg]=Приставка за контекстно файлово меню
Comment[bs]=Dodatak za kontekstni meni KIO datotečni objekt
Comment[ca]=Connector per a l'element KIO de fitxers del menú contextual
Comment[ca@valencia]=Connector per a l'element KIO de fitxers del menú contextual
Comment[cs]=Zásuvný modul pro kontextovou nabídku položek KIO file
Comment[da]=Plugin til kontekstmenuen for KIO-filelementer
Comment[de]=Erweiterung für das Kontextmenü eines KIO-Datei-Elements
Comment[el]=Πρόσθετο για το αρχείο KIO αντικείμενο του σχετικού μενού
Comment[en_GB]=Plugin for the KIO file item context menu
Comment[es]=Complemento para el menú de contexto de elementos de archivo KIO
Comment[et]=KIO-failielemendi kontekstimenüü plugin
Comment[eu]=KIO fitxategi elementuen testuinguru menuarentzako plugina
Comment[fi]=KIO-tiedostotietueen kontekstivalikkoliitännäinen
Comment[fr]=Module externe pour le menu contextuel des éléments de fichiers KIO
Comment[ga]=Breiseán le haghaidh roghchlár comhthéacs comhaid in KIO
Comment[gl]=Complemento para o menú de contexto do elemento ficheiro de KIO
Comment[gu]=KIO ફાઇલ વસ્તુ સંબંધિત મેનુ માટે પ્લગઇન
Comment[he]=תוסף עבור פריט תפריט הקשר של KIO 
Comment[hr]=Priključak za kontekstni izbornik KIO datoteke
Comment[hu]=Bővítmény a KIO fájlelem helyi menühöz
Comment[hy]=Հարմարանք KIO-ի ֆայլի նյութերի կոնտեքստ մենյու
Comment[ia]=Plugin pro le menu de contexto de elemento de file de KIO
Comment[is]=Íforrit fyrir samhengisvalmynd KIO-skjalhluta
Comment[it]=Estensione per l'elemento file KIO del menu contestuale
Comment[kk]=KIO файл контекст мәзірінің плагині
Comment[km]=កម្មវិធី​ជំនួយ​សម្រាប់​​ម៉ឺនុយ​បរិបទ​ធាតុ​​ឯកសារ KIO
Comment[ko]=KIO 파일 항목 컨텍스트 메뉴 플러그인
Comment[lv]=KIO failu vienuma konteksta izvēlens spraudnis
Comment[mr]=KIO फाईल वस्तु मेन्यू संदर्भासाठी प्लगइन
Comment[nb]=Programtillegg for kontekstmeny for KIO-filelementet
Comment[nds]=Moduul för dat Dateiindrag-Rechtsklickmenü vun KDE sien In-/Utgaavmoduul
Comment[nl]=Plugin voor het contextmenu van het KIO-bestandsitem
Comment[pa]=KIO ਫਾਇਲ ਆਈਟਮ ਸਮੱਗਰੀ ਮੇਨੂ ਲਈ ਪਲੱਗਇਨ
Comment[pl]=Wtyczka do menu kontekstowego elementu pliku KIO
Comment[pt]='Plugin' para o menu de contexto do item de ficheiros do KIO
Comment[pt_BR]=Plugin para o menu de contexto do item de arquivos do KIO
Comment[ro]=Modul pentru meniul contextual al fișierelor KIO
Comment[ru]=Расширение контекстного меню файла KIO
Comment[se]=Lassemodula KIO-fiilamerkoša konteakstafállui
Comment[sk]=Modul pre položku kontextového menu pre KIO súbor
Comment[sl]=Vstavek za vsebinski meni datotečnega predmeta KIO
Comment[sr]=Прикључак за К‑У/И радњу над фајловима у контекстном менију
Comment[sr@ijekavian]=Прикључак за К‑У/И радњу над фајловима у контекстном менију
Comment[sr@ijekavianlatin]=Priključak za K‑U/I radnju nad fajlovima u kontekstnom meniju
Comment[sr@latin]=Priključak za K‑U/I radnju nad fajlovima u kontekstnom meniju
Comment[sv]=Insticksprogram för KIO-filobjektets sammanhangsberoende meny
Comment[tg]=Васлкунаки менюи файли мӯҳтавои KIO
Comment[th]=ส่วนเสริม KIO สำหรับเมนูเมื่อคลิกขวาบนแฟ้ม
Comment[tr]=KIO dosya ögesi sağlık menüsü için eklenti
Comment[tt]=KIO файлның контекст меню өстәлмәсе
Comment[ug]=KIO ھۆججەت تۈرىنىڭ تىل مۇھىت قىستۇرمىسى
Comment[uk]=Додаток пункту контекстного меню KIO
Comment[vi]=Phần bổ sung cho trình đơn ngữ cảnh mục tập tin KIO
Comment[wa]=Tchôke-divins pol KIO dressêye di contecse do cayet d' fitchî
Comment[x-test]=xxPlugin for the KIO file item context menuxx
Comment[zh_CN]=KIO 文件项的上下文菜单插件
Comment[zh_TW]=KIO 檔案項目內文選單的外掛程式
