[Desktop Entry]
Type=ServiceType
X-KDE-ServiceType=KIO/FileModule
Name=filemodule
Name[ar]=filemodule
Name[ast]=filemodule
Name[bg]=файлов модул
Name[bn]=filemodule
Name[bs]=Modul datoteke
Name[ca]=filemodule
Name[ca@valencia]=filemodule
Name[cs]=filemodule
Name[da]=filmodul
Name[de]=Dateimodul
Name[el]=άρθρωμα
Name[en_GB]=filemodule
Name[es]=filemodule
Name[et]=Failimoodul
Name[eu]=fitxategi modulua
Name[fi]=filemodule
Name[fr]=module de fichiers
Name[ga]=filemodule
Name[gl]=filemodule
Name[gu]=ફાઇલમોડ્યુલ
Name[he]=filemodule
Name[hi]=फ़ाइल मोड्यूल
Name[hr]=moduldatoteke
Name[hu]=fájlmodul
Name[hy]=filemodule
Name[ia]=Modulo de file
Name[id]=filemodule
Name[is]=skráaeining
Name[it]=modulofile
Name[ja]=ファイルモジュール
Name[kk]= filemodule
Name[km]=ម៉ូឌុល​ឯកសារ
Name[ko]=filemodule
Name[ku]=filemodule
Name[lt]=filemodule
Name[lv]=filemodule
Name[mr]=फाईल विभाग
Name[nb]=filmodul
Name[nds]=Dateimoduul
Name[nl]=bestandsmodule
Name[nn]=filmodul
Name[pa]=ਫਾਇਲ ਮੋਡੀਊਲ
Name[pl]=filemodule
Name[pt]=módulo de ficheiros
Name[pt_BR]=filemodule
Name[ro]=filemodule
Name[ru]=filemodule
Name[se]=fiilamodula
Name[si]=ගොනුමොඩියුලය
Name[sk]=filemodule
Name[sl]=filemodule
Name[sr]=Фајл модул
Name[sr@ijekavian]=Фајл модул
Name[sr@ijekavianlatin]=Fajl modul
Name[sr@latin]=Fajl modul
Name[sv]=filmodul
Name[ta]=கோப்புபாகம்
Name[tg]=filemodule
Name[th]=มอดูลแฟ้ม
Name[tr]=dosya modülü
Name[ug]=ھۆججەت بۆلىكى
Name[uk]=filemodule
Name[vi]=filemodule
Name[wa]=module fitchî
Name[x-test]=xxfilemodulexx
Name[zh_CN]=文件模块
Name[zh_TW]=檔案模組
Comment=KIO File Module
Comment[ar]=وحدة ملف KIO
Comment[ast]=KIO File Module
Comment[bg]=Файлов модул за KIO
Comment[bn]=KIO ফাইল মডিইল
Comment[bs]=K‑U/I datotečni modul
Comment[ca]=Mòdul KIO de fitxer
Comment[ca@valencia]=Mòdul KIO de fitxer
Comment[cs]=Modul KIO File
Comment[da]=KIO filmodul
Comment[de]=KIO-Dateimodul
Comment[el]=Άρθρωμα KIO
Comment[en_GB]=KIO File Module
Comment[eo]=KIO dosiera modulo
Comment[es]=Módulo de archivos KIO
Comment[et]=KIO failimoodul
Comment[eu]=KIO fitxategi modulua
Comment[fi]=KDE File -moduuli
Comment[fr]=Module de fichiers KIO
Comment[ga]=Modúl Comhaid KIO
Comment[gl]=Módulo de ficheiros de KIO
Comment[gu]=KIO ફાઇલ મોડ્યુલ
Comment[he]=מודול KIO File
Comment[hi]=KIO फ़ाइल मॉड्यूल
Comment[hr]=KIO Modul Datoteke
Comment[hu]=KIO fájlmodul
Comment[hy]=KIO ֆայլ մոդուլ
Comment[ia]=Modulo de file de KIO
Comment[id]=Modul Berkas KIO
Comment[is]=KIO skráaeining
Comment[it]=Modulo file KIO
Comment[ja]=KIO ファイルモジュール
Comment[kk]=KIO файл модулі
Comment[km]=ម៉ូឌុល​ឯកសារ KIO
Comment[ko]=KIO 파일 모듈
Comment[ku]=Modûla KIO File
Comment[lv]=KIO failu modulis
Comment[mr]=KIO फाईल विभाग
Comment[nb]=KIO filmodul
Comment[nds]=KIO-Dateimoduul
Comment[nl]=KIO bestandsmodule
Comment[nn]=KIO-filmodul
Comment[pa]=KIO ਫਾਇਲ ਮੋਡੀਊਲ
Comment[pl]=Moduł plików KIO
Comment[pt]=Módulo de Ficheiros KIO
Comment[pt_BR]=Módulo de arquivos KIO
Comment[ro]=Modul de fișiere KIO
Comment[ru]=Модуль работы с файлами KIO
Comment[se]=KIO-fiilamodula
Comment[si]=KIO ගොනු මොඩියුලය
Comment[sk]=Modul KIO File
Comment[sl]=Modul KIO za datoteke
Comment[sr]=К‑У/И фајл модул
Comment[sr@ijekavian]=К‑У/И фајл модул
Comment[sr@ijekavianlatin]=K‑U/I fajl modul
Comment[sr@latin]=K‑U/I fajl modul
Comment[sv]=KIO-filmodul
Comment[ta]=KIO கோப்பு பாகம்
Comment[tg]=Модули файли KIO
Comment[th]=มอดูลแฟ้มของ KIO
Comment[tr]=KIO File Modülü
Comment[ug]=KIO ھۆججەت بۆلىكى
Comment[uk]=Модуль файлів KIO
Comment[vi]=Mô-đun tập tin KIO
Comment[wa]=Module di fitchî KIO
Comment[x-test]=xxKIO File Modulexx
Comment[zh_CN]=KIO 文件模块
Comment[zh_TW]=KIO 檔案模組
