[Desktop Entry]
Type=ServiceType
X-KDE-ServiceType=KPropertiesDialog/Plugin
Comment=Plugin for the Properties Dialog
Comment[af]=Inprop module vir die Eienskappedialoog
Comment[ar]=ملحق لحوار الخصائص
Comment[as]=গুণৰ সম্বাদৰ বাবে প্লাগ-ইন
Comment[ast]=Complementu pal diálogu de propiedaes
Comment[be]=Дадатак да дыялогу ўласцівасцяў
Comment[be@latin]=Plugin dla akna ŭłaścivaściaŭ fajła
Comment[bg]=Приставка за диалога Информация
Comment[bn]=বৈশিষ্ট্যাবলী ডায়ালগ-এর জন্য প্লাগ-ইন
Comment[bn_IN]=বৈশিষ্ট্য বিশিষ্ট ডায়লগের জন্য একটি প্লাগ-ইন
Comment[br]=Adveziant evit kendiviz ar perzhioù
Comment[bs]=Priključak za dijalog svojstava
Comment[ca]=Connector per al diàleg de les propietats
Comment[ca@valencia]=Connector per al diàleg de les propietats
Comment[cs]=Modul pro dialog vlastností
Comment[csb]=Wtëkôcz dialogòwégò òkna Swòjiznë
Comment[cy]=Ategyn am yr Ymgom Priodweddau
Comment[da]=Plugin til egenskabsdialog
Comment[de]=Erweiterung für den Dialog „Eigenschaften“
Comment[el]=Πρόσθετο για το Διάλογο ιδιοτήτων
Comment[en_GB]=Plugin for the Properties Dialogue
Comment[eo]=Kromprogramo por la eco-dialogo
Comment[es]=Complemento para el diálogo de propiedades
Comment[et]=Omaduste dialoogi plugin
Comment[eu]=Propietateen elkarrizketa-koadroaren plugin-a
Comment[fa]=وصله برای محاوره ویژگیها
Comment[fi]=Liitännäinen asetusikkunalle
Comment[fr]=Module externe pour la boîte de dialogue des propriétés
Comment[fy]=Plugin foar de 'Eigenskippen'-dialooch
Comment[ga]=Breiseán don Dialóg Airíonna
Comment[gl]=Complemento para o diálogo de propiedades
Comment[gu]=પ્લગઈન માટે ગુણધર્મો સંવાદ
Comment[he]=תוסף לדו־שיח המאפיינים
Comment[hi]=गुण संवाद के लिए प्लगइन
Comment[hne]=गुन गोठ बर प्लगइन
Comment[hr]=Priključak za dijalog 'Svojstva'
Comment[hsb]=Zašćěpka za swójstwowy dialog
Comment[hu]=Beépülő modul a tulajdonságok párbeszédablakhoz
Comment[hy]=Հարմարանք հատկությունների երկխոսության համար
Comment[ia]=Plugin pro le dialogo de proprietates
Comment[id]=Plugin untuk Dialog Properti
Comment[is]=Íforrit fyrir stillingarforrit
Comment[it]=Estensione per la finestra delle proprietà
Comment[ja]=プロパティダイアログのためのプラグイン
Comment[kk]=Қасиеттер диалогтың модулі
Comment[km]=កម្មវិធី​ជំនួយ​សម្រាប់​ប្រអប់​លក្ខណៈ​សម្បត្តិ
Comment[kn]=ಗುಣಗಳ ಸಂವಾದಕ್ಕೆ (ಡೈಲಾಗ್) ಮಿಳಿತಾನ್ವಯ (ಪ್ಲಗಿನ್)
Comment[ko]=속성 대화 상자를 위한 플러그인
Comment[ku]=Pêvek ji bo Gotûbêja Taybetiyan
Comment[lb]=Plugin fir den Eegeschaften-Dialog
Comment[lt]=Priedas savybių dialogui
Comment[lv]=Īpašību dialoga spraudnis
Comment[mai]=गुण समाद क' लेल प्लगइन
Comment[mk]=Приклучок за дијалогот за својства
Comment[ml]=വിശേഷതാ ജാലകത്തിനു് വേണ്ടിയുള്ള സംയോജകം
Comment[mr]=गुणधर्म संवाद करिता प्लगइन
Comment[ms]=Plugmasuk untuk Dialog Ciri-ciri
Comment[nb]=Programtillegg for dialogvinduet for egenskaper
Comment[nds]=Moduul för den Egenschappen-Dialoog
Comment[ne]=गुण संवादका लागि प्लगइन
Comment[nl]=Plugin voor de 'Eigenschappen'-dialoog
Comment[nn]=Tillegg til dialogvindauget «Eigenskapar»
Comment[or]=ଗୁଣଧର୍ମ ସଂଳାପ ପାଇଁ ପ୍ଲଗଇନ 
Comment[pa]=ਵਿਸ਼ੇਸ਼ਤਾ ਡਾਈਲਾਗ ਲਈ ਪਲੱਗਇਨ
Comment[pl]=Wtyczka do okna dialogowego Właściwości
Comment[ps]=د ځانتياوې کړکۍ لپاره لګون
Comment[pt]='Plugin' para a Janela de Propriedades
Comment[pt_BR]=Plugin para a janela de propriedades
Comment[ro]=Modul pentru dialogul de proprietăți
Comment[ru]=Расширение диалога настройки
Comment[se]=Lassemoduvla iešvuođahtaláseža várás
Comment[si]=වත්කම් සංවාද කොටුව සඳහා ප්ලගීනය
Comment[sk]=Modul pre dialóg vlastností
Comment[sl]=Vstavek za pogovorno okno z lastnostmi
Comment[sr]=Прикључак за дијалог својстава
Comment[sr@ijekavian]=Прикључак за дијалог својстава
Comment[sr@ijekavianlatin]=Priključak za dijalog svojstava
Comment[sr@latin]=Priključak za dijalog svojstava
Comment[sv]=Insticksprogram för egenskapsdialogen
Comment[ta]=பண்புகள் பலகத்திற்கான செருகி
Comment[te]=లక్షణాల సంభాషణ కొరకు ప్లగిన్
Comment[tg]=Васлкунак барои хосияти диалог
Comment[th]=โปรแกรมเสริมสำหรับกล่องคุณสมบัติ
Comment[tr]=Özellikler İletişim Kutusu İçin Eklenti
Comment[tt]=Сайлау диалогы өчен өстәмә
Comment[ug]=خاسلىق سۆزلەشكۈ قىستۇرمىسى
Comment[uk]=Додаток для створення діалогових вікон властивостей
Comment[uz]=Xossalar dialogi uchun plagin
Comment[uz@cyrillic]=Хоссалар диалоги учун плагин
Comment[vi]=Phần bổ sung cho Hộp thoại thuộc tính
Comment[wa]=Tchôke-divins pol purnea di prôpietés
Comment[xh]=Iplagi yangaphakathi Yezinto zobumnini Zencoko yababini
Comment[x-test]=xxPlugin for the Properties Dialogxx
Comment[zh_CN]=属性对话框插件
Comment[zh_HK]=屬性對話盒的外掛程式
Comment[zh_TW]=屬性對話盒的外掛程式

[PropertyDef::X-KDE-Protocol]
Type=QString
