[Desktop Entry]
Type=ServiceType
X-KDE-ServiceType=KRemoteControlManager
Comment=Remote Control Management Backend
Comment[bs]=Pozadina daljinskih upravljača
Comment[ca]=Dorsal de gestió del comandament a distància
Comment[ca@valencia]=Dorsal de gestió del comandament a distància
Comment[cs]=Podpůrná vrstva pro vzdálenou správu
Comment[da]=Motor til håndtering af fjernbetjening
Comment[de]=Treiber für Fernbedienungen
Comment[el]=Σύστημα υποστήριξης για τη διαχείριση τηλεχειριστηρίου
Comment[es]=Motor de gestión de mandos a distancia
Comment[et]=Kaugjuhtimise haldamise taustaprogramm
Comment[eu]=Urruneko aginte kudeaketarako "backend"
Comment[fi]=Kauko-ohjainten hallintataustaosa
Comment[fr]=Module de gestion du contrôle à distance
Comment[ga]=Inneall Bainisteoireachta Cianrialtán
Comment[gl]=Infraestrutura de xestión do control remoto.
Comment[hr]=Podrška za upravljanje na daljinu
Comment[hu]=Távirányító-kezelő modul
Comment[ia]=Gestion de retro-parte  de Controlo Remote
Comment[it]=Backend telecomandi
Comment[kk]=Қашықтан басқарғыштың басқару тетігі
Comment[km]=កម្មវិធី​ផ្នែក​ខាង​ក្រោយ​គ្រប់គ្រង​ការ​បញ្ជា​ពី​ចម្ងាយ
Comment[ko]=리모콘 관리 백엔드
Comment[lt]=Nuotolinio valdymo tvarkymo varikliukas
Comment[mr]=रीमोट कंट्रोल व्यवस्थापन बॅकएन्ड
Comment[nb]=Bakgrunnsmotor for kontroll av fjernstyring
Comment[nds]=Hülpprogramm för de Pleeg vun Feernbedeners
Comment[nl]=Afstandsbedieningbeheer-backend
Comment[pa]=ਰਿਮੋਟ ਕੰਟਰੋਲ ਪਰਬੰਧ ਬੈਕਐਂਡ
Comment[pl]=Silnik zarządzania pilotami
Comment[pt]=Infra-Estrutura de Gestão de Comandos à Distância
Comment[pt_BR]=Infraestrutura de gerenciamento do controle remoto
Comment[ro]=Platformă de gestiune a telecomenzilor
Comment[ru]=Поддержка дистанционного управления в KDE
Comment[sk]=Podporná vsrtva pre správu diaľkových ovládačov
Comment[sl]=Zaledje upravljanja daljinskih upravljalnikov
Comment[sr]=Позадина за управљање даљинским управљачима
Comment[sr@ijekavian]=Позадина за управљање даљинским управљачима
Comment[sr@ijekavianlatin]=Pozadina za upravljanje daljinskim upravljačima
Comment[sr@latin]=Pozadina za upravljanje daljinskim upravljačima
Comment[sv]=Gränssnitt för fjärrkontrollhantering
Comment[tr]=Uzaktan Kontrol Yönetim Arkaucu
Comment[uk]=Сервер керування пристроями дистанційного керування
Comment[x-test]=xxRemote Control Management Backendxx
Comment[zh_CN]=远程控制管理后端
Comment[zh_TW]=遠端控制管理後端介面

[PropertyDef::X-KDE-SolidBackendInfo-Version]
Type=QString
