[Desktop Entry]
Name=KResources Plugin
Name[bs]=Priključak K-resursa
Name[ca]=Connector pel KResources
Name[ca@valencia]=Connector pel KResources
Name[cs]=Modul rámce KResource
Name[da]=KResources-plugin
Name[de]=KRessourcen-Modul
Name[el]=Πρόσθετο KResources
Name[en_GB]=KResources Plugin
Name[es]=Complemento de KResources
Name[et]=KDE ressursside plugin
Name[fi]=KResources-liitännäinen
Name[fr]=Module externe KResources
Name[ga]=Breiseán KResources
Name[gl]=Engadido de KResources
Name[he]=תוסף של KResources
Name[hne]=केरिसोर्स प्लगइन
Name[hu]=KResources-modul
Name[ia]=Plugin de KResources
Name[it]=Estensione di KResources
Name[ja]=KDE リソースプラグイン
Name[kk]=KResources плагині
Name[km]=កម្មវិធី​ជំនួយ​របស់ KResources
Name[lt]=KResursų priedas
Name[lv]=KResources spraudnis
Name[mr]=के-रिसोर्सेस प्लगइन
Name[nb]=Programtillegg for KResources
Name[nds]=KResources-Moduul
Name[nl]=KResource-plug-in
Name[nn]=Programtillegg for KResource-rammeverket
Name[pa]=ਕੇਸਰੋਤ ਪਲੱਗਇਨ
Name[pl]=Wtyczka KResource
Name[pt]='Plugin' do KResources
Name[pt_BR]=Plugin do KResource
Name[ro]=Modul KResurse
Name[ru]=Модуль KResources
Name[se]=KResources-lassemodula
Name[sk]=KResources zásuvný modul
Name[sl]=Vstavek KResources
Name[sq]=KResources Plugin
Name[sr]=Прикључак радног оквира К‑ресурса
Name[sr@ijekavian]=Прикључак радног оквира К‑ресурса
Name[sr@ijekavianlatin]=Priključak radnog okvira K‑resursa
Name[sr@latin]=Priključak radnog okvira K‑resursa
Name[sv]=Insticksprogram för resurser
Name[th]=ส่วนเสริม 'จัดการทรัพยากร-K'
Name[tr]=KResources Eklentisi
Name[uk]=Додаток до KResources
Name[wa]=Tchôke-divins KResources
Name[x-test]=xxKResources Pluginxx
Name[zh_CN]=KResource 插件
Name[zh_TW]=KResources 外掛程式
Type=ServiceType
X-KDE-ServiceType=KResources/Plugin
Comment=KResources Framework Plugin
Comment[bs]=Priključak radnog okvira K-resursa
Comment[ca]=Connector del marc de treball pel KResources
Comment[ca@valencia]=Connector del marc de treball pel KResources
Comment[cs]=Modul rámce KResource
Comment[da]=KResource-strukturplugin
Comment[de]=Modul für KRessourcen-Grundgerüst
Comment[el]=Πρόσθετο πλαισίου εργασίας του KResource
Comment[en_GB]=KResources Framework Plugin
Comment[es]=Complemento de infraestructura de KResources
Comment[et]=KDE ressursside raamistiku plugin
Comment[fi]=KResources-kehysliitännäinen
Comment[fr]=Module externe d'environnement KResources
Comment[ga]=Breiseán Creatlaí KResources
Comment[gl]=Engadido da infraestrutura KResource
Comment[he]=תוסף מסגרת KResources
Comment[hne]=केरिसोर्स फ्रेमवर्क प्लगइन
Comment[hu]=Modul a KResources keretrendszerhez
Comment[ia]=Plugin de schema de KResources
Comment[it]=Estensione dell'infrastruttura di KResources
Comment[ja]=KDE リソースフレームワークのプラグイン
Comment[kk]=KResources құрылым плагині
Comment[km]=កម្មវិធី​ជំនួយ​គ្រោងការ​របស់ KResources
Comment[lt]=KResursų aplinkos priedas
Comment[lv]=KResource karkasa spraudnis
Comment[mr]=के-रिसोर्सेस फ्रेमवर्क प्लगइन
Comment[nb]=Programtillegg for KResources-rammeverket
Comment[nds]=Rahmenwark-Moduul för KResources
Comment[nl]=KResource-raamwerkplug-in
Comment[nn]=Programtillegg for KResource-rammeverket
Comment[pa]=ਕੇਸਰੋਤ ਫਰੇਮਵਰਕ ਪਲੱਗਇਨ
Comment[pl]=Wtyczka modułu KResource
Comment[pt]='Plugin' da Plataforma do KResources
Comment[pt_BR]=Plugin do KResource
Comment[ro]=Modul de arhitectură KResurse
Comment[ru]=Модуль инфраструктуры KResource
Comment[sk]=KResources Framework zásuvný modul
Comment[sl]=Vstavek za ogrodje KResources
Comment[sq]=KResources Framework Plugin
Comment[sr]=Прикључак радног оквира К‑ресурса
Comment[sr@ijekavian]=Прикључак радног оквира К‑ресурса
Comment[sr@ijekavianlatin]=Priključak radnog okvira K‑resursa
Comment[sr@latin]=Priključak radnog okvira K‑resursa
Comment[sv]=Insticksprogram för resursramverk
Comment[th]=ส่วนเสริมเฟรมเวิร์ก 'จัดการทรัพยากร-K'
Comment[tr]=KResources Çalışma Alanı Eklentisi
Comment[uk]=Додаток до платформи KResources
Comment[wa]=Tchôke-divins d' evironmint KResources
Comment[x-test]=xxKResources Framework Pluginxx
Comment[zh_CN]=KResource 框架插件
Comment[zh_TW]=KResources 框架外掛程式

[PropertyDef::X-KDE-ResourceFamily]
Type=QString

[PropertyDef::X-KDE-ResourceType]
Type=QString
