[Desktop Entry]
Name=KResources Manager
Name[bs]=Menadžer K-resursa
Name[ca]=Gestor del KResources
Name[ca@valencia]=Gestor del KResources
Name[cs]=KResource správce
Name[da]=KResources-håndtering
Name[de]=Ressourcenverwaltung
Name[el]=Διαχειριστής KResources
Name[en_GB]=KResources Manager
Name[es]=Gestor de KResources
Name[et]=KDE ressursside haldur
Name[fi]=KResources-hallinta
Name[fr]=Gestionnaire de ressources
Name[ga]=Bainisteoir KResources
Name[gl]=Xestor de KResources
Name[he]=מנהל משאבים KResources
Name[hne]=केरिसोर्स प्रबंधक
Name[hu]=KResources-kezelő
Name[ia]=Gerente KResources
Name[it]=Gestore di KResources
Name[ja]=KDE リソースマネージャ
Name[kk]=KResources менеджері
Name[km]=កម្មវិធី​គ្រប់គ្រង KResources
Name[lt]=KResursų tvarkytuvė
Name[lv]=KResources pārvaldnieks
Name[mr]=के-रिसोर्सेस व्यवस्थापक
Name[nb]=KResources-styring
Name[nds]=KResources-Pleger
Name[nl]=KResource-beheerder
Name[nn]=KResources-handsaming
Name[pa]=ਕੇ-ਰੀਸੋਰਸ ਮੈਨੇਜਰ
Name[pl]=Menadżer zasobów KDE (KResource)
Name[pt]=Gestor do KResources
Name[pt_BR]=Gerenciador do KResource
Name[ro]=Gestionar KResurse
Name[ru]=Управление источниками данных
Name[se]=KResources-gieđahalli
Name[sk]=KResources manažér
Name[sl]=Upravljalnik KResources
Name[sq]=KResources Manager
Name[sr]=Менаџер К‑ресурса
Name[sr@ijekavian]=Менаџер К‑ресурса
Name[sr@ijekavianlatin]=Menadžer K‑resursa
Name[sr@latin]=Menadžer K‑resursa
Name[sv]=Resurshantering
Name[th]=ตัวจัดการทรัพยากร-K
Name[tr]=KResources Yöneticisi
Name[ug]=KResources باشقۇرغۇچ
Name[uk]=Менеджер KResource-ів
Name[wa]=Manaedjeu KResources
Name[x-test]=xxKResources Managerxx
Name[zh_CN]=KResource 管理器
Name[zh_TW]=KResources 管理者
Type=ServiceType
X-KDE-ServiceType=KResources/Manager
Comment=KResources Manager
Comment[bs]=Menadžer K-resursa
Comment[ca]=Gestió del KResources
Comment[ca@valencia]=Gestió del KResources
Comment[cs]=KResource správce
Comment[da]=KResources-håndtering
Comment[de]=Ressourcenverwaltung
Comment[el]=Διαχειριστής KResources
Comment[en_GB]=KResources Manager
Comment[es]=Gestor de KResources
Comment[et]=KDE ressursside haldur
Comment[fi]=KResources-hallinta
Comment[fr]=Gestionnaire KResources
Comment[ga]=Bainisteoir KResources
Comment[gl]=Xestor de KResources
Comment[he]=מנהל משאבים KResources
Comment[hne]=केरिसोर्स प्रबंधक
Comment[hu]=KResources-kezelő
Comment[ia]=Gerente KResources
Comment[it]=Gestore di KResources
Comment[ja]=KDE リソースマネージャ
Comment[kk]=KResources менеджері
Comment[km]=កម្មវិធី​គ្រប់គ្រង KResources
Comment[lt]=KResursų tvarkytuvė
Comment[lv]=KResources pārvaldnieks
Comment[mr]=के-रिसोर्सेस व्यवस्थापक
Comment[nb]=KResources-styring
Comment[nds]=KDE-Ressourcenpleger
Comment[nl]=KResource-beheerder
Comment[nn]=KResource-handsaming
Comment[pa]=ਕੇ-ਰੀਸੋਰਸ ਮੈਨੇਜਰ
Comment[pl]=Menadżer zasobów KDE (KResource)
Comment[pt]=Gestor do KResources
Comment[pt_BR]=Gerenciador do KResource
Comment[ro]=Gestionar KResurse
Comment[ru]=Управление источниками данных
Comment[se]=KResources-gieđahalli
Comment[sk]=KResources manažér
Comment[sl]=Upravljalnik virov KResources
Comment[sq]=KResources Manager
Comment[sr]=Менаџер К‑ресурса
Comment[sr@ijekavian]=Менаџер К‑ресурса
Comment[sr@ijekavianlatin]=Menadžer K‑resursa
Comment[sr@latin]=Menadžer K‑resursa
Comment[sv]=Resurshantering
Comment[th]=ตัวจัดการทรัพยากร
Comment[tr]=KResources Yöneticisi
Comment[ug]=KResources باشقۇرغۇچ
Comment[uk]=Менеджер KResource-ів
Comment[wa]=Manaedjeu KResources
Comment[x-test]=xxKResources Managerxx
Comment[zh_CN]=KResource 管理器
Comment[zh_TW]=KResources 管理者

[PropertyDef::X-KDE-ResourceFamily]
Type=QString
