[Desktop Entry]
Type=ServiceType
X-KDE-ServiceType=KScan/KScanDialog
Name=KScan
Name[af]=KScan
Name[ar]=KScan
Name[as]=KScan
Name[ast]=KScan
Name[be]=KScan
Name[be@latin]=KScan
Name[bg]=KScan
Name[bn]=কে-স্ক্যান
Name[bn_IN]=KScan
Name[br]=KScan
Name[bs]=KScan
Name[ca]=KScan
Name[ca@valencia]=KScan
Name[cs]=KScan
Name[csb]=KScan
Name[cy]=KSgan
Name[da]=KScan
Name[de]=KScan
Name[el]=KScan
Name[en_GB]=KScan
Name[eo]=Bildciferecigo
Name[es]=KScan
Name[et]=KScan
Name[eu]=KScan
Name[fa]=KScan
Name[fi]=KScan
Name[fr]=KScan
Name[fy]=KScan
Name[ga]=KScan
Name[gl]=KScan
Name[gu]=KScan
Name[he]=KScan
Name[hi]=के-स्कैन
Name[hne]=के-स्कैन
Name[hr]=KScan
Name[hsb]=KScan
Name[hu]=KScan
Name[hy]=KScan
Name[ia]=Kscan
Name[id]=KScan
Name[is]=KScan myndlesari
Name[it]=KScan
Name[ja]=KScan
Name[kk]=KScan
Name[km]=KScan
Name[kn]=ಕೆಸ್ಕ್ಯಾನ್
Name[ko]=KScan
Name[ku]=KScan
Name[lb]=KScan
Name[lt]=KScan
Name[lv]=KScan
Name[mai]=के-स्कैन
Name[mk]=KScan
Name[ml]=കെസ്കാന്‍
Name[mr]=के-स्कॅन
Name[ms]=KScan
Name[nb]=KScan
Name[nds]=KScan
Name[ne]=केडीई स्क्यान
Name[nl]=KScan
Name[nn]=KScan
Name[or]=KScan
Name[pa]=KScan
Name[pl]=Skan
Name[ps]=Kځېرل
Name[pt]=KScan
Name[pt_BR]=KScan
Name[ro]=KScan
Name[ru]=KScan
Name[se]=KScan
Name[si]=KScan
Name[sk]=KScan
Name[sl]=KScan
Name[sq]=KScan
Name[sr]=К‑скен
Name[sr@ijekavian]=К‑скен
Name[sr@ijekavianlatin]=KScan
Name[sr@latin]=KScan
Name[sv]=Kscan
Name[ta]=KScan
Name[te]=కేస్కేన్
Name[tg]=KScan
Name[th]=KScan
Name[tr]=KScan
Name[tt]=KScan
Name[ug]=KScan
Name[uk]=KScan
Name[uz]=KScan
Name[uz@cyrillic]=KScan
Name[vi]=KScan
Name[wa]=KScan
Name[xh]=KScan
Name[x-test]=xxKScanxx
Name[zh_CN]=KScan
Name[zh_HK]=KScan
Name[zh_TW]=KScan
