[Desktop Entry]
Type=ServiceType
X-KDE-ServiceType=KUriFilter/Plugin
Name=Enhanced Browsing Plugin
Name[af]=Verbeterde Blaaiïng inpropmodule
Name[ar]=ملحق التصفّح المحسّن
Name[as]=উন্নত চৰকৰ প্লাগ-ইন
Name[ast]=Complementu de ñavegación ameyorada
Name[be]=Палепшаны дадатак агляду
Name[be@latin]=Lepšy plugin dla prahladu
Name[bg]=Разширена приставка за преглед
Name[bn]=উন্নত ব্রাউজিং প্লাগ-ইন
Name[bn_IN]=উন্নত ব্রাউজিং-এ সহায়ক প্লাগ-ইন
Name[br]=Lugant Furchal Gwellaet
Name[bs]=Priključak za poboljšano pregledanje
Name[ca]=Connector de navegació millorada
Name[ca@valencia]=Connector de navegació millorada
Name[cs]=Modul rozšířeného procházení
Name[csb]=Mòduł do rozszérzónégò przezéraniô
Name[cy]=Ategyn Pori Hwylusach
Name[da]=Plugin til udvidet browsing
Name[de]=Erweitertes Browser-Modul
Name[el]=Πρόσθετο βελτιωμένης εξερεύνησης
Name[en_GB]=Enhanced Browsing Plugin
Name[eo]=Progresinta retumila kromprogramo
Name[es]=Complemento de navegación mejorada
Name[et]=Täiustatud brausimise plugin
Name[eu]=Arakatze plugin hobetua
Name[fa]=وصله مرور افزوده
Name[fi]=Laajennetun selauksen liitännäinen
Name[fr]=Module externe de navigation avancée
Name[fy]=Plugin foar effisjinter browsen
Name[ga]=Breiseán le haghaidh Brabhsála Feabhsaithe
Name[gl]=Complemento de navegación mellorada
Name[gu]=સુધારો શોધખોળ પ્લગઈન
Name[he]=תוסף לגלישה משופרת
Name[hi]=एनहैंस्ड ब्राउज़िंग प्लगइन
Name[hne]=एन हैस्ड ब्राउजिंग प्लगइन
Name[hr]=Priključak za pojačano pretraživanje
Name[hsb]=Zašćěpka za polěpšenje browsowanje
Name[hu]=Továbbfejlesztett böngészés bővítőmodul
Name[hy]=Հավելյալ թերթելու հարմարանք
Name[ia]=Plugin de navigation avantiate
Name[id]=Plugin Peramban Dipercanggih
Name[is]=Íforrit fyrir vafraendurbætur
Name[it]=Estensione di navigazione avanzata
Name[ja]=拡張ブラウズプラグイン
Name[kk]=Жетілдірген шарлау плагині
Name[km]=កម្មវិធី​ជំនួយ​ការ​រុករក​ដែល​បាន​បន្ថែម
Name[kn]=ಉನ್ನತ ವೀಕ್ಷಣಾ ಮಿಳಿತಾನ್ವಯ (ಪ್ಲಗಿನ್)
Name[ko]=고급 탐색 플러그인
Name[ku]=Pêveka Nihêrîna Pêşketî
Name[lb]=Erweiderte Browser-Plugin
Name[lt]=Išplėstinio naršymo priedas
Name[lv]=Uzlabotas pārlūkošanas spraudnis
Name[mai]=बढ़ाएल ब्राउजिंग प्लगइन
Name[mk]=Приклучок за напредно разгледување
Name[ml]=പുതുക്കിയ ബ്രൌസര്‍ സംയോജകം
Name[mr]=प्रगत संचारण प्लगइन
Name[ms]=Plug masuk Pelayar Ekstra
Name[nb]=Programtillegg for utvidet nettlesing
Name[nds]=Nettkiekverwiedern-Plugin
Name[ne]=विस्तारित ब्राउजिङ प्लगइन
Name[nl]=Verbeterd Browsen Plugin
Name[nn]=Programtillegg for nettlesarforbetringar
Name[or]=ବର୍ଦ୍ଧିତ ବ୍ରାଉଜିଙ୍ଗ ପ୍ଲଗଇନ
Name[pa]=ਇੰਹਾਂਸਡ ਬਰਾਊਜ਼ਿੰਗ ਪਲੱਗਇਨ
Name[pl]=Moduł do rozszerzonego przeglądania
Name[ps]=پرمختللی لټوونی لګون
Name[pt]='Plugin' de Navegação Melhorada
Name[pt_BR]=Plugin de navegação melhorada
Name[ro]=Modul de navigare avansată
Name[ru]=Расширение просмотра
Name[se]=Njuovžilut fierbmádatlogadeami lassemoduvla
Name[si]=දියුණු කළ ගවේෂණ ප්ලගීනය
Name[sk]=Modul rozšíreného prehliadania
Name[sl]=Vstavek za izboljšano brskanje
Name[sr]=Прикључак за побољшано прегледање
Name[sr@ijekavian]=Прикључак за побољшано прегледање
Name[sr@ijekavianlatin]=Priključak za poboljšano pregledanje
Name[sr@latin]=Priključak za poboljšano pregledanje
Name[sv]=Utökad webbläsning
Name[ta]=மேம்பட்ட உலாவி செருகி
Name[te]=అభివ్రుద్దిపరచిన బ్రౌజింగ్ ప్లగిన్
Name[tg]=Васлкунаки намоишгари пурзӯр
Name[th]=โปรแกรมเสริมการเบราว์แบบเสริมความสามารถ
Name[tr]=Gelişmiş Tarayıcı Eklentisi
Name[tt]=Киңәйтелгән күзәтү өстәмәсе
Name[ug]=كۈچەيتىلگەن كۆرگۈ قىستۇرمىسى
Name[uk]=Додаток розширеної навігації
Name[uz]=Tezlashtirilgan veb-koʻrish plagini
Name[uz@cyrillic]=Тезлаштирилган веб-кўриш плагини
Name[vi]=Phần bổ sung duyệt nâng cao
Name[wa]=Tchôke-divins sipepieus betchtaedje
Name[xh]=Iplagi yangaphakathi Ekhangela iincwadi Enyusiweyo
Name[x-test]=xxEnhanced Browsing Pluginxx
Name[zh_CN]=增强的浏览插件
Name[zh_HK]=增強功能的瀏覽外掛程式
Name[zh_TW]=增強的瀏覽外掛程式
