[Desktop Entry]
Type=ServiceType
X-KDE-ServiceType=NepomukFileExtractor
Comment=Nepomuk File Extractor
Comment[bs]=Nepomukov ekstraktor datoteka
Comment[ca]=Extractor de fitxers del Nepomuk
Comment[ca@valencia]=Extractor de fitxers del Nepomuk
Comment[cs]=Extraktor souborů pro Nepomuk
Comment[da]=Nepomuk filudtrækker
Comment[de]=Datei-Extraktion für Nepomuk
Comment[el]=Εξαγωγέας αρχείων Nepomuk
Comment[es]=Extractor de archivos de Nepomuk
Comment[et]=Nepomuki failiekstraktimine
Comment[fi]=Nepomukin tiedostojen luku
Comment[fr]=Extracteur de fichiers Nepomuk
Comment[gl]=Extractor de ficheiros de Nepomuk
Comment[hu]=Nepomuk fájl kibontó
Comment[ia]=Nepomuk Extractor de file
Comment[it]=Estrattore di file di Nepomuk
Comment[kk]=Файлдардан Nepomuk-қа дерек шығарғышы
Comment[km]=កម្មវិធី​ស្រង់​ឯកសារ Nepomuk
Comment[ko]=Nepomuk 파일 추출기
Comment[lt]=Nepomuk failų išskleidimo programa
Comment[mr]=नेपोमुक फाईल बाहेर काढणारा
Comment[nb]=Nepomuk filuttrekker
Comment[nl]=Nepomuk extraheerder uit bestanden
Comment[pa]=ਨਿਪੋਮੁਕ ਫਾਇਲ ਐਕਸਟਰੈਕਟਰ
Comment[pl]=Wydobywanie z plików dla Nepomuk
Comment[pt]=Extracção de Ficheiros do Nepomuk
Comment[pt_BR]=Extrator de arquivos do Nepomuk
Comment[ro]=Extractor de fișiere pentru Nepomuk
Comment[ru]=Обработчик файлов для Nepomuk
Comment[sk]=Extraktor Nepomuk súborov
Comment[sl]=Program za izvleko datotek za Nepomuk
Comment[sr]=Непомуков издвајач из фајлова
Comment[sr@ijekavian]=Непомуков издвајач из фајлова
Comment[sr@ijekavianlatin]=Nepomukov izdvajač iz fajlova
Comment[sr@latin]=Nepomukov izdvajač iz fajlova
Comment[sv]=Nepomuk filextrahering
Comment[tr]=Nepomuk Dosya Çıkartıcı
Comment[ug]=Nepomuk ھۆججەت يەشكۈچ
Comment[uk]=Видобувач даних файлів для Nepomuk
Comment[x-test]=xxNepomuk File Extractorxx
Comment[zh_CN]=Nepomuk 文件提取工具
Comment[zh_TW]=Nepomuk 檔案展開器
