[Desktop Entry]
Type=ServiceType
X-KDE-ServiceType=NepomukService
Comment=Nepomuk Service
Comment[bs]=Servis Nepomuka
Comment[ca]=Servei Nepomuk
Comment[ca@valencia]=Servei Nepomuk
Comment[cs]=Služba Nepomuk
Comment[da]=Nepomuk-tjeneste
Comment[de]=Nepomuk-Dienst
Comment[el]=Υπηρεσία Nepomuk
Comment[es]=Servicio Nepomuk
Comment[et]=Nepomuki teenus
Comment[eu]=Nepomuk zerbitzua
Comment[fi]=Nepomuk-palvelu
Comment[fr]=Service de Nepomuk
Comment[ga]=Seirbhís Nepomuk
Comment[gl]=Servizo Nepomuk
Comment[he]=שרת Nepomuk
Comment[hu]=Nepomuk szolgáltatás
Comment[ia]=Servicio de Nepomuk
Comment[it]=Servizio Nepomuk
Comment[kk]=Nepomuk қызметі
Comment[km]=សេវា​របស់ Nepomuk
Comment[ko]=Nepomuk 서비스
Comment[lt]=Nepomuk tarnyba
Comment[lv]=Nepomuk serviss
Comment[mr]=नेपोमुक सेवा
Comment[nb]=Nepomuk-tjeneste
Comment[nds]=Nepomuk-Deenst
Comment[nl]=Nepomuk-dienst
Comment[pa]=ਨਿਪੋਮੁਕ ਸਰਵਿਸ
Comment[pl]=Usługa Nepomuk
Comment[pt]=Serviço do Nepomuk
Comment[pt_BR]=Serviço do Nepomuk
Comment[ro]=Serviciu Nepomuk
Comment[ru]=Служба Nepomuk
Comment[se]=Nepomuk-bálvalus
Comment[sk]=Služba Nepomuk
Comment[sl]=Storitev Nepomuk
Comment[sr]=Непомуков сервис
Comment[sr@ijekavian]=Непомуков сервис
Comment[sr@ijekavianlatin]=Nepomukov servis
Comment[sr@latin]=Nepomukov servis
Comment[sv]=Nepomuk-tjänst
Comment[tr]=Nepomuk Servisi
Comment[ug]=Nepomuk مۇلازىمىتى
Comment[uk]=Служба Nepomuk
Comment[x-test]=xxNepomuk Servicexx
Comment[zh_CN]=Nepomuk 服务
Comment[zh_TW]=Nepomuk 服務
[PropertyDef::X-KDE-Nepomuk-autostart]
Type=bool
[PropertyDef::X-KDE-Nepomuk-start-on-demand]
Type=bool
[PropertyDef::X-KDE-Nepomuk-run-once]
Type=bool
[PropertyDef::X-KDE-Nepomuk-dependencies]
Type=QStringList
