[Desktop Entry]
Type=ServiceType
X-KDE-ServiceType=NepomukCleaningJob
Comment=Nepomuk Cleaning Job
Comment[bs]=Čistač Nepomuka
Comment[ca]=Treball de neteja del Nepomuk
Comment[ca@valencia]=Treball de neteja del Nepomuk
Comment[cs]=Úloha pro čistění databáze Nepomuku
Comment[da]=Nepomuk-oprydningsjob
Comment[de]=Bereinigung der Nepomuk-Daten
Comment[el]=Εργασία καθαρισμού του Nepomuk
Comment[es]=Trabajo de limpieza de Nepomuk
Comment[fi]=Nepomukin puhdistustyö
Comment[fr]=Tâche de nettoyage de Nepomuk
Comment[gl]=Tarefa de limpeza de Nepomuk
Comment[hu]=Nepomuk tisztító feladat
Comment[ia]=Carga de Nettar de Nepomuk
Comment[it]=Processo di pulizia di Nepomuk
Comment[kk]=Nepomuk тазалау тапсырмасы
Comment[ko]=Nepomuk 청소 작업
Comment[mr]=नेपोमुक सफाई कार्य
Comment[nb]=Nepomuk-rensejobb
Comment[nl]=Taak voor opschonen van Nepomuk
Comment[pa]=ਨਿਪੋਮੁਕ ਕਲੀਨਰ ਜਾਬ
Comment[pl]=Zadanie czyszczenia Nepomuka
Comment[pt]=Tarefa de Limpeza do Nepomuk
Comment[pt_BR]=Tarefa de limpeza do Nepomuk
Comment[ro]=Lucrare de curățare Nepomuk
Comment[ru]=Задание очистки Nepomuk
Comment[sk]=Úloha čistenia Nepomuk
Comment[sl]=Opravilo čistilnika za Nepomuk
Comment[sr]=Непомуков посао чишћења
Comment[sr@ijekavian]=Непомуков посао чишћења
Comment[sr@ijekavianlatin]=Nepomukov posao čišćenja
Comment[sr@latin]=Nepomukov posao čišćenja
Comment[sv]=Nepomuk-rensningsjobb
Comment[tr]=Nepomuk Temizleme Görevi
Comment[ug]=Nepomuk تازىلاش ئىشى
Comment[uk]=Завдання з чищення сховища Nepomuk
Comment[x-test]=xxNepomuk Cleaning Jobxx
Comment[zh_CN]=Nepomuk 清理任务
Comment[zh_TW]=Nepomuk 清除工作
