[Desktop Entry]
Type=ServiceType
X-KDE-ServiceType=NepomukService2
Comment=Nepomuk Service Version 2
Comment[bs]=Servis Nepomuka verzija 2
Comment[ca]=Servei Nepomuk versió 2
Comment[ca@valencia]=Servei Nepomuk versió 2
Comment[cs]=Služba Nepomuk Verze 2
Comment[da]=Nepomuk-tjeneste version 2
Comment[de]=Nepomuk-Dienst Version 2
Comment[el]=Υπηρεσία Nepomuk έκδοση 2
Comment[es]=Servicio Nepomuk versión 2
Comment[fi]=Nepomuk-palvelun versio 2
Comment[fr]=Version 2 du service de Nepomuk
Comment[gl]=Servizo Nepomuk versión 2
Comment[hu]=Nepomuk szolgáltatás 2. verzió
Comment[ia]=Servicio de Nepomuk Version 2
Comment[it]=Servizio Nepomuk versione 2
Comment[kk]=Nepomuk қызметінің 2-нұсқасы
Comment[ko]=Nepomuk 서비스 버전 2
Comment[mr]=नेपोमुक सेवा आवृत्ती २
Comment[nb]=Nepomuk-tjeneste versjon 2
Comment[nl]=Nepomuk-service versie 2
Comment[pa]=ਨਿਪੋਮੁਕ ਸਰਵਿਸ ਵਰਜਨ ੨
Comment[pl]=Usługa Nepomuk Wersja 2
Comment[pt]=Serviço do Nepomuk Versão 2
Comment[pt_BR]=Serviço do Nepomuk versão 2
Comment[ro]=Serviciu Nepomuk Versiunea 2
Comment[ru]=Служба Nepomuk версии 2
Comment[sk]=Služba Nepomuk verzia 2
Comment[sl]=Storitev Nepomuk različice 2
Comment[sr]=Непомуков сервис, верзија 2
Comment[sr@ijekavian]=Непомуков сервис, верзија 2
Comment[sr@ijekavianlatin]=Nepomukov servis, verzija 2
Comment[sr@latin]=Nepomukov servis, verzija 2
Comment[sv]=Nepomuk-tjänst version 2
Comment[tr]=Nepomuk Servisi Sürüm 2
Comment[ug]=Nepomuk مۇلازىمىتىنىڭ 2 نەشرى
Comment[uk]=Служба Nepomuk версії 2
Comment[x-test]=xxNepomuk Service Version 2xx
Comment[zh_CN]=Nepomuk 服务版本 2
Comment[zh_TW]=Nepomuk 服務第 2 版
[PropertyDef::X-KDE-Nepomuk-autostart]
Type=bool
[PropertyDef::X-KDE-Nepomuk-start-on-demand]
Type=bool
[PropertyDef::X-KDE-Nepomuk-run-once]
Type=bool
