[Desktop Entry]
Type=ServiceType
X-KDE-ServiceType=Plasma/Runner

Comment=KRunner plugin
Comment[ar]=ملحق KRunner
Comment[as]=KRunner প্লাগ-ইন
Comment[ast]=Complementu KRunner
Comment[be@latin]=Plugin dla „KRunner”
Comment[bg]=Приставка за KRunner
Comment[bn]=কে-রানার প্লাগ-ইন
Comment[bn_IN]=KRunner প্লাগ-ইন
Comment[bs]=Priključak za K‑izvođač
Comment[ca]=Connector del KRunner
Comment[ca@valencia]=Connector del KRunner
Comment[cs]=KRunner modul
Comment[csb]=Wtëkôcz KRunner
Comment[da]=KRunner-plugin
Comment[de]=KRunner-Modul
Comment[el]=Πρόσθετο του KRunner
Comment[en_GB]=KRunner plugin
Comment[es]=Complemento para KRunner
Comment[et]=KRunneri plugin
Comment[eu]=KRnner plugin-a
Comment[fa]=وصله KRunner
Comment[fi]=KRunner-liitännäinen
Comment[fr]=Module KRunner
Comment[fy]=KRunner plugin
Comment[ga]=Breiseán KRunner
Comment[gl]=Complemento KFileWrite
Comment[gu]=KRunner પ્લગઈન
Comment[he]=תוסף KRunner
Comment[hi]=केरन्नर प्लगइन
Comment[hne]=के-रनरइट प्लगइन
Comment[hr]=Priključak Krunner
Comment[hsb]=KRunner plugin
Comment[hu]=KRunner-bővítmény
Comment[hy]=KRunner-ի հարմարանք
Comment[ia]=Plugin KRunner
Comment[id]=Plguin KRunner
Comment[is]=KRunner íforrit
Comment[it]=Estensione KRunner
Comment[ja]=KRunner プラグイン
Comment[kk]=KRunner плагині
Comment[km]=កម្មវិធី​ជំនួយ​របស់ KRunner
Comment[kn]=ಕೆರನ್ನರ್ ಮಿಳಿತಾನ್ವಯ (ಪ್ಲಗಿನ್)
Comment[ko]=KRunner 플러그인
Comment[ku]=Pêveka KAjoker 
Comment[lt]=KRunner priedas
Comment[lv]=KRunner spraudnis
Comment[mai]=केरनर प्लगइन
Comment[ml]=കെറണ്ണര്‍ സംയോജകം
Comment[mr]=KRunner प्लगइन
Comment[nb]=KRunner-programtillegg
Comment[nds]=KRunner-Moduul
Comment[nl]=KRunner-plugin
Comment[nn]=KRunner-tillegg
Comment[pa]=ਕੇਰਨਰ ਪਲੱਗਇਨ
Comment[pl]=Wtyczka KRunnera
Comment[pt]='Plugin' do KRunner
Comment[pt_BR]=Plugin do KRunner
Comment[ro]=Modul KRunner
Comment[ru]=Расширение KRunner
Comment[se]=KRunner-lassemodula
Comment[si]=KRunner ප්ලගීනය
Comment[sk]=KRunner modul
Comment[sl]=Vstavek za KRunner
Comment[sq]=KRunner plugin
Comment[sr]=Прикључак за К‑извођач
Comment[sr@ijekavian]=Прикључак за К‑извођач
Comment[sr@ijekavianlatin]=Priključak za K‑izvođač
Comment[sr@latin]=Priključak za K‑izvođač
Comment[sv]=Krunner-insticksprogram
Comment[ta]=கேரன்னர் செருகி
Comment[tg]=Васлкунаки KRunner
Comment[th]=โปรแกรมเสริมของ KRunner
Comment[tr]=KRunner eklentisi
Comment[tt]=KRunner өстәмәсе
Comment[ug]=KRunner قىستۇرما
Comment[uk]=Додаток до KRunner
Comment[vi]=Phần bổ sung KRunner
Comment[wa]=Tchôke-divins KRunner
Comment[x-test]=xxKRunner pluginxx
Comment[zh_CN]=KRunner 插件
Comment[zh_TW]=KRunner 外掛程式

[PropertyDef::X-Plasma-AdvertiseSingleRunnerQueryMode]
Type=bool

[PropertyDef::TryExec]
Type=QString

[PropertyDef::X-Plasma-Args]
Type=QStringList

