[Desktop Entry]
Type=ServiceType
X-KDE-ServiceType=Plasma/Service

Comment=Plasma service
Comment[ar]=خدمة بلازما
Comment[bg]=Услуга Plasma
Comment[bs]=Plazma usluga
Comment[ca]=Servei del Plasma
Comment[ca@valencia]=Servei del Plasma
Comment[cs]=Služba Plasma
Comment[da]=Plasma-tjeneste
Comment[de]=Plasma-Dienst
Comment[el]=Υπηρεσία plasma
Comment[en_GB]=Plasma service
Comment[es]=Servicio de Plasma
Comment[et]=Plasma teenus
Comment[eu]=Plasma zerbitzua
Comment[fi]=Plasma-palvelu
Comment[fr]=Service Plasma
Comment[ga]=Seirbhís Plasma
Comment[gl]=Servizo do Plasma
Comment[gu]=પ્લાઝમા સેવા
Comment[he]=שירות של Plasma
Comment[hi]=प्लासमा सेवा
Comment[hr]=Servis u Plasmi
Comment[hu]=Plazma-szolgáltatás
Comment[hy]=Պլազմա ծառայություն
Comment[ia]=Servicio de Plasma
Comment[is]=Plasma-þjónusta
Comment[it]=Servizio plasma
Comment[ja]=Plasma サービス
Comment[kk]=Plasma қызметі
Comment[km]=សេវា​​ប្លាស្មា
Comment[ko]=Plasma 서비스
Comment[lt]=Plasma tarnyba
Comment[lv]=Plasma serviss
Comment[mr]=प्लाज्मा सेवा
Comment[nb]=Plasma-tjeneste
Comment[nds]=Plasma-Deenst
Comment[nl]=Plasma-service
Comment[pa]=ਪਲਾਜ਼ਮਾ ਸਰਵਿਸ
Comment[pl]=Usługa Plazmy
Comment[pt]=Serviço do Plasma
Comment[pt_BR]=Serviço do Plasma
Comment[ro]=Servicu Plasma
Comment[ru]=Служба Plasma
Comment[se]=Plasma-bálvalus
Comment[si]=ප්ලස්මා සේවා
Comment[sk]=Služba Plasma
Comment[sl]=Storitev Plasme
Comment[sq]=Shërbimi plazma
Comment[sr]=Плазма сервис
Comment[sr@ijekavian]=Плазма сервис
Comment[sr@ijekavianlatin]=Plasma servis
Comment[sr@latin]=Plasma servis
Comment[sv]=Plasma-tjänst
Comment[tg]=Хидматҳои Plasma
Comment[th]=บริการของพลาสมา
Comment[tr]=Plasma servisi
Comment[tt]=Plasma хезмәте
Comment[ug]=Plasma مۇلازىمىتى
Comment[uk]=Служба Плазми
Comment[vi]=Dịch vụ Plasma
Comment[wa]=Siervice di Plasma
Comment[x-test]=xxPlasma servicexx
Comment[zh_CN]=Plasma 服务
Comment[zh_TW]=Plasma 服務
