[Desktop Entry]
Type=ServiceType
X-KDE-ServiceType=Plasma/Sal/Menu

Name=Plasma Search and Launch menu
Name[ar]=قائمة بلازما للبحث والإطلاق
Name[ast]=Menú Plasma de gueta y llanzamientu
Name[bg]=Меню за търсене и стартиране в Plasma
Name[bs]=meni pretrage i pokretanja
Name[ca]=Menú de cerca i llançament del Plasma
Name[ca@valencia]=Menú de cerca i llançament del Plasma
Name[cs]=Vyhledávací a spouštěcí nabídka plasmy
Name[csb]=Menu szëkbë ë zrëszaniô plazmë
Name[da]=Plasma menu til søgning og opstart
Name[de]=Menü „Suchen und Starten“ für Plasma
Name[el]=Μενού Plasma αναζήτησης και εκτέλεσης
Name[en_GB]=Plasma Search and Launch menu
Name[es]=Menú Plasma de búsqueda y lanzamiento
Name[et]=Plasma otsimise ja käivitamise menüü
Name[eu]=Plasma bilatu eta jaurti menua
Name[fi]=Plasma-etsintä- ja -käynnistysvalikko
Name[fr]=Menu Plasma de recherche et de lancement
Name[fy]=Plasma syk en útfier menu
Name[ga]=Roghchlár Cuardaigh/Tosaithe Plasma
Name[gl]=Menú de busca e inicio de Plasma
Name[he]=תפריט חיפוש והפעלה של Plasma
Name[hi]=प्लासमा खोज व लाँच मीनु
Name[hr]=Plasmin izbornik "Traži i pokreni"
Name[hu]=Plasma keresés és indítás menü
Name[ia]=Menu de Plasma per cercar e lancear
Name[id]=Menu Pencarian dan Peluncuran Plasma
Name[is]=Plasma leitar- og ræsingavalmynd
Name[it]=Menu di ricerca e avvio di Plasma
Name[ja]=Plasma 検索と起動メニュー
Name[kk]=Plasma іздеу және жегу мәзірі
Name[km]=ស្វែងរក​ប្លាស្មា ហើយ​ចាប់ផ្ដើម​ម៉ឺនុយ
Name[kn]=ಪ್ಲಾಸ್ಮಾ ಹುಡುಕು ಹಾಗು ಪ್ರಕ್ಷೇಪನ ಪರಿವಿಡಿ
Name[ko]=Plasma 찾아서 실행 메뉴
Name[lt]=Plasma paieškos ir paleidimo meniu
Name[lv]=Plasma meklēšanas un palaišanas izvēlne
Name[mk]=Мени за Пребарување и стартување преку Плазма
Name[ml]=പ്ലാസ്മയിലെ തെരയാനും തുടങ്ങാനുമുള്ള മെനു
Name[mr]=प्लाज्मा शोधा व प्रक्षेपण करा मेन्यू
Name[nb]=Plasma søk og start-meny
Name[nds]=Plasma-Söök- un Oproopmenü
Name[nl]=Menu voor Plasma zoeken en starten
Name[nn]=Søk- og køyr i Plasma
Name[pa]=ਪਲਾਜ਼ਮਾ ਖੋਜ ਅਤੇ ਲਾਂਚ ਮੇਨੂ
Name[pl]=Menu Plazmy "znajdź i uruchom"
Name[pt]=Menu de Pesquisa e Lançamento do Plasma
Name[pt_BR]=Menu de pesquisa e execução do Plasma
Name[ro]=Meniu de căutare și lansare Plasma
Name[ru]=Меню «Поиск и запуск»
Name[si]=ප්ලාස්මා සොයා ක්‍රියාකරවන එන්ජිම
Name[sk]=Menu "Hľadať a spustiť" pre plasmu
Name[sl]=Meni za iskanje in zaganjanje
Name[sr]=мени претраге и покретања
Name[sr@ijekavian]=мени претраге и покретања
Name[sr@ijekavianlatin]=meni pretrage i pokretanja
Name[sr@latin]=meni pretrage i pokretanja
Name[sv]=Plasma sök- och startmeny
Name[tg]=Барномаи ҷустуҷӯ
Name[th]=พลาสมารูปแบบค้นหาและเมนูเรียกใช้งาน
Name[tr]=Plasma Ara ve Çalıştır Menüsü
Name[ug]=پلازما ئىزدە ۋە ئىجرا تىزىملىكى
Name[uk]=Меню пошуку і запуску Плазми
Name[wa]=Dressêye Plasma po trover eyet enonder
Name[x-test]=xxPlasma Search and Launch menuxx
Name[zh_CN]=Plasma 搜索与启动菜单
Name[zh_TW]=Plasma 搜尋與啟動選單
Comment=Menu entry for The Plasma search and launch activity
Comment[ar]=مدخلة قائمة لنشاط بلازما للبحث والإطلاق
Comment[ast]=Entrada de menú pa la xera de gueta y llanzamientu de Plasma
Comment[bg]=Запис в менюто за търсене и стартиране в Plasma
Comment[bs]=Stavka menija za aktivnost plazma pretrage i pokretanja
Comment[ca]=Entrada de menú per a l'activitat de cerca i llançament del Plasma
Comment[ca@valencia]=Entrada de menú per a l'activitat de cerca i llançament del Plasma
Comment[cs]=Položka nabídky pro pro Vyhledávací a spouštěcí aktivitu plasmy
Comment[da]=Menupunkt til Plasma søg og opstart-aktivitet
Comment[de]=Menüeintrag für die Aktivität „Suchen und Starten“ von Plasma
Comment[el]=Καταχώρηση μενού για τις ενέργειες αναζήτησης και εκτέλεσης Plasma
Comment[en_GB]=Menu entry for The Plasma search and launch activity
Comment[es]=Entrada de menú para la actividad de búsqueda y lanzamiento de Plasma
Comment[et]=Plasma otsimis- ja käivitamistegevuse menüükirje
Comment[eu]=Menu sarrera Plasma bilatu eta jaurti jarduerarentzako
Comment[fi]=Valikkorivi Plasma-etsintä- ja -käynnistysaktiviteettiin
Comment[fr]=Entrée de menu pour l'activité de Plasma pour la recherche et le lancement
Comment[fy]=Menu ynfier foar de Plasma syk en útfier aktiviteit
Comment[gl]=Unha entrada no menú para a actividade de busca e inicio de Plasma
Comment[he]=רשומה בתפריט לפעילות החיפוש וההפעלה של Plasma
Comment[hr]=Stavka izbornika za Plasminu "traži i pokreni" aktivnost
Comment[hu]=Menübejegyzés a Plasma keresés és indítás aktivitáshoz
Comment[ia]=Entrata de menu pro activitate de Plasma per cercar e lancear
Comment[id]=Lema menu untuk aktivitas pencarian dan peluncuran Plasma
Comment[is]=Valmyndarfærsla fyrir aðgerð í Plasma leit- og ræsingu
Comment[it]=Voce del menu per l'attività di ricerca e avvio di Plasma
Comment[ja]=Plasma 検索と起動メニュー用のメニューエントリ
Comment[kk]=Plasma-да іздеу және жегуді орындайтын мәзір бабы
Comment[km]=ធាតុ​ម៉ឺនុយ​សម្រាប់​កា​រស្វែងរក​ប្លាស្មា និង​​ចាប់ផ្ដើម​សកម្មភាព
Comment[ko]=Plasma 찾아서 실행 활동을 위한 메뉴 항목
Comment[lt]=Plazmos meniu įrašas, skirtas paieškai ir programų paleidimui
Comment[lv]=Izvēlnes ieraksts Plasma meklēšanas un palaišanas nodarbei
Comment[mk]=Ставка од мени за активноста „Пребарување и стартување преку Плазма“
Comment[ml]=പ്ലാസ്മാ തെരച്ചില്‍ വിക്ഷേപണ പ്രവര്‍ത്തനങ്ങള്‍ക്കുള്ള മെനുവിലെ വരി
Comment[mr]=शोधा व प्रक्षेपण करा या प्लाज्मा कार्यपध्दतीची मेन्यू नोंद
Comment[nb]=Menyinnslag for Plasmas søk-og-start-aktivitet
Comment[nds]=Menüindrag för de Plasma-Aktiviteet »Söken un Opropen«
Comment[nl]=Menu-item voor de Plasma zoeken en starten activiteit
Comment[nn]=Menyoppføring av søk- og køyr i Plasma
Comment[pa]=ਪਲਾਜ਼ਮਾ ਖੋਜ ਤੇ ਲਾਂਚ ਸਰਗਰਮੀ ਲਈ ਮੇਨੂ ਐਂਟਰੀ
Comment[pl]=Wpis menu dla działania Plazmy "znajdź i uruchom"
Comment[pt]=Item do menu para a actividade de pesquisa e lançamento do Plasma
Comment[pt_BR]=Entrada do menu para a atividade de pesquisa e execução do Plasma
Comment[ro]=Înregistrare de meniu pentru activitatea de căutare și lansare Plasma
Comment[ru]=Пункт меню для поиска и запуска комнат Plasma
Comment[si]=ප්ලාස්මා සොයා ක්‍රියාකරවන ක්‍රියාවලියට මෙනු ඇතුළත් කිරීමක්
Comment[sk]=Položka menu pre aktivitu plasmy Hľadať a spustiť
Comment[sl]=Menijski vnos za dejavnost iskanja in zaganjanja
Comment[sr]=Ставка менија за активност плазма претраге и покретања
Comment[sr@ijekavian]=Ставка менија за активност плазма претраге и покретања
Comment[sr@ijekavianlatin]=Stavka menija za aktivnost plasma pretrage i pokretanja
Comment[sr@latin]=Stavka menija za aktivnost plasma pretrage i pokretanja
Comment[sv]=Menyalternativ för sök- och startåtgärder i Plasma
Comment[tg]=Менюи воридот барои ҷустуҷӯ ва оғози фаъолияти Plasma
Comment[th]=รายการเมนูของกิจกรรมพลาสมารูปแบบค้นหาและเมนูเรียกใช้งาน
Comment[tr]=Plasma ara ve çalıştır etkinliği için menü girdisi
Comment[ug]=پلازمىنىڭ تىزىملىك تۈرىنى ئىزدەپ ئىجرا قىلىدۇ
Comment[uk]=Пункт меню для простору дій пошуку і запису Плазми
Comment[wa]=Intrêye del dressêye pol cweraedje di Plasma eyet l' activité d' enondeu
Comment[x-test]=xxMenu entry for The Plasma search and launch activityxx
Comment[zh_CN]=搜索与启动 Plasma 的菜单项
Comment[zh_TW]=Plasma 搜尋與啟動的選單項目

[PropertyDef::X-Plasma-Sal-Url]
Type=QString

[PropertyDef::X-Plasma-Sal-Relevance]
Type=int



