[Desktop Entry]
Type=ServiceType
X-KDE-ServiceType=Plasma/DataEngine

Comment=Plasma Data Engine
Comment[ar]=محرك بيانات بلازما
Comment[as]=Plasma Data Engine
Comment[ast]=Motor de datos Plasma
Comment[be@latin]=Systema dostupu da źviestak „Plasma”
Comment[bg]=Ядро за данни на Plasma
Comment[bn]=প্লাসমা ডাটা ইঞ্জিন
Comment[bn_IN]=Plasma ডাটা ইঞ্জিন
Comment[bs]=Plazma datomotor
Comment[ca]=Motor de dades del Plasma
Comment[ca@valencia]=Motor de dades del Plasma
Comment[cs]=Datový nástroj plasma
Comment[da]=Plasma datamotor
Comment[de]=Plasma-Daten-Treiber
Comment[el]=Μηχανή δεδομένων Plasma
Comment[en_GB]=Plasma Data Engine
Comment[eo]=Plasma Datuma Motoro
Comment[es]=Motor de datos para Plasma
Comment[et]=Plasma andmemootor
Comment[eu]=Plasmaren datu motorra
Comment[fi]=Plasma-tietomoottori
Comment[fr]=Moteur de données Plasma
Comment[fy]=Plasma gegevensmotor
Comment[ga]=Inneall Sonraí Plasma
Comment[gl]=Motor de datos de plasma
Comment[gu]=પ્લાઝમા માહિતી એન્જિન
Comment[he]=מנוע מידע עבור Plasma
Comment[hne]=प्लाज्मा डाटा इंजिन
Comment[hr]=Plasmin podaktovni mehanizam
Comment[hsb]=Datowa engine za Plasma
Comment[hu]=Plasma adatkezelő
Comment[hy]=Պլազմա տվյալների գործիք
Comment[ia]=Motor de datos de Plasma
Comment[id]=Mesin Data Plasma
Comment[is]=Plasma gagnavél
Comment[it]=Motore dati Plasma
Comment[ja]=Plasma データエンジン
Comment[kk]=Plasma деректер тетігі
Comment[km]=ម៉ាស៊ីន​ទិន្នន័យ​ប្លាស្មា
Comment[kn]=ಪ್ಲಾಸ್ಮಾ ದತ್ತ ಯಂತ್ರ
Comment[ko]=Plasma 데이터 엔진
Comment[ku]=Motora Dane ya Plasma
Comment[lt]=Plasma duomenų varikliukas
Comment[lv]=Plasma datu dzinējs
Comment[mai]=प्लाजमा डेटा इंजन
Comment[ml]=പ്ലാസ്മ ഡാറ്റ എഞ്ചിന്‍
Comment[mr]=प्लाज्मा डेटा इंजिन
Comment[nb]=Plasma datamotor
Comment[nds]=Plasma-Datenkarn
Comment[nl]=Plasma-gegevensengine
Comment[nn]=Plasma-datamotor
Comment[pa]=ਪਲਾਜ਼ਮਾ ਡਾਟਾ ਇੰਜਣ
Comment[pl]=Silnik danych Plazmy
Comment[pt]=Motor de Dados do Plasma
Comment[pt_BR]=Mecanismo de dados do Plasma
Comment[ro]=Motor de date Plasma
Comment[ru]=Источник данных Plasma
Comment[se]=Plasma-dáhtamohtor
Comment[si]=Plasma දත්ත එංජිම
Comment[sk]=Dátový nástroj Plasma
Comment[sl]=Podatkovni pogon za Plasmo
Comment[sq]=Motor të Dhënash Plasma
Comment[sr]=Плазма датомотор
Comment[sr@ijekavian]=Плазма датомотор
Comment[sr@ijekavianlatin]=Plasma datomotor
Comment[sr@latin]=Plasma datomotor
Comment[sv]=Plasma datagränssnitt
Comment[ta]=பிளாஸ்மா தரவு இயந்திரம்
Comment[tg]=Системаи маълумотии Plasma
Comment[th]=กลไกข้อมูลของพลาสมา
Comment[tr]=Plasma Veri Motoru
Comment[tt]=Plasma мәгълүмат коралы
Comment[ug]=Plasma سانلىق-مەلۇمات ماتورى
Comment[uk]=Рушій даних Плазми
Comment[vi]=Cơ chế dữ liệu Plasma
Comment[wa]=Moteur di dnêyes di Plasma
Comment[x-test]=xxPlasma Data Enginexx
Comment[zh_CN]=Plasma 数据引擎
Comment[zh_TW]=Plasma 資料引擎

