[Desktop Entry]
Type=ServiceType
X-KDE-ServiceType=Plasma/ContainmentActions

Comment=Plasma ContainmentActions
Comment[ar]=Plasma ContainmentActions
Comment[bg]=Действия за контейнера на Plasma
Comment[bs]=Plazma radnje sadržalaca
Comment[ca]=ContainmentActions del Plasma
Comment[ca@valencia]=ContainmentActions del Plasma
Comment[cs]=Akce plasma kontejneru
Comment[da]=Plasma ContainmentActions
Comment[de]=Plasma-Container-Aktionen
Comment[el]=Ενέργειες Υποδοχέα Plasma
Comment[en_GB]=Plasma ContainmentActions
Comment[es]=ContainmentActions de Plasma
Comment[et]=Plasma konteineritoimingud
Comment[eu]=Plasma ContainmentActions
Comment[fi]=Plasma ContainmentActions
Comment[fr]=Actions de conteneur de Plasma
Comment[ga]=Gníomhartha Coimeádán Plasma
Comment[gl]=ContainmentActions de Plasma 
Comment[gu]=પ્લાઝમા કન્ટેનરક્રિયાઓ
Comment[he]=Plasma ContainmentActions
Comment[hr]=Plasma ContainmentActions
Comment[hu]=Plasma tartóműveletek
Comment[hy]=Plasma ContainerActions
Comment[ia]=Actiones  de continemento Plasma
Comment[id]=Plasma Aksi Berisi
Comment[is]=Plasma ContainmentActions
Comment[it]=ContainmentActions di Plasma
Comment[ja]=Plasma コンテナアクション
Comment[kk]=Plasma контейнер әрекеті
Comment[km]=ប្លាស្មា ContainmentActions
Comment[ko]=Plasma ContainmentActions
Comment[ku]=Plasma ContainmentActions
Comment[lt]=Plasma konteinerių veiksmai
Comment[lv]=Plasma ietvara darbības
Comment[mr]=प्लाज्मा कंटेनमेंट कृती
Comment[nb]=Plasma ContainmentActions
Comment[nds]=Plasma-Gelaatsakschonen
Comment[nl]=Plasma Containeracties
Comment[nn]=Plasma behaldarhandlingar
Comment[pa]=ਪਲਾਜ਼ਮਾ ਕਨਟੇਨਮੈਂਟਐਕਸ਼ਨ
Comment[pl]=Kontener Plazmy: akcje
Comment[pt]=Acções do Contentor do Plasma
Comment[pt_BR]=Ações do contêiner do Plasma
Comment[ro]=AcțiuniContainer Plasma
Comment[ru]=Действия для контейнеров Plasma
Comment[se]=Plasma ContainmentActions
Comment[sk]=Akcie Plasma
Comment[sl]=Dejanja za vsebnik za Plasmo
Comment[sr]=Плазма радње садржалаца
Comment[sr@ijekavian]=Плазма радње садржалаца
Comment[sr@ijekavianlatin]=Plasma radnje sadržalaca
Comment[sr@latin]=Plasma radnje sadržalaca
Comment[sv]=Plasma omgivningsåtgärder
Comment[ta]=பிளாஸ்மா ContainmentActions
Comment[tg]=Plasma ContainmentActions
Comment[th]=การกระทำในส่วนบรรจุของพลาสมา
Comment[tr]=Plasma İçerici Eylemleri
Comment[tt]=Plasma контейнеры гамәлләре
Comment[ug]=Plasma قاچا ھەرىكىتى
Comment[uk]=Дії контейнерів Плазми
Comment[wa]=Contneu d' accions di Plasma
Comment[x-test]=xxPlasma ContainmentActionsxx
Comment[zh_CN]=Plasma 容器动作
Comment[zh_TW]=Plasma 容器動作

[PropertyDef::X-Plasma-HasConfigurationInterface]
Type=bool

