[Desktop Entry]
Type=ServiceType
X-KDE-ServiceType=Plasma/Containment

Comment=Plasma applet container and background painter
Comment[ar]=حاوية بريمج بلازما ورسام خلفية
Comment[as]=Plasma এপ্লেটৰ টেমা আৰু পৃষ্ঠভূমিৰ চিত্ৰকাৰ
Comment[ast]=Contenedor de miniaplicación Plasma y pintor del fondu
Comment[be@latin]=Schovišča dla apletaŭ „Plasma” j malar fonu
Comment[bg]=Контейнер за аплети на Plasma и рисуване на фона
Comment[bs]=Sadržalac plazma apletâ i iscrtavač pozadine
Comment[ca]=Contenidor de miniaplicació del Plasma i pintor de fons
Comment[ca@valencia]=Contenidor de miniaplicació del Plasma i pintor de fons
Comment[cs]=Kontejner apletů a vykreslovač pozadí Plasma
Comment[da]=Beholder og baggrundstegning til Plasma-applets
Comment[de]=Plasma-Programmcontainer und Hintergrund-Zeichnung
Comment[el]=Υποδοχέας μικροεφαρμογών Plasma και σχεδιαστής του φόντου
Comment[en_GB]=Plasma applet container and background painter
Comment[eo]=Plasma apletujo kaj fonpentrilo
Comment[es]=Contenedor de miniaplicaciones para Plasma y pintor del fondo
Comment[et]=Plasma apleti konteiner ja tausta joonistaja
Comment[eu]=Plasma appletaren edukiontzia eta hondoa margotzekoa
Comment[fi]=Plasma-sovelmasäiliö ja taustan piirrin
Comment[fr]=Conteneur d'applets Plasma et affichage d'arrière-plan
Comment[fy]=Plasma applet container en eftergrûn skilder
Comment[ga]=Coimeádán feidhmchláiríní Plasma agus péintéir cúlra
Comment[gl]=Un contedor de applet de Plasma e pintor do fondo
Comment[gu]=પ્લાઝમા એપ્લેટ ધરાવનાર અને પાશ્ચભાગ રંગનાર
Comment[he]=תוחם של יישומון Plasma וצובע הרקע
Comment[hne]=प्लाज्मा एपलेट कंटेनर अउ पिछोत अंगना पुतइया
Comment[hr]=Spremnik za Plasmin applet i crtač pozadine
Comment[hsb]=Plasma-container za applet a molowadło pozadka
Comment[hu]=Tartóelem és háttérrajzoló Plasma-kisalkalmazásokhoz
Comment[ia]=Receptaculo applet Plasma e pictor de fundo
Comment[id]=Applet pengisi dan penggambar latar belakang Plasma
Comment[is]=Grunnur fyrir Plasma smáforrit og bakgrunnslitun
Comment[it]=Contenitore applet Plasma e disegnatore dello sfondo
Comment[ja]=Plasma アプレットの入れ物、背景の描画
Comment[kk]=Plasma апплет контейнері және ая боятқышы
Comment[km]=ឧបករណ៍​ផ្ទុក​អាប់ភ្លេត​ប្លាស្មា និង​កម្មវិធី​គូរ​ផ្ទៃខាងក្រោយ
Comment[kn]=ಪ್ಲಾಸ್ಮಾ ಅನ್ವಯಾಂಶ (ಆಪ್ಲೆಟ್) ಧಾರಕ (ಕಂಟೈನರ್)ಮತ್ತು ಹಿನ್ನೆಲೆ ಬಣ್ಣಗಾರ (ಪೇಯಿಂಟರ್)
Comment[ko]=Plasma 애플릿 컨테이너 및 배경 칠하는 도구
Comment[ku]=Embarvanê sepanoka Plasma û nexşevanê rûerdê
Comment[lt]=Plasma įskiepio dėklas ir fono paišiklis
Comment[lv]=Plasma sīkrīku konteiners un fona zīmētājs
Comment[mai]=प्लाजमा एप्पलेट कंटेनर आओर पृष्ठभूमि पेंटर
Comment[ml]=പ്ലാസ്മ ലഘുപ്രയോഗം കണ്ടൈനറും പശ്ചാത്തല പെയിന്ററും
Comment[mr]=प्लाज्मा एप्लेट कंटेनर व बेकग्राउंड पेंटर
Comment[nb]=Plasma beholder for miniprogram og bakgrunnsopptegner
Comment[nds]=Plasma-Gelaats för Lüttprogrammen un Achtergrundpleger
Comment[nl]=Container voor plasma-applets en achtergrondinvulling
Comment[nn]=Plasma-behaldar og bakgrunnsmålar
Comment[pa]=ਪਲਾਜ਼ਮਾ ਐਪਲਿਟ ਕੰਨਟੇਨਰ ਅਤੇ ਬੈਕਗਰਾਊਂਡ ਪੇਂਟਰ
Comment[pl]=Kontener apletu Plazmy i rysowanie tła
Comment[pt]=Contentor de 'applets' do Plasma e pintor do fundo
Comment[pt_BR]=Recipiente de miniaplicativos do Plasma e pintor de plano de fundo
Comment[ro]=Container de miniaplicații Plasma și desenator de fundal
Comment[ru]=Контейнер и модуль отрисовки виджета Plasma
Comment[se]=Plasma-prográmmašlihtti ja -duogášmálejeaddji
Comment[si]=Plasma යෙදුම්පත් බහලුම සහ පසුබීම් 
Comment[sk]=Kontajner apletu a vykresľovanie pozadia Plasma
Comment[sl]=Vsebnik apletov in izrisovalnik ozadja za Plasmo
Comment[sr]=Садржалац плазма аплетâ и исцртавач позадине
Comment[sr@ijekavian]=Садржалац плазма аплетâ и исцртавач позадине
Comment[sr@ijekavianlatin]=Sadržalac plasma apletâ i iscrtavač pozadine
Comment[sr@latin]=Sadržalac plasma apletâ i iscrtavač pozadine
Comment[sv]=Plasmaminiprogram-omgivning och bakgrundsuppritning
Comment[ta]=பிளாஸ்மா ஆப்லெட் கொள்ளியும் பின்னணி வண்ணம்பூசியும்
Comment[tg]=Системаи захиракунӣ ва тасвирии Plasma
Comment[th]=ตัววาดพื้นหลังและตัวบรรจุแแอพเพล็ตของพลาสมา
Comment[tr]=Plasma programcık içerici ve arkaplan oluşturucu
Comment[tt]=Plasma кушымтаның контейнеры һәм сүрәтләү модуле
Comment[ug]=Plasma قاچا ھەرىكىتى ۋە تەگلىك سىزغۇچ
Comment[uk]=Контейнер аплетів плазми і малювання тла
Comment[wa]=Contneu d' aplikete eyet pondeu do fond di plasma
Comment[x-test]=xxPlasma applet container and background painterxx
Comment[zh_CN]=Plasma 小程序容器及背景绘制器
Comment[zh_TW]=Plasma 小程式容器與背景畫家

[PropertyDef::X-Plasma-ContainmentCategories]
Type=QStringList


