[Desktop Entry]
Type=ServiceType
X-KDE-ServiceType=Plasma/Wallpaper

Comment=Plasma wallpaper
Comment[ar]=خلفية شاشة بلازما
Comment[as]=Plasma wallpaper
Comment[ast]=Fondu d'escritoriu de Plasma
Comment[be@latin]=Špalery „Plasma”
Comment[bg]=Тапет за Plasma
Comment[bn]=প্লাসমা ওয়ালপেপার
Comment[bn_IN]=Plasma ওয়াল-পেপার
Comment[bs]=Plazma tapet
Comment[ca]=Fons d'escriptori del Plasma
Comment[ca@valencia]=Fons d'escriptori del Plasma
Comment[cs]=Tapeta Plasma
Comment[da]=Plasma-baggrundsbillede
Comment[de]=Plasma-Hintergrundbild
Comment[el]=Ταπετσαρία plasma
Comment[en_GB]=Plasma wallpaper
Comment[es]=Fondo de escritorio para Plasma
Comment[et]=Plasma taustapilt
Comment[eu]=Plasma horma papera
Comment[fi]=Plasma-taustakuva
Comment[fr]=Fond d'écran Plasma
Comment[fy]=Plasma eftergrûnôfbylding
Comment[ga]=Cúlbhrat Plasma
Comment[gl]=Fondo de escritorio do Plasma
Comment[gu]=પ્લાઝમા વોલપેપર
Comment[he]=תמונת רקע של Plasma
Comment[hi]=प्लाजमा वालपेपर
Comment[hne]=प्लाज्मा वालपेपर
Comment[hr]=Plasmina pozadinska slika
Comment[hsb]=Tapeta za Plasma
Comment[hu]=Plasma háttérkép
Comment[hy]=Պլազմա պաստառ
Comment[ia]=Tapete de papiro de Plasma
Comment[id]=Gambar belakang Plasma
Comment[is]=Plasma veggfóður
Comment[it]=Sfondo Plasma
Comment[ja]=Plasma 壁紙
Comment[kk]=Plasma тұсқағазы
Comment[km]=ផ្ទាំង​រូបភាព​ប្លាស្មា
Comment[kn]=ಪ್ಲಾಸ್ಮಾ ಹಿನ್ನೆಲೆ ತೆರೆಚಿತ್ರ (ವಾಲ್ ಪೇಪರ್)
Comment[ko]=Plasma 배경 그림
Comment[ku]=Wêne-rûerdê Plasma 
Comment[lt]=Plasma apmušalas
Comment[lv]=Plasma ekrāntapete
Comment[mai]=प्लाजमा वालपेपर
Comment[ml]=പ്ലാസ്മ ചുമര്‍ച്ചിത്രം
Comment[mr]=प्लाज्मा वॉलपेपर
Comment[nb]=Plasma tapet
Comment[nds]=Plasma-Achtergrundbild
Comment[nl]=Plasma-bureaubladachtergrond
Comment[nn]=Plasmabakgrunn
Comment[pa]=ਪਲਾਜ਼ਮਾ ਵਾਲਪੇਪਰ
Comment[pl]=Tapeta Plazmy
Comment[pt]=Papel de parede do Plasma
Comment[pt_BR]=Papel de parede do Plasma
Comment[ro]=Fundal Plasma
Comment[ru]=Обои Plasma
Comment[se]=Plasma-duogášgovva
Comment[si]=Plasma පසුබිම්රූප
Comment[sk]=Tapeta Plasma
Comment[sl]=Slika ozadja za Plasmo
Comment[sq]=Tapetat plazma
Comment[sr]=Плазма тапет
Comment[sr@ijekavian]=Плазма тапет
Comment[sr@ijekavianlatin]=Plasma tapet
Comment[sr@latin]=Plasma tapet
Comment[sv]=Plasma skrivbordsunderlägg
Comment[ta]=பிளாஸ்மா திரைபின்னணி
Comment[tg]=Тасвири заминаи Plasma
Comment[th]=ภาพพื้นหลังของพลาสมา
Comment[tr]=Plasma duvar kağıdı
Comment[tt]=Плазма обое
Comment[ug]=Plasma تام قەغىزى
Comment[uk]=Тло стільниці Плазми
Comment[vi]=Hình nền Plasma
Comment[wa]=Tapisreye di Plasma
Comment[x-test]=xxPlasma wallpaperxx
Comment[zh_CN]=Plasma 壁纸
Comment[zh_TW]=Plasma 桌布

[PropertyDef::X-Plasma-FormFactors]
Type=QStringList

