[Desktop Entry]
Type=ServiceType
X-KDE-ServiceType=PowerDevil/Action

Comment=Power Management Action Extension
Comment[ast]=Estensión aiciones xestión d'enerxía
Comment[bg]=Разширение за действия по управление на захранването
Comment[bs]=Proširenje radnji za upravljanje napajanjem
Comment[ca]=Extensió d'accions de gestió d'energia
Comment[ca@valencia]=Extensió d'accions de gestió d'energia
Comment[cs]=Rozšiřující akce správy napájení
Comment[da]=Udvidelse af strømstyringshandling
Comment[de]=Erweiterung für Energieverwaltungs-Aktionen
Comment[el]=Επέκταση ενεργών διαχείρισης ενέργειας
Comment[en_GB]=Power Management Action Extension
Comment[es]=Extensión de acción de gestión de energía
Comment[et]=Toitehalduse laiendus
Comment[eu]=Energia kudeatzeko ekintzen hedapena
Comment[fi]=Virranhallinnan toimintolaajennus
Comment[fr]=Extension des actions de gestion de l'énergie
Comment[gl]=Extensión de accións de xestión da enerxía
Comment[he]=Power Management Action Extension
Comment[hr]=Proširenje radnje za upravljanje potrošnjom energije
Comment[hu]=Energiakezelő-műveletek kiterjesztés
Comment[ia]=Extension de action de gestion de energia
Comment[is]=Orkustýringarbakendi
Comment[it]=Estensione delle azioni di gestione energetica
Comment[kk]=Қуаттандыруды басқару әрекетін кеңейтуі
Comment[km]=ផ្នែក​បន្ថែម​សកម្មភាព​គ្រប់គ្រង​ថាមពល
Comment[ko]=전원 관리 동작 확장
Comment[lt]=Energijos valdymo veiksmų plėtinys
Comment[lv]=Energokontroles darbības papildinājums
Comment[mr]=वीज व्यवस्थापन क्रिया एक्सटेंशन
Comment[nb]=Handlingsutvidelse for strømstyring
Comment[nds]=Verwiedern för Stroomkuntrullakschonen
Comment[nl]=Uitbreiding voor energiebeheeractie
Comment[pa]=ਪਾਵਰ ਮੈਨਿਜਮੈਂਟ ਐਕਸ਼ਣ ਇਕਸਟੈਸ਼ਨ
Comment[pl]=Rozszerzenie do działań związanych z zarządzaniem energią
Comment[pt]=Extensão da Acção de Gestão da Energia
Comment[pt_BR]=Extensão da ação do gerenciamento de energia
Comment[ro]=Extensie pentru acțiunea de gestiune a alimentării
Comment[ru]=Расширение для комнаты управления питанием
Comment[sk]=Rozširujúce akcie správy napájania
Comment[sl]=Razširitev za dejanja za upravljanje z energijo
Comment[sr]=Проширење радњи за управљање напајањем
Comment[sr@ijekavian]=Проширење радњи за управљање напајањем
Comment[sr@ijekavianlatin]=Proširenje radnji za upravljanje napajanjem
Comment[sr@latin]=Proširenje radnji za upravljanje napajanjem
Comment[sv]=Åtgärdsutökning för strömsparhantering
Comment[th]=ส่วนขยายการกระทำเกี่ยวกับการจัดการพลังงาน
Comment[tr]=Güç Yönetimi Eylem Eklentisi
Comment[ug]=توك مەنبە باشقۇرۇش مەشغۇلات كېڭەيتىلمىسى
Comment[uk]=Розширення дій керування живленням
Comment[wa]=Sitindaedje des faitindjes do Manaedjmint di l' enerdjeye
Comment[x-test]=xxPower Management Action Extensionxx
Comment[zh_CN]=电源管理动作扩展
Comment[zh_TW]=電源管理動作延伸

[PropertyDef::X-KDE-PowerDevil-Action-ID]
Type=QString
[PropertyDef::X-KDE-PowerDevil-Action-IsBundled]
Type=bool
[PropertyDef::X-KDE-PowerDevil-Action-RegistersDBusInterface]
Type=bool
[PropertyDef::X-KDE-PowerDevil-Action-ForceInstantLoad]
Type=bool
[PropertyDef::X-KDE-PowerDevil-Action-UIComponentLibrary]
Type=QString
[PropertyDef::X-KDE-PowerDevil-Action-ConfigPriority]
Type=int
[PropertyDef::X-KDE-PowerDevil-Action-HasRuntimeRequirement]
Type=bool
