[Desktop Entry]
Type=ServiceType
X-KDE-ServiceType=ThumbCreator
Comment=Thumbnail Handler
Comment[af]=Duimnaelhandteerder
Comment[ar]=مداوِل المصغرات
Comment[ast]=Remanar miniatures
Comment[be]=Апрацоўшчык мініяцюраў
Comment[be@latin]=Stvareńnie padhladaŭ
Comment[bg]=Манипулатор на мини изображения
Comment[bn]=থাম্বনেইল হ্যাণ্ডলার
Comment[bn_IN]=থাম্‌ব-নেইল হ্যান্ডলার
Comment[bs]=Rukovalac sličicama
Comment[ca]=Gestor de miniatures
Comment[ca@valencia]=Gestor de miniatures
Comment[cs]=Ovladač miniatur
Comment[csb]=Programa òbsłùżënkù miniaturków
Comment[cy]=Trinydd Lluniau Cryno
Comment[da]=Miniaturehåndtering
Comment[de]=Minibild-Verwaltung
Comment[el]=Χειριστής εικόνας επισκόπησης
Comment[en_GB]=Thumbnail Handler
Comment[eo]=Traktilo de miniaturoj
Comment[es]=Manejador de miniaturas
Comment[et]=Pisipiltide käsitlemine
Comment[eu]=Koadro txikien maneiatzailea
Comment[fa]=گرداننده ریزنقش
Comment[fi]=Pienoiskuvien hallinta
Comment[fr]=Gestionnaire d'aperçu
Comment[fy]=Miniatueren ôfhanneler
Comment[ga]=Láimhseálaí na Mionsamhlacha
Comment[gl]=Xestor de miniaturas
Comment[gu]=થમ્બનીલ સંભાળનાર
Comment[he]=מטפל בתמונות ממוזערות
Comment[hi]=थम्बनेल हैंडलर
Comment[hne]=थम्बनेल हेंडलर
Comment[hr]=Rukovatelj sličicama
Comment[hsb]=Thumbnail Handler
Comment[hu]=A gyorsnézeti ikonok kezelője
Comment[ia]=Manipulator de miniatura
Comment[id]=Penanganan Miniatur
Comment[is]=Smámyndameðhöndlun
Comment[it]=Gestore delle miniature
Comment[ja]=サムネイルハンドラ
Comment[ka]=მინი-გამოსახულების დამმუშავებელი
Comment[kk]=Нобай өңдеуші
Comment[km]=កម្មវិធី​គ្រប់គ្រង​​រូបភាព​តូចៗ
Comment[kn]=ಸೂಚ್ಯಚಿತ್ರ  ನಿಭಾರಕ
Comment[ko]=미리 보기 처리기
Comment[ku]=Karkerê Serpêçiyê
Comment[lt]=Miniatiūrų tvarkiklis
Comment[lv]=Sīktēlu apstrādātājs
Comment[mai]=थम्बनेल हैंडलर
Comment[mk]=Ракувач со сликички
Comment[ml]=നഖചിത്രങ്ങളെ കൈകാര്യം ച്ചെയ്യാം
Comment[mr]=थम्बनेल आहेंडलर
Comment[ms]=Pengendali Thumbnail
Comment[nb]=Håndtering av minibilder
Comment[nds]=Minibildmaker
Comment[ne]=थम्बनेल ह्यान्डलर
Comment[nl]=Miniafbeeldingenmaker
Comment[nn]=Handtering av førehandsvising
Comment[or]=କ୍ଷୁଦ୍ରଚିତ୍ର ନିୟନ୍ତ୍ରକ
Comment[pa]=ਥੰਮਨੇਲ ਹੈਂਡਲਰ
Comment[pl]=Program obsługujący miniaturki
Comment[pt]=Tratamento de Miniaturas
Comment[pt_BR]=Manipulador de miniaturas
Comment[ro]=Manipulator miniaturi
Comment[ru]=Показ миниатюр
Comment[se]=Gieđahala ovdačájehemiid
Comment[si]=සිගිති රූ හැසිරුම
Comment[sk]=Podpora náhľadu obrázkov
Comment[sl]=Obdelovalnik sličic
Comment[sr]=Руковалац сличицама
Comment[sr@ijekavian]=Руковалац сличицама
Comment[sr@ijekavianlatin]=Rukovalac sličicama
Comment[sr@latin]=Rukovalac sličicama
Comment[sv]=Hanterar miniatyrbilder
Comment[ta]=சிறிய பிம்ப கையாளுதல்
Comment[te]=Thumbnail సంభాలిక
Comment[tg]=Иҷрокунандаи тасвирчаҳо
Comment[th]=ตัวจัดการภาพตัวอย่าง
Comment[tr]=Küçük Resim Dosyaları Görüntüleyici
Comment[ug]=كىچىك سۈرەت بىر تەرەپ قىلغۇچ
Comment[uk]=Маніпулятор мініатюр
Comment[vi]=Thao tác Hình nhỏ
Comment[wa]=Apougneu des prévoeyaedjes
Comment[xh]=Umqheba Wozipho lobhontsi
Comment[x-test]=xxThumbnail Handlerxx
Comment[zh_CN]=缩略图处理程序
Comment[zh_TW]=縮圖處理器

[PropertyDef::CacheThumbnail]
Type=bool

[PropertyDef::IgnoreMaximumSize]
Type=bool
