[Desktop Entry]
Name=UADescription (Google Chrome 5.0)
Name[ar]=وصف وكيل-مستخدم (جوجل كروم 5.0)
Name[ast]=UADescription (Google Chrome 5.0)
Name[bg]=UADescription (Google Chrome 5.0)
Name[bn]=UADescription (Google Chrome 5.0)
Name[bs]=UADescription (Google Chrome 5.0)
Name[ca]=Descripció AU (Google Chrome 5.0)
Name[ca@valencia]=Descripció AU (Google Chrome 5.0)
Name[cs]=Popis agenta (Google Chrome 5.0)
Name[da]=Brugeragentbeskrivelse (Google Chrome 5.0)
Name[de]=Browserkennung (Google Chrome 5.0)
Name[el]=Περιγραφή UA (Google Chrome 5.0)
Name[en_GB]=UADescription (Google Chrome 5.0)
Name[es]=UADescription (Google Chrome 5.0)
Name[et]=UADescription (Google Chrome 5.0)
Name[eu]=UA azalpena (Google Chrome 5.0)
Name[fi]=Käyttäjäagenttikuvaus (Google Chrome 5.0)
Name[fr]=UADescription (Google Chrome 5.0)
Name[ga]=UADescription (Google Chrome 5.0)
Name[gl]=UADescription (Google Chrome 5.0)
Name[gu]=UADescription (ગુગલ ક્રોમ ૫.૦)
Name[he]=UADescription (Google Chrome 5.0)
Name[hi]=यूए-डिस्क्रिप्शन (गूगल क्रोम 5.0्सपी पर)
Name[hr]=UADescription (Google Chrome 5.0)
Name[hu]=Böngészőtípus (Google Chrome 5.0)
Name[ia]=UADescription (Google Chrome 5.0)
Name[id]=UADescription (Google Chrome 5.0)
Name[is]=UADescription (Google Chrome 5.0)
Name[it]=Descrizione UA (Google Chrome 5.0)
Name[ja]=UADescription (Google Chrome 5.0)
Name[kk]=UADescription (Google Chrome 5.0)
Name[km]=UADescription (Google Chrome 5.0)
Name[kn]=UAವಿವರಣೆ (ಗೂಗಲ್ ಕ್ರೋಮ್ 5.0)
Name[ko]=UADescription (구글 크롬 5.0)
Name[lt]=UADescription (Google Chrome 5.0)
Name[lv]=UA Apraksts (Google Chrome 5.0)
Name[mai]=यूए-डिस्क्रिप्शन (गूगल क्रोम 5.0)
Name[ml]=യുഎവിവരണം (ഗൂഗിള്‍ ക്രോം 5.0)
Name[mr]=UAडिस्क्रिप्शन (Google Chrome 5.0)
Name[nb]=Brukeragent (Google Chrome 5.0)
Name[nds]=UA-Beschrieven (Google Chrome 5.0)
Name[nl]=GA-beschrijving (Google Chrome 5.0)
Name[nn]=Brukaragent (Google Chrome 5.0)
Name[pa]=UADescription (ਗੂਗਲ ਕਰੋਮ ੫.੦)
Name[pl]=Opis przeglądarki użytkownika (Google Chrome 5.0)
Name[pt]=UADescription (Google Chrome 5.0)
Name[pt_BR]=UADescription (Google Chrome 5.0)
Name[ro]=Descriere AU (Google Chrome 5.0)
Name[ru]=UADescription (Google Chrome 5.0)
Name[si]=UADescription (Google Chrome 5.0)
Name[sk]=Popis agenta (Google Chrome 5.0)
Name[sl]=Opis UP (Google Chrome 5.0)
Name[sr]=УА‑опис (Гуглов Кроум 5.0)
Name[sr@ijekavian]=УА‑опис (Гуглов Кроум 5.0)
Name[sr@ijekavianlatin]=UA-opis (Googleov Chrome 5.0)
Name[sr@latin]=UA-opis (Googleov Chrome 5.0)
Name[sv]=AA-beskrivning (Google Chrome 5.0)
Name[tg]=UADescription (Google Chrome 5.0)
Name[th]=UADescription (กูเกิลโครม 5.0)
Name[tr]=Kullanıcı Uygulaması Tanımı (Google Chrome 5.0)
Name[ug]=خېرىدار تەرەپ چۈشەندۈرۈشى(Google Chrome 5.0)
Name[uk]=UADescription (Google Chrome 5.0)
Name[wa]=Idintifiaedje do betchteu (Google Chrome 5.0)
Name[x-test]=xxUADescription (Google Chrome 5.0)xx
Name[zh_CN]=客户端描述(Google Chrome 5.0)
Name[zh_TW]=使用者代理描述 (Google Chrome 5.0)
Type=Service
X-KDE-ServiceTypes=UserAgentStrings
X-KDE-UA-TAG=CHR
X-KDE-UA-FULL=Mozilla/5.0 (appPlatform; U; appMachineType appSysName; appLanguage) AppleWebKit/533.3 (KHTML, like Gecko) Chrome/5.0.358.0 Safari/533.3
X-KDE-UA-NAME=Chrome
X-KDE-UA-VERSION=5.0.358.0
X-KDE-UA-DYNAMIC-ENTRY=1
