[Desktop Entry]
Name=UADescription (Firefox 3.0 on current)
Name[ar]=وصف وكيل-مستخدم ( فاير فوكس 3.0 على النظام الحالي)
Name[ast]=UADescription (Firefox 3.0 n'actual)
Name[bg]=UADescription (Firefox 3.0 на текущата система)
Name[bn]=UADescription (Firefox 3.0 on current)
Name[bs]=UADescription (Firefox 3.0 tekući)
Name[ca]=Descripció AU (Firefox 3.0 a l'actual)
Name[ca@valencia]=Descripció AU (Firefox 3.0 a l'actual)
Name[cs]=Popis agenta (Firefox 3.0 on current)
Name[csb]=Òpisënk programë brëkòwnika (FireFox 3.0)
Name[da]=Brugeragentbeskrivelse (Firefox 3.0 på nuværende)
Name[de]=Browserkennung (Firefox 3.0 auf aktuellem Betriebssystem)
Name[el]=Περιγραφή UA (Firefox 3.0 στο τρέχον σύστημα)
Name[en_GB]=UADescription (Firefox 3.0 on current)
Name[eo]=UA-Priskribo (Fajrovulpo 3.0 sub nuna)
Name[es]=UADescription (Firefox 3.0 en actual)
Name[et]=UADescription (Selles masinas töötav Firefox 3.0)
Name[eu]=UA azalpena (Firefox 3.0 unekoan)
Name[fi]=Käyttäjäagenttikuvaus (Firefox 3.0 nykyisellä)
Name[fr]=UADescription (Firefox 3.0 sous le système actuel)
Name[fy]=UA-beskriuwing (Firefox 3.0 op aktive)
Name[ga]=UADescription (Firefox 3.0 ar an gcóras reatha)
Name[gl]=UADescription (Firefox 3.0 no actual)
Name[gu]=UADescription (ફાયરફોક્સ ૩.૦ હાલમાં)
Name[he]=UADescription (Firefox 3.0 on current)
Name[hi]=यूए-डिस्क्रिप्शन (फ़ॉयरफ़ॉक्स 3.0 हालिया पर)
Name[hr]=UADescription (Firefox 3.0 na trenutnom)
Name[hu]=Böngészőtípus (Firefox 3.0)
Name[ia]=UADescription (Firefox 3.0 super le currente)
Name[id]=UADescription (Firefox 3.0 pada saat ini)
Name[is]=UADescription (Firefox 3.0 á núverandi)
Name[it]=Descrizione UA (Firefox 3.0 sul sistema attuale)
Name[ja]=UADescription (Firefox 3.0 on current)
Name[kk]=UADescription (Firefox 3.0 осында)
Name[km]=UADescription (Firefox 3.0 បច្ចុប្បន្ន)
Name[kn]=UAವಿವರಣೆ (ಚಾಲ್ತಿಯಲ್ಲಿರುವ ಫೈರ್ಫಾಕ್ಸ್ ೩.೦೦)
Name[ko]=UADescription (현재 플랫폼의 Firefox 3.0)
Name[lt]=UADescription (Firefox 3.0 šioje sistemoje)
Name[lv]=UA Apraksts (Firefox 3.0 uz pašreizējā)
Name[mai]=यूए-डिस्क्रिप्शन (फायरफाक्स 3.0 अखनका पर)
Name[mk]=UADescription (Firefox 3.0 на тековно)
Name[ml]=യുഎവിവരണം (ഇപ്പോഴത്തേതില്‍ ഫയര്‍ഫോക്സ് 3.0)
Name[mr]=UAडिस्क्रिप्शन (वर्तमान फायरफॉक्स 3.0 वर)
Name[nb]=Brukeragent (Firefox 3.0 herifra)
Name[nds]=UA-Beschrieven (Firefox 3.0 op dit Systeem)
Name[nl]=GA-beschrijving (Firefox 3.0 op huidige)
Name[nn]=Brukaragent (Firefox 3.0 herifrå)
Name[pa]=UADescription (ਮੌਜੂਦਾ ਉੱਤੇ ਫਾਇਰਫਾਕਸ ੩.੦)
Name[pl]=Opis przeglądarki użytkownika (Firefox 3.0, na bieżącym systemie)
Name[pt]=UADescription (Firefox 3.0 no sistema actual)
Name[pt_BR]=UADescription (Firefox 3.0 no sistema atual)
Name[ro]=Descriere AU (Firefox 3.0 pe sistemul curent)
Name[ru]=UADescription (Firefox 3.0 на текущей системе)
Name[se]=UA-čilgehus (Firefox 3.0 dán mašiinnas)
Name[si]=UADescription (වත්මන මත Firefox 3.0)
Name[sk]=Popis agenta (Firefox 3.0 na aktuálnom)
Name[sl]=Opis UP (Firefox 3.0 na trenutnem)
Name[sr]=УА‑опис (Фајерфокс 3.0 на текућем)
Name[sr@ijekavian]=УА‑опис (Фајерфокс 3.0 на текућем)
Name[sr@ijekavianlatin]=UA-opis (Firefox 3.0 na tekućem)
Name[sr@latin]=UA-opis (Firefox 3.0 na tekućem)
Name[sv]=AA-beskrivning (Firefox 3.0 på aktuell)
Name[tg]=UADescription (Firefox 3.0 дар версияи ҷорӣ)
Name[th]=UADescription (ไฟร์ฟอกซ์ 3.0 บนระบบปัจจุบัน)
Name[tr]=Kullanıcı Uygulaması Tanımı (geçerli işletim sistemi üzerinde Firefox 3.0)
Name[ug]=خېرىدار تەرەپ چۈشەندۈرۈشى (يەرلىك كومپيۇتېردا ئىجرا قىلىنىدىغان ئوتۈلكە 3.0)
Name[uk]=UADescription (Firefox 3.0 на поточній)
Name[wa]=Idintifiaedje do betchteu (Firefox 3.0 sol sistinme do moumint)
Name[x-test]=xxUADescription (Firefox 3.0 on current)xx
Name[zh_CN]=客户端描述(运行于本机的 Firefox 3.0)
Name[zh_TW]=使用者代理描述 (Firefox 3.0 on current)
Type=Service
X-KDE-ServiceTypes=UserAgentStrings
X-KDE-UA-TAG=FF
X-KDE-UA-FULL=Mozilla/5.0 (appPlatform; U; appMachineType appSysName; appLanguage; rv:1.9.0.5) Gecko/2008120121 Firefox/3.0.5
X-KDE-UA-NAME=Firefox
X-KDE-UA-VERSION=3.0.5
X-KDE-UA-DYNAMIC-ENTRY=1
