[Desktop Entry]
Name=UADescription (Firefox 3.6 on current)
Name[ar]=وصف وكيل-مستخدم ( فاير فوكس 3.6 على النظام الحالي)
Name[ast]=UADescription (Firefox 3.6 n'actual)
Name[bg]=UADescription (Firefox 3.6 на текущата система)
Name[bn]=UADescription (Firefox 3.6 on current)
Name[bs]=UADescription (Firefox 3.6 tekući)
Name[ca]=Descripció AU (Firefox 3.6 a l'actual)
Name[ca@valencia]=Descripció AU (Firefox 3.6 a l'actual)
Name[cs]=Popis agenta (Firefox 3.6 na aktuálním)
Name[da]=Brugeragentbeskrivelse (Firefox 3.6 på nuværende)
Name[de]=Browserkennung (Firefox 3.6 auf aktuellem Betriebssystem)
Name[el]=Περιγραφή UA (Firefox 3.6 στο τρέχον σύστημα)
Name[en_GB]=UADescription (Firefox 3.6 on current)
Name[es]=UADescription (Firefox 3.6 en actual)
Name[et]=UADescription (Selles masinas töötav Firefox 3.6)
Name[eu]=UA azalpena (Firefox 3.6 unekoan)
Name[fi]=Käyttäjäagenttikuvaus (Firefox 3.6 nykyisellä)
Name[fr]=UADescription (Firefox 3.6 sous le système actuel)
Name[ga]=UADescription (Firefox 3.6 ar an gcóras reatha)
Name[gl]=UADescription (Firefox 3.6 no actual)
Name[gu]=UADescription (ફાયરફોક્સ ૩.૬ હાલમાં)
Name[he]=UADescription (Firefox 3.6 on current)
Name[hi]=यूए-डिस्क्रिप्शन (फ़ॉयरफ़ॉक्स 3.6 हालिया पर)
Name[hr]=UADescription (Firefox 3.6 on current)
Name[hu]=Böngészőtípus (Firefox 3.6)
Name[ia]=UADescription (Firefox 3.6 super le currente)
Name[id]=UADescription (Firefox 3.6 pada saat ini)
Name[is]=UADescription (Firefox 3.6 á núverandi)
Name[it]=Descrizione UA (Firefox 3.6 sul sistema attuale)
Name[ja]=UADescription (Firefox 3.6 on current)
Name[kk]=UADescription (Firefox 3.6 осында)
Name[km]=UADescription (Firefox 3.6 បច្ចុប្បន្ន)
Name[kn]=UAವಿವರಣೆ (ಚಾಲ್ತಿಯಲ್ಲಿರುವ ಫೈರ್ಫಾಕ್ಸ್ ೩.೬)
Name[ko]=UADescription (현재 플랫폼의 Firefox 3.6)
Name[lt]=UADescription (Firefox 3.6 šioje sistemoje)
Name[lv]=UA Apraksts (Firefox 3.6 uz pašreizējā)
Name[mai]=यूए-डिस्क्रिप्शन (फायरफाक्स 3.6 अखनका पर)
Name[ml]=യുഎവിവരണം (ഇപ്പോഴത്തേതില്‍ ഫയര്‍ഫോക്സ് 3.6)
Name[mr]=UAडिस्क्रिप्शन (वर्तमान फायरफॉक्स 3.6 वर)
Name[nb]=Brukeragent (Firefox 3.6 herifra)
Name[nds]=UA-Beschrieven (Firefox 3.6 op dit Systeem)
Name[nl]=UADescription (Firefox 3.6 op huidige)
Name[nn]=Brukaragent (Firefox 3.6 herifrå)
Name[pa]=UADescription (ਮੌਜੂਦਾ ਉੱਤੇ ਫਾਇਰਫਾਕਸ ੩.੬)
Name[pl]=Opis przeglądarki użytkownika (Firefox 3.6, na bieżącym systemie)
Name[pt]=UADescription (Firefox 3.6 no sistema actual)
Name[pt_BR]=UADescription (Firefox 3.6 no sistema atual)
Name[ro]=Descriere AU (Firefox 3.6 pe sistemul curent)
Name[ru]=UADescription (Firefox 3.6 на текущей системе)
Name[si]=UADescription (වත්මන් Firefox 3.6)
Name[sk]=Popis agenta (Firefox 3.6 na aktuálnom)
Name[sl]=Opis UP (Firefox 3.6 na trenutnem)
Name[sr]=УА‑опис (Фајерфокс 3.6 на текућем)
Name[sr@ijekavian]=УА‑опис (Фајерфокс 3.6 на текућем)
Name[sr@ijekavianlatin]=UA-opis (Firefox 3.6 na tekućem)
Name[sr@latin]=UA-opis (Firefox 3.6 na tekućem)
Name[sv]=AA-beskrivning (Firefox 3.6 på aktuell)
Name[tg]=UADescription (Firefox 3.6 дар версияи ҷорӣ)
Name[th]=UADescription (ไฟร์ฟอกซ์ 3.6 บนระบบปัจจุบัน)
Name[tr]=Kullanıcı Uygulaması Tanımı (geçerli işletim sistemi üzerinde Firefox 3.6)
Name[ug]=خېرىدار تەرەپ چۈشەندۈرۈشى (يەرلىك كومپيۇتېردا ئىجرا قىلىنىدىغان ئوتۈلكە 3.6)
Name[uk]=UADescription (Firefox 3.6 на поточній)
Name[wa]=Idintifiaedje do betchteu (Firefox 3.6 sol sistinme do moumint)
Name[x-test]=xxUADescription (Firefox 3.6 on current)xx
Name[zh_CN]=客户端描述(运行于本机的 Firefox 3.6)
Name[zh_TW]=使用者代理描述 (Firefox 3.6 on current)
Type=Service
X-KDE-ServiceTypes=UserAgentStrings
X-KDE-UA-TAG=FF
X-KDE-UA-FULL=Mozilla/5.0 (appPlatform; U; appMachineType appSysName; appLanguage; rv:1.9.2) Gecko/20100115 Firefox/3.6
X-KDE-UA-NAME=Firefox
X-KDE-UA-VERSION=3.6.0
X-KDE-UA-DYNAMIC-ENTRY=1
