[Desktop Entry]
Name=UADescription (Googlebot/2.1)
Name[af]=UA-beskrywing (Googlebot/2.1)
Name[ar]=وصف وكيل-مستخدم (Googlebot/2.1)
Name[as]=UADescription (Googlebot/2.1)
Name[ast]=UADescription (Googlebot/2.1)
Name[be]=UADescription (Googlebot/2.1)
Name[be@latin]=UADescription (Googlebot/2.1)
Name[bg]=UADescription (Googlebot/2.1)
Name[bn]=UADescription (Googlebot/2.1)
Name[bn_IN]=UADescription (Googlebot/2.1)
Name[br]=UADescription (Googlebot/2.1)
Name[bs]=UADescription (Googlebot/2.1)
Name[ca]=Descripció AU (Googlebot/2.1)
Name[ca@valencia]=Descripció AU (Googlebot/2.1)
Name[cs]=Popis agenta (Googlebot/2.1)
Name[csb]=Òpisënk programë brëkòwnika (Googlebot/2.1)
Name[da]=Brugeragentbeskrivelse (Googlebot/2.1)
Name[de]=Browserkennung (Googlebot/2.1)
Name[el]=Περιγραφή UA (Googlebot/2.1)
Name[en_GB]=UADescription (Googlebot/2.1)
Name[eo]=UA-Priskribo (Googlebot/2.1)
Name[es]=UADescription (Googlebot/2.1)
Name[et]=UADescription (Googlebot/2.1)
Name[eu]=UA azalpena (Wget 1.5.3)
Name[fi]=Käyttäjäagenttikuvaus (Googlebot/2.1)
Name[fr]=UADescription (Googlebot / 2.1)
Name[fy]=GA-omskriuwing (Googlebot/2.1)
Name[ga]=UADescription (Googlebot/2.1)
Name[gl]=UADescription (Googlebot/2.1)
Name[gu]=UADescription (હાલમાં ગુગલબોટ ૧.૫)
Name[he]=UADescription (Googlebot/2.1)
Name[hi]=यूए-डिस्क्रिप्शन (गूगलबॉट/2.1)
Name[hne]=यूए-डिस्क्रिप्सन (गूगलबाट/2.1)
Name[hr]=UADescription (Googlebot/2.1)
Name[hsb]=UADescription (Googlebot/2.1)
Name[hu]=Böngészőtípus (Googlebot/2.1)
Name[ia]=UADescription (Googlebot/2.1)
Name[id]=UADescription (Googlebot/2.1)
Name[is]=UADescription (Googlebot/2.1)
Name[it]=Descrizione UA (Googlebot/2.1)
Name[ja]=UADescription (Googlebot/2.1)
Name[ka]=UADescription (Googlebot/2.1)
Name[kk]=UADescription (Googlebot/2.1)
Name[km]=UADescription (Googlebot/2.1)
Name[kn]=UAವಿವರಣೆ (ಗೂಗಲ್ಬಾಟ್/೨.೧)
Name[ko]=UADescription (Googlebot/2.1)
Name[ku]=Pênasa UA (Googlebot/2.1)
Name[lt]=Naudotojo agentas (Googlebot/2.1)
Name[lv]=UA Apraksts (Googlebot/2.1)
Name[mai]=यूए-डिस्क्रिप्शन (गूगलबाट/2.1)
Name[mk]=UADescription (Googlebot/2.1)
Name[ml]=യുഎവിവരണം (ഗൂഗിള്‍ബോട്ട്/2.1)
Name[mr]=UAडिस्क्रिप्शन (Googlebot/2.1)
Name[ms]=UADescription (Googlebot/2.1)
Name[nb]=Brukeragent (Googlebot/2.1)
Name[nds]=UA-Beschrieven (Googlebot/2.1)
Name[ne]=UA वर्णन (गुगलबुट/2.1)
Name[nl]=GA-beschrijving (Googlebot/2.1)
Name[nn]=Brukaragent (Googlebot/2.1)
Name[or]=UA ବର୍ଣ୍ଣନା (Googlebot/2.1)
Name[pa]=UADescription (Googlebot/2.1)
Name[pl]=Opis przeglądarki użytkownika (Googlebot/2.1)
Name[pt]=UADescription (Googlebot/2.1)
Name[pt_BR]=UADescription (Googlebot/2.1)
Name[ro]=Descriere AU (Googlebot/2.1)
Name[ru]=UADescription (Googlebot/2.1)
Name[se]=UA-čilgehus (Googlebot/2.1)
Name[si]=UADescription (Googlebot/2.1)
Name[sk]=Popis agenta (Googlebot/2.1)
Name[sl]=Opis UP (Googlebot/2.1)
Name[sr]=УА‑опис (Гуглбот/2.1)
Name[sr@ijekavian]=УА‑опис (Гуглбот/2.1)
Name[sr@ijekavianlatin]=UA-opis (GoogleBot/2.1)
Name[sr@latin]=UA-opis (GoogleBot/2.1)
Name[sv]=AA-beskrivning (Googlebot/2.1)
Name[ta]=UADescription (Googlebot/2.1)
Name[te]=UADescription (Googlebot/2.1)
Name[tg]=UADescription (Googlebot/2.1)
Name[th]=UADescription (Googlebot/2.1)
Name[tr]=Kullanıcı Uygulaması Tanımı (Googlebot/2.1)
Name[ug]=خېرىدار تەرەپ چۈشەندۈرۈشى(Googlebot/2.1)
Name[uk]=UADescription (Googlebot/2.1)
Name[uz]=UADescription (Googlebot/2.1)
Name[uz@cyrillic]=UADescription (Googlebot/2.1)
Name[vi]=Mô tả UA (Googlebot/2.1)
Name[wa]=Idintifiaedje do betchteu (Googlebot/2.1)
Name[x-test]=xxUADescription (Googlebot/2.1)xx
Name[zh_CN]=客户端描述(Google 机器人/2.1)
Name[zh_TW]=使用者代理描述 (Googlebot/2.1)
Type=Service
X-KDE-ServiceTypes=UserAgentStrings
X-KDE-UA-TAG=MISC
X-KDE-UA-FULL=Googlebot/2.1 (+http://www.googlebot.com/bot.html)
X-KDE-UA-NAME=Googlebot
X-KDE-UA-VERSION=2.1
