[Desktop Entry]
Name=UADescription (IE 4.01 on Win 2000)
Name[af]=UA-beskrywing (IE 4.01 op Win 2000)
Name[ar]=وصف وكيل-مستخدم (IE 4.01 على Win 2000)
Name[as]=UADescription (IE 4.01 on Win 2000)
Name[ast]=Descripción d'AU (IE 4.01 en Windows 2000)
Name[be]=UADescription (IE 4.01 на Win 2000)
Name[be@latin]=UADescription (IE 4.01 na „Windows 2000”)
Name[bg]=UADescription (IE 4.01 на Win 2000)
Name[bn]=UADescription (IE 4.01 on Win 2000)
Name[bn_IN]=UADescription (Win 2000-র মধ্যে IE 4.01)
Name[br]=UADescription (IE 4.01 war Win 2000)
Name[bs]=UADescription (IE 4.01 na Vindouzu 2000)
Name[ca]=Descripció AU (IE 4.01 en Windows 2000)
Name[ca@valencia]=Descripció AU (IE 4.01 en Windows 2000)
Name[cs]=Popis agenta (IE 4.01 na Win 2000)
Name[csb]=Òpisënk programë brëkòwnika (IE 4.01 na Win 2000)
Name[cy]=UADisgrifiad (IE 4.01 ar Win 2000)
Name[da]=Brugeragentbeskrivelse (IE 4.01 på Win 2000)
Name[de]=Browserkennung (IE 4.01 auf Windows 2000)
Name[el]=Περιγραφή UA (IE 4.01 σε Win 2000)
Name[en_GB]=UADescription (IE 4.01 on Win 2000)
Name[eo]=UA-Priskribo (IE 4.01 sur Vindozo 2000)
Name[es]=UADescription (IE 4.01 en Win 2000)
Name[et]=UADescription (IE 4.01 Win2000 platvormil)
Name[eu]=UA azalpena (IE 4.01  Win 2000-n)
Name[fa]=UADescription (IE 4.01 در Win 2000)
Name[fi]=Käyttäjäagenttikuvaus (IE 4.01 Win 2000:lla)
Name[fr]=UADescription (IE 4.01 sous Windows 2000)
Name[fy]=GA-omskriuwing (IE 4.01 op Win 2000)
Name[ga]=UADescription (IE 4.01 ar Win 2000)
Name[gl]=UADescription (IE 4.01 en Win 2000)
Name[gu]=UADescription (આઇ.ઇ. ૪.૦૧ વિન્ડોઝ ૨૦૦૦ પર)
Name[he]=UADescription (IE 4.01 on Win 2000)
Name[hi]=यूए-डिस्क्रिप्शन (आईई 4.01 विन 2000 पर)
Name[hne]=यूए-डिस्क्रिप्सन (आईई 4.01 विन 2000 मं)
Name[hr]=UADescription (IE 4.01 na Win 2000)
Name[hsb]=UADescription (IE 4.01 na Win 2000)
Name[hu]=Böngészőtípus (IE 4.01, Win 2000)
Name[ia]=UADescription (IE 4.01 super Win 2000)
Name[id]=UADescription (IE 4.01 di Win 2000)
Name[is]=UADescription (IE 4.01 á Win 2000)
Name[it]=Descrizione UA (IE 4.01 su Windows 2000)
Name[ja]=UADescription (IE 4.01 on Win 2000)
Name[ka]=UADescription (IE 4.01 Win 2000-ში)
Name[kk]=UADescription (IE 4.01 / Win 2000)
Name[km]=UADescription (IE 4.01 នៅ​លើ​វីនដូ ២០០០)
Name[kn]=UAವಿವರಣೆ (ವಿನ್ಡೋಸ್ ೨೦೦೦ ದ ಮೇಲಿನ ಐಇ ೪.೦೧)
Name[ko]=UADescription (Windows 2000의 IE 4.01)
Name[ku]=Pênasa UA (IE 4.01 ji bo Win 2000)
Name[lt]=Naudotojo agentas (IE 4.01 ir Win 2000)
Name[lv]=UA Apraksts (IE 4.01 uz Win 2000)
Name[mai]=यूए-डिस्क्रिप्शन (आईई 4.01 विन 2000 पर)
Name[mk]=UADescription (IE 4.01 на Win 2000)
Name[ml]=യുഎവിവരണം (വിന്‍ 2000 ലെ ഐഇ 4.01)
Name[mr]=UAडिस्क्रिप्शन (IE 4.01 विन 2000 पर)
Name[ms]=UADescription (IE 4.01 on Win 2000)
Name[nb]=Brukeragent (IE 4.01 på Win 2000)
Name[nds]=UA-Beschrieven (IE 4.01 op Win 2000)
Name[ne]=UA वर्णन (Win 2000 मा IE 4.01)
Name[nl]=GA-beschrijving (IE 4.01 op Win 2000)
Name[nn]=Brukaragent (IE 4.01 på Windows 2000)
Name[or]=UA ବର୍ଣ୍ଣନା (Win 2000 ଉପରେ IE 4.01)
Name[pa]=UADescription (Win ੨੦੦੦ ਉੱਤੇ IE 4.01)
Name[pl]=Opis przeglądarki użytkownika (IE 4.01 na Win 2000)
Name[pt]=UADescription (IE 4.01 no Win 2000)
Name[pt_BR]=UADescription (IE 4.01 no Windows 2000)
Name[ro]=Descriere AU (IE 4.01 pentru Win 2000)
Name[ru]=UADescription (IE 4.01 на Windows 2000)
Name[se]=UA-čilgehus (IE 4.01 ja Win 2000)
Name[si]=UADescription (Win 2000 මත IE 4.01 )
Name[sk]=Popis agenta (IE 4.01 na Win 2000)
Name[sl]=Opis UP (IE 4.01 na Windows 2000)
Name[sr]=УА‑опис (ИЕ 4.01 на Виндоузу 2000)
Name[sr@ijekavian]=УА‑опис (ИЕ 4.01 на Виндоузу 2000)
Name[sr@ijekavianlatin]=UA-opis (IE 4.01 na Windowsu 2000)
Name[sr@latin]=UA-opis (IE 4.01 na Windowsu 2000)
Name[sv]=AA-beskrivning (IE 4.01 på Win 2000)
Name[ta]=UADescription (IE 4.01 on Win 2000)
Name[te]=UADescription (IE 4.01 on Win 2000)
Name[tg]=UADescription (IE 4.01 дар Win 2000)
Name[th]=UADescription (IE 4.01 บน Win 2000)
Name[tr]=Kullanıcı Uygulaması Tanımı (Win 2000 üzerinde IE 4.01)
Name[ug]=خېرىدار تەرەپ چۈشەندۈرۈشى(Win 2000 دا ئىجرا قىلىنىدىغان IE 4.01)
Name[uk]=UADescription (IE 4.01 на Win 2000)
Name[uz]=UADescription (Win 2000 bilan IE 4.01)
Name[uz@cyrillic]=UADescription (Win 2000 билан IE 4.01)
Name[vi]=Mô tả UA (IE 4.01 trên Win 2000)
Name[wa]=Idintifiaedje do betchteu (MSIE 4.01 so Windows 2000)
Name[xh]=UADescription (IE 4.01 kwi Win 2000)
Name[x-test]=xxUADescription (IE 4.01 on Win 2000)xx
Name[zh_CN]=客户端描述(运行于 Win 2000 的 IE 4.01)
Name[zh_TW]=使用者代理描述 (IE 4.01 on Win 2000)
Type=Service
X-KDE-ServiceTypes=UserAgentStrings
X-KDE-UA-TAG=IE
X-KDE-UA-FULL=Mozilla/4.0 (compatible; MSIE 4.01; Windows NT 5.0)
X-KDE-UA-NAME=Internet Explorer
X-KDE-UA-VERSION=4.01
X-KDE-UA-SYSNAME=Windows
X-KDE-UA-SYSRELEASE=2000
