[Desktop Entry]
Name=UADescription (IE 5.0 on Mac PPC)
Name[af]=UA-beskrywing (Ie 5.0 op Mac Ppc)
Name[ar]=وصف وكيل-مستخدم (IE 5.0 على Mac PPC)
Name[as]=UADescription (IE 5.0 on Mac PPC)
Name[ast]=Descripción d'AU (IE 5.0 en Mac PPC)
Name[be]=UADescription (IE 5.0 на Mac PPC)
Name[be@latin]=UADescription (IE 5.0 na „Mac” dla PPC)
Name[bg]=UADescription (IE 5.0 на Mac PPC)
Name[bn]=UADescription (IE 5.0 on Mac PPC)
Name[bn_IN]=UADescription (Mac PPC-র মধ্যে IE 5.0)
Name[br]=UADescription (IE 5.0 war Mac PPC)
Name[bs]=UADescription (IE 5.0 na PPC mekintošu)
Name[ca]=Descripció AU (IE 5.0 en Mac PPC)
Name[ca@valencia]=Descripció AU (IE 5.0 en Mac PPC)
Name[cs]=Popis agenta (IE 5.0 na Mac PPC)
Name[csb]=Òpisënk programë brëkòwnika (IE 5.0 na Mac PPC)
Name[cy]=UADisgrifiad (IE 5.0 ar Mac PPC)
Name[da]=Brugeragentbeskrivelse (IE 5.0 på Mac PPC)
Name[de]=Browserkennung (IE 5.0 auf Mac PPC)
Name[el]=Περιγραφή UA (IE 5.0 σε Mac PPC)
Name[en_GB]=UADescription (IE 5.0 on Mac PPC)
Name[eo]=UA-Priskribo (IE 5.0 sub Mac-PPC)
Name[es]=UADescription (IE 5.0 en Mac PPC)
Name[et]=UADescription (IE 5.0 MacPPC platvormil)
Name[eu]=UA azalpena (IE 5.0 Mac PPC-n)
Name[fa]=UADescription (IE 5.0 در Mac PPC)
Name[fi]=Käyttäjäagenttikuvaus (IE 5.0 Mac PPC:llä)
Name[fr]=UADescription (IE 5.0 sous Mac PPC)
Name[fy]=GA-omskriuwing (IE 5.0 op Mac PPC)
Name[ga]=UADescription (IE 5.0 ar Mac PPC)
Name[gl]=UADescription (IE 5.0 en Mac PPC)
Name[gu]=UADescription (આઇ.ઇ. ૫.૦ મેક પીપીસી પર)
Name[he]=UADescription (IE 5.0 on Mac PPC)
Name[hi]=यूए-डिस्क्रिप्शन (आईई 5.0 मैक पीपीसी पर)
Name[hne]=यूए-डिस्क्रिप्सन (आईई 5.0 मैक पीपीसी मं)
Name[hr]=UADescription (IE 5.0 na Mac PPC)
Name[hsb]=UADescription (IE 5.0 na Mac PPC)
Name[hu]=Böngészőtípus (IE 5.0, Mac PPC)
Name[ia]=UADescription (IE 5.0 super Mac PPC)
Name[id]=UADescription (IE 5.0 di Mac PPC)
Name[is]=UADescription (IE 5.0 á Mac PPC)
Name[it]=Descrizione UA (IE 5.0 su Mac PPC)
Name[ja]=UADescription (IE 5.0 on Mac PPC)
Name[ka]=UADescription (IE 5.0 Mac PPC-ში)
Name[kk]=UADescription (IE 5.0 / Mac PPC)
Name[km]=UADescription (IE 5.0 នៅ​លើ Mac PPC)
Name[kn]=UAವಿವರಣೆ (ಮಾಕ್ ಪಿಪಿಸಿ ಮೇಲಿನ ಐಇ ೫.೦)
Name[ko]=UADescription (Mac PPC의 IE 5.0)
Name[ku]=Pênasa UA (IE 5.0 ji bo Mac PPC)
Name[lt]=Naudotojo agentas (IE 5.0 ir Mac PPC)
Name[lv]=UA Apraksts (IE 5.0 uz Mac PPC)
Name[mai]=यूए-डिस्क्रिप्शन (आईई 5.0 मैक पीपीसी पर)
Name[mk]=UADescription (IE 5.0 на Mac PPC)
Name[ml]=യുഎവിവരണം (പിപിസി മാകിലെ ഐഇ 5.0)
Name[mr]=UAडिस्क्रिप्शन (IE 5.0 मैक पीपीसी पर)
Name[ms]=UADescription (IE 5.0 on Mac PPC)
Name[nb]=Brukeragent (IE 5.0 på Mac PPC)
Name[nds]=UA-Beschrieven (IE 5.0 op Mac PPC)
Name[ne]=UA वर्णन (Mac PPC मा IE 5.0)
Name[nl]=GA-beschrijving (IE 5.0 op Mac PPC)
Name[nn]=Brukaragent (IE 5.0 på Mac PPC)
Name[or]=UA ବର୍ଣ୍ଣନା (Mac PPC ଉପରେ IE 5.0)
Name[pa]=UADescription (ਮੈਕ PPC ਉੱਤੇ IE 5.0)
Name[pl]=Opis przeglądarki użytkownika (IE 5.0 na Mac PPC)
Name[pt]=UADescription (IE 5.0 no Mac PPC)
Name[pt_BR]=UADescription (IE 5.0 no Mac PPC)
Name[ro]=Descriere AU (IE 5.0 pentru Mac PPC)
Name[ru]=UADescription (IE 5.0 на Mac PPC)
Name[se]=UA-čilgehus (IE 5.0 ja Mac PPC)
Name[si]=UADescription (Mac PPC මත IE 5.0)
Name[sk]=Popis agenta (IE 5.0 na Mac PPC)
Name[sl]=Opis UP (IE 5.0 na Mac PPC)
Name[sr]=УА‑опис (ИЕ 5.0 на ППЦ мекинтошу)
Name[sr@ijekavian]=УА‑опис (ИЕ 5.0 на ППЦ мекинтошу)
Name[sr@ijekavianlatin]=UA-opis (IE 5.0 na PPC Macintoshu)
Name[sr@latin]=UA-opis (IE 5.0 na PPC Macintoshu)
Name[sv]=AA-beskrivning (IE 5.0 på Mac PPC)
Name[ta]=UADescription (IE 5.0 on Mac PPC)
Name[te]=UADescription (IE 5.0 on Mac PPC)
Name[tg]=UADescription (IE 5.0 дар Mac PPC)
Name[th]=UADescription (IE 5.0 บน Mac PPC)
Name[tr]=Kullanıcı Uygulaması Tanımı (Mac PPC üzerinde IE 5.0)
Name[ug]=خېرىدار تەرەپ چۈشەندۈرۈشى(Mac PPC دا ئىجرا قىلىنىدىغان IE 5.0)
Name[uk]=UADescription (IE 5.0 на Mac PPC)
Name[uz]=UADescription (Mac PPC bilan IE 5.0)
Name[uz@cyrillic]=UADescription (Mac PPC билан IE 5.0)
Name[vi]=Mô tả UA (IE 5.0 trên Mac PPC)
Name[wa]=Idintifiaedje do betchteu (MSIE 5.0 so MacOS PPC)
Name[xh]=UADescription (IE 5.0 kwi Mac PPC)
Name[x-test]=xxUADescription (IE 5.0 on Mac PPC)xx
Name[zh_CN]=客户端描述(运行于 Mac PPC 的 IE 5.0)
Name[zh_TW]=使用者代理描述 (IE 5.0 on Mac PPC)
Type=Service
X-KDE-ServiceTypes=UserAgentStrings
X-KDE-UA-TAG=IE
X-KDE-UA-FULL=Mozilla/4.0 (compatible; MSIE 5.0; Mac_PowerPC)
X-KDE-UA-NAME=Internet Explorer
X-KDE-UA-VERSION=5.0
X-KDE-UA-SYSNAME=Mac
X-KDE-UA-SYSRELEASE=PPC
