[Desktop Entry]
Name=UADescription (IE 5.5 on Win 2000)
Name[af]=UA-beskrywing (Ie 5.5 op Win 2000)
Name[ar]=وصف وكيل-مستخدم (IE 5.5 على  Win 2000)
Name[as]=UADescription (IE 5.5 on Win 2000)
Name[ast]=Descripción d'AU (IE 5.5 en Windows 2000)
Name[be]=UADescription (IE 5.5 на Win 2000)
Name[be@latin]=UADescription (IE 5.5 na „Windows 2000”)
Name[bg]=UADescription (IE 5.5 на Win 2000)
Name[bn]=UADescription (IE 5.5 on Win 2000)
Name[bn_IN]=UADescription (Win 2000-র মধ্যে IE 5.5)
Name[br]=UADescription (IE 5.5 war Win 2000)
Name[bs]=UADescription (IE 5.5 na Vindouzu 2000)
Name[ca]=Descripció AU (IE 5.5 en Windows 2000)
Name[ca@valencia]=Descripció AU (IE 5.5 en Windows 2000)
Name[cs]=Popis agenta (IE 5.5 na Win 2000)
Name[csb]=Òpisënk programë brëkòwnika (IE 5.5 na Win 2000)
Name[cy]=UADisgrifiad (IE 5.5 ar Win 2000)
Name[da]=Brugeragentbeskrivelse (IE 5.5 på Win 2000)
Name[de]=Browserkennung (IE 5.5 unter Windows 2000)
Name[el]=Περιγραφή UA (IE 5.5 σε Win 2000)
Name[en_GB]=UADescription (IE 5.5 on Win 2000)
Name[eo]=UA-Priskribo (IE 5.5 sub Vindozo 2000)
Name[es]=UADescription (IE 5.5 en Win 2000)
Name[et]=UADescription (IE 5.5 Win2000 platvormil)
Name[eu]=UA azalpena (IE 5.5 Win 2000-n)
Name[fa]=UADescription (IE 5.5 در Win 2000)
Name[fi]=Käyttäjäagenttikuvaus (IE 5.5 Win 2000:lla)
Name[fr]=UADescription (IE 5.5 sous Windows 2000)
Name[fy]=GA-omskriuwing (IE 5.5 op Win 2000)
Name[ga]=UADescription (IE 5.5 ar Win 2000)
Name[gl]=UADescription (IE 5.5 en Win 2000)
Name[gu]=UADescription (આઇ.ઇ. ૫.૫ વિન્ડોઝ ૨૦૦૦ પર)
Name[he]=UADescription (IE 5.5 on Win 2000)
Name[hi]=यूए-डिस्क्रिप्शन (आईई 5.5 विन 2000 पर)
Name[hne]=यूए-डिस्क्रिप्सन (आईई 5.5 विन 2000 मं)
Name[hr]=UADescription (IE 5.5 na Win 2000)
Name[hsb]=UADescription (IE 5.5 na Win 2000)
Name[hu]=Böngészőtípus (IE 5.5, Win 2000)
Name[ia]=UADescription (IE 5.5 super Win 2000)
Name[id]=UADescription (IE 5.5 di Win 2000)
Name[is]=UADescription (IE 5.5 á Win 2000)
Name[it]=Descrizione UA (IE 5.5 su Windows 2000)
Name[ja]=UADescription (IE 5.5 on Win 2000)
Name[ka]=UADescription (IE 5.5 Win 2000-ში)
Name[kk]=UADescription (IE 5.5 / Win 2000)
Name[km]=UADescription (IE 5.5 នៅ​លើ​វីនដូ ២០០០)
Name[kn]=UAವಿವರಣೆ (ವಿನ್ಡೋಸ್ ೨೦೦೦ ದ ಮೇಲಿನ ಐಇ ೫.೫)
Name[ko]=UADescription (Windows 2000의 IE 5.5)
Name[ku]=Pênasa UA (IE 5.5 ji bo Win 2000)
Name[lt]=Naudotojo agentas (IE 5.5 ir Win 2000)
Name[lv]=UA Apraksts (IE 5.5 uz Win 2000)
Name[mai]=यूए-डिस्क्रिप्शन (आईई 5.5 विन 2000 पर)
Name[mk]=UADescription (IE 5.5 на Win 2000)
Name[ml]=യുഎവിവരണം (വിന്‍ 2000 ലെ ഐഇ 5.5)
Name[mr]=UAडिस्क्रिप्शन (IE 5.5 विन 2000 पर)
Name[ms]=UADescription (IE 5.5 on Win 2000)
Name[nb]=Brukeragent (IE 5.5 på Win 2000)
Name[nds]=UA-Beschrieven (IE 5.5 op Win 2000)
Name[ne]=UA वर्णन (Win 2000मा IE 5.5)
Name[nl]=GA-beschrijving (IE 5.5 op Win 2000)
Name[nn]=Brukaragent (IE 5.5 på Windows 2000)
Name[or]=UA ବର୍ଣ୍ଣନା (Win 2000 ଉପରେ IE 5.5)
Name[pa]=UADescription (Win ੨੦੦੦ ਉੱਤੇ IE 5.5)
Name[pl]=Opis przeglądarki użytkownika (IE 5.5 na Win 2000)
Name[pt]=UADescription (IE 5.5 no Win 2000)
Name[pt_BR]=UADescription (IE 5.5 no Windows 2000)
Name[ro]=Descriere AU (IE 5.5 pentru Win 2000)
Name[ru]=UADescription (IE 5.5 на Windows 2000)
Name[se]=UA-čilgehus (IE 5.5 ja Win 2000)
Name[si]=UADescription (Win 2000 මත IE 5.0)
Name[sk]=Popis agenta (IE 5.5 na Win 2000)
Name[sl]=Opis UP (IE 5.5 na Windows 2000)
Name[sr]=УА‑опис (ИЕ 5.5 на Виндоузу 2000)
Name[sr@ijekavian]=УА‑опис (ИЕ 5.5 на Виндоузу 2000)
Name[sr@ijekavianlatin]=UA-opis (IE 5.5 na Windowsu 2000)
Name[sr@latin]=UA-opis (IE 5.5 na Windowsu 2000)
Name[sv]=AA-beskrivning (IE 5.5 på Win 2000)
Name[ta]=UADescription (IE 5.5 on Win 2000)
Name[te]=UADescription (IE 5.5 on Win 2000)
Name[tg]=UADescription (IE 5.5 дар Win 2000)
Name[th]=UADescription (IE 5.5 บน Win 2000)
Name[tr]=Kullanıcı Uygulaması Tanımı (Win 2000 üzerinde IE 5.5)
Name[ug]=خېرىدار تەرەپ چۈشەندۈرۈشى(Win 2000 دا ئىجرا قىلىنىدىغان IE 5.5)
Name[uk]=UADescription (IE 5.5 на Win 2000)
Name[uz]=UADescription (Win 2000 bilan IE 5.5)
Name[uz@cyrillic]=UADescription (Win 2000 билан IE 5.5)
Name[vi]=Mô tả UA (IE 5.5 trên Win 2000)
Name[wa]=Idintifiaedje do betchteu (MSIE 5.5 so Windows 2000)
Name[xh]=UADescription (IE 5.5 kwi Win 2000)
Name[x-test]=xxUADescription (IE 5.5 on Win 2000)xx
Name[zh_CN]=客户端描述(运行于 Win 2000 的 IE 5.5)
Name[zh_TW]=使用者代理描述 (IE 5.5 on Win 2000)
Type=Service
X-KDE-ServiceTypes=UserAgentStrings
X-KDE-UA-TAG=IE
X-KDE-UA-FULL=Mozilla/4.0 (compatible; MSIE 5.5; Windows NT 5.0)
X-KDE-UA-NAME=Internet Explorer
X-KDE-UA-VERSION=5.5
X-KDE-UA-SYSNAME=Windows
X-KDE-UA-SYSRELEASE=2000
