[Desktop Entry]
Name=UADescription (IE 6.0 on current)
Name[af]=UA-beskrywing (IE 6.0 op huidige bedryfstelsel)
Name[ar]=وصف وكيل-مستخدم (IE 6.0 على الحالي)
Name[as]=UADescription (IE 6.0 on current)
Name[ast]=UADescription (IE 6.0 n'actual)
Name[be]=UADescription (IE 6.0 на гэтай сістэме)
Name[be@latin]=UADescription (IE 6.0 na hetaj systemie)
Name[bg]=UADescription (IE 6.0 на текущата система)
Name[bn]=UADescription (IE 6.0 on current)
Name[bn_IN]=UADescription (সাম্প্রতিক সংস্করণের মধ্যে IE 6.0)
Name[bs]=UADescription (IE 6.0 na tekućem)
Name[ca]=Descripció AU (IE 6.0 a l'actual)
Name[ca@valencia]=Descripció AU (IE 6.0 a l'actual)
Name[cs]=Popis agenta (IE 6.0 na aktuálním)
Name[csb]=Òpisënk programë brëkòwnika (IE 6.0)
Name[da]=Brugeragentbeskrivelse (IE 6.0 på nuværende)
Name[de]=Browserkennung (IE 6.0 auf aktuellem Betriebssystem)
Name[el]=Περιγραφή UA (IE 6.0 στο τρέχον σύστημα)
Name[en_GB]=UADescription (IE 6.0 on current)
Name[eo]=UA-Priskribo (IE 6.0 sub nuna)
Name[es]=UADescription (IE 6.0 en actual)
Name[et]=UADescription (Selles masinas töötav IE 6.0)
Name[eu]=UA azalpena (IE 6.0 unekoan)
Name[fa]=UADescription (IE 6.0 در حال حاضر)
Name[fi]=Käyttäjäagenttikuvaus (IE 6.0 on current)
Name[fr]=UADescription (IE 6.0 sous le système actuel)
Name[fy]=GA-omskriuwing (IE 6.0 op aktive)
Name[ga]=UADescription (IE 6.0 ar an gcóras reatha)
Name[gl]=UADescription (IE 6.0 no actual)
Name[gu]=UADescription (આઇ.ઇ. ૬.૦ હાલ પર)
Name[he]=UADescription (IE 6.0 on current)
Name[hi]=यूए-डिस्क्रिप्शन (आईई 6.0 हालिया पर)
Name[hne]=यूए-डिस्क्रिप्सन (आईई 6.0 वाले मं)
Name[hr]=UADescription (IE 6.0 na trenutnom)
Name[hsb]=UADescription (IE 6.0 abo pozdźišo)
Name[hu]=Böngészőtípus (IE 6.0)
Name[ia]=UADescription (IE 6.0 super le currente)
Name[id]=UADescription (IE 6.0 di saat ini)
Name[is]=UADescription (IE 6.0 á núverandi)
Name[it]=Descrizione UA (IE 6.0 sul sistema attuale)
Name[ja]=UADescription (IE 6.0 on current)
Name[ka]=UADescription (IE 6.0 მიმდინარე სისტემაში)
Name[kk]=UADescription (IE 6.0 осы орында)
Name[km]=UADescription (IE 6.0 បច្ចុប្បន្ន)
Name[kn]=UAವಿವರಣೆ (ಪ್ರಸ್ತುತದ ಮೇಲಿನ ಐಇ ೬.೦)
Name[ko]=UADescription (현재 플랫폼의 IE 6.0)
Name[ku]=Pênasa UA (IE 6.0 derbasdar e)
Name[lt]=Naudotojo agentas (IE 6.0 šioje sistemoje)
Name[lv]=UA Apraksts (IE 6.0 uz pašreizējā)
Name[mai]=यूए-डिस्क्रिप्शन (आईई 6.0 अखनका पर)
Name[mk]=UADescription (IE 6.0 на тековно)
Name[ml]=യുഎവിവരണം (ഇപ്പോഴത്തേതില്‍ ഐഇ 6.0)
Name[mr]=UAडिस्क्रिप्शन (IE 6.0 वर्तमान वर)
Name[nb]=Brukeragent (IE 6.0 herifra)
Name[nds]=UA-Beschrieven (IE 6.0 op dit Systeem)
Name[ne]=UA वर्णन (हाल IE 6.0 मा)
Name[nl]=GA-beschrijving (IE 6.0 op huidige)
Name[nn]=Brukaragent (IE 6.0 herifrå)
Name[or]=UA ବର୍ଣ୍ଣନା (ପ୍ରଚଳିତ IE 6.0)
Name[pa]=UADescription (ਮੌਜੂਦਾ ਉੱਤੇ IE 6.0)
Name[pl]=Opis przeglądarki użytkownika (IE 6.0, na bieżącym systemie)
Name[pt]=UADescription (IE 6.0 no sistema actual)
Name[pt_BR]=UADescription (IE 6.0 no sistema atual)
Name[ro]=Descriere AU (IE 6.0 pe sistemul curent)
Name[ru]=UADescription (IE 6.0 на текущей системе)
Name[se]=UA-čilgehus (IE 6.0 dán mašiinnas)
Name[si]=UADescription (වත්මන මත IE 6.0)
Name[sk]=Popis agenta (IE 6.0 na aktuálnom)
Name[sl]=Opis UP (IE 6.0 na trenutnem)
Name[sr]=УА‑опис (ИЕ 6.0 на текућем)
Name[sr@ijekavian]=УА‑опис (ИЕ 6.0 на текућем)
Name[sr@ijekavianlatin]=UA-opis (IE 6.0 na tekućem)
Name[sr@latin]=UA-opis (IE 6.0 na tekućem)
Name[sv]=AA-beskrivning (IE 6.0 på aktuell)
Name[ta]=UADescription (IE 6.0 on current)
Name[te]=UADescription (IE 6.0 on current)
Name[tg]=UADescription (IE 6.0 дар версияи ҷорӣ)
Name[th]=UADescription (IE 6.0 บนระบบปัจจุบัน)
Name[tr]=Kullanıcı Uygulaması Tanımı (geçerli işletim sistemi üzerinde IE 6.0)
Name[ug]=خېرىدار تەرەپ چۈشەندۈرۈشى (يەرلىك كومپيۇتېردا ئىجرا قىلىنىدىغان IE 6.0)
Name[uk]=UADescription (IE 6.0 на поточній)
Name[uz]=UADescription (joriy bilan IE 6.0)
Name[uz@cyrillic]=UADescription (жорий билан IE 6.0)
Name[vi]=Mô tả UA (IE 6.0 trên hệ thống hiện thời)
Name[wa]=Idintifiaedje do betchteu (MSIE 6.0 so Windows 2000)
Name[x-test]=xxUADescription (IE 6.0 on current)xx
Name[zh_CN]=客户端描述(运行于本机的 IE 6.0)
Name[zh_TW]=使用者代理描述 (IE 6.0 on current)
Type=Service
X-KDE-ServiceTypes=UserAgentStrings
X-KDE-UA-TAG=IE
X-KDE-UA-FULL=Mozilla/4.0 (compatible; MSIE 6.0; appPlatform; appSysName appMachineType) Konqueror/3.4 (KHTML, like Gecko)
X-KDE-UA-NAME=Internet Explorer
X-KDE-UA-VERSION=6.0
X-KDE-UA-DYNAMIC-ENTRY=1
