[Desktop Entry]
Name=UADescription (IE 7.0 on Win XP)
Name[ar]=وصف وكيل-مستخدم (IE 7.0 على Win XP)
Name[ast]=UADescription (IE 7.0 en Win XP)
Name[bg]=UADescription (IE 7.0 на Win XP)
Name[bn]=UADescription (IE 7.0 on Win XP)
Name[bs]=UADescription (IE 7.0 na Vindouzu IksP)
Name[ca]=Descripció AU (IE 7.0 en Win XP)
Name[ca@valencia]=Descripció AU (IE 7.0 en Win XP)
Name[cs]=Popis agenta (IE 7.0 on Win XP)
Name[csb]=Òpisënk programë brëkòwnika (IE 7.0 na Win XP)
Name[da]=Brugeragentbeskrivelse (IE 7.0 på Win XP)
Name[de]=Browserkennung (IE 7.0 unter Windows XP)
Name[el]=Περιγραφή UA (IE 7.0 σε Win XP)
Name[en_GB]=UADescription (IE 7.0 on Win XP)
Name[eo]=UA-Priskribo (IE 7.0 sub Vindozo XP)
Name[es]=UADescription (IE 7.0 en Win XP)
Name[et]=UADescription (IE 7.0 Win XP platvormil)
Name[eu]=UA azalpena (IE 7.0 Win XP-n)
Name[fi]=Käyttäjäagenttikuvaus (IE 7.0 Win XP:llä)
Name[fr]=UADescription (IE 7.0 sous Windows XP)
Name[fy]=UA-beskriuwing (IE 7.0 op Win XP)
Name[ga]=UADescription (IE 7.0 ar Win XP)
Name[gl]=UADescription (IE 7.0 en Win XP)
Name[gu]=UADescription (આઇ.ઇ. ૭.૦ વિન્ડોઝ XP પર)
Name[he]=UADescription (IE 7.0 on Win XP)
Name[hi]=यूए-डिस्क्रिप्शन (आईई 7.0 विन एक्सपी पर)
Name[hr]=UADescription (IE 7.0 on Win XP)
Name[hu]=Böngészőtípus (IE 7.0, Win XP)
Name[ia]=UADescription (IE 7.0 super Win XP)
Name[id]=UADescription (IE 7.0 di Win XP)
Name[is]=UADescription (IE 7.0 á Win XP)
Name[it]=Descrizione UA (IE 7.0 su Windows XP)
Name[ja]=UADescription (IE 7.0 on Win XP)
Name[kk]=UADescription (IE 7.0 / Win XP)
Name[km]=UADescription (IE 7.0 នៅ​លើ Win XP)
Name[kn]=UAವಿವರಣೆ (Win XP ಯಲ್ಲಿನ IE ೭.೦)
Name[ko]=UADescription (Windows XP의 IE 7.0)
Name[lt]=UADescription (IE 7.0 on Win XP)
Name[lv]=UA Apraksts (IE 7.0 uz Win XP)
Name[mai]=यूए-डिस्क्रिप्शन (आईई 7.0 विन एक्सपी पर)
Name[mk]=UADescription (IE 7.0 на Win XP)
Name[ml]=യുഎവിവരണം (വിന്‍ എക്സ്പിയിലെ ഐഇ 7.0)
Name[mr]=UAडिस्क्रिप्शन (IE 7.0 Win XP वर)
Name[nb]=Brukeragent (IE 7.0 på Win XP)
Name[nds]=UA-Beschrieven (IE 7.0 op Win XP)
Name[nl]=GA-beschrijving (IE 6.0 op Win XP)
Name[nn]=Brukaragent (IE 7.0 på Windows XP)
Name[pa]=UADescription (ਵਿੰਡੋ XP ਉੱਤੇ IE 7.0)
Name[pl]=Opis przeglądarki użytkownika (IE 7.0 na Win XP)
Name[pt]=UADescription (IE 7.0 no Win XP)
Name[pt_BR]=UADescription (IE 7.0 no Windows XP)
Name[ro]=Descriere AU (IE 7.0 pe Win XP)
Name[ru]=UADescription (IE 7.0 на Win XP)
Name[se]=UA-čilgehus (IE 7.0 Win XP:s)
Name[si]=UADescription (Win XP මත IE 7.0)
Name[sk]=Popis agenta (IE 7.0 na Win XP)
Name[sl]=Opis UP (IE 7.0 na Windows XP)
Name[sr]=УА‑опис (ИЕ 7.0 на Виндоузу ИксП)
Name[sr@ijekavian]=УА‑опис (ИЕ 7.0 на Виндоузу ИксП)
Name[sr@ijekavianlatin]=UA-opis (IE 7.0 na Windowsu XP)
Name[sr@latin]=UA-opis (IE 7.0 na Windowsu XP)
Name[sv]=AA-beskrivning (IE 7.0 på Win XP)
Name[tg]=UADescription (IE 7.0 дар Win XP)
Name[th]=UADescription (IE 7.0 บน Win XP)
Name[tr]=Kullanıcı Uygulaması Tanımı (Win XP üzerinde IE 7.0)
Name[ug]=خېرىدار تەرەپ چۈشەندۈرۈشى(Win XP دا ئىجرا قىلىنىدىغان IE 7.0)
Name[uk]=UADescription (IE 7.0 у Win XP)
Name[wa]=Idintifiaedje do betchteu (IE 7.0 so Windows XP)
Name[x-test]=xxUADescription (IE 7.0 on Win XP)xx
Name[zh_CN]=客户端描述(运行于 Win XP 的 IE 7.0)
Name[zh_TW]=使用者代理描述 (IE 7.0 on Win XP)
Type=Service
X-KDE-ServiceTypes=UserAgentStrings
X-KDE-UA-TAG=IE
X-KDE-UA-FULL=Mozilla/4.0 (compatible; MSIE 7.0; Windows NT 5.1)
X-KDE-UA-NAME=Internet Explorer
X-KDE-UA-VERSION=7.0
X-KDE-UA-SYSNAME=Windows
X-KDE-UA-SYSRELEASE=XP
