[Desktop Entry]
Name=UADescription (NN 4.7 on Windows 95)
Name[af]=UA-beskrywing (NN 4.7 op Windows 95)
Name[ar]=وصف وكيل-مستخدم (NN 4.7 على Windows 95)
Name[as]=UADescription (NN 4.7 on Windows 95)
Name[ast]=Descripción d'AU (NN 4.7 en Windows 95)
Name[be]=UADescription (NN 4.7 на Windows 95)
Name[be@latin]=UADescription (NN 4.7 na „Windows 95”)
Name[bg]=UADescription (NN 4.7 на Windows 95)
Name[bn]=UADescription (NN 4.7 on Windows 95)
Name[bn_IN]=UADescription (Windows 95-র মধ্যে NN 4.7)
Name[br]=UADescription (NN 4.7 war Windows 95)
Name[bs]=UADescription (NN 4.7 na Vindouzu 95)
Name[ca]=Descripció AU (NN 4.7 en Windows 95)
Name[ca@valencia]=Descripció AU (NN 4.7 en Windows 95)
Name[cs]=Popis agenta (NN 4.7 na Windows 95)
Name[csb]=Òpisënk programë brëkòwnika (NN 4.7 na Windows 95)
Name[cy]=UADisgrifiad (NN4.7 ar Windows 95)
Name[da]=Brugeragentbeskrivelse (NN 4.7 på Windows 95)
Name[de]=Browserkennung (NN 4.7 unter Windows 95)
Name[el]=Περιγραφή UA (NN 4.7 σε Windows 95)
Name[en_GB]=UADescription (NN 4.7 on Windows 95)
Name[eo]=UA-Priskribo (NN 4.7 sub Vindozo 95)
Name[es]=UADescription (NN 4.7 en Windows 95)
Name[et]=UADescription (Netscape 4.7 Win95 platvormil)
Name[eu]=UA azalpena (NN 4.7  Windows 95-ean)
Name[fa]=UADescription (NN 4.7 در Windows 95)
Name[fi]=Käyttäjäagenttikuvaus (NN 4.7 Windows 95:lla)
Name[fr]=UADescription (Netscape 4.7 sous Windows 95)
Name[fy]=GA-omskriuwing (NN 4.76 op Windows 95)
Name[ga]=UADescription (NN 4.7 ar Windows 95)
Name[gl]=UADescription (NN 4.7 en Windows 95)
Name[gu]=UADescription (NN ૪.૭ વિન્ડોઝ ૯૫ પર)
Name[he]=UADescription (NN 4.7 on Windows 95)
Name[hi]=यूए-डिस्क्रिप्शन (एनएन 4.7 विंडोज़ 95 पर)
Name[hne]=यूए-डिस्क्रिप्सन (एनएन 4.7 विंडोज 95 मं)
Name[hr]=UADescription (NN 4.7 na Windows 95)
Name[hsb]=UADescription (NN 4.7 na Windows 95)
Name[hu]=Böngészőtípus (NN 4.7, Win 95)
Name[ia]=UADescription (NN 4.7 super Windows 95)
Name[id]=UADescription (NN 4.7 di Windows 95)
Name[is]=UADescription (NN 4.7 á Windows 95)
Name[it]=Descrizione UA (NN 4.7 su Windows 95)
Name[ja]=UADescription (NN 4.7 on Windows 95)
Name[ka]=UADescription (NN 4.7 Windows 95-ში)
Name[kk]=UADescription (NN 4.7 / Windows 95)
Name[km]=UADescription (NN 4.7 នៅ​លើ​វីនដូ ៩៥)
Name[kn]=UAವಿವರಣೆ (ವಿಂಡೋಸ್ ೯೫ ರ ಮೇಲಿನ ಎನ್ಎನ್ ೪.೭)
Name[ko]=UADescription (Windows 95의 넷스케이프 4.7)
Name[ku]=Pênasa UA (NN 4.7 ji bo Windows 95)
Name[lt]=Naudotojo agentas (NN 4.7 ir Windows 95)
Name[lv]=UA Apraksts (NN 4.7 uz Windows 95)
Name[mai]=यूए-डिस्क्रिप्शन (एनएन 4.7 विंडोज 95 पर)
Name[mk]=UADescription (NN 4.7 на Windows 95)
Name[ml]=യുഎവിവരണം (വിന്‍ഡോസ് 95 ലെ എന്‍എന്‍ 4.7)
Name[mr]=UAडिस्क्रिप्शन (एनएन 4.7 Windows 95 वर)
Name[nb]=Brukeragent (NN 4.7 på Windows 95)
Name[nds]=UA-Beschrieven (NN 4.7 op Windows 95)
Name[ne]=UA वर्णन (विण्डोज ९५ मा NN 4.7)
Name[nl]=GA-beschrijving (NN 4.76 op Windows 95)
Name[nn]=Brukaragent (NN 4.7 på Windows 95)
Name[or]=UA ବର୍ଣ୍ଣନା (Windows 95 ଉପରେ NN 4.7)
Name[pa]=UADescription (ਵਿੰਡੋ ੯੫ ਉੱਤੇ NN 4.7)
Name[pl]=Opis przeglądarki użytkownika (NN 4.7 na Windows 95)
Name[pt]=UADescription (NN 4.7 no Windows 95)
Name[pt_BR]=UADescription (NN 4.7 no Windows 95)
Name[ro]=Descriere AU (NN 4.7 pentru Windows 95)
Name[ru]=UADescription (NN 4.7 на Windows 95)
Name[se]=UA-čilgehus (NN 4.7 ja Windows 95)
Name[si]=UADescription (Windows 95 මත NN 4.7)
Name[sk]=Popis agenta (NN 4.7 na Windows 95)
Name[sl]=Opis UP (NN 4.7 na Windows 95)
Name[sr]=УА‑опис (НН 4.7 на Виндоузу 95)
Name[sr@ijekavian]=УА‑опис (НН 4.7 на Виндоузу 95)
Name[sr@ijekavianlatin]=UA-opis (NN 4.7 na Windowsu 95)
Name[sr@latin]=UA-opis (NN 4.7 na Windowsu 95)
Name[sv]=AA-beskrivning (NN 4.7 på Windows 95)
Name[ta]=UAவிவரம் (NN 4.7 on Windows 95)
Name[te]=UADescription (NN 4.7 on Windows 95)
Name[tg]=UADescription (NN 4.7 дар Windows 95)
Name[th]=UADescription (NN 4.7 บน Windows 95)
Name[tr]=Kullanıcı Uygulaması Tanımı (Windows 95 üzerinde NN 4.7)
Name[ug]=خېرىدار تەرەپ چۈشەندۈرۈشى(Windows 95 تە ئىجرا قىلىنىدىغان NN 4.7)
Name[uk]=UADescription (NN 4.7 на Windows 95)
Name[uz]=UADescription (Windows 95 bilan NN 4.7)
Name[uz@cyrillic]=UADescription (Windows 95 билан NN 4.7)
Name[vi]=Mô tả UA (NN 4.7 trên Windows 95)
Name[wa]=Idintifiaedje do betchteu (Netscape 4.7 so Windows 98)
Name[xh]=UADescription (NN 4.7 kwi Windows.95)
Name[x-test]=xxUADescription (NN 4.7 on Windows 95)xx
Name[zh_CN]=客户端描述(运行于 Windows 95 的 NN 4.7)
Name[zh_TW]=使用者代理描述 (NN 4.7 on Windows 95)
Type=Service
X-KDE-ServiceTypes=UserAgentStrings
X-KDE-UA-TAG=NN
X-KDE-UA-FULL=Mozilla/4.7 [appLanguage] (Win95; U)
X-KDE-UA-NAME=Netscape Navigator
X-KDE-UA-VERSION=4.76
X-KDE-UA-SYSNAME=Windows
X-KDE-UA-SYSRELEASE=95
X-KDE-UA-DYNAMIC-ENTRY=1
