[Desktop Entry]
Name=UADescription (NN 4.76 on current)
Name[af]=UA-beskrywing (NN 4.76 op huidige bedryfstelsel)
Name[ar]=وصف وكيل-مستخدم (NN 4.76 على الحالي)
Name[as]=UADescription (NN 4.76 on current)
Name[ast]=Descripción d'AU (NN 4.76 n'actual)
Name[be]=UADescription (NN 4.76 на гэтай сістэме)
Name[be@latin]=UADescription (NN 4.76 na hetaj systemie)
Name[bg]=UADescription (NN 4.76 на текущата система)
Name[bn]=UADescription (NN 4.76 on current)
Name[bn_IN]=UADescription (সাম্প্রতিক সংস্করণের মধ্যে NN 4.76)
Name[bs]=UADescription (NN 4.76 na tekućem)
Name[ca]=Descripció AU (NN 4.76 sobre l'actual)
Name[ca@valencia]=Descripció AU (NN 4.76 sobre l'actual)
Name[cs]=Popis agenta (NN 4.76 na aktuálním)
Name[csb]=Òpisënk programë brëkòwnika (NN 4.76)
Name[cy]=UADisgrifiad (NN 4.76 ar gyfredol)
Name[da]=Brugeragentbeskrivelse (NN 4.76 på nuværende)
Name[de]=Browserkennung (NN 4.76 auf aktuellem Betriebssystem)
Name[el]=Περιγραφή UA (NN 4.76 στο τρέχον σύστημα)
Name[en_GB]=UADescription (NN 4.76 on current)
Name[eo]=UA-Priskribo (NN 4.76 sub nuna)
Name[es]=UADescription (NN 4.76 en la actualidad)
Name[et]=UADescription (Selles masinas töötav Netscape 4.76)
Name[eu]=UA azalpena (NN 4.76 unekoan)
Name[fa]=UADescription (NN 4.76 در حال حاضر)
Name[fi]=Käyttäjäagenttikuvaus (NN 4.76 nykyisellä)
Name[fr]=UADescription (Netscape 4.76 sous le système actuel)
Name[fy]=GA-omskriuwing (NN 4.76 op aktive)
Name[ga]=UADescription (NN 4.76 ar an gcóras reatha)
Name[gl]=UADescription (NN 4.76 no actual)
Name[gu]=UADescription (NN ૪.૭૬ હાલ પર)
Name[he]=UADescription (NN 4.76 on current)
Name[hi]=यूए-डिस्क्रिप्शन (एनएन 4.76 हालिया पर)
Name[hne]=यूए-डिस्क्रिप्सन (एनएन 4.76 अभी वाले मं)
Name[hr]=UADescription (NN 4.76 na trenutnom)
Name[hsb]=UADescription (NN 4.76 abo pozdźišo)
Name[hu]=Böngészőtípus (NN 4.76)
Name[ia]=UADescription (NN 4.76 super le currente)
Name[id]=UADescription (NN 4.76 di saat ini)
Name[is]=UADescription (NN 4.76 á núverandi)
Name[it]=Descrizione UA (NN 4.76 sul sistema attuale)
Name[ja]=UADescription (NN 4.76 on current)
Name[ka]=UADescription (NN 4.76 მიმდინარე სისტემაში)
Name[kk]=UADescription (NN 4.76 осы орында)
Name[km]=UADescription (NN 4.76 បច្ចុប្បន្ន)
Name[kn]=UAವಿವರಣೆ (ಪ್ರಸ್ತುತದ ಮೇಲಿನ ಎನ್ಎನ್ ೪.೭೬)
Name[ko]=UADescription (현재 플랫폼의 넷스케이프 4.76)
Name[ku]=Pênasa UA (NN 4.76 derbasdar e)
Name[lt]=Naudotojo agentas (NN 4.76 šioje sistemoje)
Name[lv]=UA Apraksts (NN 4.76 uz pašreizējā)
Name[mai]=यूए-डिस्क्रिप्शन (एनएन 4.76 अखनका पर)
Name[mk]=UADescription (NN 4.76 на тековен)
Name[ml]=യുഎവിവരണം (ഇപ്പോഴത്തേതില്‍ എന്‍എന്‍ 4.76)
Name[mr]=UAडिस्क्रिप्शन (एनएन 4.76 वर्तमान वर)
Name[nb]=Brukeragent (NN 4.76 herifra)
Name[nds]=UA-Beschrieven (NN 4.76 op dit Systeem)
Name[ne]=UA वर्णन (हाल NN 4.76 मा)
Name[nl]=GA-beschrijving (NN 4.76 op huidige)
Name[nn]=Brukaragent (NN 4.76 herifrå)
Name[or]=UA ବର୍ଣ୍ଣନା (ପ୍ରଚଳିତ NN 4.76)
Name[pa]=UADescription (ਮੌਜੂਦਾ ਉੱਤੇ NN 4.76)
Name[pl]=Opis przeglądarki użytkownika (NN 4.76 na bieżącym systemie)
Name[pt]=UADescription (NN 4.76 no sistema actual)
Name[pt_BR]=UADescription (NN 4.76 no sistema atual)
Name[ro]=Descriere AU (NN 4.76 pe sistemul curent)
Name[ru]=UADescription (NN 4.76 на текущей системе)
Name[se]=UA-čilgehus (NN 4.76 dán mašiinnas)
Name[si]=UADescription (වත්මන මත NN 4.76)
Name[sk]=Popis agenta (NN 4.76 na aktuálnom)
Name[sl]=Opis UP (NN 4.76 na trenutnem)
Name[sr]=УА‑опис (НН 4.76 на текућем)
Name[sr@ijekavian]=УА‑опис (НН 4.76 на текућем)
Name[sr@ijekavianlatin]=UA-opis (NN 4.76 na tekućem)
Name[sr@latin]=UA-opis (NN 4.76 na tekućem)
Name[sv]=AA-beskrivning (NN 4.76 på aktuell)
Name[ta]=UAவிவரம் (NN 4.76 on current)
Name[te]=UADescription (NN 4.76 on current)
Name[tg]=UADescription (NN 4.76 дар версияи ҷорӣ)
Name[th]=UADescription (NN 4.76 บนระบบปัจจุบัน)
Name[tr]=Kullanıcı Uygulaması Tanımı (geçerli işletim sistemi üzerinde NN 4.76)
Name[ug]=خېرىدار تەرەپ چۈشەندۈرۈشى (يەرلىك كومپيۇتېردا ئىجرا قىلىنىدىغان NN 4.76)
Name[uk]=UADescription (NN 4.76 на поточній ОС)
Name[uz]=UADescription (joriy bilan NN 4.76)
Name[uz@cyrillic]=UADescription (жорий билан NN 4.76)
Name[vi]=Mô tả UA (NN 4.76 trên hệ thống hiện thời)
Name[wa]=Idintifiaedje do betchteu (Netscape 4.76 sol sistinme do moumint)
Name[xh]=UADescription (NN 4.76 okwangoku)
Name[x-test]=xxUADescription (NN 4.76 on current)xx
Name[zh_CN]=客户端描述(运行于本机的 NN 4.76)
Name[zh_TW]=使用者代理描述 (NN 4.76 on current)
Type=Service
X-KDE-ServiceTypes=UserAgentStrings
X-KDE-UA-TAG=NN
X-KDE-UA-FULL=Mozilla/4.76 (appPlatform; U; appSysName appSysRelease appMachineType)
X-KDE-UA-NAME=Netscape Navigator
X-KDE-UA-VERSION=4.76
X-KDE-UA-DYNAMIC-ENTRY=1
