[Desktop Entry]
Name=UADescription (Netscape 7.1 on current)
Name[af]=UA-beskrywing (Netscape 7.1 op huidige bedryfstelsel)
Name[ar]=وصف وكيل-مستخدم (Netscape 7.1 على الحالي)
Name[as]=UADescription (Netscape 7.1 on current)
Name[ast]=UADescription (Netscape 7.1 n'actual)
Name[be]=UADescription (NN 7.1 на гэтай сістэме)
Name[be@latin]=UADescription (Netscape 7.1 na hetaj systemie)
Name[bg]=UADescription (Netscape 7.1 на текущата система)
Name[bn]=UADescription (Netscape 7.1 on current)
Name[bn_IN]=UADescription (সাম্প্রতিক সংস্করণের মধ্যে Netscape 7.1
Name[bs]=UADescription (Netskejp 7.1 na tekućem)
Name[ca]=Descripció AU (Netscape 7.1 a l'actual)
Name[ca@valencia]=Descripció AU (Netscape 7.1 a l'actual)
Name[cs]=Popis agenta (Netscape 7.1 na aktuálním)
Name[csb]=Òpisënk programë brëkòwnika (Netscape 7.1)
Name[da]=Brugeragentbeskrivelse (Netscape 7.1 på nuværende)
Name[de]=Browserkennung (Netscape 7.1 auf aktuellem Betriebssystem)
Name[el]=Περιγραφή UA (Netscape 7.1 στο τρέχον σύστημα)
Name[en_GB]=UADescription (Netscape 7.1 on current)
Name[eo]=UA-Priskribo (Netskapo 7.1 sub nuna)
Name[es]=UADescription (Netscape 7.1 en la actualidad)
Name[et]=UADescription (Selles masinas töötav Netscape 7.1)
Name[eu]=UA azalpena (Netscape 7.1 unekoan)
Name[fa]=UADescription (Netscape 7.1 در حال حاضر)
Name[fi]=Käyttäjäagenttikuvaus (Netscape 7.1 nykyisellä)
Name[fr]=UADescription (Netscape 7.1 sous le système actuel)
Name[fy]=GA-omskriuwing (Netscape 7.1 op aktive)
Name[ga]=UADescription (Netscape 7.1 ar an gcóras reatha)
Name[gl]=UADescription (Netscape 7.1 no actual)
Name[gu]=UADescription (નેટસ્કેપ ૭.૧ હાલ પર)
Name[he]=UADescription (Netscape 7.1 on current)
Name[hi]=यूए-डिस्क्रिप्शन (मौजूदा में नेटस्केप 7.1)
Name[hne]=यूए-डिस्क्रिप्सन (अभी वाले मं नेटस्केप 7.1)
Name[hr]=UADescription (Netscape 7.1 na trenutnom)
Name[hsb]=UADescription (Netscape 7.1 abo pozdźišo)
Name[hu]=Böngészőtípus (Netscape 7.1)
Name[ia]=UADescription (Netscape 7.1 super le currente)
Name[id]=UADescription (Netscape 7.1 di saat ini)
Name[is]=UADescription (Netscape 7.1 á núverandi)
Name[it]=Descrizione UA (Netscape 7.1 sul sistema attuale)
Name[ja]=UADescription (Netscape 7.1 on current)
Name[ka]=UADescription (Netscape 7.1 მიმდინარე სისტემაში)
Name[kk]=UADescription (Netscape 7.1 осында)0
Name[km]=UADescription (Netscape 7.1 បច្ចុប្បន្ន)
Name[kn]=UAವಿವರಣೆ (ಪ್ರಸ್ತುತದ ಮೇಲಿನ ಎನ್ಎನ್ ೭.೧)
Name[ko]=UADescription (현재 플랫폼의 넷스케이프 7.1)
Name[ku]=Pênasa UA (Netscape 7.1 derbasdar e)
Name[lt]=Naudotojo agentas (Netscape 7.1 šioje sistemoje)
Name[lv]=UA Apraksts (NN 7.1 uz pašreizējā)
Name[mai]=यूए-डिस्क्रिप्शन (मोजुदा मे नेटस्केप 7.1)
Name[mk]=UADescription (Netscape 7.1 на тековно)
Name[ml]=യുഎവിവരണം (ഇപ്പോഴത്തേതില്‍ നെറ്റ്സ്കേപ് 7.1)
Name[mr]=UAडिस्क्रिप्शन (वर्तमानातील नेटस्केप 7.1)
Name[nb]=Brukeragent (Netscape 7.1 herifra)
Name[nds]=UA-Beschrieven (Netscape 7.1 op dit Systeem)
Name[ne]=UA वर्णन (हाल नेटस्केप ७.१)
Name[nl]=GA-beschrijving (Netscape 7.1 op current)
Name[nn]=Brukaragent (Netscape 7.1 herifrå)
Name[or]=UA ବର୍ଣ୍ଣନା (ପ୍ରଚଳିତ ଉପରେ Netscape 7.1)
Name[pa]=UADescription (ਮੌਜੂਦਾ ਉੱਤੇ Netscape 7.1)
Name[pl]=Opis przeglądarki użytkownika (Netscape 7.1 na bieżącym systemie)
Name[pt]=UADescription (Netscape 7.1 no sistema actual)
Name[pt_BR]=UADescription (Netscape 7.1 no sistema atual)
Name[ro]=Descriere AU (Netscape 7.1 pe sistemul curent)
Name[ru]=UADescription (Netscape 7.1 на текущей системе)
Name[se]=UA-čilgehus (Netscape 7.1 dán mašiinnas)
Name[si]=UADescription (වත්මන මත Netscape 7.1)
Name[sk]=Popis agenta (Netscape 7.1 na aktuálnom)
Name[sl]=Opis UP (Netscape 7.1 na trenutnem)
Name[sr]=УА‑опис (Нетскејп 7.1 на текућем)
Name[sr@ijekavian]=УА‑опис (Нетскејп 7.1 на текућем)
Name[sr@ijekavianlatin]=UA-opis (Netscape 7.1 na tekućem)
Name[sr@latin]=UA-opis (Netscape 7.1 na tekućem)
Name[sv]=AA-beskrivning (Netscape 7.1 på aktuell)
Name[ta]=UAவிவரம் (நடப்பில் 3.01 நெட்ஸ்கேப்)
Name[te]=UADescription (Netscape 7.1 on current)
Name[tg]=UADescription (Netscape 7.1 дар версияи ҷорӣ)
Name[th]=UADescription (เน็ตสเคป 7.1 บนระบบปัจจุบัน)
Name[tr]=Kullanıcı Uygulaması Tanımı (Netscape 7.1)
Name[ug]=خېرىدار تەرەپ چۈشەندۈرۈشى (يەرلىك كومپيۇتېردا ئىجرا قىلىنىدىغان Netscape 7.1)
Name[uk]=UADescription (Netscape 7.1 на поточній)
Name[uz]=UADescription (joriy bilan Netscape 7.1)
Name[uz@cyrillic]=UADescription (жорий билан Netscape 7.1)
Name[vi]=Mô tả UA (Netscape 7.1 trên hệ thống hiện thời)
Name[wa]=Idintifiaedje do betchteu (Netscape 7.1 sol sistinme do moumint)
Name[x-test]=xxUADescription (Netscape 7.1 on current)xx
Name[zh_CN]=客户端描述(运行于本机的 Netscape 7.1)
Name[zh_TW]=使用者代理描述 (Netscape 7.1 on current)
Type=Service
X-KDE-ServiceTypes=UserAgentStrings
X-KDE-UA-TAG=NN
X-KDE-UA-FULL=Mozilla/5.0 (appPlatform; U; appSysName appMachineType; en-CA; rv:1.4) Gecko/20030624 Netscape/7.1 (ax)
X-KDE-UA-NAME=Netscape
X-KDE-UA-VERSION=7.1
X-KDE-UA-DYNAMIC-ENTRY=1
