[Desktop Entry]
Name=UADescription (Opera 9.00 on current)
Name[af]=UA-beskrywing (Opera 9 op huidige bedryfstelsel)
Name[ar]=وصف وكيل-مستخدم (Opera 9.00 على الحالي)
Name[as]=UADescription (Opera 9.00 on current)
Name[ast]=UADescription (Opera 9.00 n'actual)
Name[be]=UADescription (Opera 9.00 на гэтай сістэме)
Name[be@latin]=UADescription (Opera 9.00 na hetaj systemie)
Name[bg]=UADescription (Opera 9.00 на текущата система)
Name[bn]=UADescription (Opera 9.00 on current)
Name[bn_IN]=UADescription (সাম্প্রতিক সংস্করণের মধ্যে Opera 9.00)
Name[bs]=UADescription (Opera 9.00 na tekućem)
Name[ca]=Descripció AU (Opera 9.00 a l'actual)
Name[ca@valencia]=Descripció AU (Opera 9.00 a l'actual)
Name[cs]=Popis agenta (Opera 9.00 na aktuálním)
Name[csb]=Òpisënk programë brëkòwnika (Opera 9.00)
Name[da]=Brugeragentbeskrivelse (Opera 9.00 på nuværende)
Name[de]=Browserkennung (Opera 9.00 auf aktuellem Betriebssystem)
Name[el]=Περιγραφή UA (Opera 9.00 στο τρέχον σύστημα)
Name[en_GB]=UADescription (Opera 9.00 on current)
Name[eo]=UA-Priskribo (Opera 9.00 sub nuna)
Name[es]=UADescription (Opera 9.00 en la actualidad)
Name[et]=UADescription (Selles masinas töötav Opera 9.00)
Name[eu]=UA azalpena (Opera 9.00 unekoan)
Name[fi]=Käyttäjäagenttikuvaus (Opera 9.00 nykyisellä)
Name[fr]=UADescription (Opera 9.00 sous le système actuel)
Name[fy]=GA-omskriuwing (Opera 9.00 op aktive)
Name[ga]=UADescription (Opera 9.00 ar an gcóras reatha)
Name[gl]=UADescription (Opera 9.00 no actual)
Name[gu]=UADescription (ઓપેરા ૯.૦૦ હાલ પર)
Name[he]=UADescription (Opera 9.00 on current)
Name[hi]=यूए-डिस्क्रिप्शन (मौजूदा में ऑपेरा 9.00)
Name[hne]=यूए-डिस्क्रिप्सन (अभी वाले मं ओपेरा ९.०)
Name[hr]=UADescription (Opera 9.00 na trenutnom)
Name[hsb]=UADescription (Opera 9.00 abo pozdźišo)
Name[hu]=Böngészőtípus (Opera 9.00)
Name[ia]=UADescription (Opera 9.0 super le currente)
Name[id]=UADescription (Opera 9.00 di saat ini)
Name[is]=UADescription (Opera 9.00 á núverandi)
Name[it]=Descrizione UA (Opera 9.00 sul sistema attuale)
Name[ja]=UADescription (Opera 9.00 on current)
Name[kk]=UADescription (Opera 9.00 осында)
Name[km]=UADescription (Opera 9.00 បច្ចុប្បន្ន)
Name[kn]=UAವಿವರಣೆ (ಪ್ರಸ್ತುತದ ಮೇಲಿನ ಓಪರಾ ೯.೦೦)
Name[ko]=UADescription (현재 플랫폼의 Opera 9.00)
Name[ku]=Pênasa UA (Opera 9.00 derbasdar e)
Name[lt]=Naudotojo agentas (Opera 9.00 šioje sistemoje)
Name[lv]=UA Apraksts (Opera 9.00 uz pašreizējā)
Name[mai]=UADescription (Opera 9.00 मोजुदा पर)
Name[mk]=UADescription (Opera 9.00 на тековно)
Name[ml]=യുഎവിവരണം (ഇപ്പോഴത്തേതില്‍ ഓപെറ 9.00)
Name[mr]=UAडिस्क्रिप्शन (वर्तमानातील ऑपेरा 9.00)
Name[nb]=Brukeragent (Opera 9.00 herifra)
Name[nds]=UA-Beschrieven (Opera 9.00 op dit Systeem)
Name[ne]=UA वर्णन (हालमा ओपेरा ९.००)
Name[nl]=GA-beschrijving (Opera 9.00 op huidige)
Name[nn]=Brukaragent (Opera 9.00 herifrå)
Name[or]=UA ବର୍ଣ୍ଣନା (ପ୍ରଚଳିତ Opera 9.00)
Name[pa]=UADescription (ਮੌਜੂਦਾ ਉੱਤੇ ਓਪੇਰਾ 9.00)
Name[pl]=Opis przeglądarki użytkownika (Opera 9.00 na bieżącym systemie)
Name[pt]=UADescription (Opera 9.00 no sistema actual)
Name[pt_BR]=UADescription (Opera 9.00 no sistema atual)
Name[ro]=Descriere AU (Opera 9.00 pe sistemul curent)
Name[ru]=UADescription (Opera 9.00 на текущей системе)
Name[se]=UA-čilgehus (Opera 9.00 dán mašiinnas)
Name[si]=UADescription (වත්මන මත Opera 9.00)
Name[sk]=Popis agenta (Opera 9.00 na aktuálnom)
Name[sl]=Opis UP (Opera 9.00 na trenutnem)
Name[sr]=УА‑опис (Опера 9.00 на текућем)
Name[sr@ijekavian]=УА‑опис (Опера 9.00 на текућем)
Name[sr@ijekavianlatin]=UA-opis (Opera 9.00 na tekućem)
Name[sr@latin]=UA-opis (Opera 9.00 na tekućem)
Name[sv]=AA-beskrivning (Opera 9.00 på aktuell)
Name[ta]=UADescription (Opera 9.00 on current)
Name[te]=UADescription (Opera 9.00 on current)
Name[tg]=UADescription (Opera 9.00 дар версияи ҷорӣ)
Name[th]=UADescription (โอเปร่า 9.00 บนระบบปัจจุบัน)
Name[tr]=Kullanıcı Uygulaması Tanımı (geçerli işletim sistemi üzerinde Opera 9.00)
Name[ug]=خېرىدار تەرەپ چۈشەندۈرۈشى (يەرلىك كومپيۇتېردا ئىجرا قىلىنىدىغان Opera 9.00)
Name[uk]=UADescription (Opera 9.00 на поточній)
Name[wa]=Idintifiaedje do betchteu (Opera 9.00 sol sistinme do moumint)
Name[x-test]=xxUADescription (Opera 9.00 on current)xx
Name[zh_CN]=客户端描述(运行于本机的 Opera 9.00)
Name[zh_TW]=使用者代理描述 (Opera 9.00 on current)
Type=Service
X-KDE-ServiceTypes=UserAgentStrings
X-KDE-UA-TAG=OPR
X-KDE-UA-FULL=Opera/9.00 (appPlatform; appSysName appMachineType; U; appLanguage)
X-KDE-UA-NAME=Opera
X-KDE-UA-VERSION=9.00
X-KDE-UA-DYNAMIC-ENTRY=1
