[Desktop Entry]
Name=UADescription (Safari 4.0 on MacOS X)
Name[ar]=وصف وكيل-مستخدم (Safari 2.0 على  MacOS X)
Name[ast]=UADescription (Safari 4.0 en MacOS X)
Name[bg]=UADescription (Safari 4.0 на MacOS X)
Name[bn]=UADescription (Safari 4.0 on MacOS X)
Name[bs]=UADescription (Safari 4.0 na MacOS‑u X)
Name[ca]=Descripció AU (Safari 4.0 a MacOS X)
Name[ca@valencia]=Descripció AU (Safari 4.0 a MacOS X)
Name[cs]=Popis UA (Safari 4.0 na MacOS X)
Name[da]=Brugeragentbeskrivelse (Safari 4.0 på MacOS X)
Name[de]=Browserkennung (Safari 4.0 unter MacOS X)
Name[el]=Περιγραφή UA (Safari 4.0 σε MacOS X)
Name[en_GB]=UADescription (Safari 4.0 on MacOS X)
Name[es]=UADescription (Safari 4.0 en MacOS X)
Name[et]=UADescription (Safari 4.0 MacOS X platvormil)
Name[eu]=UA azalpena (Safari 4.0 MacOS X-en)
Name[fi]=Käyttäjäagenttikuvaus (Safari 4.0 MacOS X:llä)
Name[fr]=UADescription (Safari 4.0 sous MacOS X)
Name[ga]=UADescription (Safari 4.0 ar MacOS X)
Name[gl]=UADescription (Safari 4.0 en MacOS X)
Name[gu]=UADescription (સફારી ૪.૦ મેકOS X પર)
Name[he]=UADescription (Safari 4.0 on MacOS X)
Name[hi]=यूए-डिस्क्रिप्शन (मॅक-ओएस X में सफारी 2.0)
Name[hr]=UADescription (Safari 4.0 on MacOS X)
Name[hu]=Böngészőtípus (Safari 4.0, MacOS X)
Name[ia]=UADescription (Safari 4.0 super MacOS X)
Name[id]=UADescription (Safari 4.0 di MacOS X)
Name[is]=UADescription (Safari 4.0 á MacOS X)
Name[it]=Descrizione UA (Safari 4.0 su MacOS X)
Name[ja]=UADescription (Safari 4.0 on MacOS X)
Name[kk]=UADescription (Safari 4.0 / MacOS X)
Name[km]=UADescription (Safari 4.0 on MacOS X)
Name[kn]=UAವಿವರಣೆ (ಮ್ಯಾಕ್ OSX ನ ಮೇಲಿನ ಸಫಾರಿ ೪.೦)
Name[ko]=UADescription (Mac OS X의 Safari 4.0)
Name[lt]=Naudotojo agentas (Safari 4.0 ir MacOS X)
Name[lv]=UA Apraksts (Safari 2.0 uz MacOS X)
Name[mai]=यूए-डिस्क्रिप्शन (मैक-ओएस X मे सफारी 4.0)
Name[ml]=യുഎവിവരണം (മാക്ഒഎസ് എക്സിലെ സഫാരി 4.0)
Name[mr]=UAडिस्क्रिप्शन (मॅक-ओएस X वरील सफारी 4.0)
Name[nb]=Brukeragent (Safari 4.0 på MacOS X)
Name[nds]=UA-Beschrieven (Safari 4.0 op MacOS X)
Name[nl]=GA-beschrijving (Safari 4.0 op MacOS X)
Name[nn]=Brukaragent (Safari 4.0 på MacOS X)
Name[pa]=UADescription (MacOS X ਉੱਤੇ ਸਫ਼ਾਰੀ ੪.੦)
Name[pl]=Opis przeglądarki użytkownika (Safari 4.0 w MacOS X)
Name[pt]=UADescription (Safari 4.0 no MacOS X)
Name[pt_BR]=UADescription (Safari 4.0 no MacOS X)
Name[ro]=Descriere AU (Safari 4.0 pentru MacOS X)
Name[ru]=UADescription (Safari 4.0 на Mac OS X)
Name[si]=UADescription (MacOS X මත Safari 4.0)
Name[sk]=Popis agenta (Safari 4.0 na MacOS X)
Name[sl]=Opis UP (Safari 4.0 na MacOS X)
Name[sr]=УА‑опис (Сафари 4.0 на МекОС‑у X)
Name[sr@ijekavian]=УА‑опис (Сафари 4.0 на МекОС‑у X)
Name[sr@ijekavianlatin]=UA-opis (Safari 4.0 na MacOS‑u X)
Name[sr@latin]=UA-opis (Safari 4.0 na MacOS‑u X)
Name[sv]=UAD-beskrivning (Safari 4.0 på MacOS X)
Name[tg]=UADescription (Safari 4.0 дар MacOS X)
Name[th]=UADescription (ซาฟารี 4.0 บน MacOS X)
Name[tr]=Kullanıcı Uygulaması Tanımı (Safari 4.0 on MacOS X)
Name[ug]=خېرىدار تەرەپ چۈشەندۈرۈشى(MacOS X دا ئىجرا قىلىنىدىغان Safari 4.0)
Name[uk]=UADescription (Safari 4.0 на MacOS X)
Name[wa]=Idintifiaedje do betchteu (Safari 4.0 so MacOS X)
Name[x-test]=xxUADescription (Safari 4.0 on MacOS X)xx
Name[zh_CN]=客户端描述(运行于 MacOS X 的 Safari 4.0)
Name[zh_TW]=使用者代理描述 (Safari 4.0 on MacOS X)
Type=Service
X-KDE-ServiceTypes=UserAgentStrings
X-KDE-UA-TAG=SAF
X-KDE-UA-FULL=Mozilla/5.0 (Macintosh; U; PPC Mac OS X 10_6_1; appLanguage) AppleWebKit/531.21.10 (KHTML, like Gecko) Version/4.0.4 Safari/531.21.10
X-KDE-UA-NAME=Safari
X-KDE-UA-VERSION=4.0
X-KDE-UA-SYSNAME=Mac OS
X-KDE-UA-SYSRELEASE=X
