[Desktop Entry]
Name=UADescription (Wget 1.11.4)
Name[ar]=وصف وكيل-مستخدم (Wget 1.11.4)
Name[ast]=UADescription (Wget 1.11.4)
Name[bg]=UADescription (Wget 1.11.4)
Name[bn]=UADescription (Wget 1.11.4)
Name[bs]=UADescription (Wget 1.11.4)
Name[ca]=Descripció AU (Wget 1.11.4)
Name[ca@valencia]=Descripció AU (Wget 1.11.4)
Name[cs]=Popis agenta (Wget 1.11.4)
Name[csb]=Òpisënk programë brëkòwnika (Wget 1.11.4)
Name[da]=Brugeragentbeskrivelse (Wget 1.11.4)
Name[de]=Programmkennung (Wget 1.11.4)
Name[el]=Περιγραφή UA (Wget 1.11.4)
Name[en_GB]=UADescription (Wget 1.11.4)
Name[eo]=UA-Priskribo (Wget 1.11.4)
Name[es]=UADescription (Wget 1.11.4)
Name[et]=UADescription (Wget 1.11.4)
Name[eu]=UA azalpena (Wget 1.11.4)
Name[fi]=Käyttäjäagenttikuvaus (Wget 1.11.4)
Name[fr]=UADescription (Wget 1.11.4)
Name[fy]=UA-beskriuwing (Wget 1.11.4)
Name[ga]=UADescription (Wget 1.11.4)
Name[gl]=UADescription (Wget 1.11.4)
Name[gu]=UADescription (Wget ૧.૧૧.૪)
Name[he]=UADescription (Wget 1.11.4)
Name[hi]=यूए-डिस्क्रिप्शन (डब्ल्यूगेट 1.11.4)
Name[hr]=UADescription (Wget 1.11.4)
Name[hu]=Böngészőtípus (Wget 1.11.4)
Name[ia]=UADescritption (Wget 1.11.4)
Name[id]=UADescription (Wget 1.11.4)
Name[is]=UADescription (Wget 1.11.4)
Name[it]=Descrizione UA (Wget 1.11.4)
Name[ja]=UADescription (Wget 1.11.4)
Name[kk]=UADescription (Wget 1.11.4)
Name[km]=UADescription (Wget 1.11.4)
Name[kn]=UADescription (Wget 1.11.4)
Name[ko]=UADescription (Wget 1.11.4)
Name[lt]=UADescription (Wget 1.11.4)
Name[lv]=UA Apraksts (Wget 1.11.4)
Name[mai]=यूएडी-डिस्क्रिप्शन (डब्ल्यूगेट 1.11.4)
Name[mk]=UADescription (Wget 1.11.4)
Name[ml]=യുഎവിവരണം (ഡബ്ലിയുഗെറ്റ് 1.11.4)
Name[mr]=UAडिस्क्रिप्शन (Wget 1.11.4)
Name[nb]=Brukeragent (Wget 1.11.4)
Name[nds]=UA-Beschrieven (Wget 1.11.4)
Name[nl]=GA-beschrijving (Wget 1.11.4)
Name[nn]=Brukaragent (Wget 1.11.4)
Name[pa]=UADescription (Wget 1.11.4)
Name[pl]=Opis przeglądarki użytkownika (Wget 1.11.4)
Name[pt]=UADescription (Wget 1.11.4)
Name[pt_BR]=UADescription (Wget 1.11.4)
Name[ro]=Descriere AU (Wget 1.11.4)
Name[ru]=UADescription (Wget 1.11.4)
Name[se]=UA-čilgehus (Wget 1.11.4)
Name[si]=UADescription (Wget 1.11.4)
Name[sk]=Popis agenta (Wget 1.11.4)
Name[sl]=Opis UP (Wget 1.11.4)
Name[sr]=УА‑опис (Вгет 1.11.4)
Name[sr@ijekavian]=УА‑опис (Вгет 1.11.4)
Name[sr@ijekavianlatin]=UA-opis (wget 1.11.4)
Name[sr@latin]=UA-opis (wget 1.11.4)
Name[sv]=AA-beskrivning (Wget 1.11.4)
Name[tg]=UADescription (Wget 1.11.4)
Name[th]=UADescription (Wget 1.11.4)
Name[tr]=Kullanıcı Uygulaması Tanımı (Wget 1.11.4)
Name[ug]=خېرىدار تەرەپ چۈشەندۈرۈشى (Wget 1.11.4)
Name[uk]=UADescription (Wget 1.11.4)
Name[wa]=Idintifiaedje do betchteu (Wget 1.11.4)
Name[x-test]=xxUADescription (Wget 1.11.4)xx
Name[zh_CN]=客户端描述(Wget 1.11.4)
Name[zh_TW]=使用者代理描述 (Wget 1.11.4)
Type=Service
X-KDE-ServiceTypes=UserAgentStrings
X-KDE-UA-TAG=MISC
X-KDE-UA-FULL=Wget/1.11.4
X-KDE-UA-NAME=Wget
X-KDE-UA-VERSION=1.11.4
