[Desktop Entry]
Charset=
Hidden=false
Keys=7digital,7dg,7d
Name=7Digital
Name[ar]=متجر الموسيقى 7Digital
Name[ast]=7Digital
Name[bg]=7Digital
Name[bn]=7Digital
Name[bs]=7‑didžital
Name[ca]=7Digital
Name[ca@valencia]=7Digital
Name[cs]=7Digital
Name[da]=7Digital
Name[de]=7Digital
Name[el]=7Digital
Name[en_GB]=7Digital
Name[eo]=7Digital
Name[es]=7Digital
Name[et]=7Digital
Name[eu]=7Digital
Name[fa]=Directory Watcher
Name[fi]=7Digital
Name[fr]=7Digital
Name[ga]=7Digital
Name[gl]=7Digital
Name[gu]=૭ડિજીટલ
Name[he]=7Digital
Name[hi]=7Digital
Name[hr]=7Digital
Name[hu]=7Digital
Name[ia]=7Digital
Name[id]=7Digital
Name[is]=7Digital
Name[it]=7Digital
Name[ja]=7Digital
Name[kk]=7Digital
Name[km]=7Digital
Name[kn]=೭ ಅಂಕೀಯ (ಡಿಜಿಟಲ್)
Name[ko]=7Digital
Name[lt]=7Digital
Name[lv]=7Digital
Name[mai]=7Digital
Name[ml]=7ഡിജിറ്റല്‍
Name[mr]=7डिजिटल
Name[nb]=7Digital
Name[nds]=7Digital
Name[nl]=7Digital
Name[nn]=7Digital
Name[pa]=੭ਡਿਜ਼ਿਟਲ
Name[pl]=7Digital
Name[pt]=7Digital
Name[pt_BR]=7Digital
Name[ro]=7Digital
Name[ru]=7Digital
Name[si]=අංකිත7
Name[sk]=7Digital
Name[sl]=7Digital
Name[sr]=7‑диџитал
Name[sr@ijekavian]=7‑диџитал
Name[sr@ijekavianlatin]=7Digitalo
Name[sr@latin]=7Digitalo
Name[sv]=7Digital
Name[tg]=7Digital
Name[th]=7Digital
Name[tr]=7Digital
Name[ug]=7Digital
Name[uk]=7Digital
Name[vi]=7Digital
Name[wa]=7Digital
Name[x-test]=xx7Digitalxx
Name[zh_CN]=7Digital
Name[zh_TW]=7Digital
Query=http://us.7digital.com/Search?search=\\{@}&searchtype=global&submit=Search
Query[ar]=http://www.iblist.com/search/search.php?item=\\{@}&submit=Search
Query[ast]=http://us.7digital.com/Search?search=\\{@}&searchtype=global&submit=Search
Query[bg]=http://us.7digital.com/Search?search=\\{@}&searchtype=global&submit=Search
Query[bn]=http://us.7digital.com/Search?search=\\{@}&searchtype=global&submit=Search
Query[bs]=http://us.7digital.com/Search?search=\\{@}&searchtype=global&submit=Search
Query[ca]=http://us.7digital.com/Search?search=\\{@}&searchtype=global&submit=Search
Query[ca@valencia]=http://vos.7digital.com/Search?search=\\{@}&searchtype=global&submit=Search
Query[cs]=http://us.7digital.com/Search?search=\\{@}&searchtype=global&submit=Search
Query[da]=http://us.7digital.com/Search?search=\\{@}&searchtype=global&submit=Search
Query[de]=http://us.7digital.com/Search?search=\\{@}&searchtype=global&submit=Search
Query[el]=http://us.7digital.com/Search?search=\\{@}&searchtype=global&submit=Search
Query[en_GB]=http://us.7digital.com/Search?search=\\{@}&searchtype=global&submit=Search
Query[eo]=http://us.7digital.com/Search?search=\\{@}&searchtype=global&submit=Search
Query[es]=http://us.7digital.com/Search?search=\\{@}&searchtype=global&submit=Search
Query[et]=http://us.7digital.com/Search?search=\\{@}&searchtype=global&submit=Search
Query[eu]=http://us.7digital.com/Search?search=\\{@}&searchtype=global&submit=Search
Query[fa]=http://us.7digital.com/Search?search=\\{@}&searchtype=global&submit=Search
Query[fi]=http://us.7digital.com/Search?search=\\{@}&searchtype=global&submit=Search
Query[fr]=http://us.7digital.com/Search?search=\\{@}&searchtype=global&submit=Search
Query[ga]=http://us.7digital.com/Search?search=\\{@}&searchtype=global&submit=Search
Query[gl]=http://us.7digital.com/Search?search=\\{@}&searchtype=global&submit=Search
Query[gu]=http://us.7digital.com/Search?search=\\{@}&searchtype=global&submit=Search
Query[he]=http://us.7digital.com/Search?search=\\{@}&searchtype=global&submit=Search
Query[hi]=http://us.7digital.com/Search?search=\\{@}&searchtype=global&submit=Search
Query[hr]=http://us.7digital.com/Search?search=\\{@}&searchtype=global&submit=Search
Query[hu]=http://us.7digital.com/Search?search=\\{@}&searchtype=global&submit=Search
Query[ia]=http://us.7digital.com/search/search.php?item=\\{@}&searchtype=global&submit=Search
Query[id]=http://us.7digital.com/Search?search=\\{@}&searchtype=global&submit=Search
Query[is]=http://us.7digital.com/Search?search=\\{@}&searchtype=global&submit=Search
Query[it]=http://us.7digital.com/Search?search=\\{@}&searchtype=global&submit=Search
Query[ja]=http://us.7digital.com/Search?search=\\{@}&searchtype=global&submit=Search
Query[kk]=http://us.7digital.com/Search?search=\\{@}&searchtype=global&submit=Search
Query[km]=http://us.7digital.com/Search?search=\\{@}&searchtype=global&submit=Search
Query[kn]=http://www.iblist.com/search/search.php?item=\\{@}&submit=Search
Query[ko]=http://us.7digital.com/Search?search=\\{@}&searchtype=global&submit=Search
Query[lt]=http://us.7digital.com/Search?search=\\{@}&searchtype=global&submit=Search
Query[lv]=http://us.7digital.com/Search?search=\\{@}&searchtype=global&submit=Search
Query[mai]=http://us.7digital.com/Search?search=\\{@}&searchtype=global&submit=Search
Query[mr]=http://us.7digital.com/Search?search=\\{@}&searchtype=global&submit=Search
Query[nb]=http://us.7digital.com/Search?search=\\{@}&searchtype=global&submit=Search
Query[nds]=http://us.7digital.com/Search?search=\\{@}&searchtype=global&submit=Search
Query[nl]=http://us.7digital.com/Search?search=\\{@}&searchtype=global&submit=Search
Query[nn]=http://us.7digital.com/Search?search=\\{@}&searchtype=global&submit=Search
Query[pa]=http://us.7digital.com/Search?search=\\{@}&searchtype=global&submit=Search
Query[pl]=http://us.7digital.com/Search?search=\\{@}&searchtype=global&submit=Search
Query[pt]=http://us.7digital.com/Search?search=\\{@}&searchtype=global&submit=Search
Query[pt_BR]=http://us.7digital.com/Search?search=\\{@}&searchtype=global&submit=Search
Query[ro]=http://us.7digital.com/Search?search=\\{@}&searchtype=global&submit=Search
Query[ru]=http://us.7digital.com/Search?search=\\{@}&searchtype=global&submit=Search
Query[si]=http://us.7digital.com/Search?search=\\{@}&searchtype=global&submit=Search
Query[sk]=http://us.7digital.com/Search?search=\\{@}&searchtype=global&submit=Search
Query[sl]=http://us.7digital.com/Search?search=\\{@}&searchtype=global&submit=Search
Query[sr]=http://us.7digital.com/Search?search=\\{@}&searchtype=global&submit=Search
Query[sr@ijekavian]=http://us.7digital.com/Search?search=\\{@}&searchtype=global&submit=Search
Query[sr@ijekavianlatin]=http://us.7digital.com/Search?search=\\{@}&searchtype=global&submit=Search
Query[sr@latin]=http://us.7digital.com/Search?search=\\{@}&searchtype=global&submit=Search
Query[sv]=http://us.7digital.com/Search?search=\\{@}&searchtype=global&submit=Search
Query[tg]=http://us.7digital.com/Search?search=\\{@}&searchtype=global&submit=Ҷустуҷӯ
Query[th]=http://us.7digital.com/Search?search=\\{@}&searchtype=global&submit=Search
Query[tr]=http://us.7digital.com/Search?search=\\{@}&searchtype=global&submit=Search
Query[ug]=http://us.7digital.com/Search?search=\\{@}&searchtype=global&submit=Search
Query[uk]=http://us.7digital.com/Search?search=\\{@}&searchtype=global&submit=Search
Query[vi]=http://us.7digital.com/Search?search=\\{@}&searchtype=global&submit=Search
Query[wa]=http://fr-be.7digital.com/Search?search=\\{@}&searchtype=global&submit=Search
Query[x-test]=xxhttp://us.7digital.com/Search?search=\\{@}&searchtype=global&submit=Searchxx
Query[zh_CN]=http://us.7digital.com/Search?search=\\{@}&searchtype=global&submit=Search
Query[zh_TW]=http://us.7digital.com/Search?search=\\{@}&searchtype=global&submit=Search
ServiceTypes=SearchProvider
Type=Service
