[Desktop Entry]
Type=Service
Name=Acronym Database
Name[af]=Akroniem Databasis
Name[ar]=قاعدة بيانات الاختصارات
Name[ast]=Base de datos Acronym
Name[be]=Скарачэнні
Name[be@latin]=Baza akronimaŭ
Name[bg]=База от данни със съкращения
Name[bn]=অ্যাক্রোনিম ডেটাবেস
Name[bs]=Baza skraćenica
Name[ca]=Base de dades d'acrònims
Name[ca@valencia]=Base de dades d'acrònims
Name[cs]=Databáze akronymů
Name[csb]=Baza akronimów
Name[cy]=Cronfa Llythrenwau
Name[da]=Akronymdatabase
Name[de]=Akronym-Datenbank
Name[el]=Βάση δεδομένων αρκτικόλεξου
Name[en_GB]=Acronym Database
Name[eo]=Datumbazo de akronimoj
Name[es]=Base de datos Acronym
Name[et]=Akronüümide andmebaas
Name[eu]=Acronym datu-basea
Name[fa]=دادگان سرنام
Name[fi]=Lyhennetietokanta
Name[fr]=Base de données d'acronymes
Name[fy]=Acroniemen databank
Name[ga]=Bunachar Sonraí Acrainmneacha
Name[gl]=Base de datos de siglas
Name[gu]=ટૂંકાનામ ડેટાબેઝ
Name[he]=מאגר ראשי התיבות
Name[hi]=एक्रोनिम डाटाबेस
Name[hne]=एक्रोनिम डाटाबेस
Name[hr]=Baza podataka kratica
Name[hsb]=Datowa baza akronymow
Name[hu]=Mozaikszó-adatbázis
Name[ia]=Base de Datos Acronym
Name[id]=Basis Data Akronim
Name[is]=Samheitagrunnur
Name[it]=Banche dati di acronimi
Name[ja]=Acronym Database
Name[ka]=აკრონიმთა ბაზა
Name[kk]=Қысқартулар дерек қоры
Name[km]=មូលដ្ឋាន​ទិន្នន័យ​អក្សរ​កាត់
Name[kn]=ಪ್ರಥಮಾಕ್ಷರಿ ದತ್ತಸಂಚಯ
Name[ko]=두문자어 정보
Name[ku]=Bingeha Danê yê Peyvên Wekhevî
Name[lt]=Akronimų duomenų bazė
Name[lv]=Akronīmu datubāze
Name[mai]=एक्रोनिम डाटाबेस
Name[mk]=База на податоци со акроними
Name[ml]=അക്രോണിം ഡേറ്റാബെയിസ്
Name[mr]=संक्षिप्त रूप डेटाबेस
Name[ms]=Pangkalan Data Akronim
Name[nb]=Database av forkortelser
Name[nds]=Akronüm-Datenbank
Name[ne]=एक्रोनम डेटाबेस
Name[nl]=Acroniemen database
Name[nn]=Forkortingsdatabase
Name[or]=ପୂନରାବର୍ତ୍ତି ତଥ୍ୟାବଳୀ
Name[pa]=ਅਕਰੋਨਮ ਡਾਟਾਬੇਸ
Name[pl]=Baza akronimów
Name[pt]=Base de Dados de Acrónimos
Name[pt_BR]=Banco de dados de acrônimos
Name[ro]=Bază de date de acronime
Name[ru]=База данных акронимов
Name[se]=Oanádusdiehtovuođđu
Name[si]=අක්නම් දත්තමූලය
Name[sk]=Databáza skratiek
Name[sl]=Podatkovna zbirka okrajšav
Name[sr]=База скраћеница
Name[sr@ijekavian]=База скраћеница
Name[sr@ijekavianlatin]=Baza skraćenica
Name[sr@latin]=Baza skraćenica
Name[sv]=Acronym Database
Name[ta]=குறுஞ்சொற் தரவுத்தளம்
Name[te]=ఏక్రోనిమ్ డాటాబేస్
Name[tg]=Маълумоти Acronym
Name[th]=ฐานข้อมูล Acronym
Name[tr]=Eş Kelime Veritabanı
Name[ug]=Acronym ساندان
Name[uk]=База даних акронімів
Name[uz]=Qisqartma maʼlumot bazasi
Name[uz@cyrillic]=Қисқартма маълумот базаси
Name[vi]=Cơ sở dữ liệu từ rút gọn
Name[wa]=Båzes di dnêyes d' acourtixheures
Name[xh]=Isiseko sedata Segama elenziwe ngonoobumba bamanye amagama
Name[x-test]=xxAcronym Databasexx
Name[zh_CN]=首字母缩写数据库
Name[zh_TW]=Acronym 資料庫
X-KDE-ServiceTypes=SearchProvider
Keys=ad,acro,acronym
Query=http://www.abbreviations.com/\\{@}
Query[bg]=http://www.abbreviations.com/\\{@}
Query[bs]=http://www.abbreviations.com/\\{@}
Query[ca]=http://www.abbreviations.com/\\{@}
Query[ca@valencia]=http://www.abbreviations.com/\\{@}
Query[cs]=http://www.abbreviations.com/\\{@}
Query[da]=http://www.abbreviations.com/\\{@}
Query[de]=http://www.abbreviations.com/\\{@}
Query[el]=http://www.abbreviations.com/\\{@}
Query[es]=http://www.abbreviations.com/\\{@}
Query[eu]=http://www.abbreviations.com/\\{@}
Query[fi]=http://www.abbreviations.com/\\{@}
Query[fr]=http://www.abbreviations.com/\\{@}
Query[gl]=http://www.abbreviations.com/\\{@}
Query[hi]=http://www.abbreviations.com/\\{@}
Query[hu]=http://www.abbreviations.com/\\{@}
Query[ia]=http://www.abbreviations.com/\\{@}
Query[is]=http://www.abbreviations.com/\\{@}
Query[it]=http://www.abbreviations.com/\\{@}
Query[ja]=http://www.abbreviations.com/\\{@}
Query[kk]=http://www.abbreviations.com/\\{@}
Query[ko]=http://www.abbreviations.com/\\{@}
Query[lt]=http://www.abbreviations.com/\\{@}
Query[nb]=http://www.abbreviations.com/\\{@}
Query[nl]=http://www.abbreviations.com/\\{@}
Query[nn]=http://www.abbreviations.com/\\{@}
Query[pa]=http://www.abbreviations.com/\\{@}
Query[pl]=http://www.abbreviations.com/\\{@}
Query[pt]=http://www.abbreviations.com/\\{@}
Query[pt_BR]=http://www.abbreviations.com/\\{@}
Query[ro]=http://www.abbreviations.com/\\{@}
Query[ru]=http://www.abbreviations.com/\\{@}
Query[sk]=http://www.abbreviations.com/\\{@}
Query[sl]=http://www.abbreviations.com/\\{@}
Query[sr]=http://www.abbreviations.com/\\{@}
Query[sr@ijekavian]=http://www.abbreviations.com/\\{@}
Query[sr@ijekavianlatin]=http://www.abbreviations.com/\\{@}
Query[sr@latin]=http://www.abbreviations.com/\\{@}
Query[sv]=http://www.abbreviations.com/\\{@}
Query[tr]=http://www.abbreviations.com/\\{@}
Query[ug]=http://www.abbreviations.com/\\{@}
Query[uk]=http://www.abbreviations.com/\\{@}
Query[wa]=http://www.abbreviations.com/\\{@}
Query[x-test]=xxhttp://www.abbreviations.com/\\{@}xx
Query[zh_CN]=http://www.abbreviations.com/\\{@}
Query[zh_TW]=http://www.abbreviations.com/\\{@}
