[Desktop Entry]
Hidden=false
Keys=amg
Name=All Music Guide
Name[af]=All Music Guide
Name[ar]=مرشد لكلّ الموسيقى
Name[as]=All Music Guide
Name[ast]=Guía All Music
Name[be]=All Music Guide
Name[be@latin]=All Music Guide
Name[bg]=All Music Guide
Name[bn]=অল মিউজিক গাইড
Name[bn_IN]=সর্বধরনের সংগীত সহায়িকা
Name[bs]=Svemuzički vodič
Name[ca]=Guia per a tota la música
Name[ca@valencia]=Guia per a tota la música
Name[cs]=All Music Guide
Name[csb]=Mùzyczny prowôdnik
Name[cy]=Canllaw Cerdd
Name[da]=All musik-guide
Name[de]=All Music Guide
Name[el]=Οδηγός All Music
Name[en_GB]=All Music Guide
Name[eo]=Gvidlibro de All Music
Name[es]=Guía All Music
Name[et]=All Music Guide
Name[eu]=All Music gida
Name[fa]=کل راهنمای موسیقی
Name[fi]=All Music Guide
Name[fr]=Guide « All Music »
Name[fy]=All Music Guide
Name[ga]=Eolaire All Music
Name[gl]=Guía de All Music
Name[gu]=બધી સંગીત માર્ગદર્શિકા
Name[he]=All Music Guide
Name[hi]=सम्पूर्ण संगीत मार्गदर्शिका
Name[hne]=पूरा संगीत मार्गदर्सिका
Name[hr]=Glazbeni vodič
Name[hsb]=All Music Guide
Name[hu]=All Music Guide
Name[ia]=All Music Guide
Name[id]=Panduan Semua Musik
Name[is]=Tónlistarhandbók
Name[it]=Guida All Music
Name[ja]=All Music Guide
Name[ka]=All Music Guide
Name[kk]=All Music Guide
Name[km]=មគ្គុទ្ទេសក៍​តន្ត្រី​ទាំងអស់
Name[kn]=ಆಲ್ ಮ್ಯೂಸಿಕ್ ಗೈಡ್
Name[ko]=All Music Guide
Name[ku]=Hemû rêbernameyên muzîkê
Name[lt]=Visos muzikos gidas
Name[lv]=All Music Guide
Name[mai]=सम्पूर्ण संगीत मार्गदर्शिका
Name[mk]=All Music Guide
Name[ml]=എല്ലാ സംഗീതത്തിനുമുള്ള സഹായി
Name[mr]=सम्पूर्ण संगीत मार्गदर्शिका
Name[ms]=Panduan Semua Muzik
Name[nb]=All Music Guide
Name[nds]=All Music Guide
Name[ne]=सबै सङ्गीत मार्गदर्शक
Name[nl]=All Music Guide
Name[nn]=All Music Guide
Name[or]=ସମସ୍ତ ସଙ୍ଗୀତ ପଥ ପ୍ରଦର୍ଶକ
Name[pa]=ਸਭ ਸੰਗੀਤ ਗਾਈਡ
Name[pl]=Przewodnik muzyczny
Name[pt]=Guia 'Toda a Música'
Name[pt_BR]=All Music Guide
Name[ro]=Ghid muzical complet
Name[ru]=All Music Guide
Name[se]=All Music Guide
Name[si]=සියලු සංගීත සහාය
Name[sk]=All Music Guide
Name[sl]=Vodnik All Music
Name[sr]=Свемузички водич
Name[sr@ijekavian]=Свемузички водич
Name[sr@ijekavianlatin]=Svemuzički vodič
Name[sr@latin]=Svemuzički vodič
Name[sv]=Guiden All Musik
Name[ta]=அனைத்து இசை துணை
Name[te]=మెత్తం సంగీతపు మార్గదర్శి
Name[tg]=Роҳнамои ҳамаи мусиқӣ
Name[th]=All Music Guide แนะนำดนตรี
Name[tr]=Müzik Kılavuzu
Name[ug]=ھەممە نەغمە يولباشچىسى
Name[uk]=All Music Guide
Name[vi]=Hướng dẫn Âm nhạc
Name[wa]=Guide di totes les muzikes
Name[x-test]=xxAll Music Guidexx
Name[zh_CN]=所有音乐指南
Name[zh_TW]=所有音樂指南
Query=http://www.allmusic.com/search/all/\\{@}
Query[bg]=http://www.allmusic.com/search/all/\\{@}
Query[bs]=http://www.allmusic.com/search/all/\\{@}
Query[ca]=http://www.allmusic.com/search/all/\\{@}
Query[ca@valencia]=http://www.allmusic.com/search/all/\\{@}
Query[cs]=http://www.allmusic.com/search/all/\\{@}
Query[da]=http://www.allmusic.com/search/all/\\{@}
Query[de]=http://www.allmusic.com/search/all/\\{@}
Query[el]=http://www.allmusic.com/search/all/\\{@}
Query[es]=http://www.allmusic.com/search/all/\\{@}
Query[eu]=http://www.allmusic.com/search/all/\\{@}
Query[fi]=http://www.allmusic.com/search/all/\\{@}
Query[fr]=http://www.allmusic.com/search/all/\\{@}
Query[gl]=http://www.allmusic.com/search/all/\\{@}
Query[hi]=http://www.allmusic.com/search/all/\\{@}
Query[hu]=http://www.allmusic.com/search/all/\\{@}
Query[ia]=http://www.allmusic.com/search/all/\\{@}
Query[is]=http://www.allmusic.com/search/all/\\{@}
Query[it]=http://www.allmusic.com/search/all/\\{@}
Query[ja]=http://www.allmusic.com/search/all/\\{@}
Query[kk]=http://www.allmusic.com/search/all/\\{@}
Query[ko]=http://www.allmusic.com/search/all/\\{@}
Query[lt]=http://www.allmusic.com/search/all/\\{@}
Query[nb]=http://www.allmusic.com/search/all/\\{@}
Query[nl]=http://www.allmusic.com/search/all/\\{@}
Query[nn]=http://www.allmusic.com/search/all/\\{@}
Query[pa]=http://www.allmusic.com/search/all/\\{@}
Query[pl]=http://www.allmusic.com/search/all/\\{@}
Query[pt]=http://www.allmusic.com/search/all/\\{@}
Query[pt_BR]=http://www.allmusic.com/search/all/\\{@}
Query[ro]=http://www.allmusic.com/search/all/\\{@}
Query[ru]=http://www.allmusic.com/search/all/\\{@}
Query[sk]=http://www.allmusic.com/search/all/\\{@}
Query[sl]=http://www.allmusic.com/search/all/\\{@}
Query[sr]=http://www.allmusic.com/search/all/\\{@}
Query[sr@ijekavian]=http://www.allmusic.com/search/all/\\{@}
Query[sr@ijekavianlatin]=http://www.allmusic.com/search/all/\\{@}
Query[sr@latin]=http://www.allmusic.com/search/all/\\{@}
Query[sv]=http://www.allmusic.com/search/all/\\{@}
Query[tr]=http://www.allmusic.com/search/all/\\{@}
Query[ug]=http://www.allmusic.com/search/all/\\{@}
Query[uk]=http://www.allmusic.com/search/all/\\{@}
Query[wa]=http://www.allmusic.com/search/all/\\{@}
Query[x-test]=xxhttp://www.allmusic.com/search/all/\\{@}xx
Query[zh_CN]=http://www.allmusic.com/search/all/\\{@}
Query[zh_TW]=http://www.allmusic.com/search/all/\\{@}
X-KDE-ServiceTypes=SearchProvider
Type=Service
