[Desktop Entry]
Type=Service
Name=Baidu
Name[ast]=Baidu
Name[bg]=Търсене в Baidu
Name[bn]=বাইডু
Name[bs]=Bajdu
Name[ca]=Baidu
Name[ca@valencia]=Baidu
Name[cs]=Baidu
Name[da]=Baidu
Name[de]=Baidu
Name[el]=Baidu
Name[en_GB]=Baidu
Name[eo]=Baiduo
Name[es]=Baidu
Name[et]=Baidu
Name[eu]=Baidu
Name[fa]=Baidu
Name[fi]=Baidu
Name[fr]=Baidu
Name[ga]=Baidu
Name[gl]=Baidu
Name[gu]=બૈડુ
Name[he]=Baidu
Name[hi]=बैदु
Name[hr]=Baidu
Name[hu]=Baidu
Name[ia]=Baidu
Name[is]=Baidu
Name[it]=Baidu
Name[ja]=百度
Name[kk]=Baidu
Name[km]=Baidu
Name[kn]=ಬೈಡು
Name[ko]=Baidu
Name[lt]=Baidu
Name[lv]=Baidu
Name[mai]=बैडू
Name[mr]=बैदु
Name[nb]=Baidu
Name[nds]=Baidu
Name[nl]=Baidu
Name[nn]=Baidu
Name[pa]=ਬਿਦੂ
Name[pl]=Baidu
Name[pt]=Baidu
Name[pt_BR]=Baidu
Name[ro]=Baidu
Name[ru]=Baidu
Name[si]=Baidu
Name[sk]=Baidu
Name[sl]=Baidu
Name[sr]=Бајду
Name[sr@ijekavian]=Бајду
Name[sr@ijekavianlatin]=Baidu
Name[sr@latin]=Baidu
Name[sv]=Baidu
Name[tg]=Baidu
Name[th]=Baidu
Name[tr]=Baidu
Name[ug]=Baidu
Name[uk]=Baidu
Name[vi]=Baidu
Name[wa]=Baidu
Name[x-test]=xxBaiduxx
Name[zh_CN]=百度
Name[zh_TW]=百度
X-KDE-ServiceTypes=SearchProvider
Keys=baidu
Query=http://www.baidu.com/s?wd=\\{@}
Query[ast]=http://www.baidu.com/s?wd=\\{@}
Query[bg]=http://www.baidu.com/s?wd=\\{@}
Query[bn]=http://www.baidu.com/s?wd=\\{@}
Query[bs]=http://www.baidu.com/s?wd=\\{@}
Query[ca]=http://www.baidu.com/s?wd=\\{@}
Query[ca@valencia]=http://www.baidu.com/s?wd=\\{@}
Query[cs]=http://www.baidu.com/s?wd=\\{@}
Query[da]=http://www.baidu.com/s?wd=\\{@}
Query[de]=http://www.baidu.com/s?wd=\\{@}
Query[el]=http://www.baidu.com/s?wd=\\{@}
Query[en_GB]=http://www.baidu.com/s?wd=\\{@}
Query[eo]=http://www.baidu.com/s?wd=\\{@}
Query[es]=http://www.baidu.com/s?wd=\\{@}
Query[et]=http://www.baidu.com/s?wd=\\{@}
Query[eu]=http://www.baidu.com/s?wd=\\{@}
Query[fa]=http://www.baidu.com/s?wd=\\{@}
Query[fi]=http://www.baidu.com/s?wd=\\{@}
Query[fr]=http://www.baidu.com/s?wd=\\{@}
Query[ga]=http://www.baidu.com/s?wd=\\{@}
Query[gl]=http://www.baidu.com/s?wd=\\{@}
Query[gu]=http://www.baidu.com/s?wd=\\{@}
Query[he]=http://www.baidu.com/s?wd=\\{@}
Query[hi]=http://www.baidu.com/s?wd=\\{@}
Query[hr]=http://www.baidu.com/s?wd=\\{@}
Query[hu]=http://www.baidu.com/s?wd=\\{@}
Query[ia]=http://www.baidu.com/s?wd=\\{@}
Query[is]=http://www.baidu.com/s?wd=\\{@}
Query[it]=http://www.baidu.com/s?wd=\\{@}
Query[ja]=http://www.baidu.com/s?wd=\\{@}
Query[kk]=http://www.baidu.com/s?wd=\\{@}
Query[km]=http://www.baidu.com/s?wd=\\{@}
Query[kn]=http://www.baidu.com/s?wd=\\{@}
Query[ko]=http://www.baidu.com/s?wd=\\{@}
Query[lt]=http://www.baidu.com/s?wd=\\{@}
Query[lv]=http://www.baidu.com/s?wd=\\{@}
Query[mai]=http://www.baidu.com/s?wd=\\{@}
Query[mr]=http://www.baidu.com/s?wd=\\{@}
Query[nb]=http://www.baidu.com/s?wd=\\{@}
Query[nds]=http://www.baidu.com/s?wd=\\{@}
Query[nl]=http://www.baidu.com/s?wd=\\{@}
Query[nn]=http://www.baidu.com/s?wd=\\{@}
Query[pa]=http://www.baidu.com/s?wd=\\{@}
Query[pl]=http://www.baidu.com/s?wd=\\{@}
Query[pt]=http://www.baidu.com/s?wd=\\{@}
Query[pt_BR]=http://www.baidu.com/s?wd=\\{@}
Query[ro]=http://www.baidu.com/s?wd=\\{@}
Query[ru]=http://www.baidu.com/s?wd=\\{@}
Query[si]=http://www.baidu.com/s?wd=\\{@}
Query[sk]=http://www.baidu.com/s?wd=\\{@}
Query[sl]=http://www.baidu.com/s?wd=\\{@}
Query[sr]=http://www.baidu.com/s?wd=\\{@}
Query[sr@ijekavian]=http://www.baidu.com/s?wd=\\{@}
Query[sr@ijekavianlatin]=http://www.baidu.com/s?wd=\\{@}
Query[sr@latin]=http://www.baidu.com/s?wd=\\{@}
Query[sv]=http://www.baidu.com/s?wd=\\{@}
Query[tg]=http://www.baidu.com/s?wd=\\{@}
Query[th]=http://www.baidu.com/s?wd=\\{@}
Query[tr]=http://www.baidu.com/s?wd=\\{@}
Query[ug]=http://www.baidu.com/s?wd=\\{@}
Query[uk]=http://www.baidu.com/s?wd=\\{@}
Query[vi]=http://www.baidu.com/s?wd=\\{@}
Query[wa]=http://www.baidu.com/s?wd=\\{@}
Query[x-test]=xxhttp://www.baidu.com/s?wd=\\{@}xx
Query[zh_CN]=http://www.baidu.com/s?wd=\\{@}
Query[zh_TW]=http://www.baidu.com/s?wd=\\{@}
