[Desktop Entry]
Type=Service
Name=Bing
Name[ast]=Bing
Name[bg]=Bing
Name[bn]=বিং
Name[bs]=Bing
Name[ca]=Bing
Name[ca@valencia]=Bing
Name[cs]=Bing
Name[da]=Bing
Name[de]=Bing
Name[el]=Bing
Name[en_GB]=Bing
Name[eo]=Bingo
Name[es]=Bing
Name[et]=Bing
Name[eu]=Bing
Name[fa]=Bing
Name[fi]=Bing
Name[fr]=Bing
Name[ga]=Bing
Name[gl]=Bing
Name[gu]=બિંગ
Name[he]=Bing
Name[hi]=बिंग
Name[hr]=Bing
Name[hu]=Bing
Name[ia]=Bing
Name[is]=Bing
Name[it]=Bing
Name[ja]=Bing
Name[kk]=Bing
Name[km]=Bing
Name[kn]=ಬಿಂಗ್
Name[ko]=Bing
Name[lt]=Bing
Name[lv]=Bing
Name[mai]=बिंग
Name[mr]=बिंग
Name[nb]=Bing
Name[nds]=Bing
Name[nl]=Bing
Name[nn]=Bing
Name[pa]=ਬਿੰਗ
Name[pl]=Bing
Name[pt]=Bing
Name[pt_BR]=Bing
Name[ro]=Bing
Name[ru]=Bing
Name[si]=Bing
Name[sk]=Bing
Name[sl]=Bing
Name[sr]=Бинг
Name[sr@ijekavian]=Бинг
Name[sr@ijekavianlatin]=Bing
Name[sr@latin]=Bing
Name[sv]=Bing
Name[tg]=Bing
Name[th]=Bing
Name[tr]=Bing
Name[ug]=Bing
Name[uk]=Bing
Name[vi]=Bing
Name[wa]=Bing
Name[x-test]=xxBingxx
Name[zh_CN]=必应
Name[zh_TW]=Bing
X-KDE-ServiceTypes=SearchProvider
Keys=bing
Query=http://www.bing.com/search?q=\\{@}
Query[ast]=http://www.bing.com/search?q=\\{@}
Query[bg]=http://www.bing.com/search?q=\\{@}
Query[bn]=http://www.bing.com/search?q=\\{@}
Query[bs]=http://www.bing.com/search?q=\\{@}
Query[ca]=http://www.bing.com/search?q=\\{@}
Query[ca@valencia]=http://www.bing.com/search?q=\\{@}
Query[cs]=http://www.bing.com/search?q=\\{@}
Query[da]=http://www.bing.com/search?q=\\{@}
Query[de]=http://www.bing.de/search/?q=\\{@}
Query[el]=http://www.bing.com/search?q=\\{@}
Query[en_GB]=http://www.bing.com/search?q=\\{@}
Query[eo]=http://www.bing.com/search?q=\\{@}
Query[es]=http://www.bing.com/search?q=\\{@}
Query[et]=http://www.bing.com/search?q=\\{@}
Query[eu]=http://www.bing.com/search?q=\\{@}
Query[fa]=http://www.bing.com/search?q=\\{@}
Query[fi]=http://www.bing.com/search?q=\\{@}&cc=fi
Query[fr]=http://www.bing.com/search?q=\\{@}
Query[ga]=http://www.bing.com/search?q=\\{@}
Query[gl]=http://www.bing.com/search?q=\\{@}
Query[gu]=http://www.bing.com/search?q=\\{@}
Query[he]=http://www.bing.com/search?q=\\{@}
Query[hi]=http://www.bing.com/search?q=\\{@}
Query[hr]=http://www.bing.com/search?q=\\{@}
Query[hu]=http://www.bing.com/search?q=\\{@}
Query[ia]=http://www.bing.com/search?q=\\{@}
Query[is]=http://www.bing.com/search?q=\\{@}
Query[it]=http://www.bing.com/search?q=\\{@}
Query[ja]=http://www.bing.com/search?q=\\{@}
Query[kk]=http://www.bing.com/search?q=\\{@}
Query[km]=http://www.bing.com/search?q=\\{@}
Query[kn]=http://www.bing.com/search?q=\\{@}
Query[ko]=http://www.bing.com/search?q=\\{@}
Query[lt]=http://www.bing.com/search?q=\\{@}
Query[lv]=http://www.bing.com/search?q=\\{@}
Query[mai]=http://www.bing.com/search?q=\\{@}
Query[mr]=http://www.bing.com/search?q=\\{@}
Query[nb]=http://www.bing.com/search?q=\\{@}
Query[nds]=http://www.bing.com/search?q=\\{@}
Query[nl]=http://www.bing.com/search?q=\\{@}
Query[nn]=http://www.bing.com/search?q=\\{@}
Query[pa]=http://www.bing.com/search?q=\\{@}
Query[pl]=http://www.bing.com/search?q=\\{@}
Query[pt]=http://www.bing.com/search?q=\\{@}
Query[pt_BR]=http://www.bing.com/search?q=\\{@}
Query[ro]=http://www.bing.com/search?q=\\{@}
Query[ru]=http://www.bing.com/search?q=\\{@}
Query[si]=http://www.bing.com/search?q=\\{@}
Query[sk]=http://www.bing.com/search?q=\\{@}
Query[sl]=http://www.bing.com/search?q=\\{@}
Query[sr]=http://www.bing.com/search?q=\\{@}
Query[sr@ijekavian]=http://www.bing.com/search?q=\\{@}
Query[sr@ijekavianlatin]=http://www.bing.com/search?q=\\{@}
Query[sr@latin]=http://www.bing.com/search?q=\\{@}
Query[sv]=http://www.bing.com/search?q=\\{@}
Query[tg]=http://www.bing.com/search?q=\\{@}
Query[th]=http://www.bing.com/search?q=\\{@}
Query[tr]=http://www.bing.com/search?q=\\{@}
Query[ug]=http://www.bing.com/search?q=\\{@}
Query[uk]=http://www.bing.com/search?q=\\{@}
Query[vi]=http://www.bing.com/search?q=\\{@}
Query[wa]=http://www.bing.com/search?q=\\{@}
Query[x-test]=xxhttp://www.bing.com/search?q=\\{@}xx
Query[zh_CN]=http://www.bing.com/search?q=\\{@}
Query[zh_TW]=http://www.bing.com/search?q=\\{@}
