[Desktop Entry]
Keys=bugft
Name=KDE Bug Database Fulltext Search
Name[af]=KDE Fout Databasis voltext Soektog
Name[ar]=البحث النصي في قاعدة بيانات علل كدي
Name[as]=KDE Bug Database Fulltext Search
Name[ast]=Gueta testual na base de datos de fallos de KDE
Name[be]=Паўнатэкставы пошук па базе памылак KDE
Name[be@latin]=Paŭnatekstavy pošuk u bazie viadomych chibaŭ KDE
Name[bg]=Пълнотекстово търсене в базата от данни с бъгове в KDE
Name[bn]=কে.ডি.ই. বাগ ডেটাবেস-এ পূর্ণ টেক্সট অনুসন্ধান
Name[bn_IN]=KDE বাগ ডাটাবেসে অনুসন্ধান - সম্পূর্ণ টেক্সট সহযোগে
Name[bs]=KDE‑ova baza grešaka (tekstualno)
Name[ca]=Cercador de text per la base de dades d'errors de KDE
Name[ca@valencia]=Cercador de text per la base de dades d'errors de KDE
Name[cs]=Plnotextové vyhledávání v databázi chyb KDE
Name[csb]=Baza felów KDE - szëkba w òpisach felów
Name[cy]=Chwilio Llawn-destun y Gronfa Gwallau KDE
Name[da]=Fuldtekst-søgning i KDE's fejldatabase
Name[de]=KDE-Problemdatenbank: Volltextsuche
Name[el]=Αναζήτηση πλήρους κειμένου στη βάση δεδομένων σφαλμάτων του KDE
Name[en_GB]=KDE Bug Database Fulltext Search
Name[eo]=Plenteksta serĉo en la datumbazo de cimoj de KDE
Name[es]=Búsqueda textual en la base de datos de fallos de KDE
Name[et]=Täisteksti otsing KDE vigade andmebaasist
Name[eu]=KDEren erroreen datu-baseko testu erako bilaketa 
Name[fa]=جستجوی متن کامل دادگان اشکال KDE
Name[fi]=KDE-vikailmoitustietokannan tekstihaku
Name[fr]=Recherche textuelle dans la base de données de bogues de KDE
Name[fy]=KDE Bug Databank -  folsleine-tekst-sykaksje
Name[ga]=Cuardach Lán-Téacs i mBunachar Sonraí Fabhtanna KDE
Name[gl]=Busca de textos na base de datos de fallos de KDE
Name[gu]=KDE બગ ડેટાબેઝ સંપૂર્ણલખાણ શોધ
Name[he]=חיפוש טקסט מלא במאגר הבאגים של KDE
Name[hi]=केडीई बग डाटाबेस संपूर्ण-पाठ खोज
Name[hne]=केडीई बग डाटाबेस पूरा-पाठ खोज
Name[hr]=Pretraga KDE baze podataka o nedostacima pomoću potpunog teksta
Name[hsb]=KDE Bug Database Fulltext Search
Name[hu]=A KDE hibaadatbázis teljes szöveges keresési eszköze
Name[ia]=Cerca de texto complete de base de datos de Bug de KDE
Name[id]=Pencarian Teks Lengkap Basis Data Kutu KDE
Name[is]=Leit eftir orðum í KDE villugagnagrunni
Name[it]=Ricerca del testo completo nella banca dati degli errori di KDE
Name[ja]=KDE バグデータベース全文検索
Name[ka]=KDE–ს შეცდომების ძებნა სრული ტექსტით
Name[kk]=KDE қателер дерек қорында толық мәтінді іздеу
Name[km]=ការ​ស្វែងរក​អត្ថបទ​ពេញលេញ​នៃ​​មូលដ្ឋាន​ទិន្នន័យ​កំហុស​របស់ KDE
Name[kn]=ಕೆಡಿಇ ದೋಷ ದತ್ತಸಂಚಯ ಪೂರ್ಣಪಠ್ಯ ಹುಡುಕಾಟ
Name[ko]=KDE 버그 데이터베이스 전체 텍스트 검색
Name[ku]=Lêgerîna Nivîsara Bingeha Dane ya Çewtiyên KDE
Name[lt]=KDE Bug Database Fulltext Search
Name[lv]=KDE kļūdu datubāzes pilnteksta meklēšana
Name[mai]=केडीई बग डाटाबेस संपूर्ण-पाठ खोज
Name[mk]=База на податоци со бубачки од KDE, пребарување по цел текст
Name[ml]=കെഡിഇയുടെ പിഴവുകളുടെ ഡാറ്റാബേസിലെ മുഴുവന്‍ പദാവലിയിലുമുള്ള തെരച്ചില്‍
Name[mr]=केडीई बग डेटाबेस संपूर्ण पाठ्य शोध
Name[ms]=Carian Teks Penuh Pangkalan Data Pepijat
Name[nb]=Fulltekstsøk i KDEs feildatabase
Name[nds]=KDE Fehler-Datenbank: Vulltext-Söök
Name[ne]=केडीई बग डाटाबेस पूरा पाठ खोजी
Name[nl]=KDE Bug Database -  volledige-tekst-zoekactie
Name[nn]=Fulltekstsøk i feildatabasen til KDE
Name[or]=KDE ତ୍ରୁଟି ତଥ୍ଯାବଳୀ ସମ୍ପୂର୍ଣ୍ଣ ପାଠ୍ୟ ସନ୍ଧାନ
Name[pa]=KDE ਬੱਗ ਡਾਟਾਬੇਸ ਪੂਰਾ-ਟੈਕਸਟ ਖੋਜ
Name[pl]=Baza błędów KDE - wyszukiwanie w opisach błędów
Name[pt]=Pesquisa por Nome Completo na Base de Dados de Erros do KDE
Name[pt_BR]=Procura por texto no banco de dados de erros do KDE
Name[ro]=Baza de date de erori KDE - căutare integrală de text
Name[ru]=Полнотекстовый поиск ошибок в базе KDE
Name[se]=KDE dihkkediehtovuođu ollesteakstaohcan
Name[si]=KDE වැරදි දත්තමූල පූර්ණ පෙළ සෙවුම
Name[sk]=Fulltextové hľadanie v databáze chýb KDE
Name[sl]=Iskanje besedila po podatkovni zbirki hroščev v KDE
Name[sr]=КДЕ‑ова база грешака (текстуално)
Name[sr@ijekavian]=КДЕ‑ова база грешака (текстуално)
Name[sr@ijekavianlatin]=KDE‑ova baza grešaka (tekstualno)
Name[sr@latin]=KDE‑ova baza grešaka (tekstualno)
Name[sv]=Textsökning i KDE:s feldatabas
Name[ta]=KDE பிழை தகவல்தள முழு உரை தேடுதல்
Name[te]=KDE బగ్ డాటాబేస్ పూర్తిపాఠ్యము శోధన
Name[tg]=Системаи ҷустуҷӯи номҳои хатоҳои KDE
Name[th]=ค้นหาข้อความจากฐานข้อมูลบั๊กของ KDE
Name[tr]=KDE Hata Veritabanı Tam Sözcük Arama
Name[ug]=KDE كەمتۈك ساندان تولۇق تېكىست ئىزدە
Name[uk]=Повнотекстовий пошук у базі даних KDE
Name[uz]=KDE xato maʼlumot bazasi (butun matnni qidirish)
Name[uz@cyrillic]=KDE хато маълумот базаси (бутун матнни қидириш)
Name[vi]=Tìm kiếm cơ sở dữ liệu lỗi của KDE, dùng toàn bộ dòng từ khoá đã nhập
Name[wa]=Båze di dnêyes pol cweraedje di bugs di KDE dvins l' tecse
Name[xh]=Uphendlo lwesiseko sedata ye KDE Bug Olubhaliweyo ngokupheleleyo
Name[x-test]=xxKDE Bug Database Fulltext Searchxx
Name[zh_CN]=KDE Bug 数据库全文检索
Name[zh_TW]=KDE 臭蟲資料庫全文檢索
Query=https://bugs.kde.org/buglist.cgi?quicksearch=\\{@}
Query[bg]=https://bugs.kde.org/buglist.cgi?quicksearch=\\{@}
Query[bs]=https://bugs.kde.org/buglist.cgi?quicksearch=\\{@}
Query[ca]=https://bugs.kde.org/buglist.cgi?quicksearch=\\{@}
Query[ca@valencia]=https://bugs.kde.org/buglist.cgi?quicksearch=\\{@}
Query[cs]=https://bugs.kde.org/buglist.cgi?quicksearch=\\{@}
Query[da]=https://bugs.kde.org/buglist.cgi?quicksearch=\\{@}
Query[de]=https://bugs.kde.org/buglist.cgi?quicksearch=\\{@}
Query[el]=https://bugs.kde.org/buglist.cgi?quicksearch=\\{@}
Query[es]=https://bugs.kde.org/buglist.cgi?quicksearch=\\{@}
Query[eu]=https://bugs.kde.org/buglist.cgi?quicksearch=\\{@}
Query[fi]=https://bugs.kde.org/buglist.cgi?quicksearch=\\{@}
Query[fr]=https://bugs.kde.org/buglist.cgi?quicksearch=\\{@}
Query[gl]=https://bugs.kde.org/buglist.cgi?quicksearch=\\{@}
Query[hi]=https://bugs.kde.org/buglist.cgi?quicksearch=\\{@}
Query[hu]=https://bugs.kde.org/buglist.cgi?quicksearch=\\{@}
Query[ia]=http://bugs.kde.org/buglist.cgi?quicksearch=\\{@}
Query[is]=https://bugs.kde.org/buglist.cgi?quicksearch=\\{@}
Query[it]=https://bugs.kde.org/buglist.cgi?quicksearch=\\{@}
Query[ja]=https://bugs.kde.org/buglist.cgi?quicksearch=\\{@}
Query[kk]=https://bugs.kde.org/buglist.cgi?quicksearch=\\{@}
Query[ko]=https://bugs.kde.org/buglist.cgi?quicksearch=\\{@}
Query[lt]=https://bugs.kde.org/buglist.cgi?quicksearch=\\{@}
Query[nb]=https://bugs.kde.org/buglist.cgi?quicksearch=\\{@}
Query[nl]=https://bugs.kde.org/buglist.cgi?quicksearch=\\{@}
Query[nn]=https://bugs.kde.org/buglist.cgi?quicksearch=\\{@}
Query[pa]=https://bugs.kde.org/buglist.cgi?quicksearch=\\{@}
Query[pl]=https://bugs.kde.org/buglist.cgi?quicksearch=\\{@}
Query[pt]=https://bugs.kde.org/buglist.cgi?quicksearch=\\{@}
Query[pt_BR]=https://bugs.kde.org/buglist.cgi?quicksearch=\\{@}
Query[ro]=https://bugs.kde.org/buglist.cgi?quicksearch=\\{@}
Query[ru]=https://bugs.kde.org/buglist.cgi?quicksearch=\\{@}
Query[sk]=https://bugs.kde.org/buglist.cgi?quicksearch=\\{@}
Query[sl]=https://bugs.kde.org/buglist.cgi?quicksearch=\\{@}
Query[sr]=https://bugs.kde.org/buglist.cgi?quicksearch=\\{@}
Query[sr@ijekavian]=https://bugs.kde.org/buglist.cgi?quicksearch=\\{@}
Query[sr@ijekavianlatin]=https://bugs.kde.org/buglist.cgi?quicksearch=\\{@}
Query[sr@latin]=https://bugs.kde.org/buglist.cgi?quicksearch=\\{@}
Query[sv]=https://bugs.kde.org/buglist.cgi?quicksearch=\\{@}
Query[tr]=https://bugs.kde.org/buglist.cgi?quicksearch=\\{@}
Query[ug]=https://bugs.kde.org/buglist.cgi?quicksearch=\\{@}
Query[uk]=https://bugs.kde.org/buglist.cgi?quicksearch=\\{@}
Query[wa]=https://bugs.kde.org/buglist.cgi?quicksearch=\\{@}
Query[x-test]=xxhttps://bugs.kde.org/buglist.cgi?quicksearch=\\{@}xx
Query[zh_CN]=https://bugs.kde.org/buglist.cgi?quicksearch=\\{@}
Query[zh_TW]=https://bugs.kde.org/buglist.cgi?quicksearch=\\{@}
X-KDE-ServiceTypes=SearchProvider
Type=Service
