[Desktop Entry]
Charset=
Hidden=false
Keys=qrz,call
Name=QRZ.com Callsign Database
Name[af]=QRZ.com Callsign databasis
Name[ar]=قاعدة بيانات محطة QRZ.com
Name[as]=QRZ.com Callsign Database
Name[ast]=Base de datos QRZ.com
Name[be]=База дадзеных QRZ.com Callsign
Name[be@latin]=Baza źviestak „QRZ.com Callsign”
Name[bg]=База от данни с позивни QRZ.com
Name[bn]=QRZ.com কল-সাইন ডেটাবেস
Name[bn_IN]=QRZ.com Callsign ডাটাবেস
Name[bs]=KuRZ.kom baza pozivnika
Name[ca]=Base de dades d'indicatius de QRZ.com
Name[ca@valencia]=Base de dades d'indicatius de QRZ.com
Name[cs]=Databáze volacích znaků QRZ.com
Name[csb]=QRZ.com - baza radiowëch wëwòłaniów
Name[cy]=Cronfa Ddata Arwydd-galwad QRZ.com
Name[da]=QRZ.com callsign-database
Name[de]=QRZ.com Callsign-Datenbank
Name[el]=QRZ.com βάση δεδομένων τηλεπικοινωνίας
Name[en_GB]=QRZ.com Callsign Database
Name[eo]=Datumbazo de voksigno ĉe QRZ.com
Name[es]=Base de datos de indicativos QRZ.com
Name[et]=QRZ.com callsign andmebaas
Name[eu]=QRZ.com callsign datu-basea
Name[fa]=دادگان QRZ.com Callsign
Name[fi]=QRZ.com-kutsumerkkitietokanta
Name[fr]=Base de données de QRZ.com « callsign »
Name[fy]=QRZ.com callsign database
Name[ga]=Bunachar Sonraí Comharthaí Aitheantais QRZ.com
Name[gl]=Base de datos de distintivos de chamada QRZ.com
Name[gu]=QRZ.com કોલસાઇન ડેટાબેઝ
Name[he]=QRZ.com Callsign Database
Name[hi]=QRZ.com काल-साइन डाटाबेस
Name[hne]=QRZ.com काल-साइन डाटाबेस
Name[hr]=QRZ.com baza podataka pozivnih znakova
Name[hsb]=QRZ.com Callsign Database
Name[hu]=QRZ.com hívójel-adatbázis
Name[ia]=QRZ.com base de datos Callsign
Name[id]=Basis Data Tanda Panggilan QRZ.com
Name[is]=QRZ.com kallmerkjagrunnur
Name[it]=Banca dati dei segnali di chiamata QRZ.com
Name[ja]=QRZ.com Callsign データベース
Name[ka]=QRZ.com Callsign Database
Name[kk]=QRZ.com шақыру атаулар дерек қоры
Name[km]=មូលដ្ឋាន​ទិន្នន័យ Callsign របស់ QRZ.com
Name[kn]=QRZ.com Callsign ದತ್ತಸಂಚಯ
Name[ko]=QRZ.com 호출 부호 데이터베이스
Name[ku]=QRZ.com Bingeha Daneyê Nîşana-Bangê 
Name[lt]=QRZ.com callsign duomenų bazė
Name[lv]=QRZ.com izsaukuma signālu datubāze
Name[mai]=QRZ.com काल-साइन डाटाबेस
Name[mk]=База на податоци QRZ.com callsign
Name[ml]=QRZ.com ലെ കാള്‍സൈനുകളുടെ ഡാറ്റാബേസ്
Name[mr]=QRZ.com कॉलसाइन डेटाबेस
Name[ms]=QRZ.com Callsign Database
Name[nb]=QRZ.com database for kallesignal
Name[nds]=QRZ.com Callsign-Datenbank
Name[ne]=QRZ.com कलसाइन डेटाबेस
Name[nl]=QRZ.com callsign database
Name[nn]=QRZ.com database for kallesignal
Name[or]=QRZ.com Callsign ତଥ୍ୟାବଳୀ
Name[pa]=QRZ.com Callsign ਡਾਟਾਬੇਸ
Name[pl]=QRZ.com - baza wywołań radiowych
Name[pt]=Base de Dados Callsign do QRZ.com
Name[pt_BR]=Banco de dados Callsign do QRZ.com
Name[ro]=Baza de date de indicative QRZ.com
Name[ru]=База позывных QRZ.com
Name[se]=QRZ.com gohččonsignálaid diehtovuođđu
Name[si]=QRZ.com Callsign දත්ත මූලය
Name[sk]=Databáza skratiek QRZ.com
Name[sl]=Podatkovna zbirka okrajšav QRZ.com
Name[sr]=КуРЗ.ком база позивника
Name[sr@ijekavian]=КуРЗ.ком база позивника
Name[sr@ijekavianlatin]=QRZ.com baza pozivnika
Name[sr@latin]=QRZ.com baza pozivnika
Name[sv]=Databas för QRZ.com-anropssignaler
Name[ta]=QRZ.com அழைப்புநுழை தகவல்தளம்
Name[te]=QRZ.com కాల్‌సైన్ డాటాబేస్
Name[tg]=Маълумоти бонги QRZ.com
Name[th]=ฐานข้อมูลนามแฝง QRZ.com
Name[tr]=QRZ.com Aramaişaret Veritabanı
Name[ug]=QRZ.com Callsign ساندان
Name[uk]=База даних callsign QRZ.com
Name[vi]=Cơ sở dữ liệu tín hiệu QRZ.com
Name[wa]=Båzes di dnêyes des indicatifs di houcaedje (avions) QRZ.com
Name[x-test]=xxQRZ.com Callsign Databasexx
Name[zh_CN]=QRZ.com Callsign 数据库
Name[zh_TW]=QRZ.com Callsign 資料庫
Query=http://www.qrz.com/db/\\{@}
Query[ast]=http://www.qrz.com/db/\\{@}
Query[bg]=http://www.qrz.com/db/\\{@}
Query[bn]=http://www.qrz.com/db/\\{@}
Query[bs]=http://www.qrz.com/db/\\{@}
Query[ca]=http://www.qrz.com/db/\\{@}
Query[ca@valencia]=http://www.qrz.com/db/\\{@}
Query[cs]=http://www.qrz.com/db/\\{@}
Query[da]=http://www.qrz.com/db/\\{@}
Query[de]=http://www.qrz.com/db/\\{@}
Query[el]=http://www.qrz.com/db/\\{@}
Query[eo]=http://www.qrz.com/db/\\{@}
Query[es]=http://www.qrz.com/db/\\{@}
Query[et]=http://www.qrz.com/db/\\{@}
Query[eu]=http://www.qrz.com/db/\\{@}
Query[fa]=http://www.qrz.com/db/\\{@}
Query[fi]=http://www.qrz.com/db/\\{@}
Query[fr]=http://www.qrz.com/db/\\{@}
Query[ga]=http://www.qrz.com/db/\\{@}
Query[gl]=http://www.qrz.com/db/\\{@}
Query[gu]=http://www.qrz.com/db/\\{@}
Query[he]=http://www.qrz.com/db/\\{@}
Query[hi]=http://www.qrz.com/db/\\{@}
Query[hu]=http://www.qrz.com/db/\\{@}
Query[ia]=http://www.qrz.com/db/\\{@}
Query[is]=http://www.qrz.com/db/\\{@}
Query[it]=http://www.qrz.com/db/\\{@}
Query[ja]=http://www.qrz.com/db/\\{@}
Query[kk]=http://www.qrz.com/db/\\{@}
Query[km]=http://www.qrz.com/db/\\{@}
Query[ko]=http://www.qrz.com/db/\\{@}
Query[lt]=http://www.qrz.com/db/\\{@}
Query[lv]=http://www.qrz.com/db/\\{@}
Query[mr]=http://www.qrz.com/db/\\{@}
Query[nb]=http://www.qrz.com/s?wd=\\{@}
Query[nds]=http://www.qrz.com/db/\\{@}
Query[nl]=http://www.qrz.com/db/\\{@}
Query[nn]=http://www.qrz.com/db/\\{@}
Query[pa]=http://www.qrz.com/db/\\{@}
Query[pl]=http://www.qrz.com/db/\\{@}
Query[pt]=http://www.qrz.com/db/\\{@}
Query[pt_BR]=http://www.qrz.com/db/\\{@}
Query[ro]=http://www.qrz.com/db/\\{@}
Query[ru]=http://www.qrz.com/db/\\{@}
Query[sk]=http://www.qrz.com/db/\\{@}
Query[sl]=http://www.qrz.com/db/\\{@}
Query[sr]=http://www.qrz.com/db/\\{@}
Query[sr@ijekavian]=http://www.qrz.com/db/\\{@}
Query[sr@ijekavianlatin]=http://www.qrz.com/db/\\{@}
Query[sr@latin]=http://www.qrz.com/db/\\{@}
Query[sv]=http://www.qrz.com/db/\\{@}
Query[tg]=http://www.qrz.com/db/\\{@}
Query[tr]=http://www.qrz.com/db/\\{@}
Query[ug]=http://www.qrz.com/db/\\{@}
Query[uk]=http://www.qrz.com/db/\\{@}
Query[vi]=http://www.qrz.com/db/\\{@}
Query[wa]=http://www.qrz.com/db/\\{@}
Query[x-test]=xxhttp://www.qrz.com/db/\\{@}xx
Query[zh_CN]=http://www.qrz.com/db/\\{@}
Query[zh_TW]=http://www.qrz.com/db/\\{@}
X-KDE-ServiceTypes=SearchProvider
Type=Service
