[Desktop Entry]
Charset=
Hidden=false
Keys=cite,cs
Name=CiteSeer: Scientific Literature Digital Library
Name[af]=CiteSeer: Wetenskaplike Digitale Literatuur Biblioteek
Name[ar]=اقتباس من المكتبة العلمية الرقمية CiteSeer
Name[ast]=CiteSeer: Biblioteca dixital de lliteratura científica
Name[be]=CiteSeer: Лічбавая бібліятэка навуковай літаратуры
Name[be@latin]=„CiteSeer”: navukovaja elektronnaja biblijateka
Name[bg]=Цифрова библиотека с научна литература CiteSeer
Name[bn]=CiteSeer: বিজ্ঞানসাহিত্যের ডিজিটাল লাইব্রেরী
Name[bn_IN]=CiteSeer: বিজ্ঞানবিষয়ক নথিপত্রের ডিজিট্যাল লাইব্রেরি
Name[bs]=Sajtsir: digitalna biblioteka naučne literature
Name[ca]=CiteSeer: Biblioteca digital de literatura científica
Name[ca@valencia]=CiteSeer: Biblioteca digital de literatura científica
Name[cs]=CiteSeer: Vědecká digitální knihovna
Name[csb]=CiteSeer - Nôùkòwô elektronicznô bibloteka
Name[cy]=CiteSeer: Llyfgell Digidol Llenyddiaeth Gwyddonol
Name[da]=CiteSeer: Digitalt bibliotek for digital litteratur
Name[de]=CiteSeer: Digitale Bibliothek für wissenschaftliche Literatur
Name[el]=CiteSeer: Ψηφιακή βιβλιοθήκη επιστημονικής βιβλιογραφίας
Name[en_GB]=CiteSeer: Scientific Literature Digital Library
Name[eo]=CiteSeer: cifereca sciencoliteratura libraro
Name[es]=CiteSeer: Biblioteca digital de literatura científica
Name[et]=CiteSeer: Teaduskirjanduse digitaalraamatukogu
Name[eu]=CiteSeer: Zientzia-literatur liburutegi digitala 
Name[fa]=CiteSeer: کتابخانه رقمی ادبیات علمی
Name[fi]=CiteSeer: tieteellisten tekstien digitaalinen kirjasto
Name[fr]=CiteSeer : bibliothèque numérique de littérature scientifique
Name[fy]=CiteSeer: Scientific Literature Digital Library
Name[ga]=CiteSeer: Leabharlann Dhigiteach den Litríocht Eolaíochta
Name[gl]=CiteSeer: Biblioteca dixital de publicacións científicas
Name[gu]=CiteSeer: વૈજ્ઞાનિક સાહિત્ય ડિજીટલ પુસ્તકાલય
Name[he]=‏CiteSeer: ספרייה דיגיטלית לספרות מדעית
Name[hi]=CiteSeer: वैज्ञानिक साहित्य डिजिटल पुस्तकालय
Name[hne]=CiteSeer: वैग्यानिक साहित्य डिजिटल लाइब्रेरी
Name[hr]=CiteSeer: Digitalna knjižnica znanstvene literature 
Name[hsb]=CiteSeer: Scientific Literature Digital Library
Name[hu]=CiteSeer: tudományos szakirodalom digitális könyvtára
Name[ia]=CiteSeer: Libreria Digital de litteratura Scientific
Name[id]=CiteSeer: Pustaka Digital Literatur Ilmiah
Name[is]=CiteSeer: Scientific Literature Digital Library
Name[it]=CiteSeer: Biblioteca digitale di letteratura scientifica
Name[ja]=CiteSeer: 学術電子論文ブラウザ
Name[ka]=CiteSeer: Scientific Literature Digital Library
Name[kk]=CiteSeer: ғылыми әдебиет цифрлық кітапханасы
Name[km]=CiteSeer ៖ បណ្ណាល័យ​ឌីជីថល​អក្សរ​សាស្ត្រ​វិទ្យាសាស្ត្រ
Name[kn]=CiteSeer: ವೈಜ್ಞಾನಿಕ ಸಾಹಿತ್ಯ ಅಂಕೀಯ (ಡಿಜಿಟಲ್) ಭಂಡಾರ
Name[ko]=CiteSeer: 과학적 문학 디지털 도서관
Name[ku]=CiteSeer: Pirtûkxane ya Dîjîtal ya Lîteratûra Zanistî
Name[lt]=CiteSeer: Mokslinės literatūros skaitmeninė biblioteka
Name[lv]=CiteSeer: Zinātniskās literatūras elektroniskā bibliotēka
Name[mai]=CiteSeer: वैज्ञानिक साहित्य डिजिटल पुस्तकालय
Name[mk]=CiteSeer: дигитална библиотека со научна литература
Name[ml]=സൈറ്റ്സിയര്‍: ശാസ്ത്രസാഹിത്യത്തിന്റെ ഡിജിറ്റല്‍ വായനശാല
Name[mr]=CiteSeer: वैज्ञानिक साहित्य डिजिटल पुस्तकालय
Name[ms]=CiteSeer: Pustaka Digital Risalah Sains
Name[nb]=CiteSeer: Digitalt bibliotek for vitenskapelig litteratur
Name[nds]=CiteSeer: Digitale Bibliotheek för wetenschaplich Literatuur
Name[ne]=CiteSeer: वैज्ञानिक साहित्य डिजिटल लाइब्रेरी
Name[nl]=CiteSeer: Scientific Literature Digital Library
Name[nn]=CiteSeer: Digitalt bibliotek for vitskapleg litteratur
Name[or]=CiteSeer: ବୈଜ୍ଞାନିକ ସାହିତ୍ଯ ସାଂଖିକ ଲାଇବ୍ରେରୀ
Name[pa]=CiteSeer: ਵਿਗਿਆਨਕ ਸਾਹਿਤ ਡਿਜਿਟਲ ਲਾਇਬਰੇਰੀ
Name[pl]=CiteSeer - elektroniczna biblioteka naukowa
Name[pt]=CiteSeer: Biblioteca Digital de Literatura Científica
Name[pt_BR]=CiteSeer: Biblioteca Digital de Literatura Científica
Name[ro]=CiteSeer: Biblioteca digitală de literatură științifică
Name[ru]=CiteSeer: цифровая библиотека научной литературы
Name[se]=CiteSeer:Digitálalaš bibliotehka mas lea dieđálaš litteratuvra
Name[si]=CiteSeer: විද්‍යාත්මක සාහිත්‍ය අංකිත පුස්තකාලය
Name[sk]=CiteSeer: Digitálna knižnica vedeckej literatúry
Name[sl]=CiteSeer: Digitalna knjižnica znanstvene literature
Name[sr]=Сајтсир: дигитална библиотека научне литературе
Name[sr@ijekavian]=Сајтсир: дигитална библиотека научне литературе
Name[sr@ijekavianlatin]=CiteSeer: digitalna biblioteka naučne literature
Name[sr@latin]=CiteSeer: digitalna biblioteka naučne literature
Name[sv]=CiteSeer: Digitalt bibliotek med vetenskaplig litteratur
Name[ta]=சைட்சீர்: அறிவியல் சம்மந்தமான கல்வி டிஜிட்டல் நூலகம்
Name[te]=CiteSeer: శాస్త్రీయ పాండిత్య డిజిటల్ గ్రంధాలయం
Name[tg]=Китобхонаи рақамии адабиёти илмӣ: CiteSeer
Name[th]=CiteSeer: ห้องสมุดดิจิทัลของข้อเขียนทางวิทยาศาสตร์
Name[tr]=CiteSeer: Bilimsel Literatür Kitaplığı
Name[ug]=CiteSeer: پەن-تېخنىكا ئەسەرلىرى رەقەملىك كۇتۇپخانىسى
Name[uk]=CiteSeer: цифрова бібліотека наукової літератури
Name[uz]=CiteSeer: Aniq fanlar uchun elektron kutubxona
Name[uz@cyrillic]=CiteSeer: Аниқ фанлар учун электрон кутубхона
Name[vi]=CiteSeer:Thư viện khoa học và văn học số hoá
Name[wa]=Cite Seer: Livreye limerike di scrijhaedjes syintifikes
Name[x-test]=xxCiteSeer: Scientific Literature Digital Libraryxx
Name[zh_CN]=CiteSeer：科学文献数字图书馆
Name[zh_TW]=CiteSeer: 科學文獻數位圖書館
Query=http://citeseer.ist.psu.edu/search?q=\\{@}&submit=Search&sort=rlv&t=doc
Query[bg]=http://citeseer.ist.psu.edu/search?q=\\{@}&submit=Search&sort=rlv&t=doc
Query[bs]=http://citeseer.ist.psu.edu/search?q=\\{@}&submit=Search&sort=rlv&t=doc
Query[ca]=http://citeseer.ist.psu.edu/search?q=\\{@}&submit=Search&sort=rlv&t=doc
Query[ca@valencia]=http://citeseer.ist.psu.edu/search?q=\\{@}&submit=Search&sort=rlv&t=doc
Query[cs]=http://citeseer.ist.psu.edu/search?q=\\{@}&submit=Search&sort=rlv&t=doc
Query[da]=http://citeseer.ist.psu.edu/search?q=\\{@}&submit=Search&sort=rlv&t=doc
Query[de]=http://citeseer.ist.psu.edu/search?q=\\{@}&submit=Search&sort=rlv&t=doc
Query[el]=http://citeseer.ist.psu.edu/search?q=\\{@}&submit=Search&sort=rlv&t=doc
Query[es]=http://citeseer.ist.psu.edu/search?q=\\{@}&submit=Search&sort=rlv&t=doc
Query[eu]=http://citeseer.ist.psu.edu/search?q=\\{@}&submit=Search&sort=rlv&t=doc
Query[fi]=http://citeseer.ist.psu.edu/search?q=\\{@}&submit=Search&sort=rlv&t=doc
Query[fr]=http://citeseer.ist.psu.edu/search?q=\\{@}&submit=Search&sort=rlv&t=doc
Query[gl]=http://citeseer.ist.psu.edu/search?q=\\{@}&submit=Search&sort=rlv&t=doc
Query[hi]=http://citeseer.ist.psu.edu/search?q=\\{@}&submit=Search&sort=rlv&t=doc
Query[hu]=http://citeseer.ist.psu.edu/search?q=\\{@}&submit=Search&sort=rlv&t=doc
Query[ia]=http://citeseer.ist.psu.edu/search?q=\\{@}&submit=Search&sort=rlv&t=doc
Query[is]=http://citeseer.ist.psu.edu/search?q=\\{@}&submit=Search&sort=rlv&t=doc
Query[it]=http://citeseer.ist.psu.edu/search?q=\\{@}&submit=Search&sort=rlv&t=doc
Query[ja]=http://citeseer.ist.psu.edu/search?q=\\{@}&submit=Search&sort=rlv&t=doc
Query[kk]= http://citeseer.ist.psu.edu/cs?q=\\{@}&submit=Search+Documents&cs=1
Query[ko]=http://citeseer.ist.psu.edu/search?q=\\{@}&submit=Search&sort=rlv&t=doc
Query[lt]=http://citeseer.ist.psu.edu/search?q=\\{@}&submit=Search&sort=rlv&t=doc
Query[nb]=http://citeseer.ist.psu.edu/search?q=\\{@}&submit=Search&sort=rlv&t=doc
Query[nl]=http://citeseer.ist.psu.edu/search?q=\\{@}&submit=Search&sort=rlv&t=doc
Query[nn]=http://citeseer.ist.psu.edu/search?q=\\{@}&submit=Search&sort=rlv&t=doc
Query[pa]=http://citeseer.ist.psu.edu/search?q=\\{@}&submit=Search&sort=rlv&t=doc
Query[pl]=http://citeseer.ist.psu.edu/search?q=\\{@}&submit=Search&sort=rlv&t=doc
Query[pt]=http://citeseer.ist.psu.edu/search?q=\\{@}&submit=Search&sort=rlv&t=doc
Query[pt_BR]=http://citeseer.ist.psu.edu/search?q=\\{@}&submit=Search&sort=rlv&t=doc
Query[ro]=http://citeseer.ist.psu.edu/search?q=\\{@}&submit=Search&sort=rlv&t=doc
Query[ru]=http://citeseer.ist.psu.edu/search?q=\\{@}&submit=Search&sort=rlv&t=doc
Query[sk]=http://citeseer.ist.psu.edu/search?q=\\{@}&submit=Search&sort=rlv&t=doc
Query[sl]=http://citeseer.ist.psu.edu/search?q=\\{@}&submit=Search&sort=rlv&t=doc
Query[sr]=http://citeseer.ist.psu.edu/search?q=\\{@}&submit=Search&sort=rlv&t=doc
Query[sr@ijekavian]=http://citeseer.ist.psu.edu/search?q=\\{@}&submit=Search&sort=rlv&t=doc
Query[sr@ijekavianlatin]=http://citeseer.ist.psu.edu/search?q=\\{@}&submit=Search&sort=rlv&t=doc
Query[sr@latin]=http://citeseer.ist.psu.edu/search?q=\\{@}&submit=Search&sort=rlv&t=doc
Query[sv]=http://citeseer.ist.psu.edu/search?q=\\{@}&submit=Search&sort=rlv&t=doc
Query[tr]=http://citeseer.ist.psu.edu/search?q=\\{@}&submit=Search&sort=rlv&t=doc
Query[ug]=http://citeseer.ist.psu.edu/search?q=\\{@}&submit=Search&sort=rlv&t=doc
Query[uk]=http://citeseer.ist.psu.edu/search?q=\\{@}&submit=Search&sort=rlv&t=doc
Query[wa]=http://citeseer.ist.psu.edu/search?q=\\{@}&submit=Search&sort=rlv&t=doc
Query[x-test]=xxhttp://citeseer.ist.psu.edu/search?q=\\{@}&submit=Search&sort=rlv&t=docxx
Query[zh_CN]=http://citeseer.ist.psu.edu/search?q=\\{@}&submit=Search&sort=rlv&t=doc
Query[zh_TW]=http://citeseer.ist.psu.edu/search?q=\\{@}&submit=Search&sort=rlv&t=doc
X-KDE-ServiceTypes=SearchProvider
Type=Service
