[Desktop Entry]
Keys=cpan
Name=CPAN - Comprehensive Perl Archive Network
Name[af]=CPAN - Omvattende Perl Argief Netwerk
Name[ar]=Cpan -- أرشيف شبكة شاملة بيرل
Name[as]=CPAN - Comprehensive Perl Archive Network
Name[ast]=CPAN - Comprehensive Perl Archive Network
Name[be]=CPAN - Comprehensive Perl Archive Network
Name[be@latin]=CPAN: zbor prahramaŭ u movie „Perl”
Name[bg]=CPAN - Comprehensive Perl Archive Network
Name[bn]=CPAN - কমপ্রিহেনসিভ পার্ল আর্কাইভ নেটওয়ার্ক
Name[bn_IN]=CPAN - কম্প্রিহেনসিভ Perl আর্কাইভ নেটওয়ার্ক
Name[bs]=CPAN — sveobuhvatna arhiva perla
Name[ca]=CPAN - Xarxa extensa de l'arxiu Perl
Name[ca@valencia]=CPAN - Xarxa extensa de l'arxiu Perl
Name[cs]=CPAN - Comprehensive Perl Archive Network
Name[csb]=CPAN - archiwa skriptów Perl
Name[cy]=CPAN - Rhwydwaith Archif Cynhwysfawr Perl
Name[da]=CPAN - omfattende Perl-arkivnetværk
Name[de]=CPAN – Umfassendes Perl-Archiv
Name[el]=CPAN - Περιεκτικό δίκτυο αρχειοθήκης perl
Name[en_GB]=CPAN - Comprehensive Perl Archive Network
Name[eo]=CPAN - Ampleksa reta arkivo de Perl
Name[es]=CPAN - Comprehensive Perl Archive Network
Name[et]=CPAN - Comprehensive Perl Archive Network
Name[eu]=CPAN - Perl fitxategi sare ulergarria
Name[fa]=CPAN - شبکه‌ وسیع بایگانی پرل
Name[fi]=CPAN – Comprehensive Perl Archive Network
Name[fr]=CPAN (Comprehensive Perl Archive Network)
Name[fy]=CPAN - Comprehensive Perl Archive Network
Name[ga]=CPAN - Comprehensive Perl Archive Network
Name[gl]=CPAN, o Comprehensive Perl Archive Network
Name[gu]=CPAN - કોમ્પ્રેસિવ પર્લ અર્કાઇવ નેટવર્ક
Name[he]=CPAN - Comprehensive Perl Archive Network
Name[hi]=CPAN - कॉम्प्रेहेंसिव पर्ल आर्काइव नेटवर्क
Name[hne]=CPAN - काम्प्रेहेंसिव पर्ल आर्काइव नेटवर्क
Name[hr]=CPAN – Perl mreža sveobuhvatne arhive
Name[hsb]=CPAN - Comprehensive Perl Archive Network
Name[hu]=CPAN - Comprehensive Perl Archive Network
Name[ia]=CPAN - Comprehensive Perl Archive Network (Rete Comprehensive de Archivo de Perl)
Name[id]=CPAN - Jaringan Arsip Perl Komprehensif
Name[is]=CPAN - Comprehensive Perl Archive Network
Name[it]=CPAN - Rete globale degli archivi Perl
Name[ja]=CPAN - Comprehensive Perl Archive Network
Name[ka]=CPAN - Comprehensive Perl Archive Network
Name[kk]=CPAN - Perl скрипттер архив желісі
Name[km]=CPAN - Comprehensive Perl Archive Network
Name[kn]=CPAN -ವ್ಯಾಪಕ ಪರ್ಲ್ ಕಡತಾಗಾರ (ಆರ್ಕೈವ್) ಜಾಲ
Name[ko]=CPAN - Comprehensive Perl Archive Network
Name[ku]=CPAN - Tora Arşîva Perl yê Bikitekit
Name[lt]=CPAN – Visapusiško Perlo Archyvo Tinklas
Name[lv]=CPAN - visaptverošs perl arhīvu tīkls
Name[mai]=CPAN - काम्प्रेहेंसिव पर्ल आर्काइव नेटवर्क
Name[mk]=CPAN - Обемна мрежа со Perl архиви
Name[ml]=സിപാന്‍ - അനേകം വിഷയങ്ങളടങ്ങിയിട്ടുള്ള പേള്‍ ശേഖരങ്ങളുടെ ശൃംഖല
Name[mr]=CPAN - कॉम्प्रेहेंसिव पर्ल संग्रह संजाळ
Name[ms]=CPAN - Comprehensive Perl Archive Network
Name[nb]=CPAN -– Perl-arkiv: «Comprehensive Perl Archive Network»
Name[nds]=CPAN - Comprehensive Perl Archive Network
Name[ne]=CPAN - व्यापक पर्ल सङ्ग्रह सञ्जाल
Name[nl]=CPAN - Comprehensive Perl Archive Network
Name[nn]=CPAN – Perl-arkiv: «Comprehensive Perl Archive Network»
Name[or]=CPAN - ବ୍ୟାପକ ପର୍ଲ ଅଭିଲେଖ ନେଟୱର୍କ
Name[pa]=CPAN - ਪੈਰਾ ਪਰਲ ਅਕਾਇਵ ਨੈੱਟਵਰਕ
Name[pl]=CPAN - archiwum skryptów Perl
Name[pt]=CPAN - Comprehensive Perl Archive Network
Name[pt_BR]=CPAN - Rede Compreensiva de Arquivos de Perl
Name[ro]=CPAN - Arhiva completă de programe Perl
Name[ru]=CPAN — архив скриптов Perl
Name[se]=CPAN – Perl-vuorká: «Comprehensive Perl Archive Network»
Name[si]=CPAN - විචක්‍ෂණ Perl සංරක්‍ෂක ජාලය
Name[sk]=CPAN - Comprehensive Perl Archive Network
Name[sl]=CPAN - Omrežje obsežnega arhiva za Perl
Name[sr]=ЦПАН — свеобухватна архива перла
Name[sr@ijekavian]=ЦПАН — свеобухватна архива перла
Name[sr@ijekavianlatin]=CPAN — sveobuhvatna arhiva Perla
Name[sr@latin]=CPAN — sveobuhvatna arhiva Perla
Name[sv]=CPAN - Comprehensive Perl Archive Network
Name[ta]=CPAN -பரந்த பர்ல் ஆவண வலைப்பின்னல்
Name[te]=CPAN - విశదీకృత Perl ఆర్చివ్ నెట్వర్‍క్
Name[tg]=CPAN - Шабакаи бойгонии ҳаматарафаи Perl
Name[th]=CPAN - เครือข่ายเก็บบันทึกภาษา Perl แบบครอบคลุม
Name[tr]=CPAN - Detaylı Perl Arşiv Ağı
Name[ug]=CPAN - كەڭ دائىرىلىك Perl ئارخىپ تورى
Name[uk]=CPAN — всеосяжна мережа архівів Perl
Name[uz]=CPAN - Perl boʻyicha mukammal arxiv tarmogʻi
Name[uz@cyrillic]=CPAN - Perl бўйича мукаммал архив тармоғи
Name[vi]=CPAN - Mạng kho lưu Perl đầy đủ
Name[wa]=CPAN - Rantoele d' Årtchives Perl avou ttafwait
Name[xh]=CPAN - Enomxholo Perl Indawo yokugcina Yomsebenzi womnatha
Name[x-test]=xxCPAN - Comprehensive Perl Archive Networkxx
Name[zh_CN]=CPAN - 综合性 Perl 档案网络
Name[zh_TW]=CPAN - 全面的 Perl 收集網路
Query=http://search.cpan.org/search?mode=\\{mode,2,""}&query=\\{query,q,1}
Query[ast]=http://search.cpan.org/search?mode=\\{mode,2,""}&query=\\{query,q,1}
Query[bg]=http://search.cpan.org/search?mode=\\{mode,2,""}&query=\\{query,q,1}
Query[bn]=http://search.cpan.org/search?mode=\\{mode,2,""}&query=\\{query,q,1}
Query[bs]=http://search.cpan.org/search?mode=\\{mode,2,""}&query=\\{query,q,1}
Query[ca]=http://search.cpan.org/search?mode=\\{mode,2,""}&query=\\{query,q,1}
Query[ca@valencia]=http://search.cpan.org/search?mode=\\{mode,2,""}&query=\\{query,q,1}
Query[cs]=http://search.cpan.org/search?mode=\\{mode,2,""}&query=\\{query,q,1}
Query[da]=http://search.cpan.org/search?mode=\\{mode,2,""}&query=\\{query,q,1}
Query[de]=http://search.cpan.org/search?mode=\\{mode,2,""}&query=\\{query,q,1}
Query[el]=http://search.cpan.org/search?mode=\\{mode,2,""}&query=\\{query,q,1}
Query[eo]=http://search.cpan.org/search?mode=\\{mode,2,""}&query=\\{query,q,1}
Query[es]=http://search.cpan.org/search?mode=\\{mode,2,""}&query=\\{query,q,1}
Query[et]=http://search.cpan.org/search?mode=\\{mode,2,""}&query=\\{query,q,1}
Query[eu]=http://search.cpan.org/search?mode=\\{mode,2,""}&query=\\{query,q,1}
Query[fa]=http://search.cpan.org/search?mode=\\{mode,2,""}&query=\\{query,q,1}
Query[fi]=http://search.cpan.org/search?mode=\\{mode,2,""}&query=\\{query,q,1}
Query[fr]=http://search.cpan.org/search?mode=\\{mode,2,""}&query=\\{query,q,1}
Query[ga]=http://search.cpan.org/search?mode=\\{mode,2,""}&query=\\{query,q,1}
Query[gl]=http://search.cpan.org/search?mode=\\{mode,2,""}&query=\\{query,q,1}
Query[gu]=http://search.cpan.org/search?mode=\\{mode,2,""}&query=\\{query,q,1}
Query[he]=http://search.cpan.org/search?mode=\\{mode,2,""}&query=\\{query,q,1}
Query[hi]=http://search.cpan.org/search?mode=\\{mode,2,""}&query=\\{query,q,1}
Query[hu]=http://search.cpan.org/search?mode=\\{mode,2,""}&query=\\{query,q,1}
Query[ia]=http://search.cpan.org/search?mode=\\{mode,2,"dist"}&query=\\{query,q,1}
Query[is]=http://search.cpan.org/search?mode=\\{mode,2,""}&query=\\{query,q,1}
Query[it]=http://search.cpan.org/search?mode=\\{mode,2,""}&query=\\{query,q,1}
Query[ja]=http://search.cpan.org/search?mode=\\{mode,2,""}&query=\\{query,q,1}
Query[kk]=http://search.cpan.org/search?mode=\\{mode,2,""}&query=\\{query,q,1}
Query[km]=http://search.cpan.org/search?mode=\\{mode,2,""}&query=\\{query,q,1}
Query[ko]=http://search.cpan.org/search?mode=\\{mode,2,""}&query=\\{query,q,1}
Query[lt]=http://search.cpan.org/search?mode=\\{mode,2,""}&query=\\{query,q,1}
Query[lv]=http://search.cpan.org/search?mode=\\{mode,2,""}&query=\\{query,q,1}
Query[mr]=http://search.cpan.org/search?mode=\\{mode,2,""}&query=\\{query,q,1}
Query[nb]=http://search.cpan.org/search?mode=\\{mode,2,""}&query=\\{query,q,1}
Query[nds]=http://search.cpan.org/search?mode=\\{mode,2,""}&query=\\{query,q,1}
Query[nl]=http://search.cpan.org/search?mode=\\{mode,2,""}&query=\\{query,q,1}
Query[nn]=http://search.cpan.org/search?mode=\\{mode,2,""}&query=\\{query,q,1}
Query[pa]=http://search.cpan.org/search?mode=\\{mode,2,""}&query=\\{query,q,1}
Query[pl]=http://search.cpan.org/search?mode=\\{mode,2,""}&query=\\{query,q,1}
Query[pt]=http://search.cpan.org/search?mode=\\{mode,2,""}&query=\\{query,q,1}
Query[pt_BR]=http://search.cpan.org/search?mode=\\{mode,2,""}&query=\\{query,q,1}
Query[ro]=http://search.cpan.org/search?mode=\\{mode,2,""}&query=\\{query,q,1}
Query[ru]=http://search.cpan.org/search?mode=\\{mode,2,""}&query=\\{query,q,1}
Query[sk]=http://search.cpan.org/search?mode=\\{mode,2,""}&query=\\{query,q,1}
Query[sl]=http://search.cpan.org/search?mode=\\{mode,2,""}&query=\\{query,q,1}
Query[sr]=http://search.cpan.org/search?mode=\\{mode,2,""}&query=\\{query,q,1}
Query[sr@ijekavian]=http://search.cpan.org/search?mode=\\{mode,2,""}&query=\\{query,q,1}
Query[sr@ijekavianlatin]=http://search.cpan.org/search?mode=\\{mode,2,""}&query=\\{query,q,1}
Query[sr@latin]=http://search.cpan.org/search?mode=\\{mode,2,""}&query=\\{query,q,1}
Query[sv]=http://search.cpan.org/search?mode=\\{mode,2,""}&query=\\{query,q,1}
Query[tr]=http://search.cpan.org/search?mode=\\{mode,2,""}&query=\\{query,q,1}
Query[ug]=http://search.cpan.org/search?mode=\\{mode,2,""}&query=\\{query,q,1}
Query[uk]=http://search.cpan.org/search?mode=\\{mode,2,""}&query=\\{query,q,1}
Query[vi]=http://search.cpan.org/search?mode=\\{mode,2,""}&query=\\{query,q,1}
Query[wa]=http://search.cpan.org/search?mode=\\{mode,2,""}&query=\\{query,q,1}
Query[x-test]=xxhttp://search.cpan.org/search?mode=\\{mode,2,""}&query=\\{query,q,1}xx
Query[zh_CN]=http://search.cpan.org/search?mode=\\{mode,2,""}&query=\\{query,q,1}
Query[zh_TW]=http://search.cpan.org/search?mode=\\{mode,2,""}&query=\\{query,q,1}
X-KDE-ServiceTypes=SearchProvider
Type=Service
