[Desktop Entry]
Keys=ctan
Name=CTAN - Comprehensive TeX Archive Network
Name[af]=CTAN - Omvattende Tex Argief Netwerk
Name[ar]=Cpan -- ارشيف شبكة شاملة TeX
Name[as]=CTAN - Comprehensive TeX Archive Network
Name[ast]=CTAN - Comprehensive TeX Archive Network
Name[be]=CTAN - Comprehensive TeX Archive Network
Name[be@latin]=CTAN: zbor prahramaŭ u movie „TeX”
Name[bg]=CTAN - Comprehensive TeX Archive Network
Name[bn]=CTAN - কমপ্রিহেনসিভ টেক আর্কাইভ নেটওয়ার্ক
Name[bn_IN]=CTAN - কম্প্রিহেনসিভ TeX আর্কাইভ নেটওয়ার্ক
Name[bs]=CTAN — sveobuhvatna arhiva tiha
Name[ca]=CTAN - Xarxa extensa d'arxius TeX
Name[ca@valencia]=CTAN - Xarxa extensa d'arxius TeX
Name[cs]=CTAN - Comprehensive TeX Archive Network
Name[csb]=CTAN - archiwa TeX-a
Name[cy]=CTAN - Rhwydwaith Archif Cynhwysfawr TeX
Name[da]=CTAN - omfattende TeX-arkivnetværk
Name[de]=CTAN – Umfassendes TeX-Archiv
Name[el]=CTAN - Περιεκτικό δίκτυο αρχειοθήκης TeX
Name[en_GB]=CTAN - Comprehensive TeX Archive Network
Name[eo]=CPAN - Ampleksa reta arkivo de TeX
Name[es]=CTAN - Comprehensive TeX Archive Network
Name[et]=CTAN - Comprehensive TeX Archive Network
Name[eu]=CTAN - TeX fitxategi sare ulergarria
Name[fa]=CTAN - شبکه وسیع بایگانی TeX
Name[fi]=CTAN – Comprehensive TeX Archive Network
Name[fr]=CTAN (Comprehensive TeX Archive Network)
Name[fy]=CTAN - Comprehensive TeX Archive Network
Name[ga]=CTAN - Comprehensive TeX Archive Network
Name[gl]=CTAN, o Comprehensive TeX Archive Network
Name[gu]=CTAN - કોમ્પ્રેસિવ ટેક અર્કાઇવ નેટવર્ક
Name[he]=CTAN - Comprehensive TeX Archive Network
Name[hi]=CTAN - कॉम्प्रेहेंसिव टीईएक्स आर्काइव नेटवर्क
Name[hne]=सीटीएएन - काम्प्रेहेंसिव टीईएक्स आर्काइव नेटवर्क
Name[hr]=CTAN – TeX mreža sveobuhvatne arhive
Name[hsb]=CTAN - Comprehensive TeX Archive Network
Name[hu]=CTAN - Comprehensive TeX Archive Network
Name[ia]=CTAN - Comprehensive TeX Archive Network (Rete Comprehensive de Archivo de TeX)
Name[id]=CTAN - Jaringan Arsip TeX Komprehensif
Name[is]=CTAN - Comprehensive TeX Archive Network
Name[it]=CTAN - Rete globale degli archivi TeX
Name[ja]=CTAN - Comprehensive TeX Archive Network
Name[ka]=CTAN - Comprehensive TeX Archive Network
Name[kk]=CTAN - TeX архив желісі
Name[km]=CTAN - Comprehensive TeX Archive Network
Name[kn]=CTAN -ವ್ಯಾಪಕ ಟೆಕ್ ( TeX) ಕಡತಾಗಾರ (ಆರ್ಕೈವ್) ಜಾಲ
Name[ko]=CTAN - Comprehensive TeX Archive Network
Name[ku]=CTAN - Tora Arşîva TeX yê Bikitekit
Name[lt]=CTAN – Visapusiško TeX Archyvo Tinklas
Name[lv]=CTAN - visaptverošs TeX arhīvu rīkls
Name[mai]=CTAN - काम्प्रेहेंसिव टीईएक्स आर्काइव नेटवर्क
Name[mk]=CTAN - Обемна мрежа со TeX архиви
Name[ml]=സിടാന്‍ - അനേകം വിഷയങ്ങളടങ്ങിയിട്ടുള്ള ടെക് ശേഖരങ്ങളുടെ ശൃംഖല
Name[mr]=CTAN - कॉम्प्रेहेंसिव टेक्स संग्रह संजाळ
Name[ms]=CTAN - Rangkaian Arkib TeX Komprehensif
Name[nb]=CTAN -– TeX-arkiv: «Comprehensive TeX Archive Network»
Name[nds]=CTAN - Comprehensive TeX Archive Network
Name[ne]=CTAN - व्यापक TeX सङ्ग्रह सञ्जाल
Name[nl]=CTAN - Comprehensive TeX Archive Network
Name[nn]=CTAN – TeX-arkiv: «Comprehensive TeX Archive Network»
Name[or]=CTAN - ବ୍ୟାପକ TeX ଅଭିଲେଖ ନେଟୱର୍କ
Name[pa]=CTAN - ਪੈਰਾ TeX ਅਕਾਇਵ ਨੈੱਟਵਰਕ
Name[pl]=CTAN - archiwum TeX-a
Name[pt]=CTAN - Comprehensive TeX Archive Network
Name[pt_BR]=CTAN - Rede Compreensiva de Arquivos de TeX
Name[ro]=CTAN - Arhiva completă de programe TeX
Name[ru]=CTAN — архив TeX
Name[se]=CTAN – TeX-vuorká: «Comprehensive TeX Archive Network»
Name[si]=CTAN - Comprehensive TeX Archive Network
Name[sk]=CTAN - Comprehensive TeX Archive Network
Name[sl]=CPAN - Omrežje obsežnega arhiva za TeX
Name[sr]=ЦТАН — свеобухватна архива теха
Name[sr@ijekavian]=ЦТАН — свеобухватна архива теха
Name[sr@ijekavianlatin]=CTAN — sveobuhvatna arhiva TeX‑a
Name[sr@latin]=CTAN — sveobuhvatna arhiva TeX‑a
Name[sv]=CTAN - Comprehensive TeX Archive Network
Name[ta]=CTAN - முழுமையான TeX ஆவண வலைப்பின்னல்
Name[te]=CTAN - విశదీకృత Tex ఆర్చివ్ నెట్వర్‍క్
Name[tg]=CTAN - Шабакаи бойгонии ҳаматарафаи TeX
Name[th]=CTAN - เครือข่ายเก็บบันทึกภาษา TeX แบบครอบคลุม
Name[tr]=CTAN - Detaylı TeX Arşiv Ağı
Name[ug]=CTAN - كەڭ دائىرىلىك TeX ئارخىپ تورى
Name[uk]=CTAN — всеосяжна мережа архівів TeX
Name[uz]=CTAN - TeX boʻyicha mukammal arxiv tarmogʻi
Name[uz@cyrillic]=CTAN - TeX бўйича мукаммал архив тармоғи
Name[vi]=CTAN - Mạng kho lưu TeX đầy đủ
Name[wa]=CPAN - Rantoele d' Årtchives TeX avou ttafwait
Name[xh]=CTAN - Enomxholo TeX Indawo yokugcina Yomsebenzi womnatha
Name[x-test]=xxCTAN - Comprehensive TeX Archive Networkxx
Name[zh_CN]=CTAN - 综合性 TeX 档案网络
Name[zh_TW]=CTAN - 全面的 Tex 收集網路
Query=http://ctan.org/search?phrase=\\{@}
Query[bg]=http://ctan.org/search?phrase=\\{@}
Query[bs]=http://ctan.org/search?phrase=\\{@}
Query[ca]=http://ctan.org/search?phrase=\\{@}
Query[ca@valencia]=http://ctan.org/search?phrase=\\{@}
Query[cs]=http://ctan.org/search?phrase=\\{@}
Query[da]=http://ctan.org/search?phrase=\\{@}
Query[de]=http://ctan.org/search?phrase=\\{@}
Query[el]=http://ctan.org/search?phrase=\\{@}
Query[es]=http://ctan.org/search?phrase=\\{@}
Query[eu]=http://ctan.org/search?phrase=\\{@}
Query[fi]=http://ctan.org/search?phrase=\\{@}
Query[fr]=http://ctan.org/search?phrase=\\{@}
Query[gl]=http://ctan.org/search?phrase=\\{@}
Query[hi]=http://ctan.org/search?phrase=\\{@}
Query[hu]=http://ctan.org/search?phrase=\\{@}
Query[ia]=http://ctan.org/search?phrase=\\{@}
Query[is]=http://ctan.org/search?phrase=\\{@}
Query[it]=http://ctan.org/search?phrase=\\{@}
Query[ja]=http://ctan.org/search?phrase=\\{@}
Query[kk]=http://ctan.org/search?phrase=\\{@}
Query[ko]=http://ctan.org/search?phrase=\\{@}
Query[lt]=http://ctan.org/search?phrase=\\{@}
Query[nb]=http://ctan.org/search?phrase=\\{@}
Query[nl]=http://ctan.org/search?phrase=\\{@}
Query[nn]=http://ctan.org/search?phrase=\\{@}
Query[pa]=http://ctan.org/search?phrase=\\{@}
Query[pl]=http://ctan.org/search?phrase=\\{@}
Query[pt]=http://ctan.org/search?phrase=\\{@}
Query[pt_BR]=http://ctan.org/search?phrase=\\{@}
Query[ro]=http://ctan.org/search?phrase=\\{@}
Query[ru]=http://ctan.org/search?phrase=\\{@}
Query[sk]=http://ctan.org/search?phrase=\\{@}
Query[sl]=http://ctan.org/search?phrase=\\{@}
Query[sr]=http://ctan.org/search?phrase=\\{@}
Query[sr@ijekavian]=http://ctan.org/search?phrase=\\{@}
Query[sr@ijekavianlatin]=http://ctan.org/search?phrase=\\{@}
Query[sr@latin]=http://ctan.org/search?phrase=\\{@}
Query[sv]=http://ctan.org/search?phrase=\\{@}
Query[tr]=http://ctan.org/search?phrase=\\{@}
Query[ug]=http://ctan.org/search?phrase=\\{@}
Query[uk]=http://ctan.org/search?phrase=\\{@}
Query[wa]=http://ctan.org/search?phrase=\\{@}
Query[x-test]=xxhttp://ctan.org/search?phrase=\\{@}xx
Query[zh_CN]=http://ctan.org/search?phrase=\\{@}
Query[zh_TW]=http://ctan.org/search?phrase=\\{@}
X-KDE-ServiceTypes=SearchProvider
Type=Service
