[Desktop Entry]
Keys=dbug
Name=Debian BTS Bug Search
Name[af]=Debian BTS Fout Soektog
Name[ar]=بحث أخطاء BTS
Name[as]=Debian BTS Bug Search
Name[ast]=Gueta de fallos BTS de Debian
Name[be]=Пошук памылак Debian BTS
Name[be@latin]=Pošuk u bazie viadomych chibaŭ systemy „Debian”
Name[bg]=Търсене на бъгове в Debian BTS
Name[bn]=ডেবিয়ান বি-টি-এস বাগ অনুসন্ধান
Name[bn_IN]=Debian BTS বাগ অনুসন্ধান
Name[bs]=Debijanova baza grešaka
Name[ca]=Cerca d'errors Debian BTS
Name[ca@valencia]=Cerca d'errors Debian BTS
Name[cs]=Hledání chyb Debianu
Name[csb]=Szëkba felów Debiana
Name[cy]=Chwiliad Nam BTS Debian
Name[da]=Debian BTS fejlsøgning
Name[de]=Debian BTS-Programmfehlersuche
Name[el]=Σύστημα εντοπισμού σφαλμάτων του Debian
Name[en_GB]=Debian BTS Bug Search
Name[eo]=Serĉo de cimoj de Debiano
Name[es]=Búsqueda de fallos BTS de Debian
Name[et]=Debiani BTS veaotsing
Name[eu]=Debianen BTS akats bilaketa
Name[fa]=جستجوی اشکال BTS دبیان
Name[fi]=Debianin vikajärjestelmän haku
Name[fr]=Recherche dans le système de gestion des bogues Debian (BTS)
Name[fy]=Debian BTS Bug Search
Name[ga]=Cuardach Fabht i BTS Debian
Name[gl]=Busca no BTS de Debian
Name[gu]=ડેબિયન BTS બગ શોધ
Name[he]=חיפוש באגים של Debian
Name[hi]=डेबियन बीटीएस बग खोज
Name[hne]=डेबियन बीटीएस बग खोज
Name[hr]=Debian BTS pretraživanje nedostataka
Name[hsb]=Debian BTS Bug Search
Name[hu]=Debian BTS hibakereső
Name[ia]=Cerca de Bug Debian BTS
Name[id]=Pencarian Kutu BTS Debian
Name[is]=Debian BTS villuleit
Name[it]=Ricerca di errori nel BTS di Debian
Name[ja]=Debian BTS バグ検索
Name[ka]=Debian BTS Bug Search
Name[kk]=Debian қателер тіркеу жүйесінде іздеу
Name[km]=ស្វែងរក​កំហុស Debian BTS
Name[kn]=ಡೆಬಿಯನ್ BTS ದೋಷ ಹುಡುಕಾಟ
Name[ko]=데비안 BTS 버그 검색
Name[ku]=Lêgerîna Çewtiyên Debian BTS
Name[lt]=Debian BTS programos klaidos paieška
Name[lv]=Debian BTS kļūdu meklēšana
Name[mai]=डेबियन बीटीएस बग खोज
Name[mk]=Debian BTS пребарување на бубачки
Name[ml]=ഡെബിയന്‍ ബിടിഎസ്സിലെ പിഴവുകള്‍ തെരയുക
Name[mr]=डेबियन बीटीएस बग शोध
Name[ms]=Carian Pepijat BTS Debian
Name[nb]=Søk etter feil i Debian BTS
Name[nds]=Debian-BTS-Fehlersöök
Name[ne]=डेबियन BTS बग खोज्नुहोस्
Name[nl]=Debian BTS Bug Search
Name[nn]=Søk etter lus i Debian BTS
Name[or]=Debian BTS ତ୍ରୁଟି ସନ୍ଧାନ
Name[pa]=ਡੇਬੀਅਨ BTS ਬੱਗ ਖੋਜ
Name[pl]=Wyszukiwanie błędów Debiana
Name[pt]=Procura de Erros no Debian BTS
Name[pt_BR]=Busca de erros Debian BTS
Name[ro]=Căutare în sistemul Debian de raportare a erorilor
Name[ru]=Поиск в базе ошибок Debian
Name[se]=Oza dihkiid Debian BTS:as
Name[si]=Debian BTS Bug Search
Name[sk]=Hľadanie chýb na Debian BTS
Name[sl]=Iskanje po hroščih Debian BTS
Name[sr]=Дебијанова база грешака
Name[sr@ijekavian]=Дебијанова база грешака
Name[sr@ijekavianlatin]=Debianova baza grešaka
Name[sr@latin]=Debianova baza grešaka
Name[sv]=Sökning i Debians felspårningssystem
Name[ta]=டெபியன் BTS பிழை தேடல்
Name[te]=Debian BTS బగ్ శోధన
Name[tg]=Системаи ҷустуҷӯи хатоҳои Debian BTS
Name[th]=ค้นหาบั๊กของ Debian BTS
Name[tr]=Debian BTS Hata Arama
Name[ug]=Debian BTS كەمتۈك ئىزدە
Name[uk]=Пошук у системі стеження за помилками для Debian
Name[vi]=Tìm kiếm lỗi trong Debian BTS
Name[wa]=Cweraedje di bug BTS Debian
Name[x-test]=xxDebian BTS Bug Searchxx
Name[zh_CN]=Debian BTS Bug 搜索
Name[zh_TW]=Debian BTS 臭蟲搜尋
Query=http://bugs.debian.org/\\{@}
Query[af]=http://bugs.debian.org/\\{@}
Query[ar]=http://bugs.debian.org/\\{@}
Query[as]=http://bugs.debian.org/\\{@}
Query[ast]=http://bugs.debian.org/\\{@}
Query[be]=http://bugs.debian.org/\\{@}
Query[be@latin]=http://bugs.debian.org/\\{@}
Query[bg]=http://bugs.debian.org/\\{@}
Query[bn]=http://bugs.debian.org/\\{@}
Query[bn_IN]=http://bugs.debian.org/\\{@}
Query[br]=http://bugs.debian.org/\\{@}
Query[bs]=http://bugs.debian.org/\\{@}
Query[ca]=http://bugs.debian.org/\\{@}
Query[ca@valencia]=http://bugs.debian.org/\\{@}
Query[cs]=http://bugs.debian.org/\\{@}
Query[csb]=http://bugs.debian.org/\\{@}
Query[da]=http://bugs.debian.org/\\{@}
Query[de]=http://bugs.debian.org/\\{@}
Query[el]=http://bugs.debian.org/\\{@}
Query[en_GB]=http://bugs.debian.org/\\{@}
Query[eo]=http://bugs.debian.org/\\{@}
Query[es]=http://bugs.debian.org/\\{@}
Query[et]=http://bugs.debian.org/\\{@}
Query[eu]=http://bugs.debian.org/\\{@}
Query[fa]=http://bugs.debian.org/\\{@}
Query[fi]=http://bugs.debian.org/\\{@}
Query[fr]=http://bugs.debian.org/\\{@}
Query[fy]=http://bugs.debian.org/\\{@}
Query[ga]=http://bugs.debian.org/\\{@}
Query[gl]=http://bugs.debian.org/\\{@}
Query[gu]=http://bugs.debian.org/\\{@}
Query[he]=http://bugs.debian.org/\\{@}
Query[hi]=http://bugs.debian.org/\\{@}
Query[hne]=http://bugs.debian.org/\\{@}
Query[hr]=http://bugs.debian.org/\\{@}
Query[hsb]=http://bugs.debian.org/\\{@}
Query[hu]=http://bugs.debian.org/\\{@}
Query[ia]=http://bugs.debian.org/\\{@}
Query[id]=http://bugs.debian.org/\\{@}
Query[is]=http://bugs.debian.org/\\{@}
Query[it]=http://bugs.debian.org/\\{@}
Query[ja]=http://bugs.debian.org/\\{@}
Query[ka]=http://bugs.debian.org/\\{@}
Query[kk]=http://bugs.debian.org/\\{@}
Query[km]=http://bugs.debian.org/\\{@}
Query[kn]=http://bugs.debian.org/\\{@}
Query[ko]=http://bugs.debian.org/\\{@}
Query[ku]=http://bugs.debian.org/\\{@}
Query[lt]=http://bugs.debian.org/\\{@}
Query[lv]=http://bugs.debian.org/\\{@}
Query[mai]=http://bugs.debian.org/\\{@}
Query[ml]=http://bugs.debian.org/\\{@}
Query[mr]=http://bugs.debian.org/\\{@}
Query[ms]=http://bugs.debian.org/\\{@}
Query[nb]=http://bugs.debian.org/\\{@}
Query[nds]=http://bugs.debian.org/\\{@}
Query[ne]=http://bugs.debian.org/\\{@}
Query[nl]=http://bugs.debian.org/\\{@}
Query[nn]=http://bugs.debian.org/\\{@}
Query[oc]=http://bugs.debian.org/\\{@}
Query[or]=http://bugs.debian.org/\\{@}
Query[pa]=http://bugs.debian.org/\\{@}
Query[pl]=http://bugs.debian.org/\\{@}
Query[pt]=http://bugs.debian.org/\\{@}
Query[pt_BR]=http://bugs.debian.org/\\{@}
Query[ro]=http://bugs.debian.org/\\{@}
Query[ru]=http://bugs.debian.org/\\{@}
Query[se]=http://bugs.debian.org/\\{@}
Query[si]=http://bugs.debian.org/\\{@}
Query[sk]=http://bugs.debian.org/\\{@}
Query[sl]=http://bugs.debian.org/\\{@}
Query[sr]=http://bugs.debian.org/\\{@}
Query[sr@ijekavian]=http://bugs.debian.org/\\{@}
Query[sr@ijekavianlatin]=http://bugs.debian.org/\\{@}
Query[sr@latin]=http://bugs.debian.org/\\{@}
Query[sv]=http://bugs.debian.org/\\{@}
Query[ta]=http://bugs.debian.org/\\{@}
Query[te]=http://bugs.debian.org/\\{@}
Query[tg]=http://bugs.debian.org/\\{@}
Query[th]=http://bugs.debian.org/\\{@}
Query[tr]=http://bugs.debian.org/\\{@}
Query[ug]=http://bugs.debian.org/\\{@}
Query[uk]=http://bugs.debian.org/\\{@}
Query[uz]=http://bugs.debian.org/\\{@}
Query[uz@cyrillic]=http://bugs.debian.org/\\{@}
Query[vi]=http://bugs.debian.org/\\{@}
Query[wa]=http://bugs.debian.org/\\{@}
Query[x-test]=xxhttp://bugs.debian.org/\\{@}xx
Query[zh_CN]=http://bugs.debian.org/\\{@}
Query[zh_TW]=http://bugs.debian.org/\\{@}
X-KDE-ServiceTypes=SearchProvider
Type=Service
