[Desktop Entry]
Charset=
Hidden=false
Keys=de2en
Name=dict.cc Translation: German to English
Name[af]=dict.cc Translation: German to English
Name[ar]=ترجمة dict.cc: ألماني إلى إنجليزي
Name[as]=dict.cc Translation: German to English
Name[ast]=Tornes dict.cc: alemán a inglés
Name[be]=dict.cc Пераклад: з нямецкай на англійскую
Name[be@latin]=Pierakład „dict.cc”: niamieckaja ➙ anhielskaja
Name[bg]=Превод с dict.cc— от немски към английски
Name[bn]=dict.cc Translation: German to English
Name[bn_IN]=dict.cc অনুবাদ: জার্মান থেকে ইংরাজি
Name[bs]=German to English: dikt.cc: sa nemačkog na engleski
Name[ca]=Traducció dict.cc: Alemany - Anglès
Name[ca@valencia]=Traducció dict.cc: Alemany - Anglés
Name[cs]=Překlad dic.cc: z němčiny do angličtiny
Name[csb]=dict.cc: miemiecczi -> anielsczi
Name[da]=dict.cc oversættelse: Tysk til engelsk
Name[de]=dict.cc – Übersetzung: Deutsch/Englisch
Name[el]=Μετάφραση dict.cc: Γερμανικά σε Αγγλικά
Name[en_GB]=dict.cc Translation: German to English
Name[eo]=Tradukado dict.cc: germane anglen
Name[es]=Traducciones dict.cc: alemán a inglés
Name[et]=dict.cc tõlkimine: saksa->inglise
Name[eu]=dict.cc itzulpena: Alemanatik ingelera
Name[fa]=ترجمه dict.cc: آلمانی به انگلیسی
Name[fi]=dict.cc-käännös saksasta englanniksi
Name[fr]=Traduction dict.cc : allemand vers anglais
Name[fy]=dict.cc-oersetting Dûts nei Ingelsk
Name[ga]=dict.cc Aistriúchán: Gearmáinis go Béarla
Name[gl]=Tradución dict.cc: Alemán a inglés
Name[gu]=dict.cc ભાષાંતર: જર્મન થી અંગ્રેજી
Name[he]=תרגום dict.cc: גרמנית לאנגלית
Name[hi]=dict.cc अनुवादः जर्मन से अंग्रेजी
Name[hne]=dict.cc अनुवादः जर्मन से अंगरेजी
Name[hr]=dict.cc Prijevod: njemački na engleski
Name[hsb]=dict.cc přełožowanje: němsce -> jendźelsce
Name[hu]=Dict.cc - Fordítás németről angolra
Name[ia]=dict.cc Traduction: Germano a Anglese
Name[id]=Terjemahan dict.cc: Bahasa Jerman ke Inggris
Name[is]=dict.cc Þýðing: Þýska til ensku
Name[it]=Traduzione dict.cc: dal tedesco all'inglese
Name[ja]=dict.cc ドイツ語-英語翻訳
Name[ka]=dict.cc Translation: German to English
Name[kk]=dict.cc аудармашы: неміс тілінен ағылшынға
Name[km]=ការ​បកប្រែ dict.cc ៖ ភាសា​អាល្លឺម៉ង់​ទៅ​ជា​អង់គ្លេស
Name[kn]=dict.cc ಭಾಷಾಂತರ: ಜರ್ಮನ್ ನಿಂದ ಇಂಗ್ಲೀಷಿಗೆ
Name[ko]=dict.cc 번역: 독일어에서 영어로
Name[ku]=dict.cc Wergerandin: Almanî ji Îngilîzî re 
Name[lt]=dict.cc vertimas: iš vokiečių į anglų
Name[lv]=dict.cc tulkošana: no Vācu uz Angļu
Name[mai]=dict.cc अनुवादः जर्मन सँ अंग्रेजी
Name[mk]=dict.cc превод: од германски на англиски
Name[ml]=dict.cc പരിഭാഷ: ജര്‍മനില്‍ നിന്നും ഇംഗ്ലീഷിലേയ്ക്കു്
Name[mr]=dict.cc अनुवादः जर्मन ते अंग्रेजी
Name[nb]=dict.cc Oversettelse fra tysk til engelsk
Name[nds]=dict.cc Översetten: Hoochdüütsch na Engelsch
Name[ne]=dict.cc अनुवाद: जर्मनीलाई अङ्ग्रेजीमा
Name[nl]=dict.cc-vertaling: Duits naar Engels
Name[nn]=dict.cc Omsetjing: Tysk til engelsk
Name[or]=dict.cc ଅନୁବାଦ: ଜର୍ମାନରୁ ଇଂରାଜୀ
Name[pa]=dict.cc ਟਰਾਂਸਲੇਸ਼ਨ: ਜਰਮਨ ਤੋਂ ਅੰਗਰੇਜ਼ੀ
Name[pl]=dict.cc: niemiecki -> angielski
Name[pt]=Tradução do dict.cc: Alemão para Inglês
Name[pt_BR]=dict.cc - Tradução: alemão para inglês
Name[ro]=Traducere dict.cc: germană la engleză
Name[ru]=Переводчик dictcc.com: немецко-английский
Name[se]=dict.cc Jorgaleapmi: Duiskkagielas eŋgelašgillii
Name[si]=dict.cc Translation: German to English
Name[sk]=dict.cc Preklad z nemčiny do angličtiny
Name[sl]=Prevod dict.cc: nemščina v angleščino
Name[sr]=German to English: дикт.цц: са немачког на енглески
Name[sr@ijekavian]=German to English: дикт.цц: са њемачког на енглески
Name[sr@ijekavianlatin]=dict.cc: sa nemačkog na engleski
Name[sr@latin]=dict.cc: sa nemačkog na engleski
Name[sv]=dict.cc översättning: tyska till engelska
Name[ta]=dict.cc Translation மொழிப்பெயர்ப்பு: ஜெர்மன் மொழியில் இருந்து ஆங்கிலத்துக்கு
Name[te]=dict.cc అనువాదము: జెర్మన్ నుండి ఇంగ్లీష్
Name[tg]=Тарҷумаҳои dict.cc: Немисӣ ба англисӣ
Name[th]=dict.cc แปลภาษาเยอรมันเป็นอังกฤษ
Name[tr]=dict.cc Çevirisi: Almancadan İngilizceye
Name[ug]=dict.cc تەرجىمە: گېرمانچىدىن ئىنگلىزچىغا
Name[uk]=dict.cc — переклад з німецької англійською
Name[uz]=dict.cc tarjima: Olmonchadan Inglizchaga
Name[uz@cyrillic]=dict.cc таржима: Олмончадан Инглизчага
Name[vi]=dict.cc Dịch: Tiếng Đức sang tiếng Anh
Name[wa]=Ratournaedje dict.cc: di l' almand viè l' inglès
Name[x-test]=xxdict.cc Translation: German to Englishxx
Name[zh_CN]=dict.cc 翻译：德语译英语
Name[zh_TW]=dict.cc 翻譯: 德文至英文
Query=http://www.dict.cc/?s=\\{@}
Query[af]=http://www.dict.cc/?s=\\{@}
Query[ar]=http://www.dict.cc/?s=\\{@}
Query[as]=http://www.dict.cc/?s=\\{@}
Query[ast]=http://www.dict.cc/?s=\\{@}
Query[be]=http://www.dict.cc/?s=\\{@}
Query[be@latin]=http://www.dict.cc/?s=\\{@}
Query[bg]=http://www.dict.cc/?s=\\{@}
Query[bn]=http://www.dict.cc/?s=\\{@}
Query[bn_IN]=http://www.dict.cc/?s=\\{@}
Query[br]=http://www.dict.cc/?s=\\{@}
Query[bs]=http://www.dict.cc/?s=\\{@}
Query[ca]=http://www.dict.cc/?s=\\{@}
Query[ca@valencia]=http://www.dict.cc/?s=\\{@}
Query[cs]=http://www.dict.cc/?s=\\{@}
Query[csb]=http://www.dict.cc/?s=\\{@}
Query[da]=http://www.dict.cc/?s=\\{@}
Query[de]=http://www.dict.cc/?s=\\{@}
Query[el]=http://www.dict.cc/?s=\\{@}
Query[en_GB]=http://www.dict.cc/?s=\\{@}
Query[eo]=http://www.dict.cc/?s=\\{@}
Query[es]=http://www.dict.cc/?s=\\{@}
Query[et]=http://www.dict.cc/?s=\\{@}
Query[eu]=http://www.dict.cc/?s=\\{@}
Query[fa]=http://www.dict.cc/?s=\\{@}
Query[fi]=http://www.dict.cc/?s=\\{@}
Query[fr]=http://www.dict.cc/?s=\\{@}
Query[fy]=http://www.dict.cc/?s=\\{@}
Query[ga]=http://www.dict.cc/?s=\\{@}
Query[gl]=http://www.dict.cc/?s=\\{@}
Query[gu]=http://www.dict.cc/?s=\\{@}
Query[he]=http://www.dict.cc/?s=\\{@}
Query[hi]=http://www.dict.cc/?s=\\{@}
Query[hne]=http://www.dict.cc/?s=\\{@}
Query[hr]=http://www.dict.cc/?s=\\{@}
Query[hsb]=http://www.dict.cc/?s=\\{@}
Query[hu]=http://www.dict.cc/?s=\\{@}
Query[ia]=http://www.dict.cc/?s=\\{@}
Query[id]=http://www.dict.cc/?s=\\{@}
Query[is]=http://www.dict.cc/?s=\\{@}
Query[it]=http://www.dict.cc/?s=\\{@}
Query[ja]=http://www.dict.cc/?s=\\{@}
Query[ka]=http://www.dict.cc/?s=\\{@}
Query[kk]=http://www.dict.cc/?s=\\{@}
Query[km]=http://www.dict.cc/?s=\\{@}
Query[kn]=http://www.dict.cc/?s=\\{@}
Query[ko]=http://www.dict.cc/?s=\\{@}
Query[ku]=http://www.dict.cc/?s=\\{@}
Query[lt]=http://www.dict.cc/?s=\\{@}
Query[lv]=http://www.dict.cc/?s=\\{@}
Query[mai]=http://www.dict.cc/?s=\\{@}
Query[ml]=http://www.dict.cc/?s=\\{@}
Query[mr]=http://www.dict.cc/?s=\\{@}
Query[ms]=http://www.dict.cc/?s=\\{@}
Query[nb]=http://www.dict.cc/?s=\\{@}
Query[nds]=http://www.dict.cc/?s=\\{@}
Query[ne]=http://www.dict.cc/?s=\\{@}
Query[nl]=http://www.dict.cc/?s=\\{@}
Query[nn]=http://www.dict.cc/?s=\\{@}
Query[oc]=http://www.dict.cc/?s=\\{@}
Query[or]=http://www.dict.cc/?s=\\{@}
Query[pa]=http://www.dict.cc/?s=\\{@}
Query[pl]=http://www.dict.cc/?s=\\{@}
Query[pt]=http://www.dict.cc/?s=\\{@}
Query[pt_BR]=http://www.dict.cc/?s=\\{@}
Query[ro]=http://www.dict.cc/?s=\\{@}
Query[ru]=http://www.dict.cc/?s=\\{@}
Query[se]=http://www.dict.cc/?s=\\{@}
Query[si]=http://www.dict.cc/?s=\\{@}
Query[sk]=http://www.dict.cc/?s=\\{@}
Query[sl]=http://www.dict.cc/?s=\\{@}
Query[sr]=http://www.dict.cc/?s=\\{@}
Query[sr@ijekavian]=http://www.dict.cc/?s=\\{@}
Query[sr@ijekavianlatin]=http://www.dict.cc/?s=\\{@}
Query[sr@latin]=http://www.dict.cc/?s=\\{@}
Query[sv]=http://www.dict.cc/?s=\\{@}
Query[ta]=http://www.dict.cc/?s=\\{@}
Query[te]=http://www.dict.cc/?s=\\{@}
Query[tg]=http://www.dict.cc/?s=\\{@}
Query[th]=http://www.dict.cc/?s=\\{@}
Query[tr]=http://www.dict.cc/?s=\\{@}
Query[ug]=http://www.dict.cc/?s=\\{@}
Query[uk]=http://www.dict.cc/?s=\\{@}
Query[uz]=http://www.dict.cc/?s=\\{@}
Query[uz@cyrillic]=http://www.dict.cc/?s=\\{@}
Query[vi]=http://www.dict.cc/?s=\\{@}
Query[wa]=http://www.dict.cc/?s=\\{@}
Query[x-test]=xxhttp://www.dict.cc/?s=\\{@}xx
Query[zh_CN]=http://www.dict.cc/?s=\\{@}
Query[zh_TW]=http://www.dict.cc/?s=\\{@}
X-KDE-ServiceTypes=SearchProvider
Type=Service
