[Desktop Entry]
Type=Service
Name=CNRTL/TILF French dictionary
Name[ar]=القاموس الفرنسي التقني من المركز الوطني للمراجع اللغوية
Name[ast]=Diccionariu de francés CNRTL/TILF
Name[bg]=Френски речник CNRTL/TILF
Name[bn]=CNRTL/TILF ফরাসী ডিকশনারী
Name[bs]=CNRTL/TILF francuski rječnik
Name[ca]=Diccionari francès CNRTL/TILF
Name[ca@valencia]=Diccionari francés CNRTL/TILF
Name[cs]=Francouzský slovník CNRTL/TILF
Name[csb]=CNRTL/TILF francësczi słowôrz
Name[da]=CNRTL/TILF fransk ordbog
Name[de]=CNRTL/TILF Französisches Wörterbuch
Name[el]=CNRTL/TILF Γαλλικό Λεξικό
Name[en_GB]=CNRTL/TILF French dictionary
Name[eo]=Franca vortaro CNRTL/TILF
Name[es]=Diccionario de francés CNRTL/TILF
Name[et]=CNRTL/TILF prantsuse keele sõnaraamat
Name[eu]=CNRTL/TILF hiztegi Frantsesa
Name[fa]=فرهنگ لغت فرانسوی CNRTL/TILF
Name[fi]=CNRTL/TILF ranskankielinen sanakirja
Name[fr]=Dictionnaire français du CNRTL / TILF
Name[fy]=CNRTL/TILF Frânsk wurdboek
Name[ga]=Foclóir Fraincise CNRTL/TILF
Name[gl]=Dicionario de francés do CNRTL/TILF
Name[gu]=CNRTL/TILF ફ્રેન્ચ શબ્દકોશ
Name[he]=מילון צרפתי CNRTL/TILF
Name[hi]=CNRTL/TILF फ्रेंच शब्दकोश
Name[hr]=CNRTL/TILF francuski rječnik
Name[hu]=CNRTL/TILF francia szótár
Name[ia]=CNRTL/TILF Dictionario de Francese
Name[id]=Kamus bahasa Perancis CNRTL/TILF
Name[is]=CNRTL/TILF frönsk orðabók
Name[it]=Dizionario francese CNRTL/TILF
Name[ja]=CNRTL/TILF フランス語辞書
Name[kk]=CNRTL/TILF француз сөздігі
Name[km]=ចនានុក្រម​ភាសា​បារាំង CNRTL/TILF
Name[kn]=CNRTL/TILF ಫ್ರೆಂಚ್ ನಿಘಂಟು
Name[ko]=CNRTL/TILF 프랑스어 사전
Name[lt]=CNRTL/TILF prancūzų kalbos žodynas
Name[lv]=CNRTL/TILF franču vārdnīca
Name[mai]=CNRTL/TILF फ्रेंच शब्दकोश
Name[mk]=CNRTL/TILF француски речник
Name[ml]=സിഎന്‍ആര്‍ടിഎല്‍/ടിഐഎല്‍എഫ് ഫ്രഞ്ച് നിഘണ്ടു
Name[mr]=CNRTL/TILF फ्रेंच शब्दकोश
Name[nb]=CNRTL/TILF fransk ordbok
Name[nds]=Franzöösch Wöörbook CNRTL/TILF
Name[nl]=CNRTL/TILF Frans woordenboek
Name[nn]=CNRTL/TILF fransk ordbok
Name[pa]=CNRTL/TILF ਫਰੈਂਚ ਡਿਕਸ਼ਨਰੀ
Name[pl]=Słownik francuskiego SNRTL/TILF
Name[pt]=Dicionário de Francês CNRTL/TILF
Name[pt_BR]=Dicionário francês CNRTL/TILF
Name[ro]=Dicționar francez CNRTL/TILF
Name[ru]=Французский словарь CNRTL/TILF
Name[si]=CNRTL/TILF ප්‍රංශ ශබ්ද කෝශය
Name[sk]=Francúzsky slovník CNRTL/TILF
Name[sl]=Francoski slovar CNRTL/TILF
Name[sr]=ЦНРТЛ/ТИЛФ француски речник
Name[sr@ijekavian]=ЦНРТЛ/ТИЛФ француски речник
Name[sr@ijekavianlatin]=CNRTL/TILF francuski rečnik
Name[sr@latin]=CNRTL/TILF francuski rečnik
Name[sv]=CNRTL/TILF fransk ordlista
Name[tg]=Луғати забони франсавӣ CNRTL/TILF
Name[th]=พจนานุกรมภาษาฝรั่งเศส CNRTL/TILF
Name[tr]=CNRTL/TILF Fransızca sözlük
Name[ug]=CNRTL/TILF فىرانسۇزچە لۇغەت
Name[uk]=Французький словник CNRTL/TILF
Name[vi]=Từ điển tiếng Pháp CNRTL/TILF
Name[wa]=Motî francès CNRTL/TILF
Name[x-test]=xxCNRTL/TILF French dictionaryxx
Name[zh_CN]=CNRTL/TILF 法语词典
Name[zh_TW]=CNRTL/TILF 法語字典
X-KDE-ServiceTypes=SearchProvider
Keys=dictfr
Query=http://www.cnrtl.fr/definition/\\{@}
Query[ar]=http://www.dict.cc/?s=\\{@}
Query[ast]=http://www.cnrtl.fr/definition/\\{@}
Query[bg]=http://www.cnrtl.fr/definition/\\{@}
Query[bn]=http://www.cnrtl.fr/definition/\\{@}
Query[bs]=http://www.cnrtl.fr/definition/\\{@}
Query[ca]=http://www.cnrtl.fr/definition/\\{@}
Query[ca@valencia]=http://www.cnrtl.fr/definition/\\{@}
Query[cs]=http://www.cnrtl.fr/definition/\\{@}
Query[csb]=http://www.cnrtl.fr/definition/\\{@}
Query[da]=http://www.cnrtl.fr/definition/\\{@}
Query[de]=http://www.cnrtl.fr/definition/\\{@}
Query[el]=http://www.cnrtl.fr/definition/\\{@}
Query[en_GB]=http://www.cnrtl.fr/definition/\\{@}
Query[eo]=http://www.cnrtl.fr/definition/\\{@}
Query[es]=http://www.cnrtl.fr/definition/\\{@}
Query[et]=http://www.cnrtl.fr/definition/\\{@}
Query[eu]=http://www.cnrtl.fr/definition/\\{@}
Query[fa]=http://www.cnrtl.fr/definition/\\{@}
Query[fi]=http://www.cnrtl.fr/definition/\\{@}
Query[fr]=http://www.cnrtl.fr/definition/\\{@}
Query[fy]=http://www.cnrtl.fr/definition/\\{@}
Query[ga]=http://www.cnrtl.fr/definition/\\{@}
Query[gl]=http://www.cnrtl.fr/definition/\\{@}
Query[gu]=http://www.cnrtl.fr/definition/\\{@}
Query[he]=http://www.cnrtl.fr/definition/\\{@}
Query[hi]=http://www.cnrtl.fr/definition/\\{@}
Query[hr]=http://www.cnrtl.fr/definition/\\{@}
Query[hu]=http://www.cnrtl.fr/definition/\\{@}
Query[ia]=http://www.cnrtl.fr/definition/\\{@}
Query[id]=http://www.cnrtl.fr/definition/\\{@}
Query[is]=http://www.cnrtl.fr/definition/\\{@}
Query[it]=http://www.cnrtl.fr/definition/\\{@}
Query[ja]=http://www.cnrtl.fr/definition/\\{@}
Query[kk]=http://www.cnrtl.fr/definition/\\{@}
Query[km]=http://www.cnrtl.fr/definition/\\{@}
Query[kn]=http://www.dict.cc/?s=\\{@}
Query[ko]=http://www.cnrtl.fr/definition/\\{@}
Query[lt]=http://www.cnrtl.fr/definition/\\{@}
Query[lv]=http://www.cnrtl.fr/definition/\\{@}
Query[mai]=http://www.cnrtl.fr/definition/\\{@}
Query[ml]=http://www.cnrtl.fr/definition/\\{@}
Query[mr]=http://www.cnrtl.fr/definition/\\{@}
Query[nb]=http://www.cnrtl.fr/definition/\\{@}
Query[nds]=http://www.cnrtl.fr/definition/\\{@}
Query[nl]=http://www.cnrtl.fr/definition/\\{@}
Query[nn]=http://www.cnrtl.fr/definition/\\{@}
Query[pa]=http://www.cnrtl.fr/definition/\\{@}
Query[pl]=http://www.cnrtl.fr/definition/\\{@}
Query[pt]=http://www.cnrtl.fr/definition/\\{@}
Query[pt_BR]=http://www.cnrtl.fr/definition/\\{@}
Query[ro]=http://www.cnrtl.fr/definition/\\{@}
Query[ru]=http://www.cnrtl.fr/definition/\\{@}
Query[si]=http://www.cnrtl.fr/definition/\\{@}
Query[sk]=http://www.cnrtl.fr/definition/\\{@}
Query[sl]=http://www.cnrtl.fr/definition/\\{@}
Query[sr]=http://www.cnrtl.fr/definition/\\{@}
Query[sr@ijekavian]=http://www.cnrtl.fr/definition/\\{@}
Query[sr@ijekavianlatin]=http://www.cnrtl.fr/definition/\\{@}
Query[sr@latin]=http://www.cnrtl.fr/definition/\\{@}
Query[sv]=http://www.cnrtl.fr/definition/\\{@}
Query[tg]=http://www.cnrtl.fr/definition/\\{@}
Query[th]=http://www.cnrtl.fr/definition/\\{@}
Query[tr]=http://www.cnrtl.fr/definition/\\{@}
Query[ug]=http://www.cnrtl.fr/definition/\\{@}
Query[uk]=http://www.cnrtl.fr/definition/\\{@}
Query[vi]=http://www.cnrtl.fr/definition/\\{@}
Query[wa]=http://www.cnrtl.fr/definition/\\{@}
Query[x-test]=xxhttp://www.cnrtl.fr/definition/\\{@}xx
Query[zh_CN]=http://www.cnrtl.fr/definition/\\{@}
Query[zh_TW]=http://www.cnrtl.fr/definition/\\{@}
