[Desktop Entry]
Type=Service
Name=Open Directory
Name[af]=Open Directory
Name[ar]=افتح مجلداً
Name[as]=মুক্ত পঞ্জিকা
Name[ast]=Direutoriu abiertu
Name[be]=Open Directory
Name[be@latin]=Open Directory
Name[bg]=Open Directory
Name[bn]=ওপেন ডিরেক্টরি
Name[bn_IN]=মুক্ত ডিরেক্টরি
Name[br]=Digeriñ ur renkell
Name[bs]=Otvoreni imenik
Name[ca]=Open Directory
Name[ca@valencia]=Open Directory
Name[cs]=Open Directory
Name[csb]=Open Directory - Ôpen katalog starnów WWW
Name[cy]=Cyfeiriadur Agored
Name[da]=Open Directory
Name[de]=Open Directory
Name[el]=Open Directory
Name[en_GB]=Open Directory
Name[eo]=Malferma dosierujo
Name[es]=Directorio abierto
Name[et]=Open Directory
Name[eu]=Irekitako direktorioa
Name[fa]=Open Directory
Name[fi]=Open Directory
Name[fr]=Open Directory
Name[fy]=Iepen Directory
Name[ga]=Open Directory
Name[gl]=Directorio aberto
Name[gu]=ડિરેક્ટરી ખોલો
Name[he]=המדריך הפתוח
Name[hi]=ओपन डिरेक्ट्री
Name[hne]=ओपन डिरेक्टरी
Name[hr]=Open Directory
Name[hsb]=Zapisk wočinić
Name[hu]=Open Directory
Name[ia]=Aperi directorio
Name[id]=Buka Direktori
Name[is]=Open Directory
Name[it]=Open Directory
Name[ja]=Open Directory
Name[ka]=ღია კატალოგები
Name[kk]=Ашық каталог
Name[km]=បើក​ថត
Name[kn]=ಕಡತಕೋಶವನ್ನು ತೆರೆ
Name[ko]=Open Directory
Name[ku]=Peldank Veke
Name[lt]=Open Directory
Name[lv]=Open Directory
Name[mai]=ओपन डिरेक्ट्री
Name[mk]=Отворен директориум
Name[ml]=തട്ടു് തുറക്കുക
Name[mr]=संचयीका उघडा
Name[ms]=Open Directory
Name[nb]=Open Directory
Name[nds]=Open Directory
Name[ne]=डाइरेक्टरी खोल्नुहोस्
Name[nl]=Open Directory
Name[nn]=Open Directory
Name[or]=ଡ଼ିରେକ୍ଟୋରୀ ଖୋଲନ୍ତୁ
Name[pa]=ਖੁੱਲੀ ਡਾਇਰੈਕਟਰੀ
Name[pl]=Open Directory - katalog stron WWW
Name[pt]=Open Directory
Name[pt_BR]=Open Directory
Name[ro]=Director Deschis
Name[ru]=Открытый каталог
Name[se]=Open Directory
Name[si]=විවෘත නාමාවලිය
Name[sk]=Open Directory
Name[sl]=Odprt imenik
Name[sr]=Отворени именик
Name[sr@ijekavian]=Отворени именик
Name[sr@ijekavianlatin]=Otvoreni imenik
Name[sr@latin]=Otvoreni imenik
Name[sv]=Öppen katalog
Name[ta]=அடைவை திற
Name[te]=ఓపెన్ డైరెక్టరీ
Name[tg]=Кушодани феҳрист
Name[th]=บริการ Open Directory
Name[tr]=Open Directory
Name[ug]=قىسقۇچ ئاچ
Name[uk]=Відкритий каталог
Name[uz]=Open Directory
Name[uz@cyrillic]=Open Directory
Name[vi]=Thư mục mở
Name[wa]=Open Directory
Name[xh]=Vula Ulawulo
Name[x-test]=xxOpen Directoryxx
Name[zh_CN]=Open Directory
Name[zh_TW]=開啟目錄
X-KDE-ServiceTypes=SearchProvider
Keys=dmoz,odp
Query=http://search.dmoz.org/cgi-bin/search?search=\\{@}
Query[af]=http://search.dmoz.org/cgi-bin/search?search=\\{@}
Query[ar]=http://search.dmoz.org/cgi-bin/search?search=\\{@}
Query[as]=http://search.dmoz.org/cgi-bin/search?search=\\{@}
Query[ast]=http://search.dmoz.org/cgi-bin/search?search=\\{@}
Query[be]=http://search.dmoz.org/cgi-bin/search?search=\\{@}
Query[be@latin]=http://search.dmoz.org/cgi-bin/search?search=\\{@}
Query[bg]=http://search.dmoz.org/cgi-bin/search?search=\\{@}
Query[bn]=http://search.dmoz.org/cgi-bin/search?search=\\{@}
Query[bn_IN]=http://search.dmoz.org/cgi-bin/search?search=\\{@}
Query[br]=http://search.dmoz.org/cgi-bin/search?search=\\{@}
Query[bs]=http://search.dmoz.org/cgi-bin/search?search=\\{@}
Query[ca]=http://search.dmoz.org/cgi-bin/search?search=\\{@}
Query[ca@valencia]=http://search.dmoz.org/cgi-bin/search?search=\\{@}
Query[cs]=http://search.dmoz.org/cgi-bin/search?search=\\{@}
Query[csb]=http://search.dmoz.org/cgi-bin/search?search=\\{@}
Query[da]=http://search.dmoz.org/cgi-bin/search?search=\\{@}
Query[de]=http://search.dmoz.org/cgi-bin/search?search=\\{@}
Query[el]=http://search.dmoz.org/cgi-bin/search?search=\\{@}
Query[en_GB]=http://search.dmoz.org/cgi-bin/search?search=\\{@}
Query[eo]=http://search.dmoz.org/cgi-bin/search?search=\\{@}
Query[es]=http://search.dmoz.org/cgi-bin/search?search=\\{@}
Query[et]=http://search.dmoz.org/cgi-bin/search?search=\\{@}
Query[eu]=http://search.dmoz.org/cgi-bin/search?search=\\{@}
Query[fa]=http://search.dmoz.org/cgi-bin/search?search=\\{@}
Query[fi]=http://search.dmoz.org/cgi-bin/search?search=\\{@}
Query[fr]=http://search.dmoz.org/cgi-bin/search?search=\\{@}
Query[fy]=http://search.dmoz.org/cgi-bin/search?search=\\{@}
Query[ga]=http://search.dmoz.org/cgi-bin/search?search=\\{@}
Query[gl]=http://search.dmoz.org/cgi-bin/search?search=\\{@}
Query[gu]=http://search.dmoz.org/cgi-bin/search?search=\\{@}
Query[he]=http://search.dmoz.org/cgi-bin/search?search=\\{@}
Query[hi]=http://search.dmoz.org/cgi-bin/search?search=\\{@}
Query[hne]=http://search.dmoz.org/cgi-bin/search?search=\\{@}
Query[hr]=http://search.dmoz.org/cgi-bin/search?search=\\{@}
Query[hsb]=http://search.dmoz.org/cgi-bin/search?search=\\{@}
Query[hu]=http://search.dmoz.org/cgi-bin/search?search=\\{@}
Query[ia]=http://search.dmoz.org/cgi-bin/search?search=\\{@}
Query[id]=http://search.dmoz.org/cgi-bin/search?search=\\{@}
Query[is]=http://search.dmoz.org/cgi-bin/search?search=\\{@}
Query[it]=http://search.dmoz.org/cgi-bin/search?search=\\{@}
Query[ja]=http://search.dmoz.org/cgi-bin/search?search=\\{@}
Query[ka]=http://search.dmoz.org/cgi-bin/search?search=\\{@}
Query[kk]=http://search.dmoz.org/cgi-bin/search?search=\\{@}
Query[km]=http://search.dmoz.org/cgi-bin/search?search=\\{@}
Query[kn]=http://search.dmoz.org/cgi-bin/search?search=\\{@}
Query[ko]=http://search.dmoz.org/cgi-bin/search?search=\\{@}
Query[ku]=http://search.dmoz.org/cgi-bin/search?search=\\{@}
Query[lt]=http://search.dmoz.org/cgi-bin/search?search=\\{@}
Query[lv]=http://search.dmoz.org/cgi-bin/search?search=\\{@}
Query[mai]=http://search.dmoz.org/cgi-bin/search?search=\\{@}
Query[ml]=http://search.dmoz.org/cgi-bin/search?search=\\{@}
Query[mr]=http://search.dmoz.org/cgi-bin/search?search=\\{@}
Query[ms]=http://search.dmoz.org/cgi-bin/search?search=\\{@}
Query[nb]=http://search.dmoz.org/cgi-bin/search?search=\\{@}
Query[nds]=http://search.dmoz.org/cgi-bin/search?search=\\{@}
Query[ne]=http://search.dmoz.org/cgi-bin/search?खोज्नुहोस्=\\{@}
Query[nl]=http://search.dmoz.org/cgi-bin/search?search=\\{@}
Query[nn]=http://search.dmoz.org/cgi-bin/search?search=\\{@}
Query[oc]=http://search.dmoz.org/cgi-bin/search?search=\\{@}
Query[or]=http://search.dmoz.org/cgi-bin/search?search=\\{@}
Query[pa]=http://search.dmoz.org/cgi-bin/search?search=\\{@}
Query[pl]=http://search.dmoz.org/cgi-bin/search?search=\\{@}
Query[pt]=http://search.dmoz.org/cgi-bin/search?search=\\{@}
Query[pt_BR]=http://search.dmoz.org/cgi-bin/search?search=\\{@}
Query[ro]=http://search.dmoz.org/cgi-bin/search?search=\\{@}
Query[ru]=http://search.dmoz.org/cgi-bin/search?search=\\{@}
Query[se]=http://search.dmoz.org/cgi-bin/search?search=\\{@}
Query[si]=http://search.dmoz.org/cgi-bin/search?search=\\{@}
Query[sk]=http://search.dmoz.org/cgi-bin/search?search=\\{@}
Query[sl]=http://search.dmoz.org/cgi-bin/search?search=\\{@}
Query[sr]=http://search.dmoz.org/cgi-bin/search?search=\\{@}
Query[sr@ijekavian]=http://search.dmoz.org/cgi-bin/search?search=\\{@}
Query[sr@ijekavianlatin]=http://search.dmoz.org/cgi-bin/search?search=\\{@}
Query[sr@latin]=http://search.dmoz.org/cgi-bin/search?search=\\{@}
Query[sv]=http://search.dmoz.org/cgi-bin/search?search=\\{@}
Query[ta]=http://search.dmoz.org/cgi-bin/search?search=\\{@}
Query[te]=http://search.dmoz.org/cgi-bin/search?search=\\{@}
Query[tg]=http://search.dmoz.org/cgi-bin/search?search=\\{@}
Query[th]=http://search.dmoz.org/cgi-bin/search?search=\\{@}
Query[tr]=http://search.dmoz.org/cgi-bin/search?search=\\{@}
Query[ug]=http://search.dmoz.org/cgi-bin/search?search=\\{@}
Query[uk]=http://search.dmoz.org/cgi-bin/search?search=\\{@}
Query[uz]=http://search.dmoz.org/cgi-bin/search?search=\\{@}
Query[uz@cyrillic]=http://search.dmoz.org/cgi-bin/search?search=\\{@}
Query[vi]=http://search.dmoz.org/cgi-bin/search?search=\\{@}
Query[wa]=http://search.dmoz.org/cgi-bin/search?search=\\{@}
Query[x-test]=xxhttp://search.dmoz.org/cgi-bin/search?search=\\{@}xx
Query[zh_CN]=http://search.dmoz.org/cgi-bin/search?search=\\{@}
Query[zh_TW]=http://search.dmoz.org/cgi-bin/search?search=\\{@}
