[Desktop Entry]
Charset=
Hidden=false
Keys=db,docbook
Name=DocBook - The Definitive Guide
Name[af]=Docbook - Die Definitiewe Gids
Name[ar]=كتاب Doc الدليل الكامل
Name[as]=DocBook - The Definitive Guide
Name[ast]=DocBook - La guía definitiva
Name[be]=DocBook - Падручнік
Name[be@latin]=Padrabiazny padručnik pa „DocBook”
Name[bg]=DocBook - The Definitive Guide
Name[bn]=ডকবুক - দি ডেফিনিটিভ গাইড
Name[bn_IN]=DocBook - বর্ণনামূলক সহায়িকা
Name[bs]=Dokbuk: konačni vodič
Name[ca]=DocBook - La guia definitiva
Name[ca@valencia]=DocBook - La guia definitiva
Name[cs]=DocBook - The Definitive Guide
Name[csb]=DocBook (systema dokùmentacëji) - pòdrãcznik
Name[cy]=DocBook - Y Canllaw Awdurdodol
Name[da]=DocBook - den definitive guide
Name[de]=DocBook – The Definitive Guide
Name[el]=DocBook - Ο απόλυτος οδηγός
Name[en_GB]=DocBook - The Definitive Guide
Name[eo]=DocBook - La definitiva manlibro
Name[es]=DocBook - La guía definitiva
Name[et]=DocBook - The Definitive Guide
Name[eu]=DocBook - Behin-betiko gida
Name[fa]=DocBook - راهنمای صریح
Name[fi]=DocBook – The Definitive Guide
Name[fr]=Docbook - le guide ultime
Name[fy]=DocBook - The Definitive Guide
Name[ga]=DocBook - The Definitive Guide
Name[gl]=DocBook, a guía completa
Name[gu]=ડોકબુક - ધ ડેફિનેટીવ ગાઇડ
Name[he]=DocBook - המדריך האולטימטיבי
Name[hi]=डॉकबुक - निर्णायक मार्गदर्शक
Name[hne]=डाकबुक - निर्नायक मार्गदर्सक
Name[hr]=DocBook – Definitivni vodič
Name[hsb]=DocBook - The Definitive Guide
Name[hu]=DocBook - The Definitive Guide
Name[ia]=DocBook - Le Guida Definitive
Name[id]=DocBook - Panduan Definitif
Name[is]=DocBook - Opinbera handbókin
Name[it]=DocBook - La guida definitiva
Name[ja]=DocBook - 完全ガイド
Name[ka]=DocBook - განსაზღვრებები
Name[kk]=DocBook - толық бағыттамасы
Name[km]=DocBook - មគ្គុទ្ទេសក៍​ច្បាស់លាស់
Name[kn]=ಡಾಕ್ಬುಕ್- ಪ್ರಮಾಣಭೂತ ಮಾರ್ಗದರ್ಶಕ
Name[ko]=DocBook - 명확한 가이드
Name[ku]=DockBook - Rêberê Bê Kêmasî
Name[lt]=DocBook –  galutinis vadovas
Name[lv]=DocBook - izsmeļošs ceļvedis
Name[mai]=डाकबुक - निर्णायक मार्गदर्शक
Name[mk]=DocBook - дефинитивниот водач
Name[ml]=ഡോക്ബുക്ക് - തര്‍ക്കമില്ലാത്ത പഠനസഹായി
Name[mr]=डॉकबुक - निर्णायक मार्गदर्शिका
Name[ms]=DocBook - Panduan Definitif
Name[nb]=DocBook – Den endelige guiden
Name[nds]=DocBook - De Inföhren
Name[ne]=DocBook - निर्णायक मार्गदर्शक
Name[nl]=DocBook - The Definitive Guide
Name[nn]=DocBook – The Definitive Guide
Name[or]=DocBook - ବର୍ଣ୍ଣନାତ୍ମକ ମାର୍ଗ ଦର୍ଶକ
Name[pa]=DocBook - ਨਿਸ਼ਚਿਤ ਗਾਈਡ
Name[pl]=DocBook (system dokumentacji) - podręcznik
Name[pt]=DocBook - O Guia Definitivo
Name[pt_BR]=DocBook - o guia definitivo
Name[ro]=DocBook - Ghidul de referință
Name[ru]=Полное руководство по DocBook
Name[se]=DocBook – The Definitive Guide
Name[si]=DocBook - The Definitive Guide
Name[sk]=DocBook - The Definitive Guide
Name[sl]=DocBook - Popolni vodnik
Name[sr]=Докбук: коначни водич
Name[sr@ijekavian]=Докбук: коначни водич
Name[sr@ijekavianlatin]=DocBook: konačni vodič
Name[sr@latin]=DocBook: konačni vodič
Name[sv]=Den slutgiltiga guiden till docbook
Name[ta]=Docபுத்தகம் - விளக்கமான வழிகாட்டி
Name[te]=DocBook - నిర్ధారిత మార్గదర్శి
Name[tg]=DocBook - Роҳнамои сарнавишт
Name[th]=DocBook - The Definitive Guide
Name[tr]=DocBook - Eksiksiz Rehber
Name[ug]=DocBook - نوپۇزلۇق يېتەكچى
Name[uk]=Посібник визначень DocBook
Name[uz]=DocBook - toʻliq qoʻllanma
Name[uz@cyrillic]=DocBook - тўлиқ қўлланма
Name[vi]=DocBook - Hướng dẫn Đầy đủ
Name[wa]=DocBook - Li seu guide
Name[xh]=DocBook - Incwadi Echazayo
Name[x-test]=xxDocBook - The Definitive Guidexx
Name[zh_CN]=DocBook - 权威指南
Name[zh_TW]=DocBook - 終極指南
Query=http://www.docbook.org/tdg/en/html/\\{1}.html
Query[af]=http://www.docbook.org/tdg/en/html/\\{1}.html
Query[ar]=http://www.docbook.org/tdg/en/html/\\{1}.html
Query[as]=http://www.docbook.org/tdg/en/html/\\{1}.html
Query[ast]=http://www.docbook.org/tdg/en/html/\\{1}.html
Query[be]=http://www.docbook.org/tdg/en/html/\\{1}.html
Query[be@latin]=http://www.docbook.org/tdg/en/html/\\{1}.html
Query[bg]=http://www.docbook.org/tdg/en/html/\\{1}.html
Query[bn]=http://www.docbook.org/tdg/en/html/\\{1}.html
Query[bn_IN]=http://www.docbook.org/tdg/en/html/\\{1}.html
Query[br]=http://www.docbook.org/tdg/en/html/\\{1}.html
Query[bs]=http://www.docbook.org/tdg/en/html/\\{1}.html
Query[ca]=http://www.docbook.org/tdg/en/html/\\{1}.html
Query[ca@valencia]=http://www.docbook.org/tdg/en/html/\\{1}.html
Query[cs]=http://www.docbook.org/tdg/en/html/\\{1}.html
Query[csb]=http://www.docbook.org/tdg/en/html/\\{1}.html
Query[da]=http://www.docbook.org/tdg/en/html/\\{1}.html
Query[de]=http://www.docbook.org/tdg/en/html/\\{1}.html
Query[el]=http://www.docbook.org/tdg/en/html/\\{1}.html
Query[en_GB]=http://www.docbook.org/tdg/en/html/\\{1}.html
Query[eo]=http://www.docbook.org/tdg/en/html/\\{1}.html
Query[es]=http://www.docbook.org/tdg/en/html/\\{1}.html
Query[et]=http://www.docbook.org/tdg/en/html/\\{1}.html
Query[eu]=http://www.docbook.org/tdg/en/html/\\{1}.html
Query[fa]=http://www.docbook.org/tdg/en/html/\\{1}.html
Query[fi]=http://www.docbook.org/tdg/en/html/\\{1}.html
Query[fr]=http://www.docbook.org/tdg/en/html/\\{1}.html
Query[fy]=http://www.docbook.org/tdg/en/html/\\{1}.html
Query[ga]=http://www.docbook.org/tdg/en/html/\\{1}.html
Query[gl]=http://www.docbook.org/tdg/en/html/\\{1}.html
Query[gu]=http://www.docbook.org/tdg/en/html/\\{1}.html
Query[he]=http://www.docbook.org/tdg/en/html/\\{1}.html
Query[hi]=http://www.docbook.org/tdg/en/html/\\{1}.html
Query[hne]=http://www.docbook.org/tdg/en/html/\\{1}.html
Query[hr]=http://www.docbook.org/tdg/en/html/\\{1}.html
Query[hsb]=http://www.docbook.org/tdg/en/html/\\{1}.html
Query[hu]=http://www.docbook.org/tdg/en/html/\\{1}.html
Query[ia]=http://www.docbook.org/tdg/en/html/\\{1}.html
Query[id]=http://www.docbook.org/tdg/en/html/\\{1}.html
Query[is]=http://www.docbook.org/tdg/en/html/\\{1}.html
Query[it]=http://www.docbook.org/tdg/en/html/\\{1}.html
Query[ja]=http://www.docbook.org/tdg/en/html/\\{1}.html
Query[ka]=http://www.docbook.org/tdg/en/html/\\{1}.html
Query[kk]=http://www.docbook.org/tdg/en/html/\\{1}.html
Query[km]=http://www.docbook.org/tdg/en/html/\\{1}.html
Query[kn]=http://www.docbook.org/tdg/en/html/\\{1}.html
Query[ko]=http://www.docbook.org/tdg/en/html/\\{1}.html
Query[ku]=http://www.docbook.org/tdg/en/html/\\{1}.html
Query[lt]=http://www.docbook.org/tdg/en/html/\\{1}.html
Query[lv]=http://www.docbook.org/tdg/en/html/\\{1}.html
Query[mai]=http://www.docbook.org/tdg/en/html/\\{1}.html
Query[ml]=http://www.docbook.org/tdg/en/html/\\{1}.html
Query[mr]=http://www.docbook.org/tdg/en/html/\\{1}.html
Query[ms]=http://www.docbook.org/tdg/en/html/\\{1}.html
Query[nb]=http://www.docbook.org/tdg/en/html/\\{1}.html
Query[nds]=http://www.docbook.org/tdg/en/html/\\{1}.html
Query[ne]=http://www.docbook.org/tdg/en/html/\\{1}.html
Query[nl]=http://www.docbook.org/tdg/en/html/\\{1}.html
Query[nn]=http://www.docbook.org/tdg/en/html/\\{1}.html
Query[oc]=http://www.docbook.org/tdg/en/html/\\{1}.html
Query[or]=http://www.docbook.org/tdg/en/html/\\{1}.html
Query[pa]=http://www.docbook.org/tdg/en/html/\\{1}.html
Query[pl]=http://www.docbook.org/tdg/en/html/\\{1}.html
Query[pt]=http://www.docbook.org/tdg/en/html/\\{1}.html
Query[pt_BR]=http://www.docbook.org/tdg/en/html/\\{1}.html
Query[ro]=http://www.docbook.org/tdg/en/html/\\{1}.html
Query[ru]=http://www.docbook.org/tdg/en/html/\\{1}.html
Query[se]=http://www.docbook.org/tdg/en/html/\\{1}.html
Query[si]=http://www.docbook.org/tdg/en/html/\\{1}.html
Query[sk]=http://www.docbook.org/tdg/en/html/\\{1}.html
Query[sl]=http://www.docbook.org/tdg/en/html/\\{1}.html
Query[sr]=http://www.docbook.org/tdg/en/html/\\{1}.html
Query[sr@ijekavian]=http://www.docbook.org/tdg/en/html/\\{1}.html
Query[sr@ijekavianlatin]=http://www.docbook.org/tdg/en/html/\\{1}.html
Query[sr@latin]=http://www.docbook.org/tdg/en/html/\\{1}.html
Query[sv]=http://www.docbook.org/tdg/en/html/\\{1}.html
Query[ta]=http://www.docbook.org/tdg/en/html/\\{1}.html
Query[te]=http://www.docbook.org/tdg/en/html/\\{1}.html
Query[tg]=http://www.docbook.org/tdg/en/html/\\{1}.html
Query[th]=http://www.docbook.org/tdg/en/html/\\{1}.html
Query[tr]=http://www.docbook.org/tdg/en/html/\\{1}.html
Query[ug]=http://www.docbook.org/tdg/en/html/\\{1}.html
Query[uk]=http://www.docbook.org/tdg/en/html/\\{1}.html
Query[uz]=http://www.docbook.org/tdg/en/html/\\{1}.html
Query[uz@cyrillic]=http://www.docbook.org/tdg/en/html/\\{1}.html
Query[vi]=http://www.docbook.org/tdg/en/html/\\{1}.html
Query[wa]=http://www.docbook.org/tdg/en/html/\\{1}.html
Query[x-test]=xxhttp://www.docbook.org/tdg/en/html/\\{1}.htmlxx
Query[zh_CN]=http://www.docbook.org/tdg/en/html/\\{1}.html
Query[zh_TW]=http://www.docbook.org/tdg/en/html/\\{1}.html
X-KDE-ServiceTypes=SearchProvider
Type=Service
