[Desktop Entry]
Charset=
Hidden=false
Keys=doi
Name=Digital Object Identifier
Name[af]=Digital Object Identifier
Name[ar]=مُعرّف الكائن الرّقمي
Name[as]=Digital Object Identifier
Name[ast]=Identificador d'oxetu dixital
Name[be]=Digital Object Identifier
Name[be@latin]=Digital Object Identifier
Name[bg]=Digital Object Identifier
Name[bn]=ডিজিটাল অবজেক্ট আইডেন্টিফায়ার
Name[bn_IN]=ডিজিট্যাল অবজেক্ট সনাক্তকারী
Name[bs]=Digitalni identifikator objekata
Name[ca]=Identificador d'objecte digital
Name[ca@valencia]=Identificador d'objecte digital
Name[cs]=Digitální identifikátor objektu
Name[csb]=Cëfrowi identifikator òbiektu (DOI)
Name[cy]=Dynodydd Gwrthrych Digidol
Name[da]=Digital objekt-identifikator
Name[de]=Identifizierung digitaler Objekte
Name[el]=Αναγνώριση ψηφιακών αντικειμένων
Name[en_GB]=Digital Object Identifier
Name[eo]=Cifereca objekta identigilo
Name[es]=Identificador de objeto digital
Name[et]=Digital Object Identifier
Name[eu]=Objektu digital identifikatzailea
Name[fa]=شناسه شیء دیجیتال
Name[fi]=Digital Object Identifier
Name[fr]=« Digital Object Identifier »
Name[fy]=Digital Object Identifier
Name[ga]=Aitheantóir Oibiachta Digití
Name[gl]=Digital Object Identifier
Name[gu]=ડિજીટલ ઓબ્જેક્ટ આઇડેન્ટીફાયર
Name[he]=מזהה האובייקטים הדיגיטלי
Name[hi]=डिजिटल ऑब्जेक्ट पहचानकर्ता
Name[hne]=डिजिटल आब्जेक्ट चिनहइया
Name[hr]=Prepoznavanje digitalnog objekta
Name[hsb]=Digital Object Identifier
Name[hu]=Digitális objektumazonosító (DOI)
Name[ia]=Identificator de Objecto Digital (DOI)
Name[id]=Pengidentifikasi Objek Digital
Name[is]=Stafrænn hlutaauðkennir
Name[it]=Identificativo degli oggetti digitali
Name[ja]=デジタルオブジェクト識別子
Name[ka]=ციფრული ობიექტის ამომცნობი
Name[kk]=Цифрлық нысандарды танушы
Name[km]=ឧបករណ៍​សម្គាល់​វត្ថុ​ឌីជីថល​
Name[kn]=ಅಂಕೀಯ (ಡಿಜಿಟಲ್) ವಸ್ತು ಪ್ರತಿಪಾದಕ (ಐಡೆಂಟಿಫಯರ್)
Name[ko]=Digital Object Identifier
Name[ku]=Nasînerê Hêmanê Dîjîtal
Name[lt]=Skaitmeninių objektų identifikatorius
Name[lv]=Digitālo objektu identificētājs
Name[mai]=डिजिटल आब्जेक्ट पहचानकर्ता
Name[mk]=Идентификатор на дигитален објект
Name[ml]=ഡിജിറ്റല്‍ ഒബ്ജക്ട് ഐഡന്റിഫയര്‍
Name[mr]=डिजिटल ऑब्जेक्ट ओळखकर्ता
Name[ms]=Pengenal Pasti Objek Digital
Name[nb]=Digitalt objektnavn
Name[nds]=Digital Object Identifier
Name[ne]=डिजिटल वस्तु पहिचायक
Name[nl]=Digital Object Identifier
Name[nn]=Digitalt objektnamn
Name[or]=ସାଂଖିକ ବସ୍ତୁ ପରିଚାୟକ
Name[pa]=ਡਿਜਿਟਲ ਆਬਜੈਕਟ ਅਡੈਟੀਫਾਇਰ
Name[pl]=Cyfrowy identyfikator obiektu (DOI)
Name[pt]=Digital Object Identifier
Name[pt_BR]=Identificador digital de objetos
Name[ro]=Identificator obiect digital
Name[ru]=Идентификатор цифровых объектов
Name[se]=Digitálalaš objeaktanamma
Name[si]=අංකිත වස්තු හඳුනාගැනීම
Name[sk]=Digital Object Identifier
Name[sl]=Določilnik digitalnega predmeta
Name[sr]=Дигитални идентификатор објеката
Name[sr@ijekavian]=Дигитални идентификатор објеката
Name[sr@ijekavianlatin]=Digitalni identifikator objekata
Name[sr@latin]=Digitalni identifikator objekata
Name[sv]=Identifikation av digitala objekt
Name[ta]=எண்ணிய பொருள் அடையாளங்காட்டி
Name[te]=డిజిటల్ ఆబ్జక్‍ట్ గుర్తింపుకారి
Name[tg]=Муайянкунандаи объектҳои рақамӣ
Name[th]=ตัวระบุวัตถุดิจิทัล
Name[tr]=Sayısal Nesne Kimlikleyici
Name[ug]=رەقەملىك نەڭ كىملىكى
Name[uk]=Цифровий ідентифікатор об'єкта
Name[vi]=Bộ chứng minh đối tượng số
Name[wa]=Idintifieu d' objets limerikes
Name[x-test]=xxDigital Object Identifierxx
Name[zh_CN]=Digital Object Identifier
Name[zh_TW]=數位物件識別
Query=http://dx.doi.org/\\{@}
Query[af]=http://dx.doi.org/\\{@}
Query[ar]=http://dx.doi.org/\\{@}
Query[as]=http://dx.doi.org/\\{@}
Query[ast]=http://dx.doi.org/\\{@}
Query[be]=http://dx.doi.org/\\{@}
Query[be@latin]=http://dx.doi.org/\\{@}
Query[bg]=http://dx.doi.org/\\{@}
Query[bn]=http://dx.doi.org/\\{@}
Query[bn_IN]=http://dx.doi.org/\\{@}
Query[br]=http://dx.doi.org/\\{@}
Query[bs]=http://dx.doi.org/\\{@}
Query[ca]=http://dx.doi.org/\\{@}
Query[ca@valencia]=http://dx.doi.org/\\{@}
Query[cs]=http://dx.doi.org/\\{@}
Query[csb]=http://dx.doi.org/\\{@}
Query[da]=http://dx.doi.org/\\{@}
Query[de]=http://dx.doi.org/\\{@}
Query[el]=http://dx.doi.org/\\{@}
Query[en_GB]=http://dx.doi.org/\\{@}
Query[eo]=http://dx.doi.org/\\{@}
Query[es]=http://dx.doi.org/\\{@}
Query[et]=http://dx.doi.org/\\{@}
Query[eu]=http://dx.doi.org/\\{@}
Query[fa]=http://dx.doi.org/\\{@}
Query[fi]=http://dx.doi.org/\\{@}
Query[fr]=http://dx.doi.org/\\{@}
Query[fy]=http://dx.doi.org/\\{@}
Query[ga]=http://dx.doi.org/\\{@}
Query[gl]=http://dx.doi.org/\\{@}
Query[gu]=http://dx.doi.org/\\{@}
Query[he]=http://dx.doi.org/\\{@}
Query[hi]=http://dx.doi.org/\\{@}
Query[hne]=http://dx.doi.org/\\{@}
Query[hr]=http://dx.doi.org/\\{@}
Query[hsb]=http://dx.doi.org/\\{@}
Query[hu]=http://dx.doi.org/\\{@}
Query[ia]=http://dx.doi.org/\\{@}
Query[id]=http://dx.doi.org/\\{@}
Query[is]=http://dx.doi.org/\\{@}
Query[it]=http://dx.doi.org/\\{@}
Query[ja]=http://dx.doi.org/\\{@}
Query[ka]=http://dx.doi.org/\\{@}
Query[kk]=http://dx.doi.org/\\{@}
Query[km]=http://dx.doi.org/\\{@}
Query[kn]=http://dx.doi.org/\\{@}
Query[ko]=http://dx.doi.org/\\{@}
Query[ku]=http://dx.doi.org/\\{@}
Query[lt]=http://dx.doi.org/\\{@}
Query[lv]=http://dx.doi.org/\\{@}
Query[mai]=http://dx.doi.org/\\{@}
Query[ml]=http://dx.doi.org/\\{@}
Query[mr]=http://dx.doi.org/\\{@}
Query[ms]=http://dx.doi.org/\\{@}
Query[nb]=http://dx.doi.org/\\{@}
Query[nds]=http://dx.doi.org/\\{@}
Query[ne]=http://dx.doi.org/\\{@}
Query[nl]=http://dx.doi.org/\\{@}
Query[nn]=http://dx.doi.org/\\{@}
Query[oc]=http://dx.doi.org/\\{@}
Query[or]=http://dx.doi.org/\\{@}
Query[pa]=http://dx.doi.org/\\{@}
Query[pl]=http://dx.doi.org/\\{@}
Query[pt]=http://dx.doi.org/\\{@}
Query[pt_BR]=http://dx.doi.org/\\{@}
Query[ro]=http://dx.doi.org/\\{@}
Query[ru]=http://dx.doi.org/\\{@}
Query[se]=http://dx.doi.org/\\{@}
Query[si]=http://dx.doi.org/\\{@}
Query[sk]=http://dx.doi.org/\\{@
Query[sl]=http://dx.doi.org/\\{@}
Query[sr]=http://dx.doi.org/\\{@}
Query[sr@ijekavian]=http://dx.doi.org/\\{@}
Query[sr@ijekavianlatin]=http://dx.doi.org/\\{@}
Query[sr@latin]=http://dx.doi.org/\\{@}
Query[sv]=http://dx.doi.org/\\{@}
Query[ta]=http://dx.doi.org/\\{@}
Query[te]=http://dx.doi.org/\\{@}
Query[tg]=http://dx.doi.org/\\{@}
Query[th]=http://dx.doi.org/\\{@}
Query[tr]=http://dx.doi.org/\\{@}
Query[ug]=http://dx.doi.org/\\{@}
Query[uk]=http://dx.doi.org/\\{@}
Query[uz]=http://dx.doi.org/\\{@}
Query[uz@cyrillic]=http://dx.doi.org/\\{@}
Query[vi]=http://dx.doi.org/\\{@}
Query[wa]=http://dx.doi.org/\\{@}
Query[x-test]=xxhttp://dx.doi.org/\\{@}xx
Query[zh_CN]=http://dx.doi.org/\\{@}
Query[zh_TW]=http://dx.doi.org/\\{@}
X-KDE-ServiceTypes=SearchProvider
Type=Service
