[Desktop Entry]
Charset=
Hidden=false
Keys=en2de
Name=dict.cc Translation: English to German
Name[af]=dict.cc Vertaling: Engels na Duits
Name[ar]=ترجمة dict.cc: إنجليزي إلى ألماني
Name[as]=dict.cc Translation: English to German
Name[ast]=dict.cc Torna: inglés a alemán
Name[be]=dict.cc Пераклад: з англійскай на нямецкую
Name[be@latin]=Pierakład „dict.cc”: anhielskaja ➙ niamieckaja
Name[bg]=Превод с dict.cc — от английски към немски
Name[bn]=dict.cc অনুবাদ: ইংরাজি থেকে জার্মান
Name[bn_IN]=dict.cc অনুবাদ: ইংরাজি থেকে জার্মান
Name[bs]=English to German: dikt.cc: sa engleskog na njemački
Name[ca]=Traducció dict.cc: Anglès - Alemany
Name[ca@valencia]=Traducció dict.cc: Anglés - Alemany
Name[cs]=Překlad dict.cc: z angličtiny do němčiny
Name[csb]=dict.cc: anielsczi -> miemiecczi
Name[da]=dict.cc oversættelse: Engelsk til tysk
Name[de]=dict.cc – Übersetzung: Englisch/Deutsch
Name[el]=dict.cc Μετάφραση: Αγγλικά σε Γερμανικά
Name[en_GB]=dict.cc Translation: English to German
Name[eo]=Tradukado dict.cc: angle germanen
Name[es]=dict.cc Traducción: inglés a alemán
Name[et]=dict.cc tõlkimine: inglise->saksa
Name[eu]=dict.cc Itzulpena: ingelesetik alemanerara
Name[fa]=ترجمه dict.cc: انگلیسی به آلمانی
Name[fi]=dict.cc-käännös englannista saksaksi
Name[fr]=Traduction dict.cc : anglais vers allemand
Name[fy]=dict.cc-oersetting: Ingelsk nei Dûtsk
Name[ga]=dict.cc Aistriúchán: Béarla go Gearmáinis
Name[gl]=Tradución dict.cc: inglés a alemán
Name[gu]=dict.cc ભાષાંતર: અંગ્રેજી થી જર્મન
Name[he]=תרגום dict.cc: אנגלית לגרמנית
Name[hi]=dict.cc अनुवादः अंग्रेजी से जर्मन
Name[hne]=dict.cc अनुवादः अंगरेजी से जर्मन
Name[hr]=dict.cc Prijevod: engleski na njemački
Name[hsb]=dict.cc přełožowanje: jendźelsce -> němsce
Name[hu]=Dict.cc - Fordítás angolról németre
Name[ia]=dict.cc Traduction: Anglese a Germano
Name[id]=Terjemahan dict.cc: Bahasa Inggris ke Jerman
Name[is]=dict.cc Þýðing: Enska í þýsku
Name[it]=Traduzione dict.cc: dall'inglese al tedesco
Name[ja]=dict.cc 英語-ドイツ語翻訳
Name[ka]=dict.cc თარგმნა: ინგლისურ-გერმანული
Name[kk]=dict.cc аудармашы: ағылшын тілінен немісшеге
Name[km]=ការ​បកប្រែ dict.cc ៖ ភាសា​អង់គ្លេស​ទៅជា​​​អាល្លឺម៉ង់
Name[kn]=dict.cc ಅನುವಾದ: ಇಂಗ್ಲೀಷಿನಿಂದ ಜರ್ಮನ್ ಗೆ
Name[ko]=dict.cc 번역: 영어에서 독일어로
Name[ku]=dict.cc Wergerandin: Îngilîzî ji Almanî re 
Name[lt]=dict.cc vertimas: iš anglų į vokiečių
Name[lv]=dict.cc tulkošana: no Angļu uz Vācu
Name[mai]=dict.cc अनुवादः अंग्रेजी सँ जर्मन
Name[mk]=dict.cc превод: од англиски на германски
Name[ml]=dict.cc പരിഭാഷ: ഇംഗ്ലീഷില്‍ നിന്നും ജര്‍മനിലേയ്ക്കു്
Name[mr]=dict.cc अनुवादः अंग्रेजी ते जर्मन
Name[nb]=dict.cc Oversettelse fra engelsk til tysk
Name[nds]=dict.cc Översetten: Engelsch na Hoochdüütsch
Name[ne]=dict.cc अनुवाद: अङ्ग्रेजीलाई जर्मनीमा
Name[nl]=dict.cc-vertaling: Engels naar Duits
Name[nn]=dict.cc Omsetjing: Engelsk til tysk
Name[or]=dict.cc ଅନୁବାଦ: ଇଂରାଜୀରୁ ଜର୍ମାନ
Name[pa]=dict.cc ਟਰਾਂਸਲੇਸ਼ਨ: ਅੰਗਰੇਜ਼ੀ ਤੋਂ ਜਰਮਨ
Name[pl]=dict.cc: angielski -> niemiecki
Name[pt]=Tradução do dict.cc: Inglês para Alemão
Name[pt_BR]=dict.cc - Tradução: inglês para alemão
Name[ro]=Traducere dict.cc: engleză la germană
Name[ru]=Переводчик dict.cc: англо-немецкий
Name[se]=dict.cc Jorgaleapmi: Eŋgelasgielas duiskkagillii
Name[si]=dict.cc පරිවර්ථනය: ඉංග්‍රීසි සිට ජර්මන් භාශාවට
Name[sk]=dict.cc Preklad z angličtiny do nemčiny
Name[sl]=Prevod dict.cc: angleščina v nemščino
Name[sr]=English to German: дикт.цц: са енглеског на немачки
Name[sr@ijekavian]=English to German: дикт.цц: са енглеског на њемачки
Name[sr@ijekavianlatin]=dict.cc: sa engleskog na nemački
Name[sr@latin]=dict.cc: sa engleskog na nemački
Name[sv]=dict.cc översättning: engelska till tyska
Name[ta]=dict.cc Translation  மொழிபெயர்ப்பு: ஆங்கிலத்தில் இருந்து ஜெர்மன் மொழிக்கு
Name[te]=dict.cc అనువాదము: ఇంగ్లీష్ నుండి జెర్మన్
Name[tg]=Тарҷумаҳои dict.cc: Англисӣ ба немисӣ
Name[th]=การแปล dict.cc: ภาษาอังกฤษเป็นเยอรมัน
Name[tr]=dict.cc Çevirisi: İngilizceden Almancaya
Name[ug]=dict.cc تەرجىمە: ئىنگلىزچىدىن گېرمانچىغا
Name[uk]=dict.cc — переклад з англійської німецькою
Name[uz]=dict.cc tarjima: Inglizchadan Olmonchaga
Name[uz@cyrillic]=dict.cc таржима: Инглизчадан Олмончага
Name[vi]=dict.cc Dịch: Tiếng Anh sang tiếng Đức
Name[wa]=Ratournaedje dict.cc: di l' inglès viè l' almand
Name[x-test]=xxdict.cc Translation: English to Germanxx
Name[zh_CN]=dict.cc 翻译：英语译德语
Name[zh_TW]=dict.cc 翻譯: 英文至德文
Query=http://www.dict.cc/?s=\\{@}
Query[af]=http://www.dict.cc/?s=\\{@}
Query[ar]=http://www.dict.cc/?s=\\{@}
Query[as]=http://www.dict.cc/?s=\\{@}
Query[ast]=http://www.dict.cc/?s=\\{@}
Query[be]=http://www.dict.cc/?s=\\{@}
Query[be@latin]=http://www.dict.cc/?s=\\{@}
Query[bg]=http://www.dict.cc/?s=\\{@}
Query[bn]=http://www.dict.cc/?s=\\{@}
Query[bn_IN]=http://www.dict.cc/?s=\\{@}
Query[br]=http://www.dict.cc/?s=\\{@}
Query[bs]=http://www.dict.cc/?s=\\{@}
Query[ca]=http://www.dict.cc/?s=\\{@}
Query[ca@valencia]=http://www.dict.cc/?s=\\{@}
Query[cs]=http://www.dict.cc/?s=\\{@}
Query[csb]=http://www.dict.cc/?s=\\{@}
Query[da]=http://www.dict.cc/?s=\\{@}
Query[de]=http://www.dict.cc/?s=\\{@}
Query[el]=http://www.dict.cc/?s=\\{@}
Query[en_GB]=http://www.dict.cc/?s=\\{@}
Query[eo]=http://www.dict.cc/?s=\\{@}
Query[es]=http://www.dict.cc/?s=\\{@}
Query[et]=http://www.dict.cc/?s=\\{@}
Query[eu]=http://www.dict.cc/?s=\\{@}
Query[fa]=http://www.dict.cc/?s=\\{@}
Query[fi]=http://www.dict.cc/?s=\\{@}
Query[fr]=http://www.dict.cc/?s=\\{@}
Query[fy]=http://www.dict.cc/?s=\\{@}
Query[ga]=http://www.dict.cc/?s=\\{@}
Query[gl]=http://www.dict.cc/?s=\\{@}
Query[gu]=http://www.dict.cc/?s=\\{@}
Query[he]=http://www.dict.cc/?s=\\{@}
Query[hi]=http://www.dict.cc/?s=\\{@}
Query[hne]=http://www.dict.cc/?s=\\{@}
Query[hr]=http://www.dict.cc/?s=\\{@}
Query[hsb]=http://www.dict.cc/?s=\\{@}
Query[hu]=http://www.dict.cc/?s=\\{@}
Query[ia]=http://www.dict.cc/?s=\\{@}
Query[id]=http://www.dict.cc/?s=\\{@}
Query[is]=http://www.dict.cc/?s=\\{@}
Query[it]=http://www.dict.cc/?s=\\{@}
Query[ja]=http://www.dict.cc/?s=\\{@}
Query[ka]=http://www.dict.cc/?s=\\{@}
Query[kk]=http://www.dict.cc/?s=\\{@}
Query[km]=http://www.dict.cc/?s=\\{@}
Query[kn]=http://www.dict.cc/?s=\\{@}
Query[ko]=http://www.dict.cc/?s=\\{@}
Query[ku]=http://www.dict.cc/?s=\\{@}
Query[lt]=http://www.dict.cc/?s=\\{@}
Query[lv]=http://www.dict.cc/?s=\\{@}
Query[mai]=http://www.dict.cc/?s=\\{@}
Query[ml]=http://www.dict.cc/?s=\\{@}
Query[mr]=http://www.dict.cc/?s=\\{@}
Query[ms]=http://www.dict.cc/?s=\\{@}
Query[nb]=http://www.dict.cc/?s=\\{@}
Query[nds]=http://www.dict.cc/?s=\\{@}
Query[ne]=http://www.dict.cc/?s=\\{@}
Query[nl]=http://www.dict.cc/?s=\\{@}
Query[nn]=http://www.dict.cc/?s=\\{@}
Query[oc]=http://www.dict.cc/?s=\\{@}
Query[or]=http://www.dict.cc/?s=\\{@}
Query[pa]=http://www.dict.cc/?s=\\{@}
Query[pl]=http://www.dict.cc/?s=\\{@}
Query[pt]=http://www.dict.cc/?s=\\{@}
Query[pt_BR]=http://www.dict.cc/?s=\\{@}
Query[ro]=http://www.dict.cc/?s=\\{@}
Query[ru]=http://www.dict.cc/?s=\\{@}
Query[se]=http://www.dict.cc/?s=\\{@}
Query[si]=http://www.dict.cc/?s=\\{@}
Query[sk]=http://www.dict.cc/?s=\\{@}
Query[sl]=http://www.dict.cc/?s=\\{@}
Query[sr]=http://www.dict.cc/?s=\\{@}
Query[sr@ijekavian]=http://www.dict.cc/?s=\\{@}
Query[sr@ijekavianlatin]=http://www.dict.cc/?s=\\{@}
Query[sr@latin]=http://www.dict.cc/?s=\\{@}
Query[sv]=http://www.dict.cc/?s=\\{@}
Query[ta]=http://www.dict.cc/?s=\\{@}
Query[te]=http://www.dict.cc/?s=\\{@}
Query[tg]=http://www.dict.cc/?s=\\{@}
Query[th]=http://www.dict.cc/?s=\\{@}
Query[tr]=http://www.dict.cc/?s=\\{@}
Query[ug]=http://www.dict.cc/?s=\\{@}
Query[uk]=http://www.dict.cc/?s=\\{@}
Query[uz]=http://www.dict.cc/?s=\\{@}
Query[uz@cyrillic]=http://www.dict.cc/?s=\\{@}
Query[vi]=http://www.dict.cc/?s=\\{@}
Query[wa]=http://www.dict.cc/?s=\\{@}
Query[x-test]=xxhttp://www.dict.cc/?s=\\{@}xx
Query[zh_CN]=http://www.dict.cc/?s=\\{@}
Query[zh_TW]=http://www.dict.cc/?s=\\{@}
X-KDE-ServiceTypes=SearchProvider
Type=Service
