[Desktop Entry]
Charset=
Hidden=false
Keys=en2es
Name=WordReference.com Translation: English to Spanish
Name[af]=WordReference.com Vertaling: Engels na Spaans
Name[ar]=ترجمة WordReference: إنجليزي إلى إسباني
Name[as]=WordReference.com Translation: English to Spanish
Name[ast]=WordReference.com Torna: inglés a castellanu
Name[be]=WordReference.com Пераклад: з англійскай на іcпанскую
Name[be@latin]=Pierakład „WordReference.com”: anhielskaja ➙ hišpanskaja
Name[bg]=Превод с WordReference.com — от английски към испански
Name[bn]=WordReference.com অনুবাদ: ইংরাজি থেকে স্প্যানিশ
Name[bn_IN]=WordReference.com অনুবাদ: ইংরাজি থেকে স্প্যানিশ
Name[bs]=Vordreferens: sa engleskog na španski
Name[ca]=Traducció WordReference.com: Anglès - Espanyol
Name[ca@valencia]=Traducció WordReference.com: Anglés - Espanyol
Name[cs]=Překlad WordReference.com: z angličtiny do španělštiny
Name[csb]=WordReference.com: anielsczi -> szpańsczi
Name[cy]=Cyfieithiad WordReference.com: Saesneg i Sbaeneg
Name[da]=WordReference.com oversættelse: Engelsk til spansk
Name[de]=WordReference.com – Übersetzung: Englisch/Spanisch
Name[el]=WordReference.com Μετάφραση: Αγγλικά σε Ισπανικά
Name[en_GB]=WordReference.com Translation: English to Spanish
Name[eo]=Tradukado WordReference.com: angle hispanen
Name[es]=WordReference.com Traducción: inglés a español
Name[et]=WordReference.com tõlkimine: inglise->hispaania
Name[eu]=WordReference.com Itzulpena: ingelesetik gaztelerara
Name[fa]=ترجمه WordReference.com: انگلیسی به اسپانیایی
Name[fi]=WordReference.com-käännös englannista espanjaksi
Name[fr]=Traduction sur WordReference.com : anglais vers espagnol
Name[fy]=WordReference.com-oersetting: Ingelsk nei Spaansk
Name[ga]=Aistriúchán WordReference.com: Béarla go Spáinnis
Name[gl]=Tradución WordReference.com: inglés a español
Name[gu]=WordReference.com ભાષાંતર: અંગ્રેજી થી સ્પેનિશ
Name[he]=תרגום WordReference.com: אנגלית לספרדית
Name[hi]=WordReference.com अनुवादः अंग्रेजी से स्पेनी
Name[hne]=वर्डरेफरेंस.काम अनुवादः अंगरेजी से स्पेनी
Name[hr]=WordReference.com prijevod: engleski u španjolski
Name[hsb]=WordReference.com přełožowanje: jendźelsce -> španisce
Name[hu]=WordReference.com fordítás: angolról spanyolra
Name[ia]=WordReference.com Traduction: Anglese a Espaniol
Name[id]=Terjemahan WordReference.com: Bahasa Inggris ke Spanyol
Name[is]=WordReference.com þýðing: Ensk/spönsk
Name[it]=Traduzione WordReference.com: dall'inglese allo spagnolo
Name[ja]=WordReference.com 英語-スペイン語翻訳
Name[kk]=WordReference.com ағылшын тілінен испаншаға аудару
Name[km]=ការ​បកប្រែ WordReference.com ៖ ភាសា​អង់គ្លេស​ទៅជា​​អេស្ប៉ាញ
Name[kn]=WordReference.com ಅನುವಾದ: ಇಂಗ್ಲೀಷಿನಿಂದ ಸ್ಪಾನಿಷ್ ಗೆ
Name[ko]=WordReference.com 번역: 영어에서 스페인어로
Name[ku]=WordReference.com Wergerandin: Îngilîzî ji Spanyolî re
Name[lt]=WordReference.com vertimas: iš anglų į ispanų
Name[lv]=WordReference.com tulkošana: no Angļu uz Spāņu
Name[mai]=WordReference.com अनुवादः अंग्रेजी सँ स्पेनी
Name[mk]=WordReference.com превод: од англиски на шпански
Name[ml]=WordReference.com പരിഭാഷ: ഇംഗ്ലീഷില്‍ നിന്നും സ്പാനിഷിലേയ്ക്കു്
Name[mr]=WordReference.com अनुवादः अंग्रेजी ते स्पॅनीश
Name[nb]=WordReference.com – oversettelse fra engelsk til spansk
Name[nds]=WordReference.com Översetten: Engelsch na Spaansch
Name[ne]=WordReference.com Translation: अङ्ग्रेजीलाई स्पेनीसमा
Name[nl]=WordReference.com-vertaling: Engels naar Spaans
Name[nn]=WordReference.com – omsetjing: engelsk til spansk
Name[or]=WordReference.com ଅନୁବାଦ: ଇଂରାଜୀରୁ ସ୍ପେନିସ
Name[pa]=WordReference.com ਟਰਾਂਸਲੇਸ਼ਨ:ਅੰਗਰੇਜ਼ੀ ਤੋਂ ਸਪੇਨੀ
Name[pl]=WordReference.com: angielski -> hiszpański
Name[pt]=Tradução do WordReference.com: Inglês para Espanhol
Name[pt_BR]=WordReference.com - Tradução: inglês para espanhol
Name[ro]=Traducere WordReference.com: engleză la spaniolă
Name[ru]=Переводчик WordReference.com: англо-испанский
Name[se]=WordReference.com – jorgaleapmi: eŋgelasgielas spánskkagillii
Name[si]=WordReference.com පරිවර්ථනය:ඉංග්‍රීසි සිට ස්පාඤ්ඤ බසට
Name[sk]=WordReference.com preklad z angličtiny do španielčiny
Name[sl]=Prevod WordReference.com: angleščina v španščino
Name[sr]=Вордреференс: са енглеског на шпански
Name[sr@ijekavian]=Вордреференс: са енглеског на шпански
Name[sr@ijekavianlatin]=WordReference: sa engleskog na španski
Name[sr@latin]=WordReference: sa engleskog na španski
Name[sv]=Wordreference.com översättning: engelska till spanska
Name[ta]=WordReference.com மொழிபெயர்ப்பு: ஆங்கிலத்தில் இருந்து ஸ்பானிஷ் மொழிக்கு
Name[te]=WordReference.com అనువాదము: ఇంగ్లీష్ నుండి స్పానిష్
Name[tg]=Тарҷумаҳои WordReference.com: Англисӣ ба испанӣ
Name[th]=การแปล WordReference.com: แปลภาษาอังกฤษเป็นสเปน
Name[tr]=WordReference.com Çevirisi: İngilizceden İspanyolcaya
Name[ug]=WordReference.com تەرجىمە: ئىنگلىزچىدىن ئىسپانچىغا
Name[uk]=WordReference.com — переклад з англійської іспанською
Name[uz]=WordReference.com tarjima: Inglizchadan Ispanchaga
Name[uz@cyrillic]=WordReference.com таржима: Инглизчадан Испанчага
Name[vi]=WordReference.com Dịch: tiếng Anh sang tiếng Tây Ban Nha
Name[wa]=WordReference.com ratournaedje di l' inglès viè l' espagnol
Name[x-test]=xxWordReference.com Translation: English to Spanishxx
Name[zh_CN]=WordReference.com 翻译：英语译西班牙语
Name[zh_TW]=WordReference.com 翻譯: 英文至西班牙文
Query=http://www.wordreference.com/es/translation.asp?tranword=\\{@}
Query[af]=http://www.wordreference.com/es/translation.asp?tranword=\\{@}
Query[ar]=http://www.wordreference.com/es/translation.asp?tranword=\\{@}
Query[as]=http://www.wordreference.com/es/translation.asp?tranword=\\{@}
Query[ast]=http://www.wordreference.com/es/translation.asp?tranword=\\{@}
Query[be]=http://www.wordreference.com/es/translation.asp?tranword=\\{@}
Query[be@latin]=http://www.wordreference.com/es/translation.asp?tranword=\\{@}
Query[bg]=http://www.wordreference.com/es/translation.asp?tranword=\\{@}
Query[bn]=http://www.wordreference.com/es/translation.asp?tranword=\\{@}
Query[bn_IN]=http://www.wordreference.com/es/translation.asp?tranword=\\{@}
Query[br]=http://www.wordreference.com/es/translation.asp?tranword=\\{@}
Query[bs]=http://www.wordreference.com/es/translation.asp?tranword=\\{@}
Query[ca]=http://www.wordreference.com/es/translation.asp?tranword=\\{@}
Query[ca@valencia]=http://www.wordreference.com/es/translation.asp?tranword=\\{@}
Query[cs]=http://www.wordreference.com/es/translation.asp?tranword=\\{@}
Query[csb]=http://www.wordreference.com/es/translation.asp?tranword=\\{@}
Query[da]=http://www.wordreference.com/es/translation.asp?tranword=\\{@}
Query[de]=http://www.wordreference.com/es/translation.asp?tranword=\\{@}
Query[el]=http://www.wordreference.com/es/translation.asp?tranword=\\{@}
Query[en_GB]=http://www.wordreference.com/es/translation.asp?tranword=\\{@}
Query[eo]=http://www.wordreference.com/es/translation.asp?tranword=\\{@}
Query[es]=http://www.wordreference.com/es/translation.asp?tranword=\\{@}
Query[et]=http://www.wordreference.com/es/translation.asp?tranword=\\{@}
Query[eu]=http://www.wordreference.com/es/translation.asp?tranword=\\{@}
Query[fa]=http://www.wordreference.com/es/translation.asp?tranword=\\{@}
Query[fi]=http://www.wordreference.com/es/translation.asp?tranword=\\{@}
Query[fr]=http://www.wordreference.com/es/translation.asp?tranword=\\{@}
Query[fy]=http://www.wordreference.com/es/translation.asp?tranword=\\{@}
Query[ga]=http://www.wordreference.com/es/translation.asp?tranword=\\{@}
Query[gl]=http://www.wordreference.com/es/translation.asp?tranword=\\{@}
Query[gu]=http://www.wordreference.com/es/translation.asp?tranword=\\{@}
Query[he]=http://www.wordreference.com/es/translation.asp?tranword=\\{@}
Query[hi]=http://www.wordreference.com/es/translation.asp?tranword=\\{@}
Query[hne]=http://www.wordreference.com/es/translation.asp?tranword=\\{@}
Query[hr]=http://www.wordreference.com/es/translation.asp?tranword=\\{@}
Query[hsb]=http://www.wordreference.com/es/translation.asp?tranword=\\{@}
Query[hu]=http://www.wordreference.com/es/translation.asp?tranword=\\{@}
Query[ia]=http://www.wordreference.com/es/translation.asp?tranword=\\{@}
Query[id]=http://www.wordreference.com/es/translation.asp?tranword=\\{@}
Query[is]=http://www.wordreference.com/es/translation.asp?tranword=\\{@}
Query[it]=http://www.wordreference.com/es/translation.asp?tranword=\\{@}
Query[ja]=http://www.wordreference.com/es/translation.asp?tranword=\\{@}
Query[ka]=http://www.wordreference.com/es/translation.asp?tranword=\\{@}
Query[kk]=http://www.wordreference.com/es/translation.asp?tranword=\\{@}
Query[km]=http://www.wordreference.com/es/translation.asp?tranword=\\{@}
Query[kn]=http://www.wordreference.com/es/translation.asp?tranword=\\{@}
Query[ko]=http://www.wordreference.com/es/translation.asp?tranword=\\{@}
Query[ku]=http://www.wordreference.com/es/translation.asp?tranword=\\{@}
Query[lt]=http://www.wordreference.com/es/translation.asp?tranword=\\{@}
Query[lv]=http://www.wordreference.com/es/translation.asp?tranword=\\{@}
Query[mai]=http://www.wordreference.com/es/translation.asp?tranword=\\{@}
Query[ml]=http://www.wordreference.com/es/translation.asp?tranword=\\{@}
Query[mr]=http://www.wordreference.com/es/translation.asp?tranword=\\{@}
Query[ms]=http://www.wordreference.com/es/translation.asp?tranword=\\{@}
Query[nb]=http://www.wordreference.com/es/translation.asp?tranword=\\{@}
Query[nds]=http://www.wordreference.com/es/translation.asp?tranword=\\{@}
Query[ne]=http://www.wordreference.com/es/translation.asp?tranword=\\{@}
Query[nl]=http://www.wordreference.com/es/translation.asp?tranword=\\{@}
Query[nn]=http://www.wordreference.com/es/translation.asp?tranword=\\{@}
Query[oc]=http://www.wordreference.com/es/translation.asp?tranword=\\{@}
Query[or]=http://www.wordreference.com/es/translation.asp?tranword=\\{@}
Query[pa]=http://www.wordreference.com/es/translation.asp?tranword=\\{@}
Query[pl]=http://www.wordreference.com/es/translation.asp?tranword=\\{@}
Query[pt]=http://www.wordreference.com/es/translation.asp?tranword=\\{@}
Query[pt_BR]=http://www.wordreference.com/es/translation.asp?tranword=\\{@}
Query[ro]=http://www.wordreference.com/es/translation.asp?tranword=\\{@}
Query[ru]=http://www.wordreference.com/es/translation.asp?tranword=\\{@}
Query[se]=http://www.wordreference.com/es/translation.asp?tranword=\\{@}
Query[si]=http://www.wordreference.com/es/translation.asp?tranword=\\{@}
Query[sk]=http://www.wordreference.com/es/translation.asp?tranword=\\{@}
Query[sl]=http://www.wordreference.com/es/translation.asp?tranword=\\{@}
Query[sr]=http://www.wordreference.com/es/translation.asp?tranword=\\{@}
Query[sr@ijekavian]=http://www.wordreference.com/es/translation.asp?tranword=\\{@}
Query[sr@ijekavianlatin]=http://www.wordreference.com/es/translation.asp?tranword=\\{@}
Query[sr@latin]=http://www.wordreference.com/es/translation.asp?tranword=\\{@}
Query[sv]=http://www.wordreference.com/es/translation.asp?tranword=\\{@}
Query[ta]=http://www.wordreference.com/es/translation.asp?tranword=\\{@}
Query[te]=http://www.wordreference.com/es/translation.asp?tranword=\\{@}
Query[tg]=http://www.wordreference.com/es/translation.asp?tranword=\\{@}
Query[th]=http://www.wordreference.com/es/translation.asp?tranword=\\{@}
Query[tr]=http://www.wordreference.com/es/translation.asp?tranword=\\{@}
Query[ug]=http://www.wordreference.com/es/translation.asp?tranword=\\{@}
Query[uk]=http://www.wordreference.com/es/translation.asp?tranword=\\{@}
Query[uz]=http://www.wordreference.com/es/translation.asp?tranword=\\{@}
Query[uz@cyrillic]=http://www.wordreference.com/es/translation.asp?tranword=\\{@}
Query[vi]=http://www.wordreference.com/es/translation.asp?tranword=\\{@}
Query[wa]=http://www.wordreference.com/es/translation.asp?tranword=\\{@}
Query[x-test]=xxhttp://www.wordreference.com/es/translation.asp?tranword=\\{@}xx
Query[zh_CN]=http://www.wordreference.com/es/translation.asp?tranword=\\{@}
Query[zh_TW]=http://www.wordreference.com/es/translation.asp?tranword=\\{@}
X-KDE-ServiceTypes=SearchProvider
Type=Service
