[Desktop Entry]
Charset=
Hidden=false
Keys=en2fr
Name=WordReference.com Translation: English to French
Name[af]=WordReference.com Vertaling: Engels na Frans
Name[ar]=ترجمة WordReference: إنجليزي إلى فرنسي
Name[as]=WordReference.com Translation: English to French
Name[ast]=WordReference.com Torna: inglés a francés
Name[be]=WordReference.com Пераклад: з англійскай на французскую
Name[be@latin]=Pierakład „WordReference.com”: anhielskaja ➙ francuskaja
Name[bg]=Превод с WordReference.com — от английски към френски
Name[bn]=WordReference.com অনুবাদ: ইংরাজি থেকে ফরাসী
Name[bn_IN]=WordReference.com অনুবাদ: ইংরাজি থেকে ফ্রেঞ্চ
Name[bs]=Vordreferens: sa engleskog na francuski
Name[ca]=Traducció WordReference.com: Anglès - Francès
Name[ca@valencia]=Traducció WordReference.com: Anglés - Francés
Name[cs]=Překlad WordReference.com: z angličtiny do francouzštiny
Name[csb]=WordReference.com: anielsczi -> francësczi
Name[cy]=Cyfieithiad WordReference.com: Saesneg i Ffrangeg
Name[da]=WordReference.com oversættelse: Engelsk til fransk
Name[de]=WordReference.com – Übersetzung: Englisch/Französisch
Name[el]=WordReference.com Μετάφραση: Αγγλικά σε Γαλλικά
Name[en_GB]=WordReference.com Translation: English to French
Name[eo]=Tradukado WordReference.com: angle francen
Name[es]=WordReference.com Traducción: inglés a francés
Name[et]=WordReference.com tõlkimine: inglise->prantsuse
Name[eu]=WordReference.com Itzulpena: ingelesetik frantsesera
Name[fa]=ترجمه WordReference.com: انگلیسی به فرانسوی
Name[fi]=WordReference.com-käännös englannista ranskaksi
Name[fr]=Traduction sur WordReference.com : anglais vers français
Name[fy]=WordReference.com-oersetting: Ingelsk nei Frânsk
Name[ga]=Aistriúchán WordReference.com: Béarla go Fraincis
Name[gl]=Tradución WordReference.com: inglés a francés
Name[gu]=WordReference.com ભાષાંતર: અંગ્રેજી થી ફ્રેંચ
Name[he]=תרגום WordReference.com: אנגלית לצרפתית
Name[hi]=WordReference.com अनुवादः अंग्रेजी से फ्रांसीसी
Name[hne]=वर्डरेफरेंस.काम अनुवादः अंगरेजी से फ्रांसीसी
Name[hr]=WordReference.com prijevod: engleski na francuski
Name[hsb]=WordReference.com přełožowanje: jendźelsce -> francosce
Name[hu]=WordReference.com fordítás: angolról franciára
Name[ia]=WordReference.com Traduction: Anglese a Francese
Name[id]=Terjemahan WordReference.com: Bahasa Inggris ke Perancis
Name[is]=WordReference.com þýðing: Ensk/frönsk
Name[it]=Traduzione WordReference.com: dall'inglese al francese
Name[ja]=WordReference.com 英語-フランス語翻訳
Name[kk]=WordReference.com ағылшын тілінен французшаға аудару
Name[km]=ការ​បកប្រែ WordReference.com ៖ ភាសា​អង់គ្លេស​ទៅ​ជា​​បារាំង
Name[kn]=WordReference.com ಅನುವಾದ: ಇಂಗ್ಲೀಷಿನಿಂದ ಫ್ರೆಂಚ್ ಗೆ
Name[ko]=WordReference.com 번역: 영어에서 프랑스어로
Name[ku]=WordReference.com Wergerandin: Îngilîzî ji Fransizî re
Name[lt]=WordReference.com vertimas: iš anglų į prancūzų
Name[lv]=WordReference.com tulkošana: no Angļu uz Franču
Name[mai]=WordReference.com अनुवादः अंग्रेजी सँ फ्रांसीसी
Name[mk]=WordReference.com превод: од англиски на француски
Name[ml]=WordReference.com പരിഭാഷ: ഇംഗ്ലീഷില്‍ നിന്നും ഫ്രഞ്ചിലേയ്ക്കു്
Name[mr]=WordReference.com अनुवादः अंग्रेजी ते फ्रांसीसी
Name[nb]=WordReference.com – oversettelse fra engelsk til fransk
Name[nds]=WordReference.com Översetten: Engelsch na Franzöösch
Name[ne]=WordReference.com Translation: अङ्ग्रेजीलाई फ्रेन्चमा
Name[nl]=WordReference.com-vertaling: Engels naar Frans
Name[nn]=WordReference.com – omsetjing: engelsk til fransk
Name[or]=WordReference.com ଅନୁବାଦ: ଇଂରାଜୀରୁ ଫ୍ରେଞ୍ଚ
Name[pa]=WordReference.com ਟਰਾਂਸਲੇਸ਼ਨ:ਅੰਗਰੇਜ਼ੀ ਤੋਂ ਫਰੈਂਚ
Name[pl]=WordReference.com: angielski -> francuski
Name[pt]=Tradução do WordReference.com: Inglês para Francês
Name[pt_BR]=WordReference.com - Tradução: inglês para francês
Name[ro]=Traducere WordReference.com: engleză la franceză
Name[ru]=Переводчик WordReference.com: англо-французский
Name[se]=WordReference.com – jorgaleapmi: eŋgelasgielas fránskkagillii
Name[si]=WordReference.com පරිවර්ථනය: ඉංග්‍රීසි සිට ප්‍රංශ බසට
Name[sk]=WordReference.com preklad z angličtiny do francúzštiny
Name[sl]=Prevod WordReference.com: angleščina v francoščino
Name[sr]=Вордреференс: са енглеског на француски
Name[sr@ijekavian]=Вордреференс: са енглеског на француски
Name[sr@ijekavianlatin]=WordReference: sa engleskog na francuski
Name[sr@latin]=WordReference: sa engleskog na francuski
Name[sv]=Wordreference.com översättning: engelska till franska
Name[ta]=WordReference.com மொழிபெயர்ப்பு: ஆங்கிலத்தில் இருந்து ப்ரென்சு மொழிக்கு
Name[te]=WordReference.com అనువాదము: ఇంగ్లీష్ నుండి ఫ్రెంచ్
Name[tg]=Тарҷумаҳои WordReference.com: Англисӣ ба франсузӣ
Name[th]=การแปลของ WordReference.com: ภาษาอังกฤษเป็นฝรั่งเศส
Name[tr]=WordReference.com Çevirisi: İngilizceden Fransızcaya
Name[ug]=WordReference.com تەرجىمە: ئىنگلىزچىدىن فىرانسۇزچىغا
Name[uk]=WordReference.com — переклад з англійської французькою
Name[uz]=WordReference.com tarjima: Inglizchadan Fransuzchaga
Name[uz@cyrillic]=WordReference.com таржима: Инглизчадан Французчага
Name[vi]=WordReference.com Dịch: Tiếng Anh sang tiếng Pháp
Name[wa]=WordReference.com ratournaedje di l' inglès viè l' francès
Name[x-test]=xxWordReference.com Translation: English to Frenchxx
Name[zh_CN]=WordReference.com 翻译：英语译法语
Name[zh_TW]=WordReference.com 翻譯: 英文至法文
Query=http://www.wordreference.com/fr/Translation.asp?enfr=\\{@}
Query[af]=http://www.wordreference.com/fr/Translation.asp?enfr=\\{@}
Query[ar]=http://www.wordreference.com/fr/Translation.asp?enfr=\\{@}
Query[as]=http://www.wordreference.com/fr/Translation.asp?enfr=\\{@}
Query[ast]=http://www.wordreference.com/fr/Translation.asp?enfr=\\{@}
Query[be]=http://www.wordreference.com/fr/Translation.asp?enfr=\\{@}
Query[be@latin]=http://www.wordreference.com/fr/Translation.asp?enfr=\\{@}
Query[bg]=http://www.wordreference.com/fr/Translation.asp?enfr=\\{@}
Query[bn]=http://www.wordreference.com/fr/Translation.asp?enfr=\\{@}
Query[bn_IN]=http://www.wordreference.com/fr/Translation.asp?enfr=\\{@}
Query[br]=http://www.wordreference.com/fr/Translation.asp?enfr=\\{@}
Query[bs]=http://www.wordreference.com/fr/Translation.asp?enfr=\\{@}
Query[ca]=http://www.wordreference.com/fr/Translation.asp?enfr=\\{@}
Query[ca@valencia]=http://www.wordreference.com/fr/Translation.asp?enfr=\\{@}
Query[cs]=http://www.wordreference.com/fr/Translation.asp?enfr=\\{@}
Query[csb]=http://www.wordreference.com/fr/Translation.asp?enfr=\\{@}
Query[da]=http://www.wordreference.com/fr/Translation.asp?enfr=\\{@}
Query[de]=http://www.wordreference.com/fr/Translation.asp?enfr=\\{@}
Query[el]=http://www.wordreference.com/fr/Translation.asp?enfr=\\{@}
Query[en_GB]=http://www.wordreference.com/fr/Translation.asp?enfr=\\{@}
Query[eo]=http://www.wordreference.com/fr/Translation.asp?enfr=\\{@}
Query[es]=http://www.wordreference.com/fr/Translation.asp?enfr=\\{@}
Query[et]=http://www.wordreference.com/fr/Translation.asp?enfr=\\{@}
Query[eu]=http://www.wordreference.com/fr/Translation.asp?enfr=\\{@}
Query[fa]=http://www.wordreference.com/fr/Translation.asp?enfr=\\{@}
Query[fi]=http://www.wordreference.com/fr/Translation.asp?enfr=\\{@}
Query[fr]=http://www.wordreference.com/fr/Translation.asp?enfr=\\{@}
Query[fy]=http://www.wordreference.com/fr/Translation.asp?enfr=\\{@}
Query[ga]=http://www.wordreference.com/fr/Translation.asp?enfr=\\{@}
Query[gl]=http://www.wordreference.com/fr/Translation.asp?enfr=\\{@}
Query[gu]=http://www.wordreference.com/fr/Translation.asp?enfr=\\{@}
Query[he]=http://www.wordreference.com/fr/Translation.asp?enfr=\\{@}
Query[hi]=http://www.wordreference.com/fr/Translation.asp?enfr=\\{@}
Query[hne]=http://www.wordreference.com/fr/Translation.asp?enfr=\\{@}
Query[hr]=http://www.wordreference.com/fr/Translation.asp?enfr=\\{@}
Query[hsb]=http://www.wordreference.com/fr/Translation.asp?enfr=\\{@}
Query[hu]=http://www.wordreference.com/fr/Translation.asp?enfr=\\{@}
Query[ia]=http://www.wordreference.com/fr/Translation.asp?enfr=\\{@}
Query[id]=http://www.wordreference.com/fr/Translation.asp?enfr=\\{@}
Query[is]=http://www.wordreference.com/fr/Translation.asp?enfr=\\{@}
Query[it]=http://www.wordreference.com/fr/Translation.asp?enfr=\\{@}
Query[ja]=http://www.wordreference.com/fr/Translation.asp?enfr=\\{@}
Query[ka]=http://www.wordreference.com/fr/Translation.asp?enfr=\\{@}
Query[kk]=http://www.wordreference.com/fr/Translation.asp?enfr=\\{@}
Query[km]=http://www.wordreference.com/fr/Translation.asp?enfr=\\{@}
Query[kn]=http://www.wordreference.com/fr/Translation.asp?enfr=\\{@}
Query[ko]=http://www.wordreference.com/fr/Translation.asp?enfr=\\{@}
Query[ku]=http://www.wordreference.com/fr/Translation.asp?enfr=\\{@}
Query[lt]=http://www.wordreference.com/fr/Translation.asp?enfr=\\{@}
Query[lv]=http://www.wordreference.com/fr/Translation.asp?enfr=\\{@}
Query[mai]=http://www.wordreference.com/fr/Translation.asp?enfr=\\{@}
Query[ml]=http://www.wordreference.com/fr/Translation.asp?enfr=\\{@}
Query[mr]=http://www.wordreference.com/fr/Translation.asp?enfr=\\{@}
Query[ms]=http://www.wordreference.com/fr/Translation.asp?enfr=\\{@}
Query[nb]=http://www.wordreference.com/fr/Translation.asp?enfr=\\{@}
Query[nds]=http://www.wordreference.com/fr/Translation.asp?enfr=\\{@}
Query[ne]=http://www.wordreference.com/fr/Translation.asp?enfr=\\{@}
Query[nl]=http://www.wordreference.com/fr/Translation.asp?enfr=\\{@}
Query[nn]=http://www.wordreference.com/fr/Translation.asp?enfr=\\{@}
Query[oc]=http://www.wordreference.com/fr/Translation.asp?enfr=\\{@}
Query[or]=http://www.wordreference.com/fr/Translation.asp?enfr=\\{@}
Query[pa]=http://www.wordreference.com/fr/Translation.asp?enfr=\\{@}
Query[pl]=http://www.wordreference.com/fr/Translation.asp?enfr=\\{@}
Query[pt]=http://www.wordreference.com/fr/Translation.asp?enfr=\\{@}
Query[pt_BR]=http://www.wordreference.com/fr/Translation.asp?enfr=\\{@}
Query[ro]=http://www.wordreference.com/fr/Translation.asp?enfr=\\{@}
Query[ru]=http://www.wordreference.com/fr/Translation.asp?enfr=\\{@}
Query[se]=http://www.wordreference.com/fr/Translation.asp?enfr=\\{@}
Query[si]=http://www.wordreference.com/fr/Translation.asp?enfr=\\{@}
Query[sk]=http://www.wordreference.com/fr/Translation.asp?enfr=\\{@}
Query[sl]=http://www.wordreference.com/fr/Translation.asp?enfr=\\{@}
Query[sr]=http://www.wordreference.com/fr/Translation.asp?enfr=\\{@}
Query[sr@ijekavian]=http://www.wordreference.com/fr/Translation.asp?enfr=\\{@}
Query[sr@ijekavianlatin]=http://www.wordreference.com/fr/Translation.asp?enfr=\\{@}
Query[sr@latin]=http://www.wordreference.com/fr/Translation.asp?enfr=\\{@}
Query[sv]=http://www.wordreference.com/fr/Translation.asp?enfr=\\{@}
Query[ta]=http://www.wordreference.com/fr/Translation.asp?enfr=\\{@}
Query[te]=http://www.wordreference.com/fr/Translation.asp?enfr=\\{@}
Query[tg]=http://www.wordreference.com/fr/Translation.asp?enfr=\\{@}
Query[th]=http://www.wordreference.com/fr/Translation.asp?enfr=\\{@}
Query[tr]=http://www.wordreference.com/fr/Translation.asp?enfr=\\{@}
Query[ug]=http://www.wordreference.com/fr/Translation.asp?enfr=\\{@}
Query[uk]=http://www.wordreference.com/fr/Translation.asp?enfr=\\{@}
Query[uz]=http://www.wordreference.com/fr/Translation.asp?enfr=\\{@}
Query[uz@cyrillic]=http://www.wordreference.com/fr/Translation.asp?enfr=\\{@}
Query[vi]=http://www.wordreference.com/fr/Translation.asp?enfr=\\{@}
Query[wa]=http://www.wordreference.com/fr/Translation.asp?enfr=\\{@}
Query[x-test]=xxhttp://www.wordreference.com/fr/Translation.asp?enfr=\\{@}xx
Query[zh_CN]=http://www.wordreference.com/fr/Translation.asp?enfr=\\{@}
Query[zh_TW]=http://www.wordreference.com/fr/Translation.asp?enfr=\\{@}
X-KDE-ServiceTypes=SearchProvider
Type=Service
