[Desktop Entry]
Charset=
Hidden=false
Keys=en2it
Name=WordReference.com Translation: English to Italian
Name[af]=WordReference.com Vertaling: Engels na Italiaans
Name[ar]=ترجمة WordReference: إنجليزي إلى إيطالي
Name[as]=WordReference.com Translation: English to Italian
Name[ast]=WordReference.com Torna: inglés a italianu
Name[be]=WordReference.com Пераклад: з англійскай на італьянскую
Name[be@latin]=Pierakład „WordReference.com”: anhielskaja ➙ italjanskaja
Name[bg]=Превод с WordReference.com — от английски към италиански
Name[bn]=WordReference.com অনুবাদ: ইংরাজি থেকে ইতালীয়
Name[bn_IN]=WordReference.com অনুবাদ: ইংরাজি থেকে ইটালিয়ান
Name[bs]=Vordreferens: sa engleskog na italijanski
Name[ca]=Traducció WordReference.com: Anglès - Italià
Name[ca@valencia]=Traducció WordReference.com: Anglés - Italià
Name[cs]=Překlad WordReference.com: z angličtiny do italštiny
Name[csb]=WordReference.com: anielsczi -> italsczi
Name[cy]=Cyfieithiad WordReference.com: Saesneg i Eidaleg
Name[da]=WordReference.com oversættelse: Engelsk til italiensk
Name[de]=WordReference.com – Übersetzung: Englisch/Italienisch
Name[el]=WordReference.com Μετάφραση: Αγγλικά σε Ιταλικά
Name[en_GB]=WordReference.com Translation: English to Italian
Name[eo]=Tradukado WordReference.com: angle italen
Name[es]=WordReference.com Traducción: inglés a italiano
Name[et]=WordReference.com tõlkimine: inglise->itaalia
Name[eu]=WordReference.com Itzulpena: ingelesetik italierara
Name[fa]=ترجمه WordReference.com: انگلیسی به ایتالیایی
Name[fi]=WordReference.com-käännös englannista italiaksi
Name[fr]=Traduction sur WordReference.com : anglais vers italien
Name[fy]=WordReference.com-oersetting: Ingelsk nei Italiaansk
Name[ga]=Aistriúchán WordReference.com: Béarla go hIodáilis
Name[gl]=Tradución WordReference.com: inglés a italiano
Name[gu]=WordReference.com ભાષાંતર: અંગ્રેજી થી ઇટાલિઅન
Name[he]=תרגום WordReference.com: אנגלית לאיטלקית
Name[hi]=WordReference.com अनुवादः अंग्रेजी से इतालवी
Name[hne]=वर्डरेफरेंस.काम अनुवादः अंगरेजी से इतालवी
Name[hr]=WordReference.com Prijevod: engleski na talijanski
Name[hsb]=WordReference.com přełožowanje: jendźelsce -> italsce
Name[hu]=WordReference.com fordítás: angolról olaszra
Name[ia]=WordReference.com Traduction: Anglese a Italiano
Name[id]=Terjemahan WordReference.com: Bahasa Inggris ke Italia
Name[is]=WordReference.com þýðing: Ensk/ítölsk
Name[it]=Traduzione WordReference.com: dall'inglese all'italiano
Name[ja]=WordReference.com 英語-イタリア語翻訳
Name[kk]=WordReference.com ағылшын тілінен итальяншаға аудару
Name[km]=ការ​បកប្រែ WordReference.com ៖ ភាសា​អង់គ្លេស​ទៅ​ជា​អ៊ីតាលី
Name[kn]=WordReference.com ಅನುವಾದ: ಇಂಗ್ಲೀಷಿನಿಂದ ಇಟಾಲಿಯನ್ ಗೆ
Name[ko]=WordReference.com 번역: 영어에서 이탈리아어로
Name[ku]=WordReference.com Wergerandin: Îngilîzî ji Îtalî re
Name[lt]=WordReference.com vertimas: iš anglų į italų
Name[lv]=WordReference.com tulkošana: no Angļu uz Itāļu
Name[mai]=WordReference.com अनुवादः अंग्रेजी सँ इतालवी
Name[mk]=WordReference.com превод: од англиски на италијански
Name[ml]=WordReference.com പരിഭാഷ: ഇംഗ്ലീഷില്‍ നിന്നും ഇറ്റാലിയനിലേയ്ക്കു്
Name[mr]=WordReference.com अनुवादः अंग्रेजी ते इटालीयन
Name[nb]=WordReference.com – oversettelse fra engelsk til italiensk
Name[nds]=WordReference.com Översetten: Engelsch na Italieensch
Name[ne]=WordReference.com Translation: अङ्ग्रेजीलाई इटलीमा
Name[nl]=WordReference.com-vertaling: Engels naar Italiaans
Name[nn]=WordReference.com – omsetjing: engelsk til italiensk
Name[or]=WordReference.com ଅନୁବାଦ: ଇଂରାଜୀରୁ ଇଟାଲିଆନ
Name[pa]=WordReference.com ਟਰਾਂਸਲੇਸ਼ਨ:ਅੰਗਰੇਜ਼ੀ ਤੋਂ ਇਤਾਲਵੀ
Name[pl]=WordReference.com: angielski -> włoski
Name[pt]=Tradução do WordReference.com: Inglês para Italiano
Name[pt_BR]=WordReference.com - Tradução: inglês para italiano
Name[ro]=Traducere WordReference.com: engleză la italiană
Name[ru]=Переводчик WordReference.com: англо-итальянский
Name[se]=WordReference.com – jorgaleapmi: eŋgelasgielas italialašgillii
Name[si]=WordReference.com පරිවර්ථනය: ඉංග්‍රීසි සිට ඉතාලි බසට
Name[sk]=WordReference.com preklad z angličtiny do taliančiny
Name[sl]=Prevod WordReference.com: angleščina v italijanščino
Name[sr]=Вордреференс: са енглеског на италијански
Name[sr@ijekavian]=Вордреференс: са енглеског на италијански
Name[sr@ijekavianlatin]=WordReference: sa engleskog na italijanski
Name[sr@latin]=WordReference: sa engleskog na italijanski
Name[sv]=Wordreference.com översättning: engelska till italienska
Name[ta]=WordReference.com மொழிபெயர்ப்பு: ஆங்கிலத்தில் இருந்து இத்தாலிய மொழிக்கு
Name[te]=WordReference.com అనువాదము: ఇంగ్లీష్ నుండి ఇటాలియన్
Name[tg]=Тарҷумаҳои WordReference.com: Англисӣ ба итолиёӣ
Name[th]=การแปลจาก WordReference.com: แปลภาษาอังกฤษเป็นอิตาเลี่ยน
Name[tr]=WordReference.com Çevirisi: İngilizceden İtalyancaya
Name[ug]=WordReference.com تەرجىمە: ئىنگلىزچىدىن ئىتاليانچىغا
Name[uk]=WordReference.com — переклад з англійської італійською
Name[uz]=WordReference.com tarjima: Inglizchadan Italyanchaga
Name[uz@cyrillic]=WordReference.com таржима: Инглизчадан Италянчага
Name[vi]=WordReference.com Dịch: Tiếng Anh sang tiếng Ý
Name[wa]=WordReference.com ratournaedje di l' inglès viè l' itålyin
Name[x-test]=xxWordReference.com Translation: English to Italianxx
Name[zh_CN]=WordReference.com 翻译：英语译意大利语
Name[zh_TW]=WordReference.com 翻譯: 英文至義大利文
Query=http://www.wordreference.com/it/translation.asp?enit=\\{@}
Query[af]=http://www.wordreference.com/it/translation.asp?enit=\\{@}
Query[ar]=http://www.wordreference.com/it/translation.asp?enit=\\{@}
Query[as]=http://www.wordreference.com/it/translation.asp?enit=\\{@}
Query[ast]=http://www.wordreference.com/it/translation.asp?enit=\\{@}
Query[be]=http://www.wordreference.com/it/translation.asp?enit=\\{@}
Query[be@latin]=http://www.wordreference.com/it/translation.asp?enit=\\{@}
Query[bg]=http://www.wordreference.com/it/translation.asp?enit=\\{@}
Query[bn]=http://www.wordreference.com/it/translation.asp?enit=\\{@}
Query[bn_IN]=http://www.wordreference.com/it/translation.asp?enit=\\{@}
Query[br]=http://www.wordreference.com/it/translation.asp?enit=\\{@}
Query[bs]=http://www.wordreference.com/it/translation.asp?enit=\\{@}
Query[ca]=http://www.wordreference.com/it/translation.asp?enit=\\{@}
Query[ca@valencia]=http://www.wordreference.com/it/translation.asp?enit=\\{@}
Query[cs]=http://www.wordreference.com/it/translation.asp?enit=\\{@}
Query[csb]=http://www.wordreference.com/it/translation.asp?enit=\\{@}
Query[da]=http://www.wordreference.com/it/translation.asp?enit=\\{@}
Query[de]=http://www.wordreference.com/it/translation.asp?enit=\\{@}
Query[el]=http://www.wordreference.com/it/translation.asp?enit=\\{@}
Query[en_GB]=http://www.wordreference.com/it/translation.asp?enit=\\{@}
Query[eo]=http://www.wordreference.com/it/translation.asp?enit=\\{@}
Query[es]=http://www.wordreference.com/it/translation.asp?enit=\\{@}
Query[et]=http://www.wordreference.com/it/translation.asp?enit=\\{@}
Query[eu]=http://www.wordreference.com/it/translation.asp?enit=\\{@}
Query[fa]=http://www.wordreference.com/it/translation.asp?enit=\\{@}
Query[fi]=http://www.wordreference.com/it/translation.asp?enit=\\{@}
Query[fr]=http://www.wordreference.com/it/translation.asp?enit=\\{@}
Query[fy]=http://www.wordreference.com/it/translation.asp?enit=\\{@}
Query[ga]=http://www.wordreference.com/it/translation.asp?enit=\\{@}
Query[gl]=http://www.wordreference.com/it/translation.asp?enit=\\{@}
Query[gu]=http://www.wordreference.com/it/translation.asp?enit=\\{@}
Query[he]=http://www.wordreference.com/it/translation.asp?enit=\\{@}
Query[hi]=http://www.wordreference.com/it/translation.asp?enit=\\{@}
Query[hne]=http://www.wordreference.com/it/translation.asp?enit=\\{@}
Query[hr]=http://www.wordreference.com/it/translation.asp?enit=\\{@}
Query[hsb]=http://www.wordreference.com/it/translation.asp?enit=\\{@}
Query[hu]=http://www.wordreference.com/it/translation.asp?enit=\\{@}
Query[ia]=http://www.wordreference.com/it/translation.asp?enit=\\{@}
Query[id]=http://www.wordreference.com/it/translation.asp?enit=\\{@}
Query[is]=http://www.wordreference.com/it/translation.asp?enit=\\{@}
Query[it]=http://www.wordreference.com/it/translation.asp?enit=\\{@}
Query[ja]=http://www.wordreference.com/it/translation.asp?enit=\\{@}
Query[ka]=http://www.wordreference.com/it/translation.asp?enit=\\{@}
Query[kk]=http://www.wordreference.com/it/translation.asp?enit=\\{@}
Query[km]=http://www.wordreference.com/it/translation.asp?enit=\\{@}
Query[kn]=http://www.wordreference.com/it/translation.asp?enit=\\{@}
Query[ko]=http://www.wordreference.com/it/translation.asp?enit=\\{@}
Query[ku]=http://www.wordreference.com/it/translation.asp?enit=\\{@}
Query[lt]=http://www.wordreference.com/it/translation.asp?enit=\\{@}
Query[lv]=http://www.wordreference.com/it/translation.asp?enit=\\{@}
Query[mai]=http://www.wordreference.com/it/translation.asp?enit=\\{@}
Query[ml]=http://www.wordreference.com/it/translation.asp?enit=\\{@}
Query[mr]=http://www.wordreference.com/it/translation.asp?enit=\\{@}
Query[ms]=http://www.wordreference.com/it/translation.asp?enit=\\{@}
Query[nb]=http://www.wordreference.com/it/translation.asp?enit=\\{@}
Query[nds]=http://www.wordreference.com/it/translation.asp?enit=\\{@}
Query[ne]=http://www.wordreference.com/it/translation.asp?enit=\\{@}
Query[nl]=http://www.wordreference.com/it/translation.asp?enit=\\{@}
Query[nn]=http://www.wordreference.com/it/translation.asp?enit=\\{@}
Query[oc]=http://www.wordreference.com/it/translation.asp?enit=\\{@}
Query[or]=http://www.wordreference.com/it/translation.asp?enit=\\{@}
Query[pa]=http://www.wordreference.com/it/translation.asp?enit=\\{@}
Query[pl]=http://www.wordreference.com/it/translation.asp?enit=\\{@}
Query[pt]=http://www.wordreference.com/it/translation.asp?enit=\\{@}
Query[pt_BR]=http://www.wordreference.com/it/translation.asp?enit=\\{@}
Query[ro]=http://www.wordreference.com/it/translation.asp?enit=\\{@}
Query[ru]=http://www.wordreference.com/it/translation.asp?enit=\\{@}
Query[se]=http://www.wordreference.com/it/translation.asp?enit=\\{@}
Query[si]=http://www.wordreference.com/it/translation.asp?enit=\\{@}
Query[sk]=http://www.wordreference.com/it/translation.asp?enit=\\{@}
Query[sl]=http://www.wordreference.com/it/translation.asp?enit=\\{@}
Query[sr]=http://www.wordreference.com/it/translation.asp?enit=\\{@}
Query[sr@ijekavian]=http://www.wordreference.com/it/translation.asp?enit=\\{@}
Query[sr@ijekavianlatin]=http://www.wordreference.com/it/translation.asp?enit=\\{@}
Query[sr@latin]=http://www.wordreference.com/it/translation.asp?enit=\\{@}
Query[sv]=http://www.wordreference.com/it/translation.asp?enit=\\{@}
Query[ta]=http://www.wordreference.com/it/translation.asp?enit=\\{@}
Query[te]=http://www.wordreference.com/it/translation.asp?enit=\\{@}
Query[tg]=http://www.wordreference.com/it/translation.asp?enit=\\{@}
Query[th]=http://www.wordreference.com/it/translation.asp?enit=\\{@}
Query[tr]=http://www.wordreference.com/it/translation.asp?enit=\\{@}
Query[ug]=http://www.wordreference.com/it/translation.asp?enit=\\{@}
Query[uk]=http://www.wordreference.com/it/translation.asp?enit=\\{@}
Query[uz]=http://www.wordreference.com/it/translation.asp?enit=\\{@}
Query[uz@cyrillic]=http://www.wordreference.com/it/translation.asp?enit=\\{@}
Query[vi]=http://www.wordreference.com/it/translation.asp?enit=\\{@}
Query[wa]=http://www.wordreference.com/it/translation.asp?enit=\\{@}
Query[x-test]=xxhttp://www.wordreference.com/it/translation.asp?enit=\\{@}xx
Query[zh_CN]=http://www.wordreference.com/it/translation.asp?enit=\\{@}
Query[zh_TW]=http://www.wordreference.com/it/translation.asp?enit=\\{@}
X-KDE-ServiceTypes=SearchProvider
Type=Service
