[Desktop Entry]
Charset=
Hidden=false
Keys=es2en
Name=WordReference.com Translation: Spanish to English
Name[af]=WordReference.com Vertaling: Spaans na Engels
Name[ar]=ترجمة WordReference.com: إسباني إلى إنجليزي
Name[as]=WordReference.com Translation: Spanish to English
Name[ast]=WordReference.com Torna: castellanu a inglés
Name[be]=WordReference.com Пераклад: з іспанскай на англійскую
Name[be@latin]=Pierakład „WordReference.com”: hišpanskaja ➙ anhielskaja
Name[bg]=Превод с WordReference.com — от испански към английски
Name[bn]=WordReference.com অনুবাদ: স্প্যানিশ থেকে ইংরাজি 
Name[bn_IN]=WordReference.com অনুবাদ: স্প্যানিশ থেকে ইংরাজি
Name[bs]=Vordreferens: sa španskog na engleski
Name[ca]=Traducció WordReference.com: Espanyol - Anglès
Name[ca@valencia]=Traducció WordReference.com: Espanyol - Anglés
Name[cs]=Překlad WordReference.com: ze španělštiny do angličtiny
Name[csb]=WordReference.com: szpańsczi -> anielsczi
Name[cy]=Cyfieithiad WordReference.com: Sbaeneg i Saesneg
Name[da]=WordReference.com oversættelse: Spansk til engelsk
Name[de]=WordReference.com – Übersetzung: Spanisch/Englisch
Name[el]=WordReference.com Μετάφραση: Ισπανικά σε Αγγλικά
Name[en_GB]=WordReference.com Translation: Spanish to English
Name[eo]=Tradukado WordReference.com: hispane anglen
Name[es]=WordReference.com Traducción: español a inglés
Name[et]=WordReference.com tõlkimine: hispaania->inglise
Name[eu]=WordReference.com Itzulpena: gazteleratik ingelesera
Name[fa]=ترجمه WordReference.com: اسپانیایی به انگلیسی
Name[fi]=WordReference.com-käännös espanjasta englanniksi
Name[fr]=Traduction sur WordReference.com : espagnol vers anglais
Name[fy]=WordReference.com-oersetting: Spaansk nei Ingelsk
Name[ga]=WordReference.com Aistriúchán: Spáinnis go Béarla
Name[gl]=Tradución WordReference.com: español a inglés
Name[gu]=WordReference.com ભાષાંતર: સ્પેનિશ થી અંગ્રેજી
Name[he]=תרגום WordReference.com: ספרדית לאנגלית
Name[hi]=WordReference.com अनुवादः स्पेनी से अंग्रेजी
Name[hne]=वर्डरेफरेंस.काम अनुवादः स्पेनी से अंगरेजी
Name[hr]=WordReference.com Prijevod: španjolski na engleski
Name[hsb]=WordReference.com přełožowanje: španisce -> jendźelsce
Name[hu]=WordReference.com fordítás: spanyolról angolra
Name[ia]=WordReference.com Traduction: Espaniol a Anglese
Name[id]=Terjemahan WordReference.com: Bahasa Spanyol ke Inggris
Name[is]=WordReference.com þýðing: Spönsk/ensk
Name[it]=Traduzione WordReference.com: dallo spagnolo all'inglese
Name[ja]=WordReference.com スペイン語-英語翻訳
Name[kk]=WordReference.com испан тілінен ағылшынға аудару
Name[km]=ការ​បកប្រែ WordReference.com ៖ ភាសា​អេស្ប៉ាញ​ទៅ​ជា​អង់គ្លេស
Name[kn]=WordReference.com ಅನುವಾದ: ಸ್ಪಾನಿಷ್ ನಿಂದ ಇಂಗ್ಲೀಷ್ ಗೆ
Name[ko]=WordReference.com 번역: 스페인어에서 영어로
Name[ku]=WordReference.com Wergerandin: Spanyolî ji Îngilîzî re
Name[lt]=WordReference.com vertimas: iš ispanų į anglų
Name[lv]=WordReference.com tulkošana: no Spāņu uz Angļu
Name[mai]=WordReference.com अनुवादः स्पेनी सँ अंग्रेजी
Name[mk]=WordReference.com превод: од шпански на англиски
Name[ml]=WordReference.com പരിഭാഷ: സ്പാനിഷില്‍ നിന്നും ഇംഗ്ലീഷിലേയ്ക്കു്
Name[mr]=WordReference.com अनुवादः स्पेनी ते अंग्रेजी
Name[nb]=WordReference.com – oversettelse fra spansk til engelsk
Name[nds]=WordReference.com Översetten: Spaansch na Engelsch
Name[ne]=WordReference.com Translation: स्पेनिसलाई अङ्ग्रेजीमा
Name[nl]=WordReference.com-vertaling: Spaans naar Engels
Name[nn]=WordReference.com – omsetjing: spansk til engelsk
Name[or]=WordReference.com ଅନୁବାଦ: ସ୍ପେନିସରୁ ଇଂରାଜୀ
Name[pa]=WordReference.com ਟਰਾਂਸਲੇਸ਼ਨ:ਸਪੇਨੀ ਤੋਂ ਅੰਗਰੇਜ਼ੀ
Name[pl]=WordReference.com: hiszpański -> angielski
Name[pt]=Tradução do WordReference.com: Espanhol para Inglês
Name[pt_BR]=WordReference.com - Tradução: espanhol para inglês
Name[ro]=Traducere WordReference.com: spaniolă la engleză
Name[ru]=Переводчик WordReference.com: испанско-английский
Name[se]=WordReference.com – jorgaleapmi: spánskkagielas eŋgelasgillii
Name[si]=WordReference.com පරිවර්ථනය: ස්පාඤ්ඤ සිට ඉංග්‍රීසි
Name[sk]=WordReference.com preklad zo španielčiny do angličtiny
Name[sl]=Prevod WordReference.com: španščina v angleščino
Name[sr]=Вордреференс: са шпанског на енглески
Name[sr@ijekavian]=Вордреференс: са шпанског на енглески
Name[sr@ijekavianlatin]=WordReference: sa španskog na engleski
Name[sr@latin]=WordReference: sa španskog na engleski
Name[sv]=Wordreference.com översättning: spanska till engelska
Name[ta]=WordReference.com மொழிபெயர்ப்பு: ஸ்பானிஷ் மொழியில் இருந்து ஆங்கிலத்துக்கு
Name[te]=WordReference.com అనువాదము: స్పానిష్ నుండి ఇంగ్లీష్
Name[tg]=Тарҷумаҳои WordReference.com: Испанӣ ба англисӣ
Name[th]=การแปลจาก WordReference.com: แปลภาษาสเปนเป็นอังกฤษ
Name[tr]=WordReference.com Çevirisi: İspanyolcadan İngilizceye
Name[ug]=WordReference.com تەرجىمە:  ئىسپانچىدىن ئىنگلىزچىغا
Name[uk]=WordReference.com — переклад з іспанської англійською
Name[uz]=WordReference.com tarjima: Ispanchadan Inglizchaga
Name[uz@cyrillic]=WordReference.com таржима: Испанчадан Инглизчага
Name[vi]=WordReference.com Dịch: Tiếng Tây Ban Nha sang tiếng Anh
Name[wa]=WordReference.com ratournaedje do castiyan viè l' inglès
Name[x-test]=xxWordReference.com Translation: Spanish to Englishxx
Name[zh_CN]=WordReference.com 翻译：西班牙语译英语
Name[zh_TW]=WordReference.com 翻譯: 西班牙文至英文
Query=http://www.wordreference.com/es/en/translation.asp?spen=\\{@}
Query[af]=http://www.wordreference.com/es/en/translation.asp?spen=\\{@}
Query[ar]=http://www.wordreference.com/es/en/translation.asp?spen=\\{@}
Query[as]=http://www.wordreference.com/es/en/translation.asp?spen=\\{@}
Query[ast]=http://www.wordreference.com/es/en/translation.asp?spen=\\{@}
Query[be]=http://www.wordreference.com/es/en/translation.asp?spen=\\{@}
Query[be@latin]=http://www.wordreference.com/es/en/translation.asp?spen=\\{@}
Query[bg]=http://www.wordreference.com/es/en/translation.asp?spen=\\{@}
Query[bn]=http://www.wordreference.com/es/en/translation.asp?spen=\\{@}
Query[bn_IN]=http://www.wordreference.com/es/en/translation.asp?spen=\\{@}
Query[br]=http://www.wordreference.com/es/en/translation.asp?spen=\\{@}
Query[bs]=http://www.wordreference.com/es/en/translation.asp?spen=\\{@}
Query[ca]=http://www.wordreference.com/es/en/translation.asp?spen=\\{@}
Query[ca@valencia]=http://www.wordreference.com/es/en/translation.asp?spen=\\{@}
Query[cs]=http://www.wordreference.com/es/en/translation.asp?spen=\\{@}
Query[csb]=http://www.wordreference.com/es/en/translation.asp?spen=\\{@}
Query[da]=http://www.wordreference.com/es/en/translation.asp?spen=\\{@}
Query[de]=http://www.wordreference.com/es/en/translation.asp?spen=\\{@}
Query[el]=http://www.wordreference.com/es/en/translation.asp?spen=\\{@}
Query[en_GB]=http://www.wordreference.com/es/en/translation.asp?spen=\\{@}
Query[eo]=http://www.wordreference.com/es/en/translation.asp?spen=\\{@}
Query[es]=http://www.wordreference.com/es/en/translation.asp?spen=\\{@}
Query[et]=http://www.wordreference.com/es/en/translation.asp?spen=\\{@}
Query[eu]=http://www.wordreference.com/es/en/translation.asp?spen=\\{@}
Query[fa]=http://www.wordreference.com/es/en/translation.asp?spen=\\{@}
Query[fi]=http://www.wordreference.com/es/en/translation.asp?spen=\\{@}
Query[fr]=http://www.wordreference.com/es/en/translation.asp?spen=\\{@}
Query[fy]=http://www.wordreference.com/es/en/translation.asp?spen=\\{@}
Query[ga]=http://www.wordreference.com/es/en/translation.asp?spen=\\{@}
Query[gl]=http://www.wordreference.com/es/en/translation.asp?spen=\\{@}
Query[gu]=http://www.wordreference.com/es/en/translation.asp?spen=\\{@}
Query[he]=http://www.wordreference.com/es/en/translation.asp?spen=\\{@}
Query[hi]=http://www.wordreference.com/es/en/translation.asp?spen=\\{@}
Query[hne]=http://www.wordreference.com/es/en/translation.asp?spen=\\{@}
Query[hr]=http://www.wordreference.com/es/en/translation.asp?spen=\\{@}
Query[hsb]=http://www.wordreference.com/es/en/translation.asp?spen=\\{@}
Query[hu]=http://www.wordreference.com/es/en/translation.asp?spen=\\{@}
Query[ia]=http://www.wordreference.com/es/en/translation.asp?spen=\\{@}
Query[id]=http://www.wordreference.com/es/en/translation.asp?spen=\\{@}
Query[is]=http://www.wordreference.com/es/en/translation.asp?spen=\\{@}
Query[it]=http://www.wordreference.com/es/en/translation.asp?spen=\\{@}
Query[ja]=http://www.wordreference.com/es/en/translation.asp?spen=\\{@}
Query[ka]=http://www.wordreference.com/es/en/translation.asp?spen=\\{@}
Query[kk]=http://www.wordreference.com/es/en/translation.asp?spen=\\{@}
Query[km]=http://www.wordreference.com/es/en/translation.asp?spen=\\{@}
Query[kn]=http://www.wordreference.com/es/en/translation.asp?spen=\\{@}
Query[ko]=http://www.wordreference.com/es/en/translation.asp?spen=\\{@}
Query[ku]=http://www.wordreference.com/es/en/translation.asp?spen=\\{@}
Query[lt]=http://www.wordreference.com/es/en/translation.asp?spen=\\{@}
Query[lv]=http://www.wordreference.com/es/en/translation.asp?spen=\\{@}
Query[mai]=http://www.wordreference.com/es/en/translation.asp?spen=\\{@}
Query[ml]=http://www.wordreference.com/es/en/translation.asp?spen=\\{@}
Query[mr]=http://www.wordreference.com/es/en/translation.asp?spen=\\{@}
Query[ms]=http://www.wordreference.com/es/en/translation.asp?spen=\\{@}
Query[nb]=http://www.wordreference.com/es/en/translation.asp?spen=\\{@}
Query[nds]=http://www.wordreference.com/es/en/translation.asp?spen=\\{@}
Query[ne]=http://www.wordreference.com/es/en/translation.asp?spen=\\{@}
Query[nl]=http://www.wordreference.com/es/en/translation.asp?spen=\\{@}
Query[nn]=http://www.wordreference.com/es/en/translation.asp?spen=\\{@}
Query[oc]=http://www.wordreference.com/es/en/translation.asp?spen=\\{@}
Query[or]=http://www.wordreference.com/es/en/translation.asp?spen=\\{@}
Query[pa]=http://www.wordreference.com/es/en/translation.asp?spen=\\{@}
Query[pl]=http://www.wordreference.com/es/en/translation.asp?spen=\\{@}
Query[pt]=http://www.wordreference.com/es/en/translation.asp?spen=\\{@}
Query[pt_BR]=http://www.wordreference.com/es/en/translation.asp?spen=\\{@}
Query[ro]=http://www.wordreference.com/es/en/translation.asp?spen=\\{@}
Query[ru]=http://www.wordreference.com/es/en/translation.asp?spen=\\{@}
Query[se]=http://www.wordreference.com/es/en/translation.asp?spen=\\{@}
Query[si]=http://www.wordreference.com/es/en/translation.asp?spen=\\{@}
Query[sk]=http://www.wordreference.com/es/en/translation.asp?spen=\\{@}
Query[sl]=http://www.wordreference.com/es/en/translation.asp?spen=\\{@}
Query[sr]=http://www.wordreference.com/es/en/translation.asp?spen=\\{@}
Query[sr@ijekavian]=http://www.wordreference.com/es/en/translation.asp?spen=\\{@}
Query[sr@ijekavianlatin]=http://www.wordreference.com/es/en/translation.asp?spen=\\{@}
Query[sr@latin]=http://www.wordreference.com/es/en/translation.asp?spen=\\{@}
Query[sv]=http://www.wordreference.com/es/en/translation.asp?spen=\\{@}
Query[ta]=http://www.wordreference.com/es/en/translation.asp?spen=\\{@}
Query[te]=http://www.wordreference.com/es/en/translation.asp?spen=\\{@}
Query[tg]=http://www.wordreference.com/es/en/translation.asp?spen=\\{@}
Query[th]=http://www.wordreference.com/es/en/translation.asp?spen=\\{@}
Query[tr]=http://www.wordreference.com/es/en/translation.asp?spen=\\{@}
Query[ug]=http://www.wordreference.com/es/en/translation.asp?spen=\\{@}
Query[uk]=http://www.wordreference.com/es/en/translation.asp?spen=\\{@}
Query[uz]=http://www.wordreference.com/es/en/translation.asp?spen=\\{@}
Query[uz@cyrillic]=http://www.wordreference.com/es/en/translation.asp?spen=\\{@}
Query[vi]=http://www.wordreference.com/es/en/translation.asp?spen=\\{@}
Query[wa]=http://www.wordreference.com/es/en/translation.asp?spen=\\{@}
Query[x-test]=xxhttp://www.wordreference.com/es/en/translation.asp?spen=\\{@}xx
Query[zh_CN]=http://www.wordreference.com/es/en/translation.asp?spen=\\{@}
Query[zh_TW]=http://www.wordreference.com/es/en/translation.asp?spen=\\{@}
X-KDE-ServiceTypes=SearchProvider
Type=Service
