[Desktop Entry]
Type=Service
Name=Ethicle
Name[ar]=Ethicle
Name[ast]=Ethicle
Name[bg]=Ethicle
Name[bn]=এথিকল
Name[bs]=Etikl
Name[ca]=Ethicle
Name[ca@valencia]=Ethicle
Name[cs]=Ethicle
Name[csb]=Ethicle
Name[da]=Ethicle
Name[de]=Ethicle
Name[el]=Ethicle
Name[en_GB]=Ethicle
Name[eo]=Etiklo
Name[es]=Ethicle
Name[et]=Ethicle
Name[eu]=Ethicle
Name[fa]=Ethicle
Name[fi]=Ethicle
Name[fr]=Ethicle
Name[fy]=Ethicle
Name[ga]=Ethicle
Name[gl]=Ethicle
Name[gu]=ઇથિકલ
Name[he]=Ethicle
Name[hi]=एथिकल
Name[hr]=Ethicle
Name[hu]=Ethicle
Name[ia]=Ethicle
Name[id]=Ethicle
Name[is]=Ethicle
Name[it]=Ethicle
Name[ja]=Ethicle
Name[kk]=Ethicle
Name[km]=Ethicle
Name[kn]=ಎತಿಕಲ್
Name[ko]=Ethicle
Name[lt]=Ethicle
Name[lv]=Ethicle
Name[mai]=एथिकल
Name[ml]=ഇത്തിക്കിള്‍
Name[mr]=एथिकल
Name[nb]=Ethicle
Name[nds]=Ethicle
Name[nl]=Ethisch
Name[nn]=Ethicle
Name[pa]=ਇਥੀਕਲੀ
Name[pl]=Ethicle
Name[pt]=Ethicle
Name[pt_BR]=Ethicle
Name[ro]=Ethicle
Name[ru]=Ethicle
Name[si]=Ethicle
Name[sk]=Ethicle
Name[sl]=Ethicle
Name[sr]=Етикл
Name[sr@ijekavian]=Етикл
Name[sr@ijekavianlatin]=Ethicle
Name[sr@latin]=Ethicle
Name[sv]=Ethicle
Name[tg]=Ethicle
Name[th]=บริการค้นหา Ethicle
Name[tr]=Ethicle
Name[ug]=Ethicle
Name[uk]=Ethicle
Name[vi]=Ethicle
Name[wa]=Ethicle
Name[x-test]=xxEthiclexx
Name[zh_CN]=Ethicle
Name[zh_TW]=Ethicle
X-KDE-ServiceTypes=SearchProvider
Keys=et,ethicle
Query=http://www.ethicle.com/search.php?q=\\{@}
Query[ar]=http://www.ethicle.com/search.php?q=\\{@}
Query[ast]=http://www.ethicle.com/search.php?q=\\{@}
Query[bg]=http://www.ethicle.com/search.php?q=\\{@}
Query[bn]=http://www.ethicle.com/search.php?q=\\{@}
Query[bs]=http://www.ethicle.com/search.php?q=\\{@}
Query[ca]=http://www.ethicle.com/search.php?q=\\{@}
Query[ca@valencia]=http://www.ethicle.com/search.php?q=\\{@}
Query[cs]=http://www.ethicle.com/search.php?q=\\{@}
Query[csb]=http://www.ethicle.com/search.php?q=\\{@}
Query[da]=http://www.ethicle.com/search.php?q=\\{@}
Query[de]=http://www.ethicle.com/search.php?q=\\{@}
Query[el]=http://www.ethicle.com/search.php?q=\\{@}
Query[en_GB]=http://www.ethicle.com/search.php?q=\\{@}
Query[eo]=http://www.ethicle.com/search.php?q=\\{@}
Query[es]=http://www.ethicle.com/search.php?q=\\{@}
Query[et]=http://www.ethicle.com/search.php?q=\\{@}
Query[eu]=http://www.ethicle.com/search.php?q=\\{@}
Query[fa]=http://www.ethicle.com/search.php?q=\\{@}
Query[fi]=http://www.ethicle.com/search.php?q=\\{@}
Query[fr]=http://www.ethicle.com/search.php?q=\\{@}
Query[fy]=http://www.ethicle.com/search.php?q=\\{@}
Query[ga]=http://www.ethicle.com/search.php?q=\\{@}
Query[gl]=http://www.ethicle.com/search.php?q=\\{@}
Query[gu]=http://www.ethicle.com/search.php?q=\\{@}
Query[he]=http://www.ethicle.com/search.php?q=\\{@}
Query[hi]=http://www.ethicle.com/search.php?q=\\{@}
Query[hr]=http://info.alexa.com/search?q=\\{@}
Query[hu]=http://www.ethicle.com/search.php?q=\\{@}
Query[ia]=http://www.ethicle.com/search.php?q=\\{@}
Query[id]=http://www.ethicle.com/search.php?q=\\{@}
Query[is]=http://www.ethicle.com/search.php?q=\\{@}
Query[it]=http://www.ethicle.com/search.php?q=\\{@}
Query[ja]=http://www.ethicle.com/search.php?q=\\{@}
Query[kk]=http://www.ethicle.com/search.php?q=\\{@}
Query[km]=http://www.ethicle.com/search.php?q=\\{@}
Query[kn]=http://www.ethicle.com/search.php?q=\\{@}
Query[ko]=http://www.ethicle.com/search.php?q=\\{@}
Query[lt]=http://www.ethicle.com/search.php?q=\\{@}
Query[lv]=http://www.ethicle.com/search.php?q=\\{@}
Query[mai]=http://www.ethicle.com/search.php?q=\\{@}
Query[ml]=http://www.ethicle.com/search.php?q=\\{@}
Query[mr]=http://www.ethicle.com/search.php?q=\\{@}
Query[nb]=http://www.ethicle.com/search.php?q=\\{@}
Query[nds]=http://www.ethicle.com/search.php?q=\\{@}
Query[nl]=http://www.ethicle.com/search.php?q=\\{@}
Query[nn]=http://www.ethicle.com/search.php?q=\\{@}
Query[pa]=http://www.ethicle.com/search.php?q=\\{@}
Query[pl]=http://www.ethicle.com/search.php?q=\\{@}
Query[pt]=http://www.ethicle.com/search.php?q=\\{@}
Query[pt_BR]=http://www.ethicle.com/search.php?q=\\{@}
Query[ro]=http://www.ethicle.com/search.php?q=\\{@}
Query[ru]=http://www.ethicle.com/search.php?q=\\{@}
Query[si]=http://www.ethicle.com/search.php?q=\\{@}
Query[sk]=http://www.ethicle.com/search.php?q=\\{@}
Query[sl]=http://www.ethicle.com/search.php?q=\\{@}
Query[sr]=http://www.ethicle.com/search.php?q=\\{@}
Query[sr@ijekavian]=http://www.ethicle.com/search.php?q=\\{@}
Query[sr@ijekavianlatin]=http://www.ethicle.com/search.php?q=\\{@}
Query[sr@latin]=http://www.ethicle.com/search.php?q=\\{@}
Query[sv]=http://www.ethicle.com/search.php?q=\\{@}
Query[tg]=http://www.ethicle.com/search.php?q=\\{@}
Query[th]=http://www.ethicle.com/search.php?q=\\{@}
Query[tr]=http://www.ethicle.com/search.php?q=\\{@}
Query[ug]=http://www.ethicle.com/search.php?q=\\{@}
Query[uk]=http://www.ethicle.com/search.php?q=\\{@}
Query[vi]=http://www.ethicle.com/search.php?q=\\{@}
Query[wa]=http://www.ethicle.com/search.php?q=\\{@}
Query[x-test]=xxhttp://www.ethicle.com/search.php?q=\\{@}xx
Query[zh_CN]=http://www.ethicle.com/search.php?q=\\{@}
Query[zh_TW]=http://www.ethicle.com/search.php?q=\\{@}
