[Desktop Entry]
Type=Service
Name=Feedster
Name[af]=Feedster
Name[ar]=Feedster
Name[as]=Feedster
Name[ast]=Feedster
Name[be]=Feedster
Name[be@latin]=Feedster
Name[bg]=Feedster
Name[bn]=ফীডস্টার
Name[bn_IN]=Feedster
Name[br]=Feedster
Name[bs]=Fidster
Name[ca]=Feedster
Name[ca@valencia]=Feedster
Name[cs]=Feedster
Name[csb]=Feedster
Name[cy]=Feedster
Name[da]=Feedster
Name[de]=Feedster
Name[el]=Feedster
Name[en_GB]=Feedster
Name[eo]=Feedster
Name[es]=Feedster
Name[et]=Feedster
Name[eu]=Feedster
Name[fa]=Feedster
Name[fi]=Feedster
Name[fr]=Feedster
Name[fy]=Feedster
Name[ga]=Feedster
Name[gl]=Feedster
Name[gu]=ફીડસ્ટર
Name[he]=Feedster
Name[hi]=फीडस्टर
Name[hne]=फीडस्टर
Name[hr]=Feedster
Name[hsb]=Feedster
Name[hu]=Feedster
Name[ia]=Feedster
Name[id]=Feedster
Name[is]=Feedster
Name[it]=Feedster
Name[ja]=Feedster
Name[ka]=Feedster
Name[kk]=Feedster
Name[km]=Feedster
Name[kn]=ಫೀಡ್ಸ್ಟರ್
Name[ko]=Feedster
Name[ku]=Feedster
Name[lt]=Feedster
Name[lv]=Feedster
Name[mai]=फीडस्टर
Name[mk]=Feedster
Name[ml]=ഫീഡ്സ്റ്റര്‍
Name[mr]=Feedster
Name[ms]=Feedster
Name[nb]=Feedster
Name[nds]=Feedster
Name[ne]=फेडस्टर
Name[nl]=Feedster
Name[nn]=Feedster
Name[or]=Feedster
Name[pa]=ਫੀਡਸਟੀਰ
Name[pl]=Feedster
Name[pt]=Feedster
Name[pt_BR]=Feedster
Name[ro]=Feedster
Name[ru]=Feedster
Name[se]=Feedster
Name[si]=Feedster
Name[sk]=Feedster
Name[sl]=Feedster
Name[sr]=Фидстер
Name[sr@ijekavian]=Фидстер
Name[sr@ijekavianlatin]=Feedster
Name[sr@latin]=Feedster
Name[sv]=Feedster
Name[ta]=பீட்ஸ்டர்
Name[te]=ఫీడ్‌స్టర్
Name[tg]=Feedster
Name[th]=Feedster หาบล็อก
Name[tr]=Feedster
Name[ug]=Feedster
Name[uk]=Feedster
Name[uz]=Feedster
Name[uz@cyrillic]=Feedster
Name[vi]=Feedster
Name[wa]=Feedster
Name[x-test]=xxFeedsterxx
Name[zh_CN]=Feedster
Name[zh_TW]=Feedster
X-KDE-ServiceTypes=SearchProvider
Keys=blog,rss,feedster
Query=http://www.feedster.com/index.php?page=search/web&type=Web&search=\\{@}
Query[bg]=http://www.feedster.com/index.php?page=search/web&type=Web&search=\\{@}
Query[bs]=http://www.feedster.com/index.php?page=search/web&type=Web&search=\\{@}
Query[ca]=http://www.feedster.com/index.php?page=search/web&type=Web&search=\\{@}
Query[ca@valencia]=http://www.feedster.com/index.php?page=search/web&type=Web&search=\\{@}
Query[cs]=http://www.feedster.com/index.php?page=search/web&type=Web&search=\\{@}
Query[da]=http://www.feedster.com/index.php?page=search/web&type=Web&search=\\{@}
Query[de]=http://www.feedster.com/index.php?page=search/web&type=Web&search=\\{@}
Query[el]=http://www.feedster.com/index.php?page=search/web&type=Web&search=\\{@}
Query[es]=http://www.feedster.com/index.php?page=search/web&type=Web&search=\\{@}
Query[eu]=http://www.feedster.com/index.php?page=search/web&type=Web&search=\\{@}
Query[fi]=http://www.feedster.com/index.php?page=search/web&type=Web&search=\\{@}
Query[fr]=http://www.feedster.com/index.php?page=search/web&type=Web&search=\\{@}
Query[gl]=http://www.feedster.com/index.php?page=search/web&type=Web&search=\\{@}
Query[hi]=http://www.feedster.com/index.php?page=search/web&type=Web&search=\\{@}
Query[hu]=http://www.feedster.com/index.php?page=search/web&type=Web&search=\\{@}
Query[ia]=http://www.feedster.com/index.php?page=search/web&type=Web&search=\\{@}
Query[is]=http://www.feedster.com/index.php?page=search/web&type=Web&search=\\{@}
Query[it]=http://www.feedster.com/index.php?page=search/web&type=Web&search=\\{@}
Query[ja]=http://www.feedster.com/index.php?page=search/web&type=Web&search=\\{@}
Query[kk]=http://www.feedster.com/index.php?page=search/web&type=Web&search=\\{@}
Query[ko]=http://www.feedster.com/index.php?page=search/web&type=Web&search=\\{@}
Query[lt]=http://www.feedster.com/index.php?page=search/web&type=Web&search=\\{@}
Query[nb]=http://www.feedster.com/index.php?page=search/web&type=Web&search=\\{@}
Query[nl]=http://www.feedster.com/index.php?page=search/web&type=Web&search=\\{@}
Query[nn]=http://www.feedster.com/index.php?page=search/web&type=Web&search=\\{@}
Query[pa]=http://www.feedster.com/index.php?page=search/web&type=Web&search=\\{@}
Query[pl]=http://www.feedster.com/index.php?page=search/web&type=Web&search=\\{@}
Query[pt]=http://www.feedster.com/index.php?page=search/web&type=Web&search=\\{@}
Query[pt_BR]=http://www.feedster.com/index.php?page=search/web&type=Web&search=\\{@}
Query[ro]=http://www.feedster.com/index.php?page=search/web&type=Web&search=\\{@}
Query[ru]=http://www.feedster.com/index.php?page=search/web&type=Web&search=\\{@}
Query[sk]=http://www.feedster.com/index.php?page=search/web&type=Web&search=\\{@}
Query[sl]=http://www.feedster.com/index.php?page=search/web&type=Web&search=\\{@}
Query[sr]=http://www.feedster.com/index.php?page=search/web&type=Web&search=\\{@}
Query[sr@ijekavian]=http://www.feedster.com/index.php?page=search/web&type=Web&search=\\{@}
Query[sr@ijekavianlatin]=http://www.feedster.com/index.php?page=search/web&type=Web&search=\\{@}
Query[sr@latin]=http://www.feedster.com/index.php?page=search/web&type=Web&search=\\{@}
Query[sv]=http://www.feedster.com/index.php?page=search/web&type=Web&search=\\{@}
Query[tr]=http://www.feedster.com/index.php?page=search/web&type=Web&search=\\{@}
Query[ug]=http://www.feedster.com/index.php?page=search/web&type=Web&search=\\{@}
Query[uk]=http://www.feedster.com/index.php?page=search/web&type=Web&search=\\{@}
Query[wa]=http://www.feedster.com/index.php?page=search/web&type=Web&search=\\{@}
Query[x-test]=xxhttp://www.feedster.com/index.php?page=search/web&type=Web&search=\\{@}xx
Query[zh_CN]=http://www.feedster.com/index.php?page=search/web&type=Web&search=\\{@}
Query[zh_TW]=http://www.feedster.com/index.php?page=search/web&type=Web&search=\\{@}
Charset=utf8
