[Desktop Entry]
Charset=
Hidden=false
Keys=flickr,flkr
Name=Flickr
Name[ar]=فلكر
Name[ast]=Flickr
Name[bg]=Flickr
Name[bn]=ফ্লিকর
Name[bs]=Flickr
Name[ca]=Flickr
Name[ca@valencia]=Flickr
Name[cs]=Flickr
Name[da]=Flickr
Name[de]=Flickr
Name[el]=Flickr
Name[en_GB]=Flickr
Name[eo]=Flickr
Name[es]=Flickr
Name[et]=Flickr
Name[eu]=Flickr
Name[fa]=فلیکر
Name[fi]=Flickr
Name[fr]=Flickr
Name[ga]=Flickr
Name[gl]=Flickr
Name[gu]=ફ્લિકર
Name[he]=Flickr
Name[hi]=फ़्लिकर
Name[hr]=Flickr
Name[hu]=Flickr
Name[ia]=Flickr
Name[id]=Flickr
Name[is]=Flickr
Name[it]=Flickr
Name[ja]=Flickr
Name[ka]=Flickr
Name[kk]=Flickr
Name[km]=Flickr
Name[kn]=ಫ್ಲಿಕ್ಕರ್ 
Name[ko]=Flickr
Name[lt]=Flickr
Name[lv]=Flickr
Name[mai]=Flickr
Name[ml]=ഫ്ലിക്കര്‍
Name[mr]=फ्लिकर
Name[nb]=Flickr
Name[nds]=Flickr
Name[nl]=Flickr
Name[nn]=Flickr
Name[pa]=ਫਲਿੱਕਰ
Name[pl]=Flickr
Name[pt]=Flickr
Name[pt_BR]=Flickr
Name[ro]=Flickr
Name[ru]=Flickr
Name[si]=Flickr
Name[sk]=Flickr
Name[sl]=Flickr
Name[sr]=Фликр
Name[sr@ijekavian]=Фликр
Name[sr@ijekavianlatin]=Flickr
Name[sr@latin]=Flickr
Name[sv]=Flickr
Name[tg]=Flickr
Name[th]=Flickr
Name[tr]=Flickr
Name[ug]=Flickr
Name[uk]=Flickr
Name[vi]=Flickr
Name[wa]=Flickr
Name[x-test]=xxFlickrxx
Name[zh_CN]=Flickr
Name[zh_TW]=Flickr
Query=http://www.flickr.com/search/?q=\\{@}
Query[ar]=http://www.ethicle.com/search.php?q=\\{@}
Query[ast]=http://www.flickr.com/search/?q=\\{@}
Query[bg]=http://www.flickr.com/search/?q=\\{@}
Query[bn]=http://www.flickr.com/search/?q=\\{@}
Query[bs]=http://www.flickr.com/search/?q=\\{@}
Query[ca]=http://www.flickr.com/search/?q=\\{@}
Query[ca@valencia]=http://www.flickr.com/search/?q=\\{@}
Query[cs]=http://www.flickr.com/search/?q=\\{@}
Query[da]=http://www.flickr.com/search/?q=\\{@}
Query[de]=http://www.flickr.com/search/?q=\\{@}
Query[el]=http://www.flickr.com/search/?q=\\{@}
Query[en_GB]=http://www.flickr.com/search/?q=\\{@}
Query[eo]=http://www.flickr.com/search/?q=\\{@}
Query[es]=http://www.flickr.com/search/?q=\\{@}
Query[et]=http://www.flickr.com/search/?q=\\{@}
Query[eu]=http://www.flickr.com/search/?q=\\{@}
Query[fa]=http://www.flickr.com/search/?q=\\{@}
Query[fi]=http://www.flickr.com/search/?q=\\{@}
Query[fr]=http://www.flickr.com/search/?q=\\{@}
Query[ga]=http://www.flickr.com/search/?q=\\{@}
Query[gl]=http://www.flickr.com/search/?q=\\{@}
Query[gu]=http://www.flickr.com/search/?q=\\{@}
Query[he]=http://www.flickr.com/search/?q=\\{@}
Query[hi]=http://www.flickr.com/search/?q=\\{@}
Query[hr]=http://www.flickr.com/search/?q=\\{@}
Query[hu]=http://www.flickr.com/search/?q=\\{@}
Query[ia]=http://www.flickr.com/search?q=\\{@}
Query[id]=http://www.flickr.com/search/?q=\\{@}
Query[is]=http://www.flickr.com/search/?q=\\{@}
Query[it]=http://www.flickr.com/search/?q=\\{@}
Query[ja]=http://www.flickr.com/search/?q=\\{@}
Query[kk]=http://www.flickr.com/search/?q=\\{@}
Query[km]=http://www.flickr.com/search/?q=\\{@}
Query[kn]=http://www.flickr.com/search/?q=\\{@}
Query[ko]=http://www.flickr.com/search/?q=\\{@}
Query[lt]=http://www.flickr.com/search/?q=\\{@}
Query[lv]=http://www.flickr.com/search/?q=\\{@}
Query[mai]=http://www.flickr.com/search/?q=\\{@}
Query[ml]=http://www.flickr.com/search/?q=\\{@}
Query[mr]=http://www.flickr.com/search/?q=\\{@}
Query[nb]=http://www.flickr.com/search/?q=\\{@}
Query[nds]=http://www.flickr.com/search/?q=\\{@}
Query[nl]=http://www.flickr.com/search/?q=\\{@}
Query[nn]=http://www.flickr.com/search/?q=\\{@}
Query[pa]=http://www.flickr.com/search/?q=\\{@}
Query[pl]=http://www.flickr.com/search/?q=\\{@}
Query[pt]=http://www.flickr.com/search/?q=\\{@}
Query[pt_BR]=http://www.flickr.com/search/?q=\\{@}
Query[ro]=http://www.flickr.com/search/?q=\\{@}
Query[ru]=http://www.flickr.com/search/?q=\\{@}
Query[si]=http://www.flickr.com/search/?q=\\{@}
Query[sk]=http://www.flickr.com/search/?q=\\{@}
Query[sl]=http://www.flickr.com/search/?q=\\{@}
Query[sr]=http://www.flickr.com/search/?q=\\{@}
Query[sr@ijekavian]=http://www.flickr.com/search/?q=\\{@}
Query[sr@ijekavianlatin]=http://www.flickr.com/search/?q=\\{@}
Query[sr@latin]=http://www.flickr.com/search/?q=\\{@}
Query[sv]=http://www.flickr.com/search/?q=\\{@}
Query[tg]=http://www.flickr.com/search/?q=\\{@}
Query[th]=http://www.flickr.com/search/?q=\\{@}
Query[tr]=http://www.flickr.com/search/?q=\\{@}
Query[ug]=http://www.flickr.com/search/?q=\\{@}
Query[uk]=http://www.flickr.com/search/?q=\\{@}
Query[vi]=http://www.flickr.com/search/?q=\\{@}
Query[wa]=http://www.flickr.com/search/?q=\\{@}
Query[x-test]=xxhttp://www.flickr.com/search/?q=\\{@}xx
Query[zh_CN]=http://www.flickr.com/search/?q=\\{@}
Query[zh_TW]=http://www.flickr.com/search/?q=\\{@}
ServiceTypes=SearchProvider
Type=Service
