[Desktop Entry]
Type=Service
Name=Free On-Line Dictionary of Computing
Name[af]=Gratis Aanlyn Woordeboek van Rekenaars
Name[ar]=القاموس المجاني المتصل للحوسبة
Name[as]=Free On-Line Dictionary of Computing
Name[ast]=Diccionariu d'informática en llinia y de baldre
Name[be]=Свабодны камп'ютэрны слоўнік
Name[be@latin]=Svabodny sieciŭny kamputarny słoŭnik
Name[bg]=Free On-Line Dictionary of Computing
Name[bn]=কমপিউটিং-এর ফ্রী অন-লাইন অভিধান
Name[bn_IN]=কম্পিউটার সংক্রান্ত অন-লাইন মুক্ত অভিধান
Name[bs]=Slobodni rječnik računarstva na vezi
Name[ca]=Diccionari lliure d'informàtica en línia
Name[ca@valencia]=Diccionari lliure d'informàtica en línia
Name[cs]=Online slovník výp. techniky
Name[csb]=Wòlnoprzëstãpny kòmpùtrowi słowôrz
Name[cy]=Geiriadur Rhydd Ar-lein o Gyfrifiaduro
Name[da]=Gratis online-computerordbog
Name[de]=Free On-Line Dictionary of Computing
Name[el]=Ελεύθερο διαδικτυακό λεξικό υπολογιστών
Name[en_GB]=Free On-Line Dictionary of Computing
Name[eo]=Libera reta vortaro de komputado
Name[es]=Diccionario de computación en línea y gratuito
Name[et]=Vaba arvutialane võrgusõnastik
Name[eu]=Konputazioari buruzko lineako hiztegi librea
Name[fa]=واژه‌نامه برخط رایگان محاسبات
Name[fi]=Free On-Line Dictionary of Computing
Name[fr]=Dictionnaire gratuit et en ligne de l'informatique
Name[fy]=Free On-Line Dictionary Of Computing (IT-wurdboek)
Name[ga]=Free On-Line Dictionary of Computing
Name[gl]=Dicionario libre en liña da computación
Name[gu]=મુક્ત ઓનલાઇન કોમ્પ્યુટરનો શબ્દકોશ
Name[he]=מילון המחשוב החופשי המקוון
Name[hi]=कम्प्यूटर कार्य हेतु मुफ्त ऑन-लाइन शब्दकोश
Name[hne]=कम्प्यूटर काम बर मुफ्त आनलाइन सब्दकोस
Name[hr]=Slobodan internetski rječnik računarstva
Name[hsb]=Swobodny online-słownik informatiki
Name[hu]=Szabad hozzáférésű számítástechnikai szótár
Name[ia]=Free On-Line Dictionary of Computing (Dictionario gratuite in linea de Computatores)
Name[id]=Kamus Gratis Daring Tentang Komputasi
Name[is]=Ókeypis tölvuorðabók á Netinu
Name[it]=Dizionario informatico libero in rete
Name[ja]=コンピューティングに関するフリーのオンライン辞書
Name[ka]=თავისუფალი კომპიუტერული წებ ლექსიკონი
Name[kk]=Ашық компьютерлік онлайн сөздігі
Name[km]=វចនានុក្រម​កុំព្យូទ័រ​លើ​បណ្ដាញ​ឥត​គិតថ្លៃ​
Name[kn]=ಗಣಕವಿಜ್ಞಾನ ಸಂಬಂಧೀ ಜಾಲಬದ್ಧ ಮುಕ್ತ ಶಬ್ದಕೋಶ
Name[ko]=무료 온라인 컴퓨터 사전
Name[ku]=Ferhenga Komputerê yê Bêpere
Name[lt]=Nemokamas kompiuterijos žodynas tinkle
Name[lv]=Bezmaksas tiešsaistes datorikas vārdnīca
Name[mai]=कम्प्यूटर कार्य लेल मुफ्त आन-लाइन शब्दकोश
Name[mk]=Слободен мрежен речник за компјутери
Name[ml]=കമ്പ്യൂട്ടിങ്ങിന്റെ സ്വതന്ത്ര ഓണ്‍ലൈന്‍ നിഘണ്ടു
Name[mr]=संगणक कार्य हेतु मोफत ऑन-लाइन शब्दकोश
Name[ms]=Kamus Perkomputeran Dalam Talian Percuma
Name[nb]=Gratis engelsk dataordbok på nett
Name[nds]=Free On-Line Dictionary Of Computing
Name[ne]=कम्प्युटिङको निशुल्क अन-लाइन शब्दकोश
Name[nl]=Free On-Line Dictionary Of Computing (IT-woordenboek)
Name[nn]=Free On-Line Dictionary Of Computing
Name[or]=କମ୍ପୁଟରିକରଣ ପାଇଁ ମୁକ୍ତ ଅନଲାଇନ ଅଭିଧାନ
Name[pa]=ਕੰਪਿਊਟਰ ਦਾ ਆਨ-ਲਾਈਨ ਮੁਫਤ ਡਿਕਸ਼ਨਰੀ
Name[pl]=Darmowy słownik informatyczny
Name[pt]=Dicionário Livre de Computação On-Line
Name[pt_BR]=Dicionário de computação on-line gratuito
Name[ro]=Dicționar on-line gratuit despre calculatoare
Name[ru]=Свободный онлайн-словарь по информатике
Name[se]=Free On-Line Dictionary of Computing
Name[si]=පරිගණක පිළිබඳ නිදහස් මාර්ගගත ශබ්ද කෝශය
Name[sk]=Online počítačový slovník
Name[sl]=Prost spletni slovar računalništva (FOLDOC)
Name[sr]=Слободни речник рачунарства на вези
Name[sr@ijekavian]=Слободни рјечник рачунарства на вези
Name[sr@ijekavianlatin]=Slobodni rječnik računarstva na vezi
Name[sr@latin]=Slobodni rečnik računarstva na vezi
Name[sv]=Free On-Line Dictionary Of Computing (en datortermsordlista)
Name[ta]=கணிப்பொறி அகராதி வலைதளத்தில் இலவசமாக
Name[te]=కంప్యూటింగ్ యొక్క ఉచిత ఆన్-లైన్ పదకోశం
Name[tg]=Луғати компютерии онлайн
Name[th]=พจนานุกรมสำหรับวิทยาการคอมพิวเตอร์แบบออนไลน์
Name[tr]=Ücretsiz Çevrim içi Bilişim Sözlüğü
Name[ug]=كومپيۇتېرنىڭ ھەقسىز تور لۇغىتى
Name[uk]=Вільний словник з інформатики в мережі
Name[uz]=Kompyuter atamalari boʻyicha Internet lugʻat
Name[uz@cyrillic]=Компьютер атамалари бўйича Интернет луғат
Name[vi]=Từ điển tin học trực tuyến tự do
Name[wa]=Diccionaire infôrmatike libe so les fyis
Name[x-test]=xxFree On-Line Dictionary of Computingxx
Name[zh_CN]=免费计算机在线词典
Name[zh_TW]=免費的線上電腦辭典
X-KDE-ServiceTypes=SearchProvider
Keys=fd,foldoc
Query=http://foldoc.org/\\{@}
Query[bg]=http://foldoc.org/\\{@}
Query[bs]=http://foldoc.org/\\{@}
Query[ca]=http://foldoc.org/\\{@}
Query[ca@valencia]=http://foldoc.org/\\{@}
Query[cs]=http://foldoc.org/\\{@}
Query[da]=http://foldoc.org/\\{@}
Query[de]=http://foldoc.org/\\{@}
Query[el]=http://foldoc.org/\\{@}
Query[es]=http://foldoc.org/\\{@}
Query[eu]=http://foldoc.org/\\{@}
Query[fi]=http://foldoc.org/\\{@}
Query[fr]=http://foldoc.org/\\{@}
Query[gl]=http://foldoc.org/\\{@}
Query[hi]=http://foldoc.org/\\{@}
Query[hu]=http://foldoc.org/\\{@}
Query[ia]=http://foldoc.org/\\{@}
Query[is]=http://foldoc.org/\\{@}
Query[it]=http://foldoc.org/\\{@}
Query[ja]=http://foldoc.org/\\{@}
Query[kk]=http://foldoc.org/\\{@}
Query[ko]=http://foldoc.org/\\{@}
Query[lt]=http://foldoc.org/\\{@}
Query[nb]=http://foldoc.org/\\{@}
Query[nl]=http://foldoc.org/\\{@}
Query[nn]=http://foldoc.org/\\{@}
Query[pa]=http://foldoc.org/\\{@}
Query[pl]=http://foldoc.org/\\{@}
Query[pt]=http://foldoc.org/\\{@}
Query[pt_BR]=http://foldoc.org/\\{@}
Query[ro]=http://foldoc.org/\\{@}
Query[ru]=http://foldoc.org/\\{@}
Query[sk]=http://foldoc.org/\\{@}
Query[sl]=http://foldoc.org/\\{@}
Query[sr]=http://foldoc.org/\\{@}
Query[sr@ijekavian]=http://foldoc.org/\\{@}
Query[sr@ijekavianlatin]=http://foldoc.org/\\{@}
Query[sr@latin]=http://foldoc.org/\\{@}
Query[sv]=http://foldoc.org/\\{@}
Query[tr]=http://foldoc.org/\\{@}
Query[ug]=http://foldoc.org/\\{@}
Query[uk]=http://foldoc.org/\\{@}
Query[wa]=http://foldoc.org/\\{@}
Query[x-test]=xxhttp://foldoc.org/\\{@}xx
Query[zh_CN]=http://foldoc.org/\\{@}
Query[zh_TW]=http://foldoc.org/\\{@}
