[Desktop Entry]
Charset=
Hidden=false
Keys=fr2en
Name=WordReference.com Translation: French to English
Name[af]=WordReference.com Vertaling: Frans na Engels
Name[ar]=ترجمة WordReference.com: فرنسي إلى إنجليزي
Name[as]=WordReference.com Translation: French to English
Name[ast]=WordReference.com Torna: francés a inglés
Name[be]=Пераклад WordReference.com: з французскай на англійскую
Name[be@latin]=Pierakład „WordReference.com”: francuskaja ➙ anhielskaja
Name[bg]=Превод с WordReference.com — от френски към английски
Name[bn]=WordReference.com অনুবাদ: ফরাসী থেকে ইংরাজি 
Name[bn_IN]=WordReference.com অনুবাদ: ফ্রেঞ্চ থেকে ইংরাজি
Name[bs]=Vordreferens: sa francuskog na engleski
Name[ca]=Traducció WordReference.com: Francès - Anglès
Name[ca@valencia]=Traducció WordReference.com: Francés - Anglés
Name[cs]=Překlad WordReference.com: z francouzštiny do angličtiny
Name[csb]=WordReference.com: francësczi -> anielsczi
Name[cy]=Cyfieithiad WordReference.com: Ffrangeg i Saesneg
Name[da]=WordReference.com oversættelse: Fransk til engelsk
Name[de]=WordReference.com – Übersetzung: Französisch/Englisch
Name[el]=WordReference.com Μετάφραση: Γαλλικά σε Αγγλικά
Name[en_GB]=WordReference.com Translation: French to English
Name[eo]=Tradukado WordReference.com: france anglen
Name[es]=WordReference.com Traducción: francés a inglés
Name[et]=WordReference.com tõlkimine: prantsuse->inglise
Name[eu]=WordReference.com Itzulpena: frantsesetik ingelesera
Name[fa]=ترجمه WordReference.com: فرانسوی به انگلیسی
Name[fi]=WordReference.com-käännös ranskasta englanniksi
Name[fr]=Traduction sur WordReference.com : français vers anglais
Name[fy]=WordReference.com-oersetting: Frânsk nei Ingelsk
Name[ga]=Aistriúchán WordReference.com: Fraincis go Béarla
Name[gl]=Tradución WordReference.com: francés a inglés
Name[gu]=WordReference.com ભાષાંતર: ફ્રેંચ થી અંગ્રેજી
Name[he]=תרגום WordReference.com: צרפתית לאנגלית
Name[hi]=WordReference.com अनुवादः फ्रांसीसी से अंग्रेजी
Name[hne]=वर्डरेफरेंस.काम अनुवादः फ्रांसीसी से अंगरेजी
Name[hr]=WordReference.com Prijevod: francuski na engleski
Name[hsb]=WordReference.com přełožowanje: francosce -> jendźelsce
Name[hu]=WordReference.com fordítás: franciáról angolra
Name[ia]=WordReference.com Traduction: Francese a Anglese
Name[id]=Terjemahan WordReference.com: Bahasa Perancis ke Inggris
Name[is]=WordReference.com þýðing: Frönsk/ensk
Name[it]=Traduzione WordReference.com: dal francese all'inglese
Name[ja]=WordReference.com フランス語-英語翻訳
Name[kk]=WordReference.com француз тілінен ағылшынға аудару
Name[km]=ការ​បកប្រែ WordReference.com ៖ ភាសា​បារាំង​ទៅជា​​អង់គ្លេស
Name[kn]=WordReference.com ಅನುವಾದ: ಫ್ರೆಂಚ್ ನಿಂದ ಇಂಗ್ಲೀಷಿಗೆ
Name[ko]=WordReference.com 번역: 프랑스어에서 영어로
Name[ku]=WordReference.com Wergerandin: Fransizî ji Îngilîzî re
Name[lt]=WordReference.com vertimas: iš prancūzų į anglų
Name[lv]=WordReference.com tulkošana: no Franču uz Angļu
Name[mai]=WordReference.com अनुवादः फ्रांसीसी सँ अंग्रेजी
Name[mk]=WordReference.com превод: од француски на англиски
Name[ml]=WordReference.com പരിഭാഷ: ഫ്രഞ്ചില്‍ നിന്നും ഇംഗ്ലീഷിലേയ്ക്കു്
Name[mr]=WordReference.com अनुवादः फ्रांसीसी ते अंग्रेजी
Name[nb]=WordReference.com – oversettelse fra fransk til engelsk
Name[nds]=WordReference.com Översetten: Franzöösch na Engelsch
Name[ne]=WordReference.com Translation: फ्रेन्चलाई अङ्ग्रेजीमा
Name[nl]=WordReference.com-vertaling: Frans naar Engels
Name[nn]=WordReference.com – omsetjing: fransk til engelsk
Name[or]=WordReference.com ଅନୁବାଦ: ଫ୍ରେଞ୍ଚରୁ ଇଂରାଜୀ
Name[pa]=WordReference.com ਟਰਾਂਸਲੇਸ਼ਨ:ਫਰੈਂਚ ਤੋਂ ਅੰਗਰੇਜ਼ੀ
Name[pl]=WordReference.com: francuski -> angielski
Name[pt]=Tradução do WordReference.com: Francês para Inglês
Name[pt_BR]=WordReference.com - Tradução: francês para inglês
Name[ro]=Traducere WordReference.com: franceză la engleză
Name[ru]=Переводчик WordReference.com: французско-английский
Name[se]=WordReference.com – jorgaleapmi: fránskkagielas eŋgelasgillii
Name[si]=WordReference.com පරිවර්ථනය: ප්‍රංශ සිට ඉංග්‍රීසි බසට
Name[sk]=WordReference.com preklad z francúzštiny do angličtiny
Name[sl]=Prevod WordReference.com: francoščina v angleščino
Name[sr]=Вордреференс: са француског на енглески
Name[sr@ijekavian]=Вордреференс: са француског на енглески
Name[sr@ijekavianlatin]=WordReference: sa francuskog na engleski
Name[sr@latin]=WordReference: sa francuskog na engleski
Name[sv]=Wordreference.com översättning: franska till engelska
Name[ta]=WordReference.com மொழிபெயர்ப்பு: பிரென்சு மொழியில் இருந்து ஆங்கிலத்துக்கு
Name[te]=WordReference.com అనువాదము: ఫ్రెంచ్ నుండి ఇంగ్లీష్
Name[tg]=Тарҷумаҳои WordReference.com: Франсузӣ ба англисӣ
Name[th]=การแปลจาก WordReference.com: แปลภาษาฝรั่งเศสเป็นอังกฤษ
Name[tr]=WordReference.com Çevirisi: Fransızcadan İngilizceye
Name[ug]=WordReference.com تەرجىمە: فىرانسۇزچىغا ئىنگلىزچىغا
Name[uk]=WordReference.com — переклад з французької англійською
Name[uz]=WordReference.com tarjima: Fransuzchadan Inglizchaga
Name[uz@cyrillic]=WordReference.com таржима: Французчадан Инглизчага
Name[vi]=WordReference.com Dịch: tiếng Pháp sang tiếng Anh
Name[wa]=WordReference.com ratournaedje do francès viè l' inglès
Name[x-test]=xxWordReference.com Translation: French to Englishxx
Name[zh_CN]=WordReference.com 翻译：法语译英语
Name[zh_TW]=WordReference.com 翻譯: 法文至英文
Query=http://www.wordreference.com/fr/en/translation.asp?fren=\\{@}
Query[af]=http://www.wordreference.com/fr/en/translation.asp?fren=\\{@}
Query[ar]=http://www.wordreference.com/fr/en/translation.asp?fren=\\{@}
Query[as]=http://www.wordreference.com/fr/en/translation.asp?fren=\\{@}
Query[ast]=http://www.wordreference.com/fr/en/translation.asp?fren=\\{@}
Query[be]=http://www.wordreference.com/fr/en/translation.asp?fren=\\{@}
Query[be@latin]=http://www.wordreference.com/fr/en/translation.asp?fren=\\{@}
Query[bg]=http://www.wordreference.com/fr/en/translation.asp?fren=\\{@}
Query[bn]=http://www.wordreference.com/fr/en/translation.asp?fren=\\{@}
Query[bn_IN]=http://www.wordreference.com/fr/en/translation.asp?fren=\\{@}
Query[br]=http://www.wordreference.com/fr/en/translation.asp?fren=\\{@}
Query[bs]=http://www.wordreference.com/fr/en/translation.asp?fren=\\{@}
Query[ca]=http://www.wordreference.com/fr/en/translation.asp?fren=\\{@}
Query[ca@valencia]=http://www.wordreference.com/fr/en/translation.asp?fren=\\{@}
Query[cs]=http://www.wordreference.com/fr/en/translation.asp?fren=\\{@}
Query[csb]=http://www.wordreference.com/fr/en/translation.asp?fren=\\{@}
Query[da]=http://www.wordreference.com/fr/en/translation.asp?fren=\\{@}
Query[de]=http://www.wordreference.com/fr/en/translation.asp?fren=\\{@}
Query[el]=http://www.wordreference.com/fr/en/translation.asp?fren=\\{@}
Query[en_GB]=http://www.wordreference.com/fr/en/translation.asp?fren=\\{@}
Query[eo]=http://www.wordreference.com/fr/en/translation.asp?fren=\\{@}
Query[es]=http://www.wordreference.com/fr/en/translation.asp?fren=\\{@}
Query[et]=http://www.wordreference.com/fr/en/translation.asp?fren=\\{@}
Query[eu]=http://www.wordreference.com/fr/en/translation.asp?fren=\\{@}
Query[fa]=http://www.wordreference.com/fr/en/translation.asp?fren=\\{@}
Query[fi]=http://www.wordreference.com/fr/en/translation.asp?fren=\\{@}
Query[fr]=http://www.wordreference.com/fr/en/translation.asp?fren=\\{@}
Query[fy]=http://www.wordreference.com/fr/en/translation.asp?fren=\\{@}
Query[ga]=http://www.wordreference.com/fr/en/translation.asp?fren=\\{@}
Query[gl]=http://www.wordreference.com/fr/en/translation.asp?fren=\\{@}
Query[gu]=http://www.wordreference.com/fr/en/translation.asp?fren=\\{@}
Query[he]=http://www.wordreference.com/fr/en/translation.asp?fren=\\{@}
Query[hi]=http://www.wordreference.com/fr/en/translation.asp?fren=\\{@}
Query[hne]=http://www.wordreference.com/fr/en/translation.asp?fren=\\{@}
Query[hr]=http://www.wordreference.com/fr/en/translation.asp?fren=\\{@}
Query[hsb]=http://www.wordreference.com/fr/en/translation.asp?fren=\\{@}
Query[hu]=http://www.wordreference.com/fr/en/translation.asp?fren=\\{@}
Query[ia]=http://www.wordreference.com/fr/en/translation.asp?fren=\\{@}
Query[id]=http://www.wordreference.com/fr/en/translation.asp?fren=\\{@}
Query[is]=http://www.wordreference.com/fr/en/translation.asp?fren=\\{@}
Query[it]=http://www.wordreference.com/fr/en/translation.asp?fren=\\{@}
Query[ja]=http://www.wordreference.com/fr/en/translation.asp?fren=\\{@}
Query[ka]=http://www.wordreference.com/fr/en/translation.asp?fren=\\{@}
Query[kk]=http://www.wordreference.com/fr/en/translation.asp?fren=\\{@}
Query[km]=http://www.wordreference.com/fr/en/translation.asp?fren=\\{@}
Query[kn]=http://www.wordreference.com/fr/en/translation.asp?fren=\\{@}
Query[ko]=http://www.wordreference.com/fr/en/translation.asp?fren=\\{@}
Query[ku]=http://www.wordreference.com/fr/en/translation.asp?fren=\\{@}
Query[lt]=http://www.wordreference.com/fr/en/translation.asp?fren=\\{@}
Query[lv]=http://www.wordreference.com/fr/en/translation.asp?fren=\\{@}
Query[mai]=http://www.wordreference.com/fr/en/translation.asp?fren=\\{@}
Query[ml]=http://www.wordreference.com/fr/en/translation.asp?fren=\\{@}
Query[mr]=http://www.wordreference.com/fr/en/translation.asp?fren=\\{@}
Query[ms]=http://www.wordreference.com/fr/en/translation.asp?fren=\\{@}
Query[nb]=http://www.wordreference.com/fr/en/translation.asp?fren=\\{@}
Query[nds]=http://www.wordreference.com/fr/en/translation.asp?fren=\\{@}
Query[ne]=http://www.wordreference.com/fr/en/translation.asp?fren=\\{@}
Query[nl]=http://www.wordreference.com/fr/en/translation.asp?fren=\\{@}
Query[nn]=http://www.wordreference.com/fr/en/translation.asp?fren=\\{@}
Query[oc]=http://www.wordreference.com/fr/en/translation.asp?fren=\\{@}
Query[or]=http://www.wordreference.com/fr/en/translation.asp?fren=\\{@}
Query[pa]=http://www.wordreference.com/fr/en/translation.asp?fren=\\{@}
Query[pl]=http://www.wordreference.com/fr/en/translation.asp?fren=\\{@}
Query[pt]=http://www.wordreference.com/fr/en/translation.asp?fren=\\{@}
Query[pt_BR]=http://www.wordreference.com/fr/en/translation.asp?fren=\\{@}
Query[ro]=http://www.wordreference.com/fr/en/translation.asp?fren=\\{@}
Query[ru]=http://www.wordreference.com/fr/en/translation.asp?fren=\\{@}
Query[se]=http://www.wordreference.com/fr/en/translation.asp?fren=\\{@}
Query[si]=http://www.wordreference.com/fr/en/translation.asp?fren=\\{@}
Query[sk]=http://www.wordreference.com/fr/en/translation.asp?fren=\\{@}
Query[sl]=http://www.wordreference.com/fr/en/translation.asp?fren=\\{@}
Query[sr]=http://www.wordreference.com/fr/en/translation.asp?fren=\\{@}
Query[sr@ijekavian]=http://www.wordreference.com/fr/en/translation.asp?fren=\\{@}
Query[sr@ijekavianlatin]=http://www.wordreference.com/fr/en/translation.asp?fren=\\{@}
Query[sr@latin]=http://www.wordreference.com/fr/en/translation.asp?fren=\\{@}
Query[sv]=http://www.wordreference.com/fr/en/translation.asp?fren=\\{@}
Query[ta]=http://www.wordreference.com/fr/en/translation.asp?fren=\\{@}
Query[te]=http://www.wordreference.com/fr/en/translation.asp?fren=\\{@}
Query[tg]=http://www.wordreference.com/fr/en/translation.asp?fren=\\{@}
Query[th]=http://www.wordreference.com/fr/en/translation.asp?fren=\\{@}
Query[tr]=http://www.wordreference.com/fr/en/translation.asp?fren=\\{@}
Query[ug]=http://www.wordreference.com/fr/en/translation.asp?fren=\\{@}
Query[uk]=http://www.wordreference.com/fr/en/translation.asp?fren=\\{@}
Query[uz]=http://www.wordreference.com/fr/en/translation.asp?fren=\\{@}
Query[uz@cyrillic]=http://www.wordreference.com/fr/en/translation.asp?fren=\\{@}
Query[vi]=http://www.wordreference.com/fr/en/translation.asp?fren=\\{@}
Query[wa]=http://www.wordreference.com/fr/en/translation.asp?fren=\\{@}
Query[x-test]=xxhttp://www.wordreference.com/fr/en/translation.asp?fren=\\{@}xx
Query[zh_CN]=http://www.wordreference.com/fr/en/translation.asp?fren=\\{@}
Query[zh_TW]=http://www.wordreference.com/fr/en/translation.asp?fren=\\{@}
X-KDE-ServiceTypes=SearchProvider
Type=Service
