[Desktop Entry]
Type=Service
Name=FSF/UNESCO Free Software Directory
Name[af]=FSF/UNESCO Gratis Sagteware Gids
Name[ar]=مجلد البرامج الحرة
Name[as]=FSF/UNESCO Free Software Directory
Name[ast]=Direutoriu de software llibre de FSF/UNESCO
Name[be]=Каталог свабоднага праграмнага забеспячэння FSF/UNESCO
Name[be@latin]=Kataloh svabodnych prahramaŭ „FSF/UNESCO”
Name[bg]=Директория със свободен софтуер на FSF/UNESCO
Name[bn]=FSF/UNESCO ফ্রী সফ্‌টওয়্যার ডিরেক্টরি
Name[bn_IN]=FSF/UNESCO মুক্ত সফ্টওয়্যার অভিধান
Name[br]=Renkell meziantoù frank FSF/UNESCO
Name[bs]=Imenik slobodnog softvera ZSS/Unesko
Name[ca]=Directori de programari lliure FSF/UNESCO
Name[ca@valencia]=Directori de programari lliure FSF/UNESCO
Name[cs]=Adresář svobodného softwaru FSF/UNESCO
Name[csb]=Wòlnoprzëstãpny katalog programów FSF/UNESCO
Name[da]=FSF/UNESCO Free Software katalog
Name[de]=FSF/UNESCO Free Software Directory
Name[el]=FSF/UNESCO Free Software Directory
Name[en_GB]=FSF/UNESCO Free Software Directory
Name[eo]=Dosierujoj de liberaj programaroj de FSF/UNESCO
Name[es]=Directorio de software libre de FSF/UNESCO
Name[et]=FSF/UNESCO Free Software Directory
Name[eu]=FSF/UNESCO Free Software direktorioa
Name[fa]=واژه‌نامه نرم‌افزار آزاد FSF/UNESCO
Name[fi]=FSF/UNESCO:n vapaiden ohjelmien hakemisto
Name[fr]=Catalogue de logiciels libres FSF / UNESCO
Name[fy]=FSF/UNESCO Free Software Directory
Name[ga]=Eolaire Saorbhogearraí FSF/UNESCO
Name[gl]=Directorio de software libre da FSF/UNESCO
Name[gu]=FSF/UNESCO ફ્રી સોફ્ટવેર ડિરેક્ટરી
Name[he]=מדריך התוכנה החופשית של FSF/UNESCO
Name[hi]=एफएसएफ/यूनेस्को फ्री सॉफ़्टवेयर डिरेक्ट्री
Name[hne]=एफएसएफ/यूनेस्को फ्री साफ्टवेयर डिरेक्टरी
Name[hr]=FSF/UNESCO mapa slobodnog softvera
Name[hsb]=FSF/UNESCO Free Software Directory
Name[hu]=FSF/UNESCO szabadszoftver-gyűjtemény
Name[ia]=FSF/UNESCO Free Software Directory (Directorio de software libere)
Name[id]=Direktori Peranti Lunak Gratis FSF/UNESCO
Name[is]=FSF/UNESCO Free Software Directory
Name[it]=Elenco di software libero di FSF e UNESCO
Name[ja]=FSF/UNESCO フリーソフトウェア ディレクトリ
Name[ka]=FSF/UNESCO თავისუფალი პროგრამების კატალოგი
Name[kk]=FSF/UNESCO ашық бағдарламалық жасау каталогы
Name[km]=ថត​កម្មវិធី​ឥត​គិត​ថ្លៃ​របស់ FSF/UNESCO
Name[kn]=FSF/UNESCO ಮಕ್ತ ತಂತ್ರಾಂಶ ಶಬ್ದಕೋಶ
Name[ko]=FSF/UNESCO 자유 소프트웨어 디렉터리
Name[ku]=FSF/UNESCO Ferhenga Nivîsbariyê ya Bêpere
Name[lt]=FSF/UNESCO laisvos programinės įrangos aplankas
Name[lv]=FSF/UNESCO brīvās programmatūras krātuve
Name[mai]=एफएसएफ/यूनेस्को फ्री साफ्टवेयर डिरेक्ट्री
Name[mk]=Каталог на слободен софтвер на FSF/UNESCO
Name[ml]=എഫ്എസ്എഫ്/യുനെസ്കോ സ്വതന്ത്ര സോഫ്റ്റ്‌വെയര്‍ ഡയറക്റ്ററി
Name[mr]=FSF/UNESCO ची मोफत सॉफ्टवेअर संचयीका
Name[ms]=Direktori Perisian Percuma FSF/UNESCO
Name[nb]=FSF/UNESCO-katalogen over fri programvare
Name[nds]=FSF/UNESCO-Verteken mit fre'e Programmen
Name[ne]=FSF/UNESCO नि: शुल्क सफ्टवेयर शब्दकोश
Name[nl]=FSF/UNESCO Free Software Directory
Name[nn]=FSF/UNESCO-katalogen over fri programvare
Name[or]=FSF/UNESCO ମୁକ୍ତ ସଫ୍ଟୱେର ଡ଼ିରେକ୍ଟରୀ
Name[pa]=FSF/UNESCO ਮੁਕਤ ਸਾਫਟਵੇਅਰ ਡਾਇਰੈਕਟਰੀ
Name[pl]=Słownik darmowego oprogramowania FSF/UNESCO
Name[pt]=Directoria de Software Livre FSF/UNESCO
Name[pt_BR]=FSF/UNESCO - Diretório de Software Livre
Name[ro]=Director de software liber FSF/UNESCO
Name[ru]=Каталог свободного ПО FSF/UNESCO
Name[se]=FSF/UNESCO Free Software Directory
Name[si]=FSF/UNESCO නිදහස් මෘදුකාංග ශබ්දකෝශය
Name[sk]=FSF/UNESCO Adresár slobodného softvéru
Name[sl]=Imenik prostega programja FSF/UNESCO 
Name[sr]=Именик слободног софтвера ЗСС/Унеско
Name[sr@ijekavian]=Именик слободног софтвера ЗСС/Унеско
Name[sr@ijekavianlatin]=Imenik slobodnog softvera ZSS/Unesco
Name[sr@latin]=Imenik slobodnog softvera ZSS/Unesco
Name[sv]=FSF/UNESCO katalog över fri programvara
Name[ta]=FSF/UNESCO இலவச மென்பொருள் அடைவு
Name[te]=FSF/UNESCO ఉచిత సాఫ్‍ట్‌వేర్ డైరెక్టరీ
Name[tg]=Феҳристи нармафзори озод FSF/UNESCO
Name[th]=FSF/UNESCO - ไดเรกทอรีซอฟต์แวร์เสรี
Name[tr]=FSF/UNESCO Ücretsiz Yazılım Dizini
Name[ug]=FSF/UNESCO ھەقسىز يۇمشاق دېتاللار مۇندەرىجىسى
Name[uk]=Словник з вільного програмного забезпечення FSF/UNESCO
Name[vi]=Thư mục Phần mềm Tự do FSF/UNESCO
Name[wa]=Indecse des libes programes FSF/UNESCO
Name[x-test]=xxFSF/UNESCO Free Software Directoryxx
Name[zh_CN]=FSF/UNESCO 自由软件目录
Name[zh_TW]=FSF/UNESCO 自由軟體目錄
X-KDE-ServiceTypes=SearchProvider
Keys=fsd
Query=http://directory.fsf.org/search/?query=\\{@}
Query[af]=http://directory.fsf.org/search/?query=\\{@}
Query[ar]=http://directory.fsf.org/search/?query=\\{@}
Query[as]=http://directory.fsf.org/search/?query=\\{@}
Query[ast]=http://directory.fsf.org/search/fsd-search.py?q=\\{@}
Query[be@latin]=http://directory.fsf.org/search/?query=\\{@}
Query[bg]=http://directory.fsf.org/search/?query=\\{@}
Query[bn]=http://directory.fsf.org/search/?query=\\{@}
Query[bn_IN]=http://directory.fsf.org/search/?query=\\{@}
Query[bs]=http://directory.fsf.org/search/?query=\\{@}
Query[ca]=http://directory.fsf.org/search/?query=\\{@}
Query[ca@valencia]=http://directory.fsf.org/search/?query=\\{@}
Query[cs]=http://directory.fsf.org/search/?query=\\{@}
Query[csb]=http://directory.fsf.org/search/?query=\\{@}
Query[da]=http://directory.fsf.org/search/?query=\\{@}
Query[de]=http://directory.fsf.org/search/?query=\\{@}
Query[el]=http://directory.fsf.org/search/fsd-search.py?q=\\{@}
Query[en_GB]=http://directory.fsf.org/search/?query=\\{@}
Query[eo]=http://directory.fsf.org/search/?query=\\{@}
Query[es]=http://directory.fsf.org/search/fsd-search.py?q=\\{@}
Query[et]=http://directory.fsf.org/search/?query=\\{@}
Query[eu]=http://directory.fsf.org/search/?query=\\{@}
Query[fa]=http://directory.fsf.org/search/?query=\\{@}
Query[fi]=http://directory.fsf.org/search/?query=\\{@}
Query[fr]=http://directory.fsf.org/search/?query=\\{@}
Query[fy]=http://directory.fsf.org/search/?query=\\{@}
Query[ga]=http://directory.fsf.org/search/?query=\\{@}
Query[gl]=http://directory.fsf.org/search/?query=\\{@}
Query[gu]=http://directory.fsf.org/search/?query=\\{@}
Query[he]=http://directory.fsf.org/search/?query=\\{@}
Query[hi]=http://directory.fsf.org/search/?query=\\{@}
Query[hne]=http://directory.fsf.org/search/?query=\\{@}
Query[hr]=http://directory.fsf.org/search/?query=\\{@}
Query[hsb]=http://directory.fsf.org/search/?query=\\{@}
Query[hu]=http://directory.fsf.org/search/?query=\\{@}
Query[ia]=http://directory.fsf.org/search/?query=\\{@}
Query[id]=http://directory.fsf.org/search/?query=\\{@}
Query[is]=http://directory.fsf.org/search/?query=\\{@}
Query[it]=http://directory.fsf.org/search/?query=\\{@}
Query[ja]=http://directory.fsf.org/search/?query=\\{@}
Query[kk]=http://directory.fsf.org/search/?query=\\{@}
Query[km]=http://directory.fsf.org/search/?query=\\{@}
Query[kn]=http://directory.fsf.org/search/?query=\\{@}
Query[ko]=http://directory.fsf.org/search/?query=\\{@}
Query[ku]=http://directory.fsf.org/search/?query=\\{@}
Query[lt]=http://directory.fsf.org/search/?query=\\{@}
Query[lv]=http://directory.fsf.org/search/?query=\\{@}
Query[mai]=http://directory.fsf.org/search/?query=\\{@}
Query[ml]=http://directory.fsf.org/search/?query=\\{@}
Query[mr]=http://directory.fsf.org/search/?query=\\{@}
Query[nb]=http://directory.fsf.org/search/?query=\\{@}
Query[nds]=http://directory.fsf.org/search/?query=\\{@}
Query[nl]=http://directory.fsf.org/search/?query=\\{@}
Query[nn]=http://directory.fsf.org/search/?query=\\{@}
Query[or]=http://directory.fsf.org/search/?query=\\{@}
Query[pa]=http://directory.fsf.org/search/?query=\\{@}
Query[pl]=http://directory.fsf.org/search/?query=\\{@}
Query[pt]=http://directory.fsf.org/search/?query=\\{@}
Query[pt_BR]=http://directory.fsf.org/search/?query=\\{@}
Query[ro]=http://directory.fsf.org/search/?query=\\{@}
Query[ru]=http://directory.fsf.org/search/?query=\\{@}
Query[si]=http://directory.fsf.org/search/?query=\\{@}
Query[sk]=http://directory.fsf.org/search/?query=\\{@}
Query[sl]=http://directory.fsf.org/search/?query=\\{@}
Query[sr]=http://directory.fsf.org/search/?query=\\{@}
Query[sr@ijekavian]=http://directory.fsf.org/search/?query=\\{@}
Query[sr@ijekavianlatin]=http://directory.fsf.org/search/?query=\\{@}
Query[sr@latin]=http://directory.fsf.org/search/?query=\\{@}
Query[sv]=http://directory.fsf.org/search/?query=\\{@}
Query[ta]=http://directory.fsf.org/search/?query=\\{@}
Query[te]=http://directory.fsf.org/search/?query=\\{@}
Query[tg]=http://directory.fsf.org/search/?query=\\{@}
Query[th]=http://directory.fsf.org/search/?query=\\{@}
Query[tr]=http://directory.fsf.org/search/?query=\\{@}
Query[ug]=http://directory.fsf.org/search/?query=\\{@}
Query[uk]=http://directory.fsf.org/search/?query=\\{@}
Query[uz]=http://directory.fsf.org/search/?query=\\{@}
Query[uz@cyrillic]=http://directory.fsf.org/search/?query=\\{@}
Query[vi]=http://directory.fsf.org/search/?query=\\{@}
Query[wa]=http://directory.fsf.org/search/?query=\\{@}
Query[x-test]=xxhttp://directory.fsf.org/search/?query=\\{@}xx
Query[zh_CN]=http://directory.fsf.org/search/?query=\\{@}
Query[zh_TW]=http://directory.fsf.org/search/?query=\\{@}


