[Desktop Entry]
Charset=
Hidden=false
Keys=gitorious,gt
Name=Gitorious
Name[ar]=Gitorious
Name[ast]=Gitorious
Name[bg]=Gitorious
Name[bn]=গিটেরিয়াস
Name[bs]=Gitorijus
Name[ca]=Gitorious
Name[ca@valencia]=Gitorious
Name[cs]=Gitorious
Name[da]=Gitorious
Name[de]=Gitorious
Name[el]=Gitorious
Name[en_GB]=Gitorious
Name[eo]=Gitorious
Name[es]=Gitorious
Name[et]=Gitorious
Name[eu]=Gitorious
Name[fa]=Gitorious
Name[fi]=Gitorious
Name[fr]=Gitorious
Name[ga]=Gitorious
Name[gl]=Gitorious
Name[gu]=ગિટોરીઅસ
Name[he]=Gitorious
Name[hi]=गिटोरी
Name[hr]=Gitorious
Name[hu]=Gitorious
Name[ia]=Gitorious
Name[id]=Gitorious
Name[is]=Gitorious
Name[it]=Gitorious
Name[ja]=Gitorious
Name[kk]=Gitorious
Name[km]=Gitorious
Name[kn]=ಗಿಟೋರಿಯಸ್(Gitorious)
Name[ko]=Gitorious
Name[lt]=Gitorious
Name[lv]=Gitorious
Name[mai]=Gitorious
Name[ml]=ഗിറ്റോറിയസ്
Name[mr]=जिटोरिअस
Name[nb]=Gitorious
Name[nds]=Gitorious
Name[nl]=Gitorious
Name[nn]=Gitorious
Name[pa]=ਗਿਟੋਰੀਅਸ
Name[pl]=Gitorious
Name[pt]=Gitorious
Name[pt_BR]=Gitorious
Name[ro]=Gitorious
Name[ru]=Gitorious
Name[si]=Gitorious
Name[sk]=Gitorious
Name[sl]=Gitorious
Name[sr]=Гиторијус
Name[sr@ijekavian]=Гиторијус
Name[sr@ijekavianlatin]=Gitorious
Name[sr@latin]=Gitorious
Name[sv]=Gitorious
Name[tg]=Gitorious
Name[th]=Gitorious
Name[tr]=Gitorious
Name[ug]=Gitorious
Name[uk]=Gitorious
Name[vi]=Gitorious
Name[wa]=Gitorious
Name[x-test]=xxGitoriousxx
Name[zh_CN]=Gitorious
Name[zh_TW]=Gitorious
Query=https://gitorious.org/search?q=\\{@}&commit=Search
Query[bg]=https://gitorious.org/search?q=\\{@}&commit=Search
Query[bs]=https://gitorious.org/search?q=\\{@}&commit=Search
Query[ca]=https://gitorious.org/search?q=\\{@}&commit=Search
Query[ca@valencia]=https://gitorious.org/search?q=\\{@}&commit=Search
Query[cs]=https://gitorious.org/search?q=\\{@}&commit=Search
Query[da]=https://gitorious.org/search?q=\\{@}&commit=Search
Query[de]=https://gitorious.org/search?q=\\{@}&commit=Search
Query[el]=https://gitorious.org/search?q=\\{@}&commit=Search
Query[es]=https://gitorious.org/search?q=\\{@}&commit=Search
Query[eu]=https://gitorious.org/search?q=\\{@}&commit=Search
Query[fi]=https://gitorious.org/search?q=\\{@}&commit=Search
Query[fr]=https://gitorious.org/search?q=\\{@}&commit=Search
Query[gl]=https://gitorious.org/search?q=\\{@}&commit=Search
Query[hi]=https://gitorious.org/search?q=\\{@}&commit=Search
Query[hu]=https://gitorious.org/search?q=\\{@}&commit=Search
Query[ia]=https://gitorious.org/search?q=\\{@}&commit=Search
Query[is]=https://gitorious.org/search?q=\\{@}&commit=Search
Query[it]=https://gitorious.org/search?q=\\{@}&commit=Search
Query[ja]=https://gitorious.org/search?q=\\{@}&commit=Search
Query[kk]=https://gitorious.org/search?q=\\{@}&commit=Search
Query[ko]=https://gitorious.org/search?q=\\{@}&commit=Search
Query[lt]=https://gitorious.org/search?q=\\{@}&commit=Search
Query[nb]=https://gitorious.org/search?q=\\{@}&commit=Search
Query[nl]=https://gitorious.org/search?q=\\{@}&commit=Search
Query[nn]=https://gitorious.org/search?q=\\{@}&commit=Search
Query[pa]=https://gitorious.org/search?q=\\{@}&commit=Search
Query[pl]=https://gitorious.org/search?q=\\{@}&commit=Search
Query[pt]=https://gitorious.org/search?q=\\{@}&commit=Search
Query[pt_BR]=https://gitorious.org/search?q=\\{@}&commit=Search
Query[ro]=https://gitorious.org/search?q=\\{@}&commit=Search
Query[ru]=https://gitorious.org/search?q=\\{@}&commit=Search
Query[sk]=https://gitorious.org/search?q=\\{@}&commit=Search
Query[sl]=https://gitorious.org/search?q=\\{@}&commit=Search
Query[sr]=https://gitorious.org/search?q=\\{@}&commit=Search
Query[sr@ijekavian]=https://gitorious.org/search?q=\\{@}&commit=Search
Query[sr@ijekavianlatin]=https://gitorious.org/search?q=\\{@}&commit=Search
Query[sr@latin]=https://gitorious.org/search?q=\\{@}&commit=Search
Query[sv]=https://gitorious.org/search?q=\\{@}&commit=Search
Query[tr]=https://gitorious.org/search?q=\\{@}&commit=Search
Query[ug]=https://gitorious.org/search?q=\\{@}&commit=Search
Query[uk]=https://gitorious.org/search?q=\\{@}&commit=Search
Query[wa]=https://gitorious.org/search?q=\\{@}&commit=Search
Query[x-test]=xxhttps://gitorious.org/search?q=\\{@}&commit=Searchxx
Query[zh_CN]=https://gitorious.org/search?q=\\{@}&commit=Search
Query[zh_TW]=https://gitorious.org/search?q=\\{@}&commit=Search
ServiceTypes=SearchProvider
Type=Service
