[Desktop Entry]
Charset=ISO-8859-15
Hidden=false
Keys=grec
Name=Great Dictionary of the Catalan Language (GRan Enciclopèdia  Catalana)
Name[af]=Groot woordeboek van die Catalan Taal
Name[ar]=القاموس الكبير للغة الكاتالونية 
Name[as]=Great Dictionary of the Catalan Language (GRan Enciclopèdia  Catalana)
Name[ast]=Gran diccionariu de la llingua catalana (Gran Enciclopèdia Catalana)
Name[be]=Вялікі слоўнік каталонскай мовы (GRan Enciclopèdia  Catalana)
Name[be@latin]=Vialiki słoŭnik katalanskaje movy (GRan Enciclopèdia Catalana)
Name[bg]=Голям речник на каталонски език (GRan Enciclopèdia  Catalana)
Name[bn]=কাটালান ভাষার অভিধান (GRan Enciclopèdia  Catalana)
Name[bs]=Veliki rječnik katalonskog jezika (GRan Enciclopèdia Catalana)
Name[ca]=Gran diccionari de la Llengua Catalana (Grup Enciclopèdia Catalana)
Name[ca@valencia]=Gran diccionari de la Llengua Catalana (Grup Enciclopèdia Catalana)
Name[cs]=Velký katalánský slovník (GRan Enciclopèdia  Catalana)
Name[csb]=Wiôldżi słowôrz katalońsczégò jãzëka (GRan Enciclopèdia Catalana)
Name[da]=Storartet ordbog for det katalanske sprog (GRan Enciclopèdia  Catalana)
Name[de]=Großes Wörterbuch der Katalanischen Sprache (GRan Enciclopèdia Catalana)
Name[el]=Μεγάλο Λεξικό της Καταλανικής Γλώσσας  (GRan Enciclopèdia  Catalana)
Name[en_GB]=Great Dictionary of the Catalan Language (GRan Enciclopèdia  Catalana)
Name[eo]=Granda vortaro de la kataluna lingvo (GRan Enciclopèdia  Catalana)
Name[es]=Gran diccionario del idioma catalán (Gran Enciclopèdia Catalana)
Name[et]=Suur katalaani sõnaraamat (GRan Enciclopèdia  Catalana)
Name[eu]=Katalaniera hiztegia (GRan Enciclopèdia  Catalana)
Name[fa]=واژه‌نامه بزرگ زبان کاتالان (GRan Enciclopèdia  Catalana)
Name[fi]=Katalaanin suuri sanakirja (GRan Enciclopèdia  Catalana)
Name[fr]=Remarquable dictionnaire pour la langue catalane (GRan Enciclopèdia Catalana)
Name[fy]=Great Dictionary of the Catalan Language (GRan Enciclopèdia  Catalana)
Name[ga]=OllFhoclóir Catalóinise (GRan Enciclopèdia  Catalana)
Name[gl]=GRan Enciclopèdia Catalana
Name[gu]=કેટેલાન ભાષાની મહાન ડિક્શનેરી (GRan Enciclopèdia  Catalana)
Name[he]=המילון הגדול של לשפה הקטלאנית (GRan Enciclopèdia  Catalana)
Name[hi]=कैटालन भाषा के लिए बढ़िया शब्दकोश (जी-रॅन एनसाइक्लोपीडिया कैटलाना)
Name[hne]=कैटालन भाखा बर बढ़िया सब्दकोस (जी-रॅन एनसाइक्लोपीडिया कैटलाना)
Name[hr]=Veliki rječnik katalonskog jezika (GRan Enciclopèdia Catalana)
Name[hsb]=Wulki słownik katalanšćiny (GRan Enciclopèdia  Catalana)
Name[hu]=Katalán nagyszótár (GRan Enciclopèdia  Catalana)
Name[ia]=Grande Dictionario de le Linguage Catalan (GRan Enciclopèdia  Catalana)
Name[id]=Kamus Besar Bahasa Catalan (GRan Enciclopèdia  Catalana)
Name[is]=Stóra orðabók katalónska tungumálsins (GRan Enciclopèdia  Catalana)
Name[it]=Grande dizionario della lingua catalana (GRan Enciclopèdia Catalana)
Name[ja]=カタロニア語大辞典 (GRan Enciclopèdia Catalana)
Name[kk]=Каталан тілдің үлкен сөздігі (GRan Enciclopèdia  Catalana)
Name[km]=វចនានុក្រម​ដ៏​អស្ចារ្យ​របស់​​ភាសា​កាតាឡាន (GRan Enciclopèdia  Catalana)
Name[kn]=ಕಾಟಲನ್ ಭಾಷೆಯ ಒಂದು ಅಮೇಘ ಶಬ್ದಕೋಶ (GRan Enciclopèdia  Catalana)
Name[ko]=카탈루냐어 대사전 (GRan Enciclopèdia  Catalana)
Name[ku]=Ferhenga Mezin ya Zimanê Katalan (GRan Enciclopèdia  Catalana)
Name[lt]=Puikus katalonų kalbos žodynas (GRan Enciclopèdia  Catalana)
Name[lv]=Lielā Katalāņu valodas vārdnīca (GRan Enciclopèdia  Catalana)
Name[mai]=कैटालन भाषा क' लेल बढिया शब्दकोश (जी-रॅन एनसाइक्लोपीडिया कैटलाना)
Name[mk]=Голем речник на каталонскиот јазик (GRan Enciclopèdia Catalana)
Name[ml]=കറ്റാലന്‍ ഭാഷയുടെ മഹത്തായ നിഘണ്ടു (ഗ്രാന്‍ എന്‍സൈക്ലോപീഡിയ കറ്റാലാന)
Name[mr]=कैटालन भाषा करिता उत्तम शब्दकोश (जीरॅन एनसाइक्लोपीडिया कैटलाना)
Name[ms]=Kamus Besar Bahasa Catalan (GRan Enciclopèdia  Catalana)
Name[nb]=Den store, katalanske ordboka (GRan Enciclopèdia Catalana)
Name[nds]=Groot Wöörbook vun de Katalaansche Spraak (GRan Enciclopèdia Catalana)
Name[ne]=क्याटालान भाषाको ठूलो शब्दकोश (GRan इनसाइक्लोपिडीया  कातालान)
Name[nl]=Catalaanse Encyclopedie
Name[nn]=Den store, katalanske ordboka (GRan Enciclopèdia  Catalana)
Name[or]=କାଟାଲାନ ଭାଷାର ସୁନାମଧନ୍ୟ ଅଭିଧାନ (GRan Enciclopèdia  Catalana)
Name[pa]=ਕਾਟਾਲਾਨ ਭਾਸ਼ਾ ਲਈ ਮਹਾਨ ਕੋਸ਼ (GRan ਵਿਸ਼ਵਕੋਸ਼ ਕਾਟਾਲਾਨਾ)
Name[pl]=Wielki słownik języka katalońskiego (GRan Enciclopèdia Catalana)
Name[pt]=Grande Dicionário da Língua Catalã (GRan Enciclopèdia  Catalana)
Name[pt_BR]=Grande dicionário do idioma catalão (GRan Enciclopédia Catalana)
Name[ro]=Marea enciclopedie catalană (GRan Enciclopèdia  Catalana)
Name[ru]=Большой словарь каталонского языка (GRan Enciclopèdia Catalana)
Name[se]=Katalangiela stuorra sátnegirji (GRan Enciclopèdia  Catalana)
Name[si]=Great Dictionary of the Catalan Language (GRan Enciclopèdia  Catalana)
Name[sk]=Veľký slovník katalánskeho jazyka (GRan Enciclopèdia  Catalana)
Name[sl]=Veliki slovar katalonščine (GRan Enciclopèdia Catalana)
Name[sr]=Велики речник каталонског језика (GRan Enciclopèdia Catalana)
Name[sr@ijekavian]=Велики рјечник каталонског језика (GRan Enciclopèdia Catalana)
Name[sr@ijekavianlatin]=Veliki rječnik katalonskog jezika (GRan Enciclopèdia Catalana)
Name[sr@latin]=Veliki rečnik katalonskog jezika (GRan Enciclopèdia Catalana)
Name[sv]=Stor ordbok för katalanska språket (Gran Enciclopèdia Catalana)
Name[ta]=கேடலன் மொழியின் அகராதி (GRan Enciclopèdia  Catalana)
Name[te]=కెటలాన్ భాషయొక్క గొప్ప పదకోశం (GRan Enciclopèdia  Catalana)
Name[tg]=Луғати калони забони каталонӣ (Энсиклопедияи каталонӣ GRan)
Name[th]=พจนานุกรมที่ยิ่งใหญ่ของภาษาคาตะลาน (GRan Enciclopèdia  Catalana)
Name[tr]=Katalanca Büyük Sözlük (GRan Enciclopèdia  Catalana)
Name[ug]=كاتالان تىلىنىڭ بۈيۈك مۇندەرىجىسى (GRan Enciclopèdia  Catalana)
Name[uk]=Великий словник каталонської мови (GRan Enciclopèdia Catalana)
Name[vi]=Tra Từ điển Lớn của tiếng Catalan (GRan Enciclopèdia Catalana)
Name[wa]=Grand motî do catalan lingaedje (GRan Enciclopèdia Catalana)
Name[x-test]=xxGreat Dictionary of the Catalan Language (GRan Enciclopèdia  Catalana)xx
Name[zh_CN]=Catalan 语言的大目录(GRan Enciclopèdia  Catalana)
Name[zh_TW]=很棒的加泰隆尼亞語文字典 (GRan Enciclopèdia  Catalana)
Query=http://ec.grec.net/cgi-bin/AppDLC3.exe?APP=CERCADLC&GECART=\\{@}
Query[ar]=http://www.grec.net/cgibin/lexicx.pgm?GECART=\\{@}
Query[ast]=http://ec.grec.net/cgi-bin/AppDLC3.exe?APP=CERCADLC&GECART=\\{@}
Query[bg]=http://ec.grec.net/cgi-bin/AppDLC3.exe?APP=CERCADLC&GECART=\\{@}
Query[bn]=http://ec.grec.net/cgi-bin/AppDLC3.exe?APP=CERCADLC&GECART=\\{@}
Query[bs]=http://ec.grec.net/cgi-bin/AppDLC3.exe?APP=CERCADLC&GECART=\\{@}
Query[ca]=http://ec.grec.net/cgi-bin/AppDLC3.exe?APP=CERCADLC&GECART=\\{@}
Query[ca@valencia]=http://ec.grec.net/cgi-bin/AppDLC3.exe?APP=CERCADLC&GECART=\\{@}
Query[cs]=http://ec.grec.net/cgi-bin/AppDLC3.exe?APP=CERCADLC&GECART=\\{@}
Query[csb]=http://ec.grec.net/cgi-bin/AppDLC3.exe?APP=CERCADLC&GECART=\\{@}
Query[da]=http://ec.grec.net/cgi-bin/AppDLC3.exe?APP=CERCADLC&GECART=\\{@}
Query[de]=http://ec.grec.net/cgi-bin/AppDLC3.exe?APP=CERCADLC&GECART=\\{@}
Query[el]=http://ec.grec.net/cgi-bin/AppDLC3.exe?APP=CERCADLC&GECART=\\{@}
Query[en_GB]=http://ec.grec.net/cgi-bin/AppDLC3.exe?APP=CERCADLC&GECART=\\{@}
Query[eo]=http://ec.grec.net/cgi-bin/AppDLC3.exe?APP=CERCADLC&GECART=\\{@}
Query[es]=http://ec.grec.net/cgi-bin/AppDLC3.exe?APP=CERCADLC&GECART=\\{@}
Query[et]=http://ec.grec.net/cgi-bin/AppDLC3.exe?APP=CERCADLC&GECART=\\{@}
Query[eu]=http://ec.grec.net/cgi-bin/AppDLC3.exe?APP=CERCADLC&GECART=\\{@}
Query[fa]=http://ec.grec.net/cgi-bin/AppDLC3.exe?APP=CERCADLC&GECART=\\{@}
Query[fi]=http://ec.grec.net/cgi-bin/AppDLC3.exe?APP=CERCADLC&GECART=\\{@}
Query[fr]=http://ec.grec.net/cgi-bin/AppDLC3.exe?APP=CERCADLC&GECART=\\{@}
Query[fy]=http://ec.grec.net/cgi-bin/AppDLC3.exe?APP=CERCADLC&GECART=\\{@}
Query[ga]=http://ec.grec.net/cgi-bin/AppDLC3.exe?APP=CERCADLC&GECART=\\{@}
Query[gl]=http://ec.grec.net/cgi-bin/AppDLC3.exe?APP=CERCADLC&GECART=\\{@}
Query[gu]=http://ec.grec.net/cgi-bin/AppDLC3.exe?APP=CERCADLC&GECART=\\{@}
Query[he]=http://ec.grec.net/cgi-bin/AppDLC3.exe?APP=CERCADLC&GECART=\\{@}
Query[hi]=http://ec.grec.net/cgi-bin/AppDLC3.exe?APP=CERCADLC&GECART=\\{@}
Query[hr]=http://ec.grec.net/cgi-bin/AppDLC3.exe?APP=CERCADLC&GECART=\\{@}
Query[hu]=http://ec.grec.net/cgi-bin/AppDLC3.exe?APP=CERCADLC&GECART=\\{@}
Query[ia]=http://ec.grec.net/cgi-bin/AppDLC3.exe?APP=CERCADLC&GECART=\\{@}
Query[id]=http://ec.grec.net/cgi-bin/AppDLC3.exe?APP=CERCADLC&GECART=\\{@}
Query[is]=http://ec.grec.net/cgi-bin/AppDLC3.exe?APP=CERCADLC&GECART=\\{@}
Query[it]=http://ec.grec.net/cgi-bin/AppDLC3.exe?APP=CERCADLC&GECART=\\{@}
Query[ja]=http://ec.grec.net/cgi-bin/AppDLC3.exe?APP=CERCADLC&GECART=\\{@}
Query[kk]=http://ec.grec.net/cgi-bin/AppDLC3.exe?APP=CERCADLC&GECART=\\{@}
Query[km]=http://ec.grec.net/cgi-bin/AppDLC3.exe?APP=CERCADLC&GECART=\\{@}
Query[kn]=http://ec.grec.net/cgi-bin/AppDLC3.exe?APP=CERCADLC&GECART=\\{@}
Query[ko]=http://ec.grec.net/cgi-bin/AppDLC3.exe?APP=CERCADLC&GECART=\\{@}
Query[lt]=http://ec.grec.net/cgi-bin/AppDLC3.exe?APP=CERCADLC&GECART=\\{@}
Query[lv]=http://ec.grec.net/cgi-bin/AppDLC3.exe?APP=CERCADLC&GECART=\\{@}
Query[mai]=http://ec.grec.net/cgi-bin/AppDLC3.exe?APP=CERCADLC&GECART=\\{@}
Query[ml]=http://ec.grec.net/cgi-bin/AppDLC3.exe?APP=CERCADLC&GECART=\\{@}
Query[mr]=http://ec.grec.net/cgi-bin/AppDLC3.exe?APP=CERCADLC&GECART=\\{@}
Query[nb]=http://ec.grec.net/cgi-bin/AppDLC3.exe?APP=CERCADLC&GECART=\\{@}
Query[nds]=http://ec.grec.net/cgi-bin/AppDLC3.exe?APP=CERCADLC&GECART=\\{@}
Query[nl]=http://ec.grec.net/cgi-bin/AppDLC3.exe?APP=CERCADLC&GECART=\\{@}
Query[nn]=http://ec.grec.net/cgi-bin/AppDLC3.exe?APP=CERCADLC&GECART=\\{@}
Query[pa]=http://ec.grec.net/cgi-bin/AppDLC3.exe?APP=CERCADLC&GECART=\\{@}
Query[pl]=http://ec.grec.net/cgi-bin/AppDLC3.exe?APP=CERCADLC&GECART=\\{@}
Query[pt]=http://ec.grec.net/cgi-bin/AppDLC3.exe?APP=CERCADLC&GECART=\\{@}
Query[pt_BR]=http://ec.grec.net/cgi-bin/AppDLC3.exe?APP=CERCADLC&GECART=\\{@}
Query[ro]=http://ec.grec.net/cgi-bin/AppDLC3.exe?APP=CERCADLC&GECART=\\{@}
Query[ru]=http://ec.grec.net/cgi-bin/AppDLC3.exe?APP=CERCADLC&GECART=\\{@}
Query[si]=http://ec.grec.net/cgi-bin/AppDLC3.exe?APP=CERCADLC&GECART=\\{@}
Query[sk]=http://ec.grec.net/cgi-bin/AppDLC3.exe?APP=CERCADLC&GECART=\\{@}
Query[sl]=http://ec.grec.net/cgi-bin/AppDLC3.exe?APP=CERCADLC&GECART=\\{@}
Query[sr]=http://ec.grec.net/cgi-bin/AppDLC3.exe?APP=CERCADLC&GECART=\\{@}
Query[sr@ijekavian]=http://ec.grec.net/cgi-bin/AppDLC3.exe?APP=CERCADLC&GECART=\\{@}
Query[sr@ijekavianlatin]=http://ec.grec.net/cgi-bin/AppDLC3.exe?APP=CERCADLC&GECART=\\{@}
Query[sr@latin]=http://ec.grec.net/cgi-bin/AppDLC3.exe?APP=CERCADLC&GECART=\\{@}
Query[sv]=http://ec.grec.net/cgi-bin/AppDLC3.exe?APP=CERCADLC&GECART=\\{@}
Query[tg]=http://ec.grec.net/cgi-bin/AppDLC3.exe?APP=CERCADLC&GECART=\\{@}
Query[th]=http://ec.grec.net/cgi-bin/AppDLC3.exe?APP=CERCADLC&GECART=\\{@}
Query[tr]=http://ec.grec.net/cgi-bin/AppDLC3.exe?APP=CERCADLC&GECART=\\{@}
Query[ug]=http://ec.grec.net/cgi-bin/AppDLC3.exe?APP=CERCADLC&GECART=\\{@}
Query[uk]=http://ec.grec.net/cgi-bin/AppDLC3.exe?APP=CERCADLC&GECART=\\{@}
Query[vi]=http://ec.grec.net/cgi-bin/AppDLC3.exe?APP=CERCADLC&GECART=\\{@}
Query[wa]=http://ec.grec.net/cgi-bin/AppDLC3.exe?APP=CERCADLC&GECART=\\{@}
Query[x-test]=xxhttp://ec.grec.net/cgi-bin/AppDLC3.exe?APP=CERCADLC&GECART=\\{@}xx
Query[zh_CN]=http://ec.grec.net/cgi-bin/AppDLC3.exe?APP=CERCADLC&GECART=\\{@}
Query[zh_TW]=http://ec.grec.net/cgi-bin/AppDLC3.exe?APP=CERCADLC&GECART=\\{@}
X-KDE-ServiceTypes=SearchProvider
Type=Service
