[Desktop Entry]
Charset=
Hidden=false
Keys=identicanotices,identin,idn
Name=Identi.ca Notices
Name[ar]=إشعارات Identi.ca
Name[ast]=Avisos Identi.ca
Name[bg]=Бележки в Identi.ca
Name[bn]=Identi.ca নোটিশ
Name[bs]=Identika-obaveštenja
Name[ca]=Avisos a Identi.ca
Name[ca@valencia]=Avisos a Identi.ca
Name[cs]=Poznámky Identi.ca
Name[da]=Identi.ca-notitser
Name[de]=Identi.ca Notices
Name[el]=Identi.ca Notices
Name[en_GB]=Identi.ca Notices
Name[eo]=Novaĵoj de Identi.ko
Name[es]=Avisos Identi.ca
Name[et]=Identi.ca teadaanded
Name[eu]=Identi.ca Berriak
Name[fa]=Identi.ca Notices
Name[fi]=Identi.ca-tekstihaku
Name[fr]=Annonces « Identi.ca »
Name[ga]=Fógraí Identi.ca
Name[gl]=Noticias de Identi.ca
Name[gu]=આઈડેન્ટિ.કા નોંધો
Name[he]=Identi.ca Notices
Name[hi]=Identi.ca नोटिस
Name[hr]=Poruke na Identi.ci
Name[hu]=Identi.ca üzenetek
Name[ia]=Novas de Identi.ca
Name[id]=Identi.ca Notices
Name[is]=Identi.ca tilkynningar
Name[it]=Notifiche di Identi.ca
Name[ja]=Identi.ca Notices
Name[kk]=Identi.ca жазбалары
Name[km]=ចំណាំ​របស់ Identi.ca
Name[kn]=identi.ca ಸೂಚನೆ
Name[ko]=Identi.ca 공지
Name[lt]=Identi.ca pranešimai
Name[lv]=Identi.ca piezīmes
Name[mai]=Identi.ca सूचना
Name[ml]=ഐഡന്റിക്ക നോട്ടീസുകള്‍
Name[mr]=Identi.ca सूचना
Name[nb]=Identi.ca notiser
Name[nds]=Identi.ca - Henwiesen
Name[nl]=Identi.ca Notities
Name[nn]=Identi.ca-varsel
Name[pa]=Identi.ca ਨੋਟਿਸ
Name[pl]=Powiadomienia Identi.ca
Name[pt]=Avisos do Identi.ca
Name[pt_BR]=Notícias do Identi.ca
Name[ro]=Notificări Identi.ca
Name[ru]=Identi.ca: записи
Name[si]=Identi.ca දැනුම්දීම්
Name[sk]=Identi.ca poznámky
Name[sl]=Identi.ca - obvestila
Name[sr]=Идентика-обавештења
Name[sr@ijekavian]=Идентика-обавештења
Name[sr@ijekavianlatin]=identi.ca‑obaveštenja
Name[sr@latin]=identi.ca‑obaveštenja
Name[sv]=Identi.ca anslag
Name[tg]=Хабарҳои Identi.ca
Name[th]=การแจ้ง Identi.ca
Name[tr]=Identi.ca Bildirimleri
Name[ug]=Identi.ca ئۇقتۇرۇشلار
Name[uk]=Нотатки Identi.ca
Name[vi]=Identi.ca Chú ý
Name[wa]=Identi.ca Notices
Name[x-test]=xxIdenti.ca Noticesxx
Name[zh_CN]=Identi.ca 通知
Name[zh_TW]=Identi.ca Notices
Query=https://identi.ca/search/notice?q=\\{@}
Query[bg]=https://identi.ca/search/notice?q=\\{@}
Query[bs]=https://identi.ca/search/notice?q=\\{@}
Query[ca]=https://identi.ca/search/notice?q=\\{@}
Query[ca@valencia]=https://identi.ca/search/notice?q=\\{@}
Query[cs]=https://identi.ca/search/notice?q=\\{@}
Query[da]=https://identi.ca/search/notice?q=\\{@}
Query[de]=https://identi.ca/search/notice?q=\\{@}
Query[el]=https://identi.ca/search/notice?q=\\{@}
Query[es]=https://identi.ca/search/notice?q=\\{@}
Query[eu]=https://identi.ca/search/notice?q=\\{@}
Query[fi]=https://identi.ca/search/notice?q=\\{@}
Query[fr]=https://identi.ca/search/notice?q=\\{@}
Query[gl]=https://identi.ca/search/notice?q=\\{@}
Query[hi]=https://identi.ca/search/notice?q=\\{@}
Query[hu]=https://identi.ca/search/notice?q=\\{@}
Query[ia]=https://identi.ca/search/notice?q=\\{@}
Query[is]=https://identi.ca/search/notice?q=\\{@}
Query[it]=https://identi.ca/search/notice?q=\\{@}
Query[ja]=https://identi.ca/search/notice?q=\\{@}
Query[kk]=https://identi.ca/search/notice?q=\\{@}
Query[ko]=https://identi.ca/search/notice?q=\\{@}
Query[lt]=https://identi.ca/search/notice?q=\\{@}
Query[nb]=https://identi.ca/search/notice?q=\\{@}
Query[nl]=https://identi.ca/search/notice?q=\\{@}
Query[nn]=https://identi.ca/search/notice?q=\\{@}
Query[pa]=https://identi.ca/search/notice?q=\\{@}
Query[pl]=https://identi.ca/search/notice?q=\\{@}
Query[pt]=https://identi.ca/search/notice?q=\\{@}
Query[pt_BR]=https://identi.ca/search/notice?q=\\{@}
Query[ro]=https://identi.ca/search/notice?q=\\{@}
Query[ru]=https://identi.ca/search/notice?q=\\{@}
Query[sk]=https://identi.ca/search/notice?q=\\{@}
Query[sl]=https://identi.ca/search/notice?q=\\{@}
Query[sr]=https://identi.ca/search/notice?q=\\{@}
Query[sr@ijekavian]=https://identi.ca/search/notice?q=\\{@}
Query[sr@ijekavianlatin]=https://identi.ca/search/notice?q=\\{@}
Query[sr@latin]=https://identi.ca/search/notice?q=\\{@}
Query[sv]=https://identi.ca/search/notice?q=\\{@}
Query[tr]=https://identi.ca/search/notice?q=\\{@}
Query[ug]=https://identi.ca/search/notice?q=\\{@}
Query[uk]=https://identi.ca/search/notice?q=\\{@}
Query[wa]=https://identi.ca/search/notice?q=\\{@}
Query[x-test]=xxhttps://identi.ca/search/notice?q=\\{@}xx
Query[zh_CN]= http://identi.ca/search/notice?q=\\{@}
Query[zh_TW]=https://identi.ca/search/notice?q=\\{@}
ServiceTypes=SearchProvider
Type=Service
