[Desktop Entry]
Type=Service
Name=Internet Movie Database
Name[af]=Internet Film Databasis
Name[ar]=قاعدة بيانات الإنترنت للأفلام
Name[as]=ইন্টাৰ্নে'ট বোলছবিৰ তথ্যভঁৰাল
Name[ast]=Base de datos d'internet de películes
Name[be]=База звестак пра фільмы
Name[be@latin]=Sieciŭnaja baza filmaŭ
Name[bg]=Internet Movie Database
Name[bn]=ইন্টারনেট চলচ্চিত্র ডেটাবেস
Name[bn_IN]=ইন্টারনেট ছায়াছবির ডাটাবেস
Name[br]=Stlennvon filmoù Internet
Name[bs]=Internet baza filmova
Name[ca]=Base de dades de pel·lícules a Internet
Name[ca@valencia]=Base de dades de pel·lícules a Internet
Name[cs]=Internetová databáze filmů
Name[csb]=Internetowô baza filmów (IMDB)
Name[cy]=Cronfa Ffilmiau y Rhyngrwyd
Name[da]=Internetfilm-database
Name[de]=Internet-Filmdatenbank
Name[el]=Βάση δεδομένων ταινιών στο διαδίκτυο
Name[en_GB]=Internet Movie Database
Name[eo]=Reta datumbazo de filmoj
Name[es]=Base de datos de internet de películas
Name[et]=Interneti filmide andmebaas
Name[eu]=Interneteko filmeen datu-basea
Name[fa]=دادگان فیلم اینترنت
Name[fi]=Internet Movie Database
Name[fr]=Base de données de films sur Internet
Name[fy]=Ynternetfilm-databank
Name[ga]=Internet Movie Database
Name[gl]=Base de datos de filmes de Internet
Name[gu]=ઇન્ટરનેટ ચિત્રપટ ડેટાબેઝ
Name[he]=מאגר הסרטים האינטרנטי
Name[hi]=इंटरनेट चलचित्र डाटाबेस
Name[hne]=इंटरनेट सनीमा डाटाबेस
Name[hr]=Internetska baza podataka filmova
Name[hsb]=Internetowa datowa baza filmow
Name[hu]=IMDb filmadatbázis
Name[ia]=Internet Movie Database
Name[id]=Basis Data Film Internet
Name[is]=IMDB internet kvikmyndagagnagrunnurinn
Name[it]=Banca dati cinematografica in rete
Name[ja]=インターネット映画データベース
Name[ka]=Internet Movie Database
Name[kk]=Internet фильмдер қоры
Name[km]=មូលដ្ឋាន​ទិន្នន័យ​ភាពយន្ត​តាម​អ៊ីនធឺណិត
Name[kn]=ಜಾಲ ಚಲಚ್ಚಿತ್ರ ದತ್ತಸಂಚಯ
Name[ko]=인터넷 영화 데이터베이스
Name[ku]=Danegeha Fîlman a Înternetê
Name[lt]=Interneto kino filmų duomenų bazė
Name[lv]=Interneta filmu datubāze
Name[mai]=इंटरनेट चलचित्र डाटाबेस
Name[mk]=Интернет база на филмови
Name[ml]=ഇന്റര്‍നെറ്റിലുള്ള ചലചിത്ര ശേഖരം
Name[mr]=इंटरनेट चलप्रतिमा डेटाबेस
Name[ms]=Pangkalan Data Wayang Internet
Name[nb]=Internett filmdatabase
Name[nds]=Internet-Filmdatenbank
Name[ne]=इन्टरनेट चलचित्र डाटाबेस
Name[nl]=Internet filmdatabase
Name[nn]=Internet Movie Database
Name[or]=ଇଣ୍ଟରନେଟ ଚଳଚିତ୍ର ତଥ୍ୟାବଳୀ
Name[pa]=ਇੰਟਰਨੈੱਟ ਫਿਲਮ ਡਾਟਾਬੇਸ
Name[pl]=Internetowa baza filmów (IMDB)
Name[pt]=Internet Movie Database
Name[pt_BR]=Banco de dados de filmes na Internet
Name[ro]=Bază de date Internet de filme
Name[ru]=Интернет-база кинофильмов (IMDb)
Name[se]=Internet Movie Database
Name[si]=අන්තර්ජාල සිනමා දත්තගබඩාව
Name[sk]=Internetová databáza filmov IMDb
Name[sl]=Internetna zbirka filmov (IMDB)
Name[sr]=Интернет база филмова
Name[sr@ijekavian]=Интернет база филмова
Name[sr@ijekavianlatin]=Internet baza filmova
Name[sr@latin]=Internet baza filmova
Name[sv]=Internet filmdatabas
Name[ta]=இணைய திரைப்பட தரவுத்தளம்
Name[te]=ఇంటర్‌నెట్ చలనచిత్ర డాటాబేస్
Name[tg]=Маълумоти филмҳои онлайн
Name[th]=ฐานข้อมูลภาพยนตร์ทางอินเทอร์เน็ต
Name[tr]=İnternet Film Veritabanı
Name[ug]=ئىنتېرنېت كىنو ساندىنى
Name[uk]=База даних кінофільмів в Інтернет
Name[uz]=Internetdagi kino maʼlumot bazasi
Name[uz@cyrillic]=Интернетдаги кино маълумот базаси
Name[vi]=Cơ sở dữ liệu phim ảnh trên mạng
Name[wa]=Båze di dnêyes des films sol daegntoele
Name[x-test]=xxInternet Movie Databasexx
Name[zh_CN]=互联网电影数据库
Name[zh_TW]=Internet 電影資料庫
X-KDE-ServiceTypes=SearchProvider
Keys=imdb
Query=http://imdb.com/find?s=all&q=\\{@}
Query[ar]=http://imdb.com/Find?\\{@}
Query[ast]=http://imdb.com/find?s=all&q=\\{@}
Query[bg]=http://imdb.com/find?s=all&q=\\{@}
Query[bn]=http://imdb.com/find?s=all&q=\\{@}
Query[bs]=http://imdb.com/find?s=all&q=\\{@}
Query[ca]=http://imdb.com/find?s=all&q=\\{@}
Query[ca@valencia]=http://imdb.com/find?s=all&q=\\{@}
Query[cs]=http://imdb.com/find?s=all&q=\\{@}
Query[da]=http://imdb.com/find?s=all&q=\\{@}
Query[de]=http://imdb.com/find?s=all&q=\\{@}
Query[el]=http://imdb.com/find?s=all&q=\\{@}
Query[en_GB]=http://imdb.com/find?s=all&q=\\{@}
Query[eo]=http://imdb.com/find?s=all&q=\\{@}
Query[es]=http://imdb.com/find?s=all&q=\\{@}
Query[et]=http://imdb.com/find?s=all&q=\\{@}
Query[eu]=http://imdb.com/find?s=all&q=\\{@}
Query[fa]=http://imdb.com/find?s=all&q=\\{@}
Query[fi]=http://imdb.com/find?s=all&q=\\{@}
Query[fr]=http://imdb.com/find?s=all&q=\\{@}
Query[ga]=http://imdb.com/find?s=all&q=\\{@}
Query[gl]=http://imdb.com/find?s=all&q=\\{@}
Query[gu]=http://imdb.com/find?s=all&q=\\{@}
Query[he]=http://imdb.com/find?s=all&q=\\{@}
Query[hi]=http://imdb.com/find?s=all&q=\\{@}
Query[hr]=http://imdb.com/find?s=all&q=\\{@}
Query[hu]=http://imdb.com/find?s=all&q=\\{@}
Query[ia]=http://imdb.com/find?s=all&q=\\{@}
Query[id]=http://imdb.com/find?s=all&q=\\{@}
Query[is]=http://imdb.com/find?s=all&q=\\{@}
Query[it]=http://italian.imdb.com/find?s=all&q=\\{@}
Query[ja]=http://imdb.com/find?s=all&q=\\{@}
Query[kk]=http://imdb.com/find?s=all&q=\\{@}
Query[km]=http://imdb.com/find?s=all&q=\\{@}
Query[kn]=http://imdb.com/find?s=all&q=\\{@}
Query[ko]=http://imdb.com/find?s=all&q=\\{@}
Query[lt]=http://imdb.com/find?s=all&q=\\{@}
Query[lv]=http://imdb.com/find?s=all&q=\\{@}
Query[mai]=http://imdb.com/find?s=all&q=\\{@}
Query[mr]=http://imdb.com/find?s=all&q=\\{@}
Query[nb]=http://imdb.com/find?s=all&q=\\{@}
Query[nds]=http://imdb.com/find?s=all&q=\\{@}
Query[nl]=http://imdb.com/find?s=all&q=\\{@}
Query[nn]=http://imdb.com/find?s=all&q=\\{@}
Query[pa]=http://imdb.com/find?s=all&q=\\{@}
Query[pl]=http://imdb.com/find?s=all&q=\\{@}
Query[pt]=http://imdb.com/find?s=all&q=\\{@}
Query[pt_BR]=http://imdb.com/find?s=all&q=\\{@}
Query[ro]=http://imdb.com/find?s=all&q=\\{@}
Query[ru]=http://imdb.com/find?s=all&q=\\{@}
Query[si]=http://imdb.com/find?s=all&q=\\{@}
Query[sk]=http://imdb.com/find?s=all&q=\\{@}
Query[sl]=http://imdb.com/find?s=all&q=\\{@}
Query[sr]=http://imdb.com/find?s=all&q=\\{@}
Query[sr@ijekavian]=http://imdb.com/find?s=all&q=\\{@}
Query[sr@ijekavianlatin]=http://imdb.com/find?s=all&q=\\{@}
Query[sr@latin]=http://imdb.com/find?s=all&q=\\{@}
Query[sv]=http://imdb.com/find?s=all&q=\\{@}
Query[tg]=http://imdb.com/find?s=all&q=\\{@}
Query[th]=http://imdb.com/find?s=all&q=\\{@}
Query[tr]=http://imdb.com/find?s=all&q=\\{@}
Query[ug]=http://imdb.com/find?s=all&q=\\{@}
Query[uk]=http://imdb.com/find?s=all&q=\\{@}
Query[vi]=http://imdb.com/find?s=all&q=\\{@}
Query[wa]=http://imdb.com/find?s=all&q=\\{@}
Query[x-test]=xxhttp://imdb.com/find?s=all&q=\\{@}xx
Query[zh_CN]=http://imdb.com/find?s=all&q=\\{@}
Query[zh_TW]=http://imdb.com/find?s=all&q=\\{@}
