[Desktop Entry]
Charset=
Hidden=false
Keys=it2en
Name=WordReference.com Translation: Italian to English
Name[af]=WordReference.com Vertaling: Italiaans na Engels
Name[ar]=ترجمة WordReference.com: إيطالي إلى إنجليزي
Name[as]=WordReference.com অনুবাদ: ইটালিয়ানৰ পৰা ইংৰাজী
Name[ast]=WordReference.com Torna: italianu a inglés
Name[be]=WordReference.com Пераклад: з італьянскай на англійскую
Name[be@latin]=Pierakład „WordReference.com”: italjanskaja ➙ anhielskaja
Name[bg]=Превод с WordReference.com — от италиански към английски
Name[bn]=WordReference.com অনুবাদ: ইতালীয় থেকে ইংরাজি 
Name[bn_IN]=WordReference.com অনুবাদ: ইটালিয়ান থেকে ইংরাজি
Name[bs]=Vordreferens: sa italijanskog na engleski
Name[ca]=Traducció WordReference.com: Italià - Anglès
Name[ca@valencia]=Traducció WordReference.com: Italià - Anglés
Name[cs]=Překlad WordReference.com: z italštiny do angličtiny
Name[csb]=WordReference.com: italsczi -> anielsczi
Name[cy]=Cyfieithiad WordReference.com: Eidaleg i Saesneg
Name[da]=WordReference.com oversættelse: Italiensk til engelsk
Name[de]=WordReference.com – Übersetzung: Italienisch/Englisch
Name[el]=WordReference.com Μετάφραση: Ιταλικά σε Αγγλικά
Name[en_GB]=WordReference.com Translation: Italian to English
Name[eo]=Tradukado WordReference.com: itale anglen
Name[es]=WordReference.com Traducción: italiano a inglés
Name[et]=WordReference.com tõlkimine: itaalia->inglise
Name[eu]=WordReference.com Itzulpena: italieratik ingelesera
Name[fa]=ترجمه WordReference.com: ایتالیایی به انگلیسی
Name[fi]=WordReference.com-käännös italiasta englanniksi
Name[fr]=Traduction sur WordReference.com : italien vers anglais
Name[fy]=WordReference.com-oersetting: Italiaansk nei Ingelsk
Name[ga]=Aistriúchán WordReference.com: Iodáilis go Béarla
Name[gl]=Tradución WordReference.com: italiano a inglés
Name[gu]=WordReference.com ભાષાંતર: ઇટાલિઅન થી અંગ્રેજી
Name[he]=תרגום WordReference.com: איטלקית לאנגלית
Name[hi]=WordReference.com अनुवादः इतालवी से अंग्रेजी
Name[hne]=वर्डरेफरेंस.काम अनुवादः इतालवी से अंगरेजी
Name[hr]=WordReference.com Prijevod: talijanski na engleski
Name[hsb]=WordReference.com přełožowanje: italsce -> jendźelsce
Name[hu]=WordReference.com fordítás: olaszról angolra
Name[ia]=WordReference.com Traduction: Italiano a Anglese
Name[id]=Terjemahan WordReference.com: Bahasa Italia ke Inggris
Name[is]=WordReference.com þýðing: Ítölsk/ensk
Name[it]=Traduzione WordReference.com: dall'italiano all'inglese
Name[ja]=WordReference.com イタリア語-英語翻訳
Name[kk]=WordReference.com итальян тілінен ағылшынға аудару
Name[km]=ការ​បកប្រែ WordReference.com ៖ ភាសា​អ៊ីតាលី​ទៅជា​​អង់គ្លេស
Name[kn]=WordReference.com ಅನುವಾದ: ಇಟಾಲಿಯನ್ ನಿಂದ ಇಂಗ್ಲೀಷಿಗೆ
Name[ko]=WordReference.com 번역: 이탈리아어에서 영어로
Name[ku]=WordReference.com Wergerandin: Îtalî ji Îngilîzî re
Name[lt]=WordReference.com vertimas: iš italų į anglų
Name[lv]=WordReference.com tulkošana: no Itāļu uz Angļu
Name[mai]=WordReference.com अनुवादः इतालवी सँ अंग्रेजी
Name[mk]=WordReference.com превод: од италијански на англиски
Name[ml]=WordReference.com പരിഭാഷ: ഇറ്റാലിയനില്‍ നിന്നും ഇംഗ്ലീഷിലേയ്ക്കു്
Name[mr]=WordReference.com अनुवादः इटालीयन ते अंग्रेजी
Name[nb]=WordReference.com – oversettelse fra italiensk til engelsk
Name[nds]=WordReference.com Översetten: Italieensch na Engelsch
Name[ne]=WordReference.com Translation: इटालियनलाई अङ्ग्रेजीमा
Name[nl]=WordReference.com-vertaling: Italiaans naar Engels
Name[nn]=WordReference.com – omsetjing: italiensk til engelsk
Name[or]=WordReference.com ଅନୁବାଦ: Italian to English
Name[pa]=WordReference.com ਟਰਾਂਸਲੇਟ:ਇਤਾਲਵੀ ਤੋਂ ਅੰਗਰੇਜ਼ੀ
Name[pl]=WordReference.com: włoski -> angielski
Name[pt]=Traduções do WordReference.com: Italiano para Inglês
Name[pt_BR]=WordReference.com - Tradução: italiano para inglês
Name[ro]=Traducere WordReference.com: italiană la engleză
Name[ru]=Переводчик WordReference.com: итальянско-английский
Name[se]=WordReference.com – jorgaleapmi: italialašgielas eŋgelasgillii
Name[si]=WordReference.com පරිවර්ථනය: ඉතාලි සිට ඉංග්‍රීසි බසට
Name[sk]=WordReference.com preklad z taliančiny do angličtiny
Name[sl]=Prevod WordReference.com: italijanščina v angleščino
Name[sr]=Вордреференс: са италијанског на енглески
Name[sr@ijekavian]=Вордреференс: са италијанског на енглески
Name[sr@ijekavianlatin]=WordReference: sa italijanskog na engleski
Name[sr@latin]=WordReference: sa italijanskog na engleski
Name[sv]=Wordreference.com översättning: italienska till engelska
Name[ta]=WordReference.com மொழிபெயர்ப்பு: இத்தாலிய மொழியில் இருந்து ஆங்கிலத்துக்கு
Name[te]=WordReference.com అనువాదము: ఇటాలియన్ నుండి ఇంగ్లీష్
Name[tg]=Тарҷумаҳои WordReference.com: Итолиёӣ ба англисӣ
Name[th]=บริการแปลภาษาจาก WordReference.com: แปลภาษาอิตาเลียนเป็นอังกฤษ
Name[tr]=WordReference.com Çevirisi: İtalyancadan İngilizceye
Name[ug]=WordReference.com تەرجىمە:  ئىتاليانچىدىن ئىنگلىزچىغا
Name[uk]=WordReference.com — переклад з італійської англійською
Name[uz]=WordReference.com tarjima: Italyanchadan Inglizchaga
Name[uz@cyrillic]=WordReference.com таржима: Италянчадан Инглизчага
Name[vi]=WordReference.com Dịch: Tiếng Ý sang tiếng Anh
Name[wa]=WordReference.com ratournaedje di l' itålyin viè l' inglès
Name[x-test]=xxWordReference.com Translation: Italian to Englishxx
Name[zh_CN]=WordReference.com 翻译：意大利语译英语
Name[zh_TW]=WordReference.com 翻譯: 義大利文至英文
Query=http://www.wordreference.com/it/en/translation.asp?iten=\\{@}
Query[af]=http://www.wordreference.com/it/en/translation.asp?iten=\\{@}
Query[ar]=http://www.wordreference.com/it/en/translation.asp?iten=\\{@}
Query[as]=http://www.wordreference.com/it/en/translation.asp?iten=\\{@}
Query[ast]=http://www.wordreference.com/it/en/translation.asp?iten=\\{@}
Query[be]=http://www.wordreference.com/it/en/translation.asp?iten=\\{@}
Query[be@latin]=http://www.wordreference.com/it/en/translation.asp?iten=\\{@}
Query[bg]=http://www.wordreference.com/it/en/translation.asp?iten=\\{@}
Query[bn]=http://www.wordreference.com/it/en/translation.asp?iten=\\{@}
Query[bn_IN]=http://www.wordreference.com/it/en/translation.asp?iten=\\{@}
Query[br]=http://www.wordreference.com/it/en/translation.asp?iten=\\{@}
Query[bs]=http://www.wordreference.com/it/en/translation.asp?iten=\\{@}
Query[ca]=http://www.wordreference.com/it/en/translation.asp?iten=\\{@}
Query[ca@valencia]=http://www.wordreference.com/it/en/translation.asp?iten=\\{@}
Query[cs]=http://www.wordreference.com/it/en/translation.asp?iten=\\{@}
Query[csb]=http://www.wordreference.com/it/en/translation.asp?iten=\\{@}
Query[da]=http://www.wordreference.com/it/en/translation.asp?iten=\\{@}
Query[de]=http://www.wordreference.com/it/en/translation.asp?iten=\\{@}
Query[el]=http://www.wordreference.com/it/en/translation.asp?iten=\\{@}
Query[en_GB]=http://www.wordreference.com/it/en/translation.asp?iten=\\{@}
Query[eo]=http://www.wordreference.com/it/en/translation.asp?iten=\\{@}
Query[es]=http://www.wordreference.com/it/en/translation.asp?iten=\\{@}
Query[et]=http://www.wordreference.com/it/en/translation.asp?iten=\\{@}
Query[eu]=http://www.wordreference.com/it/en/translation.asp?iten=\\{@}
Query[fa]=http://www.wordreference.com/it/en/translation.asp?iten=\\{@}
Query[fi]=http://www.wordreference.com/it/en/translation.asp?iten=\\{@}
Query[fr]=http://www.wordreference.com/it/en/translation.asp?iten=\\{@}
Query[fy]=http://www.wordreference.com/it/en/translation.asp?iten=\\{@}
Query[ga]=http://www.wordreference.com/it/en/translation.asp?iten=\\{@}
Query[gl]=http://www.wordreference.com/it/en/translation.asp?iten=\\{@}
Query[gu]=http://www.wordreference.com/it/en/translation.asp?iten=\\{@}
Query[he]=http://www.wordreference.com/it/en/translation.asp?iten=\\{@}
Query[hi]=http://www.wordreference.com/it/en/translation.asp?iten=\\{@}
Query[hne]=http://www.wordreference.com/it/en/translation.asp?iten=\\{@}
Query[hr]=http://www.wordreference.com/it/en/translation.asp?iten=\\{@}
Query[hsb]=http://www.wordreference.com/it/en/translation.asp?iten=\\{@}
Query[hu]=http://www.wordreference.com/it/en/translation.asp?iten=\\{@}
Query[ia]=http://www.wordreference.com/it/en/translation.asp?iten=\\{@}
Query[id]=http://www.wordreference.com/it/en/translation.asp?iten=\\{@}
Query[is]=http://www.wordreference.com/it/en/translation.asp?iten=\\{@}
Query[it]=http://www.wordreference.com/it/en/translation.asp?iten=\\{@}
Query[ja]=http://www.wordreference.com/it/en/translation.asp?iten=\\{@}
Query[ka]=http://www.wordreference.com/it/en/translation.asp?iten=\\{@}
Query[kk]=http://www.wordreference.com/it/en/translation.asp?iten=\\{@}
Query[km]=http://www.wordreference.com/it/en/translation.asp?iten=\\{@}
Query[kn]=http://www.wordreference.com/it/en/translation.asp?iten=\\{@}
Query[ko]=http://www.wordreference.com/it/en/translation.asp?iten=\\{@}
Query[ku]=http://www.wordreference.com/it/en/translation.asp?iten=\\{@}
Query[lt]=http://www.wordreference.com/it/en/translation.asp?iten=\\{@}
Query[lv]=http://www.wordreference.com/it/en/translation.asp?iten=\\{@}
Query[mai]=http://www.wordreference.com/it/en/translation.asp?iten=\\{@}
Query[ml]=http://www.wordreference.com/it/en/translation.asp?iten=\\{@}
Query[mr]=http://www.wordreference.com/it/en/translation.asp?iten=\\{@}
Query[ms]=http://www.wordreference.com/it/en/translation.asp?iten=\\{@}
Query[nb]=http://www.wordreference.com/it/en/translation.asp?iten=\\{@}
Query[nds]=http://www.wordreference.com/it/en/translation.asp?iten=\\{@}
Query[ne]=http://www.wordreference.com/it/en/translation.asp?iten=\\{@}
Query[nl]=http://www.wordreference.com/it/en/translation.asp?iten=\\{@}
Query[nn]=http://www.wordreference.com/it/en/translation.asp?iten=\\{@}
Query[oc]=http://www.wordreference.com/it/en/translation.asp?iten=\\{@}
Query[or]=http://www.wordreference.com/it/en/translation.asp?iten=\\{@}
Query[pa]=http://www.wordreference.com/it/en/translation.asp?iten=\\{@}
Query[pl]=http://www.wordreference.com/it/en/translation.asp?iten=\\{@}
Query[pt]=http://www.wordreference.com/it/en/translation.asp?iten=\\{@}
Query[pt_BR]=http://www.wordreference.com/it/en/translation.asp?iten=\\{@}
Query[ro]=http://www.wordreference.com/it/en/translation.asp?iten=\\{@}
Query[ru]=http://www.wordreference.com/it/en/translation.asp?iten=\\{@}
Query[se]=http://www.wordreference.com/it/en/translation.asp?iten=\\{@}
Query[si]=http://www.wordreference.com/it/en/translation.asp?iten=\\{@}
Query[sk]=http://www.wordreference.com/it/en/translation.asp?iten=\\{@}
Query[sl]=http://www.wordreference.com/it/en/translation.asp?iten=\\{@}
Query[sr]=http://www.wordreference.com/it/en/translation.asp?iten=\\{@}
Query[sr@ijekavian]=http://www.wordreference.com/it/en/translation.asp?iten=\\{@}
Query[sr@ijekavianlatin]=http://www.wordreference.com/it/en/translation.asp?iten=\\{@}
Query[sr@latin]=http://www.wordreference.com/it/en/translation.asp?iten=\\{@}
Query[sv]=http://www.wordreference.com/it/en/translation.asp?iten=\\{@}
Query[ta]=http://www.wordreference.com/it/en/translation.asp?iten=\\{@}
Query[te]=http://www.wordreference.com/it/en/translation.asp?iten=\\{@}
Query[tg]=http://www.wordreference.com/it/en/translation.asp?iten=\\{@}
Query[th]=http://www.wordreference.com/it/en/translation.asp?iten=\\{@}
Query[tr]=http://www.wordreference.com/it/en/translation.asp?iten=\\{@}
Query[ug]=http://www.wordreference.com/it/en/translation.asp?iten=\\{@}
Query[uk]=http://www.wordreference.com/it/en/translation.asp?iten=\\{@}
Query[uz]=http://www.wordreference.com/it/en/translation.asp?iten=\\{@}
Query[uz@cyrillic]=http://www.wordreference.com/it/en/translation.asp?iten=\\{@}
Query[vi]=http://www.wordreference.com/it/en/translation.asp?iten=\\{@}
Query[wa]=http://www.wordreference.com/it/en/translation.asp?iten=\\{@}
Query[x-test]=xxhttp://www.wordreference.com/it/en/translation.asp?iten=\\{@}xx
Query[zh_CN]=http://www.wordreference.com/it/en/translation.asp?iten=\\{@}
Query[zh_TW]=http://www.wordreference.com/it/en/translation.asp?iten=\\{@}
X-KDE-ServiceTypes=SearchProvider
Type=Service
