[Desktop Entry]
Charset=
Hidden=false
Keys=jamendo,jmd
Name=Jamendo
Name[ar]=Jamendo
Name[ast]=Jamendo
Name[bg]=Jamendo
Name[bn]=জামেন্ডো
Name[bs]=Džamendo
Name[ca]=Jamendo
Name[ca@valencia]=Jamendo
Name[cs]=Jamendo
Name[da]=Jamendo
Name[de]=Jamendo
Name[el]=Jamendo
Name[en_GB]=Jamendo
Name[eo]=Jamendo
Name[es]=Jamendo
Name[et]=Jamendo
Name[eu]=Jamendo
Name[fa]=Jamendo
Name[fi]=Jamendo
Name[fr]=Jamendo
Name[ga]=Jamendo
Name[gl]=Jamendo
Name[gu]=જમેન્ડો
Name[he]=Jamendo
Name[hi]=जामेंदो
Name[hr]=Jamendo
Name[hu]=Jamendo
Name[ia]=Jamendo
Name[id]=Jamendo
Name[is]=Jamendo
Name[it]=Jamendo
Name[ja]=Jamendo
Name[kk]=Jamendo
Name[km]=Jamendo
Name[kn]=ಜಮೆಂಡೊ(Jamendo)
Name[ko]=Jamendo
Name[lt]=Jamendo
Name[lv]=Jamendo
Name[mai]=जामिनडो
Name[ml]=ജാമെണ്ടോ
Name[mr]=जामेंदो
Name[nb]=Jamendo
Name[nds]=Jamendo
Name[nl]=Jamendo
Name[nn]=Jamendo
Name[pa]=ਜਾਮੀਂਡੋ
Name[pl]=Jamendo
Name[pt]=Jamendo
Name[pt_BR]=Jamendo
Name[ro]=Jamendo
Name[ru]=Jamendo
Name[se]=Gávppašeaddji
Name[si]=Jamendo
Name[sk]=Jamendo
Name[sl]=Jamendo
Name[sr]=Џамендо
Name[sr@ijekavian]=Џамендо
Name[sr@ijekavianlatin]=Jamendo
Name[sr@latin]=Jamendo
Name[sv]=Jamendo
Name[tg]=Jamendo
Name[th]=Jamendo
Name[tr]=Jamendo
Name[ug]=Jamendo
Name[uk]=Jamendo
Name[vi]=Jamendo
Name[wa]=Jamendo
Name[x-test]=xxJamendoxx
Name[zh_CN]=Jamendo
Name[zh_TW]=Jamendo
Query=http://www.jamendo.com/en/search?qs=q=\\{@}
Query[bg]=http://www.jamendo.com/en/search?qs=q=\\{@}
Query[bs]=http://www.jamendo.com/en/search?qs=q=\\{@}
Query[ca]=http://www.jamendo.com/en/search?qs=q=\\{@}
Query[ca@valencia]=http://www.jamendo.com/en/search?qs=q=\\{@}
Query[cs]=http://www.jamendo.com/en/search?qs=q=\\{@}
Query[da]=http://www.jamendo.com/en/search?qs=q=\\{@}
Query[de]=http://www.jamendo.com/en/search?qs=q=\\{@}
Query[el]=http://www.jamendo.com/en/search?qs=q=\\{@}
Query[es]=http://www.jamendo.com/en/search?qs=q=\\{@}
Query[eu]=http://www.jamendo.com/en/search?qs=q=\\{@}
Query[fi]=http://www.jamendo.com/en/search?qs=q=\\{@}
Query[fr]=http://www.jamendo.com/en/search?qs=q=\\{@}
Query[gl]=http://www.jamendo.com/en/search?qs=q=\\{@}
Query[hi]=http://www.jamendo.com/en/search?qs=q=\\{@}
Query[hu]=http://www.jamendo.com/en/search?qs=q=\\{@}
Query[ia]=http://www.jamendo.com/en/search?qs=q=\\{@}
Query[is]=http://www.jamendo.com/en/search?qs=q=\\{@}
Query[it]=http://www.jamendo.com/en/search?qs=q=\\{@}
Query[ja]=http://www.jamendo.com/en/search?qs=q=\\{@}
Query[kk]=http://www.jamendo.com/en/search?qs=q=\\{@}
Query[ko]=http://www.jamendo.com/en/search?qs=q=\\{@}
Query[lt]=http://www.jamendo.com/en/search?qs=q=\\{@}
Query[nb]=http://www.jamendo.com/en/search?qs=q=\\{@}
Query[nl]=http://www.jamendo.com/en/search?qs=q=\\{@}
Query[nn]=http://www.jamendo.com/en/search?qs=q=\\{@}
Query[pa]=http://www.jamendo.com/en/search?qs=q=\\{@}
Query[pl]=http://www.jamendo.com/en/search?qs=q=\\{@}
Query[pt]=http://www.jamendo.com/en/search?qs=q=\\{@}
Query[pt_BR]=http://www.jamendo.com/en/search?qs=q=\\{@}
Query[ro]=http://www.jamendo.com/en/search?qs=q=\\{@}
Query[ru]=http://www.jamendo.com/en/search?qs=q=\\{@}
Query[sk]=http://www.jamendo.com/en/search?qs=q=\\{@}
Query[sl]=http://www.jamendo.com/en/search?qs=q=\\{@}
Query[sr]=http://www.jamendo.com/en/search?qs=q=\\{@}
Query[sr@ijekavian]=http://www.jamendo.com/en/search?qs=q=\\{@}
Query[sr@ijekavianlatin]=http://www.jamendo.com/en/search?qs=q=\\{@}
Query[sr@latin]=http://www.jamendo.com/en/search?qs=q=\\{@}
Query[sv]=http://www.jamendo.com/en/search?qs=q=\\{@}
Query[tr]=http://www.jamendo.com/en/search?qs=q=\\{@}
Query[ug]=http://www.jamendo.com/en/search?qs=q=\\{@}
Query[uk]=http://www.jamendo.com/en/search?qs=q=\\{@}
Query[wa]=http://www.jamendo.com/en/search?qs=q=\\{@}
Query[x-test]=xxhttp://www.jamendo.com/en/search?qs=q=\\{@}xx
Query[zh_CN]=http://www.jamendo.com/en/search?qs=q=\\{@}
Query[zh_TW]=http://www.jamendo.com/en/search?qs=q=\\{@}
ServiceTypes=SearchProvider
Type=Service
