[Desktop Entry]
Charset=
Hidden=false
Keys=kdeuserbase,userbase,ub
Name=KDE UserBase
Name[ar]=كتيّب كدي للمستخدمين
Name[ast]=KDE UserBase
Name[bg]=Потребителско ръководство за KDE
Name[bn]=কে.ডি.ই. ইউসার-বেস
Name[bs]=Korisnička baza KDE‑a
Name[ca]=KDE UserBase
Name[ca@valencia]=KDE UserBase
Name[cs]=KDE UserBase
Name[da]=KDE UserBase
Name[de]=KDE UserBase
Name[el]=Βάση χρηστών KDE
Name[en_GB]=KDE UserBase
Name[eo]=Manlibro por uzantoj de KDE
Name[es]=KDE UserBase
Name[et]=KDE UserBase
Name[eu]=KDE UserBase
Name[fa]=KDE UserBase
Name[fi]=KDE:n UserBase
Name[fr]=Centre pour les utilisateurs de KDE
Name[ga]=KDE UserBase
Name[gl]=KDE UserBase
Name[gu]=કેડીઈ વપરાશકર્તામાર્ગદર્શિકા
Name[he]=KDE UserBase
Name[hi]=केडीई उपयोक्ता भार
Name[hr]=KDE UserBase
Name[hu]=KDE UserBase
Name[ia]=KDE UserBase (Base de Usator)
Name[id]=KDE UserBase
Name[is]=KDE Notandagrunnur
Name[it]=KDE UserBase
Name[ja]=KDE UserBase
Name[kk]=KDE UserBase
Name[km]=KDE UserBase
Name[kn]=ಕೆಡಿಇ ಯುಸರ್ ಬೇಸ್
Name[ko]=KDE UserBase
Name[lt]=KDE UserBase
Name[lv]=KDE UserBase
Name[mai]=केडीई प्रयोक्ता बेस
Name[ml]=കെഡിഇ യൂസര്‍ബേസ്
Name[mr]=केडीई युजरबेस
Name[nb]=Brukerbase for KDE
Name[nds]=KDE-UserBase
Name[nl]=KDE UserBase
Name[nn]=KDE UserBase
Name[pa]=KDE ਯੂਜ਼ਰਬੇਸ
Name[pl]=KDE UserBase
Name[pt]=KDE UserBase
Name[pt_BR]=KDE UserBase
Name[ro]=KDE UserBase
Name[ru]=KDE UserBase
Name[si]=KDE පරිශීලක පාදම
Name[sk]=KDE UserBase
Name[sl]=KDE UserBase
Name[sr]=Корисничка база КДЕ‑а
Name[sr@ijekavian]=Корисничка база КДЕ‑а
Name[sr@ijekavianlatin]=Korisnička baza KDE‑a
Name[sr@latin]=Korisnička baza KDE‑a
Name[sv]=KDE:s användarbas
Name[tg]=Маълумоти корбари KDE
Name[th]=KDE UserBase
Name[tr]=KDE UserBase
Name[ug]=KDE UserBase
Name[uk]=UserBase KDE
Name[vi]=KDE UserBase
Name[wa]=KDE UserBase (Uzeus)
Name[x-test]=xxKDE UserBasexx
Name[zh_CN]=KDE 用户信息库
Name[zh_TW]=KDE UserBase
Query=http://userbase.kde.org/Special:Search?search=\\{@}&fulltext=Search
Query[ar]=http://en.wikipedia.org/wiki/Special:Search?search=\\{@}&go=Go
Query[ast]=http://userbase.kde.org/Special:Search?search=\\{@}&fulltext=Search
Query[bg]=http://userbase.kde.org/Special:Search?search=\\{@}&fulltext=Search
Query[bn]=http://userbase.kde.org/Special:Search?search=\\{@}&fulltext=Search
Query[bs]=http://userbase.kde.org/Special:Search?search=\\{@}&fulltext=Search
Query[ca]=http://userbase.kde.org/Special:Search?search=\\{@}&fulltext=Search
Query[ca@valencia]=http://userbase.kde.org/Special:Search?search=\\{@}&fulltext=Search
Query[cs]=http://userbase.kde.org/Special:Search?search=\\{@}&fulltext=Search
Query[da]=http://userbase.kde.org/Special:Search?search=\\{@}&fulltext=Search
Query[de]=http://userbase.kde.org/Special:Search?search=\\{@}&fulltext=Search
Query[el]=http://userbase.kde.org/Special:Search?search=\\{@}&fulltext=Search
Query[en_GB]=http://userbase.kde.org/Special:Search?search=\\{@}&fulltext=Search
Query[eo]=http://userbase.kde.org/Special:Search?search=\\{@}&fulltext=Search
Query[es]=http://userbase.kde.org/Special:Search?search=\\{@}&fulltext=Search
Query[et]=http://userbase.kde.org/Special:Search?search=\\{@}&fulltext=Search
Query[eu]=http://userbase.kde.org/Special:Search?search=\\{@}&fulltext=Search
Query[fa]=http://userbase.kde.org/Special:Search?search=\\{@}&fulltext=Search
Query[fi]=http://userbase.kde.org/Special:Search?search=\\{@}&fulltext=Search
Query[fr]=http://userbase.kde.org/Special:Search?search=\\{@}&fulltext=Search
Query[ga]=http://userbase.kde.org/Special:Search?search=\\{@}&fulltext=Search
Query[gl]=http://userbase.kde.org/Special:Search?search=\\{@}&fulltext=Search
Query[gu]=http://userbase.kde.org/Special:Search?search=\\{@}&fulltext=Search
Query[he]=http://userbase.kde.org/Special:Search?search=\\{@}&fulltext=Search
Query[hi]=http://userbase.kde.org/Special:Search?search=\\{@}&fulltext=Search
Query[hr]=http://userbase.kde.org/Special:Search?search=\\{@}&fulltext=Search
Query[hu]=http://userbase.kde.org/Special:Search?search=\\{@}&fulltext=Search
Query[ia]=http://userbase.kde.org/Special:Search?search=\\{@}&fulltext=Search
Query[id]=http://userbase.kde.org/Special:Search?search=\\{@}&fulltext=Search
Query[is]=http://userbase.kde.org/Special:Search?search=\\{@}&fulltext=Search
Query[it]=http://userbase.kde.org/Special:Search?search=\\{@}&fulltext=Search
Query[ja]=http://userbase.kde.org/Special:Search?search=\\{@}&fulltext=Search
Query[kk]=http://userbase.kde.org/Special:Search?search=\\{@}&fulltext=Search
Query[km]=http://userbase.kde.org/Special:Search?search=\\{@}&fulltext=Search
Query[kn]=http://userbase.kde.org/Special:Search?search=\\{@}&fulltext=Search
Query[ko]=http://userbase.kde.org/Special:Search?search=\\{@}&fulltext=Search
Query[lt]=http://userbase.kde.org/Special:Search?search=\\{@}&fulltext=Search
Query[lv]=http://userbase.kde.org/Special:Search?search=\\{@}&fulltext=Search
Query[mai]=http://userbase.kde.org/Special:Search?search=\\{@}&fulltext=Search
Query[ml]=http://userbase.kde.org/Special:Search?search=\\{@}&fulltext=Search
Query[mr]=http://userbase.kde.org/Special:Search?search=\\{@}&fulltext=Search
Query[nb]=http://userbase.kde.org/Special:Search?search=\\{@}&fulltext=Search
Query[nds]=http://userbase.kde.org/Special:Search?search=\\{@}&fulltext=Search
Query[nl]=http://userbase.kde.org/Special:Search?search=\\{@}&fulltext=Search
Query[nn]=http://userbase.kde.org/Special:Search?search=\\{@}&fulltext=Search
Query[pa]=http://userbase.kde.org/Special:Search?search=\\{@}&fulltext=Search
Query[pl]=http://userbase.kde.org/Special:Search?search=\\{@}&fulltext=Search
Query[pt]=http://userbase.kde.org/Special:Search?search=\\{@}&fulltext=Search
Query[pt_BR]=http://userbase.kde.org/Special:Search?search=\\{@}&fulltext=Search
Query[ro]=http://userbase.kde.org/Special:Search?search=\\{@}&fulltext=Search
Query[ru]=http://userbase.kde.org/Special:Search?search=\\{@}&fulltext=Search
Query[si]=http://userbase.kde.org/Special:Search?search=\\{@}&fulltext=Search
Query[sk]=http://userbase.kde.org/Special:Search?search=\\{@}&fulltext=Search
Query[sl]=http://userbase.kde.org/Special:Search?search=\\{@}&fulltext=Search
Query[sr]=http://userbase.kde.org/Special:Search?search=\\{@}&fulltext=Search
Query[sr@ijekavian]=http://userbase.kde.org/Special:Search?search=\\{@}&fulltext=Search
Query[sr@ijekavianlatin]=http://userbase.kde.org/Special:Search?search=\\{@}&fulltext=Search
Query[sr@latin]=http://userbase.kde.org/Special:Search?search=\\{@}&fulltext=Search
Query[sv]=http://userbase.kde.org/Special:Search?search=\\{@}&fulltext=Search
Query[tg]=http://userbase.kde.org/Special:Search?search=\\{@}&fulltext=Search
Query[th]=http://userbase.kde.org/Special:Search?search=\\{@}&fulltext=Search
Query[tr]=http://userbase.kde.org/Special:Search?search=\\{@}&fulltext=Search
Query[ug]=http://userbase.kde.org/Special:Search?search=\\{@}&fulltext=Search
Query[uk]=http://userbase.kde.org/Special:Search?search=\\{@}&fulltext=Search
Query[vi]=http://userbase.kde.org/Special:Search?search=\\{@}&fulltext=Search
Query[wa]=http://userbase.kde.org/Special:Search?search=\\{@}&fulltext=Search
Query[x-test]=xxhttp://userbase.kde.org/Special:Search?search=\\{@}&fulltext=Searchxx
Query[zh_CN]=http://userbase.kde.org/Special:Search?search=\\{@}&fulltext=Search
Query[zh_TW]=http://userbase.kde.org/Special:Search?search=\\{@}&fulltext=Search
ServiceTypes=SearchProvider
Type=Service
