[Desktop Entry]
Charset=
Hidden=false
Keys=kdelook,klook,kdel
Name=KDE Look
Name[ar]=موقع مظهر كدي
Name[ast]=KDE Look
Name[bg]=Изгледи за KDE
Name[bn]=কে.ডি.ই. লুক
Name[bs]=KDE‑izgled
Name[ca]=KDE Look
Name[ca@valencia]=KDE Look
Name[cs]=KDE Look
Name[da]=KDE Look
Name[de]=KDE Look
Name[el]=KDE Look
Name[en_GB]=KDE Look
Name[eo]=Aspekto de KDE
Name[es]=KDE Look
Name[et]=KDE Look
Name[eu]=KDE Look
Name[fa]=ظاهر KDE
Name[fi]=KDE Look
Name[fr]=Apparence de KDE
Name[ga]=KDE Look
Name[gl]=KDE Look
Name[gu]=કેડીઈ લૂક
Name[he]=KDE Look
Name[hi]=केडीई दिखावट
Name[hr]=KDE Look
Name[hu]=KDE Look
Name[ia]=Semblante de KDE
Name[id]=KDE Look
Name[is]=KDE útlit
Name[it]=KDE Look
Name[ja]=KDE Look
Name[kk]=KDE Look
Name[km]=រូបរាង​របស់ KDE
Name[kn]=ಕೆಡಿಇ ನೋಟ
Name[ko]=KDE Look
Name[lt]=KDE Išvaizda
Name[lv]=KDE izskats
Name[mai]=KDE लुक
Name[ml]=കെഡിഇ ലുക്ക്
Name[mr]=केडीई लूक
Name[nb]=KDE utseende
Name[nds]=KDE-Look
Name[nl]=KDE Look
Name[nn]=KDE Look
Name[pa]=KDE ਦਿੱਖ
Name[pl]=KDE Look
Name[pt]=KDE Look
Name[pt_BR]=KDE Look
Name[ro]=KDE Look
Name[ru]=KDE-Look
Name[si]=KDE පෙනුම
Name[sk]=KDE Look
Name[sl]=KDE Look
Name[sr]=КДЕ‑изглед
Name[sr@ijekavian]=КДЕ‑изглед
Name[sr@ijekavianlatin]=KDE‑izgled
Name[sr@latin]=KDE‑izgled
Name[sv]=KDE Look
Name[tg]=Намуди зоҳирии KDE
Name[th]=KDE Look
Name[tr]=KDE Look
Name[ug]=KDE Look
Name[uk]=KDE Look
Name[vi]=KDE Look
Name[wa]=KDE Look (Rivnance)
Name[x-test]=xxKDE Lookxx
Name[zh_CN]=KDE 美化资源站
Name[zh_TW]=KDE Look
Query=http://www.kde-look.org/content/search.php?search=Search&name=\\{@}
Query[ar]=http://www.kde-apps.org/content/search.php?search=Search&name=\\{@}
Query[ast]=http://www.kde-look.org/content/search.php?search=Search&name=\\{@}
Query[bg]=http://www.kde-look.org/content/search.php?search=Search&name=\\{@}
Query[bn]=http://www.kde-look.org/content/search.php?search=Search&name=\\{@}
Query[bs]=http://www.kde-look.org/content/search.php?search=Search&name=\\{@}
Query[ca]=http://www.kde-look.org/content/search.php?search=Search&name=\\{@}
Query[ca@valencia]=http://www.kde-look.org/content/search.php?search=Search&name=\\{@}
Query[cs]=http://www.kde-look.org/content/search.php?search=Search&name=\\{@}
Query[da]=http://www.kde-look.org/content/search.php?search=Search&name=\\{@}
Query[de]=http://www.kde-look.org/content/search.php?search=Search&name=\\{@}
Query[el]=http://www.kde-look.org/content/search.php?search=Search&name=\\{@}
Query[en_GB]=http://www.kde-look.org/content/search.php?search=Search&name=\\{@}
Query[eo]=http://www.kde-look.org/content/search.php?search=Search&name=\\{@}
Query[es]=http://www.kde-look.org/content/search.php?search=Search&name=\\{@}
Query[et]=http://www.kde-look.org/content/search.php?search=Search&name=\\{@}
Query[eu]=http://www.kde-look.org/content/search.php?search=Search&name=\\{@}
Query[fa]=http://www.kde-look.org/content/search.php?search=Search&name=\\{@}
Query[fi]=http://www.kde-look.org/content/search.php?search=Search&name=\\{@}
Query[fr]=http://www.kde-look.org/content/search.php?search=Search&name=\\{@}
Query[ga]=http://www.kde-look.org/content/search.php?search=Search&name=\\{@}
Query[gl]=http://www.kde-look.org/content/search.php?search=Search&name=\\{@}
Query[gu]=http://www.kde-look.org/content/search.php?search=Search&name=\\{@}
Query[he]=http://www.kde-look.org/content/search.php?search=Search&name=\\{@}
Query[hi]=http://www.kde-look.org/content/search.php?search=Search&name=\\{@}
Query[hr]=http://www.kde-look.org/content/search.php?search=Search&name=\\{@}
Query[hu]=http://www.kde-look.org/content/search.php?search=Search&name=\\{@}
Query[ia]=http://www.kde-look.org/content/search.php?search=Search&name=\\{@}
Query[id]=http://www.kde-look.org/content/search.php?search=Search&name=\\{@}
Query[is]=http://www.kde-look.org/content/search.php?search=Search&name=\\{@}
Query[it]=http://www.kde-look.org/content/search.php?search=Search&name=\\{@}
Query[ja]=http://www.kde-look.org/content/search.php?search=Search&name=\\{@}
Query[kk]=http://www.kde-look.org/content/search.php?search=Search&name=\\{@}
Query[km]=http://www.kde-look.org/content/search.php?search=Search&name=\\{@}
Query[kn]=http://www.kde-look.org/content/search.php?search=Search&name=\\{@}
Query[ko]=http://www.kde-look.org/content/search.php?search=Search&name=\\{@}
Query[lt]=http://www.kde-look.org/content/search.php?search=Search&name=\\{@}
Query[lv]=http://www.kde-look.org/content/search.php?search=Search&name=\\{@}
Query[mai]=http://www.kde-look.org/content/search.php?search=Search&name=\\{@}
Query[ml]=http://www.kde-look.org/content/search.php?search=Search&name=\\{@}
Query[mr]=http://www.kde-look.org/content/search.php?search=Search&name=\\{@}
Query[nb]=http://www.kde-look.org/content/search.php?search=Search&name=\\{@}
Query[nds]=http://www.kde-look.org/content/search.php?search=Search&name=\\{@}
Query[nl]=http://www.kde-look.org/content/search.php?search=Search&name=\\{@}
Query[nn]=http://www.kde-look.org/content/search.php?search=Search&name=\\{@}
Query[pa]=http://www.kde-look.org/content/search.php?search=Search&name=\\{@}
Query[pl]=http://www.kde-look.org/content/search.php?search=Search&name=\\{@}
Query[pt]=http://www.kde-look.org/content/search.php?search=Search&name=\\{@}
Query[pt_BR]=http://www.kde-look.org/content/search.php?search=Search&name=\\{@}
Query[ro]=http://www.kde-look.org/content/search.php?search=Search&name=\\{@}
Query[ru]=http://www.kde-look.org/content/search.php?search=Search&name=\\{@}
Query[si]=http://www.kde-look.org/content/search.php?search=Search&name=\\{@}
Query[sk]=http://www.kde-look.org/content/search.php?search=Search&name=\\{@}
Query[sl]=http://www.kde-look.org/content/search.php?search=Search&name=\\{@}
Query[sr]=http://www.kde-look.org/content/search.php?search=Search&name=\\{@}
Query[sr@ijekavian]=http://www.kde-look.org/content/search.php?search=Search&name=\\{@}
Query[sr@ijekavianlatin]=http://www.kde-look.org/content/search.php?search=Search&name=\\{@}
Query[sr@latin]=http://www.kde-look.org/content/search.php?search=Search&name=\\{@}
Query[sv]=http://www.kde-look.org/content/search.php?search=Search&name=\\{@}
Query[tg]=http://www.kde-look.org/content/search.php?search=Search&name=\\{@}
Query[th]=http://www.kde-look.org/content/search.php?search=Search&name=\\{@}
Query[tr]=http://www.kde-look.org/content/search.php?search=Search&name=\\{@}
Query[ug]=http://www.kde-look.org/content/search.php?search=Search&name=\\{@}
Query[uk]=http://www.kde-look.org/content/search.php?search=Search&name=\\{@}
Query[vi]=http://www.kde-look.org/content/search.php?search=Search&name=\\{@}
Query[wa]=http://www.kde-look.org/content/search.php?search=Search&name=\\{@}
Query[x-test]=xxhttp://www.kde-look.org/content/search.php?search=Search&name=\\{@}xx
Query[zh_CN]=http://www.kde-look.org/content/search.php?search=Search&name=\\{@}
Query[zh_TW]=http://www.kde-look.org/content/search.php?search=Search&name=\\{@}
ServiceTypes=SearchProvider
Type=Service
