[Desktop Entry]
Type=Service
Name=KDE App Search
Name[af]=KDE App Soektog
Name[ar]=ابحث عن تطبيقات كدي
Name[as]=KDE App Search
Name[ast]=Gueta d'aplicaciones de KDE
Name[be]=Пошук праграмаў KDE
Name[be@latin]=Pošuk aplikacyjaŭ KDE
Name[bg]=KDE App Search
Name[bn]=কে.ডি.ই. অ্যাপলিকেশন অনুসন্ধান
Name[bn_IN]=KDE অ্যাপ্লিকেশন অনুসন্ধান
Name[bs]=KDE programi
Name[ca]=Cerca d'aplicacions KDE
Name[ca@valencia]=Cerca d'aplicacions KDE
Name[cs]=Vyhledávání KDE aplikací
Name[csb]=Szëkba programów KDE
Name[cy]=KDE App Chwilio
Name[da]=KDE Prog-søgning
Name[de]=KDE-Programmsuche
Name[el]=Αναζήτηση εφαρμογών του KDE
Name[en_GB]=KDE App Search
Name[eo]=Serĉo de aplikaĵoj de KDE
Name[es]=Búsqueda de aplicaciones de KDE
Name[et]=KDE rakenduste otsing
Name[eu]=KDEren aplikazio bilaketa
Name[fa]=جستجوی کاربرد KDE
Name[fi]=KDE App -haku
Name[fr]=Chercher dans les applications de KDE
Name[fy]=Programma's sykje
Name[ga]=Cuardach Feidhmchláir KDE
Name[gl]=Busca de programas de KDE
Name[gu]=KDE કાર્યક્રમ શોધ
Name[he]=חיפוש יישומי KDE
Name[hi]=केडीई एप खोज
Name[hne]=केडीई एप खोज
Name[hr]=KDE pretraživanje aplikacija
Name[hsb]=KDE App Search
Name[hu]=KDE alkalmazások keresése
Name[ia]=Cerca de KDE App 
Name[id]=Pencarian Aplikasi KDE
Name[is]=KDE App Search
Name[it]=Ricerca di applicazioni per KDE
Name[ja]=KDE アプリケーション検索
Name[ka]=KDE–ს პროგრამების ძებნა
Name[kk]=KDE қолданбаларын табу
Name[km]=ការ​ស្វែងរក​កម្មវិធី​របស់ KDE
Name[kn]=ಕೆಡಿಇ ಅನ್ವಯ (ಅಪ್ಲಿಕೇಶನ್) ಶೋಧ
Name[ko]=KDE 프로그램 검색
Name[ku]=Lêgerîna Sepanên KDE'yê
Name[lt]=KDE programų paieška
Name[lv]=KDE programmu meklēšana
Name[mai]=केडीई एप खोज
Name[mk]=Пребарување за KDE-апликации
Name[ml]=കെഡിഇയുടെ പ്രയോഗങ്ങള്‍ക്കുള്ള തെരച്ചില്‍
Name[mr]=केडीई अनुप्रयोग शोध
Name[ms]=Carian Aplikasi KDE
Name[nb]=KDE programsøk
Name[nds]=KDE Programmsöök
Name[ne]=केडीई अनुप्रयोग खोजी
Name[nl]=Programma's zoeken
Name[nn]=KDE Programsøk
Name[or]=KDE ପ୍ରୟୋଗ ସନ୍ଧାନ
Name[pa]=KDE ਕਾਰਜ ਖੋਜ
Name[pl]=Wyszukiwanie programów KDE
Name[pt]=Pesquisa de Aplicações do KDE
Name[pt_BR]=Busca por aplicativos do KDE
Name[ro]=Căutare aplicații KDE
Name[ru]=Поиск приложений KDE
Name[se]=KDE prográmmaohci
Name[si]=KDE යෙදුම් සෙවුම
Name[sk]=Hľadanie aplikácií KDE
Name[sl]=Iskanje programov za KDE
Name[sr]=КДЕ програми
Name[sr@ijekavian]=КДЕ програми
Name[sr@ijekavianlatin]=KDE programi
Name[sr@latin]=KDE programi
Name[sv]=KDE-programsökning
Name[ta]=KDE App தேடுதல்
Name[te]=KDE App శోధన
Name[tg]=Ҷустуҷӯи барномаҳои KDE
Name[th]=ค้นหาโปรแกรม KDE
Name[tr]=KDE Uygulama Arayıcı
Name[ug]=KDE پروگرامما ئىزدە
Name[uk]=Пошук програм KDE
Name[uz]=KDE dasturlarida qidirish
Name[uz@cyrillic]=KDE дастурларида қидириш
Name[vi]=Tìm Ứng dụng KDE
Name[wa]=Programe di cweraedje di KDE
Name[xh]=Uphendlo lwe KDE App
Name[x-test]=xxKDE App Searchxx
Name[zh_CN]=KDE 应用程序搜索
Name[zh_TW]=KDE 程式搜尋
X-KDE-ServiceTypes=SearchProvider
Keys=apps,appsy
Query=http://www.kde-apps.org/content/search.php?search=Search&name=\\{@}
Query[af]=http://www.kde-apps.org/content/search.php?search=Search&name=\\{@}
Query[ar]=http://www.kde-apps.org/content/search.php?search=Search&name=\\{@}
Query[as]=http://www.kde-apps.org/content/search.php?search=Search&name=\\{@}
Query[ast]=http://www.kde-apps.org/content/search.php?search=Search&name=\\{@}
Query[be]=http://www.kde-apps.org/content/search.php?search=Search&name=\\{@}
Query[be@latin]=http://www.kde-apps.org/content/search.php?search=Search&name=\\{@}
Query[bg]=http://www.kde-apps.org/content/search.php?search=Search&name=\\{@}
Query[bn]=http://www.kde-apps.org/content/search.php?search=Search&name=\\{@}
Query[bn_IN]=http://www.kde-apps.org/content/search.php?search=Search&name=\\{@}
Query[br]=http://www.kde-apps.org/content/search.php?search=Search&name=\\{@}
Query[bs]=http://www.kde-apps.org/content/search.php?search=Search&name=\\{@}
Query[ca]=http://www.kde-apps.org/content/search.php?search=Search&name=\\{@}
Query[ca@valencia]=http://www.kde-apps.org/content/search.php?search=Search&name=\\{@}
Query[cs]=http://www.kde-apps.org/content/search.php?search=Search&name=\\{@}
Query[csb]=http://www.kde-apps.org/content/search.php?search=Search&name=\\{@}
Query[da]=http://www.kde-apps.org/content/search.php?search=Search&name=\\{@}
Query[de]=http://www.kde-apps.org/content/search.php?search=Search&name=\\{@}
Query[el]=http://www.kde-apps.org/content/search.php?search=Search&name=\\{@}
Query[en_GB]=http://www.kde-apps.org/content/search.php?search=Search&name=\\{@}
Query[eo]=http://www.kde-apps.org/content/search.php?search=Search&name=\\{@}
Query[es]=http://www.kde-apps.org/content/search.php?search=Search&name=\\{@}
Query[et]=http://www.kde-apps.org/content/search.php?search=Search&name=\\{@}
Query[eu]=http://www.kde-apps.org/content/search.php?search=Search&name=\\{@}
Query[fa]=http://www.kde-apps.org/content/search.php?search=Search&name=\\{@}
Query[fi]=http://www.kde-apps.org/content/search.php?search=Search&name=\\{@}
Query[fr]=http://www.kde-apps.org/content/search.php?search=Search&name=\\{@}
Query[fy]=http://www.kde-apps.org/content/search.php?search=Search&name=\\{@}
Query[ga]=http://www.kde-apps.org/content/search.php?search=Search&name=\\{@}
Query[gl]=http://www.kde-apps.org/content/search.php?search=Search&name=\\{@}
Query[gu]=http://www.kde-apps.org/content/search.php?search=Search&name=\\{@}
Query[he]=http://www.kde-apps.org/content/search.php?search=Search&name=\\{@}
Query[hi]=http://www.kde-apps.org/content/search.php?search=Search&name=\\{@}
Query[hne]=http://www.kde-apps.org/content/search.php?search=Search&name=\\{@}
Query[hr]=http://www.kde-apps.org/content/search.php?search=Search&name=\\{@}
Query[hsb]=http://www.kde-apps.org/content/search.php?search=Search&name=\\{@}
Query[hu]=http://www.kde-apps.org/content/search.php?search=Search&name=\\{@}
Query[ia]=http://www.kde-apps.org/content/search.php?search=Search&name=\\{@}
Query[id]=http://www.kde-apps.org/content/search.php?search=Search&name=\\{@}
Query[is]=http://www.kde-apps.org/content/search.php?search=Search&name=\\{@}
Query[it]=http://www.kde-apps.org/content/search.php?search=Search&name=\\{@}
Query[ja]=http://www.kde-apps.org/content/search.php?search=Search&name=\\{@}
Query[ka]=http://www.kde-apps.org/content/search.php?search=Search&name=\\{@}
Query[kk]=http://www.kde-apps.org/content/search.php?search=Search&name=\\{@}
Query[km]=http://www.kde-apps.org/content/search.php?search=Search&name=\\{@}
Query[kn]=http://www.kde-apps.org/content/search.php?search=Search&name=\\{@}
Query[ko]=http://www.kde-apps.org/content/search.php?search=Search&name=\\{@}
Query[ku]=http://www.kde-apps.org/content/search.php?search=Search&name=\\{@}
Query[lt]=http://www.kde-apps.org/content/search.php?search=Search&name=\\{@}
Query[lv]=http://www.kde-apps.org/content/search.php?search=Search&name=\\{@}
Query[mai]=http://www.kde-apps.org/content/search.php?search=Search&name=\\{@}
Query[ml]=http://www.kde-apps.org/content/search.php?search=Search&name=\\{@}
Query[mr]=http://www.kde-apps.org/content/search.php?search=Search&name=\\{@}
Query[ms]=http://www.kde-apps.org/content/search.php?search=Search&name=\\{@}
Query[nb]=http://www.kde-apps.org/content/search.php?search=Search&name=\\{@}
Query[nds]=http://www.kde-apps.org/content/search.php?search=Search&name=\\{@}
Query[ne]=http://www.kde-apps.org/content/search.php?search=Searchname=\\{@}
Query[nl]=http://www.kde-apps.org/content/search.php?search=Search&name=\\{@}
Query[nn]=http://www.kde-apps.org/content/search.php?search=Search&name=\\{@}
Query[oc]=http://www.kde-apps.org/content/search.php?search=Search&name=\\{@}
Query[or]=http://www.kde-apps.org/content/search.php?search=Search&name=\\{@}
Query[pa]=http://www.kde-apps.org/content/search.php?search=Search&name=\\{@}
Query[pl]=http://www.kde-apps.org/content/search.php?search=Search&name=\\{@}
Query[pt]=http://www.kde-apps.org/content/search.php?search=Search&name=\\{@}
Query[pt_BR]=http://www.kde-apps.org/content/search.php?search=Search&name=\\{@}
Query[ro]=http://www.kde-apps.org/content/search.php?search=Search&name=\\{@}
Query[ru]=http://www.kde-apps.org/content/search.php?search=Search&name=\\{@}
Query[se]=http://www.kde-apps.org/content/search.php?search=Search&name=\\{@}
Query[si]=http://www.kde-apps.org/content/search.php?search=Search&name=\\{@}
Query[sk]=http://www.kde-apps.org/content/search.php?search=Search&name=\\{@}
Query[sl]=http://www.kde-apps.org/content/search.php?search=Search&name=\\{@}
Query[sr]=http://www.kde-apps.org/content/search.php?search=Search&name=\\{@}
Query[sr@ijekavian]=http://www.kde-apps.org/content/search.php?search=Search&name=\\{@}
Query[sr@ijekavianlatin]=http://www.kde-apps.org/content/search.php?search=Search&name=\\{@}
Query[sr@latin]=http://www.kde-apps.org/content/search.php?search=Search&name=\\{@}
Query[sv]=http://www.kde-apps.org/content/search.php?search=Search&name=\\{@}
Query[ta]=http://www.kde-apps.org/content/search.php?search=Search&name=\\{@}
Query[te]=http://www.kde-apps.org/content/search.php?search=Search&name=\\{@}
Query[tg]=http://www.kde-apps.org/content/search.php?search=Search&name=\\{@}
Query[th]=http://www.kde-apps.org/content/search.php?search=Search&name=\\{@}
Query[tr]=http://www.kde-apps.org/content/search.php?search=Search&name=\\{@}
Query[ug]=http://www.kde-apps.org/content/search.php?search=Search&name=\\{@}
Query[uk]=http://www.kde-apps.org/content/search.php?search=Search&name=\\{@}
Query[uz]=http://www.kde-apps.org/content/search.php?search=Search&name=\\{@}
Query[uz@cyrillic]=http://www.kde-apps.org/content/search.php?search=Search&name=\\{@}
Query[vi]=http://www.kde-apps.org/content/search.php?search=Search&name=\\{@}
Query[wa]=http://www.kde-apps.org/content/search.php?search=Search&name=\\{@}
Query[x-test]=xxhttp://www.kde-apps.org/content/search.php?search=Search&name=\\{@}xx
Query[zh_CN]=http://www.kde-apps.org/content/search.php?search=Search&name=\\{@}
Query[zh_TW]=http://www.kde-apps.org/content/search.php?search=Search&name=\\{@}
