[Desktop Entry]
Charset=
Hidden=false
Keys=magnatune,mt
Name=Magnatune
Name[ar]=Magnatune
Name[ast]=Magnatune
Name[bg]=Magnatune
Name[bn]=ম্যাগনা-টিউন
Name[bs]=Magnatjun
Name[ca]=Magnatune
Name[ca@valencia]=Magnatune
Name[cs]=Magnatune
Name[da]=Magnatune
Name[de]=Magnatune
Name[el]=Magnatune
Name[en_GB]=Magnatune
Name[eo]=Magnatune
Name[es]=Magnatune
Name[et]=Magnatune
Name[eu]=Magnatune
Name[fa]=Magnatune
Name[fi]=Magnatune
Name[fr]=Magnatune
Name[ga]=Magnatune
Name[gl]=Magnatune
Name[gu]=મેગ્નાટ્યુન
Name[he]=Magnatune
Name[hi]=मेग्नाट्यून
Name[hr]=Magnatune
Name[hu]=Magnatune
Name[ia]=Magnatune
Name[id]=Magnatune
Name[is]=Magnatune
Name[it]=Magnatune
Name[ja]=Magnatune
Name[kk]=Magnatune
Name[km]=Magnatune
Name[kn]=ಮ್ಯಾಗ್ನಾಟ್ಯುನ್
Name[ko]=Magnatune
Name[lt]=Magnatune
Name[lv]=Magnatune
Name[mai]=Magnatune
Name[ml]=മാഗ്നാട്യൂണ്‍
Name[mr]=मेग्नाट्युन
Name[nb]=Magnatune
Name[nds]=Magnatune
Name[nl]=Magnatune
Name[nn]=Magnatune
Name[pa]=ਮੰਗਨਟੋਨ
Name[pl]=Magnatune
Name[pt]=Magnatune
Name[pt_BR]=Magnatune
Name[ro]=Magnatune
Name[ru]=Magnatune
Name[si]=Magnatune
Name[sk]=Magnatune
Name[sl]=Magnatune
Name[sr]=Магнатјун
Name[sr@ijekavian]=Магнатјун
Name[sr@ijekavianlatin]=Magnatune
Name[sr@latin]=Magnatune
Name[sv]=Magnatune
Name[tg]=Magnatune
Name[th]=Magnatune
Name[tr]=Magnatune
Name[ug]=Magnatune
Name[uk]=Magnatune
Name[vi]=Magnatune
Name[wa]=Magnatune
Name[x-test]=xxMagnatunexx
Name[zh_CN]=Magnatune
Name[zh_TW]=Magnatune
Query=http://my.magnatune.com/search?w=\\{@}&t=m&x=0&y=0
Query[ar]=http://info.alexa.com/search?q=\\{@}
Query[ast]=http://my.magnatune.com/search?w=\\{@}&t=m&x=0&y=0
Query[bg]=http://my.magnatune.com/search?w=\\{@}&t=m&x=0&y=0
Query[bn]=http://my.magnatune.com/search?w=\\{@}&t=m&x=0&y=0
Query[bs]=http://my.magnatune.com/search?w=\\{@}&t=m&x=0&y=0
Query[ca]=http://my.magnatune.com/search?w=\\{@}&t=m&x=0&y=0
Query[ca@valencia]=http://my.magnatune.com/search?w=\\{@}&t=m&x=0&y=0
Query[cs]=http://my.magnatune.com/search?w=\\{@}&t=m&x=0&y=0
Query[da]=http://my.magnatune.com/search?w=\\{@}&t=m&x=0&y=0
Query[de]=http://my.magnatune.com/search?w=\\{@}&t=m&x=0&y=0
Query[el]=http://my.magnatune.com/search?w=\\{@}&t=m&x=0&y=0
Query[en_GB]=http://my.magnatune.com/search?w=\\{@}&t=m&x=0&y=0
Query[eo]=http://my.magnatune.com/search?w=\\{@}&t=m&x=0&y=0
Query[es]=http://my.magnatune.com/search?w=\\{@}&t=m&x=0&y=0
Query[et]=http://my.magnatune.com/search?w=\\{@}&t=m&x=0&y=0
Query[eu]=http://my.magnatune.com/search?w=\\{@}&t=m&x=0&y=0
Query[fa]=http://my.magnatune.com/search?w=\\{@}&t=m&x=0&y=0
Query[fi]=http://my.magnatune.com/search?w=\\{@}&t=m&x=0&y=0
Query[fr]=http://my.magnatune.com/search?w=\\{@}&t=m&x=0&y=0
Query[ga]=http://my.magnatune.com/search?w=\\{@}&t=m&x=0&y=0
Query[gl]=http://my.magnatune.com/search?w=\\{@}&t=m&x=0&y=0
Query[gu]=http://my.magnatune.com/search?w=\\{@}&t=m&x=0&y=0
Query[he]=http://my.magnatune.com/search?w=\\{@}&t=m&x=0&y=0
Query[hi]=http://my.magnatune.com/search?w=\\{@}&t=m&x=0&y=0
Query[hr]=http://my.magnatune.com/search?w=\\{@}&t=m&x=0&y=0
Query[hu]=http://my.magnatune.com/search?w=\\{@}&t=m&x=0&y=0
Query[ia]=http://my.magnatune.com/search?w=\\{@}&t=m&x=0&y=0
Query[id]=http://my.magnatune.com/search?w=\\{@}&t=m&x=0&y=0
Query[is]=http://my.magnatune.com/search?w=\\{@}&t=m&x=0&y=0
Query[it]=http://my.magnatune.com/search?w=\\{@}&t=m&x=0&y=0
Query[ja]=http://my.magnatune.com/search?w=\\{@}&t=m&x=0&y=0
Query[kk]=http://my.magnatune.com/search?w=\\{@}&t=m&x=0&y=0
Query[km]=http://my.magnatune.com/search?w=\\{@}&t=m&x=0&y=0
Query[kn]=http://my.magnatune.com/search?w=\\{@}&t=m&x=0&y=0
Query[ko]=http://my.magnatune.com/search?w=\\{@}&t=m&x=0&y=0
Query[lt]=http://my.magnatune.com/search?w=\\{@}&t=m&x=0&y=0
Query[lv]=http://my.magnatune.com/search?w=\\{@}&t=m&x=0&y=0
Query[mai]=http://my.magnatune.com/search?w=\\{@}&t=m&x=0&y=0
Query[ml]=http://my.magnatune.com/search?w=\\{@}&t=m&x=0&y=0
Query[mr]=http://my.magnatune.com/search?w=\\{@}&t=m&x=0&y=0
Query[nb]=http://my.magnatune.com/search?w=\\{@}&t=m&x=0&y=0
Query[nds]=http://my.magnatune.com/search?w=\\{@}&t=m&x=0&y=0
Query[nl]=http://my.magnatune.com/search?w=\\{@}&t=m&x=0&y=0
Query[nn]=http://my.magnatune.com/search?w=\\{@}&t=m&x=0&y=0
Query[pa]=http://my.magnatune.com/search?w=\\{@}&t=m&x=0&y=0
Query[pl]=http://my.magnatune.com/search?w=\\{@}&t=m&x=0&y=0
Query[pt]=http://my.magnatune.com/search?w=\\{@}&t=m&x=0&y=0
Query[pt_BR]=http://my.magnatune.com/search?w=\\{@}&t=m&x=0&y=0
Query[ro]=http://my.magnatune.com/search?w=\\{@}&t=m&x=0&y=0
Query[ru]=http://my.magnatune.com/search?w=\\{@}&t=m&x=0&y=0
Query[si]=http://my.magnatune.com/search?w=\\{@}&t=m&x=0&y=0
Query[sk]=http://my.magnatune.com/search?w=\\{@}&t=m&x=0&y=0
Query[sl]=http://my.magnatune.com/search?w=\\{@}&t=m&x=0&y=0
Query[sr]=http://my.magnatune.com/search?w=\\{@}&t=m&x=0&y=0
Query[sr@ijekavian]=http://my.magnatune.com/search?w=\\{@}&t=m&x=0&y=0
Query[sr@ijekavianlatin]=http://my.magnatune.com/search?w=\\{@}&t=m&x=0&y=0
Query[sr@latin]=http://my.magnatune.com/search?w=\\{@}&t=m&x=0&y=0
Query[sv]=http://my.magnatune.com/search?w=\\{@}&t=m&x=0&y=0
Query[tg]=http://my.magnatune.com/search?w=\\{@}&t=m&x=0&y=0
Query[th]=http://my.magnatune.com/search?w=\\{@}&t=m&x=0&y=0
Query[tr]=http://my.magnatune.com/search?w=\\{@}&t=m&x=0&y=0
Query[ug]=http://my.magnatune.com/search?w=\\{@}&t=m&x=0&y=0
Query[uk]=http://my.magnatune.com/search?w=\\{@}&t=m&x=0&y=0
Query[vi]=http://my.magnatune.com/search?w=\\{@}&t=m&x=0&y=0
Query[wa]=http://my.magnatune.com/search?w=\\{@}&t=m&x=0&y=0
Query[x-test]=xxhttp://my.magnatune.com/search?w=\\{@}&t=m&x=0&y=0xx
Query[zh_CN]=http://my.magnatune.com/search?w=\\{@}&t=m&x=0&y=0
Query[zh_TW]=http://my.magnatune.com/search?w=\\{@}&t=m&x=0&y=0
ServiceTypes=SearchProvider
Type=Service
