[Desktop Entry]
Type=Service
Name=MetaCrawler
Name[af]=Metacrawler
Name[ar]=محرك البحث MetaCrawler
Name[as]=MetaCrawler
Name[ast]=MetaCrawler
Name[be]=MetaCrawler
Name[be@latin]=MetaCrawler
Name[bg]=MetaCrawler
Name[bn]=মেটা-ক্রলার
Name[bn_IN]=MetaCrawler
Name[br]=MetaCrawler
Name[bs]=Metakrouler
Name[ca]=MetaCrawler
Name[ca@valencia]=MetaCrawler
Name[cs]=MetaCrawler
Name[csb]=MetaCrawler - szëkôrz starnów WWW
Name[cy]=MetaCrawler
Name[da]=MetaCrawler
Name[de]=MetaCrawler
Name[el]=MetaCrawler
Name[en_GB]=MetaCrawler
Name[eo]=MetaCrawler
Name[es]=MetaCrawler
Name[et]=MetaCrawler
Name[eu]=MetaCrawler
Name[fa]=MetaCrawler
Name[fi]=MetaCrawler
Name[fr]=MetaCrawler
Name[fy]=MetaCrawler
Name[ga]=MetaCrawler
Name[gl]=MetaCrawler
Name[gu]=મેટાક્રાઉલર
Name[he]=MetaCrawler
Name[hi]=मेटा-क्राउलर
Name[hne]=मेटा-क्राउलर
Name[hr]=MetaCrawler
Name[hsb]=MetaCrawler
Name[hu]=MetaCrawler
Name[ia]=MetaCrawler
Name[id]=MetaCrawler
Name[is]=MetaCrawler
Name[it]=MetaCrawler
Name[ja]=MetaCrawler
Name[ka]=MetaCrawler
Name[kk]=MetaCrawler
Name[km]=MetaCrawler
Name[kn]=ಮೆಟಾ ಕ್ರಾಲರ್
Name[ko]=MetaCrawler
Name[ku]=MetaCrawler
Name[lt]=MetaCrawler
Name[lv]=MetaCrawler
Name[mai]=मेटा-क्राउलर
Name[mk]=MetaCrawler
Name[ml]=മെറ്റാക്രോളര്‍
Name[mr]=मेटा क्राउलर
Name[ms]=MetaCrawler
Name[nb]=MetaCrawler
Name[nds]=MetaCrawler
Name[ne]=मेटा क्रवलर
Name[nl]=MetaCrawler
Name[nn]=MetaCrawler
Name[or]=MetaCrawler
Name[pa]=ਮੈਟਾਕਰਾਵਲੀਰ
Name[pl]=MetaCrawler - wyszukiwarka stron WWW
Name[pt]=MetaCrawler
Name[pt_BR]=MetaCrawler
Name[ro]=MetaCrawler
Name[ru]=MetaCrawler
Name[se]=MetaCrawler
Name[si]=MetaCrawler
Name[sk]=MetaCrawler
Name[sl]=MetaCrawler
Name[sr]=Метакроулер
Name[sr@ijekavian]=Метакроулер
Name[sr@ijekavianlatin]=Metakrouler
Name[sr@latin]=Metakrouler
Name[sv]=MetaCrawler
Name[ta]=மெடா க்ராவ்லெர்
Name[te]=మెటా క్రాలర్
Name[tg]=MetaCrawler
Name[th]=บริการ MetaCrawler
Name[tr]=MetaCrawler
Name[ug]=MetaCrawler
Name[uk]=MetaCrawler
Name[uz]=MetaCrawler
Name[uz@cyrillic]=MetaCrawler
Name[vi]=MetaCrawler
Name[wa]=MetaCrawler
Name[xh]=MetaCrawler
Name[x-test]=xxMetaCrawlerxx
Name[zh_CN]=MetaCrawler
Name[zh_TW]=MetaCrawler
X-KDE-ServiceTypes=SearchProvider
Keys=mc,meta,metacrawler
Query=http://www.metacrawler.com/info.metac.cloud.other/search/web?q=\\{@}
Query[bg]=http://www.metacrawler.com/info.metac.cloud.other/search/web?q=\\{@}
Query[bs]=http://www.metacrawler.com/info.metac.cloud.other/search/web?q=\\{@}
Query[ca]=http://www.metacrawler.com/info.metac.cloud.other/search/web?q=\\{@}
Query[ca@valencia]=http://www.metacrawler.com/info.metac.cloud.other/search/web?q=\\{@}
Query[cs]=http://www.metacrawler.com/info.metac.cloud.other/search/web?q=\\{@}
Query[da]=http://www.metacrawler.com/info.metac.cloud.other/search/web?q=\\{@}
Query[de]=http://www.metacrawler.com/info.metac.cloud.other/search/web?q=\\{@}
Query[el]=http://www.metacrawler.com/info.metac.cloud.other/search/web?q=\\{@}
Query[es]=http://www.metacrawler.com/info.metac.cloud.other/search/web?q=\\{@}
Query[eu]=http://www.metacrawler.com/info.metac.cloud.other/search/web?q=\\{@}
Query[fi]=http://www.metacrawler.com/info.metac.cloud.other/search/web?q=\\{@}
Query[fr]=http://www.metacrawler.com/info.metac.cloud.other/search/web?q=\\{@}
Query[gl]=http://www.metacrawler.com/info.metac.cloud.other/search/web?q=\\{@}
Query[hi]=http://www.metacrawler.com/info.metac.cloud.other/search/web?q=\\{@}
Query[hu]=http://www.metacrawler.com/info.metac.cloud.other/search/web?q=\\{@}
Query[ia]=http://www.metacrawler.com/info.metac.cloud.other/search/web?q=\\{@}
Query[is]=http://www.metacrawler.com/info.metac.cloud.other/search/web?q=\\{@}
Query[it]=http://www.metacrawler.com/info.metac.cloud.other/search/web?q=\\{@}
Query[ja]=http://www.metacrawler.com/info.metac.cloud.other/search/web?q=\\{@}
Query[kk]=http://www.metacrawler.com/info.metac.cloud.other/search/web?q=\\{@}
Query[ko]=http://www.metacrawler.com/info.metac.cloud.other/search/web?q=\\{@}
Query[lt]=http://www.metacrawler.com/info.metac.cloud.other/search/web?q=\\{@}
Query[nb]=http://www.metacrawler.com/info.metac.cloud.other/search/web?q=\\{@}
Query[nl]=http://www.metacrawler.com/info.metac.cloud.other/search/web?q=\\{@}
Query[nn]=http://www.metacrawler.com/info.metac.cloud.other/search/web?q=\\{@}
Query[pa]=http://www.metacrawler.com/info.metac.cloud.other/search/web?q=\\{@}
Query[pl]=http://www.metacrawler.com/info.metac.cloud.other/search/web?q=\\{@}
Query[pt]=http://www.metacrawler.com/info.metac.cloud.other/search/web?q=\\{@}
Query[pt_BR]=http://www.metacrawler.com/info.metac.cloud.other/search/web?q=\\{@}
Query[ro]=http://www.metacrawler.com/info.metac.cloud.other/search/web?q=\\{@}
Query[ru]=http://www.metacrawler.com/info.metac.cloud.other/search/web?q=\\{@}
Query[sk]=http://www.metacrawler.com/info.metac.cloud.other/search/web?q=\\{@}
Query[sl]=http://www.metacrawler.com/info.metac.cloud.other/search/web?q=\\{@}
Query[sr]=http://www.metacrawler.com/info.metac.cloud.other/search/web?q=\\{@}
Query[sr@ijekavian]=http://www.metacrawler.com/info.metac.cloud.other/search/web?q=\\{@}
Query[sr@ijekavianlatin]=http://www.metacrawler.com/info.metac.cloud.other/search/web?q=\\{@}
Query[sr@latin]=http://www.metacrawler.com/info.metac.cloud.other/search/web?q=\\{@}
Query[sv]=http://www.metacrawler.com/info.metac.cloud.other/search/web?q=\\{@}
Query[tr]=http://www.metacrawler.com/info.metac.cloud.other/search/web?q=\\{@}
Query[ug]=http://www.metacrawler.com/info.metac.cloud.other/search/web?q=\\{@}
Query[uk]=http://www.metacrawler.com/info.metac.cloud.other/search/web?q=\\{@}
Query[wa]=http://www.metacrawler.com/info.metac.cloud.other/search/web?q=\\{@}
Query[x-test]=xxhttp://www.metacrawler.com/info.metac.cloud.other/search/web?q=\\{@}xx
Query[zh_CN]=http://www.metacrawler.com/info.metac.cloud.other/search/web?q=\\{@}
Query[zh_TW]=http://www.metacrawler.com/info.metac.cloud.other/search/web?q=\\{@}
