[Desktop Entry]
Charset=cp 1251
Type=Service
Name=Multitran - Translate Between Italian and Russian
Name[af]=Multitran - Vertaal tussen Italiaans en Russies
Name[ar]=المترجم المتعدد بين  الإيطالية و الروسية
Name[as]=Multitran - ইটালীয় আৰু ৰুচীয় ভাষাৰ মাজত অনুবাদ
Name[ast]=Multitran - Torna ente italianu y rusu
Name[be@latin]=Pierakład „Multitran”: italjanskaja ➙ rasiejskaja
Name[bg]=Multitran - превод между италиански и руски
Name[bn]=মাল্টিট্র্যান - ইতালিয়ান থেকে রুশ বা রুশ থেকে ইতালিয়ান-এ অনুবাদ করুন
Name[bn_IN]=Multitran - ইটালিয়ান ও রাশিয়ানের মধ্যে অনুবাদ করুন
Name[bs]=Multitran: sa italijanskog na ruski
Name[ca]=Multitran - Tradueix entre italià i rus
Name[ca@valencia]=Multitran - Tradueix entre italià i rus
Name[cs]=Multitran - překlad mezi italštinou a ruštinou
Name[csb]=Multitran - dolmaczenié: italsczi ë rusczi
Name[da]=Multitran - oversæt mellem italiensk og russisk
Name[de]=Multitran – Übersetzung: Italienisch/Russisch
Name[el]=Multitran - Μετάφραση μεταξύ Ιταλικών και Ρωσικών
Name[en_GB]=Multitran - Translate Between Italian and Russian
Name[eo]=Multitran - Traduko inter la itala kaj la rusa
Name[es]=Multitran - Traducción entre italiano y ruso
Name[et]=Multitran - tõlkimine: itaalia-vene
Name[eu]=Multitran - Itzuli italiera eta errusieraren artean
Name[fa]=Multitran - Translate Between Italian and Russian
Name[fi]=Multitran – käännä italiasta venäjään
Name[fr]=Multitran - Traduction italien - russe
Name[fy]=Multitran - Oersetting tusken italiaansk en Russysk
Name[ga]=Multitran - Aistriúchán idir Iodáilis agus Rúisis
Name[gl]=Multitran, tradución entre italiano e ruso
Name[gu]=મલ્ટિટ્રાન - ઇટાલિઅન અને રશિયન વચ્ચેનું ભાષાંતર
Name[he]=‏Multitran - תרגום בין איטלקית ורוסית
Name[hi]=मल्टीट्रान - रूसी तथा इतालवी के बीच अनुवाद
Name[hne]=मल्टीट्रान - इतालवी अउ रूसी के बीच अनुवाद
Name[hr]=Multitran – Prevođenje između talijanskog i ruskog
Name[hsb]=Multitran - přełožowanje z italšćiny a rušćiny
Name[hu]=Multitran - Fordítás olaszról oroszra (mindkét irányban)
Name[ia]=Multitran - Traduce inter Italiano e Russo
Name[id]=Multitran - Penerjemahan Antara Bahasa Italia dan Rusia
Name[is]=Multitran - Þýða á milli ítölsku og rússnesku
Name[it]=Multitran - Traduzioni tra italiano e russo
Name[ja]=Multitran - イタリア語-ロシア語間の翻訳
Name[kk]=LEO - итальян және орыс тілдер арасында аудару
Name[km]=Multitran - បកប្រែ​រវាង​ភាសា​អ៊ីតាលី និង​រុស្ស៊ី
Name[kn]=ಮಲ್ಟಿಟ್ರಾನ್ - ಇಟಾಲಿಯನ್ ಮತ್ತು ರಷ್ಯನ್ ಗಳ ನಡುವೆ ಭಾಷಾಂತರಿಸು
Name[ko]=Multitran - 이탈리아어와 러시아어 사이 번역
Name[ku]=Multîtran - Wergerandina Di Navbera Îtalî û Rûsî de
Name[lt]=Multitran – versti iš italų į rusų ir atvirkščiai
Name[lv]=Multitran - tulkot no Itāļu uz Krievu
Name[mai]=Multitran - Translate Between Italian and Russian
Name[mk]=Multitran - превод меѓу италијански и руски
Name[ml]=മള്‍ട്ടിട്രാന്‍ - ഇറ്റാലിയനും റഷ്യനും തമ്മില്‍ പരിഭാഷപ്പെടുത്തുക
Name[mr]=मल्टिट्रान - इटालीयन व रशियन भाषांतर करा
Name[nb]=Multitran – Oversett mellom italiensk og russisk
Name[nds]=Multitran - Översetten twischen Italieensch un Russ'sch
Name[nl]=Multitran - vertaal van Italiaans naar Russisch
Name[nn]=Multitran – Omsetjing mellom italiensk og russisk
Name[or]=Multitran - ଇଟାଲିଆନ ଏବଂ ରୁସିଆନ ମଧ୍ଯରେ ଅନୁବାଦ କରନ୍ତୁ
Name[pa]=ਮਲਟੀਟਰਾਂਸ - ਇਤਾਲਵੀ ਅਤੇ ਰੂਸੀ ਵਿੱਚ ਅਨੁਵਾਦ
Name[pl]=Multitran - tłumaczenie między włoskim i rosyjskim
Name[pt]=Multitran - Traduzir Entre Italiano e Russo
Name[pt_BR]=Multitran - Traduzir de italiano para russo
Name[ro]=Multitran - Traduce între italiană și rusă
Name[ru]=Multitran: итальянско-русский перевод
Name[si]=Multitran - ඉතාලි හා රුසියානු බස අතර පරිවර්ථනය කරයි
Name[sk]=Multitran - Preklad medzi taliančinou a ruštinou
Name[sl]=Multitran - Prevod med italijanščino in ruščino
Name[sr]=Мултитран: са италијанског на руски
Name[sr@ijekavian]=Мултитран: са италијанског на руски
Name[sr@ijekavianlatin]=Multitran: sa italijanskog na ruski
Name[sr@latin]=Multitran: sa italijanskog na ruski
Name[sv]=Multitran - översätt mellan italienska och ryska
Name[ta]=Multitran - இதாலிய ரஷ்ய மொழிகளுக்கிடையேயான மொழிபெயர்ப்பு
Name[te]=Multitran - ఇటాలియన్ మరియు రష్యన్ మద్య అనువదించు
Name[tg]=Multitran - Тарҷумаҳои байни итолиёӣ ва русӣ
Name[th]=บริการ Multitran - แปลภาษาระหว่างภาษาอิตาลีและภาษารัสเซีย
Name[tr]=Multitran - İtalyancadan Rusçaya Çeviri
Name[ug]=Multitran - ئىتاليانچە بىلەن رۇسچە ئارىسىدا تەرجىمە
Name[uk]=Multitran — переклад з італійської російською
Name[uz]=Multitran - Italyanchadan Ruschaga tarjima
Name[uz@cyrillic]=Multitran - Италянчадан Русчага таржима
Name[vi]=Multitran - Dịch giữa tiếng Ý và tiếng Nga
Name[wa]=Multitran - Ratoûne inte l' Itålyin eyet l' Russe
Name[x-test]=xxMultitran - Translate Between Italian and Russianxx
Name[zh_CN]=Multitran - 在意大利语和俄语之间互译
Name[zh_TW]=Multitran - 翻譯義大利語和俄語
X-KDE-ServiceTypes=SearchProvider
Keys=mt,mtde
Query=http://multitran.ru/c/m.exe?l1=23&s=\\{@}
Query[ar]=http://multitran.ru/c/m.exe?l1=23&s=\\{@}
Query[as]=http://multitran.ru/c/m.exe?l1=23&s=\\{@}
Query[ast]=http://multitran.ru/c/m.exe?l1=23&s=\\{@}
Query[be@latin]=http://multitran.ru/c/m.exe?l1=23&s=\\{@}
Query[bg]=http://multitran.ru/c/m.exe?l1=23&s=\\{@}
Query[bn]=http://multitran.ru/c/m.exe?l1=23&s=\\{@}
Query[bn_IN]=http://multitran.ru/c/m.exe?l1=23&s=\\{@}
Query[bs]=http://multitran.ru/c/m.exe?l1=23&s=\\{@}
Query[ca]=http://multitran.ru/c/m.exe?l1=23&s=\\{@}
Query[ca@valencia]=http://multitran.ru/c/m.exe?l1=23&s=\\{@}
Query[cs]=http://multitran.ru/c/m.exe?l1=23&s=\\{@}
Query[csb]=http://multitran.ru/c/m.exe?l1=23&s=\\{@}
Query[da]=http://multitran.ru/c/m.exe?l1=23&s=\\{@}
Query[de]=http://multitran.ru/c/m.exe?l1=23&s=\\{@}
Query[el]=http://multitran.ru/c/m.exe?l1=23&s=\\{@}
Query[en_GB]=http://multitran.ru/c/m.exe?l1=23&s=\\{@}
Query[eo]=http://multitran.ru/c/m.exe?l1=23&s=\\{@}
Query[es]=http://multitran.ru/c/m.exe?l1=23&s=\\{@}
Query[et]=http://multitran.ru/c/m.exe?l1=23&s=\\{@}
Query[eu]=http://multitran.ru/c/m.exe?l1=23&s=\\{@}
Query[fa]=http://multitran.ru/c/m.exe?l1=23&s=\\{@}
Query[fi]=http://multitran.ru/c/m.exe?l1=23&s=\\{@}
Query[fr]=http://multitran.ru/c/m.exe?l1=23&s=\\{@}
Query[fy]=http://multitran.ru/c/m.exe?l1=23&s=\\{@}
Query[ga]=http://multitran.ru/c/m.exe?l1=23&s=\\{@}
Query[gl]=http://multitran.ru/c/m.exe?l1=23&s=\\{@}
Query[gu]=http://multitran.ru/c/m.exe?l1=23&s=\\{@}
Query[he]=http://multitran.ru/c/m.exe?l1=23&s=\\{@}
Query[hi]=http://multitran.ru/c/m.exe?l1=23&s=\\{@}
Query[hne]=http://multitran.ru/c/m.exe?l1=23&s=\\{@}
Query[hr]=http://multitran.ru/c/m.exe?l1=23&s=\\{@}
Query[hsb]=http://multitran.ru/c/m.exe?l1=23&s=\\{@}
Query[hu]=http://multitran.ru/c/m.exe?l1=23&s=\\{@}
Query[ia]=http://multitran.ru/c/m.exe?l1=23&s=\\{@}
Query[id]=http://multitran.ru/c/m.exe?l1=23&s=\\{@}
Query[is]=http://multitran.ru/c/m.exe?l1=23&s=\\{@}
Query[it]=http://multitran.ru/c/m.exe?l1=23&s=\\{@}
Query[ja]=http://multitran.ru/c/m.exe?l1=23&s=\\{@}
Query[kk]=http://multitran.ru/c/m.exe?l1=23&s=\\{@}
Query[km]=http://multitran.ru/c/m.exe?l1=23&s=\\{@}
Query[kn]=http://multitran.ru/c/m.exe?l1=23&s=\\{@}
Query[ko]=http://multitran.ru/c/m.exe?l1=23&s=\\{@}
Query[ku]=http://multitran.ru/c/m.exe?l1=23&s=\\{@}
Query[lt]=http://multitran.ru/c/m.exe?l1=23&s=\\{@}
Query[lv]=http://multitran.ru/c/m.exe?l1=23&s=\\{@}
Query[mai]=http://multitran.ru/c/m.exe?l1=23&s=\\{@}
Query[ml]=http://multitran.ru/c/m.exe?l1=23&s=\\{@}
Query[mr]=http://multitran.ru/c/m.exe?l1=23&s=\\{@}
Query[nb]=http://multitran.ru/c/m.exe?l1=23&s=\\{@}
Query[nds]=http://multitran.ru/c/m.exe?l1=23&s=\\{@}
Query[nl]=http://multitran.ru/c/m.exe?l1=23&s=\\{@}
Query[nn]=http://multitran.ru/c/m.exe?l1=23&s=\\{@}
Query[or]=http://multitran.ru/c/m.exe?l1=23&s=\\{@}
Query[pa]=http://multitran.ru/c/m.exe?l1=23&s=\\{@}
Query[pl]=http://multitran.ru/c/m.exe?l1=23&s=\\{@}
Query[pt]=http://multitran.ru/c/m.exe?l1=23&s=\\{@}
Query[pt_BR]=http://multitran.ru/c/m.exe?l1=23&s=\\{@}
Query[ro]=http://multitran.ru/c/m.exe?l1=23&s=\\{@}
Query[ru]=http://multitran.ru/c/m.exe?l1=23&s=\\{@}
Query[si]=http://multitran.ru/c/m.exe?l1=23&s=\\{@}
Query[sk]=http://multitran.ru/c/m.exe?l1=23&s=\\{@}
Query[sl]=http://multitran.ru/c/m.exe?l1=23&s=\\{@}
Query[sr]=http://multitran.ru/c/m.exe?l1=23&s=\\{@}
Query[sr@ijekavian]=http://multitran.ru/c/m.exe?l1=23&s=\\{@}
Query[sr@ijekavianlatin]=http://multitran.ru/c/m.exe?l1=23&s=\\{@}
Query[sr@latin]=http://multitran.ru/c/m.exe?l1=23&s=\\{@}
Query[sv]=http://multitran.ru/c/m.exe?l1=23&s=\\{@}
Query[ta]=http://multitran.ru/c/m.exe?l1=23&s=\\{@}
Query[te]=http://multitran.ru/c/m.exe?l1=23&s=\\{@}
Query[tg]=http://multitran.ru/c/m.exe?l1=23&s=\\{@}
Query[th]=http://multitran.ru/c/m.exe?l1=23&s=\\{@}
Query[tr]=http://multitran.ru/c/m.exe?l1=23&s=\\{@}
Query[ug]=http://multitran.ru/c/m.exe?l1=23&s=\\{@}
Query[uk]=http://multitran.ru/c/m.exe?l1=23&s=\\{@}
Query[uz]=http://multitran.ru/c/m.exe?l1=23&s=\\{@}
Query[uz@cyrillic]=http://multitran.ru/c/m.exe?l1=23&s=\\{@}
Query[vi]=http://multitran.ru/c/m.exe?l1=23&s=\\{@}
Query[wa]=http://multitran.ru/c/m.exe?l1=23&s=\\{@}
Query[x-test]=xxhttp://multitran.ru/c/m.exe?l1=23&s=\\{@}xx
Query[zh_CN]=http://multitran.ru/c/m.exe?l1=23&s=\\{@}
Query[zh_TW]=http://multitran.ru/c/m.exe?l1=23&s=\\{@}
