[Desktop Entry]
Charset=cp 1251
Type=Service
Name=Multitran - Translate Between English and Russian
Name[af]=Multitran - Vertaal tussen Engels en Russies
Name[ar]=المترجم المتعدد بين  الانجليزية و الروسية
Name[as]=Multitran - ইংৰাজী আৰু ৰুচীয় ভাষাৰ মাজত অনুবাদ
Name[ast]=Multitran - Torna ente inglés y rusu
Name[be@latin]=Pierakład „Multitran”: anhielskaja ➙ rasiejskaja
Name[bg]=Multitran - превод между английски и руски
Name[bn]=মাল্টিট্র্যান - ইংরিজি থেকে রুশ বা রুশ থেকে ইংরিজিতে অনুবাদ করুন
Name[bn_IN]=Multitran - ইংরাজি ও রাশিয়ানের মধ্যে অনুবাদ করুন
Name[bs]=Multitran: sa engleskog na ruski
Name[ca]=Multitran - Tradueix entre anglès i rus
Name[ca@valencia]=Multitran - Tradueix entre anglés i rus
Name[cs]=Multitran - překlad mezi angličtinou a ruštinou
Name[csb]=Multitran - dolmaczenié: anielsczi ë rusczi
Name[da]=Multitran - oversæt mellem engelsk og russisk
Name[de]=Multitran – Übersetzung: Englisch/Russisch
Name[el]=Multitran - Μετάφραση μεταξύ Γαλλικών και Ρωσικών
Name[en_GB]=Multitran - Translate Between English and Russian
Name[eo]=Multitran - Traduko inter la angla kaj la rusa
Name[es]=Multitran - Traducción entre inglés y ruso
Name[et]=Multitran - tõlkimine: inglise-vene
Name[eu]=Multitran - itzuli ingelesa eta errusieraren artean
Name[fa]=Multitran - Translate Between English and Russian
Name[fi]=Multitran – käännä englannista venäjään
Name[fr]=Multitran - Traduction anglais - russe
Name[fy]=Multitran - Oersetting tusken Ingelsk en Russysk
Name[ga]=Multitran - Aistriúchán idir Béarla agus Rúisis
Name[gl]=Multitran, tradución entre inglés e ruso
Name[gu]=મલ્ટિટ્રાન - અંગ્રેજી અને રશિયન વચ્ચેનું ભાષાંતર
Name[he]=‏Multitran - תרגום בין אנגלית ורוסית
Name[hi]=मल्टीट्रान - रूसी तथा अंग्रेज़ी के बीच अनुवाद
Name[hne]=मल्टीट्रान - अंग्रेजी अउ रूसी के बीच अनुवाद
Name[hr]=Multitran – Prevođenje između engleskog i ruskog
Name[hsb]=Multitran - přełožowanje z jendźelšćiny a rušćiny
Name[hu]=Multitran - Fordítás angolról oroszra (mindkét irányban)
Name[ia]=Multitran - Traduce Inter Anglese e Russo
Name[id]=Multitran - Penerjemahan Antara Bahasa Inggris dan Rusia
Name[is]=Multitran - Þýða á milli ensku og rússnesku
Name[it]=Multitran - Traduzioni tra inglese e russo
Name[ja]=Multitran - 英語-ロシア語間の翻訳
Name[kk]=LEO - ағылшын және орыс тілдер арасында аудару
Name[km]=Multitran - បក​ប្រែ​រវាង​ភាសា​អង់គ្លេស និង​រុស្ស៊ី
Name[kn]=ಮಲ್ಟಿಟ್ರಾನ್-ಇಂಗ್ಲೀಷ್ ಮತ್ತು ರಷ್ಯನ್ ಗಳ ನಡುವೆ ಅನುವಾದಿಸು
Name[ko]=Multitran - 영어와 러시아어 사이 번역
Name[ku]=Multîtran - Wergerandina Di Navbera Îngilîzî û Rûsî de
Name[lt]=Multitran – versti iš anglų į rusų ir atvirkščiai
Name[lv]=Multitran - tulkot no Angļu uz Krievu
Name[mai]=Multitran - Translate Between English and Russian
Name[mk]=Multitran - превод меѓу англиски и руски
Name[ml]=മള്‍ട്ടിട്രാന്‍ - ഇംഗ്ലീഷും റഷ്യനും തമ്മില്‍ പരിഭാഷപ്പെടുത്തുക
Name[mr]=मल्टिट्रान - इंग्रजी व रशियन भाषांतर करा
Name[nb]=Multitran – Oversett mellom engelsk og russisk
Name[nds]=Multitran - Översetten twischen Engelsch un Russ'sch
Name[nl]=Multitran - vertaal van Engels naar Russisch
Name[nn]=Multitran – Omsetjing mellom engelsk og russisk
Name[or]=Multitran - ଇରାଜୀ ଏବଂ ରୁସିଆନ ମଧ୍ଯରେ ଅନୁବାଦ କରନ୍ତୁ
Name[pa]=ਮਲਟੀ-ਟਰਾਂਸ - ਅੰਗਰੇਜ਼ੀ ਤੇ ਰੂਸੀ ਵਿੱਚ ਟਰਾਂਸਲੇਸ਼ਨ
Name[pl]=Multitran - tłumaczenie między angielskim i rosyjskim
Name[pt]=Multitran - Traduzir Entre Inglês e Russo
Name[pt_BR]=Multitran - Traduzir de inglês para russo
Name[ro]=Multitran - Traduce între engleză și rusă
Name[ru]=Multitran: англо-русский перевод
Name[si]=Multitran - ඉංග්‍රීසි හා රුසියානු බස අතර පරිවර්ථනය කරයි
Name[sk]=Multitran - Preklad medzi angličtinou a ruštinou
Name[sl]=Multitran - Prevod med angleščino in ruščino
Name[sr]=Мултитран: са енглеског на руски
Name[sr@ijekavian]=Мултитран: са енглеског на руски
Name[sr@ijekavianlatin]=Multitran: sa engleskog na ruski
Name[sr@latin]=Multitran: sa engleskog na ruski
Name[sv]=Multitran - översätt mellan engelska och ryska
Name[ta]=Multitran - ஆங்கிலம் மற்றும் ரஷ்ய மொழிகளுக்கிடையே மொழிபெயர்ப்பு
Name[te]=Multitran - ఇంగ్లీష్ మరియు రష్యన్ మద్య అనువదించు
Name[tg]=Multitran - Тарҷумаҳои байни англисӣ ва русӣ
Name[th]=บริการ Multitran - แปลความหมายระหว่างภาษาอังกฤษและภาษารัสเซีย
Name[tr]=Multitran - Translate Between English and Russian
Name[ug]=Multitran - ئىنگلىزچە بىلەن رۇسچە ئارىسىدا تەرجىمە
Name[uk]=Multitran — переклад з англійської російською
Name[uz]=Multitran - Inglizchadan Ruschaga tarjima
Name[uz@cyrillic]=Multitran - Инглизчадан Русчага таржима
Name[vi]=Multitran - Dịch giữa tiếng Anh và tiếng Nga
Name[wa]=Multitran - Ratoûne inte l' Inglès eyet l' Russe
Name[x-test]=xxMultitran - Translate Between English and Russianxx
Name[zh_CN]=Multitran - 在英语和俄语之间互译
Name[zh_TW]=Multitran - 翻譯英語和俄語
X-KDE-ServiceTypes=SearchProvider
Keys=mt,mten
Query=http://multitran.ru/c/m.exe?l1=1&l2=2&s=\\{@}
Query[ar]=http://multitran.ru/c/m.exe?l1=1&l2=2&s=\\{@}
Query[as]=http://multitran.ru/c/m.exe?l1=1&l2=2&s=\\{@}
Query[ast]=http://multitran.ru/c/m.exe?l1=1&l2=2&s=\\{@}
Query[be@latin]=http://multitran.ru/c/m.exe?l1=1&l2=2&s=\\{@}
Query[bg]=http://multitran.ru/c/m.exe?l1=1&l2=2&s=\\{@}
Query[bn]=http://multitran.ru/c/m.exe?l1=1&l2=2&s=\\{@}
Query[bn_IN]=http://multitran.ru/c/m.exe?l1=1&l2=2&s=\\{@}
Query[bs]=http://multitran.ru/c/m.exe?l1=1&l2=2&s=\\{@}
Query[ca]=http://multitran.ru/c/m.exe?l1=1&l2=2&s=\\{@}
Query[ca@valencia]=http://multitran.ru/c/m.exe?l1=1&l2=2&s=\\{@}
Query[cs]=http://multitran.ru/c/m.exe?l1=1&l2=2&s=\\{@}
Query[csb]=http://multitran.ru/c/m.exe?l1=1&l2=2&s=\\{@}
Query[da]=http://multitran.ru/c/m.exe?l1=1&l2=2&s=\\{@}
Query[de]=http://multitran.ru/c/m.exe?l1=1&l2=2&s=\\{@}
Query[el]=http://multitran.ru/c/m.exe?l1=1&l2=2&s=\\{@}
Query[en_GB]=http://multitran.ru/c/m.exe?l1=1&l2=2&s=\\{@}
Query[eo]=http://multitran.ru/c/m.exe?l1=1&l2=2&s=\\{@}
Query[es]=http://multitran.ru/c/m.exe?l1=1&l2=2&s=\\{@}
Query[et]=http://multitran.ru/c/m.exe?l1=1&l2=2&s=\\{@}
Query[eu]=http://multitran.ru/c/m.exe?l1=1&l2=2&s=\\{@}
Query[fa]=http://multitran.ru/c/m.exe?l1=1&l2=2&s=\\{@}
Query[fi]=http://multitran.ru/c/m.exe?l1=1&l2=2&s=\\{@}
Query[fr]=http://multitran.ru/c/m.exe?l1=1&l2=2&s=\\{@}
Query[fy]=http://multitran.ru/c/m.exe?l1=1&l2=2&s=\\{@}
Query[ga]=http://multitran.ru/c/m.exe?l1=1&l2=2&s=\\{@}
Query[gl]=http://multitran.ru/c/m.exe?l1=1&l2=2&s=\\{@}
Query[gu]=http://multitran.ru/c/m.exe?l1=1&l2=2&s=\\{@}
Query[he]=http://multitran.ru/c/m.exe?l1=1&l2=2&s=\\{@}
Query[hi]=http://multitran.ru/c/m.exe?l1=1&l2=2&s=\\{@}
Query[hne]=http://multitran.ru/c/m.exe?l1=1&l2=2&s=\\{@}
Query[hr]=http://multitran.ru/c/m.exe?l1=1&l2=2&s=\\{@}
Query[hsb]=http://multitran.ru/c/m.exe?l1=1&l2=2&s=\\{@}
Query[hu]=http://multitran.ru/c/m.exe?l1=1&l2=2&s=\\{@}
Query[ia]=http://multitran.ru/c/m.exe?l1=1&l2=2&s=\\{@}
Query[id]=http://multitran.ru/c/m.exe?l1=1&l2=2&s=\\{@}
Query[is]=http://multitran.ru/c/m.exe?l1=1&l2=2&s=\\{@}
Query[it]=http://multitran.ru/c/m.exe?l1=1&l2=2&s=\\{@}
Query[ja]=http://multitran.ru/c/m.exe?l1=1&l2=2&s=\\{@}
Query[kk]=http://multitran.ru/c/m.exe?l1=1&l2=2&s=\\{@}
Query[km]=http://multitran.ru/c/m.exe?l1=1&l2=2&s=\\{@}
Query[kn]=http://multitran.ru/c/m.exe?l1=1&l2=2&s=\\{@}
Query[ko]=http://multitran.ru/c/m.exe?l1=1&l2=2&s=\\{@}
Query[ku]=http://multitran.ru/c/m.exe?l1=1&l2=2&s=\\{@}
Query[lt]=http://multitran.ru/c/m.exe?l1=1&l2=2&s=\\{@}
Query[lv]=http://multitran.ru/c/m.exe?l1=1&l2=2&s=\\{@}
Query[mai]=http://multitran.ru/c/m.exe?l1=1&l2=2&s=\\{@}
Query[ml]=http://multitran.ru/c/m.exe?l1=1&l2=2&s=\\{@}
Query[mr]=http://multitran.ru/c/m.exe?l1=1&l2=2&s=\\{@}
Query[nb]=http://multitran.ru/c/m.exe?l1=1&l2=2&s=\\{@}
Query[nds]=http://multitran.ru/c/m.exe?l1=1&l2=2&s=\\{@}
Query[nl]=http://multitran.ru/c/m.exe?l1=1&l2=2&s=\\{@}
Query[nn]=http://multitran.ru/c/m.exe?l1=1&l2=2&s=\\{@}
Query[or]=http://multitran.ru/c/m.exe?l1=1&l2=2&s=\\{@}
Query[pa]=http://multitran.ru/c/m.exe?l1=1&l2=2&s=\\{@}
Query[pl]=http://multitran.ru/c/m.exe?l1=1&l2=2&s=\\{@}
Query[pt]=http://multitran.ru/c/m.exe?l1=1&l2=2&s=\\{@}
Query[pt_BR]=http://multitran.ru/c/m.exe?l1=1&l2=2&s=\\{@}
Query[ro]=http://multitran.ru/c/m.exe?l1=1&l2=2&s=\\{@}
Query[ru]=http://multitran.ru/c/m.exe?l1=1&l2=2&s=\\{@}
Query[si]=http://multitran.ru/c/m.exe?l1=1&l2=2&s=\\{@}
Query[sk]=http://multitran.ru/c/m.exe?l1=1&l2=2&s=\\{@}
Query[sl]=http://multitran.ru/c/m.exe?l1=1&l2=2&s=\\{@}
Query[sr]=http://multitran.ru/c/m.exe?l1=1&l2=2&s=\\{@}
Query[sr@ijekavian]=http://multitran.ru/c/m.exe?l1=1&l2=2&s=\\{@}
Query[sr@ijekavianlatin]=http://multitran.ru/c/m.exe?l1=1&l2=2&s=\\{@}
Query[sr@latin]=http://multitran.ru/c/m.exe?l1=1&l2=2&s=\\{@}
Query[sv]=http://multitran.ru/c/m.exe?l1=1&l2=2&s=\\{@}
Query[ta]=http://multitran.ru/c/m.exe?l1=1&l2=2&s=\\{@}
Query[te]=http://multitran.ru/c/m.exe?l1=1&l2=2&s=\\{@}
Query[tg]=http://multitran.ru/c/m.exe?l1=1&l2=2&s=\\{@}
Query[th]=http://multitran.ru/c/m.exe?l1=1&l2=2&s=\\{@}
Query[tr]=http://multitran.ru/c/m.exe?l1=1&l2=2&s=\\{@}
Query[ug]=http://multitran.ru/c/m.exe?l1=1&l2=2&s=\\{@}
Query[uk]=http://multitran.ru/c/m.exe?l1=1&l2=2&s=\\{@}
Query[uz]=http://multitran.ru/c/m.exe?l1=1&l2=2&s=\\{@}
Query[uz@cyrillic]=http://multitran.ru/c/m.exe?l1=1&l2=2&s=\\{@}
Query[vi]=http://multitran.ru/c/m.exe?l1=1&l2=2&s=\\{@}
Query[wa]=http://multitran.ru/c/m.exe?l1=1&l2=2&s=\\{@}
Query[x-test]=xxhttp://multitran.ru/c/m.exe?l1=1&l2=2&s=\\{@}xx
Query[zh_CN]=http://multitran.ru/c/m.exe?l1=1&l2=2&s=\\{@}
Query[zh_TW]=http://multitran.ru/c/m.exe?l1=1&l2=2&s=\\{@}
