[Desktop Entry]
Charset=cp 1251
Type=Service
Name=Multitran - Translate Between German and Russian
Name[af]=Multitran - Vertaal tussen Duits en Russies
Name[ar]=المترجم المتعدد بين  ألالماني و الروسية
Name[as]=Multitran - জাৰ্মান আৰু ৰুচীয় ভাষাৰ মাজত অনুবাদ
Name[ast]=Multitran - Torna ente alemán y rusu
Name[be@latin]=Pierakład „Multitran”: niamieckaja ➙ rasiejskaja
Name[bg]=Multitran - превод между немски и руски
Name[bn]=মাল্টিট্র্যান - জার্মান থেকে রুশ বা রুশ থেকে জার্মান-এ অনুবাদ করুন
Name[bn_IN]=Multitran - জার্মান ও রাশিয়ানের মধ্যে অনুবাদ করুন
Name[bs]=Multitran: sa nemačkog na ruski
Name[ca]=Multitran - Tradueix entre alemany i rus
Name[ca@valencia]=Multitran - Tradueix entre alemany i rus
Name[cs]=Multitran - překlad mezi němčinou a ruštinou
Name[csb]=Multitran - dolmaczenié: miemiecczi ë rusczi
Name[da]=Multitran - oversæt mellem tysk og russisk
Name[de]=Multitran – Übersetzung: Deutsch/Russisch
Name[el]=Multitran - Μετάφραση μεταξύ Γερμανικών και Ρωσικών
Name[en_GB]=Multitran - Translate Between German and Russian
Name[eo]=Multitran - Traduko inter la germana kaj la rusa
Name[es]=Multitran - Traducción entre alemán y ruso
Name[et]=Multitran - tõlkimine: saksa-vene
Name[eu]=Multitran - Itzuli alemana eta errusieraren artean
Name[fa]=Multitran - ترجمه بین آلمانی و روسی
Name[fi]=Multitran – käännä saksasta venäjään
Name[fr]=Multitran - Traduction allemand - russe
Name[fy]=Multitran - Oersetting tusken Dútsk en Russysk
Name[ga]=Multitran - Aistriúchán idir Gearmáinis agus Rúisis
Name[gl]=Multitran, tradución entre alemán e ruso
Name[gu]=મલ્ટિટ્રાન - જર્મન અને રશિયન વચ્ચેનું ભાષાંતર
Name[he]=‏Multitran - תרגום בין גרמנית ורוסית
Name[hi]=मल्टीट्रान - जर्मनी तथा रूसी के बीच अनुवाद
Name[hne]=मल्टीट्रान - जर्मनी अउ रूसी के बीच अनुवाद
Name[hr]=Multitran – Prevođenje između njemačkog i ruskog
Name[hsb]=Multitran - přełožowanje z němčiny a rušćiny
Name[hu]=Multitran - Fordítás németről oroszra (mindkét irányban)
Name[ia]=Multitran - Traduce Inter Germano e Russo
Name[id]=Multitran - Penerjemahan Antara Bahasa Jerman dan Rusia
Name[is]=Multitran - Þýða á milli þýsku og rússnesku
Name[it]=Multitran - Traduzioni tra tedesco e russo
Name[ja]=Multitran - ドイツ語-ロシア語間の翻訳
Name[kk]=Multitran - Неміс және орыс тілдер арасында аудару
Name[km]=Multitran - បកប្រែ​​រវាង​​ភាសា​អាល្លឺម៉ង់​ និង​រុស្ស៊ី
Name[kn]=ಮಲ್ಟಿಟ್ರಾನ್-ಜರ್ಮನ್ ಮತ್ತು ರಷ್ಯನ್ ನಡುವೆ ಅನುವಾದಿಸು
Name[ko]=Multitran - 독일어와 러시아어 사이 번역
Name[ku]=Multîtran - Wergerandina Di Navbera Almanî û Rûsî de
Name[lt]=Multitran – versti iš vokiečių į rusų ir atvirkščiai
Name[lv]=Multitran - tulkot no Vācu uz Krievu
Name[mai]=Multitran - Translate Between German and Russian
Name[mk]=Multitran - превод меѓу германски и руски
Name[ml]=മള്‍ട്ടിട്രാന്‍ - ജര്‍മനും റഷ്യനും തമ്മില്‍ പരിഭാഷപ്പെടുത്തുക
Name[mr]=मल्टिट्रान - जर्मन व रशियन भाषांतर करा
Name[nb]=Multitran – Oversett mellom tysk og russisk
Name[nds]=Multitran - Översetten twischen Hoochdüütsch un Russ'sch
Name[nl]=Multitran - vertaal van Duits naar Russisch
Name[nn]=Multitran – Omsetjing mellom tysk og russisk
Name[or]=Multitran - ଜର୍ମାନ ଏବଂ ରୁଷିଆନ ମଧ୍ଯରେ ଅନୁବାଦ କରେ
Name[pa]=ਮਲਟੀ-ਟਰਾਂਸ - ਜਰਮਨ ਅਤੇ ਰੂਸੀ ਵਿੱਚ ਟਰਾਂਸਲੇਸ਼ਨ
Name[pl]=Multitran - tłumaczenie między niemieckim a rosyjskim
Name[pt]=Multitran - Traduzir Entre Alemão e Russo
Name[pt_BR]=Multitran - Traduzir de alemão para russo
Name[ro]=Multitran - Traduce între germană și rusă
Name[ru]=Multitran: немецко-русский перевод
Name[si]=Multitran - ජර්මන් හා රුසියානු බස අතර පරිවර්ථනය කරයි
Name[sk]=Multitran - Preklad medzi nemčinou a ruštinou
Name[sl]=Multitran - Prevod med nemščino in ruščino
Name[sr]=Мултитран: са немачког на руски
Name[sr@ijekavian]=Мултитран: са немачког на руски
Name[sr@ijekavianlatin]=Multitran: sa nemačkog na ruski
Name[sr@latin]=Multitran: sa nemačkog na ruski
Name[sv]=Multitran - översätt mellan tyska och ryska
Name[ta]=Multitran - ஜெர்மன் மற்றும் ரஷ்ய மொழிகளுக்கிடையே மொழிபெயர்ப்பு
Name[te]=Multitran - జెర్మన్ మరియు రష్యన్ మద్య అనువదించు
Name[tg]=Multitran - Тарҷумаҳои байни немисӣ ва русӣ
Name[th]=บริการ Multitran - แปลความหมายระหว่างภาษาเยอรมันและภาษารัสเซีย
Name[tr]=Multitran - Almancadan Rusçaya Çeviri
Name[ug]=Multitran - گېرمانچە بىلەن رۇسچە ئارىسىدا تەرجىمە
Name[uk]=Multitran — переклад з німецької російською
Name[uz]=Multitran - Nemischadan Ruschaga tarjima
Name[uz@cyrillic]=Multitran - Немисчадан Русчага таржима
Name[vi]=Multitran - Dịch giữa tiếng Đức và tiếng Nga
Name[wa]=Multitran - Ratoûne inte l' Almand eyet l' Russe
Name[x-test]=xxMultitran - Translate Between German and Russianxx
Name[zh_CN]=Multitran - 在德语和俄语之间互译
Name[zh_TW]=Multitran - 翻譯德語和俄語
X-KDE-ServiceTypes=SearchProvider
Keys=mt,mtde
Query=http://multitran.ru/c/m.exe?l1=3&s=\\{@}
Query[ar]=http://multitran.ru/c/m.exe?l1=3&s=\\{@}
Query[as]=http://multitran.ru/c/m.exe?l1=3&s=\\{@}
Query[ast]=http://multitran.ru/c/m.exe?l1=3&s=\\{@}
Query[be@latin]=http://multitran.ru/c/m.exe?l1=3&s=\\{@}
Query[bg]=http://multitran.ru/c/m.exe?l1=3&s=\\{@}
Query[bn]=http://multitran.ru/c/m.exe?l1=3&s=\\{@}
Query[bn_IN]=http://multitran.ru/c/m.exe?l1=3&s=\\{@}
Query[bs]=http://multitran.ru/c/m.exe?l1=3&s=\\{@}
Query[ca]=http://multitran.ru/c/m.exe?l1=3&s=\\{@}
Query[ca@valencia]=http://multitran.ru/c/m.exe?l1=3&s=\\{@}
Query[cs]=http://multitran.ru/c/m.exe?l1=3&s=\\{@}
Query[csb]=http://multitran.ru/c/m.exe?l1=3&s=\\{@}
Query[da]=http://multitran.ru/c/m.exe?l1=3&s=\\{@}
Query[de]=http://multitran.ru/c/m.exe?l1=3&s=\\{@}
Query[el]=http://multitran.ru/c/m.exe?l1=3&s=\\{@}
Query[en_GB]=http://multitran.ru/c/m.exe?l1=3&s=\\{@}
Query[eo]=http://multitran.ru/c/m.exe?l1=3&s=\\{@}
Query[es]=http://multitran.ru/c/m.exe?l1=3&s=\\{@}
Query[et]=http://multitran.ru/c/m.exe?l1=3&s=\\{@}
Query[eu]=http://multitran.ru/c/m.exe?l1=3&s=\\{@}
Query[fa]=http://multitran.ru/c/m.exe?l1=3&s=\\{@}
Query[fi]=http://multitran.ru/c/m.exe?l1=3&s=\\{@}
Query[fr]=http://multitran.ru/c/m.exe?l1=3&s=\\{@}
Query[fy]=http://multitran.ru/c/m.exe?l1=3&s=\\{@}
Query[ga]=http://multitran.ru/c/m.exe?l1=3&s=\\{@}
Query[gl]=http://multitran.ru/c/m.exe?l1=3&s=\\{@}
Query[gu]=http://multitran.ru/c/m.exe?l1=3&s=\\{@}
Query[he]=http://multitran.ru/c/m.exe?l1=3&s=\\{@}
Query[hi]=http://multitran.ru/c/m.exe?l1=3&s=\\{@}
Query[hne]=http://multitran.ru/c/m.exe?l1=3&s=\\{@}
Query[hr]=http://multitran.ru/c/m.exe?l1=3&s=\\{@}
Query[hsb]=http://multitran.ru/c/m.exe?l1=3&s=\\{@}
Query[hu]=http://multitran.ru/c/m.exe?l1=3&s=\\{@}
Query[ia]=http://multitran.ru/c/m.exe?l1=3&s=\\{@}
Query[id]=http://multitran.ru/c/m.exe?l1=3&s=\\{@}
Query[is]=http://multitran.ru/c/m.exe?l1=3&s=\\{@}
Query[it]=http://multitran.ru/c/m.exe?l1=3&s=\\{@}
Query[ja]=http://multitran.ru/c/m.exe?l1=3&s=\\{@}
Query[kk]=http://multitran.ru/c/m.exe?l1=3&s=\\{@}
Query[km]=http://multitran.ru/c/m.exe?l1=3&s=\\{@}
Query[kn]=http://multitran.ru/c/m.exe?l1=3&s=\\{@}
Query[ko]=http://multitran.ru/c/m.exe?l1=3&s=\\{@}
Query[ku]=http://multitran.ru/c/m.exe?l1=3&s=\\{@}
Query[lt]=http://multitran.ru/c/m.exe?l1=3&s=\\{@}
Query[lv]=http://multitran.ru/c/m.exe?l1=3&s=\\{@}
Query[mai]=http://multitran.ru/c/m.exe?l1=3&s=\\{@}
Query[ml]=http://multitran.ru/c/m.exe?l1=3&s=\\{@}
Query[mr]=http://multitran.ru/c/m.exe?l1=3&s=\\{@}
Query[nb]=http://multitran.ru/c/m.exe?l1=3&s=\\{@}
Query[nds]=http://multitran.ru/c/m.exe?l1=3&s=\\{@}
Query[nl]=http://multitran.ru/c/m.exe?l1=3&s=\\{@}
Query[nn]=http://multitran.ru/c/m.exe?l1=3&s=\\{@}
Query[or]=http://multitran.ru/c/m.exe?l1=3&s=\\{@}
Query[pa]=http://multitran.ru/c/m.exe?l1=3&s=\\{@}
Query[pl]=http://multitran.ru/c/m.exe?l1=3&s=\\{@}
Query[pt]=http://multitran.ru/c/m.exe?l1=3&s=\\{@}
Query[pt_BR]=http://multitran.ru/c/m.exe?l1=3&s=\\{@}
Query[ro]=http://multitran.ru/c/m.exe?l1=3&s=\\{@}
Query[ru]=http://multitran.ru/c/m.exe?l1=3&s=\\{@}
Query[si]=http://multitran.ru/c/m.exe?l1=3&s=\\{@}
Query[sk]=http://multitran.ru/c/m.exe?l1=3&s=\\{@}
Query[sl]=http://multitran.ru/c/m.exe?l1=3&s=\\{@}
Query[sr]=http://multitran.ru/c/m.exe?l1=3&s=\\{@}
Query[sr@ijekavian]=http://multitran.ru/c/m.exe?l1=3&s=\\{@}
Query[sr@ijekavianlatin]=http://multitran.ru/c/m.exe?l1=3&s=\\{@}
Query[sr@latin]=http://multitran.ru/c/m.exe?l1=3&s=\\{@}
Query[sv]=http://multitran.ru/c/m.exe?l1=3&s=\\{@}
Query[ta]=http://multitran.ru/c/m.exe?l1=3&s=\\{@}
Query[te]=http://multitran.ru/c/m.exe?l1=3&s=\\{@}
Query[tg]=http://multitran.ru/c/m.exe?l1=3&s=\\{@}
Query[th]=http://multitran.ru/c/m.exe?l1=3&s=\\{@}
Query[tr]=http://multitran.ru/c/m.exe?l1=3&s=\\{@}
Query[ug]=http://multitran.ru/c/m.exe?l1=3&s=\\{@}
Query[uk]=http://multitran.ru/c/m.exe?l1=3&s=\\{@}
Query[uz]=http://multitran.ru/c/m.exe?l1=3&s=\\{@}
Query[uz@cyrillic]=http://multitran.ru/c/m.exe?l1=3&s=\\{@}
Query[vi]=http://multitran.ru/c/m.exe?l1=3&s=\\{@}
Query[wa]=http://multitran.ru/c/m.exe?l1=3&s=\\{@}
Query[x-test]=xxhttp://multitran.ru/c/m.exe?l1=3&s=\\{@}xx
Query[zh_CN]=http://multitran.ru/c/m.exe?l1=3&s=\\{@}
Query[zh_TW]=http://multitran.ru/c/m.exe?l1=3&s=\\{@}
