[Desktop Entry]
Charset=cp 1251
Type=Service
Name=Multitran - Translate Between Spanish and Russian
Name[af]=Multitran - Vertaal tussen Spaans en Russies
Name[ar]=المترجم المتعدد بين  الإسبانية و الروسية
Name[as]=Multitran - হিস্পানীয় আৰু ৰুচীয় ভাষাৰ মাজত অনুবাদ
Name[ast]=Multitran - Torna ente castellanu y rusu
Name[be@latin]=Pierakład „Multitran”: hišpanskaja ➙ rasiejskaja
Name[bg]=Multitran - превод между испански и руски
Name[bn]=মাল্টিট্র্যান - স্প্যানিশ থেকে রুশ বা রুশ থেকে স্প্যানিশ-এ অনুবাদ করুন
Name[bn_IN]=Multitran - স্প্যানিশ ও রাশিয়ানের মধ্যে অনুবাদ করুন
Name[bs]=Multitran: sa španskog na ruski
Name[ca]=Multitran - Tradueix entre espanyol i rus
Name[ca@valencia]=Multitran - Tradueix entre espanyol i rus
Name[cs]=Multitran - překlad mezi španělštinou a ruštinou
Name[csb]=Multitran - dolmaczenié: szpańsczi ë rusczi
Name[da]=Multitran - oversæt mellem spansk og russisk
Name[de]=Multitran – Übersetzung: Spanisch/Russisch
Name[el]=Multitran - Μετάφραση μεταξύ Ρωσικών και Γαλλικών
Name[en_GB]=Multitran - Translate Between Spanish and Russian
Name[eo]=Multitran - Traduko inter la hispana kaj la rusa
Name[es]=Multitran - Traducción entre español y ruso
Name[et]=Multitran - tõlkimine: hispaania-vene
Name[eu]=Multitran - itzuli gaztelera eta errusieraren artean
Name[fa]=Multitran - Translate Between Spanish and Russian
Name[fi]=Multitran – käännä espanjasta venäjään
Name[fr]=Multitran - Traduction espagnol - russe
Name[fy]=Multitran - Oersetting tusken Spaansk en Russysk
Name[ga]=Multitran - Aistriúchán idir Spáinnis agus Rúisis
Name[gl]=Multitran, tradución entre castelán e ruso
Name[gu]=મલ્ટિટ્રાન - સ્પેનિશ અને રશિયન વચ્ચેનું ભાષાંતર
Name[he]=‏Multitran - תרגום בין ספרדית ורוסית
Name[hi]=मल्टीट्रान - रूसी तथा स्पेनी के बीच अनुवाद
Name[hne]=मल्टीट्रान - स्पेनी अउ रूसी के बीच अनुवाद
Name[hr]=Multitran – Prevođenje između španjolskog i ruskog
Name[hsb]=Multitran - přełožowanje ze španšćiny a rušćiny
Name[hu]=Multitran - Fordítás spanyolról oroszra (mindkét irányban)
Name[ia]=Multitran - Traduce Inter Espaniol e Russo
Name[id]=Multitran - Penerjemahan Antara Bahasa Spanyol dan Rusia
Name[is]=Multitran - Þýða á milli spænsku og rússnesku
Name[it]=Multitran - Traduzioni tra spagnolo e russo
Name[ja]=Multitran - スペイン語-ロシア語間の翻訳
Name[kk]=LEO - испан және орыс тілдер арасында аудару
Name[km]=Multitran - បកប្រែ​រវាង​ភាសា​អេស្ប៉ាញ និង​រុស្ស៊ី
Name[kn]=ಮಲ್ಟಿಟ್ರಾನ್-ಸ್ಪಾನಿಷ್ ಮತ್ತು ರಷ್ಯನ್ ಗಳ ನಡುವೆ ಭಾಷಾಂತರಿಸು
Name[ko]=Multitran - 스페인어와 러시아어 사이 번역
Name[ku]=Multîtran - Wergerandina Di Navbera Spanyolî û Rûsî de
Name[lt]=Multitran – versti iš ispanų į rusų ir atvirkščiai
Name[lv]=Multitran - tulkot no Spāņu uz Krievu
Name[mai]=Multitran - Translate Between Spanish and Russian
Name[mk]=Multitran - превод меѓу шпански и руски
Name[ml]=മള്‍ട്ടിട്രാന്‍ - സ്പാനിഷും റഷ്യനും തമ്മില്‍ പരിഭാഷപ്പെടുത്തുക
Name[mr]=मल्टिट्रान - स्पेनिश व रशियन भाषांतर करा
Name[nb]=Multitran – Oversett mellom spansk og russisk
Name[nds]=Multitran - Översetten twischen Spaansch un Russ'sch
Name[nl]=Multitran - vertaal van Spaans naar Russisch
Name[nn]=Multitran – Omsetjing mellom spansk og russisk
Name[or]=Multitran - ସ୍ପେନିସ ଏବଂ ରୁସିଆନ ମଧ୍ଯରେ ଅନୁବାଦ କରନ୍ତୁ
Name[pa]=ਮਲਟੀਟਰਾਂਸ - ਸਪੇਨੀ ਤੇ ਰੂਸੀ ਵਿੱਚ ਟਰਾਂਸਲੇਸ਼ਨ
Name[pl]=Multitran - tłumaczenie między hiszpańskim a rosyjskim
Name[pt]=Multitran - Traduzir Entre Espanhol e Russo
Name[pt_BR]=Multitran - Traduzir de espanhol para russo
Name[ro]=Multitran - Traduce între spaniolă și rusă
Name[ru]=Multitran: испанско-русский перевод
Name[si]=Multitran - ස්පාඤ්ඤහා රුසියානු බස අතර පරිවර්ථනය කරයි
Name[sk]=Multitran - Preklad medzi španielčinou a ruštinou
Name[sl]=Multitran - Prevod med španščino in ruščino
Name[sr]=Мултитран: са шпанског на руски
Name[sr@ijekavian]=Мултитран: са шпанског на руски
Name[sr@ijekavianlatin]=Multitran: sa španskog na ruski
Name[sr@latin]=Multitran: sa španskog na ruski
Name[sv]=Multitran - översätt mellan spanska och ryska
Name[ta]=Multitran - ஸ்பானிஷ் மற்றும் ருஷ்ய மொழிகளுக்கிடையே மொழிபெயர்ப்பு
Name[te]=Multitran - స్పానిష్ మరియు రష్యన్ మద్య అనువదించు
Name[tg]=Multitran - Тарҷумаҳои байни испанӣ ва русӣ
Name[th]=บริการ Multitran - แปลภาษาระหว่างภาษาสเปนและภาษารัสเซีย
Name[tr]=Multitran - İspanyolcadan Rusçaya Çeviri
Name[ug]=Multitran - ئىسپانچە بىلەن رۇسچە ئارىسىدا تەرجىمە
Name[uk]=Multitran — переклад з іспанської російською
Name[uz]=Multitran - Ispanchadan Ruschaga tarjima
Name[uz@cyrillic]=Multitran - Испанчадан Русчага таржима
Name[vi]=Multitran - Dịch giữa tiếng Tây Ban Nha và tiếng Nga
Name[wa]=Multitran - Ratoûne inte l' Espagnol eyet l' Russe
Name[x-test]=xxMultitran - Translate Between Spanish and Russianxx
Name[zh_CN]=Multitran - 在西班牙语和俄语之间互译
Name[zh_TW]=Multitran - 翻譯西班牙語和俄語
X-KDE-ServiceTypes=SearchProvider
Keys=mt,mtde
Query=http://multitran.ru/c/m.exe?l1=5&s=\\{@}
Query[ar]=http://multitran.ru/c/m.exe?l1=5&s=\\{@}
Query[as]=http://multitran.ru/c/m.exe?l1=5&s=\\{@}
Query[ast]=http://multitran.ru/c/m.exe?l1=5&s=\\{@}
Query[be@latin]=http://multitran.ru/c/m.exe?l1=5&s=\\{@}
Query[bg]=http://multitran.ru/c/m.exe?l1=5&s=\\{@}
Query[bn]=http://multitran.ru/c/m.exe?l1=5&s=\\{@}
Query[bn_IN]=http://multitran.ru/c/m.exe?l1=5&s=\\{@}
Query[bs]=http://multitran.ru/c/m.exe?l1=5&s=\\{@}
Query[ca]=http://multitran.ru/c/m.exe?l1=5&s=\\{@}
Query[ca@valencia]=http://multitran.ru/c/m.exe?l1=5&s=\\{@}
Query[cs]=http://multitran.ru/c/m.exe?l1=5&s=\\{@}
Query[csb]=http://multitran.ru/c/m.exe?l1=5&s=\\{@}
Query[da]=http://multitran.ru/c/m.exe?l1=5&s=\\{@}
Query[de]=http://multitran.ru/c/m.exe?l1=5&s=\\{@}
Query[el]=http://multitran.ru/c/m.exe?l1=5&s=\\{@}
Query[en_GB]=http://multitran.ru/c/m.exe?l1=5&s=\\{@}
Query[eo]=http://multitran.ru/c/m.exe?l1=5&s=\\{@}
Query[es]=http://multitran.ru/c/m.exe?l1=5&s=\\{@}
Query[et]=http://multitran.ru/c/m.exe?l1=5&s=\\{@}
Query[eu]=http://multitran.ru/c/m.exe?l1=5&s=\\{@}
Query[fa]=http://multitran.ru/c/m.exe?l1=5&s=\\{@}
Query[fi]=http://multitran.ru/c/m.exe?l1=5&s=\\{@}
Query[fr]=http://multitran.ru/c/m.exe?l1=5&s=\\{@}
Query[fy]=http://multitran.ru/c/m.exe?l1=5&s=\\{@}
Query[ga]=http://multitran.ru/c/m.exe?l1=5&s=\\{@}
Query[gl]=http://multitran.ru/c/m.exe?l1=5&s=\\{@}
Query[gu]=http://multitran.ru/c/m.exe?l1=5&s=\\{@}
Query[he]=http://multitran.ru/c/m.exe?l1=5&s=\\{@}
Query[hi]=http://multitran.ru/c/m.exe?l1=5&s=\\{@}
Query[hne]=http://multitran.ru/c/m.exe?l1=5&s=\\{@}
Query[hr]=http://multitran.ru/c/m.exe?l1=5&s=\\{@}
Query[hsb]=http://multitran.ru/c/m.exe?l1=5&s=\\{@}
Query[hu]=http://multitran.ru/c/m.exe?l1=5&s=\\{@}
Query[ia]=http://multitran.ru/c/m.exe?l1=5&s=\\{@}
Query[id]=http://multitran.ru/c/m.exe?l1=5&s=\\{@}
Query[is]=http://multitran.ru/c/m.exe?l1=5&s=\\{@}
Query[it]=http://multitran.ru/c/m.exe?l1=5&s=\\{@}
Query[ja]=http://multitran.ru/c/m.exe?l1=5&s=\\{@}
Query[kk]=http://multitran.ru/c/m.exe?l1=5&s=\\{@}
Query[km]=http://multitran.ru/c/m.exe?l1=5&s=\\{@}
Query[kn]=http://multitran.ru/c/m.exe?l1=5&s=\\{@}
Query[ko]=http://multitran.ru/c/m.exe?l1=5&s=\\{@}
Query[ku]=http://multitran.ru/c/m.exe?l1=5&s=\\{@}
Query[lt]=http://multitran.ru/c/m.exe?l1=5&s=\\{@}
Query[lv]=http://multitran.ru/c/m.exe?l1=5&s=\\{@}
Query[mai]=http://multitran.ru/c/m.exe?l1=5&s=\\{@}
Query[ml]=http://multitran.ru/c/m.exe?l1=5&s=\\{@}
Query[mr]=http://multitran.ru/c/m.exe?l1=5&s=\\{@}
Query[nb]=http://multitran.ru/c/m.exe?l1=5&s=\\{@}
Query[nds]=http://multitran.ru/c/m.exe?l1=5&s=\\{@}
Query[nl]=http://multitran.ru/c/m.exe?l1=5&s=\\{@}
Query[nn]=http://multitran.ru/c/m.exe?l1=5&s=\\{@}
Query[or]=http://multitran.ru/c/m.exe?l1=5&s=\\{@}
Query[pa]=http://multitran.ru/c/m.exe?l1=5&s=\\{@}
Query[pl]=http://multitran.ru/c/m.exe?l1=5&s=\\{@}
Query[pt]=http://multitran.ru/c/m.exe?l1=5&s=\\{@}
Query[pt_BR]=http://multitran.ru/c/m.exe?l1=5&s=\\{@}
Query[ro]=http://multitran.ru/c/m.exe?l1=5&s=\\{@}
Query[ru]=http://multitran.ru/c/m.exe?l1=5&s=\\{@}
Query[si]=http://multitran.ru/c/m.exe?l1=5&s=\\{@}
Query[sk]=http://multitran.ru/c/m.exe?l1=5&s=\\{@}
Query[sl]=http://multitran.ru/c/m.exe?l1=5&s=\\{@}
Query[sr]=http://multitran.ru/c/m.exe?l1=5&s=\\{@}
Query[sr@ijekavian]=http://multitran.ru/c/m.exe?l1=5&s=\\{@}
Query[sr@ijekavianlatin]=http://multitran.ru/c/m.exe?l1=5&s=\\{@}
Query[sr@latin]=http://multitran.ru/c/m.exe?l1=5&s=\\{@}
Query[sv]=http://multitran.ru/c/m.exe?l1=5&s=\\{@}
Query[ta]=http://multitran.ru/c/m.exe?l1=5&s=\\{@}
Query[te]=http://multitran.ru/c/m.exe?l1=5&s=\\{@}
Query[tg]=http://multitran.ru/c/m.exe?l1=5&s=\\{@}
Query[th]=http://multitran.ru/c/m.exe?l1=5&s=\\{@}
Query[tr]=http://multitran.ru/c/m.exe?l1=5&s=\\{@}
Query[ug]=http://multitran.ru/c/m.exe?l1=5&s=\\{@}
Query[uk]=http://multitran.ru/c/m.exe?l1=5&s=\\{@}
Query[uz]=http://multitran.ru/c/m.exe?l1=5&s=\\{@}
Query[uz@cyrillic]=http://multitran.ru/c/m.exe?l1=5&s=\\{@}
Query[vi]=http://multitran.ru/c/m.exe?l1=5&s=\\{@}
Query[wa]=http://multitran.ru/c/m.exe?l1=5&s=\\{@}
Query[x-test]=xxhttp://multitran.ru/c/m.exe?l1=5&s=\\{@}xx
Query[zh_CN]=http://multitran.ru/c/m.exe?l1=5&s=\\{@}
Query[zh_TW]=http://multitran.ru/c/m.exe?l1=5&s=\\{@}
