[Desktop Entry]
Type=Service
Name=Netcraft
Name[af]=Netcraft
Name[ar]=Netcraft
Name[as]=Netcraft
Name[ast]=Netcraft
Name[be]=Netcraft
Name[be@latin]=Netcraft
Name[bg]=Netcraft
Name[bn]=নেট-ক্রাফ্ট
Name[bn_IN]=Netcraft
Name[br]=Netcraft
Name[bs]=Netkraft
Name[ca]=Netcraft
Name[ca@valencia]=Netcraft
Name[cs]=Netcraft
Name[csb]=Netcraft
Name[cy]=Netcraft
Name[da]=Netcraft
Name[de]=Netcraft
Name[el]=Netcraft
Name[en_GB]=Netcraft
Name[eo]=Netcraft
Name[es]=Netcraft
Name[et]=Netcraft
Name[eu]=Netcraft
Name[fa]=Netcraft
Name[fi]=Netcraft
Name[fr]=Netcraft
Name[fy]=Netcraft 
Name[ga]=Netcraft
Name[gl]=Netcraft
Name[gu]=નેટક્રાફ્ટ
Name[he]=Netcraft
Name[hi]=नेटक्राफ्ट
Name[hne]=नेटक्राफ्ट
Name[hr]=Netcraft
Name[hsb]=Netcraft
Name[hu]=Netcraft
Name[ia]=Netcraft
Name[id]=Netcraft
Name[is]=Netcraft
Name[it]=Netcraft
Name[ja]=Netcraft
Name[ka]=Netcraft
Name[kk]=Netcraft
Name[km]=Netcraft
Name[kn]=ನೆಟ್ ಕ್ರಾಫ್ಟ್
Name[ko]=Netcraft
Name[ku]=Netcraft
Name[lt]=Netcraft
Name[lv]=Netcraft
Name[mai]=नेटक्राफ्ट
Name[mk]=Netcraft
Name[ml]=നെറ്റ്ക്രാഫ്റ്റ്
Name[mr]=नेटक्राफ्ट
Name[ms]=Netcraft
Name[nb]=Netcraft
Name[nds]=Netcraft
Name[ne]=नेटक्राफ्ट
Name[nl]=Netcraft
Name[nn]=Netcraft
Name[or]=Netcraft
Name[pa]=ਨੈੱਟਕਰਾਫਟ
Name[pl]=Netcraft
Name[pt]=Netcraft
Name[pt_BR]=Netcraft
Name[ro]=Netcraft
Name[ru]=Netcraft
Name[se]=Netcraft
Name[si]=Netcraft
Name[sk]=Netcraft
Name[sl]=Netcraft
Name[sr]=Неткрафт
Name[sr@ijekavian]=Неткрафт
Name[sr@ijekavianlatin]=Netcraft
Name[sr@latin]=Netcraft
Name[sv]=Netcraft
Name[ta]=நெட்க்ராஃப்ட்
Name[te]=నెట్ క్రాఫ్ట్
Name[tg]=Netcraft
Name[th]=บริการ Netcraft
Name[tr]=Netcraft
Name[ug]=Netcraft
Name[uk]=Netcraft
Name[uz]=Netcraft
Name[uz@cyrillic]=Netcraft
Name[vi]=Tra Netcraft
Name[wa]=Netcraft
Name[x-test]=xxNetcraftxx
Name[zh_CN]=Netcraft
Name[zh_TW]=Netcraft
X-KDE-ServiceTypes=SearchProvider
Keys=nc,netcraft
Query=http://uptime.netcraft.com/up/graph?site=\\{@}
Query[af]=http://uptime.netcraft.com/up/graph?site=\\{@}
Query[ar]=http://uptime.netcraft.com/up/graph?site=\\{@}
Query[as]=http://uptime.netcraft.com/up/graph?site=\\{@}
Query[ast]=http://uptime.netcraft.com/up/graph?site=\\{@}
Query[be]=http://uptime.netcraft.com/up/graph?site=\\{@}
Query[be@latin]=http://uptime.netcraft.com/up/graph?site=\\{@}
Query[bg]=http://uptime.netcraft.com/up/graph?site=\\{@}
Query[bn]=http://uptime.netcraft.com/up/graph?site=\\{@}
Query[bn_IN]=http://uptime.netcraft.com/up/graph?site=\\{@}
Query[br]=http://uptime.netcraft.com/up/graph?site=\\{@}
Query[bs]=http://uptime.netcraft.com/up/graph?site=\\{@}
Query[ca]=http://uptime.netcraft.com/up/graph?site=\\{@}
Query[ca@valencia]=http://uptime.netcraft.com/up/graph?site=\\{@}
Query[cs]=http://uptime.netcraft.com/up/graph?site=\\{@}
Query[csb]=http://uptime.netcraft.com/up/graph?site=\\{@}
Query[da]=http://uptime.netcraft.com/up/graph?site=\\{@}
Query[de]=http://uptime.netcraft.com/up/graph?site=\\{@}
Query[el]=http://uptime.netcraft.com/up/graph?site=\\{@}
Query[en_GB]=http://uptime.netcraft.com/up/graph?site=\\{@}
Query[eo]=http://uptime.netcraft.com/up/graph?site=\\{@}
Query[es]=http://uptime.netcraft.com/up/graph?site=\\{@}
Query[et]=http://uptime.netcraft.com/up/graph?site=\\{@}
Query[eu]=http://uptime.netcraft.com/up/graph?site=\\{@}
Query[fa]=http://uptime.netcraft.com/up/graph?site=\\{@}
Query[fi]=http://uptime.netcraft.com/up/graph?site=\\{@}
Query[fr]=http://uptime.netcraft.com/up/graph?site=\\{@}
Query[fy]=http://uptime.netcraft.com/up/graph?site=\\{@}
Query[ga]=http://uptime.netcraft.com/up/graph?site=\\{@}
Query[gl]=http://uptime.netcraft.com/up/graph?site=\\{@}
Query[gu]=http://uptime.netcraft.com/up/graph?site=\\{@}
Query[he]=http://uptime.netcraft.com/up/graph?site=\\{@}
Query[hi]=http://uptime.netcraft.com/up/graph?site=\\{@}
Query[hne]=http://uptime.netcraft.com/up/graph?site=\\{@}
Query[hr]=http://uptime.netcraft.com/up/graph?site=\\{@}
Query[hsb]=http://uptime.netcraft.com/up/graph?site=\\{@}
Query[hu]=http://uptime.netcraft.com/up/graph?site=\\{@}
Query[ia]=http://uptime.netcraft.com/up/graph?site=\\{@}
Query[id]=http://uptime.netcraft.com/up/graph?site=\\{@}
Query[is]=http://uptime.netcraft.com/up/graph?site=\\{@}
Query[it]=http://uptime.netcraft.com/up/graph?site=\\{@}
Query[ja]=http://uptime.netcraft.com/up/graph?site=\\{@}
Query[ka]=http://uptime.netcraft.com/up/graph?site=\\{@}
Query[kk]=http://uptime.netcraft.com/up/graph?site=\\{@}
Query[km]=http://uptime.netcraft.com/up/graph?site=\\{@}
Query[kn]=http://uptime.netcraft.com/up/graph?site=\\{@}
Query[ko]=http://uptime.netcraft.com/up/graph?site=\\{@}
Query[ku]=http://uptime.netcraft.com/up/graph?site=\\{@}
Query[lt]=http://uptime.netcraft.com/up/graph?site=\\{@}
Query[lv]=http://uptime.netcraft.com/up/graph?site=\\{@}
Query[mai]=http://uptime.netcraft.com/up/graph?site=\\{
Query[ml]=http://uptime.netcraft.com/up/graph?site=\\{@}
Query[mr]=http://uptime.netcraft.com/up/graph?site=\\{@}
Query[ms]=http://uptime.netcraft.com/up/graph?site=\\{@}
Query[nb]=http://uptime.netcraft.com/up/graph?site=\\{@}
Query[nds]=http://uptime.netcraft.com/up/graph?site=\\{@}
Query[ne]=http://uptime.netcraft.com/up/graph?site=\\{@}
Query[nl]=http://uptime.netcraft.com/up/graph?site=\\{@}
Query[nn]=http://uptime.netcraft.com/up/graph?site=\\{@}
Query[oc]=http://uptime.netcraft.com/up/graph?site=\\{@}
Query[or]=http://uptime.netcraft.com/up/graph?site=\\{@}
Query[pa]=http://uptime.netcraft.com/up/graph?site=\\{@}
Query[pl]=http://uptime.netcraft.com/up/graph?site=\\{@}
Query[pt]=http://uptime.netcraft.com/up/graph?site=\\{@}
Query[pt_BR]=http://uptime.netcraft.com/up/graph?site=\\{@}
Query[ro]=http://uptime.netcraft.com/up/graph?site=\\{@}
Query[ru]=http://uptime.netcraft.com/up/graph?site=\\{@}
Query[se]=http://uptime.netcraft.com/up/graph?site=\\{@}
Query[si]=http://uptime.netcraft.com/up/graph?site=\\{@}
Query[sk]=http://uptime.netcraft.com/up/graph?site=\\{@}
Query[sl]=http://uptime.netcraft.com/up/graph?site=\\{@}
Query[sr]=http://uptime.netcraft.com/up/graph?site=\\{@}
Query[sr@ijekavian]=http://uptime.netcraft.com/up/graph?site=\\{@}
Query[sr@ijekavianlatin]=http://uptime.netcraft.com/up/graph?site=\\{@}
Query[sr@latin]=http://uptime.netcraft.com/up/graph?site=\\{@}
Query[sv]=http://uptime.netcraft.com/up/graph?site=\\{@}
Query[ta]=http://uptime.netcraft.com/up/graph?site=\\{@}
Query[te]=http://uptime.netcraft.com/up/graph?site=\\{@}
Query[tg]=http://uptime.netcraft.com/up/graph?site=\\{@}
Query[th]=http://uptime.netcraft.com/up/graph?site=\\{@}
Query[tr]=http://uptime.netcraft.com/up/graph?site=\\{@}
Query[ug]=http://uptime.netcraft.com/up/graph?site=\\{@}
Query[uk]=http://uptime.netcraft.com/up/graph?site=\\{@}
Query[uz]=http://uptime.netcraft.com/up/graph?site=\\{@}
Query[uz@cyrillic]=http://uptime.netcraft.com/up/graph?site=\\{@}
Query[vi]=http://uptime.netcraft.com/up/graph?site=\\{@}
Query[wa]=http://uptime.netcraft.com/up/graph?site=\\{@}
Query[x-test]=xxhttp://uptime.netcraft.com/up/graph?site=\\{@}xx
Query[zh_CN]=http://uptime.netcraft.com/up/graph?site=\\{@}
Query[zh_TW]=http://uptime.netcraft.com/up/graph?site=\\{@}
