[Desktop Entry]
Name=Teletekst Search Provider
Name[af]=Teleteks soektog verskaffer
Name[ar]=البحث عن مزود التلفزيون النصي
Name[as]=Teletekst Search Provider
Name[ast]=Fornidor de gueta Teletekst
Name[be]=Пошук тэлетэксту
Name[be@latin]=Pošuk teletekstaŭ
Name[bg]=Търсене в телетекст
Name[bn]=Teletekst অনুসন্ধান সরবরাহকারী
Name[bn_IN]=Teletekst অনুসন্ধান ব্যবস্থা উপলব্ধকারী
Name[bs]=Teletekst (Holandija)
Name[ca]=Proveïdor de cerca a Teletekst
Name[ca@valencia]=Proveïdor de cerca a Teletekst
Name[cs]=Poskytovatel Teletekstového prohledávání
Name[csb]=Szëkôrz Teletekst
Name[cy]= Darparwr Chwiliadau Teletekst
Name[da]=Teletekst-søgeudbyder
Name[de]=Teletekst-Suche
Name[el]=Πάροχος αναζήτησης Teletekst 
Name[en_GB]=Teletekst Search Provider
Name[eo]=Serĉprovizanto de Teletekst
Name[es]=Proveedor de búsqueda Teletekst
Name[et]=Hollandi teleteksti otsingumootor
Name[eu]=Teletekst bilaketa hornitzailea
Name[fa]=فراهم‌کننده جستجوی پیام‌نما
Name[fi]=Teleteksti-palveluntarjoaja
Name[fr]=Moteur de recherche « Teletekst »
Name[fy]=Teletekst-sykmasine
Name[ga]=Cuardach Teletekst
Name[gl]=Fornecedor de buscas Teletekst
Name[gu]=ટેલેટક્સ્ટ સર્ચ પ્રોવાઇડર
Name[he]=Teletekst Search Provider
Name[hi]=टेलिटेक्स्ट खोज प्रदायक
Name[hne]=टेलिटेक्स्ट खोज देवइया
Name[hr]=Davatelj usluge pretraživanja teleteksta
Name[hsb]=Prowider za pytanje w teleteksće
Name[hu]=Teletekst keresőszolgáltatás
Name[ia]=Fornitor de cerca Teletekst
Name[id]=Penyedia Pencarian Teletekst
Name[is]=Teletekst leitarvél
Name[it]=Motore di ricerca Teletekst
Name[ja]=Teletekst 検索プロバイダ
Name[ka]=Teletekst ძიების პროვაიდერი
Name[kk]=Teletekst іздеу провайдері
Name[km]=ក្រុមហ៊ុន​ផ្ដល់​ការ​ស្វែងរក​របស់ Teletekst
Name[kn]=Teletekst ಹುಡುಕಾಟ ಪೂರೈಕೆದಾರ
Name[ko]=Teletekst 검색 공급자
Name[ku]=Peydakera Lêgerîna Telekstê
Name[lt]=Teletekst paieškos teikėjas
Name[lv]=Teleteksta meklēšanas sniedzējs
Name[mai]=टेलिटेक्स्ट खोज प्रदायक
Name[mk]=Телетекст сервис за пребарување
Name[ml]=Teletekst തെരച്ചില്‍ സംവിധാനം
Name[mr]=टेलिटेक्स्ट शोध पुरवठाकर्ता
Name[ms]=Penyedia Carian Teletekst 
Name[nb]=Søkemotor for teletekst
Name[nds]=In "Teletekst" söken (Nedderlannen)
Name[ne]=टेलिटेक्स्ट खोजी प्रदायक
Name[nl]=Teletekst-zoekmachine
Name[nn]=Søkjemotoren Teletekst
Name[or]=Teletekst ସନ୍ଧାନ ପ୍ରଦାନକାରୀ
Name[pa]=ਟੇਲੇਟੇਕਸਟ ਖੋਜ ਪਰੋਵਾਇਡਰ
Name[pl]=Wyszukiwarka Teletekst
Name[pt]=Motor de Busca Teletekst
Name[pt_BR]=Provedor de busca Teletekst
Name[ro]=Căutare Teletekst
Name[ru]=Поиск телетекста
Name[se]=Ohcanmotor Teletekst
Name[si]=Teletekst සෙවුම් සැපයුම් කරු
Name[sk]=Poskytovateľ hľadania Teletekst
Name[sl]=Ponudnik iskanja po teletekstu
Name[sr]=Телетекст (Холандија)
Name[sr@ijekavian]=Телетекст (Холандија)
Name[sr@ijekavianlatin]=Teletekst (Holandija)
Name[sr@latin]=Teletekst (Holandija)
Name[sv]=Teletekst söktjänst
Name[ta]=Teletekst தேடுதல் அளிப்பான்
Name[te]=టెలిటెక్‌స్‍ట్ శోధన కర్త
Name[tg]=Провайдери ҷустуҷӯии Teletekst
Name[th]=ผู้ให้บริการการค้นหา Teleteskst
Name[tr]=Teletekst Arama Sağlayıcı
Name[ug]=Teletekst ئىزدەش تەمىنلىگۈچى
Name[uk]=Провайдер пошуку Teletekst
Name[uz]=Teletekstda qidirish
Name[uz@cyrillic]=Телетекстда қидириш
Name[vi]=Nhà cung cấp dịch vụ Tìm kiếm Teletekst
Name[wa]=Ahesseu d' cweraedje dins l' teletecse
Name[x-test]=xxTeletekst Search Providerxx
Name[zh_CN]=Teletekst 搜索提供者
Name[zh_TW]=Teletekst 搜尋提供者
Type=Service
X-KDE-ServiceTypes=SearchProvider
Keys=tt,teletekst
Query=http://teletekst.nos.nl/gif/\\{@}-01.html
Query[af]=http://teletekst.nos.nl/gif/\\{@}-01.html
Query[ar]=http://teletekst.nos.nl/gif/\\{@}-01.html
Query[as]=http://teletekst.nos.nl/gif/\\{@}-01.html
Query[ast]=http://teletekst.nos.nl/gif/\\{@}-01.html
Query[be]=http://teletekst.nos.nl/gif/\\{@}-01.html
Query[be@latin]=http://teletekst.nos.nl/gif/\\{@}-01.html
Query[bg]=http://teletekst.nos.nl/gif/\\{@}-01.html
Query[bn]=http://teletekst.nos.nl/gif/\\{@}-01.html
Query[bn_IN]=http://teletekst.nos.nl/gif/\\{@}-01.html
Query[br]=http://teletekst.nos.nl/gif/\\{@}-01.html
Query[bs]=http://teletekst.nos.nl/gif/\\{@}-01.html
Query[ca]=http://teletekst.nos.nl/gif/\\{@}-01.html
Query[ca@valencia]=http://teletekst.nos.nl/gif/\\{@}-01.html
Query[cs]=http://teletekst.nos.nl/gif/\\{@}-01.html
Query[csb]=http://teletekst.nos.nl/gif/\\{@}-01.html
Query[da]=http://teletekst.nos.nl/gif/\\{@}-01.html
Query[de]=http://teletekst.nos.nl/gif/\\{@}-01.html
Query[el]=http://teletekst.nos.nl/gif/\\{@}-01.html
Query[en_GB]=http://teletekst.nos.nl/gif/\\{@}-01.html
Query[eo]=http://teletekst.nos.nl/gif/\\{@}-01.html
Query[es]=http://teletekst.nos.nl/gif/\\{@}-01.html
Query[et]=http://teletekst.nos.nl/gif/\\{@}-01.html
Query[eu]=http://teletekst.nos.nl/gif/\\{@}-01.html
Query[fa]=http://teletekst.nos.nl/gif/\\{@}-01.html
Query[fi]=http://teletekst.nos.nl/gif/\\{@}-01.html
Query[fr]=http://teletekst.nos.nl/gif/\\{@}-01.html
Query[fy]=http://teletekst.nos.nl/gif/\\{@}-01.html
Query[ga]=http://teletekst.nos.nl/gif/\\{@}-01.html
Query[gl]=http://teletekst.nos.nl/gif/\\{@}-01.html
Query[gu]=http://teletekst.nos.nl/gif/\\{@}-01.html
Query[he]=http://teletekst.nos.nl/gif/\\{@}-01.html
Query[hi]=http://teletekst.nos.nl/gif/\\{@}-01.html
Query[hne]=http://teletekst.nos.nl/gif/\\{@}-01.html
Query[hr]=http://teletekst.nos.nl/gif/\\{@}-01.html
Query[hsb]=http://teletekst.nos.nl/gif/\\{@}-01.html
Query[hu]=http://teletekst.nos.nl/gif/\\{@}-01.html
Query[ia]=http://teletekst.nos.nl/gif/\\{@}-01.html
Query[id]=http://teletekst.nos.nl/gif/\\{@}-01.html
Query[is]=http://teletekst.nos.nl/gif/\\{@}-01.html
Query[it]=http://teletekst.nos.nl/gif/\\{@}-01.html
Query[ja]=http://teletekst.nos.nl/gif/\\{@}-01.html
Query[ka]=http://teletekst.nos.nl/gif/\\{@}-01.html
Query[kk]=http://teletekst.nos.nl/gif/\\{@}-01.html
Query[km]=http://teletekst.nos.nl/gif/\\{@}-01.html
Query[kn]=http://teletekst.nos.nl/gif/\\{@}-01.html
Query[ko]=http://teletekst.nos.nl/gif/\\{@}-01.html
Query[ku]=http://teletekst.nos.nl/gif/\\{@}-01.html
Query[lt]=http://teletekst.nos.nl/gif/\\{@}-01.html
Query[lv]=http://teletekst.nos.nl/gif/\\{@}-01.html
Query[mai]=http://teletekst.nos.nl/gif/\\{@}-01.html
Query[ml]=http://teletekst.nos.nl/gif/\\{@}-01.html
Query[mr]=http://teletekst.nos.nl/gif/\\{@}-01.html
Query[ms]=http://teletekst.nos.nl/gif/\\{@}-01.html
Query[nb]=http://teletekst.nos.nl/gif/\\{@}-01.html
Query[nds]=http://teletekst.nos.nl/gif/\\{@}-01.html
Query[ne]=http://teletekst.nos.nl/gif/\\{@}-01.html
Query[nl]=http://teletekst.nos.nl/gif/\\{@}-01.html
Query[nn]=http://teletekst.nos.nl/gif/\\{@}-01.html
Query[oc]=http://teletekst.nos.nl/gif/\\{@}-01.html
Query[or]=http://teletekst.nos.nl/gif/\\{@}-01.html
Query[pa]=http://teletekst.nos.nl/gif/\\{@}-01.html
Query[pl]=http://teletekst.nos.nl/gif/\\{@}-01.html
Query[pt]=http://teletekst.nos.nl/gif/\\{@}-01.html
Query[pt_BR]=http://teletekst.nos.nl/gif/\\{@}-01.html
Query[ro]=http://teletekst.nos.nl/gif/\\{@}-01.html
Query[ru]=http://teletekst.nos.nl/gif/\\{@}-01.html
Query[se]=http://teletekst.nos.nl/gif/\\{@}-01.html
Query[si]=http://teletekst.nos.nl/gif/\\{@}-01.html
Query[sk]=http://teletekst.nos.nl/gif/\\{@}-01.html
Query[sl]=http://teletekst.nos.nl/gif/\\{@}-01.html
Query[sr]=http://teletekst.nos.nl/gif/\\{@}-01.html
Query[sr@ijekavian]=http://teletekst.nos.nl/gif/\\{@}-01.html
Query[sr@ijekavianlatin]=http://teletekst.nos.nl/gif/\\{@}-01.html
Query[sr@latin]=http://teletekst.nos.nl/gif/\\{@}-01.html
Query[sv]=http://teletekst.nos.nl/gif/\\{@}-01.html
Query[ta]=http://teletekst.nos.nl/gif/\\{@}-01.html
Query[te]=http://teletekst.nos.nl/gif/\\{@}-01.html
Query[tg]=http://teletekst.nos.nl/gif/\\{@}-01.html
Query[th]=http://teletekst.nos.nl/gif/\\{@}-01.html
Query[tr]=http://teletekst.nos.nl/gif/\\{@}-01.html
Query[ug]=http://teletekst.nos.nl/gif/\\{@}-01.html
Query[uk]=http://teletekst.nos.nl/gif/\\{@}-01.html
Query[uz]=http://teletekst.nos.nl/gif/\\{@}-01.html
Query[uz@cyrillic]=http://teletekst.nos.nl/gif/\\{@}-01.html
Query[vi]=http://teletekst.nos.nl/gif/\\{@}-01.html
Query[wa]=http://teletekst.nos.nl/gif/\\{@}-01.html
Query[x-test]=xxhttp://teletekst.nos.nl/gif/\\{@}-01.htmlxx
Query[zh_CN]=http://teletekst.nos.nl/gif/\\{@}-01.html
Query[zh_TW]=http://teletekst.nos.nl/gif/\\{@}-01.html
