[Desktop Entry]
Keys=php
Name=PHP Search
Name[af]=PHP Soektog
Name[ar]=بحث PHP
Name[as]=PHP Search
Name[ast]=Gueta PHP
Name[be]=Пошук PHP
Name[be@latin]=Pošuk dla PHP
Name[bg]=Търсене в PHP
Name[bn]=পি-এইচ-পি অনুসন্ধান
Name[bn_IN]=PHP অনুসন্ধান
Name[br]=Klask PHP
Name[bs]=Priručnik za PHP
Name[ca]=Cerca PHP
Name[ca@valencia]=Cerca PHP
Name[cs]=Vyhledávání PHP
Name[csb]=PHP Szëkba
Name[cy]=Chwilio PHP
Name[da]=PHP-søgning
Name[de]=PHP-Suche
Name[el]=Αναζήτηση PHP
Name[en_GB]=PHP Search
Name[eo]=Serĉo en PHP
Name[es]=Búsqueda PHP
Name[et]=PHP Search
Name[eu]=PHP bilaketa
Name[fa]=جستجوی PHP
Name[fi]=PHP-haku
Name[fr]=Recherche sur PHP
Name[fy]=PHP-sykaksje
Name[ga]=Cuardach PHP
Name[gl]=Busca de PHP
Name[gu]=PHP શોધ
Name[he]=חיפוש PHP
Name[hi]=पीएचपी खोज
Name[hne]=पीएचपी खोज
Name[hr]=PHP pretraživanje
Name[hsb]=PHP pytanje
Name[hu]=PHP Search
Name[ia]=Cerca PHP
Name[id]=Pencarian PHP
Name[is]=PHP leit
Name[it]=Ricerca PHP
Name[ja]=PHP 検索
Name[ka]=PHP ძიება
Name[kk]=PHP іздеуі
Name[km]=ការ​ស្វែងរក PHP
Name[kn]=PHP ಹುಡುಕಾಟ
Name[ko]=PHP 검색
Name[ku]=Lêgerîna PHP'ê
Name[lt]=PHP paieška
Name[lv]=PHP meklēšana
Name[mai]=पीएचपी खोज
Name[mk]=Пребарување за PHP
Name[ml]=പിഎച്പി (PHP) തെരച്ചില്‍
Name[mr]=PHP शोध
Name[ms]=Carian PHP
Name[nb]=PHP-søk
Name[nds]=PHP-Söök
Name[ne]=PHP खोजी
Name[nl]=PHP-zoekactie
Name[nn]=PHP-søk
Name[or]=PHP ସନ୍ଧାନ
Name[pa]=PHP ਖੋਜ
Name[pl]=PHP (język skryptowy)- dokumentacja
Name[pt]=Pesquisa de PHP
Name[pt_BR]=Busca PHP
Name[ro]=Căutare PHP
Name[ru]=Документация по PHP
Name[se]=PHP-ohcan
Name[si]=PHP සෙවුම
Name[sk]=Hľadanie PHP
Name[sl]=Iskanje po PHP
Name[sr]=Приручник за ПХП
Name[sr@ijekavian]=Приручник за ПХП
Name[sr@ijekavianlatin]=Priručnik za PHP
Name[sr@latin]=Priručnik za PHP
Name[sv]=PHP search
Name[ta]=PHP தேடு
Name[te]=పి హెచ్ పి అన్వెషణ
Name[tg]=Ҷустуҷӯи PHP
Name[th]=ค้นหาเกี่ยวกับ PHP
Name[tr]=PHP Arayıcı
Name[ug]=PHP ئىزدە
Name[uk]=Пошук PHP
Name[uz]=PHP qidirish
Name[uz@cyrillic]=PHP қидириш
Name[vi]=Tìm kiếm PHP
Name[wa]=Cweraedje PHP
Name[xh]=Uphendlo lwe PHP
Name[x-test]=xxPHP Searchxx
Name[zh_CN]=PHP 搜索
Name[zh_TW]=PHP 搜尋
Query=http://www.php.net/manual-lookup.php?pattern=\\{@}
Query[ar]=http://www.php.net/manual-lookup.php?pattern=\\{@}
Query[ast]=http://www.php.net/manual-lookup.php?pattern=\\{@}
Query[bg]=http://www.php.net/manual-lookup.php?pattern=\\{@}
Query[bn]=http://www.php.net/manual-lookup.php?pattern=\\{@}
Query[bs]=http://www.php.net/manual-lookup.php?pattern=\\{@}
Query[ca]=http://www.php.net/manual-lookup.php?pattern=\\{@}
Query[ca@valencia]=http://www.php.net/manual-lookup.php?pattern=\\{@}
Query[cs]=http://www.php.net/manual-lookup.php?pattern=\\{@}
Query[da]=http://www.php.net/manual-lookup.php?pattern=\\{@}
Query[de]=http://www.php.net/manual-lookup.php?pattern=\\{@}
Query[el]=http://www.php.net/manual-lookup.php?pattern=\\{@}
Query[en_GB]=http://www.php.net/manual-lookup.php?pattern=\\{@}
Query[eo]=http://www.php.net/manual-lookup.php?pattern=\\{@}
Query[es]=http://www.php.net/manual-lookup.php?pattern=\\{@}
Query[et]=http://www.php.net/manual-lookup.php?pattern=\\{@}
Query[eu]=http://www.php.net/manual-lookup.php?pattern=\\{@}
Query[fa]=http://www.php.net/manual-lookup.php?pattern=\\{@}
Query[fi]=http://www.php.net/manual-lookup.php?pattern=\\{@}
Query[fr]=http://www.php.net/manual-lookup.php?pattern=\\{@}
Query[ga]=http://www.php.net/manual-lookup.php?pattern=\\{@}
Query[gl]=http://www.php.net/manual-lookup.php?pattern=\\{@}
Query[gu]=http://www.php.net/manual-lookup.php?pattern=\\{@}
Query[he]=http://www.php.net/manual-lookup.php?pattern=\\{@}
Query[hi]=http://www.php.net/manual-lookup.php?pattern=\\{@}
Query[hr]=http://www.php.net/manual-lookup.php?pattern=\\{@}
Query[hu]=http://www.php.net/manual-lookup.php?pattern=\\{@}
Query[ia]=http://www.php.net/manual-lookup.php?pattern=\\{@}
Query[id]=http://www.php.net/manual-lookup.php?pattern=\\{@}
Query[is]=http://www.php.net/manual-lookup.php?pattern=\\{@}
Query[it]=http://www.php.net/manual-lookup.php?pattern=\\{@}
Query[ja]=http://www.php.net/manual-lookup.php?pattern=\\{@}
Query[kk]=http://www.php.net/manual-lookup.php?pattern=\\{@}
Query[km]=http://www.php.net/manual-lookup.php?pattern=\\{@}
Query[kn]=http://www.php.net/manual-lookup.php?pattern=\\{@}
Query[ko]=http://www.php.net/manual-lookup.php?pattern=\\{@}
Query[lt]=http://www.php.net/manual-lookup.php?pattern=\\{@}
Query[lv]=http://www.php.net/manual-lookup.php?pattern=\\{@}
Query[ml]=http://www.php.net/manual-lookup.php?pattern=\\{@}
Query[mr]=http://www.php.net/manual-lookup.php?pattern=\\{@}
Query[nb]=http://www.php.net/manual-lookup.php?pattern=\\{@}
Query[nds]=http://www.php.net/manual-lookup.php?pattern=\\{@}
Query[nl]=http://www.php.net/manual-lookup.php?pattern=\\{@}
Query[nn]=http://www.php.net/manual-lookup.php?pattern=\\{@}
Query[pa]=http://www.php.net/manual-lookup.php?pattern=\\{@}
Query[pl]=http://www.php.net/manual-lookup.php?pattern=\\{@}
Query[pt]=http://www.php.net/manual-lookup.php?pattern=\\{@}
Query[pt_BR]=http://www.php.net/manual-lookup.php?pattern=\\{@}
Query[ro]=http://www.php.net/manual-lookup.php?pattern=\\{@}
Query[ru]=http://www.php.net/manual-lookup.php?pattern=\\{@}
Query[si]=http://www.php.net/manual-lookup.php?pattern=\\{@}
Query[sk]=http://www.php.net/manual-lookup.php?pattern=\\{@}
Query[sl]=http://www.php.net/manual-lookup.php?pattern=\\{@}
Query[sr]=http://www.php.net/manual-lookup.php?pattern=\\{@}
Query[sr@ijekavian]=http://www.php.net/manual-lookup.php?pattern=\\{@}
Query[sr@ijekavianlatin]=http://www.php.net/manual-lookup.php?pattern=\\{@}
Query[sr@latin]=http://www.php.net/manual-lookup.php?pattern=\\{@}
Query[sv]=http://www.php.net/manual-lookup.php?pattern=\\{@}
Query[tg]=http://www.php.net/manual-lookup.php?pattern=\\{@}
Query[th]=http://www.php.net/manual-lookup.php?pattern=\\{@}
Query[tr]=http://www.php.net/manual-lookup.php?pattern=\\{@}
Query[ug]=http://www.php.net/manual-lookup.php?pattern=\\{@}
Query[uk]=http://www.php.net/manual-lookup.php?pattern=\\{@}
Query[vi]=http://www.php.net/manual-lookup.php?pattern=\\{@}
Query[wa]=http://www.php.net/manual-lookup.php?pattern=\\{@}
Query[x-test]=xxhttp://www.php.net/manual-lookup.php?pattern=\\{@}xx
Query[zh_CN]=http://www.php.net/manual-lookup.php?pattern=\\{@}
Query[zh_TW]=http://www.php.net/manual-lookup.php?pattern=\\{@}"}&pattern=\\{@}
X-KDE-ServiceTypes=SearchProvider
Type=Service
