[Desktop Entry]
Charset=
Hidden=false
Keys=qt
Name=Latest Qt Online Documentation
Name[af]=Nuutste Qt Aanlyn Dokumentasie
Name[ar]=أحدث وثائق  Qt المباشرة
Name[as]=শেহতীয়া Qt অন-লাইন আলেখ্যন
Name[ast]=Cabera documentación Qt en llinia
Name[be]=Найноўшая дакументацыя па Qt
Name[be@latin]=Dakumentacyja dla „Qt”
Name[bg]=Последна документация на Qt
Name[bn]=কিউ-টি অনলাইন ডকুমেন্টেশন
Name[bn_IN]=Qt সংক্রান্ত সাম্প্রতিক নথিপত্র
Name[bs]=Najnovija dokumentacija KuT‑a na vezi
Name[ca]=L'última documentació en línia de Qt
Name[ca@valencia]=L'última documentació en línia de Qt
Name[cs]=Nejnovější online dokumentace Qt
Name[csb]=Slédnô dokùmentacëjô Qt
Name[cy]=Dogfennaeth Diweddar QT Online
Name[da]=Nyeste Qt online-dokumentation
Name[de]=Aktuelle Qt-Online-Dokumentation
Name[el]=Τελευταία τεκμηρίωση του Qt στο διαδίκτυο
Name[en_GB]=Latest Qt Online Documentation
Name[eo]=La plej aktuala reta dokumentado de Qt
Name[es]=Ultima documentación Qt en línea
Name[et]=Qt uusim dokumentatsioon võrgus
Name[eu]=Azken Qt lineako dokumentazioa
Name[fa]=آخرین مستندات برخط Qt
Name[fi]=Uusin Qt-dokumentaatio
Name[fr]=La dernière version de la documentation en ligne de Qt
Name[fy]=Nijste Qt Online-dokumintaasje
Name[ga]=Doiciméadú Ar Líne Is Déanaí Qt4
Name[gl]=Última documentación en liña de Qt
Name[gu]=તાજેતરનાં Qt ઓનલાઇન દસ્તાવેજ
Name[he]=התיעוד המקוון העדכני ביותר של Qt
Name[hi]=नवीनतम क्यूटी आनलाइन दस्तावेज़
Name[hne]=एकदम नवा क्यूटी आनलाइन कागद
Name[hr]=Najnovija Qt dokumentacija na Internetu
Name[hsb]=Online-dokumentacija najnowšeho Qt
Name[hu]=A legfrissebb webes Qt dokumentáció
Name[ia]=Ultime documentation in linea de Qt
Name[id]=Dokumentasi Daring Qt Terkini
Name[is]=Nýjustu Qt handbækurnar
Name[it]=Ultima documentazione in rete delle Qt
Name[ja]=Qt 最新オンラインドキュメント
Name[kk]=Qt-ның ең жаңа желідегі құжаттамасы
Name[km]=ឯកសារ​ថ្មី​បំផុត​លើ​បណ្ដាញ​របស់ Qt
Name[kn]=ಇತ್ತೀಚಿನ  ಕ್ಯೂಟಿ ಜಾಲಲಭ್ಯ ದಸ್ತಾವೇಜೀಕರಣ
Name[ko]=최신 Qt 온라인 문서
Name[ku]=Belgekirinên Girêdayî ên Qt ên Dawî
Name[lt]=Naujausia Qt dokumentacija tinkle
Name[lv]=Jaunākā Qt dokumentācija tīmeklī
Name[mai]=नवीनतम क्यूटी आनलाइन दस्ताबेज
Name[mk]=Последната Qt-документација на мрежа
Name[ml]=ക്യട്ടിയുടെ ഓണ്‍ലൈനായുള്ള ഏറ്റവും പുതിയ സഹായക്കുറിപ്പുകള്‍
Name[mr]=नवीनतम Qt ऑनलाइन दस्तऐवज
Name[ms]=Dokumentasi Dalam Talian Kuantiti Terakhir
Name[nb]=Nyeste QT-dokumentasjon på nett
Name[nds]=Niegst Online-Dokmentatschoon vun Qt
Name[ne]=नवीनतम Qt अनलाइन मिसिलीकरण
Name[nl]=Nieuwste Qt Online-documentatie
Name[nn]=Nyaste QT-dokumentasjon på nett
Name[or]=ନୂତନତମ Qt ଅନଲାଇନ ଦଲିଲିକରଣ
Name[pa]=ਤਾਜ਼ਾ Qt ਆਨਲਾਈਨ ਡੌਕੂਮੈਂਟ
Name[pl]=Najnowsza dokumentacja Qt
Name[pt]=Última Documentação 'Online' do Qt
Name[pt_BR]=Documentação on-line recente sobre o Qt
Name[ro]=Documentația Qt on-line
Name[ru]=Документация по последней версии Qt
Name[se]=Ođđamus Qt-dokumentašuvdna fierpmádagas
Name[si]=අළුත්ම Qt මාර්ගගත ලේඛන
Name[sk]=Najnovšia online dokumentácia Qt
Name[sl]=Spletna dokumentacija za najnovejši Qt
Name[sr]=Најновија документација КуТ‑а на вези
Name[sr@ijekavian]=Најновија документација КуТ‑а на вези
Name[sr@ijekavianlatin]=Najnovija dokumentacija Qt‑a na vezi
Name[sr@latin]=Najnovija dokumentacija Qt‑a na vezi
Name[sv]=Senaste Qt-direktdokumentation
Name[ta]=புதிய க்யூ டீ இணை ஆவணப்பதிவு
Name[te]=సరికొత్త Qt ఆన్‌లైన్ పత్రికీకరణ
Name[tg]=Китобҳои навтарини онлайни Qt
Name[th]=เอกสารออนไลน์ล่าสุดเกี่ยวกับ Qt
Name[tr]=Güncel Qt Dokümantasyonu
Name[ug]=ئەڭ يېڭى Qt3 توردىكى پۈتۈكلىرى
Name[uk]=Найсвіжіша документація з Qt у мережі
Name[uz]=Qt uchun koʻllanma
Name[uz@cyrillic]=Qt учун кўлланма
Name[vi]=Tài liệu Trực tuyến Mới nhất của Qt
Name[wa]=Documintåcion di Qt so les fyis
Name[x-test]=xxLatest Qt Online Documentationxx
Name[zh_CN]=最新的 Qt 在线文档
Name[zh_TW]=最新的 Qt 線上文件
Query=http://qt-project.org/doc/search/qt-5.0?search=\\{@}
Query[bg]=http://qt-project.org/doc/search/qt-5.0?search=\\{@}
Query[bs]=http://qt-project.org/doc/search/qt-5.0?search=\\{@}
Query[ca]=http://qt-project.org/doc/search/qt-5.0?search=\\{@}
Query[ca@valencia]=http://qt-project.org/doc/search/qt-5.0?search=\\{@}
Query[cs]=http://qt-project.org/doc/search/qt-5.0?search=\\{@}
Query[da]=http://qt-project.org/doc/search/qt-5.0?search=\\{@}
Query[de]=http://qt-project.org/doc/search/qt-5.0?search=\\{@}
Query[el]=http://qt-project.org/doc/search/qt-5.0?search=\\{@}
Query[es]=http://qt-project.org/doc/search/qt-5.0?search=\\{@}
Query[eu]=http://qt-project.org/doc/search/qt-5.0?search=\\{@}
Query[fi]=http://qt-project.org/doc/search/qt-5.0?search=\\{@}
Query[fr]=http://qt-project.org/doc/search/qt-5.0?search=\\{@}
Query[gl]=http://qt-project.org/doc/search/qt-5.0?search=\\{@}
Query[hi]=http://qt-project.org/doc/search/qt-5.0?search=\\{@}
Query[hu]=http://qt-project.org/doc/search/qt-5.0?search=\\{@}
Query[ia]=http://qt-project.org/doc/search/qt-5.0?search=\\{@}
Query[is]=http://qt-project.org/doc/search/qt-5.0?search=\\{@}
Query[it]=http://qt-project.org/doc/search/qt-5.0?search=\\{@}
Query[ja]=http://qt-project.org/doc/search/qt-5.0?search=\\{@}
Query[kk]=http://qt-project.org/doc/search/qt-5.0?search=\\{@}
Query[ko]=http://qt-project.org/doc/search/qt-5.0?search=\\{@}
Query[lt]=http://qt-project.org/doc/search/qt-5.0?search=\\{@}
Query[nb]=http://qt-project.org/doc/search/qt-5.0?search=\\{@}
Query[nl]=http://qt-project.org/doc/search/qt-5.0?search=\\{@}
Query[nn]=http://qt-project.org/doc/search/qt-5.0?search=\\{@}
Query[pa]=http://qt-project.org/doc/search/qt-5.0?search=\\{@}
Query[pl]=http://qt-project.org/doc/search/qt-5.0?search=\\{@}
Query[pt]=http://qt-project.org/doc/search/qt-5.0?search=\\{@}
Query[pt_BR]=http://qt-project.org/doc/search/qt-5.0?search=\\{@}
Query[ro]=http://qt-project.org/doc/search/qt-5.0?search=\\{@}
Query[ru]=http://qt-project.org/doc/search/qt-5.0?search=\\{@}
Query[sk]=http://qt-project.org/doc/search/qt-5.0?search=\\{@}
Query[sl]=http://qt-project.org/doc/search/qt-5.0?search=\\{@}
Query[sr]=http://qt-project.org/doc/search/qt-5.0?search=\\{@}
Query[sr@ijekavian]=http://qt-project.org/doc/search/qt-5.0?search=\\{@}
Query[sr@ijekavianlatin]=http://qt-project.org/doc/search/qt-5.0?search=\\{@}
Query[sr@latin]=http://qt-project.org/doc/search/qt-5.0?search=\\{@}
Query[sv]=http://qt-project.org/doc/search/qt-5.0?search=\\{@}
Query[tr]=http://qt-project.org/doc/search/qt-5.0?search=\\{@}
Query[ug]=http://qt-project.org/doc/search/qt-4.8?search=\\{@}
Query[uk]=http://qt-project.org/doc/search/qt-5.0?search=\\{@}
Query[wa]=http://qt-project.org/doc/search/qt-5.0?search=\\{@}
Query[x-test]=xxhttp://qt-project.org/doc/search/qt-5.0?search=\\{@}xx
Query[zh_CN]=http://qt-project.org/doc/search/qt-5.0?search=\\{@}
Query[zh_TW]=http://qt-project.org/doc/search/qt-5.0?search=\\{@}
X-KDE-ServiceTypes=SearchProvider
Type=Service
