[Desktop Entry]
Charset=
Hidden=false
Keys=rag
Name=Dictionary of the Galician Academy (RAG)
Name[bg]=Речник на галисийската академия (RAG)
Name[bs]=Rječnik Galeške akademije (RAG)
Name[ca]=Diccionari de l'Acadèmia Gallega (RAG)
Name[ca@valencia]=Diccionari de l'Acadèmia Gallega (RAG)
Name[cs]=Slovník Galicijské akademie (RAG)
Name[da]=Ordbog fra det galisiske akademi (RAG)
Name[de]=Lexikon der galizischen Akademie (RAG)
Name[el]=Λεξικό της γαλικιανής ακαδημίας (RAG)
Name[es]=Diccionario de la Real Academia Gallega (RAG)
Name[eu]=Galiziera Akademiaren Hiztegia (RAG)
Name[fi]=Galician Akatemian sanakirja (RAG)
Name[fr]=Dictionnaire de l'Académie de Galice (RAG)
Name[gl]=Dicionario da Real Academia Galega (RAG)
Name[hu]=A Gall Akadémia címjegyzéke (RAG)
Name[ia]=Dictionario del Academia Galician (RAG)
Name[is]=Orðabók galisísku akademíunnar (RAG)
Name[it]=Dizionario dell'Accademia Gallega (RAE)
Name[kk]=Галисия Академиясының сөздігі (RAG)
Name[nb]=Ordboka til det galiciske akademiet (RAG)
Name[nl]=Woordenboek van de Gallische Academie (RAE)
Name[nn]=Ordboka til det galisiske akademiet (RAG)
Name[pa]=ਗਾਲੀਸੀਅਨ ਐਕਡਮੀ ਦਾ ਡਿਕਸ਼ਨਰੀ (RAG)
Name[pt]=Dicionário da Academia Galega (RAG)
Name[pt_BR]=Dicionário da Academia Galega (RAG)
Name[ro]=Dicționarul Academiei Galiciene (RAG)
Name[ru]=Словарь Галисийской Академии (RAG)
Name[sk]=Slovník Galícijskej akadémie (RAG)
Name[sl]=Slovar Galicijske akademije (RAG)
Name[sr]=Речник Галицијске академије (РАГ)
Name[sr@ijekavian]=Речник Галицијске академије (РАГ)
Name[sr@ijekavianlatin]=Rečnik Galicijske akademije (RAG)
Name[sr@latin]=Rečnik Galicijske akademije (RAG)
Name[sv]=Galiciska akademins ordbok (RAG)
Name[tr]=Galiçya Akademisinin Sözlüğü (RAG)
Name[ug]=گالىتسىيان تىلى ئاكادېمىيىسىنىڭ لۇغىتى(RAG)
Name[uk]=Словник галісійської академії (RAG)
Name[x-test]=xxDictionary of the Galician Academy (RAG)xx
Name[zh_TW]=西班牙加里西亞學院字典 (RAG)
Query=http://www.realacademiagalega.org/dicionario#searchNoun.do?nounTitle=\\{@}
Query[bg]=http://www.realacademiagalega.org/dicionario#searchNoun.do?nounTitle=\\{@}
Query[bs]=http://www.realacademiagalega.org/dicionario#searchNoun.do?nounTitle=\\{@}
Query[ca]=http://www.realacademiagalega.org/dicionario#searchNoun.do?nounTitle=\\{@}
Query[ca@valencia]=http://www.realacademiagalega.org/dicionario#searchNoun.do?nounTitle=\\{@}
Query[cs]=http://www.realacademiagalega.org/dicionario#searchNoun.do?nounTitle=\\{@}
Query[da]=http://www.realacademiagalega.org/dicionario#searchNoun.do?nounTitle=\\{@}
Query[de]=http://www.realacademiagalega.org/dicionario#searchNoun.do?nounTitle=\\{@}
Query[el]=http://www.realacademiagalega.org/dicionario#searchNoun.do?nounTitle=\\{@}
Query[es]=http://www.realacademiagalega.org/dicionario#searchNoun.do?nounTitle=\\{@}
Query[eu]=http://www.realacademiagalega.org/dicionario#searchNoun.do?nounTitle=\\{@}
Query[fi]=http://www.realacademiagalega.org/dicionario#searchNoun.do?nounTitle=\\{@}
Query[fr]=http://www.realacademiagalega.org/dicionario#searchNoun.do?nounTitle=\\{@}
Query[gl]=http://www.realacademiagalega.org/dicionario#searchNoun.do?nounTitle=\\{@}
Query[hi]=http://www.realacademiagalega.org/dicionario#searchNoun.do?nounTitle=\\{@}
Query[hu]=http://www.realacademiagalega.org/dicionario#searchNoun.do?nounTitle=\\{@}
Query[ia]=http://www.realacademiagalega.org/dicionario#searchNoun.do?nounTitle=\\{@}
Query[is]=http://www.realacademiagalega.org/dicionario#searchNoun.do?nounTitle=\\{@}
Query[it]=http://www.realacademiagalega.org/dicionario#searchNoun.do?nounTitle=\\{@}
Query[kk]=http://www.realacademiagalega.org/dicionario#searchNoun.do?nounTitle=\\{@}
Query[nb]=http://www.realacademiagalega.org/dicionario#searchNoun.do?nounTitle=\\{@}
Query[nl]=http://www.realacademiagalega.org/dicionario#searchNoun.do?nounTitle=\\{@}
Query[nn]=http://www.realacademiagalega.org/dicionario#searchNoun.do?nounTitle=\\{@}
Query[pa]=http://www.realacademiagalega.org/dicionario#searchNoun.do?nounTitle=\\{@}
Query[pt]=http://www.realacademiagalega.org/dicionario#searchNoun.do?nounTitle=\\{@}
Query[pt_BR]=http://www.realacademiagalega.org/dicionario#searchNoun.do?nounTitle=\\{@}
Query[ro]=http://www.realacademiagalega.org/dicionario#searchNoun.do?nounTitle=\\{@}
Query[ru]=http://www.realacademiagalega.org/dicionario#searchNoun.do?nounTitle=\\{@}
Query[sk]=http://www.realacademiagalega.org/dicionario#searchNoun.do?nounTitle=\\{@}
Query[sl]=http://www.realacademiagalega.org/dicionario#searchNoun.do?nounTitle=\\{@}
Query[sr]=http://www.realacademiagalega.org/dicionario#searchNoun.do?nounTitle=\\{@}
Query[sr@ijekavian]=http://www.realacademiagalega.org/dicionario#searchNoun.do?nounTitle=\\{@}
Query[sr@ijekavianlatin]=http://www.realacademiagalega.org/dicionario#searchNoun.do?nounTitle=\\{@}
Query[sr@latin]=http://www.realacademiagalega.org/dicionario#searchNoun.do?nounTitle=\\{@}
Query[sv]=http://www.realacademiagalega.org/dicionario#searchNoun.do?nounTitle=\\{@}
Query[tr]=http://www.realacademiagalega.org/dicionario#searchNoun.do?nounTitle=\\{@}
Query[ug]=http://www.realacademiagalega.org/dicionario#searchNoun.do?nounTitle=\\{@}
Query[uk]=http://www.realacademiagalega.org/dicionario#searchNoun.do?nounTitle=\\{@}
Query[x-test]=xxhttp://www.realacademiagalega.org/dicionario#searchNoun.do?nounTitle=\\{@}xx
Query[zh_TW]=http://www.realacademiagalega.org/dicionario#searchNoun.do?nounTitle=\\{@}
X-KDE-ServiceTypes=SearchProvider
Type=Service
