[Desktop Entry]
Keys=rfc,rfcs
Name=IETF Requests for Comments
Name[af]=IETF Versoeke vir Kommentaar
Name[ar]=المطالبة  بالتعليق من فريق مهندسي عمل الإنترنت
Name[as]=IETF Requests for Comments
Name[ast]=IETF Requests for Comments
Name[be]=Запыты каментараў IETF
Name[be@latin]=IETF: dakumenty RFC
Name[bg]=IETF Requests for Comments
Name[bn]=IETF Requests for Comments
Name[bs]=IETF‑ovi zahtjevi za komentare
Name[ca]=Requeriments per a comentaris de l'IETF
Name[ca@valencia]=Requeriments per a comentaris de l'IETF
Name[cs]=IETF Requests for Comments
Name[csb]=IETF - dokùmentë RFC (sztandardë ë protokòłë)
Name[cy]=Ceisiadau am Sylwadau IETF
Name[da]=IETF Requests for Comments
Name[de]=IETF Requests for Comments
Name[el]=IETF ερωτήσεις για σχόλια
Name[en_GB]=IETF Requests for Comments
Name[eo]=Postuloj de komentoj IETF
Name[es]=IETF Requests for Comments
Name[et]=IETF Requests for Comments
Name[eu]=IETF Iruzkinen eskaera (RFC)
Name[fa]=درخواست IETF برای توضیحات
Name[fi]=IETF-kommenttipyynnöt (RFC)
Name[fr]=RFC IETF
Name[fy]=IETF Requests for Comments
Name[ga]=Iarratais ar Thrácht IETF
Name[gl]=Pedidos de comentarios da IETF
Name[gu]=IETF રીકવેસ્ટ ફોર કોમેન્ટ્સ
Name[he]=IETF Requests for Comments
Name[hi]=IETF निवेदन, टिप्पणी के लिए
Name[hne]=IETF निवेदन, टिप्पनी बर
Name[hr]=IETF zahtjevi za komentarima
Name[hsb]=IETF-próstwy wo přispomnjenja
Name[hu]=IETF RFC-k (Request for Comments)
Name[ia]=IETF Requestas pro Commentos
Name[id]=Permintaan IETF untuk Komentar
Name[is]=IETF Requests for Comments (RFC)
Name[it]=Richieste di commenti di IETF
Name[ja]=IETF Requests for Comments
Name[kk]=IETF пайымдаманы сұрау (RFC)
Name[km]=សំណើ​សុំ​មតិ​យោបល់​តាម​រយៈ IETF
Name[kn]=IETF ಟೀಕೆಗಳಿಗೆ ಕೋರಿಕೆ (ರಿಕ್ವೆಸ್ಟ್ ಫಾರ್ ಕಾಮೆಂಟ್ಸ್)
Name[ko]=IETF RFC
Name[ku]=Daxwazên IETF ji bo şîroveyan
Name[lt]=IETF Requests for Comments
Name[lv]=IETF komentāru pieprasījumi (RFC)
Name[mai]=IETF निवेदन, टिप्पणी कए लेल
Name[mk]=IETF Барања за коментари (rfc)
Name[ml]=ഐഇടിഎഫ് റിക്വസ്റ്റ് ഫോര്‍ കമന്റ്സ്
Name[mr]=टिप्पणी करिता IETF निवेदन
Name[ms]=Permintaan Komen IETF
Name[nb]=IETF Requests for Comments
Name[nds]=RFCs (IETF-"Requests for Comments")
Name[ne]=टिप्पणीका लागि IETF अनुरोध
Name[nl]=IETF Requests for Comments
Name[nn]=IETF Requests for Comments
Name[or]=IETF Requests for Comments
Name[pa]=ਟਿੱਪਣੀ ਲਈ IETF ਬੇਨਤੀ
Name[pl]=IETF - dokumenty RFC (standardy i protokoły)
Name[pt]=Pedidos de Comentários do IETF
Name[pt_BR]=Requisições de comentários IETF
Name[ro]=RFC-uri IETF
Name[ru]=Поиск по RFC
Name[se]=IETF Requests for Comments
Name[si]=ප්‍රතිචාර සඳහා IETF ඉල්ලීම්
Name[sk]=IETF Requests for Comments
Name[sl]=Zahteve IETF za opombe
Name[sr]=ИЕТФ‑ови захтеви за коментаре
Name[sr@ijekavian]=ИЕТФ‑ови захтјеви за коментаре
Name[sr@ijekavianlatin]=IETF‑ovi zahtjevi za komentare
Name[sr@latin]=IETF‑ovi zahtevi za komentare
Name[sv]=IETF Requests for Comments
Name[ta]=IETF குறிப்புகளுக்கான வேண்டுதல்கள்
Name[te]=వ్యాఖ్యానముల కొరకు IETF అభ్యర్ధనలు
Name[tg]=Дархостҳо барои шарҳҳои IETF
Name[th]=การร้องขอ IETF สำหรับคำอธิบาย
Name[tr]=IETF Yorum istemleri
Name[ug]=IETF باھالاش ئىلتىماسى
Name[uk]=Запит коментарів (RFC) IETF
Name[vi]=Yêu cầu bình luận IETF
Name[wa]=Dimande di rawetes IETF
Name[xh]=Izicelo Zogqabazo ze IETF
Name[x-test]=xxIETF Requests for Commentsxx
Name[zh_CN]=IETF 评论请求
Name[zh_TW]=IETF RFC 文件
Query=http://tools.ietf.org/id/\\{@}
Query[bg]=http://tools.ietf.org/id/\\{@}
Query[bs]=http://tools.ietf.org/id/\\{@}
Query[ca]=http://tools.ietf.org/id/\\{@}
Query[ca@valencia]=http://tools.ietf.org/id/\\{@}
Query[cs]=http://tools.ietf.org/id/\\{@}
Query[da]=http://tools.ietf.org/id/\\{@}
Query[de]=http://tools.ietf.org/id/\\{@}
Query[el]=http://tools.ietf.org/id/\\{@}
Query[es]=http://tools.ietf.org/id/\\{@}
Query[eu]=http://tools.ietf.org/id/\\{@}
Query[fi]=http://tools.ietf.org/id/\\{@}
Query[fr]=http://tools.ietf.org/id/\\{@}
Query[gl]=http://tools.ietf.org/id/\\{@}
Query[hi]=http://tools.ietf.org/id/\\{@}
Query[hu]=http://tools.ietf.org/id/\\{@}
Query[ia]=http://tools.ietf.org/id/\\{@}
Query[is]=http://tools.ietf.org/id/\\{@}
Query[it]=http://tools.ietf.org/id/\\{@}
Query[ja]=http://tools.ietf.org/id/\\{@}
Query[kk]=http://tools.ietf.org/id/\\{@}
Query[ko]=http://tools.ietf.org/id/\\{@}
Query[lt]=http://tools.ietf.org/id/\\{@}
Query[nb]=http://tools.ietf.org/id/\\{@}
Query[nl]=http://tools.ietf.org/id/\\{@}
Query[nn]=http://tools.ietf.org/id/\\{@}
Query[pa]=http://tools.ietf.org/id/\\{@}
Query[pl]=http://tools.ietf.org/id/\\{@}
Query[pt]=http://tools.ietf.org/id/\\{@}
Query[pt_BR]=http://tools.ietf.org/id/\\{@}
Query[ro]=http://tools.ietf.org/id/\\{@}
Query[ru]=http://tools.ietf.org/id/\\{@}
Query[sk]=http://tools.ietf.org/id/\\{@}
Query[sl]=http://tools.ietf.org/id/\\{@}
Query[sr]=http://tools.ietf.org/id/\\{@}
Query[sr@ijekavian]=http://tools.ietf.org/id/\\{@}
Query[sr@ijekavianlatin]=http://tools.ietf.org/id/\\{@}
Query[sr@latin]=http://tools.ietf.org/id/\\{@}
Query[sv]=http://tools.ietf.org/id/\\{@}
Query[tr]=http://tools.ietf.org/id/\\{@}
Query[ug]=http://tools.ietf.org/id/\\{@}
Query[uk]=http://tools.ietf.org/id/\\{@}
Query[wa]=http://tools.ietf.org/id/\\{@}
Query[x-test]=xxhttp://tools.ietf.org/id/\\{@}xx
Query[zh_CN]=http://tools.ietf.org/id/\\{@}
Query[zh_TW]=http://tools.ietf.org/id/\\{@}
X-KDE-ServiceTypes=SearchProvider
Type=Service
