[Desktop Entry]
Type=Service
Name=RPM-Find
Name[af]=RPM-Vind
Name[ar]=ابحث - RPM
Name[as]=RPM-Find
Name[ast]=RPM-Find
Name[be]=Пошук RPM
Name[be@latin]=Pošuk pakunka „RPM”
Name[bg]=Търсене на пакети RPM
Name[bn]=RPM-Find
Name[bn_IN]=RPM-Find
Name[br]=RPM-Find
Name[bs]=RPM‑traženje
Name[ca]=RPM-Find
Name[ca@valencia]=RPM-Find
Name[cs]=RPM-Find
Name[csb]=Rpmfind - szëkôrz paczétów RPM
Name[cy]=RPM-Find
Name[da]=RPM-Find
Name[de]=RPM-Suche
Name[el]=RPM-Αναζήτηση
Name[en_GB]=RPM-Find
Name[eo]=RPM-trovilo
Name[es]=RPM-Find
Name[et]=RPM-Find
Name[eu]=RPM-Find
Name[fa]=یافتن RPM
Name[fi]=RPM-haku
Name[fr]=Recherche de paquets RPM
Name[fy]=RPM-Find
Name[ga]=RPM-Find
Name[gl]=RPM-Find
Name[gu]=RPM-શોધ
Name[he]=RPM-Find
Name[hi]=आरपीएम-फाइंड
Name[hne]=आरपीएम-फाइंड
Name[hr]=RPM traženje
Name[hsb]=RPM-Find
Name[hu]=RPM-Find
Name[ia]=RPM-Find
Name[id]=RPM-Find
Name[is]=RPM-leit
Name[it]=Trova RPM
Name[ja]=RPM-Find
Name[ka]=RPM-პოვნა
Name[kk]=RPM-ды табу
Name[km]=រក RPM
Name[kn]=RPM-ಹುಡುಕಾಟ
Name[ko]=RPM 찾기
Name[ku]=RPM-Find
Name[lt]=RPM-Find
Name[lv]=RPM-Meklēšana
Name[mai]=आरपीएम-फाइंड
Name[mk]=RPM-барање
Name[ml]=RPM-തെരയുക
Name[mr]=TV-फाइंड
Name[ms]=RPM-Find
Name[nb]=RPM-Søk
Name[nds]=RPM-Find
Name[ne]=RPM-फेला पार्नुहोस्
Name[nl]=RPM-Find
Name[nn]=RPM-Find
Name[or]=RPM-Find
Name[pa]=RPM-Find
Name[pl]=Rpmfind - wyszukiwarka pakietów RPM
Name[pt]=RPM-Find
Name[pt_BR]=RPM-Find
Name[ro]=Căutare pachete RPM
Name[ru]=Поиск RPM
Name[se]=RPM-Find
Name[si]=RPM-සෙවුම
Name[sk]=RPM-Find
Name[sl]=RPM-Find
Name[sr]=РПМ‑тражење
Name[sr@ijekavian]=РПМ‑тражење
Name[sr@ijekavianlatin]=RPM‑traženje
Name[sr@latin]=RPM‑traženje
Name[sv]=RPM-Find
Name[ta]=RPM-தேடு
Name[te]=RPM-Find
Name[tg]=Ҷустуҷӯи RPM
Name[th]=บริการค้นหา RPM
Name[tr]=RPM-Find
Name[ug]=RPM-Find
Name[uk]=RPM-Find
Name[uz]=RPM qidirish
Name[uz@cyrillic]=RPM қидириш
Name[vi]=Tìm RPM
Name[wa]=RPM-Find
Name[xh]=RPM-Fumana
Name[x-test]=xxRPM-Findxx
Name[zh_CN]=RPM-Find
Name[zh_TW]=RPM-Find
X-KDE-ServiceTypes=SearchProvider
Keys=rf,rpmfind
Query=http://www.rpmfind.net/linux/rpm2html/search.php?query=\\{@}
Query[af]=http://www.rpmfind.net/linux/rpm2html/search.php?query=\\{@}
Query[ar]=http://www.rpmfind.net/linux/rpm2html/search.php?query=\\{@}
Query[as]=http://www.rpmfind.net/linux/rpm2html/search.php?query=\\{@}
Query[ast]=http://www.rpmfind.net/linux/rpm2html/search.php?query=\\{@}
Query[be]=http://www.rpmfind.net/linux/rpm2html/search.php?query=\\{@}
Query[be@latin]=http://www.rpmfind.net/linux/rpm2html/search.php?query=\\{@}
Query[bg]=http://www.rpmfind.net/linux/rpm2html/search.php?query=\\{@}
Query[bn]=http://www.rpmfind.net/linux/rpm2html/search.php?query=\\{@}
Query[bn_IN]=http://www.rpmfind.net/linux/rpm2html/search.php?query=\\{@}
Query[bs]=http://www.rpmfind.net/linux/rpm2html/search.php?query=\\{@}
Query[ca]=http://www.rpmfind.net/linux/rpm2html/search.php?query=\\{@}
Query[ca@valencia]=http://www.rpmfind.net/linux/rpm2html/search.php?query=\\{@}
Query[cs]=http://www.rpmfind.net/linux/rpm2html/search.php?query=\\{@}
Query[csb]=http://www.rpmfind.net/linux/rpm2html/search.php?query=\\{@}
Query[da]=http://www.rpmfind.net/linux/rpm2html/search.php?query=\\{@}
Query[de]=http://www.rpmfind.net/linux/rpm2html/search.php?query=\\{@}
Query[el]=http://www.rpmfind.net/linux/rpm2html/search.php?query=\\{@}
Query[en_GB]=http://www.rpmfind.net/linux/rpm2html/search.php?query=\\{@}
Query[eo]=http://www.rpmfind.net/linux/rpm2html/search.php?query=\\{@}
Query[es]=http://www.rpmfind.net/linux/rpm2html/search.php?query=\\{@}
Query[et]=http://www.rpmfind.net/linux/rpm2html/search.php?query=\\{@}
Query[eu]=http://www.rpmfind.net/linux/rpm2html/search.php?query=\\{@}
Query[fa]=http://www.rpmfind.net/linux/rpm2html/search.php?query=\\{@}
Query[fi]=http://www.rpmfind.net/linux/rpm2html/search.php?query=\\{@}
Query[fr]=http://www.rpmfind.net/linux/rpm2html/search.php?query=\\{@}
Query[fy]=http://www.rpmfind.net/linux/rpm2html/search.php?query=\\{@}
Query[ga]=http://www.rpmfind.net/linux/rpm2html/search.php?query=\\{@}
Query[gl]=http://www.rpmfind.net/linux/rpm2html/search.php?query=\\{@}
Query[gu]=http://www.rpmfind.net/linux/rpm2html/search.php?query=\\{@}
Query[he]=http://www.rpmfind.net/linux/rpm2html/search.php?query=\\{@}
Query[hi]=http://www.rpmfind.net/linux/rpm2html/search.php?query=\\{@}
Query[hne]=http://www.rpmfind.net/linux/rpm2html/search.php?query=\\{@}
Query[hr]=http://www.rpmfind.net/linux/rpm2html/search.php?query=\\{@}
Query[hsb]=http://www.rpmfind.net/linux/rpm2html/search.php?query=\\{@}
Query[hu]=http://www.rpmfind.net/linux/rpm2html/search.php?query=\\{@}
Query[ia]=http://www.rpmfind.net/linux/rpm2html/search.php?query=\\{@}
Query[id]=http://www.rpmfind.net/linux/rpm2html/search.php?query=\\{@}
Query[is]=http://www.rpmfind.net/linux/rpm2html/search.php?query=\\{@}
Query[it]=http://www.rpmfind.net/linux/rpm2html/search.php?query=\\{@}
Query[ja]=http://www.rpmfind.net/linux/rpm2html/search.php?query=\\{@}
Query[kk]=http://www.rpmfind.net/linux/rpm2html/search.php?query=\\{@}
Query[km]=http://www.rpmfind.net/linux/rpm2html/search.php?query=\\{@}
Query[kn]=http://www.rpmfind.net/linux/rpm2html/search.php?query=\\{@}
Query[ko]=http://www.rpmfind.net/linux/rpm2html/search.php?query=\\{@}
Query[ku]=http://www.rpmfind.net/linux/rpm2html/search.php?query=\\{@}
Query[lt]=http://www.rpmfind.net/linux/rpm2html/search.php?query=\\{@}
Query[lv]=http://www.rpmfind.net/linux/rpm2html/search.php?query=\\{@}
Query[mai]=http://www.rpmfind.net/linux/rpm2html/search.php?query=\\{@}
Query[ml]=http://www.rpmfind.net/linux/rpm2html/search.php?query=\\{@}
Query[mr]=http://www.rpmfind.net/linux/rpm2html/search.php?query=\\{@}
Query[nb]=http://www.rpmfind.net/linux/rpm2html/search.php?query=\\{@}
Query[nds]=http://www.rpmfind.net/linux/rpm2html/search.php?query=\\{@}
Query[ne]=http://www.rpmfind.net/linux/rpm2html/search.php?query=\\{@}
Query[nl]=http://www.rpmfind.net/linux/rpm2html/search.php?query=\\{@}
Query[nn]=http://www.rpmfind.net/linux/rpm2html/search.php?query=\\{@}
Query[oc]=http://www.rpmfind.net/linux/rpm2html/search.php?query=\\{@}
Query[or]=http://www.rpmfind.net/linux/rpm2html/search.php?query=\\{@}
Query[pa]=http://www.rpmfind.net/linux/rpm2html/search.php?query=\\{@}
Query[pl]=http://www.rpmfind.net/linux/rpm2html/search.php?query=\\{@}
Query[pt]=http://www.rpmfind.net/linux/rpm2html/search.php?query=\\{@}
Query[pt_BR]=http://www.rpmfind.net/linux/rpm2html/search.php?query=\\{@}
Query[ro]=http://www.rpmfind.net/linux/rpm2html/search.php?query=\\{@}
Query[ru]=http://www.rpmfind.net/linux/rpm2html/search.php?query=\\{@}
Query[se]=http://www.rpmfind.net/linux/rpm2html/search.php?query=\\{@}
Query[si]=http://www.rpmfind.net/linux/rpm2html/search.php?query=\\{@}
Query[sk]=http://www.rpmfind.net/linux/rpm2html/search.php?query=\\{@}
Query[sl]=http://www.rpmfind.net/linux/rpm2html/search.php?query=\\{@}
Query[sr]=http://www.rpmfind.net/linux/rpm2html/search.php?query=\\{@}
Query[sr@ijekavian]=http://www.rpmfind.net/linux/rpm2html/search.php?query=\\{@}
Query[sr@ijekavianlatin]=http://www.rpmfind.net/linux/rpm2html/search.php?query=\\{@}
Query[sr@latin]=http://www.rpmfind.net/linux/rpm2html/search.php?query=\\{@}
Query[sv]=http://www.rpmfind.net/linux/rpm2html/search.php?query=\\{@}
Query[ta]=http://www.rpmfind.net/linux/rpm2html/search.php?query=\\{@}
Query[te]=http://www.rpmfind.net/linux/rpm2html/search.php?query=\\{@}
Query[tg]=http://www.rpmfind.net/linux/rpm2html/search.php?query=\\{@}
Query[th]=http://www.rpmfind.net/linux/rpm2html/search.php?query=\\{@}
Query[tr]=http://www.rpmfind.net/linux/rpm2html/search.php?query=\\{@}
Query[ug]=http://www.rpmfind.net/linux/rpm2html/search.php?query=\\{@}
Query[uk]=http://www.rpmfind.net/linux/rpm2html/search.php?query=\\{@}
Query[uz]=http://www.rpmfind.net/linux/rpm2html/search.php?query=\\{@}
Query[uz@cyrillic]=http://www.rpmfind.net/linux/rpm2html/search.php?query=\\{@}
Query[vi]=http://www.rpmfind.net/linux/rpm2html/search.php?query=\\{@}
Query[wa]=http://www.rpmfind.net/linux/rpm2html/search.php?query=\\{@}
Query[x-test]=xxhttp://www.rpmfind.net/linux/rpm2html/search.php?query=\\{@}xx
Query[zh_CN]=http://www.rpmfind.net/linux/rpm2html/search.php?query=\\{@}
Query[zh_TW]=http://www.rpmfind.net/linux/rpm2html/search.php?query=\\{@}
