[Desktop Entry]
Type=Service
Name=Technorati
Name[af]=Technorati
Name[ar]=Technorati
Name[as]=Technorati
Name[ast]=Technorati
Name[be]=Technorati
Name[be@latin]=Technorati
Name[bg]=Technorati
Name[bn]=টেক্‌নোক্রেটি
Name[bn_IN]=Technorati
Name[br]=Technorati
Name[bs]=Tehnorati
Name[ca]=Technorati
Name[ca@valencia]=Technorati
Name[cs]=Technorati
Name[csb]=Technorati - blodżi
Name[da]=Technorati
Name[de]=Technorati
Name[el]=Technorati
Name[en_GB]=Technorati
Name[eo]=Technorati
Name[es]=Technorati
Name[et]=Technorati
Name[eu]=Technorati
Name[fa]=Technorati
Name[fi]=Technorati
Name[fr]=Technorati
Name[fy]=Technorati
Name[ga]=Technorati
Name[gl]=Technorati
Name[gu]=ટેકનોરાતી
Name[he]=Technorati
Name[hi]=टेक्नोराती
Name[hne]=टेक्नोराती
Name[hr]=Technorati
Name[hsb]=Technorati
Name[hu]=Technorati
Name[ia]=Technorati
Name[id]=Technorati
Name[is]=Technorati
Name[it]=Technorati
Name[ja]=Technorati
Name[ka]=Technorati
Name[kk]=Technorati
Name[km]=Technorati
Name[kn]=ಟೆಕ್ನೋರೆಟಿ
Name[ko]=Technorati
Name[ku]=Technorati
Name[lt]=Technorati paieška
Name[lv]=Technorati
Name[mai]=टेक्नोराती
Name[mk]=Technorati
Name[ml]=ടെക്നോറാറ്റി
Name[mr]=टेक्नोराती
Name[ms]=Technorati
Name[nb]=Technorati
Name[nds]=Technorati
Name[ne]=टेक्नोरती
Name[nl]=Technorati
Name[nn]=Technorati
Name[or]=Technorati
Name[pa]=Technorati
Name[pl]=Technorati
Name[pt]=Technorati
Name[pt_BR]=Technorati
Name[ro]=Technorati
Name[ru]=Technorati
Name[se]=Technorati
Name[si]=Technorati
Name[sk]=Technorati
Name[sl]=Technorati
Name[sr]=Технорати
Name[sr@ijekavian]=Технорати
Name[sr@ijekavianlatin]=Technorati
Name[sr@latin]=Technorati
Name[sv]=Technorati
Name[ta]=Technorati
Name[te]=Technorati
Name[tg]=Technorati
Name[th]=Technorati
Name[tr]=Technorati
Name[ug]=Technorati
Name[uk]=Technorati
Name[uz]=Technorati
Name[uz@cyrillic]=Technorati
Name[vi]=Technorati
Name[wa]=Technorati
Name[x-test]=xxTechnoratixx
Name[zh_CN]=Technorati
Name[zh_TW]=Technorati
X-KDE-ServiceTypes=SearchProvider
Keys=tr,technorati
Query=http://technorati.com/search?return=sites&authority=high&q=\\{@}
Query[bg]=http://technorati.com/search?return=sites&authority=high&q=\\{@}
Query[bs]=http://technorati.com/search?return=sites&authority=high&q=\\{@}
Query[ca]=http://technorati.com/search?return=sites&authority=high&q=\\{@}
Query[ca@valencia]=http://technorati.com/search?return=sites&authority=high&q=\\{@}
Query[cs]=http://technorati.com/search?return=sites&authority=high&q=\\{@}
Query[da]=http://technorati.com/search?return=sites&authority=high&q=\\{@}
Query[de]=http://technorati.com/search?return=sites&authority=high&q=\\{@}
Query[el]=http://technorati.com/search?return=sites&authority=high&q=\\{@}
Query[es]=http://technorati.com/search?return=sites&authority=high&q=\\{@}
Query[eu]=http://technorati.com/search?return=sites&authority=high&q=\\{@}
Query[fi]=http://technorati.com/search?return=sites&authority=high&q=\\{@}
Query[fr]=http://technorati.com/search?return=sites&authority=high&q=\\{@}
Query[gl]=http://technorati.com/search?return=sites&authority=high&q=\\{@}
Query[hi]=http://technorati.com/search?return=sites&authority=high&q=\\{@}
Query[hu]=http://technorati.com/search?return=sites&authority=high&q=\\{@}
Query[ia]=http://technorati.com/search?return=sites&authority=high&q=\\{@}
Query[is]=http://technorati.com/search?return=sites&authority=high&q=\\{@}
Query[it]=http://technorati.com/search?return=sites&authority=high&q=\\{@}
Query[ja]=http://technorati.com/search?return=sites&authority=high&q=\\{@}
Query[kk]=http://technorati.com/search?return=sites&authority=high&q=\\{@}
Query[ko]=http://technorati.com/search?return=sites&authority=high&q=\\{@}
Query[lt]=http://technorati.com/search?return=sites&authority=high&q=\\{@}
Query[nb]=http://technorati.com/search?return=sites&authority=high&q=\\{@}
Query[nl]=http://technorati.com/search?return=sites&authority=high&q=\\{@}
Query[nn]=http://technorati.com/search?return=sites&authority=high&q=\\{@}
Query[pa]=http://technorati.com/search?return=sites&authority=high&q=\\{@}
Query[pl]=http://technorati.com/search?return=sites&authority=high&q=\\{@}
Query[pt]=http://technorati.com/search?return=sites&authority=high&q=\\{@}
Query[pt_BR]=http://technorati.com/search?return=sites&authority=high&q=\\{@}
Query[ro]=http://technorati.com/search?return=sites&authority=high&q=\\{@}
Query[ru]=http://technorati.com/search?return=sites&authority=high&q=\\{@}
Query[sk]=http://technorati.com/search?return=sites&authority=high&q=\\{@}
Query[sl]=http://technorati.com/search?return=sites&authority=high&q=\\{@}
Query[sr]=http://technorati.com/search?return=sites&authority=high&q=\\{@}
Query[sr@ijekavian]=http://technorati.com/search?return=sites&authority=high&q=\\{@}
Query[sr@ijekavianlatin]=http://technorati.com/search?return=sites&authority=high&q=\\{@}
Query[sr@latin]=http://technorati.com/search?return=sites&authority=high&q=\\{@}
Query[sv]=http://technorati.com/search?return=sites&authority=high&q=\\{@}
Query[tr]=http://technorati.com/search?return=sites&authority=high&q=\\{@}
Query[ug]=http://technorati.com/search?return=sites&authority=high&q=\\{@}
Query[uk]=http://technorati.com/search?return=sites&authority=high&q=\\{@}
Query[wa]=http://technorati.com/search?return=sites&authority=high&q=\\{@}
Query[x-test]=xxhttp://technorati.com/search?return=sites&authority=high&q=\\{@}xx
Query[zh_CN]=http://technorati.com/search?return=sites&authority=high&q=\\{@}
Query[zh_TW]=http://technorati.com/search?return=sites&authority=high&q=\\{@}
Charset=utf8
