[Desktop Entry]
Charset=utf8
Keys=tvtome
Name=TV Tome
Name[af]=TV Tome
Name[ar]=تلفزيون توم
Name[as]=TV Tome
Name[ast]=TV Tome
Name[be]=Хатняе ТБ
Name[be@latin]=TV Tome
Name[bg]=TV Tome
Name[bn]=টিভি টোম
Name[bn_IN]=TV Tome
Name[br]=TV Tome
Name[bs]=TV‑tom
Name[ca]=TV Tome
Name[ca@valencia]=TV Tome
Name[cs]=TV Tome
Name[csb]=TV Tome
Name[da]=TV-Tome
Name[de]=TV Tome
Name[el]=TV Tome
Name[en_GB]=TV Tome
Name[eo]=TV Tome
Name[es]=TV Tome
Name[et]=TV Tome
Name[eu]=TV toma
Name[fa]=TV Tome
Name[fi]=TV Tome
Name[fr]=TV Tome
Name[fy]=TV Tome
Name[ga]=TV Tome
Name[gl]=TV Tome
Name[gu]=ટીવી ટોમ
Name[he]=TV Tome
Name[hi]=टीवी टोम
Name[hne]=टीवी टोम
Name[hr]=TV Tome
Name[hsb]=TV Tome
Name[hu]=TV Tome
Name[ia]=TV Tome
Name[id]=TV Tome
Name[is]=TV Tome
Name[it]=TV Tome
Name[ja]=TV Tome
Name[ka]=TV Tome
Name[kk]=TV Tome
Name[km]=TV Tome
Name[kn]=ಟಿವಿ ಟೋಮ್
Name[ko]=TV Tome
Name[ku]=TV Tome
Name[lt]=TV Tome
Name[lv]=TV Tome
Name[mai]=टीवी टोम
Name[mk]=TV Tome
Name[ml]=ടി.വി ടോം
Name[mr]=टीवी टोम
Name[ms]=TV Tome
Name[nb]=Stor TV
Name[nds]=TV Tome
Name[ne]=टीभी टोम
Name[nl]=TV Tome
Name[nn]=Stor TV
Name[or]=TV Tome
Name[pa]=TV Tome
Name[pl]=TV Tome
Name[pt]=TV Tome
Name[pt_BR]=TV Tome
Name[ro]=TV Tome
Name[ru]=TV Tome
Name[se]=TV Tome
Name[si]=TV Tome
Name[sk]=TV Tome
Name[sl]=TV Tome
Name[sr]=ТВ‑том
Name[sr@ijekavian]=ТВ‑том
Name[sr@ijekavianlatin]=TV Tome
Name[sr@latin]=TV Tome
Name[sv]=TV-tome
Name[ta]=TV Tome
Name[te]=టివి టొమ్
Name[tg]=Барномаҳои телевизионӣ
Name[th]=TV Tome
Name[tr]=TV Kanalları
Name[ug]=TV Tome
Name[uk]=TV Tome
Name[uz]=TV Tome
Name[uz@cyrillic]=TV Tome
Name[vi]=Tra Quyển TV
Name[wa]=TV Tome
Name[x-test]=xxTV Tomexx
Name[zh_CN]=TV Tome
Name[zh_TW]=TV Tome
X-KDE-ServiceTypes=SearchProvider
Query=http://www.tv.com/search.php?type=11&stype=all&qs=\\{@}&x=0&y=0
Query[af]=http://www.tv.com/search.php?type=11&stype=all&qs=\\{@}&x=0&y=0
Query[ar]=http://www.tv.com/search.php?type=11&stype=all&qs=\\{@}&x=0&y=0
Query[as]=http://www.tv.com/search.php?type=11&stype=all&qs=\\{@}&x=0&y=0
Query[ast]=http://www.tv.com/search.php?type=11&stype=all&qs=\\{@}&x=0&y=0
Query[be]=http://www.tv.com/search.php?type=11&stype=all&qs=\\{@}&x=0&y=0
Query[be@latin]=http://www.tv.com/search.php?type=11&stype=all&qs=\\{@}&x=0&y=0
Query[bg]=http://www.tv.com/search.php?type=11&stype=all&qs=\\{@}&x=0&y=0
Query[bn]=http://www.tv.com/search.php?type=11&stype=all&qs=\\{@}&x=0&y=0
Query[bn_IN]=http://www.tv.com/search.php?type=11&stype=all&qs=\\{@}&x=0&y=0
Query[br]=http://www.tv.com/search.php?type=11&stype=all&qs=\\{@}&x=0&y=0
Query[bs]=http://www.tv.com/search.php?type=11&stype=all&qs=\\{@}&x=0&y=0
Query[ca]=http://www.tv.com/search.php?type=11&stype=all&qs=\\{@}&x=0&y=0
Query[ca@valencia]=http://www.tv.com/search.php?type=11&stype=all&qs=\\{@}&x=0&y=0
Query[cs]=http://www.tv.com/search.php?type=11&stype=all&qs=\\{@}&x=0&y=0
Query[csb]=http://www.tv.com/search.php?type=11&stype=all&qs=\\{@}&x=0&y=0
Query[da]=http://www.tv.com/search.php?type=11&stype=all&qs=\\{@}&x=0&y=0
Query[de]=http://www.tv.com/search.php?type=11&stype=all&qs=\\{@}&x=0&y=0
Query[el]=http://www.tv.com/search.php?type=11&stype=all&qs=\\{@}&x=0&y=0
Query[en_GB]=http://www.tv.com/search.php?type=11&stype=all&qs=\\{@}&x=0&y=0
Query[eo]=http://www.tv.com/search.php?type=11&stype=all&qs=\\{@}&x=0&y=0
Query[es]=http://www.tv.com/search.php?type=11&stype=all&qs=\\{@}&x=0&y=0
Query[et]=http://www.tv.com/search.php?type=11&stype=all&qs=\\{@}&x=0&y=0
Query[eu]=http://www.tv.com/search.php?type=11&stype=all&qs=\\{@}&x=0&y=0
Query[fa]=http://www.tv.com/search.php?type=11&stype=all&qs=\\{@}&x=0&y=0
Query[fi]=http://www.tv.com/search.php?type=11&stype=all&qs=\\{@}&x=0&y=0
Query[fr]=http://www.tv.com/search.php?type=11&stype=all&qs=\\{@}&x=0&y=0
Query[fy]=http://www.tv.com/search.php?type=11&stype=all&qs=\\{@}&x=0&y=0
Query[ga]=http://www.tv.com/search.php?type=11&stype=all&qs=\\{@}&x=0&y=0
Query[gl]=http://www.tv.com/search.php?type=11&stype=all&qs=\\{@}&x=0&y=0
Query[gu]=http://www.tv.com/search.php?type=11&stype=all&qs=\\{@}&x=0&y=0
Query[he]=http://www.tv.com/search.php?type=11&stype=all&qs=\\{@}&x=0&y=0
Query[hi]=http://www.tv.com/search.php?type=11&stype=all&qs=\\{@}&x=0&y=0
Query[hne]=http://www.tv.com/search.php?type=11&stype=all&qs=\\{@}&x=0&y=0
Query[hr]=http://www.tv.com/search.php?type=11&stype=all&qs=\\{@}&x=0&y=0
Query[hsb]=http://www.tv.com/search.php?type=11&stype=all&qs=\\{@}&x=0&y=0
Query[hu]=http://www.tv.com/search.php?type=11&stype=all&qs=\\{@}&x=0&y=0
Query[ia]=http://www.tv.com/search.php?type=11&stype=all&qs=\\{@}&x=0&y=0
Query[id]=http://www.tv.com/search.php?type=11&stype=all&qs=\\{@}&x=0&y=0
Query[is]=http://www.tv.com/search.php?type=11&stype=all&qs=\\{@}&x=0&y=0
Query[it]=http://www.tv.com/search.php?type=11&stype=all&qs=\\{@}&x=0&y=0
Query[ja]=http://www.tv.com/search.php?type=11&stype=all&qs=\\{@}&x=0&y=0
Query[ka]=http://www.tv.com/search.php?type=11&stype=all&qs=\\{@}&x=0&y=0
Query[kk]=http://www.tv.com/search.php?type=11&stype=all&qs=\\{@}&x=0&y=0
Query[km]=http://www.tv.com/search.php?type=11&stype=all&qs=\\{@}&x=0&y=0
Query[kn]=http://www.tv.com/search.php?type=11&stype=all&qs=\\{@}&x=0&y=0
Query[ko]=http://www.tv.com/search.php?type=11&stype=all&qs=\\{@}&x=0&y=0
Query[ku]=http://www.tv.com/search.php?type=11&stype=all&qs=\\{@}&x=0&y=0
Query[lt]=http://www.tv.com/search.php?type=11&stype=all&qs=\\{@}&x=0&y=0
Query[lv]=http://www.tv.com/search.php?type=11&stype=all&qs=\\{@}&x=0&y=0
Query[mai]=http://www.tv.com/search.php?type=11&stype=all&qs=\\{@}&x=0&y=0
Query[ml]=http://www.tv.com/search.php?type=11&stype=all&qs=\\{@}&x=0&y=0
Query[mr]=http://www.tv.com/search.php?type=11&stype=all&qs=\\{@}&x=0&y=0
Query[nb]=http://www.tv.com/search.php?type=11&stype=all&qs=\\{@}&x=0&y=0
Query[nds]=http://www.tv.com/search.php?type=11&stype=all&qs=\\{@}&x=0&y=0
Query[ne]=http://www.tv.com/search.php?type=11stype=all&qs=\\{@}&x=0&y=0
Query[nl]=http://www.tv.com/search.php?type=11&stype=all&qs=\\{@}&x=0&y=0
Query[nn]=http://www.tv.com/search.php?type=11&stype=all&qs=\\{@}&x=0&y=0
Query[oc]=http://www.tv.com/search.php?type=11&stype=all&qs=\\{@}&x=0&y=0
Query[or]=http://www.tv.com/search.php?type=11&stype=all&qs=\\{@}&x=0&y=0
Query[pa]=http://www.tv.com/search.php?type=11&stype=all&qs=\\{@}&x=0&y=0
Query[pl]=http://www.tv.com/search.php?type=11&stype=all&qs=\\{@}&x=0&y=0
Query[pt]=http://www.tv.com/search.php?type=11&stype=all&qs=\\{@}&x=0&y=0
Query[pt_BR]=http://www.tv.com/search.php?type=11&stype=all&qs=\\{@}&x=0&y=0
Query[ro]=http://www.tv.com/search.php?type=11&stype=all&qs=\\{@}&x=0&y=0
Query[ru]=http://www.tv.com/search.php?type=11&stype=all&qs=\\{@}&x=0&y=0
Query[se]=http://www.tv.com/search.php?type=11&stype=all&qs=\\{@}&x=0&y=0
Query[si]=http://www.tv.com/search.php?type=11&stype=all&qs=\\{@}&x=0&y=0
Query[sk]=http://www.tv.com/search.php?type=11&stype=all&qs=\\{@}&x=0&y=0
Query[sl]=http://www.tv.com/search.php?type=11&stype=all&qs=\\{@}&x=0&y=0
Query[sr]=http://www.tv.com/search.php?type=11&stype=all&qs=\\{@}&x=0&y=0
Query[sr@ijekavian]=http://www.tv.com/search.php?type=11&stype=all&qs=\\{@}&x=0&y=0
Query[sr@ijekavianlatin]=http://www.tv.com/search.php?type=11&stype=all&qs=\\{@}&x=0&y=0
Query[sr@latin]=http://www.tv.com/search.php?type=11&stype=all&qs=\\{@}&x=0&y=0
Query[sv]=http://www.tv.com/search.php?type=11&stype=all&qs=\\{@}&x=0&y=0
Query[ta]=http://www.tv.com/search.php?type=11&stype=all&qs=\\{@}&x=0&y=0
Query[te]=http://www.tv.com/search.php?type=11&stype=all&qs=\\{@}&x=0&y=0
Query[tg]=http://www.tv.com/search.php?type=11&stype=all&qs=\\{@}&x=0&y=0
Query[th]=http://www.tv.com/search.php?type=11&stype=all&qs=\\{@}&x=0&y=0
Query[tr]=http://www.tv.com/search.php?type=11&stype=all&qs=\\{@}&x=0&y=0
Query[ug]=http://www.tv.com/search.php?type=11&stype=all&qs=\\{@}&x=0&y=0
Query[uk]=http://www.tv.com/search.php?type=11&stype=all&qs=\\{@}&x=0&y=0
Query[uz]=http://www.tv.com/search.php?type=11&stype=all&qs=\\{@}&x=0&y=0
Query[uz@cyrillic]=http://www.tv.com/search.php?type=11&stype=all&qs=\\{@}&x=0&y=0
Query[vi]=http://www.tv.com/search.php?type=11&stype=all&qs=\\{@}&x=0&y=0
Query[wa]=http://www.tv.com/search.php?type=11&stype=all&qs=\\{@}&x=0&y=0
Query[x-test]=xxhttp://www.tv.com/search.php?type=11&stype=all&qs=\\{@}&x=0&y=0xx
Query[zh_CN]=http://www.tv.com/search.php?type=11&stype=all&qs=\\{@}&x=0&y=0
Query[zh_TW]=http://www.tv.com/search.php?type=11&stype=all&qs=\\{@}&x=0&y=0
Type=Service
