[Desktop Entry]
Type=Service
Name=Voila
Name[af]=Voila
Name[ar]=Voila
Name[as]=Voila
Name[ast]=Voila
Name[be]=Voila
Name[be@latin]=Voila
Name[bg]=Voila
Name[bn]=ভয়লা
Name[bn_IN]=Voila
Name[br]=Voila
Name[bs]=Voila
Name[ca]=Voila
Name[ca@valencia]=Voila
Name[cs]=Voila
Name[csb]=Voila
Name[cy]=Voila
Name[da]=Voila
Name[de]=Voila
Name[el]=Voila
Name[en_GB]=Voila
Name[eo]=Voila
Name[es]=Voila
Name[et]=Voila
Name[eu]=Voila
Name[fa]=Voila
Name[fi]=Voila
Name[fr]=Voila
Name[fy]=Voila
Name[ga]=Voila
Name[gl]=Voila
Name[gu]=વોઇલા
Name[he]=Voila
Name[hi]=वाइला
Name[hne]=वाइला
Name[hr]=Voila
Name[hsb]=Voila
Name[hu]=Voila
Name[ia]=Voila
Name[id]=Voila
Name[is]=Voila
Name[it]=Voila
Name[ja]=Voila
Name[ka]=Voila
Name[kk]=Voila
Name[km]=Voila
Name[kn]=ವೋಯ್ಲಾ
Name[ko]=Voila
Name[ku]=Voila
Name[lt]=Voila
Name[lv]=Voila
Name[mai]=वाइला
Name[mk]=Voila
Name[ml]=വോയിലാ
Name[mr]=वॉइला
Name[ms]=Voila
Name[nb]=Voila
Name[nds]=Voila
Name[ne]=भोइला
Name[nl]=Voila
Name[nn]=Voila
Name[oc]=Voila
Name[or]=Voila
Name[pa]=ਵੋਈਲਾ
Name[pl]=Voila
Name[pt]=Voila
Name[pt_BR]=Voila
Name[ro]=Voila
Name[ru]=Voila
Name[se]=Voila
Name[si]=Voila
Name[sk]=Voila
Name[sl]=Voila
Name[sr]=Воила
Name[sr@ijekavian]=Воила
Name[sr@ijekavianlatin]=Voila
Name[sr@latin]=Voila
Name[sv]=Voila
Name[ta]=வாய்லா
Name[te]=వొయిలా
Name[tg]=Voila
Name[th]=Voila
Name[tr]=Voila
Name[ug]=Voila
Name[uk]=Voila
Name[uz]=Voila
Name[uz@cyrillic]=Voila
Name[vi]=Tra Voilà
Name[wa]=Voilà
Name[xh]=Voila
Name[x-test]=xxVoilaxx
Name[zh_CN]=Voila
Name[zh_TW]=Voila
X-KDE-ServiceTypes=SearchProvider
Keys=voila
Query=http://www.voila.com/S/geek?an=1&kw=\\{@}&dt=*
Query[af]=http://www.voila.com/S/geek?an=1&kw=\\{@}&dt=*
Query[ar]=http://www.voila.com/S/geek?an=1&kw=\\{@}&dt=*
Query[as]=http://www.voila.com/S/geek?an=1&kw=\\{@}&dt=*
Query[ast]=http://www.voila.com/S/geek?an=1&kw=\\{@}&dt=*
Query[be]=http://www.voila.com/S/geek?an=1&kw=\\{@}&dt=*
Query[be@latin]=http://www.voila.com/S/geek?an=1&kw=\\{@}&dt=*
Query[bg]=http://www.voila.com/S/geek?an=1&kw=\\{@}&dt=*
Query[bn]=http://www.voila.com/S/geek?an=1&kw=\\{@}&dt=*
Query[bn_IN]=http://www.voila.com/S/geek?an=1&kw=\\{@}&dt=*
Query[bs]=http://www.voila.com/S/geek?an=1&kw=\\{@}&dt=*
Query[ca]=http://www.voila.com/S/geek?an=1&kw=\\{@}&dt=*
Query[ca@valencia]=http://www.voila.com/S/geek?an=1&kw=\\{@}&dt=*
Query[cs]=http://www.voila.com/S/geek?an=1&kw=\\{@}&dt=*
Query[csb]=http://www.voila.com/S/geek?an=1&kw=\\{@}&dt=*
Query[da]=http://www.voila.com/S/geek?an=1&kw=\\{@}&dt=*
Query[de]=http://www.voila.com/S/geek?an=1&kw=\\{@}&dt=*
Query[el]=http://www.voila.com/S/geek?an=1&kw=\\{@}&dt=*
Query[en_GB]=http://www.voila.com/S/geek?an=1&kw=\\{@}&dt=*
Query[eo]=http://www.voila.com/S/geek?an=1&kw=\\{@}&dt=*
Query[es]=http://www.voila.com/S/geek?an=1&kw=\\{@}&dt=*
Query[et]=http://www.voila.com/S/geek?an=1&kw=\\{@}&dt=*
Query[eu]=http://www.voila.com/S/geek?an=1&kw=\\{@}&dt=*
Query[fa]=http://www.voila.com/S/geek?an=1&kw=\\{@}&dt=*
Query[fi]=http://www.voila.com/S/geek?an=1&kw=\\{@}&dt=*
Query[fr]=http://www.voila.com/S/geek?an=1&kw=\\{@}&dt=*
Query[fy]=http://www.voila.com/S/geek?an=1&kw=\\{@}&dt=*
Query[ga]=http://www.voila.com/S/geek?an=1&kw=\\{@}&dt=*
Query[gl]=http://www.voila.com/S/geek?an=1&kw=\\{@}&dt=*
Query[gu]=http://www.voila.com/S/geek?an=1&kw=\\{@}&dt=*
Query[he]=http://www.voila.com/S/geek?an=1&kw=\\{@}&dt=*
Query[hi]=http://www.voila.com/S/geek?an=1&kw=\\{@}&dt=*
Query[hne]=http://www.voila.com/S/geek?an=1&kw=\\{@}&dt=*
Query[hr]=http://www.voila.com/S/geek?an=1&kw=\\{@}&dt=*
Query[hsb]=http://www.voila.com/S/geek?an=1&kw=\\{@}&dt=*
Query[hu]=http://www.voila.com/S/geek?an=1&kw=\\{@}&dt=*
Query[ia]=http://www.voila.com/S/geek?an=1&kw=\\{@}&dt=*
Query[id]=http://www.voila.com/S/geek?an=1&kw=\\{@}&dt=*
Query[is]=http://www.voila.com/S/geek?an=1&kw=\\{@}&dt=*
Query[it]=http://www.voila.com/S/geek?an=1&kw=\\{@}&dt=*
Query[ja]=http://www.voila.com/S/geek?an=1&kw=\\{@}&dt=*
Query[kk]=http://www.voila.com/S/geek?an=1&kw=\\{@}&dt=*
Query[km]=http://www.voila.com/S/geek?an=1&kw=\\{@}&dt=*
Query[kn]=http://www.voila.com/S/geek?an=1&kw=\\{@}&dt=*
Query[ko]=http://www.voila.com/S/geek?an=1&kw=\\{@}&dt=*
Query[ku]=http://www.voila.com/S/geek?an=1&kw=\\{@}&dt=*
Query[lt]=http://www.voila.com/S/geek?an=1&kw=\\{@}&dt=*
Query[lv]=http://www.voila.com/S/geek?an=1&kw=\\{@}&dt=*
Query[mai]=http://www.voila.com/S/geek?an=1&kw=\\{@}&dt=*
Query[ml]=http://www.voila.com/S/geek?an=1&kw=\\{@}&dt=*
Query[mr]=http://www.voila.com/S/geek?an=1&kw=\\{@}&dt=*
Query[nb]=http://www.voila.com/S/geek?an=1&kw=\\{@}&dt=*
Query[nds]=http://www.voila.com/S/geek?an=1&kw=\\{@}&dt=*
Query[ne]=http://www.voila.com/S/geek?an=1&kw=\\{@}&dt=*
Query[nl]=http://www.voila.com/S/geek?an=1&kw=\\{@}&dt=*
Query[nn]=http://www.voila.com/S/geek?an=1&kw=\\{@}&dt=*
Query[oc]=http://www.voila.com/S/geek?an=1&kw=\\{@}&dt=*
Query[or]=http://www.voila.com/S/geek?an=1&kw=\\{@}&dt=*
Query[pa]=http://www.voila.com/S/geek?an=1&kw=\\{@}&dt=*
Query[pl]=http://www.voila.com/S/geek?an=1&kw=\\{@}&dt=*
Query[pt]=http://www.voila.com/S/geek?an=1&kw=\\{@}&dt=*
Query[pt_BR]=http://www.voila.com/S/geek?an=1&kw=\\{@}&dt=*
Query[ro]=http://www.voila.com/S/geek?an=1&kw=\\{@}&dt=*
Query[ru]=http://www.voila.com/S/geek?an=1&kw=\\{@}&dt=*
Query[se]=http://www.voila.com/S/geek?an=1&kw=\\{@}&dt=*
Query[si]=http://www.voila.com/S/geek?an=1&kw=\\{@}&dt=*
Query[sk]=http://www.voila.com/S/geek?an=1&kw=\\{@}&dt=*
Query[sl]=http://www.voila.com/S/geek?an=1&kw=\\{@}&dt=*
Query[sr]=http://www.voila.com/S/geek?an=1&kw=\\{@}&dt=*
Query[sr@ijekavian]=http://www.voila.com/S/geek?an=1&kw=\\{@}&dt=*
Query[sr@ijekavianlatin]=http://www.voila.com/S/geek?an=1&kw=\\{@}&dt=*
Query[sr@latin]=http://www.voila.com/S/geek?an=1&kw=\\{@}&dt=*
Query[sv]=http://www.voila.com/S/geek?an=1&kw=\\{@}&dt=*
Query[ta]=http://www.voila.com/S/geek?an=1&kw=\\{@}&dt=*
Query[te]=http://www.voila.com/S/geek?an=1&kw=\\{@}&dt=*
Query[tg]=http://www.voila.com/S/geek?an=1&kw=\\{@}&dt=*
Query[th]=http://www.voila.com/S/geek?an=1&kw=\\{@}&dt=*
Query[tr]=http://www.voila.com/S/geek?an=1&kw=\\{@}&dt=*
Query[ug]=http://www.voila.com/S/geek?an=1&kw=\\{@}&dt=*
Query[uk]=http://www.voila.com/S/geek?an=1&kw=\\{@}&dt=*
Query[uz]=http://www.voila.com/S/geek?an=1&kw=\\{@}&dt=*
Query[uz@cyrillic]=http://www.voila.com/S/geek?an=1&kw=\\{@}&dt=*
Query[vi]=http://www.voila.com/S/geek?an=1&kw=\\{@}&dt=*
Query[wa]=http://www.voila.com/S/geek?an=1&kw=\\{@}&dt=*
Query[x-test]=xxhttp://www.voila.com/S/geek?an=1&kw=\\{@}&dt=*xx
Query[zh_CN]=http://www.voila.com/S/geek?an=1&kw=\\{@}&dt=*
Query[zh_TW]=http://www.voila.com/S/geek?an=1&kw=\\{@}&dt=*
