[Desktop Entry]
Type=Service
Name=Merriam-Webster Dictionary
Name[af]=Merriam-Webster Woordeboek
Name[ar]=قاموس ميريام ويبستر
Name[as]=Merriam-Webster Dictionary
Name[ast]=Diccionariu Merriam-Webster
Name[be]=Слоўнік Merriam-Webster
Name[be@latin]=Słoŭnik „Merriam-Webster”
Name[bg]=Речник Merriam-Webster
Name[bn]=মেরিয়াম-ওয়েবস্টার অভিধান
Name[bn_IN]=মেরিয়াম-ওয়েবস্টার অভিধান
Name[br]=Geriaoueg Merriam-Webster
Name[bs]=Merijam-Vebster (rječnik)
Name[ca]=Diccionari Merriam-Webster
Name[ca@valencia]=Diccionari Merriam-Webster
Name[cs]=Slovník Merriam-Webster
Name[csb]=Merriam-Webster - słowôrz
Name[cy]=Geiriadur Merriam-Webster
Name[da]=Merriam-Webster-ordbog
Name[de]=Merriam-Webster-Wörterbuch
Name[el]=Λεξικό Merriam-Webster
Name[en_GB]=Merriam-Webster Dictionary
Name[eo]=Vortaro de Merriam-Webster
Name[es]=Diccionario Merriam-Webster
Name[et]=Merriam-Websteri sõnaraamat
Name[eu]=Merriam-Webster hiztegia
Name[fa]=واژه‌نامه Merriam-Webster
Name[fi]=Merriam–Webster-sanakirja
Name[fr]=Dictionnaire « Merriam-Webster »
Name[fy]=Merriam-Webster Dictionary
Name[ga]=Foclóir Merriam-Webster
Name[gl]=Dicionario Merriam-Webster
Name[gu]=મેર્રીયમ-વેબસ્ટર શબ્દકોશ
Name[he]=מילון Merriam-Webster
Name[hi]=मरियम-वेबस्टर समांतर शब्दकोश
Name[hne]=मरियम-वेबस्टर समांतर सब्दकोस
Name[hr]=Merriam-Webster rječnik
Name[hsb]=Merriam-Webster Dictionary
Name[hu]=Merriam-Webster szótár
Name[ia]=Merriam-Webster Dictionario
Name[id]=Kamus Merriam-Webster
Name[is]=Merriam-Webster orðabókin
Name[it]=Dizionario Merriam-Webster
Name[ja]=Merriam-Webster Dictionary
Name[ka]=Словарь Merriam-Webster
Name[kk]=Merriam-Webster сөздігі
Name[km]=វចនានុក្រម Merriam-Webster
Name[kn]=ಮೆರಿಯಾಮ್-ವೆಬ್ಸ್ಟರ್ ಶಬ್ದಕೋಶ
Name[ko]=Merriam-Webster 사전
Name[ku]=Ferhenga Merriam-Webster
Name[lt]=Merriam-Webster žodynas
Name[lv]=Merriam-Webster vārdnīca
Name[mai]=मरियम-वेबस्टर समांतर शब्दकोश
Name[mk]=Merriam-Webster Речник
Name[ml]=മെറിയാം-വെബ്സ്റ്റര്‍ നിഘണ്ടു
Name[mr]=मरियम-वेबस्टर शब्दकोश
Name[ms]=Merriam-Webster Dictionary
Name[nb]=Merriam-Webster Dictionary
Name[nds]=Merriam-Webster-Wöörbook
Name[ne]=मेरियम-वेबस्टर शब्दकोश
Name[nl]=Merriam-Webster Dictionary
Name[nn]=Merriam-Webster Dictionary
Name[or]=Merriam-Webster ଅଭିଧାନ
Name[pa]=Merriam-ਵੈਬਸਟੀਰ ਡਿਕਸ਼ਨਰੀ
Name[pl]=Merriam-Webster - słownik
Name[pt]=Merriam-Dicionário do Webster
Name[pt_BR]=Dicionário Merriam-Webster
Name[ro]=Dicționarul Merriam-Webster
Name[ru]=Словарь Merriam-Webster
Name[se]=Merriam-Webster Dictionary
Name[si]=Merriam-Webster Dictionary
Name[sk]=Slovník Merriam-Webster
Name[sl]=Slovar Merriam-Webster
Name[sr]=Меријам-Вебстер (речник)
Name[sr@ijekavian]=Меријам-Вебстер (рјечник)
Name[sr@ijekavianlatin]=Merijam-Vebster (rječnik)
Name[sr@latin]=Merijam-Vebster (rečnik)
Name[sv]=Merriam-Websters ordlexikon
Name[ta]=மெர்ரியம்-வெப்ஸ்டர் அகராதி
Name[te]=మెర్రియం-వెబ్స్టర్ నిఘంటువు
Name[tg]=Луғати Merriam-Webster
Name[th]=พจนานุกรม Merriam-Webster
Name[tr]=Merriam-Webster Sözlüğü
Name[ug]=Merriam-Webster لۇغىتى
Name[uk]=Словник Merriam-Webster
Name[uz]=Merriam-Webster lugʻati
Name[uz@cyrillic]=Merriam-Webster луғати
Name[vi]=Từ điển Merriam-Webster
Name[wa]=Diccionaire inglès Merriam-Webster
Name[xh]= Dikshinari ye Merriam-Webster
Name[x-test]=xxMerriam-Webster Dictionaryxx
Name[zh_CN]=韦氏词典
Name[zh_TW]=韋氏詞典
X-KDE-ServiceTypes=SearchProvider
Keys=dict,webster
Query=http://www.m-w.com/cgi-bin/dictionary?book=Dictionary&va=\\{@}
Query[af]=http://www.m-w.com/cgi-bin/dictionary?book=Dictionary&va=\\{@}
Query[ar]=http://www.m-w.com/cgi-bin/dictionary?book=Dictionary&va=\\{@}
Query[as]=http://www.m-w.com/cgi-bin/dictionary?book=Dictionary&va=\\{@}
Query[ast]=http://www.m-w.com/cgi-bin/dictionary?book=Dictionary&va=\\{@}
Query[be]=http://www.m-w.com/cgi-bin/dictionary?book=Dictionary&va=\\{@}
Query[be@latin]=http://www.m-w.com/cgi-bin/dictionary?book=Dictionary&va=\\{@}
Query[bg]=http://www.m-w.com/cgi-bin/dictionary?book=Dictionary&va=\\{@}
Query[bn]=http://www.m-w.com/cgi-bin/dictionary?book=Dictionary&va=\\{@}
Query[bn_IN]=http://www.m-w.com/cgi-bin/dictionary?book=Dictionary&va=\\{@}
Query[br]=http://www.m-w.com/cgi-bin/dictionary?book=Dictionary&va=\\{@}
Query[bs]=http://www.m-w.com/cgi-bin/dictionary?book=Dictionary&va=\\{@}
Query[ca]=http://www.m-w.com/cgi-bin/dictionary?book=Dictionary&va=\\{@}
Query[ca@valencia]=http://www.m-w.com/cgi-bin/dictionary?book=Dictionary&va=\\{@}
Query[cs]=http://www.m-w.com/cgi-bin/dictionary?book=Dictionary&va=\\{@}
Query[csb]=http://www.m-w.com/cgi-bin/dictionary?book=Dictionary&va=\\{@}
Query[da]=http://www.m-w.com/cgi-bin/dictionary?book=Dictionary&va=\\{@}
Query[de]=http://www.m-w.com/cgi-bin/dictionary?book=Dictionary&va=\\{@}
Query[el]=http://www.m-w.com/cgi-bin/dictionary?book=Dictionary&va=\\{@}
Query[en_GB]=http://www.m-w.com/cgi-bin/dictionary?book=Dictionary&va=\\{@}
Query[eo]=http://www.m-w.com/cgi-bin/dictionary?book=Dictionary&va=\\{@}
Query[es]=http://www.m-w.com/cgi-bin/dictionary?book=Dictionary&va=\\{@}
Query[et]=http://www.m-w.com/cgi-bin/dictionary?book=Dictionary&va=\\{@}
Query[eu]=http://www.m-w.com/cgi-bin/dictionary?book=Dictionary&va=\\{@}
Query[fa]=http://www.m-w.com/cgi-bin/dictionary?book=Dictionary&va=\\{@}
Query[fi]=http://www.m-w.com/cgi-bin/dictionary?book=Dictionary&va=\\{@}
Query[fr]=http://www.m-w.com/cgi-bin/dictionary?book=Dictionary&va=\\{@}
Query[fy]=http://www.m-w.com/cgi-bin/dictionary?book=Dictionary&va=\\{@}
Query[ga]=http://www.m-w.com/cgi-bin/dictionary?book=Dictionary&va=\\{@}
Query[gl]=http://www.m-w.com/cgi-bin/dictionary?book=Dictionary&va=\\{@}
Query[gu]=http://www.m-w.com/cgi-bin/dictionary?book=Dictionary&va=\\{@}
Query[he]=http://www.m-w.com/cgi-bin/dictionary?book=Dictionary&va=\\{@}
Query[hi]=http://www.m-w.com/cgi-bin/dictionary?book=Dictionary&va=\\{@}
Query[hne]=http://www.m-w.com/cgi-bin/dictionary?book=Dictionary&va=\\{@}
Query[hr]=http://www.m-w.com/cgi-bin/dictionary?book=Dictionary&va=\\{@}
Query[hsb]=http://www.m-w.com/cgi-bin/dictionary?book=Dictionary&va=\\{@}
Query[hu]=http://www.m-w.com/cgi-bin/dictionary?book=Dictionary&va=\\{@}
Query[ia]=http://www.m-w.com/cgi-bin/dictionary?book=Dictionary&va=\\{@}
Query[id]=http://www.m-w.com/cgi-bin/dictionary?book=Dictionary&va=\\{@}
Query[is]=http://www.m-w.com/cgi-bin/dictionary?book=Dictionary&va=\\{@}
Query[it]=http://www.m-w.com/cgi-bin/dictionary?book=Dictionary&va=\\{@}
Query[ja]=http://www.m-w.com/cgi-bin/dictionary?book=Dictionary&va=\\{@}
Query[ka]=http://www.m-w.com/cgi-bin/dictionary?book=Dictionary&va=\\{@}
Query[kk]=http://www.m-w.com/cgi-bin/dictionary?book=Dictionary&va=\\{@}
Query[km]=http://www.m-w.com/cgi-bin/dictionary?book=Dictionary&va=\\{@}
Query[kn]=http://www.m-w.com/cgi-bin/dictionary?book=Dictionary&va=\\{@}
Query[ko]=http://www.m-w.com/cgi-bin/dictionary?book=Dictionary&va=\\{@}
Query[ku]=http://www.m-w.com/cgi-bin/dictionary?book=Dictionary&va=\\{@}
Query[lt]=http://www.m-w.com/cgi-bin/dictionary?book=Dictionary&va=\\{@}
Query[lv]=http://www.m-w.com/cgi-bin/dictionary?book=Dictionary&va=\\{@}
Query[mai]=http://www.m-w.com/cgi-bin/dictionary?book=Dictionary&va=\\{@}
Query[ml]=http://www.m-w.com/cgi-bin/dictionary?book=Dictionary&va=\\{@}
Query[mr]=http://www.m-w.com/cgi-bin/dictionary?book=Dictionary&va=\\{@}
Query[ms]=http://www.m-w.com/cgi-bin/dictionary?book=Dictionary&va=\\{@}
Query[nb]=http://www.m-w.com/cgi-bin/dictionary?book=Dictionary&va=\\{@}
Query[nds]=http://www.m-w.com/cgi-bin/dictionary?book=Dictionary&va=\\{@}
Query[ne]=http://www.m-w.com/cgi-bin/dictionary?book=Dictionaryva=\\{@}
Query[nl]=http://www.m-w.com/cgi-bin/dictionary?book=Dictionary&va=\\{@}
Query[nn]=http://www.m-w.com/cgi-bin/dictionary?book=Dictionary&va=\\{@}
Query[oc]=http://www.m-w.com/cgi-bin/dictionary?book=Dictionary&va=\\{@}
Query[or]=http://www.m-w.com/cgi-bin/dictionary?book=Dictionary&va=\\{@}
Query[pa]=http://www.m-w.com/cgi-bin/dictionary?book=Dictionary&va=\\{@}
Query[pl]=http://www.m-w.com/cgi-bin/dictionary?book=Dictionary&va=\\{@}
Query[pt]=http://www.m-w.com/cgi-bin/dictionary?book=Dictionary&va=\\{@}
Query[pt_BR]=http://www.m-w.com/cgi-bin/dictionary?book=Dictionary&va=\\{@}
Query[ro]=http://www.m-w.com/cgi-bin/dictionary?book=Dictionary&va=\\{@}
Query[ru]=http://www.m-w.com/cgi-bin/dictionary?book=Dictionary&va=\\{@}
Query[se]=http://www.m-w.com/cgi-bin/dictionary?book=Dictionary&va=\\{@}
Query[si]=http://www.m-w.com/cgi-bin/dictionary?book=Dictionary&va=\\{@}
Query[sk]=http://www.m-w.com/cgi-bin/dictionary?book=Dictionary&va=\\{@}
Query[sl]=http://www.m-w.com/cgi-bin/dictionary?book=Dictionary&va=\\{@}
Query[sr]=http://www.m-w.com/cgi-bin/dictionary?book=Dictionary&va=\\{@}
Query[sr@ijekavian]=http://www.m-w.com/cgi-bin/dictionary?book=Dictionary&va=\\{@}
Query[sr@ijekavianlatin]=http://www.m-w.com/cgi-bin/dictionary?book=Dictionary&va=\\{@}
Query[sr@latin]=http://www.m-w.com/cgi-bin/dictionary?book=Dictionary&va=\\{@}
Query[sv]=http://www.m-w.com/cgi-bin/dictionary?book=Dictionary&va=\\{@}
Query[ta]=http://www.m-w.com/cgi-bin/dictionary?book=Dictionary&va=\\{@}
Query[te]=http://www.m-w.com/cgi-bin/dictionary?book=Dictionary&va=\\{@}
Query[tg]=http://www.m-w.com/cgi-bin/dictionary?book=Dictionary&va=\\{@}
Query[th]=http://www.m-w.com/cgi-bin/dictionary?book=Dictionary&va=\\{@}
Query[tr]=http://www.m-w.com/cgi-bin/dictionary?book=Dictionary&va=\\{@}
Query[ug]=http://www.m-w.com/cgi-bin/dictionary?book=Dictionary&va=\\{@}
Query[uk]=http://www.m-w.com/cgi-bin/dictionary?book=Dictionary&va=\\{@}
Query[uz]=http://www.m-w.com/cgi-bin/dictionary?book=Dictionary&va=\\{@}
Query[uz@cyrillic]=http://www.m-w.com/cgi-bin/dictionary?book=Dictionary&va=\\{@}
Query[vi]=http://www.m-w.com/cgi-bin/dictionary?book=Dictionary&va=\\{@}
Query[wa]=http://www.m-w.com/cgi-bin/dictionary?book=Dictionary&va=\\{@}
Query[x-test]=xxhttp://www.m-w.com/cgi-bin/dictionary?book=Dictionary&va=\\{@}xx
Query[zh_CN]=http://www.m-w.com/cgi-bin/dictionary?book=Dictionary&va=\\{@}
Query[zh_TW]=http://www.m-w.com/cgi-bin/dictionary?book=Dictionary&va=\\{@}
