[Desktop Entry]
Charset=
Hidden=false
Keys=wikia,wka
Name=Wikia
Name[ar]=ويكيًَا
Name[ast]=Wikia
Name[bg]=Wikia
Name[bn]=উইকিয়া
Name[bs]=Vikija
Name[ca]=Wikia
Name[ca@valencia]=Wikia
Name[cs]=Wikia
Name[da]=Wikia
Name[de]=Wikia
Name[el]=Wikia
Name[en_GB]=Wikia
Name[eo]=Wikia
Name[es]=Wikia
Name[et]=Wikia
Name[eu]=Wikia
Name[fa]=Wikia
Name[fi]=Wikia
Name[fr]=Wikia
Name[ga]=Wikia
Name[gl]=Wikia
Name[gu]=વિકિઆ
Name[he]=Wikia
Name[hi]=विकिया
Name[hr]=Wikia
Name[hu]=Wikia
Name[ia]=Wikia
Name[id]=Wikia
Name[is]=Wikia
Name[it]=Wikia
Name[ja]=Wikia
Name[ka]=Wikia
Name[kk]=Wikia
Name[km]=Wikia
Name[kn]=ವಿಕಿಯಾ
Name[ko]=위키아
Name[lt]=Wikia
Name[lv]=Wikia
Name[ml]=വിക്കിയ
Name[mr]=विकिआ
Name[nb]=Wikia
Name[nds]=Wikia
Name[nl]=Wikia
Name[nn]=Wikia
Name[pa]=ਵਿਕਿਆ
Name[pl]=Wikia
Name[pt]=Wikia
Name[pt_BR]=Wikia
Name[ro]=Wikia
Name[ru]=Wikia
Name[si]=Wikia
Name[sk]=Wikia
Name[sl]=Wikia
Name[sr]=Викија
Name[sr@ijekavian]=Викија
Name[sr@ijekavianlatin]=Wikia
Name[sr@latin]=Wikia
Name[sv]=Wikia
Name[tg]=Wikia
Name[th]=Wikia
Name[tr]=Wikia
Name[ug]=Wikia
Name[uk]=Wikia
Name[vi]=Wikia
Name[wa]=Wikia
Name[x-test]=xxWikiaxx
Name[zh_CN]=Wikia
Name[zh_TW]=Wikia
Query=http://www.wikia.com/Special:Search?search=\\{@}&wikia_search_submit=Search
Query[ar]=http://www.iblist.com/search/search.php?item=\\{@}&submit=Search
Query[ast]=http://www.wikia.com/Special:Search?search=\\{@}&wikia_search_submit=Search
Query[bg]=http://www.wikia.com/Special:Search?search=\\{@}&wikia_search_submit=Search
Query[bn]=http://www.wikia.com/Special:Search?search=\\{@}&wikia_search_submit=Search
Query[bs]=http://www.wikia.com/Special:Search?search=\\{@}&wikia_search_submit=Search
Query[ca]=http://www.wikia.com/Special:Search?search=\\{@}&wikia_search_submit=Search
Query[ca@valencia]=http://www.wikia.com/Special:Search?search=\\{@}&wikia_search_submit=Search
Query[cs]=http://www.wikia.com/Special:Search?search=\\{@}&wikia_search_submit=Search
Query[da]=http://www.wikia.com/Special:Search?search=\\{@}&wikia_search_submit=Search
Query[de]=http://www.wikia.com/Special:Search?search=\\{@}&wikia_search_submit=Search
Query[el]=http://www.wikia.com/Special:Search?search=\\{@}&wikia_search_submit=Search
Query[en_GB]=http://www.wikia.com/Special:Search?search=\\{@}&wikia_search_submit=Search
Query[eo]=http://www.wikia.com/Special:Search?search=\\{@}&wikia_search_submit=Search
Query[es]=http://www.wikia.com/Special:Search?search=\\{@}&wikia_search_submit=Search
Query[et]=http://www.wikia.com/Special:Search?search=\\{@}&wikia_search_submit=Search
Query[eu]=http://www.wikia.com/Special:Search?search=\\{@}&wikia_search_submit=Search
Query[fa]=http://www.wikia.com/Special:Search?search=\\{@}&wikia_search_submit=Search
Query[fi]=http://www.wikia.com/Special:Search?search=\\{@}&wikia_search_submit=Search
Query[fr]=http://www.wikia.com/Special:Search?search=\\{@}&wikia_search_submit=Search
Query[ga]=http://www.wikia.com/Special:Search?search=\\{@}&wikia_search_submit=Search
Query[gl]=http://www.wikia.com/Special:Search?search=\\{@}&wikia_search_submit=Search
Query[gu]=http://www.wikia.com/Special:Search?search=\\{@}&wikia_search_submit=Search
Query[he]=http://www.wikia.com/Special:Search?search=\\{@}&wikia_search_submit=Search
Query[hi]=http://www.wikia.com/Special:Search?search=\\{@}&wikia_search_submit=Search
Query[hr]=http://www.wikia.com/Special:Search?search=\\{@}&wikia_search_submit=Search
Query[hu]=http://www.wikia.com/Special:Search?search=\\{@}&wikia_search_submit=Search
Query[ia]=http://www.wikia.com/Special:Search?search=\\{@}&wikia_search_submit=Search
Query[id]=http://www.wikia.com/Special:Search?search=\\{@}&wikia_search_submit=Search
Query[is]=http://www.wikia.com/Special:Search?search=\\{@}&wikia_search_submit=Search
Query[it]=http://www.wikia.com/Special:Search?search=\\{@}&wikia_search_submit=Search
Query[ja]=http://www.wikia.com/Special:Search?search=\\{@}&wikia_search_submit=Search
Query[kk]=http://www.wikia.com/Special:Search?search=\\{@}&wikia_search_submit=Search
Query[km]=http://www.wikia.com/Special:Search?search=\\{@}&wikia_search_submit=Search
Query[kn]=http://www.wikia.com/Special:Search?search=\\{@}&wikia_search_submit=Search
Query[ko]=http://www.wikia.com/Special:Search?search=\\{@}&wikia_search_submit=Search
Query[lt]=http://www.wikia.com/Special:Search?search=\\{@}&wikia_search_submit=Search
Query[lv]=http://www.wikia.com/Special:Search?search=\\{@}&wikia_search_submit=Search
Query[mai]=http://www.wikia.com/Special:Search?search=\\{@}&wikia_search_submit=Search
Query[ml]=http://www.wikia.com/Special:Search?search=\\{@}&wikia_search_submit=Search
Query[mr]=http://www.wikia.com/Special:Search?search=\\{@}&wikia_search_submit=Search
Query[nb]=http://www.wikia.com/Special:Search?search=\\{@}&wikia_search_submit=Search
Query[nds]=http://www.wikia.com/Special:Search?search=\\{@}&wikia_search_submit=Search
Query[nl]=http://www.wikia.com/Special:Search?search=\\{@}&wikia_search_submit=Search
Query[nn]=http://www.wikia.com/Special:Search?search=\\{@}&wikia_search_submit=Search
Query[pa]=http://www.wikia.com/Special:Search?search=\\{@}&wikia_search_submit=Search
Query[pl]=http://www.wikia.com/Special:Search?search=\\{@}&wikia_search_submit=Search
Query[pt]=http://www.wikia.com/Special:Search?search=\\{@}&wikia_search_submit=Search
Query[pt_BR]=http://www.wikia.com/Special:Search?search=\\{@}&wikia_search_submit=Search
Query[ro]=http://www.wikia.com/Special:Search?search=\\{@}&wikia_search_submit=Search
Query[ru]=http://www.wikia.com/Special:Search?search=\\{@}&wikia_search_submit=Search
Query[si]=http://www.wikia.com/Special:Search?search=\\{@}&wikia_search_submit=Search
Query[sk]=http://www.wikia.com/Special:Search?search=\\{@}&wikia_search_submit=Search
Query[sl]=http://www.wikia.com/Special:Search?search=\\{@}&wikia_search_submit=Search
Query[sr]=http://www.wikia.com/Special:Search?search=\\{@}&wikia_search_submit=Search
Query[sr@ijekavian]=http://www.wikia.com/Special:Search?search=\\{@}&wikia_search_submit=Search
Query[sr@ijekavianlatin]=http://www.wikia.com/Special:Search?search=\\{@}&wikia_search_submit=Search
Query[sr@latin]=http://www.wikia.com/Special:Search?search=\\{@}&wikia_search_submit=Search
Query[sv]=http://www.wikia.com/Special:Search?search=\\{@}&wikia_search_submit=Search
Query[tg]=http://www.wikia.com/Special:Search?search=\\{@}&wikia_search_submit=Search
Query[th]=http://www.wikia.com/Special:Search?search=\\{@}&wikia_search_submit=Search
Query[tr]=http://www.wikia.com/Special:Search?search=\\{@}&wikia_search_submit=Search
Query[ug]=http://www.wikia.com/Special:Search?search=\\{@}&wikia_search_submit=Search
Query[uk]=http://www.wikia.com/Special:Search?search=\\{@}&wikia_search_submit=Search
Query[vi]=http://www.wikia.com/Special:Search?search=\\{@}&wikia_search_submit=Search
Query[wa]=http://www.wikia.com/Special:Search?search=\\{@}&wikia_search_submit=Search
Query[x-test]=xxhttp://www.wikia.com/Special:Search?search=\\{@}&wikia_search_submit=Searchxx
Query[zh_CN]=http://www.wikia.com/Special:Search?search=\\{@}&wikia_search_submit=Search
Query[zh_TW]=http://www.wikia.com/Special:Search?search=\\{@}&wikia_search_submit=Search
ServiceTypes=SearchProvider
Type=Service
