[Desktop Entry]
Name=Global Shortcuts
Name[bs]=Globalne kratice
Name[ca]=Dreceres globals
Name[ca@valencia]=Dreceres globals
Name[cs]=Globální zkratky
Name[da]=Globale genveje
Name[de]=Globale Kurzbefehle
Name[el]=Καθολικές συντομεύσεις
Name[es]=Accesos rápidos de teclado globales
Name[et]=Globaalsed kiirklahvid
Name[eu]=Lasterbide orokorrak
Name[fi]=Työpöydänlaajuiset pikanäppäimet
Name[fr]=Raccourcis globaux
Name[gl]=Atallos globais
Name[he]=קישורים גלובאלים
Name[hu]=Globális billentyűparancsok
Name[ia]=Vias breve Global 
Name[is]=Altækir flýtihnappar
Name[it]=Scorciatoie globali
Name[kk]=Жалпы жүйелік тіркесімдер
Name[km]=​ផ្លូវកាត់​សកល
Name[ko]=전역 단축키
Name[lt]=Globalieji spartieji klavišai
Name[mr]=जागतिक शॉर्टकट्स
Name[nb]=Globale snarveier
Name[nl]=Globale sneltoetsen
Name[pa]=ਗਲੋਬਲ ਸ਼ਾਰਟਕੱਟ
Name[pl]=Skróty globalne
Name[pt]=Atalhos Globais
Name[pt_BR]=Atalhos globais
Name[ro]=Acceleratori globali
Name[ru]=Глобальные комбинации клавиш
Name[sk]=Globálne skratky
Name[sl]=Splošne bližnjice
Name[sr]=Глобалне пречице
Name[sr@ijekavian]=Глобалне пречице
Name[sr@ijekavianlatin]=Globalne prečice
Name[sr@latin]=Globalne prečice
Name[sv]=Globala genvägar
Name[tr]=Genel Kısayollar
Name[ug]=ئومۇمىيەت تېزلەتمە
Name[uk]=Загальні клавіатурні скорочення
Name[x-test]=xxGlobal Shortcutsxx
Name[zh_CN]=全局快捷键
Name[zh_TW]=全域捷徑
Comment=Adds global keyboard shortcuts for activity switching
Comment[bs]=Dodaje globalne kratice tastature za prebacivanje aktivnosti
Comment[ca]=Afegeix les dreceres de teclat globals per canvi d'activitats
Comment[ca@valencia]=Afig les dreceres de teclat globals per canvi d'activitats
Comment[cs]=Přidává globální klávesové zkratky pro přepínání aktivit
Comment[da]=Tilføjer globale tastaturgenveje til skift af aktivitet
Comment[de]=Fügt globale Tastatur-Kurzbefehle für das Wechseln von Aktivitäten hinzu
Comment[el]=Προσθέτει καθολικές συντομεύσεις πληκτρολογίου για εναλλαγή δραστηριοτήτων
Comment[es]=Añade accesos rápidos de teclado globales para el cambio de actividad
Comment[et]=Globaalsete kiirklahvide lisamine tegevuste vahetamiseks
Comment[eu]=Teklatuaren lasterbide orokorrak eransten ditu jardueren artean aldatzeko
Comment[fi]=Lisää työpöydänlaajuiset pikanäppäimet aktiviteettien vaihtamiseen
Comment[fr]=Ajoute des raccourcis clavier globaux pour le changement d'activités
Comment[gl]=Engade atallos de teclado globais para trocar de actividade
Comment[he]=מוסיף קיצורי מקשים גלובאלים למעבר בין פעילויות
Comment[hu]=Globális gyorsbillentyűk hozzáadása az aktivitás váltóhoz
Comment[ia]=Adde vias breve de claviero global pro commutation de activitate
Comment[it]=Aggiunge scorciatoie della tastiera globali per cambiare attività
Comment[kk]=Белсенділік ауыстыру жалпы жүйелік перне тіркесімдерін қосу
Comment[km]=បន្ថែម​​​ផ្លូវកាត់​ក្ដារចុច​សកល​សម្រាប់​ការ​ប្ដូរ​សកម្ម
Comment[ko]=활동 전환을 위한 전역 단축키 추가
Comment[lt]=Prideda globalius sparčiuosius klavišus veiklos perjungimui
Comment[mr]=कार्यपध्दती बदलण्याकरिता जागतिक कळफलक शॉर्टकट्स जोढतो
Comment[nb]=Legger til globale snarveistaster som bytter mellom aktiviteter
Comment[nl]=Voegt globale sneltoetsen toe aan omschakelen van activiteit
Comment[pl]=Dodaje globalne skróty klawiaturowe do przełączania działań
Comment[pt]=Adiciona atalhos globais do teclado para a mudança de actividades
Comment[pt_BR]=Adiciona atalhos de teclado globais para alternar atividades
Comment[ro]=Adaugă acceleratori de tastatură globali pentru comutarea activităților
Comment[ru]=Определяет глобальные комбинации клавиш для переключения комнат
Comment[sk]=Pridá globálne klávesové skratky na prepínanie aktivít
Comment[sl]=Doda splošne tipkovne bližnjice za preklapljanje dejavnosti
Comment[sr]=Додаје глобалне пречице са тастатуре за мењање активности
Comment[sr@ijekavian]=Додаје глобалне пречице са тастатуре за мењање активности
Comment[sr@ijekavianlatin]=Dodaje globalne prečice sa tastature za menjanje aktivnosti
Comment[sr@latin]=Dodaje globalne prečice sa tastature za menjanje aktivnosti
Comment[sv]=Lägger till globala snabbtangenter för aktivitetsbyte
Comment[tr]=Etkinlik geçişi için genel klavye kısayolları ekler
Comment[ug]=پائالىيەت ئالماشتۇرۇش ئۈچۈن ئومۇمىيەت ھەرپتاختا قىسقا يوللىرىنى قوشىدۇ
Comment[uk]=Додає загальні клавіатурні скорочення для перемикання просторів дій
Comment[x-test]=xxAdds global keyboard shortcuts for activity switchingxx
Comment[zh_CN]=为活动切换添加全局键盘快捷键
Comment[zh_TW]=新增活動切換的全域鍵盤捷徑
Type=Service
Icon=configure-shortcuts

X-KDE-ServiceTypes=ActivityManager/Plugin
X-KDE-Library=activitymanager_plugin_globalshortcuts
X-KDE-PluginInfo-Author=Makis Marimpis
X-KDE-PluginInfo-Email=makhsm@gmail.com
X-KDE-PluginInfo-Name=org.kde.kactivitymanager.globalshortcuts
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=http://plasma.kde.org/
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true

