[Desktop Entry]
Name=Virtual desktop switcher
Name[bs]=Prebacivač virtuelnih radnih površina
Name[ca]=Commutador d'escriptoris virtuals
Name[ca@valencia]=Commutador d'escriptoris virtuals
Name[cs]=Přepínač virtuálních ploch
Name[da]=Skift mellem virtuelle skriveborde
Name[de]=Virtueller Arbeitsflächenumschalter
Name[el]=Εναλλάκτης εικονικής επιφάνειας εργασίας
Name[es]=Selector de escritorio virtual
Name[et]=Virtuaalsete töölaudade vahetaja
Name[eu]=Alegiazko mahaigain aldatzailea
Name[fi]=Virtuaalityöpöydän valitsin
Name[fr]=Commutateur de bureaux virtuels
Name[gl]=Selector de escritorio virtual
Name[he]=מעביר שולחנות עבודה
Name[hu]=Virtuális asztal váltó
Name[ia]=Commutator de scriptorio virtual
Name[it]=Cambiadesktop virtuale
Name[kk]=Виртуалды үстелін ауыстырушы
Name[km]=កម្មវិធី​ប្ដូរ​ផ្ទៃតុ​និម្មិត
Name[ko]=가상 데스크톱 전환기
Name[lt]=Virtualaus darbastalio perjungėjas
Name[mr]=आभासी डेस्कटॉप बदलणारा
Name[nb]=Bytter virtuelle skrivebord
Name[nl]=Virtueel bureaublad omschakelaar
Name[pa]=ਵਰਚੁਅਲ ਡੈਸਕਟਾਪ ਸਵਿੱਚਰ
Name[pl]=Przełącznik wirtualnych pulpitów
Name[pt]=Selector de ecrãs virtuais
Name[pt_BR]=Alternador de áreas de trabalho virtuais
Name[ro]=Comutator virtual de birouri
Name[ru]=Переключатель виртуальных рабочих столов
Name[sk]=Prepínač virtuálnych plôch
Name[sl]=Preklapljanje navideznih namizij
Name[sr]=Мењач виртуелних површи
Name[sr@ijekavian]=Мењач виртуелних површи
Name[sr@ijekavianlatin]=Menjač virtuelnih površi
Name[sr@latin]=Menjač virtuelnih površi
Name[sv]=Byte av virtuellt skrivbord
Name[tr]=Sanal masaüstü değiştirici
Name[ug]=مەۋھۇم ئۈستەلئۈستى ئالماشتۇرغۇچ
Name[uk]=Перемикач віртуальних стільниць
Name[x-test]=xxVirtual desktop switcherxx
Name[zh_CN]=虚拟桌面切换器
Name[zh_TW]=虛擬桌面切換器
Comment=When switching to an activity, opens the virtual desktop last used with that activity
Comment[bs]=Pri prebacivanju na aktivnost, otvara vitruelni deskstop koji je zadnji korišten s tom aktivnošću
Comment[ca]=En canviar a una activitat, obre el darrer escriptori virtual utilitzat amb aquesta activitat
Comment[ca@valencia]=En canviar a una activitat, obri el darrer escriptori virtual utilitzat amb esta activitat
Comment[da]=Når der skiftes til en aktivitet, åbnes det virtuelle skrivebord der senest blev brugt med den aktivitet
Comment[de]=Beim Wechseln zu einer Aktivität wird die virtuelle Arbeitsfläche geöffnet, auf der zuletzt diese Aktivität benutzt wurde
Comment[el]=Όταν γίνεται εναλλαγή δραστηριότητας, ανοίγει την εικονική επιφάνεια εργασίας που χρησιμοποιήθηκε τελευταία με τη δραστηριότητα αυτή
Comment[es]=Cuando se cambia a una actividad, abre el escritorio virtual usado por última vez con dicha actividad
Comment[et]=Avab tegevuse vahetamisel uues tegevuses viimati kasutatud virtuaalse töölaua
Comment[eu]=Jarduera batera aldatzean, jarduera horrekin erabilitako azken alegiazko mahaigaina irekitzen du
Comment[fi]=Aktiviteettia vaihdettaessa avaa sen virtuaalityöpöydän, jota kyseisellä aktiviteetilla viimeksi käytettiin
Comment[fr]=Lors d'un changement d'activité, cette fonction ouvre le dernier bureau virtuel utilisé par cette activité
Comment[gl]=Cando se muda de actividade abre o último escritorio virtual usado con esa actividade
Comment[he]=בעת מעבר בין פעילויות, פותח את שולחן העבודה בשימוש אחרון בפעילות המתאימה
Comment[hu]=Amikor aktivitást vált, megnyitja az aktivitás által utoljára használt virtuális asztalt
Comment[ia]=Quando on commuta a un activitate, il aperi le ultime scriptorio virtual usate con celle activitate
Comment[it]=Quando si passa ad un'attività, apre l'ultimo desktop virtuale usato con quella attività
Comment[kk]=Белсенділікті ауыстырғанда, оны соңғы рет пайдаланған  виртуалды үстелді ашу
Comment[km]=នៅ​ពេល​ប្ដូរ​ទៅ​ជា​សកម្ម​ភាព បើក​​ផ្ទៃតុ​និម្មិត​ចុងក្រោយ​ដែល​បាន​ប្រើ​ជាមួយ​​សកម្មភាព​នោះ
Comment[ko]=활동으로 전환할 때 그 활동에서 사용한 마지막 가상 데스크톱을 염
Comment[lt]=Kai persijungiama į veiklą, atveria paskiausiai naudotą virtualų darbastalį su šia veikla
Comment[mr]=कार्यपध्दती बदलताना त्या कार्यपध्दती बरोबर वापरलेला शेवटचा आभासी डेस्कटॉप उघडतो
Comment[nb]=Når det byttes til en aktivitet, så åpnes det virtuelle skrivebordet som sist ble brukt med den aktiviteten
Comment[nl]=Bij het omschakelen naar een activiteit, opent het virtuele bureaublad dat het laatst werd gebruikt met die activiteit
Comment[pl]=Przy przełączaniu do działania, otwiera ostatnio używany, przy tym działaniu, wirtualny pulpit
Comment[pt]=Ao mudar para uma actividade, abre o ecrã virtual usado da última vez com essa actividade
Comment[pt_BR]=Ao alternar para uma atividade, abre a última área de trabalho virtual usada com esta atividade
Comment[ro]=La cumutarea către o activitate, deschide ultimul birou virtual folosit cu acea activitate
Comment[ru]=При переключении на комнату открывает виртуальный рабочий стол, активный в ней ранее
Comment[sk]=Pri prepnutí na aktivitu, otvorí virtuálnu plochu naposledy použitú s danou aktivitou.
Comment[sl]=Ob preklopu na dejavnost odpre navidezno namizje, ki je bilo nazadnje uporabljeno s to dejavnostjo
Comment[sr]=При пребацивању на активност, отвара виртуелну површ која је последња коришћена у тој активности
Comment[sr@ijekavian]=При пребацивању на активност, отвара виртуелну површ која је последња коришћена у тој активности
Comment[sr@ijekavianlatin]=Pri prebacivanju na aktivnost, otvara virtuelnu površ koja je poslednja korišćena u toj aktivnosti
Comment[sr@latin]=Pri prebacivanju na aktivnost, otvara virtuelnu površ koja je poslednja korišćena u toj aktivnosti
Comment[sv]=Vid byte till en aktivitet, öppnar det virtuella skrivbord som senast användes med den aktiviteten
Comment[tr]=Bir etkinliğe geçiş yaparken, o etkinliği kullanmış son sanal masaüstünü açar
Comment[ug]=پائالىيەتكە ئالماشقاندا، ئاخىرقى قېتىم ئىشلەتكەن مەۋھۇم ئۈستەلئۈستى ۋە پائالىيەتنى ئاچىدۇ
Comment[uk]=Під час перемикання на простір дій відкриває віртуальну стільницю, яку було використано у цьому просторі останньою
Comment[x-test]=xxWhen switching to an activity, opens the virtual desktop last used with that activityxx
Comment[zh_CN]=切换活动时打开上次一同使用的虚拟桌面
Comment[zh_TW]=切換到一個活動時，開啟該活動中上次使用的虛擬桌面

Type=Service
Icon=preferences-system-windows

X-KDE-ServiceTypes=ActivityManager/Plugin
X-KDE-Library=activitymanager_plugin_virtualdesktopswitch
X-KDE-PluginInfo-Author=Ivan Cukic
X-KDE-PluginInfo-Email=ivan.cukic@kde.org
X-KDE-PluginInfo-Name=org.kde.kactivitymanager.virtualdesktopswitch
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=http://plasma.kde.org/
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true

