[Desktop Entry]
Name=Share-Like-Connect
Name[bs]=Povezivanje kao Share
Name[ca]=«Share-Like-Connect»
Name[ca@valencia]=«Share-Like-Connect»
Name[da]=Share-Like-Connect
Name[de]=Share-Like-Connect
Name[el]=Share-Like-Connect
Name[es]=Compartir-Me gusta-Conectar
Name[et]=Share-Like-Connect
Name[eu]=Share-Like-Connect
Name[fi]=Share-Like-Connect
Name[fr]=Share-Like-Connect
Name[gl]=Compartir-gustar-conectar
Name[he]=שתף-אוהב-מתחבר
Name[hu]=Share-Like-Connect
Name[ia]=Connexion como compartir (Share-Like-Connect)
Name[it]=Share-Like-Connect
Name[kk]=Қосылу-Секілді-Ортақтастыру
Name[km]=កម្មវិធី​ជំនួយ​តភ្ជាប់​ដូច​ជា​ការ​ចែករំលែក​
Name[ko]=공유-좋아요-연결
Name[lt]=Share-Like-Connect
Name[mr]=शेअर-लाइक-कनेक्ट
Name[nb]=Share-Like-Connect
Name[nl]='Share-Like-Connect'
Name[pa]=ਸ਼ੇਅਰ-ਲਾਈਕ-ਕੁਨੈਕਟ
Name[pl]=Share-Like-Connect
Name[pt]=Share-Like-Connect
Name[pt_BR]=Share-Like-Connect
Name[ro]=Partajează-Place-Conectează
Name[ru]=Share-Like-Connect
Name[sk]=Share-Like-Connect
Name[sl]=Share-Like-Connect
Name[sr]=Подели-оцени-повежи (СЛЦ)
Name[sr@ijekavian]=Подели-оцени-повежи (СЛЦ)
Name[sr@ijekavianlatin]=Podeli-oceni-poveži (SLC)
Name[sr@latin]=Podeli-oceni-poveži (SLC)
Name[sv]=Share-Like-Connect
Name[tr]=Paylaş-Beğen-Bağlan
Name[ug]=Share-Like-Connect
Name[uk]=Оприлюднти-Уподобати-З’єднати
Name[x-test]=xxShare-Like-Connectxx
Name[zh_CN]=分享-喜爱-连接
Name[zh_TW]=Share-Like-Connect
Comment=Provides data to Share-Like-Connect applet
Comment[bs]=Pruža podatke za programčić Share-Like-Connect
Comment[ca]=Proporciona dades a la miniaplicació «Share-Like-Connect»
Comment[ca@valencia]=Proporciona dades a la miniaplicació «Share-Like-Connect»
Comment[da]=Giver data til Share-Like-Connect-appletten
Comment[de]=Liefert Daten für das Miniprogramm Share-Like-Connect
Comment[el]=Παρέχει δεδομένα σε μικροεφαρμογή Share-Like-Connect
Comment[es]=Proporciona datos a la miniaplicación Compartir-Me gusta-Conectar
Comment[et]=Andmete edastamine Share-Like-Connecti pluginale
Comment[eu]=Share-Like-Connect appletari datuak hornitzen dizkio
Comment[fi]=Tarjoaa tietoa Share-Like-Connect-sovelmalle
Comment[fr]=Fournit des données à l'applet « Share-Like-Connect »
Comment[gl]=Fornece datos á applet compartir-gustar-conectar
Comment[he]=מספק מידע לתוספ שתף-אוהב-מתחבר
Comment[hu]=Adatot szolgáltat a Share-Like-Connect kisalkalmazáshoz
Comment[ia]=Provide datos pro applet Share-Like-Connect
Comment[it]=Fornisce dati al programma Share-Like-Connect
Comment[kk]=Қосылу-Секілді-Ортақтастыру апплетіне деректерді беру
Comment[km]=ផ្ដល់​ទិន្នន័យ​ដើម្បី​ចែករំលែក​កម្មវិធី​ជំនួយ​តភ្ជាប់​
Comment[ko]=공유-좋아요-연결 애플릿에 데이터 공급
Comment[lt]=Teikia duomenis Share-Like-Connect programėlei
Comment[mr]=शेअर-लाइक-कनेक्ट एप्लेटला डेटा पुरवितो
Comment[nb]=Skaffer data til miniprogrammet Share-Like-Connect
Comment[nl]=Levert gegevens aan het applet Share-Like-Connect
Comment[pl]=Dostarcza danych do apletu Share-Like-Connect
Comment[pt]=Fornece os dados à 'applet' do Share-Like-Connect
Comment[pt_BR]=Fornece dados para o miniaplicativo Share-Like-Connect
Comment[ro]=Furnizează date pentru miniaplicația Partajează-Place-Conectează
Comment[ru]=Предоставляет данные аплету Share-Like-Connect
Comment[sk]=Poskytuje dáta pre applet Share-Like-Connect
Comment[sl]=Ponuja podatke apletu Share-Like-Connect
Comment[sr]=Пружа податке аплету подели-оцени-повежи (СЛЦ)
Comment[sr@ijekavian]=Пружа податке аплету подели-оцени-повежи (СЛЦ)
Comment[sr@ijekavianlatin]=Pruža podatke apletu podeli-oceni-poveži (SLC)
Comment[sr@latin]=Pruža podatke apletu podeli-oceni-poveži (SLC)
Comment[sv]=Tillhandahåller data för Share-Like-Connect miniprogram
Comment[tr]=Paylaş-Beğen-Bağlan uygulamacığına veri sağlar
Comment[ug]=Share-Like-Connect ئەپچە ئۈچۈن سانلىق مەلۇمات تەمىنلەيدۇ
Comment[uk]=Надає дані аплетові Оприлюднити-Уподобати-З’єднати
Comment[x-test]=xxProvides data to Share-Like-Connect appletxx
Comment[zh_CN]=为分享-喜爱-连接小程序提供数据
Comment[zh_TW]=提供資料給 Share-Like-Connect 小程式
Type=Service
Icon=mail-forward

X-KDE-ServiceTypes=ActivityManager/Plugin
X-KDE-Library=activitymanager_plugin_slc
X-KDE-PluginInfo-Author=Ivan Cukic
X-KDE-PluginInfo-Email=ivan.cukic@kde.org
X-KDE-PluginInfo-Name=org.kde.kactivitymanager.slc
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=http://plasma.kde.org/
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true

