[Desktop Entry]
Icon=configure
Type=Service
X-KDE-ServiceTypes=KCModule

X-KDE-Library=kcm_akonadicontact_actions
X-KDE-ParentApp=kaddressbook
X-KDE-ParentComponents=kaddressbook,kontact_kaddressbookplugin
X-KDE-CfgDlgHierarchy=KAddressBook
X-KDE-Weight=200

Name=Contact Actions
Name[bs]=Radnje sa kontaktima
Name[ca]=Accions del contacte
Name[ca@valencia]=Accions del contacte
Name[cs]=Činnosti kontaktů
Name[da]=Kontakthandlinger
Name[de]=Kontakt-Aktionen
Name[el]=Ενέργειες επαφών
Name[en_GB]=Contact Actions
Name[es]=Acciones de contactos
Name[et]=Kontaktitoimingud
Name[fi]=Yhteystietotoiminnot
Name[fr]=Actions sur les contacts
Name[ga]=Gníomhartha Teagmhála
Name[gl]=Accións de contacto
Name[he]=פעילויות עם אנשי הקשר
Name[hu]=Névjegyműveletek
Name[ia]=Actiones de contacto
Name[it]=Azioni per i contatti
Name[ja]=連絡先アクション
Name[kk]=Контакттың амалдары
Name[km]=អំពើ​ទំនាក់​ទំនង
Name[lt]=Veiksmai su kontaktais
Name[lv]=Kontaktu darbības
Name[mr]=संपर्क क्रिया
Name[nb]=Kontakthandlinger
Name[nds]=Kontakt-Akschonen
Name[nl]=Contactpersoon-acties
Name[nn]=Kontakthandlingar
Name[pa]=ਸੰਪਰਕ ਐਕਸ਼ਨ
Name[pl]=Działania kontaktu
Name[pt]=Acções do Contacto
Name[pt_BR]=Ações dos contatos
Name[ro]=Acțiuni contacte
Name[ru]=Действия с контактом
Name[sk]=Akcie kontaktov
Name[sl]=Dejanja stikov
Name[sr]=Радње са контактима
Name[sr@ijekavian]=Радње са контактима
Name[sr@ijekavianlatin]=Radnje sa kontaktima
Name[sr@latin]=Radnje sa kontaktima
Name[sv]=Kontaktåtgärder
Name[th]=การกระทำต่าง ๆ ของที่อยู่ติดต่อ
Name[tr]=Kişi Eylemleri
Name[ug]=ئالاقەداش مەشغۇلاتى
Name[uk]=Дії контакту
Name[wa]=Accions des contaks
Name[x-test]=xxContact Actionsxx
Name[zh_CN]=联系人动作
Name[zh_TW]=聯絡人動作
Comment=Configure the Contact Actions
Comment[bs]=Podesite radnje sa kontaktima
Comment[ca]=Configura les accions del contacte
Comment[ca@valencia]=Configura les accions del contacte
Comment[cs]=Nastavit činnosti kontaktů
Comment[da]=Indstil kontakthandlinger
Comment[de]=Kontakt-Aktionen einrichten
Comment[el]=Διαμόρφωση των ενεργειών των επαφών
Comment[en_GB]=Configure the Contact Actions
Comment[es]=Configurar las acciones de contactos
Comment[et]=Kontaktitoimingute seadistamine
Comment[fi]=Yhteystietotoimintojen asetukset
Comment[fr]=Configurer les actions sur les contacts
Comment[ga]=Cumraigh na Gníomhartha Teagmhála
Comment[gl]=Configurar as accións de contacto
Comment[he]=הגדר את הפעילויות עם אנשי הקשר
Comment[hu]=A névjegyműveletek beállítása
Comment[ia]=Configura actiones de contacto
Comment[it]=Configura le azioni per i contatti
Comment[ja]=連絡先アクションの設定
Comment[kk]=Контакттың амалдарын баптау
Comment[km]=កំណត់​រចនាសម្ព័ន្ធ​អំពើ​ទំនាក់​ទំនង
Comment[lt]=Konfigūruoti kontaktų veiksmus
Comment[lv]=Konfigurēt kontaktu darbības
Comment[mr]=संपर्क क्रिया संयोजीत करा
Comment[nb]=Sett opp kontakthandlinger
Comment[nds]=Kontakt-Akschonen instellen
Comment[nl]=De contactpersoon-actie configureren
Comment[nn]=Set opp kontakthandlingar
Comment[pa]=ਸੰਪਰਕ ਐਕਸ਼ਨ ਸੰਰਚਨਾ
Comment[pl]=Konfiguruj działania kontaktu
Comment[pt]=Configurar as Acções do Contacto
Comment[pt_BR]=Configura as ações do contato
Comment[ro]=Configurează acțiunile contact
Comment[ru]=Настройка действий с контактом
Comment[sk]=Nastaviť akcie kontaktov
Comment[sl]=Nastavi dejanja stikov
Comment[sr]=Подесите радње са контактима
Comment[sr@ijekavian]=Подесите радње са контактима
Comment[sr@ijekavianlatin]=Podesite radnje sa kontaktima
Comment[sr@latin]=Podesite radnje sa kontaktima
Comment[sv]=Anpassa kontaktåtgärder
Comment[th]=ปรับแต่งการกระทำต่าง ๆ ของที่อยู่ติดต่อ
Comment[tr]=Kişi Eylemlerini Yapılandır
Comment[uk]=Налаштування дій для контакту
Comment[wa]=Apontyî ls accions des contaks
Comment[x-test]=xxConfigure the Contact Actionsxx
Comment[zh_CN]=配置联系人动作
Comment[zh_TW]=設定聯絡人動作
X-KDE-Keywords=kaddressbook, configure, settings, contact, actions
X-KDE-Keywords[bs]=kaddressbook, configure, settings, contact, actions, adresar, konfiguracija, postavke, akcije
X-KDE-Keywords[ca]=kaddressbook, configuració, arranjament, contacte, accions
X-KDE-Keywords[ca@valencia]=kaddressbook, configuració, arranjament, contacte, accions
X-KDE-Keywords[da]=kaddressbook, indstil, indstillinger, kontakt, handlinger
X-KDE-Keywords[de]=kaddressbook, configure, settings, contact, actions
X-KDE-Keywords[el]=kaddressbook, διαμόρφωση, ρυθμίσεις, επαφή, ενέργειες
X-KDE-Keywords[es]=kaddressbook, configurar, preferencias, contacto, acciones
X-KDE-Keywords[et]=kde aadressiraamat, seadistamine, seadistused, kontakt, toimingud
X-KDE-Keywords[fi]=kaddressbook, asetukset, yhteystieto, toiminnot
X-KDE-Keywords[fr]=KAddressBook, configuration, paramètres, contacts, actions
X-KDE-Keywords[ga]=kaddressbook, cumraigh, cumraíocht, socruithe, teagmháil, gníomhartha
X-KDE-Keywords[gl]=kaddressbook, configure, settings, contact, actions, configurar, configuración, contacto, accións
X-KDE-Keywords[he]=kaddressbook, configure, settings, contact, actions, פנקס כתובות, הגדר, הגדרות, תצורה, פעולה, פעולות
X-KDE-Keywords[hu]=kaddressbook, beállítás, beállítások, névjegy, műveletek
X-KDE-Keywords[ia]=kaddressbook,configura,preferentias, contacto, actiones
X-KDE-Keywords[it]=kaddressbook, configurazione, impostazioni, contatti, azioni
X-KDE-Keywords[kk]=kaddressbook, configure, settings, contact, actions
X-KDE-Keywords[km]=សៀវភៅ​អាសយដ្ឋាន កំណត់​រចនាសម្ព័ន្ធ ការ​កំណត់ ទំនាក់ទំនង សកម្មភាព
X-KDE-Keywords[mr]=के-एड्रेस-बूक, संयोजना, संयोजना, संपर्क, क्रिया
X-KDE-Keywords[nb]=kaddressbook, oppsett, innstillinger, kontakt, handlinger
X-KDE-Keywords[nl]=kaddressbook, instellen, instellingen, contactpersoon, acties
X-KDE-Keywords[pl]=kaddressbook, konfiguruj, ustawienia, kontakt, działania
X-KDE-Keywords[pt]=kaddressbook, configurar, configuração, contacto, acções
X-KDE-Keywords[pt_BR]=kaddressbook,configurar,configurações,contato,ações
X-KDE-Keywords[ru]=kaddressbook, configure, settings, contact, actions, адресная книга, настройка, настройки, контакт, контакты, действия
X-KDE-Keywords[sk]=kaddressbook, nastaviť, nastavenia, kontakt, akcie
X-KDE-Keywords[sl]=kaddressbook, nastavitve, nastavi, stiki, dejanja
X-KDE-Keywords[sr]=kaddressbook,configure,settings,contact,actions,К‑адресар,подесити,подешавање,поставке,контакт,радње
X-KDE-Keywords[sr@ijekavian]=kaddressbook,configure,settings,contact,actions,К‑адресар,подесити,подешавање,поставке,контакт,радње
X-KDE-Keywords[sr@ijekavianlatin]=kaddressbook,configure,settings,contact,actions,K‑adresar,podesiti,podešavanje,postavke,kontakt,radnje
X-KDE-Keywords[sr@latin]=kaddressbook,configure,settings,contact,actions,K‑adresar,podesiti,podešavanje,postavke,kontakt,radnje
X-KDE-Keywords[sv]=adressbok, anpassa, inställningar, kontakt, åtgärder
X-KDE-Keywords[tr]=kaddressbook, yapılandır, ayarlar, kişi, eylemler
X-KDE-Keywords[uk]=kaddressbook,configure,settings,contact,actions,адреси,книга,адресна книга,налаштувати,параметри,дії,контакт
X-KDE-Keywords[x-test]=xxkaddressbook, configure, settings, contact, actionsxx
X-KDE-Keywords[zh_CN]=kaddressbook, configure, settings, contact, actions, 配置, 设置, 联系人, 动作
X-KDE-Keywords[zh_TW]=kaddressbook, configure, settings, contact, actions
