[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=KCModule
X-DocPath=kcontrol/cache/index.html
Icon=preferences-web-browser-cache
Exec=kcmshell4 cache

X-KDE-Library=kcm_kio
X-KDE-PluginKeyword=cache
X-KDE-ParentApp=kcontrol

Name=Cache
Name[af]=Kas
Name[ar]=ذاكرة مخبئة
Name[as]=কেছে
Name[ast]=Caché
Name[be]=Кэш
Name[be@latin]=Padručnaja pamiać
Name[bg]=Временна памет
Name[bn]=ক্যাশে (Cache)
Name[bn_IN]=ক্যাশে
Name[br]=Krubuilh
Name[bs]=Keš
Name[ca]=Cau
Name[ca@valencia]=Cau
Name[cs]=Mezipaměť
Name[csb]=Cache
Name[cy]=Cache
Name[da]=Cache
Name[de]=Zwischenspeicher
Name[el]=Λανθάνουσα μνήμη
Name[en_GB]=Cache
Name[eo]=Tenejo
Name[es]=Caché
Name[et]=Puhver
Name[eu]=Katxea
Name[fa]=نهانگاه
Name[fi]=Välimuisti
Name[fr]=Cache
Name[fy]=Lyts ûnthâld
Name[ga]=Taisce
Name[gl]=Caché
Name[gu]=કૅશ
Name[he]=מטמון
Name[hi]=कैश
Name[hne]=कैस
Name[hr]=Pohrana
Name[hsb]=Temporarny pomjatk
Name[hu]=Gyorsítótár
Name[ia]=Cache
Name[id]=Tembolok
Name[is]=Skyndiminni
Name[it]=Cache
Name[ja]=キャッシュ
Name[ka]=ქეში
Name[kk]=Кэш
Name[km]=ឃ្លាំង​សម្ងាត់
Name[kn]=ಸಿದ್ಧಸ್ಮೃತಿ (ಕ್ಯಾಶೆ)
Name[ko]=캐시
Name[ku]=Pêşbîr
Name[lt]=Krepšys
Name[lv]=Kešatmiņa
Name[mai]=कैश
Name[mk]=Кеш
Name[ml]=കാഷ്
Name[mr]=कॅशे
Name[ms]=Cache
Name[nb]=Mellomlager
Name[nds]=Twischenspieker
Name[ne]=क्यास
Name[nl]=Cache
Name[nn]=Mellomlager
Name[oc]=Escondedor
Name[or]=କ୍ୟାଶେ
Name[pa]=ਕੈਸ਼
Name[pl]=Pamięć podręczna
Name[pt]=Cache
Name[pt_BR]=Cache
Name[ro]=Cache
Name[ru]=Кэш
Name[se]=Gaskarájus
Name[si]=කැච්
Name[sk]=Vyrovnávacia pamäť
Name[sl]=Predpomnilnik
Name[sr]=Кеш
Name[sr@ijekavian]=Кеш
Name[sr@ijekavianlatin]=Keš
Name[sr@latin]=Keš
Name[sv]=Cache
Name[ta]=நினைவில்
Name[te]=క్యాచి
Name[tg]=Хотира
Name[th]=แคช
Name[tr]=Önbellek
Name[ug]=غەملەك
Name[uk]=Кеш
Name[uz]=Kesh
Name[uz@cyrillic]=Кэш
Name[vi]=Bộ nhớ tạm
Name[wa]=Muchete
Name[xh]=Indawo yokugcina efihlakeleyo
Name[x-test]=xxCachexx
Name[zh_CN]=缓存
Name[zh_TW]=快取

Comment=Configure web cache settings
Comment[af]=Konfigureer web kas instellings
Comment[ar]=اضبط إعدادات ذاكرة الوِب المخبئة
Comment[as]=ৱেব কেছেৰ পছন্ধ বিন্যাস কৰক
Comment[ast]=Configuración de les preferencies de la caché web
Comment[be]=Настаўленні сеціўнага кэша
Comment[be@latin]=Naładź padručnuju pamiać sieciva
Comment[bg]=Настройки на временната памет
Comment[bn]=ওয়েব ক্যাশে সেটিংস কনফিগার করুন
Comment[bn_IN]=ওয়েব ক্যাশে সংক্রান্ত বৈশিষ্ট্য কনফিগার করুন
Comment[br]=Kefluniañ krubuilh ar gwiad
Comment[bs]=Podešavanje veb keša
Comment[ca]=Configura les opcions per al cau web
Comment[ca@valencia]=Configura les opcions per al cau web
Comment[cs]=Nastavení mezipaměti pro webové stránky
Comment[csb]=Kònfigùracëjô nastôwù cache
Comment[cy]=Ffurfweddu gosodiadau'r storfa w?
Comment[da]=Indstil web-cache
Comment[de]=Einstellungen zum Zwischenspeicher vornehmen
Comment[el]=Διαμορφώστε τη λανθάνουσα μνήμη ιστοσελίδων
Comment[en_GB]=Configure web cache settings
Comment[eo]=Agordi la retan tenejon
Comment[es]=Configuración de las preferencias de la caché web
Comment[et]=Veebi vahemälu seadistamine
Comment[eu]=Konfiguratu web cachearen ezarpenak
Comment[fa]=پیکربندی تنظیمات نهانگاه وب
Comment[fi]=Välimuistin asetukset
Comment[fr]=Configuration des paramètres du cache Web
Comment[fy]=Hjir kinne jo it lyts ûnthâld fan it web ynstelle
Comment[ga]=Cumraigh an taisce Ghréasáin
Comment[gl]=Configurar as opcións da caché web
Comment[gu]=વેબ કૅશ ગોઠવણીઓ રૂપરેખાંકિત કરો
Comment[he]=שינוי הגדרות המטמון
Comment[hi]=वेब कैश विन्यास कॉन्फ़िगर करें
Comment[hne]=वेब कैस सेटिंग कान्फिगर करव
Comment[hr]=Konfiguriranje postavki web-pohrane
Comment[hsb]=Nastajenja temporarneho pomjatka připrawić
Comment[hu]=A webböngészési gyorsítótár beállításai
Comment[ia]=Configura le preferentias de le cache del web
Comment[id]=Atur pengaturan tembolok web
Comment[is]=Stilla skyndiminni fyrir vefflakk
Comment[it]=Configura le impostazioni della cache del Web
Comment[ja]=ウェブキャッシュの設定
Comment[ka]=ვებ კეშის პარამეტრების კონფიგურაცია
Comment[kk]=Веб кэшінің параметрлерін баптау
Comment[km]=កំណត់​រចនាសម្ព័ន្ធ​ការ​កំណត់​ឃ្លាំង​សម្ងាត់​បណ្ដាញ
Comment[kn]=ಜಾಲ ಸಿದ್ಧಸ್ಮೃತಿ (ಕ್ಯಾಶೆ) ಸಂಯೋಜನೆಗಳನ್ನು ಸಂರಚಿಸು
Comment[ko]=웹 캐시 설정
Comment[ku]=Mîhengên pêşbîra webê ava bike
Comment[lt]=Konfigūruokite žiniatinklio krepšio nustatymus
Comment[lv]=Šeit jūs varat konfigurēt tīmekļa kešatmiņas iestatījumus
Comment[mai]=वेब कैश सेटिंगकेँ बिन्यस्त करू
Comment[mk]=Конфигурирајте ги поставувањата за веб-кешот
Comment[ml]=വെബിലെ അടുത്തുപയോഗിച്ച താളുകള്‍ക്കുള്ള സജ്ജീകരണങ്ങള്‍ ക്രമീകരിയ്ക്കുക
Comment[mr]=वेब कॅशे संयोजना संयोजीत करा
Comment[ms]=Konfigur seting cache web
Comment[nb]=Tilpass vev-mellomlageret
Comment[nds]=Den Nett-Twischenspieker instellen
Comment[ne]=वेब क्यास सेटिङ कन्फिगर गर्नुहोस्
Comment[nl]=Hier kunt u de webcache instellen
Comment[nn]=Oppsett av vevmellomlager
Comment[or]=ୱେବ କ୍ୟାଶେ ସଂରଚନାକୁ ବିନ୍ୟାସ କରନ୍ତୁ
Comment[pa]=ਵੈੱਬ ਕੈਸ਼ ਸੈਟਿੰਗ ਸੰਰਚਨਾ
Comment[pl]=Konfiguruj ustawienia pamięci podręcznej sieci
Comment[pt]=Configuração das opções da 'cache' da Web
Comment[pt_BR]=Configura as opções de cache da Internet
Comment[ro]=Configurează setările cache-ului web
Comment[ru]=Настройка кэша
Comment[se]=Heivet fierpmádatgaskarádjusa
Comment[si]=ජාල කැච් සැකසුම් සකසන්න
Comment[sk]=Nastavenie vyrovnávacej pamäte pre WWW
Comment[sl]=Nastavitve spletnega predpomnilnika
Comment[sr]=Подешавање веб кеша
Comment[sr@ijekavian]=Подешавање веб кеша
Comment[sr@ijekavianlatin]=Podešavanje veb keša
Comment[sr@latin]=Podešavanje veb keša
Comment[sv]=Anpassa webbcacheinställningar
Comment[ta]=தற்காலிக இணைய அமைப்புகளை வடிவமை
Comment[te]=వెబ్ క్యాచి అమరికలను ఆకృతీకరించుము
Comment[tg]=Танзимоти хотираи саҳифаҳои Интернет
Comment[th]=ปรับแต่งการตั้งค่าระบบแคช
Comment[tr]=Ağ önbellek ayarlarını buradan yapabilirsiniz
Comment[ug]=تور بەت غەملەك تەڭشىكى سەپلىمىسى
Comment[uk]=Налаштування параметрів кешу сторінок інтернету
Comment[uz]=Veb-kesh moslamalarini moslash
Comment[uz@cyrillic]=Веб-кэш мосламаларини мослаш
Comment[vi]=Cấu hình thiết lập bộ nhớ tạm cho duyệt mạng
Comment[wa]=Fijhoz l' apontiaedje del muchete des pådjes waibe chal
Comment[xh]=Qwalasela izicwangciso ze web yendawo yokugcina efihlakeleyo
Comment[x-test]=xxConfigure web cache settingsxx
Comment[zh_CN]=配置网页缓存设置
Comment[zh_TW]=設定網頁快取設定

X-KDE-Keywords=Cache,History,Browsing History,Ports,Size
X-KDE-Keywords[bg]=Памет,Кеш,История,Портове,Размер,Cache,History,Browsing History,Ports,Size
X-KDE-Keywords[bs]=Cache,History,Browsing History,Ports,Size
X-KDE-Keywords[ca]=Memòria cau,Historial,Historial del navegador,Ports,Mida
X-KDE-Keywords[ca@valencia]=Memòria cau,Historial,Historial del navegador,Ports,Mida
X-KDE-Keywords[da]=Cache,historik,browserhistorik,porte,størrelse
X-KDE-Keywords[de]=Cache,Verlauf,History,Ports,Zwischenspeicher,Größe
X-KDE-Keywords[el]=Λανθάνουσα μνήμη,ιστορικό,ιστορικό περιήγησης,θύρες,μέγεθος
X-KDE-Keywords[es]=Caché,Historial,Ver historial,Puertos,Tamaño
X-KDE-Keywords[et]=Puhver,Ajalugu,Sirvimisajalugu,Pordid,Suurus
X-KDE-Keywords[fi]=Välimuisti,Historia,Selaushistoria,Portit,Koko
X-KDE-Keywords[fr]=Cache, historique, historique de navigation, ports, taille
X-KDE-Keywords[ga]=Taisce,Stair,Stair Brabhsála,Poirt,Méid
X-KDE-Keywords[gl]=Caché,historial,historial de navegación,portos,tamaño
X-KDE-Keywords[hu]=Gyorsítótár,Előzmények,Böngészési előzmények,Portok,Méret
X-KDE-Keywords[ia]=Cache,Historia,Historia de navigation,Portos,Grandor
X-KDE-Keywords[it]=Cache,cronologia,cronologia di navigazione,porte,dimensione
X-KDE-Keywords[kk]=Cache,History,Browsing History,Ports,Size
X-KDE-Keywords[km]=ឃ្លាំង​សម្ងាត់ ប្រវត្តិ ប្រវត្តិ​ការ​រកមើល ច្រក ទំហំ
X-KDE-Keywords[ko]=Cache,History,Browsing History,Ports,Size,캐시,과거 기록,히스토리,포트,크기
X-KDE-Keywords[lt]=Podėlis,Naršymo praeitis,Prievadai,Dydis
X-KDE-Keywords[lv]=Kešatmiņa,vēsture,pārlūkošanas vēsture,porti,izmērs
X-KDE-Keywords[mr]=कॅशे,इतिहास,इतिहास संचारण,पोर्टस्,आकार
X-KDE-Keywords[nb]=Mellomlager,Historie,Nettleserhistorie,Porter,Størrelse
X-KDE-Keywords[nds]=Twischenspieker,Vörgeschicht,Nettkieker-Vörgeschicht,Porten,Grött
X-KDE-Keywords[nl]=Cache,geschiedenis,browse geschiedenis,poorten,grootte
X-KDE-Keywords[nn]=hurtiglager,historikk,surfehistorikk,portar,storleik
X-KDE-Keywords[pa]=ਕੈਸ਼,ਅਤੀਤ,ਬਰਾਊਜ਼ਿੰਗ ਅਤੀਤ,ਪੋਰਟ,ਆਕਾਰ
X-KDE-Keywords[pl]=Pamięć podręczna,Historia,Historia przeglądania,Porty,Rozmiar
X-KDE-Keywords[pt]=Cache,Histórico,Histórico de Navegação,Portos,Tamanho
X-KDE-Keywords[pt_BR]=Cache,Histórico,Histórico de navegação,Portas,Tamanho
X-KDE-Keywords[ro]=Cache,Istoric,Istoric navigare,Porturi,Mărime,Dimensiune
X-KDE-Keywords[ru]=Cache,History,Browsing History,Ports,Size,кэш,история,журнал,порты,размер
X-KDE-Keywords[sk]=Cache,História,História surfovania,Porty,Veľkosť
X-KDE-Keywords[sl]=Predpomnilnik,Zgodovina,Zgodovina brskanja,Vrata,Velikost
X-KDE-Keywords[sr]=Cache,History,Browsing History,Ports,Size,кеш,историјат,прегледање,портови,величина
X-KDE-Keywords[sr@ijekavian]=Cache,History,Browsing History,Ports,Size,кеш,историјат,прегледање,портови,величина
X-KDE-Keywords[sr@ijekavianlatin]=Cache,History,Browsing History,Ports,Size,keš,istorijat,pregledanje,portovi,veličina
X-KDE-Keywords[sr@latin]=Cache,History,Browsing History,Ports,Size,keš,istorijat,pregledanje,portovi,veličina
X-KDE-Keywords[sv]=Cache,Historik,Webbläsningshistorik,Portar,Storlek
X-KDE-Keywords[tr]=Önbellek,Geçmiş,Tarayıcı Geçmişi,Portlar,Boyut
X-KDE-Keywords[uk]=Cache,History,Browsing History,Ports,Size,кеш,журнал,історія,перегляд,порти,розмір
X-KDE-Keywords[wa]=Muchete,Istwere,Istwere do foytaedje,Pôrts,Grandeu
X-KDE-Keywords[x-test]=xxCache,History,Browsing History,Ports,Sizexx
X-KDE-Keywords[zh_CN]=Cache,History,Browsing History,Ports,Size,缓存,历史,浏览历史,端口,大小
X-KDE-Keywords[zh_TW]=Cache,History,Browsing History,Ports,Size
