[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=KCModule
X-DocPath=kcontrol/cookies/index.html
Icon=preferences-web-browser-cookies
Exec=kcmshell4 cookies

X-KDE-Library=kcm_kio
X-KDE-PluginKeyword=cookie
X-KDE-ParentApp=kcontrol

Name=Cookies
Name[af]=Koekies
Name[ar]=الكعكات
Name[as]=কুকি
Name[ast]=Cookies
Name[be]=Cookies
Name[bg]=Бисквитки
Name[bn]=কুকি
Name[bn_IN]=কুকি
Name[br]=Toupinoù
Name[bs]=Kolačići
Name[ca]=Galetes
Name[ca@valencia]=Galetes
Name[cs]=Cookies
Name[csb]=Kùszczi
Name[cy]=Cwcis
Name[da]=Cookies
Name[de]=Cookies
Name[el]=Cookies
Name[en_GB]=Cookies
Name[eo]=Kuketoj
Name[es]=Cookies
Name[et]=Küpsised
Name[eu]=Cookie-ak
Name[fa]=کوکیها
Name[fi]=Evästeet
Name[fr]=Cookies
Name[fy]=Koekjes
Name[ga]=Fianáin
Name[gl]=Cookies
Name[gu]=કૂકીઓ
Name[he]=עוגיות
Name[hi]=कुकीज़
Name[hne]=कुकीज
Name[hr]=Kolačići
Name[hsb]=Placki
Name[hu]=Sütik
Name[ia]=Cookies
Name[id]=Kuki
Name[is]=Smákökur
Name[it]=Cookie
Name[ja]=クッキー
Name[ka]=ქუქები
Name[kk]=Cookies
Name[km]=ខូគី
Name[kn]=ಮಾಹಿತಿಚಿತ್ತಳಿಗಳು (ಕುಕೀಸ್)
Name[ko]=쿠키
Name[ku]=Çerez
Name[lt]=Slapukai
Name[lv]=Sīkdatnes
Name[mai]=कुकीज
Name[mk]=Колачиња
Name[ml]=കുക്കികള്‍
Name[mr]=कूकीज
Name[ms]=Cookies
Name[nb]=Informasjonskapsler
Name[nds]=Kookjes
Name[ne]=कुकी
Name[nl]=Cookies
Name[nn]=Informasjonskapslar
Name[or]=କୁକିଗୁଡ଼ିକ
Name[pa]=ਕੂਕੀਜ਼
Name[pl]=Ciasteczka
Name[pt]=Cookies
Name[pt_BR]=Cookies
Name[ro]=Cookie-uri
Name[ru]=Cookies
Name[se]=Diehtočoahkku
Name[si]=කුකී
Name[sk]=Cookies
Name[sl]=Piškotki
Name[sr]=Колачићи
Name[sr@ijekavian]=Колачићи
Name[sr@ijekavianlatin]=Kolačići
Name[sr@latin]=Kolačići
Name[sv]=Kakor
Name[ta]=நினைவிகள்
Name[te]=కుకిస్
Name[tg]=Cookies
Name[th]=คุกกี้
Name[tr]=Çerezler
Name[ug]=Cookies
Name[uk]=Куки
Name[uz]=Kukilar
Name[uz@cyrillic]=Кукилар
Name[vi]=Cookie
Name[wa]=Coûkes
Name[xh]=Cookies
Name[x-test]=xxCookiesxx
Name[zh_CN]=Cookies
Name[zh_TW]=Cookies

Comment=Configure the way cookies work
Comment[af]=Konfigureer die weg koekies werk
Comment[ar]=اضبط طريقة عمل الكعكات
Comment[as]=কুকিৰ কাম কৰা প্ৰক্ৰিয়া বিন্যাস কৰক
Comment[ast]=Configuración del funcionamientu de les cookies
Comment[be]=Наставіць cookies
Comment[bg]=Настройки на бисквитките
Comment[bn]=কুকি কনফিগার করুন
Comment[bn_IN]=কুকি ব্যবহারের পদ্ধতি কনফিগার করুন
Comment[br]=Kefluniañ peseurt mod e labour an toupinoù
Comment[bs]=Podešavanje načina na koji rade kolačići
Comment[ca]=Configura com funcionaran les galetes
Comment[ca@valencia]=Configura com funcionaran les galetes
Comment[cs]=Nastavení chování cookies
Comment[csb]=Kònfigùracëjô dzéjaniô kùszków (cookies)
Comment[cy]=Ffurfweddu'r ffordd y mae cwcis yn gweithio
Comment[da]=Indstil hvordan cookies virker
Comment[de]=Einstellungen zu Cookies vornehmen
Comment[el]=Διαμορφώστε τον τρόπο με τον οποίο λειτουργούν τα cookies
Comment[en_GB]=Configure the way cookies work
Comment[eo]=Agordi la kuketan trakton
Comment[es]=Configuración del funcionamiento de las cookies
Comment[et]=Küpsiste käitumise seadistamine
Comment[eu]=Konfiguratu cookien portaera
Comment[fa]=پیکربندی روش کار کردن کوکیها
Comment[fi]=Evästeiden asetukset
Comment[fr]=Configuration du fonctionnement des cookies
Comment[fy]=Hjir kinne jo de wurkwize fan koekjes ynstelle
Comment[ga]=Cumraigh conas a oibríonn fianáin
Comment[gl]=Configurar o funcionamento das cookies
Comment[gu]=કૂકીઓ કઇ રીતે કાર્ય કરશે તે રૂપરેખાંકિત કરો
Comment[he]=הגדרת פעולת העוגיות
Comment[hi]=कुकीज़ के कार्य करने के ढंग कॉन्फ़िगर करें
Comment[hne]=कुकीज के काम करे के ढंग कान्फिगर करव
Comment[hr]=Konfiguriranje funkcioniranja kolačića
Comment[hsb]=Placki připrawić
Comment[hu]=A sütik beállításai
Comment[ia]=Configura le modo de functionar del cookies
Comment[id]=Atur bagaimana cara kuki bekerja
Comment[is]=Stilla hvernig tekið er við smákökum
Comment[it]=Configura come funzionano i cookie
Comment[ja]=クッキーの扱いを設定
Comment[kk]=Cookies жұмысын баптау
Comment[km]=កំណត់​រចនាសម្ព័ន្ធ​របៀប​ដែល​ខូគី​ដំណើរការ
Comment[kn]=ಮಾಹಿತಿಚಿತ್ತಳಿಗಳು (ಕುಕೀಸ್) ಕೆಲಸ ಮಾಡುವ ಬಗೆಯನ್ನು ಸಂರಚಿಸು
Comment[ko]=쿠키 작동 방법을 설정합니다
Comment[ku]=Riya xebitîna çerezan ava bike
Comment[lt]=Čia galite keisti slapukų veikimą
Comment[lv]=Šeit jūs varat konfigurēt sīkdatnes
Comment[mai]=कुकीज केर काज करबाक तरीकाकेँ बिन्यस्त करू
Comment[mk]=Конфигурирајте го начинот на кој работат колачињата
Comment[ml]=കുക്കികള്‍ പ്രവര്‍ത്തിയ്ക്കുന്ന രീതി ക്രമീകരിയ്ക്കുക
Comment[mr]=कूकीजचे कार्य करण्याची पध्दत संयोजीत करा
Comment[ms]=Konfigur cara cookies berfungsi
Comment[nb]=Sett opp bruken av informasjonskapsler
Comment[nds]=Instellen, woans de Kookjes funkscheneert
Comment[ne]=कुकीको कार्य तरीका कन्फिगर गर्नुहोस्
Comment[nl]=Hier kunt u het cookiesbeleid instellen
Comment[nn]=Oppsett av informasjonskapslar
Comment[or]=କୁକିଗୁଡ଼ିକ ଯେଉଁ ଉପାୟରେ କାର୍ଯ୍ୟକରନ୍ତି ତାହା ବିନ୍ୟାସ କରନ୍ତୁ
Comment[pa]=ਕੂਕੀਜ਼ ਕੰਮ ਦੇ ਢੰਗ ਦੀ ਸੰਰਚਨਾ
Comment[pl]=Konfiguracja działania ciasteczek (cookies)
Comment[pt]=Configuração da forma como os 'cookies' funcionam
Comment[pt_BR]=Configura a maneira como os cookies funcionam
Comment[ro]=Configurează modul în care acționează cookie-urile
Comment[ru]=Настройка cookies
Comment[se]=Diehtočoahkkoheivehusat
Comment[si]=කුකී ක්‍රියාකරන ආකාරය සකසන්න
Comment[sk]=Nastavenie správania cookies
Comment[sl]=Nastavitve delovanja piškotkov
Comment[sr]=Подешавање начина на који раде колачићи
Comment[sr@ijekavian]=Подешавање начина на који раде колачићи
Comment[sr@ijekavianlatin]=Podešavanje načina na koji rade kolačići
Comment[sr@latin]=Podešavanje načina na koji rade kolačići
Comment[sv]=Anpassa hur kakor fungerar
Comment[ta]=நினைவிகள் பணியாற்றும் விதத்தை வடிவமை
Comment[te]=కుకీలు పనిచేయువిధానంను ఆకృతీకరించుము
Comment[tg]=Танзимоти амалҳои cookies
Comment[th]=ปรับแต่งวิธีการทำงานของคุกกี้
Comment[tr]=Çerezlerin çalışma şeklini yapılandır
Comment[ug]=cookies غا ئائىت تەڭشەك سەپلىمىسى
Comment[uk]=Налаштування механізму кук
Comment[uz]=Kukilar ishlashini moslash
Comment[uz@cyrillic]=Кукилар ишлашини мослаш
Comment[vi]=Cấu hình cách cookie hoạt động
Comment[wa]=Apontyî l' dujhance des coûkes
Comment[xh]=Qwalasela indlela ezisebenza ngayo i cookies
Comment[x-test]=xxConfigure the way cookies workxx
Comment[zh_CN]=配置 cookies 相关设置
Comment[zh_TW]=設定 cookies 運作方式

X-KDE-Keywords=Cookies,Browsing,Internet,WWW,Network,Policy,Domains
X-KDE-Keywords[bg]=Биствитки,Сърфиране,Интернет,Уеб,Мрежа,Политики,Домейни,Cookies,Browsing,Internet,WWW,Network,Policy,Domains
X-KDE-Keywords[bs]=Cookies,Browsing,Internet,WWW,Network,Policy,Domains
X-KDE-Keywords[ca]=Galetes,Navegació,Internet,WWW,Xarxa,Polítiques,Dominis
X-KDE-Keywords[ca@valencia]=Galetes,Navegació,Internet,WWW,Xarxa,Polítiques,Dominis
X-KDE-Keywords[da]=Cookies,browsing,internet,www,netværk,politik,domæner
X-KDE-Keywords[de]=Cookies,Durchsuchen,Browsen,Surfen,Internet,WWW,Netzwerk,Regelungen,Domains
X-KDE-Keywords[el]=Cookies,περιήγηση,διαδίκτυο,www,δίκτυο,πολιτική,τομείς
X-KDE-Keywords[es]=Cookies,Navegación,Internet,WWW,Red,Política,Dominios
X-KDE-Keywords[et]=Küpsised,Sirvimine,Internet,WWW,Võrk,Reeglid,Domeenid
X-KDE-Keywords[fi]=Evästeet,Selaus,Selailu,Internet,WWW,Verkko,Käytäntö,Käytänne,Verkkoalueet
X-KDE-Keywords[fr]=Cookies, navigation, Internet, WWW, réseau, politique, domaines
X-KDE-Keywords[ga]=Fianáin,Brabhsáil,Idirlíon,WWW,Gréasán,Líonra,Polasaí,Fearainn
X-KDE-Keywords[gl]=cookies,navegar,internet,www,rede,política,dominios
X-KDE-Keywords[hu]=Sütik,Böngészés,Internet,WWW,Hálózat,Házirend,Tartományok
X-KDE-Keywords[ia]=Cookies,Navigation,Internet,WWW,Rete,Politica,Dominios
X-KDE-Keywords[it]=Cookie,navigazione,Internet,WWW,rete,politica,domini
X-KDE-Keywords[kk]=Cookies,Browsing,Internet,WWW,Network,Policy,Domains
X-KDE-Keywords[km]=ខូគី ការ​រកមើល អ៊ីនធឺណិត WWW បណ្ដាញ គោលនយោបាយ ដែន
X-KDE-Keywords[ko]=Cookies,Browsing,Internet,WWW,Network,Policy,Domains,쿠키,브라우징,인터넷,네트워크,정책,도메인
X-KDE-Keywords[lt]=Slapukai,Naršymas,Internetas,WWW,Tinklas,Taisyklės,Sritys
X-KDE-Keywords[lv]=Sīkdatnes,Pārlūkošana,Internets,WWW,Tīkls,Politika,Domēni
X-KDE-Keywords[nb]=Infokapsler,Nettlesing,Internett,WWW.Nettverk,Praksis,Domener
X-KDE-Keywords[nds]=Kookjes,Nettkieken,Internet,WWW,Nettwark,Regel,Domänen
X-KDE-Keywords[nl]=Cookies,browsen,internet,www,netwerk,beleid,domeinen
X-KDE-Keywords[nn]=informasjonskapslar,surfing,Internett,WWW,nettverk,regler,domener
X-KDE-Keywords[pl]=Ciasteczka,Przeglądanie,Internet,WWW,Sieć,Polityka,Domeny
X-KDE-Keywords[pt]=Cookies,Navegação,Internet,WWW,Rede,Política,Domínios
X-KDE-Keywords[pt_BR]=Cookies,Navegação,Internet,WWW,Rede,Política,Domínios
X-KDE-Keywords[ro]=Cookies,Navigare,Internet,WWW,Rețea,Politică,Domenii
X-KDE-Keywords[ru]=Cookies,Browsing,Internet,WWW,Network,Policy,Domains,Интернет,веб-сёрфинг,сеть,домены,политика,правило
X-KDE-Keywords[sk]=Cookies,Sufrovanie,Internet,WWW,Sieť,Politika,Domény
X-KDE-Keywords[sl]=piškotki,brskanje,internet,WWW,omrežje,pravilniki,domene
X-KDE-Keywords[sr]=Cookies,Browsing,Internet,WWW,Network,Policy,Domains,колачићи,прегледање,Интернет,веб,мрежа,смерница,домени
X-KDE-Keywords[sr@ijekavian]=Cookies,Browsing,Internet,WWW,Network,Policy,Domains,колачићи,прегледање,Интернет,веб,мрежа,смерница,домени
X-KDE-Keywords[sr@ijekavianlatin]=Cookies,Browsing,Internet,WWW,Network,Policy,Domains,kolačići,pregledanje,Internet,veb,mreža,smernica,domeni
X-KDE-Keywords[sr@latin]=Cookies,Browsing,Internet,WWW,Network,Policy,Domains,kolačići,pregledanje,Internet,veb,mreža,smernica,domeni
X-KDE-Keywords[sv]=Kakor,Webbläsning,Internet,WWW,Nätverk,Princip,Domäner
X-KDE-Keywords[tr]=Çerezler,Tarama,İnternet,WWW,Ağ,Politika,Alan Adları
X-KDE-Keywords[uk]=Cookies,Browsing,Internet,WWW,Network,Policy,Domains,кука,куки,перегляд,інтернет,мережа,правило,правила,домен,домени
X-KDE-Keywords[wa]=Coûkes,Betchtaedje,Daegntoele,WWW,Rantoele,Politike,Dominnes
X-KDE-Keywords[x-test]=xxCookies,Browsing,Internet,WWW,Network,Policy,Domainsxx
X-KDE-Keywords[zh_CN]=Cookies,Browsing,Internet,WWW,Network,Policy,Domains,浏览,互联网,网络,策略,域名
X-KDE-Keywords[zh_TW]=Cookies,Browsing,Internet,WWW,Network,Policy,Domains
