[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=SystemSettingsCategory
X-KDE-System-Settings-Category=desktop-search
X-KDE-System-Settings-Parent-Category=workspace-appearance-and-behavior
Icon=nepomuk

Name=Desktop Search
Name[ar]=بحث سطح المكتب
Name[ast]=Gueta d'escritoriu
Name[be@latin]=Pošuk
Name[bg]=Настолно търсене
Name[bn]=ডেস্কটপ সন্ধান
Name[bn_IN]=ডেস্কটপে অনুসন্ধান
Name[bs]=Pretraga površi
Name[ca]=Cerca a l'escriptori
Name[ca@valencia]=Cerca a l'escriptori
Name[cs]=Vyhledávací služby
Name[csb]=Szëkba na pùlce
Name[da]=Skrivebordssøgning
Name[de]=Desktop-Suche
Name[el]=Αναζήτηση επιφάνειας εργασίας
Name[en_GB]=Desktop Search
Name[eo]=Labortabla serĉo
Name[es]=Búsqueda de escritorio
Name[et]=Töölauaotsing
Name[eu]=Mahaigainaren bilaketa
Name[fa]=جستجوی رومیزی
Name[fi]=Työpöytähaku
Name[fr]=Rechercher sur le bureau
Name[fy]=Buroblêd sykaksje
Name[ga]=Cuardach Deisce
Name[gl]=Busca no escritorio
Name[gu]=ડેસ્કટોપ શોધ
Name[he]=חיפוש בשולחן העבודה
Name[hi]=डेस्कटॉप खोज
Name[hne]=डेस्कटाप खोज
Name[hr]=Pretraživanje računala
Name[hsb]=Pytanje za dźěłowy powjerch
Name[hu]=Asztali keresés
Name[ia]=Cerca de Scriptorio
Name[id]=Pencarian Desktop
Name[is]=Skjáborðsleit
Name[it]=Ricerca desktop
Name[ja]=デスクトップ検索
Name[kk]=Жергілікті іздеу
Name[km]=ស្វែងរក​ផ្ទៃតុ
Name[kn]=ಗಣಕತೆರೆ ಹುಡುಕಾಟ
Name[ko]=데스크톱 검색
Name[ku]=Lêgerîna Sermasê
Name[lt]=Darbastalio paieška
Name[lv]=Darbvirsmas meklēšana
Name[mai]=डेस्कटाप खोज
Name[mk]=Пребарување на работната површина
Name[ml]=പണിയിടം തിരയല്‍
Name[mr]=डेस्कटॉप शोध
Name[nb]=Skrivebordssøk
Name[nds]=Schriefdischsöök
Name[nl]=Bureaublad-zoekopdracht
Name[nn]=Skrivebordssøk
Name[or]=ଡ଼େସ୍କଟପ ସନ୍ଧାନ
Name[pa]=ਡੈਸਕਟਾਪ ਖੋਜ
Name[pl]=Wyszukiwanie na pulpicie
Name[pt]=Pesquisa no Ambiente de Trabalho
Name[pt_BR]=Pesquisa no desktop
Name[ro]=Căutare de birou
Name[ru]=Cемантический поиск
Name[si]=වැඩතල සෙවුම
Name[sk]=Hľadanie na ploche
Name[sl]=Namizno iskanje
Name[sr]=Претрага површи
Name[sr@ijekavian]=Претрага површи
Name[sr@ijekavianlatin]=Pretraga površi
Name[sr@latin]=Pretraga površi
Name[sv]=Skrivbordssökning
Name[ta]=மேல்மேசை தேடல்
Name[te]=డెస్‍క్ టాప్ శోధన
Name[tg]=Ҷустуҷӯи мизи корӣ
Name[th]=ค้นหาผ่านพื้นที่ทำงาน
Name[tr]=Masaüstü Araması
Name[ug]=ئۈستەلئۈستىدە ئىزدەش
Name[uk]=Стільничний пошук
Name[vi]=Tìm kiếm máy làm việc
Name[wa]=Cweraedje sol sicribanne
Name[x-test]=xxDesktop Searchxx
Name[zh_CN]=桌面搜索
Name[zh_TW]=桌面搜尋
