[Desktop Entry]
Exec=kcmshell4 devinfo
Icon=device-notifier
Type=Service
X-KDE-ServiceTypes=KCModule

X-KDE-Weight=0
X-KDE-KInfoCenter-Category=device_information
X-KDE-Library=devinfo
X-KDE-ParentApp=kinfocenter
X-DocPath=kinfocenter/index.html#devinfo

Name=Device Viewer
Name[ar]=عارض الأجهزة
Name[ast]=Visor de preseos
Name[bg]=Преглед на устройства
Name[bs]=Prikazivač uređaja
Name[ca]=Visor de dispositius
Name[ca@valencia]=Visor de dispositius
Name[cs]=Prohlížeč zařízení
Name[da]=Enhedsfremviser
Name[de]=Gerätebetrachter
Name[el]=Προβολέας συσκευών
Name[en_GB]=Device Viewer
Name[es]=Visor de dispositivos
Name[et]=Seadmete näitaja
Name[eu]=Gailu erakuslea
Name[fi]=Laitekatselin
Name[fr]=Afficheur de périphériques
Name[ga]=Amharcán Gléasanna
Name[gl]=Visor de dispositivos
Name[he]=מציג ההתקנים
Name[hi]=औजार प्रदर्शक
Name[hr]=Preglednik uređaja
Name[hu]=Eszközmegjelenítő
Name[ia]=Visor de dispositivo
Name[id]=Penampil Divais
Name[is]=Tækjaskoðun
Name[it]=Visore di dispositivi
Name[ja]=デバイスビューア
Name[kk]=Құрылғыларды қарау құралы
Name[km]=កម្មវិធី​មើល​ឧបករណ៍
Name[kn]=ಸಾಧನ ಪ್ರದರ್ಶಕ
Name[ko]=장치 뷰어
Name[lt]=Įrenginių žiūriklis
Name[lv]=Iekārtu skatītājs
Name[mr]=साधन प्रदर्शक
Name[nb]=Enhetsviser
Name[nds]=Reedschappenkieker
Name[nl]=Apparaatweergaveprogramma
Name[nn]=Einingsvisar
Name[pa]=ਜੰਤਰ ਦਰਸ਼ਕ
Name[pl]=Przeglądarka urządzeń
Name[pt]=Visualizador de Dispositivos
Name[pt_BR]=Visualizador de dispositivos
Name[ro]=Vizualizator de dispozitive
Name[ru]=Список устройств
Name[si]=මෙවලම් පෙන්වනය
Name[sk]=Prehliadač zariadení
Name[sl]=Pregledovalnik naprav
Name[sr]=Приказивач уређаја
Name[sr@ijekavian]=Приказивач уређаја
Name[sr@ijekavianlatin]=Prikazivač uređaja
Name[sr@latin]=Prikazivač uređaja
Name[sv]=Enhetsvisning
Name[tg]=Намоишгари тасвирҳо
Name[th]=ตัวแสดงอุปกรณ์
Name[tr]=Aygıt Gösterici
Name[ug]=ئۈسكۈنە كۆرگۈ
Name[uk]=Переглядач пристроїв
Name[vi]=Trình xem thiết bị
Name[wa]=Håyneu des éndjins
Name[x-test]=xxDevice Viewerxx
Name[zh_CN]=设备查看器
Name[zh_TW]=裝置檢視器

Comment=Device Viewer
Comment[ar]=عارض الأجهزة
Comment[ast]=Visor de preseos
Comment[bg]=Преглед на устройства
Comment[bs]=Prikazivač uređaja
Comment[ca]=Visor de dispositius
Comment[ca@valencia]=Visor de dispositius
Comment[cs]=Prohlížeč zařízení
Comment[da]=Enhedsfremviser
Comment[de]=Gerätebetrachter
Comment[el]=Προβολέας συσκευών
Comment[en_GB]=Device Viewer
Comment[es]=Visor de dispositivos
Comment[et]=Seadmete näitaja
Comment[eu]=Gailu erakuslea
Comment[fi]=Laitekatselin
Comment[fr]=Afficheur de périphériques
Comment[ga]=Amharcán Gléasanna
Comment[gl]=Visor de dispositivos
Comment[he]=מציג ההתקנים
Comment[hi]=औजार प्रदर्शक
Comment[hr]=Preglednik uređaja
Comment[hu]=Eszközmegjelenítő
Comment[ia]=Visor de dispositivo
Comment[id]=Penampil Divais
Comment[is]=Tækjaskoðun
Comment[it]=Visore di dispositivi
Comment[ja]=デバイスビューア
Comment[kk]=Құралдарды қарау құралы
Comment[km]=កម្មវិធី​មើល​ឧបករណ៍
Comment[kn]=ಸಾಧನ ಪ್ರದರ್ಶಕ
Comment[ko]=장치 뷰어
Comment[lt]=Įrenginių žiūriklis
Comment[lv]=Iekārtu skatītājs
Comment[mr]=साधन प्रदर्शक
Comment[nb]=Enhetsviser
Comment[nds]=Reedschappenkieker
Comment[nl]=Apparaatweergaveprogramma
Comment[nn]=Einingsvisar
Comment[pa]=ਜੰਤਰ ਦਰਸ਼ਕ
Comment[pl]=Przeglądarka urządzeń
Comment[pt]=Visualizador de Dispositivos
Comment[pt_BR]=Visualizador de dispositivos
Comment[ro]=Vizualizator de dispozitive
Comment[ru]=Сведения об отдельных устройствах
Comment[si]=මෙවලම් පෙන්වනය
Comment[sk]=Prehliadač zariadení
Comment[sl]=Pregledovalnik naprav
Comment[sr]=Приказивач уређаја
Comment[sr@ijekavian]=Приказивач уређаја
Comment[sr@ijekavianlatin]=Prikazivač uređaja
Comment[sr@latin]=Prikazivač uređaja
Comment[sv]=Enhetsvisning
Comment[tg]=Намоиши дастгоҳҳо
Comment[th]=ตัวแสดงอุปกรณ์
Comment[tr]=Aygıt Gösterici
Comment[ug]=ئۈسكۈنە كۆرگۈ
Comment[uk]=Переглядач пристроїв
Comment[vi]=Trình xem thiết bị
Comment[wa]=Håyneu des éndjins
Comment[x-test]=xxDevice Viewerxx
Comment[zh_CN]=设备查看器
Comment[zh_TW]=裝置檢視器

X-KDE-Keywords=device,devices
X-KDE-Keywords[ar]=جهاز,أجهزة
X-KDE-Keywords[bs]=uređaj, uređaji
X-KDE-Keywords[ca]=dispositiu,dispositius
X-KDE-Keywords[ca@valencia]=dispositiu,dispositius
X-KDE-Keywords[cs]=zařízení
X-KDE-Keywords[da]=enhed,enheder
X-KDE-Keywords[de]=Gerät,Geräte
X-KDE-Keywords[el]=συσκευή,συσκευές
X-KDE-Keywords[es]=dispositivo,dispositivos
X-KDE-Keywords[et]=seade,seadmed
X-KDE-Keywords[eu]=gailu,gailuak
X-KDE-Keywords[fi]=laite,laitteet
X-KDE-Keywords[fr]=périphérique, périphériques
X-KDE-Keywords[gl]=dispositivos,dispositivos,unidade
X-KDE-Keywords[hu]=eszköz,eszközök
X-KDE-Keywords[ia]=dispositivo,dispositivos
X-KDE-Keywords[it]=dispositivo,dispositivi
X-KDE-Keywords[kk]=device,devices
X-KDE-Keywords[km]=device,devices
X-KDE-Keywords[ko]=device,devices,장치
X-KDE-Keywords[lt]=įrenginys,įrenginiai
X-KDE-Keywords[mr]=साधन, साधने
X-KDE-Keywords[nb]=enhet,enheter
X-KDE-Keywords[nds]=Reedschap,Reedschappen
X-KDE-Keywords[nl]=apparaat,apparaten
X-KDE-Keywords[pa]=ਜੰਤਰ
X-KDE-Keywords[pl]=urządzenie,urządzenia
X-KDE-Keywords[pt]=dispositivo,dispositivos
X-KDE-Keywords[pt_BR]=dispositivo,dispositivos
X-KDE-Keywords[ro]=dispozitiv,dispozitive
X-KDE-Keywords[ru]=device,devices,устройство,устройства
X-KDE-Keywords[sk]=zariadenie,zariadenia
X-KDE-Keywords[sl]=naprava,naprave,strojna oprema
X-KDE-Keywords[sr]=device,devices,уређај,уређаји
X-KDE-Keywords[sr@ijekavian]=device,devices,уређај,уређаји
X-KDE-Keywords[sr@ijekavianlatin]=device,devices,uređaj,uređaji
X-KDE-Keywords[sr@latin]=device,devices,uređaj,uređaji
X-KDE-Keywords[sv]=enhet,enheter
X-KDE-Keywords[tr]=aygıt,aygıtlar
X-KDE-Keywords[uk]=пристрій,пристрої
X-KDE-Keywords[x-test]=xxdevice,devicesxx
X-KDE-Keywords[zh_CN]=device,devices,设备
X-KDE-Keywords[zh_TW]=device,devices
Categories=Qt;KDE;X-KDE-information;
