[Desktop Entry]
Type=Service
Name=Folders
Name[bg]=Папки
Name[bs]=Direktoriji
Name[ca]=Carpetes
Name[ca@valencia]=Carpetes
Name[cs]=Složky
Name[da]=Mapper
Name[de]=Ordner
Name[el]=Φάκελοι
Name[es]=Carpetas
Name[eu]=Karpetak
Name[fi]=Kansiot
Name[fr]=Dossiers
Name[gl]=Cartafoles
Name[gu]=ફોલ્ડરો
Name[hi]=फ़ोल्डर
Name[hu]=Mappák
Name[ia]=Dossieres
Name[is]=Möppur
Name[it]=Cartelle
Name[ja]=フォルダ
Name[kk]=Қапшықтар
Name[ko]=폴더
Name[mr]=संचयीका
Name[nb]=Mapper
Name[nl]=Mappen
Name[nn]=Mapper
Name[pa]=ਫੋਲਡਰ
Name[pl]=Katalogi
Name[pt]=Pastas
Name[pt_BR]=Pastas
Name[ro]=Dosare
Name[ru]=Папки
Name[sk]=Priečinky
Name[sl]=Mape
Name[sr]=Фасцикле
Name[sr@ijekavian]=Фасцикле
Name[sr@ijekavianlatin]=Fascikle
Name[sr@latin]=Fascikle
Name[sv]=Kataloger
Name[tr]=Klasörler
Name[ug]=قىسقۇچلار
Name[uk]=Теки
Name[wa]=Ridants
Name[x-test]=xxFoldersxx
Name[zh_CN]=文件夹
Name[zh_TW]=資料夾
X-KDE-ServiceTypes=ThumbCreator
MimeType=inode/directory;
CacheThumbnail=false
HandleSequences=true
