[Desktop Entry]
Type=Service
Name=DjVu Files
Name[af]=DjVu Lêers
Name[ar]=DjVu ملفات
Name[ast]=Ficheros DjVu
Name[be]=DjVu файлы
Name[be@latin]=Fajły DjVu
Name[bg]=DjVu файлове
Name[bn]=DjVu ফাইল
Name[bn_IN]=DjVu ফাইল
Name[br]=Restr DjVu
Name[bs]=DjVu datoteke
Name[ca]=Fitxers DjVu
Name[ca@valencia]=Fitxers DjVu
Name[cs]=DjVu soubory
Name[csb]=Lopczi DjVu
Name[cy]=Ffeiliau DjVu
Name[da]=DjVu-filer
Name[de]=DjVu-Dateien
Name[el]=Αρχεία DjVu
Name[en_GB]=DjVu Files
Name[eo]=DjVu-dosieroj
Name[es]=Archivos DjVu
Name[et]=DjVu failid
Name[eu]=DjVu fitxategiak
Name[fa]=پرونده‌های DjVu
Name[fi]=DjVu-tiedostot
Name[fr]=Fichiers DjVu
Name[fy]=DjVu-triemmen
Name[ga]=Comhaid DjVu
Name[gl]=Ficheiros DjVu
Name[gu]=DjVu ફાઇલો
Name[he]=קבצי DjVu
Name[hi]=DjVu फ़ाइलें
Name[hne]=DjVu फाइल मन ल
Name[hr]=DjVu datoteke
Name[hsb]=DjVu dataje
Name[hu]=DjVu-fájlok
Name[ia]=Files DjVu
Name[id]=Berkas DjVu
Name[is]=DjVu skrár
Name[it]=File DjVu
Name[ja]=DjVu ファイル
Name[ka]=DjVu ფაილები
Name[kk]=DjVu файлдары
Name[km]=ឯកសារ DjVu
Name[kn]=ಡಿಜೆವ್ಯೂ ಕಡತಗಳು
Name[ko]=DjVu 파일
Name[ku]=Pelên DjVu
Name[lt]=DjVu failai
Name[lv]=DjVu faili
Name[mai]=DjVu फाइलसभ
Name[mk]=DjVu-датотеки
Name[ml]=ഡിജെവ്യു ഫയലുകള്‍
Name[mr]=DjVu फाईल
Name[ms]=Fail DjVu
Name[nb]=DjVu-filer
Name[nds]=DjVu-Dateien
Name[ne]=DjVu फाइल
Name[nl]=DjVu-bestanden
Name[nn]=DjVu-filer
Name[or]=DjVu ଫାଇଲଗୁଡ଼ିକୁ
Name[pa]=DjVu ਫਾਇਲਾਂ
Name[pl]=Pliki DjVu
Name[pt]=Ficheiros DjVu
Name[pt_BR]=Arquivos DjVu
Name[ro]=Fișiere DjVu
Name[ru]=Файлы DjVu
Name[se]=DjVu-fiilat
Name[si]=DjVu ගොනු
Name[sk]=Súbory DjVu
Name[sl]=Datoteke DjVu
Name[sr]=ДјВу фајлови
Name[sr@ijekavian]=ДјВу фајлови
Name[sr@ijekavianlatin]=DjVu fajlovi
Name[sr@latin]=DjVu fajlovi
Name[sv]=DjVu-filer
Name[ta]=DjVu கோப்புகள்
Name[te]=డెజావు దస్త్రాలు
Name[tg]=Файлҳои DjVu
Name[th]=แฟ้ม DjVu
Name[tr]=DjVu Dosyaları
Name[ug]=DjVu ھۆججەتلەر
Name[uk]=Файли DjVu
Name[uz]=DjVu-fayllari
Name[uz@cyrillic]=DjVu-файллари
Name[vi]=Tập tin DjVu
Name[wa]=Fitchîs DjVu
Name[x-test]=xxDjVu Filesxx
Name[zh_CN]=DjVu 文件
Name[zh_TW]=DjVu 檔案
X-KDE-ServiceTypes=ThumbCreator
MimeType=image/vnd.djvu;image/x.djvu;image/vnd.djvu;
X-KDE-Library=djvuthumbnail
CacheThumbnail=true
IgnoreMaximumSize=true
