[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=KCModule
X-DocPath=kcontrol/ebrowsing/index.html
Icon=preferences-web-browser-shortcuts
Exec=kcmshell4 ebrowsing

X-KDE-Library=kcm_kurifilt
X-KDE-ParentApp=kcontrol

X-KDE-System-Settings-Parent-Category=account-details

Name=Web Shortcuts
Name[af]=Web Kortpaaie
Name[ar]=اختصارات الوِب
Name[as]=ৱেবৰ চমু পথ
Name[ast]=Accesos rápidos pa web
Name[be]=Скароты Сеціва
Name[be@latin]=Skaroty dla sieciva
Name[bg]=Уеб съкращения
Name[bn]=ওয়েব শর্টকাট
Name[bn_IN]=ওয়েব শর্ট-কাট
Name[br]=Berradennoù ar gwiad
Name[bs]=Veb prečice
Name[ca]=Dreceres web
Name[ca@valencia]=Dreceres web
Name[cs]=Webové zkratky
Name[csb]=Sécowé skrodzënë
Name[cy]=Byr-lwybrau Gwe
Name[da]=Webgenveje
Name[de]=Web-Kürzel
Name[el]=Συντομεύσεις ιστού
Name[en_GB]=Web Shortcuts
Name[eo]=TTT klavokombinoj
Name[es]=Accesos rápidos para web
Name[et]=Veebi kiirkorraldused
Name[eu]=Weben lasterbideak
Name[fa]=میان‌برهای وب
Name[fi]=WWW-pikavalinnat
Name[fr]=Raccourcis Web
Name[fy]=Webskeakels
Name[ga]=Aicearraí Gréasáin
Name[gl]=Atallos web
Name[gu]=વેબ ટૂંકાણો
Name[he]=קיצורי דרך אינטרנטיים
Name[hi]=वेब शॉर्टकट
Name[hne]=वेब सार्टकट
Name[hr]=Internetski prečaci
Name[hsb]=Skrótšenki za web
Name[hu]=Keresési azonosítók
Name[ia]=Vias Breve de web
Name[id]=Jalan Pintas Web
Name[is]=Vefskammstafanir
Name[it]=Scorciatoie del web
Name[ja]=ウェブショートカット
Name[ka]=ვებგვერდების მალსახმობი 
Name[kk]=Веб қысқартулары
Name[km]=ផ្លូវកាត់​បណ្ដាញ
Name[kn]=ಜಾಲ ಶೀಘ್ರಮಾರ್ಗಗಳು (ಶಾರ್ಟ್ ಕಟ್)
Name[ko]=웹 바로 가기
Name[ku]=Kurteriyên Webê
Name[lt]=Žiniatinklio trumpės
Name[lv]=Ātrās meklēšanas īsceļi
Name[mai]=वेब शार्टकट
Name[mk]=Интернет-кратенки
Name[ml]=വെബിലെ കുറക്കുവഴികള്‍
Name[mr]=वेब शॉर्टकट
Name[ms]=Jalan Pintas Web
Name[nb]=Nettsnarveier
Name[nds]=Söökafkörten
Name[ne]=वेब सर्टकट
Name[nl]=Webkoppelingen
Name[nn]=Vevsnarvegar
Name[or]=ୱେବ ସଂକ୍ଷିପ୍ତ ପଥଗୁଡ଼ିକ
Name[pa]=ਵੈਬ ਸ਼ਾਰਟਕੱਟ
Name[pl]=Skróty sieciowe
Name[pt]=Atalhos Web
Name[pt_BR]=Atalhos da Web
Name[ro]=Acceleratori de web
Name[ru]=Веб-сокращения
Name[se]=Fierpmádatlávkestagat
Name[si]=වෙබ් කෙටිමං
Name[sk]=Webové skratky
Name[sl]=Spletne bližnjice
Name[sr]=Веб пречице
Name[sr@ijekavian]=Веб пречице
Name[sr@ijekavianlatin]=Veb prečice
Name[sr@latin]=Veb prečice
Name[sv]=Webbgenvägar
Name[ta]=இணைய சுருக்கு வழிகள்
Name[te]=వెబ్ లఘువులు
Name[tg]=Миёнбурҳои интернетӣ
Name[th]=ทางลัดเว็บ
Name[tr]=Web Kısayolları
Name[ug]=تور تېزلەتمىسى
Name[uk]=Вебскорочення
Name[uz]=Veb-qisqartmalari
Name[uz@cyrillic]=Веб-қисқартмалари
Name[vi]=Lối tắt Mạng
Name[wa]=Rascourtis waibe
Name[xh]=Ezimfutshane ze Web
Name[x-test]=xxWeb Shortcutsxx
Name[zh_CN]=网页快捷方式
Name[zh_TW]=網頁捷徑

Comment=Configure enhanced browsing
Comment[af]=Konfigureer verbeterde blaaiïng
Comment[ar]=اضبط التصفح المحسّن
Comment[as]=উন্নতভাবে চৰণ কৰা বিন্যাস কৰক
Comment[ast]=Configuración de la navegación ameyorada
Comment[be]=Настаўленні прасунутага вандравання
Comment[be@latin]=Naładź lepšaje hartańnie
Comment[bg]=Настройване на уеб съкращения и бързи препратки
Comment[bn]=বর্ধিত ব্রাউজিং কনফিগার করুন
Comment[bn_IN]=উন্নত বৈশিষ্ট্যসহ ব্রাউজিং কনফিগার করুন
Comment[br]=Kefluniañ ar furchal gwellaet
Comment[bs]=Podešavanje poboljšanog pregledanja
Comment[ca]=Aquí podeu configurar la navegació millorada
Comment[ca@valencia]=Ací podeu configurar la navegació millorada
Comment[cs]=Nastavení rozšířeného prohledávání
Comment[csb]=Kònfigùracëjô rozszérzonëch cechów przezéraniô
Comment[cy]=Ffurfweddu pori uchel
Comment[da]=Indstil udvidet webbrowsing
Comment[de]=Die Verwendung von Web-Kürzeln einrichten
Comment[el]=Διαμορφώστε την εμπλουτισμένη περιήγηση
Comment[en_GB]=Configure enhanced browsing
Comment[eo]=Agordi la plibonigitan foliumadon
Comment[es]=Configuración de la navegación mejorada
Comment[et]=Täiustatud lehitsemise konfigureerimine
Comment[eu]=Konfiguratu arakatze hobetua
Comment[fa]=پیکربندی مرور بهبودیافته
Comment[fi]=Selauksen lisäasetukset
Comment[fr]=Configuration de la navigation avancée
Comment[fy]=Hjir kinne jo it avansearre blêdzjen ynstelle
Comment[ga]=Cumraigh brabhsáil fheabhsaithe
Comment[gl]=Configurar a navegación mellorada
Comment[gu]=વધુ સારું બ્રાઉઝિંગ રૂપરેખાંકિત કરો
Comment[he]=הגדרת גלישה משופרת
Comment[hi]=एनहेंस्ड ब्राउज़िंग कॉन्फ़िगर करें
Comment[hne]=एनहेंस्ड ब्राउजिंग कान्फिगर करव
Comment[hr]=Konfiguriranje poboljšanog pregledavanja
Comment[hsb]=Konfiguracija zlěpšeneho browsowanja
Comment[hu]=A keresési beállításokat lehet módosítani
Comment[ia]=Configura navigation avantiate
Comment[id]=Atur perambanan yang ditingkatkan
Comment[is]=Hér getur þú stillt endurbætur á vefskoðara
Comment[it]=Configura la navigazione avanzata
Comment[ja]=拡張ブラウズの設定
Comment[kk]=Вебті шарлағанда қолданатын қысқартулар
Comment[km]=កំណត់​រចនាសម្ព័ន្ធ​ការ​រុករក​ឲ្យ​កាន់​តែ​ប្រសើរ
Comment[kn]=ಊರ್ಜಿತ ವೀಕ್ಷಣೆಯನ್ನು ಸಂರಚಿಸು
Comment[ko]=확장 브라우징 설정
Comment[ku]=Avakirina Gerîna Pêşkeftî
Comment[lt]=Konfigūruoti išplėstinį naršymą
Comment[lv]=Šeit jūs varat konfigurēt pārkūkošanas uzlabojumus
Comment[mai]=एनहेंस्ड ब्राउजिंग बिन्यस्त करू
Comment[mk]=Конфигурирајте го напредното прелистување
Comment[ml]=മെച്ചപ്പെട്ട ബ്രൌസിങ്ങ് ക്രമീകരിയ്ക്കുക
Comment[mr]=प्रगत ब्राऊजिंग संयोजीत करा
Comment[ms]=Konfigur pelayaran lanjutan
Comment[nb]=Sett opp utvidet surfing
Comment[nds]=Söökafkörten för't gaue Söken in't Nett inrichten
Comment[ne]=बढाइएको ब्राउजिङ कन्फिगर गर्नुहोस्
Comment[nl]=Hier kunt u het geavanceerd browsen instellen
Comment[nn]=Oppsett av utvida surfing
Comment[or]=ଉନ୍ନତ ବ୍ରାଉଜିଙ୍ଗ ବିନ୍ୟାସ କରନ୍ତୁ
Comment[pa]=ਸਹਾਇਕ ਝਲਕਾਰਾ ਸੰਰਚਨਾ
Comment[pl]=Konfiguracja rozszerzonych cech przeglądania
Comment[pt]=Configuração da navegação melhorada
Comment[pt_BR]=Configura a navegação melhorada
Comment[ro]=Configurează navigarea de web avansată
Comment[ru]=Настройка расширенных возможностей браузера
Comment[se]=Heivet viiddiduvvon fierbmegolgama
Comment[si]=දියුණු කළ ගවේෂණ සැකසුම්
Comment[sk]=Nastavenie rozšíreného prehliadania
Comment[sl]=Nastavitve izboljšanega brskanja
Comment[sr]=Подешавање побољшаног прегледања
Comment[sr@ijekavian]=Подешавање побољшаног прегледања
Comment[sr@ijekavianlatin]=Podešavanje poboljšanog pregledanja
Comment[sr@latin]=Podešavanje poboljšanog pregledanja
Comment[sv]=Anpassa utökad webbläsning
Comment[ta]=மேம்பட்ட தேடலை வடிவமைக்க
Comment[te]=విస్తరించిన అన్వేషణను ఆకృతీకరించుము
Comment[tg]=Танзимоти намоиши Интернет
Comment[th]=ปรับแต่งการเรียกดูแบบเพิ่มความสามารถ
Comment[tr]=Gelişmiş taramayı yapılandır
Comment[ug]=كۈچەيتىلگەن توركۆرگۈ سەپلىمىسى
Comment[uk]=Налаштування спецфункцій навігації
Comment[uz]=Tezlashtirilgan veb-koʻrishni moslash
Comment[uz@cyrillic]=Тезлаштирилган веб-кўришни мослаш
Comment[vi]=Cấu hình khả năng duyệt tăng cường
Comment[wa]=Apontyî li naiviaedje waibe avancî
Comment[xh]=Qwalasela ukhangelo lwencwadi olongezelelweyo
Comment[x-test]=xxConfigure enhanced browsingxx
Comment[zh_CN]=配置增强浏览特性
Comment[zh_TW]=設定增強式瀏覽

X-KDE-Keywords=Enhanced Browsing,Browsing,WWW,Internet,Internet Filters,Network,Search Engines,Shortcuts
X-KDE-Keywords[bg]=Сърфиране,Уеб,Интернет,Мрежа,Търсене,Търсачка,Enhanced Browsing,Browsing,WWW,Internet,Internet Filters,Network,Search Engines,Shortcuts
X-KDE-Keywords[bs]=Enhanced Browsing,Browsing,WWW,Internet,Internet Filters,Network,Search Engines,Shortcuts
X-KDE-Keywords[ca]=Navegació millorada,navegació,WWW,Internet,Filtres d'Internet,Xarxa,Motors de cerca,Dreceres
X-KDE-Keywords[ca@valencia]=Navegació millorada,navegació,WWW,Internet,Filtres d'Internet,Xarxa,Motors de cerca,Dreceres
X-KDE-Keywords[da]=Forbedret browsing,browsing,www,internet,internetfiltre,netværk,søgemaskiner,genveje
X-KDE-Keywords[de]=Browsen,Erweitertes Browsen,WWW,Internet,Stichwörter,Filter,Netz,Internetfilter,Suchmaschinen,Kurzbefehle,Netzwerk
X-KDE-Keywords[el]=Εμπλουτισμένη περιήγηση,περιήγηση,www,διαδίκτυο,διαδικτυακά φίλτρα,δίκτυο,μηχανές αναζήτησης,συντομεύσεις
X-KDE-Keywords[es]=Navegación mejorada,Navegación,WWW,Internet,Filtros de Internet,Red,Motores de búsqueda,Accesos rápidos
X-KDE-Keywords[et]=Täiustatud sirvimine,Sirvimine,WWW,Internet,Internetifiltrid,Võrk,Otsimootorid,Kiirkorraldused
X-KDE-Keywords[fi]=selaimen lisäasetukset,edistynyt selailu,selailu,selaus,WWW,Internet,Internet-suodattimet,verkko,hakukoneet,pikavalinnat
X-KDE-Keywords[fr]=Navigation avancée, navigation, WWW, Internet, filtres Internet, réseau, moteur de recherche, raccourcis
X-KDE-Keywords[ga]=Brabhsáil Fheabhsaithe,Brabhsáil,WWW,Gréasán,Idirlíon,Scagairí Idirlín,Líonra,Innill Chuardaigh,Aicearraí
X-KDE-Keywords[gl]=Navegación mellorada,navegar,www.internet,filtros de internet,rede, motores de busca,atallos
X-KDE-Keywords[hu]=Fejlesztett böngészés,Böngészés,WWW,Internet,Internetes szűrők,Hálózat,Keresőmotorok,Gyorsbillentyűk
X-KDE-Keywords[ia]=Navigation avantiate, Navigation,WWW,Internet,Filtros de Internet,Rete, Motores de cerca,Vias breve
X-KDE-Keywords[it]=Navigazione avanzata,navigazione,WWW,Internet,filtri Internet,rete,motori di ricerca,scorciatoie
X-KDE-Keywords[kk]=Enhanced Browsing,Browsing,WWW,Internet,Internet Filters,Network,Search Engines,Shortcuts
X-KDE-Keywords[km]=ការ​រកមើល​ដែល​បាន​ធ្វើ​ឲ្យ​ប្រសើរ ការ​រកមើល WWW អ៊ីនធឺណិត តម្រង​អ៊ីនធឺណិត បណ្ដាញ ម៉ាស៊ីន​ស្វែងរក ផ្លូវកាត់
X-KDE-Keywords[ko]=Enhanced Browsing,Browsing,WWW,Internet,Internet Filters,Network,Search Engines,Shortcuts,웹 브라우징,브라우징,네트워크,검색,검색 엔진,바로 가기
X-KDE-Keywords[lt]=Išplėstinis naršymas,Naršymas,WWW,Internetas,Interneto filtrai,Tinklas,Paieškos varikliai,trumpiniai
X-KDE-Keywords[lv]=Uzlabota pārlūkošana,pārlūkošana,WWW,internets,interneta filtri,tīkls,meklēšanas dzinēji,saīnes
X-KDE-Keywords[nb]=Utvidet surfing,Surfing,WWW,Internett,Internettfiltre,Nettverk,Søkemotorer,Snarveier
X-KDE-Keywords[nds]=Verwiedert Nettkieken,Nettkieken,WWW,Internet,Internet-Filtern,Nettwark,Söökmaschinen,Afkörten,Tastkombinatschonen
X-KDE-Keywords[nl]=Verbeterd browsen,browsen,www,internet,internetfilters,netwerk,zoekmachines,sneltoetsen
X-KDE-Keywords[pl]=Ulepszone przeglądanie,Przeglądanie,WWW,Internet,Filtry internetowe,Sieć,Wyszukiwarki,Silniki wyszukiwania,Skróty
X-KDE-Keywords[pt]=Navegação Melhorada,Navegação,WWW,Internet,Filtros da Internet,Rede,Motores de Busca,Atalhos
X-KDE-Keywords[pt_BR]=Navegação melhorada,Navegação,WWW,Internet,Filtros da Internet,Rede,Mecanismos de busca,Atalhos
X-KDE-Keywords[ro]=navigare avansată,navigare,WWW,internet,filtre internet,rețea,motoare de căutare,scurtături
X-KDE-Keywords[ru]=Enhanced Browsing,Browsing,WWW,Internet,Internet Filters,Network,Search Engines,Shortcuts,веб-сёрфинг,Интернет,сетевые фильтры,сеть,поисковые движки,веб-сокращения,комбинации клавиш
X-KDE-Keywords[sk]=Rozšírené surfovanie,Surfovanie,WWW,Internet,Internetové filtre,Sieť,Vyhľadávacie nástroje,Odkazy
X-KDE-Keywords[sl]=Razširjeno brskanje,Brskanje,WWW,Internet,Internetni filtri,Omrežni iskalni pogoni,Bližnjice
X-KDE-Keywords[sr]=Enhanced Browsing,Browsing,WWW,Internet,Internet Filters,Network,Search Engines,Shortcuts,побољшано прегледање,прегледање,веб,интернет,филтери,мрежа,претраживачи,пречице
X-KDE-Keywords[sr@ijekavian]=Enhanced Browsing,Browsing,WWW,Internet,Internet Filters,Network,Search Engines,Shortcuts,побољшано прегледање,прегледање,веб,интернет,филтери,мрежа,претраживачи,пречице
X-KDE-Keywords[sr@ijekavianlatin]=Enhanced Browsing,Browsing,WWW,Internet,Internet Filters,Network,Search Engines,Shortcuts,poboljšano pregledanje,pregledanje,veb,internet,filteri,mreža,pretraživači,prečice
X-KDE-Keywords[sr@latin]=Enhanced Browsing,Browsing,WWW,Internet,Internet Filters,Network,Search Engines,Shortcuts,poboljšano pregledanje,pregledanje,veb,internet,filteri,mreža,pretraživači,prečice
X-KDE-Keywords[sv]=Förbättrad webbläsning,Webbläsning,WWW,Internet,Internetfilter,Nätverk,Söktjänster,Genvägar
X-KDE-Keywords[tr]=Gelişmiş Tarama,Tarama,WWW,İnternet,İnternet Filtreleri,Ağ,Arama Motorları,Kısayollar
X-KDE-Keywords[uk]=Enhanced Browsing,Browsing,WWW,Internet,Internet Filters,Network,Search Engines,Shortcuts,додатково,додатковий,інтернет,фільтри,фільтрування,фільтр,мережа,рушій,пошук,рушії пошуку,скорочення,вебскорочення
X-KDE-Keywords[wa]=Betchtaedje amidré,Betchtaedje,Naiviaedje,WWW,Daegntoele,Passetes Dagntoele,Rantoele,Moteurs di cweraedje,Ricwerresses,Rascourtis
X-KDE-Keywords[x-test]=xxEnhanced Browsing,Browsing,WWW,Internet,Internet Filters,Network,Search Engines,Shortcutsxx
X-KDE-Keywords[zh_CN]=Enhanced Browsing,Browsing,WWW,Internet,Internet Filters,Network,Search Engines,Shortcuts,增强浏览,浏览,互联网,互联网过滤,网络,搜索引擎,快捷方式
X-KDE-Keywords[zh_TW]=Enhanced Browsing,Browsing,WWW,Internet,Internet Filters,Network,Search Engines,Shortcuts

Categories=Qt;KDE;X-KDE-settings-webbrowsing;
