[Desktop Entry]
Type=Service
Name=Pidgin Emoticons Theme
Name[ar]=سمة ابتسامات Pidgin
Name[as]=Pidgin Emoticons থিম
Name[ast]=Tema d'emoticonos Pidgin
Name[be@latin]=Matyŭ smajlikaŭ dla „Pidgin”
Name[bg]=Тема с емоции Pidgin
Name[bn]=পিজিন ইমোট-আইকন থীম
Name[bn_IN]=Pidgin ইমো-আইকন থিম
Name[bs]=Pidžinova tema emotikona
Name[ca]=Tema d'emoticones Pidgin
Name[ca@valencia]=Tema d'emoticones Pidgin
Name[cs]=Motiv emotikonů Pidgin
Name[csb]=Témë emòtikównków Pidgina
Name[da]=Pidgin emotikon-tema
Name[de]=Pidgin-Emoticon-Design
Name[el]=Θέμα εικονιδίων διάθεσης Pidgin
Name[en_GB]=Pidgin Emoticons Theme
Name[eo]=Pidgin Mien-Etoso
Name[es]=Tema de emoticonos Pidgin
Name[et]=Pidgini emotikoniteema
Name[eu]=Pidgin-en aurpegiera gaia
Name[fi]=Pidgin-hymiöteemat
Name[fr]=Thème d'émoticônes pour Pidgin
Name[fy]=Pidgin emoticons tema
Name[ga]=Téama Straoiseog Pidgin
Name[gl]=Tema de emoticonas de Pidgin
Name[gu]=પીડગીન ઇમોકેશન થીમ ઉપયોગ કરવા માટેની લાઇબ્રેરી
Name[he]=ערכת פרצופונים של Pidgin
Name[hi]=पिडजिन हँसमुख प्रसंग
Name[hne]=पिडगिन चेहराचिनहा थीम
Name[hr]=Pidginova tema emotikona
Name[hsb]=Pidgin Emoticons Theme
Name[hu]=Pidgin emotikon-téma
Name[hy]=Pidgin-ի էմոտիքոնների ոճ
Name[ia]=Thema de emoticones Pidgin
Name[id]=Tema Emoticon Pidgin
Name[is]=Pidgin broskallaþema
Name[it]=Tema faccine Pidgin
Name[ja]=Pidgin 感情アイコンテーマ
Name[kk]=Pidgin көңіл-күй белгілер нақышы
Name[km]=ស្បែក​សញ្ញា​អារម្មណ៍​របស់ Pidgin
Name[kn]=ಪಿಡ್ಗಿನ್ (ಎಮೋಟಿಕಾನ್ಸ್) ಪರಿಸರವಿನ್ಯಾಸ (ಥೀಮ್)
Name[ko]=피진 이모티콘 테마
Name[ku]=Dirba Vegotinan yê Pidgin
Name[lt]=Pidgin jaustukų tema
Name[lv]=Pidgin emocijzīmju tēma
Name[mai]=पिजिन भावचिन्ह प्रसंग
Name[ml]=പിഡ്ജിന്‍ ഇമോട്ടിക്കോണ്‍ രംഗവിതാനം
Name[mr]=पिडगिन भावप्रतिमा शैली
Name[nb]=Pidgin smilefjestema
Name[nds]=Snutensett Pidgin
Name[nl]=Pidgin-emoticonsthema
Name[nn]=Pidgin-fjesingtema
Name[or]=Pidgin Emoticons ପ୍ରସଙ୍ଗ
Name[pa]=ਪਿਡਗਿਨ ਈਮੋਸ਼ਨ ਥੀਮ
Name[pl]=Motyw emotikon Pidgin
Name[pt]=Tema de Ícones Emotivos do Pidgin
Name[pt_BR]=Tema emoticons do Pidgin
Name[ro]=Tematică de emoticoni Pidgin
Name[ru]=Набор смайликов Pidgin
Name[se]=Piding mojánfáddá
Name[si]=Pidgin Emoticons තේමාව
Name[sk]=Téma emotikonov Pidgin
Name[sl]=Tema izraznih ikon Pidgin
Name[sr]=Пиџинова тема емотикона
Name[sr@ijekavian]=Пиџинова тема емотикона
Name[sr@ijekavianlatin]=Pidginova tema emotikona
Name[sr@latin]=Pidginova tema emotikona
Name[sv]=Pidgin smilistema
Name[ta]=பிட்கின் உணர்வுருக்கள் தோற்றம்
Name[tg]=Мавзӯъи Pidgin Emoticons
Name[th]=ภาพไอคอนสื่ออารมณ์ของ Pidgin
Name[tr]=Pidgin Duygu Simgesi Teması
Name[tt]=Pidgin көлчекләр җыелмасы
Name[ug]=Pidgin چىراي ئىپادە ئۆرنىكى
Name[uk]=Тема емоційок Pidgin
Name[vi]=Giao diện hình biểu cảm Pidgin
Name[wa]=Tinme di xhinêyes Pidgin
Name[x-test]=xxPidgin Emoticons Themexx
Name[zh_CN]=Pidgin 表情主题
Name[zh_TW]=Pidgin 表情圖示主題
Comment=Library to use Pidgin emoticons theme
Comment[ar]=مكتبة لاستخدام سمة ابتسامات Pidgin
Comment[as]=Pidgin Emoticons থিম ব্যৱহাৰ কৰা লাইব্ৰেৰী
Comment[ast]=Biblioteca pa usar el tema d'emoticonos Pidgin
Comment[be@latin]=Biblijateka dla matyvaŭ smajlikaŭ „Pidgin”
Comment[bg]=Библиотека за темата с емоции Pidgin
Comment[bn]=পিজিন ইমোট-আইকন থীম ব্যবহার করার লাইব্রেরী
Comment[bn_IN]=Pidgin ইমো-আইকন থিম প্রয়োগ করতে ব্যবহৃত লাইব্রেরি
Comment[bs]=Biblioteka za Pidžinovu temu emotikona
Comment[ca]=Biblioteca per a usar el tema d'emoticones Pidgin
Comment[ca@valencia]=Biblioteca per a usar el tema d'emoticones Pidgin
Comment[cs]=Knihovna pro použití motivu emotikonů Pidgin
Comment[csb]=Bibloteka do brëkòwaniô emòtikónków temë Pidgina
Comment[da]=Bibliotek til at bruge Pidgin emotikon-temaer
Comment[de]=Bibliothek zur Verwendung des Pidgin-Emoticon-Designs
Comment[el]=Βιβλιοθήκη για τη χρήση του θέματος εικονιδίων διάθεσης Pidgin
Comment[en_GB]=Library to use Pidgin emoticons theme
Comment[eo]=Biblioteko por uzi Pidgin Mien-Etoson
Comment[es]=Biblioteca para usar el tema de emoticonos Pidgin
Comment[et]=Teek Pidgini emotikoniteema kasutamiseks
Comment[eu]=Pidgin-en aurpegiera gaia erabiltzeko liburutegia
Comment[fi]=Kirjasto Pidgin-hymiöteemojen käyttämiseen
Comment[fr]=Bibliothèque permettant d'utiliser les thèmes d'émoticônes de Pidgin
Comment[fy]=Biblioteek om Pidgin emoticons tema te brûken
Comment[ga]=Leabharlann le húsáid téama straoiseog Pidgin
Comment[gl]=Unha biblioteca para empregar temas de emoticonas de Pidgin
Comment[gu]=પીડગીન ઇમોકેશન થીમ ઉપયોગ કરવા માટેની લાઇબ્રેરી
Comment[he]=ספרייה לשימוש בערכת הפרצופונים של Pidgin
Comment[hne]=पिडगिन चेहराचिनहा थीम ल उपयोग करे बर लाइब्रेरी
Comment[hr]=Biblioteka za korištenje Pidginove teme emotikona
Comment[hsb]=Biblioteka za Pidgin emoticons theme
Comment[hu]=Programkönyvtár a Pidgin emotikon-témához
Comment[hy]=Գրադարան որպեսզի Pidgin-ի էմոտիքոնների ոճը օգտագործել
Comment[ia]=Libreria per usar le thema de emoticones Pidgin
Comment[id]=Pustaka untuk menggunakan tema emoticon Pidgin
Comment[is]=Forritlingasafn til notkunar með Pidgin broskallaþema
Comment[it]=Libreria per usare il tema faccine Pidgin
Comment[ja]=Pidgin 感情アイコンテーマのライブラリ
Comment[kk]=Pidgin көңіл-күй белгілер нақышының жиыны
Comment[km]=បណ្ណាល័យ​ត្រូវ​ប្រើ​ស្បែក​សញ្ញា​អារម្មណ៍​របស់ Pidgin
Comment[kn]=ಪಿಡ್ಗಿನ್ ಭಾವನಾಚಿಹ್ನೆಗಳ (ಎಮೋಟಿಕಾನ್) ಪರಿಸರವಿನ್ಯಾಸವನ್ನು (ಥೀಮ್) ಬಳಸಲು ಒಂದು ಭಂಡಾರ (ಲೈಬ್ರರಿ)
Comment[ko]=피진 이모티콘 테마를 사용할 라이브러리
Comment[ku]=Pirtûkxane ji bo bi kar anîna Dirba Vegotinan yê Pidgin
Comment[lt]=Biblioteka, leidžianti naudoti Pidgin jaustukų temą
Comment[lv]=Pidgin emocijzīmju tēmas bibliotēka
Comment[mai]=पिजिन भावचिन्ह प्रसंगक प्रयोगक लेल लाइब्रेरी
Comment[ml]=പിഡ്ജിന്‍ ഇമോട്ടിക്കോണ്‍ രംഗവിതാനം ഉപയോഗിയ്ക്കേണ്ട ലൈബ്രറി
Comment[mr]=पिडगिन भावप्रतिमा शैली वापरण्याकरिता लायब्ररी
Comment[nb]=Bibliotek for å bruke Pidgin smilefjestema
Comment[nds]=Bibliotheek, mit de sik dat Snutensett Pidgin bruken lett
Comment[nl]=Bibliotheek voor het gebruik van het Pidgin-emoticonsthema
Comment[nn]=Bibliotek for å bruka fjesingtema frå Pidgin
Comment[or]=Pidgin Emoticons ପ୍ରସଙ୍ଗକୁ ବ୍ୟବହାର କରିବା ପାଇଁ ଲାଇବ୍ରେରୀ
Comment[pa]=ਪਿਡਗਿਨ ਈਮੋਸ਼ਨ ਥੀਮ ਲਈ ਲਾਇਬਰੇਰੀ
Comment[pl]=Biblioteka do motywu emotikon Pidgin
Comment[pt]=Uma biblioteca para usar os temas de ícones emotivos do Pidgin
Comment[pt_BR]=Biblioteca para utilização do tema emoticons do Pidgin
Comment[ro]=Bibliotecă de utilizat tematica de emoticoni Pidgin
Comment[ru]=Библиотека набора смайликов Pidgin
Comment[se]=Bibliotehkta mii dulko Pidgin mojánfáttáid
Comment[si]=Pidgin Emoticons තේමාව තේමාව සඳහා භාවිත කළ යුතු පුස්තකාලය
Comment[sk]=Knižnica na použitie témy emotikonov Pidgin
Comment[sl]=Knjižnica za uporabo Pidginove teme izraznih ikon
Comment[sr]=Библиотека за Пиџинову тему емотикона
Comment[sr@ijekavian]=Библиотека за Пиџинову тему емотикона
Comment[sr@ijekavianlatin]=Biblioteka za Pidginovu temu emotikona
Comment[sr@latin]=Biblioteka za Pidginovu temu emotikona
Comment[sv]=Bibliotek för att använda Pidgin smilistema
Comment[ta]=நிரலகம் பிட்கின் உணர்வுரு தோற்றத்தை பயன்படுத்தும்
Comment[tg]=Китобхонаи мавзӯъи Pidgin emoticons
Comment[th]=ไลบรารีที่ใช้ภาพไอคอนสื่ออารมณ์ของ Pidgin
Comment[tr]=Pidgin Duygu Simgesi Temasını kullanmak için kitaplık
Comment[tt]=Pidgin көлчек җыелмасы өчен китапханә
Comment[ug]=Pidgin چىراي ئىپادە ئۆرنىكىنى ئىشلىتىدىغان ئامبار
Comment[uk]=Бібліотека для використання теми емоційок Pidgin
Comment[vi]=Thư viện để sử dụng giao diện hình biểu cảm Pidgin
Comment[wa]=Livreye pos eployî l' tinme di xhinêyes Pidgin
Comment[x-test]=xxLibrary to use Pidgin emoticons themexx
Comment[zh_CN]=使用 Pidgin 表情主题的类库
Comment[zh_TW]=使用 Pidgin 表情圖示主題的函式庫
X-KDE-ServiceTypes=KEmoticons
X-KDE-Library=emoticonstheme_pidgin
X-KDE-EmoticonsFileName=theme
X-KDE-Priority=7
