[Desktop Entry]
Encoding=UTF-8
Name=Radial Map
Name[bs]=Radial Map
Name[ca]=Mapa radial
Name[ca@valencia]=Mapa radial
Name[cs]=Kruhová mapa
Name[da]=Radialkort
Name[de]=Kreisförmige Darstellung
Name[el]=Ακτινωτός χάρτης
Name[en_GB]=Radial Map
Name[es]=Mapa radial
Name[et]=Radiaalkaart
Name[eu]=Mapa erradiala
Name[fi]=Säteittäinen kartta
Name[fr]=Carte radiale
Name[ga]=Mapa Gathach
Name[gl]=Mapa radial
Name[hr]=Zrakasta karta
Name[hu]=Kördiagram
Name[ia]=Mappa radial
Name[it]=Mappa radiale
Name[kk]=Дөңгелек картасы
Name[km]=ផែនទីនៃ​កាំ
Name[ko]=원형 지도
Name[lt]=Radialinis žemėlapis
Name[lv]=Radial Map
Name[mr]=मध्यबिंदूतून जाणारा नकाशा
Name[nb]=Radielt kart
Name[nds]=Rund Koort
Name[nl]=Radiale grafiek
Name[pa]=ਰੇਡੀਅਨ ਮੈਪ
Name[pl]=Mapa kołowa
Name[pt]=Mapa Radial
Name[pt_BR]=Mapa radial
Name[ro]=Hartă radială
Name[ru]=Радиальная карта
Name[sk]=Radiálna mapa
Name[sl]=Krožen prikaz
Name[sr]=Кружна мапа
Name[sr@ijekavian]=Кружна мапа
Name[sr@ijekavianlatin]=Kružna mapa
Name[sr@latin]=Kružna mapa
Name[sv]=Radiell avbildning
Name[th]=Radial Map
Name[tr]=Radyal Harita
Name[uk]=Радіальна карта
Name[x-test]=xxRadial Mapxx
Name[zh_CN]=雷达图
Name[zh_TW]=放射狀地圖
MimeType=inode/directory;
ServiceTypes=KParts/ReadOnlyPart
X-KDE-Library=filelightpart
Type=Service
Icon=view_filelight
