[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=KCModule
X-DocPath=kcontrol/filemanager/index.html
Icon=system-file-manager
Exec=kcmshell4 filebehavior

X-KDE-Library=kcm_konq
X-KDE-PluginKeyword=behavior

Name=Behavior
Name[af]=Gedrag
Name[ar]=السلوك
Name[as]=আচৰণ
Name[ast]=Comportamientu
Name[be]=Паводзіны
Name[be@latin]=Pavodziny
Name[bg]=Поведение
Name[bn]=আচরণ
Name[bn_IN]=আচরণ
Name[br]=Emzalc'h
Name[bs]=Ponašanje
Name[ca]=Comportament
Name[ca@valencia]=Comportament
Name[cs]=Chování
Name[csb]=Zachòwanié
Name[cy]=Ymddygiad
Name[da]=Opførsel
Name[de]=Verhalten
Name[el]=Συμπεριφορά
Name[en_GB]=Behaviour
Name[eo]=Konduto
Name[es]=Comportamiento
Name[et]=Käitumine
Name[eu]=Portaera
Name[fa]=رفتار
Name[fi]=Toiminta
Name[fr]=Comportement
Name[fy]=Gedrach
Name[ga]=Oibriú
Name[gl]=Comportamento
Name[gu]=વર્તણૂક
Name[he]=התנהגות
Name[hi]=बर्ताव
Name[hne]=बर्ताव
Name[hr]=Ponašanje
Name[hsb]=Zadźerženje
Name[hu]=Működés
Name[ia]=Comportamento
Name[id]=Perilaku
Name[is]=Hegðun
Name[it]=Comportamento
Name[ja]=挙動
Name[ka]=ქცევა
Name[kk]=Қасиеттері
Name[km]=ឥរិយាបថ
Name[kn]=ವರ್ತನೆ
Name[ko]=행동
Name[ku]=Tevger
Name[lt]=Elgsena
Name[lv]=Izturēšanās
Name[mai]=व्यवहार
Name[mk]=Однесување
Name[ml]=പെരുമാറ്റം
Name[mr]=वर्तन
Name[ms]=Peri laku
Name[nb]=Oppførsel
Name[nds]=Bedregen
Name[ne]=व्यवहार
Name[nl]=Gedrag
Name[nn]=Åtferd
Name[oc]=Compòrtament
Name[or]=ଆଚରଣ
Name[pa]=ਰਵੱਈਆ
Name[pl]=Zachowanie
Name[pt]=Comportamento
Name[pt_BR]=Comportamento
Name[ro]=Comportament
Name[ru]=Поведение
Name[se]=Láhtten
Name[si]=හැසිරීම
Name[sk]=Správanie
Name[sl]=Obnašanje
Name[sr]=Понашање
Name[sr@ijekavian]=Понашање
Name[sr@ijekavianlatin]=Ponašanje
Name[sr@latin]=Ponašanje
Name[sv]=Uppträdande
Name[ta]= நடத்தை
Name[te]=ప్రవర్తన
Name[tg]=Рафтор
Name[th]=พฤติกรรม
Name[tr]=Davranış
Name[ug]=ھەرىكەت
Name[uk]=Поведінка
Name[uz]=Xususiyatlar
Name[uz@cyrillic]=Хусусиятлар
Name[vi]=Ứng xử
Name[wa]=Dujhance
Name[xh]=Ukuziphatha
Name[x-test]=xxBehaviorxx
Name[zh_CN]=行为
Name[zh_TW]=行為

Comment=You can configure how Konqueror behaves as a file manager here
Comment[af]=Jy kan konfigureer hoe Konqueror gedrag as 'n lêer bestuurder hier
Comment[ar]=يمكنك هنا ضبط سلوك كونكيورر كمدير للملفات
Comment[as]=Konqueror নথিপত্ৰৰ পৰিচালক হিচাপে কেনেদৰে আচৰণ কৰে আপুনি ইয়াত বিন্যাস কৰিব পাৰে
Comment[ast]=Equí pues configurar el comportamientu de Konqueror como xestor de ficheros
Comment[be]=Тут вы можаце змяніць паводзіны Konqueror для кіравання файламі
Comment[be@latin]=Tut možna naładzić pavodziny fajłavaha kiraŭnika „Konqueror”
Comment[bg]=Настройване поведението на файловия браузър
Comment[bn]=ফাইল ম্যানেজার হিসাবে কনকরার-এর আচরণ কেমন হবে তা এখানে কনফিগার করতে পারেন
Comment[bn_IN]=ফাইল পরিচালন ব্যবস্থা হিসাবে Konqueror-র আচরণ এইখানে কনফিগার করা যাবে
Comment[br]=Amañ e c'hellit kefluniañ penaos Konqueror en em zalc'h evel ur merour restroù
Comment[bs]=Ovdje podešavate ponašanje K‑osvajača kao menadžera datoteka
Comment[ca]=Aquí podeu configurar com es comportarà el Konqueror com a gestor de fitxers
Comment[ca@valencia]=Ací podeu configurar com es comportarà el Konqueror com a gestor de fitxers
Comment[cs]=Zde je možné nastavit správce chování Konqueroru jako správce souborů
Comment[csb]=Kònfigùracëjô zachòwaniô Konquerora jakno menadżera lopków
Comment[cy]=Ffurfweddu ymddygiad Konqueror fel rheolydd ffeiliau
Comment[da]=Her kan du indstille hvordan Konqueror opfører sig som filhåndtering
Comment[de]=Hier können Sie das Verhalten von Konqueror als Dateimanager festlegen
Comment[el]=Εδώ μπορείτε να διαμορφώσετε τη συμπεριφορά του Konqueror ως διαχειριστή αρχείων
Comment[en_GB]=You can configure how Konqueror behaves as a file manager here
Comment[eo]=Ĉi tie vi povas agordi kiel konkeranto kondutas kiel dosieradministrilo
Comment[es]=Aquí puede configurar el comportamiento de Konqueror como gestor de archivos
Comment[et]=Konquerori failihalduri käitumise seadistamine
Comment[eu]=Konquerorren portaera konfigura dezakezu fitxategi-kudeatzaile gisa ari denean
Comment[fa]=می‌توانید در اینجا، چگونگی رفتار Konqueror را به عنوان مدیر پرونده پیکربندی کنید
Comment[fi]=Tässä kohdassa voit muokata Konquerorin tiedostonhallinnan asetuksia
Comment[fr]=Vous pouvez configurer ici le comportement de Konqueror en tant que gestionnaire de fichiers
Comment[fy]=Hjir kinne jo it gedrach fan Konqueror as triembehearder ynstelle.
Comment[ga]=Leis seo is féidir oibriú Konqueror a chumrú mar bhainisteoir comhad
Comment[gl]=Aquí pode configurar o comportamento de Konqueror como xestor de ficheiros
Comment[gu]=તમે કોન્કરર ફાઇલ વ્યવસ્થાપક જેવી વર્તણૂક કરે તેવું રૂપરેખાંકન અહીં કરી શકો છો
Comment[he]=הגדרת אופן ההתנהגות של Konqueror כמנהל קבצים
Comment[hi]=आप कॉन्फ़िगर कर सकते हैं कि कॉन्करर यहाँ फ़ाइल प्रबंधक की तरह कैसे बर्ताव करे
Comment[hne]=आप कान्फिगर कर सकथो कि कान्करर इहां फाइल प्रबंधक के जइसन कइसन बर्ताव करही
Comment[hr]=Konfiguriranje načina na koji se Konqueror ponaša kao upravljač datoteka
Comment[hsb]=Tu móžeće nastajić, kak so konqueror jako datajowy manager zadźerži.
Comment[hu]=Itt lehet beállítani a Konqueror fájlkezelő működési jellemzőit
Comment[ia]=Tu pote configurar como Konqueror comporta se ci como gerente de file
Comment[id]=Anda dapat mengatur bagaimana Konqueror berperilaku sebagai manajer berkas di sini
Comment[is]=Hér getur þú stillt hvernig Konqueror hegðar sér sem skráastjóri
Comment[it]=Configura il comportamento di Konqueror come gestore dei file
Comment[ja]=Konqueror ファイルマネージャの挙動を設定
Comment[ka]=Konqueror-ის, როგორც ფაილური მენეჯერის, ქცევის კონფიგურირება
Comment[kk]=Konqueror файл менеджер ретінде қолданғандағы қасиеттерін баптау
Comment[km]=នៅ​ទីនេះ អ្នក​អាច​កំណត់​រចនាសម្ព័ន្ធ​ពី​របៀប​ដែល Konqueror ដើរតួ​ជា​កម្មវិធី​គ្រប់គ្រង​ឯកសារ
Comment[kn]=ಕಾಂಕರರ್ ಕಡತ ವ್ಯವಸ್ಥಾಪಕವಾಗಿ  ವರ್ತಿಸುವ ರೀತಿಯನ್ನು ಇಲ್ಲಿ ಸಂರಚಿಸಬಹುದು
Comment[ko]=Konqueror의 파일 관리자로서의 행동 설정
Comment[ku]=Ji virê tevgera Konquerorê a wekî rêvebera pelan ava bike
Comment[lt]=Čia galite nustatyti, kaip elgiasi Konqueror – failų tvarkyklė
Comment[lv]=Šeit varat konfigurēt Konqueror failu pārlūkošanas režīma izturēšanos
Comment[mai]=अहाँ बिन्यस्त कए सकैत छी जे कान्करर एतय फाइल प्रबंधक कए जहिना काज करै
Comment[mk]=Конфигурирајте го однесувањето на Konqueror како менаџер на датотеки
Comment[ml]=കോണ്‍ക്വറര്‍ ഒരു ഫയലുകളുടെ നടത്തിപ്പുകാരനായി പെരുമാറുന്നതെങ്ങനെയെന്നു് നിങ്ങള്‍ക്കിവിടെ ക്രമീകരിയ്ക്കാം
Comment[mr]=कॉन्करर फाईल व्यवस्थापकाने कसे वागावे ते संयोजीत करू शकता
Comment[ms]=Anda boleh konfigur bagaimana Konqueror berkelakuan sebagai pengurus fail di sini
Comment[nb]=Sett opp hvordan Konqueror opptrer som filbehandler
Comment[nds]=Hier kannst Du instellen, wodennig sik Konqueror as Dateipleger bedregen schall
Comment[ne]=तपाईँले यहाँ कन्क्वेररले फाइल प्रबन्धकलाई गर्ने व्यवहार कन्फिगर गर्न सक्नुहुन्छ
Comment[nl]=Hier kunt u het gedrag van Konqueror als bestandsbeheerder instellen
Comment[nn]=Her kan du velja korleis filhandsamaren Konqueror skal oppføra seg
Comment[or]=Konqueror ଏଠାରେ ଫାଇଲ ପରିଚାଳକ ପରି କେମିତି ଆଚରଣ କରୁଛି ତାହାକୁ ବିନ୍ୟାସ କରିପାରିବେ
Comment[pa]=ਤੁਸੀਂ ਇੱਥੇ ਸੰਰਚਿਤ ਕਰ ਸਕਦੇ ਹੋ ਕਿ ਕੋਨਕਿਉਰਰ ਇੱਕ ਫਾਇਲ ਮੈਨੇਜਰ ਦੇ ਰੂਪ ਵਿੱਚ ਕਿਵੇਂ ਕੰਮ ਕਰੇ
Comment[pl]=Konfiguracja zachowania Konquerora jako program zarządzający plikami
Comment[pt]=O utilizador pode configurar aqui como é que o Konqueror se comporta como um gestor de ficheiros
Comment[pt_BR]=Configura o comportamento do Konqueror como gerenciador de arquivos
Comment[ro]=Configurează comportamentul Konqueror ca manager de fișiere
Comment[ru]=Настройка поведения Konqueror как диспетчера файлов
Comment[se]=Dás heivehat mo Konqueror fiilagieđahallin galgá láhttet
Comment[si]=ඔබට මෙහිදී Konqueror ගොනු කළමනාකරුවෙකු ලෙස හැසිරෙන ආකාර සැකසිය හැක
Comment[sk]=Nastavenie správania Konquerora ako správcu súborov
Comment[sl]=Nastavitve obnašanja Konquerorja kot upravljalnika datotek
Comment[sr]=Овде подешавате понашање К‑освајача као менаџера фајлова
Comment[sr@ijekavian]=Овдје подешавате понашање К‑освајача као менаџера фајлова
Comment[sr@ijekavianlatin]=Ovdje podešavate ponašanje K‑osvajača kao menadžera fajlova
Comment[sr@latin]=Ovde podešavate ponašanje K‑osvajača kao menadžera fajlova
Comment[sv]=Anpassa hur Konqueror beter sig som filhanterare
Comment[ta]=கான்கொரர் கோப்பு மேலாளராக எப்படி இயங்குகிறது என்பதை இங்கே வடிவமைக்க முடியும்.
Comment[te]=ఇక్కడ దస్త్రనిర్వాహికలా Konqueror ఎలా ప్రవర్తించాలో మీరు ఆకృతీకరించవచ్చు
Comment[tg]=Шумо метавонед барномаи Konqueror-ро ҳамчун мудири файлҳо танзим кунед
Comment[th]=คุณสามารถปรับแต่งพฤติกรรมของ Konqueror ในการเป็นเครื่องมือจัดการแฟ้มได้ที่นี่
Comment[tr]=Konqueror uygulamasının dosya yöneticisi olarak nasıl davranacağını buradan yapılandırabilirsiniz
Comment[ug]=سىز بۇ جايدا Konqueror نىڭ ھۆججەت باشقۇرغۇچ ھەرىكىتىنى سەپلىيەلەيسىز
Comment[uk]=Тут можна налаштувати поведінку Konqueror, як інструмента керування файлами
Comment[uz]=Konqueror fayl boshqaruvchisi sifatida xususiyatini moslash
Comment[uz@cyrillic]=Konqueror файл бошқарувчиси сифатида хусусиятини мослаш
Comment[vi]=Bạn có thể cấu hình cách Konqueror hoạt động như một trình quản lý tập tin ở đây
Comment[wa]=Chal vos ploz apontyî li dujhance di Konqueror cwand i fwait do manaedjeu di fitchîs
Comment[xh]=Ungaqwalasela ukuziphatha kwe Konqueror njengomphathi wefayile apha
Comment[x-test]=xxYou can configure how Konqueror behaves as a file manager herexx
Comment[zh_CN]=您可以在这里配置 Konqueror 的文件管理器行为
Comment[zh_TW]=您可以在這裡設定 Konqueror 做為檔案管理程式的行為

X-KDE-Keywords=konqueror,filemanager,kfm,tips,file tips,separate window,spawn windows,behavior,behaviour,memory usage,Home URL,network operations,progress dialog,trash can,delete,confirmation
X-KDE-Keywords[bg]=файлове,подсказки,прозорци,поведение,памет,използване на памет,кошче, изтриване,потвърждение,konqueror,filemanager,kfm,tips,file tips,separate window,spawn windows,behavior,behaviour,memory usage,Home URL,network operations,progress dialog,trash can,delete,confirmation
X-KDE-Keywords[bs]=konqueror,filemanager,kfm,tips,file tips,separate window,spawn windows,behavior,behaviour,memory usage,Home URL,network operations,progress dialog,trash can,delete,confirmation
X-KDE-Keywords[ca]=konqueror,gestor de fitxers,kfm,consells,consells de fitxers,finestres separades,finestres engendrades,comportament,ús de memòria,URL inicial,operacions de xarxa,diàleg de progrés,paperera,esborrat,confirmació
X-KDE-Keywords[ca@valencia]=konqueror,gestor de fitxers,kfm,consells,consells de fitxers,finestres separades,finestres engendrades,comportament,ús de memòria,URL inicial,operacions de xarxa,diàleg de progrés,paperera,esborrat,confirmació
X-KDE-Keywords[da]=konqueror,filhåndtering,kfm,tips,filtips,separat vindue,affød vinduer,opførsel,hukommelsesforbrug,startside,netværksoperationer,fremgangsdialog,affald kan,slette,bekræftelse
X-KDE-Keywords[de]=Konqueror,Dateimanager,kfm,Tipps,Fenster,Verhalten,Persönlicher Ordner,Speicherverwendung,URL,Adressen,Netzwerkoperationen,Fortschrittsanzeige,Papierkorb,Papierkorb,Löschen,Bestätigung
X-KDE-Keywords[el]=konqueror,filemanager,kfm,συμβουλές,συμβουλές αρχείων,ξεχωριστό παράθυρο,παραγόμενα παράθυρα,συμπεριφορά,συμπεριφορά,χρήση μνήμης,αρχική σελίδα,δικτυακές λειτουργίες,διάλογος προόδου,δοχείο απορριμμάτων,διαγραφή,επιβεβαίωση
X-KDE-Keywords[es]=konqueror,gestor de archivos,kfm,consejos,consejos sobre archivos,separar ventanas,iniciar ventanas,comportamiento,uso de memoria,URL de inicio,operaciones de red,diálogo de progreso,papelera,borrar,confirmación
X-KDE-Keywords[et]=konqueror,failihaldur,kfm,vihjed,soovitused,eraldi aken,aknad,käitumine,mälukasutus,Kodu,URL,võrguoperatsioonid,edenemine,dialoog,prügikast,kustutamine,kinnitus
X-KDE-Keywords[fi]=konqueror,tiedostonhallinta,kfm,vinkit,tiedostovinkit,omat ikkunat,erilliset ikkunat,toiminta,muistinkäyttö,kotiosoite,verkkotoiminnot,edistymisikkuna,roskakori,poista,varmistus,varmista
X-KDE-Keywords[fr]=konqueror, gestionnaire de fichiers, kfm, astuces, conseils de fichier, fenêtre séparée, séparer les fenêtres, comportement, comportement, utilisation de la mémoire, adresse d'accueil, opérations réseau, boîte de dialogue de progression, corbeille, effacer, confirmation
X-KDE-Keywords[ga]=konqueror,bainisteoir comhad,kfm,leideanna,leideanna comhaid,fuinneog ar leith,sceith fuinneoga,oibriú,úsáid chuimhne,URL Baile,oibríochtaí líonra,dialóg dul chun cinn,bruscar,scrios,deimhniú,dearbhú
X-KDE-Keywords[gl]=konqueror,xestor de ficheiros,kfm,consello,axudiña,xanela separada,comportamento, uso da memoria,URL de inicio,operacións de rede,diálogo de progreso,lixo,borrar, confirmación
X-KDE-Keywords[hu]=konqueror,fájlkezelő,kfm,tippek,fájltippek,külön ablak,ablak létrehozása,működés,működés,memóriahasználat,kezdőlap,hálózati műveletek,folyamatablak,kuka,törlés,megerősítés
X-KDE-Keywords[ia]=konqueror,gerente de file,kfm,suggestiones,fenestra separate,fenestras generate,comportamento,comportamento,uso de memoria.URL domo,operationes de rete,dialogo de progression. corbe,dele,confirmation
X-KDE-Keywords[it]=konqueror,gestore dei file,kfm,suggerimenti,suggerimenti dei file,finestra separata,apri finestre,comportamento,uso della memoria,indirizzo home,operazioni di rete,finestra di dialogo avanzamento,cestino,annulla,conferma
X-KDE-Keywords[kk]=konqueror,filemanager,kfm,tips,file tips,separate window,spawn windows,behavior,behaviour,memory usage,Home URL,network operations,progress dialog,trash can,delete,confirmation
X-KDE-Keywords[km]=konqueror កម្មវិធី​គ្រប់គ្រង​ឯកសារ kfm ព័ត៌មាន​ជំនួយ ព័ត៌មាន​ជំនួយ​ពី​ឯកសារ ញែក​បង្អួច បង្កើត​បង្អួច ឥរិយាបថ ឥរិយាបថ ការ​ប្រើប្រាស់​អង្គ​ចងចាំ URL ដើម ប្រតិបត្តិការ​បណ្ដាញ ប្រអប់​វឌ្ឍនភាព ធុង​សំរាម លុប ការ​អះអាង
X-KDE-Keywords[ko]=konqueror,filemanager,kfm,tips,file tips,separate window,spawn windows,behavior,behaviour,memory usage,Home URL,network operations,progress dialog,trash can,delete,confirmation,파일 팁,창 분할,창,행동,메모리,메모리 사용,홈 페이지,네트워크 작업,진행,진행 대화 상자,휴지통,삭제,확인
X-KDE-Keywords[lt]=konqueror,failų tvarkyklė,kfm,patarimai,failo patarimai,atskirtas langas,daugelis langų,elgsena,veikimas,atminties naudojimas,Pradžios URL,tinklo operacijos,eigos dialogas,šiukšliadėžė,ištrinti,patvirtinimas
X-KDE-Keywords[lv]=konqueror,failu pārlūks,kfm,ieteikumi,failu ieteikumi,atsevišķs logs,izveidot logus,izturēšanās,atmiņas izmantojums,Mājas URL,tīkla operācijas,progresa dialoglogs,atkritumu tvertne,dzēst,apstiprināšana
X-KDE-Keywords[nb]=konqueror,filbehandler,kfm,tips,filtips,separat vindu,lag vinduer,oppførsel,minnebruk,hjemme-url,nettverkshandlinger,framdriftsdialog,papirkurv,slett,bekreftelse
X-KDE-Keywords[nds]=Konqueror,Dateipleger,kfm,Kortinfos,Datei-Kortinfo,nieg Finster,Ünnerfinstern,Bedregen,Spiekerbruuk,Tohuus-Adress,Nettwark-Akschonen,Vörankamendialoog,Affalltünn,Wegmaken,Wegdoon,Beglöven
X-KDE-Keywords[nl]=konqueror,bestandsbeheerder,kfm,tips,bestandstips,gescheiden venster,vensters afsplitsen,gedrag,geheugengebruik,start-url,netwerkbesturing,voortgangsdialoog,prullenbak,verwijderen,bevestiging
X-KDE-Keywords[pl]=konqueror,menadżer plików,kfm,tips,podpowiedzi plików, osobne okno,wywołane okna,zachowanie,wykorzystanie pamięci, Domowy adres URL,operacje sieciowe,okno dialogowe postępu,kosz,śmietnik,usuń,potwierdzenie
X-KDE-Keywords[pt]=konqueror,gestor de ficheiros,kfm,dicas,dicas do ficheiro,janela separada,janelas recriadas,comportamento,utilização de memória,URL inicial,operações de rede,janela de evolução,caixote do lixo,remoção,confirmação
X-KDE-Keywords[pt_BR]=konqueror,gerenciador de arquivos,kfm,dicas,dicas do arquivo,janela separada,janelas recriadas,comportamento,utilização de memória,URL inicial,operações de rede,janela de evolução,lixeira,exclusão,confirmação
X-KDE-Keywords[ro]=konqueror,manager fișiere,gestionar de fișiere,kfm,sfaturi,sfaturi fișiere,ferestre separate,creare ferestre,comportare,comportament,utilizare memorie,URL principal,operații de rețea,dialog de progres,coș de gunoi,șterge,confirmare
X-KDE-Keywords[ru]=konqueror,filemanager,kfm,tips,file tips,separate window,spawn windows,behavior,behaviour,memory usage,Home URL,network operations,progress dialog,trash can,delete,confirmation,файловый менеджер,диспетчер файлов,советы,отдельное окно,поведение,использование памяти,путь к домашней папке,сетевые операции,ход выполнения,корзина,удалить,подтверждение
X-KDE-Keywords[sk]=konqueror,správca súborov,kfm,tipy,súborové tipy,oddelené okno,spawn okná,správanie,chovanie,využitie pamäte,Domovská URL,sieťové operácie,dialóg postupu,kôš,vymazať,potvrdenie
X-KDE-Keywords[sl]=konqueror,upravljalnik datotek,kfm,namigi,namigi datotek,ločeno okno,odpri okno,obnašanje,uporaba pomnilnika,domač naslov URL,dejanja omrežja,pogovorno okno napredka,smeti,izbris,potrditev
X-KDE-Keywords[sr]=konqueror,filemanager,kfm,tips,file tips,separate window,spawn windows,behavior,behaviour,memory usage,Home URL,network operations,progress dialog,trash can,delete,confirmation,К‑освајач,менаџер фајлова,КФМ,савети,облачићи,засебни прозор,понашање,меморија,домаћи УРЛ,мрежни поступци,дијалог напретка,смеће,брисање,потврда
X-KDE-Keywords[sr@ijekavian]=konqueror,filemanager,kfm,tips,file tips,separate window,spawn windows,behavior,behaviour,memory usage,Home URL,network operations,progress dialog,trash can,delete,confirmation,К‑освајач,менаџер фајлова,КФМ,савети,облачићи,засебни прозор,понашање,меморија,домаћи УРЛ,мрежни поступци,дијалог напретка,смеће,брисање,потврда
X-KDE-Keywords[sr@ijekavianlatin]=konqueror,filemanager,kfm,tips,file tips,separate window,spawn windows,behavior,behaviour,memory usage,Home URL,network operations,progress dialog,trash can,delete,confirmation,K‑osvajač,menadžer fajlova,KFM,saveti,oblačići,zasebni prozor,ponašanje,memorija,domaći URL,mrežni postupci,dijalog napretka,smeće,brisanje,potvrda
X-KDE-Keywords[sr@latin]=konqueror,filemanager,kfm,tips,file tips,separate window,spawn windows,behavior,behaviour,memory usage,Home URL,network operations,progress dialog,trash can,delete,confirmation,K‑osvajač,menadžer fajlova,KFM,saveti,oblačići,zasebni prozor,ponašanje,memorija,domaći URL,mrežni postupci,dijalog napretka,smeće,brisanje,potvrda
X-KDE-Keywords[sv]=konqueror,filhanterare,kfm,tips,filtips,separata fönster,skapa fönster,beteende,minnesanvändning,Hemwebbadress,nätverksåtgärder,förloppsdialogruta,papperskorg,ta bort,bekräftelse
X-KDE-Keywords[tr]=konqueror,filemanager,kfm,tips,file tips,separate window,pencereler oluştur,davranış,davranış,bellek kullanımı,Başlangıç Adresi,ağ işlemleri,ilerleme iletişim kutusu,çöp kutusu,sil,doğrulama
X-KDE-Keywords[uk]=konqueror,filemanager,kfm,tips,file tips,separate window,spawn windows,behavior,behaviour,memory usage,Home URL,,network operations,progress dialog,trash can,delete,confirmationфайл,файли,керування,менеджер,підказки,вікно,вікна,контекст,поведінка,пам’ять,використання,домівка,смітник,мережа,дії,операції,поступ,вилучити,вилучення,підтвердження,погодження
X-KDE-Keywords[wa]=konqueror,manaedjeu des fitchî,kfm,bon a savu,bon a saveur,bon a sawè,finiesses metowes a pårt,dispårteyès finiesses,dispårteyès fniesses,finiesses dispårteyes,dujhance,eployaedje del memwere,URL Måjhon,batch ås mannestésoperåcions rantoele,divize di progrès,batch,disfacer,acertiner,racertiner
X-KDE-Keywords[x-test]=xxkonqueror,filemanager,kfm,tips,file tips,separate window,spawn windows,behavior,behaviour,memory usage,Home URL,network operations,progress dialog,trash can,delete,confirmationxx
X-KDE-Keywords[zh_CN]=konqueror,filemanager,kfm,tips,file tips,separate window,spawn windows,behavior,behaviour,memory usage,Home URL,network operations,progress dialog,trash can,delete,confirmation,文件管理器,提示,文件提示,独立窗口,子窗口,行为,内存使用率,主文件夹,网络操作,进度对话框,回收站,删除,确认
X-KDE-Keywords[zh_TW]=konqueror,filemanager,kfm,tips,file tips,separate window,spawn windows,behavior,behaviour,memory usage,Home URL,network operations,progress dialog,trash can,delete,confirmation
