[Desktop Entry]
Type=Service
Name=FixHostFilter
Name[af]=FixHostFilter
Name[ar]=اصلاح مرشح المضيف
Name[ast]=FixHostFilter
Name[be]=FixHostFilter
Name[be@latin]=FixHostFilter
Name[bg]=FixHostFilter
Name[bn]=FixHostFilter
Name[bn_IN]=FixHostFilter
Name[bs]=Filter za popravku domaćina
Name[ca]=FixHostFilter
Name[ca@valencia]=FixHostFilter
Name[cs]=FixHostFilter
Name[csb]=Filter FixHost
Name[da]=FixHostFilter
Name[de]=Rechnernamen-Korrektur-Filter
Name[el]=FixHostFilter
Name[en_GB]=FixHostFilter
Name[eo]=FixHostFilter
Name[es]=FixHostFilter
Name[et]=FixHostFilter
Name[eu]=FixHostFilter
Name[fa]=FixHostFilter
Name[fi]=FixHostFilter
Name[fr]=FixHostFilter
Name[fy]=FixHostFilter
Name[ga]=FixHostFilter
Name[gl]=FixHostFilter
Name[gu]=FixHostFilter
Name[he]=FixHostFilter
Name[hi]=फ़िक्स-होस्ट-फ़िल्टर
Name[hne]=फिक्स-होस्ट-फिल्टर
Name[hr]=FixHostFilter
Name[hsb]=FixHostFilter
Name[hu]=FixHostFilter
Name[ia]=FixHostFilter
Name[id]=Perbaiki Filter Host
Name[is]=LagaHostSía
Name[it]=Filtro degli host fissi
Name[ja]=FixHostFilter
Name[kk]=FixHostFilter
Name[km]=FixHostFilter
Name[kn]=ಫಿಕ್ಸ್ ಹೋಸ್ಟ್ ಫಿಲ್ಟರ್
Name[ko]=FixHostFilter
Name[ku]=FixHostFilter
Name[lt]=FixHostFilter
Name[lv]=FixHostFilter
Name[mai]=फिक्स-होस्ट-फिल्टर
Name[mk]=FixHostFilter
Name[ml]=ഫിക്സ്ഹൊസ്റ്റ് അരിപ്പകള്‍
Name[mr]=फिक्स होस्ट गाळणी
Name[nb]=FixHostFilter
Name[nds]=FastReeknerFilter
Name[ne]=होस्ट फिल्टर निश्चित गर्नुहोस्
Name[nl]=FixHostFilter
Name[nn]=FiksVertFilter
Name[or]=FixHostFilter
Name[pa]=FixHostFilter
Name[pl]=Filtr nazw komputerów
Name[pt]=Filtro de Correcção da Máquina
Name[pt_BR]=FixHostFilter
Name[ro]=FixHostFilter
Name[ru]=FixHostFilter
Name[se]=FixHostFilter
Name[si]=සැකසූ ධාරක පෙරහන
Name[sk]=FixHostFilter
Name[sl]=FixHostFilter
Name[sr]=Филтер за поправку домаћина
Name[sr@ijekavian]=Филтер за поправку домаћина
Name[sr@ijekavianlatin]=Filter za popravku domaćina
Name[sr@latin]=Filter za popravku domaćina
Name[sv]=Fast värddatorfilter
Name[ta]=FixHostFilter
Name[te]=FixHostFilter
Name[tg]=FixHostFilter
Name[th]=FixHostFilter
Name[tr]=FixHostFilter
Name[ug]=مۇقىم ماشىنا سۈزگۈچ
Name[uk]=FixHostFilter
Name[vi]=FixHostFilter
Name[wa]=FixHostFilter
Name[x-test]=xxFixHostFilterxx
Name[zh_CN]=固定主机过滤器
Name[zh_TW]=固定主機過濾
X-KDE-Library=fixhosturifilter
X-KDE-ServiceTypes=KUriFilter/Plugin
InitialPreference=1
