[Desktop Entry]
Encoding=UTF-8
Name=File Size View
Name[ar]=عرض حجم الملف
Name[bg]=Преглед на файлов размер
Name[bs]=Prikaz veličine datoteke
Name[ca]=Vista de mida de fitxers
Name[ca@valencia]=Vista de mida de fitxers
Name[cs]=Prohlížení velikosti souboru
Name[da]=Filstørrelsesvisning
Name[de]=Dateigrößen-Ansicht
Name[el]=Προβολή Μεγέθους αρχείων
Name[en_GB]=File Size View
Name[es]=Vista de tamaño de archivo
Name[et]=Failisuuruse vaade
Name[eu]=Fitxategi-tamainaren ikuspegia
Name[fi]=Tiedostokokonäkymä
Name[fr]=Afficher la taille du fichier
Name[ga]=Amharc Méid Chomhaid
Name[gl]=Vista do tamaño dos ficheiros
Name[he]=תצוגת גדלי קבצים
Name[hne]=फाइल आकार दृस्य
Name[hr]=Prikaz veličine datoteke
Name[hu]=Fájlméret-nézet
Name[ia]=Vista de dimension de file
Name[is]=Skráastærðarsýn
Name[it]=Visualizza dimensione file
Name[ja]=ファイルサイズ表示
Name[kk]=Файл өлшемінің көрінісі
Name[km]=ទិដ្ឋភាព​ទំហំ​ឯកសារ
Name[ko]=파일 크기 보기
Name[ku]=Dîtina Mezinahiya Pelê
Name[lt]=Failų dydžio vaizdas
Name[lv]=Failu izmēra skats
Name[mr]=फाईल आकार दृष्य
Name[nb]=Filstørrelsesvisning
Name[nds]=Dateigrött-Ansicht
Name[nl]=Bestandsgrootte tonen
Name[nn]=Filstorleiksvising
Name[pa]=ਫਾਇਲ ਸਾਈਜ਼ ਝਲਕ
Name[pl]=Widok rozmiaru plików
Name[pt]=Vista do Tamanho dos Ficheiros
Name[pt_BR]=Visualizar o tamanho do arquivo
Name[ro]=Vizualizează dimensiune fișier
Name[ru]=Просмотр размеров файлов
Name[sk]=Prehliadanie veľkosti súborov
Name[sl]=Prikaz velikosti datotek
Name[sr]=Приказ величине фајла
Name[sr@ijekavian]=Приказ величине фајла
Name[sr@ijekavianlatin]=Prikaz veličine fajla
Name[sr@latin]=Prikaz veličine fajla
Name[sv]=Filstorleksvy
Name[tg]=Намоиш аднозаи файл
Name[th]=ดูขนาดแฟ้ม
Name[tr]=Dosya Boyutu Görünümü
Name[ug]=ھۆججەت چوڭلۇقى كۆرۈنۈش
Name[uk]=Перегляд розміру файлів
Name[wa]=Voeyaedje del grandeu d' on fitchî
Name[x-test]=xxFile Size Viewxx
Name[zh_CN]=文件大小视图
Name[zh_TW]=檔案大小檢視
Comment=Enables a proportional view of directories and files based on file size
Comment[ar]=تمكن العرض النسبي للأدلة و الملفات  بالاعتماد على حجم الملف
Comment[bg]=Включване на пропорционален изглед на папки и файлове според размера им
Comment[bs]=Uključuje proporcionalni prikaz fascikli i datoteka na osnovu njihove veličine
Comment[ca]=Habilita una vista proporcional dels directoris i fitxers basada en la mida dels fitxers
Comment[ca@valencia]=Habilita una vista proporcional dels directoris i fitxers basada en la mida dels fitxers
Comment[cs]=Umožňuje proporcionální zobrazení adresářů podle velikosti
Comment[da]=Aktiverer proportional visning af mapper og filer baseret på filstørrelse.
Comment[de]=Zeigt Ordner und Dateien in einer Proportionalansicht basierend auf der Dateigröße an
Comment[el]=Ενεργοποιεί την μεταβλητού μεγέθους προβολή των αρχείων και καταλόγων ανάλογα με το μέγεθος αρχείου
Comment[en_GB]=Enables a proportional view of directories and files based on file size
Comment[es]=Activa una vista proporcional de directorios y archivos basada en el tamaño del archivo
Comment[et]=Lülitab sisse kataloogide ja failide proportsionaalse vaate nende failisuuruse põhjal
Comment[eu]=Fitxategi-tamainan oinarritutako direktorio eta fitxategien ikuspegi proportzionala gaitzen du
Comment[fi]=Ottaa käyttöön hakemistojen ja tiedostojen osittaisnäkymän tiedostokokoon perustuen
Comment[fr]=Active un affichage proportionnel des dossiers et des fichiers reposant sur la taille des fichiers
Comment[ga]=Cumasaigh amharc cionmhar ar chomhadlanna agus ar chomhaid, bunaithe ar a méid
Comment[gl]=Activa unha vista proporcional dos cartafoles e ficheiros baseada no tamaño
Comment[he]=אפשר תצוגה פרופורציונאלית של תיקיות וקבצים על פי גודל הקובץ.
Comment[hne]=फाइल आकार मं आधार से डिरेक्टरी अउ फाइल मन के आनुपातिक दृस्य सक्छम करथे 
Comment[hr]=Omogućuje proporcionalni prikaz direktorija i datoteka baziran na njihovoj veličini
Comment[hu]=A könyvtárak és fájlok fájlméreten alapuló arányos nézetének engedélyezése
Comment[ia]=Habilita un vista proportional de directorios e files basate sur le grandor de file
Comment[is]=Virkjar sýn á möppur og skrár í hlutfalli við skráastærð þeirra
Comment[it]=Permette una visualizzazione proporzionale delle cartelle e dei file basata sulla dimensione
Comment[ja]=ディレクトリとファイルをそのサイズに比例した大きさで表示します
Comment[kk]=Қапшықтар мен файлдарды өлшеміне сәйекесті қылып көрсету
Comment[km]=អនុញ្ញាត​ទិដ្ឋភាព​សមាមាត្រ​នៃ​ថត និង​ឯកសារ​ដែល​មាន​មូលដ្ឋាន​លើ​ទំហំ​ឯកសារ
Comment[ko]=디렉터리와 파일의 크기에 따른 보기
Comment[ku]=Birêje dîtina peldankan û pelên gorê mezinahiyê çalak dike
Comment[lt]=Įjungia proporcingą dydžiu grįstą aplankų ir rinkmenų peržiūrą
Comment[lv]=Ieslēdz proporcionālo mapju un failu skatu, balstoties uz failu izmēriem
Comment[mr]=संचयीका व फाईल्स आकारांच्या प्रमाणात बघा
Comment[nb]=Tilbyr en proporsjonal visning av mapper og filer basert på filstørrelse
Comment[nds]=Wiest Ornern un Dateien na ehr Grötten
Comment[nl]=Biedt een proportionele weergave van mappen en bestanden gebaseerd op hun grootte
Comment[nn]=Gjev ei proporsjonal vising av mapper og filer basert på filstorleiken
Comment[pa]=ਫਾਇਲ ਸਾਈਜ਼ ਦੇ ਅਧਾਰ ਮੁਤਾਬਕ ਡਾਇਰੈਕਟਰੀਆਂ ਅਤੇ ਫਾਇਲਾਂ ਨੂੰ ਵੇਖਾਉਣਾ ਯੋਗ
Comment[pl]=Włącza widok proporcjonalny katalogów i plików bazując na rozmiarze pliku
Comment[pt]=Activa uma vista proporcional das pastas e ficheiros com base nos seus tamanhos
Comment[pt_BR]=Ativa uma visualização proporcional dos arquivos e pastas baseada no tamanho dos arquivos
Comment[ro]=Permite o vedere proporțională a directoarelor și fișierelor bazat pe dimensiunea acestora
Comment[ru]=Включает отображение каталогов и файлов пропорционально их размеру
Comment[sk]=Umožňuje proporcionálne zobrazenie adresárov podla veľkosti
Comment[sl]=Omogoči sorazmeren prikaz datotek in map glede na velikost
Comment[sr]=Укључује пропорционални приказ фасцикли и фајлова на основу њихове величине
Comment[sr@ijekavian]=Укључује пропорционални приказ фасцикли и фајлова на основу њихове величине
Comment[sr@ijekavianlatin]=Uključuje proporcionalni prikaz fascikli i fajlova na osnovu njihove veličine
Comment[sr@latin]=Uključuje proporcionalni prikaz fascikli i fajlova na osnovu njihove veličine
Comment[sv]=Möjliggör proportionell visning av kataloger och filer baserat på filstorlek
Comment[tg]=Намоиши файлҳо ва феҳрастҳоро аз рӯи андозаи он фаъол мекунад
Comment[th]=เปิดใช้การแสดงขนาดของแฟ้มและไดเรกทอรีต่าง ๆ โดยอิงข้อมูลจากขนาดแฟ้ม
Comment[tr]=Dosya boyutu tabanlı olarak dizin ve dosyaların orantılı görünümünü sağlar
Comment[ug]=ھۆججەت چوڭلۇقى ئاساسىدىكى مۇندەرىجە  ۋە ھۆججەت كۆرسىتىش نىسبىتىنىڭ كۆرۈنۈشىنى قوزغىتىدۇ
Comment[uk]=Пропорційний показ тек і файлів залежно від їхнього розміру
Comment[wa]=Permet ene vuwe des fitchîs et ridants ki s' fwait sorlon l' grandeu des fitchîs
Comment[x-test]=xxEnables a proportional view of directories and files based on file sizexx
Comment[zh_CN]=启用一个基于文件大小的查看目录和文件的比例视图
Comment[zh_TW]=以檔案與目錄的大小來開啟比例檢視圖
MimeType=inode/directory;
ServiceTypes=KParts/ReadOnlyPart
X-KDE-Library=fsviewpart
Type=Service
Icon=fsview
DocPath=konq-plugins/fsview/index.html
