[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=KInfoCenterCategory
X-KDE-KInfoCenter-Category=graphical_information
Icon=folder-documents

Name=Graphical Information
Name[ar]=المعلومات الرسومية
Name[ast]=Información gráfica
Name[bg]=Данни за графичната система
Name[bs]=Podaci o grafici
Name[ca]=Informació gràfica
Name[ca@valencia]=Informació gràfica
Name[cs]=Informace o grafice
Name[da]=Grafikinformation
Name[de]=Grafische Informationen
Name[el]=Πληροφορίες γραφικών
Name[en_GB]=Graphical Information
Name[es]=Información gráfica
Name[et]=Monitoriteave
Name[eu]=Informazio grafikoa
Name[fi]=Grafiikkatiedot
Name[fr]=Informations graphiques
Name[ga]=Faisnéis Ghrafach
Name[gl]=Información gráfica
Name[he]=מידע גרפי
Name[hi]=ग्राफिक जानकारी
Name[hr]=Grafičke informacije
Name[hu]=Grafikai jellemzők
Name[ia]=Information graphic
Name[is]=Myndrænar upplýsingar
Name[it]=Informazioni grafiche
Name[ja]=グラフィック情報
Name[kk]=Графикалық мәлімет
Name[km]=ព័ត៌មាន​ប្រជាសាស្ត្រ
Name[kn]=ಚಿತ್ರಾತ್ಮಕ ಮಾಹಿತಿ
Name[ko]=그래픽 정보
Name[lt]=Grafikos informacija
Name[lv]=Grafiskā informācija
Name[mr]=ग्राफिकल माहिती
Name[nb]=Grafisk informasjon
Name[nds]=Graafsche Informatschonen
Name[nl]=Grafische informatie
Name[pa]=ਗਰਾਫਿਕਲ ਜਾਣਕਾਰੀ
Name[pl]=Informacje o grafice
Name[pt]=Informação Gráfica
Name[pt_BR]=Informações gráficas
Name[ro]=Informații despre grafică
Name[ru]=Сведения о графике
Name[sk]=Informácie o grafike
Name[sl]=Podatki o grafiki
Name[sr]=Подаци о графици
Name[sr@ijekavian]=Подаци о графици
Name[sr@ijekavianlatin]=Podaci o grafici
Name[sr@latin]=Podaci o grafici
Name[sv]=Grafisk information
Name[th]=ข้อมูลรายละเอียดแบบกราฟิก
Name[tr]=Grafiksel Bilgiler
Name[ug]=گرافىك ئۇچۇرى
Name[uk]=Графічна інформація
Name[vi]=Thông tin đồ hoạ
Name[wa]=Informåcions grafikes
Name[x-test]=xxGraphical Informationxx
Name[zh_CN]=图形信息
Name[zh_TW]=圖形資訊
