[Desktop Entry]
Type=Service
Name=Images (GIF, PNG, BMP, ...)
Name[ar]=صور (GIF, PNG, BMP, ...)
Name[ast]=Imáxenes (GIF, PNG, BMP...)
Name[bg]=Изображения (GIF, PNG, BMP, ...)
Name[bn]=ছবি (GIF, PNG, BMP, ...)
Name[bs]=Slike (GIF, PNG, BMP...)
Name[ca]=Imatges (GIF, PNG, BMP...)
Name[ca@valencia]=Imatges (GIF, PNG, BMP...)
Name[cs]=Obrázky (GIF, PNG, BMP, ...)
Name[da]=Billeder (GIF, PNG, BMP, ...)
Name[de]=Bilder (GIF, PNG, BMP ...)
Name[el]=Εικόνες (GIF, PNG, BMP, ...)
Name[en_GB]=Images (GIF, PNG, BMP, ...)
Name[eo]=Bildoj (GIF, PNG, BMP, ...)
Name[es]=Imágenes (GIF, PNG, BMP...)
Name[et]=Pildid (GIF, PNG, BMP...)
Name[eu]=Irudiak (GIF, PNG, BMP, ...)
Name[fa]=تصاویر (GIF, PNG, BMP, ...)
Name[fi]=Kuvat (GIF, PNG, BMP, ...)
Name[fr]=Images (GIF, PNG, BMP, etc.)
Name[ga]=Íomhánna (GIF, PNG, BMP, ...)
Name[gl]=Imaxes (GIF, PNG, BMP, ...)
Name[gu]=ચિત્રો (GIF, PNG, BMP, ...)
Name[he]=תמונות (GIF, PNG, BMP, ...)
Name[hi]=छवियाँ (GIF, PNG, BMP, ...)
Name[hr]=Slike (GIF, PNG, BMP, …)
Name[hu]=Képek (GIF, PNG, BMP, …)
Name[ia]=Imagines (GIF, PNG, BMP, ...)
Name[id]=Gambar (GIF, PNG, BMP, ...)
Name[is]=Myndir (GIF, PNG, BMP, ...)
Name[it]=Immagini (GIF, PNG, BMP, ...)
Name[ja]=画像 (GIF、PNG、BMP など)
Name[ka]=გამოსახულებები (GIF, PNG, BMP, ...)
Name[kk]=Кескіндер (GIF, PNG, BMP, ...)
Name[km]=រូបភាព (GIF, PNG, BMP, ...)
Name[kn]=ಚಿತ್ರಗಳು,(GIF, PNG, BMP, ...)
Name[ko]=그림 (GIF, PNG, BMP, ...)
Name[lt]=Vaizdai (GIF, PNG, BMP, ...)
Name[lv]=Attēli (GIF, PNG, BMP, ...)
Name[mai]=चित्र (GIF, PNG, BMP, ...)
Name[mr]=प्रतिमा (GIF, PNG, BMP, ...)
Name[nb]=Bilder (GIF, PNG, BMP, …)
Name[nds]=Biller (GIF, PNG, BMP, ...)
Name[nl]=Afbeeldingen (GIF, PNG, BMP, ...)
Name[nn]=Bilete (GIF, PNG, BMP osb.)
Name[pa]=ਚਿੱਤਰ (GIF, PNG, BMP, ...)
Name[pl]=Obrazy (GIF, PNG, BMP, ...)
Name[pt]=Imagens (GIF, PNG, BMP, ...)
Name[pt_BR]=Imagens (GIF, PNG, BMP, ...)
Name[ro]=Imagini (GIF, PNG, BMP, ...)
Name[ru]=Изображения (GIF, PNG, BMP, ...)
Name[si]=පින්තූර (GIF, PNG, BMP, ...)
Name[sk]=Obrázky (GIF, PNG, BMP, ...)
Name[sl]=Slike (GIF, PNG, BMP, ...)
Name[sr]=Слике (ГИФ, ПНГ, БМП...)
Name[sr@ijekavian]=Слике (ГИФ, ПНГ, БМП...)
Name[sr@ijekavianlatin]=Slike (GIF, PNG, BMP...)
Name[sr@latin]=Slike (GIF, PNG, BMP...)
Name[sv]=Bilder (GIF, PNG, BMP, ...)
Name[tg]=Тасвирҳо (GIF, PNG, BMP, ...)
Name[th]=แฟ้มภาพต่าง ๆ (GIF, PNG, BMP, ...)
Name[tr]=Resimler (GIF, PNG, BMP, ...)
Name[ug]=سۈرەتلەر (GIF, PNG, BMP, ...)
Name[uk]=Зображення (GIF, PNG, BMP…)
Name[vi]=Ảnh (GIF, PNG, BMP,... )
Name[wa]=Imådjes (GIF, PNG, BMP...)
Name[x-test]=xxImages (GIF, PNG, BMP, ...)xx
Name[zh_CN]=图像 (GIF、PNG、BMP ...)
Name[zh_TW]=影像（GIF、PNG、BMP...）
X-KDE-ServiceTypes=ThumbCreator
MimeType=image/cgm;image/fax-g3;image/gif;image/jp2;image/png;image/tiff;image/bmp;image/x-dds;image/x-ico;image/x-jng;image/x-pcx;image/x-photo-cd;image/x-portable-bitmap;image/x-portable-graymap;image/x-portable-pixmap;image/x-rgb;image/x-tga;image/x-xbitmap;image/x-xcf;image/x-xpixmap;image/x-sun-raster;image/vnd.adobe.photoshop;image/x-psd;image/x-hdr;image/x-pic;image/vnd.microsoft.icon;image/x-icon;image/x-webp;
X-KDE-Library=imagethumbnail
CacheThumbnail=true
