[Desktop Entry]
Exec=kcmshell4 interrupts
Icon=text-x-texinfo
Type=Service
X-KDE-ServiceTypes=KCModule
Categories=Qt;KDE;X-KDE-information;

X-KDE-KInfoCenter-Category=device_information
X-KDE-Library=kcm_info
X-KDE-PluginKeyword=irq
X-KDE-ParentApp=kinfocenter
X-DocPath=kinfocenter/index.html#interrupts

Name=Interrupts
Name[af]=Interrupts
Name[ar]=المقاطعات
Name[as]=Interrupts
Name[ast]=Interrupciones
Name[be]=Перапыненні
Name[be@latin]=Pierarvańni
Name[bg]=Прекъсвания
Name[bn]=ইনটরাপ্ট
Name[bn_IN]=ইন্টারাপ্ট
Name[br]=Spanoù
Name[bs]=Prekidi
Name[ca]=Interrupcions
Name[ca@valencia]=Interrupcions
Name[cs]=Přerušení
Name[csb]=Przerwania
Name[cy]=Ymyriadau
Name[da]=Interrupts
Name[de]=Interrupts
Name[el]=Διακόπτες
Name[en_GB]=Interrupts
Name[eo]=Interrompoj
Name[es]=Interrupciones
Name[et]=Katkestused
Name[eu]=Etenaldiak
Name[fa]=وقفه‌ها
Name[fi]=Keskeytykset
Name[fr]=Interruptions
Name[fy]=Underbrekkings
Name[ga]=Idirbhristeacha
Name[gl]=Interrupcións
Name[gu]=ઇન્ટર્પસ
Name[he]=פסיקות
Name[hi]=इंटरप्ट्स
Name[hne]=इंटरप्ट्स
Name[hr]=Prekidi
Name[hsb]=Interrupty
Name[hu]=Megszakítások
Name[ia]=Interrupts
Name[id]=Interupsi
Name[is]=Ígrip
Name[it]=Interrupt
Name[ja]=割り込み
Name[ka]=წყვიტავს
Name[kk]=Үзілімдер
Name[km]=ផ្អាក​
Name[kn]=ಅಂತರಾಯಗಳು (ಇಂಟರಪ್ಟ್)
Name[ko]=인터럽트
Name[ku]=Qutkirin
Name[lt]=Pertrauktys
Name[lv]=Pārtraukumi
Name[mai]=इंटरप्ट्स
Name[mk]=Прекини
Name[ml]=ഇന്ററപ്റ്റുകള്‍
Name[mr]=इंटरप्ट्स
Name[ms]=Sampukan
Name[nb]=Avbruddslinjer
Name[nds]=Interrupts
Name[ne]=रोकावट
Name[nl]=Interrupts
Name[nn]=Avbrot
Name[or]=ବ୍ୟାହାତ
Name[pa]=ਇੰਟਰਰੱਪਟ
Name[pl]=Przerwania
Name[pt]=Interrupções
Name[pt_BR]=Interrupções
Name[ro]=Întreruperi
Name[ru]=Прерывания
Name[se]=Gaskkaldumit
Name[si]=අතුරුබිඳුම්
Name[sk]=Prerušenia
Name[sl]=Prekinitve
Name[sr]=Прекиди
Name[sr@ijekavian]=Прекиди
Name[sr@ijekavianlatin]=Prekidi
Name[sr@latin]=Prekidi
Name[sv]=Avbrott
Name[ta]=குறுக்கீடுகள்
Name[te]=ఇంటెరప్టులు
Name[tg]=Interrupts
Name[th]=อินเทอร์รัพต์
Name[tr]=Kesmeler
Name[ug]=ئۈزۈلۈشلەر
Name[uk]=Переривання
Name[uz]=Toʻxtalishlar
Name[uz@cyrillic]=Тўхталишлар
Name[vi]=Gián đoạn
Name[wa]=Boutoes
Name[xh]=Iziphazamiso
Name[x-test]=xxInterruptsxx
Name[zh_CN]=中断
Name[zh_TW]=中斷

Comment=Interrupt information
Comment[af]=Interrupt informasie
Comment[ar]=معلومات المقاطعات
Comment[as]=Interrupt তথ্য
Comment[ast]=Información sobre les interrupciones
Comment[be]=Звесткі пра перапыненні
Comment[be@latin]=Źviestki ab pierarvańniach
Comment[bg]=Данни за прекъсванията в системата
Comment[bn]=ইনটরাপ্ট তথ্য
Comment[bn_IN]=ইন্টারাপ্ট সংক্রান্ত তথ্য
Comment[br]=Titouroù diwar-benn ar spanoù
Comment[bs]=Podaci o prekidima
Comment[ca]=Informació de les interrupcions
Comment[ca@valencia]=Informació de les interrupcions
Comment[cs]=Informace o přerušeních
Comment[csb]=Wëdowiédzô ò przerwaniach
Comment[cy]=Gwybodaeth Ymyriadau
Comment[da]=Interrupt-information
Comment[de]=Informationen zu Interrupts
Comment[el]=Πληροφορίες για τους διακόπτες
Comment[en_GB]=Interrupt information
Comment[eo]=Informo pri interrompoj
Comment[es]=Información sobre las interrupciones
Comment[et]=Katkestuste info
Comment[eu]=Etenaldiei buruzko informazioa
Comment[fa]=اطلاعات وقفه
Comment[fi]=Keskeytystietoja
Comment[fr]=Informations sur les interruptions
Comment[fy]=Underbrekking ynformaasje
Comment[ga]=Eolas faoi idirbhristeacha
Comment[gl]=Información das interrupcións
Comment[gu]=ઇન્ટર્પ માહિતી
Comment[he]=מידע על פסיקות
Comment[hi]=इंटरप्ट जानकारी
Comment[hne]=इंटरप्ट जानकारी
Comment[hr]=Podaci o prekidima
Comment[hsb]=Informacija wo interruptach
Comment[hu]=A megszakítások jellemzői
Comment[ia]=Information de Interrupt
Comment[id]=Informasi Interupsi
Comment[is]=Upplýsingar um ígrip (IRQ)
Comment[it]=Informazioni sugli interrupt
Comment[ja]=割り込みの情報
Comment[ka]=ინფორმაცია შეწყვეტყის შესახებ
Comment[kk]=Үзілім мәліметі
Comment[km]=ព័ត៌មាន​ផ្អាក​
Comment[kn]=ಅಂತರಾಯಗಳ (ಇಂಟರಪ್ಟ್) ಮಾಹಿತಿ
Comment[ko]=인터럽트 정보
Comment[ku]=Agahiyên Qutkirinê
Comment[lt]=Pertraukčių informacija
Comment[lv]=Pārtraukumu informācija
Comment[mai]=इंटरप्ट सूचना
Comment[mk]=Информации за прекините
Comment[ml]=ഇന്ററപ്റ്റുകളെക്കുറിച്ചുള്ള വിവരങ്ങള്‍
Comment[mr]=इंटरप्ट माहिती
Comment[ms]=Maklumat Sampukan
Comment[nb]=Avbruddslinjeinformasjon
Comment[nds]=Interruptinformatschoon
Comment[ne]=रोकावट सूचना
Comment[nl]=Interrupt-informatie
Comment[nn]=Avbrotsinformasjon
Comment[or]=ବ୍ୟାହାତ ସୂଚନା
Comment[pa]=ਇੰਟਰਰੱਪਟ ਜਾਣਕਾਰੀ
Comment[pl]=Informacje o przerwaniach
Comment[pt]=Informação das interrupções
Comment[pt_BR]=Informações sobre as interrupções
Comment[ro]=Informații despre întreruperi
Comment[ru]=Сведения о прерываниях
Comment[se]=Dieđut gaskkaldumiid birra
Comment[si]=අතුරුබිඳුම් තොරතුරු
Comment[sk]=Informácie o prerušeniach
Comment[sl]=Podatki o prekinitvah
Comment[sr]=Подаци о прекидима
Comment[sr@ijekavian]=Подаци о прекидима
Comment[sr@ijekavianlatin]=Podaci o prekidima
Comment[sr@latin]=Podaci o prekidima
Comment[sv]=Avbrottsinformation
Comment[ta]=குறுக்கீட்டுத தகவல்
Comment[te]=ఇంటెరప్ట్ సమాచారం
Comment[tg]=Иттилооти оиди қатъкунии система
Comment[th]=ข้อมูลอินเทอร์รัพต์
Comment[tr]=Kesmeler hakkında bilgi
Comment[ug]=ئۈزۈلۈش ئۇچۇرى
Comment[uk]=Інформація щодо переривань
Comment[uz]=Toʻxtalish haqida maʼlumot
Comment[uz@cyrillic]=Тўхталиш ҳақида маълумот
Comment[vi]=Thông tin về các gián đoạn
Comment[wa]=Informåcions so les djocaedjes
Comment[xh]=Phazamisa ulwazi
Comment[x-test]=xxInterrupt informationxx
Comment[zh_CN]=中断信息
Comment[zh_TW]=中斷資訊

X-KDE-Keywords=Interrupts,IRQ,System Information
X-KDE-Keywords[ar]=مقاطعات,IRQ,معلومات,نظام
X-KDE-Keywords[bs]=Prekidi, IRQ, Sistemske informacije
X-KDE-Keywords[ca]=Interrupcions,IRQ,Informació del sistema
X-KDE-Keywords[ca@valencia]=Interrupcions,IRQ,Informació del sistema
X-KDE-Keywords[cs]=Přerušení,IRQ,Systémové informace
X-KDE-Keywords[da]=Interrupts,IRQ,Systeminformation
X-KDE-Keywords[de]=Interrupts,IRQ,Systeminformationen
X-KDE-Keywords[el]=Διακόπτες,IRQ,Πληροφορίες συστήματος
X-KDE-Keywords[es]=Interruptores,IRQ,Información del sistema
X-KDE-Keywords[et]=Katkestused,IRQ,süsteemi teave
X-KDE-Keywords[eu]=Etendurak,IRQ,Sistemaren informazioa
X-KDE-Keywords[fi]=Keskeytykset,IRQ,Järjestelmätiedot
X-KDE-Keywords[fr]=Interruptions, IRQ, Informations système
X-KDE-Keywords[ga]=Idirbhristeacha,IRQ,Eolas faoin Chórais
X-KDE-Keywords[gl]=interrupcións,irq,información do sistema
X-KDE-Keywords[he]=Interrupts,IRQ,System Information,פסיקות,מידע
X-KDE-Keywords[hu]=Megszakítások,IRQ,Rendszerjellemzők
X-KDE-Keywords[ia]=Interrupts,IRQ,Information de systema
X-KDE-Keywords[it]=Interrupt,IRQ,Informazioni di sistema
X-KDE-Keywords[kk]=Interrupts,IRQ,System Information
X-KDE-Keywords[km]=ផ្អាក IRQ ព័ត៌មាន​ប្រព័ន្ធ
X-KDE-Keywords[ko]=Interrupts,IRQ,System Information,인터럽트,시스템 정보
X-KDE-Keywords[lt]=pertraukimai,IRQ,Sistemos informacija
X-KDE-Keywords[mr]=व्यवधाने, IRQ, प्रणाली माहीती
X-KDE-Keywords[nb]=Avbruddslinjer,IRQ,systeminformasjon
X-KDE-Keywords[nds]=Interrupts,IRQ,Interruptinformatschoon
X-KDE-Keywords[nl]=Interrupts,IRQ,systeeminformatie
X-KDE-Keywords[pa]=ਇੰਟਰਰੱਪਟ,IRQ,ਸਿਸਟਮ ਜਾਣਕਾਰੀ
X-KDE-Keywords[pl]=Przerywania,IRQ,Informacje o systemie
X-KDE-Keywords[pt]=Interrupções,IRQ,Informação do sistema
X-KDE-Keywords[pt_BR]=Interrupções,IRQ,Informação do sistema
X-KDE-Keywords[ro]=întreruperi;IRQ;informații;sistem
X-KDE-Keywords[ru]=Interrupts,IRQ,System Information,прерываниях,сведения о системе
X-KDE-Keywords[sk]=Prerušenia,IRQ,Systémové informácie
X-KDE-Keywords[sl]=prekinitve,irq,sistemski podatki,podatki o sistemu
X-KDE-Keywords[sr]=Interrupts,IRQ,System Information,прекиди,ИРКу,системске информације
X-KDE-Keywords[sr@ijekavian]=Interrupts,IRQ,System Information,прекиди,ИРКу,системске информације
X-KDE-Keywords[sr@ijekavianlatin]=Interrupts,IRQ,System Information,prekidi,IRQ,sistemske informacije
X-KDE-Keywords[sr@latin]=Interrupts,IRQ,System Information,prekidi,IRQ,sistemske informacije
X-KDE-Keywords[sv]=Avbrott,IRQ,Systeminformation
X-KDE-Keywords[tr]=Kesmeler,IRQ,Sistem Bilgileri
X-KDE-Keywords[uk]=Interrupts,IRQ,System Information,переривання,система,інформація,відомості
X-KDE-Keywords[vi]=Gián đoạn,IRQ,Thông tin Hệ thống
X-KDE-Keywords[x-test]=xxInterrupts,IRQ,System Informationxx
X-KDE-Keywords[zh_CN]=Interrupts,IRQ,System Information,终端信息
X-KDE-Keywords[zh_TW]=Interrupts,IRQ,System Information

