[Desktop Entry]
Type=Service
Name=JPEG Images
Name[ar]=صور JPEG
Name[ast]=Imáxenes JPEG
Name[bg]=Изображения JPEG
Name[bn]=JPEG ছবি
Name[bs]=JPEG slike
Name[ca]=Imatges JPEG
Name[ca@valencia]=Imatges JPEG
Name[cs]=JPEG obrázky
Name[csb]=Òbrôzczi JPEG
Name[da]=JPEG-billeder
Name[de]=JPEG-Bilder
Name[el]=Εικόνες JPEG
Name[en_GB]=JPEG Images
Name[eo]=JPEG-bildoj
Name[es]=Imágenes JPEG
Name[et]=JPEG pildid
Name[eu]=JPEG irudiak
Name[fa]=تصاویر JPEG
Name[fi]=JPEG-kuvat
Name[fr]=Images JPEG
Name[fy]=JPEG-ôfbyldings
Name[ga]=Íomhánna JPEG
Name[gl]=Imaxes JPEG
Name[gu]=JPEG ચિત્રો
Name[he]=תמונות JPEG
Name[hi]=जेपीजी छवियाँ
Name[hr]=JPEG slike
Name[hu]=JPEG-képek
Name[ia]=Imagines JPEG
Name[id]=Gambar JPEG
Name[is]=JPEG myndir
Name[it]=Immagini JPEG
Name[ja]=JPEG 画像
Name[kk]=JPEG кескіндері
Name[km]=រូបភាព JPEG
Name[kn]=JPEG ಚಿತ್ರಗಳು
Name[ko]=JPEG 그림
Name[lt]=JPEG nuotraukos
Name[lv]=JPEG attēli
Name[mai]=JPEG चित्र
Name[mk]=JPEG-слики
Name[ml]=ജെപെഗ് ചിത്രങ്ങള്‍
Name[mr]=JPEG प्रतिमा
Name[nb]=JPEG-bilder
Name[nds]=JPEG-Biller
Name[nl]=JPEG-afbeeldingen
Name[nn]=JPEG-bilete
Name[pa]=JPEG ਚਿੱਤਰ
Name[pl]=Obrazy JPEG
Name[pt]=Imagens JPEG
Name[pt_BR]=Imagens JPEG
Name[ro]=Imagini JPEG
Name[ru]=Изображения JPEG
Name[si]=JPEG පින්තූර
Name[sk]=Obrázky JPEG
Name[sl]=Slike JPEG
Name[sr]=ЈПЕГ слике
Name[sr@ijekavian]=ЈПЕГ слике
Name[sr@ijekavianlatin]=JPEG slike
Name[sr@latin]=JPEG slike
Name[sv]=JPEG-bilder
Name[tg]=Тасвирҳои JPEG
Name[th]=แฟ้มภาพประเภท JPEG
Name[tr]=JPEG Resimleri
Name[ug]=JPEG سۈرەتلەر
Name[uk]=Зображення JPEG
Name[vi]=Ảnh JPEG
Name[wa]=Imådjes JPEG
Name[x-test]=xxJPEG Imagesxx
Name[zh_CN]=JPEG 图像
Name[zh_TW]=JPEG 影像
X-KDE-ServiceTypes=ThumbCreator
MimeType=image/jpeg;
X-KDE-Library=jpegthumbnail
CacheThumbnail=true
Configurable=true
ThumbnailerVersion=2
