[Desktop Entry]
Type=Service
Icon=preferences-activities
X-KDE-ServiceTypes=
X-DBUS-StartupType=Unique
X-KDE-StartupNotify=false
Exec=kactivitymanagerd

Name=Activity Manager
Name[bs]=Menadžer aktivnosti
Name[ca]=Gestor d'activitats
Name[ca@valencia]=Gestor d'activitats
Name[cs]=Správce aktivit
Name[da]=Aktivitetshåndtering
Name[de]=Aktivitätenverwaltung
Name[el]=Διαχειριστής δραστηριοτήτων
Name[es]=Gestor de actividades
Name[et]=Tegevuste haldur
Name[eu]=Jarduera kudeatzailea
Name[fi]=Aktiviteettienhallinta
Name[fr]=Gestionnaire d'activités
Name[ga]=Bainisteoir Gníomhaíochta
Name[gl]=Xestor da actividade
Name[he]=מנהל פעילויות
Name[hu]=Aktivitáskezelő
Name[ia]=Gerente de activitate
Name[is]=Virknistjóri
Name[it]=Gestore delle attività
Name[kk]=Белсенділік менеджері
Name[km]=កម្មវិធី​គ្រប់គ្រង​សកម្មភាព
Name[ko]=활동 관리자
Name[lt]=Veiklų tvarkyklė
Name[mr]=कार्यपध्दती व्यवस्थापक
Name[nb]=Aktivitetsbehandler
Name[nds]=Aktivitetenpleger
Name[nl]=Activiteitenbeheerder
Name[pa]=ਐਕਟਵਿਟੀ ਮੈਨੇਜਰ
Name[pl]=Menadżer działań
Name[pt]=Gestor de Actividades
Name[pt_BR]=Gerenciador de atividades
Name[ro]=Gestionar de activități
Name[ru]=Диспетчер комнат
Name[se]=Aktivitehtagieđahalli
Name[sk]=Správca aktivít
Name[sl]=Upravljalnik dejavnosti
Name[sr]=Менаџер активности
Name[sr@ijekavian]=Менаџер активности
Name[sr@ijekavianlatin]=Menadžer aktivnosti
Name[sr@latin]=Menadžer aktivnosti
Name[sv]=Aktivitetshanterare
Name[tr]=Etkinlik Yöneticisi
Name[ug]=پائالىيەت باشقۇرغۇچ
Name[uk]=Керування просторами дій
Name[x-test]=xxActivity Managerxx
Name[zh_CN]=活动管理器
Name[zh_TW]=活動管理員

Comment=The activity management backend
Comment[bs]=Pozadina za upravljanje aktivnostima
Comment[ca]=Dorsal de gestió d'activitats
Comment[ca@valencia]=Dorsal de gestió d'activitats
Comment[cs]=Podpůrná vrstva pro správu aktivit
Comment[da]=Motor til aktivitetshåndtering
Comment[de]=Backend der Aktivitätenverwaltung
Comment[el]=Το σύστημα υποστήριξης διαχείρισης δραστηριοτήτων
Comment[es]=El motor de la gestión de actividades
Comment[et]=Tegevuste haldamise taustaprogramm
Comment[eu]=Jarduera kudeaketa 'backend'
Comment[fi]=Aktiviteettihallintataustaohjelma
Comment[fr]=Le moteur de gestion d'activités
Comment[ga]=Inneall bainisteoireachta gníomhaíochta
Comment[gl]=A infraestrutura de xestión da actividade
Comment[he]=מנוע ניהול הפעילויות
Comment[hu]=Aktivitáskezelő modul
Comment[ia]=Le retro-administration de gestion de activitate
Comment[is]=Stýringarkerfi fyrir virkni
Comment[it]=Il motore di gestione delle attività
Comment[kk]=Белсенділікті басқару бағдарламасы
Comment[km]=កម្មវិធី​ខាងក្រោយ​ការ​គ្រប់គ្រង​សកម្មភាព
Comment[ko]=활동 관리 백엔드
Comment[lt]=Veiklos tvarkymo sąsaja
Comment[mr]=कार्यपध्दती व्यवस्थापन बॅकएन्ड
Comment[nb]=Bakgrunnsmotoren for aktivitetsbehandling
Comment[nds]=Hülpprogramm för den Aktivitetenpleger
Comment[nl]=De activiteitenbeheerder-backend
Comment[pa]=ਐਕਟਵਿਟੀ ਮੈਨਿਜਮੈਂਟ ਬੈਕਐਂਡ
Comment[pl]=Silnik zarządzania działaniami
Comment[pt]=A infra-estrutura de gestão de actividades
Comment[pt_BR]=Infraestrutura de gerenciamento de atividades
Comment[ro]=Suport pentru administrare activități
Comment[ru]=Механизм управления комнатами
Comment[se]=Aktivitehtagieđahallama duogášmohtor
Comment[sk]=Backend pre správu aktivít
Comment[sl]=Zaledje za upravljanje z dejavnostmi
Comment[sr]=Позадина за управљање активностима
Comment[sr@ijekavian]=Позадина за управљање активностима
Comment[sr@ijekavianlatin]=Pozadina za upravljanje aktivnostima
Comment[sr@latin]=Pozadina za upravljanje aktivnostima
Comment[sv]=Gränssnittet för aktivitetshanteringen
Comment[tr]=Etkinlik yönetimi arkaucu
Comment[ug]=پائالىيەت باشقۇرغۇچ ئارقا ئۇچى
Comment[uk]=Сервер керування просторами дій
Comment[x-test]=xxThe activity management backendxx
Comment[zh_CN]=活动管理器后端
Comment[zh_TW]=活動管理後端介面
