[Desktop Entry]
Encoding=UTF-8
Type=Service
Name=File to activity linking plugin
Name[bs]=Datoteka dodatka za povezivanje na aktivnost
Name[ca]=Fitxer a connector d'enllaç d'activitat
Name[ca@valencia]=Fitxer a connector d'enllaç d'activitat
Name[da]=Fil til plugin til aktivitetslinking
Name[de]=Modul für die Verknüpfung von Dateien zu Aktivitäten
Name[el]=Αρχείο σε πρόσθετο σύνδεσης δραστηριοτήτων
Name[es]=Complemento de enlace de archivo a actividad
Name[et]=Faili tegevusega linkimise plugin
Name[eu]=Fitxategia jarduerarekin lotzeko plugina
Name[fi]=Tiedostojen yhdistäminen aktiviteettiin
Name[fr]=Module externe de liaison entre fichiers et activités
Name[gl]=Complemento para ligar ficheiros con actividades
Name[he]=תוסף לקישור פעילויות אל קובץ
Name[hu]=Fájl-aktivitás összelinkelő bővítmény
Name[ia]=File pro Plugin ligante de activitate
Name[it]=Estensione di collegamento tra file e attività
Name[kk]=Белсенділікті файлмен байланыстыру плагині
Name[km]=ឯកសារ​ទៅ​កម្មវិធី​ជំនួយ​​កំណត់​ជួរ​សកម្មភាព
Name[ko]=활동 연결 플러그인 파일
Name[lt]=Failo pririšimo prie veiklos priedas
Name[mr]=फाईल कार्यपध्दतीस जोडणारे  प्लगइन
Name[nb]=Programtillegg som binder fil til aktivitet
Name[nl]=Plug-in voor koppelen van bestand aan activiteit
Name[pa]=ਐਕਟਵਿਟੀ ਲਿੰਕਿੰਗ ਪਲੱਗਇਨ ਲਈ ਫਾਇਲ
Name[pl]=Plik dla wtyczki łączącej działania
Name[pt]='Plugin' de ligação de ficheiros a actividades
Name[pt_BR]=Plugin de ligação de arquivo a atividade
Name[ro]=Extensie pentru legarea fișierelor la activități
Name[ru]=Модуль связывания файлов с комнатами
Name[sk]=Súbor na plugin linkovania aktivít
Name[sl]=Vstavek za povezovanje datoteke z dejavnostjo
Name[sr]=Фајл ка прикључку повезивања активности
Name[sr@ijekavian]=Фајл ка прикључку повезивања активности
Name[sr@ijekavianlatin]=Fajl ka priključku povezivanja aktivnosti
Name[sr@latin]=Fajl ka priključku povezivanja aktivnosti
Name[sv]=Länkinsticksprogram från fil till aktivitet
Name[tr]=Etkinliğe dosya bağlama eklentisi
Name[ug]=پائالىيەت ئۇلانما قىستۇرما ھۆججىتى
Name[uk]=Додаток прив’язування файлів до просторів дій
Name[x-test]=xxFile to activity linking pluginxx
Name[zh_CN]=文件关联活动插件
Name[zh_TW]=活動連結外掛程式
Icon=preferences-activities
X-KDE-Library=kactivitymanagerd_fileitem_linking_plugin
ServiceTypes=KFileItemAction/Plugin
MimeType=all/all;application/octet-stream;inode/directory;
