[Desktop Entry]
Icon=network-workgroup
Type=Service
X-KDE-ServiceTypes=KCModule

X-KDE-ModuleType=Library
X-KDE-Library=kcm_mailtransport
X-KDE-FactoryName=kcm_mailtransport
X-KDE-HasReadOnlyMode=false
X-KDE-ParentApp=
X-KDE-ParentComponents=
X-KDE-CfgDlgHierarchy=

Name=Mail Transport
Name[be]=Паштовы транспарт
Name[bs]=Transport pošte
Name[ca]=Transport de correu
Name[ca@valencia]=Transport de correu
Name[cs]=Přenos pošty
Name[da]=Mail-transport
Name[de]=Versandart
Name[el]=Κύριος μεταφορέας
Name[en_GB]=Mail Transport
Name[es]=Transporte de correo
Name[et]=Kirja saatmise viis
Name[fi]=Postinvälitys
Name[fr]=Transport de courrier électronique
Name[ga]=Iompar Ríomhphoist
Name[gl]=Transporte de correo
Name[he]=מעביר דואר
Name[hne]=मेल ट्रांसपोर्ट
Name[hu]=Levéltovábbítás
Name[ia]=Transporto de Posta
Name[it]=Trasporto della posta
Name[ja]=メール送信手段
Name[kk]=Пошта тасымалдауы
Name[km]=ការ​ដឹកជញ្ជូន​សំបុត្រ
Name[lt]=Pašto programa
Name[lv]=Pasta transports
Name[mr]=मेल वाहतुक
Name[nb]=E-post-transport
Name[nds]=Överdreegmetood
Name[nl]=E-mailtransport
Name[nn]=E-posttransport
Name[pa]=ਮੇਲ ਟਰਾਂਸਪੋਰਟ
Name[pl]=Przekazywanie poczty
Name[pt]=Transporte de Correio
Name[pt_BR]=Transporte de e-mail
Name[ro]=Transport poștal
Name[ru]=Метод отправки
Name[se]=E-boastta fievrridanvuohki
Name[sk]=Mail Transport
Name[sl]=Prenos pošte
Name[sq]=Mail Transport
Name[sr]=Транспорт поште
Name[sr@ijekavian]=Транспорт поште
Name[sr@ijekavianlatin]=Transport pošte
Name[sr@latin]=Transport pošte
Name[sv]=E-postöverföring
Name[th]=เครื่องมือส่งจดหมาย
Name[tr]=E-posta Aktarımı
Name[ug]=خەت(ئېلخەت) ئالاقىسى
Name[uk]=Транспортування пошти
Name[wa]=Berwetaedje d' emile
Name[x-test]=xxMail Transportxx
Name[zh_CN]=邮件传送
Name[zh_TW]=Mail 傳送
