[Desktop Entry]
Icon=preferences-activities
Type=Service
ServiceTypes=KCModule

X-KDE-ModuleType=Library
X-KDE-Library=kcm_activities
X-KDE-FactoryName=kcm_activities
X-KDE-ParentApp=kcontrol
X-KDE-System-Settings-Parent-Category=workspace-behavior
X-KDE-Weight=4

Name=Activities
Name[bs]=Aktivnosti
Name[ca]=Activitats
Name[ca@valencia]=Activitats
Name[cs]=Aktivity
Name[da]=Aktiviteter
Name[de]=Aktivitäten
Name[el]=Δραστηριότητες
Name[es]=Actividades
Name[et]=Tegevused
Name[fi]=Aktiviteetit
Name[fr]=Activités
Name[ga]=Gníomhaíochtaí
Name[gl]=Actividades
Name[he]=פעילויות
Name[hu]=Aktivitások
Name[ia]=Activitates
Name[is]=Virkni
Name[it]=Attività
Name[kk]=Белсенділіктер
Name[km]=​សកម្មភាព
Name[ko]=활동
Name[lt]=Veiklos
Name[mr]=कार्यपध्दती
Name[nb]=Aktiviteter
Name[nl]=Activiteiten
Name[pa]=ਐਕਟਵਿਟੀ
Name[pl]=Działania
Name[pt]=Actividades
Name[pt_BR]=Atividades
Name[ro]=Activități
Name[ru]=Комнаты
Name[sk]=Aktivity
Name[sl]=Dejavnosti
Name[sr]=Активности
Name[sr@ijekavian]=Активности
Name[sr@ijekavianlatin]=Aktivnosti
Name[sr@latin]=Aktivnosti
Name[sv]=Aktiviteter
Name[tr]=Etkinlikler
Name[ug]=پائالىيەتلەر
Name[uk]=Простори дій
Name[x-test]=xxActivitiesxx
Name[zh_CN]=活动
Name[zh_TW]=活動
Comment=Configure the activities system
Comment[bs]=Konfiguriši sistem aktivnosti
Comment[ca]=Configura el sistema d'activitats
Comment[ca@valencia]=Configura el sistema d'activitats
Comment[cs]=Nastavit systém aktivit
Comment[da]=Indstil aktivitetssystemet
Comment[de]=Einrichtung des Aktivitätensystems
Comment[el]=Διαμόρφωση του συστήματος δραστηριοτήτων
Comment[es]=Configurar el sistema de actividades
Comment[et]=Tegevuste süsteemi seadistamine
Comment[fi]=Aktiviteettien asetukset
Comment[fr]=Configure le système d'activités
Comment[gl]=Configura o sistema de actividades
Comment[he]=הגדר את הפעילויות במערכת
Comment[hu]=Az aktivitások rendszer beállítása
Comment[ia]=Configura le systema de activitates
Comment[it]=Configura il sistema delle attività
Comment[kk]=Белсенділік жүйесін баптау
Comment[km]=កំណត់​រចនាសម្ព័ន្ធ​ប្រព័ន្ធ​សកម្មភាព
Comment[ko]=활동 시스템 설정
Comment[lt]=Konfigūruoti veiklų sistemą
Comment[mr]=कार्यपध्दती प्रणाली संयोजीत करा
Comment[nb]=Sett opp aktivitetssystemet
Comment[nl]=Het systeem van activiteiten instellen
Comment[pa]=ਐਕਟੀਵਿਟੀ ਸਿਸਟਮ ਦੀ ਸੰਰਚਨਾ
Comment[pl]=Konfiguruj system działań
Comment[pt]=Configurar o sistema de actividades
Comment[pt_BR]=Configura o sistema de atividades
Comment[ro]=Configurează sistemul de activități
Comment[ru]=Настраивает систему комнат
Comment[sk]=Nastaviť systém aktivít
Comment[sl]=Nastavite sistem dejavnosti
Comment[sr]=Подесите систем активности
Comment[sr@ijekavian]=Подесите систем активности
Comment[sr@ijekavianlatin]=Podesite sistem aktivnosti
Comment[sr@latin]=Podesite sistem aktivnosti
Comment[sv]=Anpassa aktivitetssystemet
Comment[tr]=Etkinlikler sistemini yapılandır
Comment[ug]=پائالىيەت سىستېمىسىنى سەپلەيدۇ
Comment[uk]=Налаштування системи просторів дій
Comment[x-test]=xxConfigure the activities systemxx
Comment[zh_CN]=配置活动系统
Comment[zh_TW]=設定活動系統

