[Desktop Entry]
Type=Service
Icon=printer
Exec=kcmshell4 kcm_printer_manager

X-KDE-Library=kcm_printer_manager
X-KDE-ServiceTypes=KCModule
X-KDE-System-Settings-Parent-Category=hardware
X-KDE-System-Settings-Parent-Category-V2=hardware
X-KDE-ParentApp=kcontrol
Categories=Qt;KDE;X-KDE-settings-hardware;

Name=Printers
Name[bs]=Štampači
Name[ca]=Impressores
Name[ca@valencia]=Impressores
Name[cs]=Tiskárny
Name[da]=Printere
Name[de]=Drucker
Name[el]=Εκτυπωτές
Name[en_GB]=Printers
Name[es]=Impresoras
Name[et]=Printerid
Name[fi]=Tulostimet
Name[fr]=Imprimantes
Name[ga]=Printéirí
Name[gl]=Impresoras
Name[hu]=Nyomtatók
Name[ia]=Imprimitores
Name[it]=Stampanti
Name[kk]=Принтерлер
Name[km]=ម៉ាស៊ីន​បោះពុម្ព
Name[ko]=프린터
Name[lt]=Spausdintuvai
Name[mai]=मुद्रक
Name[mr]=छपाईयंत्रे
Name[nb]=Skrivere
Name[nds]=Druckers
Name[nl]=Printers
Name[oc]=Estampairas
Name[pa]=ਪਰਿੰਟਰ
Name[pl]=Drukarki
Name[pt]=Impressoras
Name[pt_BR]=Impressoras
Name[ro]=Imprimante
Name[ru]=Принтеры
Name[sk]=Tlačiarne
Name[sl]=Tiskalniki
Name[sr]=Штампачи
Name[sr@ijekavian]=Штампачи
Name[sr@ijekavianlatin]=Štampači
Name[sr@latin]=Štampači
Name[sv]=Skrivare
Name[tr]=Yazıcılar
Name[ug]=پرىنتېرلار
Name[uk]=Принтери
Name[x-test]=xxPrintersxx
Name[zh_CN]=打印机
Name[zh_TW]=印表機

Comment=Configure your printers
Comment[bs]=Konfigurišite štampače
Comment[ca]=Configura les impressores
Comment[ca@valencia]=Configura les impressores
Comment[cs]=Nastavte vaše tiskárny
Comment[da]=Indstil dine printere
Comment[de]=Drucker einrichten
Comment[el]=Διαμόρφωση των εκτυπωτών σας
Comment[en_GB]=Configure your printers
Comment[es]=Configure sus impresoras
Comment[et]=Printerite seadistamine
Comment[fi]=Tulostinasetukset
Comment[fr]=Configure vos imprimantes
Comment[ga]=Cumraigh printéirí
Comment[gl]=Configure as súas impresoras.
Comment[hu]=Nyomtatóbeállítás
Comment[ia]=Configura tu imprimitores
Comment[it]=Configura le stampanti
Comment[kk]=Принтерлерін баптау
Comment[km]=កំណត់​រចនា​សម្ព័ន្ធ​ម៉ាស៊ីន​បោះ​ពុម្ព​របស់​អ្នក
Comment[ko]=프린터 설정
Comment[lt]=Konfigūruoti Jūsų spausdintuvus
Comment[mr]=तुमची छपाईयंत्रे संयोजीत करा
Comment[nb]=Sett opp skrivere
Comment[nl]=Uw printers instellen
Comment[pa]=ਆਪਣੇ ਪਰਿੰਟਰਾਂ ਦੀ ਸੰਰਚਨਾ ਕਰੋ
Comment[pl]=Konfiguruj swoje drukarki
Comment[pt]=Configurar as suas impressoras
Comment[pt_BR]=Configure suas impressoras
Comment[ro]=Configurați imprimantele
Comment[ru]=Настройка принтеров
Comment[sk]=Nastaviť vaše tlačiarne
Comment[sl]=Nastavljanje tiskalnikov
Comment[sr]=Подесите штампаче
Comment[sr@ijekavian]=Подесите штампаче
Comment[sr@ijekavianlatin]=Podesite štampače
Comment[sr@latin]=Podesite štampače
Comment[sv]=Anpassa skrivare
Comment[tr]=Yazıcılarınızı yapılandırın
Comment[uk]=Налаштування ваших принтерів
Comment[x-test]=xxConfigure your printersxx
Comment[zh_CN]=配置打印机
Comment[zh_TW]=設定您的印表機
