[Desktop Entry]
Icon=infrared-remote
Exec=kcmshell4 kcm_remotecontrol

Type=Service
X-KDE-ServiceTypes=KCModule
X-KDE-Library=kcm_remotecontrol
X-KDE-FactoryName=kcm_remotecontrol
X-KDE-ParentApp=kcontrol
X-KDE-System-Settings-Parent-Category=input-devices
X-DocPath=kcontrol/kremotecontrol/index.html
Categories=Qt;KDE;X-KDE-settings-system;

X-KDE-Keywords=KCMRemoteControl,remote control
X-KDE-Keywords[bs]=KCMRemoteControl,remote control;daljinsko upravljanje
X-KDE-Keywords[ca]=KCMRemoteControl,comandament a distància
X-KDE-Keywords[ca@valencia]=KCMRemoteControl,comandament a distància
X-KDE-Keywords[cs]=KRemoteControl,dálkové ovládání
X-KDE-Keywords[da]=KCMRemoteControl,fjernbetjening
X-KDE-Keywords[de]=KCMRemoteControl,Fernbedienung
X-KDE-Keywords[el]=KCMRemoteControl, τηλεχειριστήριο
X-KDE-Keywords[es]=KCMRemoteControl,mando a distancia
X-KDE-Keywords[et]=KCMRemoteControl,kaugjuhtimine
X-KDE-Keywords[fi]=KCMRemoteControl,kauko-ohjain,kaukosäädin
X-KDE-Keywords[fr]=KCMRemoteControl, contrôle distant
X-KDE-Keywords[ga]=KCMRemoteControl,cianrialtán
X-KDE-Keywords[gl]=KCMRemoteControl,remote control,control remoto
X-KDE-Keywords[hu]=KCMRemoteControl,távirányító
X-KDE-Keywords[ia]=KCMRemoteControl,controlo remote
X-KDE-Keywords[it]=KCMRemoteControl,telecomando
X-KDE-Keywords[kk]=KCMRemoteControl,remote control
X-KDE-Keywords[km]=KCMRemoteControl វត្ថុបញ្ជា​ពី​ចម្ងាយ
X-KDE-Keywords[ko]=KCMRemoteControl,remote control,리모콘,원격 조정
X-KDE-Keywords[lt]=KCMRemoteControl,remote control,nuotolinis valdymas
X-KDE-Keywords[mr]=केसीएम-रीमोट-कंट्रोल,रीमोट कंट्रोल
X-KDE-Keywords[nb]=KRemoteControl,fjernstyring
X-KDE-Keywords[nds]=KCM-Feernbedenen,Feernbedenen
X-KDE-Keywords[nl]=KCMRemoteControl,besturing op afstand
X-KDE-Keywords[pl]=KCMRemoteControl,pilot,sterowanie zdalne
X-KDE-Keywords[pt]=KCMRemoteControl,comando à distância
X-KDE-Keywords[pt_BR]=KCMRemoteControl,controle remoto
X-KDE-Keywords[ro]=KCMRemoteControl,remote control,telecomandă
X-KDE-Keywords[ru]=KCMRemoteControl;удалённое управление;удаленное управление;дистанционное управление;пульты
X-KDE-Keywords[sk]=KCMRemoteControl,diaľkové ovládanie
X-KDE-Keywords[sl]=KCMRemoteControl,daljinec,daljinski upravljalnik
X-KDE-Keywords[sr]=KCMRemoteControl,remote control,даљински управљач
X-KDE-Keywords[sr@ijekavian]=KCMRemoteControl,remote control,даљински управљач
X-KDE-Keywords[sr@ijekavianlatin]=KCMRemoteControl,remote control,daljinski upravljač
X-KDE-Keywords[sr@latin]=KCMRemoteControl,remote control,daljinski upravljač
X-KDE-Keywords[sv]=KCMRemoteControl,fjärrkontroll
X-KDE-Keywords[tr]=KCMRemoteControl,uzaktan denetim
X-KDE-Keywords[uk]=KCMRemoteControl,віддалене керування,пульт,керування
X-KDE-Keywords[x-test]=xxKCMRemoteControl,remote controlxx
X-KDE-Keywords[zh_CN]=KCMRemoteControl,remote control,远程控制
X-KDE-Keywords[zh_TW]=KCMRemoteControl,remote control


Name=Remote Controls
Name[ar]=التحكّم عن بعد
Name[ast]=Mandos a distancia
Name[bs]=Daljinski upravljači
Name[ca]=Comandaments a distància
Name[ca@valencia]=Comandaments a distància
Name[cs]=Dálková ovládání
Name[cy]=Rheolyddion Pell
Name[da]=Fjernbetjeninger
Name[de]=Fernbedienungen
Name[el]=Τηλεχειριστήρια
Name[en_GB]=Remote Controls
Name[eo]=Teleregiloj
Name[es]=Mandos a distancia
Name[et]=Kaugjuhtimine
Name[eu]=Urruneko Aginteak
Name[fa]=کنترلهای از راه دور
Name[fi]=Kauko-ohjaimet
Name[fr]=Contrôles à distance
Name[ga]=Cianrialtáin
Name[gl]=Controis remotos
Name[he]=שליטה מרחוק
Name[hr]=Udaljene kontrole
Name[hu]=Távirányítók
Name[ia]=Controlos remote
Name[id]=Radio Kontrol
Name[is]=Fjarstýringar
Name[it]=Telecomandi
Name[kk]=Қашықтан басқару
Name[km]=វត្ថុ​បញ្ជា​ពីចម្ងាយ
Name[ko]=원격 제어
Name[lt]=Nuotolinis valdymas
Name[lv]=Attālinātā vadība
Name[mk]=Далечински управувачи
Name[mr]=रीमोट कंट्रोल
Name[nb]=Fjernstyring
Name[nds]=Feernbedeners
Name[ne]=टाढाको नियन्त्रण
Name[nl]=Afstandsbediening
Name[nn]=Fjernkontrollar
Name[pa]=ਰਿਮੋਟ ਕੰਟਰੋਲ
Name[pl]=Piloty
Name[pt]=Comandos à Distância
Name[pt_BR]=Controles remotos
Name[ro]=Telecomenzi
Name[ru]=Удалённое управление
Name[sk]=Diaľkové ovládače
Name[sl]=Daljinski upravljalniki
Name[sq]=Kontrollet Nga Larg
Name[sr]=Даљински управљачи
Name[sr@ijekavian]=Даљински управљачи
Name[sr@ijekavianlatin]=Daljinski upravljači
Name[sr@latin]=Daljinski upravljači
Name[sv]=Fjärrkontroller
Name[ta]=  தொலைதூர கட்டுப்பாடுகள்
Name[tg]=Идоракунии Дурдаст
Name[th]=ตัวควบคุมระยะไกล
Name[tr]=Uzaktan Kumanda
Name[ug]=يىراقتىن تىزگىنلەش
Name[uk]=Дистанційне керування
Name[vi]=Các Điều Khiển Từ Xa
Name[wa]=Controles då lon
Name[x-test]=xxRemote Controlsxx
Name[zh_CN]=远程控制
Name[zh_TW]=遙控鍵

Comment=Configure your remote controls for use with applications
Comment[ar]=إعداد التحكّم عن بعد لاستخدامه في التطبيقات
Comment[ast]=Configurar los sos mandos a distancia pa usar coles aplicaciones
Comment[bs]=Podešavanje daljinskih upravljača za upotrebu u programima
Comment[ca]=Configureu el comandament a distància per usar-lo amb aplicacions
Comment[ca@valencia]=Configureu el comandament a distància per usar-lo amb aplicacions
Comment[cs]=Nastavení dálkových ovladačů
Comment[cy]=Ffurfweddu eich rheolyddion pell ar gyfer ddefnydd efo cymhwysiadau
Comment[da]=Indstil dine fjernbetjeninger til brug i programmer
Comment[de]=Einrichtung diverser Anwendungen zur Benutzung mit einer Fernbedienung
Comment[el]=Διαμόρφωση των απομακρυσμένων στοιχείων ελέγχου που θα χρησιμοποιούνται με εφαρμογές
Comment[en_GB]=Configure your remote controls for use with applications
Comment[es]=Configurar sus mandos a distancia para usar con las aplicaciones
Comment[et]=Kaugjuhtimise seadistamine rakenduste jaoks
Comment[eu]=Konfiguratu zure urruneko kontrolak aplikazioekin erabiltzeko
Comment[fa]=برای استفاده با کاربردها، کنترلهای از راه دورتان را پیکربندی کنید
Comment[fi]=Kauko-ohjainten toiminta-asetukset
Comment[fr]=Configurer vos contrôles à distance pour utilisation dans les applications
Comment[ga]=Cumraigh do chuid cianrialtán chun iad a úsáid le feidhmchláir
Comment[gl]=Configura os controis remotos para seren empregados polos programas
Comment[he]=הגדרת שלט רחוק לשימוש ביישומים
Comment[hr]=Podesite vaše udaljene kontrole za upotrebu u aplikacijama
Comment[hu]=Távirányítók beállítása alkalmazásokhoz
Comment[ia]=Configura tu controlos remote de usar con applicationes
Comment[id]=Mengonfigurasi radio kontrol Anda untuk digunakan bersama aplikasi lain
Comment[is]=Her má stilla fjarstýringar ýmissa forrita
Comment[it]=Configura i tuoi telecomandi per essere usati con le applicazioni
Comment[kk]=Қашықтан басқаруды қолданбалармен қолдану үшін баптау
Comment[km]=កំណត់​រចនាសម្ព័ន្ធ​​វត្ថុ​បញ្ជា​ពី​ចម្ងាយ​សម្រាប់​ប្រើជា​មួយ​កម្មវិធី
Comment[ko]=프로그램에서 리모콘을 사용합니다
Comment[lt]=Nuotolinio valdymo programomis konfigūravimas
Comment[lv]=Konfigurēt programmu attālināto vadību
Comment[mk]=Конфигурирајте ги вашите далечински управувачи за користење со апликации
Comment[mr]=अनुप्रयोगात वापरण्याकरिता तुमचे रीमोट कंट्रोल संयोजीत करा
Comment[nb]=Sett opp fjernstyringene for bruk med programmer
Comment[nds]=Feernbedeners för den Bruuk mit Programmen instellen
Comment[ne]=अनुप्रयोगसँग प्रयोग गर्न तपाईंको टाढाको नियन्त्रण कन्फिगर गर्नुहोस्
Comment[nl]=Uw afstandsbedieningen instellen voor gebruik in KDE
Comment[nn]=Set opp bruken av fjernkontroll i ulike program
Comment[pl]=Konfiguracja pilotów do współpracy z programem
Comment[pt]=Configure os seus comandos à distância para os usar nas aplicações
Comment[pt_BR]=Configura seus controles remotos para usá-los nos aplicativos
Comment[ro]=Configurează telecomenzile de utilizat cu aplicații
Comment[ru]=Настройка удалённого управления приложениями
Comment[sk]=Nastavenie diaľkových ovládačov pre použitie s aplikáciami
Comment[sl]=Nastavite vaš daljinski upravljalnik za uporabo v programih
Comment[sq]=Konfiguroni kontrollet tuaja nga larg për t'i përdorur me programet
Comment[sr]=Подешавање даљинских управљача за употребу у програмима
Comment[sr@ijekavian]=Подешавање даљинских управљача за употребу у програмима
Comment[sr@ijekavianlatin]=Podešavanje daljinskih upravljača za upotrebu u programima
Comment[sr@latin]=Podešavanje daljinskih upravljača za upotrebu u programima
Comment[sv]=Anpassa fjärrkontroller för att använda med program
Comment[ta]=பயன்பாடுகளுடன் பயன்படுத்த தொலைதூர கட்டுப்பாடுகளை வடிவமை
Comment[tg]=Ба воситаи замимаҳо танзимкунии идоракунии дурдасти шумо
Comment[th]=ปรับแต่งตัวควบคุมระยะไกลของคุณสำหรับใช้งานกับโปรแกรมต่าง ๆ
Comment[tr]=Uygulamalarla kullanmak istediğiniz uzaktan kumandaları yapılandırın.
Comment[uk]=Налаштування елементів дистанційного керування для використання з програмами
Comment[vi]=Cấu hình điều khiển từ xa để dùng với các ứng dụng 
Comment[x-test]=xxConfigure your remote controls for use with applicationsxx
Comment[zh_CN]=配置您的远程遥控使之与应用程序协作
Comment[zh_TW]=設定您要啟動應用程式的遙控鍵
