[Desktop Entry]
Exec=kcmshell4 kcm_kdnssd
Icon=preferences-system-network-discovery
Name=Service Discovery
Name[af]=Dienste ontdekker
Name[ar]=استكشاف الخدمات
Name[ast]=Guetador de servicios
Name[be]=Пошук сервісаў
Name[be@latin]=Pošuk słužbaŭ
Name[bg]=Откриване на услуги
Name[bn]=সার্ভিস উদ্ঘাটন
Name[bn_IN]=পরিসেবার ডিরেক্টরি
Name[bs]=Otkrivanje servisa
Name[ca]=Descobriment de serveis
Name[ca@valencia]=Descobriment de serveis
Name[cs]=Hledání služeb
Name[csb]=Wëkrëwanié ùsłëżnotów
Name[da]=Opdagelse af tjenester
Name[de]=Diensteerkennung
Name[el]=Εύρεση υπηρεσιών
Name[en_GB]=Service Discovery
Name[eo]=Malkovrado de servo
Name[es]=Buscador de servicios
Name[et]=Teenuste tuvastamine
Name[eu]=Igartze zerbitzua
Name[fa]=کشف خدمت
Name[fi]=Palvelun havaitseminen
Name[fr]=Découverte de services
Name[fy]=Tsjinst warskôging
Name[ga]=Fionnachtain Seirbhísí
Name[gl]=Descubrimento de servizos
Name[gu]=સેવા શોધ
Name[he]=גילוי שירותים
Name[hi]=सेवा डिस्कवरी
Name[hne]=सेवा डिस्कवरी
Name[hr]=Usluga Discovery
Name[hsb]=Pytanje słužbow
Name[hu]=Zeroconf-beállítások
Name[ia]=Discoperta de Servicio
Name[id]=Penemuan Layanan
Name[is]=Uppgötvun þjónustu
Name[it]=Rilevamento dei servizi
Name[ja]=サービスディスカバリ
Name[ka]=სერვისის აღმოჩენა
Name[kk]=Қызметтерді байқау
Name[km]=ការ​រក​ឃើញ​សេវា
Name[kn]=ಸೇವಾ ಆವಿಷ್ಕಾರ (ಸರ್ವೀಸ್ ಡಿಸ್ಕವರಿ)
Name[ko]=서비스 발견
Name[ku]=Naskirina Servîsê
Name[lt]=Tarnybų radimas
Name[lv]=Servisu atklāšana
Name[mai]=सेवा डिस्कवरी
Name[mk]=Откривање сервиси
Name[ml]=സേവനം കണ്ടെത്തല്‍
Name[mr]=सेवा आढळली
Name[ms]=Penemuan Servis
Name[nb]=Oppdaging av tjenester
Name[nds]=Deensten finnen
Name[ne]=सेवा खोजी
Name[nl]=Dienstwaarneming
Name[nn]=Oppdaging av tenester
Name[or]=ସର୍ଭିସ ଆବିଷ୍କାର
Name[pa]=ਸਰਵਿਸ ਖੋਜ
Name[pl]=Wykrywanie usług
Name[pt]=Descoberta de Serviços
Name[pt_BR]=Descoberta de serviços
Name[ro]=Descoperire servicii
Name[ru]=Обнаружение служб
Name[se]=Bálvalusáican
Name[si]=සේවා අනාවරණය
Name[sk]=Zisťovanie služieb
Name[sl]=Odkrivanje storitev
Name[sr]=Откривање сервиса
Name[sr@ijekavian]=Откривање сервиса
Name[sr@ijekavianlatin]=Otkrivanje servisa
Name[sr@latin]=Otkrivanje servisa
Name[sv]=Tjänstupptäckt
Name[ta]=சர்வீஸ் டிஸ்கவரி
Name[te]= 
Name[tg]=Дарёфтани хизматҳо
Name[th]=การค้นหาบริการ
Name[tr]=Servis Araştırması
Name[ug]=مۇلازىمەت بايقاش
Name[uk]=Пошук служб
Name[uz]=Tarmoqdagi xizmatlarni qidirish
Name[uz@cyrillic]=Тармоқдаги хизматларни қидириш
Name[vi]=Khám phá dịch vụ
Name[wa]=Discovraedje di siervices
Name[x-test]=xxService Discoveryxx
Name[zh_CN]=服务探索
Name[zh_TW]=服務偵測

Comment=Configure service discovery
Comment[af]=Stel dienste ontdekker op
Comment[ar]=اضبط استكشاف الخدمات
Comment[ast]=Configura'l guetador de servicios
Comment[be]=Настаўленні пошуку сервісаў
Comment[be@latin]=Naładź pošuk słužbaŭ
Comment[bg]=Настройване откриването на услуги
Comment[bn]=সার্ভিস উদ্ঘাটন কনফিগার করুন
Comment[bn_IN]=পরিসেবার ডিরেক্টরি কনফিগার করুন
Comment[bs]=Podešavanje otkrivanja servisa
Comment[ca]=Configura el descobriment de serveis
Comment[ca@valencia]=Configura el descobriment de serveis
Comment[cs]=Nastavení hledání služeb
Comment[csb]=Kòfigùracëjô wëkrëwaniô ùsłëżnotów
Comment[da]=Indstil opdagelse af tjeneste
Comment[de]=Diensteerkennung einrichten
Comment[el]=Διαμόρφωση εύρεσης υπηρεσιών
Comment[en_GB]=Configure service discovery
Comment[eo]=Agordi malkovradon de servo
Comment[es]=Configura el buscador de servicios
Comment[et]=Teenuste tuvastamise seadistamine
Comment[eu]=Konfiguratu igartze zerbitzua
Comment[fa]=پیکربندی کشف خدمت
Comment[fi]=Palvelun havaitsemisen asetukset
Comment[fr]=Configuration de la découverte de services
Comment[fy]=Tsjinst waarnimming ynstellen
Comment[ga]=Cumraigh fionnachtain seirbhísí
Comment[gl]=Configurar o descubrimento de servizos
Comment[gu]=સેવા શોધ રૂપરેખાંકિત કરો
Comment[he]=שינוי הגדרות הקשורות לגילוי שירותים
Comment[hi]=सेवा डिस्कवरी कॉन्फ़िगर करें
Comment[hne]=सेवा डिस्कवरी कान्फिगर करव
Comment[hr]=Konfiguriranje usluge discovery
Comment[hsb]=Pytanje słužbow připrawić
Comment[hu]=A szolgáltatásdetektálás beállításai
Comment[ia]=Configura discoperta de servicio
Comment[id]=Atur penemuan layanan
Comment[is]=Stilla uppgötvun þjónustna
Comment[it]=Configura il rilevamento dei servizi
Comment[ja]=サービスディスカバリの設定
Comment[ka]=სერვისის არმოჩენის კონფიგურირება
Comment[kk]=Қызыметтерді байқауды баптау
Comment[km]=កំណត់​រចនាសម្ព័ន្ធ​ការ​រក​ឃើញ​សេវា
Comment[kn]=ಸೇವಾ ಆವಿಷ್ಕಾರವನ್ನು (ಸರ್ವೀಸ್ ಡಿಸ್ಕವರಿ) ಸಂರಚಿಸು
Comment[ko]=서비스 발견 설정
Comment[ku]=naskirina servîsê mîheng bike
Comment[lt]=Konfigūruoti tarnybų radimą
Comment[lv]=Konfigurē servisu atklāšanu
Comment[mai]=सेवा डिस्कवरी बिन्यस्त करू
Comment[mk]=Конфигурирајте го откривањето сервиси
Comment[ml]=സേവനം കണ്ടെത്തല്‍ ക്രമീകരണം
Comment[mr]=सेवा आढळल्यास संयोजीत करा
Comment[ms]=Konfigur penemuan servis
Comment[nb]=Tilpass tjenesteoppdagingen
Comment[nds]=Dat Finnen vun Deensten inrichten
Comment[ne]=सेवा खोजी कन्फिगर गर्नुहोस्
Comment[nl]=Dienstwaarneming instellen
Comment[nn]=Set opp oppdagingstenesta
Comment[or]=ସର୍ଭିସ ଆବିଷ୍କାର ବିନ୍ୟାସ କରନ୍ତୁ
Comment[pa]=ਸਰਵਿਸ ਖੋਜ ਸੰਰਚਨਾ
Comment[pl]=Konfiguracja wykrywania usług
Comment[pt]=Configurar a descoberta de serviços
Comment[pt_BR]=Configura a descoberta de serviços
Comment[ro]=Configurează serviciul de descoperire
Comment[ru]=Настройка обнаружения служб
Comment[se]=Heivet bálvalusáicama
Comment[si]=සේවා අනාවරණය සැකසීම
Comment[sk]=Nastavenie zisťovania služieb
Comment[sl]=Nastavi odkrivanje storitev
Comment[sr]=Подешавање откривања сервиса
Comment[sr@ijekavian]=Подешавање откривања сервиса
Comment[sr@ijekavianlatin]=Podešavanje otkrivanja servisa
Comment[sr@latin]=Podešavanje otkrivanja servisa
Comment[sv]=Anpassa tjänstupptäckt
Comment[ta]=சர்வீஸ் டிஸ்கவரியை வடிவமை
Comment[te]=సేవా డిస్కవరిని ఆకృతీకరించుము
Comment[tg]=Танзимоти дарёфтани хизматҳо
Comment[th]=ปรับแต่งการค้นหาบริการ
Comment[tr]=Servis araştırmasını yapılandır
Comment[ug]=مۇلازىمەت بايقاش سەپلىمىسى
Comment[uk]=Налаштування знаходження служб
Comment[uz]=Tarmoqdagi xizmatlarni qidirishni moslash
Comment[uz@cyrillic]=Тармоқдаги хизматларни қидиришни мослаш
Comment[vi]=Cấu hình khả năng khám phám dịch vụ
Comment[wa]=Apontyî l' discovraedje di siervices
Comment[x-test]=xxConfigure service discoveryxx
Comment[zh_CN]=配置服务探索
Comment[zh_TW]=設定服務偵測
StartupNotify=true
Terminal=false
Type=Service
X-KDE-ServiceTypes=KCModule
X-DBUS-StartupType=
X-KDE-HasReadOnlyMode=false
X-KDE-Library=kcm_kdnssd
X-KDE-ParentApp=kcontrol
X-KDE-SubstituteUID=false
X-KDE-RootOnly=true
Categories=Qt;KDE;X-KDE-settings-network;
X-KDE-System-Settings-Parent-Category=network-settings
X-KDE-Weight=70
