[Desktop Entry]
Exec=kcmshell4 kcm_akonadi_server
Icon=akonadi
Type=Service
ServiceTypes=KCModule

X-KDE-ModuleType=Library
X-KDE-Library=kcm_akonadi_server
X-KDE-FactoryName=kcm_akonadi_server
X-KDE-HasReadOnlyMode=false
X-KDE-ParentApp=
X-KDE-ParentComponents=
X-KDE-CfgDlgHierarchy=

Name=Akonadi Server Configuration
Name[ar]=ضبط خادم اكوندا
Name[bg]=Настройки на сървър Akonadi
Name[bs]=Konfiguracija Akonadi servera
Name[ca]=Configuració del servidor de l'Akonadi
Name[ca@valencia]=Configuració del servidor de l'Akonadi
Name[cs]=Nastavení serveru Akonadi
Name[da]=Konfiguration af Akonadi-server
Name[de]=Einrichtung des Akonadi-Servers
Name[el]=Διαμόρφωση εξυπηρετητή του Akonadi
Name[en_GB]=Akonadi Server Configuration
Name[es]=Configuración del servidor Akonadi
Name[et]=Akonadi serveri seadistused
Name[fi]=Akonadi-palvelimen asetukset
Name[fr]=Configuration du serveur Akonadi
Name[ga]=Cumraíocht Fhreastalaí Akonadi
Name[gl]=Configuración do Servidor Akonadi
Name[hu]=Az Akonadi szolgáltatás beállításai
Name[ia]=Configuration de servitor de Akonadi
Name[it]=Configurazione del server Akonadi
Name[ja]=Akonadi サーバの設定
Name[kk]=Akonadi серверін баптау
Name[km]=ការ​កំណត់​រចនាសម្ព័ន្ធ​ម៉ាស៊ីន​បម្រើ Akonadi
Name[ko]=Akonadi 서버 설정
Name[lt]=Akonadi serverio konfigūravimas
Name[lv]=Akonadi servera konfigurācija
Name[mr]=आकोनाडी सर्व्हर संयोजना
Name[nb]=Akonadi tjeneroppsett
Name[nds]=Akonadi-Serverinstellen
Name[nl]=Akonadi-serverconfiguratie
Name[nn]=Akonadi-tenaroppsett
Name[pa]=ਅਕੌਂਡੀ ਸਰਵਰ ਸੰਰਚਨਾ
Name[pl]=Konfiguracja serwera Akonadi
Name[pt]=Configuração do Servidor de Akonadi
Name[pt_BR]=Configuração do servidor do Akonadi
Name[ro]=Configurare server Akonadi
Name[ru]=Настройка сервера Akonadi
Name[sk]=Nastavenie servera Akonadi
Name[sl]=Nastavitve strežnika Akonadi
Name[sr]=Подешавање сервера Аконадија
Name[sr@ijekavian]=Подешавање сервера Аконадија
Name[sr@ijekavianlatin]=Podešavanje servera Akonadija
Name[sr@latin]=Podešavanje servera Akonadija
Name[sv]=Akonadi-serverinställning
Name[tr]=Akonadi Sunucu Yapılandırması
Name[uk]=Налаштування сервера Akonadi
Name[x-test]=xxAkonadi Server Configurationxx
Name[zh_CN]=Akonadi 服务器配置
Name[zh_TW]=Akonadi 伺服器設定
