[Desktop Entry]
Exec=kcmshell4 kcm_infosummary
Icon=device-notifier
Type=Service
X-KDE-ServiceTypes=KCModule

X-KDE-Weight=0
X-KDE-Library=kcm_infosummary
X-KDE-ParentApp=kinfocenter

Name=Summary
Name[ar]=ملخص
Name[ast]=Resume
Name[bg]=Обобщение
Name[bs]=Sažetak
Name[ca]=Resum
Name[ca@valencia]=Resum
Name[cs]=Shrnutí
Name[da]=Oversigt
Name[de]=Übersicht
Name[el]=Σύνοψη
Name[en_GB]=Summary
Name[eo]=Resumo
Name[es]=Resumen
Name[et]=Kokkuvõte
Name[eu]=Laburpena
Name[fa]=خلاصه
Name[fi]=Yhteenveto
Name[fr]=Résumé
Name[ga]=Achoimre
Name[gl]=Resumo
Name[gu]=સારાંશ
Name[he]=תקציר
Name[hi]=संक्षेप
Name[hr]=Sažetak
Name[hu]=Összegzés
Name[ia]=Summario
Name[id]=Kesimpulan
Name[is]=Samantekt
Name[it]=Riepilogo
Name[ja]=概要
Name[kk]=Қортынды
Name[km]=សេចក្ដី​សង្ខេប
Name[kn]=ಸಾರಾಂಶ
Name[ko]=요약
Name[lt]=Santrauka
Name[lv]=Kopsavilkums
Name[mai]=सारांश
Name[mr]=सारांश
Name[nb]=Sammendrag
Name[nds]=Översicht
Name[nl]=Samenvatting
Name[nn]=Samandrag
Name[pa]=ਸੰਖੇਪ
Name[pl]=Podsumowanie
Name[pt]=Resumo
Name[pt_BR]=Resumo
Name[ro]=Sumar
Name[ru]=Сводка
Name[se]=Čoahkkáigeassu
Name[si]=සාරාංශය
Name[sk]=Súhrn
Name[sl]=Povzetek
Name[sr]=Сажетак
Name[sr@ijekavian]=Сажетак
Name[sr@ijekavianlatin]=Sažetak
Name[sr@latin]=Sažetak
Name[sv]=Översikt
Name[th]=สรุป
Name[tr]=Özet
Name[ug]=ئۈزۈندى
Name[uk]=Резюме
Name[wa]=Racourti
Name[x-test]=xxSummaryxx
Name[zh_CN]=汇总
Name[zh_TW]=摘要

Comment=Hardware Information Summary
Comment[ar]=ملخص معلومات العتاد
Comment[ast]=Resume de la información del hardware
Comment[bg]=Обобщени данни за хардуера
Comment[bs]=Sažeti podaci o hardveru
Comment[ca]=Resum de la informació del maquinari
Comment[ca@valencia]=Resum de la informació del maquinari
Comment[cs]=Souhrn informací o hardwaru
Comment[da]=Oversigt over hardwareinformation
Comment[de]=Übersicht über Hardwareinformationen
Comment[el]=Σύνοψη πληροφοριών υλικού
Comment[en_GB]=Hardware Information Summary
Comment[es]=Resumen de la información del hardware
Comment[et]=Riistvarateabe kokkuvõte
Comment[eu]=Hardware informazio laburpena
Comment[fi]=Laitteistoyhteenveto
Comment[fr]=Résumé sur les informations du matériel
Comment[ga]=Achoimre ar na Crua-Earraí
Comment[gl]=Resumo da información do hardware
Comment[gu]=હાર્ડવેર જાણકારી સારાંશ
Comment[he]=תקציר מידע על החומרה
Comment[hi]=हार्डवेयर जानकारी संक्षेप
Comment[hr]=Sažetak informacija o hardveru
Comment[hu]=Hardverjellemzők összegzése
Comment[ia]=Summario de information de hardware
Comment[id]=Kesimpulan Informasi Peranti Keras
Comment[is]=Samantekt vélbúnaðarupplýsinga
Comment[it]=Riepilogo delle informazioni sull'hardware
Comment[ja]=ハードウェア情報概要
Comment[kk]=Жабдық мәліметінің қортындысы
Comment[km]=សេចក្ដី​សង្ខេប​អំពី​ព័ត៌មាន​ផ្នែក​រឹង
Comment[kn]=ಸಂಕ್ಷಿಪ್ತ ಯಂತ್ರಾಂಶ ಮಾಹಿತಿ
Comment[ko]=하드웨어 정보 요약
Comment[lt]=Aparatinės įrangos informacijos santrauka
Comment[lv]=Aparatūras informācijas kopsavilkums
Comment[mr]=हार्डवेअर माहीती सारांश
Comment[nb]=Sammendrag av maskinvareinformasjon
Comment[nds]=Översicht över de Reedschap-Informatschonen
Comment[nl]=Hardware-informatie samenvatting
Comment[nn]=Samandrag av maskinvareinformasjon
Comment[pa]=ਹਾਰਡਵੇਅਰ ਜਾਨਾਕਰੀ ਸੰਖੇਪ
Comment[pl]=Podsumowanie informacji o sprzęcie
Comment[pt]=Resumo de Informação do 'Hardware'
Comment[pt_BR]=Resumo das informações do hardware
Comment[ro]=Sumar informații echipament
Comment[ru]=Краткие сведения о системе
Comment[si]=දෘඩාංග තොරතුරු සාරාංශය
Comment[sk]=Súhrn informácií o hardvéri
Comment[sl]=Povzetek podatkov o strojni opremi
Comment[sr]=Сажети подаци о хардверу
Comment[sr@ijekavian]=Сажети подаци о хардверу
Comment[sr@ijekavianlatin]=Sažeti podaci o hardveru
Comment[sr@latin]=Sažeti podaci o hardveru
Comment[sv]=Översikt av hårdvaruinformation
Comment[tg]=Сахтафзор
Comment[th]=ข้อมูลสรุปของฮาร์ดแวร์
Comment[tr]=Donanım Bilgileri Özeti
Comment[ug]=قاتتىق دېتال ئۇچۇرى ئۈزۈندىسى
Comment[uk]=Резюме відомостей щодо обладнання
Comment[vi]=Tổng quan thông tin phần cứng
Comment[wa]=Racourti di l' informåcion so l' éndjolreye
Comment[x-test]=xxHardware Information Summaryxx
Comment[zh_CN]=硬件信息汇总
Comment[zh_TW]=硬體資訊摘要

X-KDE-Keywords=device,devices
X-KDE-Keywords[ar]=جهاز,أجهزة
X-KDE-Keywords[bs]=uređaj, uređaji
X-KDE-Keywords[ca]=dispositiu,dispositius
X-KDE-Keywords[ca@valencia]=dispositiu,dispositius
X-KDE-Keywords[cs]=zařízení
X-KDE-Keywords[da]=enhed,enheder
X-KDE-Keywords[de]=Gerät,Geräte
X-KDE-Keywords[el]=συσκευή,συσκευές
X-KDE-Keywords[es]=dispositivo,dispositivos
X-KDE-Keywords[et]=seade,seadmed
X-KDE-Keywords[eu]=gailu,gailuak
X-KDE-Keywords[fi]=laite,laitteet
X-KDE-Keywords[fr]=périphérique, périphériques
X-KDE-Keywords[gl]=dispositivos,dispositivos,unidade
X-KDE-Keywords[hu]=eszköz,eszközök
X-KDE-Keywords[ia]=dispositivo,dispositivos
X-KDE-Keywords[it]=dispositivo,dispositivi
X-KDE-Keywords[kk]=device,devices
X-KDE-Keywords[km]=device,devices
X-KDE-Keywords[ko]=device,devices,장치
X-KDE-Keywords[lt]=įrenginys,įrenginiai
X-KDE-Keywords[mr]=साधन, साधने
X-KDE-Keywords[nb]=enhet,enheter
X-KDE-Keywords[nds]=Reedschap,Reedschappen
X-KDE-Keywords[nl]=apparaat,apparaten
X-KDE-Keywords[pa]=ਜੰਤਰ
X-KDE-Keywords[pl]=urządzenie,urządzenia
X-KDE-Keywords[pt]=dispositivo,dispositivos
X-KDE-Keywords[pt_BR]=dispositivo,dispositivos
X-KDE-Keywords[ro]=dispozitiv,dispozitive
X-KDE-Keywords[ru]=device,devices,устройство,устройства
X-KDE-Keywords[sk]=zariadenie,zariadenia
X-KDE-Keywords[sl]=naprava,naprave,strojna oprema
X-KDE-Keywords[sr]=device,devices,уређај,уређаји
X-KDE-Keywords[sr@ijekavian]=device,devices,уређај,уређаји
X-KDE-Keywords[sr@ijekavianlatin]=device,devices,uređaj,uređaji
X-KDE-Keywords[sr@latin]=device,devices,uređaj,uređaji
X-KDE-Keywords[sv]=enhet,enheter
X-KDE-Keywords[tr]=aygıt,aygıtlar
X-KDE-Keywords[uk]=пристрій,пристрої
X-KDE-Keywords[x-test]=xxdevice,devicesxx
X-KDE-Keywords[zh_CN]=device,devices,设备
X-KDE-Keywords[zh_TW]=device,devices
X-DocPath=kinfocenter/index.html#kcm_infosummary
Categories=Qt;KDE;X-KDE-information;
