[Desktop Entry]
Exec=kcmshell4 kcm_memory
Icon=computer
Type=Service
X-KDE-ServiceTypes=KCModule

X-KDE-Weight=1
X-KDE-Library=kcm_memory
X-KDE-ParentApp=kinfocenter
X-DocPath=kinfocenter/index.html#kcm_memory

Name=Memory
Name[af]=Geheue
Name[ar]=الذاكرة
Name[as]=স্মৃতিশক্তি
Name[ast]=Memoria
Name[be]=Памяць
Name[be@latin]=Pamiać
Name[bg]=Памет
Name[bn]=মেমরি
Name[bn_IN]=মেমরি
Name[br]=Memor
Name[bs]=Memorija
Name[ca]=Memòria
Name[ca@valencia]=Memòria
Name[cs]=Paměť
Name[csb]=Pamiãc
Name[cy]=Cof
Name[da]=Hukommelse
Name[de]=Speicher
Name[el]=Μνήμη
Name[en_GB]=Memory
Name[eo]=Memoro
Name[es]=Memoria
Name[et]=Mälu
Name[eu]=Memoria
Name[fa]=حافظه
Name[fi]=Muisti
Name[fr]=Mémoire
Name[fy]=Unthâld
Name[ga]=Cuimhne
Name[gl]=Memoria
Name[gu]=મેમરી
Name[he]=זיכרון
Name[hi]=मेमोरी
Name[hne]=मेमोरी
Name[hr]=Memorija
Name[hsb]=Pomjatk
Name[hu]=Memória
Name[ia]=Memoria
Name[id]=Memori
Name[is]=Minni
Name[it]=Memoria
Name[ja]=メモリ
Name[ka]=მეხსიერება
Name[kk]=Жады
Name[km]=សតិ
Name[kn]=ಸ್ಮೃತಿ
Name[ko]=메모리
Name[ku]=Bîr
Name[lt]=Atmintis
Name[lv]=Atmiņa
Name[mai]=स्मृति
Name[mk]=Меморија
Name[ml]=മെമ്മറി
Name[mr]=स्मृती
Name[ms]=Ingatan
Name[nb]=Minne
Name[nds]=Spieker
Name[ne]=स्मृति
Name[nl]=Geheugen
Name[nn]=Minne
Name[oc]=Memòria
Name[or]=ସ୍ମୃତିସ୍ଥାନ
Name[pa]=ਮੈਮੋਰੀ
Name[pl]=Pamięć
Name[pt]=Memória
Name[pt_BR]=Memória
Name[ro]=Memorie
Name[ru]=Память
Name[se]=Muitu
Name[si]=මතකය
Name[sk]=Pamäť
Name[sl]=Pomnilnik
Name[sr]=Меморија
Name[sr@ijekavian]=Меморија
Name[sr@ijekavianlatin]=Memorija
Name[sr@latin]=Memorija
Name[sv]=Minne
Name[ta]=நினைவு
Name[te]=మెమొరి
Name[tg]=Хотира
Name[th]=หน่วยความจำ
Name[tr]=Bellek
Name[ug]=ئەسلەك
Name[uk]=Пам'ять
Name[uz]=Xotira
Name[uz@cyrillic]=Хотира
Name[vi]=Bộ nhớ
Name[wa]=Memwere
Name[xh]=Inkumbulo
Name[x-test]=xxMemoryxx
Name[zh_CN]=内存
Name[zh_TW]=記憶體

Comment=Memory information
Comment[af]=Geheue informasie
Comment[ar]=معلومات عن الذاكرة
Comment[as]=স্মৃতিশক্তিৰ তথ্য
Comment[ast]=Información sobre la memoria
Comment[be]=Звесткі пра памяць
Comment[be@latin]=Źviestki pra pamiać
Comment[bg]=Данни за системната памет
Comment[bn]=মেমরি সংক্রান্ত তথ্য
Comment[bn_IN]=মেমরি সংক্রান্ত তথ্য
Comment[br]=Titouroù diwar-benn ar memor
Comment[bs]=Podaci o memoriji
Comment[ca]=Informació de la memòria
Comment[ca@valencia]=Informació de la memòria
Comment[cs]=Informace o paměti
Comment[csb]=Wëdowiédzô ò pamiãcë
Comment[cy]=Gwybodaeth Cof
Comment[da]=Information om hukommelsen
Comment[de]=Informationen zum Speicher
Comment[el]=Πληροφορίες για τη Μνήμη
Comment[en_GB]=Memory information
Comment[eo]=Informoj pri memoro
Comment[es]=Información sobre la memoria
Comment[et]=Mäluga seotud info
Comment[eu]=Memoriari buruzko informazioa
Comment[fa]=اطلاعات حافظه
Comment[fi]=Tietoja muistista
Comment[fr]=Informations sur la mémoire
Comment[fy]=Unthâld ynformaasje
Comment[ga]=Faisnéis chuimhne
Comment[gl]=Información da memoria
Comment[gu]=મેમરી માહિતી
Comment[he]=מידע על הזיכרון
Comment[hi]=मेमोरी जानकारी
Comment[hne]=मेमोरी जानकारी
Comment[hr]=Podaci o memoriji
Comment[hsb]=Informacija wo pomjatku
Comment[hu]=A memória jellemzői
Comment[ia]=Information de memoria
Comment[id]=Informasi memori
Comment[is]=Upplýsingar um vinnsluminni
Comment[it]=Informazioni sulla memoria
Comment[ja]=メモリの情報
Comment[ka]=ინფორმაცია მეხსიერების შესახებ
Comment[kk]=Жад мәліметі
Comment[km]=ព័ត៌មាន​សតិ
Comment[kn]=ಸ್ಮೃತಿ ಮಾಹಿತಿ
Comment[ko]=메모리 정보
Comment[ku]=Agahiya Bîrê
Comment[lt]=Atminties informacija
Comment[lv]=Atmiņas informācija
Comment[mai]=मेमोरी सूचना
Comment[mk]=Информации за меморијата
Comment[ml]=മെമ്മറിയെക്കുറിച്ചുള്ള വിവരങ്ങള്‍
Comment[mr]=स्मृती माहिती
Comment[ms]=Maklumat ingatan
Comment[nb]=Minneinformasjon
Comment[nds]=Informatschoon över den Spieker
Comment[ne]=स्मृति सूचना
Comment[nl]=Geheugeninformatie
Comment[nn]=Minneinformasjon
Comment[or]=ସ୍ମୃତିସ୍ଥାନ ସୂଚନା
Comment[pa]=ਮੈਮੋਰੀ ਜਾਣਕਾਰੀ
Comment[pl]=Informacje o pamięciach
Comment[pt]=Informações sobre a memória
Comment[pt_BR]=Informações da memória
Comment[ro]=Informații despre memorie
Comment[ru]=Сведения об использовании памяти
Comment[se]=Muitodiehtu
Comment[si]=මතක තොරතුරු
Comment[sk]=Informácie o pamäti
Comment[sl]=Podatki o pomnilniku
Comment[sr]=Подаци о меморији
Comment[sr@ijekavian]=Подаци о меморији
Comment[sr@ijekavianlatin]=Podaci o memoriji
Comment[sr@latin]=Podaci o memoriji
Comment[sv]=Minnesinformation
Comment[ta]=நினைவுத் தகவல்
Comment[te]=మెమొరి సమాచారం
Comment[tg]=Иттилооти хотира
Comment[th]=ข้อมูลหน่วยความจำ
Comment[tr]=Bellek hakkında bilgi
Comment[ug]=ئەسلەك ئۇچۇرى
Comment[uk]=Інформація щодо пам'яті
Comment[uz]=Xotira haqida maʼlumot
Comment[uz@cyrillic]=Хотира ҳақида маълумот
Comment[vi]=Thông tin về bộ nhớ
Comment[wa]=Informåcion sol memwere
Comment[xh]=Ulwazi lwenkumbulo
Comment[x-test]=xxMemory informationxx
Comment[zh_CN]=内存信息
Comment[zh_TW]=記憶體資訊資訊

X-KDE-Keywords=Memory,RAM,Virtual memory,Physical memory,Shared memory,Swap,System Information
X-KDE-Keywords[bs]=memorija,RAM,virtuelna memorija,fizička memorija,razmijeniti,informacijski sustav
X-KDE-Keywords[ca]=Memòria,RAM,Memòria virtual,Memòria física,Memòria compartida,Swap,Intercanvi,Informació del sistema
X-KDE-Keywords[ca@valencia]=Memòria,RAM,Memòria virtual,Memòria física,Memòria compartida,Swap,Intercanvi,Informació del sistema
X-KDE-Keywords[da]=Hukommelse,RAM,Virtuel hukommelse,fysisk hukommelse,delt hukommelse,Swap,Systeminformation
X-KDE-Keywords[de]=Speicher,RAM,Virtueller Speicher,Physischer Speicher,Shared Memory,Auslagerung,Swap,Systeminformationen
X-KDE-Keywords[el]=μνήμη,RAM,εικονική μνήμη,φυσική μνήμη,κοινόχρηστη μνήμη,Swap,πληροφορίες συστήματος
X-KDE-Keywords[es]=Memoria,RAM,Memoria virtual,Memoria física,Memoria compartida,Intercambio,Información del sistema
X-KDE-Keywords[et]=mälu,RAM,virtuaalmälu,füüsiline mälu,jagatud mälu,saaleala,süsteemi teave
X-KDE-Keywords[eu]=Memoria,RAM,Alegiazko memoria,Memoria fisiko,Memoria partekatu,Swap,Sistemaren informazioa
X-KDE-Keywords[fi]=muisti,RAM,virtuaalimuisti,fyysinen muisti,jaettu muisti,swap,sivutus,näennäismuisti,järjestelmätiedot
X-KDE-Keywords[fr]=Mémoire, RAM, Mémoire virtuelle, Mémoire physique, Mémoire partagée, Échange, Informations système
X-KDE-Keywords[ga]=Cuimhne,RAM,Cuimhne fhíorúil,Cuimhne ábhartha,Comhchuimhne,Cuimhne bhabhtála,Babhtáil,Eolas faoin Chóras
X-KDE-Keywords[gl]=memoria,RAM,memoria virtual,memoria física,memoria compartida,swap, intercambio,área de intercambio,información do sistema
X-KDE-Keywords[hu]=Memória,RAM,Virtuális memória,Fizikai memória,Megosztott memória,Swap,Rendszerjellemzők
X-KDE-Keywords[ia]=Memoria,RAM,memoria virtual,memoria physic,memoria compartite,Swap,Information de systema
X-KDE-Keywords[it]=Memoria,RAM,memoria virtuale,memoria fisica,memoria condivisa,swap,Informazioni di sistema
X-KDE-Keywords[kk]=Memory,RAM,Virtual memory,Physical memory,Shared memory,Swap,System Information
X-KDE-Keywords[km]=Memory,RAM,Virtual memory,Physical memory,Shared memory,Swap,System Information
X-KDE-Keywords[ko]=Memory,RAM,Virtual memory,Physical memory,Shared memory,Swap,System Information,메모리,가상 메모리,스왑 메모리,물리 메모리,공유 메모리,스왑,시스템 정보
X-KDE-Keywords[mr]=मेमरी, RAM, व्हर्च्युअल मेमरी, फिजिकल मेमरी, शेअर्ड मेमरी, स्वॅप, प्रणाली माहीती
X-KDE-Keywords[nb]=Minne,RAM,Virtuelt minne,Fysisk minne,Delt minne,Veksleminne,Systeminformasjon
X-KDE-Keywords[nl]=geheugen,RAM,virtueel geheugen,fysiek geheugen,gedeeld geheugen,swap,systeeminformatie
X-KDE-Keywords[pl]=Pamięć,RAM,Wirtualna pamięć,Fizyczna pamięć,Współdzielona pamięć,Plik wymiany,Informacje o systemie
X-KDE-Keywords[pt]=Memória,RAM,Memória virtual,Memória física,Memória partilhada,Paginação,Informação do Sistema
X-KDE-Keywords[pt_BR]=Memória,RAM,Memória virtual,Memória física,Memória compartilhada,Swap,Informação do sistema
X-KDE-Keywords[ru]=Memory,RAM,Virtual memory,Physical memory,Shared memory,Swap,System Information,память,виртуальная память,физическая память,разделяемая память,подкачка,сведения о системе
X-KDE-Keywords[sk]=Pamúť,RAM,Virtuálna pamäť,Fyzická pamäť,Zdieľaná pamäť,Swap,Systémové informácie
X-KDE-Keywords[sl]=pomnilnik,ram,navidezni pomnilnik,fizični pomnilnik,deljeni pomnilnik,izmenjevalni pomnilnik, izmenjevalni prostor,sistemski podatki,podatki o sistemu
X-KDE-Keywords[sr]=Memory,RAM,Virtual memory,Physical memory,Shared memory,Swap,System Information,меморија,РАМ,виртуелна меморија,физичка меморија,дељена меморија,размена,системске информације
X-KDE-Keywords[sr@ijekavian]=Memory,RAM,Virtual memory,Physical memory,Shared memory,Swap,System Information,меморија,РАМ,виртуелна меморија,физичка меморија,дељена меморија,размена,системске информације
X-KDE-Keywords[sr@ijekavianlatin]=Memory,RAM,Virtual memory,Physical memory,Shared memory,Swap,System Information,memorija,RAM,virtuelna memorija,fizička memorija,deljena memorija,razmena,sistemske informacije
X-KDE-Keywords[sr@latin]=Memory,RAM,Virtual memory,Physical memory,Shared memory,Swap,System Information,memorija,RAM,virtuelna memorija,fizička memorija,deljena memorija,razmena,sistemske informacije
X-KDE-Keywords[sv]=Minne,RAM,Virtuellt minne,Fysiskt minne,Delat minne,Växling,Systeminformation
X-KDE-Keywords[tr]=Bellek,RAM,Sanal bellek,Fiziksel bellek,Paylaşılan bellek,Takas alanı,Swap,Sistem bilgileri
X-KDE-Keywords[uk]=Memory,RAM,Virtual memory,Physical memory,Shared memory,Swap,System Information,пам’ять,віртуальна пам’ять,фізична пам’ять,спільна пам’ять,свопінг,резервна пам’ять,резерв,своп,система,інформація,відомості
X-KDE-Keywords[x-test]=xxMemory,RAM,Virtual memory,Physical memory,Shared memory,Swap,System Informationxx
X-KDE-Keywords[zh_CN]=Memory,RAM,Virtual memory,Physical memory,Shared memory,Swap,System Information,内存,随机存储,虚拟内存,物理内存,共享内存,交换空间,系统信息
X-KDE-Keywords[zh_TW]=Memory,RAM,Virtual memory,Physical memory,Shared memory,Swap,System Information
Categories=Qt;KDE;X-KDE-information;
