[Desktop Entry]
Exec=kcmshell4 kcm_cron
Icon=preferences-system-cron

X-DocPath=kcron/index.html

Type=Service
X-KDE-ServiceTypes=KCModule
X-KDE-Library=kcm_cron
X-KDE-ParentApp=kcontrol

X-KDE-System-Settings-Parent-Category=system-administration

Name=Task Scheduler
Name[ast]=Organizador de xeres
Name[bg]=Диспечер на задачи
Name[bs]=Raspored Zadataka
Name[ca]=Planificador de tasques
Name[ca@valencia]=Planificador de tasques
Name[cs]=Plánovač úloh
Name[da]=Opgaveskemalægger
Name[de]=Aufgabenplaner
Name[el]=Task Scheduler
Name[en_GB]=Task Scheduler
Name[es]=Planificador de tareas
Name[et]=Tegumihaldur
Name[eu]=Atazen antolatzailea
Name[fi]=Tehtävien ajastus
Name[fr]=Planificateur de tâches
Name[ga]=Sceidealóir na dTascanna
Name[gl]=Programador de tarefas
Name[hne]=काम जमइया
Name[hr]=Raspoređivač zadataka
Name[hu]=Feladatütemező
Name[ia]=Planificator de Cargas
Name[id]=Penjadwal Tugas
Name[is]=Verkefnastjóri
Name[it]=Pianificatore di operazioni
Name[ja]=タスクスケジューラ
Name[kk]=Тапсырма жоспарлағышы
Name[ko]=작업 스케줄러
Name[lt]=Užduočių planuoklis
Name[lv]=Uzdevumu plānotājs
Name[ml]=കര്‍ത്തവ്യങ്ങള്‍ ആസൂത്രണം ചെയ്യുവാന്‍
Name[mr]=कार्य नियोजक
Name[nb]=Oppgavebehandler
Name[nds]=Opgavenpleger
Name[nl]=Takenplanner
Name[nn]=Oppgåveplanleggjar
Name[pa]=ਟਾਸਕ ਸੈਡਿਊਲਰ
Name[pl]=Harmonogram zadań
Name[pt]=Escalonador de Tarefas
Name[pt_BR]=Agendador de tarefas
Name[ro]=Planificator de procese
Name[ru]=Планировщик заданий
Name[se]=Bargoplánejeaddji
Name[sk]=Plánovač úloh
Name[sl]=Razporejevalnik opravil
Name[sq]=Skeduesi i Detyrave
Name[sr]=Распоређивач задатака
Name[sr@ijekavian]=Распоређивач задатака
Name[sr@ijekavianlatin]=Raspoređivač zadataka
Name[sr@latin]=Raspoređivač zadataka
Name[sv]=Jobbschemaläggare
Name[th]=ตัวจัดการตารางงาน
Name[tr]=Görev Zamanlayıcı
Name[ug]=ۋەزىپە پىلانلاش پروگراممىسى
Name[uk]=Планувальник завдань
Name[x-test]=xxTask Schedulerxx
Name[zh_CN]=任务调度程序
Name[zh_TW]=工作排程器
Comment=Configure and schedule tasks
Comment[ast]=Configuración y xeres planificaes
Comment[bg]=Задаване и настройване на задачи
Comment[bs]=Konfiguriraj i rasporedi zadatke
Comment[ca]=Configura i planifica les tasques
Comment[ca@valencia]=Configura i planifica les tasques
Comment[cs]=Nastavení a plánování úloh
Comment[da]=Indstil og skemalæg opgaver
Comment[de]=Aufgaben einrichten und planen
Comment[el]=Διαμορφώνει και χρονοπρογραμματίζει εργασίες
Comment[en_GB]=Configure and schedule tasks
Comment[es]=Configurar y planificar tareas
Comment[et]=Tegumite seadistamine ja ajastamine
Comment[eu]=Atazak konfiguratu eta antolatu
Comment[fi]=Tehtävien ajastuksen asetukset
Comment[fr]=Configurer et planifier les tâches
Comment[ga]=Cumraigh agus sceideal tascanna
Comment[gl]=Configura e planifica tarefas
Comment[hne]=काम मन ल जमाव अउ कान्फिगर करव
Comment[hr]=Podesi i rasporedi zadatke
Comment[hu]=Időzített feladatok beállítása
Comment[ia]=Configura e planifica cargas
Comment[id]=Atur dan jadwal tugas
Comment[is]=Stilla og tímasetja verk
Comment[it]=Configura e pianifica le operazioni
Comment[ja]=タスクの設定とスケジュール
Comment[kk]=Баптау және тапсырмаларды жоспарлау
Comment[ko]=작업을 설정하고 예약하기
Comment[lt]=Konfigūruoti ir planuoti užduotis
Comment[lv]=Konfigurēt un plānot uzdevumus
Comment[ml]=കര്‍ത്തവ്യങ്ങള്‍ ക്രമീകരിച്ചു് ആസൂത്രണം ചെയ്യുക
Comment[mr]=कार्ये संयोजीत व नियोजीत करा
Comment[nb]=Sett opp og planlegg oppgaver
Comment[nds]=Opgaven planen un plegen
Comment[nl]=Taken instellen en plannen
Comment[nn]=Planlegg og set opp oppgåver
Comment[pa]=ਟਾਸਕ ਸੰਰਚਨਾ ਅਤੇ ਸੈਡਿਊਲ ਕਰੋ
Comment[pl]=Konfiguracja i harmonogramowanie zadań
Comment[pt]=Configurar e agendar tarefas
Comment[pt_BR]=Configura e agenda tarefas
Comment[ro]=Configurează și planifică sarcinile
Comment[ru]=Настройка и планировка заданий
Comment[sk]=Nastavenie a plánovanie úloh
Comment[sl]=Nastavite in razporedite opravila
Comment[sq]=Konfiguro dhe skedo detyrat
Comment[sr]=Подешавање и заказивање задатака
Comment[sr@ijekavian]=Подешавање и заказивање задатака
Comment[sr@ijekavianlatin]=Podešavanje i zakazivanje zadataka
Comment[sr@latin]=Podešavanje i zakazivanje zadataka
Comment[sv]=Anpassa och schemalägg jobb
Comment[th]=ปรับแต่งและจัดตารางงาน
Comment[tr]=Görevleri zamanla ve yapılandır
Comment[ug]=ۋەزىپىنى سەپلەش ۋە پىلانلاش
Comment[uk]=Налаштування і планування завдання
Comment[x-test]=xxConfigure and schedule tasksxx
Comment[zh_CN]=配置并调度计划任务
Comment[zh_TW]=設定與排程工作
X-KDE-Keywords=cron,crontab,scheduled,tasks,task,schedule,vixie
X-KDE-Keywords[bs]=cron,crontab,scheduled,tasks,raspoređeni,zadaci,zadato, redoslijed,task,schedule,vixie
X-KDE-Keywords[ca]=cron,crontab,planificat,tasques,tasca,planificació,vixie
X-KDE-Keywords[ca@valencia]=cron,crontab,planificat,tasques,tasca,planificació,vixie
X-KDE-Keywords[cs]=cron,crontab,naplánováno,úlohy,úloha,naplánovat,vixie
X-KDE-Keywords[da]=cron,crontab,skemalagt,opgaver,opgaveskema,skema,vixie
X-KDE-Keywords[de]=cron,crontab,scheduled,tasks,task,schedule,vixie,aufgaben,planung
X-KDE-Keywords[el]=cron,crontab,προγραμματισμένες,εργασίες,εργασία,προγραμματισμός,vixie
X-KDE-Keywords[es]=cron,crontab,programado,tareas,tarea,programar,vixie
X-KDE-Keywords[et]=cron,crontab,ajastamine,ülesanded,ülesanne,ajastaja,vixie
X-KDE-Keywords[eu]=cron,crontab,scheduled,antolatuta,tasks,task,atazak,ataza,schedule,antolatu,vixie
X-KDE-Keywords[fi]=cron,crontab,ajastus,ajasta,tehtävät,työt,ajastin,vixie
X-KDE-Keywords[fr]=cron, crontab, planification, tâche, tâches, planifiée, vixie
X-KDE-Keywords[ga]=cron,crontab,sceidealta,tascanna,tasc,sceideal,vixie
X-KDE-Keywords[gl]=cron,crontab,planificada,tarefa,planificar,vixie
X-KDE-Keywords[hu]=cron,crontab,ütemezett,feladatok,feladat,ütemezés,vixie
X-KDE-Keywords[ia]=cron,crontab,planificate,cargas,carga,planifica,vixie
X-KDE-Keywords[it]=cron,crontab,piano,compiti,compito,pianificare,vixie
X-KDE-Keywords[kk]=cron,crontab,scheduled,tasks,task,schedule,vixie
X-KDE-Keywords[ko]=cron,crontab,scheduled,tasks,task,schedule,vixie,작업,예약,예약된 작업
X-KDE-Keywords[lt]=cron,crontab,nustatyta,užduotys,užduotis,tvarkaraštis,vixie
X-KDE-Keywords[mr]=क्रोन,क्रोनटॅब,नियोजीत,कार्य,कार्ये,नियोजन,विक्सी
X-KDE-Keywords[nb]=cron,crontab,planlagt,oppgaver,oppgave,plan,vixie
X-KDE-Keywords[nds]=cron,Opgaav,Opgaven,Opgaventabell,plaant,Plaan,vixie
X-KDE-Keywords[nl]=cron,crontab,gepland,taken,taak,planning,vixie
X-KDE-Keywords[pl]=cron,crontab,program_planujący,zadania,zadanie,planuj,vixie
X-KDE-Keywords[pt]=cron,crontab,agendadas,tarefas,tarefa,agendar,vixie
X-KDE-Keywords[pt_BR]=cron,crontab,agendadas,tarefas,tarefa,agendar,vixie
X-KDE-Keywords[ro]=cron,crontab,sarcini,sarcină,planifica,planifica,vixie,plan
X-KDE-Keywords[ru]=cron,crontab,scheduled,tasks,task,schedule,vixie,планирование,задания,задание,задачи,задача,планировщик
X-KDE-Keywords[sk]=cron,crontab,plánované,úlohy,úloha,plánovanie,vixie
X-KDE-Keywords[sl]=cron,crontab,razporejeno,opravila,opravilo,razpored,vixie
X-KDE-Keywords[sr]=cron,crontab,scheduled,tasks,task,schedule,vixie,крон,кронтаб,распоред,задаци,распоређен
X-KDE-Keywords[sr@ijekavian]=cron,crontab,scheduled,tasks,task,schedule,vixie,крон,кронтаб,распоред,задаци,распоређен
X-KDE-Keywords[sr@ijekavianlatin]=cron,crontab,scheduled,tasks,task,schedule,vixie,cron,crontab,raspored,zadaci,raspoređen
X-KDE-Keywords[sr@latin]=cron,crontab,scheduled,tasks,task,schedule,vixie,cron,crontab,raspored,zadaci,raspoređen
X-KDE-Keywords[sv]=cron,crontab,schemalagd,uppgifter,uppgift,schema,vixie
X-KDE-Keywords[tr]=cron,crontab,scheduled,tasks,task,schedule,vixie
X-KDE-Keywords[uk]=cron,crontab,scheduled,tasks,task,schedule,vixie,таблиця планування,список планування,завдання,план,запуск
X-KDE-Keywords[x-test]=xxcron,crontab,scheduled,tasks,task,schedule,vixiexx
X-KDE-Keywords[zh_CN]=cron,crontab,scheduled,tasks,task,schedule,vixie,计划,计划任务,任务
X-KDE-Keywords[zh_TW]=cron,crontab,scheduled,tasks,task,schedule,vixie
Categories=Qt;KDE;X-KDE-settings-system;
