[Desktop Entry]
Exec=kcmshell4 kcm_nepomuk
Icon=nepomuk
Type=Service

X-DocPath=kcontrol/nepomuk/index.html

X-KDE-ServiceTypes=KCModule
X-KDE-Library=kcm_nepomuk
X-KDE-ParentApp=kcontrol

X-KDE-System-Settings-Parent-Category=desktop-search

Name=Desktop Search
Name[ar]=بحث سطح المكتب
Name[ast]=Gueta d'escritoriu
Name[be@latin]=Pošuk
Name[bg]=Настолно търсене
Name[bn]=ডেস্কটপ সন্ধান
Name[bn_IN]=ডেস্কটপে অনুসন্ধান
Name[bs]=Pretraga površi
Name[ca]=Cerca a l'escriptori
Name[ca@valencia]=Cerca a l'escriptori
Name[cs]=Vyhledávací služby
Name[csb]=Szëkba na pùlce
Name[da]=Skrivebordssøgning
Name[de]=Desktop-Suche
Name[el]=Αναζήτηση επιφάνειας εργασίας
Name[en_GB]=Desktop Search
Name[eo]=Labortabla serĉo
Name[es]=Búsqueda de escritorio
Name[et]=Töölauaotsing
Name[eu]=Mahaigainaren bilaketa
Name[fa]=جستجوی رومیزی
Name[fi]=Työpöytähaku
Name[fr]=Rechercher sur le bureau
Name[fy]=Buroblêd sykaksje
Name[ga]=Cuardach Deisce
Name[gl]=Busca no escritorio
Name[gu]=ડેસ્કટોપ શોધ
Name[he]=חיפוש בשולחן העבודה
Name[hi]=डेस्कटॉप खोज
Name[hne]=डेस्कटाप खोज
Name[hr]=Pretraživanje računala
Name[hsb]=Pytanje za dźěłowy powjerch
Name[hu]=Asztali keresés
Name[ia]=Cerca de Scriptorio
Name[id]=Pencarian Desktop
Name[is]=Skjáborðsleit
Name[it]=Ricerca desktop
Name[ja]=デスクトップ検索
Name[kk]=Жергілікті іздеу
Name[km]=ស្វែងរក​ផ្ទៃតុ
Name[kn]=ಗಣಕತೆರೆ ಹುಡುಕಾಟ
Name[ko]=데스크톱 검색
Name[ku]=Lêgerîna Sermasê
Name[lt]=Darbastalio paieška
Name[lv]=Darbvirsmas meklēšana
Name[mai]=डेस्कटाप खोज
Name[mk]=Пребарување на работната површина
Name[ml]=പണിയിടം തിരയല്‍
Name[mr]=डेस्कटॉप शोध
Name[nb]=Skrivebordssøk
Name[nds]=Schriefdischsöök
Name[nl]=Bureaublad-zoekopdracht
Name[nn]=Skrivebordssøk
Name[or]=ଡ଼େସ୍କଟପ ସନ୍ଧାନ
Name[pa]=ਡੈਸਕਟਾਪ ਖੋਜ
Name[pl]=Wyszukiwanie na pulpicie
Name[pt]=Pesquisa no Ambiente de Trabalho
Name[pt_BR]=Pesquisa no desktop
Name[ro]=Căutare de birou
Name[ru]=Cемантический поиск
Name[si]=වැඩතල සෙවුම
Name[sk]=Hľadanie na ploche
Name[sl]=Namizno iskanje
Name[sr]=Претрага површи
Name[sr@ijekavian]=Претрага површи
Name[sr@ijekavianlatin]=Pretraga površi
Name[sr@latin]=Pretraga površi
Name[sv]=Skrivbordssökning
Name[ta]=மேல்மேசை தேடல்
Name[te]=డెస్‍క్ టాప్ శోధన
Name[tg]=Ҷустуҷӯи мизи корӣ
Name[th]=ค้นหาผ่านพื้นที่ทำงาน
Name[tr]=Masaüstü Araması
Name[ug]=ئۈستەلئۈستىدە ئىزدەش
Name[uk]=Стільничний пошук
Name[vi]=Tìm kiếm máy làm việc
Name[wa]=Cweraedje sol sicribanne
Name[x-test]=xxDesktop Searchxx
Name[zh_CN]=桌面搜索
Name[zh_TW]=桌面搜尋
Comment=Nepomuk Server Configuration
Comment[ast]=Configuración del sirvidor Nepomuk
Comment[bg]=Настройки на сървъра Nepomuk
Comment[bs]=Postavka servera Nepomuka
Comment[ca]=Configuració del servidor Nepomuk
Comment[ca@valencia]=Configuració del servidor Nepomuk
Comment[cs]=Nastavení serveru Nepomuk
Comment[da]=Konfiguration af Nepomuk-server
Comment[de]=Einrichtung des Nepomuk-Servers
Comment[el]=Διαμόρφωση εξυπηρετητή Nepomuk
Comment[es]=Configuración del servidor Nepomuk
Comment[et]=Nepomuki serveri seadistamine
Comment[eu]=Nepomuk zerbitzariaren konfiguraketa
Comment[fi]=Nepomuk-palvelinasetukset
Comment[fr]=Configuration du serveur Nepomuk
Comment[ga]=Cumraíocht Freastalaí Nepomuk
Comment[gl]=Configuración do servidor Nepomuk
Comment[gu]=નેપોમુક સર્વર રૂપરેખાંકન
Comment[hi]=नेपोमक सर्वर कॉन्फ़िगरेशन
Comment[hu]=A Nepomuk kiszolgáló beállítása
Comment[ia]=Configuration de servitor Nepomuk
Comment[is]=Nepomuk miðlarastillingar
Comment[it]=Configurazione dei server di Nepomuk
Comment[ja]=Nepomuk サーバの設定
Comment[kk]=Nepomuk серверін баптау
Comment[ko]=Nepomuk 서버 설정
Comment[lt]=Nepomuk serverio nustatymai
Comment[mr]=नेपोमुक सर्व्हर संयोजना
Comment[nb]=Nepomuk tjeneroppsett
Comment[nl]=Instellingen van Nepomuk-server
Comment[nn]=Oppsett av Nepomuk-tenar
Comment[pa]=ਨਿਪੋਮੁਕ ਸਰਵਰ ਸੰਰਚਨਾ
Comment[pl]=Konfiguracja serwera Nepomuk
Comment[pt]=Configuração do Servidor Nepomuk
Comment[pt_BR]=Configuração do servidor Nepomuk
Comment[ro]=Configurare server Nepomuk
Comment[ru]=Настройка сервера Nepomuk
Comment[sk]=Nastavenie servera Nepomuk
Comment[sl]=Nastavitev strežnika Nepomuk
Comment[sr]=Постава сервера Непомука
Comment[sr@ijekavian]=Постава сервера Непомука
Comment[sr@ijekavianlatin]=Postava servera Nepomuka
Comment[sr@latin]=Postava servera Nepomuka
Comment[sv]=Nepomuk-tjänstinställning
Comment[tr]=Nepomuk Sunucu Yapılandırması
Comment[ug]=Nepomuk مۇلازىمېتىر سەپلىمىسى
Comment[uk]=Налаштування сервера Nepomuk
Comment[vi]=Cấu hình máy chủ Nepomuk
Comment[wa]=Apontiaedje do sierveu Nepomuk
Comment[x-test]=xxNepomuk Server Configurationxx
Comment[zh_CN]=Nepomuk 服务器配置
Comment[zh_TW]=Nepomuk 伺服器設定
X-KDE-Keywords=Nepomuk,Metadata
X-KDE-Keywords[ast]=Nepomuk,Metadata
X-KDE-Keywords[bg]=Nepomuk,Metadata,Метаданни
X-KDE-Keywords[bs]=Nepomuk,Metapodaci
X-KDE-Keywords[ca]=Nepomuk,Metadades
X-KDE-Keywords[ca@valencia]=Nepomuk,Metadades
X-KDE-Keywords[cs]=Nepomuk,Metadata
X-KDE-Keywords[da]=Nepomuk,Metadata
X-KDE-Keywords[de]=Nepomuk,Metadaten
X-KDE-Keywords[el]=Nepomuk,Metadata
X-KDE-Keywords[es]=Nepomuk,Metadatos
X-KDE-Keywords[et]=Nepomuk,metaandmed
X-KDE-Keywords[eu]=Nepomuk,Metadatuak
X-KDE-Keywords[fi]=Nepomuk,Metadata
X-KDE-Keywords[fr]=Nepomuk, méta-donnée
X-KDE-Keywords[ga]=Nepomuk,Meiteashonraí
X-KDE-Keywords[gl]=Nepomuk,Metadatos
X-KDE-Keywords[gu]=નેપોમુક મેટાડેટા
X-KDE-Keywords[hi]=नेपोमक मेटेडेटा
X-KDE-Keywords[hu]=Nepomuk,Metaadat
X-KDE-Keywords[ia]=Nepomuk,Metadatos
X-KDE-Keywords[is]=Nepomuk,Lýsigögn
X-KDE-Keywords[it]=Nepomuk,Metadati
X-KDE-Keywords[ja]=Nepomuk,Metadata
X-KDE-Keywords[kk]=Nepomuk,Metadata
X-KDE-Keywords[ko]=Nepomuk,Metadata,메타데이터
X-KDE-Keywords[lt]=Nepomuk,Metaduomenys
X-KDE-Keywords[mr]=नेपोमुक, मेटाडेटा
X-KDE-Keywords[nb]=Nepomuk,Metadata
X-KDE-Keywords[nl]=Nepomuk,metagegevens
X-KDE-Keywords[nn]=Nepomuk,Metadata
X-KDE-Keywords[pa]=ਨਿਪੋਮੁਕ,ਮੇਟਾਡਾਟਾ
X-KDE-Keywords[pl]=Nepomuk,Metadane
X-KDE-Keywords[pt]=Nepomuk,Meta-dados
X-KDE-Keywords[pt_BR]=Nepomuk,Metadados
X-KDE-Keywords[ro]=Nepomuk,Metadate
X-KDE-Keywords[ru]=Nepomuk,Metadata,метаданные
X-KDE-Keywords[sk]=Nepomuk,Metadáta
X-KDE-Keywords[sl]=Nepomuk,metapodatki
X-KDE-Keywords[sr]=Nepomuk,Metadata,Непомук,метаподаци
X-KDE-Keywords[sr@ijekavian]=Nepomuk,Metadata,Непомук,метаподаци
X-KDE-Keywords[sr@ijekavianlatin]=Nepomuk,Metadata,Nepomuk,metapodaci
X-KDE-Keywords[sr@latin]=Nepomuk,Metadata,Nepomuk,metapodaci
X-KDE-Keywords[sv]=Nepomuk,Metadata
X-KDE-Keywords[tr]=Nepomuk,Metadata
X-KDE-Keywords[ug]=Nepomuk,Metadata
X-KDE-Keywords[uk]=Nepomuk,Strigi,Metadata,непомук,непом’юк,стрігі,метадані
X-KDE-Keywords[vi]=Nepomuk,Metadata
X-KDE-Keywords[wa]=Nepomuk,meta-dnêyes,meta-donêyes
X-KDE-Keywords[x-test]=xxNepomuk,Metadataxx
X-KDE-Keywords[zh_CN]=Nepomuk,元数据
X-KDE-Keywords[zh_TW]=Nepomuk,Metadata
