[Desktop Entry]

X-KDE-Library=kcm_kdf
X-KDE-ParentApp=kcontrol

X-KDE-FactoryName=kdf

X-KDE-LocalUser=false
Exec=kcmshell4 kcmdf
Icon=kdf

Type=Service
X-KDE-ServiceTypes=KCModule

Name=Storage Devices
Name[af]=Stoorplek Toestelle
Name[ar]=أجهزة تخزين
Name[ast]=Medios d'Almacenamientu
Name[bg]=Съхраняващи устройства
Name[bs]=Skladišni uređaji
Name[ca]=Dispositius d'emmagatzematge
Name[ca@valencia]=Dispositius d'emmagatzematge
Name[cs]=Úložná zařízení
Name[cy]=Dyfeisiau Storio
Name[da]=Lagringsenheder
Name[de]=Speichergeräte
Name[el]=Συσκευές αποθήκευσης
Name[en_GB]=Storage Devices
Name[eo]=Memoraparatoj
Name[es]=Dispositivos de almacenamiento
Name[et]=Salvestusseadmed
Name[eu]=Biltegiratze Gailuak
Name[fa]=دستگاههای ذخیره
Name[fi]=Tallennuslaitteet
Name[fr]=Périphériques de stockage
Name[ga]=Gléasanna Stórais
Name[gl]=Dispositivos de almacenaxe
Name[he]=התקני איחסון
Name[hne]=भंडारन औजार
Name[hr]=Skladišni uređaji 
Name[hu]=Tárolóeszközök
Name[ia]=Dispositivos de immagazinage
Name[id]=Media Simpan
Name[is]=Minnisbúnaður
Name[it]=Dispositivi di memorizzazione
Name[ja]=ストレージデバイス
Name[kk]=Жинақтаушы құрылғылар
Name[km]=ឧបករណ៍​ផ្ទុក
Name[ko]=저장 장치
Name[lt]=Saugojimo įrenginiai
Name[lv]=Glabāšanas ierīces
Name[mk]=Уреди за складирање
Name[mr]=स्टोरेज साधने
Name[ms]=Storage Devices
Name[nb]=Lagringsenheter
Name[nds]=Spiekerreedschappen
Name[ne]=भण्डारण यन्त्र
Name[nl]=Opslagapparaten
Name[nn]=Lagringseiningar
Name[pa]=ਸਟੋਰੇਜ਼ ਜੰਤਰ
Name[pl]=Urządzenia do przechowywania danych
Name[pt]=Dispositivos de Armazenamento
Name[pt_BR]=Dispositivos de armazenamento
Name[ro]=Dispozitive de stocare
Name[ru]=Устройства хранения данных
Name[sk]=Úložné zariadenia
Name[sl]=Naprave za shranjevanje
Name[sq]=Pajisjet e Ruajtjes
Name[sr]=Складишни уређаји
Name[sr@ijekavian]=Складишни уређаји
Name[sr@ijekavianlatin]=Skladišni uređaji
Name[sr@latin]=Skladišni uređaji
Name[sv]=Lagringsenheter
Name[ta]= சேமிப்பு சாதனங்கள் 
Name[tg]=Дастгоҳҳои Захиракунӣ
Name[th]=อุปกรณ์จัดเก็บข้อมูล
Name[tr]=Depolama Aygıtları
Name[ug]=ساقلىغۇچ ئۈسكۈنىسى
Name[uk]=Пристрої накопичення
Name[uz]=Saqlash uskunalari
Name[uz@cyrillic]=Сақлаш ускуналари
Name[vi]=Các Thiết Bị Lưu Trữ
Name[wa]=Éndjins di stocaedje
Name[xh]=Amacebo Okugcina
Name[x-test]=xxStorage Devicesxx
Name[zh_CN]=存储设备
Name[zh_TW]=儲存裝置
X-DocPath=kcontrol/blockdevices/index.html
Comment=Shows the disk usage of the mounted devices
Comment[af]=Vertoon die disket gebruik van die gekoppelde toestelle
Comment[ar]=يعرض المساحة المستخدمة من الأقراص المضمومة
Comment[ast]=Amosar l'usu de discu de los medios montaos
Comment[bg]=Показва използваното пространство на монтираните устройства
Comment[br]=Diskouez an egor implijet gant an trobarzhelloù marc'het
Comment[bs]=Prikazuje popunjenost montiranih uređaja
Comment[ca]=Mostra l'ús de disc dels dispositius muntats
Comment[ca@valencia]=Mostra l'ús de disc dels dispositius muntats
Comment[cs]=Zobrazuje využití připojených diskových zařízení
Comment[cy]=Dangos defnydd disg y dyfeisiau mowntiedig
Comment[da]=Viser monterede enheders diskforbrug
Comment[de]=Zeigt die Speicherbelegung eingebundener Geräte
Comment[el]=Εμφανίζει τη χρήση αποθηκευτικού χώρου των προσαρτημένων συσκευών
Comment[en_GB]=Shows the disk usage of the mounted devices
Comment[eo]=Montras la kapacitojn de la kroĉitaj aparatoj
Comment[es]=Muestra el uso del disco en los dispositivos montados
Comment[et]=Ühendatud seadmete kettakasutuse näitamine
Comment[eu]=Muntatutako diskoen erabilera erakusten du
Comment[fa]=استفاده دیسک دستگاههای سوار‌شده را نمایش می‌دهد
Comment[fi]=Näyttää levynkäytön liitetyillä laitteilla
Comment[fr]=Affiche l'espace utilisé sur les périphériques montés
Comment[ga]=Taispeánann úsáid diosca na ngléasanna feistithe
Comment[gl]=Mostra o uso do espazo dos dispositivos montados
Comment[he]=מידע על השימוש בנפח האיחסון של ההתקנים המחוברים
Comment[hne]=माउन्टेड औजार मन के डिस्क उपयोग देखाथे 
Comment[hr]=Prikazuje iskorištenost diskova
Comment[hu]=Megmutatja a csatolt eszközök kihasználtságát
Comment[ia]=Il monstra le uso de disco del dispositivos montate
Comment[id]=Menampilkan pemakaian diska dari perangkat yang dikaitkan
Comment[is]=Sýnir nýtingu diskanna sem eru tengdir skráarkerfinu
Comment[it]=Mostra l'uso del disco dei dispositivi montati
Comment[ja]=マウントされているデバイスのディスク使用状況を表示
Comment[kk]=Тіркеген құрылғыларда бар орынды көрсетеді
Comment[km]=បង្ហាញ​កា​រប្រើ​ថាស​របស់​ឧបករណ៍​ដែល​បាន​ម៉ោន
Comment[ko]=마운트된 장치의 디스크 사용량을 보여줍니다
Comment[lt]=Rodo sumontuotų įrenginių disko vietos panaudojimą
Comment[lv]=Rāda montēto ierīču vietas izmantojumu
Comment[mk]=Ја покажува искористеноста на монтираните уреди
Comment[mr]=जोडलेल्या साधनांवरील डिस्क वापर दर्शवितो
Comment[ms]=Memaparkan penggunaan cakera pada peranti yang dilekapkan
Comment[nb]=Viser brukt diskplass på de monterte enhetene
Comment[nds]=Wiest den Fastplattbruuk vun inhangt Reedschappen
Comment[ne]=माउन्ट गरिएको यन्त्रका डिस्क उपयोग देखाउँदछ
Comment[nl]=Toont het schijfgebruik van de aangekoppelde bestandssystemen
Comment[nn]=Viser diskbruken for monterte einingar
Comment[pa]=ਮਾਊਂਟ ਕੀਤੇ ਜੰਤਰਾਂ ਲਈ ਡਿਸਕ ਵਰਤੋਂ ਵੇਖਾਉਦਾ ਹੈ
Comment[pl]=Pokazuje wykorzystanie przestrzeni dyskowej na zamontowanych urządzeniach
Comment[pt]=Mostra o espaço ocupado nos dispositivos montados
Comment[pt_BR]=Mostra a utilização do disco nos dispositivos montados
Comment[ro]=Afișează utilizarea spațiului pentru dispozitivele montate
Comment[ru]=Показывает свободное место на смонтированных устройствах
Comment[sk]=Zobrazuje využitie disku pripojených zariadení
Comment[sl]=Prikaže uporabo diska priklopljenih naprav
Comment[sq]=Shfaq përdorimin e diskut të pajisjeve të montuara
Comment[sr]=Приказује попуњеност монтираних уређаја
Comment[sr@ijekavian]=Приказује попуњеност монтираних уређаја
Comment[sr@ijekavianlatin]=Prikazuje popunjenost montiranih uređaja
Comment[sr@latin]=Prikazuje popunjenost montiranih uređaja
Comment[sv]=Visar diskanvändning för monterade enheter
Comment[ta]= ஏற்றப்பட்ட சாதனங்களின் வட்டு பயன்பாட்டை காட்டுகிறது
Comment[tg]=Фазоҳои хомро дар дастгоҳи насбшуда нишон диҳед
Comment[th]=แสดงการใช้พื้นทีี่ของดิสก์ที่ถูกเมานท์อยู่
Comment[tr]=Bağlı aygıtların disk kullanımını gösterir
Comment[uk]=Показує ступінь використання змонтованих пристроїв
Comment[vi]=Hiển trạng thái sử dụng của các thiết bị đã được gắn
Comment[wa]=Mostere l' eployaedje des deurès plakes ki sont montêyes
Comment[x-test]=xxShows the disk usage of the mounted devicesxx
Comment[zh_CN]=显示挂接设备的磁盘使用率
Comment[zh_TW]=顯示連接的設備的磁碟使用率
