[Desktop Entry]
Icon=view-history
Type=Service
X-KDE-ServiceTypes=KCModule
Exec=kcmshell4 kcmhistory

X-KDE-Library=kcm_history
X-KDE-ParentApp=kcontrol
X-DocPath=kcontrol/history/index.html

Name=History
Name[af]=Geskiedenis
Name[ar]=التاريخ
Name[as]=ইতিহাস
Name[ast]=Historial
Name[be]=Гісторыя
Name[be@latin]=Historyja
Name[bg]=История
Name[bn]=ইতিহাস
Name[bn_IN]=পূর্ববর্তী তথ্য
Name[br]=Istor
Name[bs]=Istorijat
Name[ca]=Historial
Name[ca@valencia]=Historial
Name[cs]=Historie
Name[csb]=Historëjô
Name[cy]=Hanes
Name[da]=Historik
Name[de]=Verlaufsspeicher
Name[el]=Ιστορικό
Name[en_GB]=History
Name[eo]=Historio
Name[es]=Historial
Name[et]=Ajalugu
Name[eu]=Historia
Name[fa]=تاریخچه
Name[fi]=Historia
Name[fr]=Historique
Name[fy]=Histoarje
Name[ga]=Stair
Name[gl]=Historial
Name[gu]=ઇતિહાસ
Name[he]=היסטוריה
Name[hi]=इतिहास 
Name[hne]=इतिहास 
Name[hr]=Povijest
Name[hsb]=Předchadne přikazy
Name[hu]=Napló
Name[ia]=Historia
Name[id]=Riwayat
Name[is]=Saga
Name[it]=Cronologia
Name[ja]=履歴
Name[ka]=ისტორია
Name[kk]=Журнал
Name[km]=ប្រវត្តិ
Name[kn]=ಚರಿತ್ರೆ
Name[ko]=과거 기록
Name[ku]=Dîrok
Name[lt]=Istorija
Name[lv]=Vēsture
Name[mai]=इतिहास
Name[mk]=Историја
Name[ml]=ചരിത്രം
Name[mr]=इतिहास
Name[ms]=Sejarah
Name[nb]=Historie
Name[nds]=Vörgeschicht
Name[ne]=इतिहास
Name[nl]=Geschiedenis
Name[nn]=Historie
Name[oc]=Istoric
Name[or]=ପୁରୁଣା ତଥ୍ୟ
Name[pa]=ਅਤੀਤ
Name[pl]=Historia
Name[pt]=Histórico
Name[pt_BR]=Histórico
Name[ro]=Istoric
Name[ru]=Журнал
Name[se]=Historihkka
Name[si]=අතීතය
Name[sk]=História
Name[sl]=Zgodovina
Name[sr]=Историјат
Name[sr@ijekavian]=Историјат
Name[sr@ijekavianlatin]=Istorijat
Name[sr@latin]=Istorijat
Name[sv]=Historik
Name[ta]=வரலாறு
Name[te]=చరిత్ర
Name[tg]=Таърих
Name[th]=ประวัติการใช้
Name[tr]=Geçmiş
Name[ug]=ئىز
Name[uk]=Журнал
Name[uz]=Tarix
Name[uz@cyrillic]=Тарих
Name[vi]=Lịch sử
Name[wa]=Istwere
Name[xh]=Imbali
Name[x-test]=xxHistoryxx
Name[zh_CN]=历史
Name[zh_TW]=歷史
Comment=Configure the history sidebar
Comment[af]=Stel die geskiedenis kantbalk op
Comment[ar]=اضبط الشريط الجانبي للتاريخ
Comment[as]=ইতিহাসৰ কাৰণে কাষৰ বাৰ বিন্যাস কৰক
Comment[ast]=Configuración de la barra del historial
Comment[be]=Настаўленне бакавой панелі гісторыі
Comment[be@latin]=Naładź bakavuju panel historyi
Comment[bg]=Настройване на историята
Comment[bn]=ইতিহাস সাইডবার কনফিগার করুন
Comment[bn_IN]=পূর্ববর্তী তথ্য প্রদর্শনকারী পাশ্ববর্তী-বার কনফিগার করুন
Comment[bs]=Podešavanje bočne trake istorijata
Comment[ca]=Configura la barra de l'historial
Comment[ca@valencia]=Configura la barra de l'historial
Comment[cs]=Nastavení panelu historie
Comment[csb]=Kònfigùracëjô bòczny lëstwë historëji
Comment[cy]=Ffurfweddu'r cwpwrdd cornel hanes
Comment[da]=Indstil historiksidepanelet
Comment[de]=Verlaufsanzeige im Navigationsbereich einrichten
Comment[el]=Διαμορφώστε την πλευρική μπάρα ιστορικού
Comment[en_GB]=Configure the history sidebar
Comment[eo]=Agordi la historian flankobreton
Comment[es]=Configuración del panel lateral del historial
Comment[et]=Ajaloo külgriba seadistamine
Comment[eu]=Konfiguratu historiaren alboko barra
Comment[fa]=پیکربندی میله‌ جانبی تاریخچه
Comment[fi]=Historiasivupalkin asetukset
Comment[fr]=Configuration de la barre latérale d'historique 
Comment[fy]=Hjir kinne jo de histoarje ynstelle
Comment[ga]=Cumraigh an barra taoibh staire
Comment[gl]=Configurar a barra lateral co historial
Comment[gu]=ઇતિહાસ બાજુપટ્ટી રૂપરેખાંકિત કરો
Comment[he]=שינוי הגדרות הסרגל הצדדי של ההיסטוריה
Comment[hi]=इतिहास बाज़ूपट्टी कॉन्फ़िगर करें
Comment[hne]=इतिहास बाजूपट्टी कान्फिगर करव
Comment[hr]=Konfiguriranje trake povijesti
Comment[hsb]=Bóčny pas za předchadne přikazy připrawić
Comment[hu]=A napló-oldalsáv beállításai
Comment[ia]=Configura le barra lateral de historia
Comment[id]=Atur batang sisi riwayat
Comment[is]=Stilla hliðardálk með flakksögu
Comment[it]=Configura la barra laterale della cronologia
Comment[ja]=履歴サイドバーの設定
Comment[ka]=ისტორიის გვერდითი პანელის კონფიგურირება
Comment[kk]=Бүйірдегі журнал панелін баптау
Comment[km]=កំណត់​រចនាសម្ព័ន្ធ​របារ​ចំហៀង​ប្រវត្តិ​
Comment[kn]=ಚರಿತ್ರೆ ಬದಿಪಟ್ಟಿಯನ್ನು ಸಂರಚಿಸು
Comment[ko]=과거 기록 사이드바를 설정합니다
Comment[ku]=Darikê dîrokê  ê li kêlekê ava bike
Comment[lt]=Konfigūruoti istorijos šoninę juostą
Comment[lv]=Šeit jūs varat konfigurēt vēstures sānjoslu
Comment[mai]=इतिहास बाजूपट्टी बिन्यस्त करू
Comment[mk]=Конфигурација на лентата за историја
Comment[ml]=ചരിത്രം കാണിക്കുന്ന പാര്‍ശ്വപട്ട
Comment[mr]=इतिहास बाजूचीपट्टी संयोजीत करा
Comment[ms]=Konfigur bar sisi sejarah
Comment[nb]=Tilpass historie-sidestolpen
Comment[nds]=Dat Vörgeschicht-Sietpaneel instellen
Comment[ne]=इतिहास किनारापट्टी कन्फिगर गर्नुहोस्
Comment[nl]=Hier kunt u de geschiedenis instellen
Comment[nn]=Set opp historie-sidestolpen
Comment[or]=ପୁରୁଣା ତଥ୍ୟ ପାର୍ଶ୍ୱପଟିକୁ ବିନ୍ୟାସ କରନ୍ତୁ
Comment[pa]=ਅਤੀਤ ਬਾਹੀ ਸੰਰਚਨਾ
Comment[pl]=Konfiguracja paska bocznego z historią
Comment[pt]=Configuração da barra lateral do histórico
Comment[pt_BR]=Configura a barra lateral de histórico
Comment[ro]=Configurează bara laterală cu istoric
Comment[ru]=Настройка боковой панели журнала
Comment[se]=Heivet historihkkaholgga
Comment[si]=අතීත පැතිතීරුව සැකසීම
Comment[sk]=Nastavenie bočného panelu histórie
Comment[sl]=Nastavitve stranske vrstice zgodovine
Comment[sr]=Подешавање бочне траке историјата
Comment[sr@ijekavian]=Подешавање бочне траке историјата
Comment[sr@ijekavianlatin]=Podešavanje bočne trake istorijata
Comment[sr@latin]=Podešavanje bočne trake istorijata
Comment[sv]=Anpassa historiksidopanelen
Comment[ta]=வரலாறு பக்கப்பட்டியை வடிவமை
Comment[te]=చరిత్ర సైడ్‌బార్ ఆకృతీకరించుము
Comment[tg]=Танзимоит панели қайди таърих
Comment[th]=ปรับแต่งแถบข้างแสดงประวัติการใช้
Comment[tr]=Geçmiş yan çubuğunu yapılandır
Comment[ug]=يان بالداق تارىخى سەپلىمىسى
Comment[uk]=Налаштування бічної панелі історії
Comment[uz]=Tarix panelini moslash
Comment[uz@cyrillic]=Тарих панелини мослаш
Comment[vi]=Cấu hình bảng nằm bên cạnh chứa lịch sử duyệt mạng
Comment[wa]=Apontyî l' istwere el bår di costé
Comment[xh]=Qwalasela imbali ye bar yasecaleni
Comment[x-test]=xxConfigure the history sidebarxx
Comment[zh_CN]=配置历史侧边栏
Comment[zh_TW]=設定歷史紀錄邊列
X-KDE-Keywords=history,expire
X-KDE-Keywords[bg]=история,изтичане,history,expire
X-KDE-Keywords[bs]=history,expire
X-KDE-Keywords[ca]=historial,expira
X-KDE-Keywords[ca@valencia]=historial,expira
X-KDE-Keywords[cs]=historie,vypršet
X-KDE-Keywords[da]=historik,udløb
X-KDE-Keywords[de]=History,Verlauf,veralten,ablaufen
X-KDE-Keywords[el]=ιστορικό,λήξη
X-KDE-Keywords[es]=historial,expiración
X-KDE-Keywords[et]=ajalugu,aegumine
X-KDE-Keywords[fi]=historia,vanhentuminen
X-KDE-Keywords[fr]=historique, expiration
X-KDE-Keywords[ga]=stair,caite,as feidhm,téigh as feidhm
X-KDE-Keywords[gl]=historial,caducar,expirar
X-KDE-Keywords[hu]=előzmények,lejárat
X-KDE-Keywords[ia]=historia,expira
X-KDE-Keywords[it]=cronologia,scadenza
X-KDE-Keywords[kk]=history,expire
X-KDE-Keywords[km]=ប្រវត្តិ ផុត​កំណត់
X-KDE-Keywords[ko]=history,expire,과거 기록,히스토리,만료
X-KDE-Keywords[lt]=istorija,nebegalioti
X-KDE-Keywords[lv]=vēsture,termiņš
X-KDE-Keywords[nb]=historie,utdatere
X-KDE-Keywords[nds]=Vörgeschicht,aflopen,Afloop
X-KDE-Keywords[nl]=geschiedenis,verlopen
X-KDE-Keywords[pa]=ਅਤੀਤ,ਮਿਆਦ ਪੁੱਗੀ
X-KDE-Keywords[pl]=historia,wygaśnięcie
X-KDE-Keywords[pt]=histórico,expiração
X-KDE-Keywords[pt_BR]=histórico,expiração
X-KDE-Keywords[ro]=istoric,expirare
X-KDE-Keywords[ru]=history,expire,журнал,история,устаревание
X-KDE-Keywords[sk]=história,expirácia
X-KDE-Keywords[sl]=zgodovina,poteče
X-KDE-Keywords[sr]=history,expire,историјат,истицање
X-KDE-Keywords[sr@ijekavian]=history,expire,историјат,истицање
X-KDE-Keywords[sr@ijekavianlatin]=history,expire,istorijat,isticanje
X-KDE-Keywords[sr@latin]=history,expire,istorijat,isticanje
X-KDE-Keywords[sv]=historik,utgå
X-KDE-Keywords[tr]=geçmiş,zamanaşımı
X-KDE-Keywords[uk]=history,expire,журнал,старий,застарівання,вилучення
X-KDE-Keywords[wa]=istwere,espirer,espiraedje
X-KDE-Keywords[x-test]=xxhistory,expirexx
X-KDE-Keywords[zh_CN]=history,expire,历史,过期
X-KDE-Keywords[zh_TW]=history,expire
Categories=Qt;KDE;X-KDE-settings-webbrowsing;
