[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=Kerfuffle/Plugin
X-KDE-Library=kerfuffle_libbz2
X-KDE-PluginInfo-Author=Raphael Kubo da Costa
X-KDE-PluginInfo-Email=rakuco@FreeBSD.org
X-KDE-PluginInfo-Name=kerfuffle_libbz2
X-KDE-PluginInfo-Version=0.0.1
X-KDE-PluginInfo-Website=http://www.kde.org
X-KDE-PluginInfo-License=BSD
X-KDE-Priority=100
X-KDE-Kerfuffle-APIRevision=1
#X-KDE-Kerfuffle-ReadWrite=true
Name=kerfuffle_libbz2
Name[ar]=kerfuffle_libbz2
Name[ast]=kerfuffle_libbz2
Name[bs]=kerfuffle_libbz2
Name[ca]=kerfuffle_libbz2
Name[ca@valencia]=kerfuffle_libbz2
Name[cs]=kerfuffle_libbz2
Name[da]=kerfuffle_libbz2
Name[de]=kerfuffle_libbz2
Name[el]=kerfuffle_libbz2
Name[en_GB]=kerfuffle_libbz2
Name[es]=kerfuffle_libbz2
Name[et]=kerfuffle_libbz2
Name[eu]=kerfuffle_libbz2
Name[fi]=kerfuffle_libbz2
Name[fr]=kerfuffle_libbz2
Name[ga]=kerfuffle_libbz2
Name[gl]=kerfuffle_libbz2
Name[hr]=kerfuffle_libbz2
Name[hu]=kerfuffle_libbz2
Name[ia]=kerfuffle_libbz2
Name[id]=kerfuffle_libbz2
Name[it]=kerfuffle_libbz2
Name[ja]=kerfuffle_libbz2
Name[kk]=kerfuffle_libbz2
Name[km]=kerfuffle_libbz2
Name[ko]=kerfuffle_libbz2
Name[lt]=kerfuffle_libbz2
Name[lv]=kerfuffle_libbz2
Name[mr]=कर्फफल_लिब-बिझेड२
Name[nb]=kerfuffle_libbz2
Name[nds]=kerfuffle_libbz2
Name[nl]=kerfuffle_libbz2
Name[nn]=kerfuffle_libbz2
Name[pa]=kerfuffle_libbz2
Name[pl]=kerfuffle_libbz2
Name[pt]=kerfuffle_libbz2
Name[pt_BR]=kerfuffle_libbz2
Name[ro]=kerfuffle_libbz2
Name[ru]=kerfuffle_libbz2
Name[sk]=kerfuffle_libbz2
Name[sl]=kerfuffle_libbz2
Name[sq]=kerfuffle_libbz2
Name[sr]=kerfuffle_libbz2
Name[sr@ijekavian]=kerfuffle_libbz2
Name[sr@ijekavianlatin]=kerfuffle_libbz2
Name[sr@latin]=kerfuffle_libbz2
Name[sv]=Kerfuffle Libbz2
Name[th]=kerfuffle_libbz2
Name[tr]=kerfuffle_libbz2
Name[uk]=kerfuffle_libbz2
Name[wa]=kerfuffle_libbz2
Name[x-test]=xxkerfuffle_libbz2xx
Name[zh_CN]=kerfuffle_libbz2
Name[zh_TW]=kerfuffle_libbz2
Comment=libbz2 plugin for Kerfuffle
Comment[ar]=ملحق libbz2 لـ Kerfuffle
Comment[ast]=Complementu libbz2 pa Kerfuffle
Comment[bs]=Priključak libbz2 za Kerfafl
Comment[ca]=Connector del libbz2 pel Kerfuffle
Comment[ca@valencia]=Connector del libbz2 pel Kerfuffle
Comment[cs]=libbz2 modul pro Kerfuffle
Comment[da]=libbz2-plugin til Kerfuffle
Comment[de]=libgz2-Modul für Kerfuffle
Comment[el]=πρόσθετο libz2 για τo Kerfuffle
Comment[en_GB]=libbz2 plugin for Kerfuffle
Comment[es]=Complemento libbz2 para Kerfuffle
Comment[et]=Kerfuffle'i libbz2 plugin
Comment[eu]=Kerfuffle-rentzako libbz2 plugina
Comment[fi]=libbz2-pakkaustuki
Comment[fr]=Module externe « libbz2 » pour Kerfuffle
Comment[ga]=Breiseán libgz le haghaidh Kerfuffle
Comment[gl]=Extensión de libbz2 para Kerfuffle
Comment[hr]=Priključak libbz2 za Kerfuffle
Comment[hu]=Libbz2 Kerfuffle-modul
Comment[ia]=plugin de libbz2 per Kerfuffle
Comment[id]=Pengaya libbz2 untuk Kerfuffle
Comment[it]=Estensione libbz2 per Kerfuffle
Comment[ja]=Kerfuffle のための libgz2 プラグイン
Comment[kk]=Kerfuffle-ге арналған libbz2 плагині
Comment[km]=កម្មវិធី​ជំនួយ libbz2 សម្រាប់ Kerfuffle
Comment[ko]=Kerfuffle을 위한 libbz2 플러그인
Comment[lt]=libbz2 Kerfuffle priedas
Comment[lv]=Kerfuffle libz2 spraudnis
Comment[mr]=कर्फफल करिता लिब-बिझेड२ प्लगइन
Comment[nb]=libbz2 pprogramtillegg for Kerfuffle
Comment[nds]=Libbz2-Moduul för Kerfuffle
Comment[nl]=libbz2 plug-in voor Kerfuffle
Comment[nn]=libzip2-programtillegg til Kerfuffle
Comment[pl]=wtyczka libbz2 dla Kerfuffle
Comment[pt]='Plugin' da 'libbz2' para o Kerfuffle
Comment[pt_BR]=Plugin libbz2 para o Kerfuffle
Comment[ro]=Modul libbz2 pentru Kerfuffle
Comment[ru]=Модуль libbz2 для Kerfuffle
Comment[sk]=libbz2 modul pre Kerfuffle
Comment[sl]=Vstavek libbz2 za Kerfuffle
Comment[sq]=libbz2 plugin për Kerfuffle
Comment[sr]=Прикључак libbz2 за Керфафл
Comment[sr@ijekavian]=Прикључак libbz2 за Керфафл
Comment[sr@ijekavianlatin]=Priključak libbz2 za Kerfuffle
Comment[sr@latin]=Priključak libbz2 za Kerfuffle
Comment[sv]=Libbz2-insticksprogram för Kerfuffle
Comment[th]=ส่วนเสริมของ Kerfuffle สำหรับใช้งานไลบรารี libbz2
Comment[tr]=Kerfuffle için libbz2 eklentisi
Comment[uk]=Додаток libbz2 для Kerfuffle
Comment[x-test]=xxlibbz2 plugin for Kerfufflexx
Comment[zh_CN]=Kerfuffle 的 libbz2 插件
Comment[zh_TW]=Kerfuffle 的 libbz2 外掛程式
MimeType=application/x-bzip;
