[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=Kerfuffle/Plugin
X-KDE-Library=kerfuffle_libgz
X-KDE-PluginInfo-Author=Harald Hvaal
X-KDE-PluginInfo-Email=haraldhv@stud.ntnu.no
X-KDE-PluginInfo-Name=kerfuffle_libgz
X-KDE-PluginInfo-Version=0.0.1
X-KDE-PluginInfo-Website=http://www.kde.org
X-KDE-PluginInfo-License=BSD
X-KDE-Priority=100
X-KDE-Kerfuffle-APIRevision=1
#X-KDE-Kerfuffle-ReadWrite=true
Name=kerfuffle_libgz
Name[ar]=kerfuffle_libgz
Name[ast]=krfuffle_libgz
Name[bg]=kerfuffle_libgz
Name[bs]=kerfuffle_libgz
Name[ca]=kerfuffle_libgz
Name[ca@valencia]=kerfuffle_libgz
Name[cs]=kerfuffle_libgz
Name[da]=kerfuffle_libgz
Name[de]=kerfuffle_libgz
Name[el]=kerfuffle_libgz
Name[en_GB]=kerfuffle_libgz
Name[es]=kerfuffle_libgz
Name[et]=kerfuffle_libgz
Name[eu]=kerfuffle_libgz
Name[fi]=kerfuffle_libgz
Name[fr]=kerfuffle_libgz
Name[ga]=kerfuffle_libgz
Name[gl]=kerfuffle_libgz
Name[hne]=करफुफल_लिबजीजेड
Name[hr]=kerfuffle_libgz
Name[hu]=kerfuffle_libgz
Name[ia]=kerfuffle_libgz
Name[id]=kerfuffle_libgz
Name[it]=kerfuffle_libgz
Name[ja]=kerfuffle_libgz
Name[kk]=kerfuffle_libgz
Name[km]=kerfuffle_libgz
Name[ko]=kerfuffle_libgz
Name[lt]=kerfuffle_libgz
Name[lv]=kerfuffle_libgz
Name[mr]=कर्फफल_लिब-जिझेड
Name[nb]=kerfuffle_libgz
Name[nds]=kerfuffle_libgz
Name[nl]=kerfuffle_libgz
Name[nn]=kerfuffle_libgz
Name[pa]=kerfuffle_libgz
Name[pl]=kerfuffle_libgz
Name[pt]=kerfuffle_libgz
Name[pt_BR]=kerfuffle_libgz
Name[ro]=kerfuffle_libgz
Name[ru]=kerfuffle_libgz
Name[sk]=kerfuffle_libgz
Name[sl]=kerfuffle_libgz
Name[sq]=kerfuffle_libgz
Name[sr]=kerfuffle_libgz
Name[sr@ijekavian]=kerfuffle_libgz
Name[sr@ijekavianlatin]=kerfuffle_libgz
Name[sr@latin]=kerfuffle_libgz
Name[sv]=Kerfuffle Libgz
Name[th]=kerfuffle_libgz
Name[tr]=kerfuffle_libgz
Name[uk]=kerfuffle_libgz
Name[wa]=kerfuffle_libgz
Name[x-test]=xxkerfuffle_libgzxx
Name[zh_CN]=kerfuffle_libgz
Name[zh_TW]=kerfuffle_libgz
Comment=libgz plugin for Kerfuffle
Comment[ar]=ملحقlibgz لـ Kerfuffle
Comment[ast]=Aplicación libgz pa Kerfuffle
Comment[bg]=Приствка libgz за Kerfuffle
Comment[bs]=Priključak libgz za Kerfafl
Comment[ca]=Connector del libgz pel Kerfuffle
Comment[ca@valencia]=Connector del libgz pel Kerfuffle
Comment[cs]=libgz modul pro Kerfuffle
Comment[da]=libgz-plugin til Kerfuffle
Comment[de]=libgz-Modul für Kerfuffle
Comment[el]=πρόσθετο libgz για τη Kerfuffle
Comment[en_GB]=libgz plugin for Kerfuffle
Comment[es]=Complemento libgz para Kerfuffle
Comment[et]=Kerfuffle'i libgz plugin
Comment[eu]=Kerfuffle-rentzako libgz plugina
Comment[fi]=libgz-pakkaustuki
Comment[fr]=Module externe « libgz » pour Kerfuffle
Comment[ga]=Breiseán libgz le haghaidh Kerfuffle
Comment[gl]=Extensión de libgz para Kerfuffle
Comment[hne]=करफुफल बर लिबजीजेड प्लगइन
Comment[hr]=Priključak libgz za Kerfuffle
Comment[hu]=Libgz Kerfuffle-modul
Comment[ia]=plugin de libgz per Kerfuffle
Comment[id]=Pengaya libgz untuk Kerfuffle
Comment[it]=Estensione libgz per Kerfuffle
Comment[ja]=Kerfuffle のための libgz プラグイン
Comment[kk]=Kerfuffle-ге арналған libgz плагині
Comment[km]=កម្មវិធី​ជំនួយ libgz សម្រាប់ Kerfuffle
Comment[ko]=Kerfuffle을 위한 libgz 플러그인
Comment[lt]=libgz Kerfuffle priedas
Comment[lv]=Kerfuffle libgz spraudnis
Comment[mr]=कर्फफल करिता लिब-जिझेड प्लगइन
Comment[nb]=libgz pprogramtillegg for Kerfuffle
Comment[nds]=Libgz-Moduul för Kerfuffle
Comment[nl]=libgz-plug-in voor Kerfuffle
Comment[nn]=libgz-programtillegg til Kerfuffle
Comment[pl]=wtyczka libgz dla Kerfuffle
Comment[pt]='Plugin' da 'libgz' para o Kerfuffle
Comment[pt_BR]=Plugin libgz para a Kerfuffle
Comment[ro]=Modul libgz pentru Kerfuffle
Comment[ru]=Модуль libgz для Kerfuffle
Comment[sk]=libgz modul pre Kerfuffle
Comment[sl]=Vstavek libgz za Kerfuffle
Comment[sq]=libgz plugin për Kerfuffle
Comment[sr]=Прикључак libgz за Керфафл
Comment[sr@ijekavian]=Прикључак libgz за Керфафл
Comment[sr@ijekavianlatin]=Priključak libgz za Kerfuffle
Comment[sr@latin]=Priključak libgz za Kerfuffle
Comment[sv]=Libgz-insticksprogram för Kerfuffle
Comment[th]=ส่วนเสริมของ Kerfuffle สำหรับใช้งานไลบรารี libgz
Comment[tr]=Kerfuffle için libgz eklentisi
Comment[uk]=Додаток libgz для Kerfuffle
Comment[x-test]=xxlibgz plugin for Kerfufflexx
Comment[zh_CN]=Kerfuffle 的 libgz 插件
Comment[zh_TW]=Kerfuffle 的 libgz 外掛程式
MimeType=application/x-gzip;
