[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=Kerfuffle/Plugin
X-KDE-Library=kerfuffle_libxz
X-KDE-PluginInfo-Author=Raphael Kubo da Costa
X-KDE-PluginInfo-Email=rakuco@FreeBSD.org
X-KDE-PluginInfo-Name=kerfuffle_libxz
X-KDE-PluginInfo-Version=0.0.1
X-KDE-PluginInfo-Website=http://www.kde.org
X-KDE-PluginInfo-License=BSD
X-KDE-Priority=100
X-KDE-Kerfuffle-APIRevision=1
#X-KDE-Kerfuffle-ReadWrite=true
Name=kerfuffle_libxz
Name[ar]=kerfuffle_libxz
Name[ast]=kerfuffle_libxz
Name[bs]=kerfuffle_libxz
Name[ca]=kerfuffle_libxz
Name[ca@valencia]=kerfuffle_libxz
Name[cs]=kerfuffle_libxz
Name[da]=kerfuffle_libxz
Name[de]=kerfuffle_libxz
Name[el]=kerfuffle_libxz
Name[en_GB]=kerfuffle_libxz
Name[es]=kerfuffle_libxz
Name[et]=kerfuffle_libxz
Name[eu]=kerfuffle_libxz
Name[fi]=kerfuffle_libxz
Name[fr]=kerfuffle_libxz
Name[ga]=kerfuffle_libxz
Name[gl]=kerfuffle_libxz
Name[hr]=kerfuffle_libxz
Name[hu]=kerfuffle_libxz
Name[ia]=kerfuffle_libxz
Name[id]=kerfuffle_libxz
Name[it]=kerfuffle_libxz
Name[ja]=kerfuffle_libxz
Name[kk]=kerfuffle_libxz
Name[km]=kerfuffle_libxz
Name[ko]=kerfuffle_libxz
Name[lt]=kerfuffle_libxz
Name[lv]=kerfuffle_libxz
Name[mr]=कर्फफल_लिब-एक्सझेड
Name[nb]=kerfuffle_libxz
Name[nds]=kerfuffle_libxz
Name[nl]=kerfuffle_libxz
Name[nn]=kerfuffle_libxz
Name[pa]=kerfuffle_libxz
Name[pl]=kerfuffle_libxz
Name[pt]=kerfuffle_libxz
Name[pt_BR]=kerfuffle_libxz
Name[ro]=kerfuffle_libxz
Name[ru]=kerfuffle_libxz
Name[sk]=kerfuffle_libxz
Name[sl]=kerfuffle_libxz
Name[sq]=kerfuffle_libxz
Name[sr]=kerfuffle_libxz
Name[sr@ijekavian]=kerfuffle_libxz
Name[sr@ijekavianlatin]=kerfuffle_libxz
Name[sr@latin]=kerfuffle_libxz
Name[sv]=Kerfuffle Libxz
Name[th]=kerfuffle_libxz
Name[tr]=kerfuffle_libxz
Name[uk]=kerfuffle_libxz
Name[wa]=kerfuffle_libxz
Name[x-test]=xxkerfuffle_libxzxx
Name[zh_CN]=kerfuffle_libxz
Name[zh_TW]=kerfuffle_libxz
Comment=libxz plugin for Kerfuffle
Comment[ar]=ملحقlibxz لـ Kerfuffle
Comment[ast]=Complementu libxz pa Kerfuffle
Comment[bs]=Priključak libxz za Kerfafl
Comment[ca]=Connector del libxz pel Kerfuffle
Comment[ca@valencia]=Connector del libxz pel Kerfuffle
Comment[cs]=libxz modul pro Kerfuffle
Comment[da]=libxz-plugin til Kerfuffle
Comment[de]=libxz-Modul für Kerfuffle
Comment[el]=πρόσθετο libxz για τo Kerfuffle
Comment[en_GB]=libxz plugin for Kerfuffle
Comment[es]=Complemento libxz para Kerfuffle
Comment[et]=Kerfuffle'i libxz plugin
Comment[eu]=Kerfuffle-rentzako libxz plugina
Comment[fi]=libxz-pakkaustuki
Comment[fr]=Module externe « libxz » pour Kerfuffle
Comment[ga]=Breiseán libxz le haghaidh Kerfuffle
Comment[gl]=Extensión de libxz para Kerfuffle
Comment[hr]=Priključak libxz za Kerfuffle
Comment[hu]=Libxz Kerfuffle-modul
Comment[ia]=plugin de libxz per Kerfuffle
Comment[id]=Pengaya libxz untuk Kerfuffle
Comment[it]=Estensione libxz per Kerfuffle
Comment[ja]=Kerfuffle のための libxz プラグイン
Comment[kk]=Kerfuffle-ге арналған libxz плагині
Comment[km]=កម្មវិធី​ជំនួយ​ libxz សម្រាប់ Kerfuffle
Comment[ko]=Kerfuffle을 위한 libxz 플러그인
Comment[lt]=libxz Kerfuffle priedas
Comment[lv]=Kerfuffle libxz spraudnis
Comment[mr]=कर्फफल करिता लिब-एक्सझेड प्लगइन
Comment[nb]=libxz pprogramtillegg for Kerfuffle
Comment[nds]=Libxz-Moduul för Kerfuffle
Comment[nl]=libxz plug-in voor Kerfuffle
Comment[nn]=libxz-programtillegg til Kerfuffle
Comment[pl]=wtyczka libxz dla Kerfuffle
Comment[pt]='Plugin' da 'libxz' para o Kerfuffle
Comment[pt_BR]=Plugin libxz para o Kerfuffle
Comment[ro]=Modul libxz pentru Kerfuffle
Comment[ru]=Модуль libxz для Kerfuffle
Comment[sk]=libxz modul pre Kerfuffle
Comment[sl]=Vstavek libxz za Kerfuffle
Comment[sq]=libxz plugin për Kerfuffle
Comment[sr]=Прикључак libxz за Керфафл
Comment[sr@ijekavian]=Прикључак libxz за Керфафл
Comment[sr@ijekavianlatin]=Priključak libxz za Kerfuffle
Comment[sr@latin]=Priključak libxz za Kerfuffle
Comment[sv]=Libxz-insticksprogram för Kerfuffle
Comment[th]=ส่วนเสริมของ Kerfuffle สำหรับใช้งานไลบรารี libxz
Comment[tr]=Kerfuffle için libxz eklentisi
Comment[uk]=Додаток libxz для Kerfuffle
Comment[x-test]=xxlibxz plugin for Kerfufflexx
Comment[zh_CN]=Kerfuffle 的 libxz 插件
Comment[zh_TW]=Kerfuffle 的 libxz 外掛程式
MimeType=application/x-lzma;application/x-xz;
