[Desktop Entry]
Name=KFileModule
Name[ar]=KFileModule
Name[ast]=KFileModule
Name[bg]=Модул KFile
Name[bn]=কে-ফাইল মডিইল
Name[bs]=KFileModule
Name[ca]=KFileModule
Name[ca@valencia]=KFileModule
Name[cs]=Modul KFile
Name[da]=KFileModule
Name[de]=KFile-Modul
Name[el]=Άρθρωμα KFile
Name[en_GB]=KFileModule
Name[es]=KFileModule
Name[et]=KFileModule
Name[eu]=KFileModulua
Name[fa]=KFileModule
Name[fi]=KFileModule
Name[fr]=KFileModule
Name[ga]=KFileModule
Name[gl]=KFileModule
Name[gu]=KFile મોડ્યુલ
Name[he]=מודול KFile
Name[hi]=KFileModule
Name[hr]=KModulDatoteke
Name[hu]=KFileModule
Name[hy]=KFileModule
Name[ia]=Modulo KFile
Name[id]=KFileModule
Name[is]=KFile eining
Name[it]=Modulo KFile
Name[ja]=KFile モジュール
Name[kk]=KFileModule
Name[km]=KFileModule
Name[kn]=KFileModule
Name[ko]=KFileModule
Name[ku]=ModûlaKFile
Name[lt]=KFileModulis
Name[lv]=KFileModule
Name[mr]=KFile विभाग
Name[ms]=KFileModule
Name[nb]=KFileModule
Name[nds]=K-Dateimoduul
Name[nl]=KFileModule
Name[nn]=KFileModule
Name[pa]=KFileModule
Name[pl]=Moduł KFile
Name[pt]=KFileModule
Name[pt_BR]=KFileModule
Name[ro]=KFileModule
Name[ru]=KFileModule
Name[se]=KFileModule
Name[si]=KDED මොඩියුලය
Name[sk]=KFile modul
Name[sl]=Modul KFile
Name[sr]=Модул к‑фајла
Name[sr@ijekavian]=Модул к‑фајла
Name[sr@ijekavianlatin]=Modul KFilea
Name[sr@latin]=Modul KFilea
Name[sv]=Kfil-modul
Name[ta]=KFileModule
Name[tg]=KFileModule
Name[th]=KFileModule
Name[tr]=KFile Modülü
Name[tt]=KFileModule
Name[ug]=KFile بۆلىكى
Name[uk]=KFileModule
Name[vi]=KFileModule
Name[wa]=Module KFile
Name[x-test]=xxKFileModulexx
Name[zh_CN]=KFile 模块
Name[zh_TW]=KFile 模組
Comment=The default KDE file module providing the standard file dialog
Comment[ar]=وحدة ملف كدي الافتراضية التي تعطي مربع الملف القياسي
Comment[bg]=Подразбиращият се файлов модул на KDE, осигуряващ стандартния диалогов прозорец за файлове
Comment[bs]=Podrazumijevani KDE‑ov modul datoteka koji daje standardnu datoteku dijalog
Comment[ca]=El mòdul de fitxers per defecte del KDE que proporciona el diàleg de fitxer estàndard
Comment[ca@valencia]=El mòdul de fitxers per defecte del KDE que proporciona el diàleg de fitxer estàndard
Comment[cs]=Výchozí souborový modul poskytující standardní souborový dialog
Comment[da]=KDE's standard filmodul som giver standard fildialogen
Comment[de]=Das Standard-KDE-Dateimodul, das den Standard-Dateidialog bereitstellt
Comment[el]=Το προεπιλεγμένο άρθρωμα KDE που παρέχει τον τυπικό διάλογο αρχείων
Comment[en_GB]=The default KDE file module providing the standard file dialogue
Comment[es]=El módulo de archivos por omisión de KDE que proporciona el diálogo de archivos estándar
Comment[et]=KDE vaikimisi failimoodul, mis pakub standardset failidialoogi
Comment[eu]=Fitxategi elkarrizketa koadro estandarra eskeintzen duen KDE fitxategi modulu lehenetsia
Comment[fi]=KDE:n oletustiedostoikkunan toteuttava moduuli
Comment[fr]=Le module de fichiers KDE par défaut fournissant la boîte de dialogue standard d'ouverture de fichiers
Comment[ga]=Modúl réamhshocraithe comhad KDE a sholáthraíonn an gnáthdhialóg comhad
Comment[gl]=O módulo predeterminado de KDE para ficheiros, que fornece o diálogo normal de ficheiros
Comment[gu]=પ્રમાણભૂત ફાઇલ સંવાદ પૂરું પાડતું મૂળભૂત KDE ફાઇલ મોડ્યુલ
Comment[he]=מודול ברירת מחדל של KDE המספק את חלון הקבצים
Comment[hr]=Uobičajeni KDE modul za datoteke koji pruža standardni dijalog
Comment[hu]=A KDE alapértelmezett, standard fájlkezelő ablakait tartalmazó modul
Comment[ia]=Le modulo KDEFile predefinite que forni le file standard de dialogo
Comment[id]=Modul berkas KDE standar menyediakan dialog berkas standar
Comment[is]=Sjálfgefna KDE skráareiningin sem sér um staðlaða skráagluggann
Comment[it]=Il modulo file standard di KDE che fornisce la finestra di dialogo per i file
Comment[ja]=標準のファイル選択ダイアログを提供する KDE の標準ファイルモジュール
Comment[kk]=Стандартты файл диалогын қамтамасыз ететін KDE файл модулі
Comment[km]=ម៉ូឌុល​ឯកសារ KDE លំនាំដើម​ផ្ដល់​នូវ​ប្រអប់​ឯកសារ​ស្តង់ដារ
Comment[ko]=표준 파일 대화상자를 제공하는 기본 KDE 파일 모듈
Comment[ku]=KDE modula pelê ya standard, paceya pelê ya standard peyde dike
Comment[lt]=Numatytasis KDE failų dialogo modulis
Comment[lv]=Noklusētais KDE failu modulis, kas nodrošina standarta failu dialogu
Comment[mr]=प्रमाणित फाईल संवाद पुरवणारा मूलभूत केडीई फाईल विभाग 
Comment[nb]=KDE standard filmodul som skaffer standard fildialog
Comment[nds]=Dat KDE-Standarddateimoduul, dat den Standard-Dateidialoog praatstellt
Comment[nl]=De standaard KDE-bestandsmodule die de standaard bestandsdialoog levert
Comment[nn]=Standard KDE-filmodul for opna/lagra-vindauge
Comment[pa]=ਡਿਫਾਲਟ KDE ਫਾਇਲ ਮੋਡੀਊਲ ਸਟੈਂਡਰਡ ਫਾਇਲ ਡਾਈਲਾਗ ਦਿੰਦਾ ਹੈ
Comment[pl]=Domyślny moduł plików KDE dostarczający standardowe okno dialogowe plików
Comment[pt]=O módulo de ficheiros predefinido do KDE, que fornece a janela de ficheiros normal
Comment[pt_BR]=O módulo de arquivos padrão do KDE, que fornece o diálogo de arquivos padronizado
Comment[ro]=Modulul de fișier KDE implicit, furnizînd dialogul standard de fișiere
Comment[ru]=Модуль по умолчанию диалогового окна выбора файла
Comment[se]=Standárda KDE-fiilamodula mii sisttisdoallá standárdafiilaláseža
Comment[sk]=Štandardný súborový modul KDE, ktorý poskytuje štandardný súborový dialóg
Comment[sl]=Privzeti modul KDE za datoteke, ki ponuja standardno pogovorno okno za datoteke
Comment[sr]=Подразумевани КДЕ‑ов модул фајлова који даје стандардни фајл дијалог
Comment[sr@ijekavian]=Подразумијевани КДЕ‑ов модул фајлова који даје стандардни фајл дијалог
Comment[sr@ijekavianlatin]=Podrazumijevani KDE‑ov modul fajlova koji daje standardni fajl dijalog
Comment[sr@latin]=Podrazumevani KDE‑ov modul fajlova koji daje standardni fajl dijalog
Comment[sv]=KDE:s standardmodul för filer som tillhandahåller standarddialogrutan för filer
Comment[ta]=வழக்கமான கோப்பு பலகத்தை தரும் கேடீயீயின் இயல்பிருப்பு கோப்பு பாகம்
Comment[tg]=Файли стандартии модули KDE барои намоиши диалогҳо
Comment[th]=มอดูลแฟ้มโดยปริยายของ KDE ที่ให้การใช้งานกล่องแฟ้มต่าง ๆ ที่เป็นมาตรฐาน
Comment[tr]=Standart dosya penceresini sağlayan KDE öntanımlı dosya modülü
Comment[tt]=Баштан ук билгеләнгән файл сайлау диалог тәрәзәсе модуле
Comment[ug]=سۈكۈتتىكى KDE ھۆججەت بۆلىكى ئۆلچەملىك ھۆججەت سۆزلەشكۈ تەمىنلىدى
Comment[uk]=Типовий модуль KDE, що забезпечує роботу стандартного діалогового вікна роботи з файлами
Comment[vi]=Mô-đun tập tin KDE mặc định cung cấp hộp thoại tập tin chuẩn
Comment[wa]=Li module fitchî prémetou di KDE et ki dene li dvize di fitchî standård
Comment[x-test]=xxThe default KDE file module providing the standard file dialogxx
Comment[zh_CN]=默认 KDE 文件模块提供了标准的文件对话框
Comment[zh_TW]=預設的 KDE 檔案模組，提供標準檔案對話框
X-KDE-ServiceTypes=KIO/FileModule
Type=Service
X-KDE-Library=kfilemodule

