[Desktop Entry]
Name=KHelpCenter
Name[af]=Khulpsentrum
Name[ar]=مركز المساعدة في كدي
Name[ast]=KHelpcenter
Name[be]=Цэнтр дапамогі KDE
Name[be@latin]=KHelpCenter
Name[bg]=Помощен център
Name[bn]=KHelpCenter
Name[bn_IN]=KHelpCenter
Name[br]=KHelpCenter
Name[bs]=K‑centar-pomoći
Name[ca]=KHelpCenter
Name[ca@valencia]=KHelpCenter
Name[cs]=Centrum nápovědy
Name[csb]=Centróm Pòmòcë
Name[cy]=KCanolfanCymorth
Name[da]=KHjælpecenter
Name[de]=KDE-Hilfezentrum
Name[el]=KHelpCenter
Name[en_GB]=KHelpCentre
Name[eo]=KHelpCenter
Name[es]=KHelpcenter
Name[et]=KDE abikeskus
Name[eu]=KHelpCenter
Name[fa]=KHelpCenter
Name[fi]=KHelpCenter
Name[fr]=Centre d'aide de KDE
Name[fy]=KHelpCenter
Name[ga]=KHelpCenter
Name[gl]=Centro de axuda de KDE
Name[gu]=KHelpCenter
Name[he]=KHelpCenter
Name[hi]=के-हेल्प-सेंटर
Name[hne]=के-हेल्प-सेंटर
Name[hr]=KHelpCenter
Name[hsb]=KHelpCenter (pomhanišćo)
Name[hu]=KHelpCenter
Name[ia]=KHelpCenter
Name[id]=KHelpCenter
Name[is]=Hjálparkerfi KDE
Name[it]=KHelpCenter
Name[ja]=K ヘルプセンター
Name[ka]=KHelpCenter
Name[kk]=KHelpCenter
Name[km]=KHelpCenter
Name[kn]=ಕೆಹೆಲ್ಪ್ ಸೆಂಟರ್
Name[ko]=KHelpCenter
Name[ku]=KHelpCenter
Name[lt]=KHelpCenter
Name[lv]=KHelpCenter
Name[mai]=के-हेल्प-सेंटर
Name[mk]=KHelpCenter
Name[ml]=സഹായകേന്ദ്രം
Name[mr]=के-हेल्प-सेंटर
Name[ms]=KHelpCenter
Name[nb]=KHelpCenter
Name[nds]=KDE-Hülpzentrum
Name[ne]=केडीई मद्दत केन्द्र
Name[nl]=KHelpCenter
Name[nn]=KHelpCenter
Name[oc]=KHelpCenter
Name[or]=Kସହାୟତା କେନ୍ଦ୍ର
Name[pa]=ਕੇ-ਮੱਦਦਸੈਂਟਰ
Name[pl]=Centrum Pomocy
Name[pt]=KHelpCenter
Name[pt_BR]=KHelpCenter
Name[ro]=Centrul de ajutor KDE
Name[ru]=Центр справки
Name[se]=KHelpCenter
Name[si]=KHelpCenter
Name[sk]=KHelpCenter
Name[sl]=KHelpCenter
Name[sr]=К‑центар-помоћи
Name[sr@ijekavian]=К‑центар-помоћи
Name[sr@ijekavianlatin]=K‑centar-pomoći
Name[sr@latin]=K‑centar-pomoći
Name[sv]=Hjälpcentralen
Name[ta]=Kஉதவிமையம்
Name[te]=కెసహాయ కేంద్రం
Name[tg]=Маркази роҳнамои KDE
Name[th]=ศูนย์ช่วยเหลือ-K
Name[tr]=KHelpCenter
Name[ug]=KHelpCenter
Name[uk]=KHelpCenter
Name[uz]=Yordam markazi
Name[uz@cyrillic]=Ёрдам маркази
Name[vi]=Trung tâm Trợ giúp KDE
Name[wa]=KCinte d' aidance
Name[xh]=KHelpCenter
Name[x-test]=xxKHelpCenterxx
Name[zh_CN]=KHelpcenter
Name[zh_TW]=KHelpCenter
Comment=The KDE Help Center
Comment[af]=Die Kde Hulp Sentrum
Comment[ar]=مركز كدي للمساعدة
Comment[ast]=El centru d'ayuda de KDE
Comment[be]=Цэнтр дапамогі KDE
Comment[be@latin]=Centar dapamohi KDE
Comment[bg]=Център за помощна информация
Comment[bn]=কে.ডি.ই. সাহায্য কেন্দ্র
Comment[bn_IN]=KDE সহায়তা কেন্দ্র
Comment[br]=Kreizenn sikour KDE
Comment[bs]=KDE‑ov centar za pomoć
Comment[ca]=El centre d'ajuda KDE
Comment[ca@valencia]=El centre d'ajuda KDE
Comment[cs]=Centrum nápovědy prostředí KDE
Comment[csb]=Centróm Pòmòcë KDE
Comment[cy]=Canolfan Cymorth KDE
Comment[da]=KDE's hjælpecenter
Comment[de]=Das KDE-Hilfezentrum
Comment[el]=Το κέντρο βοήθειας του KDE
Comment[en_GB]=The KDE Help Centre
Comment[eo]=La helpocentro de KDE
Comment[es]=Centro de ayuda de KDE
Comment[et]=KDE abikeskus
Comment[eu]=KDE laguntza gunea
Comment[fa]=مرکز کمک کی‌دی‌ای
Comment[fi]=KDE:n ohjeet
Comment[fr]=Le centre d'aide de KDE
Comment[fy]=It KDE-dokumintaasjesintrum
Comment[ga]=Lárionad Cabhrach KDE
Comment[gl]=O centro de axuda de KDE
Comment[gu]=KDE મદદ કેન્દ્ર
Comment[he]=מרכז העזרה של KDE
Comment[hi]=केडीई मदद केंद्र
Comment[hne]=केडीई मदद केंद्र
Comment[hr]=KDE pomoć
Comment[hsb]=KDE pomhanišćo
Comment[hu]=KDE Súgó
Comment[ia]=Le centro de adjuta de KDE
Comment[id]=Pusat Bantuan KDE
Comment[is]=Hjálparkerfi KDE
Comment[it]=Guida di KDE
Comment[ja]=KDE ヘルプセンター
Comment[ka]=KDE-ს დახმარების ცენტრი
Comment[kk]=KDE анықтама орталығы
Comment[km]=មជ្ឈមណ្ឌល​ជំនួយ​របស់ KDE
Comment[kn]=ಕೆಡಿಇ ಯ ಸಹಾಯ ಕೇಂದ್ರ
Comment[ko]=KDE 도움말 센터
Comment[ku]=Navenda Alîkariya KDE'yê
Comment[lt]=KDE pagalbos centras
Comment[lv]=KDE palīdzības centrs
Comment[mai]=केडीई मद्दति केंद्र
Comment[mk]=KDE Центарот за Помош
Comment[ml]=കെഡിഇ സഹായകേന്ദ്രം
Comment[mr]=केडीई मदत केंद्र
Comment[ms]=Pusat Bantuan KDE
Comment[nb]=KDE Hjelpesenter
Comment[nds]=Dat KDE-Hülpzentrum
Comment[ne]=केडीई मद्दत केन्द्र
Comment[nl]=Het KDE-documentatiecentrum
Comment[nn]=KDE-hjelpesenteret
Comment[or]=KDE ସହାୟତା କେନ୍ଦ୍ର
Comment[pa]=ਕੇਡੀਈ ਮੱਦਦ ਸੈਂਟਰ
Comment[pl]=Centrum Pomocy KDE
Comment[pt]=O Centro de Ajuda do KDE
Comment[pt_BR]=O centro de ajuda do KDE
Comment[ro]=Centrul de ajutor al KDE
Comment[ru]=Центр справки KDE
Comment[se]=KDE veahkkeguovddáš
Comment[si]=KDE උදව් මධ්‍යස්ථානය
Comment[sk]=Centrum pomoci KDE
Comment[sl]=Središče za pomoč v KDE
Comment[sr]=КДЕ‑ов центар за помоћ
Comment[sr@ijekavian]=КДЕ‑ов центар за помоћ
Comment[sr@ijekavianlatin]=KDE‑ov centar za pomoć
Comment[sr@latin]=KDE‑ov centar za pomoć
Comment[sv]=KDE:s hjälpcentral
Comment[ta]=KDE உதவி மையம்
Comment[te]=కెడిఈ సహాయ కేంద్రం
Comment[tg]=Маркази роҳнамои KDE
Comment[th]=ศูนย์ช่วยเหลือของ KDE
Comment[tr]=KDE Yardım Merkezi
Comment[ug]=ك د ئې(KDE) ياردەم مەركىزى
Comment[uk]=Центр довідки KDE
Comment[uz]=KDE yordam markazi
Comment[uz@cyrillic]=KDE ёрдам маркази
Comment[vi]=Trung tâm Trợ giúp KDE
Comment[wa]=Li cinte d' aidance di KDE
Comment[xh]=Umbindi woncedo lwe KDE
Comment[x-test]=xxThe KDE Help Centerxx
Comment[zh_CN]=KDE 帮助中心
Comment[zh_TW]=KDE 求助中心
Icon=help-browser
X-DocPath=khelpcenter/index.html
Type=Service
Terminal=false
Exec=khelpcenter %u
X-KDE-StartupNotify=true
