[Desktop Entry]
Exec=kcmshell4 khotkeys
Icon=preferences-desktop-keyboard-khotkeys
Type=Service
X-KDE-ServiceTypes=KCModule
X-KDE-Library=kcm_hotkeys
X-KDE-PluginKeyword=khotkeys
X-KDE-System-Settings-Parent-Category=shortcuts-and-gestures
X-KDE-ParentApp=kcontrol
X-DocPath=kcontrol/khotkeys/index.html

Name=Custom Shortcuts
Name[ar]=اختصارات مخصصة
Name[ast]=Accesos rápidos personalizaos
Name[bg]=Потребителски бързи клавиши
Name[bn]=নিজস্ব শর্টকাট
Name[bs]=Posebne prečice
Name[ca]=Dreceres personalitzades
Name[ca@valencia]=Dreceres personalitzades
Name[cs]=Vlastní zkratky
Name[da]=Brugervalgte genveje
Name[de]=Eigene Kurzbefehle
Name[el]=Προσαρμοσμένες συντομεύσεις
Name[en_GB]=Custom Shortcuts
Name[es]=Accesos rápidos personalizados
Name[et]=Kohandatud kiirklahvid
Name[eu]=Lasterbide pertsonalizatuak
Name[fi]=Mukautetut pikatoiminnot
Name[fr]=Raccourcis personnalisés
Name[ga]=Aicearraí Saincheaptha
Name[gl]=Atallos personalizados
Name[he]=קיצורי דרך מותאמים אישית
Name[hr]=Prilagođeni prečaci
Name[hu]=Egyedi billentyűparancsok
Name[ia]=Vias breve adaptabile
Name[id]=Jalan Pintas Suai
Name[is]=Sérsniðnar flýtivísanir
Name[it]=Scorciatoie personalizzate
Name[ja]=カスタムショートカット
Name[kk]=Өзінің тіркесімдері
Name[km]=ផ្លូវកាត់​ផ្ទាល់ខ្លួន
Name[kn]=ಇಚ್ಚೆಯ ಶೀಘ್ರಮಾರ್ಗಗಳು (ಶಾರ್ಟ್ ಕಟ್)
Name[ko]=사용자 정의 바로 가기
Name[lt]=Spartieji klavišai
Name[lv]=Pielāgoti īsceļi
Name[mr]=ऐच्छिक शॉर्टकट
Name[nb]=Egendefinerte snarveier
Name[nds]=Egen Tastkombinatschonen
Name[nl]=Aangepaste snelkoppelingen
Name[nn]=Tilpassa snarvegar
Name[pa]=ਪਸੰਦੀਦਾ ਸ਼ਾਰਟਕੱਟ
Name[pl]=Własne skróty
Name[pt]=Atalhos Personalizados
Name[pt_BR]=Atalhos personalizados
Name[ro]=Acceleratori personalizați
Name[ru]=Специальные действия
Name[si]=රිසි කෙටි මං
Name[sk]=Vlastné skratky
Name[sl]=Bližnjice po meri
Name[sr]=Посебне пречице
Name[sr@ijekavian]=Посебне пречице
Name[sr@ijekavianlatin]=Posebne prečice
Name[sr@latin]=Posebne prečice
Name[sv]=Egna webbgenvägar
Name[tg]=Истинодҳои интихобӣ
Name[th]=ทางลัดกำหนดเอง
Name[tr]=Özel Kısayollar
Name[ug]=ئىختىيارى تېزلەتمە
Name[uk]=Нетипові скорочення
Name[vi]=Phím tắt tuỳ chỉnh
Name[wa]=Rascourtis da vosse
Name[x-test]=xxCustom Shortcutsxx
Name[zh_CN]=自定义快捷键
Name[zh_TW]=自訂捷徑

Comment=Configure Input Actions settings
Comment[ar]=اضبط إعدادات إجراءات الإدخال
Comment[ast]=Configuración de les preferencies d'aiciones d'entrada
Comment[bg]=Настройване на входящите действия
Comment[bs]=Podešavanje postavki radnji unosa
Comment[ca]=Configura l'arranjament de les accions d'entrada
Comment[ca@valencia]=Configura l'arranjament de les accions d'entrada
Comment[cs]=Nastavení vstupních činností
Comment[csb]=Kònfigùracëjô dzéjaniów weńdzeniô
Comment[da]=Indstilling af input-handlinger
Comment[de]=Eingabe-Aktionen einrichten
Comment[el]=Διαμόρφωση ενεργειών εισόδου
Comment[en_GB]=Configure Input Actions settings
Comment[eo]=Agordo de enigaj agoj
Comment[es]=Configuración de las preferencias de acciones de entrada
Comment[et]=Sisestustoimingute seadistamine
Comment[eu]=Konfiguratu sarrerako ekintzen ezarpenak
Comment[fi]=Syöttötoimintojen asetukset
Comment[fr]=Configurer les paramètres des actions d'entrée
Comment[fy]=Ynfier aksjes ynstelle
Comment[ga]=Cumraigh socruithe na nGníomhartha Ionchurtha
Comment[gl]=Configura as opcións de entrada
Comment[gu]=ઇનપુટ ક્રિયાઓ રૂપરેખાંકિત કરો
Comment[he]=הגדרות פעולות קלט
Comment[hr]=Konfiguriranje postavki ulaznih akcija
Comment[hu]=A beviteli műveletek beállításai
Comment[ia]=Configura preferentias de actiones de insertar
Comment[id]=Atur pengaturan Aksi Masukan
Comment[is]=Stillingar inntaksaðgerða
Comment[it]=Configura le impostazioni delle azioni di immissione
Comment[ja]=入力アクションの設定
Comment[kk]=Енгізу әрекеттерінің параметрлерін баптау
Comment[km]=កំណត់​រចនាសម្ព័ន្ធ​នៃ​​ការ​កំណត់​សកម្មភាព​បញ្ចូល
Comment[kn]=ಆದಾನ ಕ್ರಿಯೆಗಳ ಸಂಯೋಜನೆಗಳನ್ನು ಸಂರಚಿಸು
Comment[ko]=입력 동작 설정
Comment[lt]=Konfigūruoti įvedimo veiklų nustatymus
Comment[lv]=Konfigurēt ievades darbību iestatījumus
Comment[mk]=Конфигурирајте ги поставувањата за влезни дејства
Comment[ml]=ഇന്‍പുട്ട് പ്രവര്‍ത്തന സജ്ജീകരണങ്ങള്‍ ക്രമീകരിക്കുക
Comment[mr]=इनपुट क्रिया व्यवस्था संयोजीत करा
Comment[nb]=Sett opp innstillinger for inndata-handlinger
Comment[nds]=Instellen för Ingaavakschonen fastleggen
Comment[nl]=Invoeractieinstellingen configureren 
Comment[nn]=Set opp innstillingar for innhandlingar
Comment[pa]=ਇੰਪੁੱਟ ਐਕਸ਼ਨ ਸੈਟਿੰਗ ਸੰਰਚਨਾ
Comment[pl]=Konfiguracja ustawień działań wejścia
Comment[pt]=Configurar as opções das Acções de Entrada
Comment[pt_BR]=Configura as opções das ações de entrada
Comment[ro]=Configurează acțiunile de intrare
Comment[ru]=Настройка способов запуска действий
Comment[si]=ආදාන ක්‍රියා සැකසුම් වෙනස් කරන්න
Comment[sk]=Nastavenie vstupných akcií
Comment[sl]=Nastavi vhodna dejanja
Comment[sr]=Подешавање поставки радњи уноса
Comment[sr@ijekavian]=Подешавање поставки радњи уноса
Comment[sr@ijekavianlatin]=Podešavanje postavki radnji unosa
Comment[sr@latin]=Podešavanje postavki radnji unosa
Comment[sv]=Anpassa inställningar av inmatningsåtgärder
Comment[tg]=Танзимоти сабад
Comment[th]=ปรับแต่งการตั้งค่าการกระทำเพื่อป้อนข้อมูล
Comment[tr]=Girdi Eylemleri ayarlarını yapılandır
Comment[ug]=كىرگۈزۈش مەشغۇلات تەڭشەك سەپلىمىسى
Comment[uk]=Налаштування параметрів дій з вводу
Comment[vi]=Cấu hình các thiết lập cho Hành động nhập
Comment[wa]=Apontyî les tchuzes des Faitindjes èn intrêye
Comment[x-test]=xxConfigure Input Actions settingsxx
Comment[zh_CN]=配置输入动作设置
Comment[zh_TW]=設定輸入動作
Categories=Qt;KDE;X-KDE-settings-accessibility;

X-KDE-Keywords=global,keyboard shortcuts,hot keys,hotkeys,KHotKeys,input actions,mouse gestures,actions,triggers,launch
X-KDE-Keywords[bs]=globalni, prečice na tastaturi, učestale tipke, vreleTipke, kVreleTipke, ulazne akcije, kretnje miša, akcije, pokretanja, lansira
X-KDE-Keywords[ca]=global,dreceres de teclat,dreceres de teclat,hotkeys,KHotKeys,accions d'entrada,gestos del ratolí,accions,activadors,llança
X-KDE-Keywords[ca@valencia]=global,dreceres de teclat,dreceres de teclat,hotkeys,KHotKeys,accions d'entrada,gestos del ratolí,accions,activadors,llança
X-KDE-Keywords[da]=globale,tastaturgenveje,genvejstaster,hotkeys,KHotKeys,input-handlinger,musegestusser,handlinger,udløsere,kør
X-KDE-Keywords[de]=global,tastatur,tastenkürzel,kurzbefehle,hot keys,hotkeys,KHotKeys,eingaben,mausgesten,aktionen,auslöser,starten
X-KDE-Keywords[el]=καθολικές,συντομεύσεις πληκτρολογίου,πλήκτρα συντόμευσης,hotkeys,KHotKeys,ενέργειες δεδομένων εισόδου,νεύματα ποντικιού,ενέργειες,ενεργοποιήσεις,εκτελέσεις
X-KDE-Keywords[es]=global,accesos rápidos de teclado,atajos de teclado,teclas rápidas,KHotKeys,acciones de entrada,gestos del ratón,acciones,disparadores,lanzamiento
X-KDE-Keywords[et]=globaalne,klaviatuur,kiirklahvid,KHotKeys,sisestustoimingud,hiirežestid,toimingud,käivitajad,käivitamine
X-KDE-Keywords[fi]=globaali,työpöydänlaajuinen,pikanäppäimet,näppäimistön pikavalinnat,näppäinyhdistelmät,oikotiet,KHotKeys,syöttötoiminnot,hiirieleet,toiminnot,laukaisimet,käynnistys,pikatoiminnot
X-KDE-Keywords[fr]=global, raccourcis clavier, touches de raccourcis, raccourcis, KHotKeys, actions de saisie, mouvement de la souris, actions, déclencheurs, lancer
X-KDE-Keywords[gl]=global,atallos de teclado,atallo,accións de entrada,acenos co rato,accións,disparadores,iniciar,lanzar
X-KDE-Keywords[hu]=globális,gyorsbillentyűk,gyorsbillentyűk,gyorsbillentyűk,KHotKeys,beviteli műveletek,egérmozdulatok,műveletek,triggerek,indítás
X-KDE-Keywords[ia]=global,vias breve de claviero, claves calide,claves calide,KHotKeys, actiones de ingresso,gestos de mus,actiones,discatenator,lancear
X-KDE-Keywords[it]=globale,scorciatoie di tastiera,scorciatoie,KHotKeys,azioni di immissione,gesti del mouse,azioni,attivazione,avvio
X-KDE-Keywords[kk]=global,keyboard shortcuts,hot keys,hotkeys,KHotKeys,input actions,mouse gestures,actions,triggers,launch
X-KDE-Keywords[km]=global,keyboard shortcuts,hot keys,hotkeys,KHotKeys,input actions,mouse gestures,actions,triggers,launch
X-KDE-Keywords[ko]=global,keyboard shortcuts,hot keys,hotkeys,KHotKeys,input actions,mouse gestures,actions,triggers,launch,전역,단축키,키보드 단축키,입력 동작,제스처,마우스 제스처,동작,트리거,실행
X-KDE-Keywords[mr]=ग्लोबल,  की बोर्ड शॉर्टकटस,हॉट कीज, हॉट कीज, के हॉट कीज, इनपुट क्रिया, माऊस इशारे, क्रिया, ट्रीगर्स, लॉन्च 
X-KDE-Keywords[nb]=global,tastesnarveier,hurtigtaster,KHotKeys,inndata-handlinger,musebevegelser,handlinger,utløsere,oppstart
X-KDE-Keywords[nl]=globaal,toetsenbordsneltoets,hot-keys,hotkeys,KHotKeys,invoeracties,muisbeweging,acties,triggers,opstarten
X-KDE-Keywords[pl]=globalne,skróty klawiaturowe,gorące klawisze,KHotKeys,działania wejścia, gesty myszy,działania,wyzwalacze,uruchomienie
X-KDE-Keywords[pt]=global,atalhos de teclado,KHotKeys,acções de entrada,gestos do rato,acções,eventos,lançamento
X-KDE-Keywords[pt_BR]=global,atalhos de teclado,KHotKeys,ações de entrada,gestos do mouse,ações,eventos,lançamento,execução
X-KDE-Keywords[ru]=global,keyboard shortcuts,hot keys,hotkeys,KHotKeys,input actions,mouse gestures,actions,triggers,launch,глобальные,комбинации клавиш,горячие клавиши,действия,запуск действий,росчерки мышью,запуск
X-KDE-Keywords[sk]=globálne,globálne skratky,horúce klávesy,hotkeys,KHotKeys,vstupné akcie,gestá myši,akcie,spúšťače,spustenie
X-KDE-Keywords[sl]=splošno,tipkovne bližnjice,bližnjice,hitre tipke,khotkeys,vhodna dejanja,vnosna dejanja,kretnje z miško,dejanja,sprožilci,zagon
X-KDE-Keywords[sr]=global,keyboard shortcuts,hot keys,hotkeys,KHotKeys,input actions,mouse gestures,actions,triggers,launch,глобалне,пречице са тастатуре,К‑пречице,радње улаза,гестови мишем,радње,окидачи,покретање
X-KDE-Keywords[sr@ijekavian]=global,keyboard shortcuts,hot keys,hotkeys,KHotKeys,input actions,mouse gestures,actions,triggers,launch,глобалне,пречице са тастатуре,К‑пречице,радње улаза,гестови мишем,радње,окидачи,покретање
X-KDE-Keywords[sr@ijekavianlatin]=global,keyboard shortcuts,hot keys,hotkeys,KHotKeys,input actions,mouse gestures,actions,triggers,launch,globalne,prečice sa tastature,K‑prečice,radnje ulaza,gestovi mišem,radnje,okidači,pokretanje
X-KDE-Keywords[sr@latin]=global,keyboard shortcuts,hot keys,hotkeys,KHotKeys,input actions,mouse gestures,actions,triggers,launch,globalne,prečice sa tastature,K‑prečice,radnje ulaza,gestovi mišem,radnje,okidači,pokretanje
X-KDE-Keywords[sv]=global,tangentbordsgenvägar,KHotKeys,indataåtgärder,musgester,åtgärder,avtryckare,start
X-KDE-Keywords[tr]=genel,sistem geneli,klavye kısayolları,KHotKeys,girdi eylemleri,fare hareketleri,eylemler,tetikleyiciler,çalıştır,başlat
X-KDE-Keywords[uk]=global,keyboard shortcuts,hot keys,hotkeys,KHotKeys,input actions,mouse gestures,actions,triggers,launch,загальні,глобальні,клавіатура,клавіатурні скорочення,введення,жести,жести мишею,дії,вмикання,запуск
X-KDE-Keywords[x-test]=xxglobal,keyboard shortcuts,hot keys,hotkeys,KHotKeys,input actions,mouse gestures,actions,triggers,launchxx
X-KDE-Keywords[zh_CN]=global,keyboard shortcuts,hot keys,hotkeys,KHotKeys,input actions,mouse gestures,actions,triggers,launch,全局,快捷键,热键,输入动作,鼠标手势,动作,触发,启动
X-KDE-Keywords[zh_TW]=global,keyboard shortcuts,hot keys,hotkeys,KHotKeys,input actions,mouse gestures,actions,triggers,launch


