[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=KCModule

X-DocPath=kcontrol/kcmcss/index.html
Icon=preferences-desktop-theme
Exec=kcmshell4 khtml_appearance
X-KDE-ParentApp=kcontrol

X-KDE-Library=kcm_konqhtml
X-KDE-PluginKeyword=khtml_appearance

Name=Appearance
Name[af]=Voorkoms
Name[ar]=المظهر
Name[as]=চেহেৰা
Name[ast]=Aspeutu
Name[be]=Вонкавы выгляд
Name[be@latin]=Vonkavaść
Name[bg]=Изглед
Name[bn]=চেহারা
Name[bn_IN]=চেহারাছবি
Name[br]=Neuziadur
Name[bs]=Izgled
Name[ca]=Aparença
Name[ca@valencia]=Aparença
Name[cs]=Vzhled
Name[csb]=Wëzdrzatk
Name[cy]=Golwg
Name[da]=Udseende
Name[de]=Erscheinungsbild
Name[el]=Εμφάνιση
Name[en_GB]=Appearance
Name[eo]=Aspekto
Name[es]=Aspecto
Name[et]=Välimus
Name[eu]=Itxura
Name[fa]=ظاهر
Name[fi]=Ulkoasu
Name[fr]=Apparence
Name[fy]=Uterlik
Name[ga]=Cuma
Name[gl]=Aparencia
Name[gu]=દેખાવ
Name[he]=מראה
Name[hi]=रूप
Name[hne]=रूप
Name[hr]=Izgled
Name[hsb]=Napohlad
Name[hu]=Megjelenés
Name[ia]=Apparentia
Name[id]=Tampilan
Name[is]=Útlit
Name[it]=Aspetto
Name[ja]=外観
Name[ka]=გარეგნობა
Name[kk]=Көрініс
Name[km]=រូបរាង
Name[kn]=ಸ್ವರೂಪ
Name[ko]=모양
Name[ku]=Xuyanî
Name[lt]=Išvaizda
Name[lv]=Izskats
Name[mai]=प्रकटन
Name[mk]=Изглед
Name[ml]=ചമയം
Name[mr]=दर्शन
Name[ms]=Rupa
Name[nb]=Utseende
Name[nds]=Utsehn
Name[ne]=देखावट
Name[nl]=Uiterlijk
Name[nn]=Utsjånad
Name[oc]=Aparéncia
Name[or]=ଦୃଶ୍ୟ
Name[pa]=ਦਿੱਖ
Name[pl]=Wygląd
Name[pt]=Aparência
Name[pt_BR]=Aparência
Name[ro]=Aspect
Name[ru]=Внешний вид
Name[se]=Fárda
Name[si]=පෙනුම
Name[sk]=Vzhľad
Name[sl]=Videz
Name[sr]=Изглед
Name[sr@ijekavian]=Изглед
Name[sr@ijekavianlatin]=Izgled
Name[sr@latin]=Izgled
Name[sv]=Utseende
Name[ta]=தோற்றம்
Name[te]=కనిపించువిధం
Name[tg]=Намуди зоҳирӣ
Name[th]=รูปลักษณ์
Name[tr]=Görünüm
Name[ug]=كۆرۈنۈشى
Name[uk]=Вигляд
Name[uz]=Tashqi koʻrinish
Name[uz@cyrillic]=Ташқи кўриниш
Name[vi]=Diện mạo
Name[wa]=Rivnance
Name[xh]=Inkangeleko
Name[x-test]=xxAppearancexx
Name[zh_CN]=外观
Name[zh_TW]=外觀


Comment=Configure how to display web pages
Comment[ar]=اضبط كيفية عرض صفحات الوِب
Comment[ast]=Configuración de les tribes de lletra usaes p'amosar páxines web
Comment[bg]=Настройване показването на уеб страниците
Comment[bn]=ওয়েব পেজ কেমন ভাবে দেখানো হবে কনফিগার করুন
Comment[bs]=Podešavanje prikaza veb stranica
Comment[ca]=Configura com visualitzar les pàgines web
Comment[ca@valencia]=Configura com visualitzar les pàgines web
Comment[cs]=Nastavit zobrazení webových stránek
Comment[csb]=Kònfigùracëjô wëskrzënianiô internetowich starnów
Comment[da]=Indstil hvordan netsider skal vises
Comment[de]=Einstellungen für die Darstellung von Webseiten
Comment[el]=Διαμόρφωση της εμφάνισης των ιστοσελίδων
Comment[en_GB]=Configure how to display web pages
Comment[eo]=Agordi la vidigilon de la TTT-paĝoj
Comment[es]=Configuración de los tipos de letra usados para mostrar páginas web
Comment[et]=Veebilehtede väljanägemise seadistamine
Comment[eu]=Konfiguratu web orriak nola bistaratu
Comment[fi]=Muokkaa sitä kuinka verkkosivut näytetään
Comment[fr]=Configure la manière d'afficher les pages Web
Comment[fy]=Ynstelle, hoe jo de websiden werjaan wolle
Comment[ga]=Cumraigh conas a thaispeánfar leathanaigh Ghréasáin
Comment[gl]=Configura como se mostran as páxinas web
Comment[gu]=કઇ રીતે વેબ પાનાંઓ જોવા તે રૂપરેખાંકિત કરો
Comment[he]=הגדרת האופן שבו יוצגו דפי אינטרנט
Comment[hi]=वेब पृष्ठ कैसे दिखाने है कॉन्फ़िगर करें
Comment[hr]=Konfiguriranje prikaza web-stranica
Comment[hu]=A weboldalak megjelenítési jellemzőinek beállítása
Comment[ia]=Configura como monstrar paginas web
Comment[id]=Atur bagaimana menampilkan halaman web
Comment[is]=Stillta hvernig vefsíður eru birtar
Comment[it]=Configura come visualizzare le pagine Web
Comment[ja]=ウェブページをどのように表示するかを設定
Comment[kk]=Веб-парақтарды қалай көрсететінің баптау
Comment[km]=កំណត់​រចនាសម្ព័ន្ធ​វិធី​ត្រូវ​បង្ហាញ​ទំព័រ​បណ្ដាញ
Comment[kn]=ಜಾಲ ಪುಟಗಳು ಹೇಗೆ ಕಾಣಿಸಬೇಕು ಎಂದು ಸಂರಚಿಸಿ
Comment[ko]=웹 페이지 표시 방법 설정
Comment[lt]=Konfigūruoti žiniatinklio puslapių rodymą
Comment[lv]=Šeit varat konfigurēt kā attēlot tīmekļa lapas
Comment[mai]=वेब पृष्ठ कहिना देखाओल जाए बिन्यस्त करू
Comment[mk]=Конфигурирајте како да се прикажуваат веб-страниците
Comment[ml]=വെബ്താളുകള്‍ പ്രദര്‍ശിപ്പിയ്ക്കേണ്ടതെങ്ങനെയന്നു് ക്രമീകരിയ്ക്കുക
Comment[mr]=वेब पान कसे दर्शवायचे ते संयोजीत करा
Comment[nb]=Sett opp hvordan nettsider vises
Comment[nds]=Instellen, wodennig Nettsieden wiest warrt
Comment[nl]=Hier kunt u instellen hoe webpagina's te tonen
Comment[nn]=Oppsett av nettsidevising
Comment[pa]=ਸੰਰਚਨਾ ਦਿਓ ਕਿ ਵੈੱਬ ਪੇਜ਼ ਕਿੰਝ ਵੇਖਣੇ ਹਨ
Comment[pl]=Konfiguracja sposobu wyświetlania stron sieciowych
Comment[pt]=Configurar a apresentação das páginas Web
Comment[pt_BR]=Configura a apresentação das páginas da Internet
Comment[ro]=Configurează cum să fie afișate paginile web
Comment[ru]=Настройка шрифтов веб-страниц
Comment[se]=Heivet man láhkai fierpmádatsiiddut čájehuvvot
Comment[si]=වෙබ් පිටු පෙන්වන ආකාරය සකසන්න
Comment[sk]=Nastavenie zobrazenia webových stránok
Comment[sl]=Nastavitve prikazovanja spletnih strani
Comment[sr]=Подешавање приказа веб страница
Comment[sr@ijekavian]=Подешавање приказа веб страница
Comment[sr@ijekavianlatin]=Podešavanje prikaza veb stranica
Comment[sr@latin]=Podešavanje prikaza veb stranica
Comment[sv]=Anpassa hur webbsidor ska visas
Comment[tg]=Танзимоти намоиши саҳифаҳои Интернетӣ
Comment[th]=ปรับแต่งว่าจะแสดงผลหน้าเว็บอย่างไร
Comment[tr]=Ağ sayfalarının nasıl gösterileceğini yapılandır
Comment[ug]=تور بەتنى قانداق كۆرسىتىشنى سەپلەيدۇ
Comment[uk]=Налаштування способу показу вебсторінок
Comment[wa]=Apontyî comint håyner les pådjes waibe
Comment[x-test]=xxConfigure how to display web pagesxx
Comment[zh_CN]=配置如何显示网页
Comment[zh_TW]=設定如何顯示網頁
X-KDE-Keywords=konqueror,kfm,browser,html,web,www,fonts,charsets,character sets,encoding
X-KDE-Keywords[bg]=браузър,уеб,шрифт,кодировка,konqueror,kfm,browser,html,web,www,fonts,charsets,character sets,encoding
X-KDE-Keywords[bs]=konqueror,kfm,browser,html,web,www,fonts,charsets,character sets,encoding
X-KDE-Keywords[ca]=konqueror,kfm,navegador,html,web,www,tipus de lletres,joc de caràcters,jocs de caràcters,codificació
X-KDE-Keywords[ca@valencia]=konqueror,kfm,navegador,html,web,www,tipus de lletres,joc de caràcters,jocs de caràcters,codificació
X-KDE-Keywords[da]=konqueror,kfm,browser,html,web,www,fonts,tegnsæt,indkodning
X-KDE-Keywords[de]=Konqueror,kfm,Browser,HTML,Web,WWW,Schriften,Zeichensatz,Zeichensätze,Kodierung
X-KDE-Keywords[el]=konqueror,kfm,περιηγητής,html,ιστός,www,γραμματοσειρές,charsets,σύνολα χαρακτήρων,κωδικοποίηση
X-KDE-Keywords[es]=konqueror,kfm,navegador,html,web,www,tipos de letra,juegos de caracteres,juegos de caracteres,codificación
X-KDE-Keywords[et]=konqueror,kfm,brauser,html,veeb,www,fondid,kooditabel,kodeering
X-KDE-Keywords[fi]=konqueror,kfm,selain,html,web,www,kirjasimet,fontit,merkistöt,merkistö,koodaus
X-KDE-Keywords[fr]=konqueror, kfm, navigateur, html, web, www, polices, table de caractères, tables de caractères, encodage
X-KDE-Keywords[ga]=konqueror,kfm,brabhsálaí,html,gréasán,www,clónna,clófhoirne,tacair charachtair,ionchódú
X-KDE-Keywords[gl]=konqueror,kfm,navegador,html,web,www,fontes,tipos de letra,conxunto de caracteres,codificación,caracter
X-KDE-Keywords[hu]=konqueror,kfm,böngésző,html,web,www,betűtípusok,karakterkészletek,karakterkészletek,kódolás
X-KDE-Keywords[ia]=konqueror,kfm,navigator,html,web,fonts,insimul de chars,insimules de character,codification
X-KDE-Keywords[it]=konqueror,kfm,browser,html,web,www,caratteri,codifica,insiemi di caratteri
X-KDE-Keywords[kk]=konqueror,kfm,browser,html,web,www,fonts,charsets,character sets,encoding
X-KDE-Keywords[km]=konqueror kfm កម្មវិធី​រុករក html បណ្ដាញ www ពុម្ពអក្សរ សំណុំ​តួអក្សរ សំណុំ​តួអក្សរ ការ​អ៊ិនកូដ
X-KDE-Keywords[ko]=konqueror,kfm,browser,html,web,www,fonts,charsets,character sets,encoding,문자셋,인코딩,글꼴,문자,브라우저
X-KDE-Keywords[lt]=konqueror,kfm,naršyklė,html,žiniatinklis,www,šriftai,ženklų rinkinys,koduotė
X-KDE-Keywords[lv]=konqueror,kfm,pārlūks,html,web,www,fonti,rakstzīmju kopas,kodējums
X-KDE-Keywords[nb]=konqueror,kfm,nettleser,html,vev,www,skrifter,tegnsett,tegnkoding
X-KDE-Keywords[nds]=Konqueror,kfm,Nettkieker,html,Nett,www,Schriften,Schriftoorden,Tekensetten,Koderen,Tekenkoderen
X-KDE-Keywords[nl]=konqueror,kfm,browser,html,web,www,lettertypen,tekensets,codering
X-KDE-Keywords[pl]=konqueror,kfm,przeglądarka,html,sieć,www,czcionki,zestawy znaków,kodowanie
X-KDE-Keywords[pt]=konqueror,kfm,navegador,HTML,Web,WWW,tipos de letra,codificações,codificações de caracteres,codificação
X-KDE-Keywords[pt_BR]=konqueror,kfm,navegador,html,web,www,fontes,codificações,codificações de caracteres,codificação
X-KDE-Keywords[ro]=konqueror,kfm,navigator,html,web,www,fonturi,set de caractere,seturi de caractere,codare
X-KDE-Keywords[ru]=konqueror,kfm,browser,html,web,www,fonts,charsets,character sets,encoding,браузер,веб,шрифты,кодировки,наборы символов,кодирование
X-KDE-Keywords[sk]=konqueror,kfm,prehliadač,html,web,www,písma,znakové sady,sady znakov,kódovanie
X-KDE-Keywords[sl]=konqueror,kfm,brskalnik,html,splet,www.pisave,nabori znakov,kodiranje
X-KDE-Keywords[sr]=konqueror,kfm,browser,html,web,www,fonts,charsets,character sets,encoding,К‑освајач,КФМ,прегледач,ХТМЛ,веб,фонт,кодирање,знак
X-KDE-Keywords[sr@ijekavian]=konqueror,kfm,browser,html,web,www,fonts,charsets,character sets,encoding,К‑освајач,КФМ,прегледач,ХТМЛ,веб,фонт,кодирање,знак
X-KDE-Keywords[sr@ijekavianlatin]=konqueror,kfm,browser,html,web,www,fonts,charsets,character sets,encoding,K‑osvajač,KFM,pregledač,HTML,veb,font,kodiranje,znak
X-KDE-Keywords[sr@latin]=konqueror,kfm,browser,html,web,www,fonts,charsets,character sets,encoding,K‑osvajač,KFM,pregledač,HTML,veb,font,kodiranje,znak
X-KDE-Keywords[sv]=konqueror,kfm,webbläsare,html,webb,www,teckensnitt,charsets,character sets,encoding
X-KDE-Keywords[tr]=konqueror,kfm,browser,html,web,www,yazı tipleri,karakter seti,karakter setleri,kodlama
X-KDE-Keywords[uk]=konqueror,kfm,browser,html,web,www,fonts,charsets,character sets,encoding,перегляд,переглядач,браузер,мережа,шрифти,кольори,курсор,посилання,зображення,символи,набір,кодування,символ,набори
X-KDE-Keywords[wa]=konqueror,kfm,betchteu,html,web,waibe,www,fontes,ecôdaedje,ecôdaedjes,djeus d' caracteres
X-KDE-Keywords[x-test]=xxkonqueror,kfm,browser,html,web,www,fonts,charsets,character sets,encodingxx
X-KDE-Keywords[zh_CN]=konqueror,kfm,browser,html,web,www,fonts,charsets,character sets,encoding,浏览器,网络,字体,字符,字符集,编码
X-KDE-Keywords[zh_TW]=konqueror,kfm,browser,html,web,www,fonts,charsets,character sets,encoding

Categories=Qt;KDE;X-KDE-settings-webbrowsing;
