[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=KCModule,KCModuleInit
X-DocPath=kcontrol/khtml-plugins/index.html
Icon=konqueror
Exec=kcmshell4 khtml_plugins

X-KDE-Library=kcm_konqhtml
X-KDE-PluginKeyword=khtml_plugins
X-KDE-Init-Library=kcminit_nsplugins
X-KDE-Init-Symbol=nsplugin
X-KDE-ParentApp=kcontrol

Name=Plugins
Name[af]=Inprop modules
Name[ar]=ملحقات
Name[as]=প্লাগ-ইন
Name[ast]=Complementos
Name[be]=Утулкі
Name[be@latin]=Pluginy
Name[bg]=Приставки
Name[bn]=প্লাগ-ইন
Name[bn_IN]=প্লাগ-ইন
Name[br]=Lugantoù
Name[bs]=Priključci
Name[ca]=Connectors
Name[ca@valencia]=Connectors
Name[cs]=Moduly
Name[csb]=Wtëkôczë
Name[cy]=Ategion
Name[da]=Plugins
Name[de]=Module
Name[el]=Πρόσθετα
Name[en_GB]=Plugins
Name[eo]=Kromprogrametoj
Name[es]=Complementos
Name[et]=Pluginad
Name[eu]=Pluginak
Name[fa]=وصله‌ها
Name[fi]=Liitännäiset
Name[fr]=Modules externes
Name[fy]=Plugins
Name[ga]=Breiseáin
Name[gl]=Complementos
Name[gu]=પ્લગઇન
Name[he]=תוספים
Name[hi]=प्लगइन्स
Name[hne]=प्लगइन्स
Name[hr]=Dodaci
Name[hsb]=Zašćěpki
Name[hu]=Bővítőmodulok
Name[ia]=Plugins
Name[id]=Plugin
Name[is]=Íforrit
Name[it]=Estensioni
Name[ja]=プラグイン
Name[ka]=პლაგინები
Name[kk]=Плагиндер
Name[km]=កម្មវិធី​ជំនួយ
Name[kn]=ಮಿಳಿತಾನ್ವಯಗಳು (ಪ್ಲಗಿನ್)
Name[ko]=플러그인
Name[ku]=Pêvek
Name[lt]=Priedai
Name[lv]=Spraudņi
Name[mai]=प्लगिन
Name[mk]=Приклучоци
Name[ml]=സംയോജകങ്ങള്‍‌
Name[mr]=प्लगइन्स
Name[ms]=Plugin
Name[nb]=Programtillegg
Name[nds]=Modulen
Name[ne]=प्लगइन
Name[nl]=Plug-ins
Name[nn]=Programtillegg
Name[oc]=Ajustons
Name[or]=ପ୍ଲଗଇନଗୁଡ଼ିକ
Name[pa]=ਪਲੱਗਇਨ
Name[pl]=Wtyczki
Name[pt]='Plugins'
Name[pt_BR]=Plugins
Name[ro]=Extensii
Name[ru]=Модули
Name[se]=Lassemoduvllat
Name[si]=ප්ලගීන
Name[sk]=Moduly
Name[sl]=Vstavki
Name[sr]=Прикључци
Name[sr@ijekavian]=Прикључци
Name[sr@ijekavianlatin]=Priključci
Name[sr@latin]=Priključci
Name[sv]=Insticksprogram
Name[ta]=செருகல்கள்
Name[te]=ప్లగిన్లు
Name[tg]=Плагинҳо
Name[th]=โปรแกรมเสริม
Name[tr]=Eklentiler
Name[ug]=قىستۇرما
Name[uk]=Додатки
Name[uz]=Plaginlar
Name[uz@cyrillic]=Плагинлар
Name[vi]=Bổ sung
Name[wa]=Tchôke-divins
Name[xh]=Iiplagi ezingaphakathi
Name[x-test]=xxPluginsxx
Name[zh_CN]=插件
Name[zh_TW]=外掛程式
Comment=Configure the browser plugins
Comment[af]=Konfigureer die blaaier inprop modules
Comment[ar]=اضبط ملحقات المتصفح
Comment[as]=চৰকৰ প্লাগ-ইন বিন্যাস কৰক
Comment[ast]=Configuración de los complementos del restolador
Comment[be]=Настаўленні модуляў вандроўніка
Comment[be@latin]=Naładź pluginy hartača
Comment[bg]=Настройване приставките на браузъра
Comment[bn]=বিভিন্ন ব্রাউজার প্লাগ-ইন কনফিগার করুন
Comment[bn_IN]=ব্রাউজার প্লাগ-ইন কনফিগার করুন
Comment[br]=Kefluniañ lugantoù ar furcher
Comment[bs]=Podešavanje priključaka pregledača
Comment[ca]=Configura els connectors del navegador
Comment[ca@valencia]=Configura els connectors del navegador
Comment[cs]=Nastavení modulů prohlížeče
Comment[csb]=Kònfigùracëjô wtëkôczów przezérnika
Comment[cy]=Ffurfweddu ategion y porydd
Comment[da]=Indstil browserens plugins
Comment[de]=Module für den Webbrowser einrichten
Comment[el]=Διαμορφώστε τα πρόσθετα του περιηγητή
Comment[en_GB]=Configure the browser plugins
Comment[eo]=Agordi la foliumilajn kromprogrametojn
Comment[es]=Configuración de los complementos del navegador
Comment[et]=Brauseri pluginate seadistamine
Comment[eu]=Konfiguratu arakatzailearen pluginak
Comment[fa]=پیکربندی وصله‌های مرورگر
Comment[fi]=Selaimen liitännäisten hallinta
Comment[fr]=Configuration des modules externes du navigateur
Comment[fy]=Hjir kinne jo de blêder-plugins ynstelle
Comment[ga]=Cumraigh na Breiseáin Brabhsálaithe
Comment[gl]=Configurar os complementos do navegador
Comment[gu]=બ્રાઉઝર પ્લગઇન રૂપરેખાંકિત કરો
Comment[he]=שינוי הגדרות תוספי הדפדפן
Comment[hi]=ब्राउज़र प्लगइन कॉन्फ़िगर करें
Comment[hne]=ब्राउजर प्लगइन कान्फिगर करव
Comment[hr]=Konfiguriranje dodataka preglednika
Comment[hsb]=Pluginy za browser připrawić
Comment[hu]=A böngésző bővítőmoduljainak beállításai
Comment[ia]=Configura le plugins del navigator
Comment[id]=Atur plugin peramban
Comment[is]=Stilla íforrit vafra
Comment[it]=Configura le estensioni del browser
Comment[ja]=ブラウザのプラグインの設定
Comment[ka]=ბრაუზერის პლაგინების კონფიგურაცია
Comment[kk]=Шолғыш плагиндерін баптау
Comment[km]=កំណត់​រចនាសម្ព័ន្ធ​កម្មវិធី​ជំនួយ​របស់​កម្មវិធី​រុករក
Comment[kn]=ಜಾಲವೀಕ್ಷಕದ ಮಿಳಿತಾನ್ವಯಗಳನ್ನು (ಪ್ಲಗಿನ್) ಸಂರಚಿಸು
Comment[ko]=브라우저 플러그인 설정
Comment[ku]=Pêvekên gerokê veava bike
Comment[lt]=Konfigūruoti naršyklės priedus
Comment[lv]=Konfigurēt pārlūka spaudņus
Comment[mai]=ब्राउजर प्लगइन बिन्यस्त करू
Comment[mk]=Конфигурација на приклучоците на прелистувачот
Comment[ml]=വെബ്ബ് ബ്രൌസ‌ര്‍ സംയോജകങ്ങള്‍‌ ക്രമീകരിയ്ക്കുക
Comment[mr]=ब्राऊजर प्लगइन संयोजीत करा
Comment[ms]=Tetapkan plugin pelayar
Comment[nb]=Tilpass programtillegg for nettleseren
Comment[nds]=Kiekermodulen instellen
Comment[ne]=प्लगइन ब्राउजर कन्फिगर गर्नुहोस्
Comment[nl]=Hier kunt u de browser-plugins instellen
Comment[nn]=Set opp programtillegg for nettlesaren
Comment[or]=ବ୍ରାଉଜର ପ୍ଲଗଇନଗୁଡ଼ିକୁ ବିନ୍ୟାସ କରନ୍ତୁ
Comment[pa]=ਝਲਕਾਰਾ ਪਲੱਗਇਨ ਸੰਰਚਨਾ
Comment[pl]=Konfiguracja wtyczek przeglądarki
Comment[pt]=Configurar os 'plugins' do navegador
Comment[pt_BR]=Configura os plugins do navegador
Comment[ro]=Configurează modulele de navigator de web
Comment[ru]=Настройка встраиваемых модулей браузера
Comment[se]=Heivet fierpmádatlogana lassemoduvllaid
Comment[si]=ගවේශක ප්ලගින සකසන්න
Comment[sk]=Nastavenie modulov prehliadača
Comment[sl]=Nastavitve vstavkov brskalnika
Comment[sr]=Подешавање прикључака прегледача
Comment[sr@ijekavian]=Подешавање прикључака прегледача
Comment[sr@ijekavianlatin]=Podešavanje priključaka pregledača
Comment[sr@latin]=Podešavanje priključaka pregledača
Comment[sv]=Anpassa insticksprogram för webbläsare
Comment[ta]= மேலோடியின் செருகல்களை வடிவமைக்கலாம்
Comment[te]=అన్వేషణి ప్లగ్ఇన్‍స్‌ను ఆకృతీకరించుము
Comment[tg]=Танзимоти плагинҳои браузер
Comment[th]=ปรับแต่งโปรแกรมเสริมของเบราว์เซอร์
Comment[tr]=Tarayıcı eklentilerini yapılandır
Comment[ug]=توركۆرگۈ قىستۇرما سەپلىمىسى
Comment[uk]=Налаштування додатків навігатора
Comment[uz]=Brauzerning plaginlarini moslash
Comment[uz@cyrillic]=Браузернинг плагинларини мослаш
Comment[vi]=Cấu hình trình bổ sung cho trình duyệt
Comment[wa]=Apontyî les tchôke-divins do betchteu
Comment[xh]=Qwalasela umkhangheli zincwadi zeplagi ezingaphakathi
Comment[x-test]=xxConfigure the browser pluginsxx
Comment[zh_CN]=配置浏览器插件
Comment[zh_TW]=設定瀏覽器外掛程式
X-KDE-Keywords=konqueror,kfm,browser,html,web,www,fonts,plugins
X-KDE-Keywords[bg]=браузър,уеб,шрифт,приставка,konqueror,kfm,browser,html,web,www,fonts,plugins
X-KDE-Keywords[bs]=konqueror,kfm,browser,html,web,www,fonts,plugins
X-KDE-Keywords[ca]=konqueror,kfm,navegador,html,web,www,tipus de lletres,connectors
X-KDE-Keywords[ca@valencia]=konqueror,kfm,navegador,html,web,www,tipus de lletres,connectors
X-KDE-Keywords[cs]=konqueror,kfm,prohlížeč,html,web,www,písma,moduly
X-KDE-Keywords[da]=konqueror,kfm,browser,html,web,www,fonts,plugins,skrifttyper
X-KDE-Keywords[de]=Konqueror,kfm,Browser,HTML,Web,WWW,Schriften,Plugins
X-KDE-Keywords[el]=konqueror,kfm,περιηγητής,html,ιστός,www,γραμματοσειρές,πρόσθετα
X-KDE-Keywords[es]=konqueror,kfm,navegador,html,web,www,tipos de letra,complementos
X-KDE-Keywords[et]=konqueror,kfm,brauser,html,veeb,www,fondid,pluginad
X-KDE-Keywords[fi]=konqueror,kfm,selain,html,web,www,kirjasimet,fontit,liitännäiset
X-KDE-Keywords[fr]=konqueror, kfm, navigateur, html, web, www, polices, modules externes
X-KDE-Keywords[ga]=konqueror,kfm,brabhsálaí,html,idirlíon,www,gréasán,clófhoirne,clónna,breiseáin
X-KDE-Keywords[gl]=konqueror,kfm,navegador,html,web,www,fontes,complementos
X-KDE-Keywords[hu]=konqueror,kfm,böngésző,html,web,www,betűtípusok,bővítmények
X-KDE-Keywords[ia]=konqueror,kfm,navigator,html,web,www,fonts,plugins
X-KDE-Keywords[it]=konqueror,kfm,browser,html,web,www,caratteri,estensioni
X-KDE-Keywords[kk]=konqueror,kfm,browser,html,web,www,fonts,plugins
X-KDE-Keywords[km]=konqueror kfm កម្មវិធី​រុករក html បណ្ដាញ www ពុម្ពអក្សរ កម្មវិធី​ជំនួយ
X-KDE-Keywords[ko]=konqueror,kfm,browser,html,web,www,fonts,plugins,브라우저,탐색기,웹,글꼴,플러그인
X-KDE-Keywords[lt]=konqueror,kfm,naršyklė,html,žiniatinklis,www,šriftai,priedai
X-KDE-Keywords[lv]=konqueror,kfm,pārlūks,html,web,www,fonti,spraudņi
X-KDE-Keywords[nb]=konqueror,kfm,nettleser,html,vev,www,skrifter,programtillegg
X-KDE-Keywords[nds]=Konqueror,kfm,Nettkieker,html,Nett,www
X-KDE-Keywords[nl]=konqueror,kfm,browser,html,web,www,lettertypen,plug-ins
X-KDE-Keywords[pl]=konqueror,kfm,przeglądarka,html,sieć,www,czcionki,wtyczki
X-KDE-Keywords[pt]=konqueror,kfm,navegador,HTML,Web,WWW,tipos de letra,plugins
X-KDE-Keywords[pt_BR]=konqueror,kfm,navegador,html,web,www,fontes,plugins
X-KDE-Keywords[ro]=konqueror,kfm,navigator,html,web,www,fonturi,module,extensii
X-KDE-Keywords[ru]=konqueror,kfm,browser,html,web,www,fonts,plugins,браузер,веб,шрифты,расширения
X-KDE-Keywords[sk]=konqueror,kfm,prehliadač,html,web,www,písma,pluginy
X-KDE-Keywords[sl]=konqueror,kfm,brskalnik,html,splet,www,pisave,vstavki
X-KDE-Keywords[sr]=konqueror,kfm,browser,html,web,www,fonts,plugins,К‑освајач,КФМ,прегледач,ХТМЛ,веб,фонтови,прикључци
X-KDE-Keywords[sr@ijekavian]=konqueror,kfm,browser,html,web,www,fonts,plugins,К‑освајач,КФМ,прегледач,ХТМЛ,веб,фонтови,прикључци
X-KDE-Keywords[sr@ijekavianlatin]=konqueror,kfm,browser,html,web,www,fonts,plugins,K‑osvajač,KFM,pregledač,HTML,veb,fontovi,priključci
X-KDE-Keywords[sr@latin]=konqueror,kfm,browser,html,web,www,fonts,plugins,K‑osvajač,KFM,pregledač,HTML,veb,fontovi,priključci
X-KDE-Keywords[sv]=konqueror,kfm,webbläsare,html,web,www,teckensnitt,insticksprogram
X-KDE-Keywords[tr]=konqueror,kfm,tarayıcı,html,web,www,yazı tipleri,eklentiler
X-KDE-Keywords[uk]=konqueror,kfm,browser,html,web,www,fonts,plugins,перегляд,браузер,переглядач,мережа,шрифти,додатки
X-KDE-Keywords[wa]=konqueror,kfm,foyteuse,betchteu,html,waibe,www,fontes,tchôke-divins,web
X-KDE-Keywords[x-test]=xxkonqueror,kfm,browser,html,web,www,fonts,pluginsxx
X-KDE-Keywords[zh_CN]=konqueror,kfm,browser,html,web,www,fonts,plugins,浏览器,网络,字体,插件
X-KDE-Keywords[zh_TW]=konqueror,kfm,browser,html,web,www,fonts,plugins

Categories=Qt;KDE;X-KDE-settings-webbrowsing;
