[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=KCModule
X-DocPath=kcontrol/khtml-general/index.html
Icon=konqueror
Exec=kcmshell4 khtml_general
X-KDE-ParentApp=kcontrol

X-KDE-Library=kcm_konqhtml
X-KDE-PluginKeyword=khtml_general

# ctxt: Konqeuror settings relevant to both web browsing and file management.
Name=General
Name[ar]=عام
Name[ast]=Xeneral
Name[bg]=Общи
Name[bn]=সাধারণ
Name[bs]=Opšte
Name[ca]=General
Name[ca@valencia]=General
Name[cs]=Obecné
Name[csb]=Spòdlowò
Name[da]=Generelt
Name[de]=Allgemein
Name[el]=Γενικά
Name[en_GB]=General
Name[eo]=Ĝenerale
Name[es]=General
Name[et]=Üldine
Name[eu]=Orokorra
Name[fi]=Yleiset
Name[fr]=Général
Name[fy]=Algemien
Name[ga]=Ginearálta
Name[gl]=Xeral
Name[gu]=સામાન્ય
Name[he]=כללי
Name[hi]=सामान्य
Name[hr]=Općenito
Name[hu]=Általános
Name[ia]=General
Name[id]=Umum
Name[is]=Almennt
Name[it]=Generale
Name[ja]=全般
Name[kk]=Жалпы
Name[km]=ទូទៅ
Name[kn]=ಸಾಮಾನ್ಯ
Name[ko]=일반
Name[lt]=Bendrieji
Name[lv]=Pamata
Name[mai]=सामान्य
Name[mk]=Општо
Name[ml]=പൊതുവായ
Name[mr]=सामान्य
Name[nb]=Generelt
Name[nds]=Allmeen
Name[nl]=Algemeen
Name[nn]=Generelt
Name[pa]=ਆਮ
Name[pl]=Ogólne
Name[pt]=Geral
Name[pt_BR]=Geral
Name[ro]=General
Name[ru]=Основное
Name[si]=සාමාන්‍ය
Name[sk]=Všeobecné
Name[sl]=Splošno
Name[sr]=Опште
Name[sr@ijekavian]=Опште
Name[sr@ijekavianlatin]=Opšte
Name[sr@latin]=Opšte
Name[sv]=Allmänt
Name[tg]=Умумӣ
Name[th]=ค่าทั่วไป
Name[tr]=Genel
Name[ug]=ئادەتتىكى
Name[uk]=Загальне
Name[wa]=Djenerå
Name[x-test]=xxGeneralxx
Name[zh_CN]=常规
Name[zh_TW]=一般
Comment=Configure general Konqueror behavior
Comment[af]=Konfigureer die algemene knoquerorgedrag
Comment[ar]=اضبط سلوك كونكيورر العام
Comment[as]=Konqueror ৰ সাধাৰণ আচৰণ বিন্যাস কৰক
Comment[ast]=Configura'l comportamientu xeneral de Konqueror
Comment[be@latin]=Naładź hałoŭnyja aspekty pavodzinaŭ hartača „Konqueror”
Comment[bg]=Общи настройки на поведението на програмата
Comment[bn]=কনকরার-এর সাধারণ আচরণ কনফিগার করুন
Comment[bn_IN]=Konqueror-র সাধারণ আচরণ কনফিগার করুন
Comment[bs]=Podešavanje opšteg ponašanja K‑osvajača
Comment[ca]=Configura el comportament general del Konqueror
Comment[ca@valencia]=Configura el comportament general del Konqueror
Comment[cs]=Nastavení obecného chování Konqueroru
Comment[csb]=Kònfigùracëjô òglowégò ùchòwaniô Konquerora
Comment[da]=Indstil generel opførsel for Konqueror
Comment[de]=Allgemeines Verhalten von Konqueror festlegen
Comment[el]=Διαμόρφωση της γενικής συμπεριφοράς του Konqueror
Comment[en_GB]=Configure general Konqueror behaviour
Comment[eo]=Agordi la ĝeneralan konduton de Konkeranto
Comment[es]=Configura el comportamiento general de Konqueror
Comment[et]=Konquerori üldise käitumise seadistamine
Comment[eu]=Konfiguratu Konquerorren portaera orokorra
Comment[fi]=Konquerorin yleiset toiminta-asetukset
Comment[fr]=Configuration du comportement général de Konqueror
Comment[fy]=Algemiene konqueror gedrach ynstelle
Comment[ga]=Cumraigh oibriú ginearálta Konqueror
Comment[gl]=Configura o comportamento xeral de konqueror
Comment[gu]=સામાન્ય કોન્કરર વર્તણૂક રૂપરેખાંકિત કરો
Comment[he]=הגדרת ההתנהגות הכללית של Konqueror
Comment[hi]=सामान्य कॉन्करर बर्ताव कॉन्फ़िगर करें
Comment[hne]=सामान्य कान्करर बर्ताव कान्फिगर करव
Comment[hr]=Konfiguriranje općeg ponašanja preglednika Konqueror
Comment[hsb]=Powšitkowne zadźerženje konquerora připrawić
Comment[hu]=A Konqueror webböngészési beállításai
Comment[ia]=Configura le comportamento general de Konqueror
Comment[id]=Atur perilaku umum Konqueror
Comment[is]=Stilla almenna hegðun Konqueror
Comment[it]=Configura il comportamento generale di Konqueror
Comment[ja]=Konqueror の全般的な挙動を設定
Comment[kk]=Konqueror жалпы қасиеттерін баптау
Comment[km]=កំណត់​រចនាសម្ព័ន្ធ​ឥរិយាបថ​ទូទៅ​របស់ Konqueror
Comment[kn]=ಕಾಂಕರರ್ ನ ಸಾಮಾನ್ಯ ವರ್ತನೆಯನ್ನು ಸಂರಚಿಸು
Comment[ko]=일반 Konqueror 행동 설정
Comment[ku]=Tevgerên giştî ên Konquerorê ava bike
Comment[lt]=Konfigūruoti bendrą Konqueror elgesį
Comment[lv]=Konfigurē Konqueror pamata uzvedību
Comment[mai]=सामान्य कॉन्करर बर्तावकेँ विन्यस्त करू
Comment[mk]=Конфигурирајте го општото однесување на Konqueror
Comment[ml]=കോണ്‍ക്വററിന്റെ പൊതുവായ പെരുമാറ്റം ക്രമീകരിയ്ക്കുക
Comment[mr]=सामान्य कॉन्करर वर्तन संयोजीत करा
Comment[nb]=Sett opp Konquerors generelle oppførsel
Comment[nds]=Allmeen dat Bedregen vun Konqueror instellen
Comment[nl]=Algemeen gedrag van Konqueror instellen
Comment[nn]=Sett opp generell Konqueror-åtferd
Comment[or]=ସାଧାରଣ Konqueror ଆଚରଣକୁ ବିନ୍ୟାସକରନ୍ତ
Comment[pa]=ਆਮ ਕੋਨਕਿਊਰੋਰ ਰਵੱਈਆ ਸੰਰਚਨਾ
Comment[pl]=Konfiguracja ogólnego zachowania Konquerora
Comment[pt]=Configurar o comportamento geral do Konqueror
Comment[pt_BR]=Configura o comportamento geral do Konqueror
Comment[ro]=Configurează comportamentul general al lui Konqueror
Comment[ru]=Общие параметры Konqueror
Comment[se]=Heivet oppalaš Konqueror láhttema
Comment[si]=සාමාන්‍ය Konqueror හැසිරීම සකසන්න
Comment[sk]=Nastavenie všeobecného správania Konquerora
Comment[sl]=Nastavitve splošnega obnašanja brskalnika Konqueror
Comment[sr]=Подешавање општег понашања К‑освајача
Comment[sr@ijekavian]=Подешавање општег понашања К‑освајача
Comment[sr@ijekavianlatin]=Podešavanje opšteg ponašanja K‑osvajača
Comment[sr@latin]=Podešavanje opšteg ponašanja K‑osvajača
Comment[sv]=Anpassa Konquerors allmänna beteende
Comment[ta]=கான்கொயரரின் பொதுப் செயற்பாட்டை வடிவமைக்க
Comment[te]=సాధారణ Konqueror ప్రవర్తనను ఆకృతీకరించుము
Comment[tg]=Танзимоти рафтори умумии Konqueror
Comment[th]=ปรับแต่งพฤติกรรมทั่วไปของ Konqueror
Comment[tr]=Genel Konqueror davranışlarını yapılandır
Comment[ug]=ئادەتتىكى Konqueror ھەرىكىتى سەپلىمىسى
Comment[uk]=Налаштувати загальну поведінку Konqueror
Comment[wa]=Apontyî l' dujhance djeneråle di konqueror
Comment[x-test]=xxConfigure general Konqueror behaviorxx
Comment[zh_CN]=配置 Konqueror 的常规行为
Comment[zh_TW]=設定 Konqueror 一般行為
X-KDE-Keywords=konqueror,tabs
X-KDE-Keywords[bg]=подпрозорци,konqueror,tabs
X-KDE-Keywords[bs]=konqueror,tabs
X-KDE-Keywords[ca]=konqueror,pestanyes
X-KDE-Keywords[ca@valencia]=konqueror,pestanyes
X-KDE-Keywords[cs]=konqueror,karty
X-KDE-Keywords[da]=konqueror,faneblade
X-KDE-Keywords[de]=Konqueror,Unterfenster
X-KDE-Keywords[el]=Konqueror,καρτέλες
X-KDE-Keywords[es]=konqueror,pestañas
X-KDE-Keywords[et]=konqueror,kaardid
X-KDE-Keywords[fi]=konqueror,välilehdet
X-KDE-Keywords[fr]=konqueror, onglets
X-KDE-Keywords[ga]=Konqueror,cluaisíní
X-KDE-Keywords[gl]=konqueror,lapelas
X-KDE-Keywords[hu]=konqueror,lapok
X-KDE-Keywords[ia]=konqueror,schedas
X-KDE-Keywords[it]=konqueror,schede
X-KDE-Keywords[kk]=konqueror,tabs
X-KDE-Keywords[km]=konqueror ផ្ទាំង
X-KDE-Keywords[ko]=konqueror,tabs,탭
X-KDE-Keywords[lt]=Konqueror,kortelės
X-KDE-Keywords[lv]=konqueror,cilnes
X-KDE-Keywords[mr]=कॉन्करर, टॅब्स
X-KDE-Keywords[nb]=konqueror,faner
X-KDE-Keywords[nds]=Konqueror,Paneels
X-KDE-Keywords[nl]=konqueror,tabbladen
X-KDE-Keywords[pa]=ਕੋਨਕਿਉਰੋਰ,ਟੈਬ
X-KDE-Keywords[pl]=konqueror,karty
X-KDE-Keywords[pt]=konqueror,páginas
X-KDE-Keywords[pt_BR]=konqueror,abas
X-KDE-Keywords[ro]=konqueror,file
X-KDE-Keywords[ru]=konqueror,tabs,вкладки
X-KDE-Keywords[sk]=konqueror,karty
X-KDE-Keywords[sl]=konqueror,zavihki
X-KDE-Keywords[sr]=konqueror,tabs,К‑освајач,језичци
X-KDE-Keywords[sr@ijekavian]=konqueror,tabs,К‑освајач,језичци
X-KDE-Keywords[sr@ijekavianlatin]=konqueror,tabs,K‑osvajač,jezičci
X-KDE-Keywords[sr@latin]=konqueror,tabs,K‑osvajač,jezičci
X-KDE-Keywords[sv]=konqueror,flikar
X-KDE-Keywords[tr]=konqueror,sekmeler
X-KDE-Keywords[uk]=konqueror,tabs,вкладка,вкладки
X-KDE-Keywords[wa]=konqueror,linwetes
X-KDE-Keywords[x-test]=xxkonqueror,tabsxx
X-KDE-Keywords[zh_CN]=konqueror,tabs,标签
X-KDE-Keywords[zh_TW]=konqueror,tabs

Categories=Qt;KDE;
