[Desktop Entry]
Name=KHTML Extension Adaptor
Name[af]=KHTML uitbreidingaanpasser
Name[ar]=مهيئ امتدادات KHTML
Name[as]=KHTML সম্প্ৰসাৰণৰ এডাপ্টৰ
Name[ast]=Adautador d'estensiones KHTML
Name[be@latin]=Adaptar dla pašyreńniaŭ KHTML
Name[bg]=Адаптор за KHTML разширения
Name[bn]=KHTML এক্সটেনশন অ্যাডাপ্টর
Name[bn_IN]=KHTML Extension Adaptor
Name[bs]=Adapter proširenja za KHTML
Name[ca]=Adaptador d'extensió KHTML
Name[ca@valencia]=Adaptador d'extensió KHTML
Name[cs]=Adaptér pro KHTML rozšíření
Name[csb]=KHTML Extension Adaptor
Name[da]=Udvidelsestilpasning for KHTML
Name[de]=Adapter für KHTML-Erweiterungen
Name[el]=Προσαρμογέας επέκτασης KHTML
Name[en_GB]=KHTML Extension Adaptor
Name[eo]=KHTML-finaĵa adaptilo
Name[es]=Adaptador de extensiones KHTML
Name[et]=KHTML-i laiendi adapter
Name[eu]=KHTML luzapenen moldatzailea
Name[fa]=سازوارگر گسترش‌های KHTML
Name[fi]=KHTML-laajennussovitin
Name[fr]=Adaptateur d'extension KHTML
Name[fy]=KHTML taheaksel adaptor
Name[ga]=Cuibheoir Eisínteacht KHTML
Name[gl]=Adaptador de extensión de KHTML
Name[gu]=KHTML એક્સટેન્સન સ્વિકારનાર
Name[he]=מתאם הרחבה של KHTML
Name[hne]=केएचटीएमएल विस्तार एडाप्टर
Name[hr]=Prilagodnik proširenja za KHTML
Name[hsb]=KHTML Extension Adaptor
Name[hu]=KHTML kiterjesztésadapter
Name[hy]=KHTML երկարացնելիքի հարմարանք
Name[ia]=Adaptator pro KHTML Extension
Name[id]=Adaptor Tambahan KHTML
Name[is]=Aðlögun KHTML-endinga
Name[it]=Adattatore estensione KHTML
Name[ja]=KHTML エクステンションアダプタ
Name[kk]=KHTML кеңейту адапторы
Name[km]=អាដាប់ទ័រ​ផ្នែក​បន្ថែម KHTML
Name[kn]=KHTML ವಿಸ್ತರಣಾ  ಅನುವರ್ತಕ (ಅಡಾಪ್ಟಾರ್)
Name[ko]=KHTML 확장 기능 어댑터
Name[ku]=Pêveka Adeptora KHTML
Name[lt]=KHTML praplėtimų adapteris
Name[lv]=KHTML paplašinājumu adapteris
Name[mai]=KHTML विस्तारक एडाप्टर
Name[mk]=Адаптер за KHTML-екстензија
Name[ml]=കെഎച്ച്ടിഎംഎല്‍ എക്സ്റ്റന്‍ഷന്‍ അഡാപ്റ്റര്‍
Name[mr]=KHTML विस्तारन एडॅप्टर
Name[nb]=KHTML utvidelsesadapter
Name[nds]=Koppelsteed för KHTML-Verwiedern
Name[ne]=केडीई एचटीएमएल विस्तार समायोजक
Name[nl]=KHTML Extension Adaptor
Name[nn]=KHTML-utvidingstilpassar
Name[or]=KHTML ଅନୁଲଗ୍ନ ଉପଯୋଜକ
Name[pa]=KHTML ਇਕਸਟੈਨਸ਼ਨ ਅਡੋਪਟਰ
Name[pl]=Adapter rozszerzeń KHTML
Name[pt]=Adaptação da Extensão KHTML
Name[pt_BR]=Adaptador de extensões do KHTML
Name[ro]=Adaptor de extensii KHTML
Name[ru]=Адаптер расширений KHTML
Name[se]=KHTML-viiddádusheiveheaddji
Name[si]=KHTML දිගු ඇඩැප්ටරය
Name[sk]=Adaptér pre KHTML rozšírenia
Name[sl]=Prilagodilnik razširitve KHTML
Name[sr]=Адаптор проширења за КХТМЛ
Name[sr@ijekavian]=Адаптор проширења за КХТМЛ
Name[sr@ijekavianlatin]=Adaptor proširenja za KHTML
Name[sr@latin]=Adaptor proširenja za KHTML
Name[sv]=KHTML-utökningsanpassning
Name[ta]=KHTML விரிவு அடாப்டர்
Name[tg]=Созгори пасванди KHTML
Name[th]=ตัวแปลงส่วนขยาย KHTML
Name[tr]=KHTML Eklenti Bağdaştırıcısı
Name[tt]=KHTML өстәлмәнең адаптеры
Name[ug]=KHTML كېڭەيتىلمە ماسلاشتۇرغۇچ
Name[uk]=Адаптер розширень KHTML
Name[vi]=Bộ tiếp hợp mở rộng KHTML
Name[wa]=Adapteu d' sitindaedje KHTML
Name[x-test]=xxKHTML Extension Adaptorxx
Name[zh_CN]=KHTML 扩展适配器
Name[zh_TW]=KHTML 延伸裝置
X-KDE-Library=khtmladaptorpart
MimeType=application/x-khtml-adaptor;
X-KDE-ServiceTypes=KParts/ReadOnlyPart,Browser/View
Type=Service
InitialPreference=4
