[Desktop Entry]
Type=Service
Comment=Embeddable HTML viewing component
Comment[af]=Inlegbare HTML aansigkomponent
Comment[ar]=مكون عرض HTML المضمن
Comment[as]=Embeddable HTML চাব পৰা অংশ
Comment[ast]=Componente encrustable de vista de HTML
Comment[be]=Унутраны праглядальнік HTML
Comment[be@latin]=Unutrany kampanent dla prahladu HTML
Comment[bg]=Компонент за вграждане за преглед на HTML файлове
Comment[bn]=অভ্যন্তরীণ এইচ-টি-এম-এল প্রদর্শক উপাদান
Comment[bn_IN]=এমবেড করার যোগ্য HTML প্রদর্শনের সামগ্রী
Comment[br]=Parzh HTML gweler enframmus
Comment[bs]=Ugnezdiva komponenta za prikaz HTML‑a
Comment[ca]=Component incrustable per a visualitzar HTML
Comment[ca@valencia]=Component encastable per a visualitzar HTML
Comment[cs]=Komponenta pro zobrazování HTML
Comment[csb]=Kòmpònent do przezeraniô lopków HTML
Comment[cy]=Cydran gweld HTML mewnadeiladadwy
Comment[da]=HTML-visningskomponent som kan indlejres
Comment[de]=Einbettungsfähige HTML-Betrachtungskomponente
Comment[el]=Ενσωματώσιμο στοιχείο προβολής HTML
Comment[en_GB]=Embeddable HTML viewing component
Comment[eo]=HTML-rigarda komponanto
Comment[es]=Componente empotrable para visualizar HTML
Comment[et]=Põimitav HTML-i näitamise  komponent
Comment[eu]=Kapsulatutako HTML ikustailea
Comment[fa]=مولفه مشاهده زنگام نهفته
Comment[fi]=Upotettava HTML-katselukomponentti
Comment[fr]=Composant intégrable d'affichage HTML
Comment[fy]=Yn te sluten HTML-werjeftekomponint
Comment[ga]=Comhpháirt inleabaithe amharctha HTML
Comment[gl]=Compoñente integrábel de visualización de HTML
Comment[gu]=જડિત HTML દર્શક ભાગ
Comment[he]=רכיב בר־שיבוץ לתצוגת HTML
Comment[hi]=अंतर्निर्मित एचटीएमएल प्रदर्शक अवयव
Comment[hne]=भीतर मं बने एचटीएमएल प्रदर्सक अवयव
Comment[hr]=Ugrađena komponenta za pregledavanje HTML
Comment[hsb]=Integrowana HTML-komponenta
Comment[hu]=Beágyazható HTML-néző komponens
Comment[hy]=Ներդրվող HTML դիտելու բաղադրիչ
Comment[ia]=Componente incorporabile  pro vision HTML
Comment[id]=Komponen menampilkan HTML dapat dibenamkan
Comment[is]=Ívafin HTML-skoðunar eining
Comment[it]=Componente integrabile per la visualizzazione di HTML
Comment[ja]=埋め込み可能な HTML ビューアコンポーネント
Comment[kk]=Ендірілетін HTML қарау компоненті
Comment[km]=សមាសភាគ​មើល HTML ដែល​អាច​បង្កប់បាន
Comment[kn]=ಹುದುಗಿಸಬಹುದಾದ (ಎಂಬೆಡಬಲ್) HTML ವೀಕ್ಷಣಾ ಅಂಗ
Comment[ko]=끼워넣은 HTML 보기 구성 요소
Comment[ku]=Perçe ya nîşanderê HTML yê jixwe heyî
Comment[lb]=Abettbar HTML-Uweisungskomponent
Comment[lt]=Įdedamas HTML peržiūros komponentas
Comment[lv]=Iegultā HTML skatīšanas komponente
Comment[mai]=अंतर्निर्मित एचटीएमएल प्रदर्शक अवयव
Comment[mk]=Вгнездлива компонента за гледање HTML
Comment[ml]=എംബഡബിള്‍ ആയിട്ടുള്ള എച്ച്ടിഎംഎല്‍ കാണാനുള്ള ഘടകം
Comment[mr]=अंतर्भूतीत HTML प्रदर्शक विभाग
Comment[ms]=Komponen pelihat HTML boleh-serta
Comment[nb]=Innebygget komponent for HTML-visning
Comment[nds]=Inbettbor Kieker-Komponent för HTML
Comment[ne]=सम्मिलित गर्न सकिने एचटीएमएल दृश्य अवयव
Comment[nl]=Ingebed HTML-weergavecomponent
Comment[nn]=Innebyggbar komponent for HTML-vising
Comment[or]=ସନ୍ନିବେଶଯୋଗ୍ୟ HTML ପ୍ରଦର୍ଶନୀୟ ଉପାଦାନ
Comment[pa]=ਸ਼ਾਮਲ HTML ਵੇਖਣਯੋਗ ਹਿੱਸਾ
Comment[pl]=Składnik do przeglądania plików HTML
Comment[ps]=ليدانی رغتوک HTML راتاوېدونکی
Comment[pt]=Componente de visualização de HTML incorporada
Comment[pt_BR]=Componente integrado de visualização HTML
Comment[ro]=Componentă înglobată de vizualizare HTML
Comment[ru]=Компонент просмотра HTML
Comment[se]=Vuojuhanláhkái HTML-čájehanoassi
Comment[sk]=Komponent pre zobrazenie HTML
Comment[sl]=Vgradljiv sestavni del za ogled HTML
Comment[sq]=Përbërës Shfaqjeje i Bashkangjitur në HTML
Comment[sr]=Угнездива компонента за приказ ХТМЛ‑а
Comment[sr@ijekavian]=Угњездива компонента за приказ ХТМЛ‑а
Comment[sr@ijekavianlatin]=Ugnjezdiva komponenta za prikaz HTML‑a
Comment[sr@latin]=Ugnezdiva komponenta za prikaz HTML‑a
Comment[sv]=Inbäddningsbar HTML-visande komponent
Comment[ta]=உட்பொதிக்கவல்ல HTML காட்சிப் பாகம்
Comment[te]=పొదగదగ్గ HTML విక్షణాంశం
Comment[tg]=Қисми намоиши HTML-и дарунсохт
Comment[th]=ส่วนประกอบสำหรับแสดงผล HTML ที่ฝังได้
Comment[tr]=Gömülebilir HTML görüntüleme aracı
Comment[tt]=HTML карау өчен кушымта компоненты
Comment[ug]=سىڭدۈرمە HTML كۆرۈش بۆلىكى
Comment[uk]=Вбудований компонент «переглядач HTML»
Comment[uz]=Ichiga oʻrnatib boʻladigan HTML koʻruvchi komponent
Comment[uz@cyrillic]=Ичига ўрнатиб бўладиган HTML кўрувчи компонент
Comment[vi]=Thành phần xem HTML có khả năng nhúng.
Comment[wa]=Ravalé compôzant di håynaedje HTML
Comment[xh]=Inxenye yemboniselo elungisiweyo ye HTML
Comment[x-test]=xxEmbeddable HTML viewing componentxx
Comment[zh_CN]=可嵌入的 HTML 查看组件
Comment[zh_HK]=可嵌入的 HTML 檢視元件
Comment[zh_TW]=可嵌入的 HTML 檢視元件
MimeType=text/html;application/xml;application/xhtml+xml;
Icon=konqueror
Name=KHTML
Name[af]=KHTML
Name[ar]=KHTML
Name[as]=KHTML
Name[ast]=KHTML
Name[be]=KHTML
Name[be@latin]=KHTML
Name[bg]=KHTML
Name[bn]=KHTML
Name[bn_IN]=KHTML
Name[br]=KHTML
Name[bs]=KHTML
Name[ca]=KHTML
Name[ca@valencia]=KHTML
Name[cs]=KHTML
Name[csb]=KHTML
Name[cy]=KHTML
Name[da]=KHTML
Name[de]=KHTML
Name[el]=KHTML
Name[en_GB]=KHTML
Name[eo]=KHTML
Name[es]=KHTML
Name[et]=KHTML
Name[eu]=KHTML
Name[fa]=KHTML
Name[fi]=KHTML
Name[fr]=KHTML
Name[fy]=KHTML
Name[ga]=KHTML
Name[gl]=KHTML
Name[gu]=KHTML
Name[he]=KHTML
Name[hi]=के-एचटीएमएल
Name[hne]=के-एचटीएमएल
Name[hr]=KHTML
Name[hsb]=KHTML
Name[hu]=KHTML
Name[hy]=KHTML
Name[ia]=KHTML
Name[id]=KHTML
Name[is]=KHTML
Name[it]=KHTML
Name[ja]=KHTML
Name[kk]=KHTML
Name[km]=KHTML
Name[kn]=ಕೆಹೆಚ್ ಟಿ ಎಮ್ ಎಲ್
Name[ko]=KHTML
Name[ku]=KHTML
Name[lb]=KHTML
Name[lt]=KHTML
Name[lv]=KHTML
Name[mai]=के-एचटीएमएल
Name[mk]=KHTML
Name[ml]=കെഎച്ച്ടിഎംഎല്‍
Name[mr]=KHTML
Name[ms]=KHTML
Name[nb]=KHTML
Name[nds]=KHTML
Name[ne]=KHTML
Name[nl]=KHTML
Name[nn]=KHTML
Name[oc]=KHTML
Name[or]=KHTML
Name[pa]=KHTML
Name[pl]=KHTML
Name[ps]=KHTML
Name[pt]=KHTML
Name[pt_BR]=KHTML
Name[ro]=KHTML
Name[ru]=KHTML
Name[se]=KHTML
Name[si]=KHTML
Name[sk]=KHTML
Name[sl]=KHTML
Name[sq]=KHTML
Name[sr]=КХТМЛ
Name[sr@ijekavian]=КХТМЛ
Name[sr@ijekavianlatin]=KHTML
Name[sr@latin]=KHTML
Name[sv]=KHTML
Name[ta]=KHTML
Name[te]=కెహెచ్ టి ఎమ్ ఎల్
Name[tg]=KHTML
Name[th]=KHTML
Name[tr]=KHTML
Name[tt]=KHTML
Name[ug]=KHTML
Name[uk]=KHTML
Name[uz]=KHTML
Name[uz@cyrillic]=KHTML
Name[vi]=KHTML
Name[wa]=KHTML
Name[xh]=KHTML
Name[x-test]=xxKHTMLxx
Name[zh_CN]=KHTML
Name[zh_HK]=KHTML
Name[zh_TW]=KHTML
X-KDE-ServiceTypes=KParts/ReadOnlyPart,Browser/View
X-KDE-Library=libkhtmlpart
InitialPreference=10
