[Desktop Entry]
Name=Embedded Java Applet Viewer
Name[af]=Ingelegde Java Program Bekyker
Name[ar]=عارض بريمجات جافا المضمن
Name[as]=প্ৰোথিত Java Applet প্ৰদৰ্শক
Name[ast]=Visor d'aplicaciones Java encrustáu
Name[be]=Унутраны праглядальнік аплетаў Java
Name[be@latin]=Unutrany prahladnik apletaŭ Java
Name[bg]=Вграден визуализатор на аплети Java
Name[bn]=অভ্যন্তরীণ জাভা অ্যাপলেট প্রদর্শক
Name[bn_IN]=এমবেড করা Java Applet Viewer
Name[br]=Lenner enframmet eus arloadigoù Java
Name[bs]=Ugrađeni prikazivač java Applet-a
Name[ca]=Visor de la miniaplicació Java incrustada
Name[ca@valencia]=Visor de la miniaplicació Java encastada
Name[cs]=Zabudovaný prohlížeč Java appletů
Name[csb]=Wbùdowóny przezérnik apletów Java
Name[cy]=Gwelydd Rhaglennig Java Mewnadeiladedig
Name[da]=Indlejret Java-applet fremviser
Name[de]=Eingebetteter Betrachter für Java-Programme
Name[el]=Ενσωματωμένος προβολέας μικροεφαρμογών Java
Name[en_GB]=Embedded Java Applet Viewer
Name[eo]=Enkorpigita Ĝava rigardilo de apletoj
Name[es]=Visor empotrado de miniaplicaciones Java
Name[et]=Põimitav Java apleti näitaja
Name[eu]=Kapsulatutako Javaren applet-ikustailea
Name[fa]=مشاهده‌گر برنامک جاوای نهفته
Name[fi]=Upotettava Java-sovelmien näyttäjä
Name[fr]=Afficheur intégré d'applets Java
Name[fy]=yn sluten Java Applet Werjefte
Name[ga]=Amharcán Feidhmchláiríní Java Inleabaithe
Name[gl]=Visor integrado de applets de Java
Name[gu]=જડિત જાવા એપ્લેટ દર્શક
Name[he]=מציג יישומוני Java משובץ
Name[hi]=अंतर्निर्मित जावा ऐप्लेट प्रदर्शक
Name[hne]=भीतर मं बने जावा ऐप्लेट प्रदर्सक
Name[hr]=Ugrađeni preglednik Java appleta
Name[hsb]=Integrowany wuwjedowar za Java Applets
Name[hu]=Beágyazott megjelenítőprogram Java kisalkalmazásokhoz
Name[hy]=Ներդրված ջավա ապլետի դիտող
Name[ia]=Visor Applet Incorporate de  Java
Name[id]=Penampil Applet Java Terbenam
Name[is]=Ívefjanlegur Java Applet skoðari
Name[it]=Visualizzatore integrato di applet Java
Name[ja]=埋め込み Java アプレットビューア
Name[kk]=Ендірілетін Java апплеттерді қарау модулі
Name[km]=កម្មវិធី​មើល​អាប់ភ្លេត Java ដែល​បាន​បង្កប់
Name[kn]=ಹುದುಗಿಸಲಾದ (ಎಂಬೆಡೆಡ್) ಜಾವಾ ಅನ್ವಯಾಂಶ (ಆಪ್ಲೆಟ್) ವೀಕ್ಷಕ
Name[ko]=끼워넣은 자바 애플릿 뷰어
Name[ku]=Nîşanderê Sepanoka Java yê Jixwe Heyî
Name[lb]=Agebetteten Java-Applet-Uweiser
Name[lt]=Įdedamas Java Applet žiūriklis
Name[lv]=Iegultais Java sīklietotņu skatītājs
Name[mai]=अंतर्निर्मित जावा ऐप्लेटक प्रदर्शक
Name[mk]=Вгнезден гледач на Java аплети
Name[ml]=എംബഡഡ് ജാവ അപ്ലെറ്റ് വ്യുവര്‍
Name[mr]=अंतर्भूतीत जावा एप्लेट प्रदर्शक
Name[ms]=Pelihat Aplet Java Terserta
Name[nb]=Innebygd visning av Java-miniprogrammer
Name[nds]=Inbett Kieker för Java-Lüttprogrammen
Name[ne]=सम्मिलित जाभा एप्लेट दर्शक
Name[nl]=Ingebed Java Applet-weergaveprogramma
Name[nn]=Innebyggbar Java-programvisar
Name[or]=ସନ୍ନିବେଶିତ ଜାଭା ଏପଲେଟ ପ୍ରଦର୍ଶକ
Name[pa]=ਸ਼ਾਮਲ Java Applet ਦਰਸ਼ਕ
Name[pl]=Wbudowana przeglądarka apletów Javy
Name[ps]=راتاو جاوا څېرمه کړنلار ليدانی
Name[pt]=Visualizador Incorporado de 'Applets' Java
Name[pt_BR]=Visualizador de miniaplicativos Java integrado
Name[ro]=Vizualizor înglobat de miniaplicații Java
Name[ru]=Просмотр аплетов Java
Name[se]=Vuojuhanláhkái Javaprográmmaš čájeheaddji
Name[sk]=Zabudovaný prehliadač Java apletov
Name[sl]=Vgrajeni pregledovalnik vstavkov java
Name[sr]=Угнежђени приказивач јаванских аплета
Name[sr@ijekavian]=Угнијежђени приказивач јаванских аплета
Name[sr@ijekavianlatin]=Ugniježđeni prikazivač javanskih apleta
Name[sr@latin]=Ugnežđeni prikazivač javanskih apleta
Name[sv]=Inbäddningsbar visare av Java-miniprogram
Name[ta]=உட்பொதிந்த ஜாவா சிறுநிரல் காட்டி
Name[te]=పొదిగిన జావా ఎపలెట్ చూపరి
Name[tg]=Намоишгари дарунсохти Java Applet
Name[th]=ตัวแสดงจาวาแอพเพล็ตแบบฝังตัว
Name[tr]=Gömülü Java Aplet Görüntüleyici
Name[tt]=Java Applet өчен күзәткеч кушымтасы
Name[ug]=سىڭدۈرمە Java قوللانچاق كۆرگۈچ
Name[uk]=Вмонтований переглядач аплетів Java
Name[uz]=Ichki Java appletini koʻruvchi
Name[uz@cyrillic]=Ички Java апплетини кўрувчи
Name[vi]=Bộ xem tiểu dụng Java nhúng
Name[wa]=Ravalé håyneu d' apliketes Java
Name[x-test]=xxEmbedded Java Applet Viewerxx
Name[zh_CN]=嵌入式 Java 小程序查看器
Name[zh_TW]=Embedded Java Applet 檢視器
X-KDE-Library=kjavaappletviewer
Icon=java
MimeType=application/x-java-applet;application/x-java;
X-KDE-ServiceTypes=KParts/ReadOnlyPart,Browser/View
Type=Service
InitialPreference=2
X-KDE-BrowserView-PluginsInfo=kjava/pluginsinfo
