[Desktop Entry]
Type=Service
Comment=Embeddable Troff Viewer
Comment[af]=Inlegbare Troff Kyker
Comment[ar]=عارض نصوص Troff القابل للتضمين
Comment[ast]=Visor empotrable de Troff
Comment[be]=Убудаваны праглядальнік Troff
Comment[be@latin]=Unutrany prahladnik „Troff”
Comment[bg]=Визуализатор за вграждане на Troff
Comment[bn]=সন্নিবেশযোগ্য ট্রফ্ প্রদর্শক
Comment[bn_IN]=এমবেড করার যোগ্য Troff প্রদর্শন ব্যবস্থা
Comment[bs]=Ugnezdivi prikazivač Trofa
Comment[ca]=Visor Troff incrustable
Comment[ca@valencia]=Visor Troff encastable
Comment[cs]=Komponenta pro zobrazování manuálových stránek
Comment[csb]=Przezérnik lopków troff
Comment[cy]=Gwelydd Troff Mewnadeiladwy
Comment[da]=Indlejrbar Troff-fremviser
Comment[de]=Eingebetteter Troff-Betrachter
Comment[el]=Ενσωματώσιμος προβολέας Troff
Comment[en_GB]=Embeddable Troff Viewer
Comment[eo]=Enkorpigebla Troff-rigardilo
Comment[es]=Visor empotrable de Troff
Comment[et]=Põimitav Troff komponent
Comment[eu]=Troff ikustailu txertagarria
Comment[fa]=مشاهده‌گر Troff نهفتنی
Comment[fi]=Upotettava Troff-näytin
Comment[fr]=Afficheur « Troff » incorporé
Comment[fy]=Ynsletten Troff-werjefteprogramma
Comment[ga]=Amharcán Inleabaithe troff
Comment[gl]=Visor de Troff incrustábel
Comment[gu]=જડિત ટ્રોફ દર્શક
Comment[he]=מציג Troff בר־שיבוץ
Comment[hi]=एम्बेडेबल ट्राफ प्रदर्शक
Comment[hne]=एम्बेडेबल ट्राफ प्रदर्सक
Comment[hr]=Ugradivi preglednik slika
Comment[hsb]=Integrujomny troff-přehladowar
Comment[hu]=Beágyazható Troff-komponens
Comment[ia]=Visor Incorporabile de Troff
Comment[id]=Penampil Troff Dapat Dibenamkan
Comment[is]=Ívefjanlegur Troff skoðari
Comment[it]=Visore integrabile di file Troff
Comment[ja]=埋め込み Troff ビューア
Comment[ka]=ჩაშენებული დამთვალიერებელი პროგრამა Troff
Comment[kk]=Құрамына енгізілетін Troff қарау құралы
Comment[km]=កម្មវិធី​មើល Troff ដែល​បាន​បង្កប់
Comment[kn]=ಹುದುಗಿಸಲಾದ (ಎಂಬೆಡೆಡ್) ಟ್ರಾಫ್ ವೀಕ್ಷಕ
Comment[ko]=포함 가능한 Troff 뷰어
Comment[ku]=Nîşandêra Embeddable Troff
Comment[lt]=Įdedamas Troff žiūriklis
Comment[lv]=Iegultais Troff skatītājs
Comment[mai]=एम्बेडेबल ट्राफ प्रदर्शक
Comment[mk]=Вгнездлив Troff прегледувач
Comment[ml]=എംബഡ് ചെയ്യാവുന്ന ട്രോഫ് ദര്‍ശിനി
Comment[mr]=अंतर्भूतीत ट्राफ प्रदर्शक
Comment[ms]=Pemapar Troff Boleh Benam
Comment[nb]=Innebygget Troff-viser
Comment[nds]=Kieker för Troff, de inbett warrn kann
Comment[ne]=सम्मिलित गर्न सकिने ट्रफ दर्शक
Comment[nl]=Ingebed Troff-weergaveprogramma
Comment[nn]=Innebyggbar Troff-visar
Comment[or]=ସନ୍ନିବେଶଯୋଗ୍ୟ Troff ପ୍ରଦର୍ଶକ
Comment[pa]=ਇੰਬੈੱਡ ਹੋਣ ਯੋਗ Troff ਦਰਸ਼ਕ
Comment[pl]=Przeglądania plików troff
Comment[pt]=Visualizador de Troff incorporado
Comment[pt_BR]=Visualizador Troff Integrado
Comment[ro]=Componentă de vizualizare Troff înglobată
Comment[ru]=Встраиваемая программа просмотра Troff
Comment[se]=Vuojohahtti Troff-cájeheaddji
Comment[si]=තිළැලි Troff දසුන
Comment[sk]=Vložiteľný prehliadač Troff
Comment[sl]=Vgradni pregledovalnik za Troff
Comment[sr]=Угнездиви приказивач Трофа
Comment[sr@ijekavian]=Угњездиви приказивач Трофа
Comment[sr@ijekavianlatin]=Ugnjezdivi prikazivač Troffa
Comment[sr@latin]=Ugnezdivi prikazivač Troffa
Comment[sv]=Inbäddningsbar Troff-visare
Comment[ta]=உட்பொதிந்த ட்ராஃப் காட்சி
Comment[te]=పొదగదగ్గ ట్రాఫ్ వీక్షిణి
Comment[tg]=Намоишгари дарунсохти Troff
Comment[th]=โปรแกรมดู Troff ที่สามารถฝังตัวได้
Comment[tr]=Gömülebilir Troff Görüntüleyici
Comment[ug]=سىڭدۈرمە Troff كۆرگۈچ
Comment[uk]=Вмонтований переглядач Troff
Comment[uz]=Ichiga oʻrnatib boʻladigan Troff-faylini koʻruvchi
Comment[uz@cyrillic]=Ичига ўрнатиб бўладиган Troff-файлини кўрувчи
Comment[vi]=Trình xem Troff nhúng được
Comment[wa]=Ravalåve håyneu di fitchîs Troff
Comment[xh]=Umboniseli we Troff Elungiselekayo
Comment[x-test]=xxEmbeddable Troff Viewerxx
Comment[zh_CN]=嵌入的 Troff 查看器
Comment[zh_TW]=可嵌入的 Troff 檢視元件
MimeType=text/troff;application/x-troff-man;
Name=KManPart
Name[af]=KManPart
Name[ar]=KManPart
Name[ast]=KManPart
Name[be]=KManPart
Name[be@latin]=KManPart
Name[bg]=KManPart
Name[bn]=KManPart
Name[bn_IN]=KManPart
Name[br]=KManPart
Name[bs]=K‑uput‑deo
Name[ca]=KManPart
Name[ca@valencia]=KManPart
Name[cs]=KManPart
Name[csb]=KManPart
Name[cy]=KManPart
Name[da]=KManPart
Name[de]=KManPart
Name[el]=KManPart
Name[en_GB]=KManPart
Name[eo]=KManPart
Name[es]=KManPart
Name[et]=KManPart
Name[eu]=KManPart
Name[fa]=KManPart
Name[fi]=KManPart
Name[fr]=KManPart
Name[fy]=KManPart
Name[ga]=KManPart
Name[gl]=KManPart
Name[gu]=KManPart
Name[he]=KManPart
Name[hi]=के-मेन-पार्ट
Name[hne]=के-मेन-पार्ट
Name[hr]=KManPart
Name[hsb]=KManPart
Name[hu]=KManPart
Name[ia]=KManPart
Name[id]=KManPart
Name[is]=KManPart
Name[it]=KManPart
Name[ja]=KManPart
Name[ka]=KManPart
Name[kk]=KManPart
Name[km]=KManPart
Name[kn]=ಕೆಮಾನ್ ಪಾರ್ಟ್
Name[ko]=KManPart
Name[ku]=KManPart
Name[lt]=KManPart
Name[lv]=KManPart
Name[mai]=के-मेन-पार्ट
Name[mk]=KManPart
Name[ml]=കെമാന്‍പാര്‍ട്ട്
Name[mr]=KManPart
Name[ms]=KManPart
Name[nb]=KManPart
Name[nds]=KManPart
Name[ne]=केडीई म्यान भाग
Name[nl]=KManPart
Name[nn]=KManPart
Name[oc]=KManPart
Name[or]=KManPart
Name[pa]=KManPart
Name[pl]=KManPart
Name[pt]=KManPart
Name[pt_BR]=Componente KMan
Name[ro]=Componentă  KMan
Name[ru]=KManPart
Name[se]=KManPart
Name[si]=KManPart
Name[sk]=KManPart
Name[sl]=KManPart
Name[sr]=К‑упут‑део
Name[sr@ijekavian]=К‑упут‑дио
Name[sr@ijekavianlatin]=K‑uput‑dio
Name[sr@latin]=K‑uput‑deo
Name[sv]=Kman-del
Name[ta]=KManPart
Name[te]=కెమేన్ భాగం
Name[tg]=KManPart
Name[th]=KManPart
Name[tr]=KManPart
Name[ug]=KManPart
Name[uk]=KManPart
Name[uz]=KManPart
Name[uz@cyrillic]=KManPart
Name[vi]=KManPart
Name[wa]=KManPart
Name[xh]=KManPart
Name[x-test]=xxKManPartxx
Name[zh_CN]=KManPart
Name[zh_TW]=KManPart
X-KDE-ServiceTypes=KParts/ReadOnlyPart,Browser/View
X-KDE-Library=libkmanpart
