[Desktop Entry]
Type=Service
MimeType=multipart/mixed;multipart/x-mixed-replace;
Name=Embeddable Component for multipart/mixed
Name[af]=Inlegbare Komponent vir multideel/gemeng
Name[ar]=مكون لمتعدد الأجزاء/المختلط المضمّن
Name[as]=প্ৰোথিত কৰিব পৰা অংশ multipart/mixed ৰ বাবে
Name[ast]=Componente encrustable pa multipart/mixed
Name[be]=Унутраны кампанент для multipart/mixed
Name[be@latin]=Unutrany kampanent dla „multipart/mixed”
Name[bg]=Компонент за вграждане за преглед на съобщения multipart/mixed
Name[bn]=multipart/mixed-এর জন্য অভ্যন্তরীণ উপাদান
Name[bn_IN]=মাল্টিপার্ট/মিক্সড-র জন্য এমবেড করার যোগ্য সামগ্রী
Name[bs]=Ugradiva komponenta za višedijelni/mješoviti MIME
Name[ca]=Component incrustable per a multipart/mescla
Name[ca@valencia]=Component encastable per a multipart/mescla
Name[cs]=Pohltitelné komponenty pro 'multipart/mixed'
Name[csb]=Składowi kòmpònent dlô multipart/mixed
Name[da]=Indlejrbar komponent for multipart/mixed
Name[de]=Einbettungsfähige Komponente für MIME-Typ multipart/mixed
Name[el]=Στοιχείο που μπορεί να ενσωματωθεί για multipart/mixed
Name[en_GB]=Embeddable Component for multipart/mixed
Name[eo]=Enkorpigebla komponanto por plurparto/mikso
Name[es]=Componente empotrable para multipart/mixed
Name[et]=Multipart/mixed põimitav komponent
Name[eu]=Kapsulatutako zati-anitzen/nahastuen osagaia
Name[fa]=مؤلفه نهفته برای چند بخش/مخلوط
Name[fi]=Upotettava komponentti multipart/mixed-hallintaan
Name[fr]=Composant intégrable pour le type « multipart / mixed »
Name[fy]=Yn te sluten komponint foar mulipart/mixed
Name[ga]=Comhpháirt Inleabaithe le haghaidh multipart/mixed
Name[gl]=Compoñente integrábel para multipart/mixed
Name[gu]=multipart/mixed માટે જડિત ભાગ
Name[he]=רכיב בר־שיבוץ עבור multipart/mixed
Name[hi]=मल्टीपार्ट/मिक्स्ड के लिए अंतर्निर्मित अवयव
Name[hne]=मल्टीपार्ट/मिक्स्ड बर भीतर मं बने अवयव
Name[hr]=Ugradiva komponenta za višedijelni MIME
Name[hsb]=Integrujomna komponenta za multipart/mixed
Name[hu]=Beágyazható komponens a multipart/mixed adattípushoz
Name[ia]=Componente incorporabile pro multiparte/mixte
Name[id]=Komponen Dapat Dibenamkan untuk multibagian/campuran
Name[is]=Ívefjanleg eining fyrir MIME multipart/mixed
Name[it]=Componente integrabile per multipart/mixed
Name[ja]=マルチパート/混合 の埋め込み可能なコンポーネント
Name[kk]=multipart/mixed тіркеме үшін ендірілетін компоненті
Name[km]=សមាសភាគ​ដែល​អាច​បង្កប់​បាន​សម្រាប់​ផ្នែកជាច្រើន/លាយ
Name[kn]=ಬಹ್ವಾಂಗ (ಮಲ್ಟಿಪಾರ್ಟ್)/ಮಿಶ್ರ ಕ್ಕೆ ಪ್ರಯೋಜನವಾಗುವ ಹುದುಗಿಸಬಹುದಾದ (ಎಂಬೆಡಬಲ್) ಅಂಗ
Name[ko]=multipart/mixed를 위한 끼워넣는 구성 요소
Name[ku]=Perçe ji bo multipart/mixed yê Jixwe Heyî
Name[lb]=Abettbar Komponent fir de MIME-Genre multipart/mixed
Name[lt]=Įdedamas komponentas multipart/mixed tipui
Name[lv]=Iegulstama komponente priekš multipart/mixed
Name[mai]=मल्टीपार्ट/मिक्स्ड क' लेल अंतर्निर्मित अवयव
Name[mk]=Вгнездлива компонента за multipart/mixed
Name[ml]=മള്‍ട്ടിപാര്‍ട്ട്/മിക്സഡ് എന്നതിനുള്ള എംബഡ് ചെയ്യാവുന്ന ഘടകം
Name[mr]=multipart/मिश्र करिता अंतर्भूतीत विभाग
Name[ms]=Komponen boleh serta untuk pelbagai bahagian/bercampur
Name[nb]=Innebygget komponent for multipart/mixed
Name[nds]=Inbettbor Komponent för multipart/mixed
Name[ne]=बहुभाग/मिश्रणका लागि सम्मिलित गर्न सकिने अवयव
Name[nl]=Inbedbaar component voor multipart/mixed
Name[nn]=Innebyggbar komponent for multipart/mixed
Name[or]=ବହୁବିଧ/ମିଶ୍ରିତ ସନ୍ନିବେଶଯୋଗ୍ୟ ଉପାଦାନ
Name[pa]=ਬਹੁਭਾਗੀ/ਰਲਵੇਂ ਲਈ ਸ਼ਾਮਿਲ ਭਾਗ
Name[pl]=Moduł składowy dla multipart/mixed
Name[pt]=Componente Incorporado para multipart/mixed
Name[pt_BR]=Componente para multipart/mixed integrado
Name[ro]=Componentă înglobată pentru tip MIME multipart/mixed
Name[ru]=Просмотр вложений
Name[se]=Vuojuhanláhkái oassi multipart/mixed:a várás
Name[sk]=Komponent pre multipart/mixed
Name[sl]=Vgradljiv sestavni del za multipart/mixed
Name[sr]=Угнездива компонента за вишеделни МИМЕ
Name[sr@ijekavian]=Угњездива компонента за вишедијелни МИМЕ
Name[sr@ijekavianlatin]=Ugnjezdiva komponenta za višedijelni MIME
Name[sr@latin]=Ugnezdiva komponenta za višedelni MIME
Name[sv]=Inbäddningsbar komponent för multipart/mixed
Name[ta]=multipart/mixed க்கான உட்பொதிந்த பாகம்
Name[te]=మల్టిపార్ట్/మిక్స్డ్ కొరకు పొదిగిన అంశం
Name[tg]=Қисми дарунсохт барои зиёдқисмат/омезишшуда
Name[th]=ส่วนประกอบแบบฝังตัวได้สำหรับมัลติพาร์ต/ผสม
Name[tr]=Çok parçalı/karışık için Gömülebilir Bileşen
Name[tt]=Кушып салынган әйберне карау
Name[ug]=سىڭدۈرۈشچان multipart/mixed بۆلىكى
Name[uk]=Вбудовна компонента для повідомлень multipart/mixed
Name[uz]=Multipart/mixed uchun ichiga oʻrnatib boʻladigan komponent
Name[uz@cyrillic]=Multipart/mixed учун ичига ўрнатиб бўладиган компонент
Name[vi]=Thành phần có khả năng nhúng cho dạng thức thư đa phần/đã trộn (multipart/mixed).
Name[wa]=Ravalé compôzant pol sôre multipart/mixed
Name[x-test]=xxEmbeddable Component for multipart/mixedxx
Name[zh_CN]=可嵌入的 multipart/mixed 组件
Name[zh_HK]=multipart/mixed 的可嵌入元件
Name[zh_TW]=multipart/mixed 的可嵌入元件
X-KDE-ServiceTypes=KParts/ReadOnlyPart
X-KDE-Library=libkmultipart
