[Desktop Entry]
Type=Service
Name=KNotify
Name[af]=KNotify
Name[ar]=منبه كدي
Name[ast]=KNotify
Name[be]=KNotify
Name[be@latin]=KNotify
Name[bg]=KNotify
Name[bn]=কে-নোটিফাই
Name[bn_IN]=KNotify
Name[bs]=K‑obaveštenja
Name[ca]=KNotify
Name[ca@valencia]=KNotify
Name[cs]=KNotify
Name[csb]=KNotify
Name[da]=KNotify
Name[de]=KNotify
Name[el]=KNotify
Name[en_GB]=KNotify
Name[eo]=KNotify
Name[es]=KNotify
Name[et]=KNotify
Name[eu]=KNotify
Name[fa]=KNotify
Name[fi]=KNotify
Name[fr]=KNotify
Name[fy]=KNotify
Name[ga]=KNotify
Name[gl]=KNotify
Name[gu]=KNotify
Name[he]=KNotify
Name[hi]=के-नोटिफाई
Name[hne]=के-नोटिफाई
Name[hr]=KNotify
Name[hsb]=KNotify
Name[hu]=KNotify
Name[ia]=KNotify
Name[id]=KNotify
Name[is]=KNotify
Name[it]=KNotify
Name[ja]=KNotify
Name[ka]=KNotify
Name[kk]=KNotify
Name[km]=KNotify
Name[kn]=ಕೆನೋಟಿಫೈ
Name[ko]=KNotify
Name[ku]=KNotify
Name[lt]=KNotify
Name[lv]=KNotify
Name[mai]=के-नोटिफाई
Name[mk]=KNotify
Name[ml]=കെനോട്ടിഫൈ
Name[mr]=KNotify
Name[nb]=KNotify
Name[nds]=KNotify
Name[ne]=केडीई सूचना
Name[nl]=KNotify
Name[nn]=KNotify
Name[oc]=KNotify
Name[or]=Kବିଜ୍ଞପ୍ତି
Name[pa]=ਕੇ-ਨੋਟੀਫਾਈ
Name[pl]=KNotify
Name[pt]=KNotify
Name[pt_BR]=KNotify
Name[ro]=KNotify
Name[ru]=KNotify
Name[se]=KNotify
Name[si]=KNotify
Name[sk]=KNotify
Name[sl]=KNotify
Name[sr]=К‑обавештења
Name[sr@ijekavian]=К‑обавјештења
Name[sr@ijekavianlatin]=K‑obavještenja
Name[sr@latin]=K‑obaveštenja
Name[sv]=Underrättelse
Name[ta]=கேஅறிவி
Name[te]=KNotify
Name[tg]=KNotify
Name[th]=KNotify
Name[tr]=KNotify
Name[ug]=KNotify
Name[uk]=KNotify
Name[vi]=KNotify
Name[wa]=KNotify
Name[x-test]=xxKNotifyxx
Name[zh_CN]=KNotify
Name[zh_TW]=KNotify
Exec=knotify4
Comment=KDE Notification Daemon
Comment[af]=KDE Inkennisstel-bediener
Comment[ar]=مراقب تنبيهات كدي
Comment[ast]=Degorriu de notificaciones de KDE
Comment[be]=Сервіс абвяшчэнняў KDE
Comment[be@latin]=Słužba infarmavańnia KDE
Comment[bg]=Демон на KDE за уведомяване
Comment[bn]=কে.ডি.ই. বিজ্ঞপ্তি ডিমন
Comment[bn_IN]=KDE Notification ডেমন
Comment[bs]=KDE‑ov demon za obavještenja
Comment[ca]=Dimoni de notificacions del KDE
Comment[ca@valencia]=Dimoni de notificacions del KDE
Comment[cs]=Upozorňovací démon KDE
Comment[csb]=Ùsłëżnota dôwanié wiédzë KDE
Comment[da]=KDE bekendtgørelsesdæmon
Comment[de]=KDE-Benachrichtigungsdienst
Comment[el]=Δαίμονας ειδοποιήσεων του KDE
Comment[en_GB]=KDE Notification Dæmon
Comment[eo]=Demono de atentigo de KDE
Comment[es]=Demonio de notificaciones de KDE
Comment[et]=KDE märguannete deemon
Comment[eu]=KDE jakinarazpen deabrua
Comment[fa]=شبح اخطار KDE
Comment[fi]=KDE-ilmoitustaustaprosessi
Comment[fr]=Démon de notification de KDE
Comment[fy]=KDE's systeemberjochtenprogramma
Comment[ga]=Deamhan Fógartha KDE
Comment[gl]=Daemon de notificacións de KDE
Comment[gu]=KDE નોંધણી ડેમોન
Comment[he]=שירות ההודעות של KDE
Comment[hi]=केडीई सूचना डेमन
Comment[hne]=केडीई सूचना डेमन
Comment[hr]=KDE demon obavijesti
Comment[hsb]=KDE zdźělenski daemon
Comment[hu]=KDE rendszerüzenet-kezelő szolgáltatás
Comment[ia]=Demone de notification KDE
Comment[id]=Jurik Notifikasi KDE
Comment[is]=KDE Tilkynningaþjónn
Comment[it]=Demone delle notifiche di KDE
Comment[ja]=KDE 通知デーモン
Comment[kk]=KDE құлақтандыру қызметі
Comment[km]=ដេមិន​​ជូន​ដំណឹង​របស់ KDE
Comment[kn]=ಕೆಡಿಇ ಸೂಚನಾ ನೇಪಥಿಕ (ಡೀಮನ್)
Comment[ko]=KDE 알림 데몬
Comment[ku]=Xeyaleta Hişyarkirina KDE'yê
Comment[lt]=KDE pranešimų tarnyba
Comment[lv]=KDE paziņojumu dēmons
Comment[mai]=केडीई सूचना डेमन
Comment[mk]=KDE даемон за известувања
Comment[ml]=കെഡിഇയിലെ അറിയിപ്പുകള്‍ക്കുള്ള നിരന്തര പ്രവൃത്തി
Comment[mr]=केडीई सूचना डीमन
Comment[nb]=KDEs varslingsnisse
Comment[nds]=KDE-Dämoon för Bescheden
Comment[ne]=केडीई सूचना डेइमन
Comment[nl]=KDE Notificatie-daemon
Comment[nn]=KDE-varslingsteneste
Comment[or]=KDE ବିଜ୍ଞପ୍ତି ଡେମନ
Comment[pa]=KDE ਨੋਟੀਫਿਕੇਸ਼ਨ ਡੈਮਨ
Comment[pl]=Demon powiadomień KDE
Comment[pt]=Servidor de Notificações do KDE
Comment[pt_BR]=Servidor de notificações do KDE
Comment[ro]=Demon de notificare KDE
Comment[ru]=Служба уведомлений KDE
Comment[se]=KDE-dieđihanduogášprográmma
Comment[si]=KDE දැන්වීම් ඩීමනය
Comment[sk]=Démon upozornení KDE
Comment[sl]=KDE-jev ozadnji program za obvestila
Comment[sr]=КДЕ‑ов демон за обавештења
Comment[sr@ijekavian]=КДЕ‑ов демон за обавјештења
Comment[sr@ijekavianlatin]=KDE‑ov demon za obavještenja
Comment[sr@latin]=KDE‑ov demon za obaveštenja
Comment[sv]=KDE-underrättelsedemon
Comment[ta]=KDE அறிவிப்பு மறைநிரல்
Comment[te]=KDE నోటీసు డెమోన్
Comment[tg]=Хидмати огоҳиҳои KDE
Comment[th]=ดีมอนการแจ้งให้ทราบของ KDE
Comment[tr]=KDE Bildirim Servisi
Comment[ug]=ك د ئې(KDE) ئۇقتۇرۇش مۇئەككىلى
Comment[uk]=Фонова служба сповіщення KDE
Comment[uz]=KDE xabarnoma xizmati
Comment[uz@cyrillic]=KDE хабарнома хизмати
Comment[vi]=Trình nền thông báo KDE
Comment[wa]=Demon di notifiaedje di KDE
Comment[x-test]=xxKDE Notification Daemonxx
Comment[zh_CN]=KDE 通知守护程序
Comment[zh_TW]=KDE Notification 伺服程式
Icon=preferences-desktop-notification
X-DBUS-ServiceName=org.kde.knotify
X-DBUS-StartupType=Unique
X-KDE-StartupNotify=false
