[Desktop Entry]
Type=Service
Icon=view-sidetree
Name=Sidebar
Name[ar]=شريط جانبي
Name[ast]=Barra llateral
Name[bg]=Страничен панел
Name[bn]=সাইডবার
Name[bs]=Bočna traka
Name[ca]=Barra lateral
Name[ca@valencia]=Barra lateral
Name[cs]=Postranní lišta
Name[csb]=Bòcznô listew
Name[da]=Sidepanel
Name[de]=Navigationsbereich
Name[el]=Πλευρική μπάρα
Name[en_GB]=Sidebar
Name[eo]=Flanka breto
Name[es]=Panel lateral
Name[et]=Külgriba
Name[eu]=Albo-barra
Name[fi]=Sivupalkki
Name[fr]=Panneau latéral
Name[fy]=Sydbalke
Name[ga]=Barra Taoibh
Name[gl]=Barra lateral
Name[gu]=બાજુપટ્ટી
Name[he]=סרגל צד
Name[hi]=बाजूपट्टी
Name[hr]=Bočna traka
Name[hu]=Oldalsáv
Name[ia]=Barra lateral
Name[id]=Batang Sisi
Name[is]=Hliðarslá
Name[it]=Barra laterale
Name[ja]=サイドバー
Name[kk]=Бүйірдегі панелі
Name[km]=របារ​ចំហៀង
Name[kn]=ಬದಿಯ ಪಟ್ಟಿ
Name[ko]=사이드바
Name[lt]=Šoninė juosta
Name[lv]=Sānjosla
Name[mai]=स्लाइडबार
Name[mk]=Странична лента
Name[ml]=വശത്തു് കാണുവാന്‍
Name[mr]=बाजूचीपट्टी
Name[nb]=Sidestolpe
Name[nds]=Sietpaneel
Name[nl]=Zijbalk
Name[nn]=Sidestolpe
Name[pa]=ਬਾਹੀ
Name[pl]=Pasek boczny
Name[pt]=Barra Lateral
Name[pt_BR]=Barra lateral
Name[ro]=Bara laterală
Name[ru]=Боковая панель
Name[si]=පැති තීරුව
Name[sk]=Bočný panel
Name[sl]=Stranska vrstica
Name[sr]=Бочна трака
Name[sr@ijekavian]=Бочна трака
Name[sr@ijekavianlatin]=Bočna traka
Name[sr@latin]=Bočna traka
Name[sv]=Sidorad
Name[tg]=Панел
Name[th]=แถบข้าง
Name[tr]=Yan Çubuk
Name[ug]=يان قورال بالداق
Name[uk]=Бічна панель
Name[wa]=Bår di costé
Name[x-test]=xxSidebarxx
Name[zh_CN]=侧边栏
Name[zh_TW]=邊列
MimeType=inode/directory;
X-KDE-ServiceTypes=KParts/ReadOnlyPart,Browser/View
X-KDE-Library=konq_sidebar
X-KDE-BrowserView-AllowAsDefault=false
X-KDE-BrowserView-HideFromMenus=true
X-KDE-BrowserView-PassiveMode=true
X-KDE-BrowserView-Toggable=true
X-KDE-BrowserView-ToggableView-Orientation=vertical
X-KDE-BrowserView-HierarchicalView=true
X-KDE-BrowserView-FollowActive=true
X-KDE-BrowserView-LinkedView=false
X-KDE-BrowserView-Built-Into=konqueror
