[Desktop Entry]
Type=Service
Name=About-Page for Konqueror
Name[af]=About-Page vir Konqueror
Name[ar]=صفحة حول كونكيورر
Name[as]=Konqueror ৰ পৰিচয়ৰ পৃষ্ঠা
Name[ast]=Páxina «Tocante a» pa Konqueror
Name[be]=Інфармацыйная старонка Konqueror
Name[be@latin]=Infarmacyjnaja staronka hartača „Konqueror”
Name[bg]=Страница с информация за Konqueror
Name[bn]=কনকরার পরিচিতি পৃষ্ঠা
Name[bn_IN]=Konqueror-র পরিচিতির পেজ
Name[br]=Pajenn diwar-benn Konqueror
Name[bs]=Podaci o K‑osvajaču
Name[ca]=Pàgina quant al Konqueror
Name[ca@valencia]=Pàgina quant al Konqueror
Name[cs]=O aplikaci Konqueror
Name[csb]=Starna "Ò programie" Konquerora
Name[cy]=Tudalen Ynghylch i Konqueror
Name[da]='Om'-side for Konqueror
Name[de]=Über Konqueror
Name[el]=Σελίδα πληροφοριών για τον Konqueror
Name[en_GB]=About-Page for Konqueror
Name[eo]=Informpaĝo por Konkeranto
Name[es]=Página «Acerca de» para Konqueror
Name[et]=Konquerori info
Name[eu]=Konqueror-en 'Honi buruz' orrialdea
Name[fa]=صفحه درباره برای Konqueror
Name[fi]=Konquerorin tietoja-sivu
Name[fr]=Page « À propos » de Konqueror
Name[fy]=Ynformaasjeside foar Konqueror
Name[ga]=Leathanach Eolais le haghaidh Konqueror
Name[gl]=Páxina acerca de Konqueror
Name[gu]=કોન્કરર માટે વિશે-પાનું
Name[he]=דף אודות עבור Konqueror
Name[hi]=कॉन्करर के लिए 'के-बारे में' पृष्ठ
Name[hne]=कान्करर के परिचय पेज
Name[hr]=O programu Konqueror
Name[hsb]=Informaciska strona za Konqueror
Name[hu]=A Konqueror névjegye
Name[ia]=Pagina de a proposito de Konqueror
Name[id]=Halaman Tentang untuk Konqueror
Name[is]=Upplýsingasíða Konqueror
Name[it]=Pagina di informazioni di Konqueror
Name[ja]=Konqueror のバージョン情報ページ
Name[ka]=Konqueror-ის ცნობათა ფურცელი
Name[kk]=Konqueror туралы парақ
Name[km]=អំពី​ទំព័រ​សម្រាប់ Konqueror
Name[kn]=ಕಾಂಕರರ್ ಗೆ ಇದರ ಬಗ್ಗೆ -ಪುಟ
Name[ko]=Konqueror 정보 페이지
Name[ku]=Rûpela di Derbarê Koqueror de
Name[lt]=Apie Konqueror
Name[lv]=Konqueror par-lapa
Name[mai]=कान्करर क' लेल 'परिचय' पृष्ठ
Name[mk]=Страница за Konqueror
Name[ml]=കോണ്‍ക്വററിനെ പറ്റിയുള്ള വിവരങ്ങള്‍
Name[mr]=कॉन्करर करिता 'च्या विषयी' पान
Name[ms]=Tentang Halaman untuk Konqueror
Name[nb]=Om-side for Konqueror
Name[nds]=Infosiet över Konqueror
Name[ne]=कन्क्वेररका लागि पृष्ठका बारेमा
Name[nl]=Informatiepagina voor Konqueror
Name[nn]=Om-side Konqueror
Name[or]=Konqueror ପାଇଁ ବିବରଣୀ ପୃଷ୍ଠା
Name[pa]=ਕੋਨਕਿਉਰੋਰ ਬਾਰੇ ਸਫਾ
Name[pl]=Strona "O programie" Konquerora
Name[pt]=Página Acerca do Konqueror
Name[pt_BR]=Página "Sobre" do Konqueror
Name[ro]=Pagină informații pentru Konqueror
Name[ru]=Сведения о Konqueror
Name[se]=Diehtusiidu Konqueror várás
Name[si]=Konqueror සඳහා පිළිබඳ පිටුව
Name[sk]=Stránka o programe Konqueror
Name[sl]=Stran »O programu Konqueror«
Name[sr]=Подаци о К‑освајачу
Name[sr@ijekavian]=Подаци о К‑освајачу
Name[sr@ijekavianlatin]=Podaci o K‑osvajaču
Name[sr@latin]=Podaci o K‑osvajaču
Name[sv]=Om-sida för Konqueror
Name[ta]=கான்கொயரர் பற்றிய-பக்கம்
Name[te]=కాంకెరర్ కొరకు గురించి పుట
Name[tg]=Саҳифаи маълумотӣ дар бораи Konqueror
Name[th]=หน้าเกี่ยวกับ Konqueror 
Name[tr]=Konqueror Hakkında Sayfası
Name[ug]=Konqueror نىڭ ھەققىدە بېتى
Name[uk]=Сторінка «Про програму» Konqueror
Name[uz]=Konqueror haqida sahifa
Name[uz@cyrillic]=Konqueror ҳақида саҳифа
Name[vi]=Trang giới thiệu về Konqueror
Name[wa]=Pådje d' åd fwait di Konqueror
Name[xh]=Malunga-Nephepha le Konqueror
Name[x-test]=xxAbout-Page for Konquerorxx
Name[zh_CN]=Konqueror 的关于页面
Name[zh_TW]=Konqueror 相關資訊
X-KDE-ServiceTypes=KonqAboutPage,KParts/ReadOnlyPart
X-KDE-Library=konq_aboutpage
X-KDE-BrowserView-HideFromMenus=true
X-KDE-BrowserView-Built-Into=konqueror
