[Desktop Entry]
Type=Service
NoDisplay=true
Name=Konqueror
Name[af]=Konqueror
Name[ar]=كونكيورر
Name[as]=Konqueror
Name[ast]=Konqueror
Name[be]=Konqueror
Name[be@latin]=Konqueror
Name[bg]=Konqueror
Name[bn]=কনকরার
Name[bn_IN]=Konqueror
Name[br]=Konqueror
Name[bs]=K‑osvajač
Name[ca]=Konqueror
Name[ca@valencia]=Konqueror
Name[cs]=Konqueror
Name[csb]=Konqueror
Name[cy]=Konqueror
Name[da]=Konqueror
Name[de]=Konqueror
Name[el]=Konqueror
Name[en_GB]=Konqueror
Name[eo]=Konkeranto
Name[es]=Konqueror
Name[et]=Konqueror
Name[eu]=Konqueror
Name[fi]=Konqueror
Name[fr]=Konqueror
Name[fy]=Konqueror
Name[ga]=Konqueror
Name[gl]=Konqueror
Name[gu]=કોન્કરર
Name[he]=Konqueror
Name[hi]=कॉन्करर
Name[hne]=कान्करर
Name[hr]=Konqueror
Name[hsb]=Konqueror
Name[hu]=Konqueror
Name[ia]=Konqueror
Name[id]=Konqueror
Name[is]=Konqueror
Name[it]=Konqueror
Name[ja]=Konqueror
Name[ka]=Konqueror
Name[kk]=Konqueror
Name[km]=Konqueror
Name[kn]=ಕಾಂಕರರ್
Name[ko]=Konqueror
Name[ku]=Konqueror
Name[lt]=Konqueror
Name[lv]=Konqueror
Name[mai]=कोन्करर
Name[mk]=Konqueror
Name[ml]=കോണ്‍ക്വറര്‍
Name[mr]=कॉन्करर
Name[ms]=Konqueror
Name[nb]=Konqueror
Name[nds]=Konqueror
Name[ne]=कन्क्वेरर
Name[nl]=Konqueror
Name[nn]=Konqueror
Name[oc]=Konqueror
Name[or]=Konqueror
Name[pa]=ਕੋਨਕਿਉਰੋਰ
Name[pl]=Konqueror
Name[pt]=Konqueror
Name[pt_BR]=Konqueror
Name[ro]=Konqueror
Name[ru]=Konqueror
Name[se]=Konqueror
Name[si]=Konqueror
Name[sk]=Konqueror
Name[sl]=Konqueror
Name[sr]=К‑освајач
Name[sr@ijekavian]=К‑освајач
Name[sr@ijekavianlatin]=K‑osvajač
Name[sr@latin]=K‑osvajač
Name[sv]=Konqueror
Name[ta]=கான்கொயரர்
Name[te]=కాంకెరర్
Name[tg]=Konqueror
Name[th]=Konqueror
Name[tr]=Konqueror
Name[ug]=Konqueror
Name[uk]=Konqueror
Name[uz]=Konqueror
Name[uz@cyrillic]=Konqueror
Name[vi]=Konqueror
Name[wa]=Konqueror
Name[xh]=Konqueror
Name[x-test]=xxKonquerorxx
Name[zh_CN]=Konqueror
Name[zh_TW]=Konqueror
Exec=konqueror %U
Comment=KDE File Manager & Web Browser
Comment[af]=Kde Lêer Bestuurder & Web Blaaier
Comment[ar]=مدير ملفات كدي و متصفح الوِب
Comment[as]=KDE File Manager & Web Browser
Comment[ast]=Xestor de ficheros y restolador web de KDE
Comment[be]=Файлавы кіраўнік і вандроўнік па Сеціве для KDE
Comment[be@latin]=Kiraŭnik fajłaŭ i hartač sieciva dla KDE
Comment[bg]=Файлов и уеб браузър
Comment[bn]=কে.ডি.ই ফাইল ম্যানেজার এবং ওয়েব ব্রাউজার
Comment[bn_IN]=KDE ফাইল পরিচালন ব্যবস্থা ও ওয়েব ব্রাউজার
Comment[br]=Merour restroù ha merdeer gwiad KDE
Comment[bs]=KDE‑ov menadžer datoteka i veb pregledač
Comment[ca]=El gestor de fitxers i navegador Web del KDE
Comment[ca@valencia]=El gestor de fitxers i navegador Web del KDE
Comment[cs]=Správce souborů a prohlížeč Webu pro prostředí KDE
Comment[csb]=KDE Menadżera lopków ë przezérnik WWW
Comment[cy]=Trefnydd Ffeiliau a Porydd Gwe KDE
Comment[da]=KDE's filhåndtering og webbrowser
Comment[de]=Der Dateimanager und Webbrowser von KDE
Comment[el]=Διαχειριστής αρχείων & Περιηγητής ιστού του KDE
Comment[en_GB]=KDE File Manager & Web Browser
Comment[eo]=KDE-dosieradministrilo kaj TTT-legilo
Comment[es]=Gestor de archivos y navegador web de KDE
Comment[et]=KDE failihaldur & veebibrauser
Comment[eu]=KDEko fitxategi-kudeatzailea eta web arakatzailea
Comment[fa]=مدیر پرونده و مرورگر وب KDE
Comment[fi]=KDE:n tiedostonhallinta ja selain
Comment[fr]=Gestionnaire de fichiers et navigateur Web de KDE
Comment[fy]=KDE's Triembehearder en webblêder
Comment[ga]=Bainisteoir Comhad agus Brabhsálaí KDE
Comment[gl]=Xestor de ficheiros e navegador web de KDE
Comment[gu]=KDE ફાઇલ વ્યવસ્થાપક અને વેબ બ્રાઉઝર
Comment[he]=מנהל הקבצים ודפדפן האינטרנט של KDE
Comment[hi]=केडीई फ़ाइल प्रबंधक व वेब ब्राउज़र
Comment[hne]=केडीई फाइल प्रबंधक अउ वेब ब्राउजर
Comment[hr]=KDE-ov upravitelj datoteka i web preglednik
Comment[hsb]=KDE datajowy manager & web browser
Comment[hu]=KDE fájlkezelő és webböngésző
Comment[ia]=KDE: Gerente de file & Navigator web
Comment[id]=Manajer berkas & Peramban Web KDE
Comment[is]=KDE skráastjóri og vafri
Comment[it]=Gestore dei file e browser Web di KDE
Comment[ja]=KDE ファイルマネージャ & ウェブブラウザ
Comment[ka]=ფაილური მენეჯერი და ვებ ბრაუზერი
Comment[kk]=KDE файл менеджері және Веб шолғышы
Comment[km]=កម្មវិធី​គ្រប់គ្រង​ឯកសារ និង​កម្មវិធី​រុករក​បណ្ដាញ​របស់ KDE​
Comment[kn]=ಕೆಡಿಇ ಕಡತ ವ್ಯವಸ್ಥಾಪಕ ಮತ್ತು ಜಾಲ ವೀಕ್ಷಕ
Comment[ko]=KDE 파일 관리자와 웹 브라우저
Comment[ku]=Rêveberiya pelan û Geroka KDE'yê
Comment[lt]=KDE failų tvarkyklė ir žiniatinklio naršyklė
Comment[lv]=KDE failu pārvaldnieks un tīmekļa pārlūks
Comment[mai]=केडीई फाइल प्रबंधक आ वेब ब्राउजर
Comment[mk]=Менаџер на датотеки и веб-прелистувач во KDE
Comment[ml]=കെഡിഇയിലെ ഫയലുകളുടെ നടത്തിപ്പുകാരനും വെബ് ബ്രൌസറും
Comment[mr]=केडीई फाईल प्रबंधक व वेब ब्राऊजर
Comment[ms]=Pengurus Fail KDE & Pelayar Web
Comment[nb]=Filbehandler og nettleser for KDE
Comment[nds]=KDE sien Dateipleger un Nettkieker
Comment[ne]=केडीई फाइल प्रबन्धक र वेब ब्राउजर
Comment[nl]=KDE's bestandsbeheerder en webbrowser
Comment[nn]=Filhandsamar og nettlesar for KDE
Comment[or]=KDE ଫାଇଲ ପରିଚାଳକ ଏବଂ ୱେବ ବ୍ରାଉଜର
Comment[pa]=KDE ਫਾਇਲ ਮੈਨੇਜਰ ਅਤੇ ਵੈੱਬ ਬਰਾਊਜ਼ਰ
Comment[pl]=Zarządzanie plikami i przeglądarka WWW dla KDE
Comment[pt]=Gestor de ficheiros e navegador na WWW
Comment[pt_BR]=Gerenciador de arquivos e navegador da Internet do KDE
Comment[ro]=Gestionar de fișiere KDE și navigator de web
Comment[ru]=Диспетчер файлов и веб-браузер
Comment[se]=KDE fiilagieđahalli ja fierpmádatlogan
Comment[si]=KDE ගොනු කළමණාකරු සහ වෙබ් ගවේශකය
Comment[sk]=Správca súborov a Web prehliadač pre KDE
Comment[sl]=Upravljalnik datotek in spletni brskalnik za KDE
Comment[sr]=КДЕ‑ов менаџер фајлова и веб прегледач
Comment[sr@ijekavian]=КДЕ‑ов менаџер фајлова и веб прегледач
Comment[sr@ijekavianlatin]=KDE‑ov menadžer fajlova i veb pregledač
Comment[sr@latin]=KDE‑ov menadžer fajlova i veb pregledač
Comment[sv]=KDE:s filhanterare och webbläsare
Comment[ta]=கேபசூ கோப்பு மேலாளர் & வலை உலாவி
Comment[te]=కెడిఈ దస్త్ర అభికర్త & వెబ్ బ్రౌజర్
Comment[tg]=Мудири файлҳои KDE ва Браузери Интернет
Comment[th]=จัดการแฟ้ม & เว็บเบราว์เซอร์ของ KDE
Comment[tr]=KDE Dosya Yöneticisi ve Web Tarayıcısı
Comment[ug]=KDE ھۆججەت باشقۇرغۇچ ۋە توركۆرگۈ
Comment[uk]=Керування файлами KDE та навігатор інтернету
Comment[uz]=KDE uchun fayl boshqaruvchi va veb-brauzer
Comment[uz@cyrillic]=KDE учун файл бошқарувчи ва веб-браузер
Comment[vi]=Trình quản lý Tập tin và Duyệt mạng KDE
Comment[wa]=Manaedjeu di fitchîs eyet betchteu waibe di KDE
Comment[xh]=Umphathi Wefayile ye KDE & Umkhangeli zincwadi we Web
Comment[x-test]=xxKDE File Manager & Web Browserxx
Comment[zh_CN]=KDE 文件管理器和 Web 浏览器
Comment[zh_TW]=KDE 檔案管理程式和網頁瀏覽器
Icon=konqueror
X-DBUS-StartupType=multi
X-KDE-StartupNotify=true
X-KDE-HasTempFileOption=true
X-KDE-Protocols=KIO
