[Desktop Entry]
Icon=view-calendar-day
Type=Service
X-KDE-ServiceTypes=KCModule

X-KDE-Library=kcm_kresources
X-KDE-FactoryName=kcm_kresources
X-KDE-ParentApp=kcontrol
X-DocPath=kcontrol/kresources/index.html

Name=KDE Resources
Name[be]=Рэсурсы KDE
Name[bs]=KDE Resursi
Name[ca]=Recursos del KDE
Name[ca@valencia]=Recursos del KDE
Name[cs]=Zdroje KDE
Name[da]=KDE-ressourcer
Name[de]=KDE-Ressourcen
Name[el]=Πόροι του KDE
Name[en_GB]=KDE Resources
Name[es]=Recursos KDE
Name[et]=KDE ressursid
Name[fi]=KDE-resurssit
Name[fr]=Ressources KDE
Name[ga]=Acmhainní KDE
Name[gl]=Recursos do KDE
Name[he]=משאבי KDE
Name[hne]=केडीई संसाधन
Name[hu]=KDE-erőforrások
Name[ia]=Ressources de KDE
Name[it]=Risorse di KDE
Name[ja]=KDE リソース
Name[kk]=KDE деректер көзі
Name[km]=ធនធាន​របស់ KDE
Name[lt]=KDE resursai
Name[lv]=KDE resursi
Name[mr]=केडीई स्रोत
Name[nb]=KDE-ressurser
Name[nds]=KDE Ressourcen
Name[nl]=KDE-hulpbronnen
Name[nn]=KDE-ressursar
Name[pa]=KDE ਸਰੋਤ
Name[pl]=Zasoby KDE
Name[pt]=Recursos do KDE
Name[pt_BR]=Fontes de dados do KDE
Name[ro]=Resurse KDE
Name[ru]=Источники данных
Name[se]=KDE-resurssat
Name[sk]=KDE zdroje
Name[sl]=Viri KDE
Name[sq]=Resurset KDE
Name[sr]=КДЕ ресурси
Name[sr@ijekavian]=КДЕ ресурси
Name[sr@ijekavianlatin]=KDE resursi
Name[sr@latin]=KDE resursi
Name[sv]=KDE-resurser
Name[th]=ทรัพยากร KDE
Name[tr]=KDE Kaynakları
Name[uk]=Ресурси KDE
Name[wa]=Rissources di KDE
Name[x-test]=xxKDE Resourcesxx
Name[zh_CN]=KDE 资源
Name[zh_TW]=KDE 資源

Comment=Configure KDE Resources
Comment[be]=Настаўленні рэсурсаў KDE
Comment[bs]=Podešavanje KDE resursa
Comment[ca]=Configura els recursos del KDE
Comment[ca@valencia]=Configura els recursos del KDE
Comment[cs]=Nastavení zdrojů KDE
Comment[da]=Indstil KDE-ressourcer
Comment[de]=KDE-Ressourcen einrichten
Comment[el]=Διαμόρφωση πόρων του KDE
Comment[en_GB]=Configure KDE Resources
Comment[es]=Configurar recursos de KDE
Comment[et]=KDE ressursside seadistamine
Comment[fi]=KDE-resurssien asetukset
Comment[fr]=Configurer les ressources KDE
Comment[ga]=Cumraigh Acmhainní KDE
Comment[gl]=Configurar os recursos do KDE
Comment[he]=הגדר את המשאבים של KDE
Comment[hne]=केडीई संसाधन मन ल कान्फिगर करव
Comment[hu]=A KDE-erőforrások beállítása
Comment[ia]=Configura Ressources de KDE
Comment[it]=Configura le risorse di KDE
Comment[ja]=KDE リソースの設定
Comment[kk]=KDE деректер көзідерін баптау
Comment[km]=កំណត់​រចនាសម្ព័ន្ធ​ធនធាន KDE
Comment[lt]=Konfigūruoti KDE resursus
Comment[lv]=Konfigurēt KDE resursus
Comment[mr]=केडीई स्रोत संयोजीत करा
Comment[nb]=Sett opp KDE-ressurser
Comment[nds]=KDE Ressourcen instellen
Comment[nl]=KDE-hulpbronnen instellen
Comment[nn]=Set opp KDE-ressursar
Comment[pa]=KDE ਸਰੋਤ ਸੰਰਚਨਾ
Comment[pl]=Konfiguruj zasoby KDE
Comment[pt]=Configurar os Recursos do KDE
Comment[pt_BR]=Configura as fontes de dados do KDE
Comment[ro]=Configurare resurse KDE
Comment[ru]=Настройка источников данных KDE
Comment[se]=Heivet KDE-resurssaid
Comment[sk]=Konfiguruj KDE zdroje
Comment[sl]=Nastavi vire KDE
Comment[sr]=Подешавање ресурса КДЕ‑а
Comment[sr@ijekavian]=Подешавање ресурса КДЕ‑а
Comment[sr@ijekavianlatin]=Podešavanje resursa KDE‑a
Comment[sr@latin]=Podešavanje resursa KDE‑a
Comment[sv]=Anpassa KDE-resurser
Comment[th]=ปรับแต่งทรัพยากรต่าง ๆ ของ KDE
Comment[tr]=KDE Kaynaklarını Yapılandır
Comment[uk]=Налаштування ресурсів даних KDE
Comment[wa]=Apontyî les rsources di KDE
Comment[x-test]=xxConfigure KDE Resourcesxx
Comment[zh_CN]=配置 KDE 资源
Comment[zh_TW]=設定 KDE 資源

X-KDE-Keywords=resources,konnector resource,contact resource,calendar resource,notes resource,alarm resource,imap
X-KDE-Keywords[bs]=resources,konnector resource,contact resource,calendar resource,notes resource,alarm resource,imap, resursi, kontakt resursi, alarmni resursi
X-KDE-Keywords[ca]=recursos,recurs de konnector,recurs de contacte,recurs de calendari,recurs de notes,recurs d'alarma,imap
X-KDE-Keywords[ca@valencia]=recursos,recurs de konnector,recurs de contacte,recurs de calendari,recurs de notes,recurs d'alarma,imap
X-KDE-Keywords[da]=ressourcer,konnector-ressource,kontakt-ressource,kalender-ressource,note-ressource,alarm-ressource,imap
X-KDE-Keywords[de]=resources,konnector resource,contact resource,calendar resource,notes resource,alarm resource,imap
X-KDE-Keywords[el]=πόροι,πόρος konnector,επαφή,πόρος,πόρος ημερολογίου,πόρος σημειώσεων,πόρος ειδοποιήσεων,imap
X-KDE-Keywords[es]=recursos,recurso de conector,recurso de contacto,recurso de calendario,recurso de notas,recurso de alarma,imap
X-KDE-Keywords[et]=ressursid,konnektor,ressurss,kontaktiressurss,kalendriressurss,märkmeressurss,häireressurss,imap
X-KDE-Keywords[fi]=resurssit,konnector-resurssi,yhteystietoresurssi,kalenteriresurssi,muistiinpanoresurssi,hälytysresurssi,imap
X-KDE-Keywords[fr]=ressources, ressource connecteur, ressource contact, ressource agenda, ressource notes, ressource alarme, imap
X-KDE-Keywords[ga]=acmhainní,acmhainn konnector,acmhainn teagmhála,acmhainn fhéilire,acmhainn nótaí,acmhainn aláraim,imap
X-KDE-Keywords[gl]=resources,konnector resource,contact resource,calendar resource,notes resource,alarm resource,imap,recursos,recurso de conexión,recurso konnector,recurso de contacto, recurso de calendario,recurso de notas,recurso de alarma
X-KDE-Keywords[he]=resources,konnector resource,contact resource,calendar resource,notes resource,alarm resource,imap,משאב,לוח שנה, לוח־שנה,הערות,אזעקה
X-KDE-Keywords[hu]=erőforrások, összekötő erőforrás, névjegy erőforrás,naptár erőforrás,jegyzet erőforrás, figyelmeztetés erőforrás,imap
X-KDE-Keywords[ia]=ressources,ressource de connector, ressource de contacto, ressource de calendario, ressource de notas, ressource de alarma, imap
X-KDE-Keywords[it]=risorse,risorse di konnector,risorse dei contatti,risorse del calendario,note risorse,risorse sveglia,imap
X-KDE-Keywords[kk]=resources,konnector resource,contact resource,calendar resource,notes resource,alarm resource,imap
X-KDE-Keywords[km]=ធនធាម ធនធាន konnector ធនធាន​ទំនាក់ទំនង ធនធាន​ប្រតិទិន ធនធាន​ចំណាំ ធនធាន​ការ​ជូន​ដំណឹង imap
X-KDE-Keywords[nb]=ressurser, konnector ressurs, kontaktressurs, kalenderressurs, merknadsressurs, varslingsressurs, imap
X-KDE-Keywords[nl]=hulpbronnen,konnector-hulpbron,contactpersoon-hulpbron,agenda-hulpbron, notities-hulpbron,herinneringen-hulpbron,imap
X-KDE-Keywords[pl]=zasoby,zasoby konnector,zasoby kontaktu,zasoby kalendarz,zasoby notatek,zasoby alarmu,imap
X-KDE-Keywords[pt]=recursos,recurso do konector,recurso de contacto,recurso de calendário,recurso de notas,recurso de alarme,IMAP
X-KDE-Keywords[pt_BR]=recursos,recurso do konnector,recurso do contato,recurso do calendário, recurso de notas, recurso do alarme,imap
X-KDE-Keywords[ru]=resources,konnector resource,contact resource,calendar resource,notes resource,alarm resource,imap,ресурсы,контакт,контакты,календарь,заметка,заметки,уведомление,оповещение
X-KDE-Keywords[sk]=zdroje,zdroje konnector,zdroje kontaktov,zdroje kalendára,zdroje poznámok,zdroje výstrah,imap
X-KDE-Keywords[sl]=viri,vir konnector,vir stikov,vir koledarjev,vir notic,vir alarmov,imap
X-KDE-Keywords[sr]=resources,konnector resource,contact resource,calendar resource,notes resource,alarm resource,imap,ресурси,ресурс конектора,ресурс контаката,ресурс календара,ресурс белешки,ресурс аларма,ИМАП
X-KDE-Keywords[sr@ijekavian]=resources,konnector resource,contact resource,calendar resource,notes resource,alarm resource,imap,ресурси,ресурс конектора,ресурс контаката,ресурс календара,ресурс белешки,ресурс аларма,ИМАП
X-KDE-Keywords[sr@ijekavianlatin]=resources,konnector resource,contact resource,calendar resource,notes resource,alarm resource,imap,resursi,resurs konektora,resurs kontakata,resurs kalendara,resurs beleški,resurs alarma,IMAP
X-KDE-Keywords[sr@latin]=resources,konnector resource,contact resource,calendar resource,notes resource,alarm resource,imap,resursi,resurs konektora,resurs kontakata,resurs kalendara,resurs beleški,resurs alarma,IMAP
X-KDE-Keywords[sv]=resurser,konnector resurs,kontaktresurs,kalenderresurs,anteckningsresurs,alarmresurs,imap
X-KDE-Keywords[tr]=kaynaklar,bağlantı kaynakları,kişi kaynağı,takvim kaynağı,not kaynağı,alarm kaynağı,imap
X-KDE-Keywords[uk]=resources,konnector resource,contact resource,calendar resource,notes resource,alarm resource,imap,ресурси,контакт,календар,ресурс,нотатка,нотатки,нагадування
X-KDE-Keywords[x-test]=xxresources,konnector resource,contact resource,calendar resource,notes resource,alarm resource,imapxx
X-KDE-Keywords[zh_CN]=resources,konnector resource,contact resource,calendar resource,notes resource,alarm resource,imap,资源,联系人资源,日历资源,便笺资源,定时资源
X-KDE-Keywords[zh_TW]=resources,konnector resource,contact resource,calendar resource,notes resource,alarm resource,imap
