[Desktop Entry]
Type=Service
Name=ShortURIFilter
Name[af]=KortURIfilter
Name[ar]=مرشح الرابط القصير
Name[as]=ShortURIFilter
Name[ast]=Peñera d'URI curties
Name[be]=ShortURIFilter
Name[be@latin]=ShortURIFilter
Name[bg]=ShortURIFilter
Name[bn]=ShortURIFilter
Name[bn_IN]=ShortURIFilter
Name[br]=SilURLBerr
Name[bs]=Filter kratkih URI‑ja
Name[ca]=Filtre d'URI curta
Name[ca@valencia]=Filtre d'URI curta
Name[cs]=ShortURIFilter
Name[csb]=Filter krótczich URI
Name[cy]=HidlURIByr
Name[da]=KortURIFilter
Name[de]=Kurz-URL-Filter
Name[el]=Φίλτρο σύντομων URI
Name[en_GB]=ShortURIFilter
Name[eo]=ShortURIFilter
Name[es]=Filtro de URI cortas
Name[et]=Lühi-URL-ide filter
Name[eu]=URL laburren iragazkia
Name[fa]=ShortURIFilter
Name[fi]=ShortURIFilter
Name[fr]=Filtres d'URL courtes
Name[fy]=ShortURIFilter
Name[ga]=ShortURIFilter
Name[gl]=ShortURIFilter
Name[gu]=ટૂંકુંURIગાળક
Name[he]=ShortURIFilter
Name[hi]=शॉर्ट-यूआरआई-फ़िल्टर
Name[hne]=सार्ट-यूआरआई-फिल्टर
Name[hr]=Filtar kratkih URI-a
Name[hsb]=ShortURIFilter
Name[hu]=RövidURISzűrő
Name[ia]=ShortURIFilter
Name[id]=ShortURIFilter
Name[is]=ShortURIFilter
Name[it]=Filtro di URI brevi
Name[ja]=ShortURIFilter
Name[ka]=ShortURIFilter
Name[kk]=ShortURIFilter
Name[km]=ShortURIFilter
Name[kn]=ShortURIFilter
Name[ko]=ShortURIFilter
Name[ku]=ShortURIFilter
Name[lt]=ShortURIFilter
Name[lv]=ĪssURIFiltrs
Name[mai]=शार्ट-यूआरआई-फिल्टर
Name[mk]=ShortURIFilter
Name[ml]=ഷോര്‍ട്ട്‌യുആര്‍ഐഫില്‍ട്ടര്‍
Name[mr]=शॉर्ट URI गाळणी
Name[ms]=ShortURIFilter
Name[nb]=ShortURIFilter
Name[nds]=KortURI-Filter
Name[ne]=छोटो यूआरआई फिल्टर
Name[nl]=ShortURIFilter
Name[nn]=ShortURIFilter
Name[or]=ShortURIFilter
Name[pa]=ShortURI ਫਿਲਟਰ
Name[pl]=Filtr Krótkich URI
Name[pt]=ShortURIFilter
Name[pt_BR]=Filtro URI
Name[ro]=Filtru de URI-uri scurte
Name[ru]=ShortURIFilter
Name[se]=ShortURIFilter
Name[si]=කෙටි URI පෙරණය
Name[sk]=KrátkyURIFilter
Name[sl]=FilterZaKratkeURI
Name[sr]=Филтер кратких УРИ‑ја
Name[sr@ijekavian]=Филтер кратких УРИ‑ја
Name[sr@ijekavianlatin]=Filter kratkih URI‑ja
Name[sr@latin]=Filter kratkih URI‑ja
Name[sv]=Kortwebbadressfilter
Name[ta]=ShortURIFilter
Name[te]=ShortURIFilter
Name[tg]=ShortURIFilter
Name[th]=ShortURIFilter
Name[tr]=KısaURISüzgeci
Name[ug]=قىسقا URI سۈزگۈچ
Name[uk]=Фільтр коротких URI
Name[uz]=ShortURIFilter
Name[uz@cyrillic]=ShortURIFilter
Name[vi]=ShortURIFilter
Name[wa]=Passete Coûte URI
Name[xh]=ShortURIFilter
Name[x-test]=xxShortURIFilterxx
Name[zh_CN]=短 URI 过滤
Name[zh_TW]=短 URI 過濾器
X-KDE-Library=kshorturifilter
X-KDE-ServiceTypes=KUriFilter/Plugin
InitialPreference=5
