[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=Sonnet/SpellClient
X-KDE-Library=kspell_hspell
X-KDE-PluginInfo-Author=Mashrab Kuvatov
X-KDE-PluginInfo-Email=kmashrab@uni-bremen.de
X-KDE-PluginInfo-Name=kspell_hspell
X-KDE-PluginInfo-Version=0.0.1
X-KDE-PluginInfo-Website=http://www.kde.org
X-KDE-PluginInfo-Category=Clients
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=LGPL
X-KDE-PluginInfo-EnabledByDefault=true
Name=HSpell
Name[af]=HSpell
Name[ar]=ه‍ سبل
Name[as]=HSpell
Name[ast]=HSpell
Name[be]=HSpell
Name[be@latin]=HSpell
Name[bg]=HSpell
Name[bn]=এইচ-স্পেল
Name[bn_IN]=HSpell
Name[br]=HSpell
Name[bs]=HSpell
Name[ca]=HSpell
Name[ca@valencia]=HSpell
Name[cs]=HSpell
Name[csb]=HSpell
Name[da]=HSpell
Name[de]=HSpell
Name[el]=HSpell
Name[en_GB]=HSpell
Name[eo]=HSpell
Name[es]=HSpell
Name[et]=HSpell
Name[eu]=HSpell
Name[fa]=HSpell
Name[fi]=HSpell
Name[fr]=HSpell
Name[fy]=HSpell
Name[ga]=HSpell
Name[gl]=HSpell
Name[gu]=હસ્પેલ
Name[he]=HSpell
Name[hi]=एचस्पेल
Name[hne]=एचस्पेल
Name[hr]=HSpell
Name[hsb]=HSpell
Name[hu]=HSpell
Name[hy]=HSpell
Name[ia]=HSpell
Name[id]=HSpell
Name[is]=HSpell
Name[it]=HSpell
Name[ja]=HSpell
Name[kk]=HSpell
Name[km]=HSpell
Name[kn]=ಎಚ್ ಸ್ಪೆಲ್
Name[ko]=HSpell
Name[ku]=HSpell
Name[lb]=HSpell
Name[lt]=HSpell
Name[lv]=HSpell
Name[mai]=एचस्पेल
Name[mk]=HSpell
Name[ml]=എച്ച്സ്പെല്‍
Name[mr]=HSpell
Name[ms]=HSpell
Name[nb]=HSpell
Name[nds]=HSpell
Name[ne]=एच स्पेल
Name[nl]=HSpell
Name[nn]=HSpell
Name[or]=HSpell
Name[pa]=HSpell
Name[pl]=HSpell
Name[ps]=HSpell
Name[pt]=HSpell
Name[pt_BR]=HSpell
Name[ro]=HSpell
Name[ru]=HSpell
Name[se]=HSpell
Name[si]=HSpell
Name[sk]=HSpell
Name[sl]=HSpell
Name[sq]=HSpell
Name[sr]=Хспел
Name[sr@ijekavian]=Хспел
Name[sr@ijekavianlatin]=Hspell
Name[sr@latin]=Hspell
Name[sv]=Hspell
Name[ta]=HSpell
Name[te]=హెచ్ స్పెల్
Name[tg]=HSpell
Name[th]=HSpell
Name[tr]=HSpell
Name[tt]=HSpell
Name[ug]=HSpell
Name[uk]=HSpell
Name[uz]=HSpell
Name[uz@cyrillic]=HSpell
Name[vi]=HSpell
Name[wa]=HSpell
Name[x-test]=xxHSpellxx
Name[zh_CN]=HSpell
Name[zh_HK]=HSpell
Name[zh_TW]=HSpell
