[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=Sonnet/SpellClient
X-KDE-Library=kspell_aspell
X-KDE-PluginInfo-Author=Zack Rusin
X-KDE-PluginInfo-Email=zack@kde.org
X-KDE-PluginInfo-Name=kspell_aspell
X-KDE-PluginInfo-Version=0.0.1
X-KDE-PluginInfo-Website=http://www.kde.org
X-KDE-PluginInfo-Category=Clients
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=LGPL
X-KDE-PluginInfo-EnabledByDefault=true
Name=ASpell
Name[af]=ASpell
Name[ar]=أسبل
Name[as]=ASpell
Name[ast]=ASpell
Name[be]=ASpell
Name[be@latin]=ASpell
Name[bg]=ASpell
Name[bn]=এ-স্পেল
Name[bn_IN]=ASpell
Name[br]=ASpell
Name[bs]=Aspell
Name[ca]=ASpell
Name[ca@valencia]=ASpell
Name[cs]=ASpell
Name[csb]=ASpell
Name[da]=ASpell
Name[de]=ASpell
Name[el]=ASpell
Name[en_GB]=ASpell
Name[eo]=ASpell
Name[es]=ASpell
Name[et]=ASpell
Name[eu]=ASpell
Name[fa]=ASpell
Name[fi]=ASpell
Name[fr]=ASpell
Name[fy]=ASpell
Name[ga]=ASpell
Name[gl]=ASpell
Name[gu]=એસ્પેલ
Name[he]=ASpell
Name[hi]=आस्पेल
Name[hne]=आस्पेल
Name[hr]=ASpell
Name[hsb]=ASpell
Name[hu]=ASpell
Name[hy]=ASpell
Name[ia]=ASpell
Name[id]=ASpell
Name[is]=ASpell
Name[it]=ASpell
Name[ja]=ASpell
Name[kk]=ASpell
Name[km]=ASpell
Name[kn]=ಎಸ್ಪೆಲ್
Name[ko]=ASpell
Name[ku]=ASpell
Name[lb]=ASpell
Name[lt]=ASpell
Name[lv]=ASpell
Name[mai]=आस्पेल
Name[mk]=ASpell
Name[ml]=ആസ്പെല്‍
Name[mr]=ASpell
Name[ms]=ASpell
Name[nb]=ASpell
Name[nds]=ASpell
Name[ne]=ASpell
Name[nl]=ASpell
Name[nn]=ASpell
Name[or]=ASpell
Name[pa]=ASpell
Name[pl]=ASpell
Name[ps]=ASpell
Name[pt]=ASpell
Name[pt_BR]=ASpell
Name[ro]=ASpell
Name[ru]=ASpell
Name[se]=ASpell
Name[si]=ASpell
Name[sk]=ASpell
Name[sl]=ASpell
Name[sq]=ASpell
Name[sr]=Аспел
Name[sr@ijekavian]=Аспел
Name[sr@ijekavianlatin]=Aspell
Name[sr@latin]=Aspell
Name[sv]=Aspell
Name[ta]=ASpell
Name[te]=ఏస్పెల్
Name[tg]=ASpell
Name[th]=ASpell
Name[tr]=ASpell
Name[tt]=ASpell
Name[ug]=ASpell
Name[uk]=ASpell
Name[uz]=ASpell
Name[uz@cyrillic]=ASpell
Name[vi]=ASpell
Name[wa]=ASpell
Name[x-test]=xxASpellxx
Name[zh_CN]=ASpell
Name[zh_HK]=ASpell
Name[zh_TW]=ASpell
