[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=Sonnet/SpellClient
X-KDE-Library=kspell_enchant
X-KDE-PluginInfo-Author=Zack Rusin
X-KDE-PluginInfo-Email=zack@kde.org
X-KDE-PluginInfo-Name=kspell_enchant
X-KDE-PluginInfo-Version=0.0.1
X-KDE-PluginInfo-Website=http://www.kde.org
X-KDE-PluginInfo-Category=Clients
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=LGPL
X-KDE-PluginInfo-EnabledByDefault=true
Name=Enchant
Name[af]=Enchant
Name[ar]=إنشنت
Name[as]=Enchant
Name[ast]=Enchant
Name[be@latin]=Enchant
Name[bg]=Enchant
Name[bn]=এনচান্ট
Name[bn_IN]=Enchant
Name[br]=Enchant
Name[bs]=Enchant
Name[ca]=Enchant
Name[ca@valencia]=Enchant
Name[cs]=Enchant
Name[csb]=Enchant
Name[da]=Enchant
Name[de]=Enchant
Name[el]=Enchant
Name[en_GB]=Enchant
Name[eo]=Enchant
Name[es]=Enchant
Name[et]=Enchant
Name[eu]=Enchant
Name[fa]=Enchant
Name[fi]=Enchant
Name[fr]=Enchant
Name[fy]=Enchant
Name[ga]=Enchant
Name[gl]=Enchant
Name[gu]=એન્ચાન્ટ
Name[he]=Enchant
Name[hi]=एनचैंट
Name[hne]=एनचैंट
Name[hr]=Enchant
Name[hsb]=Enchant
Name[hu]=Enchant
Name[hy]=Դյութել
Name[ia]=Enchant
Name[id]=Enchant
Name[is]=Enchant
Name[it]=Enchant
Name[ja]=Enchant
Name[kk]=Enchant
Name[km]=Enchant
Name[kn]=ಎಂಚಾಂಟ್
Name[ko]=Enchant
Name[ku]=Enchant
Name[lt]=Enchant
Name[lv]=Enchant
Name[mai]=एनचैंट
Name[mk]=Enchant
Name[ml]=എന്‍ചാന്റ്
Name[mr]=Enchant
Name[nb]=Enchant
Name[nds]=Enchant
Name[ne]=मोहीत पार्नु
Name[nl]=Enchant
Name[nn]=Enchant
Name[or]=Enchant
Name[pa]=Enchant
Name[pl]=Enchant
Name[pt]=Enchant
Name[pt_BR]=Enchant
Name[ro]=Enchant
Name[ru]=Enchant
Name[se]=Enchant
Name[si]=Enchant
Name[sk]=Enchant
Name[sl]=Enchant
Name[sq]=Enchant
Name[sr]=Енчант
Name[sr@ijekavian]=Енчант
Name[sr@ijekavianlatin]=Enchant
Name[sr@latin]=Enchant
Name[sv]=Enchant
Name[ta]=Enchant
Name[tg]=Enchant
Name[th]=Enchant
Name[tr]=Enchant
Name[tt]=Enchant
Name[ug]=Enchant
Name[uk]=Enchant
Name[vi]=Enchant
Name[wa]=Enchant
Name[x-test]=xxEnchantxx
Name[zh_CN]=Enchant
Name[zh_TW]=Enchant
