[Desktop Entry]
Type=Service
Name=SearchKeywordsFilter
Name[af]=Soektogsleutelwoordfilter
Name[ar]=مرشح كلمات البحث
Name[ast]=Peñera de pallabres contraseña de gueta
Name[be]=Фільтр пошуку ключавых словаў
Name[be@latin]=SearchKeywordsFilter
Name[bg]=SearchKeywordsFilter
Name[bn]=SearchKeywordsFilter
Name[bn_IN]=SearchKeywordsFilter
Name[br]=SilGerioùAlc'hwezKlask
Name[bs]=Filter riječi za pretraživanje
Name[ca]=Filtre de paraules de cerca
Name[ca@valencia]=Filtre de paraules de cerca
Name[cs]=SearchKeywordsFilter
Name[csb]=Filter kluczowëch słów
Name[cy]=HidlChwilioAllweddeiriau
Name[da]=SøgNøgleordsFilter
Name[de]=Suchstichwort-Filter
Name[el]=Φίλτρο λέξεων κλειδιών αναζήτησης
Name[en_GB]=SearchKeywordsFilter
Name[eo]=SearchKeywordsFilter
Name[es]=Filtro de palabras clave de búsqueda
Name[et]=SearchKeywordsFilter
Name[eu]=Bilaketarako gako-hitzen iragazkia
Name[fa]=پالایه واژه‌های کلیدی جستجو
Name[fi]=SearchKeywordsFilter
Name[fr]=Filtre de mots clés de recherche
Name[fy]=SykwurdenFilter
Name[ga]=SearchKeywordsFilter
Name[gl]=SearchKeywordsFilter
Name[gu]=SearchKeywordsFilter
Name[he]=SearchKeywordsFilter
Name[hi]=सर्च-की-वर्ड्स-फ़िल्टर
Name[hne]=सर्च-की-वर्ड्स-फिल्टर
Name[hr]=Filtar ključnih riječi pretraživanja
Name[hsb]=SearchKeywordsFilter
Name[hu]=Kulcsszavak keresési szűrője
Name[ia]=SearchKeywordsFilter
Name[id]=Filter Kata Kunci Pencarian
Name[is]=StikkorðaLeitarSía
Name[it]=Filtro delle chiavi di ricerca
Name[ja]=キーワード検索フィルタ
Name[ka]=ძიების საკვანძო სიტყვების ფილტრი
Name[kk]=ТүйіндіСөздерІздеуСүзгісі
Name[km]=SearchKeywordsFilter
Name[kn]=ಹುಡುಕು ಕೀಲಿಪದ (ಕೀವರ್ಡ್) ಶೋಧಕ
Name[ko]=SearchKeywordsFilter
Name[ku]=ParzûnaPeyvênmifteyêLêgerînê
Name[lt]=PaieškosRaktažodžiųFiltras
Name[lv]=MeklēšanasAtslēgvārduFiltrs
Name[mai]=सर्च-की-वर्ड्स-फिल्टर
Name[mk]=SearchKeywordsFilter
Name[ml]=തെരച്ചില്‍ കീവാക്കുകളുടെ അരിപ്പകള്‍
Name[mr]=शोध मूळ शब्द गाळणी
Name[ms]=SearchKeywordsFilter
Name[nb]=SearchKeywordsFilter
Name[nds]=Filter för Söökafkörten
Name[ne]=शब्दकुञ्जी फिल्टर खोजी गर्नुहोस्
Name[nl]=ZoekTermenFilter
Name[nn]=SøkjeuttrykkFilter
Name[or]=SearchKeywordsFilter
Name[pa]=ਖੋਜ ਸ਼ਬਦ ਫਿਲਟਰ
Name[pl]=Filtr słów kluczowych
Name[pt]=Filtro de Pesquisa de Palavras-Chave
Name[pt_BR]=Filtro de busca de palavras chave
Name[ro]=SearchKeywordsFilter
Name[ru]=SearchKeywordsFilter
Name[se]=SearchKeywordsFilter
Name[si]=සෙවුම් යතුරුවදන් පෙරහණ
Name[sk]=Filter kľúčových slov hľadania
Name[sl]=Filter ključnih besed za iskanje
Name[sr]=Филтер речи за претраживање
Name[sr@ijekavian]=Филтер ријечи за претраживање
Name[sr@ijekavianlatin]=Filter riječi za pretraživanje
Name[sr@latin]=Filter reči za pretraživanje
Name[sv]=Sökordsökningsfilter
Name[ta]=முக்கிய வார்த்தைகள் வடிகட்டியை தேடு
Name[te]=SearchKeywordsFilter
Name[tg]=SearchKeywordsFilter
Name[th]=ตัวกรองคำค้นหา
Name[tr]=TaramaKelimeSüzgeci
Name[ug]=ئىزدەش ئاچقۇچلۇق سۆز سۈزگۈچى
Name[uk]=Фільтр ключових слів інтернет
Name[uz]=Qidirish kalit soʻzlar filteri
Name[uz@cyrillic]=Қидириш калит сўзлар филтери
Name[vi]=SearchKeywordsFilter
Name[wa]=PasseteTapreceCweraedje
Name[xh]=Phendla Amagama Angundoqo Ecebo Lokucoca Ulwelo
Name[x-test]=xxSearchKeywordsFilterxx
Name[zh_CN]=搜索关键字过滤
Name[zh_TW]=搜索關鍵字過濾
X-KDE-Library=kurisearchfilter
X-KDE-ServiceTypes=KUriFilter/Plugin
InitialPreference=4
