[Desktop Entry]
Type=Service
Name=InternetKeywordsFilter
Name[af]=Internetsleutelwoordefilter
Name[ar]=مرشح كلمات الإنترنت
Name[ast]=Peñera de pallabres contraseña d'Internet
Name[be]=Фільтр ключавых словаў
Name[be@latin]=InternetKeywordsFilter
Name[bg]=InternetKeywordsFilter
Name[bn]=InternetKeywordsFilter
Name[bn_IN]=InternetKeywordsFilter
Name[br]=SilGerioùAlc'hwezArKenrouedad
Name[bs]=Filter ključnih riječi Interneta
Name[ca]=Filtre de paraules clau d'Internet
Name[ca@valencia]=Filtre de paraules clau d'Internet
Name[cs]=InternetKeywordsFilter
Name[csb]=Filter internetowëch kluczowëch słów
Name[cy]=HidlAllweddeiriauRhyngrwyd
Name[da]=InternetNøgleordsFilter
Name[de]=Internet-Stichwort-Filter
Name[el]=Φίλτρο λέξεων κλειδιών διαδικτύου
Name[en_GB]=InternetKeywordsFilter
Name[eo]=InternetKeywordsFilter
Name[es]=Filtro de palabras clave de Internet
Name[et]=Interneti võtmesõnade filter
Name[eu]=Interneteko gako-hitzen iragazkia
Name[fa]=پالایه واژه‌های کلیدی اینترنت
Name[fi]=InternetKeywordsFilter
Name[fr]=Filtre de mots clés Internet
Name[fy]=YnternetSykwurdenFilter
Name[ga]=InternetKeywordsFilter
Name[gl]=InternetKeywordsFilter
Name[gu]=InternetKeywordsFilter
Name[he]=InternetKeywordsFilter
Name[hi]=इंटरनेट-की-वर्ड्स-फ़िल्टर
Name[hne]=इंटरनेट-की-वर्ड्स-फिल्टर
Name[hr]=Filtar internetskih ključnih riječi
Name[hsb]=InternetKeywordsFilter
Name[hu]=Internetes kulcsszavak szűrője
Name[ia]=InternetKeywordsFilter
Name[id]=Filter Kata Kunci Filter
Name[is]=InternetStikkorðaSía
Name[it]=Filtro delle parole chiave di Internet
Name[ja]=インターネットキーワードフィルタ
Name[ka]=ინტერნეტ საკვანძო სიტყვების ფილტრი
Name[kk]=ИнтернетТүйіндіСөздерСүзгісі
Name[km]=InternetKeywordsFilter
Name[kn]=ಅಂತರ್ಜಾಲ ಕೀಲಿಪದಗಳ (ಕೀವರ್ಡ್) ಶೋಧಕ
Name[ko]=InternetKeywordsFilter
Name[ku]=ParzînaPeyvênmifteyêTorê
Name[lt]=InternetoRaktažodžiųfiltras
Name[lv]=InternetaAtslēgvārduFiltrs
Name[mai]=इंटरनेट-की-वर्ड्स-फिल्टर
Name[mk]=InternetKeywordsFilter
Name[ml]=ഇന്റര്‍നെറ്റ് കീവാക്കുകളുടെ അരിപ്പകള്‍
Name[mr]=इंटरनेट मूळ शब्द गाळणी
Name[ms]=InternetKeywordsFilter
Name[nb]=Filter for Internettnøkkelord
Name[nds]=Filter för Internet-Slötelwöör
Name[ne]=इन्टरनेट शब्दकुञ्जी फिल्टर
Name[nl]=InternetZoektermenFilter
Name[nn]=InternettNøkkelordFilter
Name[or]=InternetKeywordsFilter
Name[pa]=ਇੰਟਰਨੈੱਟ ਸ਼ਬਦ ਫਿਲਟਰ
Name[pl]=Filtr internetowych słów kluczowych
Name[pt]=Filtro de Palavras-chave na Internet
Name[pt_BR]=Filtro de palavras chave da Internet
Name[ro]=InternetKeywordsFilter
Name[ru]=InternetKeywordsFilter
Name[se]=InternetKeywordsFilter
Name[si]=අන්තර්ජාල යතුරු වදන් පෙරහන
Name[sk]=Filter kľúčových slov pre Internet
Name[sl]=Filter ključnih besed za internet
Name[sr]=Филтер кључних речи Интернета
Name[sr@ijekavian]=Филтер кључних ријечи Интернета
Name[sr@ijekavianlatin]=Filter ključnih riječi Interneta
Name[sr@latin]=Filter ključnih reči Interneta
Name[sv]=Sökordsfilter för Internet
Name[ta]=தேடல் மூலச்சொற்கள் வடிகட்டி
Name[te]=InternetKeywordsFilter
Name[tg]=InternetKeywordsFilter
Name[th]=ตัวกรองคำค้นหาบนอินเทอร์เน็ต
Name[tr]=İnternetAnahtarSözcükSüzgeci
Name[ug]=ئىنتېرنېت ئاچقۇچلۇق سۆز سۈزگۈچ
Name[uk]=Фільтр ключових слів інтернет
Name[uz]=Internet kalit soʻzlar filteri
Name[uz@cyrillic]=Интернет калит сўзлар филтери
Name[vi]=InternetKeywordsFilter
Name[wa]=PasseteMotsclésDaegntoele
Name[xh]=Amagama Angundoqo ecebo lokucoca ulwelo e Internet
Name[x-test]=xxInternetKeywordsFilterxx
Name[zh_CN]=互联网关键字过滤
Name[zh_TW]=網際網路關鍵字過濾
X-KDE-Library=kuriikwsfilter
X-KDE-ServiceTypes=KUriFilter/Plugin
InitialPreference=0
