[Desktop Entry]
Icon=kwalletmanager

Type=Service
X-KDE-ServiceTypes=KCModule

Exec=kcmshell4 kwalletconfig
X-DocPath=kwallet/index.html#kwallet-kcontrol-module
X-KDE-Library=kcm_kwallet
X-KDE-ParentApp=kcontrol
X-KDE-System-Settings-Parent-Category=account-details

Name=KDE Wallet
Name[ar]=محفظة كدى
Name[ast]=Cartera KDE
Name[bg]=KDE Wallet
Name[br]=Doug-paperoù KDE
Name[bs]=KDE novčanik
Name[ca]=Cartera del KDE
Name[ca@valencia]=Cartera del KDE
Name[cs]=Úschovna KDE
Name[cy]=Waled KDE
Name[da]=KDE's tegnebog
Name[de]=KDE-Passwortspeicher
Name[el]=Πορτοφόλι του KDE
Name[en_GB]=KDE Wallet
Name[eo]=KDE paperujo
Name[es]=Cartera de KDE
Name[et]=KDE turvalaegas
Name[eu]=KDE Kartera
Name[fi]=KDE-lompakko
Name[fr]=Portefeuille de KDE
Name[ga]=KDE Wallet
Name[gl]=KDE Wallet
Name[he]=KDE Wallet
Name[hne]=केडीई वालेट
Name[hr]=KDE-ov novčanik
Name[hu]=KDE Wallet
Name[ia]=KDE Wallet (Portafolio de KDE)
Name[id]=Dompet KDE
Name[is]=KDE veskið
Name[it]=Portafogli di KDE
Name[ja]=KDE ウォレット
Name[kk]=KDE әмияны
Name[km]=កាបូប​របស់ KDE
Name[ko]=KDE 지갑
Name[lt]=KDE slaptažodinės
Name[lv]=KDE Maks
Name[mk]=KDE Паричник
Name[mr]=केडीई पाकीट
Name[nb]=KDE Wallet
Name[nds]=KDE-Knipp
Name[ne]=केडीई वालेट
Name[nl]=KDE Wallet
Name[nn]=KDE-lommebok
Name[pa]=KDE ਵਾਲਿਟ
Name[pl]=Portfel KDE
Name[pt]=Carteira do KDE
Name[pt_BR]=Carteira do KDE
Name[ro]=Portofel KDE
Name[ru]=Бумажник
Name[sk]=KDE Wallet
Name[sl]=Listnica KDE
Name[sq]=KDE Portofoli
Name[sr]=К‑новчаник
Name[sr@ijekavian]=К‑новчаник
Name[sr@ijekavianlatin]=K‑novčanik
Name[sr@latin]=K‑novčanik
Name[sv]=KDE-plånbok
Name[ta]= கேடிஇ வாலட்
Name[tg]=KDE Ҳамён
Name[th]=กระเป๋าคุมข้อมูลของ KDE
Name[tr]=KDE Cüzdanı
Name[ug]=KDE ھەميان
Name[uk]=Торбинки KDE
Name[uz]=KDE qopchiq
Name[uz@cyrillic]=KDE қопчиқ
Name[vi]=Ví KDE
Name[wa]=Poite-manoye KDE
Name[x-test]=xxKDE Walletxx
Name[zh_CN]=KDE 钱包
Name[zh_TW]=KDE 錢包
Comment=KDE Wallet Configuration
Comment[ar]=إعداد محفظة كدى
Comment[ast]=Configuración de la Cartera KDE
Comment[bg]=Настройване на "Портфейл"
Comment[br]=Kefluniadur Doug-paperoù KDE
Comment[bs]=Podešavanje KDE novčanika
Comment[ca]=Configuració de la cartera del KDE
Comment[ca@valencia]=Configuració de la cartera del KDE
Comment[cs]=Nastavení úschovny KDE
Comment[cy]=Ffurfweddiad Waled KDE
Comment[da]=Konfiguration af KDE's tegnebog
Comment[de]=Einrichten des Passwortspeicher (KWallet)
Comment[el]=Διαμόρφωση του πορτοφολιού του KDE
Comment[en_GB]=KDE Wallet Configuration
Comment[eo]=KDE paperuja agordo
Comment[es]=Configuración de la cartera de KDE
Comment[et]=KDE turvalaeka seadistamine
Comment[eu]=KDE Karteraren Konfigurazioa
Comment[fa]=KDE Wallet پیکربندی
Comment[fi]=KDE-lompakon asetukset
Comment[fr]=Configuration du portefeuille de KDE
Comment[ga]=Cumraíocht KDE Wallet
Comment[gl]=Configuración da carteira de KDE
Comment[he]=KDE Wallet הגדרות
Comment[hne]=केडीई वालेट कान्फिगरेसन
Comment[hr]=Konfiguracija KDE-ovog novčanika
Comment[hu]=KDE jelszókezelő beállítások
Comment[ia]=Configuration de portafolio de KDE
Comment[id]=Konfigurasi Dompet KDE
Comment[is]=Stillingar veskisins
Comment[it]=Configurazione portafogli di KDE
Comment[ja]=KDE ウォレットの設定
Comment[kk]=KDE әмиянның баптауы
Comment[km]=កំណត់​រចនាសម្ព័ន្ធ​កាបូប​របស់ KDE
Comment[ko]=KDE 지갑 설정
Comment[lt]=KDE slaptažodinių konfigūravimas
Comment[lv]=KDE Maka konfigurācija
Comment[mk]=Конфигурација на паричник во KDE
Comment[mr]=केडीई पाकीट संयोजना
Comment[nb]=Oppsett av KDE Wallet
Comment[nds]=KDE-Knipp instellen
Comment[ne]=केडीई वालेट कन्फिगरेसन
Comment[nl]=KDE-portefeuille instellen
Comment[nn]=Oppsett av KDE-lommeboka
Comment[pa]=KDE ਵਾਲਿਟ ਸੰਰਚਨਾ
Comment[pl]=Konfiguracja Portfela KDE
Comment[pt]=Configuração da Carteira do KDE
Comment[pt_BR]=Configuração da carteira do KDE
Comment[ro]=Configurează portofelul KDE
Comment[ru]=Параметры бумажника
Comment[sk]=Konfigurácia KDE Wallet
Comment[sl]=Nastavitve Listnice KDE
Comment[sq]=Konfigurim i Portofolit KDE
Comment[sr]=Подешавање К‑новчаника
Comment[sr@ijekavian]=Подешавање К‑новчаника
Comment[sr@ijekavianlatin]=Podešavanje K‑novčanika
Comment[sr@latin]=Podešavanje K‑novčanika
Comment[sv]=Inställning av KDE-plånbok
Comment[ta]=கேடிஇ வாலட் வடிவமைப்பு
Comment[tg]=KDE Танзими Ҳамён
Comment[th]=ปรับแต่งกระเป๋าคุมข้อมูลของ KDE
Comment[tr]=KDE Cüzdan Yönetimi
Comment[uk]=Налаштування KWallet
Comment[uz]=KDE qopchiq xizmatini moslash
Comment[uz@cyrillic]=KDE қопчиқ хизматини мослаш
Comment[vi]=Cấu Hình Ví KDE
Comment[x-test]=xxKDE Wallet Configurationxx
Comment[zh_CN]=KDE 钱包配置
Comment[zh_TW]=KDE 錢包設定
X-KDE-Keywords=Wallet,Form Fill,Passwords,Form Data
X-KDE-Keywords[bs]=Wallet,Form Fill,Passwords,Form Data;Novčanik;Lozinke;Formular
X-KDE-Keywords[ca]=Cartera,Omplir formulari,Contrasenyes,Dades de formulari
X-KDE-Keywords[ca@valencia]=Cartera,Omplir formulari,Contrasenyes,Dades de formulari
X-KDE-Keywords[cs]=Úschovna,Vyplnění formuláře,Hesla,Data formuláře
X-KDE-Keywords[da]=tegnebog,formularudfyldning,adgangskoder,formulardata
X-KDE-Keywords[de]=Geheimfach,Formular,Passwort,Passwortspeicher,Formulardaten
X-KDE-Keywords[el]=Πορτοφόλι,συμπλήρωση φόρμας,κωδικοί πρόσβασης,δεδομένα φόρμας
X-KDE-Keywords[es]=Cartera,Rellenar formulario,Contraseñas,Datos de formulario
X-KDE-Keywords[et]=turvalaegas,vormide täitmine,paroolid,vormiandmed
X-KDE-Keywords[fi]=Lompakko,Lomakkeen täydennys,Lomakkeen täydentäminen,Salasanat,Lomaketiedot,Lomakkeiden tiedot
X-KDE-Keywords[fr]=Portefeuille,remplissage de formulaires,mots de passe,données de formulaires
X-KDE-Keywords[ga]=Wallet,Líonadh Foirmeacha,Focal Faire,Sonraí foirme
X-KDE-Keywords[gl]=Wallet,Form Fill,Passwords,Form Data,carteira,formulario,contrasinais
X-KDE-Keywords[hu]=Jelszótároló,űrlapkitöltés,jelszavak,űrlapadat
X-KDE-Keywords[ia]=Portafolio, Reimplemento de Formulario,Contrasignos,Datos de formulario
X-KDE-Keywords[it]=Portafogli,compilazione moduli,password,dati moduli
X-KDE-Keywords[kk]=Wallet,Form Fill,Passwords,Form Data
X-KDE-Keywords[km]=កាបូប​ បំពេញ​សំណុំបែបបទ ពាក្យ​សម្ងាត់ ទិន្នន័យ​សំណុំ​បែបបទ
X-KDE-Keywords[ko]=Wallet,Form Fill,Passwords,Form Data,지갑,암호,비밀번호,양식,폼
X-KDE-Keywords[lt]=Piniginė,Formos užpildymas,Spaltažodžiai,Formos duomenys
X-KDE-Keywords[mr]=पाकीट,रकाना भरा,गुप्तशब्द,रकाना माहिती
X-KDE-Keywords[nb]=Lommebok,Skjema,Passord,Skjemadata
X-KDE-Keywords[nds]=Knipp,Passwöör,Kiekwarkdaten,Formulordaten
X-KDE-Keywords[nl]=Portefeuille,Formulier invullen,wachtwoorden,formuliergegevens
X-KDE-Keywords[pa]=ਵਾਲਿਟ,ਫਾਰਮ ਭਰਨਾ,ਪਾਸਵਰਡ,ਫਾਰਮ ਡਾਟਾ
X-KDE-Keywords[pl]=Portfel,Wypełnienie formularza,Hasła,Dane formularza
X-KDE-Keywords[pt]=Carteira,Preenchimento de Formulários,Senhas,Dados de Formulários
X-KDE-Keywords[pt_BR]=carteira,preencher formulário,senha,dados de formulário
X-KDE-Keywords[ro]=portofel,completare formular,parole,date formular,formular
X-KDE-Keywords[ru]=Wallet;Form Fill;Passwords;Form Data;бумажник;пароли;формы
X-KDE-Keywords[sk]=Peňaženka,Vypĺňanie formulárov,Heslá,Dáta formulára
X-KDE-Keywords[sl]=listnica,dopolnjevanje obrazcev,gesla,podatki obrazcev
X-KDE-Keywords[sr]=Wallet,Form Fill,Passwords,Form Data,новчаник,попуњавање формулара,лозинка
X-KDE-Keywords[sr@ijekavian]=Wallet,Form Fill,Passwords,Form Data,новчаник,попуњавање формулара,лозинка
X-KDE-Keywords[sr@ijekavianlatin]=Wallet,Form Fill,Passwords,Form Data,novčanik,popunjavanje formulara,lozinka
X-KDE-Keywords[sr@latin]=Wallet,Form Fill,Passwords,Form Data,novčanik,popunjavanje formulara,lozinka
X-KDE-Keywords[sv]=Plånbok,Formulär,Lösenord,Formulärdata
X-KDE-Keywords[tr]=Cüzdan,Form Doldurma,Parolalar,Form Verileri
X-KDE-Keywords[uk]=кишеня,торбинка,форма,форми,заповнення форм,пароль,паролі,дані форми,реєстрація
X-KDE-Keywords[x-test]=xxWallet,Form Fill,Passwords,Form Dataxx
X-KDE-Keywords[zh_CN]=Wallet,Form Fill,Passwords,Form Data,钱包,表单填写,密码,表单数据
X-KDE-Keywords[zh_TW]=Wallet,Form Fill,Passwords,Form Data
