[Desktop Entry]
Type=Service
Exec=kwalletd
X-KDE-ServiceTypes=
# It is a server
X-DBUS-StartupType=Unique
X-KDE-StartupNotify=false
Name=Wallet Server
Name[ar]=خادم المحفظة
Name[as]=Wallet Server
Name[ast]=Sirvidor monederu
Name[bg]=Сървър "портфейл"
Name[bn]=ওয়ালেট সার্ভার
Name[bn_IN]=Wallet সার্ভার
Name[bs]=Server novčanika
Name[ca]=Servidor de carteres
Name[ca@valencia]=Servidor de carteres
Name[cs]=Server úschovny
Name[csb]=Serwera Wallet
Name[da]=Wallet-server
Name[de]=Passwortspeicher-Server
Name[el]=Εξυπηρετητής πορτοφολιού
Name[en_GB]=Wallet Server
Name[eo]=Servilo de portilo
Name[es]=Servidor de carteras
Name[et]=Turvalaeka server
Name[eu]=Zorro-zerbitzua
Name[fa]=خادم کیف‌پول
Name[fi]=Lompakkopalvelin
Name[fr]=Serveur de portefeuilles
Name[fy]=Slúf tsjinner
Name[ga]=Freastalaí Sparáin
Name[gl]=Servidor de carteira
Name[gu]=વોલેટ સર્વર
Name[he]=שרת ארנק
Name[hi]=वालेट सर्वर
Name[hne]=वालेट सर्वर
Name[hr]=Poslužitelj novčanika
Name[hsb]=Móšnjowy serwer
Name[hu]=Jelszótároló szolgáltatás
Name[ia]=Servitor de Portafolio
Name[id]=Server Dompet
Name[is]=Veskisþjónn
Name[it]=Server portafoglio
Name[ja]=ウォレットサーバ
Name[kk]=Әмиян сервері
Name[km]=ម៉ាស៊ីន​បម្រើ​កាបូប
Name[kn]=ಹಸುಬೆಚೀಲ (ವಾಲೆಟ್) ಪರೀಚಾರಕ (ಸರ್ವರ್)
Name[ko]=지갑 서버
Name[ku]=Pêşkêşkera Wallet
Name[lt]=Wallet serveris
Name[lv]=Maka serveris
Name[mai]=वालेट सर्वर
Name[mk]=Сервер за паричници
Name[ml]=വാലറ്റ് സര്‍വര്‍
Name[mr]=पाकीट सर्व्हर
Name[nb]=Lommebok-tjener
Name[nds]=Knipp-Server
Name[nl]=Portefeuilleserver
Name[nn]=Lommeboktenar
Name[or]=ୱାଲେଟ ସର୍ଭର
Name[pa]=ਵਾਲਿਟ ਸਰਵਰ
Name[pl]=Serwer Portfela
Name[pt]=Servidor da Carteira
Name[pt_BR]=Servidor da carteira
Name[ro]=Server de portofel
Name[ru]=Wallet Server
Name[si]=පසුම්බි ධාරකය
Name[sk]=Wallet Server
Name[sl]=Strežnik za listnico
Name[sr]=Сервер новчаника
Name[sr@ijekavian]=Сервер новчаника
Name[sr@ijekavianlatin]=Server novčanika
Name[sr@latin]=Server novčanika
Name[sv]=Plånboksserver
Name[ta]=Wallet Server
Name[te]=వాలెట్ సెర్వర్
Name[tg]=Сервери барномаи Ҳамён
Name[th]=บริการกระเป๋าคุมข้อมูล
Name[tr]=Cüzdan Sunucusu
Name[ug]=ھەميان مۇلازىمېتىر
Name[uk]=Сервер торбинки
Name[vi]=Máy chủ Wallet
Name[wa]=Sierveu poite-manoye
Name[x-test]=xxWallet Serverxx
Name[zh_CN]=钱包服务器
Name[zh_TW]=錢包伺服器
Comment=Wallet Server
Comment[ar]=خادم المحفظة
Comment[as]=Wallet Server
Comment[ast]=Sirvidor monederu
Comment[bg]=Сървър "портфейл" (Wallet)
Comment[bn]=ওয়ালেট সার্ভার
Comment[bn_IN]=Wallet সার্ভার
Comment[bs]=Server novčanika
Comment[ca]=Servidor de carteres
Comment[ca@valencia]=Servidor de carteres
Comment[cs]=Server úschovny
Comment[csb]=Serwera Wallet
Comment[da]=Wallet-server
Comment[de]=Passwortspeicher-Server
Comment[el]=Εξυπηρετητής πορτοφολιού
Comment[en_GB]=Wallet Server
Comment[eo]=Servilo de portilo
Comment[es]=Servidor de carteras
Comment[et]=Turvalaeka server
Comment[eu]=Zorro-zerbitzua
Comment[fa]=خادم کیف‌پول
Comment[fi]=Lompakkopalvelin
Comment[fr]=Serveur de portefeuilles
Comment[fy]=Slúf tsjinner
Comment[ga]=Freastalaí Sparáin
Comment[gl]=Servidor de carteira
Comment[gu]=વોલેટ સર્વર
Comment[he]=שרת ארנק
Comment[hi]=वालेट सर्वर
Comment[hne]=वालेट सर्वर
Comment[hr]=Poslužitelj novčanika
Comment[hsb]=Móšnjowy serwer
Comment[hu]=Jelszótároló szolgáltatás
Comment[ia]=Servitor de Portafolio
Comment[id]=Server Dompet
Comment[is]=Veskisþjónn
Comment[it]=Server portafoglio
Comment[ja]=ウォレットサーバ
Comment[kk]=Әмиян сервері
Comment[km]=ម៉ាស៊ីន​បម្រើ​កាបូប
Comment[kn]=ಹಸುಬೆಚೀಲ (ವಾಲೆಟ್) ಪರೀಚಾರಕ (ಸರ್ವರ್)
Comment[ko]=지갑 서버
Comment[ku]=Pêşkêşkera Wallet
Comment[lt]=Wallet serveris
Comment[lv]=Maka serveris
Comment[mai]=वालेट सर्वर
Comment[mk]=Сервер за паричници
Comment[ml]=വാലറ്റ് സര്‍വര്‍
Comment[mr]=पाकीट सर्व्हर
Comment[nb]=Lommebok-tjener
Comment[nds]=Knipp-Server
Comment[nl]=Portefeuilleserver
Comment[nn]=Lommeboktenar
Comment[or]=ୱାଲେଟ ସର୍ଭର
Comment[pa]=ਵਾਲਿਟ ਸਰਵਰ
Comment[pl]=Serwer Portfela
Comment[pt]=Servidor da Carteira
Comment[pt_BR]=Servidor da carteira
Comment[ro]=Server de portofel
Comment[ru]=Служба бумажника
Comment[si]=පසුම්බි ධාරකය
Comment[sk]=Wallet Server
Comment[sl]=Strežnik za listnico
Comment[sr]=Сервер новчаника
Comment[sr@ijekavian]=Сервер новчаника
Comment[sr@ijekavianlatin]=Server novčanika
Comment[sr@latin]=Server novčanika
Comment[sv]=Plånboksserver
Comment[ta]=Wallet Server
Comment[te]=వాలెట్ సెర్వర్
Comment[tg]=Сервери барномаи Ҳамён
Comment[th]=บริการกระเป๋าคุมข้อมูล
Comment[tr]=Cüzdan Sunucusu
Comment[ug]=ھەميان مۇلازىمېتىر
Comment[uk]=Сервер торбинки
Comment[vi]=Máy chủ Wallet
Comment[wa]=Sierveu poite-manoye (wallet)
Comment[x-test]=xxWallet Serverxx
Comment[zh_CN]=钱包服务器
Comment[zh_TW]=錢包伺服器
