[Desktop Entry]
Type=Service
Name=LocalDomainFilter
Name[af]=Plaaslike domein filter
Name[ar]=مرشح المجال المحلي
Name[as]=LocalDomainFilter
Name[ast]=FiltrudeDominiuLlocal
Name[be]=LocalDomainFilter
Name[be@latin]=LocalDomainFilter
Name[bg]=LocalDomainFilter
Name[bn]=LocalDomainFilter
Name[bn_IN]=LocalDomainFilter
Name[bs]=Filter lokalnog domena
Name[ca]=Filtre de dominis locals
Name[ca@valencia]=Filtre de dominis locals
Name[cs]=Filtr pro lokální doménu
Name[csb]=Filter môlowi domenë
Name[cy]=HidlParthLleol
Name[da]=LocalDomainFilter
Name[de]=LocalDomainFilter
Name[el]=Φίλτρο τοπικού τομέα
Name[en_GB]=LocalDomainFilter
Name[eo]=LocalDomainFilter
Name[es]=FiltrodeDominioLocal
Name[et]=LocalDomainFilter
Name[eu]=Domeinu lokal iragazkia
Name[fa]=LocalDomainFilter
Name[fi]=LocalDomainFilter
Name[fr]=Filtre de domaine local
Name[fy]=Lokaaldomeinfilter
Name[ga]=LocalDomainFilter
Name[gl]=LocalDomainFilter
Name[gu]=સ્થાનિકડોમેઇનગાળક
Name[he]=LocalDomainFilter
Name[hi]=लोकल-डोमेन-फ़िल्टर
Name[hne]=लोकल-डोमेन-फिल्टर
Name[hr]=Filtar lokalnih domena
Name[hsb]=LocalDomainFilter
Name[hu]=HelyiTartománySzűrő
Name[ia]=LocalDomainFilter
Name[id]=LocalDomainFilter
Name[is]=LocalDomainFilter
Name[it]=Filtro di dominio locale
Name[ja]=LocalDomainFilter
Name[ka]=LocalDomainFilter
Name[kk]=LocalDomainFilter
Name[km]=LocalDomainFilter
Name[kn]=LocalDomainFilter
Name[ko]=LocalDomainFilter
Name[ku]=LocalDomainFilter
Name[lt]=LocalDomainFilter
Name[lv]=LokāloDomēnuFiltrs
Name[mai]=लोकल-डोमेन-फिल्टर
Name[mk]=LocalDomainFilter
Name[ml]=ലോക്കല്‍ഡൊമൈന്‍ഫില്‍ട്ടര്‍
Name[mr]=स्थानिक क्षेत्र गाळणी
Name[ms]=LocalDomainFilter
Name[nb]=LocalDomainFilter
Name[nds]=Filter för LocalDomain
Name[ne]=स्थानीय डोमेन फिल्टर
Name[nl]=Lokaaldomeinfilter
Name[nn]=LocalDomainFilter
Name[or]=LocalDomainFilter
Name[pa]=ਲੋਕਲ ਡੋਮੇਨ ਫਿਲਟਰ
Name[pl]=Filtr lokalnej domeny
Name[pt]=LocalDomainFilter
Name[pt_BR]=Filtro de domínio local
Name[ro]=Filtru de domeniu local
Name[ru]=LocalDomainFilter
Name[se]=LocalDomainFilter
Name[si]=දේශීය ඩොමේන පෙරහන
Name[sk]=Filter lokálnej domény
Name[sl]=FilterLokalneDomene
Name[sr]=Филтер локалног домена
Name[sr@ijekavian]=Филтер локалног домена
Name[sr@ijekavianlatin]=Filter lokalnog domena
Name[sr@latin]=Filter lokalnog domena
Name[sv]=Filter för lokal domän
Name[ta]=LocalDomainFilter
Name[te]=LocalDomainFilter
Name[tg]=LocalDomainFilter
Name[th]=ตัวกรองโดเมนท้องถื่น
Name[tr]=LocalDomainFilter
Name[ug]=يەرلىك دائىرە سۈزگۈچ
Name[uk]=Фільтр локальних доменів
Name[uz]=LocalDomainFilter
Name[uz@cyrillic]=LocalDomainFilter
Name[vi]=LocalDomainFilter
Name[wa]=Passete Dominne coinrece
Name[xh]=LocalDomainFilter
Name[x-test]=xxLocalDomainFilterxx
Name[zh_CN]=本地域名过滤
Name[zh_TW]=區域網域過濾器
X-KDE-Library=localdomainurifilter
X-KDE-ServiceTypes=KUriFilter/Plugin
InitialPreference=2
