[Desktop Entry]
Type=Service
Name=Mobipocket Files
Name[ar]=ملفات Mobipocket
Name[bg]=Файлове за Mobipocket
Name[bs]=Mobipoketove datoteke
Name[ca]=Fitxers Mobipocket
Name[ca@valencia]=Fitxers Mobipocket
Name[cs]=Dokumenty Mobipocket
Name[da]=Mobipocket-filer
Name[de]=Mobipocket-Dateien
Name[el]=Αρχεία Mobipocket
Name[en_GB]=Mobipocket Files
Name[es]=Archivos Mobipocket
Name[et]=Mobipocketi failid
Name[eu]=Mobipocket fitxategiak
Name[fi]=Mobipocket-tiedostot
Name[fr]=Fichiers « Mobipocket »
Name[ga]=Comhaid Mobipocket
Name[gl]=Ficheiros de Mobipocket
Name[hr]=Mobipocket datoteke
Name[hu]=Mobipocket-féjlok
Name[ia]=Files de Mobipocket
Name[is]=Mobipocket skrár
Name[it]=File Mobipocket
Name[kk]=Mobipocket файлдары
Name[km]=ឯកសារ Mobipocket
Name[ko]=Mobipocket 파일
Name[lt]=Mobipocket failai
Name[lv]=Mobipocket faili
Name[mr]=मोबीपॉकेट फाईल्स
Name[nb]=Mobipocket-filer
Name[nds]=Mobipocket-Dateien
Name[nl]=Mobipocket-bestanden
Name[pa]=ਮੋਬੀਪਾਕਟ ਫਾਇਲਾਂ
Name[pl]=Pliki Mobipocket
Name[pt]=Ficheiros do Mobipocket
Name[pt_BR]=Arquivos do Mobipocket
Name[ro]=Fișiere Mobipocket
Name[ru]=Электронные книги Mobipocket
Name[si]=Mobipocket ගොනු
Name[sk]=Mobipocket súbory
Name[sl]=Datoteke Mobipocket
Name[sr]=Мобипокетови фајлови
Name[sr@ijekavian]=Мобипокетови фајлови
Name[sr@ijekavianlatin]=Mobipocketovi fajlovi
Name[sr@latin]=Mobipocketovi fajlovi
Name[sv]=Mobipocket-filer
Name[tr]=Mobipocket Dosyaları
Name[ug]=Mobipocket  ھۆججەتلىرى
Name[uk]=Файли Mobipocket
Name[x-test]=xxMobipocket Filesxx
Name[zh_CN]=Mobipocket 文件
Name[zh_TW]=Mobipocket 檔案
X-KDE-ServiceTypes=ThumbCreator
MimeType=application/x-mobipocket-ebook;
X-KDE-Library=mobithumbnail
CacheThumbnail=true

