[Desktop Entry]
MimeType=text/directory;application/x-vnd.kde.contactgroup;
Type=Service
X-KDE-ServiceTypes=AkonadiNepomukFeeder
X-KDE-Library=akonadi_nepomuk_contact_feeder
X-KDE-ClassName=Akonadi::NepomukContactFeeder
Name=Nepomuk Contact Feeder
Name[ar]=مغذي جهات إتصال نبومك
Name[bs]=Nepomuk napajač kontakata
Name[ca]=Alimentador de contactes del Nepomuk
Name[ca@valencia]=Alimentador de contactes del Nepomuk
Name[cs]=Nepomuk podavač kontaktů
Name[da]=Nepomuk kontakt-feeder
Name[de]=Kontakte-Modul für Nepomuk
Name[el]=Τροφοδότης επαφών στο Nepomuk
Name[en_GB]=Nepomuk Contact Feeder
Name[es]=Proveedor de contactos de Nepomuk
Name[et]=Nepomuki kontaktide söötur
Name[fi]=Nepomukin yhteystietosyötteistin
Name[fr]=Connecteur Nepomuk pour les contacts
Name[ga]=Fothaire Teagmhálacha Nepomuk
Name[gl]=Fornecedor de Contactos do Nepomuk
Name[hu]=Nepomuk névjegyfeltöltő
Name[ia]=Syndication de Contacto de Nepomuk
Name[it]=Fornitore di contatti per Nepomuk
Name[ja]=Nepomuk 連絡先フィーダー
Name[kk]=Nepomuk контакт мәлімет бергіші
Name[km]=មតិ​ព័ត៌មាន​ទំនាក់ទំនង Nepomuk
Name[ko]=Nepomuk 연락처 공급자
Name[lt]=Nepomuk adresatų šaltinis
Name[lv]=Nepomuk kontaktu barotājs
Name[nb]=Kontaktsender til Nepomuk
Name[nds]=Nepomuk-Kontaktingaav
Name[nl]=Nepomuk Kontact-toevoer
Name[nn]=Kontaktmatar for Nepomuk
Name[pa]=ਨਿਪੋਮੁਕ ਸੰਪਰਕ ਫੀਡਰ
Name[pl]=Podajnik Kontaktów Nepomuk
Name[pt]=Alimentação de Contactos para o Nepomuk
Name[pt_BR]=Alimentador de contatos para o Nepomuk
Name[ro]=Alimentare Nepomuk cu fluxuri
Name[ru]=Добавление контактов в Nepomuk
Name[sk]=Podávač kontaktov Nepomuk
Name[sl]=Podajalnik stikov za Nepomuk
Name[sr]=Непомуков уводник контаката
Name[sr@ijekavian]=Непомуков уводник контаката
Name[sr@ijekavianlatin]=Nepomukov uvodnik kontakata
Name[sr@latin]=Nepomukov uvodnik kontakata
Name[sv]=Kontaktinmatning till Nepomuk
Name[tr]=Nepomuk Kişi Besleyici
Name[uk]=Передавач контактів Nepomuk
Name[x-test]=xxNepomuk Contact Feederxx
Name[zh_CN]=Nepomuk 联系人采集器
Name[zh_TW]=Nepomuk Contact Feeder
