[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=NepomukFileExtractor
X-KDE-Library=nepomukexiv2extractor
Name=Nepomuk Exiv2 Extractor
Name[bs]=Nepomuk Exiv2 ekstraktor
Name[ca]=Extractor Exiv2 del Nepomuk
Name[ca@valencia]=Extractor Exiv2 del Nepomuk
Name[cs]=Extraktor Efiv2 pro Nepomuk
Name[da]=Nepomuk Exiv2-udtrækning
Name[de]=Exiv2-Extraktion für Nepomuk
Name[el]=Εξαγωγέας Exiv2 Nepomuk
Name[es]=Extractor Exiv2 de Nepomuk
Name[et]=Nepomuki Exiv2 ekstraktimine
Name[fi]=Nepomukin Exiv2-luku
Name[fr]=Extracteur « Exiv2 » de Nepomuk
Name[gl]=Extractor de Exiv2 do Nepomuk
Name[hu]=Nepomuk Exiv2 kibontó
Name[ia]=Nepomuk Extractor de Exiv2
Name[it]=Estrattore Exiv2 di Nepomuk
Name[kk]=Nepomuk Exiv2 дерек шығарғышы
Name[km]=ផ្ទុក​ទិន្នន័យ​ Nepomuk
Name[ko]=Nepomuk Exiv2 추출기
Name[lt]=Nepomuk Exiv2 išskleidimo programa
Name[mr]=नेपोमुक Exiv2 बाहेर काढणारा
Name[nb]=Nepomuk Exiv2-uttrekker
Name[nl]=Nepomuk Exiv2 extraheerder
Name[pa]=ਨਿਪੋਮੁਕ Exiv2 ਐਕਸਟਰੈਕਟਰ
Name[pl]=Wydobywanie Exiv2 dla Nepomuk 
Name[pt]=Extracção de Exiv2 do Nepomuk
Name[pt_BR]=Extrator de Exiv2 do Nepomuk
Name[ro]=Extractor Exiv2 pentru Nepomuk
Name[ru]=Адаптер Exiv2 для Nepomuk
Name[sk]=Extraktor Nepomuk Exiv2
Name[sl]=Program za izvleko Exiv2 za Nepomuk
Name[sr]=Непомуков издвајач Ексивом 2
Name[sr@ijekavian]=Непомуков издвајач Ексивом 2
Name[sr@ijekavianlatin]=Nepomukov izdvajač Exivom 2
Name[sr@latin]=Nepomukov izdvajač Exivom 2
Name[sv]=Nepomuk Exiv2-extrahering
Name[tr]=Nepomuk Exiv2 Çıkartıcı
Name[ug]=Nepomuk Exiv2 يەشكۈچ
Name[uk]=Видобувач даних Nepomuk на основі Exiv2
Name[x-test]=xxNepomuk Exiv2 Extractorxx
Name[zh_CN]=Nepomuk Exiv2 提取工具
Name[zh_TW]=Nepomuk Exiv2 展開器
Comment=Nepomuk File extractor for Image files
Comment[bs]=Nepomukov ekstraktor datoteka za datoteke slika
Comment[ca]=Extractor de fitxers del Nepomuk per fitxers d'imatges
Comment[ca@valencia]=Extractor de fitxers del Nepomuk per fitxers d'imatges
Comment[cs]=Extraktor souborů Nepomuku pro soubory obrázků
Comment[da]=Nepomuk filudtrækker til billedfiler
Comment[de]=Datei-Extraktion aus Bilddateien für Nepomuk
Comment[el]=Εξαγωγέας αρχείων Nepomuk για αρχεία εικόνων
Comment[es]=Extractor de archivos de Nepomuk para archivos de imagen
Comment[et]=Nepomuki failiekstraktimine pildifailidele
Comment[fi]=Nepomukin kuvatiedostojen luku
Comment[fr]=Extracteur de fichiers Nepomuk pour les fichiers image
Comment[gl]=Extractor de ficheiros de imaxe de Nepomuk
Comment[hu]=Nepomuk fájl kibontó képfájlokhoz
Comment[ia]=Extractor de file de Nepomuk pro files de imagines
Comment[it]=Estrattore di Nepomuk per file immagine
Comment[kk]=Кескін файлдардан Nepomuk-қа дерек шығарғышы
Comment[km]=កម្មវិធី​ស្រង់​ឯកសារ Nepomuk សម្រាប់​ឯកសារ​រូបភាព
Comment[ko]=그림 파일을 위한 Nepomuk 파일 추출기
Comment[lt]=Nepomuk failų išskleidimo programa paveikslėliams
Comment[mr]=प्रतिमा फाईल्स करिता नेपोमुक फाईल बाहेर काढणारा
Comment[nb]=Nepomuk filuttrekker for bildefiler
Comment[nl]=Nepomuk extraheerder uit bestanden voor afbeeldingen
Comment[pa]=ਚਿੱਤਰ ਫਾਇਲਾਂ ਲਈ ਨਿਪੋਮੁਕ ਫਾਇਲ ਐਕਸਟਰੈਕਟਰ
Comment[pl]=Wydobywanie dla Nepomuk z plików obrazów
Comment[pt]=Extracção de ficheiros do Nepomuk para ficheiros de imagens
Comment[pt_BR]=Extrator do Nepomuk para arquivos de imagens
Comment[ro]=Extractor de imagini pentru Nepomuk
Comment[ru]=Обработчик файлов изображений для Nepomuk
Comment[sk]=Súborový extraktor Nepomuk pre súbory obrázkov
Comment[sl]=Program za izvleko slikovnih datotek za Nepomuk
Comment[sr]=Непомуков издвајач за фајлове слика
Comment[sr@ijekavian]=Непомуков издвајач за фајлове слика
Comment[sr@ijekavianlatin]=Nepomukov izdvajač za fajlove slika
Comment[sr@latin]=Nepomukov izdvajač za fajlove slika
Comment[sv]=Nepomuk filextrahering för bildfiler
Comment[tr]=Resim dosyaları için Nepomuk Dosya çıkartıcısı
Comment[ug]=سۈرەت ھۆججەتنىڭ Nepomuk ھۆججەت يەشكۈچى
Comment[uk]=Видобувач даних Nepomuk для файлів зображень
Comment[x-test]=xxNepomuk File extractor for Image filesxx
Comment[zh_CN]=Nepomuk 图像文件提取工具
Comment[zh_TW]=Nepomuk 影像檔案展開器
