[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=NepomukService2
X-KDE-Nepomuk-autostart=true
X-KDE-Nepomuk-start-on-demand=false
Exec=nepomukfileindexer
Name=File Indexer Service
Name[bs]=Usluga za indeksiranje datoteka
Name[ca]=Servei indexador de fitxers
Name[ca@valencia]=Servei indexador de fitxers
Name[cs]=Služba indexování souborů
Name[da]=Filindekseringstjeneste
Name[de]=Datei-Indizierungsdienst
Name[el]=Υπηρεσία ευρετηρίου αρχείων
Name[es]=Servicio de indexación de archivos
Name[et]=Failide indekseerimise teenus
Name[eu]=Fitxategi indexatzaile zerbitzua
Name[fi]=Tiedostojen indeksoijapalvelu
Name[fr]=Service d'indexation de fichiers
Name[ga]=Seirbhís Innéacsaithe
Name[gl]=Servizo indexador de ficheiros
Name[he]=שירות מפתוח קבצים
Name[hu]=Fájlindexelő szolgáltatás
Name[ia]=Servicio de indicisator de File
Name[it]=Servizio di indicizzazione dei file
Name[kk]=Файл индекстеу қызметі
Name[km]=សេវា​កម្មវិធី​កំណត់​លិបិក្រម​ឯកសារ
Name[ko]=파일 인덱서 서비스
Name[lt]=Failų indeksavimo tarnyba
Name[lv]=Failu indeksēšanas serviss
Name[mr]=फाईल अनुक्रमणिका सेवा
Name[nb]=Tjeneste for filindeksering
Name[nds]=Dateiindizeren
Name[nl]=Service voor bestandenindexering
Name[pa]=ਫਾਇਲ ਇੰਡੈਕਸਰ ਸਰਵਿਸ
Name[pl]=Usługa indeksowania plików
Name[pt]=Serviço de Indexação de Ficheiros
Name[pt_BR]=Serviço de indexação de arquivos
Name[ro]=Serviciu indexator de fișiere.
Name[ru]=Служба индексирования файлов
Name[se]=Fiilaindekserenbálvalus
Name[sk]=Služba indexovania súborov
Name[sl]=Storitev izgrajevalnika kazal datotek
Name[sr]=Сервис индексара фајлова
Name[sr@ijekavian]=Сервис индексара фајлова
Name[sr@ijekavianlatin]=Servis indeksara fajlova
Name[sr@latin]=Servis indeksara fajlova
Name[sv]=Filindexeringstjänst
Name[tr]=Dosya Dizinleme Servisi
Name[ug]=ھۆججەت ئىندېكسلىغۇچ مۇلازىمىتى
Name[uk]=Служба індексування файлів
Name[x-test]=xxFile Indexer Servicexx
Name[zh_CN]=文件索引服务
Name[zh_TW]=檔案索引器服務
Comment=Nepomuk Service which indexes files on the desktop
Comment[bs]=Nepomuk usluga koja indeksira datoteke na radnoj površini
Comment[ca]=Servei del Nepomuk que indexa fitxers de l'escriptori
Comment[ca@valencia]=Servei del Nepomuk que indexa fitxers de l'escriptori
Comment[cs]=Služba Nepomuku jež indexuje data v počítači
Comment[da]=Nepomuk-tjeneste som indekserer filer på desktop-computeren
Comment[de]=Nepomuk-Dienst, der Dateien des Rechners indiziert
Comment[el]=Υπηρεσία Nepomuk η οποία δεικτοδοτεί αρχεία στην επιφάνεια εργασίας
Comment[es]=Servicio de Nepomuk que indexa archivos del escritorio
Comment[et]=Nepomuki teenus, mis indekseerib töökeskkonna faile
Comment[eu]=Nepomuk zerbitzua mahaigaineko fitxategiak indexatzen dituena
Comment[fi]=Nepomuk-palvelu, joka indeksoi tiedostoja työpöydällä
Comment[fr]=Service de Nepomuk indexant des fichiers sur le bureau
Comment[ga]=Seirbhís Nepomuk a innéacsaíonn comhaid ar an deasc
Comment[gl]=O servizo de Nepomuk que indexa os ficheiros do escritorio
Comment[he]=שירות Nepomuk שמאפתח קבצים בשולחן העבודה
Comment[hu]=Az asztali fájlokat indexelő Nepomuk szolgáltatás
Comment[ia]=Servicio de Nepomuk que indicisa le files sur le scriptorio
Comment[it]=Servizio di Nepomuk che indicizza i file del desktop
Comment[kk]=Файлдарды индекстейтін Nepomuk қызметі
Comment[km]=សេវា Nepomuk ដែល​ឯកសារ​លិបិក្រម​នៅ​លើ​ផ្ទៃតុ
Comment[ko]=데스크톱에 있는 파일을 인덱싱하는 Nepomuk 서비스
Comment[lt]=Nepomuk tarnyba, kuri indeksuoja failus darbastalyje
Comment[lv]=Nepomuk serviss, kas indeksē darbvirsmas failus
Comment[mr]=डेस्कटॉप वरील फाईल्स अनुक्रमीत करणारी नेपोमुक सेवा
Comment[nb]=Nepomuk tjeneste som indekserer filene på skrivebordet
Comment[nds]=Nepomuk-Deenst, de Dateien op den Schriefdisch indizeert
Comment[nl]=Nepomuk-service die bestanden op het bureaublad indexeert
Comment[pa]=ਨਿਪੋਮੁਕ ਸਰਵਿਸ, ਜੋ ਕਿ ਡੈਸਕਟਾਪ ਉੱਤੇ ਫਾਇਲਾਂ ਇੰਡੈਕਸ ਕਰਦੀ ਹੈ
Comment[pl]=Usługa Nepomuka, która indeksuje pliki na pulpicie
Comment[pt]=Um serviço do Nepomuk que indexa os ficheiros no ambiente de trabalho
Comment[pt_BR]=Serviço do Nepomuk para indexação de arquivos no ambiente de trabalho
Comment[ro]=Serviciu Nepomuk care indexează fișierele de pe birou
Comment[ru]=Служба Nepomuk для индексирования файлов в рабочем окружении
Comment[se]=Nepomuk-bálvalus mii indeksere fiillaid dihtoris
Comment[sk]=Služba Nepomuku, ktorá indexuje súbory na ploche
Comment[sl]=Nepomukova storitev, ki gradi kazala datotek na namizju
Comment[sr]=Непомуков сервис за индексирање фајлова на површи
Comment[sr@ijekavian]=Непомуков сервис за индексирање фајлова на површи
Comment[sr@ijekavianlatin]=Nepomukov servis za indeksiranje fajlova na površi
Comment[sr@latin]=Nepomukov servis za indeksiranje fajlova na površi
Comment[sv]=Nepomuk-tjänst som indexerar filer på skrivbordet
Comment[tr]=Masaüstündeki dosyaları dizinleyen Nepomuk Servisi
Comment[ug]=ئۈستەلئۈستىدىكى ھۆججەتلەرنى ئىندېكسلايدىغان Nepomuk مۇلازىمىتى
Comment[uk]=Служба Nepomuk, яка індексує файли на вашому комп’ютері
Comment[x-test]=xxNepomuk Service which indexes files on the desktopxx
Comment[zh_CN]=索引桌面文件的 Nepomuk 服务
Comment[zh_TW]=建立桌面上檔案的索引的 Nepomuk 服務
