[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=NepomukFileExtractor
X-KDE-Library=nepomukpopplerextractor
Name=Nepomuk Poppler Extractor
Name[bs]=Nepomukov Poppler ekstraktor datoteka
Name[ca]=Extractor Poppler del Nepomuk
Name[ca@valencia]=Extractor Poppler del Nepomuk
Name[cs]=Extraktor Poppler pro Nepomuk
Name[da]=Nepomuk Poppler-udtrækker
Name[de]=Poppler-Extraktion für Nepomuk
Name[el]=Εξαγωγέας Poppler Nepomuk
Name[es]=Extractor Poppler de Nepomuk
Name[et]=Nepomuki Poppleri ekstraktimine
Name[fi]=Nepomukin Poppler-luku
Name[fr]=Extracteur « Poppler » de Nepomuk
Name[gl]=Extractor de Poppler do Nepomuk
Name[hu]=Nepomuk Poppler kibontó
Name[ia]=Nepomuk Extractor de Poppler
Name[it]=Estrattore Poppler di Nepomuk
Name[kk]=Nepomuk Popler дерек шығарғышы
Name[km]=កម្មវិធី​ស្រង់ ​Nepomuk Poppler
Name[ko]=Nepomuk Poppler 추출기
Name[lt]=Nepomuk Poppler išskleidimo programa
Name[mr]=नेपोमुक Poppler बाहेर काढणारा
Name[nb]=Nepomuk Poppler-uttrekker
Name[nl]=Nepomuk Poppler extraheerder
Name[pa]=ਨਿਪੋਮੁਕ ਪੋਪਲਰ ਐਕਸਟਰੈਕਟਰ
Name[pl]=Wydobywanie Poppler dla Nepomuk 
Name[pt]=Extracção de Poppler do Nepomuk
Name[pt_BR]=Extrator de Poppler do Nepomuk
Name[ro]=Extractor Poppler pentru Nepomuk
Name[ru]=Адаптер Poppler для Nepomuk
Name[sk]=Extraktor Nepomuk Poppler
Name[sl]=Program za izvleko Poppler za Nepomuk
Name[sr]=Непомуков издвајач Поплером
Name[sr@ijekavian]=Непомуков издвајач Поплером
Name[sr@ijekavianlatin]=Nepomukov izdvajač Popplerom
Name[sr@latin]=Nepomukov izdvajač Popplerom
Name[sv]=Nepomuk Poppler-extrahering
Name[tr]=Nepomuk Poppler Çıkartıcı
Name[ug]=Nepomuk Poppler يەشكۈچ
Name[uk]=Видобувач даних Nepomuk на основі Poppler
Name[x-test]=xxNepomuk Poppler Extractorxx
Name[zh_CN]=Nepomuk Poppler 提取工具
Name[zh_TW]=Nepomuk Poppler 檔展開器
Comment=Nepomuk File extractor for PDF files
Comment[bs]=Nepomukov ekstraktor datoteka za datoteke PDF
Comment[ca]=Extractor de fitxers del Nepomuk per fitxers PDF
Comment[ca@valencia]=Extractor de fitxers del Nepomuk per fitxers PDF
Comment[cs]=Extraktor souborů Nepomuku pro soubory PDF
Comment[da]=Nepomuk filudtrækker til PDF-filer
Comment[de]=Datei-Extraktion aus PDF-Dateien für Nepomuk
Comment[el]=Εξαγωγέας αρχείων Nepomuk για PDF αρχεία
Comment[es]=Extractor de archivos de Nepomuk para archivos PDF
Comment[et]=Nepomuki failiekstraktimine PDF-failidele
Comment[fi]=Nepomukin PDF-tiedostojen luku
Comment[fr]=Extracteur de fichiers Nepomuk pour les fichiers « PDF »
Comment[gl]=Extractor de ficheiros PDF de Nepomuk
Comment[hu]=Nepomuk fájl kibontó PDF fájlokhoz
Comment[ia]=Extractor de file de Nepomuk pro files PDF
Comment[it]=Estrattore di Nepomuk per file PDF
Comment[kk]=PDF файлдардан Nepomuk-қа дерек шығарғышы
Comment[km]=កម្មវិធី​ស្រង់​ឯកសារ Nepomuk សម្រាប់​ឯកសារ PDF
Comment[ko]=PDF 파일을 위한 Nepomuk 추출기
Comment[lt]=Nepomuk failų išskleidimo programa PDF failams
Comment[mr]=PDF फाईल्स करिता नेपोमुक फाईल बाहेर काढणारा
Comment[nb]=Nepomuk filuttrekker for PDF-filer
Comment[nl]=Nepomuk extraheerder uit PDF-bestanden
Comment[pa]=ਪੀਡੀਐਫ ਫਾਇਲਾਂ ਲਈ ਨਿਪੋਮੁਕ ਫਾਇਲ ਐਕਸਟਰੈਕਟਰ
Comment[pl]=Wydobywanie dla Nepomuk z plików PDF
Comment[pt]=Extracção de ficheiros do Nepomuk para ficheiros PDF
Comment[pt_BR]=Extrator do Nepomuk para arquivos PDF
Comment[ro]=Extractor de fișiere PDF pentru Nepomuk
Comment[ru]=Обработчик файлов PDF для Nepomuk
Comment[sk]=Súborový extraktor Nepomuk pre súbory PDF
Comment[sl]=Program za izvleko datotek PDF za Nepomuk
Comment[sr]=Непомуков издвајач за ПДФ фајлове
Comment[sr@ijekavian]=Непомуков издвајач за ПДФ фајлове
Comment[sr@ijekavianlatin]=Nepomukov izdvajač za PDF fajlove
Comment[sr@latin]=Nepomukov izdvajač za PDF fajlove
Comment[sv]=Nepomuk filextrahering för PDF-filer
Comment[tr]=PDF dosyaları için Nepomuk Dosya çıkartıcısı
Comment[ug]=PDF ھۆججەتلەرنىڭ Nepomuk ھۆججەت يەشكۈچى
Comment[uk]=Видобувач даних Nepomuk для файлів PDF
Comment[x-test]=xxNepomuk File extractor for PDF filesxx
Comment[zh_CN]=Nepomuk PDF 文件提取工具
Comment[zh_TW]=Nepomuk PDF 檔展開器
