[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=NepomukFileExtractor
X-KDE-Library=nepomukofficeextractor
Name=Nepomuk Office Extractor
Name[bs]=Nepomukov ekstraktor datoteka Office
Name[ca]=Extractor d'Office del Nepomuk
Name[ca@valencia]=Extractor d'Office del Nepomuk
Name[cs]=Extraktor Office pro Nepomuk
Name[da]=Nepomuk Microsoft Office-udtrækker
Name[de]=Office-Extraktion für Nepomuk
Name[es]=Extractor Office de Nepomuk
Name[fi]=Nepomukin Office-tiedostojen luku
Name[fr]=Extracteur Office pour Nepomuk
Name[gl]=Extractor de Office de Nepomuk
Name[hu]=Nepomuk Office kibontó
Name[ia]=Nepomuk Extractor  pro Office
Name[it]=Estrattore Office di Nepomuk
Name[kk]=Nepomuk Office дерек шығарғышы
Name[nb]=Nepomuk Office-uttrekker
Name[nl]=Nepomuk extraheerder uit Office
Name[pt]=Extracção do Office para o Nepomuk
Name[pt_BR]=Extrator de Office do Nepomuk
Name[ro]=Extractor Office pentru Nepomuk
Name[sk]=Extraktor Nepomuk Office
Name[sl]=Program za izvleko Office za Nepomuk
Name[sr]=Непомуков издвајач из МС Офиса
Name[sr@ijekavian]=Непомуков издвајач из МС Офиса
Name[sr@ijekavianlatin]=Nepomukov izdvajač iz MS Officea
Name[sr@latin]=Nepomukov izdvajač iz MS Officea
Name[sv]=Nepomuk Office-extrahering
Name[tr]=Nepomuk Office Çıkartıcı
Name[uk]=Видобувач даних файлів Office для Nepomuk
Name[x-test]=xxNepomuk Office Extractorxx
Name[zh_TW]=Nepomuk Office 展開器
Comment=Nepomuk File extractor for DOC, XLS and PPT files
Comment[bs]=Nepomukov ekstraktor datoteka za datoteke DOC, XLS i PPT
Comment[ca]=Extractor de fitxers del Nepomuk per fitxers DOC, XLS i PPT
Comment[ca@valencia]=Extractor de fitxers del Nepomuk per fitxers DOC, XLS i PPT
Comment[cs]=Extraktor souborů Nepomuku pro soubory DOC, XLS a PPT
Comment[da]=Nepomuk filudtrækker til DOC, XLS og PPT-filer
Comment[de]=Datei-Extraktion aus DOC, XLS und PPT-Dateien für Nepomuk
Comment[es]=Extractor de archivos de Nepomuk para archivos DOC, XLS y PPT
Comment[fi]=Nepomukin DOC-, XLS- ja PPT-tiedostojen luku
Comment[fr]=Extracteur de fichiers « DOC », « XLS » et « PPT » pour Nepomuk
Comment[gl]=Extractor de ficheiros DOC, XLS e PPT de Nepomuk
Comment[hu]=Nepomuk fájl kibontó DOC, XLS és PPT fájlokhoz
Comment[ia]=Extractor de file de Nepomuk pro files DOC, XLS e PPT.
Comment[it]=Estrattore di Nepomuk per file DOC, XLS e PPT
Comment[kk]=DOC, XLS, PPT файлдардан Nepomuk-қа дерек шығарғышы
Comment[nb]=Nepomuk filuttrekker for DOC, XLS og PPT-filer
Comment[nl]=Nepomuk extraheerder uit DOC-, XLS- en PPT-bestanden
Comment[pt]=Extracção de ficheiros do Nepomuk para ficheiros DOC, XLS e PPT
Comment[pt_BR]=Extrator do Nepomuk para arquivos DOC, XLS e PPT
Comment[ro]=Extractor de fișiere DOC, XLS și PPT pentru Nepomuk
Comment[sk]=Súborový extraktor Nepomuk pre súbory DOC, XLS a PPT
Comment[sl]=Program za izvleko datotek DOC, XLS in PPT za Nepomuk
Comment[sr]=Непомуков издвајач за *.doc, *.xls и *.ppt фајлове
Comment[sr@ijekavian]=Непомуков издвајач за *.doc, *.xls и *.ppt фајлове
Comment[sr@ijekavianlatin]=Nepomukov izdvajač za *.doc, *.xls i *.ppt fajlove
Comment[sr@latin]=Nepomukov izdvajač za *.doc, *.xls i *.ppt fajlove
Comment[sv]=Nepomuk filextrahering för DOC-, XLS- och PPT-filer
Comment[tr]=DOC, XLS ve PPT dosyaları için Nepomuk Dosya çıkartıcı
Comment[uk]=Видобувач даних Nepomuk для файлів DOC, XLS та PPT
Comment[x-test]=xxNepomuk File extractor for DOC, XLS and PPT filesxx
Comment[zh_TW]=Nepomuk DOC, XLS 與 PPT 檔展開器
