[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=NepomukService2
X-KDE-Nepomuk-autostart=true
X-KDE-Nepomuk-start-on-demand=true
Exec=nepomukstorage
Name=Nepomuk Data Storage
Name[bs]=Nepomukovo skladište
Name[ca]=Emmagatzematge de dades del Nepomuk
Name[ca@valencia]=Emmagatzematge de dades del Nepomuk
Name[cs]=Datové úložiště Nepomuku
Name[da]=Nepomuk datalagring
Name[de]=Nepomuk-Datendienst
Name[el]=Αποθήκευση δεδομένων Nepomuk
Name[es]=Almacenamiento de datos de Nepomuk
Name[et]=Nepomuki andmesalvesti
Name[eu]=Nepomuken datu biltegiratzea
Name[fi]=Nepomuk-tietotallennus
Name[fr]=Stockage de données de Nepomuk
Name[ga]=Stóráil Sonraí Nepomuk
Name[gl]=Almacén de datos de Nepomuk
Name[he]=אחסון של Nepomuk
Name[hu]=Nepomuk adattároló
Name[ia]=Nepomuk Immagazinage de datos
Name[it]=Memorizzazione di dati di Nepomuk
Name[kk]=Nepomuk деректерді сақтау
Name[km]=ផ្ទុក​ទិន្នន័យ​ Nepomuk
Name[ko]=Nepomuk 데이터 저장소
Name[lt]=Nepomuk duomenų kaupiklis
Name[lv]=Nepomuk datu glabātuve
Name[mr]=नेपोमुक डेटा स्टोरेज
Name[nb]=Nepomuk datalager
Name[nds]=Nepomuk-Datenaflaag
Name[nl]=Nepomuk-gegevensopslag
Name[pa]=ਨਿਪੋਮੁਕ ਡਾਟਾ ਸਟੋਰੇਜ਼
Name[pl]=Przechowywanie danych Nepomuka
Name[pt]=Armazenamento de Dados do Nepomuk
Name[pt_BR]=Armazenamento de dados do Nepomuk
Name[ro]=Stocare date Nepomuk
Name[ru]=Хранилище Nepomuk
Name[se]=Nepomuk-datavurkenbálvalus
Name[sk]=Dátové úložisko Nepomuku
Name[sl]=Shramba podatkov za Nepomuk
Name[sr]=Непомуково складиште
Name[sr@ijekavian]=Непомуково складиште
Name[sr@ijekavianlatin]=Nepomukovo skladište
Name[sr@latin]=Nepomukovo skladište
Name[sv]=Nepomuk-datalagring
Name[tr]=Nepomuk Veri Saklama
Name[ug]=Nepomuk سانلىق-مەلۇمات ساقلاش
Name[uk]=Збереження даних Nepomuk
Name[x-test]=xxNepomuk Data Storagexx
Name[zh_CN]=Nepomuk 数据存储
Name[zh_TW]=Nepomuk 資料儲存
Comment=The Core Nepomuk data storage service
Comment[bs]=Osnovni servis Nepomuka za skladištenje podataka
Comment[ca]=El servei d'emmagatzematge de dades del nucli del Nepomuk
Comment[ca@valencia]=El servei d'emmagatzematge de dades del nucli del Nepomuk
Comment[cs]=Jádro služby Datové úložiště Nepomuku
Comment[da]=Nepomuk kernetjeneste til datalagring
Comment[de]=Der Nepomuk-Basisdienst zum Speichern der Daten
Comment[el]=Η βασική υπηρεσία αποθήκευσης δεδομένων Nepomuk
Comment[es]=La base del servicio de almacenamiento de datos de Nepomuk
Comment[et]=Nepomuki andmesalvestuse tuumikteenus
Comment[eu]=Nepomuken datu biltegiratzeko zerbitzuaren nukleoa
Comment[fi]=Ydin Nepomuk tietotallennuspalvelu
Comment[fr]=Le service central de stockage de données de Nepomuk
Comment[ga]=Bunseirbhís stórála sonraí Nepomuk
Comment[gl]=O servizo central de almacenaxe de datos de Nepomuk
Comment[he]=גרעין שירות האחסון של Nepomuk
Comment[hu]=Nepomuk adattároló alapszolgáltatás
Comment[ia]=Le servicio de immagazinage de datos  del Corde de Nepomuk
Comment[it]=Il servizio principale di memorizzazione dati di Nepomuk
Comment[kk]=Деректер сақтау Nepomuk қызметінің өзегі
Comment[km]=សេវា​ផ្ទុក​ទិន្នន័យ Nepomuk សំខាន់
Comment[ko]=Nepomuk 코어 데이터 저장소
Comment[lt]=Pagrindinė Nepomuk duomenų kaupimo tarnyba
Comment[lv]=Nepomuk centrālais datu glabāšanas serviss
Comment[mr]=मूळ नेपोमुक डेटा स्टोरेज सेवा
Comment[nb]=Sentral datalagertjeneste for Nepomuk
Comment[nds]=De Karn vun den Nepomuk-Datenaflaagdeenst
Comment[nl]=De kern Nepomuk-gegevensopslagservice
Comment[pa]=ਕੋਰ ਨਿਪੋਮੁਕ ਡਾਟਾ ਸਟੋਰੇਜ਼ ਸਰਵਿਸ
Comment[pl]=Usługa podstawowa Nepomuka do przechowywania danych
Comment[pt]=O motor de base para o armazenamento de dados do Nepomuk
Comment[pt_BR]=Serviço principal de armazenamento de dados do Nepomuk
Comment[ro]=Serviciul esențial Nepomuk pentru stocarea datelor
Comment[ru]=Служба хранилища основных данных Nepomuk
Comment[se]=Váldo Nepomuk-dataid vurkenbálvalus
Comment[sk]=Hlavná služba Nepomuku pre ukladanie dát
Comment[sl]=Osnovna storitev shrambe podatkov za Nepomuk
Comment[sr]=Језгарни Непомуков сервис за складиштење података
Comment[sr@ijekavian]=Језгарни Непомуков сервис за складиштење података
Comment[sr@ijekavianlatin]=Jezgarni Nepomukov servis za skladištenje podataka
Comment[sr@latin]=Jezgarni Nepomukov servis za skladištenje podataka
Comment[sv]=Nepomuk-datalagringstjänstens kärna
Comment[tr]=Nepomuk Ana veri depolama servisi
Comment[ug]=Nepomuk يادرولۇق سانلىق-مەلۇمات ساقلاش مۇلازىمىتى
Comment[uk]=Ядро служби збереження даних Nepomuk
Comment[x-test]=xxThe Core Nepomuk data storage servicexx
Comment[zh_CN]=核心 Nepomuk 数据存储服务
Comment[zh_TW]=核心 Nepomuk 資料儲存服務
