[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=NepomukFileExtractor
X-KDE-Library=nepomukodfextractor
Name=Nepomuk Odf Extractor
Name[bs]=Nepomukov ODF ekstraktor
Name[ca]=Extractor d'ODF del Nepomuk
Name[ca@valencia]=Extractor d'ODF del Nepomuk
Name[cs]=Extraktor ODF pro Nepomuk
Name[da]=Nepomuk ODF-udtrækker
Name[de]=ODF-Extraktion für Nepomuk
Name[es]=Extractor Odf de Nepomuk
Name[fi]=Nepomukin Odf-luku
Name[fr]=Extracteur Odf pour Nepomuk
Name[gl]=Extractor de Odf de Nepomuk
Name[hu]=Nepomuk odf kibontó
Name[ia]=Nepomuk Extractor de Odf
Name[it]=Estrattore ODF di Nepomuk
Name[kk]=Nepomuk Odf дерек шығарғышы
Name[ko]=Nepomuk Odf 추출기
Name[nb]=Nepomuk Odf-uttrekker
Name[nl]=Nepomuk extraheerder uit odf
Name[pl]=Wydobywanie z Odf dla Nepomuk
Name[pt]=Extracção de ODF do Nepomuk
Name[pt_BR]=Extrator de ODF do Nepomuk
Name[ro]=Extractor ODF pentru Nepomuk
Name[ru]=Адаптер Odf для Nepomuk
Name[sk]=Extraktor Nepomuk Odf
Name[sl]=Program za izvleko Odf za Nepomuk
Name[sr]=Непомуков издвајач из ОДФ‑а
Name[sr@ijekavian]=Непомуков издвајач из ОДФ‑а
Name[sr@ijekavianlatin]=Nepomukov izdvajač iz ODF‑a
Name[sr@latin]=Nepomukov izdvajač iz ODF‑a
Name[sv]=Nepomuk ODF-extrahering
Name[tr]=Nepomuk Odf Çıkartıcı
Name[ug]=Nepomuk Odf يەشكۈچ
Name[uk]=Видобувач даних з файлів ODF для Nepomuk
Name[x-test]=xxNepomuk Odf Extractorxx
Name[zh_CN]=Nepomuk Odf 提取工具
Name[zh_TW]=Nepomuk Odf 展開器
Comment=Nepomuk File extractor for ODF files
Comment[bs]=Nepomukov ekstraktor datoteka za datoteke ODF
Comment[ca]=Extractor de fitxers del Nepomuk per fitxers ODF
Comment[ca@valencia]=Extractor de fitxers del Nepomuk per fitxers ODF
Comment[cs]=Extraktor souborů Nepomuku pro soubory ODF
Comment[da]=Nepomuk filudtrækker til ODF-filer
Comment[de]=Datei-Extraktion aus ODF-Dateien für Nepomuk
Comment[es]=Extractor de archivos de Nepomuk para archivos ODF
Comment[fi]=Nepomukin ODF-tiedostojen luku
Comment[fr]=Extracteur de fichiers Nepomuk pour les fichiers « ODF »
Comment[gl]=Extractor de ficheiros ODF de Nepomuk
Comment[hu]=Nepomuk fájl kibontó ODF fájlokhoz
Comment[ia]=Extractor de file de Nepomuk pro files ODF
Comment[it]=Estrattore di Nepomuk per file ODF
Comment[kk]=ODF файлдардан Nepomuk-қа дерек шығарғышы
Comment[ko]=ODF 파일을 위한 Nepomuk 추출기
Comment[nb]=Nepomuk filuttrekker for ODF-filer
Comment[nl]=Nepomuk extraheerder uit ODF-bestanden
Comment[pl]=Wydobywanie dla Nepomuk z plików ODF
Comment[pt]=Extracção de ficheiros do Nepomuk para ficheiros ODF
Comment[pt_BR]=Extrator do Nepomuk para arquivos ODF
Comment[ro]=Extractor de fișiere ODF pentru Nepomuk
Comment[ru]=Обработчик файлов ODF для Nepomuk
Comment[sk]=Súborový extraktor Nepomuk pre súbory ODF
Comment[sl]=Program za izvleko datotek ODF za Nepomuk
Comment[sr]=Непомуков издвајач за ОДФ фајлове
Comment[sr@ijekavian]=Непомуков издвајач за ОДФ фајлове
Comment[sr@ijekavianlatin]=Nepomukov izdvajač za ODF fajlove
Comment[sr@latin]=Nepomukov izdvajač za ODF fajlove
Comment[sv]=Nepomuk filextrahering för ODF-filer
Comment[tr]=ODF dosyaları için Nepomuk Dosya çıkartıcısı
Comment[ug]=ODF ھۆججەتلىرىنىڭ Nepomuk ھۆججەت يەشكۈچى
Comment[uk]=Видобувач даних Nepomuk для файлів ODF
Comment[x-test]=xxNepomuk File extractor for ODF filesxx
Comment[zh_CN]=Nepomuk ODF 文件提取工具
Comment[zh_TW]=Nepomuk ODF 檔展開器
