[Desktop Entry]
MimeType=application/x-vnd.akonadi.calendar.event;application/x-vnd.akonadi.calendar.todo;application/x-vnd.akonadi.calendar.journal;application/x-vnd.akonadi.calendar.freebusy;
Type=Service
X-KDE-ServiceTypes=AkonadiNepomukFeeder
X-KDE-Library=akonadi_nepomuk_calendar_feeder
X-KDE-ClassName=Akonadi::NepomukCalendarFeeder
Name=Nepomuk Calendar Feeder
Name[bs]=Nepomuk dovod kalendara
Name[ca]=Alimentador de calendaris del Nepomuk
Name[ca@valencia]=Alimentador de calendaris del Nepomuk
Name[cs]=Nepomuk podavač kalendáře
Name[da]=Nepomuk kalender-feeder
Name[de]=Kalender-Modul für Nepomuk
Name[el]=Τροφοδότης ημερολογίων του Nepomuk
Name[en_GB]=Nepomuk Calendar Feeder
Name[es]=Proveedor de calendarios de Nepomuk
Name[et]=Nepomuki kalendri söötur
Name[fi]=Nepomukin kalenterisyötteistin
Name[fr]=Connecteur Nepomuk pour les agendas
Name[ga]=Fothaire Féilire Nepomuk
Name[gl]=Fornecedor de Calendario do Nepomuk
Name[hu]=Nepomuk naptárfeltöltő
Name[ia]=Syndication de Calendario de Nepomuk
Name[it]=Fornitore di calendario per Nepomuk
Name[ja]=Nepomuk カレンダーフィーダー
Name[kk]=Nepomuk күнтізбе мәлімет бергіші
Name[km]=កម្មវិធី​មតិ​ព័ត​មាន​ប្រតិទិន​របស់ Nepomuk
Name[ko]=Nepomuk 달력 공급자
Name[lt]=Nepomuk kalendoriaus šaltinis
Name[lv]=Nepomuk kalendāru barotājs
Name[nb]=Kalendersender til Nepomuk
Name[nds]=Nepomuk-Kalenneringaav
Name[nl]=Nepomuk agenda-voeder
Name[pa]=ਨਿਪੋਮੁਕ ਕੈਲੰਡਰ ਫੀਡਰ
Name[pl]=Podajnik Kalendarza Nepomuk
Name[pt]=Alimentação do Calendário para o Nepomuk
Name[pt_BR]=Alimentador de calendário para o Nepomuk
Name[ru]=Добавление календарей в Nepomuk
Name[sk]=Podávač kalendára Nepomuk
Name[sl]=Podajalnik koledarjev za Nepomuk
Name[sr]=Непомуков уводник календара
Name[sr@ijekavian]=Непомуков уводник календара
Name[sr@ijekavianlatin]=Nepomukov uvodnik kalendara
Name[sr@latin]=Nepomukov uvodnik kalendara
Name[sv]=Kontaktinmatning till Nepomuk
Name[tr]=Nepomuk Takvim Besleyici
Name[uk]=Передавач календарів Nepomuk
Name[x-test]=xxNepomuk Calendar Feederxx
Name[zh_CN]=Nepomuk 日历采集器
Name[zh_TW]=Nepomuk Calendar Feeder
