[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=NepomukFileExtractor
X-KDE-Library=nepomukmobiextractor
Name=Nepomuk Mobi Extractor
Name[bs]=Nepomukov Mobi ekstraktor
Name[ca]=Extractor Mobi del Nepomuk
Name[ca@valencia]=Extractor Mobi del Nepomuk
Name[cs]=Extraktor Mobi pro Nepomuk
Name[da]=Nepomuk Mobi-udtrækker
Name[de]=Mobi-Extraktion für Nepomuk
Name[es]=Extractor Mobi de Nepomuk
Name[fi]=Nepomukin Mobi-luku
Name[fr]=Extracteur Mobi de Nepomuk
Name[gl]=Extractor de Mobi de Nepomuk
Name[hu]=Nepomuk Mobi kibontó
Name[ia]=Nepomuk Extractor de Mobi
Name[it]=Estrattore Mobi di Nepomuk
Name[kk]=Nepomuk Mobi дерек шығарғышы
Name[ko]=Nepomuk Mobi 추출기
Name[nb]=Nepomuk Mobi-uttrekker
Name[nl]=Nepomuk Mobi extraheerder
Name[pt]=Extracção de Mobi do Nepomuk
Name[pt_BR]=Extrator de Mobi do Nepomuk
Name[ro]=Extractor Mobi pentru Nepomuk
Name[ru]=Адаптер Mobi для Nepomuk
Name[sk]=Nepomuk Mobi Extraktor
Name[sl]=Program za izvleko Mobi za Nepomuk
Name[sr]=Непомуков издвајач Мобипокета
Name[sr@ijekavian]=Непомуков издвајач Мобипокета
Name[sr@ijekavianlatin]=Nepomukov izdvajač Mobipocketa
Name[sr@latin]=Nepomukov izdvajač Mobipocketa
Name[sv]=Nepomuk Mobi-extrahering
Name[tr]=Nepomuk Mobi Çıkartıcı
Name[ug]=Nepomuk Mobi يەشكۈچ
Name[uk]=Видобувач даних файлів mobi для Nepomuk
Name[x-test]=xxNepomuk Mobi Extractorxx
Name[zh_CN]=Nepomuk Mobi 提取工具
Name[zh_TW]=Nepomuk Mobi 展開器
Comment=Nepomuk File extractor for MobiPocket Files
Comment[bs]=Nepomukov ekstraktor datoteka za MobiPocket datoteke
Comment[ca]=Extractor de fitxers del Nepomuk per fitxers MobiPocket
Comment[ca@valencia]=Extractor de fitxers del Nepomuk per fitxers MobiPocket
Comment[cs]=Extraktor souborů Nepomuku pro soubory 
Comment[da]=Nepomuk filudtrækker til MobiPocket-filer
Comment[de]=Datei-Extraktion aus MobiPocket-Dateien für Nepomuk
Comment[es]=Extractor de archivos de Nepomuk para archivos MobiPocket
Comment[fi]=Nepomukin MobiPocket-tiedostojen luku
Comment[fr]=Extracteur de fichiers Nepomuk pour les fichiers MobiPocket
Comment[gl]=Extractor de ficheiros MobiPocket de Nepomuk
Comment[hu]=Nepomuk fájl kibontó MobiPocket fájlokhoz
Comment[ia]=Extractor de file de Nepomuk pro files de MobiPocket
Comment[it]=Estrattore di Nepomuk per file MobiPocket
Comment[kk]=MobiPocket файлдардан Nepomuk-қа дерек шығарғышы
Comment[ko]=MobiPocket 파일을 위한 Nepomuk 추출기
Comment[nb]=Nepomuk filuttrekker for MobiPocket-filer
Comment[nl]=Nepomuk bestandenextraheerder voor MobiPocket-bestanden
Comment[pt]=Extracção de ficheiros do Nepomuk para ficheiros do MobiPocket
Comment[pt_BR]=Extrator do Nepomuk para arquivos MobiPocket
Comment[ro]=Extractor de fișiere MobiPocket pentru Nepomuk
Comment[ru]=Обработчик файлов MobiPocket для Nepomuk
Comment[sk]=Súborový extraktor Nepomuk pre súbory MobiPocket
Comment[sl]=Program za izvleko datotek MobiPocket za Nepomuk
Comment[sr]=Непомуков издвајач за мобипокет фајлове
Comment[sr@ijekavian]=Непомуков издвајач за мобипокет фајлове
Comment[sr@ijekavianlatin]=Nepomukov izdvajač za Mobipocket fajlove
Comment[sr@latin]=Nepomukov izdvajač za Mobipocket fajlove
Comment[sv]=Nepomuk filextrahering för MobiPocket-filer
Comment[tr]=MobiPocket Dosyaları için Nepomuk Dosya çıkartıcısı
Comment[ug]=MobiPocket ھۆججەتلەرنىڭ Nepomuk ھۆججەت يەشكۈچى
Comment[uk]=Видобувач даних Nepomuk для файлів MobiPocket
Comment[x-test]=xxNepomuk File extractor for MobiPocket Filesxx
Comment[zh_CN]=Nepomuk MobiPocket 文件提取工具
Comment[zh_TW]=MobiPocket 檔的 Nepomuk 檔案展開器
