[Desktop Entry]
Type=Service
ServiceTypes=NepomukService2
X-KDE-Nepomuk-autostart=true
X-KDE-Nepomuk-start-on-demand=false
Exec=nepomukfilewatch
Name=NepomukFileWatch
Name[bs]=Nepomukov nadzor datoteka
Name[ca]=NepomukFileWatch
Name[ca@valencia]=NepomukFileWatch
Name[cs]=Nepomuk - sledování souborů
Name[da]=NepomukFileWatch
Name[de]=NepomukDateiMonitor
Name[el]=NepomukFileWatch
Name[es]=NepomukFileWatch
Name[et]=Nepomuki failijälgija
Name[eu]=NepomukFileWatch
Name[fi]=NepomukFileWatch
Name[fr]=NepomukFileWatch
Name[ga]=NepomukFileWatch
Name[gl]=NepomukFileWatch
Name[he]=NepomukFileWatch
Name[hu]=NepomukFileWatch
Name[ia]=NepomukFileWatch
Name[it]=Osservazione dei file di Nepomuk
Name[kk]=NepomukFileWatch
Name[km]=NepomukFileWatch
Name[ko]=NepomukFileWatch
Name[lt]=NepomukFailųStebėjimas
Name[lv]=NepomukFileWatch
Name[mr]=नेपोमुक फाईल वोच
Name[nb]=NepomukFileWatch
Name[nds]=Nepomuk-Dateibeluern
Name[nl]=NepomukFileWatch
Name[pa]=ਨਿਪੋਮੁਕਫਾਇਲਵਾਚ
Name[pl]=Nepomuk - zmiany w plikach
Name[pt]=NepomukFileWatch
Name[pt_BR]=Inspeção de arquivos do Nepomuk
Name[ro]=NepomukFileWatch
Name[ru]=NepomukFileWatch
Name[se]=Nepomuk-fiilagozihanbálvalus
Name[sk]=Sledovanie súborov Nepomuku
Name[sl]=NepomukFileWatch
Name[sr]=Непомуков надзор фајлова
Name[sr@ijekavian]=Непомуков надзор фајлова
Name[sr@ijekavianlatin]=Nepomukov nadzor fajlova
Name[sr@latin]=Nepomukov nadzor fajlova
Name[sv]=Nepomuk-filövervakning
Name[tr]=Nepomuk Dosya İzleyicisi
Name[ug]=Nepomuk ھۆججەت نازارەت
Name[uk]=NepomukFileWatch
Name[x-test]=xxNepomukFileWatchxx
Name[zh_CN]=Nepomuk 文件监视
Name[zh_TW]=Nepomuk 檔案監控
Comment=The Nepomuk file watch service for monitoring file changes
Comment[bs]=Nepomukov servis za nadgledanje izmjena nad datotekema
Comment[ca]=El servei de control de fitxers del Nepomuk per fer un seguiment dels canvis en fitxers
Comment[ca@valencia]=El servei de control de fitxers del Nepomuk per fer un seguiment dels canvis en fitxers
Comment[cs]=Služba Nepomuku, která sleduje změny v souborech
Comment[da]=Nepomuk filovervågningstjeneste til overvågning af filændringer
Comment[de]=Nepomuk-Dateiüberwachung zur Überwachung von Dateiänderungen
Comment[el]=Η υπηρεσία Nepomuk παρακολούθησης αρχείων για την εποπτεία αλλαγών σε αρχεία
Comment[es]=El servicio de vigilancia de archivos para monitorizar cambios en archivos
Comment[et]=Nepomuki failijälgimise teenus failide muutuste jälgimiseks
Comment[eu]=Fitxategien aldaketak zelatatzeko Nepomuken fitxategiak zaintzeko zerbitzua
Comment[fi]=Nepomuk-tietostonvalvontapalvelu tiedostomuutosten valvontaan
Comment[fr]=Le service de surveillance de fichiers de Nepomuk pour contrôler les modifications de fichiers
Comment[ga]=Seirbhís fhaire comhad Nepomuk a dhéanann monatóireacht ar athruithe
Comment[gl]=O servizo de Nepomuk de vixilancia dos cambios nos ficheiros
Comment[he]=שירות מנתר הקבצים של Nepomuk עבור שינויי קבצים
Comment[hu]=Nepomuk fájlfigyelő szolgáltatás fájlváltozások követéséhez
Comment[ia]=Servicio de guarda de file Nepomuk pro monitorar variationes de file
Comment[it]=Il servizio di osservazione di Nepomuk per monitorare i cambiamenti dei file
Comment[kk]=Файл өзгерістерін қадағалайтын Nepomuk файл бақылау қызметі
Comment[km]=សេវា​ឃ្លាំមើល​ឯកសារ Nepomuk សម្រាប់​ត្រួតពិនិត្យ​ការ​ផ្លាស់ប្ដូរ​ឯកសារ
Comment[ko]=파일 변화를 감시하는 Nepomuk 파일 감시 서비스
Comment[lt]=Nepomuk failų stebėjimo paslauga failų pokyčių stebėjimui
Comment[lv]=Nepomuk failu izmaiņu novērošanas serviss
Comment[mr]=फाईल मधील बदलांवर लक्ष ठेवण्याकरिता नेपोमुक फाईल लक्ष सेवा
Comment[nb]=Nepomuk-tjeneste som overvåker filer etter endringer
Comment[nds]=Nepomuk sien Dateibeluurdeenst, de Ännern an Dateien vermeldt
Comment[nl]=NepomukFileWatch volgt uw systeem op bestandswijzigingen
Comment[pa]=ਫਾਇਲ ਬਦਲਾਅ ਉੱਤੇ ਨਿਗਰਾਨੀ ਲਈ ਨਿਪੋਮੁਕ ਫਾਇਥ ਵਾਚ ਸਰਵਿਸ
Comment[pl]=Usługa Nepomuka do monitorowania zmian w plikach
Comment[pt]=O serviço de vigilância de ficheiros para vigiar as alterações dos ficheiros
Comment[pt_BR]=Serviço de inspeção de arquivos do Nepomuk para monitoramento de alterações
Comment[ro]=Serviciu de supraveghere a fișierelor Nepomuk, pentru monitorizarea modificării fișierelor
Comment[ru]=Служба Nepomuk слежения за файлами для наблюдения изменений в файлах
Comment[se]=Nepomuk-fiilagozihanbálvalus goziha jus fiillat rievdaduvvojit
Comment[sk]=Služba Nepomuku, ktorá monitoruje zmeny súborov
Comment[sl]=Nepomukova storitev za nadzor sprememb datotek
Comment[sr]=Непомуков сервис за надгледање измена над фајловима
Comment[sr@ijekavian]=Непомуков сервис за надгледање измијена над фајловима
Comment[sr@ijekavianlatin]=Nepomukov servis za nadgledanje izmijena nad fajlovima
Comment[sr@latin]=Nepomukov servis za nadgledanje izmena nad fajlovima
Comment[sv]=Nepomuks filövervakningstjänst för att bevaka filändringar
Comment[tr]=Dosya değişikliklerini izlemek için Nepomuk dosya izleme servisi
Comment[ug]=ھۆججەت ئۆزگىرىشىنى نازارەت قىلىدىغان Nepomuk ھۆججەت نازارەت مۇلازىمىتى
Comment[uk]=Служба Nepomuk для спостереження за змінами в файлах
Comment[x-test]=xxThe Nepomuk file watch service for monitoring file changesxx
Comment[zh_CN]=监视文件更改的 Nepomuk 文件监视服务
Comment[zh_TW]=Nepomuk 檔案監控服務，監視檔案變化
