[Desktop Entry]
MimeType=message/rfc822;message/news;
Type=Service
X-KDE-ServiceTypes=AkonadiNepomukFeeder
X-KDE-Library=akonadi_nepomuk_email_feeder
X-KDE-ClassName=Akonadi::NepomukMailFeeder
Name=Nepomuk Mail Feeder
Name[bs]=Nepomuk dovod pošte
Name[ca]=Alimentador de correu del Nepomuk
Name[ca@valencia]=Alimentador de correu del Nepomuk
Name[cs]=Nepomuk podavač e-mailů
Name[da]=Nepomuk mail-feeder
Name[de]=E-Mail-Modul für Nepomuk
Name[el]=Τροφοδότης αλληλογραφίας του Nepomuk
Name[es]=Proveedor de correo de Nepomuk
Name[et]=Nepomuki e-kirjade söötur
Name[fi]=Nepomukin postisyötteistin
Name[fr]=Connecteur Nepomuk pour les courriers électroniques
Name[ga]=Fothaire Ríomhphoist Nepomuk
Name[gl]=Alimentador de correo de Nepomuk
Name[hu]=Nepomuk levélfeltöltő
Name[ia]=Syndication de posta de Nepomuk
Name[it]=Fornitore di messaggi di posta per Nepomuk
Name[kk]=Nepomuk пошта бергіші
Name[km]=កម្មវិធី​មតិ​ព័ត​មាន​​សំបុត្រ​របស់ Nepomuk
Name[ko]=Nepomuk 메일 공급자
Name[lt]=Nepomuk laiškų šaltinis
Name[lv]=Nepomuk pasta barotājs
Name[nb]=E-postsender for Nepomuk
Name[nds]=Nepomuk-Nettpostingaav
Name[nl]=Nepumuk e-mail-feeder
Name[pl]=Podajnik Poczty Nepomuk
Name[pt]=Alimentação do Correio para o Nepomuk
Name[pt_BR]=Alimentador de e-mails para o Nepomuk
Name[ru]=Добавление почты в Nepomuk
Name[sk]=Podávač pošty Nepomuk
Name[sl]=Podajalnik pošte za Nepomuk
Name[sr]=Непомуков уводник е‑поште
Name[sr@ijekavian]=Непомуков уводник е‑поште
Name[sr@ijekavianlatin]=Nepomukov uvodnik e‑pošte
Name[sr@latin]=Nepomukov uvodnik e‑pošte
Name[sv]=E-postinmatning till Nepomuk
Name[tr]=Nepomuk E-posta Besleyici
Name[uk]=Передавач пошти Nepomuk
Name[x-test]=xxNepomuk Mail Feederxx
Name[zh_CN]=Nepomuk 邮件采集器
Name[zh_TW]=Nepomuk Mail Feeder
