[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=NepomukFileExtractor
X-KDE-Library=nepomukffmpegextractor
Name=Nepomuk FFmpeg Extractor
Name[bs]=Nepomukov ekstraktor datoteka za datoteke FFmpeg
Name[ca]=Extractor FFmpeg del Nepomuk
Name[ca@valencia]=Extractor FFmpeg del Nepomuk
Name[cs]=Extraktor FFmpeg pro Nepomuk
Name[da]=Nepomuk FFmpeg-udtrækker
Name[de]=FFmpeg-Extraktion für Nepomuk
Name[el]=Εξαγωγέας FFmpeg Nepomuk
Name[es]=Extractor FFmpeg de Nepomuk
Name[et]=Nepomuki FFmpegi ekstraktimine
Name[fi]=Nepomukin FFmpeg-luku
Name[fr]=Extracteur « FFmpeg » de Nepomuk
Name[gl]=Extractor de FFmpeg de Nepomuk
Name[hu]=Nepomuk FFmpeg kibontó
Name[ia]=Nepomuk Extractor de FFmpeg
Name[it]=Estrattore FFmpeg di Nepomuk
Name[kk]=Nepomuk FFmpeg дерек шығарғышы
Name[km]=កម្មវិធី​ស្រង់​ Nepomuk FFmpeg
Name[ko]=Nepomuk FFmpeg 추출기
Name[lt]=Nepomuk FFmpeg išskleidimo programa
Name[mr]=नेपोमुक FFmpeg बाहेर काढणारा
Name[nb]=Nepomuk FFmpeg-uttrekker
Name[nl]=Nepomuk FFmpeg extraheerder
Name[pa]=ਨਿਪੋਮੁਕ FFmpeg ਐਕਸਟਰੈਕਟਰ
Name[pl]=Wydobywanie FFmpeg dla Nepomuk 
Name[pt]=Extracção do FFmpeg do Nepomuk
Name[pt_BR]=Extrator de FFmpeg do Nepomuk
Name[ro]=Extractor FFmpeg pentru Nepomuk
Name[ru]=Адаптер FFmpeg для Nepomuk
Name[sk]=Extraktor Nepomuk FFmpeg
Name[sl]=Program za izvleko FFmpeg za Nepomuk
Name[sr]=Непомуков издвајач ФФмпегом
Name[sr@ijekavian]=Непомуков издвајач ФФмпегом
Name[sr@ijekavianlatin]=Nepomukov izdvajač FFmpegom
Name[sr@latin]=Nepomukov izdvajač FFmpegom
Name[sv]=Nepomuk FFmpeg-extrahering
Name[tr]=Nepomuk FFmpeg Çıkartıcı
Name[ug]=Nepomuk FFmpeg يۈشكۈچ
Name[uk]=Видобувач даних Nepomuk на основі FFmpeg
Name[x-test]=xxNepomuk FFmpeg Extractorxx
Name[zh_CN]=Nepomuk FFmpeg 提取工具
Name[zh_TW]=Nepomuk FFmpeg 檔展開器
Comment=Nepomuk File extractor for Video files
Comment[bs]=Nepomukov ekstraktor datoteka za video datoteke
Comment[ca]=Extractor de fitxers del Nepomuk per fitxers de vídeo
Comment[ca@valencia]=Extractor de fitxers del Nepomuk per fitxers de vídeo
Comment[cs]=Extraktor souborů Nepomuku pro video soubory
Comment[da]=Nepomuk filudtrækker til videofiler
Comment[de]=Datei-Extraktion aus Videodateien für Nepomuk
Comment[el]=Εξαγωγέας αρχείων Nepomuk για αρχεία βίντεο
Comment[es]=Extractor de archivos de Nepomuk para archivos de vídeo
Comment[et]=Nepomuki failiekstraktimine videofailidele
Comment[fi]=Nepomukin videotiedostojen luku
Comment[fr]=Extracteur de fichiers Nepomuk pour les fichiers de vidéo
Comment[gl]=Extractor de ficheiros de vídeo de Nepomuk
Comment[hu]=Nepomuk fájl kibontó videofájlokhoz
Comment[ia]=Extractor de file de Nepomuk pro files de video
Comment[it]=Estrattore di Nepomuk per video
Comment[kk]=Видео файлдардан Nepomuk-қа дерек шығарғышы
Comment[km]=កម្មវិធី​ស្រង់​ឯកសារ Nepomuk សម្រាប់​ឯកសារ​វីដេអូ
Comment[ko]=동영상 파일을 위한 Nepomuk 파일 추출기
Comment[lt]=Nepomuk failų išskleidimo programa vaizdo failams
Comment[mr]=व्हिडीओ फाईल्स करिता नेपोमुक फाईल बाहेर काढणारा
Comment[nb]=Nepomuk filuttrekker for videofiler
Comment[nl]=Nepomuk extraheerder uit bestanden voor video
Comment[pa]=ਵਿਡੀਓ ਫਾਇਲਾਂ ਲਈ ਨਿਪੋਮੁਕ ਫਾਇਲ ਐਕਸਟਰੈਕਟਰ
Comment[pl]=Wydobywanie dla Nepomuk z plików filmów
Comment[pt]=Extracção de ficheiros do Nepomuk para ficheiros de vídeo
Comment[pt_BR]=Extrator do Nepomuk para arquivos de vídeo
Comment[ro]=Extractor de fișiere video pentru Nepomuk
Comment[ru]=Обработчик видеофайлов для Nepomuk
Comment[sk]=Súborový extraktor Nepomuk pre súbory videa
Comment[sl]=Program za izvleko video datotek za Nepomuk
Comment[sr]=Непомуков издвајач за видео фајлове
Comment[sr@ijekavian]=Непомуков издвајач за видео фајлове
Comment[sr@ijekavianlatin]=Nepomukov izdvajač za video fajlove
Comment[sr@latin]=Nepomukov izdvajač za video fajlove
Comment[sv]=Nepomuk filextrahering för videofiler
Comment[tr]=Video dosyaları için Nepomuk Dosya çıkartıcısı
Comment[ug]=سىن ھۆججەتلىرىنىڭ Nepomuk ھۆججەت يەشكۈچى
Comment[uk]=Видобувач даних Nepomuk для відеофайлів
Comment[x-test]=xxNepomuk File extractor for Video filesxx
Comment[zh_CN]=Nepomuk 视频文件提取工具
Comment[zh_TW]=Nepomuk 影片檔展開器
