[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=NepomukFileExtractor
X-KDE-Library=nepomuktaglibextractor
Name=Nepomuk TagLib Extractor
Name[bs]=Nepomukovo TagLib Ekstrator
Name[ca]=Extractor TagLib del Nepomuk
Name[ca@valencia]=Extractor TagLib del Nepomuk
Name[cs]=Extraktor TagLib pro Nepomuk
Name[da]=Nepomuk TagLib-udtrækker
Name[de]=TagLib-Extraktion für Nepomuk
Name[el]=Εξαγωγέας TagLib Nepomuk
Name[es]=Extractor TagLib de Nepomuk
Name[et]=Nepomuki TagLibi ekstraktimine
Name[fi]=Nepomukin TagLib-luku
Name[fr]=Extracteur « TagLib » de Nepomuk
Name[gl]=Extractor de Taglib do Nepomuk
Name[hu]=Nepomuk TagLib kibontó
Name[ia]=Nepomuk Extractor de TagLib
Name[it]=Estrattore TagLib di Nepomuk
Name[kk]=Nepomuk TagLib дерек шығарғышы
Name[km]=កម្មវិធី​ស្រង់ Nepomuk TagLib
Name[ko]=Nepomuk TagLib 추출기
Name[lt]=Nepomuk TagLib išskleidimo programa
Name[mr]=नेपोमुक TagLib बाहेर काढणारा
Name[nb]=Nepomuk TagLib-uttrekker
Name[nl]=Nepomuk Taglib extraheerder
Name[pa]=ਨਿਪੋਮੁਕ TagLib ਐਕਸਟਰੈਕਟਰ
Name[pl]=Wydobywanie TagLib dla Nepomuk 
Name[pt]=Extracção da TagLib do Nepomuk
Name[pt_BR]=Extrator de TagLib do Nepomuk
Name[ro]=Extractor TagLib pentru Nepomuk
Name[ru]=Адаптер TagLib для Nepomuk
Name[sk]=Extraktor Nepomuk TagLib
Name[sl]=Program za izvleko TagLib za Nepomuk
Name[sr]=Непомуков издвајач Таглибом
Name[sr@ijekavian]=Непомуков издвајач Таглибом
Name[sr@ijekavianlatin]=Nepomukov izdvajač TagLibom
Name[sr@latin]=Nepomukov izdvajač TagLibom
Name[sv]=Nepomuk TagLib-extrahering
Name[tr]=Nepomuk TagLib Çıkartıcı
Name[ug]=Nepomuk TagLib يەشكۈچ
Name[uk]=Видобувач даних Nepomuk на основі TagLib
Name[x-test]=xxNepomuk TagLib Extractorxx
Name[zh_CN]=Nepomuk TagLib 提取工具
Name[zh_TW]=Nepomuk TagLib 檔展開器
Comment=Nepomuk File extractor for Music Files
Comment[bs]=Nepomukov ekstraktor datoteka za muzičke datoteke
Comment[ca]=Extractor de fitxers del Nepomuk per fitxers de música
Comment[ca@valencia]=Extractor de fitxers del Nepomuk per fitxers de música
Comment[cs]=Extraktor souborů Nepomuku pro hudební soubory
Comment[da]=Nepomuk filudtrækker til musikfiler
Comment[de]=Datei-Extraktion aus Musikdateien für Nepomuk
Comment[el]=Εξαγωγέας αρχείων Nepomuk για μουσικά αρχεία
Comment[es]=Extractor de archivos de Nepomuk para archivos de música
Comment[et]=Nepomuki failiekstraktimine muusikafailidele
Comment[fi]=Nepomukin musiikkitiedostojen luku
Comment[fr]=Extracteur de fichiers Nepomuk pour les fichiers de musique
Comment[gl]=Extractor de ficheiros Music de Nepomuk
Comment[hu]=Nepomuk fájl kibontó zenefájlokhoz
Comment[ia]=Extractor de file de nepomuk pro files de music
Comment[it]=Estrattore di Nepomuk per file musicali
Comment[kk]=Музыка файлдардан Nepomuk-қа дерек шығарғышы
Comment[km]=កម្មវិធី​ស្រង់​ឯកសារ Nepomuk សម្រាប់​ឯកសារ​តន្ត្រី
Comment[ko]=음악 파일을 위한 Nepomuk 추출기
Comment[lt]=Nepomuk failų išskleidimo programa muzikos failams
Comment[mr]=संगीत फाईल्स करिता नेपोमुक फाईल बाहेर काढणारा
Comment[nb]=Nepomuk filuttrekker for musikkfiler
Comment[nl]=Nepomuk extraheerder uit muziekbestanden
Comment[pa]=ਸੰਗੀਤ ਫਾਇਲਾਂ ਲਈ ਨਿਪੋਮੁਕ ਫਾਇਲ ਐਕਸਟਰੈਕਟਰ
Comment[pl]=Wydobywanie dla Nepomuk z plików muzycznych
Comment[pt]=Extracção de ficheiros do Nepomuk para ficheiros de música
Comment[pt_BR]=Extrator do Nepomuk para arquivos de música
Comment[ro]=Extractor de fișiere muzicale pentru Nepomuk
Comment[ru]=Обработчик аудиофайлов для Nepomuk
Comment[sk]=Súborový extraktor Nepomuk pre súbory hudby
Comment[sl]=Program za izvleko glasbenih datotek za Nepomuk
Comment[sr]=Непомуков издвајач за музичке фајлове
Comment[sr@ijekavian]=Непомуков издвајач за музичке фајлове
Comment[sr@ijekavianlatin]=Nepomukov izdvajač za muzičke fajlove
Comment[sr@latin]=Nepomukov izdvajač za muzičke fajlove
Comment[sv]=Nepomuk filextrahering för musikfiler
Comment[tr]=Müzik Dosyaları için Nepomuk Dosya çıkartıcısı
Comment[ug]=نەغمە ھۆججەتلەرنىڭ Nepomuk ھۆججەت يەشكۈچى
Comment[uk]=Видобувач даних Nepomuk для звукових файлів
Comment[x-test]=xxNepomuk File extractor for Music Filesxx
Comment[zh_CN]=Nepomuk 音乐文件提取工具
Comment[zh_TW]=Nepomuk 音樂檔展開器
