[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=NepomukFileExtractor
X-KDE-Library=nepomukepubextractor
Name=Nepomuk EPub Extractor
Name[bs]=Nepomuk EPub ekstraktor
Name[ca]=Extractor EPub del Nepomuk
Name[ca@valencia]=Extractor EPub del Nepomuk
Name[cs]=Extraktor EPub pro Nepomuk
Name[da]=Nepomuk EPub-udtrækning
Name[de]=EPub-Extraktion für Nepomuk
Name[es]=Extractor EPub de Nepomuk
Name[fi]=Nepomukin EPub-luku
Name[fr]=Extracteur « Epub » de Nepomuk
Name[gl]=Extractor de EPub de Nepomuk
Name[hu]=Nepomuk EPub kibontó
Name[ia]=Nepomuk Extractor de EPub
Name[it]=Estrattore EPub di Nepomuk
Name[kk]=Nepomuk EPub дерек шығарғышы
Name[ko]=Nepomuk EPub 추출기
Name[nb]=Nepomuk EPub-uttrekker
Name[nl]=Nepomuk Epub extraheerder
Name[pt]=Extracção de EPub do Nepomuk
Name[pt_BR]=Extrator de EPub do Nepomuk
Name[ro]=Extractor EPub pentru Nepomuk
Name[ru]=Адаптер EPub для Nepomuk
Name[sk]=Nepomuk EPub Extraktor
Name[sl]=Program za izvleko EPub za Nepomuk
Name[sr]=Непомуков издвајач ЕПУБ‑а
Name[sr@ijekavian]=Непомуков издвајач ЕПУБ‑а
Name[sr@ijekavianlatin]=Nepomukov izdvajač EPUB‑a
Name[sr@latin]=Nepomukov izdvajač EPUB‑a
Name[sv]=Nepomuk EPub-extrahering
Name[tr]=Nepomuk EPub Çıkartıcı
Name[ug]=Nepomuk EPub يەشكۈچ
Name[uk]=Видобувач даних EPub для Nepomuk
Name[x-test]=xxNepomuk EPub Extractorxx
Name[zh_CN]=Nepomuk EPub 提取工具
Name[zh_TW]=Nepomuk EPub 展開器
Comment=Nepomuk File extractor for EPub Files
Comment[bs]=Nepomukov ekstraktor datoteka za EPub datoteke
Comment[ca]=Extractor de fitxers del Nepomuk per fitxers EPub
Comment[ca@valencia]=Extractor de fitxers del Nepomuk per fitxers EPub
Comment[cs]=Extraktor souborů Nepomuku pro soubory EPub
Comment[da]=Nepomuk filudtrækker til EPub-filer
Comment[de]=Datei-Extraktion aus EPub-Dateien für Nepomuk
Comment[es]=Extractor de archivos de Nepomuk para archivos EPub
Comment[fi]=Nepomukin EPub-tiedostojen luku
Comment[fr]=Extracteur de fichiers Nepomuk pour les fichiers EPub
Comment[gl]=Extractor de ficheiros EPub de Nepomuk
Comment[hu]=Nepomuk fájl kibontó EPub fájlokhoz
Comment[ia]=Extractor de file de Nepomuk pro files ePub
Comment[it]=Estrattore di Nepomuk per file EPub
Comment[kk]=EPub файлдардан Nepomuk-қа дерек шығарғышы
Comment[ko]=EPub 파일을 위한 Nepomuk 추출기
Comment[nb]=Nepomuk filuttrekker for EPub-filer
Comment[nl]=Nepomuk bestandenextraheerder voor EPub-bestanden
Comment[pt]=Extracção de ficheiros do Nepomuk para ficheiros EPub
Comment[pt_BR]=Extrator do Nepomuk para arquivos EPub
Comment[ro]=Extractor de fișiere EPub pentru Nepomuk
Comment[ru]=Обработчик файлов Epub для Nepomuk
Comment[sk]=Súborový extraktor Nepomuk pre súbory EPub
Comment[sl]=Program za izvleko datotek EPub za Nepomuk
Comment[sr]=Непомуков издвајач за ЕПУБ фајлове
Comment[sr@ijekavian]=Непомуков издвајач за ЕПУБ фајлове
Comment[sr@ijekavianlatin]=Nepomukov izdvajač za EPUB fajlove
Comment[sr@latin]=Nepomukov izdvajač za EPUB fajlove
Comment[sv]=Nepomuk filextrahering för EPub-filer
Comment[tr]=EPub Dosyaları için Nepomuk Dosya çıkartıcısı
Comment[ug]=EPub ھۆججەتلەرنىڭ Nepomuk ھۆججەت يەشكۈچى
Comment[uk]=Видобувач даних Nepomuk для файлів EPub
Comment[x-test]=xxNepomuk File extractor for EPub Filesxx
Comment[zh_CN]=Nepomuk EPub 文件提取工具
Comment[zh_TW]=EPub 檔的 Nepomuk 檔案展開器
