[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=NepomukFileExtractor
X-KDE-Library=nepomukplaintextextractor
Name=Nepomuk Plain Text Extractor
Name[bs]=Nepomukov ekstraktor datoteka za obični tekst
Name[ca]=Extractor de text del Nepomuk
Name[ca@valencia]=Extractor de text del Nepomuk
Name[cs]=Extraktor čistého textu pro Nepomuk
Name[da]=Nepomuk klartekst-udtrækker
Name[de]=Text-Extraktion für Nepomuk
Name[el]=Απλός εξαγωγέας κειμένου Nepomuk
Name[es]=Extractor de texto sin formato de Nepomuk
Name[et]=Nepomuki lihtteksti ekstraktimine
Name[fi]=Nepomukin muotoilemattoman tekstin luku
Name[fr]=Extracteur de texte en clair de Nepomuk
Name[gl]=Extractor de texto simple do Nepomuk
Name[hu]=Nepomuk egyszerű szöveg kibontó
Name[ia]=Nepomuk Extractor de texto plan
Name[it]=Estrattore di testo semplice di Nepomuk
Name[kk]=Nepomuk кәдімгі мәтін дерек шығарғышы
Name[km]=កម្មវិធី​ស្រង់​អត្ថបទ​ធម្មតា Nepomuk
Name[ko]=Nepomuk 텍스트 추출기
Name[lt]=Nepomuk paprastojo teksto išskleidimo programa
Name[mr]=नेपोमुक सरळ पाठ्य बाहेर काढणारा
Name[nb]=Nepomuk filuttrekker for ren tekst
Name[nl]=Nepomuk extraheerder uit bestanden met platte tekst
Name[pa]=ਨਿਪੋਮੁਕ ਪਲੇਨ-ਟੈਕਸਟ ਐਕਸਟਰੈਕਟਰ
Name[pl]=Wydobywanie dla Nepomuk zwykłego tekstu
Name[pt]=Extracção de Texto Simples do Nepomuk
Name[pt_BR]=Extrator de texto simples do Nepomuk
Name[ro]=Extractor de text simplu pentru Nepomuk
Name[ru]=Обработчик простого текста для Nepomuk
Name[sk]=Extraktor Nepomuk čistého textu
Name[sl]=Program za izvleko navadnega besedila za Nepomuk
Name[sr]=Непомуков издвајач обичног текста
Name[sr@ijekavian]=Непомуков издвајач обичног текста
Name[sr@ijekavianlatin]=Nepomukov izdvajač običnog teksta
Name[sr@latin]=Nepomukov izdvajač običnog teksta
Name[sv]=Nepomuk extrahering av vanlig text
Name[tr]=Nepomuk Düz Metin Çıkartıcı
Name[ug]=Nepomuk ساپ تېكىست يەشكۈچ
Name[uk]=Видобувач текстових даних Nepomuk
Name[x-test]=xxNepomuk Plain Text Extractorxx
Name[zh_CN]=Nepomuk 纯文本提取工具
Name[zh_TW]=Nepomuk 純文字檔展開器
Comment=Nepomuk File extractor for text files
Comment[bs]=Nepomukov ekstraktor datoteka za tekstualne datoteke
Comment[ca]=Extractor de fitxers del Nepomuk per fitxers de text
Comment[ca@valencia]=Extractor de fitxers del Nepomuk per fitxers de text
Comment[cs]=Extraktor souborů Nepomuku pro textové soubory
Comment[da]=Nepomuk filudtrækker til tekstfiler
Comment[de]=Datei-Extraktion aus Textdateien für Nepomuk
Comment[el]=Εξαγωγέας αρχείων Nepomuk για αρχεία κειμένου
Comment[es]=Extractor de archivos de Nepomuk para archivos de texto
Comment[et]=Nepomuki failiekstraktimine tekstifailidele
Comment[fi]=Nepomukin tekstitiedostojen luku
Comment[fr]=Extracteur de fichiers Nepomuk pour les fichiers de texte
Comment[gl]=Extractor de ficheiros de texto de Nepomuk
Comment[hu]=Nepomuk fájl kibontó szöveges fájlokhoz
Comment[ia]=Extractor de file de Nepomuk pro files de texto
Comment[it]=Estrattore di Nepomuk per file di testo
Comment[kk]=Мәтін файлдардан Nepomuk-қа дерек шығарғышы
Comment[km]=កម្មវិធី​ស្រង់​ឯកសារ Nepomuk សម្រាប់​ឯកសារ​​អត្ថបទ
Comment[ko]=텍스트 파일을 위한 Nepomuk 추출기
Comment[lt]=Nepomuk failų išskleidimo programa tekstiniams failams
Comment[mr]=पाठ्य फाईल्स करिता नेपोमुक फाईल बाहेर काढणारा
Comment[nb]=Nepomuk filuttrekker for tekstfiler
Comment[nl]=Nepomuk extraheerder uit bestanden met tekst
Comment[pa]=ਟੈਕਸਟ ਫਾਇਲਾਂ ਲਈ ਨਿਪੋਮੁਕ ਫਾਇਲ ਐਕਸਟਰੈਕਟਰ
Comment[pl]=Wydobywanie dla Nepomuk z plików tekstowych
Comment[pt]=Extracção de ficheiros do Nepomuk para ficheiros de texto
Comment[pt_BR]=Extrator do Nepomuk para arquivos de texto
Comment[ro]=Extractor de fișiere textuale pentru Nepomuk
Comment[ru]=Обработчик простых текстовых файлов для Nepomuk
Comment[sk]=Súborový extraktor Nepomuk pre súbory textu
Comment[sl]=Program za izvleko besedilnih datotek za Nepomuk
Comment[sr]=Непомуков издвајач за текстуалне фајлове
Comment[sr@ijekavian]=Непомуков издвајач за текстуалне фајлове
Comment[sr@ijekavianlatin]=Nepomukov izdvajač za tekstualne fajlove
Comment[sr@latin]=Nepomukov izdvajač za tekstualne fajlove
Comment[sv]=Nepomuk filextrahering för textfiler
Comment[tr]=Metin dosyaları için Nepomuk Dosya çıkartıcısı
Comment[ug]=تېكىست ھۆججەتنىڭ Nepomuk ھۆججەت يەشكۈچى
Comment[uk]=Видобувач даних Nepomuk для текстових файлів
Comment[x-test]=xxNepomuk File extractor for text filesxx
Comment[zh_CN]=Nepomuk 文本文件提取工具
Comment[zh_TW]=Nepomuk 文字檔展開器
