[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=NepomukFileExtractor
X-KDE-Library=nepomukoffice2007extractor
Name=Nepomuk Office2007 Extractor
Name[bs]=Nepomukov ekstraktor datoteka Office2007
Name[ca]=Extractor d'Office2007 del Nepomuk
Name[ca@valencia]=Extractor d'Office2007 del Nepomuk
Name[cs]=Extraktor Office 2007 pro Nepomuk
Name[da]=Nepomuk Office2007-udtrækker
Name[de]=Office2007-Extraktion für Nepomuk
Name[es]=Extractor Office2007 de Nepomuk
Name[fi]=Nepomukin Office2007-tiedostojen luku
Name[fr]=Extracteur Nepomuk pour Office2007
Name[gl]=Extractor de ficheiros Office2007 de Nepomuk
Name[hu]=Nepomuk Office2007 kibontó
Name[ia]=Nepomuk Extractor  pro Office2007
Name[it]=Estrattore Office2007 di Nepomuk
Name[kk]=Nepomuk Office2007 дерек шығарғышы
Name[ko]=Nepomuk Office 2007 추출기
Name[nb]=Nepomuk Office2007-uttrekker
Name[nl]=Nepomuk extraheerder uit Office2007
Name[pl]=Wydobywanie z Office2007 dla Nepomuka
Name[pt]=Extracção de Ficheiros do Office2007
Name[pt_BR]=Extrator de Office 2007 do Nepomuk
Name[ro]=Extractor Office2007 pentru Nepomuk
Name[ru]=Адаптер Office2007 для Nepomuk
Name[sk]=Extraktor Nepomuk Office2007
Name[sl]=Program za izvleko Office2007 za Nepomuk
Name[sr]=Непомуков издвајач из МС Офиса 2007
Name[sr@ijekavian]=Непомуков издвајач из МС Офиса 2007
Name[sr@ijekavianlatin]=Nepomukov izdvajač iz MS Officea 2007
Name[sr@latin]=Nepomukov izdvajač iz MS Officea 2007
Name[sv]=Nepomuk Office 2007-extrahering
Name[tr]=Nepomuk Office2007 Çıkartıcı
Name[ug]=Nepomuk Office2007 يەشكۈچ
Name[uk]=Видобувач даних файлів Office 2007 для Nepomuk
Name[x-test]=xxNepomuk Office2007 Extractorxx
Name[zh_CN]=Nepomuk Office 2007 提取工具
Name[zh_TW]=Nepomuk Office2007 展開器
Comment=Nepomuk File extractor for Office2007 files
Comment[bs]=Nepomukov ekstraktor datoteka za Office2007 datoteke
Comment[ca]=Extractor de fitxers del Nepomuk per fitxers Office2007
Comment[ca@valencia]=Extractor de fitxers del Nepomuk per fitxers Office2007
Comment[cs]=Extraktor souborů Nepomuku pro soubory Office2007
Comment[da]=Nepomuk filudtrækker til Office2007-filer
Comment[de]=Datei-Extraktion aus Office2007-Dateien für Nepomuk
Comment[es]=Extractor de archivos de Nepomuk para archivos de Office2007
Comment[fi]=Nepomukin Office2007-tiedostojen luku
Comment[fr]=Extracteur de fichiers Nepomuk pour les fichiers Office2007
Comment[gl]=Extractor de ficheiros de Office 2007 de Nepomuk
Comment[hu]=Nepomuk fájl kibontó Office2007 fájlokhoz
Comment[ia]=Extractor de file de Nepomuk pro files de Office2007
Comment[it]=Estrattore di Nepomuk per file Office2007
Comment[kk]=Office2007 файлдардан Nepomuk-қа дерек шығарғышы
Comment[ko]=Office 2007 파일을 위한 Nepomuk 파일 추출기
Comment[nb]=Nepomuk filuttrekker for Office2007-filer
Comment[nl]=Nepomuk extraheerder uit bestanden voor Office2007
Comment[pl]=Wydobywanie dla Nepomuka z plików Office2007
Comment[pt]=Extracção de ficheiros do Nepomuk para ficheiros do Office 2007
Comment[pt_BR]=Extrator do Nepomuk para arquivos do Office 2007
Comment[ro]=Extractor de fișiere Office2007 pentru Nepomuk
Comment[ru]=Обработчик файлов Office2007 для Nepomuk
Comment[sk]=Súborový extraktor Nepomuk pre súbory Office2007
Comment[sl]=Program za izvleko datotek Office2007 za Nepomuk
Comment[sr]=Непомуков издвајач за фајлове МС Офиса 2007
Comment[sr@ijekavian]=Непомуков издвајач за фајлове МС Офиса 2007
Comment[sr@ijekavianlatin]=Nepomukov izdvajač za fajlove MS Officea 2007
Comment[sr@latin]=Nepomukov izdvajač za fajlove MS Officea 2007
Comment[sv]=Nepomuk filextrahering för Office 2007-filer
Comment[tr]=Office2007 dosyaları için Nepomuk Dosya çıkartıcısı
Comment[ug]=Office2007 ھۆججەتلىرىنىڭ Nepomuk ھۆججەت يەشكۈچى
Comment[uk]=Видобувач даних Nepomuk для файлів Office 2007
Comment[x-test]=xxNepomuk File extractor for Office2007 filesxx
Comment[zh_CN]=Nepomuk Office 2007 文件提取工具
Comment[zh_TW]=Nepomuk Office2007 檔展開器
