[Desktop Entry]
Exec=kcmshell4 netpref
Icon=preferences-system-network-connection
Type=Service
X-KDE-ServiceTypes=KCModule
X-DocPath=kcontrol/netpref/index.html

X-KDE-Library=kcm_kio
X-KDE-PluginKeyword=netpref
X-KDE-ParentApp=kcontrol

X-KDE-System-Settings-Parent-Category=network-settings
X-KDE-Weight=60

Name=Connection Preferences
Name[af]=Koppeling Voorkeure
Name[ar]=تفضيلات الإتصال
Name[as]=সংযোগৰ পছন্দ
Name[ast]=Preferencies de conexón
Name[be]=Настаўленні злучэння
Name[be@latin]=Ułasnyja nałady spałučeńnia
Name[bg]=Настройки на връзката
Name[bn]=যোগাযোগ পছন্দসমূহ
Name[bn_IN]=সংযোগ সংক্রান্ত পছন্দসই মান
Name[br]=Kefluniadur ar gevreadenn
Name[bs]=Postavke povezivanja
Name[ca]=Preferències de connexió
Name[ca@valencia]=Preferències de connexió
Name[cs]=Nastavení připojení
Name[csb]=Kònfigùracëjô sparłãczeniów
Name[da]=Forbindelsesindstillinger
Name[de]=Verbindungseinstellungen
Name[el]=Προτιμήσεις σύνδεσης
Name[en_GB]=Connection Preferences
Name[eo]=Agordo de konekto
Name[es]=Preferencias de conexión
Name[et]=Ühenduse seadistused
Name[eu]=Konexioaren hobespenak
Name[fa]=تنظیمات اتصال
Name[fi]=Yhteysasetukset
Name[fr]=Préférences de connexion
Name[fy]=Ferbiningfoarkar
Name[ga]=Sainroghanna Ceangail
Name[gl]=Preferencias da conexión
Name[gu]=જોડાણ પ્રાથમિકતાઓ
Name[he]=העדפות התחברות
Name[hi]=कनेक्शन प्राथमिकताएँ
Name[hne]=कनेक्सन प्राथमिकता
Name[hr]=Postavke povezivanja
Name[hsb]=Preferency za zwisk
Name[hu]=Hálózati paraméterek
Name[ia]=Preferentias de connexion
Name[id]=Pengaturan Koneksi
Name[is]=Stillingar tenginga
Name[it]=Preferenze delle connessioni
Name[ja]=接続設定
Name[ka]=კავშირის თვისებები
Name[kk]=Қосылым параметрлері
Name[km]=ចំណូល​ចិត្ត​ការ​តភ្ជាប់
Name[kn]=ಸಂಪರ್ಕ ಐಚ್ಛಿಕಗಳು (ಪ್ರಿಫರೆನ್ಸ್)
Name[ko]=연결 설정
Name[ku]=Vebijêrkên Girêdanê
Name[lt]=Prisijungimo pasirinkimai
Name[lv]=Savienojumu parametri
Name[mai]=कनेक्शन प्राथमिकतासभ
Name[mk]=Параметри на поврзувањето
Name[ml]=കണക്ഷന്‍ മുന്‍ഗണനകള്‍
Name[mr]=प्राधान्यता जुळवणी
Name[ms]=Keutamaan Sambungan
Name[nb]=Forbindelsesinnstillinger
Name[nds]=Instellen för de Verbinnen
Name[ne]=जडान प्राथमिकता
Name[nl]=Verbindingsvoorkeuren
Name[nn]=Innstillingar for samband
Name[or]=ସଂଯୋଗ ପସନ୍ଦ
Name[pa]=ਕੁਨੈਕਸ਼ਨ ਪਸੰਦ
Name[pl]=Konfiguracja połączeń
Name[pt]=Preferências da Ligação
Name[pt_BR]=Preferências da conexão
Name[ro]=Preferințe conexiune
Name[ru]=Параметры сети
Name[se]=Oktavuohta oidimat
Name[si]=සම්බන්ධතා අභිමතයන්
Name[sk]=Predvoľby pripojenia
Name[sl]=Možnosti povezave
Name[sr]=Поставке повезивања
Name[sr@ijekavian]=Поставке повезивања
Name[sr@ijekavianlatin]=Postavke povezivanja
Name[sr@latin]=Postavke povezivanja
Name[sv]=Anslutningsinställningar
Name[ta]=இணைப்பு முன்னுரிமைகள்
Name[te]=అనుసంధానం అభీష్టాలు
Name[tg]=Танзимоти пайвастшавӣ
Name[th]=ตั้งค่าสำหรับการเชื่อมต่อ
Name[tr]=Bağlantı Tercihleri
Name[ug]=باغلىنىش مايىللىقى
Name[uk]=Параметри з'єднання
Name[uz]=Aloqa parametrlari
Name[uz@cyrillic]=Алоқа параметрлари
Name[vi]=Tùy thích kết nối
Name[wa]=Preferinces di raloyaedje
Name[x-test]=xxConnection Preferencesxx
Name[zh_CN]=连接首选项
Name[zh_TW]=連線偏好設定

Comment=Configure generic network preferences, like timeout values
Comment[af]=Konfigureer generies netwerk voorkeure, hou van tydverstreke waardes
Comment[ar]=اضبط تفضيلات الشبكة العامة، مثل قيم مهلة الانتظار
Comment[ast]=Configuración de les preferencies xenériques de rede, como los tiempos d'espera llímite
Comment[be]=Настаўленні агульных уласцівасцяў сеткі, напр., тэрмінаў чакання
Comment[be@latin]=Hałoŭnyja sietkavyja nałady, naprykład, terminy čakańnia vynikaŭ ad aperacyjaŭ.
Comment[bg]=Настройване на общите мрежови параметри
Comment[bn]=বিবিধ নেটওয়ার্ক সেটিংস কনফিগারেশন, যথা টাইম-আউট মানসমূহ
Comment[bn_IN]=নেটওয়ার্ক সংক্রান্ত সাধান মান, যেমন সময়সীমা, কনফিগার করুন
Comment[bs]=Podešavanje generičkih parametara mreže, npr. prekovremenâ
Comment[ca]=Configuració de les preferències genèriques de la xarxa, com ara els valors per als temps d'expiració
Comment[ca@valencia]=Configuració de les preferències genèriques de la xarxa, com ara els valors per als temps d'expiració
Comment[cs]=Nastavení obecných parametrů sítě, např. časových limitů
Comment[csb]=Kònfigùracëjô sécowëch nastôwów jakno np. limitu czasu
Comment[cy]=Ffurfweddu dewisiadau rhwydwaith generig, fel gwerthoedd goramser
Comment[da]=Generelle netværksindstillinger såsom værdier for tidsudløb
Comment[de]=Allgemeine Netzwerkeinstellungen vornehmen, wie z. B. Werte für Zeitüberschreitungen
Comment[el]=Διαμόρφωση γενικών προτιμήσεων δικτύου, όπως τιμές χρονικών ορίων
Comment[en_GB]=Configure generic network preferences, like timeout values
Comment[eo]=Agordi la ĝeneralajn retopciojn, kiel tempolimojn ktp.
Comment[es]=Configuración de las preferencias genéricas de red, como los valores de tiempo de espera
Comment[et]=Üldised võrguseadistused
Comment[eu]=Konfiguratu sarearen hobespen orokorrak (denbora-mugen balioak, besteak beste)
Comment[fa]=پیکربندی تنظیمات شبکه محلی، مانند مقادیر اتمام‌ وقت
Comment[fi]=Yleiset verkkoasetukset
Comment[fr]=Configuration générique du réseau comme, par exemple, les valeurs des délais d'attente
Comment[fy]=ynstelle fan algemiene netwurkfoarkar, sa as tiidslimytwearden
Comment[ga]=Cumraigh sainroghanna ginearálta líonra, mar shampla teorainneacha ama
Comment[gl]=Configurar as preferencias xenéricas de rede, como os tempos límite
Comment[gu]=નેટવર્ક પ્રાથમિકતાઓ., જેવીકે સમયસમાપ્તિ કિંમતો રૂપરેખાંકિત કરો
Comment[he]=הגדרת העדפות רשת כלליות, כגון ערכי timeout
Comment[hi]=जेनेरिक नेटवर्क प्राथमिकताएँ, जैसे टाइम-आउट मूल्य- कॉन्फ़िगर करें
Comment[hne]=जेनेरिक नेटवर्क प्राथमिकता, जइसन कि टाइम-आउट मूल्य - कान्फिगर करव
Comment[hr]=Konfiguriranje generičkih mrežnih vrijednosti, poput vremena prekoračenja
Comment[hsb]=Powšitkowne syćowe preferency kaž časowe mjezy připrawić
Comment[hu]=A hálózati paraméterek, például a várakozási idők beállítása
Comment[ia]=Configura le preferentia de rete generic, como valores pro expirationes de tempore
Comment[id]=Atur pengaturan jaringan generik, seperti nilai waktu habis
Comment[is]=Tilgreina almennar netstillingar eins og hámarkstíma o.þ.h
Comment[it]=Configura le preferenze di rete generiche, come i tempi di scadenza
Comment[ja]=タイムアウト値などの一般的なネットワーク設定
Comment[ka]=ქსელის ზოგადი პარამეტრები, ისეთი როგორიცაა ტაიმაუტი
Comment[kk]=Күту уақыты секілді желінің негізгі параметрлерін баптау
Comment[km]=កំណត់​រចនាសម្ព័ន្ធ​​ចំណូល​ចិត្ត​បណ្ដាញ​ទូទៅ ដូចជា​តម្លៃ​អស់​ពេល​ជា​ដើម
Comment[kn]=ಸಮಯೋಲ್ಲಂಘನ ಮೌಲ್ಯದಂತಹ (ಟೈಮ್ ಔಟ್) ಅಲಿಪ್ತ (ಜೆನೆರಿಕ್) ಜಾಲ ಐಚ್ಛಿಕಗಳನ್ನು (ಪ್ರಿಫರೆನ್ಸ್) ಸಂರಚಿಸು
Comment[ko]=제한 시간 값 같이 일반 네트워크에서 기본이 되는 값 설정하기
Comment[ku]=Vebijêrkên torê generîk ên wekî nirxên demajoyê veava bike
Comment[lt]=Konfigūruoti bendrus tinklo pasirinkimus, tokius, kaip laiko limitai
Comment[lv]=Konfigurē pamata tīkla iestatījumus, piem., noildzes vērtības
Comment[mai]=जेनेरिक नेटवर्क प्राथमिकतासभ, जहिना टाइम-आउट मूल्यसभ केँ- बिन्यस्त करू
Comment[mk]=Конфигурирајте ги општите мрежни параметри, како тајмаут вредности
Comment[ml]=എത്ര സമയം കാത്തുനില്‍ക്കണം എന്നതുപോലുള്ള പൊതുവായുള്ള ശൃംഖലയുമായി ബന്ധപ്പെട്ട മുന്‍ഗണനകള്‍ ക്രമീകരിയ്ക്കുക
Comment[mr]=जेनेरिक संजाळ प्राधान्यता, जसे की टाइम-आउट मूल्य संयोजीत करा
Comment[ms]=Konfigur keutamaan rangkaian generik, seperti nilai waktu rehat
Comment[nb]=Sett opp generelle nettverksinnstillinger. F.eks. verdier for tidsavbrudd
Comment[nds]=Standard-Nettwarkinstellen, as t.B. Tietgrenzen
Comment[ne]=समय समाप्ति मान जस्तै जेनेरिक सञ्जाल प्राथमिकता कन्फिगर गर्नुहोस्
Comment[nl]=Instellen van algemene netwerkvoorkeuren, zoals tijdslimietwaarden
Comment[nn]=Oppsett av generelle nettverksinnstillingar, som for eksempel tidsgrenser
Comment[or]=ବର୍ଗୀୟ ନେଟୱର୍କ ପସନ୍ଦଗୁଡ଼ିକୁ ବିନ୍ୟାସ କରନ୍ତୁ, ସମୟ ସମାପ୍ତ ମୂଲ୍ୟଗୁଡ଼ିକ ପରି
Comment[pa]=ਨੈੱਟਵਰਕ ਪਸੰਦ ਸੰਰਚਨਾ, ਜਿਵੇਂ ਟਾਈਮ-ਆਉਟ ਮੁੱਲ
Comment[pl]=Konfiguracja niskopoziomowych ustawień sieciowych np. limitu czasu
Comment[pt]=Configuração das opções gerais da rede, p.ex. tempos-limite
Comment[pt_BR]=Configura as preferências gerais da rede, tais como os valores de tempo de espera
Comment[ro]=Configurează opțiuni de rețea precum valorile temporizărilor
Comment[ru]=Общие параметры сети, такие как значения времени ожидания
Comment[se]=Oppalaš fierbmeoidimat, nugo áigemearit
Comment[si]=සාමාන්‍ය ජාල රුචි සකසන්න, කල් ඉකුත්වීමේ අගයන් වැනි
Comment[sk]=Nastavenie všeobecných parametrov siete, napr. hodnoty časových limitov
Comment[sl]=Nastavitve splošnih možnosti omrežja, kot na primer vrednosti časovnih omejitev
Comment[sr]=Подешавање генеричких параметара мреже, нпр. прековременâ
Comment[sr@ijekavian]=Подешавање генеричких параметара мреже, нпр. прековременâ
Comment[sr@ijekavianlatin]=Podešavanje generičkih parametara mreže, npr. prekovremenâ
Comment[sr@latin]=Podešavanje generičkih parametara mreže, npr. prekovremenâ
Comment[sv]=Anpassa allmänna nätverksinställningar, som tidsgränser
Comment[ta]=காலவதி மதிப்பு போன்ற பொதுவான பிணைய முன்னுரிமைகளை வடிவமை
Comment[te]=కాలముగింపు విలువల వంటి, సాదారణ నెట్వర్‍క్  అభీష్టాలను ఆకృతీకరించుము
Comment[tg]=Танзимоти хусусиятҳои шабака, монанди вақти фаъол
Comment[th]=ปรับแต่งค่าระบบเครือข่ายทั่วไป เช่น ค่าหมดเวลา เป็นต้น
Comment[tr]=Zaman aşımı değerleri gibi genel ağ tercihlerini yapılandır
Comment[ug]=ئادەتتىكى تور مايىللىق سەپلىمىسى، مۆھلەت قىممىتىگە ئوخشاش
Comment[uk]=Налаштування загальних параметрів мережі, зокрема значень тайм-аутів
Comment[uz]=Taymaut qiymatiga oʻxshagan tarmoq parametrlarni moslash
Comment[uz@cyrillic]=Таймаут қийматига ўхшаган тармоқ параметрларни мослаш
Comment[vi]=Cấu hình tùy thích mạng giống loài, như giá trị thời hạn
Comment[wa]=Apontyî les preferinces rantoele djenerikes, come les tins d' tårdjaedje
Comment[xh]=Qwalasela iinketho zomsebenzi womnatha ka wonke-wonke, njengamaxabiso ophelelo lwexesha
Comment[x-test]=xxConfigure generic network preferences, like timeout valuesxx
Comment[zh_CN]=配置通用网络首选项，例如超时值
Comment[zh_TW]=設定一般網路喜好設定，例如逾時值

X-KDE-Keywords=timeout,iopref,netpref,network preferences,ftp
X-KDE-Keywords[bg]=изчакване,мрежови настройки,timeout,iopref,netpref,network preferences,ftp
X-KDE-Keywords[bs]=timeout,iopref,netpref,network preferences,ftp
X-KDE-Keywords[ca]=temps d'espera,iopref,netpref,preferències de xarxa,ftp
X-KDE-Keywords[ca@valencia]=temps d'espera,iopref,netpref,preferències de xarxa,ftp
X-KDE-Keywords[da]=tidsudløb,timeout,iopref,netpref,netværksindstillinger,ftp
X-KDE-Keywords[de]=Zeitlimit,Zeitüberschreitung,Netzwerkeinstellungen,Ein-/Ausgabemodul-Einstellungen,FTP
X-KDE-Keywords[el]=χρονικά όρια,iopref,netpref,προτιμήσεις δικτύου,ftp
X-KDE-Keywords[es]=tiempo de espera,iopref,netpref,preferencias de red,ftp
X-KDE-Keywords[et]=aegumine,iopref,netpref,võrk,eelistused,ftp
X-KDE-Keywords[fi]=aikakatkaisu,iopref,netpref,verkkoasetukset,ftp
X-KDE-Keywords[fr]=délai dépassé, iopref, netpref, paramètres réseau, ftp
X-KDE-Keywords[ga]=timeout,iopref,netpref,sainroghanna líonra,ftp
X-KDE-Keywords[gl]=tempo límite,iopref,netpref,rede,preferencias,ftp
X-KDE-Keywords[hu]=időtúllépés,iopref,netpref,hálózati beállítások,ftp
X-KDE-Keywords[ia]=expiration,iopref,prefderete,rete,preferentias,ftp
X-KDE-Keywords[it]=scadenza,iopref,netpref,preferenze di rete,ftp
X-KDE-Keywords[kk]=timeout,iopref,netpref,network preferences,ftp
X-KDE-Keywords[km]=អស់​ពេល iopref netpref ចំណូលចិត្ត​បណ្ដាញ ftp
X-KDE-Keywords[ko]=timeout,iopref,netpref,network preferences,ftp,시간,시간 초과,네트워크 설정
X-KDE-Keywords[lt]=skirtasis laikas,ionust,tinklonust,tinklo nustatymai,ftp
X-KDE-Keywords[lv]=noildze,io iestat,tīkla iestat,tīkla iestatījumi,ftp
X-KDE-Keywords[nb]=tidsavbrudd,iopref,netpref,nettverksoppsett,ftp
X-KDE-Keywords[nds]=Tietgrenz,In- un Utgaav-Instellen,Nettwarkinstellen,Nettwark,Instellen,FTP
X-KDE-Keywords[nl]=timeout,iopref,netpref,netwerk voorkeuren,ftp
X-KDE-Keywords[pl]=czas oczekiwania,iopref,netpref,ustawienia sieci,ftp
X-KDE-Keywords[pt]=tempo-limite,iopref,netpref,preferências de rede,ftp
X-KDE-Keywords[pt_BR]=tempo-limite,iopref,netpref,preferências de rede,ftp
X-KDE-Keywords[ro]=limită de timp,expirare,iopref,netpref,preferințe rețea,ftp
X-KDE-Keywords[ru]=timeout,iopref,netpref,network preferences,ftp,задержка,время ожидания,таймаут,параметры сети
X-KDE-Keywords[sk]=timeout,iopref,netpref,sieťové nastavenia,ftp
X-KDE-Keywords[sl]=časovna omejitev,iopref,netpref,možnosti omrežja,ftp
X-KDE-Keywords[sr]=timeout,iopref,netpref,network preferences,ftp,прековреме,мрежне поставке,ФТП
X-KDE-Keywords[sr@ijekavian]=timeout,iopref,netpref,network preferences,ftp,прековреме,мрежне поставке,ФТП
X-KDE-Keywords[sr@ijekavianlatin]=timeout,iopref,netpref,network preferences,ftp,prekovreme,mrežne postavke,FTP
X-KDE-Keywords[sr@latin]=timeout,iopref,netpref,network preferences,ftp,prekovreme,mrežne postavke,FTP
X-KDE-Keywords[sv]=tidsgräns,iopref,netpref,nätverk,inställningar,ftp
X-KDE-Keywords[tr]=zamanaşımı,girdi çıktı tercihleri,ağ tercihleri,ağ ayarları,ftp
X-KDE-Keywords[uk]=timeout,iopref,netpref,network preferences,ftp,очікування,тайм-аут,мережа,параметри,налаштування
X-KDE-Keywords[wa]=astådje,iopref,netpref,preferinces del rantoele,ftp
X-KDE-Keywords[x-test]=xxtimeout,iopref,netpref,network preferences,ftpxx
X-KDE-Keywords[zh_CN]=timeout,iopref,netpref,network preferences,ftp,超时,网络首选项
X-KDE-Keywords[zh_TW]=timeout,iopref,netpref,network preferences,ftp
