[Desktop Entry]
Name=Digital Clock
Name[af]=Digitale horlosie
Name[ar]=ساعة رقمية
Name[ast]=Reló dixital
Name[be]=Лічбавы гадзіннік
Name[be@latin]=Ličbavy hadzińnik
Name[bg]=Цифров часовник
Name[bn]=ডিজিটাল ঘড়ি
Name[bn_IN]=ডিজিট্যাল ঘড়ি
Name[bs]=digitalni sat
Name[ca]=Rellotge digital
Name[ca@valencia]=Rellotge digital
Name[cs]=Digitální hodiny
Name[csb]=Cyfrowi zédżer
Name[da]=Digitalt ur
Name[de]=Digitale Uhr
Name[el]=Ψηφιακό ρολόι
Name[en_GB]=Digital Clock
Name[eo]=Cifereca horloĝo
Name[es]=Reloj digital
Name[et]=Digikell
Name[eu]=Erloju digitala
Name[fi]=Digitaalinen kello
Name[fr]=Horloge numérique
Name[fy]=Digitale klok
Name[ga]=Clog Digiteach
Name[gl]=Reloxo dixital
Name[gu]=ડિજીટલ ઘડિયાળ
Name[he]=שעון דיגיטלי
Name[hi]=डिजिटल घड़ी
Name[hne]=डिजिटल घड़ी
Name[hr]=Digitalni sat
Name[hsb]=Digitalny časnik
Name[hu]=Digitális óra
Name[ia]=Horologio digital
Name[id]=Jam Digital
Name[is]=Stafræn klukka
Name[it]=Orologio digitale
Name[ja]=デジタル時計
Name[kk]=Цифрлық сағат
Name[km]=នាឡិកា​ឌីជីថល
Name[kn]=ಅಂಕೀಯ (ಡಿಜಿಟಲ್) ಗಡಿಯಾರ
Name[ko]=디지털 시계
Name[ku]=Demjimêra Dîjîtal
Name[lt]=Skaitmeninis laikrodis
Name[lv]=Ciparu pulkstenis
Name[mai]=डिजिटल घडी
Name[mk]=Дигитален часовник
Name[ml]=ഡിജിറ്റല്‍ ഘടികാരം
Name[mr]=डिजिटल घड्याळ
Name[nb]=Digital klokke
Name[nds]=Digitaal Klock
Name[ne]=डिजिटल घडी
Name[nl]=Digitale klok
Name[nn]=Digital klokke
Name[oc]=Relòtge numeric
Name[or]=ସାଂଖିକ ଘଡ଼ି
Name[pa]=ਡਿਜਿਟਲ ਘੜੀ
Name[pl]=Zegar cyfrowy
Name[pt]=Relógio Digital
Name[pt_BR]=Relógio digital
Name[ro]=Ceas digital
Name[ru]=Цифровые часы
Name[se]=Digitálalaš diibmu
Name[si]=අංකිත ඔරලෝසුව
Name[sk]=Digitálne hodiny
Name[sl]=Digitalna ura
Name[sr]=дигитални сат
Name[sr@ijekavian]=дигитални сат
Name[sr@ijekavianlatin]=digitalni sat
Name[sr@latin]=digitalni sat
Name[sv]=Digitalklocka
Name[ta]=எண்ணுரு கடிகாரம்
Name[te]=డిజిటల్ గడియారం
Name[tg]=Соати рақамӣ
Name[th]=นาฬิกาดิจิทัล
Name[tr]=Dijital Saat
Name[ug]=رەقەملىك سائەت
Name[uk]=Цифровий годинник
Name[uz]=Raqamli soat
Name[uz@cyrillic]=Рақамли соат
Name[vi]=Đồng hồ số
Name[wa]=Ôrlodje didjitåle
Name[x-test]=xxDigital Clockxx
Name[zh_CN]=数字钟
Name[zh_TW]=數位時鐘

Comment=Time displayed in a digital format
Comment[ar]=الوقت معروض في التنسيق الرقمي
Comment[ast]=Tiempu amosáu en formatu dixital
Comment[be@latin]=Čas u ličbach
Comment[bg]=Време, показвано в цифров формат.
Comment[bs]=Vrijeme prikazano u digitalnom obliku
Comment[ca]=L'hora visualitzada en un format digital
Comment[ca@valencia]=L'hora visualitzada en un format digital
Comment[cs]=Čas zobrazený v digitálním formátu
Comment[csb]=Czas wëskrzënióny w cyfrowim fòrmace
Comment[da]=Tiden vist i et digitalt format
Comment[de]=Zeigt die Uhrzeit in digitaler Form an.
Comment[el]=Η ώρα εμφανιζόμενη σε ψηφιακή μορφή
Comment[en_GB]=Time displayed in a digital format
Comment[eo]=Montri tempon laŭ cifereca formato
Comment[es]=Tiempo mostrado en formato digital
Comment[et]=Aja esitamine digikujul
Comment[eu]=Ordua formatu digitalean bistaratuta
Comment[fi]=Aika näytettynä digitaalimuodossa
Comment[fr]=Heure affichée au format numérique
Comment[fy]=Tiid werjûn yn in digitale opmaak
Comment[ga]=An t-am, taispeánta i bhformáid dhigiteach
Comment[gl]=A hora mostrada nun formato dixital
Comment[gu]=ડિજીટલ બંધારણમાં દર્શાવાતો સમય
Comment[he]=זמן המוצג בתצוגה דיגטלית
Comment[hi]=समय डिजिटल फ़ॉर्मेट में प्रदर्शित हो
Comment[hne]=टाइम ल डिजिटल रुप मं देखाव
Comment[hr]=Vrijeme je prikazano u digitalnom obliku
Comment[hsb]=Čas so pokazuje w digitalnym formaće
Comment[hu]=Digitális formában kijelzett idő
Comment[ia]=Tempore monstrate in formato digital
Comment[id]=Waktu ditampilkan dalam format digital
Comment[is]=Klukkan sýnd á stafrænu formi
Comment[it]=Ora indicata in formato digitale
Comment[ja]=時刻をデジタル形式で表示します
Comment[kk]=Уақытты цифрлармен көрсету
Comment[km]=ពេលវេលា​បាន​បង្ហាញ​នៅ​ក្នុងទ្រង់ទ្រាយ​ឌីជីថល
Comment[kn]=ಅಂಕೀಯ ರೀತ್ಯಾ ಪ್ರದರ್ಶಿಸಲಾದ ಸಮಯ
Comment[ko]=디지털 시계
Comment[lt]=Laikas rodomas skaitmeniniu formatu
Comment[lv]=Laiks ciparu formātā
Comment[mk]=Време прикажано во дигитален формат
Comment[ml]=സമയം ഡിജിറ്റല്‍ രീതിയില്‍ കാണിച്ചിരിക്കുന്നത്
Comment[mr]=डिजीटल स्वरूपात दर्शविलेली वेळ
Comment[nb]=Klokkeslett vist i digitalt format
Comment[nds]=Tiet in Digitaalformaat wiest
Comment[nl]=Tijd weergegeven in een digitale opmaak
Comment[nn]=Klokka vist i digitalformat
Comment[or]=ସାଂଖିକ ଶୈଳୀରେ ସମୟ ପ୍ରଦର୍ଶନ
Comment[pa]=ਡਿਜ਼ਿਟਲ ਫਾਰਮੈਟ ਵਿੱਚ ਟਾਈਮ ਵੇਖੋ
Comment[pl]=Czas pokazywany w formacie cyfrowym
Comment[pt]=A hora apresentada num formato digital
Comment[pt_BR]=Hora exibida em formato digital
Comment[ro]=Ora afișată în format numeric
Comment[ru]=Показ времени цифрами
Comment[si]=අංකිත ආකාරයට වේලාව දැක්වේ
Comment[sk]=Čas zobrazený v digitálnom formáte
Comment[sl]=Prikaz časa v digitalni obliki
Comment[sr]=Време приказано у дигиталном облику
Comment[sr@ijekavian]=Вријеме приказано у дигиталном облику
Comment[sr@ijekavianlatin]=Vrijeme prikazano u digitalnom obliku
Comment[sr@latin]=Vreme prikazano u digitalnom obliku
Comment[sv]=Tid visad med digitalformat
Comment[ta]=Time displayed in a digital format
Comment[te]=సమయం డిజిటల్ ఫార్మాట్‌లో ప్రదర్శించబడుతుంది
Comment[tg]=Вақт дар услуби рақамӣ нишон дода мешавад
Comment[th]=เวลาที่จะแสดงในรูปแบบดิจิทัล
Comment[tr]=Dijital biçimde gösterilen saat 
Comment[ug]=ۋاقىتنى رەقەم پىچىمىدا كۆرسىتىدۇ
Comment[uk]=Час, показаний у цифровому форматі
Comment[wa]=L' eure håynêye dins ene cogne limerike
Comment[x-test]=xxTime displayed in a digital formatxx
Comment[zh_CN]=以数字格式显示时间
Comment[zh_TW]=以數位格式顯示時間

Icon=preferences-system-time
Type=Service
X-KDE-ServiceTypes=Plasma/Applet

X-KDE-Library=plasma_applet_dig_clock
X-KDE-PluginInfo-Author=Riccardo Iaconelli
X-KDE-PluginInfo-Email=riccardo@kde.org
X-KDE-PluginInfo-Name=digital-clock
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=http://www.ruphy.org/
X-KDE-PluginInfo-Category=Date and Time
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true

X-Plasma-Requires-FileDialog=Unused
X-Plasma-Requires-LaunchApp=Unused

