[Desktop Entry]
Name=Multimedia
Name[af]=Multimedia
Name[ar]=الوسائط المتعددة
Name[as]=মাল্টিমিডিয়া
Name[ast]=Multimedia
Name[be]=Мультымедыя
Name[be@latin]=Multymedyja
Name[bg]=Мултимедия
Name[bn]=মাল্টিমিডিয়া
Name[bn_IN]=মাল্টি-মিডিয়া
Name[br]=Liesvedia
Name[bs]=Multimedija
Name[ca]=Multimèdia
Name[ca@valencia]=Multimèdia
Name[cs]=Multimédia
Name[csb]=Mùltimedia
Name[cy]=Amlgyfryngau
Name[da]=Multimedie
Name[de]=Multimedia
Name[el]=Πολυμέσα
Name[en_GB]=Multimedia
Name[eo]=Aŭdvido
Name[es]=Multimedia
Name[et]=Multimeedia
Name[eu]=Multimedia
Name[fa]=چند رسانه‌ای
Name[fi]=Multimedia
Name[fr]=Multimédia
Name[fy]=Multimedia
Name[ga]=Ilmheáin
Name[gl]=Multimedia
Name[gu]=મલ્ટિમીડિઆ
Name[he]=מולטימדיה
Name[hi]=मल्टीमीडिया
Name[hne]=मल्टीमीडिया
Name[hr]=Multimedija
Name[hsb]=Multimedija
Name[hu]=Multimédia
Name[ia]=Multimedia
Name[id]=Multimedia
Name[is]=Margmiðlun
Name[it]=Multimedia
Name[ja]=マルチメディア
Name[ka]=მულტიმედია
Name[kk]=Мультимедиа
Name[km]=ពហុព័ត៌មាន
Name[kn]=ಬಹುಮಾಧ್ಯಮ
Name[ko]=멀티미디어
Name[ku]=Multîmedya
Name[lt]=Multimedia
Name[lv]=Multivide
Name[mai]=मल्टीमीडिया
Name[mk]=Мултимедија
Name[ml]=മള്‍ട്ടീമീഡിയ
Name[mr]=मल्टीमीडिया
Name[ms]=Multimedia
Name[nb]=Multimedia
Name[nds]=Multimedia
Name[ne]=मल्टिमिडिया
Name[nl]=Multimedia
Name[nn]=Multimedia
Name[oc]=Multimedià
Name[or]=ବହୁମାଧ୍ଯମ
Name[pa]=ਮਲਟੀਮੀਡਿਆ
Name[pl]=Multimedia
Name[pt]=Multimédia
Name[pt_BR]=Multimídia
Name[ro]=Multimedia
Name[ru]=Мультимедиа
Name[se]=Multimedia
Name[si]=බහුමාධ්‍යය
Name[sk]=Multimédiá
Name[sl]=Predstavnost
Name[sr]=Мултимедија
Name[sr@ijekavian]=Мултимедија
Name[sr@ijekavianlatin]=Multimedija
Name[sr@latin]=Multimedija
Name[sv]=Multimedia
Name[ta]=பல்லூடகம்
Name[te]=బహుళ మాద్యమం
Name[tg]=Мултимедиа
Name[th]=มัลติมีเดีย
Name[tr]=Çoklu Ortam
Name[ug]=كۆپ ۋاسىتە
Name[uk]=Мультимедіа
Name[uz]=Multimedia
Name[uz@cyrillic]=Мултимедиа
Name[vi]=Nhạc/Ảnh
Name[wa]=Multimedia
Name[xh]=Iindlela ezininzi zokwenza
Name[x-test]=xxMultimediaxx
Name[zh_CN]=多媒体
Name[zh_TW]=多媒體
Comment=Multimedia applications, such as audio and video players
Comment[ar]=برامج الوسائط المتعدّدة كمشغلات الصوت والفيديو
Comment[ast]=Aplicaciones multimedia, como reproductores d'audio y videu
Comment[bg]=Мултимедийни приложения, като аудио и видео плеъри
Comment[bn]=মাল্টিমিডিয়া অ্যাপলিকেশন, যেমন অডিও ও ভিডিও প্লেয়ার
Comment[bs]=Multimedijski programi, poput audio i video plejera
Comment[ca]=Aplicacions multimèdia, com reproductors d'àudio i vídeo
Comment[ca@valencia]=Aplicacions multimèdia, com reproductors d'àudio i vídeo
Comment[cs]=Multimediální aplikace jako jsou audio a video přehrávače
Comment[csb]=Mùltimedialné aplikacëje jakno grôcze aùdio ë wideò
Comment[da]=Multimedieprogrammer, såsom lyd- og videoafspillere
Comment[de]=Multimedia-Anwendungen wie Abspielprogramme für Audio und Video
Comment[el]=Εφαρμογές πολυμέσων, όπως αναπαραγωγείς ήχου και εικόνας 
Comment[en_GB]=Multimedia applications, such as audio and video players
Comment[eo]=Plurmediaj aplikaĵoj kiel son- kaj film- legiloj
Comment[es]=Aplicaciones multimedia, como reproductores de audio y vídeo
Comment[et]=Multimeediarakendused, näiteks muusika- ja videomängija
Comment[eu]=Multimedia aplikazioak, audio eta bideo joleen modukoak
Comment[fi]=Multimediasovellukset, kuten ääni- ja videosoittimet
Comment[fr]=Applications multimédia tel que les lecteurs audio et vidéo
Comment[fy]=Multymedia applikaasjes, lykas audio en fideo spilers
Comment[ga]=Feidhmchláir ilmheán, mar shampla seinnteoirí fuaime agus físe
Comment[gl]=Programas multimedia, do estilo de reprodutores de son e vídeo
Comment[he]=יישומי מולטימדיה, כגון נגני מוזיקה וסרטים
Comment[hr]=Multimedijalne aplikacije, poput audio i video svirača
Comment[hu]=Multimédiás alkalmazások, például hang- és videolejátszók
Comment[ia]=Applicationes multimedial, tal como reproductores audio e video
Comment[id]=Aplikasi multimedia, seperti pemutar audio dan video
Comment[is]=Margmiðlunarforrit eins og vídeó- og hljóðspilarar
Comment[it]=Applicazioni multimediali, come lettori audio e video
Comment[ja]=オーディオやビデオプレーヤーなどのマルチメディアアプリケーション
Comment[kk]=Аудио және видео плейер секілді мультимедиа қолданбалар
Comment[km]=កម្មវិធី​​ពហុ​មេឌៀ ដូច​ជា កម្មវិធី​ចាក់​អូឌីយ៉ូ និង​វីដេអូ
Comment[ko]=오디오 및 비디오 재생기와 같은 멀티미디어 프로그램
Comment[lt]=Daugialypės terpės programos, tokios kaip audio ir video leistuvai
Comment[lv]=Multivides lietotnes, audio un video atskaņotāji
Comment[mk]=Мултимедијални апликации, како што се аудио и видео плеери
Comment[ml]=മള്‍ട്ടീമീഡിയാ പ്രയോഗങ്ങളായ: ഓഡിയോ, വീഡിയോ പ്ലയറുകള്‍ മുതലായവ
Comment[mr]=मल्टीमीडिया अनुप्रयोग. उदा. ऑडिओ व व्हिडीओ प्लेयर्स
Comment[nb]=Multimediaprogrammer, slik som lyd- og videospillere
Comment[nds]=Multimedia-Programmen, so as Klang- un Video-Afspelers
Comment[nl]=Multimedia programma's, zoals audio- en videospelers
Comment[nn]=Multimedia-program, som musikk- og filmspelarar
Comment[pa]=ਮਲਟੀਮੀਡਿਆ ਐਪਲੀਕੇਸ਼ਨ, ਜਿਵੇਂ ਆਡੀਓ ਅਤੇ ਵਿਡੀਓ ਪਲੇਅਰ
Comment[pl]=Programy multimedialne, takie jak odtwarzacze audio i wideo
Comment[pt]=Aplicações multimédia, como os leitores de áudio e vídeo
Comment[pt_BR]=Aplicativos multimídia, tais como reprodutores de áudio e vídeo
Comment[ro]=Aplicații multimedia, pentru redare de sunet și imagine
Comment[ru]=Мультимедийные приложения, в том числе проигрыватели аудио и видео
Comment[si]=බහුමාධ්‍ය භාවිත යෙදවුම්, ශ්‍රව්‍ය දෘශ්‍ය ධාවක වැනි
Comment[sk]=Multimediálne aplikácie, ako prehrávače videa a zvuku
Comment[sl]=Predstavnostni programi, npr. predvajalniki zvoka in videa
Comment[sr]=Мултимедијски програми, попут аудио и видео плејера
Comment[sr@ijekavian]=Мултимедијски програми, попут аудио и видео плејера
Comment[sr@ijekavianlatin]=Multimedijski programi, poput audio i video plejera
Comment[sr@latin]=Multimedijski programi, poput audio i video plejera
Comment[sv]=Multimediaprogram, som ljud- och videospelare
Comment[tg]=Барномаҳои мултимедиа монанди плеерҳои аудио ва видео 
Comment[th]=โปรแกรมต่าง ๆ ด้านสื่อประสม เช่น เครื่องเล่นวีดิทัศน์และเครื่องเล่นเสียง
Comment[tr]=Ses ve video oynatıcılar gibi çoklu ortam uygulamaları
Comment[ug]=كۆپ ۋاسىتە پروگراممىلار، ئۈن ۋە سىن چالغۇلار
Comment[uk]=Мультимедійні програми, зокрема програвачі звукових та відеоданих
Comment[wa]=Programes multimedia come des djouweus odio ou d' videyo
Comment[x-test]=xxMultimedia applications, such as audio and video playersxx
Comment[zh_CN]=多媒体应用程序，如视频/音频播放器
Comment[zh_TW]=多媒體應用程式，如音效與影像播放器
Icon=applications-multimedia

Type=Service
X-KDE-ServiceTypes=Plasma/Sal/Menu
X-KDE-PluginInfo-Name=plasma-sal-multimedia

X-Plasma-Sal-Url=kservicegroup://root/Multimedia/
X-Plasma-Sal-Relevance=1
