[Desktop Entry]
Name=plasma-kpart
Name[ast]=plasma-kpart
Name[bg]=plasma-kpart
Name[bn]=প্লাসমা কে-পার্ট
Name[bs]=plasma-kpart
Name[ca]=plasma-kpart
Name[ca@valencia]=plasma-kpart
Name[cs]=plasma-kpart
Name[da]=plasma-kpart
Name[de]=plasma-kpart
Name[el]=plasma-kpart
Name[en_GB]=plasma-kpart
Name[eo]=plasma-kpart
Name[es]=plasma-kpart
Name[et]=plasma-kpart
Name[eu]=plasma-kpart
Name[fa]=plasma-kpart
Name[fi]=plasma-kpart
Name[fr]=plasma-kpart
Name[ga]=plasma-kpart
Name[gl]=plasma-kpart
Name[gu]=પ્લાઝમા-kpart
Name[he]=plasma-kpart
Name[hi]=plasma-kpart
Name[hr]=plasma-kpart
Name[hu]=plasma-kpart
Name[ia]=plasma-kpart
Name[is]=plasma-kpart
Name[it]=plasma-kpart
Name[ja]=plasma-kpart
Name[kk]=plasma-kpart
Name[km]=plasma-kpart
Name[kn]=plasma-kpart
Name[ko]=plasma-kpart
Name[lt]=plasma-kpart
Name[lv]=plasma-kpart
Name[mr]=प्लाज्मा-kpart
Name[nb]=plasma-kpart
Name[nds]=Kpart för Plasma
Name[nl]=plasma-kpart
Name[nn]=plasma-kpart
Name[pa]=plasma-kpart
Name[pl]=plasma-kpart
Name[pt]=plasma-kpart
Name[pt_BR]=plasma-kpart
Name[ro]=plasma-kpart
Name[ru]=plasma-kpart
Name[si]=plasma-kpart
Name[sk]=plasma-kpart
Name[sl]=plasma-kpart
Name[sr]=plasma-kpart
Name[sr@ijekavian]=plasma-kpart
Name[sr@ijekavianlatin]=plasma-kpart
Name[sr@latin]=plasma-kpart
Name[sv]=Plasma-delprogram
Name[tg]=plasma-kpart
Name[th]=plasma-kpart
Name[tr]=plasma-kpart
Name[ug]=plasma-kpart
Name[uk]=plasma-kpart
Name[vi]=plasma-kpart
Name[wa]=plasma-kpårt
Name[x-test]=xxplasma-kpartxx
Name[zh_CN]=plasma-kpart
Name[zh_TW]=plasma-kpart
Type=Service
ServiceTypes=KParts/Part
X-KDE-Library=plasma-kpart
