[Desktop Entry]
Encoding=UTF-8
Name=Search and launch
Name[ar]=البحث والإطلاق
Name[ast]=Gueta y execución
Name[bg]=Търсене и стартиране
Name[bs]=Traženje i pokretanje
Name[ca]=Cerca i llançament
Name[ca@valencia]=Cerca i llançament
Name[cs]=Vyhledat a spustit
Name[da]=Søg og start
Name[de]=Suchen und ausführen
Name[el]=Αναζήτηση και εκτέλεση
Name[en_GB]=Search and launch
Name[es]=Búsqueda y ejecución
Name[et]=Otsimine ja käivitamine
Name[eu]=Bilatu eta jaurti
Name[fi]=Etsi ja käynnistä
Name[fr]=Rechercher et lancer
Name[ga]=Cuardaigh agus tosaigh
Name[gl]=Buscar e executar
Name[he]=חיפוש והפעלה
Name[hi]=खोज व लाँच
Name[hr]=Pretraži i pokreni
Name[hu]=Keresés és indítás
Name[ia]=Cerca e Lancea 
Name[id]=Cari dan jalankan
Name[is]=Leit að forritum og ræsing
Name[it]=Cerca e avvia
Name[ja]=検索と起動
Name[kk]=Іздеу және жегу
Name[km]=ស្វែងរក​ ហើយ​ចាប់ផ្ដើម
Name[kn]=ಹುಡುಕು ಹಾಗು ಪ್ರಕ್ಷೇಪನ
Name[ko]=찾아서 실행하기
Name[lt]=Rasti ir paleisti
Name[lv]=Meklēt un palaist
Name[mr]=शोधा व प्रक्षेपण करा
Name[nb]=Søk og start
Name[nds]=Söken un opropen
Name[nl]=Zoeken en starten
Name[nn]=Søk og køyr
Name[pa]=ਖੋਜ ਅਤੇ ਚਲਾਓ
Name[pl]=Znajdź i uruchom
Name[pt]=Pesquisa e lançamento
Name[pt_BR]=Pesquisa e execução
Name[ro]=Căutare și lansare
Name[ru]=Поиск и запуск
Name[si]=සොයා දියත් කරන්න
Name[sk]=Hľadať a spustiť
Name[sl]=Iskanje in zaganjanje
Name[sr]=Тражење и покретање
Name[sr@ijekavian]=Тражење и покретање
Name[sr@ijekavianlatin]=Traženje i pokretanje
Name[sr@latin]=Traženje i pokretanje
Name[sv]=Sök och starta
Name[tg]=Ҷустуҷӯӣ ва оғозӣ
Name[th]=ค้นหาและเรียกใช้งาน
Name[tr]=Ara ve çalıştır
Name[ug]=ئىزدە ۋە ئىجرا قىل
Name[uk]=Рушій пошуку і запуску
Name[wa]=Trover ey enonder
Name[x-test]=xxSearch and launchxx
Name[zh_CN]=搜索与启动
Name[zh_TW]=搜尋並啟動

Type=Service
ServiceTypes=Plasma/LayoutTemplate
X-Plasma-Shell=plasma-netbook
X-Plasma-ContainmentCategories=desktop
X-KDE-PluginInfo-Author=Marco Martin
X-KDE-PluginInfo-Email=notmart@gmail.com
X-KDE-PluginInfo-Name=org.kde.plasma-netbook.defaultSal
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=http://plasma.kde.org/
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
