[Desktop Entry]
Name=Internet
Name[af]=Internet
Name[ar]=الإنترنت
Name[as]=ইন্টাৰ্নে'ট
Name[ast]=Internet
Name[be]=Інтэрнэт
Name[be@latin]=Internet
Name[bg]=Интернет
Name[bn]=ইন্টারনেট
Name[bn_IN]=ইন্টারনেট
Name[br]=Kenrouedad
Name[bs]=Internet
Name[ca]=Internet
Name[ca@valencia]=Internet
Name[cs]=Internet
Name[csb]=Internet
Name[cy]=Rhyngrwyd
Name[da]=Internet
Name[de]=Internet
Name[el]=Διαδίκτυο
Name[en_GB]=Internet
Name[eo]=Interreto
Name[es]=Internet
Name[et]=Internet
Name[eu]=Internet
Name[fa]=اینترنت
Name[fi]=Internet
Name[fr]=Internet
Name[fy]=Ynternet
Name[ga]=Idirlíon
Name[gl]=Internet
Name[gu]=ઇન્ટરનેટ
Name[he]=אינטרנט
Name[hi]=इन्टरनेट
Name[hne]=इन्टरनेट
Name[hr]=Internet
Name[hsb]=Internet
Name[hu]=Internet
Name[ia]=Internet
Name[id]=Internet
Name[is]=Internetið
Name[it]=Internet
Name[ja]=インターネット
Name[ka]=ინტერნეტი
Name[kk]=Интернет
Name[km]=អ៊ីនធឺណិត
Name[kn]=ಅಂತರ್ಜಾಲ
Name[ko]=인터넷
Name[ku]=Înternet
Name[lt]=Internetas
Name[lv]=Internets
Name[mai]=इंटरनेट
Name[mk]=Интернет
Name[ml]=ഇന്റര്‍നെറ്റ്
Name[mr]=महाजाळ
Name[ms]=Internet
Name[nb]=Internett
Name[nds]=Internet
Name[ne]=इन्टरनेट
Name[nl]=Internet
Name[nn]=Internett
Name[oc]=Internet
Name[or]=ଇଣ୍ଟରନେଟ
Name[pa]=ਇੰਟਰਨੈੱਟ
Name[pl]=Internet
Name[pt]=Internet
Name[pt_BR]=Internet
Name[ro]=Internet
Name[ru]=Интернет
Name[se]=Interneahtta
Name[si]=අන්තර්ජාලය
Name[sk]=Internet
Name[sl]=Internet
Name[sr]=Интернет
Name[sr@ijekavian]=Интернет
Name[sr@ijekavianlatin]=Internet
Name[sr@latin]=Internet
Name[sv]=Internet
Name[ta]=இணையம்
Name[te]=ఇంటర్నెట్
Name[tg]=Интернет
Name[th]=อินเทอร์เน็ต
Name[tr]=İnternet
Name[ug]=ئىنتېرنېت
Name[uk]=Інтернет
Name[uz]=Internet
Name[uz@cyrillic]=Интернет
Name[vi]=Internet
Name[wa]=Daegntoele
Name[x-test]=xxInternetxx
Name[zh_CN]=互联网
Name[zh_TW]=網際網路
Comment=Internet related applications, such as Web browser, Email and chat
Comment[ar]=برامج متعلقة بالإنترنت كمتصفح الوِب والبريد والدردشة
Comment[ast]=Aplicaciones rellacionaes con Internet, como restoladores web, corréu electrónicu y chat
Comment[bg]=Интернет приложения, като уеб браузър, електронна поща и чат
Comment[bn]=ইন্টারনেট সংক্রান্ত অ্যাপলিকেশন, যেমন ওয়েব-ব্রাউসার, ই-মেইল এবং চ্যাট
Comment[bs]=Programi u vezi s Internetom, poput veb pregledača, e‑pošte i ćaskanja
Comment[ca]=Aplicacions relacionades amb Internet, com navegador Web, correu electrònic i xat
Comment[ca@valencia]=Aplicacions relacionades amb Internet, com navegador Web, correu electrònic i xat
Comment[cs]=Aplikace související s internetem jako je internetový prohlížeč, e-mail a rozhovor
Comment[csb]=Aplikacëje sparłãczoné z internetã, jakno przezérniczi, programë e-mailowé ë czatowé
Comment[da]=Internetrelaterede programmer, såsom webbrowser, e-mail og chat
Comment[de]=Internet-Anwendungen wie Webbrowser, E-Mail-Programm oder Chat
Comment[el]=Εφαρμογές σχετικές με το διαδίκτυο, όπως περιηγητές διαδικτύου, ηλεκτρονικής αλληλογραφίας και συνομιλίας
Comment[en_GB]=Internet related applications, such as Web browser, Email and chat
Comment[es]=Aplicaciones relacionadas con Internet, como navegadores web, correo electrónico y chat
Comment[et]=Internetiga seotud rakendused, näiteks veebibrauser, e-posti klient ja kiirsuhtlusrakendus
Comment[eu]=Internet aplikazioak, Web arakatzaileak, posta eta txat modukoak
Comment[fi]=Internetiin liittyvät sovellukset, kuten verkkoselain, sähköposti ja verkkokeskustelu
Comment[fr]=Applications en relation avec Internet tel que les navigateurs, les clients de courrier électronique et les logiciels de messagerie instantanée
Comment[fy]=Mei ynternet relatearre applikaasje, lykas webblêd, e-post en tsjet
Comment[ga]=Feidhmchlár a bhaineann leis an Idirlíon, mar shampla brabhsálaithe, cliaint ríomhphoist agus cláir chomhrá
Comment[gl]=Programas relacionados con internet, como un navegador web, correo e chat
Comment[he]=יישומי אינטרנט, כגון דפדפן רשת, דואר אלקטרוני ומסרים מידיים
Comment[hr]=Aplikacije vezane za Internet, poput web preglednika, te programa za e-poštu i čavrljanje
Comment[hu]=Internetes alkalmazások, például webböngésző, e-mail kliens és csevegőprogram
Comment[ia]=Applicationes  referite a Internet, tal como Navigator Web, E-Posta e confabulation
Comment[id]=Aplikasi terkait Internet, seperti peramban Web, Email dan obrolan
Comment[is]=Internetforrit á borð við vafra, tölvupóst- og spjallforrit
Comment[it]=Applicazioni relative a Internet, come browser Web, posta elettronica e chat
Comment[ja]=ウェブブラウザ、電子メール、チャットなどのインターネット関連のアプリケーション
Comment[kk]=Веб шолғыш, эл.пошта, чат секілді Интернетке қатысты қолданбалар
Comment[km]=កម្មវិធី​ដែលទាក់ទង​នឹង​អ៊ីនធឺណិត ដូចជា​ កម្មវិធី​រុករក​បណ្ដាញ អ៊ីមែល ជជែក
Comment[kn]=ಜಾಲ ವೀಕ್ಷಕ, ವಿಅಂಚೆ ಹಾಗು ಚಾಟ್‌ನಂತಹ ಅಂತರ್ಜಾಲ ಸಂಬಂಧಿತವಾದ ಅನ್ವಯಗಳು
Comment[ko]=웹 브라우저, 이메일, 채팅과 같은 인터넷 프로그램
Comment[lt]=Su internetu susijusios programos, tokios kaip naršyklės, el. pašto ar pokalbių
Comment[lv]=Ar Internetu saistītas lietotnes, tīmekļa pārlūks, e-pasts un tērzēšana
Comment[mk]=Апликации поврзани со Интернет, како што е веб-прелистување, е-пошта и разговор
Comment[ml]=ഇന്റര്‍നെറ്റിനോടനുബന്ധിച്ചിട്ടുള്ള പ്രയോഗങ്ങളായ വെബ് ബ്രൌസര്‍, ഈമെയില്‍, സല്ലാപം മുതലായവ
Comment[mr]=महाजाळ संबंधित अनुप्रयोग. उदा. वेब ब्राऊजर, इमेल व चेैट
Comment[nb]=Internett-relaterte programmer, slik som nettleser, e-post og prateprogrammer
Comment[nds]=Programmen rund dat Internet, so as Nettkiekers, Nettpost- un Klöönprogrammen
Comment[nl]=Internet gerelateerde programma's, zoals Webbrowser, E-mail en chat
Comment[nn]=Internett-relaterte program, som nettlesarar og e-post- og prateprogram
Comment[pa]=ਇੰਟਰਨੈੱਟ ਨਾਲ ਸਬੰਧਿਤ ਐਪਲੀਕੇਸ਼ਨ, ਜਿਵੇਂ ਕਿ ਵੈੱਬ ਬਰਾਊਜ਼ਰ, ਈਮੇਲ ਅਤੇ ਚੈਟ
Comment[pl]=Programy internetowe, takie jak przeglądarka WWW, poczta i czat
Comment[pt]=Aplicações relacionadas com a Internet, como o navegador Web, o E-mail e as conversações
Comment[pt_BR]=Aplicativos relacionados à Internet, tais como o navegador da Web, e-mail e bate-papo
Comment[ro]=Aplicații legate de Internet, cum ar fi navigator web, poștă și discuții
Comment[ru]=Приложения, связанные с Интернетом, такие как браузер, почтовый клиент и клиент мгновенных сообщений
Comment[si]=අන්තර්ජාලය සම්බන්ධ භාවිත යෙදවුම්, වෙබ් ගවේශකය, තැපැල් හා සංවාද වැනි
Comment[sk]=Internetové aplikácie, ako webový prehliadač, poštový klient a chat
Comment[sl]=Internetni programi, npr. spletni brskalniki, e-pošta in klepet
Comment[sr]=Програми у вези с Интернетом, попут веб прегледача, е‑поште и ћаскања
Comment[sr@ijekavian]=Програми у вези с Интернетом, попут веб прегледача, е‑поште и ћаскања
Comment[sr@ijekavianlatin]=Programi u vezi s Internetom, poput veb pregledača, e‑pošte i ćaskanja
Comment[sr@latin]=Programi u vezi s Internetom, poput veb pregledača, e‑pošte i ćaskanja
Comment[sv]=Internet-relaterade program, som webbläsare, e-post och chatt
Comment[th]=โปรแกรมต่าง ๆ ด้านอินเทอร์เน็ต เช่นเว็บเบราว์เซอร์, การรับส่งจดหมาย และโปรแกรมพูดคุย
Comment[tr]=İnternet ile ilgili uygulamalar, Web tarayıcı, e-posta ve sohbet istemcileri gibi
Comment[ug]=ئىنتېرنېتقا مۇناسىۋەتلىك پروگراممىلار، توركۆرگۈ، ئېلخەت ۋە مۇڭداشقۇلار
Comment[uk]=Програми, пов’язані з інтернетом, зокрема переглядач інтернету, поштовий клієнт та клієнти служб обміну повідомленнями
Comment[vi]=Các ứng dụng mạng như trình duyệt web, thư điện tử và chat
Comment[wa]=Programes pol Daegntoele come li betchteu waibe, l' emilaedje eyet l' berdelaedje sol moumint
Comment[x-test]=xxInternet related applications, such as Web browser, Email and chatxx
Comment[zh_CN]=互联网应用程序，如网络浏览器、邮件客户端和聊天工具
Comment[zh_TW]=網際網路相關應用程式，如瀏覽器、電子郵件收發程式與聊天室
Icon=applications-internet

Type=Service
X-KDE-ServiceTypes=Plasma/Sal/Menu
X-KDE-PluginInfo-Name=plasma-sal-internet

X-Plasma-Sal-Url=kservicegroup://root/Internet/
X-Plasma-Sal-Relevance=1
