[Desktop Entry]
Encoding=UTF-8
Name=Photos Activity
Name[ar]=أنشطة الصور
Name[ast]=Photos Activity
Name[bs]=Aktivnost fotografija
Name[ca]=Activitat de fotos
Name[ca@valencia]=Activitat de fotos
Name[cs]=Aktivita fotografií
Name[da]=Fotoaktivitet
Name[de]=Aktivität Fotos
Name[el]=Δραστηριότητα φωτογραφιών
Name[en_GB]=Photos Activity
Name[es]=Actividad de fotos
Name[et]=Fototegevus
Name[eu]=Argazkien jarduera
Name[fi]=Valokuva-aktiviteetti
Name[fr]=Activité photos
Name[gl]=Fotografía
Name[he]=פעילות תמונות
Name[hi]=फोटो क्रियाएँ
Name[hr]=Fotografska aktivnost
Name[hu]=Fényképek aktivitás
Name[ia]=Activitate de photos
Name[is]=Ljósmyndavirkni
Name[it]=Attività fotografica
Name[ja]=フォトアクティビティ
Name[kk]=Фотомен айналысу
Name[km]=សកម្មភាព​រូបថត
Name[ko]=사진 활동
Name[lt]=Nuotraukų veikla
Name[lv]=Aktivitāte 'Fotogrāfijas'
Name[mr]=फोटो कार्यपध्दती
Name[nb]=Foto-aktivitet
Name[nds]=Foto-Akschonen
Name[nl]=Activiteit met foto's
Name[pa]=ਫੋਟੋ ਸਰਗਰਮੀ
Name[pl]=Działania na zdjęciach
Name[pt]=Actividade de Fotografias
Name[pt_BR]=Atividade fotográfica
Name[ro]=Activitate fotografică
Name[ru]=Фотокомната
Name[sk]=Aktivita pre fotografie
Name[sl]=Dejavnost Fotografije
Name[sr]=Активност фотографија
Name[sr@ijekavian]=Активност фотографија
Name[sr@ijekavianlatin]=Aktivnost fotografija
Name[sr@latin]=Aktivnost fotografija
Name[sv]=Fotoaktivitet
Name[th]=ความเคลื่อนไหวของรูปภาพ
Name[tr]=Fotoğraf Etkinliği
Name[ug]=سۈرەت پائالىيىتى
Name[uk]=Простір дій фотографій
Name[wa]=Activité fotos
Name[x-test]=xxPhotos Activityxx
Name[zh_CN]=照片活动
Name[zh_TW]=相片活動
Icon=digikam
Type=Service
ServiceTypes=Plasma/LayoutTemplate
X-Plasma-Shell=plasma-desktop
X-Plasma-ContainmentCategories=desktop
X-Plasma-ContainmentLayout-ExecuteOnCreation=gwenview $pictures,digikam
X-Plasma-ContainmentLayout-ShowAsExisting=true
X-KDE-PluginInfo-Author=Chani Armitage
X-KDE-PluginInfo-Email=chani@kde.org
X-KDE-PluginInfo-Name=org.kde.plasma-desktop.photoActivity
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=http://plasma.kde.org/
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
