[Desktop Entry]
Encoding=UTF-8
Name=Find Widgets
Name[ar]=جد الودجات
Name[ast]=Guetar componentes
Name[bg]=Откриване на джаджи
Name[bs]=Traženje grafičkih kontrola
Name[ca]=Cerca estris
Name[ca@valencia]=Cerca estris
Name[cs]=Najít widgety
Name[da]=Find widgets
Name[de]=Miniprogramme suchen
Name[el]=Εύρεση συστατικών
Name[en_GB]=Find Widgets
Name[es]=Buscar componentes
Name[et]=Vidinate otsimine
Name[eu]=Aurkitu trepetak
Name[fi]=Etsi sovelmia
Name[fr]=Trouver des composants graphiques
Name[ga]=Aimsigh Giuirléidí
Name[gl]=Buscar widgets
Name[he]=מציאת ווידג׳טים
Name[hi]=विडजेट खोजें
Name[hr]=Nađi widgete
Name[hu]=Widgetek keresése
Name[ia]=Trova  Widgets
Name[is]=Finna græjur
Name[it]=Trova oggetti
Name[ja]=ウィジェットの検索
Name[kk]=Виджеттерді іздеу
Name[km]=​រក​ធាតុ​ក្រាហ្វិក​​
Name[ko]=위젯 찾기
Name[lt]=Rasti valdiklių
Name[lv]=Atrast sīkrīkus
Name[mr]=विजेट्स शोधा
Name[nb]=Finn skjermelementer
Name[nds]=Lüttprogrammen söken
Name[nl]=Widgets zoeken
Name[pa]=ਵਿਦਜੈੱਟ ਲੱਭੋ
Name[pl]=Znajdź elementy interfejsu
Name[pt]=Procurar Elementos
Name[pt_BR]=Localizar widgets
Name[ro]=Caută controale
Name[ru]=Поиск виджетов
Name[sk]=Nájsť widgety
Name[sl]=Najdi gradnike
Name[sr]=Тражење виџета
Name[sr@ijekavian]=Тражење виџета
Name[sr@ijekavianlatin]=Traženje vidžeta
Name[sr@latin]=Traženje vidžeta
Name[sv]=Sök efter grafiska komponenter
Name[th]=ค้นหาวิดเจ็ต
Name[tr]=Araçları Bul
Name[ug]=Widget ئىزدە
Name[uk]=Пошук віджетів
Name[vi]=Tìm widget
Name[wa]=Trover ahesses
Name[x-test]=xxFind Widgetsxx
Name[zh_CN]=查找部件
Name[zh_TW]=尋找元件
Type=Service
ServiceTypes=Plasma/LayoutTemplate
X-Plasma-Shell=plasma-desktop
X-KDE-PluginInfo-Author=Aaron Seigo
X-KDE-PluginInfo-Email=aseigo@kde.org
X-KDE-PluginInfo-Name=org.kde.plasma-desktop.findWidgets
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=http://plasma.kde.org/
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
