[Desktop Entry]
Name=Calendar
Name[ar]=التقويم
Name[ast]=Calendariu
Name[be@latin]=Kalandar
Name[bg]=Календар
Name[bn]=ক্যালেণ্ডার
Name[bn_IN]=বর্ষপঞ্জি
Name[bs]=kalendar
Name[ca]=Calendari
Name[ca@valencia]=Calendari
Name[cs]=Kalendář
Name[csb]=Kalãdôrz
Name[da]=Kalender
Name[de]=Kalender
Name[el]=Ημερολόγιο
Name[en_GB]=Calendar
Name[eo]=Kalendaro
Name[es]=Calendario
Name[et]=Kalender
Name[eu]=Egutegia
Name[fa]=تقویم
Name[fi]=Kalenteri
Name[fr]=Calendrier
Name[fy]=Aginda
Name[ga]=Féilire
Name[gl]=Calendario
Name[gu]=કેલેન્ડર
Name[he]=לוח שנה
Name[hi]=कैलेन्डर
Name[hne]=कलेन्डर
Name[hr]=Kalendar
Name[hsb]=Protyka
Name[hu]=Naptár
Name[ia]=Calendario
Name[id]=Kalender
Name[is]=Dagatal
Name[it]=Calendario
Name[ja]=カレンダー
Name[kk]=Күнтізбе
Name[km]=ប្រតិទិន
Name[kn]=ದಿನಸೂಚಿ
Name[ko]=달력
Name[ku]=Salname
Name[lt]=Kalendorius
Name[lv]=Kalendārs
Name[mai]=कैलेंडर
Name[mk]=Календар
Name[ml]=കലണ്ടര്‍
Name[mr]=दिनदर्शिका
Name[nb]=Kalender
Name[nds]=Kalenner
Name[nl]=Kalender
Name[nn]=Kalender
Name[pa]=ਕੈਲੰਡਰ
Name[pl]=Kalendarz
Name[pt]=Calendário
Name[pt_BR]=Calendário
Name[ro]=Calendar
Name[ru]=Календарь
Name[si]=දිනදර්ශනය
Name[sk]=Kalendár
Name[sl]=Koledar
Name[sr]=календар
Name[sr@ijekavian]=календар
Name[sr@ijekavianlatin]=kalendar
Name[sr@latin]=kalendar
Name[sv]=Kalender
Name[ta]=நாட்காட்டி
Name[tg]=Тақвим
Name[th]=ปฏิทิน
Name[tr]=Takvim
Name[ug]=يىلنامە
Name[uk]=Календар
Name[vi]=Lịch
Name[wa]=Calindrî
Name[x-test]=xxCalendarxx
Name[zh_CN]=日历
Name[zh_TW]=行事曆
Comment=View and pick dates from the calendar
Comment[ar]=اعرض واختر تواريخاً من تقويمك
Comment[ast]=Ver y coyer feches del calendariu
Comment[be@latin]=Prahladaj i vybiraj daty z kalendara
Comment[bg]=Преглед и избор на дати от календара
Comment[bs]=Gledajte i birajte datume u kalendaru
Comment[ca]=Vegeu i seleccioneu dates del calendari
Comment[ca@valencia]=Vegeu i seleccioneu dates del calendari
Comment[cs]=Zobrazit a vybrat data z kalendáře
Comment[csb]=Przezérôj datumë w kalãdôrzu
Comment[da]=Vis og vælg datoer fra kalenderen
Comment[de]=Zeigt einen Kalender an
Comment[el]=Προβολή και επιλογή ημερομηνιών από το ημερολόγιο
Comment[en_GB]=View and pick dates from the calendar
Comment[eo]=Vidi kaj elekti daton el la kalendaro
Comment[es]=Ver y capturar fechas del calendario
Comment[et]=Kuupäevade vaatamine kalendris ja nende valimine
Comment[eu]=Egutegiko datak ikusi eta hartu
Comment[fi]=Katso ja poimi päivämääriä kalenterista
Comment[fr]=Affiche et sélectionne des dates du calendrier
Comment[fy]=Besjoch en kies datums fan de aginda
Comment[ga]=Amharc ar agus roghnaigh dátaí ón fhéilire
Comment[gl]=Ve e escolle datas do calendario
Comment[gu]=કેલેન્ડરમાં તારીખો જુઓ અને પસંદ કરો
Comment[he]=משמש להצגת ובחירת תאריכים מתוך לוח השנה
Comment[hi]=कैलेण्डर 
Comment[hne]=कलेन्डर मं तारीक देखव अउ चुनव
Comment[hr]=Pogledajte i odaberite datume iz kalendara
Comment[hsb]=Wobhladajće a wubjerće datumy z protyki
Comment[hu]=Dátumok kiválasztása és megtekintése naptárban
Comment[ia]=Monstra e collige datas ex le calendario
Comment[id]=Tampilkan dan pilih tanggal dari kalender
Comment[is]=Skoða og velja dagsetningar úr dagatali
Comment[it]=Mostra e seleziona date dal calendario
Comment[ja]=カレンダーで日付を見たり選択したりします
Comment[kk]=Күнтізбеден күнді теріп алу
Comment[km]=មើល និង​យក​កាលបរិច្ឆេទ​ពី​ប្រតិទិន
Comment[kn]=ದಿನದರ್ಶಿಯಲ್ಲಿ ದಿನಾಂಕಗಳನ್ನು ನೋಡಿ ಹಾಗು ಆಯ್ಕೆ ಮಾಡಿ
Comment[ko]=달력을 봅니다
Comment[lt]=Rodyti ir pasirinkti datas iš kalendoriaus
Comment[lv]=Apskatiet un izvēlieties datumus no kalendāra
Comment[mk]=Гледајте и избирајте датуми од календарот
Comment[ml]=കലണ്ടറില്‍ നിന്നും തിയ്യതികള്‍ കണ്ടു തെരഞ്ഞെടുക്കുക
Comment[mr]=दिनदर्शिका पासून दिनांक पहा व निवडा
Comment[nb]=Vis kalenderen og plukk datoer fra den
Comment[nds]=Daten binnen den Kalenner ankieken un utsöken
Comment[nl]=Bekijk en kies datums van de kalender
Comment[nn]=Vis og vel datoar på kalenderen
Comment[pa]=ਕੈਲੰਡਰ ਤੋਂ ਮਿਤੀ ਵੇਖੋ ਅਤੇ ਚੁਣੋ
Comment[pl]=Przeglądanie i pobieranie dat z kalendarza
Comment[pt]=Ver e escolher datas do calendário
Comment[pt_BR]=Exibe e seleciona datas do calendário
Comment[ro]=Vedeți și alegeți date din calendar
Comment[ru]=Просмотр календаря
Comment[si]=දින දසුනෙන් දත්ත පෙන්වන්න හා ගන්න
Comment[sk]=Zobrazenie a výber dátumov z kalendára
Comment[sl]=Prikaz in izbiranje datumov s koledarja
Comment[sr]=Гледајте и бирајте датуме у календару
Comment[sr@ijekavian]=Гледајте и бирајте датуме у календару
Comment[sr@ijekavianlatin]=Gledajte i birajte datume u kalendaru
Comment[sr@latin]=Gledajte i birajte datume u kalendaru
Comment[sv]=Visa och välj datum i kalendern
Comment[ta]=View and pick dates from the calendar
Comment[te]=క్యాలెండర్ నుండి తేదీలను చూడుము మరియు తీసుకొనుము
Comment[tg]=Намоиш ва истифодаи сана аз тақвим
Comment[th]=แสดงและเลือกวันที่จากปฏิทิน
Comment[tr]=Takvimden günleri seçin ve görüntüleyin
Comment[ug]=يىلنامە كۆرسىتىپ، چېسلا تاللايدۇ
Comment[uk]=Перегляньте і оберіть дати з календаря
Comment[wa]=Vey eyet betchter des dates dins vosse calindrî
Comment[x-test]=xxView and pick dates from the calendarxx
Comment[zh_CN]=查看日历，选取日期
Comment[zh_TW]=檢視並從行事曆中挑選日期
Type=Service
Icon=office-calendar
X-KDE-ServiceTypes=Plasma/Applet

X-KDE-Library=plasma_applet_calendar
X-KDE-PluginInfo-Author=Marco Martin
X-KDE-PluginInfo-Email=martkive@gmail.com
X-KDE-PluginInfo-Name=calendar
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=http://plasma.kde.org/
X-KDE-PluginInfo-Category=Date and Time
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true


X-Plasma-Requires-FileDialog=Unused
X-Plasma-Requires-LaunchApp=Unused

