[Desktop Entry]
Name=Application Launcher Menu
Name[af]=Programlanseerder-kieslys
Name[ar]=قائمة مطلق التطبيقات
Name[ast]=Menú del llanzador d'aplicaciones
Name[be@latin]=Menu dla ŭklučeńnia aplikacyjaŭ
Name[bg]=Стартиране на програми с меню
Name[bn]=অ্যাপলিকেশন লঞ্চার মেনু
Name[bs]=meni za pokretanje programa
Name[ca]=Menú del llançador d'aplicacions
Name[ca@valencia]=Menú del llançador d'aplicacions
Name[cs]=Nabídka spouštěče aplikací
Name[csb]=Menu zrëszôcza programów
Name[da]=Startmenu
Name[de]=K-Menü (traditionell)
Name[el]=Μενού εκτέλεσης εφαρμογών
Name[en_GB]=Application Launcher Menu
Name[eo]=Aplikaĵolanĉila menuo
Name[es]=Menú del lanzador de aplicaciones
Name[et]=Rakenduste käivitaja menüü
Name[eu]=Aplikazio abiarazlearen menua
Name[fi]=Sovellusten käynnistysvalikko
Name[fr]=Menu de lancement des applications
Name[fy]=Applikaasje úteinsetter menu
Name[ga]=Roghchlár Tosaitheora Feidhmchlár
Name[gl]=Menú iniciador de programas
Name[gu]=કાર્યક્રમ ચલાવનાર મેનુ
Name[he]=תפריט משגר יישומים
Name[hi]=अनुप्रयोग चलाने वाला मेन्यू
Name[hne]=अनुपरयोग चालू करइया मेनु
Name[hr]=Izbornik pokretača aplikacija
Name[hsb]=Meni startowarja aplikacijow
Name[hu]=Programindító menü
Name[ia]=Menu de Lanceator de application
Name[id]=Menu Peluncur Aplikasi
Name[is]=Valmynd forritaræsingar
Name[it]=Menu dell'avviatore di applicazioni
Name[ja]=アプリケーション起動メニュー
Name[kk]=Қолданбаны жегу мәзірі
Name[km]=ម៉ឺនុយ​កម្មវិធី​ចាប់ផ្ដើម​កម្មវិធី
Name[kn]=ಅನ್ವಯ ಪ್ರಕ್ಷೇಪಕ (ಲಾಚರ್) ಪರಿವಿಡಿ
Name[ko]=프로그램 실행기 메뉴
Name[lt]=Programų paleidiklio meniu
Name[lv]=Programmu palaidēja izvēlne
Name[ml]=പ്രയോഗവിക്ഷേപിണി മെനു
Name[mr]=अनुप्रयोग प्रक्षेपक मेन्यू
Name[nb]=Meny for programstarter
Name[nds]=Programmoproopmenü
Name[nl]=Programmastartermenu
Name[nn]=Programstartmeny
Name[or]=ପ୍ରୟୋଗ ଆରମ୍ଭକର୍ତ୍ତା ତାଲିକା
Name[pa]=ਐਪਲੀਕੇਸ਼ਨ ਲਾਂਚਰ ਮੇਨੂ
Name[pl]=Menu aktywatora programów
Name[pt]=Menu do Lançador de Aplicações
Name[pt_BR]=Menu do lançador de aplicativos
Name[ro]=Meniu pentru lansatorul de aplicații
Name[ru]=Классическое меню запуска приложений
Name[se]=Prográmmaálggahanfállu
Name[si]=යෙදුම් ඇරඹුම් මෙනුව
Name[sk]=Spúšťač aplikácií (menu)
Name[sl]=Meni zaganjalnika programov
Name[sr]=мени за покретање програма
Name[sr@ijekavian]=мени за покретање програма
Name[sr@ijekavianlatin]=meni za pokretanje programa
Name[sr@latin]=meni za pokretanje programa
Name[sv]=Programstartmeny
Name[ta]=பயன்பாடு ஏவல் தளம்
Name[te]=అనువర్తనముల లాంచర్ మెనూ
Name[tg]=Менюи оғози барномаҳо
Name[th]=เมนูเรียกใช้งานโปรแกรม
Name[tr]=Uygulama Başlatma Menüsü
Name[ug]=پروگرامما ئىجرا قىلغۇچ تىزىملىكى
Name[uk]=Інструмент запуску програм з меню
Name[vi]=Trình đơn chạy ứng dụng
Name[wa]=Dressêye d' enondeu di programe
Name[x-test]=xxApplication Launcher Menuxx
Name[zh_CN]=应用程序启动菜单
Name[zh_TW]=應用程式啟動器選單
Comment=Traditional menu based application launcher
Comment[af]=Tradisionele kieslys as programlanseerder
Comment[ar]=مطلق تطبيقات تقليدي على شكل قائمة
Comment[ast]=Llanzador d'aplicaciones tradicional basáu en menú
Comment[be@latin]=Tradycyjnaje menu dla ŭklučeńnia aplikacyjaŭ
Comment[bg]=Традиционно стартиране на програми с меню
Comment[bs]=Tradicionalno pokretanje programa pomoću menija
Comment[ca]=Llançador d'aplicacions basat en el menú tradicional
Comment[ca@valencia]=Llançador d'aplicacions basat en el menú tradicional
Comment[cs]=Tradiční spouštěč aplikací založený na nabídce
Comment[da]=Traditionel menubaseret startmenu
Comment[de]=Programmstarter mit traditionellen Menüs
Comment[el]=Παραδοσιακό μενού εκτέλεσης εφαρμογών
Comment[en_GB]=Traditional menu based application launcher
Comment[eo]=La kutima menua bazita aplikaĵolanĉilo
Comment[es]=Lanzador de aplicaciones tradicional basado en menú
Comment[et]=Rakenduste käivitajale tuginev traditsiooniline menüü
Comment[eu]=Menuetan oinarritutako aplikazio jaurtitzaile tradizionala
Comment[fi]=Perinteinen valikkopohjainen sovellusten käynnistin
Comment[fr]=Lanceur d'applications utilisant un menu traditionnel
Comment[fy]=Tradisjoneel menu bassearre applikaasje úteinsetter
Comment[ga]=Tosaitheoir traidisiúnta feidhmchlár bunaithe ar roghchlár
Comment[gl]=Un iniciador de programas baseado no menú tradicional
Comment[gu]=પરંપરાગત મેનુ આધારિત કાર્યક્રમમ ચલાવનાર
Comment[he]=משגר יישומים מסורתי מבוסס תפריטים
Comment[hi]=पारंपरिक मेन्यू आधारित अनुप्रयोग चलाने वाला
Comment[hne]=परंपरा वाले मेनु आधारित अनुपरयोग चालू करइया
Comment[hr]=Tradicionalni pokretač baziran na izbornicima
Comment[hsb]=Tradicionalny, na meniju bazowacy startowar aplikacijow
Comment[hu]=Hagyományos programindító menü
Comment[ia]=Lanceator de application basate sur menu traditional
Comment[id]=Menu tradisional berbasis peluncur aplikasi
Comment[is]=Venjuleg valmyndabyggð forritaræsing
Comment[it]=Avviatore di applicazioni tradizionale basato su menu
Comment[ja]=Kickoff ランチャーに基づく従来のアプリケーション起動メニュー
Comment[kk]=Қолданба жеккішті негіздейтін дәстүрлі мәзір
Comment[km]=ម៉ឺនុយ​បន្ថែម​មាន​មូលដ្ឋាន​លើ​កម្មវិធី​ចាប់ផ្ដើម​កម្មវិធី
Comment[kn]=ಸಾಂಪ್ರದಾಯಿಕ ಪರಿವಿಡಿ ಆಧಾರಿತ ಅನ್ವಯ ಪ್ರಕ್ಷೇಪಕ (ಲಾಂಚರ್)
Comment[ko]=전통적인 메뉴 기반 프로그램 실행기
Comment[lt]=Tradicinio meniu programų paleidiklis
Comment[lv]=Tradicionālais uz izvēlnēm bāzētais programmu palaidējs
Comment[mk]=Традиционален стартувач на апликации базиран на мени
Comment[ml]=പരമ്പരാഗതമായ മെനുഅടിസ്ഥാനമാക്കിയുള്ള പ്രയോഗവിക്ഷേപിണി
Comment[mr]=पारंपारिक मेन्यू आधारित अनुप्रयोग प्रक्षेपक
Comment[nb]=Tradisjonell menybasert programstarter
Comment[nds]=Begäng Programmoproper mit Menüs
Comment[nl]=Traditioneel menu voor het starten van programma's
Comment[nn]=Tradisjonell menybasert programstartar
Comment[or]=ପ୍ରଥାଗତ ତାଲିକା ଆଧାରିତ ପ୍ରୟୋଗ ଆରମ୍ଭକର୍ତ୍ତା
Comment[pa]=ਆਮ ਮੇਨੂ ਅਧਾਰਿਤ ਐਪਲੀਕੇਸ਼ਨ ਲਾਂਚਰ
Comment[pl]=Tradycyjny, oparty o menu, aktywator programów
Comment[pt]=Lançador de aplicações baseado num menu tradicional
Comment[pt_BR]=Lançador de aplicativos baseado no menu tradicional
Comment[ro]=Lansator de aplicații bazat pe meniu tradițional
Comment[ru]=Традиционное меню запуска приложений
Comment[se]=Árbevirolaš fállovuođđoduvvun prográmmaálggaheaddji
Comment[si]=සාම්ප්‍රදායික මෙනු පාදක කරගන් යෙදුම් අරඹනය
Comment[sk]=Tradičný spúšťač aplikácií založený na menu
Comment[sl]=Zaganjalnik programov, ki temelji na tradicionalnem meniju
Comment[sr]=Традиционално покретање програма помоћу менија
Comment[sr@ijekavian]=Традиционално покретање програма помоћу менија
Comment[sr@ijekavianlatin]=Tradicionalno pokretanje programa pomoću menija
Comment[sr@latin]=Tradicionalno pokretanje programa pomoću menija
Comment[sv]=Traditionell menybaserad programstart
Comment[ta]=Traditional menu based application launcher
Comment[te]=సాంప్రదాయ మెనూ ఆధారిత అనువర్తనం లాంచర్
Comment[tg]=Традиционное средство запуска приложений на основе меню
Comment[th]=เมนูแบบดั้งเดิมสำหรับเรียกใช้งานโปรแกรม
Comment[tr]=Geleneksel menü temelli uygulama başlatıcı
Comment[ug]=تىزىملىك ئاساسىدىكى ئەنئەنىۋى پروگرامما ئىجرا قىلغۇچ
Comment[uk]=Інструмент запуску програм з традиційним меню
Comment[wa]=Enondeu d' programe båzé sol tradicionele dressêye
Comment[x-test]=xxTraditional menu based application launcherxx
Comment[zh_CN]=基于菜单的传统程序启动器
Comment[zh_TW]=傳統選單式的應用程式啟動器
Icon=start-here-kde
Type=Service
X-KDE-ServiceTypes=Plasma/Applet
X-KDE-Library=plasma_applet_simplelauncher
X-KDE-PluginInfo-Author=Robert Knight
X-KDE-PluginInfo-Email=robertknight@gmail.com
X-KDE-PluginInfo-Name=simplelauncher
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=http://plasma.kde.org/
X-KDE-PluginInfo-Category=Application Launchers
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=false

X-Plasma-Requires-FileDialog=Unused
X-Plasma-Requires-LaunchApp=Required

