[Desktop Entry]
Comment=Default desktop toolbox for the Plasma desktop shell
Comment[ar]=صندوق أدوات سطح المكتب الافتراضي لصدفة سطح مكتب بلازما
Comment[ast]=Barra de ferramientes pal escritoriu por defeutu pal shell Plasma
Comment[bg]=Стандартен набор инструменти за настолната обвивка Plasma
Comment[bs]=Podrazumijevana alatnica površi za plazma školjku površi
Comment[ca]=Quadre d'eines per defecte de l'escriptori per l'entorn de treball de l'escriptori Plasma
Comment[ca@valencia]=Quadre d'eines per defecte de l'escriptori per l'entorn de treball de l'escriptori Plasma
Comment[cs]=Výchozí nástroje pracovní plochy pro Plasma shell pracovní plochy
Comment[da]=Standard skrivebordsværktøjskasse til Plasma desktop-skal
Comment[de]=Standard-Werkzeugkasten für die Plasma-Arbeitsflächen-Umgebung
Comment[el]=Η προκαθορισμένη εργαλειοθήκη επιφάνειας εργασίας για το κέλυφος της επιφάνειας εργασίας Plasma
Comment[en_GB]=Default desktop toolbox for the Plasma desktop shell
Comment[es]=Caja de herramientas de escritorio predeterminada de la shell del escritorio Plasma
Comment[et]=Plasma töölauakooriku vaikimisi töölaua tööriistakast
Comment[eu]=Plasma mahaigaineko maskorrarentzako tresna-kutxa lehenetsia
Comment[fi]=Plasma-työpöytäkuoren oletustyöpöydän työkalupakki
Comment[fr]=Boîte à outils de bureau par défaut pour le shell du bureau Plasma
Comment[gl]=A caixa de ferramentas predeterminada da shell de escritorio Plasma
Comment[he]=ארגז־הכלים ברירת המחדל של שולחן העבודה למעטפת שולחן העבודה של Plasma
Comment[hr]=Zadani okvir s alatima radne površine za Plasma ljusku radne površine
Comment[hu]=Alapértelmezett asztali eszközkészlet a Plasma asztali héjhoz
Comment[ia]=Instrumentario predefinite pro le shell de scriptorio de Plasma
Comment[is]=Gagnvirkni með Plasma skjáborðsskelinni
Comment[it]=Strumenti predefiniti del desktop per la shell del desktop di Plasma
Comment[ja]=Plasma デスクトップシェルの標準デスクトップツールボックス
Comment[kk]=Plasma үстел ортасының әдетті үстел құралдары
Comment[km]=ប្រអប់​ឧបករណ៍​ផ្ទៃតុ​លំនាំដើម​សម្រាប់​សែល​ផ្ទៃតុ​ប្លា​ស្មា
Comment[ko]=Plasma 데스크톱 셸의 기본 데스크톱 도구 상자
Comment[lt]=Numatytoji plasmos darbastalio apvalkalo darbastalio įrankinė
Comment[lv]=Noklusētā darbvirsmas rīkkaste Plasma darbvirsmas čaulai
Comment[mr]=प्लाज्मा डेस्कटॉप शेलसाठी मूलभूत डेस्कटॉप साधने
Comment[nb]=Standard skrivebordsverktøykasse for Plasma skrivebordsskallet
Comment[nds]=Standard-Schriefdischwarktüüch för de Plasma-Schriefdischkonsool
Comment[nl]=Standaard bureaubladhulpmiddelen voor de Plasma bureaublad-shell
Comment[pa]=ਪਲਾਜ਼ਮਾ ਡੈਸਕਟਾਪ ਸ਼ੈੱਲ ਲਈ ਡਿਫਾਲਟ ਡੈਸਕਟਾਪ ਟੂਲਬਾਕਸ
Comment[pl]=Domyślny przybornik pulpitu dla powłoki pulpitu plazmy
Comment[pt]=A barra de ferramentas predefinida para a área de trabalho do Plasma
Comment[pt_BR]=A barra de ferramentas padrão para a área de trabalho do Plasma
Comment[ro]=Trusa de unelte implicită a biroului pentru învelișul de birou Plasma
Comment[ru]=Стандартные инструменты настройки для оболочки рабочего стола Plasma
Comment[sk]=Štandardné nástroje plochy pre shell plochy Plasma
Comment[sl]=Privzeti nabor orodij za Namizno lupino Plasma
Comment[sr]=Подразумевана алатница површи за плазма шкољку површи
Comment[sr@ijekavian]=Подразумевана алатница површи за плазма шкољку површи
Comment[sr@ijekavianlatin]=Podrazumevana alatnica površi za plasma školjku površi
Comment[sr@latin]=Podrazumevana alatnica površi za plasma školjku površi
Comment[sv]=Standardskrivbordsverktyg för Plasma skrivbordsskalet
Comment[th]=เครื่องมือพื้นที่ทำงานปริยายสำหรับเชลล์พื้นที่ทำงานแบบพลาสมา
Comment[tr]=Plasma masaüstü kabuğu için öntanımlı masaüstü araç kutusu
Comment[ug]=پلازما ئۈستەلئۈستى shell ئۈچۈن كۆڭۈلدىكى ئۈستەلئۈستى قورال ساندۇقى
Comment[uk]=Типовий набір інструментів стільниці для оболонки Плазми стаціонарних комп’ютерів
Comment[vi]=Hộp công cụ màn hình mặc định cho vỏ desktop Plasma
Comment[wa]=Usteye di scribanne prémetowe pol shell di scribanne Plasma
Comment[x-test]=xxDefault desktop toolbox for the Plasma desktop shellxx
Comment[zh_CN]=Plasma 桌面外壳的默认桌面工具箱
Comment[zh_TW]=預設的 Plasma 桌面 shell 的桌面工具盒
Icon=plasma
Name=Desktop toolbox
Name[ar]=صندوق أدوات سطح المكتب
Name[ast]=Caxa de ferramientes del escritoriu
Name[bg]=Настолна кутия с инструменти
Name[bs]=Alatnica površi
Name[ca]=Quadre d'eines de l'escriptori
Name[ca@valencia]=Quadre d'eines de l'escriptori
Name[cs]=Nástroje plochy
Name[da]=Skrivebordsværktøjskasse
Name[de]=Werkzeugkasten für die Arbeitsfläche
Name[el]=Εργαλεία επιφάνειας εργασίας
Name[en_GB]=Desktop toolbox
Name[es]=Caja de herramientas del escritorio
Name[et]=Töölaua tööriistakast
Name[eu]=Mahaigaineko tresna-kutxa
Name[fi]=Työpöydän työkalupakki
Name[fr]=Boîte à outils de bureau
Name[gl]=Caixa de ferramentas do escritorio
Name[he]=ארגז־הכלים של שולחן העבודה
Name[hi]=डेस्कटॉप औजार पट्टी
Name[hr]=Okvir s alatima radne površine
Name[hu]=Asztali eszközdoboz
Name[ia]=Instrumentario de scriptorio
Name[is]=Skjáborðsverkfærasafn
Name[it]=Strumenti per desktop
Name[ja]=デスクトップツールボックス
Name[kk]=Үстел құралдары
Name[km]=ប្រអប់​ឧបករណ៍​ផ្ទៃតុ
Name[kn]=ಪೂರ್ವನಿಯೋಜಿತ ಉಪಕರಣಪಟ್ಟಿ
Name[ko]=데스크톱 도구 상자
Name[lt]=Darbastalio įrankinė
Name[lv]=Darbvirsmas rīkkaste
Name[mr]=डेस्कटॉप साधने
Name[nb]=Skrivebordsverktøykasse
Name[nds]=Warktüüch för den Schriefdisch
Name[nl]=Bureaubladhulpmiddel
Name[pa]=ਡੈਸਕਟਾਪ ਟੂਲਬਾਕਸ
Name[pl]=Przybornik pulpitu
Name[pt]=Barra de ecrãs
Name[pt_BR]=Barra de ferramentas da área de trabalho
Name[ro]=Trusa de unelte a biroului
Name[ru]=Инструменты Plasma
Name[sk]=Nástroje plochy
Name[sl]=Orodja za namizje
Name[sr]=Алатница површи
Name[sr@ijekavian]=Алатница површи
Name[sr@ijekavianlatin]=Alatnica površi
Name[sr@latin]=Alatnica površi
Name[sv]=Skrivbordsverktygslåda
Name[th]=เครื่องมือพื้นที่ทำงาน
Name[tr]=Masaüstü araç kutusu
Name[ug]=ئۈستەلئۈستى قورال ساندۇقى
Name[uk]=Набір інструментів для стаціонарних комп’ютерів
Name[vi]=Hộp công cụ màn hình
Name[wa]=Boesse ås usteyes do scribanne
Name[x-test]=xxDesktop toolboxxx
Name[zh_CN]=桌面工具箱
Name[zh_TW]=桌面工具盒
Type=Service

X-KDE-ServiceTypes=Plasma/ToolBox
X-KDE-Library=plasma_toolbox_desktoptoolbox
X-KDE-PluginInfo-Author=Marco Martin
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-Email=mart@kde.org
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-Name=org.kde.desktoptoolbox
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=http://plasma.kde.org/

