[Desktop Entry]
Name=Bookmarks
Name[af]=Boekmerke
Name[ar]=العلامات
Name[as]=পত্ৰচিহ্ন
Name[ast]=Marcadores
Name[be]=Закладкі
Name[be@latin]=Zakładki
Name[bg]=Отметки
Name[bn]=বুকমার্ক
Name[bn_IN]=বুকমার্ক
Name[br]=Sinedoù
Name[bs]=Zabilješke
Name[ca]=Adreces d'interès
Name[ca@valencia]=Adreces d'interés
Name[cs]=Záložky
Name[csb]=Załóżczi
Name[cy]=Nodau Tudalen
Name[da]=Bogmærker
Name[de]=Lesezeichen
Name[el]=Σελιδοδείκτες
Name[en_GB]=Bookmarks
Name[eo]=Legosignoj
Name[es]=Marcadores
Name[et]=Järjehoidjad
Name[eu]=Laster-markak
Name[fa]=چوب الفها
Name[fi]=Kirjanmerkit
Name[fr]=Signets
Name[fy]=Blêdwizers
Name[ga]=Leabharmharcanna
Name[gl]=Marcadores
Name[gu]=બુકમાર્ક્સ
Name[he]=סימניות
Name[hi]= पसंदीदा 
Name[hne]=निसानी 
Name[hr]=Oznake
Name[hsb]=Lubuški
Name[hu]=Könyvjelzők
Name[ia]=Marcatores de libro
Name[id]=Penanda
Name[is]=Bókamerki
Name[it]=Segnalibri
Name[ja]=ブックマーク
Name[ka]=სანიშნეები
Name[kk]=Бетбелгі
Name[km]=ចំណាំ
Name[kn]=ಅಂಕನಗಳು (ಬುಕ್ ಮಾರ್ಕ್)
Name[ko]=책갈피
Name[ku]=Bijare
Name[lt]=Žymelės
Name[lv]=Grāmatzīmes
Name[mai]=पुस्तकचिह्न
Name[mk]=Обележувачи
Name[ml]=ഓര്‍മ്മക്കുറിപ്പുകള്‍
Name[mr]=ओळखचिन्ह
Name[ms]=Tanda Buku
Name[nb]=Bokmerker
Name[nds]=Leestekens
Name[ne]=पुस्तकचिनो
Name[nl]=Bladwijzers
Name[nn]=Bokmerke
Name[oc]=Marca-paginas
Name[or]=ଚିହ୍ନିତ ସ୍ଥାନ
Name[pa]=ਬੁੱਕਮਾਰਕ
Name[pl]=Zakładki
Name[pt]=Favoritos
Name[pt_BR]=Favoritos
Name[ro]=Semne de carte
Name[ru]=Закладки
Name[se]=Girjemearkkat
Name[si]=පිටු සලකුණු
Name[sk]=Záložky
Name[sl]=Zaznamki
Name[sr]=Обележивачи
Name[sr@ijekavian]=Обиљеживачи
Name[sr@ijekavianlatin]=Obilježivači
Name[sr@latin]=Obeleživači
Name[sv]=Bokmärken
Name[ta]=நினைவுக்குறிகள்
Name[te]=పేజి గుర్తులు
Name[tg]=Хатчӯбмонӣ
Name[th]=ที่คั่นหน้า
Name[tr]=Yer İmleri
Name[ug]=خەتكۈشلەر
Name[uk]=Закладки
Name[uz]=Xatchoʻplar
Name[uz@cyrillic]=Хатчўплар
Name[vi]=Dấu trang
Name[wa]=Rimarkes
Name[xh]=Amanqaku eencwadi
Name[x-test]=xxBookmarksxx
Name[zh_CN]=书签
Name[zh_TW]=書籤
Comment=List all your bookmarks
Comment[ar]=اسرد كل علاماتك
Comment[ast]=Llistar tolos tos marcadores
Comment[bg]=Списък с отметките ви
Comment[bs]=Nabraja sve vaše zabilješke
Comment[ca]=Llista totes les adreces d'interès
Comment[ca@valencia]=Llista totes les adreces d'interés
Comment[cs]=Seznam všech vašich záložek
Comment[csb]=Wëskrzëni wszëtczé twòjé załóżczi
Comment[da]=Oplist alle dine bogmærker
Comment[de]=Alle Lesezeichen auflisten
Comment[el]=Λίστα με όλους τους σελιδοδείκτες
Comment[en_GB]=List all your bookmarks
Comment[eo]=Listi ĉiujn viajn legosignojn
Comment[es]=Listar todos sus marcadores
Comment[et]=Kõigi järjehoidjate loend
Comment[eu]=Zerrendatu zure liburu-marka guztiak
Comment[fi]=Luettelo kaikista kirjanmerkeistäsi
Comment[fr]=Liste tous vos signets
Comment[fy]=All jo blêdwizers opsomme
Comment[ga]=Taispeáin do chuid leabharmharcanna
Comment[gl]=Enumera todos os marcadores
Comment[gu]=તમારા બધાં બુકમાર્ક્સની યાદી બતાવો
Comment[he]=משמש להצגת כל הסימניות שלך
Comment[hi]=सभी पसंदीदा दिखाएँ
Comment[hr]=Izlistaj sve moje oznake
Comment[hu]=Kilistázza az összes könyvjelzőt
Comment[ia]=Il lista tote tu marcatores de libro
Comment[id]=Tampilkan semua penanda anda
Comment[is]=Listar öll bókamerkin þín
Comment[it]=Elenca tutti i segnalibri
Comment[ja]=すべてのブックマークを一覧表示します
Comment[kk]=Барлық бетбелгілер тізімі
Comment[km]=រាយ​ចំណាំ​របស់​អ្នក​ទាំងអស់
Comment[kn]=ಇರಬಹುದಾದ ಎಲ್ಲಾ ಅಂಕನಗಳನ್ನು(ಬುಕ್ ಮಾರ್ಕ್) ಪಟ್ಟಿ ಮಾಡು
Comment[ko]=모든 책갈피를 표시합니다
Comment[lt]=Rodyti visas jūsų žymeles
Comment[lv]=Parāda visas jūsu grāmatzīmes
Comment[mk]=Прикажете ги сите ваши обележувачи
Comment[ml]=എല്ലാ അടയാളക്കുറിപ്പുകളും കാണിയ്ക്കുക
Comment[mr]=तुमच्या सर्व ओळखचिन्हांची यादी करा
Comment[nb]=List alle dine bokmerker
Comment[nds]=All Dien Leestekens oplisten
Comment[nl]=Alle bladwijzers tonen
Comment[nn]=Vis alle bokmerka
Comment[pa]=ਤੁਹਾਡੇ ਸਭ ਬੁੱਕਮਾਰਕ ਦੀ ਲਿਸਟ
Comment[pl]=Wykaz wszystkich twoich zakładek
Comment[pt]=Apresentar todos os seus favoritos
Comment[pt_BR]=Lista todos os seus favoritos
Comment[ro]=Enumeră toate semnele de carte
Comment[ru]=Список всех ваших закладок
Comment[si]=ඔබේ පොත්සලකුණු සියල්ල ලැයිස්තුගත කරන්න
Comment[sk]=Zoznam všetkých záložiek
Comment[sl]=Izpiše seznam vseh zaznamkov
Comment[sr]=Набраја све ваше обележиваче
Comment[sr@ijekavian]=Набраја све ваше обиљеживаче
Comment[sr@ijekavianlatin]=Nabraja sve vaše obilježivače
Comment[sr@latin]=Nabraja sve vaše obeleživače
Comment[sv]=Lista alla bokmärken
Comment[tg]=Ҷустуҷӯи замимаҳо
Comment[th]=เรียกดูที่คั่นหน้าทั้งหมดของคุณ
Comment[tr]=Tüm yer imlerini listele
Comment[ug]=ھەممە خەتكۈچلەر تىزىمى
Comment[uk]=Список всіх ваших закладок
Comment[vi]=Liệt kê tất cả đánh dấu trang của bạn
Comment[wa]=Fé l' djivêye di totes vos rimarkes
Comment[x-test]=xxList all your bookmarksxx
Comment[zh_CN]=列出所有书签
Comment[zh_TW]=列出所有的書籤
Icon=bookmarks

Type=Service
X-KDE-ServiceTypes=Plasma/Sal/Menu
X-KDE-PluginInfo-Name=plasma-sal-bookmarks

X-Plasma-Sal-Url=krunner://bookmarks/bookmarks
X-Plasma-Sal-Relevance=9
