[Desktop Entry]
Name=Python data engine
Name[ar]=محرك بيانات بايثون
Name[ast]=Motor de datos de Python
Name[be@latin]=Systema źviestak u movie „Python”
Name[bg]=Ядро за данни с Python
Name[bn_IN]=Python ডাটা ইঞ্জিন
Name[bs]=Python pogon podataka
Name[ca]=Motor de dades en Python
Name[ca@valencia]=Motor de dades en Python
Name[cs]=Rozhraní v Pythonu
Name[csb]=Czérownik Phythona
Name[da]=Datamotor til Python
Name[de]=Python-Datentreiber
Name[el]=Μηχανή δεδομένων Python
Name[en_GB]=Python data engine
Name[eo]=Pitona datuma motoro
Name[es]=Motor de datos de Python
Name[et]=Pythoni andmete mootor
Name[eu]=Python datu motorea
Name[fi]=Python-tietomoottori
Name[fr]=Moteur de données Python
Name[fy]=Python gegevens motor
Name[ga]=Inneall sonraí Python
Name[gl]=Motor de datos de Python
Name[gu]=પાયથોન માહિતી એન્જિન
Name[he]=מנוע תוכן של Python
Name[hi]=पायथन डाटा इंजिन
Name[hne]=पायथन डाटा इंजिन
Name[hr]=Pythonov podatkovni mehanizam
Name[hu]=Adatkezelő modul Python nyelven
Name[ia]=Motor de datos de Python
Name[id]=Mesin data Python
Name[is]=Python gagnavél
Name[it]=Motore di dati di Python
Name[ja]=Python データエンジン
Name[kk]=Python деректер тетігі
Name[km]=ម៉ាស៊ីន​ទិន្នន័យ Python
Name[kn]=ಪೈಥಾನ್ ದತ್ತಾಂಶ ಎಂಜಿನ್
Name[ko]=파이썬 데이터 엔진
Name[lt]=Python duomenų variklis
Name[lv]=Python datu dzinējs
Name[ml]=പൈത്തണ്‍ ഡേറ്റാ എഞ്ചിന്‍
Name[mr]=Python माहिती इन्जीन
Name[nb]=Python datamotor
Name[nds]=Python-Datenkarn
Name[nl]=Python (gegevensengine)
Name[nn]=Python-datamotor
Name[or]=ପାଇଥନ ତଥ୍ୟ ମେସିନ
Name[pa]=ਪਾਈਥਨ ਡਾਟਾ ਇੰਜਣ
Name[pl]=Silnik danych w Pythonie
Name[pt]=Motor de dados Python
Name[pt_BR]=Mecanismo de dados Python
Name[ro]=Motor de date Python
Name[ru]=Источник данных на языке Python
Name[si]=Python data engine
Name[sk]=Python dátový nástroj
Name[sl]=Podatkovni vir v Pythonu
Name[sr]=питонски датомотор
Name[sr@ijekavian]=питонски датомотор
Name[sr@ijekavianlatin]=Python datomotor
Name[sr@latin]=Python datomotor
Name[sv]=Python datagränssnitt
Name[ta]=Python data engine
Name[tg]=Системаи санаи Python
Name[th]=กลไกข้อมูลภาษาไพธอน
Name[tr]=Python veri motoru
Name[ug]=Python سانلىق-مەلۇمات ماتورى
Name[uk]=Рушій даних Python
Name[wa]=Moteur di dnêyes Python
Name[x-test]=xxPython data enginexx
Name[zh_CN]=Python 数据引擎
Name[zh_TW]=Python 資料引擎
Comment=Plasma data engine support for Python
Comment[ar]=دعم محرك بيانات بلازما للبايثون
Comment[ast]=Sofitu del motor de datos de plasma pa Python
Comment[be@latin]=Absłuhoŭvańnie systemy źviestak „Plasma” u movie „Python”
Comment[bg]=Поддръжка за създаване на ядра за данни на Plasma с Python
Comment[bs]=Podrška plazma pogona podataka za Python
Comment[ca]=Implementació de motor de dades del Plasma per al Python
Comment[ca@valencia]=Implementació de motor de dades del Plasma per al Python
Comment[cs]=Podpora datového rozhraní Plasmy v Pythonu
Comment[da]=Plasma datamotor-understøttelse af Python
Comment[de]=Unterstützung für Plasma-Datentreiber in Python
Comment[el]=Υποστήριξη μηχανής δεδομένων Plasma για την Python
Comment[en_GB]=Plasma data engine support for Python
Comment[eo]=Plasma datummotora apogo por Pitono
Comment[es]=Soporte del motor de datos de plasma para Python
Comment[et]=Plasma andmemootori toetus Pythonile
Comment[eu]=Plasma datu motorearen Python-entzako euskarria
Comment[fi]=Plasma-tietomoottorituki Python-kielelle
Comment[fr]=Prise en charge du moteur de données Python pour Plasma
Comment[fy]=Plasma-gegevensmotor-stipe foar Python
Comment[ga]=Tacaíocht innill sonraí Plasma le haghaidh Python
Comment[gl]=Motor de datos de Plasma para dar soporte a Python
Comment[gu]=પાયથોન માટે પ્લાઝમા માહિતી એન્જિન આધાર
Comment[he]=תמיכה במנועי תוכן של Plasma עבור Python
Comment[hi]=पायथन के लिए प्लाज्मा डाटा इंजिन समर्थन
Comment[hne]=पायथन बर प्लाज्मा डाटा इंजिन सपोर्ट
Comment[hr]=Plasmin podatkovni mehanizam koji podržava Python
Comment[hu]=Plazma adatkezelő modul Pythonhoz
Comment[ia]=Supporto de motor de datos de Plasma pro Python
Comment[id]=Mesin data Plasma didukung oleh Python
Comment[is]=Plasma gagnavélarstuðningur fyrir Python
Comment[it]=Supporto al motore di dati di Plasma per Python
Comment[ja]=Python のための Plasma データエンジンのサポート
Comment[kk]=Python деректер тетігінің Plasma қолдауы
Comment[km]=កា​រគាំទ្រ​ម៉ាស៊ីន​ទិន្នន័យ​ប្លាស្មា​សម្រាប់ Python
Comment[kn]=ಪೈಥಾನ್‌ಗಾಗಿ ಪ್ಲಾಸ್ಮಾ ದತ್ತ ಸಾಧನದ ಬೆಂಬಲ
Comment[ko]=파이썬을 위한 Plasma 데이터 엔진 지원
Comment[lt]=Plasma duomenų variklio palaikymas Python kalbai
Comment[lv]=Plasma datu dzinēju atbalsts Python
Comment[ml]=പൈത്തിണിനുള്ള പ്ലാസ്മ ഡാറ്റാഎഞ്ചിന്‍ പിന്തുണ
Comment[mr]=Python करिता Plasma माहिती इन्जीन समर्थन
Comment[nb]=Plasma datamotor-støtte for Python
Comment[nds]=Plasma-Datenkarnünnerstütten för Python
Comment[nl]=Plasma-gegevensengine-ondersteuning voor Python
Comment[nn]=Plasma-datamotorstøtte for Python
Comment[or]=ପାଇଥନ ପାଇଁ ପ୍ଲାଜମା ତଥ୍ୟ ମେସିନ ସମର୍ଥନ
Comment[pa]=ਪਾਈਥਨ ਲਈ ਪਲਾਜ਼ਮਾ ਡਾਟਾ ਇੰਜਣ ਸਹਿਯੋਗ
Comment[pl]=Obsługa silnika danych Plazmy w Pythonie
Comment[pt]=Suporte para os motores de dados do Plasma em Python
Comment[pt_BR]=Suporte aos mecanismos de dados em Python
Comment[ro]=Suport motor de date Plasma pentru Python
Comment[ru]=Поддержка источников данных для Python
Comment[si]=Plasma data engine support for Python
Comment[sk]=Podpora dátového nástroja plasmy pre Python
Comment[sl]=Podpora za podatkovne vire napisane v Pythonu
Comment[sr]=Подршка плазма датомотора за питон
Comment[sr@ijekavian]=Подршка плазма датомотора за питон
Comment[sr@ijekavianlatin]=Podrška plasma datomotora za Python
Comment[sr@latin]=Podrška plasma datomotora za Python
Comment[sv]=Plasma datagränssnittstöd för Python
Comment[ta]=Plasma data engine support for Python
Comment[te]=ఫైథాన్ మద్దతుకొరకు ప్లాస్మా డాటా యింజన్
Comment[tg]=Пуштибонии Python дар асоси маълумоти Plasma
Comment[th]=กลไกข้อมูลของพลาสมาที่เป็นภาษาไพธอน
Comment[tr]=Python için Plasma veri motoru desteği
Comment[ug]=Python نىڭ Plasma سانلىق-مەلۇمات ماتورىنى قوللىشى
Comment[uk]=Підтримка у рушіях даних для Python
Comment[wa]=Sopoirt po Python do moteur di dnêyes di Plasma
Comment[x-test]=xxPlasma data engine support for Pythonxx
Comment[zh_CN]=Python 的 Plasma 数据引擎支持
Comment[zh_TW]=支援 Python 的 Plasma 資料引擎

X-KDE-ServiceTypes=Plasma/ScriptEngine
Type=Service
Icon=text-x-script
X-KDE-Library=kpythonpluginfactory
X-KDE-PluginKeyword=plasma_scriptengine_python/pydataengine.py
X-EngineName=pythondataengine
X-Plasma-API=python
X-Plasma-ComponentTypes=DataEngine
