[Desktop Entry]
Name=JavaScript Runner
Name[ar]=مشغل جافا سكربت
Name[ast]=Motor de javascript
Name[be@latin]=Uklučeńnie „JavaScript”
Name[bg]=Изпълнение на JavaScript
Name[bn]=জাভাস্ক্রিপ্ট রানার
Name[bn_IN]=JavaScript Runner
Name[bs]=Javascript izvođač
Name[ca]=Executor de JavaScript
Name[ca@valencia]=Executor de JavaScript
Name[cs]=Spouštěč JavaScriptu
Name[csb]=Mòtór JavaScript
Name[da]=JavaScript-runner
Name[de]=JavaScript-Ausführung
Name[el]=Εκτελεστής JavaScript
Name[en_GB]=JavaScript Runner
Name[eo]=Ruligilo de Ĝavaskripto
Name[es]=Lanzador JavaScript
Name[et]=JavaScripti käivitaja
Name[eu]=JavaScript abiarazlea
Name[fa]=اجراکننده جاوااسکریپت
Name[fi]=JavaScript-suoritusohjelma
Name[fr]=Lanceur JavaScript
Name[fy]=JavaSkript rinner
Name[ga]=Feidhmitheoir JavaScript
Name[gl]=Executor de JavaScript
Name[gu]=જાવાસ્ક્રિપ્ટ ચલાવનાર
Name[he]=מריץ JavaScript
Name[hi]=जावास्क्रिप्ट चलाने वाला
Name[hne]=जावास्क्रिप्ट चलइया
Name[hr]=JavaScript Pokretač
Name[hu]=JavaScript-indító
Name[ia]=JavaScript Executor
Name[id]=Pelari JavaScript
Name[is]=JavaScript keyrari
Name[it]=Esecutore JavaScript
Name[ja]=JavaScript Runner
Name[kk]=JavaScript жеккіші
Name[km]=កម្មវិធី​រត់ JavaScript
Name[kn]=ಜಾವಾ ವಿಧಿಗುಚ್ಛ (ಸ್ಕ್ರಿಪ್ಟ್) ಚಾಲಕ
Name[ko]=자바스크립트 실행기
Name[ku]=Xebatkara JavaScriptê
Name[lt]=JavaScript paleidiklis
Name[lv]=JavaScript darbinātājs
Name[mk]=Извршувач на JavaScript
Name[ml]=ജാവാസ്ക്രിപ്റ്റ് റണ്ണര്‍
Name[mr]=जावास्क्रिप्ट चालक
Name[nb]=JavaScript-kjører
Name[nds]=JavaScript-Dreger
Name[nl]=JavaScript-runner
Name[nn]=JavaScript-køyrar
Name[or]=JavaScript ଚାଳକ
Name[pa]=ਜਾਵਾ-ਸਕ੍ਰਿਪਟ ਰਨਰ
Name[pl]=Silnik JavaScript
Name[pt]=Execução de JavaScript
Name[pt_BR]=Mecanismo JavaScript
Name[ro]=Executor JavaScript
Name[ru]=JavaScript Runner
Name[si]=JavaScript ධාවකය
Name[sk]=Spúšťač JavaScriptu
Name[sl]=Zaganjalnik JavaScripta
Name[sr]=јаваскриптни извођач
Name[sr@ijekavian]=јаваскриптни извођач
Name[sr@ijekavianlatin]=JavaScript izvođač
Name[sr@latin]=JavaScript izvođač
Name[sv]=Kör Javascript
Name[ta]=JavaScript Runner
Name[te]=జావాస్క్రిప్‍ట్ నడుపునది
Name[tg]=Иҷрогари JavaScript
Name[th]=ตัวประมวลผลจาวาสคริปต์
Name[tr]=JavaScript Çalıştırıcı
Name[ug]=JavaScript ئىجراچىسى
Name[uk]=Механізм запуску JavaScript
Name[vi]=Trình chạy JavaScript
Name[wa]=Enondeu JavaScript
Name[x-test]=xxJavaScript Runnerxx
Name[zh_CN]=JavaScript 运行器
Name[zh_TW]=JavaScript 執行器
Comment=JavaScript Runner
Comment[ar]=مشغل جافا سكربت
Comment[ast]=Motor de javascript
Comment[be@latin]=Uklučeńnie „JavaScript”.
Comment[bg]=Изпълнение на JavaScript
Comment[bn]=জাভাস্ক্রিপ্ট চালক
Comment[bn_IN]=JavaScript Runner
Comment[bs]=Javascript izvođač
Comment[ca]=Executor de JavaScript
Comment[ca@valencia]=Executor de JavaScript
Comment[cs]=Spouštěč JavaScriptu
Comment[csb]=Zrëszôcz JavaScript 
Comment[da]=JavaScript-runner
Comment[de]=JavaScript-Ausführung
Comment[el]=Εκτελεστής JavaScript
Comment[en_GB]=JavaScript Runner
Comment[eo]=Ruligilo de Ĝavaskripto
Comment[es]=Lanzador JavaScript
Comment[et]=JavaScripti käivitaja
Comment[eu]=JavaScript abiarazlea
Comment[fa]=اجراکننده جاوااسکریپت
Comment[fi]=JavaScript-suoritusohjelma
Comment[fr]=Lanceur JavaScript
Comment[fy]=JavaSkript rinner
Comment[ga]=Feidhmitheoir JavaScript
Comment[gl]=Executor de JavaScript
Comment[gu]=જાવાસ્ક્રિપ્ટ ચલાવનાર
Comment[he]=מריץ JavaScript
Comment[hi]=जावास्क्रिप्ट चलाने वाला
Comment[hne]=जावास्क्रिप्ट चलइया
Comment[hr]=JavaScript pokretač
Comment[hu]=JavaScript-indító
Comment[ia]=JavaScript Executor
Comment[id]=Pelari JavaScript
Comment[is]=JavaScript keyrari
Comment[it]=Esecutore JavaScript
Comment[ja]=JavaScript Runner
Comment[kk]=JavaScript жеккіші
Comment[km]=កម្មវិធី​រត់ JavaScript
Comment[kn]=ಜಾವಾ ವಿಧಿಗುಚ್ಛ (ಸ್ಕ್ರಿಪ್ಟ್) ಚಾಲಕ
Comment[ko]=자바스크립트 실행기
Comment[ku]=Xebatkara JavaScriptê
Comment[lt]=JavaScript paleidiklis
Comment[lv]=JavaScript darbinātājs
Comment[mk]=Извршувач на JavaScript
Comment[ml]=ജാവാസ്ക്രിപ്റ്റ് റണ്ണര്‍
Comment[mr]=जावास्क्रिप्ट चालक
Comment[nb]=JavaScript-kjører
Comment[nds]=JavaScript-Dreger
Comment[nl]=JavaScript-runner
Comment[nn]=JavaScript-køyrar
Comment[or]=JavaScript ଚାଳକ
Comment[pa]=ਜਾਵਾ-ਸਕ੍ਰਿਪਟ ਰਨਰ
Comment[pl]=Silnik JavaScript
Comment[pt]=Execução de JavaScript
Comment[pt_BR]=Mecanismo JavaScript
Comment[ro]=Executor JavaScript
Comment[ru]=Модуль запуска, написанный на языке JavaScript
Comment[si]=JavaScript Runner
Comment[sk]=Spúšťač JavaScriptu
Comment[sl]=Zaganjalnik JavaScripta
Comment[sr]=Јаваскриптни извођач
Comment[sr@ijekavian]=Јаваскриптни извођач
Comment[sr@ijekavianlatin]=JavaScript izvođač
Comment[sr@latin]=JavaScript izvođač
Comment[sv]=Kör Javascript
Comment[ta]=JavaScript Runner
Comment[te]=జావాస్క్రిప్‍ట్ నడుపునది
Comment[tg]=Иҷрогари JavaScript
Comment[th]=ตัวประมวลผลจาวาสคริปต์
Comment[tr]=JavaScript Çalıştırıcı
Comment[ug]=JavaScript ئىجراچىسى
Comment[uk]=Механізм запуску JavaScript
Comment[vi]=Trình chạy JavaScript
Comment[wa]=Enondeu JavaScript
Comment[x-test]=xxJavaScript Runnerxx
Comment[zh_CN]=JavaScript 运行器
Comment[zh_TW]=JavaScript 執行器
X-KDE-ServiceTypes=Plasma/ScriptEngine
Type=Service
Icon=text-x-script
X-KDE-Library=plasma_runnerscript_javascript
X-Plasma-API=javascript
X-Plasma-ComponentTypes=Runner
