[Desktop Entry]
Name=Dashboard
Name[ar]=لوحة الودجات
Name[ast]=Tableru de mandos
Name[be@latin]=Dashboard
Name[bg]=Табло
Name[bn]=ড্যাশবোর্ড
Name[bn_IN]=Dashboard
Name[bs]=instrument-tabla
Name[ca]=Tauler
Name[ca@valencia]=Tauler
Name[cs]=Dashboard
Name[csb]=Panel
Name[da]=Instrumentbræt
Name[de]=Dashboard
Name[el]=Πίνακας συστατικών
Name[en_GB]=Dashboard
Name[eo]=Stirtablo
Name[es]=Tablero de mandos
Name[et]=Vidinavaade
Name[eu]=Aginte-mahaia
Name[fi]=Kojelauta
Name[fr]=Panneau de contrôle
Name[fy]=Dashboard
Name[ga]=Dashboard
Name[gl]=Cadro de control
Name[gu]=ડેશબોર્ડ
Name[he]=מכתבה
Name[hi]=डैशबोर्ड
Name[hne]=डेशबोर्ड
Name[hr]=Nadzorna ploča
Name[hu]=Dashboard
Name[ia]=Pannello de instrumentos
Name[id]=Dasbor
Name[is]=Dashboard
Name[it]=Dashboard
Name[ja]=ダッシュボード
Name[kk]=Аспаптар панелі
Name[km]=ផ្ទាំង​គ្រប់គ្រង
Name[kn]=ಯಂತ್ರೋಪಕರಣ ಪಟ್ಟಿ  (ಡಾಶ್ ಬೋರ್ಡ್)
Name[ko]=대시보드
Name[ku]=Panela Kontrolê
Name[lt]=Prietaisų skydelis
Name[lv]=Dashboard
Name[ml]=ഡാഷ്ബോര്‍ഡ്
Name[mr]=डॅशबोर्ड
Name[nb]=Kontrollpult
Name[nds]=Klockpaneel
Name[nl]=Dashboard
Name[nn]=Kontrollpult
Name[or]=ଡ୍ୟାସବୋର୍ଡ
Name[pa]=ਡੈਸ਼ਬੋਰਡ
Name[pl]=Tablica
Name[pt]=Dashboard
Name[pt_BR]=Painel
Name[ro]=Tablou de bord
Name[ru]=Приборная доска
Name[si]=පාලක පුරුව
Name[sk]=Nástenka
Name[sl]=Nadzorna plošča
Name[sr]=инструмент-табла
Name[sr@ijekavian]=инструмент-табла
Name[sr@ijekavianlatin]=instrument-tabla
Name[sr@latin]=instrument-tabla
Name[sv]=Instrumentpanel
Name[ta]= எக்ஸ்போர்டு
Name[te]=డాష్‌బోర్‍డ్
Name[tg]=Панели иловагиҳо
Name[th]=แดชบอร์ด
Name[tr]=Kontrol Paneli
Name[ug]=باشقۇرۇش بېتى
Name[uk]=Панель приладів
Name[vi]=Bảng thông tin
Name[wa]=Tåvlea d' boird
Name[x-test]=xxDashboardxx
Name[zh_CN]=部件板
Name[zh_TW]=資訊看板
Comment=MacOS X dashboard widget
Comment[ar]=ودجة لوحة MacOS
Comment[ast]=Elementu gráficu del tableru de mandos de MacOS X
Comment[be@latin]=Widžet „Dashboard” systemy „MacOS X”.
Comment[bg]=Джаджа за табло на MacOS X
Comment[bs]=Grafička kontrola instrument-table MacOS‑a X
Comment[ca]=Estri del tauler del MacOS X
Comment[ca@valencia]=Estri del tauler del MacOS X
Comment[cs]=Widget palubní desky MacOS
Comment[da]=MacOS X dashboard-widget
Comment[de]=MacOS-X-Dashboard-Miniprogramm
Comment[el]=Συστατικό MacOS X dashboard
Comment[en_GB]=MacOS X dashboard widget
Comment[eo]=MacOS X stirtabla fenestraĵo
Comment[es]=Elemento gráfico del tablero de mandos de MacOS X
Comment[et]=MacOS X vidinavaate vidin
Comment[eu]=MacOS X aginte-mahaiko trepeta
Comment[fi]=MacOS X -kojelautasovelma
Comment[fr]=Composant graphique du panneau de contrôle de MacOS X
Comment[fy]=MacOS X dashboard widget
Comment[ga]=Giuirléid Dashboard MacOS X
Comment[gl]=Widget do dashboard de MacOS X
Comment[gu]=MacOS X ડેશબોર્ડ વિજેટ
Comment[he]=ווידג׳טים של MacOS X dashboard
Comment[hi]=मैकओएस X डैशबोर्ड विजेट
Comment[hne]=मेकओएस X डेसबोर्ड विजेट
Comment[hr]=MacOS X nadzorna ploča za widgete
Comment[hu]=MacOS X Dashboard-elem
Comment[ia]=Widget de pannello de instrumentos de MacOS X
Comment[id]=Widget dasbor MacOS X
Comment[is]=MacOS X dashboard græja
Comment[it]=Oggetto della Dashboard di MacOS X
Comment[ja]=MacOS X ダッシュボードウィジェット
Comment[kk]=MacOS X аспаптар панелі
Comment[km]=ធាតុ​ក្រាហ្វិក​ផ្ទាំងគ្រប់គ្រង​របស់ MacOS
Comment[kn]=MacOS X ಯಂತ್ರೋಪಕರಣ ಪಟ್ಟಿ  (ಡಾಶ್ ಬೋರ್ಡ್) ನಿಯಂತ್ರಣಾ ಸಂಪರ್ಕತಟ (ವಿಡ್ಗೆಟ್)
Comment[ko]=Mac OS X 대시보드 위젯
Comment[ku]=Amûrê MacOS X dashboardê
Comment[lt]=MacOS X prietaisų skydelio valdiklis
Comment[lv]=MacOS X dashboard sīkrīks
Comment[ml]=മാക് ഓഎസ് എക്സ് ഡാഷ്ബോര്‍ഡ് ഉരുപ്പടി
Comment[mr]=MacOS X डॅशबोर्ड विजेट
Comment[nb]=MacOS X kontrollpult-element
Comment[nds]=MacOs-X-Klockpaneel
Comment[nl]=MacOS X-dashboard-widget
Comment[nn]=MacOS X-kontrollpultelement
Comment[or]=MacOS X ଡ୍ୟାସବୋର୍ଡ ୱିଜେଟ
Comment[pa]=MacOS X ਡੈਸ਼ਬੋਰਡ ਵਿਦਜੈੱਟ
Comment[pl]=Element interfejsu przypominający tablicę z MacOS X
Comment[pt]=Elemento gráfico do painel do MacOS X
Comment[pt_BR]=Widget do painel do MacOS X
Comment[ro]=Control al tabloului de bord MacOS X
Comment[ru]=Виджет Mac OS X
Comment[si]=MacOS X dashboard widget
Comment[sk]=MacOS X dashboard widget
Comment[sl]=Gradnik za Mac OS X Dashboard
Comment[sr]=Виџет инструмент-табле МекОС‑а X
Comment[sr@ijekavian]=Виџет инструмент-табле МекОС‑а X
Comment[sr@ijekavianlatin]=Vidžet instrument-table MacOS‑a X
Comment[sr@latin]=Vidžet instrument-table MacOS‑a X
Comment[sv]=Grafisk komponent för MacOS X instrumentpanel
Comment[ta]=MacOS X dashboard widget
Comment[te]=MacOS X డాష్‌బోర్‍డ్ విడ్జట్
Comment[tg]=Илова ба панели MacOS X
Comment[th]=วิดเจ็ตของแดชบอร์ด MacOS X
Comment[tr]=MacOS X kontrol paneli programcığı
Comment[ug]=MacOS X تىزگىن تاختا ۋىجېتى
Comment[uk]=Віджет панелі приладів MacOS X
Comment[vi]=Widget bảng thông tin MacOS X
Comment[wa]=Ahesse do tåvlea d' boird dashboard di MacOS X
Comment[x-test]=xxMacOS X dashboard widgetxx
Comment[zh_CN]=MacOS X 部件板
Comment[zh_TW]=MacOS X 資訊看板元件
Type=Service
ServiceTypes=Plasma/ScriptEngine
Icon=internet-web-browser

X-KDE-Library=plasma_appletscriptengine_dashboard
X-KDE-PluginInfo-Author=Zack Rusin
X-KDE-PluginInfo-Email=zackr@kde.org
X-KDE-PluginInfo-Name=dashboard
X-KDE-PluginInfo-Version=pre0.1
X-KDE-PluginInfo-Website=http://plasma.kde.org/
X-KDE-PluginInfo-Category=Applet
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=BSD
X-KDE-PluginInfo-EnabledByDefault=true
X-Plasma-ComponentTypes=Applet
X-Plasma-API=dashboard
X-Plasma-PackageFormat=dashboard
