[Desktop Entry]
Name=Collection
Name[ar]=المجموعة
Name[ast]=Coleición
Name[be@latin]=Zbor
Name[bg]=Колекция
Name[bn]=সংকলন
Name[bs]=Kolekcija
Name[ca]=Col·lecció
Name[ca@valencia]=Col·lecció
Name[cs]=Sbírka
Name[csb]=Kòlekcëjô
Name[da]=Samling
Name[de]=Sammlung
Name[el]=Συλλογή
Name[en_GB]=Collection
Name[eo]=Kolekto
Name[es]=Colección
Name[et]=Kollektsioon
Name[eu]=Bilduma
Name[fa]=مجموعه
Name[fi]=Kokoelma
Name[fr]=Collection
Name[fy]=Kolleksje
Name[ga]=Bailiúchán
Name[gl]=Colección
Name[gu]=ભંડોળ
Name[he]=אוסף
Name[hi]=शब्द पूर्णता
Name[hr]=Kolekcija
Name[hu]=Gyűjtemény
Name[hy]=Հավաքածու
Name[ia]=Collection
Name[id]=Koleksi
Name[is]=Safn
Name[it]=Collezione
Name[ja]=コレクション
Name[kk]=Collection
Name[km]=សម្រាំង
Name[kn]=ಸಮೂಹ
Name[ko]=모음집
Name[ku]=Berhevok
Name[lt]=Rinkinys
Name[lv]=Kolekcija
Name[ml]=കൂട്ടം
Name[mr]=संग्रह
Name[ms]=Koleksi
Name[nb]=Samling
Name[nds]=Sammeln
Name[nl]=Verzameling
Name[nn]=Samling
Name[pa]=ਭੰਡਾਰ
Name[pl]=Kolekcja
Name[pt]=Colecção
Name[pt_BR]=Coleção
Name[ro]=Colecție
Name[ru]=Коллекция
Name[se]=Čoahkádus
Name[si]=එකතුව
Name[sk]=Kolekcia
Name[sl]=Zbirka
Name[sq]=Koleksioni
Name[sr]=збирка
Name[sr@ijekavian]=збирка
Name[sr@ijekavianlatin]=zbirka
Name[sr@latin]=zbirka
Name[sv]=Samling
Name[ta]=சேகரங்கள்
Name[tg]=Коллексия
Name[th]=ชุดสะสม
Name[tr]=Koleksiyon
Name[tt]=Коллекция
Name[ug]=توپلام
Name[uk]=Збірка
Name[vi]=Bộ sưu tập
Name[wa]=Ramexhnêye
Name[x-test]=xxCollectionxx
Name[zh_CN]=收藏
Name[zh_TW]=收藏
Type=Service
Icon=utilities-desktop-extra
NoDisplay=true
X-KDE-ServiceTypes=Plasma/Applet
X-KDE-PluginInfo-Name=internal:extender
X-KDE-PluginInfo-EnabledByDefault=false
