[Desktop Entry]
Name=Python wallpaper
Name[ar]=خلفية شاشة مكتوبة باستخدام بايثون
Name[ast]=Fondu d'escritoriu en Python
Name[bg]=Тапети с Python
Name[bn]=পাইথন ওয়ালপেপার
Name[bs]=Python pozadinska slika
Name[ca]=Fons d'escriptori en Python
Name[ca@valencia]=Fons d'escriptori en Python
Name[cs]=Python pozadí plochy
Name[da]=Python-baggrundsbillede
Name[de]=Python-Hintergrundbild
Name[el]=Ταπετσαρία Python
Name[en_GB]=Python wallpaper
Name[eo]=Pitona ekranfono
Name[es]=Fondo de escritorio en Python
Name[et]=Pythoni taustapilt
Name[eu]=Python hormapapera
Name[fi]=Python-taustakuva
Name[fr]=Papier peint Python
Name[fy]=Python eftergrûnôfbylding
Name[ga]=Cúlbhrat Python
Name[gl]=Fondo de escritorio en Python
Name[gu]=પાયથોન વોલપેપર
Name[he]=רקע לשולחן עבודה של Python
Name[hr]=Python podloga
Name[hu]=Python háttérkép
Name[ia]=Tapete de papiro de Python 
Name[id]=Wallpaper Python
Name[is]=Python veggfóður
Name[it]=Sfondo per Python
Name[ja]=Python 壁紙
Name[kk]=Python тұсқағазы
Name[km]=ផ្ទាំង​រូបភាព​របស់ Python
Name[kn]=ಪೈಥಾನ್ ಹಿನ್ನೆಲೆ ತೆರೆಚಿತ್ರ (ವಾಲ್ ಪೇಪರ್)
Name[ko]=파이썬 배경 그림
Name[lt]=Python darbastalio fonas
Name[lv]=Python ekrāntapete
Name[ml]=പൈത്തണ്‍ ചുവര്‍ചിത്രം
Name[mr]=पायथोन वॉलपेपर
Name[nb]=Python bakgrunnsbilde
Name[nds]=Python-Achtergrundbild
Name[nl]=Python-achtergrondafbeelding
Name[nn]=Python-bakgrunnsbilete
Name[pa]=ਪਾਈਥਨ ਵਾਲਪੇਪਰ
Name[pl]=Tapeta w Pythonie
Name[pt]=Papel de parede em Python
Name[pt_BR]=Papel de parede em Python
Name[ro]=Fundal Python
Name[ru]=Обои рабочего стола на языке Python
Name[si]=Python වෝල්පේපර
Name[sk]=Python tapeta
Name[sl]=Ozadje v Pythonu
Name[sr]=питонски тапет
Name[sr@ijekavian]=питонски тапет
Name[sr@ijekavianlatin]=Python tapet
Name[sr@latin]=Python tapet
Name[sv]=Python skrivbordsunderlägg
Name[tg]=Барномаи Plasma
Name[th]=ภาพพื้นหลังของโปรแกรมไพธอน
Name[tr]=Python duvar kağıdı
Name[ug]=Python تام قەغىزى
Name[uk]=Шпалери для Python
Name[wa]=Tapisreye Python
Name[x-test]=xxPython wallpaperxx
Name[zh_CN]=Python 壁纸
Name[zh_TW]=Python 桌布
Comment=Plasma wallpaper support for Python
Comment[ar]=دعم خلفية شاشة بلازما لبايثون
Comment[ast]=Fondos de pantalla de Plasma pa Python
Comment[bg]=Поддръжка за работа с тапети на Plasma с Python
Comment[bs]=Podrška plazma pozadinskih slika za Python
Comment[ca]=Implementació de fons d'escriptori del Plasma per al Python
Comment[ca@valencia]=Implementació de fons d'escriptori del Plasma per al Python
Comment[cs]=Podpora Plasma pozadí plochy pro Python
Comment[da]=Understøttelse af Plasma wallpaper til Python
Comment[de]=Unterstützung in Plasma für Python-Hintergrundbilder
Comment[el]=Υποστήριξη ταπετσαρίας Plasma για την Python
Comment[en_GB]=Plasma wallpaper support for Python
Comment[es]=Fondos de pantalla de Plasma para Python
Comment[et]=Plasma taustapildi toetus Pythonile
Comment[eu]=Plasma hormapaper euskarria Python-entzako
Comment[fi]=Plasma-taustakuvatuki Python-kielelle
Comment[fr]=Prise en charge du papier peint de Plasma pour Python
Comment[fy]=Plasma eftergrûnôfbylding stipe foar Python
Comment[gl]=Compatibilidade de Python co fondo de escritorio de Plasma
Comment[he]=תמיכה ברקעי שולחן עבודה של Plasma עבור Python
Comment[hi]=पायथन के लिए प्लाज्मा वालपेपर समर्थन
Comment[hr]=Plasmina podloga koja podržava Python
Comment[hu]=Plasma-háttérkép támogatás Pythonhoz
Comment[ia]=Supporto de tapete de papiro pro Python 
Comment[id]=Wallpeper Plasma yang mendukung Python
Comment[is]=Plasma veggfóðurstuðningur fyrir Python
Comment[it]=Supporto per lo sfondo di Plasma per Python
Comment[ja]=Python のための Plasma の壁紙
Comment[kk]=Plasma-дағы Python тұсқағазының қолдауы
Comment[km]=ការ​គាំទ្រ​​ផ្ទាំង​​រូបភាព​ប្លាស្មា​សម្រាប់ Python
Comment[kn]=ಪೈಥಾನ್‌ಗಾಗಿ ಪ್ಲಾಸ್ಮಾ ಗಣಕತೆರೆ ಹಿನ್ನೆಲೆ ಚಿತ್ರ ಬೆಂಬಲ
Comment[ko]=파이썬을 위한 Plasma 배경 그림 지원
Comment[lt]=Plasma apmušalo palaikymas Python kalbai
Comment[lv]=Plasma ekrāntapetes atbalsts Python
Comment[ml]=പൈത്തിണിനുള്ള പ്ലാസ്മ ചുമര്‍ച്ചിത്ര പിന്തുണ
Comment[mr]=पायथोन करिता प्लाज्मा वॉलपेपर समर्थन
Comment[nb]=Plasma bakgrunnsbilde-støtte for Python
Comment[nds]=Plasma-Achtergrundünnerstütten för Python
Comment[nl]=Plasma-achtergrondafbeelding-ondersteuning voor Python
Comment[nn]=Plasma-bakgrunnsbiletstøtte for Python
Comment[pa]=ਪਾਈਥਨ ਲਈ ਪਲਾਜ਼ਮਾ ਵਾਲਪੇਪਰ ਸਹਿਯੋਗ
Comment[pl]=Obsługa tapet Plazmy w Pythonie
Comment[pt]=Suporte para os papéis de parede do Plasma em Python
Comment[pt_BR]=Suporte aos mecanismos a papéis de parede do Plasma em Python
Comment[ro]=Suport fundaluri Plasma pentru Python
Comment[ru]=Поддержка обоев рабочего стола на языке Python
Comment[si]=Python සඳහා ප්ලාස්මා වෝල්පේපර් සහය
Comment[sk]=Podpora tapiet plasmy pre Python
Comment[sl]=Podpora za ozadja napisana v Pythonu
Comment[sr]=Подршка плазма тапета за питон
Comment[sr@ijekavian]=Подршка плазма тапета за питон
Comment[sr@ijekavianlatin]=Podrška plasma tapeta za Python
Comment[sr@latin]=Podrška plasma tapeta za Python
Comment[sv]=Plasma skrivbordsunderläggsstöd för Python
Comment[tg]=Пуштибонии Python дар асоси маълумоти Plasma
Comment[th]=ภาพพื้นหลังของพลาสมาที่รองรับสำหรับโปรแกรมภาษาไพธอน
Comment[tr]=Python için Plasma duvar kağıdı desteği
Comment[ug]=Python نى قوللايدىغان Plasma تام قەغەز
Comment[uk]=Підтримка Python у шпалерах Плазми
Comment[wa]=Sopoirt po Python del tapisreye di Plasma
Comment[x-test]=xxPlasma wallpaper support for Pythonxx
Comment[zh_CN]=支持 Python 的 Plasma 壁纸
Comment[zh_TW]=支援 Python 的 Plasma 桌布

X-KDE-ServiceTypes=Plasma/ScriptEngine
Type=Service
Icon=text-x-script
X-KDE-Library=kpythonpluginfactory
X-KDE-PluginKeyword=plasma_scriptengine_python/pywallpaper.py
X-EngineName=pythonwallpaper
X-Plasma-API=python
X-Plasma-ComponentTypes=Wallpaper
