[Desktop Entry]
Name=Games
Name[af]=Speletjies
Name[ar]=ألعاب
Name[as]=খেলা
Name[ast]=Xuegos
Name[be]=Гульні
Name[be@latin]=Hulni
Name[bg]=Игри
Name[bn]=খেলা
Name[bn_IN]=খেলা
Name[br]=C'hoarioù
Name[bs]=Igre
Name[ca]=Jocs
Name[ca@valencia]=Jocs
Name[cs]=Hry
Name[csb]=Grë
Name[cy]=Gemau
Name[da]=Spil
Name[de]=Spiele
Name[el]=Παιχνίδια
Name[en_GB]=Games
Name[eo]=Ludoj
Name[es]=Juegos
Name[et]=Mängud
Name[eu]=Jokoak
Name[fa]=بازیها
Name[fi]=Pelit
Name[fr]=Jeux
Name[fy]=Amusemint
Name[ga]=Cluichí
Name[gl]=Xogos
Name[gu]=રમતો
Name[he]=משחקים
Name[hi]=खेल
Name[hne]=खेल
Name[hr]=Igre
Name[hsb]=Hry
Name[hu]=Játékok
Name[ia]=Jocos
Name[id]=Permainan
Name[is]=Leikir
Name[it]=Giochi
Name[ja]=ゲーム
Name[ka]=თამაშები
Name[kk]=Ойындар
Name[km]=ល្បែង
Name[kn]=ಆಟಗಳು
Name[ko]=게임
Name[ku]=Listîk
Name[lt]=Žaidimai
Name[lv]=Spēles
Name[mai]=खेल
Name[mk]=Игри
Name[ml]=കളികള്‍
Name[mr]=खेळ
Name[ms]=Permainan
Name[nb]=Spill
Name[nds]=Spelen
Name[ne]=खेल
Name[nl]=Amusement
Name[nn]=Spel
Name[oc]=Jòcs
Name[or]=ଖେଳ
Name[pa]=ਖੇਡਾਂ
Name[pl]=Gry
Name[pt]=Jogos
Name[pt_BR]=Jogos
Name[ro]=Jocuri
Name[ru]=Игры
Name[se]=Spealut
Name[si]=ක්‍රීඩා
Name[sk]=Hry
Name[sl]=Igre
Name[sr]=Игре
Name[sr@ijekavian]=Игре
Name[sr@ijekavianlatin]=Igre
Name[sr@latin]=Igre
Name[sv]=Spel
Name[ta]=விளையாட்டுகள்
Name[te]=ఆటలు
Name[tg]=Бозиҳо
Name[th]=เกมต่าง ๆ
Name[tr]=Oyunlar
Name[ug]=ئويۇنلار
Name[uk]=Ігри
Name[uz]=Oʻyinlar
Name[uz@cyrillic]=Ўйинлар
Name[vi]=Trò chơi
Name[wa]=Djeus
Name[xh]=Imidlalo
Name[x-test]=xxGamesxx
Name[zh_CN]=游戏
Name[zh_TW]=遊戲
Comment=A collection of fun games
Comment[ar]=مجموعة من الألعاب المسلية
Comment[ast]=Un garrapiellu de xuegos prestosos
Comment[bg]=Набор от забавни игри
Comment[bn]=মজাদার খেলার একটি সংগ্রহ
Comment[bs]=Zbirka igara za razonodu
Comment[ca]=Una col·lecció de jocs divertits
Comment[ca@valencia]=Una col·lecció de jocs divertits
Comment[cs]=Sbírka zábavných her
Comment[csb]=Zbiérk grów dlô szpôsu
Comment[da]=En samling af sjove spil
Comment[de]=Eine Sammlung Spielspaß
Comment[el]=Μια συλλογή παιχνιδιών για διασκέδαση
Comment[en_GB]=A collection of fun games
Comment[eo]=Amuza ludaro
Comment[es]=Una colección de juegos
Comment[et]=Lahedate mängude kogu
Comment[eu]=Joku dibertigarri bilduma bat
Comment[fi]=Hauskojen pelien kokoelma
Comment[fr]=Une collection de jeux amusants
Comment[fy]=In samling grappige spultsjes
Comment[ga]=Bailiúchán de chluichí taitneamhacha
Comment[gl]=Unha colección de xogos
Comment[gu]=આનંદમય રમતોનો સંગ્રહ
Comment[he]=אוסף משחקי כיף
Comment[hi]=मस्ती भरे खेल
Comment[hr]=Zbirka zabavnih igara
Comment[hu]=Szórakoztató játékok gyűjteménye
Comment[ia]=Un collection de jocos divertente
Comment[id]=Koleksi permainan seru
Comment[is]=Safn sniðugra leikja
Comment[it]=Una raccolta di giochi divertenti
Comment[ja]=楽しいゲームのコレクション
Comment[kk]=Ойындар жинағы
Comment[km]=បណ្ដុំ​ល្បែង​កំសាន្ត​ជា​ច្រើន
Comment[kn]=ಮನೋರಂಜನಾ ಆಟಗಳ ಸಂಗ್ರಹ
Comment[ko]=재미있는 게임 모음
Comment[lt]=Linksmų žaidimų rinkinys
Comment[lv]=Jautru spēļu krājums
Comment[mk]=Колекција од забавни игри
Comment[ml]=തമാശയുള്ള കളികളുടെ ശേഖരം
Comment[mr]=मनोरंजक खेळांचा संग्रह
Comment[nb]=En samling underholdende spill
Comment[nds]=En Sammeln vun Spaaßspelen
Comment[nl]=Een verzameling van grappige  spellen
Comment[nn]=Ei samling morosame spel
Comment[pa]=ਖੇਡ ਤਮਾਸ਼ਿਆਂ ਦਾ ਭੰਡਾਰ
Comment[pl]=Kolekcja zabawnych gier
Comment[pt]=Uma colecção de jogos engraçados
Comment[pt_BR]=Uma coleção de jogos divertidos
Comment[ro]=Colecție de jocuri distractive
Comment[ru]=Коллекция весёлых игр
Comment[si]=විනෝද ක්‍රීඩා එකතුවක්
Comment[sk]=Kolekcia zábavných hier
Comment[sl]=Zbirka zabavnih iger
Comment[sr]=Збирка игара за разоноду
Comment[sr@ijekavian]=Збирка игара за разоноду
Comment[sr@ijekavianlatin]=Zbirka igara za razonodu
Comment[sr@latin]=Zbirka igara za razonodu
Comment[sv]=En samling roliga spel
Comment[tg]=Маҷмӯъи бозиҳои хушӣ
Comment[th]=ชุดเกมสนุก ๆ ต่าง ๆ
Comment[tr]=Neşeli oyunlar koleksiyonu
Comment[ug]=بىر توپلام قىزىقارلىق ئويۇنلار
Comment[uk]=Збірка веселих ігор
Comment[wa]=Ene ramexhnêye di zûnants djeus
Comment[x-test]=xxA collection of fun gamesxx
Comment[zh_CN]=一组趣味游戏
Comment[zh_TW]=好玩遊戲的集合
Icon=applications-games

Type=Service
X-KDE-ServiceTypes=Plasma/Sal/Menu
X-KDE-PluginInfo-Name=plasma-sal-games

X-Plasma-Sal-Url=kservicegroup://root/Games/
X-Plasma-Sal-Relevance=1
