[Desktop Entry]
Name=JavaScript Widget
Name[ar]=ودجة جافا سكربت
Name[ast]=Elementu gráficu JavaScript
Name[be@latin]=Widžet „JavaScript”
Name[bg]=Джаджа JavaScript
Name[bn]=জাভাস্ক্রিপ্ট উইজেট
Name[bn_IN]=JavaScript Widget
Name[bs]=Javascript grafička kontrola
Name[ca]=Estri del JavaScript
Name[ca@valencia]=Estri del JavaScript
Name[cs]=JavaScript Widget
Name[csb]=Interfejs JavaScript 
Name[da]=JavaScript-widget
Name[de]=JavaScript-Programm
Name[el]=Συστατικό JavaScript
Name[en_GB]=JavaScript Widget
Name[eo]=Ĝavaskripta fenestraĵo
Name[es]=Elemento gráfico JavaScript
Name[et]=JavaScripti vidin
Name[eu]=JavaScript trepeta
Name[fa]=ویجت جاوااسکریپت
Name[fi]=JavaScript-sovelma
Name[fr]=Composant graphique JavaScript
Name[fy]=JavaSkript Widget
Name[ga]=Giuirléid JavaScript
Name[gl]=Widget de JavaScript
Name[gu]=જાવાસ્ક્રિપ્ટ વિજેટ
Name[he]=ווידג׳ט JavaScript
Name[hi]=जावास्क्रिप्ट विज़ेट
Name[hne]=जावास्क्रिप्ट विजेट
Name[hr]=JavaScript widgeti
Name[hu]=JavaScript-objektum
Name[ia]=JavaScript Widget
Name[id]=Widget JavaScript
Name[is]=JavaScript græja
Name[it]=Oggetto JavaScript
Name[ja]=JavaScript ウィジェット
Name[kk]=JavaScript интерфейс бөлшегі
Name[km]=ធាតុ​ក្រាហ្វិក JavaScript
Name[kn]=ಜಾವಾ ವಿಧಿಗುಚ್ಛ ನಿಯಂತ್ರಣಾ ಸಂಪರ್ಕತಟ (ವಿಡ್ಗೆಟ್)
Name[ko]=자바스크립트 위젯
Name[ku]=Amîra JavaScriptê
Name[lt]=JavaScript valdiklis
Name[lv]=JavaScript sīkrīks
Name[ml]=ജാവാസ്ക്രിപ്റ്റ് വിഡ്ജറ്റ്
Name[mr]=जावास्क्रिप्ट विजेट
Name[nb]=JavaScript-skjermelement
Name[nds]=JavaScript-Finster
Name[nl]=JavaScript-widget
Name[nn]=JavaScript-element
Name[or]=JavaScript ୱିଜେଟ
Name[pa]=ਜਾਵਾ-ਸਕ੍ਰਿਪਟ ਵਿਦਜੈੱਟ
Name[pl]=Element interfejsu w JavaScript
Name[pt]=Elemento de JavaScript
Name[pt_BR]=Widget de JavaScript
Name[ro]=Miniaplicație JavaScript
Name[ru]=Виджет на языке JavaScript
Name[si]=Python මෙවලම්
Name[sk]=JavaScript widget
Name[sl]=Gradnik v JavaScriptu
Name[sr]=јаваскриптни виџет
Name[sr@ijekavian]=јаваскриптни виџет
Name[sr@ijekavianlatin]=JavaScript vidžet
Name[sr@latin]=JavaScript vidžet
Name[sv]=Grafisk Javascript-komponent
Name[ta]=JavaScript Widget
Name[te]=జావాస్క్రిప్‍ట్ విడ్‍జ్‌ట్
Name[tg]=Видҷети JavaScript
Name[th]=วิดเจ็ตภาษาจาวาสคริปต์
Name[tr]=JavaScript Programcığı
Name[ug]=JavaScript ۋىجېتى
Name[uk]=Віджет JavaScript
Name[vi]=Widget Javascript
Name[wa]=Ahesse JavaScript
Name[x-test]=xxJavaScript Widgetxx
Name[zh_CN]=JavaScript 部件
Name[zh_TW]=JavaScript 元件
Comment=Native Plasma widget written in JavaScript
Comment[ar]=ودجة بلازما أصلية كتبت بجافا سكربت
Comment[ast]=Elementu gráficu nativu de Plasma escritu en JavaScript
Comment[be@latin]=Widžet systemy „Plasma”, napisany ŭ movie „JavaScript”
Comment[bg]=Оригинална джаджа за Plasma, написана с JavaScript
Comment[bs]=Samosvojni plazma grafička kontrola napisana u javaskriptu
Comment[ca]=Estri nadiu del Plasma escrit en JavaScript
Comment[ca@valencia]=Estri nadiu del Plasma escrit en JavaScript
Comment[cs]=Nativní Plasma widget napsaný v JavaScriptu
Comment[csb]=Prôwdzëwi widżet Plasmë napisóny w JavaScript
Comment[da]=Native Plasma-widget skrevet i JavaScript
Comment[de]=Echtes Plasma-Programm, geschrieben in JavaScript
Comment[el]=Εγγενές συστατικό Plasma γραμμένο σε JavaScript
Comment[en_GB]=Native Plasma widget written in JavaScript
Comment[eo]=Indiĝena fenestraĵo de Plasmo programita per Ĝavaskripto
Comment[es]=Elemento gráfico nativo de Plasma escrito en JavaScript
Comment[et]=JavaScriptis kirjutatud Plasma vidin
Comment[eu]=Plasma jatorrizko trepeta JavaScript-en idatzia
Comment[fi]=Natiivi, JavaScript-pohjainen Plasma-sovelma
Comment[fr]=Composant graphique natif de Plasma écrit en JavaScript
Comment[fy]=Plasma widget skreaun yn JavaSkript
Comment[ga]=Giuirléid dhúchasach Plasma, scríofa i JavaScript
Comment[gl]=Widget nativo de Plasma escrito en JavaScript
Comment[gu]=જાવાસ્ક્રિપ્ટમાં લખાયેલ સ્થાનિક પ્લાઝમા વિજેટ
Comment[he]=ווידג׳ט של Plasma הנכתב ב־JavaScript
Comment[hi]=जावास्क्रिप्ट में लिखा गया नेटिव प्लाज्मा विजेट
Comment[hne]=जावास्क्रिप्ट मं लिखे नेटिव प्लाज्मा विजेट
Comment[hr]=Izvorna Plasma widget napisana u JavaScriptu
Comment[hu]=Plasma-elem Javascriptben elkészítve
Comment[ia]=Widget native de Plasma scribite in JavaScript
Comment[id]=Widget Plasma asli yang ditulis dalam JavaScript
Comment[is]=Upprunabundin Plasma græja skrifuð í JavaScript
Comment[it]=Oggetto nativo di Plasma scritto in JavaScript
Comment[ja]=JavaScript で書かれた Plasma のネイティブウィジェット
Comment[kk]=JavaScript-те жазылған Plasma тума виджеті
Comment[km]=ធាតុ​ក្រាហ្វិក​ប្លាស្មា​ដើម ដែល​សរសេរ​ក្នុង JavaScript
Comment[kn]=ಜಾವಾ ಸ್ಕ್ರಿಪ್ಟ್ ನಲ್ಲಿ ಬರೆಯಲಾದ ಸ್ವಾಭಾವಿಕ ಪ್ಲಾಸ್ಮಾ ನಿಯಂತ್ರಣಾ ಸಂಪರ್ಕತಟ (ವಿಡ್ಗೆಟ್)
Comment[ko]=자바스크립트로 작성된 Plasma 위젯
Comment[lt]=Nuosavas Plasma valdiklis parašytas JavaScript kalba
Comment[lv]=Plasma sīkrīks, rakstīts JavaScript
Comment[ml]=ജാവാസ്ക്രിപ്റ്റില്‍ തയ്യാറാക്കിയിരിക്കുന്ന നേറ്റീവ് പ്ലാസ്മാ വിഡ്ജറ്റ്
Comment[mr]=जावास्क्रिप्ट अंतर्गत लिहीले गेलेले मूळ प्लाज्मा विजेट
Comment[nb]=Plasmaelement for dette systemet, skrevet i JavaScript
Comment[nds]=En orginaal Plasmaelement, schreven in JavaScript
Comment[nl]=Plasma-widget geschreven in JavaScript
Comment[nn]=Plasma-element skriven i JavaScript
Comment[or]=JavaScriptରେ ଲିଖିତ ସ୍ଥାନୀୟ ପ୍ଲାଜମା ୱିଜେଟ
Comment[pa]=ਜਾਵਾ-ਸਕ੍ਰਿਪਟ ਵਿੱਚ ਲਿਖੇ ਨੇਟਿਵ ਪਲਾਜ਼ਮਾ ਵਿਦਜੈੱਟ
Comment[pl]=Element interfejsu Plazmy napisany w JavaScript
Comment[pt]=Elemento nativo do Plasma feito em JavaScript
Comment[pt_BR]=Widget do Plasma nativo escrito em JavaScript
Comment[ro]=Miniaplicație Plasma scrisă în JavaScript
Comment[ru]=Виджет Plasma, написанный на языке JavaScript
Comment[si]=ජාවා ස්ක්‍රිප්ට මගින් ලියූ ප්ලාස්මා විජෙට්ටු
Comment[sk]=Natívny plasma widget napísaný v JavaScripte
Comment[sl]=Pravi gradnik za Plasmo, ki je napisan v JavaScriptu
Comment[sr]=Самосвојни плазма виџет написан у јаваскрипту
Comment[sr@ijekavian]=Самосвојни плазма виџет написан у јаваскрипту
Comment[sr@ijekavianlatin]=Samosvojni plasma vidžet napisan u JavaScriptu
Comment[sr@latin]=Samosvojni plasma vidžet napisan u JavaScriptu
Comment[sv]=Inbyggd grafisk Plasma-komponent skriven i Javascript
Comment[ta]=Native Plasma widget written in JavaScript
Comment[te]=జావాస్క్రిప్‍ట్‌లో వ్రాసిన నేటివ్ ప్లాజ్మా విడ్‍జ్‌ట్
Comment[tg]=Ин модули Plasma дар JavaScript навишта шуд
Comment[th]=วิดเจ็ตพลาสมาที่ถูกเขียนด้วยจาวาสคริปต์
Comment[tr]=JavaScript ile yazılmış gerçek Plasma gereci
Comment[ug]=JavaScript بىلەن يېزىلغان ئەسلى Plasma ۋىجېتى
Comment[uk]=Віджет Плазми, написаний на JavaScript
Comment[vi]=Widget Plasma được viết bằng JavaScript
Comment[wa]=Ahesse askepieye po Plasma eyet scrîte e JavaScript
Comment[x-test]=xxNative Plasma widget written in JavaScriptxx
Comment[zh_CN]=使用 JavaScript 编写的原生 Plasma 部件
Comment[zh_TW]=用 JavaScript 寫的原始 Plasma 元件
X-KDE-ServiceTypes=Plasma/ScriptEngine
Type=Service
Icon=text-x-script
X-KDE-Library=plasma_appletscript_simple_javascript
X-Plasma-API=javascript
X-Plasma-ComponentTypes=Applet
X-KDE-PluginInfo-Version=5
