[Desktop Entry]
Name=SuperKaramba Theme Files
Name[ar]=ملفات سوبركارامبا
Name[ast]=Tema de ficheros SuperKaramba
Name[bg]=Теми за SuperKaramba
Name[bs]=Datoteke tema Superkarambe
Name[ca]=Fitxers de temes del SuperKaramba
Name[ca@valencia]=Fitxers de temes del SuperKaramba
Name[cs]=Soubory motivu Superkaramba
Name[da]=SuperKaramba temafiler
Name[de]=SuperKaramba Design-Dateien
Name[el]=Αρχεία θεμάτων του SuperKaramba
Name[en_GB]=SuperKaramba Theme Files
Name[es]=Archivos de tema para SuperKaramba
Name[et]=Superkaramba teemafailid
Name[eu]=Superkaramba gaien fitxategia
Name[fi]=SuperKaramba-teematiedostot
Name[fr]=Fichiers de thème pour SuperKaramba
Name[ga]=Comhaid Téama SuperKaramba
Name[gl]=Ficheiros de tema de SuperKaramba
Name[hne]=सुपरकराम्बा प्रसंग फाइल
Name[hr]=Datoteke teme SuperKaramba
Name[hu]=SuperKaramba témafájlok
Name[ia]=Files de thema de SuperKaramba
Name[id]=Berkas Tema SuperKaramba
Name[it]=File di tema SuperKaramba
Name[ja]=SuperKaramba テーマファイル
Name[kk]=SuperKaramba нақыш файлдары
Name[km]=ឯកសារ​ស្បែក​របស់ SuperKaramba
Name[ko]=SuperKaramba 테마 파일
Name[lt]=SuperKaramba temos failai
Name[lv]=SuperKaramba tēmu faili
Name[mr]=सुपरकरंबा शैली फाईल्स
Name[nb]=Superkaramba temafiler
Name[nds]=SuperKaramba-Musterdateien
Name[nl]=Superkaramba themabestanden
Name[nn]=Temafiler til SuperKaramba
Name[pa]=SuperKaramba ਥੀਮ ਫਾਇਲਾਂ
Name[pl]=Pliki motywów SuperKaramby
Name[pt]=Ficheiros de Temas do SuperKaramba
Name[pt_BR]=Arquivos de temas do SuperKaramba
Name[ro]=Fișiere cu tematică SuperKaramba
Name[ru]=Тема SuperKaramba
Name[sk]=Súbory s témami SuperKaramba
Name[sl]=Datoteke tem za SuperKarambo
Name[sq]=SuperKaramba Skedarë Teme
Name[sr]=Фајлови тема Суперкарамбе
Name[sr@ijekavian]=Фајлови тема Суперкарамбе
Name[sr@ijekavianlatin]=Fajlovi tema SuperKarambe
Name[sr@latin]=Fajlovi tema SuperKarambe
Name[sv]=SuperKaramba temafiler
Name[th]=แฟ้มชุดตกแต่งของ SuperKaramba
Name[tr]=SuperKaramba Tema Dosyaları
Name[uk]=Файли теми SuperKaramba
Name[x-test]=xxSuperKaramba Theme Filesxx
Name[zh_CN]=SuperKaramba 主题文件
Name[zh_TW]=SuperKaramba 主題檔案
Comment=Karamba Desktop Themes
Comment[ar]=سمات كارامبا لسطح المكتب
Comment[ast]=Temes d'Escritoriu Karamba
Comment[bg]=Теми за Karamba
Comment[bs]=Teme površi za Karambu
Comment[ca]=Temes d'escriptori del Karamba
Comment[ca@valencia]=Temes d'escriptori del Karamba
Comment[cs]=Motivy plochy Karamba
Comment[da]=Karamba desktoptemaer
Comment[de]=Karamba Arbeitsflächendesigns
Comment[el]=Θέματα επιφάνειας εργασίας του Karamba
Comment[en_GB]=Karamba Desktop Themes
Comment[es]=Temas de escritorio para Karamba
Comment[et]=Karamba töölauateemad
Comment[eu]=Karamba mahaigaina gaiak
Comment[fi]=Karamba-työpöytäteemat
Comment[fr]=Thèmes pour le bureau Karamba
Comment[ga]=Téamaí Deisce Karamba
Comment[gl]=Temas de escritorio de Karamba
Comment[hne]=कराम्बा डेस्कटाप प्रसंग
Comment[hr]=Teme radne površine Karamba
Comment[hu]=Karamba témák
Comment[ia]=Themas de scriptorio de Karamba
Comment[id]=Tema Desktop Karamba
Comment[it]=Temi desktop Karamba
Comment[ja]=Karamba デスクトップテーマ
Comment[kk]=Karamba үстел нақыштары
Comment[km]=ស្បែក​ផ្ទៃតុ​របស់ Karamba
Comment[ko]=Karambs 데스크톱 테마
Comment[lt]=Karamba darbastalio temos
Comment[lv]=Karamba darbvirsmas tēmas
Comment[mr]=करंबा डेस्कटॉप शैली
Comment[nb]=Karamba skrivebordstemaer
Comment[nds]=Karamba-Schriefdischmustern
Comment[nl]=Karamba desktopthema's
Comment[nn]=Skrivebordstema for Karamba
Comment[pa]=ਕਰਾਮਬਾ ਡੈਸਕਟਾਪ ਥੀਮ
Comment[pl]=Motywy pulpitu Karamby
Comment[pt]=Temas do Ambiente do Karamba
Comment[pt_BR]=Temas de área de trabalho do Karamba
Comment[ro]=Tematici de birou Karamba
Comment[ru]=Темы рабочего стала Karamba
Comment[sk]=Témy plochy Karamba
Comment[sl]=Namizne teme Karamba
Comment[sq]=Karamba Tema Desktopi
Comment[sr]=Теме површи за Карамбу
Comment[sr@ijekavian]=Теме површи за Карамбу
Comment[sr@ijekavianlatin]=Teme površi za Karambu
Comment[sr@latin]=Teme površi za Karambu
Comment[sv]=Karamba skrivbordsteman
Comment[th]=ชุดตกแต่งพื้นที่ทำงานของ Karamba
Comment[tr]=Karamba Masaüstü Temaları
Comment[uk]=Теми Karamba для стільниці
Comment[x-test]=xxKaramba Desktop Themesxx
Comment[zh_CN]=Karamba 桌面主题
Comment[zh_TW]=Karamba 桌面主題
Type=Service
Icon=superkaramba
X-EngineName=superkaramba
X-KDE-PluginInfo-Name=superkaramba
X-KDE-ServiceTypes=Plasma/PackageStructure
X-KDE-Library=plasma_package_superkaramba
X-Plasma-PackageFileFilter=*.skz
