[Desktop Entry]
Name=Declarative widget
Name[ast]=Elementu gráficu declarativu
Name[bg]=Декларативна джаджа
Name[bs]=Deklarativna grafička kontrola
Name[ca]=Estri declaratiu
Name[ca@valencia]=Estri declaratiu
Name[cs]=Deklarativní widget
Name[da]=Erklærende widget
Name[de]=Deklaratives Bedienelement
Name[el]=Δηλωτικό συστατικό
Name[en_GB]=Declarative widget
Name[eo]=Deklarema fenestraĵo
Name[es]=Elemento gráfico declarativo
Name[et]=Deklaratiivne vidin
Name[eu]=Trepeta ezagutarazlea
Name[fi]=Deklaratiivinen sovelma
Name[fr]=Composant graphique « Declarative »
Name[ga]=Giuirléid fhógrach
Name[gl]=Widget declarativo
Name[gu]=ડિકલેરેટિવ વિજેટ
Name[he]=ווידג׳ט מוצהר
Name[hi]=वर्णनात्मक विजेट
Name[hr]=Deklarativni widget
Name[hu]=Deklaratív widget
Name[ia]=Widget declarative
Name[is]=Skilgreiningagræja
Name[it]=Oggetto dichiarativo
Name[kk]=Мәлімдеме виджеті
Name[km]=ធាតុ​ក្រាហ្វិក​ដែល​ប្រកាស
Name[ko]=Declarative 위젯
Name[lt]=Deklaratyvus valdiklis
Name[lv]=Deklaratīvais sīkrīks
Name[mr]=वर्णनात्मक विजेट
Name[nb]=Deklarativt skjermelement
Name[nds]=Stüerelement för Verkloren
Name[nl]=Widget voor declaratie
Name[nn]=Deklarativt skjermelement
Name[pa]=ਡਿਕਲਰੇਟਿਵ ਵਿਦਜੈੱਟ
Name[pl]=Deklaratywny element interfejsu
Name[pt]=Item declarativo
Name[pt_BR]=Widget declarativo
Name[ro]=Control declarativ
Name[ru]=Декларативный виджет
Name[si]=ප්‍රකාශන විජෙට්ටටුව
Name[sk]=Deklaratívny widget
Name[sl]=Deklarativni gradnik
Name[sr]=Декларативни виџет
Name[sr@ijekavian]=Декларативни виџет
Name[sr@ijekavianlatin]=Deklarativni vidžet
Name[sr@latin]=Deklarativni vidžet
Name[sv]=Deklarativ grafisk komponent
Name[tg]=Видҷети эълонкунӣ
Name[tr]=Bildirim parçacığı
Name[ug]=ئېنىقلىما ۋىجېت
Name[uk]=Декларативний віджет
Name[vi]=Widget khai báo
Name[wa]=Ahesse di gåyotaedje
Name[x-test]=xxDeclarative widgetxx
Name[zh_CN]=描述部件
Name[zh_TW]=宣告元件
Comment=Native Plasma widget written in QML and JavaScript
Comment[ast]=Elementu gráficu nativu de Plasma escritu en QML y JavaScript
Comment[bg]=Оригинална джаджа за Plasma, написана наQML и JavaScript
Comment[bs]=Samosvojni plazma grafičkih kontrola napisana u QML‑u i javaskriptu
Comment[ca]=Estri nadiu del Plasma escrit en QML i JavaScript
Comment[ca@valencia]=Estri nadiu del Plasma escrit en QML i JavaScript
Comment[cs]=Nativní Plasma widget napsaný v  QML a JavaScriptu
Comment[da]=Hjemmehørende Plasma-widget skrevet i QML og JavaScript
Comment[de]=Echtes Plasma-Programm, geschrieben in QML und JavaScript
Comment[el]=Εγγενές συστατικό Plasma γραμμένο σε QML και JavaScript
Comment[en_GB]=Native Plasma widget written in QML and JavaScript
Comment[eo]=Indiĝena fenestraĵo  de Plasmo programita per QML kaj Ĝavaskripto
Comment[es]=Elemento gráfico nativo de Plasma escrito en QML y JavaScript
Comment[et]=QML-is ja JavaScriptis kirjutatud Plasma vidin
Comment[eu]=Plasma jatorrizko trepeta QML eta JavaScript-en idatzia
Comment[fi]=Natiivi, QML-pohjainen Plasma-sovelma
Comment[fr]=Composant graphique natif de Plasma écrit en QML et JavaScript
Comment[ga]=Giuirléid dhúchasach Plasma, scríofa in QML agus JavaScript
Comment[gl]=Widget nativo de Plasma escrito en QML e JavaScript
Comment[gu]=QML અને જાવાસ્ક્રિપ્ટમાં લખાયેલ સ્થાનિક પ્લાઝમા વિજેટ
Comment[he]=ווידג׳טים של Plasma הנכתבים ב־QML וב־JavaScript
Comment[hi]=QML और जावास्क्रिप्ट में लिखा गया नेटिव प्लाज्मा विजेट
Comment[hr]=Izvorni Plasma widget napisan u QML-u i JavaScriptu
Comment[hu]=QML-ben és JavaScriptben írt natív Plazma-widget
Comment[ia]=Widget native de Plasma scribite in QLM e JavaScript
Comment[is]=Upprunabundin Plasma græja skrifuð í QML og JavaScript
Comment[it]=Oggetto nativo di Plasma scritto in QML e JavaScript
Comment[ja]=QML と JavaScript で書かれた Plasma のネイティブウィジェット
Comment[kk]=QML мен JavaScript-те жазылған Plasma тума виджеті
Comment[km]=ធាតុ​ក្រាហ្វិក​ប្លា​ស្មា​ដើម ដែល​សរសេរ​ក្នុង JavaScript​
Comment[kn]=QML ಹಾಗು ಜಾವಾ ಸ್ಕ್ರಿಪ್ಟ್ ನಲ್ಲಿ ಬರೆಯಲಾದ ಸ್ವಾಭಾವಿಕ ಪ್ಲಾಸ್ಮಾ ನಿಯಂತ್ರಣಾ ಸಂಪರ್ಕತಟ (ವಿಡ್ಗೆಟ್)
Comment[ko]=QML과 자바스크립트로 작성된 Plasma 위젯
Comment[lt]=Nuosavas Plasma valdiklis parašytas QML ir JavaScript kalba
Comment[lv]=Plasma sīkrīks, rakstīts QML un JavaScript valodās
Comment[mr]=जावास्क्रिप्ट व QML अंतर्गत लिहीले गेलेले मूळ प्लाज्मा विजेट
Comment[nb]=Plasmaelement for dette systemet, skrevet i QML og JavaScript
Comment[nds]=En orginaal Plasmaelement, schreven in QML un JavaScript
Comment[nl]=Hier thuishorend Plasma-widget geschreven in QML en JavaScript
Comment[nn]=Plasma-element skriven i QML og JavaScript
Comment[pa]=QML ਤੇ ਜਾਵਾ-ਸਕ੍ਰਿਪਟ ਵਿੱਚ ਲਿਖੇ ਨੇਟਿਵ ਪਲਾਜ਼ਮਾ ਵਿਦਜੈੱਟ
Comment[pl]=Element interfejsu Plazmy napisany w QML lub JavaScript
Comment[pt]=Elemento nativo do Plasma feito em QML e JavaScript
Comment[pt_BR]=Widget do Plasma nativo escrito em QML e JavaScript
Comment[ro]=Miniaplicație Plasma nativă scrisă în QML și JavaScript
Comment[ru]=Виджет Plasma, написанный на языках QML и JavaScript
Comment[si]=ජාවා ස්ක්‍රිප්ට හා QML මගින් ලියූ ප්ලාස්මා විජෙට්ටු
Comment[sk]=Natívny plasma widget napísaný v QML a JavaScripte
Comment[sl]=Pravi gradnik za Plasmo, ki je napisan v QML-u in JavaScriptu
Comment[sr]=Самосвојни плазма виџет написан у КуМЛ‑у и јаваскрипту
Comment[sr@ijekavian]=Самосвојни плазма виџет написан у КуМЛ‑у и јаваскрипту
Comment[sr@ijekavianlatin]=Samosvojni plasma vidžet napisan u QML‑u i JavaScriptu
Comment[sr@latin]=Samosvojni plasma vidžet napisan u QML‑u i JavaScriptu
Comment[sv]=Inbyggd grafisk Plasma-komponent skriven i QML och Javascript
Comment[tg]=Ин модули Plasma дар QML ва JavaScript навишта шуд
Comment[th]=วิดเจ็ตพลาสมาแบบดั้งเดิมที่เขียนด้วย QML และจาวาสคริปต์
Comment[tr]=JavaScript ve QML ile yazılmış gerçek Plasma gereci
Comment[ug]=QML ۋە JavaScript بىلەن يېزىلغان ئەسلى Plasma ۋىجېتى
Comment[uk]=Віджет Плазми, написаний на QML та JavaScript
Comment[vi]=Widget Plasma viết bởi QML và JavaScript
Comment[wa]=Ahesse askepieye po Plasma eyet scrîte e QML eyet JavaScript
Comment[x-test]=xxNative Plasma widget written in QML and JavaScriptxx
Comment[zh_CN]=使用 QML 和 JavaScript 编写的原生 Plasma 部件
Comment[zh_TW]=用 QML 與 JavaScript 寫的原始 Plasma 元件
Type=Service
Icon=text-x-script

X-KDE-ServiceTypes=Plasma/ScriptEngine
X-KDE-Library=plasma_appletscript_declarative
X-EngineName=declarativeappletscript
X-Plasma-API=declarativeappletscript
X-Plasma-ComponentTypes=Applet

X-KDE-PluginInfo-Author=Alexis Menard
X-KDE-PluginInfo-Email=menard@kde.org
X-KDE-PluginInfo-Name=qmlscript
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Category=Examples
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=LGPL
X-KDE-PluginInfo-EnabledByDefault=true
