[Desktop Entry]
Name=Trashcan
Name[af]=Gemors 
Name[ar]=سلة المهملات
Name[ast]=Papelera
Name[be@latin]=Śmietnica
Name[bg]=Кошче
Name[bn]=আবর্জনা
Name[bs]=korpa za smeće
Name[ca]=Paperera
Name[ca@valencia]=Paperera
Name[cs]=Koš
Name[csb]=Kòsz
Name[da]=Affald
Name[de]=Papierkorb
Name[el]=Κάδος απορριμμάτων
Name[en_GB]=Wastebin
Name[eo]=Rubujo
Name[es]=Papelera
Name[et]=Prügikast
Name[eu]=Zakarontzia
Name[fi]=Roskakori
Name[fr]=Corbeille
Name[fy]=Jiskefet
Name[ga]=Bruscar
Name[gl]=Lixo
Name[gu]=કચરાપેટી
Name[he]=פח אשפה
Name[hi]=रद्दी की टोकरी
Name[hne]=घुरुवा
Name[hr]=Otpad
Name[hsb]=Papjernik
Name[hu]=Kuka
Name[ia]=Corbe
Name[id]=Tempat Sampah
Name[is]=Ruslafata
Name[it]=Cestino
Name[ja]=ごみ箱
Name[kk]=Өшірілгендер
Name[km]=ធុង​សំរាម
Name[kn]=ಕಸಬುಟ್ಟಿ
Name[ko]=휴지통
Name[ku]=Qutiya Sergo
Name[lt]=Šiukšliadėžė
Name[lv]=Miskaste
Name[mk]=Корпа
Name[ml]=ചവറ്റുകുട്ട
Name[mr]=कचरापेटी
Name[nb]=Søppelbøtte
Name[nds]=Affalltünn
Name[nl]=Prullenbak
Name[nn]=Papirkorg
Name[or]=Trashcan
Name[pa]=ਰੱਦੀ-ਟੋਕਰੀ
Name[pl]=Kosz
Name[pt]=Lixo
Name[pt_BR]=Lixeira
Name[ro]=Coș de gunoi
Name[ru]=Корзина
Name[si]=ඉවතලන බඳුන
Name[sk]=Kôš
Name[sl]=Smeti
Name[sr]=корпа за смеће
Name[sr@ijekavian]=корпа за смеће
Name[sr@ijekavianlatin]=korpa za smeće
Name[sr@latin]=korpa za smeće
Name[sv]=Papperskorg
Name[ta]=அகற்றிடம்
Name[te]=చెత్తబుట్ట
Name[tg]=Ахлотдон
Name[th]=ถังขยะ
Name[tr]=Çöp Kutusu
Name[ug]=ئەخلەتخانا
Name[uk]=Смітник
Name[uz]=Chiqindilar qutisi
Name[uz@cyrillic]=Чиқиндилар қутиси
Name[wa]=Batch ås mannestés
Name[x-test]=xxTrashcanxx
Name[zh_CN]=回收站
Name[zh_TW]=資源回收筒
Comment=Access to deleted items
Comment[ar]=نفاذ إلى العناصر المحذوفة
Comment[ast]=Acceder a elementos desaniciaos
Comment[be@latin]=Dostup da vydalenych fajłaŭ
Comment[bg]=Достъп до изтрити елементи
Comment[bs]=Pristup obrisanim stavkama
Comment[ca]=Accés als elements suprimits
Comment[ca@valencia]=Accés als elements suprimits
Comment[cs]=Přístup ke smazaným položkám
Comment[csb]=Przëstãp do rëmniãtich elementów
Comment[da]=Tilgå slettede elementer
Comment[de]=Ermöglicht den Zugriff auf gelöschte Elemente.
Comment[el]=Πρόσβαση σε διαγραμμένα αντικείμενα
Comment[en_GB]=Access to deleted items
Comment[eo]=Atingo de forigitaj eroj
Comment[es]=Acceder a elementos eliminados
Comment[et]=Võimalus pääseda ligi kustutatud failidele
Comment[eu]=Atzitu ezabatutako elementuak
Comment[fi]=Pääsy poistettuihin tiedostoihin ja hakemistoihin
Comment[fr]=Accède aux éléments effacés
Comment[fy]=Tagong ta wiske items
Comment[ga]=Rochtain ar mhíreanna scriosta
Comment[gl]=Accede a ítems borrados
Comment[gu]=દૂર કરેલ વસ્તુઓનો અધિકાર
Comment[he]=גישה לפריטים שנמחקו
Comment[hi]=मिटाई जा चुकी वस्तुओं पर जाएँ
Comment[hne]=मेटाय चीज मं पहुंच
Comment[hr]=Pristup izbrisanim stavkama
Comment[hsb]=Přistup k wumazanym objektam
Comment[hu]=A törölt fájlok érhetők el innen
Comment[ia]=Accesso a elementos cancellate
Comment[id]=Akses ke item yang telah dihapus
Comment[is]=Aðgangur að hlutum sem hefur verið eytt
Comment[it]=Accedi agli oggetti cancellati
Comment[ja]=削除したアイテムにアクセスします
Comment[kk]=Өшірілген нысандарға қол жеткізу
Comment[km]=ចូល​ដំណើរការ​ទៅ​ធាតុ​ដែល​បានលុប
Comment[kn]=ತೆಗೆದುಹಾಕಲಾದ ಅಂಶಗಳಿಗೆ ನಿಲುಕಣೆ
Comment[ko]=삭제된 파일과 폴더를 봅니다
Comment[lt]=Prieiga prie ištrintų failų
Comment[lv]=Piekļūst dzēstajiem failiem
Comment[mk]=Пристап до избришани ставки
Comment[ml]=നീക്കം ചെയ്യപെട്ട സാധങ്ങളിലേക്ക് പ്രവേശനം
Comment[mr]=काढून टाकलेले घटक करिता प्रवेश
Comment[nb]=Tilgang til slettede elementer
Comment[nds]=Togriep op wegdaan Saken
Comment[nl]=Toegang tot verwijderde items
Comment[nn]=Tilgang til sletta filer
Comment[or]=ଅପସାରିତ ବସ୍ତୁଗୁଡ଼ିକୁ ବ୍ୟବହାର କରନ୍ତୁ
Comment[pa]=ਹਟਾਈਆਂ ਆਈਟਮਾਂ ਵਰਤੋਂ
Comment[pl]=Dostęp do usuniętych obiektów
Comment[pt]=Acesso aos itens apagados
Comment[pt_BR]=Acesso aos itens excluídos
Comment[ro]=Acces la elementele șterse
Comment[ru]=Доступ к выброшенным файлам
Comment[si]=මකාදැමූ අයිතමයන්ට පිවිසෙන්න
Comment[sk]=Prístup k vymazaným položkám
Comment[sl]=Dostop do zbrisanih datotek in map
Comment[sr]=Приступ обрисаним ставкама
Comment[sr@ijekavian]=Приступ обрисаним ставкама
Comment[sr@ijekavianlatin]=Pristup obrisanim stavkama
Comment[sr@latin]=Pristup obrisanim stavkama
Comment[sv]=Åtkomst av borttagna objekt
Comment[ta]=Access to deleted items
Comment[te]=తొలగించిన అంశములకు యాక్సెస్
Comment[tg]=Быстрый доступ к вашим закладкам
Comment[th]=เรียกดูรายการที่ถูกสั่งลบ
Comment[tr]=Silinen ögelere erişin
Comment[ug]=ئۆچۈرۈلگەن تۈرلەرنى زىيارەت
Comment[uk]=Доступ до вилучених елементів
Comment[vi]=Truy cập tới các mục đã xoá
Comment[wa]=Accès ås cayets disfacés
Comment[x-test]=xxAccess to deleted itemsxx
Comment[zh_CN]=访问已删除的内容
Comment[zh_TW]=存取已刪除的項目
Type=Service
Icon=user-trash
X-KDE-ServiceTypes=Plasma/Applet

X-KDE-Library=plasma_applet_trash
X-KDE-PluginInfo-Author=Marco Martin
X-KDE-PluginInfo-Email=martkive@gmail.com
X-KDE-PluginInfo-Name=trash
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=http://plasma.kde.org/
X-KDE-PluginInfo-Category=File System
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
X-Plasma-Requires-KRun=true

X-Plasma-Requires-FileDialog=Unused
X-Plasma-Requires-LaunchApp=Required

