[Desktop Entry]
Name=Graphics
Name[af]=Grafieka
Name[ar]=برامج رسم
Name[as]=চিত্ৰাঙ্কন
Name[ast]=Gráficos
Name[be]=Графіка
Name[be@latin]=Hrafika
Name[bg]=Графика
Name[bn]=গ্রাফিক্স
Name[bn_IN]=গ্রাফিক্স
Name[br]=Grafikoù
Name[bs]=Grafika
Name[ca]=Gràfics
Name[ca@valencia]=Gràfics
Name[cs]=Grafika
Name[csb]=Grafika
Name[cy]=Graffeg
Name[da]=Grafik
Name[de]=Grafik
Name[el]=Γραφικά
Name[en_GB]=Graphics
Name[eo]=Grafiko
Name[es]=Gráficos
Name[et]=Graafika
Name[eu]=Grafikoak
Name[fa]=نگاره‌ها
Name[fi]=Grafiikka
Name[fr]=Graphisme
Name[fy]=Grafysk
Name[ga]=Grafaic
Name[gl]=Gráficos
Name[gu]=ચિત્રો
Name[he]=גרפיקה
Name[hi]=ग्राफिक्स
Name[hne]=ग्राफिक्स
Name[hr]=Grafika
Name[hsb]=Grafika
Name[hu]=Grafikai programok
Name[ia]=Graphiches
Name[id]=Grafik
Name[is]=Myndvinnsla
Name[it]=Grafica
Name[ja]=グラフィックス
Name[ka]=გრაფიკა
Name[kk]=Графика
Name[km]=ក្រាហ្វិក
Name[kn]=ಸಚಿತ್ರತೆ (ಗ್ರಾಫಿಕ್ಸ್)
Name[ko]=그래픽
Name[ku]=Grafîk
Name[lt]=Grafika
Name[lv]=Grafika
Name[mai]=आलेखी
Name[mk]=Графика
Name[ml]=ഗ്രാഫിക്സ്
Name[mr]=आलेखीय
Name[ms]=Grafik
Name[nb]=Grafikk
Name[nds]=Grafik
Name[ne]=ग्राफिक्स
Name[nl]=Grafisch
Name[nn]=Bilete
Name[oc]=Grafisme
Name[or]=ଆଲେଖି
Name[pa]=ਗਰਾਫਿਕਸ
Name[pl]=Grafika
Name[pt]=Gráficos
Name[pt_BR]=Gráficos
Name[ro]=Grafică
Name[ru]=Графика
Name[se]=Grafihkka
Name[si]=චිත්‍රක
Name[sk]=Grafika
Name[sl]=Grafika
Name[sr]=Графика
Name[sr@ijekavian]=Графика
Name[sr@ijekavianlatin]=Grafika
Name[sr@latin]=Grafika
Name[sv]=Grafik
Name[ta]=சித்திரங்கள்
Name[te]=గ్రాఫిక్స్
Name[tg]=Графика
Name[th]=กราฟิก
Name[tr]=Grafik
Name[ug]=گرافىك
Name[uk]=Графіка
Name[uz]=Grafika
Name[uz@cyrillic]=Графика
Name[vi]=Đồ hoạ
Name[wa]=Imådjes
Name[xh]=Imizobo
Name[x-test]=xxGraphicsxx
Name[zh_CN]=图像
Name[zh_TW]=圖形
Comment=Graphics applications, such as paint programs and image viewers
Comment[ar]=برامج رسومية مثل برامج التلوين وعارضات الصور
Comment[ast]=Aplicaciones de gráficos, como programes de dibuxu y visores d'imáxenes
Comment[bg]=Графични програми – за рисуване и преглед
Comment[bn]=গ্রাফিক্স অ্যাপলিকেশন, যেমন আঁকার প্রোগ্রাম এবং ছবি প্রদর্শক
Comment[bs]=Grafički programi, poput onih za crtanje i prikazivača slika
Comment[ca]=Aplicacions gràfiques, com programes de pintura i visors d'imatges
Comment[ca@valencia]=Aplicacions gràfiques, com programes de pintura i visors d'imatges
Comment[cs]=Grafické aplikace, jako kreslící programy a prohlížeče obrázků
Comment[csb]=Graficzné aplikacëje jakno do malënków ë przezéraniô òbrôzków
Comment[da]=Grafikprogrammer, såsom tegneprogrammer og billedfremvisere
Comment[de]=Grafikanwendungen wie Malprogramme und Bildbetrachter
Comment[el]=Εφαρμογές γραφικών, όπως προγράμματα ζωγραφικής και προβολής εικόνων
Comment[en_GB]=Graphics applications, such as paint programs and image viewers
Comment[es]=Aplicaciones de gráficos, como programas de dibujo y visores de imágenes
Comment[et]=Graafikarakendused, näiteks joonistamisrakendused ja pildinäitajad
Comment[eu]=Irudientzako aplikazioak, marrazteko programak eta irudi erakusle modukoak
Comment[fi]=Grafiikkasovellukset, kuten piirto-ohjelmat ja kuvankatselimet
Comment[fr]=Applications graphiques tel que les programmes de dessin et les afficheurs d'images
Comment[fy]=Grafyske applikaasjes, lykas tekenprogramma's en ôfbylding werjouwers
Comment[ga]=Feidhmchláir ghrafaice, mar shampla ríomhchláir phéinteála agus amharcáin íomhánna
Comment[gl]=Programas gráficos, por ex. programas de debuxo e visores de imaxes
Comment[he]=יישומים גרפיים, כמו תוכנות ציור ומציגי תמונות
Comment[hr]=Grafičke aplikacije, poput programa za crtanje i pregledavanje slika
Comment[hu]=Grafikus alkalmazások, például rajzprogramok és képmegjelenítők
Comment[ia]=Applicationes graphic, tal como programmas de picturar e visores de imagines
Comment[id]=Aplikasi grafis, seperti program menggambar dan penampil gambar
Comment[is]=Myndmeðhöndlunarforrit eins og myndvinnsluforrit, teikniforrit og myndskoðarar
Comment[it]=Applicazioni grafiche, come programmi di disegno e visori di immagini
Comment[ja]=お絵描きアプリケーションやイメージビューアなどのグラフィックアプリケーション
Comment[kk]=Сурет салу және кескінді қарау құралы секілді графикалық  қолданбалар
Comment[km]=កម្មវិធី​ក្រាហ្វិក ដូ​ចជា​ កម្មវិធី​គូរ និង​កម្មវិធីមើល​រូបភាព
Comment[ko]=그림 편집기, 뷰어와 같은 그래픽 프로그램
Comment[lt]=Vaizdų programos, pavyzdžiui piešimo ir nuotraukų peržiūros
Comment[lv]=Grafikas lietotnes, zīmēšanas programmas un attēlu skatītāji
Comment[mk]=Графички апликации, како што се програми за цртање и прегледувачи на слики
Comment[ml]=വരയ്ക്കാനും ചിത്രങ്ങള്‍ കാണുന്നതിനും പോലുമുള്ള ഗ്രാഫിക്സ് പ്രയോഗങ്ങള്‍
Comment[mr]=आलेखीय अनुप्रयोग. उदा. पेंट कार्यक्रम व प्रतिमा प्रदर्शक
Comment[nb]=Grafiske programmer, slik som maleprogrammer og bildevisere
Comment[nds]=Grafikprogrammen, so as Maalprogrammen un Bildkiekers
Comment[nl]=Grafische programma's, zoals teken- en afbeeldingsweergave-programma's
Comment[nn]=Biletprogram, som teikneprogram og fotovisarar
Comment[pa]=ਗਰਾਫਿਕਸ ਐਪਲੀਕੇਸ਼ਨ, ਜਿਵੇਂ ਕਿ ਪੇਂਟ ਪਰੋਗਰਾਮ ਅਤੇ ਚਿੱਤਰ ਦਰਸ਼ਕ
Comment[pl]=Programy graficzne, takie jak programy do rysowania i przeglądarki obrazów
Comment[pt]=Aplicações gráficas, como os programas de pintura e os visualizadores de imagens
Comment[pt_BR]=Aplicativos gráficos, tais como programas de desenho e visualizadores de imagens
Comment[ro]=Aplicații de grafică, cum ar fi programe de desen și vizualizare de imagini
Comment[ru]=Графические приложения, такие как программы рисования и просмотра изображений
Comment[si]=චිත්‍රණ යෙදුම්, චිත්‍ර ඇඳීම් හා පින්තූර දසුන් වැඩසටහන් වැනි
Comment[sk]=Grafické aplikácie, ako kresliace programy a prehliadače obrázkov
Comment[sl]=Grafični programi, npr. slikarski programi in pregledovalniki slik
Comment[sr]=Графички програми, попут оних за цртање и приказивача слика
Comment[sr@ijekavian]=Графички програми, попут оних за цртање и приказивача слика
Comment[sr@ijekavianlatin]=Grafički programi, poput onih za crtanje i prikazivača slika
Comment[sr@latin]=Grafički programi, poput onih za crtanje i prikazivača slika
Comment[sv]=Grafikprogram, som ritprogram och bildvisning
Comment[tg]=Поиск приложений и служб
Comment[th]=โปรแกรมต่าง ๆ ด้านกราฟิก เช่นโปรแกรมวาดภาพ และโปรแกรมดูรูปภาพ
Comment[tr]=Grafik uygulamaları, boyama ve resim gösterme uygulamaları gibi
Comment[ug]=گرافىك پروگراممىلىرى، رەسىم سىزىش ۋە سۈرەت كۆرگۈچ پروگراممىلىرى
Comment[uk]=Програми для роботи з графікою, зокрема програми для малювання та перегляду зображень
Comment[vi]=Các ứng dụng đồ hoạ như các chương trình vẽ hay trình xem ảnh
Comment[wa]=Programes po les imådjes come des programes di pondeure eyet des håyneus d' imådjes
Comment[x-test]=xxGraphics applications, such as paint programs and image viewersxx
Comment[zh_CN]=图形图像应用程序，如绘画工具和图像查看器
Comment[zh_TW]=美工應用程式，如繪圖程式與影像檢視器等
Icon=applications-graphics

Type=Service
X-KDE-ServiceTypes=Plasma/Sal/Menu
X-KDE-PluginInfo-Name=plasma-sal-graphics

X-Plasma-Sal-Url=kservicegroup://root/Graphics/
X-Plasma-Sal-Relevance=1
