[Desktop Entry]
Name=Newspaper Layout
Name[ast]=Disposición de periódicu
Name[bg]=Вестникарски изглед
Name[bn]=সংবাদপত্র বিন্যাস
Name[bs]=Novinski raspored
Name[ca]=Disposició dels diaris
Name[ca@valencia]=Disposició dels diaris
Name[cs]=Rozvržení novin
Name[da]=Avislayout
Name[de]=Zeitungs-Anordnung
Name[el]=Διάταξη εφημερίδας
Name[en_GB]=Newspaper Layout
Name[eo]=Aranĝo de ĵurnalo
Name[es]=Disposición de periódico
Name[et]=Ajalehepaigutus
Name[eu]=Egunkari diseinua
Name[fa]=طرح بندی روزنامه‌ای
Name[fi]=Sanomalehtiasettelu
Name[fr]=Disposition du journal d'actualité
Name[ga]=Leagan Amach Nuachtáin
Name[gl]=Disposición de noticiario
Name[gu]=સમાચારપત્ર દેખાવ
Name[he]=פריסת עיתון
Name[hi]=समाचार खाका
Name[hr]=Novinski raspored
Name[hu]=Újság elrendezés
Name[ia]=Disposition de jornal
Name[is]=Dagblaðsframsetning
Name[it]=Disposizione a giornale
Name[ja]=新聞のレイアウト
Name[kk]=Газета тәрізд
Name[km]=ប្លង់​​សារព័ត៌មាន
Name[kn]=ವಾರ್ತಾಪತ್ರಿಕೆ ವಿನ್ಯಾಸ
Name[ko]=신문 레이아웃
Name[lt]=Laikraščio išdėstymas
Name[lv]=Laikraksta izvietojums
Name[mr]=वर्तमानपत्र मांडणी
Name[nb]=Avisutforming
Name[nds]=Blattstriepen-Anornen
Name[nl]=Opmaak van krant
Name[nn]=Avisutforming
Name[pa]=ਨਿਊਜ਼ਪੇਪਰ ਲੇਆਉਟ
Name[pl]=Dwie kolumny (gazeta)
Name[pt]=Disposição do Jornal
Name[pt_BR]=Formato de jornal
Name[ro]=Aranjament ziar
Name[ru]=Газета
Name[si]=පුවත්පත් සැකැස්ම
Name[sk]=Noviny
Name[sl]=Razpored Časopis
Name[sr]=Новински распоред
Name[sr@ijekavian]=Новински распоред
Name[sr@ijekavianlatin]=Novinski raspored
Name[sr@latin]=Novinski raspored
Name[sv]=Tidningslayout
Name[tg]=Тугмабандии рӯзнома
Name[th]=การจัดวางแบบหนังสือพิมพ์
Name[tr]=Gazete Yerleşimi
Name[ug]=گېزىت جايلاشتۇرۇلۇشى
Name[uk]=Газетне компонування
Name[vi]=Dàn trang báo
Name[wa]=Ajinçmint a môde di gazete
Name[x-test]=xxNewspaper Layoutxx
Name[zh_CN]=报纸布局
Name[zh_TW]=報紙佈局

Comment=A layout that puts widgets into columns
Comment[ast]=Una disposición qu'alluga los elementos gráficos en columnes
Comment[bg]=Подребда на джаджите в колони
Comment[bs]=Raspored koji ređa grafičke kontrole u kolone
Comment[ca]=Una disposició que posa els estris en columnes
Comment[ca@valencia]=Una disposició que posa els estris en columnes
Comment[cs]=Rozvržení, které skládá widgety do dvou sloupců
Comment[da]=Et layout der placerer widgets i spalter
Comment[de]=Anordnung der Miniprogramme in Spalten
Comment[el]=Μια διάταξη που τοποθετεί συστατικά γραφικών σε στήλες
Comment[en_GB]=A layout that puts widgets into columns
Comment[eo]=Aranĝo, kiu kolumingas fenestraĵojn
Comment[es]=Una disposición que coloca los elementos gráficos en columnas
Comment[et]=Paigutus, mis asetab vidinad veergudesse
Comment[eu]=Trepetak bi zutabetan jartzen dituen diseinu bat
Comment[fi]=Asettelee sovelmat kahteen palstaan
Comment[fr]=Une disposition plaçant les composants graphiques dans des colonnes
Comment[ga]=Leagan amach a chuireann giuirléidí i gcolúin
Comment[gl]=Unha disposición que pon widgets en columnas
Comment[gu]=દેખાવ જે વિજેટ્સને સ્થંભોમાં મૂકે છે
Comment[he]=פריסה המסדרת ווידג׳טים בתוך עמודות
Comment[hi]=शैली जो स्तंभों में विगेट्स रखता है.
Comment[hr]=Raspored koji postavlje widgete u stupce
Comment[hu]=A widgeteket oszlopokba rendező elrendezés
Comment[ia]=Un disposition que pone elementos graphicos (widget) in columnas
Comment[is]=Framsetning á græjum í dálka
Comment[it]=Una disposizione che incolonna gli oggetti
Comment[ja]=ウィジェットを列配置するレイアウト
Comment[kk]=Екі бағанды виджеттер орналасуы
Comment[km]=ប្លង់​ដែល​ដាក់​ធាតុក្រាហ្វិក​ជា​ជួរឈរ
Comment[ko]=다단으로 위젯을 배열하는 레이아웃
Comment[lt]=Išdėliojimas, kuriame valdikliai išdėstyti stulpeliais
Comment[lv]=Izvietojums, kas sīkrīkus sakārto kolonnās
Comment[mr]=ही मांडणी विजेट्सना स्थंभामध्ये ठेवते
Comment[nb]=En utforming som legger skjermelementer i to spalter
Comment[nds]=En Anornen de Elementen op Striepen verdeelt
Comment[nl]=Een indeling die widgets in kolommen zet
Comment[nn]=Ei utforming som legg skjermelement i kolonnar
Comment[pa]=ਲੇਆਉਟ, ਜੋ ਵਿਦਜੈੱਟ ਨੂੰ ਕਾਲਮਾਂ 'ਚ ਰੱਖਦਾ ਹੈ
Comment[pl]=Układ, które umieszcza elementy interfejsu w dwóch kolumnach
Comment[pt]=Uma disposição que coloca os elementos em colunas
Comment[pt_BR]=Leiaute que organiza os widgets em colunas
Comment[ro]=Un aranjament ce pune controalele în două coloane
Comment[ru]=Расположение виджетов в столбцах
Comment[si]=විජෙට්ටු තීරු වලට දමන සැලසුමක්
Comment[sk]=Rozloženie, ktoré umiestni widgety do dvoch stĺpcov
Comment[sl]=Razpored, ki gradnike razporedi v stolpce
Comment[sr]=Распоред који ређа виџете у колоне
Comment[sr@ijekavian]=Распоред који ређа виџете у колоне
Comment[sr@ijekavianlatin]=Raspored koji ređa vidžete u kolone
Comment[sr@latin]=Raspored koji ređa vidžete u kolone
Comment[sv]=En layout som placerar grafiska komponenter i kolumner
Comment[tg]=Ин тарҳбандиест, ки видҷетҳоро ба сутунҳо мемонад
Comment[th]=รูปแบบกิจกรรมที่จะจัดวิดเจ็ตต่าง ๆ ให้อยู่ในคอลัมน์ต่างๆ
Comment[tr]=Gereçleri sütunlara koyan yerleşim
Comment[ug]=ئىستونغا جايلاشتۇرىدىغان ۋىجېت ئۇسلۇبى
Comment[uk]=Компонування з віджетами, розподіленими за стовпчиками
Comment[vi]=Kiểu dàn trang đặt các widget theo các cột
Comment[wa]=Èn adjinçmint ki mete les ahesses e colones
Comment[x-test]=xxA layout that puts widgets into columnsxx
Comment[zh_CN]=分栏显示组件的布局
Comment[zh_TW]=將元件放到欄位內的佈局


Icon=knewsticker
Type=Service
X-KDE-ServiceTypes=Plasma/Applet,Plasma/Containment
X-Plasma-ContainmentCategories=netbook,desktop
NoDisplay=false

X-KDE-Library=plasma_containment_newspaper
X-KDE-PluginInfo-Author=The Plasma Team
X-KDE-PluginInfo-Email=panel-devel@kde.org
X-KDE-PluginInfo-Name=newspaper
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=http://plasma.kde.org/
X-KDE-PluginInfo-Category=Containments
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
