[Desktop Entry]
Name=Manage Print Jobs
Name[bs]=Upravljanje poslovima štampe
Name[ca]=Gestió de treballs d'impressió
Name[ca@valencia]=Gestió de treballs d'impressió
Name[cs]=Spravovat tiskové úlohy
Name[da]=Håndtér udskriftsjob
Name[de]=Druckaufträge verwalten
Name[el]=Διαχείριση εργασιών εκτύπωσης
Name[es]=Gestión de trabajos de impresión
Name[et]=Trükitööde haldus
Name[fi]=Tulostustöiden hallinta
Name[fr]=Gère les tâches d'impression
Name[ga]=Bainistigh Jabanna Priontála
Name[gl]=Xestionar os traballos de impresión
Name[hu]=Nyomtatási feladatok kezelése
Name[ia]=Gere cargas pro imprimer
Name[it]=Gestisci i processi di stampa
Name[kk]=Басып шығаруды басқару
Name[km]=គ្រប់គ្រង​ការងារ​បោះពុម្ព
Name[ko]=인쇄 작업 관리
Name[lt]=Tvarkyti spausdinimo užduotis
Name[mr]=छपाई कार्ये व्यवस्थापन करा
Name[nb]=Håndter utskriftsjobber
Name[nl]=Afdruktaken beheren
Name[pa]=ਪਰਿੰਟ ਜਾਬ ਪਰਬੰਧ
Name[pl]=Prace wydruku
Name[pt]=Gerir as Tarefas de Impressão
Name[pt_BR]=Gerenciar os trabalhos de impressão
Name[ro]=Administrează sarcini de imprimare
Name[ru]=Управление заданиями печати
Name[sk]=Spravovať tlačové úlohy
Name[sl]=Upravljajte tiskalna opravila
Name[sr]=Управљање пословима штампања
Name[sr@ijekavian]=Управљање пословима штампања
Name[sr@ijekavianlatin]=Upravljanje poslovima štampanja
Name[sr@latin]=Upravljanje poslovima štampanja
Name[sv]=Hantera skrivarjobb
Name[tr]=Yazdırma Görevlerini Yönet
Name[uk]=Керування завданнями з друку
Name[x-test]=xxManage Print Jobsxx
Name[zh_CN]=管理打印任务
Name[zh_TW]=管理列印工作
Comment=List print jobs and manage them
Comment[bs]=Prikaz i upravljanje poslovima štampe
Comment[ca]=Llista els treballs d'impressió i els gestiona
Comment[ca@valencia]=Llista els treballs d'impressió i els gestiona
Comment[cs]=Vypsat tiskové úlohy a spravovat je
Comment[da]=Vis udskriftsjob og håndtér dem
Comment[de]=Druckaufträge anzeigen und verwalten
Comment[el]=Εμφάνιση και διαχείριση των εργασιών εκτύπωσης
Comment[es]=Listar los trabajos de impresión y gestionarlos
Comment[et]=Trükitööde kuvamine ja nende haldamine
Comment[fi]=Luettele tulostustyöt ja hallitse niitä
Comment[fr]=Liste les tâches d'impression et les gère
Comment[gl]=Listar os traballos de impresión e xestionalos.
Comment[hu]=Nyomtatási feladatok listázása és kezelése
Comment[ia]=Lista cargas de imprimer e gere los
Comment[it]=Elenca i processi di stampa e li gestisce
Comment[kk]=Басу тапсырмалар кезегі мен оны басқару
Comment[km]=រាយ​ការងារ​បោះពុម្ព​ និង​គ្រប់គ្រង​ពួកវា
Comment[ko]=인쇄 작업을 보여 주고 관리하기
Comment[lt]=Rikiuoti spausdinimo užduotis ir jas tvarkyti
Comment[mr]=छपाई कार्यांची यादी व व्यवस्थापन करतो
Comment[nb]=List utskriftsjobber og håndter dem
Comment[nl]=Toon afdruktaken en beheer ze
Comment[pl]=Pokaż listę prac wydruku i zarządzaj nimi
Comment[pt]=Imprimir as tarefas de impressão e geri-las
Comment[pt_BR]=Lista os trabalhos de impressão e os gerencia
Comment[ro]=Enumeră sarcinile de imprimare și le gestionează
Comment[ru]=Показ списка заданий печати и управление ими
Comment[sk]=Vypísať tlačové úlohy a spravovať ich
Comment[sl]=Pregledovanje in upravljanje tiskalnih opravil
Comment[sr]=Прегледајте и управљајте пословима штампања
Comment[sr@ijekavian]=Прегледајте и управљајте пословима штампања
Comment[sr@ijekavianlatin]=Pregledajte i upravljajte poslovima štampanja
Comment[sr@latin]=Pregledajte i upravljajte poslovima štampanja
Comment[sv]=Lista skrivarjobb och hantera dem
Comment[tr]=Yazdırma görevlerini listele ve bunları yönet
Comment[uk]=Показ списку завдань і керування ними
Comment[x-test]=xxList print jobs and manage themxx
Comment[zh_CN]=显示和管理打印任务
Comment[zh_TW]=列出列印工作並管理

Icon=printer
Type=Service
X-KDE-ServiceTypes=Plasma/Applet,Plasma/PopupApplet

X-Plasma-API=declarativeappletscript
X-Plasma-MainScript=ui/printmanager.qml
X-Plasma-DefaultSize=650,270
X-Plasma-NotificationArea=true
X-Plasma-ConfigPlugins=kcm_printer_manager
X-Plasma-OptionalExtensions=LaunchApp

X-KDE-PluginInfo-Author=Daniel Nicoletti
X-KDE-PluginInfo-Email=dantti12@gmail.com
X-KDE-PluginInfo-Name=org.kde.printmanager
X-KDE-PluginInfo-Version=0.3
X-KDE-PluginInfo-Website=http://www.kde.org
X-KDE-PluginInfo-Category=Utilities
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true

