[Desktop Entry]
Encoding=UTF-8
Name=Default Netbook Panel
Name[ar]=الحاوية المبدئية للحاسب المحمول الشبكي
Name[ast]=Panel predetermináu pa netbooks
Name[bg]=Подразбиращ се панел за нетбук
Name[bn]=ডিফল্ট নেটবুক প্যানেল
Name[bs]=Podrazumijevani panel za netbuk
Name[ca]=Plafó per omissió pels ordinadors ultraportàtils
Name[ca@valencia]=Plafó per omissió pels ordinadors ultraportàtils
Name[cs]=Výchozí panel Netbooku
Name[da]=Standard netbook-panel
Name[de]=Standard-Netbook-Kontrollleiste
Name[el]=Προκαθορισμένος πίνακας Netbook
Name[en_GB]=Default Netbook Panel
Name[es]=Panel predeterminado para netbooks
Name[et]=Vaikimisi väikesülearvuti paneel
Name[eu]=Netbook panel lehenetsia
Name[fi]=Oletuspaneeli miniläppäreille
Name[fr]=Tableau de bord par défaut pour les ultra portables
Name[gl]=Panel predeterminado do Netbook
Name[gu]=મૂળભૂત નેટબુક પેનલ
Name[he]=לוח ברירת המחדל עבור נטבוקים
Name[hi]=डिफ़ॉल्ट नेटबुक पटल
Name[hr]=Zadani Netbook panel
Name[hu]=Alapértelmezett netbook panel
Name[ia]=Pannello de Netbook predefinite
Name[id]=Panel Netbook Standar
Name[is]=Sjálfgefið spjald fyrir smáfartölvur
Name[it]=Pannello predefinito per ultraportatili
Name[ja]=標準のネットブックのパネル
Name[kk]=Нетбуктің әдетті панелі
Name[km]=បន្ទះ Netbook លំនាំដើម
Name[kn]=ಪೂರ್ವನಿಯೋಜಿತ (ಡಿಫಾಲ್ಟ್) ನೆಟ್ ಬುಕ್ ಪುಟಿಕೆ (ಪ್ಯಾನಲ್)
Name[ko]=기본 넷북 패널
Name[lt]=Numatytas netbook skydelis
Name[lv]=Mazdatora noklusējuma panelis
Name[mr]=मूलभूत नेटबूक पटल
Name[nb]=Standard nettbok-panel
Name[nds]=Standard-Nettbookpaneel
Name[nl]=Standaard netbook-paneel
Name[pa]=ਡਿਫਾਲਟ ਨੈੱਟਬੁੱਕ ਪੈਨਲ
Name[pl]=Domyślny panel netbooka
Name[pt]=Painel Predefinido do Netbook
Name[pt_BR]=Painel padrão do Netbook
Name[ro]=Panou implicit de netbook
Name[ru]=Стандартная панель для нетбуков
Name[si]=පෙරනිමි නෝට්බුක් පැනලය
Name[sk]=Štandardný panel Netbook
Name[sl]=Privzeti pult za male prenosnike
Name[sr]=Подразумевани панел за нетбук
Name[sr@ijekavian]=Подразумијевани панел за нетбук
Name[sr@ijekavianlatin]=Podrazumijevani panel za netbuk
Name[sr@latin]=Podrazumevani panel za netbuk
Name[sv]=Standardpanel för nätdator
Name[tg]=Панели стандартии Netbook
Name[th]=พาเนลปริยายของเน็ตบุ๊ก
Name[tr]=Öntanımlı Netbook Paneli
Name[ug]=كۆڭۈلدىكى تور كومپيۇتېر تاختىسى
Name[uk]=Типова панель субноутбука
Name[vi]=Thanh điều khiển Netbook mặc định
Name[wa]=Sicriftôr prémetou po poirtåve éndjolete
Name[x-test]=xxDefault Netbook Panelxx
Name[zh_CN]=默认上网本面板
Name[zh_TW]=預設 Netbook 面板
Type=Service
ServiceTypes=Plasma/LayoutTemplate
X-Plasma-Shell=plasma-netbook
X-Plasma-ContainmentCategories=panel
X-KDE-PluginInfo-Author=Marco Martin
X-KDE-PluginInfo-Email=notmart@gmail.com
X-KDE-PluginInfo-Name=org.kde.plasma-netbook.defaultPanel
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=http://plasma.kde.org/
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
