[Desktop Entry]
Name=Web Widget
Name[ar]=ودجة وِب
Name[ast]=Elementu gráficu Web
Name[be@latin]=Sieciŭny widžet
Name[bg]=Уеб джаджа
Name[bn]=ওয়েব উইজেট
Name[bn_IN]=ওয়েব উইজেট
Name[bs]=Web grafička kontrola
Name[ca]=Estri web
Name[ca@valencia]=Estri web
Name[cs]=Webový widget
Name[csb]=Sztél zblëżający bedënk do sécë Web
Name[da]=Webwidget
Name[de]=Web-Miniprogramm
Name[el]=Συστατικό ιστού
Name[en_GB]=Web Widget
Name[eo]=Reta fenestraĵo
Name[es]=Elemento gráfico Web
Name[et]=Veebividin
Name[eu]=Web trepeta
Name[fi]=Web-sovelma
Name[fr]=Composant graphique Web
Name[fy]=Web Widget
Name[ga]=Giuirléid Ghréasáin
Name[gl]=Widget web
Name[gu]=વેબ વિજેટ
Name[he]=ווידג׳ט אינטרנט
Name[hi]=वेब विज़ेट
Name[hne]=वेब विजेट
Name[hr]=Web widget
Name[hu]=Webes elem
Name[ia]=Web Widget
Name[id]=Widget Web
Name[is]=Vefgræja
Name[it]=Oggetto Web
Name[ja]=ウェブウィジェット
Name[kk]=Веб интерфейс бөлшегі
Name[km]=ធាតុក្រាហ្វិក​បណ្ដាញ
Name[kn]=ಜಾಲ ನಿಯಂತ್ರಣಾ ಸಂಪರ್ಕತಟ (ವಿಡ್ಗೆಟ್)
Name[ko]=웹 위젯
Name[ku]=Alava Torê
Name[lt]=Žiniatinklio valdiklis
Name[lv]=Tīmekļa sīkrīks
Name[ml]=വെബ് ഉരുപ്പടി
Name[mr]=वेब विजेट
Name[nb]=Nett-element
Name[nds]=Nett-Lüttprogramm
Name[nl]=Web-widget
Name[nn]=Vevelement
Name[or]=ୱେବ ୱିଜେଟ
Name[pa]=ਵੈੱਬ ਵਿਦਜੈੱਟ
Name[pl]=Strona sieci Web (element interfejsu)
Name[pt]=Elemento Web
Name[pt_BR]=Widget da Internet
Name[ro]=Control WEB
Name[ru]=Веб-виджет
Name[si]=වෙබ් මෙවලම්
Name[sk]=Webový widget
Name[sl]=Spletni gradnik
Name[sr]=веб виџет
Name[sr@ijekavian]=веб виџет
Name[sr@ijekavianlatin]=veb vidžet
Name[sr@latin]=veb vidžet
Name[sv]=Webbkomponent
Name[ta]=Web Widget
Name[te]=వెబ్ విడ్జట్
Name[tg]=Илова ба Интернет
Name[th]=วิดเจ็ตแบบเว็บ
Name[tr]=Web Programcığı
Name[ug]=تور بەت Widget
Name[uk]=Віджет тенет
Name[wa]=Ahesse waibe
Name[x-test]=xxWeb Widgetxx
Name[zh_CN]=网页部件
Name[zh_TW]=網頁元件
Comment=Webpage widget using HTML and JavaScript
Comment[ar]=صفحة وِب باستخدام HTML وجافا سكربت
Comment[ast]=Elementu gráficu de páxina web qu'usa HTML y JavaScript
Comment[be@latin]=Widžet z staronkaj u farmacie „HTML” i z skryptami „JavaScript”.
Comment[bg]=Джаджа за уеб страници (HTML и JavaScript)
Comment[bs]=Grafička kontrola web stranice sa HTML‑om i JavaScriptom
Comment[ca]=Estri per a pàgines web que usa HTML i JavaScript
Comment[ca@valencia]=Estri per a pàgines web que usa HTML i JavaScript
Comment[cs]=Widget webové stránky s HTML a JS
Comment[da]=Hjemmeside-widget som bruger HTML og JavaScript
Comment[de]=Webseiten-Miniprogramm (verwendet HTML und JavaScript)
Comment[el]=Συστατικό ιστοσελίδας με χρήση HTML και JavaScript
Comment[en_GB]=Webpage widget using HTML and JavaScript
Comment[eo]=Reta fenestraĵo kiu uzas HTML-on kaj Ĝavoskripton
Comment[es]=Elemento gráfico de página web que usa HTML y JavaScript
Comment[et]=HTML-i ja JavaScripti kasutav veebilehekülje vidin
Comment[eu]=Weborri trepeta HTML eta JavaScript erabiltzen dituena
Comment[fi]=HTML:ää ja JavaScriptiä käyttävä verkkosivusovelma
Comment[fr]=Composant graphique de page Web utilisant HTML et JavaScript
Comment[fy]=Webside widget brûkend HTML en JavaSkript
Comment[ga]=Giuirléid Ghréasáin a úsáideann HTML agus JavaScript
Comment[gl]=Widget de páxina web que emprega HTML e JavaScript
Comment[gu]=HTML અને જાવાસ્ક્રિપ્ટ ઉપયોગ કરીને વેબપાનું વિજેટ
Comment[he]=ווידג׳ט עמוד אינטרנט העושה שימוש ב־HTML וב־JavaScript
Comment[hi]=एचटीएमएल एवं जावा-स्क्रिप्ट के प्रयोग से जालपृष्ठ विजेट
Comment[hne]=एचटीएमएल अउ जावास्क्रिप्ट के उपयोग से वेबपेज विजेट
Comment[hr]=Widgeti web stranice koja koristi HTML i JavaScript
Comment[hu]=Webes elem HTML/Javascript használatával
Comment[ia]=Elemento graphic (Widget) de pagina web usante HTML e JavaScript
Comment[id]=Widget halaman web menggunakan HTML dan JavaScript
Comment[is]=Vefsíðugræja sem notar HTML og JavaScript
Comment[it]=Oggetto di una pagina Web che usa HTML e JavaScript
Comment[ja]=HTML と JavaScript を使ったウェブページウィジェット
Comment[kk]=HTML мен JavaScript негіздеген Веб-парақ бөлшегі
Comment[km]=ធាតុក្រាហ្វិក​ទំព័រ​បណ្ដាញ​ដោយប្រើ HTML និង JavaScript
Comment[kn]=HTML ಮತ್ತು  ಜಾವಾಸ್ಕ್ರಿಪ್ಟ್ ಬಳಸುವ ಜಾಲಪುಟ ನಿಯಂತ್ರಣಾಸಂಪರ್ಕತಟ (ವಿಡ್ಗೆಟ್)
Comment[ko]=HTML과 자바스크립트를 사용하는 웹 페이지 위젯
Comment[ku]=Amûrê Rûpela Webê HTML û JavaScript bi kar tîne
Comment[lt]=Žiniatinklio puslapio valdiklis naudojantis HTML ir JavaScript
Comment[lv]=Tīmekļa lapas sīkrīks, kas izmanto HTML un JavaScript
Comment[ml]=എച്ച്ടിഎംഎലും ജാവാസ്ക്രിപ്റ്റും ഉപയോഗിക്കുന്ന വെബ്താള്‍ ഉരുപ്പടി
Comment[mr]=HTML व जावास्क्रिप्टचा वापर करणारे वेबपान विजेट
Comment[nb]=Nettside-element som bruker HTML og JavaScript
Comment[nds]=Nettsieden-Finster, bruukt HTML un JavaScript
Comment[nl]=Webpagina-widget, gebruikmakend van HTML en JavaScript
Comment[nn]=Nettsideelement som brukar HTML og JavaScript
Comment[or]=HTML ଏବଂ JavaScript ବ୍ୟବହାର କରି ୱେବ ପୃଷ୍ଠା ୱିଜେଟ
Comment[pa]=HTML ਅਤੇ ਜਾਵਾ-ਸਕ੍ਰਿਪਟ ਨਾਲ ਵੈੱਬ-ਪੇਜ਼ ਵਿਦਜੈੱਟ
Comment[pl]=Element interfejsu wykorzystujący HTML oraz JavaScript
Comment[pt]=Elemento de página Web que usa HTML e JavaScript
Comment[pt_BR]=Widget de página da Internet usando HTML e JavaScript
Comment[ro]=Control web scris în HTML și JavaScript
Comment[ru]=Показ веб-страницы
Comment[si]=Webpage widget using HTML and JavaScript
Comment[sk]=Widget webovej stránky, ktorý používa HTML a JavaScript
Comment[sl]=Spletni gradnik, ki uporablja HTML in JavaScript
Comment[sr]=Виџет веб странице са ХТМЛ‑ом и јаваскриптом
Comment[sr@ijekavian]=Виџет веб странице са ХТМЛ‑ом и јаваскриптом
Comment[sr@ijekavianlatin]=Vidžet veb stranice sa HTML‑om i JavaScriptom
Comment[sr@latin]=Vidžet veb stranice sa HTML‑om i JavaScriptom
Comment[sv]=Grafisk webbkomponent som använder HTML och Javascript
Comment[ta]=Webpage widget using HTML and JavaScript
Comment[te]=HTML మరియు జావాస్క్రిప్‍ట్ ఉపయోగించు వెబ్‌పేజ్ విడ్జట్
Comment[tg]=Модуль, использующий HTML и JavaScript
Comment[th]=วิดเจ็ตหน้าเว็บที่ถูกเขียนด้วย HTML และจาวาสคริปต์
Comment[tr]=HTML ve JavaScript kullanan Web sayfası programcığı
Comment[ug]=HTML ۋە JavaScript ئىشلەتكەن تور بەت widget
Comment[uk]=Віджет сторінки тенет, що використовує HTML і JavaScript
Comment[wa]=Ahesse di pådje waibe eployant l' HTML eyet JavaScript
Comment[x-test]=xxWebpage widget using HTML and JavaScriptxx
Comment[zh_CN]=使用 HTML 和JavaScript 的网页部件
Comment[zh_TW]=使用 HTML 與 JavaScript 的網頁元件
Type=Service
ServiceTypes=Plasma/ScriptEngine
Icon=internet-web-browser

X-KDE-Library=plasma_appletscriptengine_webapplet
X-KDE-PluginInfo-Author=Zack Rusin
X-KDE-PluginInfo-Email=zack@kde.org
X-KDE-PluginInfo-Name=webkit
X-KDE-PluginInfo-Version=pre0.1
X-KDE-PluginInfo-Website=http://plasma.kde.org/
X-KDE-PluginInfo-Category=Applet
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=BSD
X-KDE-PluginInfo-EnabledByDefault=true
X-Plasma-API=webkit
X-Plasma-ComponentTypes=Applet
X-Plasma-PackageFormat=webkit
