[Desktop Entry]
Comment=Default toolbox for the netbook shell
Comment[ast]=Caxa de ferramientes predeterminada de la shell pa netbooks
Comment[bg]=Стандартни инструменти за обвивка на нетбук
Comment[bs]=Podrazumijevana alatnica za netbuk školjku
Comment[ca]=Quadre d'eines per defecte per a l'àrea de treball dels ordinadors ultraportàtils
Comment[ca@valencia]=Quadre d'eines per defecte per a l'àrea de treball dels ordinadors ultraportàtils
Comment[cs]=Výchozí nástroje pro netbook shell
Comment[da]=Standard værktøjskasse til netbook-skallen
Comment[de]=Standard-Werkzeugkasten für die Plasma-Netbook-Oberfläche
Comment[el]=Προκαθορισμένη εργαλειοθήκη για το κέλυφος netbook
Comment[en_GB]=Default toolbox for the netbook shell
Comment[es]=Caja de herramientas predeterminada de la shell para netbooks
Comment[et]=Väikesülearvutikooriku vaikimisi tööriistakast
Comment[eu]=Tresna-kutxa lehenetsia netbook maskorrarentzako
Comment[fi]=Netbook-kuoren oletustyökalupakki
Comment[fr]=Boîte à outils par défaut pour le shell des ultra portables
Comment[gl]=A caixa de ferramentas predeterminada da shell netbook
Comment[he]=ארגז־כלים ברירת המחדל עבור מעטפת הנטבוק
Comment[hr]=Zadana alatna kutija za netbook ljusku
Comment[hu]=Alapértelmezett eszközkészlet a netbook héjhoz
Comment[ia]=Instrumentario predefinite pro le shell del netbook
Comment[is]=Sjálfgefið verkfærasafn fyrir smáfartölvuskelina
Comment[it]=Strumenti predefiniti per la shell degli ultraportatili
Comment[ja]=ネットブックシェル用の標準ツールボックス
Comment[kk]=Нетбук ортасының әдетті құралдар панелі
Comment[km]=ប្រអប់​ឧបករណ៍​លំនាំដើម សម្រាប់​សែល netbook
Comment[ko]=넷북 셸을 위한 기본 도구 상자
Comment[lt]=Numatytoji netbook apvalkalo įrankinė
Comment[lv]=Noklusētā rīkkaste mazdatoru čaulai
Comment[mr]=नेटबूक शेलसाठी मूलभूत साधने
Comment[nb]=Standard verktøykasse for netbook-skallet
Comment[nds]=Standardwarktüüch för de Nettbook-Konsool
Comment[nl]=Standaard hulpmiddelen voor de netbook-shell
Comment[pa]=ਨੈੱਟਬੁੱਕ ਸ਼ੈੱਲ ਲਈ ਡਿਫਾਲਟ ਟੂਲਬਾਕਸ
Comment[pl]=Domyślny przybornik dla powłoki netbook
Comment[pt]=A barra predefinida para a consola do Netbook
Comment[pt_BR]=A barra padrão para o shell do netbook
Comment[ro]=Trusă de unelte implicită pentru învelișul de netbook
Comment[ru]=Стандартные инструменты настройки оболочки для нетбуков
Comment[sk]=Štandardné nástroje pre netbook shell
Comment[sl]=Privzeti nabor orodij za Namizno lupino Plasma za male prenosnike
Comment[sr]=Подразумевана алатница за нетбук шкољку
Comment[sr@ijekavian]=Подразумијевана алатница за нетбук шкољку
Comment[sr@ijekavianlatin]=Podrazumijevana alatnica za netbuk školjku
Comment[sr@latin]=Podrazumevana alatnica za netbuk školjku
Comment[sv]=Standardverktyg för nätdatorskalet
Comment[th]=กล่องเครื่องมือปริยายสำหรับเชลล์ของเน็ตบุ้ค
Comment[tr]=Netbook kabuğu için öntanımlı araçkutusu
Comment[ug]=تور كومپيۇتېر shell ئۈچۈن كۆڭۈلدىكى قورال قۇتىسى
Comment[uk]=Типовий набір інструментів для оболонки субноутбуків
Comment[vi]=Hộp công cụ mặc định cho vỏ netbook
Comment[wa]=Usteye prémetowe pol shell di poirtåve éndjolete
Comment[x-test]=xxDefault toolbox for the netbook shellxx
Comment[zh_CN]=上网本外壳的默认工具
Comment[zh_TW]=netbook shell 的預設工具盒
Icon=plasma
Name=Net toolbox
Name[ast]=Caxa de ferramientes netbook
Name[bs]=Netbuk alatnica
Name[ca]=Quadre d'eines de la xarxa
Name[ca@valencia]=Quadre d'eines de la xarxa
Name[cs]=Nástroje sítě
Name[da]=Netværktøjskasse
Name[de]=Werkzeugkasten für Netbooks
Name[el]=Εργαλειοθήκη δικτύου
Name[en_GB]=Net toolbox
Name[es]=Caja de herramientas netbook
Name[et]=Väikesülearvuti tööriistakast
Name[eu]=Net tresna-kutxa
Name[fi]=Verkkotyökalupakki
Name[fr]=Boîte à outils réseau
Name[ga]=Bosca uirlisí líonra
Name[gl]=Caixa de ferramentas de rede
Name[he]=ארגז־כלי רשת
Name[hr]=Mrežna alatna kutija
Name[hu]=Hálózati eszközkészlet
Name[ia]=Instrumentario de rete
Name[is]=Net-verkfærasafn
Name[it]=Strumenti per ultraportatili
Name[ja]=ネットワークツールボックス
Name[kk]=Желі құралдары
Name[km]=ប្រអប់​ឧបករណ៍​បណ្ដាញ
Name[kn]=ಜಾಲ ಉಪಕರಣಪಟ್ಟಿ
Name[ko]=넷북 도구 상자
Name[lt]=Tinklo įrankinė
Name[lv]=Tīkla rīkkaste
Name[mr]=नेटबूक साधने
Name[nb]=Nettverksverktøykasse
Name[nds]=Warktüüch för't Nettwark
Name[nl]=Netwerk-hulpmiddelen
Name[pa]=ਨੈੱਟ ਟੂਲਬਾਕਸ
Name[pl]=Przybornik Net
Name[pt]=Barra da rede
Name[pt_BR]=Barra da rede
Name[ro]=Trusă unelte de rețea
Name[ru]=Настройка оболочки для нетбуков
Name[sk]=Nástroje pre netbook
Name[sl]=Orodja za delovno okolje
Name[sr]=Нетбук алатница
Name[sr@ijekavian]=Нетбук алатница
Name[sr@ijekavianlatin]=Netbuk alatnica
Name[sr@latin]=Netbuk alatnica
Name[sv]=Nätverksverktyg
Name[th]=เครื่องมือระบบเครือข่าย
Name[tr]=Ağ araçkutusu
Name[ug]=تور قورال قۇتىسى
Name[uk]=Набір інструментів для субноутбуків
Name[wa]=Boesse ås usteye del rantoele
Name[x-test]=xxNet toolboxxx
Name[zh_CN]=网络工具箱
Name[zh_TW]=網路工具盒
Type=Service

X-KDE-ServiceTypes=Plasma/ToolBox
X-KDE-Library=plasma_toolbox_nettoolbox
X-KDE-PluginInfo-Author=Marco Martin
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-Email=mart@kde.org
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-Name=org.kde.nettoolbox
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=http://plasma.kde.org/

