[Desktop Entry]
Name=Contacts
Name[ar]=المراسلون
Name[ast]=Contautos
Name[bg]=Контакти
Name[bs]=kontakti
Name[ca]=Contactes
Name[ca@valencia]=Contactes
Name[cs]=Kontakty
Name[csb]=Łączbë
Name[da]=Kontakter
Name[de]=Kontakte
Name[el]=Επαφές
Name[en_GB]=Contacts
Name[eo]=Kontaktoj
Name[es]=Contactos
Name[et]=Kontaktid
Name[eu]=Kontaktuak
Name[fa]=تماسها
Name[fi]=Yhteystiedot
Name[fr]=Contacts
Name[fy]=Kontakten
Name[ga]=Teagmhálacha
Name[gl]=Contactos
Name[gu]=સંબંધો
Name[he]=אנשי קשר
Name[hi]=संपर्क
Name[hr]=Kontakti
Name[hu]=Névjegyek
Name[ia]=Contactos
Name[id]=Kontak
Name[is]=Tengiliðir
Name[it]=Contatti
Name[ja]=連絡先
Name[kk]=Контакттар
Name[km]=ទំនាក់ទំនង
Name[kn]=ಸಂಪರ್ಕ ವಿಳಾಸಗಳು
Name[ko]=연락처
Name[lt]=Kontaktai
Name[lv]=Kontakti
Name[mk]=Контакти
Name[ml]=വിലാസങ്ങള്‍
Name[mr]=संपर्क
Name[nb]=Kontakter
Name[nds]=Kontakten
Name[nl]=Contacts
Name[nn]=Kontaktar
Name[pa]=ਸੰਪਰਕ
Name[pl]=Kontakty
Name[pt]=Contactos
Name[pt_BR]=Contatos
Name[ro]=Contacte
Name[ru]=Контакты
Name[si]=සබඳතා 
Name[sk]=Kontakty
Name[sl]=Stiki
Name[sr]=контакти
Name[sr@ijekavian]=контакти
Name[sr@ijekavianlatin]=kontakti
Name[sr@latin]=kontakti
Name[sv]=Kontakter
Name[tg]=Тамосҳо
Name[th]=ที่อยู่ติดต่อต่าง ๆ
Name[tr]=Kişiler
Name[ug]=ئالاقەداشلار
Name[uk]=Контакти
Name[vi]=Liên lạc
Name[wa]=Contaks
Name[x-test]=xxContactsxx
Name[zh_CN]=联系人
Name[zh_TW]=聯絡人
Comment=List all your contacts
Comment[ar]=اسرد جميع مراسليك
Comment[ast]=Llistar tolos contautos
Comment[bg]=Списък с контактите ви
Comment[bs]=Nabraja sve vaše kontakte
Comment[ca]=Llista tots els contactes
Comment[ca@valencia]=Llista tots els contactes
Comment[cs]=Seznam všech vašich kontaktů
Comment[csb]=Wëskrzëni wszëtczé twòjé łączbë
Comment[da]=Oplist alle dine kontakter
Comment[de]=Alle Kontakte auflisten
Comment[el]=Λίστα με όλες οι επαφές
Comment[en_GB]=List all your contacts
Comment[eo]=Listo de ĉiuj viaj kontaktoj
Comment[es]=Listar todos sus contactos
Comment[et]=Kõigi kontaktide loend
Comment[eu]=Zerrendatu zure kontaktu guztiak
Comment[fi]=Luettelo kaikista yhteystiedoistasi
Comment[fr]=Liste tous vos contacts
Comment[fy]=Al jo kontakten opsomme
Comment[ga]=Taispeáin do theagmhálacha go léir
Comment[gl]=Enumera todos os contactos
Comment[gu]=તમારા બધાં સંપર્કો બતાવે છે
Comment[he]=משמש להצגת כל אנשי הקשר שלך
Comment[hi]=अपने सभी संपर्क दिखाएँ
Comment[hr]=Izlistaj sve moje kontakte
Comment[hu]=Kilistázza az összes névjegyet
Comment[ia]=Il lista tote tu contactos
Comment[id]=Tampilkan semua kontak anda
Comment[is]=Listar alla tengiliðina þína
Comment[it]=Elenca tutti i contatti
Comment[ja]=すべての連絡先を一覧表示します
Comment[kk]=Контакттарыңыздың тізімі
Comment[km]=រាយ​ទំនាក់ទំនង​របស់​អ្នក​ទាំងអស់​
Comment[kn]=ನಿಮ್ಮ ಎಲ್ಲಾ ಸಂಪರ್ಕಗಳನ್ನು ಪಟ್ಟಿ ಮಾಡು
Comment[ko]=모든 연락처를 표시합니다
Comment[lt]=Visų kontaktų sąrašas
Comment[lv]=Parāda visus jūsu kontaktus
Comment[mk]=Прикажете ги сите Ваши контакти
Comment[ml]=നിങ്ങളുടെ എല്ലാ വിലാസങ്ങളും കാണിയ്ക്കുക
Comment[mr]=तुमच्या सर्व संपर्कातील व्यक्तिंची यादी करा
Comment[nb]=List alle dine kontakter
Comment[nds]=All Dien Kontakten oplisten
Comment[nl]=Toon al uw contacten
Comment[nn]=Vis alle kontaktane
Comment[pa]=ਆਪਣੇ ਸਭ ਸੰਪਰਕ ਵੇਖੋ
Comment[pl]=Wykaz wszystkich twoich kontaktów
Comment[pt]=Apresentar todos os seus contactos
Comment[pt_BR]=Lista todos os seus contatos
Comment[ro]=Enumeră toate contactele
Comment[ru]=Список всех ваших контактов
Comment[si]=ඔබේ සබඳතා සියල්ල ලැයිස්තුගත කරන්න
Comment[sk]=Zoznam všetkých kontaktov
Comment[sl]=Izpiše seznam vseh stikov
Comment[sr]=Набраја све ваше контакте
Comment[sr@ijekavian]=Набраја све ваше контакте
Comment[sr@ijekavianlatin]=Nabraja sve vaše kontakte
Comment[sr@latin]=Nabraja sve vaše kontakte
Comment[sv]=Lista alla kontakter
Comment[tg]=Рӯйхати алоқаҳо
Comment[th]=เรียกดูรายการที่อยู่ติดต่อต่าง ๆ ของคุณ
Comment[tr]=Tüm kişileri listele
Comment[ug]=ھەممە ئالاقەداشلار تىزىمىڭىز
Comment[uk]=Список всіх ваших записів контактів
Comment[vi]=Liệt kê các liên lạc của bạn
Comment[wa]=Fé l' djivêye di tos vos contaks
Comment[x-test]=xxList all your contactsxx
Comment[zh_CN]=列出所有联系人
Comment[zh_TW]=列出所有聯絡人
Icon=view-pim-contacts

Type=Service
X-KDE-ServiceTypes=Plasma/Sal/Menu
X-KDE-PluginInfo-Name=plasma-sal-contacts

X-Plasma-Sal-Url=krunner://kabccontacts/contacts
X-Plasma-Sal-Relevance=8
