[Desktop Entry]
Name=Panel for Netbooks
Name[ar]=لوحة للحاسب المحمول الشبكي
Name[ast]=Panel pa netbooks
Name[bg]=Панел за нетбук
Name[bn]=নেটবুক-এর জন্য প্যানেল
Name[bs]=panel za netbuke
Name[ca]=Plafó per a ordinadors ultraportàtils
Name[ca@valencia]=Plafó per a ordinadors ultraportàtils
Name[cs]=Panel pro Netbooky
Name[csb]=Panel dlô Netbooków
Name[da]=Panel til netbooks
Name[de]=Kontrollleiste für Netbooks
Name[el]=Πίνακας για Netbooks
Name[en_GB]=Panel for Netbooks
Name[eo]=Panelo por malgrandaj komputiloj
Name[es]=Panel para netbooks
Name[et]=Väikesülearvuti paneel
Name[eu]=Netbookentzako panela
Name[fi]=Paneeli miniläppäreille
Name[fr]=Tableau de bord pour les ultra portables
Name[fy]=Paniel foar Netbooks
Name[gl]=Panel para ultraportátiles
Name[he]=לוח עבור נטבוקים
Name[hi]=नेटबुक के लिए पटल
Name[hr]=Ploča za Netbooke
Name[hu]=Netbook panel
Name[ia]=Pannello pro Netbooks
Name[id]=Panel untuk Komputer Mini
Name[is]=Spjald fyrir smáfartölvur
Name[it]=Pannello per ultraportatili
Name[ja]=ネットブックのパネル
Name[kk]=Нетбуктерге арналған панель
Name[km]=បន្ទះ​សម្រាប់ Netbooks
Name[kn]=ನೆಟ್‌ಬುಕ್‌ಗಳಿಗಾಗಿನ ಫಲಕ
Name[ko]=넷북을 위한 패널
Name[lt]=Pultas Netbukams
Name[lv]=Panelis mazdatoriem
Name[ml]=നെറ്റ്ബുക്കുകള്‍ക്കു വേണ്ടിയുള്ള പാളി
Name[mr]=नेटबूक करिता पटल
Name[nb]=Panel for nettbok
Name[nds]=Paneel för Nettböker
Name[nl]=Paneel voor netbooks
Name[nn]=Panel for mini-PC-ar
Name[pa]=ਨੈੱਟਬੁੱਕ ਲਈ ਪੈਨਲ
Name[pl]=Panel dla netbooków
Name[pt]=Painel para Netbooks
Name[pt_BR]=Painel para Netbooks
Name[ro]=Panou pentru netbook-uri
Name[ru]=Панель для нетбуков
Name[si]=නෙට්බුක් සඳහා පැනලය
Name[sk]=Panel pre Netbooky
Name[sl]=Pult za male prenosnike
Name[sr]=панел за нетбуке
Name[sr@ijekavian]=панел за нетбуке
Name[sr@ijekavianlatin]=panel za netbuke
Name[sr@latin]=panel za netbuke
Name[sv]=Panel för bärbara nätdatorer
Name[tg]=Панел баро Нетбук
Name[th]=แถบพาเนลสำหรับเน็ตบุ้ค
Name[tr]=Netbooklar için Panel
Name[ug]=تور كومپيۇتېرنىڭ تاختىسى
Name[uk]=Панель для субноутбука
Name[wa]=Scriftôr po les poirtåvès éndjoletes
Name[x-test]=xxPanel for Netbooksxx
Name[zh_CN]=笔记本面板
Name[zh_TW]=Netbooks 的面板
Comment=A containment for a panel
Comment[af]='n Plekhouer vir 'n paneel
Comment[ar]=حاوية للوحة
Comment[ast]=Un contenedor pa un panel
Comment[be@latin]=Jomišča dla paneli
Comment[bg]=Контейнер за панел
Comment[bs]=Sadržalac za panel
Comment[ca]=Un contenidor per un plafó
Comment[ca@valencia]=Un contenidor per un plafó
Comment[cs]=Kontejner pro panel
Comment[da]=En beholder til et panel
Comment[de]=Ein Behältnis für eine Kontrollleiste
Comment[el]=Ένας υποδοχέας για έναν πίνακα
Comment[en_GB]=A containment for a panel
Comment[eo]=Panelujo
Comment[es]=Un contenedor para un panel
Comment[et]=Paneeli konteiner
Comment[eu]=Panel batentzako edukiontzi bat
Comment[fi]=Sovelmasäiliö paneelille
Comment[fr]=Un conteneur pour un tableau de bord
Comment[fy]=In ynslúter foar in paniel
Comment[ga]=Coimeádán le haghaidh painéil
Comment[gl]=Un contido para un panel
Comment[gu]=પેનલ માટે ધરાવનાર
Comment[he]=תיבה ללוח
Comment[hi]=फलक के लिए कंटेनमेंट
Comment[hne]=पेनल बर कंटेनमेंट
Comment[hr]=Okruženje za panel
Comment[hu]=Tartóobjektum a panelhez
Comment[ia]=Un contento pro un pannello
Comment[id]=Pembatasan untuk panel
Comment[is]=Afmörkun fyrir spjald
Comment[it]=Un contenitore per un pannello
Comment[ja]=プラズモイド (Plasma パネル) の入れ物
Comment[kk]=Панельдің ішіндегісі
Comment[km]=ការ​ផ្ទុក​សម្រាប់​បន្ទះ
Comment[kn]=ಪುಟೀಪಿಗೆ (ಪಾನಲ್) ಒಂದು ಧಾರಕ
Comment[ko]=모든 것을 포함하는 패널
Comment[lt]=Pulto laikiklis
Comment[lv]=Ietvērums panelim
Comment[ml]=പാളി വെയ്ക്കാനുള്ള കണ്ടൈന്‍മെന്റ്
Comment[mr]=पटल करिता एक कंटेनर
Comment[nb]=En beholder for et panel
Comment[nds]=En Gelaats för en Paneel
Comment[ne]=प्यानलका लागि एउटा रोकथाम
Comment[nl]=Een insluiting voor een paneel
Comment[nn]=Ein behaldar for panel
Comment[or]=ଫଳକ ପାଇଁ ଗୋଟିଏ ପ୍ୟାନେଲ
Comment[pa]=ਇੱਕ ਪੈਨਲ ਲਈ ਕੰਨਟੇਨਮੈਂਟ
Comment[pl]=Kontener dla panelu
Comment[pt]=Um contentor para um painel
Comment[pt_BR]=Um contêiner para um painel
Comment[ro]=Container pentru un panou
Comment[ru]=Контейнер панели
Comment[se]=Lihtti mii sisttisdoallá panela
Comment[si]=පැනලය සඳහා ධාරකය
Comment[sk]=Kontajner pre panel
Comment[sl]=Vsebnik za pult
Comment[sr]=Садржалац за панел
Comment[sr@ijekavian]=Садржалац за панел
Comment[sr@ijekavianlatin]=Sadržalac za panel
Comment[sr@latin]=Sadržalac za panel
Comment[sv]=En omgivning för en panel
Comment[ta]=A containment for a panel
Comment[te]=ప్యానల్ కొరకు ఒక కంటైన్‌మెంట్
Comment[tg]=Контейнер для панели
Comment[th]=ส่วนบรรจุสำหรับพาเนล
Comment[tr]=Panel için bir tutucu
Comment[ug]=تاختا قاچىسى
Comment[uk]=Вмістилище для панелі
Comment[wa]=On contneu pos on scriftôr
Comment[x-test]=xxA containment for a panelxx
Comment[zh_CN]=面板容器
Comment[zh_TW]=面板容器
Icon=
Type=Service
X-KDE-ServiceTypes=Plasma/Applet,Plasma/Containment
X-Plasma-ContainmentCategories=netbook,panel
NoDisplay=true

X-KDE-Library=plasma_containment_netpanel
X-KDE-PluginInfo-Author=The Plasma Team
X-KDE-PluginInfo-Email=plasma-devel@kde.org
X-KDE-PluginInfo-Name=netpanel
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=http://plasma.kde.org/
X-KDE-PluginInfo-Category=Containments
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
