[Desktop Entry]
Type=Service
Name=Image
Name[ar]=صورة
Name[ast]=Imaxe
Name[be@latin]=Vyjava
Name[bg]=Изображение
Name[bn]=ছবি
Name[bn_IN]=ছবি
Name[bs]=slika
Name[ca]=Imatge
Name[ca@valencia]=Imatge
Name[cs]=Obrázek
Name[csb]=Òbrôzk
Name[da]=Billede
Name[de]=Bild
Name[el]=Εικόνα
Name[en_GB]=Image
Name[eo]=Bildo
Name[es]=Imagen
Name[et]=Pilt
Name[eu]=Irudia
Name[fa]=تصویر
Name[fi]=Kuva
Name[fr]=Image
Name[fy]=Ofbylding
Name[ga]=Íomhá
Name[gl]=Imaxe
Name[gu]=ચિત્ર
Name[he]=תמונה
Name[hi]=छवि
Name[hne]=फोटो
Name[hr]=Slika
Name[hu]=Kép
Name[ia]=Image
Name[id]=Gambar
Name[is]=Mynd
Name[it]=Immagine
Name[ja]=画像
Name[ka]=გამოსახულება
Name[kk]=Кескіні
Name[km]=រូបភាព
Name[kn]=ಬಿಂಬ (ಇಮೇಜ್)
Name[ko]=그림
Name[ku]=Wêne
Name[lt]=Paveikslėlis
Name[lv]=Attēls
Name[mai]=चित्र
Name[mk]=Слика
Name[ml]=ചിത്രം
Name[mr]=प्रतिमा
Name[nb]=Bilde
Name[nds]=Bild
Name[nl]=Afbeelding
Name[nn]=Bilete
Name[or]=ପ୍ରତିଛବି
Name[pa]=ਚਿੱਤਰ
Name[pl]=Obraz
Name[pt]=Imagem
Name[pt_BR]=Imagem
Name[ro]=Imagine
Name[ru]=Изображение
Name[si]=පිංතූරය
Name[sk]=Obrázok
Name[sl]=Slika
Name[sr]=слика
Name[sr@ijekavian]=слика
Name[sr@ijekavianlatin]=slika
Name[sr@latin]=slika
Name[sv]=Bild
Name[ta]=Image
Name[tg]=Тасвир
Name[th]=ภาพ
Name[tr]=Resim
Name[ug]=سۈرەت
Name[uk]=Зображення
Name[vi]=Ảnh
Name[wa]=Imådje
Name[x-test]=xxImagexx
Name[zh_CN]=图像
Name[zh_TW]=影像
Icon=image-jpeg
ServiceTypes=Plasma/Wallpaper
Actions=SingleImage;Slideshow;

X-KDE-Library=plasma_wallpaper_image
X-KDE-PluginInfo-Author=Petri Damstén
X-KDE-PluginInfo-Email=damu@iki.fi
X-KDE-PluginInfo-Name=image
X-KDE-PluginInfo-Version=pre0.1
X-KDE-PluginInfo-Website=http://plasma.kde.org/
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true

MimeType=image/jpeg;image/png;image/svg+xml;image/svg+xml-compressed;image/bmp;
X-Plasma-DropMimeTypes=image/jpeg,image/png,image/svg+xml,image/svg+xml-compressed,image/bmp

[Desktop Action SingleImage]
Name=Image
Name[ar]=صورة
Name[ast]=Imaxe
Name[be@latin]=Vyjava
Name[bg]=Изображение
Name[bn]=ছবি
Name[bn_IN]=ছবি
Name[bs]=slika
Name[ca]=Imatge
Name[ca@valencia]=Imatge
Name[cs]=Obrázek
Name[csb]=Òbrôzk
Name[da]=Billede
Name[de]=Bild
Name[el]=Εικόνα
Name[en_GB]=Image
Name[eo]=Bildo
Name[es]=Imagen
Name[et]=Pilt
Name[eu]=Irudia
Name[fa]=تصویر
Name[fi]=Kuva
Name[fr]=Image
Name[fy]=Ofbylding
Name[ga]=Íomhá
Name[gl]=Imaxe
Name[gu]=ચિત્ર
Name[he]=תמונה
Name[hi]=छवि
Name[hne]=फोटो
Name[hr]=Slika
Name[hu]=Kép
Name[ia]=Image
Name[id]=Gambar
Name[is]=Mynd
Name[it]=Immagine
Name[ja]=画像
Name[ka]=გამოსახულება
Name[kk]=Кескіні
Name[km]=រូបភាព
Name[kn]=ಬಿಂಬ (ಇಮೇಜ್)
Name[ko]=그림
Name[ku]=Wêne
Name[lt]=Paveikslėlis
Name[lv]=Attēls
Name[mai]=चित्र
Name[mk]=Слика
Name[ml]=ചിത്രം
Name[mr]=प्रतिमा
Name[nb]=Bilde
Name[nds]=Bild
Name[nl]=Afbeelding
Name[nn]=Bilete
Name[or]=ପ୍ରତିଛବି
Name[pa]=ਚਿੱਤਰ
Name[pl]=Obraz
Name[pt]=Imagem
Name[pt_BR]=Imagem
Name[ro]=Imagine
Name[ru]=Изображение
Name[si]=පිංතූරය
Name[sk]=Obrázok
Name[sl]=Slika
Name[sr]=слика
Name[sr@ijekavian]=слика
Name[sr@ijekavianlatin]=slika
Name[sr@latin]=slika
Name[sv]=Bild
Name[ta]=Image
Name[tg]=Тасвир
Name[th]=ภาพ
Name[tr]=Resim
Name[ug]=سۈرەت
Name[uk]=Зображення
Name[vi]=Ảnh
Name[wa]=Imådje
Name[x-test]=xxImagexx
Name[zh_CN]=图像
Name[zh_TW]=影像
Icon=image-jpeg
Comment=A single image
Comment[bs]=Prosta slika
Comment[ca]=Una única imatge
Comment[ca@valencia]=Una única imatge
Comment[cs]=Jeden obrázek
Comment[da]=Et enkelt billede
Comment[de]=Ein einzelnes Bild
Comment[es]=Una única imagen
Comment[fi]=Yksi kuva
Comment[fr]=Une image simple
Comment[gl]=Unha imaxe.
Comment[hu]=Egy egyszerű kép
Comment[ia]=Un imagine singule
Comment[it]=Un'immagine singola
Comment[kk]=Жалғыз кескін
Comment[ko]=단일 그림
Comment[nb]=Ett enkelt bilde
Comment[nl]=Een enkele afbeelding
Comment[pa]=ਇੱਕਲਾ ਚਿੱਤਰ
Comment[pt]=Uma imagem simples
Comment[pt_BR]=Imagem simples
Comment[ru]=Одно изображение
Comment[sk]=Jednoduchý obrázok
Comment[sl]=Ena slika
Comment[sr]=Једна слика
Comment[sr@ijekavian]=Једна слика
Comment[sr@ijekavianlatin]=Jedna slika
Comment[sr@latin]=Jedna slika
Comment[sv]=En enda bild
Comment[tr]=Tek bir resim
Comment[uk]=Окреме зображення
Comment[x-test]=xxA single imagexx
Comment[zh_CN]=单个图像
Comment[zh_TW]=單一影像
# Dummy
Exec=plasma

[Desktop Action Slideshow]
Name=Slideshow
Name[ar]=عرض شرائح
Name[ast]=Presentación
Name[be@latin]=Słajdy
Name[bg]=Прожекция
Name[bn]=স্লাইড-শো
Name[bn_IN]=স্লাইড-শো
Name[bs]=slajd‑šou
Name[ca]=Passi de diapositives
Name[ca@valencia]=Passe de diapositives
Name[cs]=Promítání
Name[csb]=Pòkôz slajdów
Name[da]=Diasshow
Name[de]=Diaschau
Name[el]=Προβολή σλάιντ
Name[en_GB]=Slideshow
Name[eo]=Bildoserio
Name[es]=Presentación
Name[et]=Slaidiseanss
Name[eu]=Filmina erakusketa
Name[fi]=Diashow
Name[fr]=Diaporama
Name[fy]=Diafoarstelling
Name[ga]=Taispeántas Sleamhnán
Name[gl]=Presentación
Name[gu]=સ્લાઇડશો
Name[he]=מצגת
Name[hi]=स्लाइड-शो
Name[hne]=स्लाइडसो
Name[hr]=Prezentacija
Name[hu]=Diabemutató
Name[ia]=Slideshow (Sequentia de diapositivas)
Name[id]=Salindia
Name[is]=Skyggnusýning
Name[it]=Presentazione
Name[ja]=スライドショー
Name[kk]=Слайд көрсетілімі
Name[km]=បញ្ចាំង​ស្លាយ
Name[kn]=ಚಿತ್ರಫಲಕ ಪ್ರದರ್ಶನ (ಸ್ಲೈಡ್ ಶೋ)
Name[ko]=슬라이드 쇼
Name[ku]=NîşandanaSlaydê
Name[lt]=Skaidrių peržiūra
Name[lv]=Slīdrāde
Name[mai]=स्लाइडशो
Name[mk]=Слајдшоу
Name[ml]=മാറുന്ന ചിത്രങ്ങള്‍
Name[mr]=स्लाइडशो
Name[nb]=Lysbildevisning
Name[nds]=Diaschau
Name[nl]=Diavoorstelling
Name[nn]=Lysbiletvising
Name[or]=ସ୍ଲାଇଡ଼ ଦୃଶ୍ୟ
Name[pa]=ਸਲਾਈਡ-ਸ਼ੋ
Name[pl]=Pokaz slajdów
Name[pt]=Apresentação
Name[pt_BR]=Apresentação de slides
Name[ro]=Diapozitiv
Name[ru]=Слайд-шоу
Name[si]=ස්ලයිඩ් දසුන
Name[sk]=Prezentácia
Name[sl]=Predstavitev
Name[sr]=слајд‑шоу
Name[sr@ijekavian]=слајд‑шоу
Name[sr@ijekavianlatin]=slajd‑šou
Name[sr@latin]=slajd‑šou
Name[sv]=Bildspel
Name[ta]=Slideshow
Name[tg]=Намоиши слайдҳо
Name[th]=นำเสนอภาพนิ่ง
Name[tr]=Slayt Gösterisi
Name[ug]=تام تەسۋىرى
Name[uk]=Показ слайдів
Name[wa]=Diaporama
Name[x-test]=xxSlideshowxx
Name[zh_CN]=幻灯显示
Name[zh_TW]=投影播放
Comment=Cycles through a set of images
Comment[bs]=Ciklus kroz skup slika
Comment[ca]=Passa a través d'un conjunt d'imatges
Comment[ca@valencia]=Passa a través d'un conjunt d'imatges
Comment[cs]=Prochází sadu obrázků
Comment[da]=Gennemgår et sæt af billeder
Comment[de]=Durchläuft einen Satz Bilder
Comment[es]=Repetir un conjunto de imágenes
Comment[fi]=Käy läpi kuvasarjaa
Comment[fr]=Un cycle d'une série d'images
Comment[gl]=Mostra unha serie de imaxes unha detrás da outra.
Comment[hu]=Ciklikusan változtatja a képek halmazát
Comment[ia]=Il cycla trans un unsimul de imagines
Comment[it]=Scorri una serie di immagini
Comment[kk]=Кескін жиынын қайталай беру
Comment[ko]=여러 그림 사이를 순환하기
Comment[nb]=Roterer gjennom et sett bilder
Comment[nl]=Circuleert door een set afbeeldingen
Comment[pa]=ਚਿੱਤਰਾਂ ਦੇ ਸਮੂਹ ਵਿੱਚੋਂ
Comment[pt]=Percorre um conjunto de imagens
Comment[pt_BR]=Percorre um conjunto de imagens
Comment[ru]=Циклическая смена изображений
Comment[sk]=Cyklus cez sadu obrázkov
Comment[sl]=Kroži po naboru slik
Comment[sr]=Кружење кроз скуп слика
Comment[sr@ijekavian]=Кружење кроз скуп слика
Comment[sr@ijekavianlatin]=Kruženje kroz skup slika
Comment[sr@latin]=Kruženje kroz skup slika
Comment[sv]=Går igenom en uppsättning bilder
Comment[tr]=Birden fazla resim arasında gezinir
Comment[uk]=Циклічне відтворення набору зображень
Comment[x-test]=xxCycles through a set of imagesxx
Comment[zh_CN]=在一系列图像间循环
Comment[zh_TW]=許多影像循環播放
Icon=folder-image
# Dummy
Exec=plasma

