[Desktop Entry]
Encoding=UTF-8
Name=Desktop Icons
Name[ar]=أيقونات سطح المكتب
Name[bg]=Настолни икони
Name[bs]=sesije radne površi
Name[ca]=Icones de l'escriptori
Name[ca@valencia]=Icones de l'escriptori
Name[cs]=Ikony na ploše
Name[da]=Skrivebordsikoner
Name[de]=Arbeitsflächen-Symbole
Name[el]=Εικονίδια επιφάνειας εργασίας
Name[es]=Iconos de escritorio
Name[et]=Töölauaikoonid
Name[eu]=Mahaigaineko ikonoak
Name[fi]=Työpöytäkuvakkeet
Name[fr]=Icônes du bureau
Name[ga]=Deilbhíní Deisce
Name[gl]=Iconas no escritorio
Name[he]=סמלים של שולחן עבודה
Name[hr]=Ikone radne površine
Name[hu]=Asztali ikonok
Name[ia]=Icones de scriptorio
Name[is]=Táknmyndir á skjáborði
Name[it]=Icone del desktop
Name[kk]=Үстел таңбашасы
Name[km]=រូបតំណាង​ផ្ទៃតុ
Name[ko]=데스크톱 아이콘
Name[lt]=Darbastalio ženkliukai
Name[lv]=Darbvirsmas ikonas
Name[mr]=डेस्कटॉप चिन्ह
Name[nb]=Skrivebordsikoner
Name[nds]=Schriefdischlüttbiller
Name[nl]=Pictogrammen op bureaublad
Name[pa]=ਡੈਸਕਟਾਪ ਆਈਕਾਨ
Name[pl]=Ikony pulpitu
Name[pt]=Ícones do Ecrã
Name[pt_BR]=Ícones da área de trabalho
Name[ro]=Pictograme de birou
Name[ru]=Значки на рабочем столе
Name[sk]=Ikony plochy
Name[sl]=Ikone na namizju
Name[sr]=Иконе површи
Name[sr@ijekavian]=Иконе површи
Name[sr@ijekavianlatin]=Ikone površi
Name[sr@latin]=Ikone površi
Name[sv]=Skrivbordsikoner
Name[tr]=Masaüstü Simgeleri
Name[ug]=ئۈستەلئۈستى سىنبەلگىسى
Name[uk]=Піктограми на стільниці
Name[vi]=Biểu tượng màn hình nền
Name[wa]=Imådjetes do scribanne
Name[x-test]=xxDesktop Iconsxx
Name[zh_CN]=桌面图标
Name[zh_TW]=桌面圖示
Icon=user-desktop
Type=Service
ServiceTypes=Plasma/LayoutTemplate
X-Plasma-Shell=plasma-desktop
X-Plasma-ContainmentCategories=desktop
X-Plasma-ContainmentLayout-ShowAsExisting=true
X-KDE-PluginInfo-Author=Kevin Ottens
X-KDE-PluginInfo-Email=ervin@kde.org
X-KDE-PluginInfo-Name=org.kde.plasma-desktop.desktopIcons
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=http://plasma.kde.org/
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
