[Desktop Entry]
Name=JavaScript DataEngine
Name[ar]=مشغل جافا سكربت
Name[ast]=Motor de datos JavaScript
Name[bg]=Ядро за данни на JavaScript
Name[bn]=জাভাস্ক্রিপ্ট ডেটা-ইঞ্জিন
Name[bs]=Javascript pogon podataka
Name[ca]=Motor de dades de JavaScript
Name[ca@valencia]=Motor de dades de JavaScript
Name[cs]=Datový nástroj JavaScript
Name[csb]=Mòtór JavaScript
Name[da]=JavaScript-datamotor
Name[de]=JavaScript-Datenmodul
Name[el]=Μηχανή δεδομένων JavaScript
Name[en_GB]=JavaScript DataEngine
Name[eo]=Datummodulo de Ĝavaskripto
Name[es]=Motor de datos JavaScript
Name[et]=JavaScripti andmemootor
Name[eu]=JavaScript datu-motorea
Name[fa]=موتور داده‌ی جاوااسکریپت
Name[fi]=JavaScript-datakone
Name[fr]=Moteur de données JavaScript
Name[fy]=JavaSkript gegevens motor
Name[ga]=Inneall Sonraí JavaScript
Name[gl]=Motor de datos de JavaScript
Name[gu]=જાવાસ્ક્રિપ્ટ માહિતીએન્જિન
Name[he]=מנוע נתונים של JavaScript
Name[hi]=जावास्क्रिप्ट डाटा इंजन
Name[hr]=JavaScript podatkovni mehanizam
Name[hu]=JavaScript-adatmodul
Name[ia]=JavaScript Motor de Datos (Data Engine)
Name[id]=Mesin Data JavaScript
Name[is]=JavaScript gagnavél
Name[it]=Motore di dati JavaScript
Name[ja]=JavaScript データエンジン
Name[kk]=JavaScript деректер тетігі
Name[km]=ម៉ាស៊ីន​ទិន្នន័យ JavaScript
Name[kn]=JavaScript DataEngine
Name[ko]=자바스크립트 데이터 엔진
Name[lt]=JavaScript duomenų variklis
Name[lv]=JavaScript datu dzinējs
Name[ml]=ജാവാസ്ക്രിപ്റ്റ് ഡാറ്റാഎഞ്ചിന്‍
Name[mr]=जावास्क्रिप्ट डेटाइंजिन
Name[nb]=JavaScript datamotor
Name[nds]=JavaScript-Datenkarn
Name[nl]=JavaScript-data-engine
Name[nn]=JavaScript-datamotor
Name[pa]=ਜਾਵਾ-ਸਕ੍ਰਿਪਟ ਡਾਟਾਇੰਜਣ
Name[pl]=Silnik danych JavaScript
Name[pt]=Motor de Dados do JavaScript
Name[pt_BR]=Mecanismo de dados JavaScript
Name[ro]=MotorDate JavaScript
Name[ru]=Поставщик данных (JavaScript)
Name[si]=JavaScript දත්ත එන්ජිම
Name[sk]=Dátový nástroj JavaScript
Name[sl]=Podatkovni pogon za JavaScript
Name[sr]=јаваскриптни датомотор
Name[sr@ijekavian]=јаваскриптни датомотор
Name[sr@ijekavianlatin]=JavaScript datomotor
Name[sr@latin]=JavaScript datomotor
Name[sv]=Javascript-datagränssnitt
Name[tg]=Маълумоти муҳаррики JavaScript
Name[th]=กลไกข้อมูลของจาวาสคริปต์
Name[tr]=JavaScript Veri Motoru
Name[ug]=JavaScript سانلىق-مەلۇمات ماتورى
Name[uk]=Рушій даних JavaScript
Name[vi]=Nguồn dữ liệu JavaScript
Name[wa]=Moteur di dnêyes JavaScript
Name[x-test]=xxJavaScript DataEnginexx
Name[zh_CN]=JavaScript 数据引擎
Name[zh_TW]=JavaScript 資料引擎
X-KDE-ServiceTypes=Plasma/ScriptEngine
Type=Service
Icon=text-x-script
X-KDE-Library=plasma_dataenginescript_javascript
X-Plasma-API=javascript
X-Plasma-ComponentTypes=DataEngine
