[Desktop Entry]
Name=SaverDesktop
Name[ar]=حافظ سطح المكتب
Name[ast]=Curiapantalles
Name[be@latin]=SaverDesktop
Name[bn]=SaverDesktop
Name[bn_IN]=SaverDesktop
Name[bs]=čuvar na površi
Name[ca]=SaverDesktop
Name[ca@valencia]=SaverDesktop
Name[cs]=Spořič plochy
Name[csb]=SaverDesktop
Name[da]=SaverDesktop
Name[de]=SaverDesktop
Name[el]=Προφύλαξη επιφάνειας εργασίας
Name[en_GB]=SaverDesktop
Name[eo]=SaverDesktop
Name[es]=Salvapantallas
Name[et]=Ekraanisäästja-töölaud
Name[eu]=SaverDesktop
Name[fi]=Säästäjätyöpöytä
Name[fr]=Économiseur d'écran
Name[fy]=SaverDesktop
Name[ga]=SaverDesktop
Name[gl]=SaverDesktop
Name[gu]=સર્વરડેસ્કટોપ
Name[he]=SaverDesktop
Name[hi]=सेवरडेस्कटॉप
Name[hne]=सेवर-डेस्कटाप
Name[hr]=Spremač radne površine
Name[hu]=Tárolóasztal
Name[ia]=SaverDesktop
Name[id]=Penyimpan Desktop
Name[is]=Skjáborð
Name[it]=Salvadesktop
Name[ja]=セーバーデスクトップ
Name[kk]=Үстел сақтағышы
Name[km]=SaverDesktop
Name[kn]=ಉಳಿಕೆಗಾರ ಗಣಕತೆರೆ
Name[ko]=SaverDesktop
Name[ku]=SermasêDîmenderParêzê
Name[lt]=SaverDesktop
Name[lv]=SaudzētājaDarbvirsma
Name[mai]=SaverDesktop
Name[ml]=സേവര്‍പണിയിടം
Name[mr]=SaverDesktop
Name[nb]=SparerSkrivebord
Name[nds]=SekerSchriefdisch
Name[nl]=SaverDesktop
Name[nn]=SaverDesktop
Name[or]=ସର୍ଭର ଡ଼େସ୍କଟପ
Name[pa]=ਸੇਵਰਡੈਸਕਟਾਪ
Name[pl]=Wygaszacz na pulpicie
Name[pt]=Ecrã de Protecção
Name[pt_BR]=Proteção da área de trabalho
Name[ro]=SaverDesktop
Name[ru]=Рабочий стол в качестве хранителя экрана
Name[si]=SaverDesktop
Name[sk]=Šetrič plochy
Name[sl]=OhranjevalnikNamizje
Name[sr]=чувар на површи
Name[sr@ijekavian]=чувар на површи
Name[sr@ijekavianlatin]=čuvar na površi
Name[sr@latin]=čuvar na površi
Name[sv]=Skrivbordsunderlägg
Name[ta]=பணிமேசை காப்பு
Name[te]=సేవిక‍డెస్‍క్ టాప్
Name[tg]=Мизи корӣ, монанди пардаи экран
Name[th]=รักษาจอภาพ
Name[tr]=Ekran Koruyucu Masaüstü
Name[ug]=ئېكران قوغداش ئۈستەلئۈستى
Name[uk]=Зберігач стільниці
Name[wa]=SaverDesktop
Name[x-test]=xxSaverDesktopxx
Name[zh_CN]=屏幕保护桌面
Name[zh_TW]=保護程式桌面
Icon=Plasma
Type=Service
X-KDE-ServiceTypes=Plasma/Applet,Plasma/Containment
X-Plasma-ContainmentCategories=screensaver
NoDisplay=true

X-KDE-Library=plasma_containment_saverdesktop
X-KDE-PluginInfo-Author=The Plasma Team
X-KDE-PluginInfo-Email=plasma-devel@kde.org
X-KDE-PluginInfo-Name=saverdesktop
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=http://plasma.kde.org/
X-KDE-PluginInfo-Category=Containments
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true

X-Plasma-Requires-FileDialog=Unused
X-Plasma-Requires-LaunchApp=Unused

