[Desktop Entry]
# ctxt: plasma containment
Name=Desktop Dashboard
Name[ar]=لوحة ودجات سطح المكتب
Name[ast]=Tableru de mandos
Name[bg]=Табло на работния плот
Name[bs]=instrument-tabla površi
Name[ca]=Tauler de l'escriptori
Name[ca@valencia]=Tauler de l'escriptori
Name[cs]=Palubní deska plochy
Name[da]=Instrumentbræt til skrivebordet
Name[de]=Arbeitsflächen-Dashboard
Name[el]=Πίνακας επιφάνειας εργασίας
Name[en_GB]=Desktop Dashboard
Name[es]=Tablero de mandos
Name[et]=Töölaua vidinavaade
Name[eu]=Mahaigaineko aginte-mahaia
Name[fi]=Kojelauta
Name[fr]=Panneau de contrôle du bureau
Name[ga]=Painéal na Deisce
Name[gl]=Cadro de control do escritorio
Name[gu]=ડેસ્કટોપ ડેશબોર્ડ
Name[he]=Dashboard שולחן העבודה
Name[hi]=डेस्कटॉप डैशबोर्ड
Name[hr]=Nadzorna ploča radne površine
Name[hu]=Asztaláttekintés
Name[ia]=Pannello de instrumentos de scriptorio
Name[id]=Dasbor Desktop
Name[is]=Stjórnborð skjáborðsins
Name[it]=Quadro degli strumenti del desktop
Name[ja]=デスクトップダッシュボード
Name[kk]=Аспаптар панелі
Name[km]=ផ្ទាំង​គ្រប់គ្រង​ផ្ទៃតុ
Name[kn]=ಯಂತ್ರೋಪಕರಣ ಪಟ್ಟಿ  (ಡಾಶ್ ಬೋರ್ಡ್)
Name[ko]=데스크톱 대시보드
Name[lt]=Darbastalio prietaisų skydelis
Name[lv]=Darbvirsmas panelis
Name[mr]=डेस्कटॉप डॅशबोर्ड
Name[nb]=Skrivebord-kontrollpult
Name[nds]=Schriefdisch-Klockpaneel
Name[nl]=Dashboard van bureaublad
Name[pa]=ਡੈਸਕਟਾਪ ਡੈਸ਼ਬੋਰਡ
Name[pl]=Tablica pulpitu
Name[pt]=Painel do Ecrã
Name[pt_BR]=Painel da área de trabalho
Name[ro]=Tabloul de bord al biroului
Name[ru]=Приборная доска
Name[si]=වැඩතල උපකරණ පුවරුව
Name[sk]=Nástenka plochy
Name[sl]=Armaturna plošča namizja
Name[sr]=инструмент-табла површи
Name[sr@ijekavian]=инструмент-табла површи
Name[sr@ijekavianlatin]=instrument-tabla površi
Name[sr@latin]=instrument-tabla površi
Name[sv]=Skrivbordets instrumentpanel
Name[tg]=Панели мизи корӣ
Name[th]=แดชบอร์ดของพื้นที่ทำงาน
Name[tr]=Masaüstü Kontrol Paneli
Name[ug]=ئۈستەلئۈستى تىزگىن تاختىسى
Name[uk]=Панель приладів стільниці
Name[vi]=Bảng thông tin trên màn hình
Name[wa]=Tåvlea d' boird do scribanne
Name[x-test]=xxDesktop Dashboardxx
Name[zh_CN]=桌面部件板
Name[zh_TW]=桌面資訊看板
Comment=Widget Dashboard
Comment[ar]=لوحة الودجة
Comment[ast]=Tableru de mandos
Comment[bg]=Табло за джаджи
Comment[bs]=Instrument-tabla grafičkih kontrola
Comment[ca]=Tauler d'estris
Comment[ca@valencia]=Tauler d'estris
Comment[cs]=Přístrojová deska widgetů
Comment[da]=Instrumentbræt med widgets
Comment[de]=Miniprogramm-Dashboard
Comment[el]=Πίνακας συστατικών
Comment[en_GB]=Widget Dashboard
Comment[es]=Control del tablero de mandos
Comment[et]=Vidinavaade
Comment[eu]=Trepeten aginte-mahaia
Comment[fi]=Sovelmakojelauta
Comment[fr]=Composant graphique du panneau de contrôle
Comment[gl]=Widget do cadro de control
Comment[he]=ה־Dashboard של הווידג׳טים
Comment[hi]=विडज़ेट डैशबोर्ड
Comment[hr]=Nadzorna ploča widgeta
Comment[hu]=Widgetáttekintő nézet
Comment[ia]=Pannello de instrumentos de widget
Comment[is]=Stjórnborð græju
Comment[it]=Quadro degli oggetti
Comment[ja]=ウィジェットダッシュボード
Comment[kk]=Аспаптар панель виджеті
Comment[km]=ផ្ទាំង​គ្រប់គ្រង​ធាតុ​ក្រាហ្វិក
Comment[ko]=위젯 대시보드
Comment[lt]=Prietaisų skydelis
Comment[lv]=Sīkrīku dashboard
Comment[mr]=विजेट डॅशबोर्ड
Comment[nb]=Kontrollpult for plasmaelementer
Comment[nds]=Lüttprogramm-Klockpaneel
Comment[nl]=Widgetbedieningspaneel
Comment[pa]=ਵਿਦਜੈੱਟ ਡੈਸ਼ਬੋਰਡ
Comment[pl]=Tablica elementów interfejsu
Comment[pt]=Painel de Elementos
Comment[pt_BR]=Painel de widgets
Comment[ro]=Tabloul de bord al controalelor
Comment[ru]=Приборная доска с виджетами
Comment[sk]=Nástenka s widgetami
Comment[sl]=Armaturna plošča z gradniki
Comment[sr]=Инструмент-табла виџета
Comment[sr@ijekavian]=Инструмент-табла виџета
Comment[sr@ijekavianlatin]=Instrument-tabla vidžeta
Comment[sr@latin]=Instrument-tabla vidžeta
Comment[sv]=Grafisk instrumentpanelkomponent
Comment[th]=แดชบอร์ดของวิดเจ็ต
Comment[tr]=Gereç Kontrol Paneli
Comment[ug]=ۋىجېت تىزگىن تاختىسى
Comment[uk]=Панель приладів віджетів
Comment[wa]=Ahesse tåvlea d' boird
Comment[x-test]=xxWidget Dashboardxx
Comment[zh_CN]=部件板
Comment[zh_TW]=元件資訊看板
Icon=user-desktop
Type=Service
X-KDE-ServiceTypes=Plasma/Applet,Plasma/Containment
X-Plasma-ContainmentCategories=desktop
NoDisplay=true

X-KDE-Library=plasma_containment_desktop
X-KDE-PluginInfo-Author=The Plasma Team
X-KDE-PluginInfo-Email=plasma-devel@kde.org
X-KDE-PluginInfo-Name=desktopDashboard
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=http://plasma.kde.org/
X-KDE-PluginInfo-Category=Containments
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
