[Desktop Entry]
Name=Utilities
Name[af]=Nutsprogramme
Name[ar]=خدمات
Name[as]=সৰঞ্জাম
Name[ast]=Utilidaes
Name[be]=Службовыя праграмы
Name[be@latin]=Pryładździe
Name[bg]=Инструменти
Name[bn]=আনুষঙ্গিক
Name[bn_IN]=বিবিধ সামগ্রী
Name[br]=Mavegoù
Name[bs]=Alatke
Name[ca]=Utilitats
Name[ca@valencia]=Utilitats
Name[cs]=Nástroje
Name[csb]=Nôrzãdza
Name[cy]=Defnyddioldebau
Name[da]=Værktøjer
Name[de]=Dienstprogramme
Name[el]=Εργαλεία
Name[en_GB]=Utilities
Name[eo]=Utilaĵoj
Name[es]=Utilidades
Name[et]=Tööriistad
Name[eu]=Tresnak
Name[fa]=برنامه‌های سودمند
Name[fi]=Apuohjelmat
Name[fr]=Utilitaires
Name[fy]=Helpmiddelen
Name[ga]=Uirlisí
Name[gl]=Utensilios
Name[gu]=ઉપયોગી વસ્તુઓ
Name[he]=כלים
Name[hi]=यूटिलिटीज़
Name[hne]=यूटिलिटीज
Name[hr]=Alati
Name[hsb]=Pomocniki
Name[hu]=Segédprogramok
Name[ia]=Utilitates
Name[id]=Utilitas
Name[is]=Nytjatól
Name[it]=Accessori
Name[ja]=ユーティリティ
Name[ka]=ხელსაწყოები
Name[kk]=Утилиталары
Name[km]=ឧបករណ៍​ប្រើ​ប្រាស់
Name[kn]=ಸೌಲಭ್ಯಗಳು
Name[ko]=유틸리티
Name[ku]=Bernameyên Alîkar
Name[lt]=Pagalbininkai
Name[lv]=Utilītas
Name[mai]=उपयोगिता
Name[mk]=Алатки
Name[ml]=ഉപകരണങ്ങള്‍
Name[mr]=उपकार्यक्रम
Name[ms]=Utiliti
Name[nb]=Verktøy
Name[nds]=Warktüüch
Name[ne]=युटिलिटी
Name[nl]=Hulpmiddelen
Name[nn]=Verktøy
Name[oc]=Utilitaris
Name[or]=ଉପଯୋଗିତା
Name[pa]=ਸਹੂਲਤ
Name[pl]=Narzędzia
Name[pt]=Utilitários
Name[pt_BR]=Utilitários
Name[ro]=Utilitare
Name[ru]=Служебные
Name[se]=Reaiddut
Name[si]=උපයෝග
Name[sk]=Nástroje
Name[sl]=Potrebščine
Name[sr]=Алатке
Name[sr@ijekavian]=Алатке
Name[sr@ijekavianlatin]=Alatke
Name[sr@latin]=Alatke
Name[sv]=Verktyg
Name[ta]=கருவிகள்
Name[te]=సౌలభ్యాలు
Name[tg]=Барномаҳои системавӣ
Name[th]=อรรถประโยชน์
Name[tr]=Yardımcı Araçlar
Name[ug]=قوراللار
Name[uk]=Утиліти
Name[uz]=Vositalar
Name[uz@cyrillic]=Воситалар
Name[vi]=Tiện ích
Name[wa]=Usteyes
Name[xh]=Izinto eziluncedo
Name[x-test]=xxUtilitiesxx
Name[zh_CN]=工具
Name[zh_TW]=實用工具
Comment=Small utilities and accessories
Comment[ar]=أدوات خدمية وملحقات
Comment[ast]=Pequeñes utilidaes y accesorios
Comment[bg]=Разни инструменти
Comment[bs]=Manje priručne alatke
Comment[ca]=Petites utilitats i accessoris
Comment[ca@valencia]=Petites utilitats i accessoris
Comment[cs]=Malé utility a příslušenství
Comment[csb]=Môłé nôrzãdza ë pòmòcné aplikacëje
Comment[da]=Små værktøjer og tilbehør
Comment[de]=Kleine Werkzeuge und Zubehörprogramme
Comment[el]=Μικρές εφαρμογές και εξαρτήματα
Comment[en_GB]=Small utilities and accessories
Comment[es]=Pequeñas utilidades y accesorios
Comment[et]=Väikesed tööriistad ja abivahendid
Comment[eu]=Utilitate eta akzesorio txikiak
Comment[fi]=Pienet apuohjelmat ja oheislaitteet
Comment[fr]=Petits utilitaires et accessoires
Comment[fy]=Stikmannich lyts ark
Comment[ga]=Uirlisí beaga agus oiriúintí
Comment[gl]=Pequenas utilidades e accesorios
Comment[he]=כלים ועזרים קטנים
Comment[hr]=Mali uslužni programi i pomagala
Comment[hu]=Kis segédprogramok és kellékek
Comment[ia]=Parve utilitates e accessorios
Comment[id]=Utilitas dan aksesoris kecil
Comment[is]=Lítil nytjatól og aukahlutir
Comment[it]=Programmini e accessori
Comment[ja]=小さなユーティリティとアクセサリ
Comment[kk]=Шағын утилиталар мен әбзелдері
Comment[km]=ឧបករណ៍​ប្រើប្រាស់​តូច និង​គ្រឿង​របស់​វា
Comment[kn]=ಸಣ್ಣ ಸವಲತ್ತುಗಳು ಮತ್ತು ಸಲಕರಣೆಗಳು
Comment[ko]=작은 유틸리티와 액세서리
Comment[lt]=Nedideli pagalbininkai
Comment[lv]=Mazas utilītas un aksesuāri
Comment[mk]=Мали алатки и додатоци
Comment[ml]=ചെറിയ ഉപകരണങ്ങള്‍
Comment[mr]=लहान उपकार्यक्रम व साधने
Comment[nb]=Små verktøy- og tilbehørsprogrammer
Comment[nds]=Lütte Warktüüch un Hülpprogrammen
Comment[nl]=Kleine programma's en accessoires
Comment[nn]=Små verktøy og nytteprogram
Comment[pa]=ਛੋਟੀਆਂ ਸਹੂਲਤਾਂ ਅਤੇ ਸਹਾਇਕ
Comment[pl]=Niewielkie narzędzia i akcesoria
Comment[pt]=Pequenos utilitários e acessórios
Comment[pt_BR]=Pequenos utilitários e acessórios
Comment[ro]=Mici accesorii și utilitare
Comment[ru]=Небольшие программы и инструменты
Comment[si]=කුඩා උපයෝග සහ උපාංග
Comment[sk]=Nástroje a príslušenstvo
Comment[sl]=Majhna orodja in pripomočki
Comment[sr]=Мање приручне алатке
Comment[sr@ijekavian]=Мање приручне алатке
Comment[sr@ijekavianlatin]=Manje priručne alatke
Comment[sr@latin]=Manje priručne alatke
Comment[sv]=Mindre verktyg och tillbehör
Comment[tg]=Барномаҳо ва афзорҳои хурд
Comment[th]=เครื่องมืออรรถประโยชน์และโปรแกรมเพิ่มเติมต่าง ๆ ที่มีขนาดเล็ก
Comment[tr]=Küçük ve faydalı uygulamalar
Comment[ug]=كىچىك قوراللار ۋە قوشۇمچە قوراللار
Comment[uk]=Малі програми та інструменти
Comment[wa]=Pititès usteyes
Comment[x-test]=xxSmall utilities and accessoriesxx
Comment[zh_CN]=小型附件和辅助工具
Comment[zh_TW]=小型實用工具與輔助程式
Icon=applications-utilities

Type=Service
X-KDE-ServiceTypes=Plasma/Sal/Menu
X-KDE-PluginInfo-Name=plasma-sal-utility

X-Plasma-Sal-Url=kservicegroup://root/Utilities/
X-Plasma-Sal-Relevance=0.2
