[Desktop Entry]
Name=Javascript Addon
Name[ast]=Complementu de JavaScript
Name[bg]=Добавка за Javascript
Name[bn]=জাভাস্ক্রিপ্ট অ্যাড-অন
Name[bs]=Javaskriptni dodatak
Name[ca]=Complement del Javascript
Name[ca@valencia]=Complement del Javascript
Name[cs]=Doplněk JavaScript
Name[da]=JavaScript-tilføjelse
Name[de]=JavaScript-Erweiterung
Name[el]=Πρόσθετο Javascript
Name[en_GB]=Javascript Addon
Name[eo]=Aldonaĵo de Ĝavaskripto
Name[es]=Complemento de JavaScript
Name[et]=JavaScripti lisa
Name[eu]=Javascript gehigarria
Name[fa]=افزودنی جاوااسکریپت
Name[fi]=Javascript-liitännäinen
Name[fr]=Module complémentaire Javascript
Name[ga]=Breiseán JavaScript
Name[gl]=Engadido JavaScript
Name[gu]=જાવાસ્ક્રિપ્ટ એડઓન્સ
Name[he]=תוסף JavaScript
Name[hi]=जावास्क्रिप्ट एडोन
Name[hr]=Dodadak za Javascript
Name[hu]=Javascript-bővítmény
Name[ia]=JavaScript Addon
Name[is]=JavaScript viðbót
Name[it]=Aggiunta per JavaScript
Name[ja]=JavaScript アドオン
Name[kk]=Javascript қосымшасы
Name[km]=ផ្នែក​បន្ថែម Javascript
Name[kn]=ಜಾವಾಸ್ಕ್ರಿಪ್ಟ್ ಆಡ್‌ಆನ್
Name[ko]=자바스크립트 추가 기능
Name[lt]=Javascript priedas
Name[lv]=JavaScript papildinājums
Name[mr]=जावास्क्रिप्ट Addon
Name[nb]=JavaScript-tillegg
Name[nds]=JavaScript-Verwiedern
Name[nl]=Addon voor JavaScript
Name[nn]=JavaScript-tillegg
Name[pa]=ਜਾਵਾ ਸਕ੍ਰਿਪਟ ਐਡ-ਆਨ
Name[pl]=Dodatek dla JavaScript
Name[pt]=Extensão de JavaScript
Name[pt_BR]=Complementos de JavaScript
Name[ro]=Supliment Javascript
Name[ru]=Дополнение, использующее JavaScript
Name[si]=ජාවාස්ක්‍රිප්ට ඇඩෝන
Name[sk]=Doplnok JavaScript
Name[sl]=Dodatek za JavaScript
Name[sr]=Јаваскриптни додатак
Name[sr@ijekavian]=Јаваскриптни додатак
Name[sr@ijekavianlatin]=JavaScript dodatak
Name[sr@latin]=JavaScript dodatak
Name[sv]=Javaskript-tillägg
Name[tg]=Барномаи иловагии Javascript
Name[th]=ส่วนเสริมจาวาสคริปต์
Name[tr]=Javascript Eklentisi
Name[ug]=Javascript قوشۇلما
Name[uk]=Додаток JavaScript
Name[vi]=Phần bổ trợ Javascript
Name[wa]=Pacaedje di rawete Javascript
Name[x-test]=xxJavascript Addonxx
Name[zh_CN]=Javascript 插件
Name[zh_TW]=Javascript Addon
Comment=Addons for Javascript Plasma plugins
Comment[ast]=Amestaos pa complementos de JavaScript pa Plasma
Comment[bg]=Добавки за приставките за Javascript на Plasma
Comment[bs]=Dodaci za javaskriptne plazma priključke
Comment[ca]=Complements pels connectors Javascript del Plasma
Comment[ca@valencia]=Complements pels connectors Javascript del Plasma
Comment[cs]=Doplňky pro javascriptové zásuvné moduly plasmy
Comment[da]=Tilføjelse til Plasma-plugins i JavaScript
Comment[de]=Erweiterungen für JavaScript-Module in Plasma
Comment[el]=Πρόσθετο για Plasma JavaScript
Comment[en_GB]=Addons for Javascript Plasma plugins
Comment[eo]=Aldonaĵoj por kromprogramoj de Plasmo en Ĝavaskripto
Comment[es]=Añadidos para complementos de JavaScript para Plasma
Comment[et]=JavaScripti Plasma pluginate lisad
Comment[eu]=Javascript Plasma pluginentzako gehigarriak
Comment[fi]=Lisäosia JavaScript Plasma -liitännäisille
Comment[fr]=Module complémentaire pour les modules externes en Javascript de Plasma
Comment[ga]=Breiseáin le haghaidh forlíontán Javascript Plasma
Comment[gl]=Engadidos para complementos Plasma Javascript
Comment[gu]=જાવાસ્ક્રિપ્ટ પ્લાઝમા પ્લગઇન માટે એડઓન્સ
Comment[he]=תוספים לתוספי JavaScript של Plasma
Comment[hi]=जावास्क्रिप्ट प्लाज्मा प्लगिन के लिए Addons
Comment[hr]=Dodaci za priključke za Javascript Plasma
Comment[hu]=Bővítmények JavaScript Plazma-modulokhoz
Comment[ia]=Addons (elementos adjuncte) pro plugins de Plasma de javascript
Comment[is]=Viðbætur fyrir Plasma JavaScript íforrit
Comment[it]=Aggiunte per le estensioni JavaScript di Plasma
Comment[ja]=JavaScript Plasma プラグイン用のアドオン
Comment[kk]=Javascript Plasma плагиніне қосымшасы
Comment[km]=កម្មវិធី​បន្ថែម​សម្រាប់​កម្មវិធី​ជំនួយ Javascript Plasma
Comment[ko]=자바스크립트 Plasma 플러그인을 위한 추가 기능
Comment[lt]=Javascript Plasma papildinio priedai
Comment[lv]=Papildinājumi Javascript Plasma spraudņiem
Comment[mr]=जावास्क्रिप्ट प्लाज्मा प्लगइनचे Addon
Comment[nb]=Tillegg for JavaScript Plasma-programtillegg
Comment[nds]=Verwiedern för Plasma sien JavaScript-Modulen
Comment[nl]=Addons voor Javascript Plasma plugins
Comment[nn]=Tillegg for JavaScript–Plasma-programtillegg
Comment[pa]=ਜਾਵਾਸਕ੍ਰਿਪਟ ਪਲਾਜ਼ਮਾ ਪਲੱਗਇਨ ਲਈ ਐਡਐਨ
Comment[pl]=Dodatki dla wtyczek Plazmy w JavaScript
Comment[pt]=Extras para os 'plugins' do Plasma em JavaScript
Comment[pt_BR]=Complementos para os plugins do Plasma em JavaScript
Comment[ro]=Suplimente pentru module JavaScript Plasma
Comment[ru]=Модули поддержки дополнений Plasma, использующих JavaScript
Comment[si]=ජාවාස්ක්‍රිප්ට ප්ලාස්මා ප්ලගින සඳහා ඇඩෝන
Comment[sk]=Doplnky pre Javascriptové moduly plasmy
Comment[sl]=Dodatki za vstavke JavaScript za Plasmo
Comment[sr]=Додаци за јаваскриптне плазма прикључке
Comment[sr@ijekavian]=Додаци за јаваскриптне плазма прикључке
Comment[sr@ijekavianlatin]=Dodaci za JavaScript plasma priključke
Comment[sr@latin]=Dodaci za JavaScript plasma priključke
Comment[sv]=Tillägg för Javascript Plasma-insticksprogram
Comment[tg]=Барномаҳои иловагӣ барои плагинҳои Javascript Plasma
Comment[th]=ส่วนขยายสำหรับส่วนเสริมพลาสมาที่เป็นจาวาสคริปต์
Comment[tr]=Javascript Plasma eklentileri için ek araçlar
Comment[ug]=Javascript Plasma قىستۇرمىسى ئۈچۈن قوشۇلما
Comment[uk]=Додатки для використання Javascript у Плазмі
Comment[vi]=Phần bổ trợ cho phần bổ sung Plasma Javascript
Comment[wa]=Pacaedjes di rawete po les tchôkes-divins Plasma Javascript
Comment[x-test]=xxAddons for Javascript Plasma pluginsxx
Comment[zh_CN]=Javascript Plasma 插件的附件组件
Comment[zh_TW]=Javascript Plasma 外掛程式的 Addon
Type=Service
X-KDE-ServiceTypes=Plasma/PackageStructure

X-KDE-Library=plasma_packagestructure_javascriptaddon
X-KDE-PluginInfo-Author=Aaron Seigo
X-KDE-PluginInfo-Email=aseigh@kde.org
X-KDE-PluginInfo-Name=Plasma/JavascriptAddon
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=http://plasma.kde.org/
X-KDE-PluginInfo-License=GPLv2+
X-KDE-PluginInfo-EnabledByDefault=true
X-Plasma-PackageFileFilter=*.plasmaaddon
X-Plasma-PackageFileMimetypes=application/zip

