[Desktop Entry]
Name=Remote Control Data Engine
Name[ar]=محرك بيانات التحكّم عن بعد
Name[bs]=Pogon podataka daljinskih upravljača
Name[ca]=Motor de dades de comandament a distància
Name[ca@valencia]=Motor de dades de comandament a distància
Name[cs]=Datový nástroj pro dálkové ovládání
Name[da]=Datamotor til fjernbetjeninger
Name[de]=Fernbedienungs-Datenmodul
Name[el]=Μηχανή δεδομένων τηλεχειριστηρίου
Name[en_GB]=Remote Control Data Engine
Name[es]=Motor de datos de mandos a distancia
Name[et]=Kaugjuhtimise andmemootor
Name[eu]=Urruneko Agintearen datu motorea
Name[fi]=Kauko-ohjaintietomoottori
Name[fr]=Moteur de données de contrôle à distance
Name[ga]=Inneall Sonraí Cianrialtáin
Name[gl]=Motor de datos de control remoto
Name[hr]=Podatkovni mehanizam za udaljenu kontrolu
Name[hu]=Távirányító adatmodul
Name[ia]=Motor remote de datos de controlo
Name[id]=Mesin Data Kendali Jarak Jauh
Name[it]=Motore dati telecomando
Name[ja]=Remote Control のデータエンジン
Name[kk]=Қашықтан басқару деректер тетігі
Name[km]=វត្ថុ​បញ្ជា​ម៉ាស៊ីន​ទិន្នន័យ​ពី​ចម្ងាយ
Name[ko]=원격 제어 데이터 엔진
Name[lt]=Nuotolinio valdymo duomenų variklis
Name[lv]=Attālinātās vadības datu dzinējs
Name[mr]=रीमोट कंट्रोल डेटा इंजिन
Name[nb]=Datamotor for fjernstyring
Name[nds]=Feernbedenen-Datenmoduul
Name[nl]=Gegevens-engine van afstandsbediening
Name[nn]=Datamotor for videoklipp
Name[pa]=ਰਿਮੋਟ ਕੰਟਰੋਲ ਡਾਟਾ ਇੰਜਣ
Name[pl]=Silnik danych pilotów
Name[pt]=Motor de Dados dos Comandos à Distância
Name[pt_BR]=Mecanismo de dados de controle remoto
Name[ro]=Motor de date pentru telecomenzi
Name[ru]=Поставщик данных удалённого управления
Name[sk]=Dátový nástroj pre diaľkové ovládače
Name[sl]=Podatkovni pogon za daljinske upravljalnike
Name[sr]=Датомотор даљинских управљача
Name[sr@ijekavian]=Датомотор даљинских управљача
Name[sr@ijekavianlatin]=Datomotor daljinskih upravljača
Name[sr@latin]=Datomotor daljinskih upravljača
Name[sv]=Datagränssnitt för fjärrkontroll
Name[th]=กลไกจัดการข้อมูลตัวควบคุมระยะไกล
Name[tr]=Uzaktan Denetim Veri Motoru
Name[uk]=Рушій даних дистанційного керування
Name[x-test]=xxRemote Control Data Enginexx
Name[zh_CN]=远程控制数据引擎
Name[zh_TW]=遠端遙控資料引擎
Comment=Data engine for kremotecontrol
Comment[ar]=محرك بيانات لkremotecontrol
Comment[bs]=Pogon podataka za kremotecontrol
Comment[ca]=Motor de dades pel kremotecontrol
Comment[ca@valencia]=Motor de dades pel kremotecontrol
Comment[cs]=Datový nástroj pro kremotecontrol
Comment[da]=Datamotor til kremotecontrol
Comment[de]=Datenmodul für KRemoteControl
Comment[el]=Μηχανή δεδομένων για το kremotecontrol
Comment[en_GB]=Data engine for kremotecontrol
Comment[es]=Motor de datos para kremotecontrol
Comment[et]=Kremotecontroli andmemootor
Comment[eu]=Kremotecontrol-rentzako datu motorea
Comment[fi]=Tietomoottori kremotecontrolille
Comment[fr]=Moteur de données pour KRemoteControl
Comment[ga]=Inneall sonraí le haghaidh kremotecontrol
Comment[gl]=Motor de datos para KRemoteControl.
Comment[hr]=Podatkovni mehanizam za kremotecontrol
Comment[hu]=Adatmodul a kremotecontrolhoz
Comment[ia]=Motor de dator pro kremotecontrol
Comment[id]=Data mesin untuk kremotecontrol
Comment[it]=Motore dati per telecomandi
Comment[ja]=kremotecontrol のためのデータエンジン
Comment[kk]=kremotecontrol деректер тетігі
Comment[km]=ម៉ាស៊ីន​ទិន្នន័យ​សម្រាប់ kremotecontrol
Comment[ko]=kremotecontrol을 위한 데이터 엔진
Comment[lt]=kremotecontrol duomenų variklis
Comment[lv]=Datu dzinējs priekš kremotecontrol
Comment[mr]=के-रीमोट-कंट्रोल करिता डेटा इंजिन
Comment[nb]=Datamotor for kremotecontrol
Comment[nds]=Datenmoduul för KDE-Feernbedenen
Comment[nl]=Gegevens-engine voor kremotecontrol
Comment[nn]=Datamotor for teikneseriar
Comment[pl]=Silnik danych dla kremotecontrol
Comment[pt]=Motor de dados do kremotecontrol
Comment[pt_BR]=Mecanismo de dados para o kremotecontrol
Comment[ro]=Motor de date pentru kremotecontrol
Comment[ru]=Поставщик данных для kremotecontrol
Comment[sk]=Dátový nástroj pre kremotecontrol
Comment[sl]=Podatkovni pogon za kremotecontrol
Comment[sr]=Датомотор за К‑даљински-управљач
Comment[sr@ijekavian]=Датомотор за К‑даљински-управљач
Comment[sr@ijekavianlatin]=Datomotor za K‑daljinski-upravljač
Comment[sr@latin]=Datomotor za K‑daljinski-upravljač
Comment[sv]=Datagränssnitt för Kremotecontrol
Comment[th]=กลไกจัดการข้อมูลของ kremotecontrol
Comment[tr]=kremotecontrol için veri motoru
Comment[uk]=Рушій даних для kremotecontrol
Comment[x-test]=xxData engine for kremotecontrolxx
Comment[zh_CN]=kremotecontrol 数据引擎
Comment[zh_TW]=kremotecontrol 資料引擎
Type=Service
ServiceTypes=Plasma/DataEngine
Icon=infrared-remote

X-KDE-Library=plasma_engine_kremoteconrol
X-Plasma-EngineName=kremotecontrol
X-KDE-PluginInfo-Author=Frank Scheffold
X-KDE-PluginInfo-Email=fscheffold@googlemail.com
X-KDE-PluginInfo-Name=kremotecontrol
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=http://plasma.kde.org/
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=LGPL
X-KDE-PluginInfo-EnabledByDefault=true
