[Desktop Entry]
Name=Default Plasma Animator
Name[af]=Verstek Plasma-animeerder
Name[ar]=محرك بلازما الراسم المبدئي
Name[ast]=Animador predetermináu de Plasma
Name[be@latin]=Zmoŭčany animatar „Plasma”
Name[bg]=Аниматор за Plasma
Name[bn_IN]=ডিফল্ট Plasma অ্যানিমেটর
Name[bs]=podrazumijevani plazma animator
Name[ca]=Animador del Plasma per omissió
Name[ca@valencia]=Animador del Plasma per omissió
Name[cs]=Výchozí animátor Plasma
Name[csb]=Domëslny animator plazmë
Name[da]=Standard Plasma-animering
Name[de]=Plasma-Animations-Treiber
Name[el]=Προκαθορισμένη κίνηση Plasma
Name[en_GB]=Default Plasma Animator
Name[eo]=Defaŭlta Plasma-animacilo
Name[es]=Animador predeterminado de Plasma
Name[et]=Vaikimisi Plasma animeerija
Name[eu]=Plasma animatzaile lehenetsia
Name[fa]=پویانمای پیش‌فرض پلاسما
Name[fi]=Oletus-Plasma-animaattori
Name[fr]=Animateur par défaut de Plasma
Name[fy]=Stander plasma animaasjeprogramma
Name[ga]=Beochantóir Réamhshocraithe Plasma
Name[gl]=Animador predeterminado de Plasma
Name[gu]=મૂળભૂત પ્લાઝમા એનિમેટર
Name[he]=מנפיש ברירת המחדל של Plasma
Name[hi]=डिफ़ॉल्ट प्लाज्मा एनिमेटर
Name[hne]=डिफाल्ट प्लाज्मा एनिमेटर
Name[hr]=Uobičajeni Plasma Animator
Name[hsb]=Standardny Plasma-animator
Name[hu]=Alapértelmezett Plasma-animátor
Name[ia]=Animator de Plasma predefinite
Name[id]=Pembuat Animasi Plasma Standar
Name[is]=Sjálfgefin Plasma hreyfing
Name[it]=Animatore predefinito di Plasma
Name[ja]=デフォルトの Plasma アニメータ
Name[kk]=Әдетті Plasma аниматоры
Name[km]=ចលនា​ប្លាស្មា​លំនាំដើម​
Name[kn]=ಪೂರ್ವನಿಯೋಜಿತ ಪ್ಲಾಸ್ಮಾ ಸಜೀವಕ (ಅನಿಮೇಟರ್)
Name[ko]=기본 Plasma 애니메이터
Name[ku]=Anîmatora Plazma a Standard
Name[lt]=Numatytas Plasma animatorius
Name[lv]=Noklusētais Plasma animators
Name[mai]=पूर्वनिर्धारित प्लाज्मा एनिमेटर
Name[mk]=Стандарден плазма-аниматор
Name[ml]=സഹജമായ പ്ലാസ്മാ ആനിമേറ്റര്‍
Name[mr]=मूलभूत प्लाज्मा एनिमेटर
Name[nb]=Standard Plasma-animator
Name[nds]=Standard-Animeerkarn Plasma
Name[ne]=पूर्वनिर्धारित प्लाज्मा एनिमेटर
Name[nl]=Standaard Plasma-animator
Name[nn]=Standard Plasma-animatør
Name[pa]=ਡਿਫਾਲਟ ਪਲਾਜ਼ਮਾ ਐਨੀਮੇਟਰ
Name[pl]=Domyślne animacje Plazmy
Name[pt]=Animador Predefinido do Plasma
Name[pt_BR]=Animador padrão do Plasma
Name[ro]=Animator Plasma implicit
Name[ru]=Движок анимации Plasma по умолчанию
Name[se]=Standárda Plasma-animáhtor
Name[si]=පෙරනිමි ප්ලාස්මා සජීවීකාරකය
Name[sk]=Štandardný animátor plazmy
Name[sl]=Privzeti animator za Plasmo
Name[sr]=подразумевани плазма аниматор
Name[sr@ijekavian]=подразумијевани плазма аниматор
Name[sr@ijekavianlatin]=podrazumijevani plasma animator
Name[sr@latin]=podrazumevani plasma animator
Name[sv]=Plasma standardanimering
Name[ta]=Default Plasma Animator
Name[te]=అప్రమేయ ప్లాజ్మా ఏనిమేటర్
Name[tg]=Аниматор Plasma по умолчанию
Name[th]=ตัวแสดงความเคลื่อนไหวปริยายของปริยาย
Name[tr]=Öntanımlı Plasma Canlandırıcısı
Name[ug]=كۆڭۈلدىكى پلازما جانلاندۇرۇمى
Name[uk]=Типовий аніматор Плазми
Name[vi]=Bộ hoạt họa Plasma mặc định
Name[wa]=Animateu prémetou di Plasma
Name[x-test]=xxDefault Plasma Animatorxx
Name[zh_CN]=默认 Plasma 动画
Name[zh_TW]=預設 Plasma 動畫
X-KDE-ServiceTypes=Plasma/Animator
Type=Service
Icon=plasma
X-KDE-Library=plasma_animator_default
X-KDE-PluginInfo-Author=The Plasma Team
X-KDE-PluginInfo-Email=plasma-devel@kde.org
X-KDE-PluginInfo-Name=default
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=http://plasma.kde.org/
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL

