[Desktop Entry]
Name=Python Runner
Name[ar]=مشغل بايثون
Name[ast]=Llanzador Python
Name[bg]=Стартер с Python
Name[bs]=Python izvođač
Name[ca]=Executor en Python
Name[ca@valencia]=Executor en Python
Name[cs]=Python spouštěč
Name[da]=Python Runner
Name[de]=Python-Starter
Name[el]=Εκτελεστής Python
Name[en_GB]=Python Runner
Name[eo]=Pitona motoro
Name[es]=Lanzador Python
Name[et]=Pythoni käivitaja
Name[eu]=Python jaurtitzailea
Name[fi]=Python-suoritusohjelma
Name[fr]=Lanceur Python
Name[ga]=Feidhmitheoir Python
Name[gl]=Executor en Python
Name[gu]=Python રનર
Name[he]=Python Runner
Name[hi]=पायथन रनर
Name[hr]=Python Runner
Name[hu]=Python-indító
Name[ia]=Executor de Python
Name[id]=Pelari Python
Name[is]=Python keyrari
Name[it]=Esecutore per Python
Name[ja]=Python ラナー
Name[kk]=Python-ды жегу
Name[km]=កម្មវិធី​រត់ Python
Name[kn]=ಪೈಥಾನ್ ರನ್ನರ್
Name[ko]=파이썬 실행기
Name[lt]=Python leistukas
Name[lv]=Python darbinātājs
Name[mr]=पायथोन रनर
Name[nb]=Python-kjører
Name[nds]=Python-Dreger
Name[nl]=Python-starter
Name[nn]=Python-køyrar
Name[pa]=ਪਾਈਥਨ ਰਨਰ
Name[pl]=Uruchamianie w Pythonie
Name[pt]=Módulo de Execução em Python
Name[pt_BR]=Execução em Python
Name[ro]=Executor Python
Name[ru]=Модули запуска команд на языке Python
Name[si]=Python ධාවකය
Name[sk]=Python spúšťač
Name[sl]=Zaganjalnik v Pythonu
Name[sr]=питонски извођач
Name[sr@ijekavian]=питонски извођач
Name[sr@ijekavianlatin]=Python izvođač
Name[sr@latin]=Python izvođač
Name[sv]=Python körningsprogram
Name[tg]=Системаи санаи Python
Name[th]=ตัวเรียกใช้โปรแกรมภาษาไพธอน
Name[tr]=Python Çalıştırıcı
Name[ug]=Python ئىجراچىسى
Name[uk]=Запуск для Python
Name[wa]=Enondeu Python
Name[x-test]=xxPython Runnerxx
Name[zh_CN]=Python 运行器
Name[zh_TW]=Python 執行器
Comment=Plasma Runner support for Python
Comment[ar]=دعم مشغل بلازما لبايثون
Comment[ast]=Implementación de llanzador Plasma pa Python
Comment[bg]=Поддръжка за създаване на стартери на Plasma с Python
Comment[bs]=Podrška plazma izvođača za Python
Comment[ca]=Implementació de l'executor del Plasma per al Python
Comment[ca@valencia]=Implementació de l'executor del Plasma per al Python
Comment[cs]=Podpora Plasma spouštěče pro Python
Comment[da]=Understøttelse af Plasma Runner til Python
Comment[de]=Plasma-Starter-Unterstützung für Python
Comment[el]=Υποστήριξη εκτελεστή Plasma για την Python
Comment[en_GB]=Plasma Runner support for Python
Comment[es]=Implementación de lanzador Plasma para Python
Comment[et]=Plasma käivitaja toetus Pythonile
Comment[eu]=Plasma jaurtitzailearen Pythonentzako euskarria
Comment[fi]=Plasma-suoritusohjelmatuki Python-kielelle
Comment[fr]=Prise en charge du lanceur Plasma pour Python
Comment[gl]=Executor de Plasma que permite usar Python
Comment[he]=תמיכה ב־Runner של Plasma עבור Python
Comment[hi]=पायथन के लिए प्लाज्मा रनर समर्थन
Comment[hr]=Plasma Runner podrška za Python
Comment[hu]=Plazma-indító támogatás Pythonhoz
Comment[ia]=Supporto de executor de Plasma pro Python 
Comment[id]=Dukungan Pelari Plasma terhadap Python
Comment[is]=Plasma gagnavélarstuðningur fyrir Python
Comment[it]=Supporto per l'esecutore Plasma per Python
Comment[ja]=Python のための Plasma ラナーサポート
Comment[kk]=Plasma-дағы Python-ды жегуін қолдауы
Comment[km]=ការ​គាំទ្រ​កម្មវិធី​រត់​ប្លាស្មា​សម្រាប់ Python
Comment[kn]=ಪೈಥಾನ್‌ಗಾಗಿ ಪ್ಲಾಸ್ಮಾ ರನ್ನರ್ ಬೆಂಬಲ
Comment[ko]=Plasma 파이썬 실행기
Comment[lt]=Plasma paleidiklio palaikymas Python kalbai
Comment[lv]=Plasma darbinātāja atbalsts Python
Comment[mr]=पायथोन करिता प्लाज्मा रनर समर्थन
Comment[nb]=Plasma kjørerstøtte for Python
Comment[nds]=Plasma-Dregerünnerstütten för Python
Comment[nl]=Plasma-starter-ondersteuning voor Python
Comment[nn]=Plasma-køyrarstøtte for Python
Comment[pa]=ਪਾਈਥਨ ਲਈ ਪਲਾਜ਼ਮਾ ਰਨਰ ਸਹਿਯੋਗ
Comment[pl]=Obsługa programów uruchamiających dla Pythona
Comment[pt]=Suporte para os motores de execução do Plasma em Python
Comment[pt_BR]=Suporte aos mecanismos de execução do Plasma para Python
Comment[ro]=Suport executori Plasma pentru Python
Comment[ru]=Поддержка модулей запуска KRunner на языке Python
Comment[si]=Python සඳහා ප්ලාස්මා ධාවක සහාය
Comment[sk]=Podpora spúšťača plasmy pre Python
Comment[sl]=Podpora za zaganjalnike napisane v Pythonu
Comment[sr]=Подршка плазма извођача за питон
Comment[sr@ijekavian]=Подршка плазма извођача за питон
Comment[sr@ijekavianlatin]=Podrška plasma izvođača za Python
Comment[sr@latin]=Podrška plasma izvođača za Python
Comment[sv]=Plasma körningsstöd för Python
Comment[tg]=Пуштибонии Python дар асоси маълумоти Plasma
Comment[th]=ตัวเรียกใช้งานของพลาสมาที่รองรับสำหรับโปรแกรมภาษาไพธอน
Comment[tr]=Python için Plasma Çalıştırıcı desteği
Comment[ug]=Python نى قوللايدىغان Plasma ئىجراچىسى
Comment[uk]=Підтримка Python у інструментах запуску
Comment[wa]=Sopoirt po Python di l' enondeu di Plasma
Comment[x-test]=xxPlasma Runner support for Pythonxx
Comment[zh_CN]=支持 Python 的 Plasma 运行器
Comment[zh_TW]=支援 Python 的執行器

X-KDE-ServiceTypes=Plasma/ScriptEngine
Type=Service
Icon=text-x-script
X-KDE-Library=kpythonpluginfactory
X-KDE-PluginKeyword=plasma_scriptengine_python/pyrunner.py
X-EngineName=pythonrunner
X-Plasma-API=python
X-Plasma-ComponentTypes=Runner
