[Desktop Entry]
Name=Web Widgets
Name[ar]=ودجات الوِب
Name[ast]=Elementos gráficos Web
Name[be@latin]=Sieciŭnyja widžety
Name[bg]=Уеб джаджи
Name[bn]=ওয়েব উইজেট
Name[bn_IN]=ওয়েব উইজেট
Name[bs]=Web grafičke kontrola
Name[ca]=Estris web
Name[ca@valencia]=Estris web
Name[cs]=Webové widgety
Name[csb]=Interfejs sécë Web
Name[da]=Web-widgets
Name[de]=Web-Miniprogramme
Name[el]=Συστατικά ιστού
Name[en_GB]=Web Widgets
Name[eo]=Reta fenestraĵo
Name[es]=Elementos gráficos Web
Name[et]=Veebividinad
Name[eu]=Web trepetak
Name[fi]=Web-sovelmat
Name[fr]=Composants graphiques Web
Name[fy]=Web Widgets
Name[ga]=Giuirléidí Gréasáin
Name[gl]=Widgets web
Name[gu]=વેબ વિજેટ્સ
Name[he]=ווידג׳טים אינטרנטיים
Name[hi]=वेब विजेट
Name[hne]=वेब विजेट
Name[hr]=Web widgeti
Name[hu]=Webes elem
Name[ia]=Web Widgets
Name[id]=Widget Web
Name[is]=Vefgræjur
Name[it]=Oggetti Web
Name[ja]=ウェブウィジェット
Name[kk]=Веб интерфейс бөлшегі
Name[km]=ធាតុក្រាហ្វិក​បណ្ដាញ
Name[kn]=ಜಾಲ ನಿಯಂತ್ರಣಾ ಸಂಪರ್ಕತಟಗಳು (ವಿಡ್ಗೆಟ್)
Name[ko]=웹 위젯
Name[ku]=Alavên Torê
Name[lt]=Žiniatinklio valdikliai
Name[lv]=Tīmekļa sīkrīki
Name[ml]=വെബ് ഉരുപ്പടികള്‍
Name[mr]=वेब विजेट
Name[nb]=Nett-elementer
Name[nds]=Nett-Lüttprogrammen
Name[nl]=Web Widgets
Name[nn]=Vevelement
Name[or]=ୱେବ ୱିଜେଟଗୁଡ଼ିକ
Name[pa]=ਵੈੱਬ ਵਿਦਜੈੱਟ
Name[pl]=Strona sieci Web (element interfejsu)
Name[pt]=Elementos Web
Name[pt_BR]=Widgets da Internet
Name[ro]=Controale WEB
Name[ru]=Веб-виджеты
Name[si]=වෙබ් මෙවලම්
Name[sk]=Webové widgety
Name[sl]=Spletni gradniki
Name[sr]=веб виџети
Name[sr@ijekavian]=веб виџети
Name[sr@ijekavianlatin]=veb vidžeti
Name[sr@latin]=veb vidžeti
Name[sv]=Grafiska webbkomponenter
Name[ta]=Web Widgets
Name[tg]=Иловагиҳо ба Интернет
Name[th]=วิดเจ็ตแบบเว็บ
Name[tr]=Web Gereçleri
Name[ug]=تور بەت Widget
Name[uk]=Віджети Тенет
Name[wa]=Ahesses waibe
Name[x-test]=xxWeb Widgetsxx
Name[zh_CN]=网页部件
Name[zh_TW]=網頁元件
Comment=HTML widget
Comment[ar]=ودجة HTML
Comment[ast]=Elementu gráficu HTML
Comment[be@latin]=Widžet HTML
Comment[bg]=HTML джаджи
Comment[bn]=HTML উইজেট
Comment[bn_IN]=HTML উইজেট
Comment[bs]=HTML grafička kontrola
Comment[ca]=Estri HTML
Comment[ca@valencia]=Estri HTML
Comment[cs]=HTML widget
Comment[csb]=Interfejs HTML
Comment[da]=HTML-widget
Comment[de]=HTML-Miniprogramme
Comment[el]=Συστατικό HTML
Comment[en_GB]=HTML widget
Comment[eo]=HTML-fenestraĵo
Comment[es]=Elemento gráfico HTML
Comment[et]=HTML-vidin
Comment[eu]=HTML trepeta
Comment[fi]=HTML-sovelma
Comment[fr]=Composant graphique HTML
Comment[fy]=HTML widget
Comment[ga]=Giuirléid HTML
Comment[gl]=Widget HTML
Comment[gu]=HTML વિજેટ
Comment[he]=ווידג׳ט HTML
Comment[hi]=एचटीएमएल विज़ेट
Comment[hne]=एचटीएमएल विजेट
Comment[hr]=HTML widget
Comment[hu]=HTML-elem
Comment[ia]=widget HTML
Comment[id]=Widget HTML
Comment[is]=HTML græja
Comment[it]=Oggetto HTML
Comment[ja]=HTML ウィジェット
Comment[kk]=HTML интерфейс бөлшегі
Comment[km]=ធាតុ​ក្រាហ្វិក HTML
Comment[kn]=HTML ನಿಯಂತ್ರಣಾ ಸಂಪರ್ಕತಟ (ವಿಡ್ಗೆಟ್)
Comment[ko]=HTML 위젯
Comment[ku]=Alava HTML
Comment[lt]=HTML valdiklis
Comment[lv]=HTML sīkrīks
Comment[ml]=എച്ച്ടിഎംഎല്‍ ഉരുപ്പടി
Comment[mr]=HTML विजेट
Comment[nb]=HTML-element
Comment[nds]=HTML-Lüttprogramm
Comment[nl]=HTML-widget
Comment[nn]=HTML-element
Comment[or]=HTML ୱିଜେଟ
Comment[pa]=HTML ਵਿਦਜੈੱਟ
Comment[pl]=Element interfejsu będący stroną w HTML-u
Comment[pt]=Elemento HTML
Comment[pt_BR]=Widget HTML
Comment[ro]=Control HTML
Comment[ru]=Виджет на HTML
Comment[si]=HTML මෙවලම්
Comment[sk]=HTML widget
Comment[sl]=Gradnik HTML
Comment[sr]=ХТМЛ виџет
Comment[sr@ijekavian]=ХТМЛ виџет
Comment[sr@ijekavianlatin]=HTML vidžet
Comment[sr@latin]=HTML vidžet
Comment[sv]=Grafisk HTML-komponent
Comment[ta]=HTML widget
Comment[tg]=Илова ба HTML
Comment[th]=วิดเจ็ตแบบ HTML
Comment[tr]=HTML parçacığı
Comment[ug]=HTML widget
Comment[uk]=Віджет HTML
Comment[vi]=Widget HTML
Comment[wa]=Ahesse HTML
Comment[x-test]=xxHTML widgetxx
Comment[zh_CN]=HTML 部件
Comment[zh_TW]=HTML 元件
Type=Service
ServiceTypes=Plasma/PackageStructure

X-KDE-Library=plasma_packagestructure_web
X-KDE-PluginInfo-Author=Petri Damstén
X-KDE-PluginInfo-Email=damu@iki.fi
X-KDE-PluginInfo-Name=webkit
X-KDE-PluginInfo-Version=pre0.1
X-KDE-PluginInfo-Website=http://plasma.kde.org/
X-KDE-PluginInfo-Category=Applet
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=BSD
X-KDE-PluginInfo-EnabledByDefault=true
X-Plasma-PackageFileFilter=*
X-Plasma-PackageFileMimetypes=application/zip
