[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=PowerDevil/Action
X-KDE-Library=powerdevildpmsaction
Icon=preferences-desktop-screensaver
Name=Screen Energy Saving
Name[ast]=Aforru d'enerxía de la pantalla
Name[bg]=Пестене на енергия за екрана
Name[bs]=Štednja energije ekrana
Name[ca]=Estalvi d'energia de pantalla
Name[ca@valencia]=Estalvi d'energia de pantalla
Name[cs]=Úsporný režim obrazovky
Name[da]=Strømbesparelse for skærm
Name[de]=Bildschirm-Energieverwaltung
Name[el]=Εξοικονόμηση ενέργειας οθόνης
Name[en_GB]=Screen Energy Saving
Name[es]=Ahorro de energía de la pantalla
Name[et]=Ekraanisäästja
Name[eu]=Pantailaren energia aurrezpena
Name[fi]=Näytön virransäästö
Name[fr]=Économie d'énergie pour l'écran
Name[gl]=Aforro enerxético da pantalla
Name[he]=חיסכון באנרגיית המסך
Name[hr]=Zaslonska štednja energije
Name[hu]=Kijelző kikapcsolása
Name[ia]=Sparnio de energia de schermo
Name[is]=Orkusparnaðarstillingar fyrir skjá
Name[it]=Risparmio energetico dello schermo
Name[kk]=Экран қуатын үнемдеу
Name[km]=សន្សំ​ថាមពល​អេក្រង់
Name[ko]=화면 에너지 절약
Name[lt]=Ekrano energijos taupymas
Name[lv]=Ekrāna enerģijas taupīšana
Name[mr]=स्क्रीन ऊर्जा बचत
Name[nb]=Energisparing for skjerm
Name[nds]=Monitor-Stroomspoorbedrief
Name[nl]=Energiebesparing bij het beeldscherm
Name[pa]=ਸਕਰੀਨ ਊਰਜਾ ਬਚਾਉਣੀ
Name[pl]=Oszczędzaj energię ekranu
Name[pt]=Configuração da Energia do Ecrã
Name[pt_BR]=Configurações da energia da tela
Name[ro]=Economisire energie ecran
Name[ru]=Энергосбережение монитора
Name[sk]=Šetrenie energie obrazovky
Name[sl]=Varčevanje z energijo zaslona
Name[sr]=Штедња енергије екрана
Name[sr@ijekavian]=Штедња енергије екрана
Name[sr@ijekavianlatin]=Štednja energije ekrana
Name[sr@latin]=Štednja energije ekrana
Name[sv]=Strömsparhantering av bildskärmen
Name[th]=การรักษาพลังงานของหน้าจอ
Name[tr]=Ekran Enerji Tasarrufu
Name[ug]=ئېكران ئېنېرگىيە تېجەش
Name[uk]=Заощадження енергії екраном
Name[wa]=Spårgnaedje di l' enerdjeye del waitroûle
Name[x-test]=xxScreen Energy Savingxx
Name[zh_CN]=屏幕节能
Name[zh_TW]=螢幕節能
Comment=Controls DPMS settings
Comment[ast]=Configuraciones control DPMS
Comment[bg]=Управление настройките на DPMS
Comment[bs]=Upravlja DPMS postavkama
Comment[ca]=Controla l'arranjament del DPMS
Comment[ca@valencia]=Controla l'arranjament del DPMS
Comment[cs]=Ovládání nastavení DPMS
Comment[da]=Styrer DPMS-indstillinger
Comment[de]=DPMS-Einstellungen
Comment[el]=Ελέγχει τις ρυθμίσεις DPMS
Comment[en_GB]=Controls DPMS settings
Comment[es]=Controla preferencias de DPMS
Comment[et]=Monitori toiteseadistused
Comment[eu]=DPMS ezarpenak kontrolatzen ditu
Comment[fi]=Hallitsee DPMS-asetuksia
Comment[fr]=Contrôle les paramètres DPMS
Comment[gl]=Controla a configuración do DPMS
Comment[he]=משמש לשליטה בהגדרות DPMS
Comment[hr]=Kontrola DPMS postavki
Comment[hu]=DPMS-beállítások irányítása
Comment[ia]=Preferentias de controlos DPMS
Comment[is]=Stillingar DPMS
Comment[it]=Impostazioni dei controlli DPMS
Comment[ja]=DPMS の設定
Comment[kk]=DPMS параметрлерін басқару
Comment[km]=ការ​កំណត់​វត្ថុ​បញ្ជា DPMS
Comment[kn]=DPMA ಸಂಯೋಜನೆಗಳನ್ನು ನಿಯಂತ್ರಿಸುತ್ತದೆ
Comment[ko]=DPMS 설정
Comment[lt]=Valdo DPMS nustatymus
Comment[lv]=Kontrolē DPMS iestatījumus
Comment[mr]=DPMS संयोजना नियंत्रीत करतो
Comment[nb]=Styrer DPMS-innstillinger
Comment[nds]=Monitor-Stroomspoorbedrief instellen
Comment[nl]=DPMS-instellingen besturen
Comment[pa]=DPMS ਕੰਟਰੋਲ ਕਰੋ
Comment[pl]=Steruje ustawieniami DPMS
Comment[pt]=Controla a configuração do DPMS
Comment[pt_BR]=Controla as configurações do DPMS
Comment[ro]=Controlează configurările DPMS
Comment[ru]=Управление настройками энергопотребления монитора
Comment[sk]=Ovláda nastavenie DPMS
Comment[sl]=Nadzira nastavitve upravljanja z energijo zaslona
Comment[sr]=Управља ДПМС поставкама
Comment[sr@ijekavian]=Управља ДПМС поставкама
Comment[sr@ijekavianlatin]=Upravlja DPMS postavkama
Comment[sr@latin]=Upravlja DPMS postavkama
Comment[sv]=Styr DPMS-inställningar
Comment[th]=ควบคุมการตั้งค่า DPMS
Comment[tr]=DPMS ayarlarını kontrol eder
Comment[ug]=DPMS تەڭشەكلىرىنى تىزگىنلەيدۇ
Comment[uk]=Керування параметрами DPMS
Comment[vi]=Điều khiển các thiết lập DPMS
Comment[wa]=Controle les tchuzes DPMS
Comment[x-test]=xxControls DPMS settingsxx
Comment[zh_CN]=控制屏幕电源设置
Comment[zh_TW]=控制 DPMS 設定

X-KDE-PowerDevil-Action-ID=DPMSControl
X-KDE-PowerDevil-Action-IsBundled=false
X-KDE-PowerDevil-Action-ForceInstantLoad=true
X-KDE-PowerDevil-Action-UIComponentLibrary=powerdevildpmsaction_config
X-KDE-PowerDevil-Action-ConfigPriority=98
X-KDE-PowerDevil-Action-HasRuntimeRequirement=true
