[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=PowerDevil/Action
X-KDE-Library=powerdevilkeyboardbrightnesscontrolaction_config
Icon=input-keyboard
Name=Keyboard Backlight
Name[bs]=Pozadinsko osvjetljenje tastature
Name[ca]=Retroil·luminació del teclat
Name[ca@valencia]=Retroil·luminació del teclat
Name[cs]=Podsvícení klávesnice
Name[da]=Tastaturets baglys
Name[de]=Tastatur-Hintergrundhelligkeit
Name[el]=Φωτισμός πληκτρολογίου
Name[es]=Luz trasera del teclado
Name[fi]=Näppäimistön taustavalo
Name[fr]=Rétroéclairage du clavier
Name[gl]=Luz do teclado
Name[he]=תאורה אחורית של מקלדת
Name[hu]=Billentyűzet háttérvilágítás
Name[ia]=Luce de retro (Backlight) de claviero
Name[it]=Retro illuminazione della tastiera
Name[kk]=Перенетақта жарықтығы
Name[ko]=키보드 백라이트
Name[lt]=Klaviatūros apšvietimas
Name[mr]=कळफलक मागील प्रकाश
Name[nb]=Tastaturbaklys
Name[nl]=Toetsenbordverlichting
Name[pa]=ਕੀ-ਬੋਰਡ ਬੈਕਲਾਈਟ
Name[pl]=Podświetlenie klawiatury
Name[pt]=Luz Traseira do Teclado
Name[pt_BR]=Iluminação do teclado
Name[ro]=Iluminarea tastaturii
Name[ru]=Подсветка клавиатуры
Name[sk]=Spätné svetlo klávesnice
Name[sl]=Osvetlitev tipkovnice
Name[sr]=Осветљење тастатуре
Name[sr@ijekavian]=Осветљење тастатуре
Name[sr@ijekavianlatin]=Osvetljenje tastature
Name[sr@latin]=Osvetljenje tastature
Name[sv]=Bakgrundsbelysning på tangentbord
Name[tr]=Klavye Arkaışığı
Name[uk]=Підсвічування клавіатури
Name[x-test]=xxKeyboard Backlightxx
Name[zh_CN]=键盘背光
Name[zh_TW]=鍵盤背光
Comment=Basic Controls for the keyboard backlight brightness
Comment[bs]=Osnovne kontrole osvetljaja pozadine tastature
Comment[ca]=Controls bàsics per la brillantor de la retroil·luminació del teclat
Comment[ca@valencia]=Controls bàsics per la brillantor de la retroil·luminació del teclat
Comment[cs]=Základní ovládání jasu podsvícení klávesnice
Comment[da]=Basal kontrol af lysstyrke på tastaturets baglys
Comment[de]=Grundeinstellungen zur Hintergrundhelligkeit der Tastatur
Comment[el]=Βασικά στοιχεία ελέγχου λαμπρότητας στο φωτισμό του πληκτρολογίου
Comment[es]=Control básico del brillo de la luz trasera del teclado
Comment[fi]=Näppäimistön taustavalon kirkkauden perussäätimet
Comment[fr]=Contrôles simples de la luminosité pour le rétro-éclairage du clavier
Comment[gl]=Controis básicos do brillo da luz do teclado
Comment[hu]=Alap vezérlők a billentyűzet háttérvilágításának fényerejéhez
Comment[ia]=Controlos basic pro intensitatede illumination de luce de retro de claviero
Comment[is]=Grunnstýringar fyrir baklýsingarbirtustig lyklaborðs
Comment[it]=Controlli di base della retro illuminazione della tastiera
Comment[kk]=Пернетақта жарықтық күшінің негізгі тұтқалары
Comment[ko]=키보드 백라이트 기본 밝기 제어
Comment[lt]=Pagrindiniai klaviatūros apšvietimo valdikliai
Comment[mr]=कळफलक मागील प्रकाशाच्या प्रखरतेसाठी मूलभूत नियंत्रण
Comment[nb]=Enkel styring av lysstyrke for tastaturbaklys
Comment[nl]=Basisbesturing voor helderheid van de toetsenbordverlichting
Comment[pa]=ਕੀਬੋਰਡ ਬੈਕਲਿਟ ਚਮਕ ਲਈ ਮੁੱਢਲੇ ਕੰਟਰੋਲ
Comment[pl]=Podstawowe sterowanie dla jasności podświetlenia klawiatury
Comment[pt]=Controlos básicos do brilho da luz traseira do teclado
Comment[pt_BR]=Controles básicos da iluminação do teclado
Comment[ro]=Controale de bază pentru luminozitatea iluminării tastaturii
Comment[ru]=Базовое управление подсветкой клавиатуры
Comment[sk]=Základné ovládacie prvky pre jas spätného svetla klávesnice
Comment[sl]=Osnovni nadzor osvetlitve tipkovnice
Comment[sr]=Основне контроле осветљења тастатуре
Comment[sr@ijekavian]=Основне контроле осветљења тастатуре
Comment[sr@ijekavianlatin]=Osnovne kontrole osvetljenja tastature
Comment[sr@latin]=Osnovne kontrole osvetljenja tastature
Comment[sv]=Grundkontroller för ljusstyrka av tangentbordets bakgrundsbelysning
Comment[tr]=Klavyenin arkaışık parlaklığı için Temel Kontroller
Comment[uk]=Базове керування яскравістю підсвічування клавіатури
Comment[x-test]=xxBasic Controls for the keyboard backlight brightnessxx
Comment[zh_CN]=键盘背光亮度基本控制
Comment[zh_TW]=鍵盤背光亮度的基本控制

X-KDE-PowerDevil-Action-ID=KeyboardBrightnessControl
X-KDE-PowerDevil-Action-IsBundled=true
X-KDE-PowerDevil-Action-UIComponentLibrary=powerdevilkeyboardbrightnesscontrolaction_config
X-KDE-PowerDevil-Action-ConfigPriority=100
X-KDE-PowerDevil-Action-HasRuntimeRequirement=true
X-KDE-PowerDevil-Action-RegistersDBusInterface=true
