[Desktop Entry]
Exec=kcmshell4 powerdevilglobalconfig
Icon=preferences-other
Type=Service
X-KDE-ServiceTypes=KCModule
X-DocPath=kcontrol/powerdevil/index.html#advanced-settings

X-KDE-Library=kcm_powerdevilglobalconfig
X-KDE-ParentApp=kcontrol

X-KDE-System-Settings-Parent-Category=power-management
X-KDE-Weight=99

Name=Advanced Settings
Name[bs]=Napredne postavke
Name[ca]=Arranjament avançat
Name[ca@valencia]=Arranjament avançat
Name[cs]=Pokročilá nastavení
Name[da]=Avancerede indstillinger
Name[de]=Erweiterte Einstellungen
Name[el]=Προχωρημένες ρυθμίσεις
Name[es]=Preferencias avanzadas
Name[et]=Muud seadistused
Name[fi]=Lisäasetukset
Name[fr]=Configuration avancée
Name[ga]=Ardsocruithe
Name[gl]=Configuración avanzada
Name[he]=הגדרות מתקדמות
Name[hu]=Speciális beállítások
Name[ia]=Preferentias Avantiate
Name[is]=Ítarlegar stillingar
Name[it]=Impostazioni avanzate
Name[kk]=Жетелеп баптау
Name[km]=ការ​កំណត់​​កម្រិត​ខ្ពស់
Name[ko]=고급 설정
Name[lt]=Išsamesni nustatymai
Name[mr]=प्रगत संयोजना
Name[nb]=Avanserte innstillinger
Name[nl]=Geavanceerde instellingen
Name[pa]=ਤਕਨੀਕੀ ਸੈਟਿੰਗ
Name[pl]=Ustawienia zaawansowane
Name[pt]=Configuração Avançada
Name[pt_BR]=Configurações avançadas
Name[ro]=Configurări avansate
Name[ru]=Дополнительные параметры
Name[sk]=Pokročilé nastavenia
Name[sl]=Napredne nastavitve
Name[sr]=Напредне поставке
Name[sr@ijekavian]=Напредне поставке
Name[sr@ijekavianlatin]=Napredne postavke
Name[sr@latin]=Napredne postavke
Name[sv]=Avancerade inställningar
Name[tr]=Gelişmiş ayarlar
Name[uk]=Додаткові параметри
Name[vi]=Thiết lập nâng cao
Name[x-test]=xxAdvanced Settingsxx
Name[zh_CN]=高级设置
Name[zh_TW]=進階設定

Comment=Configure Advanced Power Management Settings
Comment[bs]=Napredno podešavanje i upravljanje napajanjem
Comment[ca]=Configura l'arranjament avançat de gestió d'energia
Comment[ca@valencia]=Configura l'arranjament avançat de gestió d'energia
Comment[cs]=Nastavení pokročilého nastavení správy napájení
Comment[da]=Indstil avanceret strømstyring
Comment[de]=Erweiterte Energieprofile einrichten
Comment[el]=Διαμόρφωση προχωρημένων επιλογών διαχείρισης ενέργειας
Comment[es]=Configurar las preferencias avanzadas de la gestión de energía
Comment[et]=Toitehalduse muud seadistused
Comment[fi]=Virranhallinnan lisäasetukset
Comment[fr]=Configuration avancée de la gestion d'énergie 
Comment[ga]=Cumraigh Ardsocruithe Bhainisteoireacht Cumhachta
Comment[gl]=Configura a xestión avanzada da enerxía
Comment[he]=הגדרות מתקדמות של חיסכון בצריכת חשמל
Comment[hu]=Speciális energiakezelési beállítások módosítása
Comment[ia]=Configura preferentias avantiate de gestion de energia
Comment[is]=Stilla ítarlegar orkustillingar
Comment[it]=Configura le impostazioni avanzate della gestione energetica
Comment[kk]=Қуаттандыруның жетелеген параметрлерін баптау
Comment[km]=កំណត់​រចនាសម្ព័ន្ធ​នៃ​ការ​កំណត់​ការ​គ្រប់គ្រង​ថាមពល
Comment[ko]=고급 전원 관리 설정
Comment[lt]=Konfigūruoti išsamesnius energijos valdymo nustatymus
Comment[mr]=प्रगत वीज व्यवस्थापन संयोजीत करा
Comment[nb]=Sett avanserte strømstyringsinnstillinger
Comment[nl]=Instellingen voor geavanceerd energiebeheer configureren
Comment[pa]=ਤਕਨੀਕੀ ਪਾਵਰ ਪਰਬੰਧ ਸੈਟਿੰਗ ਸੰਰਚਨਾ
Comment[pl]=Konfiguracja zaawansowanych ustawienia zarządzania energią
Comment[pt]=Configurar a Gestão de Energia Avançada
Comment[pt_BR]=Configura as opções avançadas de gerenciamento de energia
Comment[ro]=Configurează opțiunile avansate de gestiune a alimentării
Comment[ru]=Настройка дополнительных параметров энергосбережения
Comment[sk]=Nastaviť nastavenia pokročilej správy napájania
Comment[sl]=Nastavi napredno upravljanje z energijo
Comment[sr]=Подешавање напредних поставки за управљање напајањем
Comment[sr@ijekavian]=Подешавање напредних поставки за управљање напајањем
Comment[sr@ijekavianlatin]=Podešavanje naprednih postavki za upravljanje napajanjem
Comment[sr@latin]=Podešavanje naprednih postavki za upravljanje napajanjem
Comment[sv]=Anpassa avancerade inställningar av strömhantering
Comment[tr]=Gelişmiş Güç Yönetimi Ayarlarını Yapılandır
Comment[uk]=Налаштування додаткових параметрів керування живленням
Comment[vi]=Cấu hình các thiết lập cho Quản lý năng lượng nâng cao
Comment[x-test]=xxConfigure Advanced Power Management Settingsxx
Comment[zh_CN]=配置高级电源管理设置
Comment[zh_TW]=設定進階電源管理

X-KDE-Keywords=system,power,power management,energy,laptop,battery,suspension,AC,suspend,hibernate,brightness,performance,lid
X-KDE-Keywords[bs]=Sistem, Napajanje, Upravljanje napajanjem, energija, laptop, baterija, suspenzija, AC, suspendiraj, hiberniranje, osvljetljenje, kapak,
X-KDE-Keywords[ca]=sistema,energia,gestió d'energia,corrent,portàtil,bateria,suspensió,AC,suspèn,hiberna,lluminositat,rendiment,tapa
X-KDE-Keywords[ca@valencia]=sistema,energia,gestió d'energia,corrent,portàtil,bateria,suspensió,AC,suspèn,hiberna,lluminositat,rendiment,tapa
X-KDE-Keywords[da]=system,strøm,strømstyring,energi,laptop,bærbar,batteri,suspension,AC,strømforsyning,suspender,slumre,dvale,lysstyrke,ydelse,låg
X-KDE-Keywords[de]=system,energie,energieverwaltung,laptop,notebook,akku,batterie,ruhezustand,tiefschlaf,helligkeit,leistung,deckel
X-KDE-Keywords[el]=σύστημα,ενέργεια,διαχείριση ενέργειας,ενέργεια,φορητός,μπαταρία,αναστολή,AC,κοίμηση,νάρκη,λαμπρότητα,επιδόσεις,καπάκι
X-KDE-Keywords[es]=sistema,energía,gestión de energía,energía,portátil,batería,suspensión,AC,suspender,hibernar,brillo,rendimiento,tapa
X-KDE-Keywords[et]=süsteem,energia,toide,toitehaldus,sülearvuti,aku,uneseisund,uni,talveuni, heledus,jõudlus,kaas
X-KDE-Keywords[fi]=järjestelmä,virta,virranhallinta,energia,kannettava,tietokone,läppäri,akku,lepotila,valmiustila,AC,virtalähde,keskeytä,kirkkaus,suorituskyky,kansi
X-KDE-Keywords[fr]=système, alimentation, gestion énergétique, énergie, portable, batterie, suspension, AC, suspendre, hiberner, luminosité, performance, capot
X-KDE-Keywords[gl]=sistema,enerxía,xestión da enerxía, xestión enerxética,carga,portátil,batería, suspender,corrente,hibernar,durmir,brillo,rendemento,tapa
X-KDE-Keywords[hu]=rendszer,energia,energiakezelés,energia,laptop,akkumulátor,AC,felfüggesztés,hibernálás,fényerő,teljesítmény,fedél
X-KDE-Keywords[ia]=systema,potentia,gestion de potentia,energia,laptop,batteria,suspension,CA,suspende,hiberna,brillantia,prestation,coperculo
X-KDE-Keywords[it]=sistema,energia,gestione energia,energia,laptop,batteria,sospensione,AC,corrente,sospensione,ibernazione,luminosità,prestazioni
X-KDE-Keywords[kk]=system,power,power management,energy,laptop,battery,suspension,AC,suspend,hibernate,brightness,performance,lid
X-KDE-Keywords[km]=system,power,power management,energy,laptop,battery,suspension,AC,suspend,hibernate,brightness,performance,lid
X-KDE-Keywords[ko]=system,power,power management,energy,laptop,battery,suspension,AC,suspend,hibernate,brightness,performance,lid,시스템,전원,전원 관리,에너지,노트북,배터리,어댑터,절전,대기 모드,대기,최대 절전,최대 절전 모드,밝기,성능,덮개,상판
X-KDE-Keywords[mr]=प्रणाली, वीज, वीज व्यवस्थापन, ऊर्जा, लैपटॉप, बॅटरी, अकार्यक्षम, AC, अकार्यक्षम, हायबरनेट, प्रखरता, लिड
X-KDE-Keywords[nb]=system,strøm,strømstyring,energi,bærbar,batteri,hvilemodus,AC,hvile,dvale,lysstyrke,ytelse,lokk
X-KDE-Keywords[nl]=systeem,energie,energiebeheer,laptop,batterij,accu,suspension,AC,onderbreken,slapen,helderheid,prestaties,deksel
X-KDE-Keywords[pl]=system,moc,zarządzanie energią,energia,laptop,bateria,wstrzymanie,AC,wstrzymaj,hibernuj,jasność,wydajność,pokrywka
X-KDE-Keywords[pt]=sistema,energia,gestão de energia,portátil,bateria,suspensão,AC,suspender,hibernar,brilho,performance,tampo
X-KDE-Keywords[pt_BR]=sistema,energia,gerenciamento de energia,energia,notebook,laptop,portátil,bateria,suspensão,AC,suspender,hibernar,brilho,desempenho,tampa
X-KDE-Keywords[ru]=system,power,power management,energy,laptop,battery,suspension,AC,suspend,hibernate,brightness,performance,lid,системное,питание,управление питанием,энергопотребление,ноутбук,батарея,спящий режим,гибернация,ждущий режим,яркость,производительность,крышка
X-KDE-Keywords[sk]=systém,napájanie,správa napájanie,energia,laptop,batéria,uspanie,AC,uspať,hibernovať,jas,výkon,kryt
X-KDE-Keywords[sl]=sistem,energija,upravljanje z energijo,prenosnik,prenosni računalnik,baterija,akumulator,pripravljenost,mirovanje,električno omrežje,svetlost,zmogljivost,pokrov,napajanje
X-KDE-Keywords[sr]=system,power,power management,energy,laptop,battery,suspension,AC,suspend,hibernate,brightness,performance,lid,систем,напајање,струја,управљање напајањем,лаптоп,батерија,суспендовање,АЦ,хибернација,светлина,осветљај,перформансе,поклопац
X-KDE-Keywords[sr@ijekavian]=system,power,power management,energy,laptop,battery,suspension,AC,suspend,hibernate,brightness,performance,lid,систем,напајање,струја,управљање напајањем,лаптоп,батерија,суспендовање,АЦ,хибернација,светлина,осветљај,перформансе,поклопац
X-KDE-Keywords[sr@ijekavianlatin]=system,power,power management,energy,laptop,battery,suspension,AC,suspend,hibernate,brightness,performance,lid,sistem,napajanje,struja,upravljanje napajanjem,laptop,baterija,suspendovanje,AC,hibernacija,svetlina,osvetljaj,performanse,poklopac
X-KDE-Keywords[sr@latin]=system,power,power management,energy,laptop,battery,suspension,AC,suspend,hibernate,brightness,performance,lid,sistem,napajanje,struja,upravljanje napajanjem,laptop,baterija,suspendovanje,AC,hibernacija,svetlina,osvetljaj,performanse,poklopac
X-KDE-Keywords[sv]=system,kraft,krafthantering,energi,bärbar dator,batteri,viloläge,AC,gå till viloläge,dvala,ljusstyrka,prestanda,lock
X-KDE-Keywords[tr]=sistem,güç,güç yönetimi,enerji,dizüstü,pil,askıya alma,Adaptör,uyku kipi,hazırda bekletme,parlaklık,performans,başarım,dizüstü kapağı,ekran parlaklığı
X-KDE-Keywords[uk]=system,power,power management,energy,laptop,battery,suspension,AC,suspend,hibernate,brightness,performance,lid,система,живлення,мережа,струм,керування,енергія,ноутбук,акумулятор,батарея,батареї,присипляння,призупинення,призупинка,яскравість,швидкодія,кришка,кришки
X-KDE-Keywords[x-test]=xxsystem,power,power management,energy,laptop,battery,suspension,AC,suspend,hibernate,brightness,performance,lidxx
X-KDE-Keywords[zh_CN]=system,power,power management,energy,laptop,battery,suspension,AC,suspend,hibernate,brightness,performance,lid,系统,电源,电源管理,能源,笔记本,电池,休眠,睡眠,交流,亮度,性能
X-KDE-Keywords[zh_TW]=system,power,power management,energy,laptop,battery,suspension,AC,suspend,hibernate,brightness,performance,lid
