[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=PowerDevil/Action
# X-KDE-Library=powerdevilrunscriptaction
Icon=system-run
Name=Run Script
Name[ar]=تشغيل سكربت
Name[ast]=Executar guión
Name[bg]=Изпълнение на скрипт
Name[bs]=Izvrši skriptu
Name[ca]=Executa un script
Name[ca@valencia]=Executa un script
Name[cs]=Spustit skript
Name[da]=Kør script
Name[de]=Skript ausführen
Name[el]=Εκτέλεση σεναρίου
Name[en_GB]=Run Script
Name[es]=Ejecutar guión
Name[et]=Skripti käivitamine
Name[eu]=Exekutatu scripta
Name[fi]=Suorita skripti
Name[fr]=Démarrer un script 
Name[ga]=Rith Script
Name[gl]=Executar un script
Name[he]=הרצת תסריט
Name[hi]=स्क्रिप्ट चलाएँ
Name[hr]=Pokreni skriptu
Name[hu]=Parancsfájl futtatása
Name[ia]=Exeque script
Name[is]=Keyra skriftu
Name[it]=Avvia script
Name[ja]=スクリプトを実行
Name[kk]=Скриптті орындау
Name[km]=ដំណើរការ​ស្គ្រីប
Name[ko]=스크립트 실행
Name[lt]=Paleisti scenarijų
Name[lv]=Palaist skriptu
Name[mr]=स्क्रिप्ट चालवा
Name[nb]=Kjør skript
Name[nds]=Skript utföhren
Name[nl]=Script uitvoeren
Name[pa]=ਸਕ੍ਰਿਪਟ ਚਲਾਓ
Name[pl]=Uruchom skrypt
Name[pt]=Executar um Programa
Name[pt_BR]=Executar script
Name[ro]=Rulează script
Name[ru]=Запустить сценарий
Name[sk]=Spustiť skript
Name[sl]=Zaženi skript
Name[sr]=Изврши скрипту
Name[sr@ijekavian]=Изврши скрипту
Name[sr@ijekavianlatin]=Izvrši skriptu
Name[sr@latin]=Izvrši skriptu
Name[sv]=Kör skript
Name[th]=ให้สคริปต์ทำงาน
Name[tr]=Betik Çalıştır
Name[ug]=قوليازما ئىجرا قىل
Name[uk]=Виконати скрипт
Name[wa]=Enonder scripe
Name[x-test]=xxRun Scriptxx
Name[zh_CN]=运行脚本
Name[zh_TW]=執行文稿
Comment=Runs a custom script
Comment[ast]=Executa un guión personalizáu
Comment[bg]=Изпълнение на потребителски скрипт
Comment[bs]=Izvršava posebnu skriptu
Comment[ca]=Executa un script personalitzat
Comment[ca@valencia]=Executa un script personalitzat
Comment[cs]=Spustit vlastní skript
Comment[da]=Kører et brugerdefineret script
Comment[de]=Führt ein benutzerdefiniertes Skript aus
Comment[el]=Εκτελεί ένα προσαρμοσμένο σενάριο
Comment[en_GB]=Runs a custom script
Comment[es]=Ejecuta un guion personalizado
Comment[et]=Kohandatud skripti käivitamine
Comment[eu]=Script pertsonalizatu bat exekutatzen du
Comment[fi]=Suorittaa mukautetun skriptin
Comment[fr]=Démarre un script personnalisé
Comment[ga]=Rith script shaincheaptha
Comment[gl]=Executa un script
Comment[he]=משמש להרצת תסריט מותאם אישית
Comment[hr]=Pokreće prilagođene skripte
Comment[hu]=Egyéni parancsfájl futtatása
Comment[ia]=Il exeque un script personalisate
Comment[is]=Keyra sérsniðna skriftu
Comment[it]=Avvia uno script personalizzato
Comment[ja]=カスタムスクリプトを実行
Comment[kk]=Пайдаланушының скриптін орындау
Comment[km]=ដំណើរការ​ស្គ្រីប​ផ្ទាល់ខ្លួន
Comment[ko]=사용자 정의 스크립트를 실행합니다
Comment[lt]=Paleisti savo scenarijų
Comment[lv]=Palaiž pielāgotu skriptu
Comment[mr]=ऐच्छिक स्क्रिप्ट चालवा
Comment[nb]=Kjører et egendefinert skript
Comment[nds]=Föhrt en egen Skript ut
Comment[nl]=Een eigen script uitvoeren
Comment[pa]=ਪਸੰਦੀਦਾ ਸਕ੍ਰਿਪਟ ਚਲਾਓ
Comment[pl]=Uruchomia własny skrypt
Comment[pt]=Executa um programa personalizado
Comment[pt_BR]=Executa um script personalizado
Comment[ro]=Rulează un script personalizat
Comment[ru]=Запускает пользовательский сценарий
Comment[sk]=Spustí vlastný skript
Comment[sl]=Zažene skript po meri
Comment[sr]=Извршава посебну скрипту
Comment[sr@ijekavian]=Извршава посебну скрипту
Comment[sr@ijekavianlatin]=Izvršava posebnu skriptu
Comment[sr@latin]=Izvršava posebnu skriptu
Comment[sv]=Kör ett eget skript
Comment[th]=ให้สคริปตท์ที่กำหนดเองทำงาน
Comment[tr]=Özel bir betik çalıştır
Comment[ug]=ئۆزلەشتۈرگەن قوليازمىدىن بىرنى ئىجرا قىلىدۇ
Comment[uk]=Запускає вказаний користувачем скрипт
Comment[wa]=Enonde on scripe da vosse
Comment[x-test]=xxRuns a custom scriptxx
Comment[zh_CN]=运行自定义脚本
Comment[zh_TW]=執行自訂文稿

X-KDE-PowerDevil-Action-ID=RunScript
X-KDE-PowerDevil-Action-IsBundled=true
X-KDE-PowerDevil-Action-UIComponentLibrary=powerdevilrunscriptaction_config
X-KDE-PowerDevil-Action-ConfigPriority=70
