[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=PowerDevil/Action
# X-KDE-Library=powerdevildimdisplayaction
Icon=preferences-desktop-display
Name=Dim Screen
Name[bs]=Dim ekran
Name[ca]=Enfosquiment de pantalla
Name[ca@valencia]=Enfosquiment de pantalla
Name[cs]=Ztmavit obrazovku
Name[da]=Dæmp skærmen
Name[de]=Bildschirm abdunkeln
Name[el]=Σκίαση οθόνης
Name[es]=Oscurecer pantalla
Name[fi]=Näytön himmennys
Name[fr]=Régler la luminosité de l'écran
Name[gl]=Atenuar a pantalla
Name[hu]=Képernyő homályosítása
Name[ia]=Obscura Schermo
Name[it]=Oscuramento dello schermo
Name[kk]=Экранды қараңғы қылу
Name[ko]=화면 어둡게 하기
Name[lt]=Užtemdyti ekraną
Name[nb]=Mørklegg skjerm
Name[nl]=Scherm dimmen
Name[pa]=ਸਕਰੀਨ ਡਿਮ
Name[pl]=Przyciemnij ekran
Name[pt]=Escurecer o Ecrã
Name[pt_BR]=Escurecer a tela
Name[ro]=Întunecă ecranul
Name[ru]=Потухание экрана
Name[sk]=Stmaviť obrazovku
Name[sl]=Potemni zaslon
Name[sr]=Пригуши екран
Name[sr@ijekavian]=Пригуши екран
Name[sr@ijekavianlatin]=Priguši ekran
Name[sr@latin]=Priguši ekran
Name[sv]=Dämpa skärmen
Name[tr]=Ekranı kapat
Name[uk]=Зменшення яскравості екрана
Name[x-test]=xxDim Screenxx
Name[zh_CN]=暗淡屏幕
Name[zh_TW]=將螢幕變暗
Comment=Dims gradually the display on a time basis
Comment[ast]=Atenúa la pantalla gradualmente según pasa'l tiempu
Comment[bg]=Постепенно затъмняване на екрана след определено време
Comment[bs]=Postepeno prigušuje ekran na zadato vrijeme
Comment[ca]=Atenua gradualment la pantalla en funció del temps
Comment[ca@valencia]=Atenua gradualment la pantalla en funció del temps
Comment[cs]=Postupné ztmavení obrazovky
Comment[da]=Dæmper skærmen gradvist baseret på tid
Comment[de]=Dunkelt den Bildschirm zeitgesteuert ab
Comment[el]=Μειώνει σταδιακά στο χρόνο την φωτεινότητα της οθόνης
Comment[en_GB]=Dims gradually the display on a time basis
Comment[es]=Oscurece la pantalla gradualmente según pasa el tiempo
Comment[et]=Kuva järkjärguline tumendamine aega arvestades
Comment[eu]=Bistaratzea pixkanaka lausotzen du denboran oinarrituta
Comment[fi]=Himmentää näyttöä vaiheittain ajan perusteella
Comment[fr]=Assombrit graduellement l'affichage sur une base de temps
Comment[gl]=Escurece progresivamente a pantalla segundo o tempo
Comment[he]=משמש לעמעום הדרגתי של הצג על בסיס זמן
Comment[hr]=Postepeno prigušuje zaslon na vremenskoj osnovi
Comment[hu]=Fokozatos elhalványítja a kijelzőt egy adott idő után
Comment[ia]=Obscura gradualmente le monstrator usante como base le tempore
Comment[is]=Dimmir skjáborðið smátt og smátt
Comment[it]=Scurisce gradualmente lo schermo su base temporale
Comment[ja]=ディスプレイを時間とともに徐々に暗くする
Comment[kk]=Дисплей жарықтығын біртіндеп азайту
Comment[km]=ធ្វើ​ឲ្យ​​ការ​បង្ហាញ​ព្រិល​ៗ​ទៅ​តាម​​ពេលវេលា​
Comment[kn]=ಸಮಯಕ್ಕೆ ಅನುಗುಣವಾಗಿ ಪ್ರದರ್ಶಕವನ್ನು ನಿಧಾನವಾಗಿ ಮಬ್ಬುಗೊಳಿಸುತ್ತದೆ
Comment[ko]=밝기를 단계적으로 어둡게 합니다
Comment[lt]=Laikui bėgant, dalinai pritamsina ekraną
Comment[lv]=Pakāpeniski patumšina ekrānu atkarībā no laika
Comment[mr]=वेळे नुसार क्रमाक्रमाने डिस्प्ले फीका करतो
Comment[nb]=Mørklegger skjermen gradvis etter som tiden går
Comment[nds]=Maakt de Schirm na en vörinstellt Tiet düüsterer
Comment[nl]=Dimt geleidelijk het beeldscherm op basis van tijd
Comment[pa]=ਸਮੇਂ ਨਾਲ ਡਿਸਪਲੇਅ ਨੂੰ ਲਗਾਤਾਰ ਡਿਮ ਕਰੋ
Comment[pl]=Po podanym czasie, stopniowo przyciemnia wyświetlacz
Comment[pt]=Escurece gradualmente o ecrã durante um dado período
Comment[pt_BR]=Escurece gradualmente a tela durante um período
Comment[ro]=Întunecă gradual ecranul în dependență de timp
Comment[ru]=Экран медленно затухает со временем
Comment[sk]=Postupne stmavie obrazovku v závislosti na čase
Comment[sl]=Postopoma potemni zaslon
Comment[sr]=Постепено пригушује екран на задато време
Comment[sr@ijekavian]=Постепено пригушује екран на задато вријеме
Comment[sr@ijekavianlatin]=Postepeno prigušuje ekran na zadato vrijeme
Comment[sr@latin]=Postepeno prigušuje ekran na zadato vreme
Comment[sv]=Dämpa bildskärmen gradvis baserat på tid
Comment[th]=ลดความสว่างจอภาพลงเมื่อถึงช่วงเวลาตามที่กำหนด
Comment[tr]=Zamana bağlı olarak ekranı karart
Comment[uk]=Поступове зменшення яскравості дисплея з часом
Comment[vi]=Làm tối dần màn hình theo thời gian
Comment[wa]=Baxhe pitchote a midjote li håynaedje so ene båze di tins
Comment[x-test]=xxDims gradually the display on a time basisxx
Comment[zh_CN]=在一定时间逐步变暗屏幕
Comment[zh_TW]=依時間逐漸讓顯示變暗

X-KDE-PowerDevil-Action-ID=DimDisplay
X-KDE-PowerDevil-Action-IsBundled=true
X-KDE-PowerDevil-Action-UIComponentLibrary=powerdevildimdisplayaction_config
X-KDE-PowerDevil-Action-ConfigPriority=99
X-KDE-PowerDevil-Action-HasRuntimeRequirement=true
