[Desktop Entry]
Exec=kcmshell4 powerdevilprofilesconfig
Icon=preferences-system-power-management
Type=Service
X-KDE-ServiceTypes=KCModule
X-DocPath=kcontrol/powerdevil/index.html

X-KDE-Library=kcm_powerdevilprofilesconfig
X-KDE-ParentApp=kcontrol

X-KDE-System-Settings-Parent-Category=power-management
X-KDE-Weight=1

Name=Energy Saving
Name[bs]=Štednja energije
Name[ca]=Estalvi d'energia
Name[ca@valencia]=Estalvi d'energia
Name[cs]=Úsporný režim
Name[da]=Strømbesparelse
Name[de]=Energiesparen
Name[el]=Εξοικονόμηση ενέργειας
Name[es]=Ahorro de energía
Name[et]=Energia säästmine
Name[fi]=Virransäästö
Name[fr]=Économie d'énergie
Name[ga]=Spáráil Fuinnimh
Name[gl]=Aforro enerxético
Name[he]=חיסכון בחשמל
Name[hu]=Energiatakarékosság
Name[ia]=Sparnio de energia
Name[is]=Orkusparnaður
Name[it]=Risparmio energetico
Name[kk]=Қуатты үнемдеу
Name[km]=សន្សំ​ថាមពល​
Name[ko]=에너지 절약
Name[lt]=Energijos taupymas
Name[mr]=ऊर्जा बचत
Name[nb]=Energisparing
Name[nl]=Energiebesparing
Name[pa]=ਊਰਜਾ ਬੱਚਤ
Name[pl]=Oszczędzanie energii
Name[pt]=Poupança de Energia
Name[pt_BR]=Economia de energia
Name[ro]=Economisire energie
Name[ru]=Энергосбережение
Name[sk]=Šetrenie energie
Name[sl]=Varčevanje z energijo
Name[sr]=Штедња енергије
Name[sr@ijekavian]=Штедња енергије
Name[sr@ijekavianlatin]=Štednja energije
Name[sr@latin]=Štednja energije
Name[sv]=Strömsparhantering
Name[tr]=Enerji Tasarrufu
Name[uk]=Заощадження енергії
Name[vi]=Tiết kiệm năng lượng
Name[x-test]=xxEnergy Savingxx
Name[zh_CN]=节能
Name[zh_TW]=省電模式

Comment=Configure Energy Saving
Comment[bs]=Podesi štednju energije
Comment[ca]=Configura l'estalvi d'energia
Comment[ca@valencia]=Configura l'estalvi d'energia
Comment[cs]=Upravte šetření energie
Comment[da]=Indstillinger for strømbesparelse
Comment[de]=Energiespar-Einstellungen einrichten
Comment[el]=Διαμόρφωση της εξοικονόμησης ενέργειας
Comment[es]=Configurar el ahorro de energía
Comment[et]=Energia säästmise seadistused
Comment[fi]=Virransäästön asetukset
Comment[fr]=Configurer les économies d'énergie
Comment[ga]=Cumraigh Spáráil Fuinnimh
Comment[gl]=Configurar o aforro enerxético
Comment[he]=הגדרות חיסכון באנרגייה
Comment[hu]=Energiatakarékossági beállítások
Comment[ia]=Configura sparnio de energia
Comment[is]=Stilla orkusparnað
Comment[it]=Configura le impostazioni del risparmio energetico
Comment[kk]=Қуат үнемдеуді баптау
Comment[km]=កំណត់​រចនាសម្ព័ន្ធ​នៃ​​ការសន្សំ​ថាមពល
Comment[ko]=절전 설정
Comment[lt]=Konfigūruoti energijos taupymą
Comment[mr]=ऊर्जा बचत संयोजीत करा
Comment[nb]=Sett opp strømsparing
Comment[nl]=Energiebesparing instellen
Comment[pa]=ਊਰਜਾ ਬੱਚਤ ਸੰਰਚਨਾ
Comment[pl]=Konfiguracja oszczędzania energii
Comment[pt]=Configurar a Poupança de Energia
Comment[pt_BR]=Configura a economia de energia
Comment[ro]=Configurează economisirea energiei
Comment[ru]=Параметры энергосбережения
Comment[sk]=Nastaviť šetrenie energie
Comment[sl]=Nastavi varčevanje z energijo
Comment[sr]=Подешавање штедње енергије
Comment[sr@ijekavian]=Подешавање штедње енергије
Comment[sr@ijekavianlatin]=Podešavanje štednje energije
Comment[sr@latin]=Podešavanje štednje energije
Comment[sv]=Anpassa strömsparhantering
Comment[tr]=Enerji Tasarrufunu Yapılandır
Comment[uk]=Налаштувати заощадження енергії
Comment[vi]=Cấu hình cho Tiết kiệm năng lượng
Comment[x-test]=xxConfigure Energy Savingxx
Comment[zh_CN]=保存能源设置
Comment[zh_TW]=設定省電模式

X-KDE-Keywords=system,power,power management,energy,laptop,battery,suspension,AC,suspend,hibernate,brightness,performance,lid
X-KDE-Keywords[bs]=Sistem, Napajanje, Upravljanje napajanjem, energija, laptop, baterija, suspenzija, AC, suspendiraj, hiberniranje, osvljetljenje, kapak,
X-KDE-Keywords[ca]=sistema,energia,gestió d'energia,corrent,portàtil,bateria,suspensió,AC,suspèn,hiberna,lluminositat,rendiment,tapa
X-KDE-Keywords[ca@valencia]=sistema,energia,gestió d'energia,corrent,portàtil,bateria,suspensió,AC,suspèn,hiberna,lluminositat,rendiment,tapa
X-KDE-Keywords[da]=system,strøm,strømstyring,energi,laptop,bærbar,batteri,suspension,AC,strømforsyning,suspender,slumre,dvale,lysstyrke,ydelse,låg
X-KDE-Keywords[de]=system,energie,energieverwaltung,laptop,notebook,akku,batterie,ruhezustand,tiefschlaf,helligkeit,leistung,deckel
X-KDE-Keywords[el]=σύστημα,ενέργεια,διαχείριση ενέργειας,ενέργεια,φορητός,μπαταρία,αναστολή,AC,κοίμηση,νάρκη,λαμπρότητα,επιδόσεις,καπάκι
X-KDE-Keywords[es]=sistema,energía,gestión de energía,energía,portátil,batería,suspensión,AC,suspender,hibernar,brillo,rendimiento,tapa
X-KDE-Keywords[et]=süsteem,energia,toide,toitehaldus,sülearvuti,aku,uneseisund,uni,talveuni, heledus,jõudlus,kaas
X-KDE-Keywords[fi]=järjestelmä,virta,virranhallinta,energia,kannettava,tietokone,läppäri,akku,lepotila,valmiustila,AC,virtalähde,keskeytä,kirkkaus,suorituskyky,kansi
X-KDE-Keywords[fr]=système, alimentation, gestion énergétique, énergie, portable, batterie, suspension, AC, suspendre, hiberner, luminosité, performance, capot
X-KDE-Keywords[gl]=sistema,enerxía,xestión da enerxía, xestión enerxética,carga,portátil,batería, suspender,corrente,hibernar,durmir,brillo,rendemento,tapa
X-KDE-Keywords[hu]=rendszer,energia,energiakezelés,energia,laptop,akkumulátor,AC,felfüggesztés,hibernálás,fényerő,teljesítmény,fedél
X-KDE-Keywords[ia]=systema,potentia,gestion de potentia,energia,laptop,batteria,suspension,CA,suspende,hiberna,brillantia,prestation,coperculo
X-KDE-Keywords[it]=sistema,energia,gestione energia,energia,laptop,batteria,sospensione,AC,corrente,sospensione,ibernazione,luminosità,prestazioni
X-KDE-Keywords[kk]=system,power,power management,energy,laptop,battery,suspension,AC,suspend,hibernate,brightness,performance,lid
X-KDE-Keywords[km]=system,power,power management,energy,laptop,battery,suspension,AC,suspend,hibernate,brightness,performance,lid
X-KDE-Keywords[ko]=system,power,power management,energy,laptop,battery,suspension,AC,suspend,hibernate,brightness,performance,lid,시스템,전원,전원 관리,에너지,노트북,배터리,어댑터,절전,대기 모드,대기,최대 절전,최대 절전 모드,밝기,성능,덮개,상판
X-KDE-Keywords[mr]=प्रणाली, वीज, वीज व्यवस्थापन, ऊर्जा, लैपटॉप, बॅटरी, अकार्यक्षम, AC, अकार्यक्षम, हायबरनेट, प्रखरता, लिड
X-KDE-Keywords[nb]=system,strøm,strømstyring,energi,bærbar,batteri,hvilemodus,AC,hvile,dvale,lysstyrke,ytelse,lokk
X-KDE-Keywords[nl]=systeem,energie,energiebeheer,laptop,batterij,accu,suspension,AC,onderbreken,slapen,helderheid,prestaties,deksel
X-KDE-Keywords[pl]=system,moc,zarządzanie energią,energia,laptop,bateria,wstrzymanie,AC,wstrzymaj,hibernuj,jasność,wydajność,pokrywka
X-KDE-Keywords[pt]=sistema,energia,gestão de energia,portátil,bateria,suspensão,AC,suspender,hibernar,brilho,performance,tampo
X-KDE-Keywords[pt_BR]=sistema,energia,gerenciamento de energia,energia,notebook,laptop,portátil,bateria,suspensão,AC,suspender,hibernar,brilho,desempenho,tampa
X-KDE-Keywords[ru]=system,power,power management,energy,laptop,battery,suspension,AC,suspend,hibernate,brightness,performance,lid,системное,питание,управление питанием,энергопотребление,ноутбук,батарея,спящий режим,гибернация,ждущий режим,яркость,производительность,крышка
X-KDE-Keywords[sk]=systém,napájanie,správa napájanie,energia,laptop,batéria,uspanie,AC,uspať,hibernovať,jas,výkon,kryt
X-KDE-Keywords[sl]=sistem,energija,upravljanje z energijo,prenosnik,prenosni računalnik,baterija,akumulator,pripravljenost,mirovanje,električno omrežje,svetlost,zmogljivost,pokrov,napajanje
X-KDE-Keywords[sr]=system,power,power management,energy,laptop,battery,suspension,AC,suspend,hibernate,brightness,performance,lid,систем,напајање,струја,управљање напајањем,лаптоп,батерија,суспендовање,АЦ,хибернација,светлина,осветљај,перформансе,поклопац
X-KDE-Keywords[sr@ijekavian]=system,power,power management,energy,laptop,battery,suspension,AC,suspend,hibernate,brightness,performance,lid,систем,напајање,струја,управљање напајањем,лаптоп,батерија,суспендовање,АЦ,хибернација,светлина,осветљај,перформансе,поклопац
X-KDE-Keywords[sr@ijekavianlatin]=system,power,power management,energy,laptop,battery,suspension,AC,suspend,hibernate,brightness,performance,lid,sistem,napajanje,struja,upravljanje napajanjem,laptop,baterija,suspendovanje,AC,hibernacija,svetlina,osvetljaj,performanse,poklopac
X-KDE-Keywords[sr@latin]=system,power,power management,energy,laptop,battery,suspension,AC,suspend,hibernate,brightness,performance,lid,sistem,napajanje,struja,upravljanje napajanjem,laptop,baterija,suspendovanje,AC,hibernacija,svetlina,osvetljaj,performanse,poklopac
X-KDE-Keywords[sv]=system,kraft,krafthantering,energi,bärbar dator,batteri,viloläge,AC,gå till viloläge,dvala,ljusstyrka,prestanda,lock
X-KDE-Keywords[tr]=sistem,güç,güç yönetimi,enerji,dizüstü,pil,askıya alma,Adaptör,uyku kipi,hazırda bekletme,parlaklık,performans,başarım,dizüstü kapağı,ekran parlaklığı
X-KDE-Keywords[uk]=system,power,power management,energy,laptop,battery,suspension,AC,suspend,hibernate,brightness,performance,lid,система,живлення,мережа,струм,керування,енергія,ноутбук,акумулятор,батарея,батареї,присипляння,призупинення,призупинка,яскравість,швидкодія,кришка,кришки
X-KDE-Keywords[x-test]=xxsystem,power,power management,energy,laptop,battery,suspension,AC,suspend,hibernate,brightness,performance,lidxx
X-KDE-Keywords[zh_CN]=system,power,power management,energy,laptop,battery,suspension,AC,suspend,hibernate,brightness,performance,lid,系统,电源,电源管理,能源,笔记本,电池,休眠,睡眠,交流,亮度,性能
X-KDE-Keywords[zh_TW]=system,power,power management,energy,laptop,battery,suspension,AC,suspend,hibernate,brightness,performance,lid
