[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=PowerDevil/Action
# X-KDE-Library=powerdevilsuspendsessionaction
Icon=system-shutdown
Name=Suspend Session
Name[ast]=Suspender la sesión
Name[bg]=Прекратяване на сесията
Name[bs]=Suspenduj sesiju
Name[ca]=Suspèn la sessió
Name[ca@valencia]=Suspèn la sessió
Name[cs]=Pozastavit sezení
Name[da]=Suspendér session
Name[de]=Sitzung in den Ruhezustand versetzen
Name[el]=Αναστολή συνεδρίας
Name[en_GB]=Suspend Session
Name[es]=Suspender la sesión
Name[et]=Seansi peatamine
Name[eu]=Saioa eseki
Name[fi]=Keskeytä istunto
Name[fr]=Suspendre la session
Name[gl]=Suspender a sesión
Name[he]=השהיית ההפעלה
Name[hi]=सत्र स्थगिक
Name[hr]=Obustavljanje sesije
Name[hu]=Munkamenet felfüggesztése
Name[ia]=Suspende session
Name[is]=Setja skjáborðssetu í bið
Name[it]=Sospendi la sessione
Name[ja]=セッションをサスペンド
Name[kk]=Сеансын аялдату
Name[km]=ផ្អាក​សម័យ
Name[ko]=세션 일시 중지
Name[lt]=Užlaikyti sesiją
Name[lv]=Iemidzināt sesiju
Name[mr]=सत्र अकार्यक्षम करा
Name[nb]=Suspender økt
Name[nds]=Törn utsetten
Name[nl]=Sessie onderbreken
Name[pa]=ਸ਼ੈਸ਼ਨ ਸਸਪੈਂਡ
Name[pl]=Wstrzymaj sesję
Name[pt]=Suspender a Sessão
Name[pt_BR]=Suspender sessão
Name[ro]=Suspendă sesiunea
Name[ru]=Приостановить сеанс
Name[sk]=Pozastaviť sedenie
Name[sl]=Prestavi sejo v pripravljenost
Name[sr]=Суспендуј сесију
Name[sr@ijekavian]=Суспендуј сесију
Name[sr@ijekavianlatin]=Suspenduj sesiju
Name[sr@latin]=Suspenduj sesiju
Name[sv]=Stoppa tillfälligt session
Name[th]=หยุดวาระ
Name[tr]=Oturumu Askıya Al
Name[ug]=ئەڭگىمە توڭلىتىش
Name[uk]=Призупинити сеанс
Name[wa]=Mete doirmi l' session
Name[x-test]=xxSuspend Sessionxx
Name[zh_CN]=挂起会话
Name[zh_TW]=暫停工作階段
Comment=Suspends the session
Comment[ast]=Suspende la sesión
Comment[bg]=Прекратява сесията
Comment[bs]=Suspenduje sesiju
Comment[ca]=Suspèn la sessió
Comment[ca@valencia]=Suspèn la sessió
Comment[cs]=Pozastaví sezení
Comment[da]=Suspenderer sessionen
Comment[de]=Versetzt die Sitzung in den Ruhezustand
Comment[el]=Αναστέλλει την συνεδρία
Comment[en_GB]=Suspends the session
Comment[es]=Suspende la sesión
Comment[et]=Seansi peatamine
Comment[eu]=Saioa esekitzen du
Comment[fi]=Keskeyttää istunnon
Comment[fr]=Suspend la session
Comment[gl]=Suspende a sesión
Comment[he]=משמש להשהיית ההפעלה
Comment[hr]=Obustavljanje ove sesije
Comment[hu]=A munkamenet felfüggesztése
Comment[ia]=Il suspende le session
Comment[is]=Setur setuna í bið
Comment[it]=Sospende la sessione
Comment[ja]=セッションをサスペンドします
Comment[kk]=Сеансын тоқтата тұру
Comment[km]=ផ្អាក​សម័យ
Comment[ko]=세션을 일시 중단합니다
Comment[lt]=Užlaiko sesiją
Comment[lv]=Iemidzina sesiju
Comment[mr]=सत्र अकार्यक्षम करतो
Comment[nb]=Suspenderer økta
Comment[nds]=Sett den Törn ut
Comment[nl]=De sessie onderbreken
Comment[pa]=ਸ਼ੈਸ਼ਨ ਸਸਪੈਂਡ ਕਰੋ
Comment[pl]=Wstrzymuje sesję
Comment[pt]=Suspende a sessão
Comment[pt_BR]=Suspende a sessão
Comment[ro]=Suspendă sesiunea
Comment[ru]=Приостанавливает текущий сеанс KDE
Comment[sk]=Pozastaví sedenie
Comment[sl]=Prestavi sejo v pripravljenost
Comment[sr]=Суспендује сесију
Comment[sr@ijekavian]=Суспендује сесију
Comment[sr@ijekavianlatin]=Suspenduje sesiju
Comment[sr@latin]=Suspenduje sesiju
Comment[sv]=Stoppar sessionen tillfälligt
Comment[th]=หยุดวาระ
Comment[tr]=Oturumu askıya alır
Comment[ug]=ئەڭگىمەنى توڭلىتىدۇ
Comment[uk]=Призупиняє сеанс
Comment[wa]=Met doirmi l' session
Comment[x-test]=xxSuspends the sessionxx
Comment[zh_CN]=挂起会话
Comment[zh_TW]=暫停工作階段

X-KDE-PowerDevil-Action-ID=SuspendSession
X-KDE-PowerDevil-Action-IsBundled=true
X-KDE-PowerDevil-Action-UIComponentLibrary=powerdevilsuspendsessionaction_config
X-KDE-PowerDevil-Action-ConfigPriority=90
X-KDE-PowerDevil-Action-RegistersDBusInterface=true
