[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=KCModule
X-DocPath=kcontrol/proxy/index.html
Icon=preferences-system-network-proxy
Exec=kcmshell4 proxy

X-KDE-Library=kcm_kio
X-KDE-PluginKeyword=proxy
X-KDE-ParentApp=kcontrol

X-KDE-System-Settings-Parent-Category=network-settings
X-KDE-Weight=50

Name=Proxy
Name[af]=Volmag
Name[ar]=الوكيل
Name[as]=প্ৰশমক
Name[ast]=Proxy
Name[be]=Проксі
Name[be@latin]=Proxy
Name[bg]=Прокси сървър
Name[bn]=প্রক্সি
Name[bn_IN]=প্রক্সি
Name[br]=Proksi
Name[bs]=Proksi
Name[ca]=Intermediari
Name[ca@valencia]=Intermediari
Name[cs]=Proxy
Name[csb]=Pòstrzédnik (Proxy)
Name[cy]=Dirprwy
Name[da]=Proxy
Name[de]=Proxy
Name[el]=Διαμεσολαβητής
Name[en_GB]=Proxy
Name[eo]=Prokuriloj
Name[es]=Proxy
Name[et]=Puhverserver
Name[eu]=Proxy-a
Name[fa]=پیشکار
Name[fi]=Välityspalvelin
Name[fr]=Serveur mandataire (proxy)
Name[fy]=Proxy
Name[ga]=Seachfhreastalaí
Name[gl]=Proxy
Name[gu]=પ્રોક્સી
Name[he]=מתווך
Name[hi]=प्रॉक्सी
Name[hne]=प्राक्सी
Name[hr]=Proxy
Name[hsb]=Proxy
Name[hu]=Proxy
Name[ia]=Proxy
Name[id]=Proxy
Name[is]=Milliþjónn
Name[it]=Proxy
Name[ja]=プロキシ
Name[ka]=პროქსი
Name[kk]=Прокси
Name[km]=ប្រូកស៊ី
Name[kn]=ಪ್ರಾತಿನಿಧಿಕ (ಪ್ರಾಕ್ಸಿ)
Name[ko]=프록시
Name[ku]=Cihgir
Name[lt]=Įgaliotasis serveris
Name[lv]=Starpniekserveris
Name[mai]=प्राक्सी
Name[mk]=Прокси
Name[ml]=പ്രോക്സി
Name[mr]=प्रॉक्सी
Name[ms]=Proksi
Name[nb]=Mellomtjener
Name[nds]=Proxy
Name[ne]=प्रोक्सी
Name[nl]=Proxy
Name[nn]=Mellomtenar
Name[oc]=Proxy
Name[or]=ପ୍ରକ୍ସି
Name[pa]=ਪਰਾਕਸੀ
Name[pl]=Pośrednik (Proxy)
Name[pt]=Proxy
Name[pt_BR]=Proxy
Name[ro]=Proxy
Name[ru]=Прокси-сервер
Name[se]=Gaskabálvá
Name[si]=ප්‍රොක්සි
Name[sk]=Proxy
Name[sl]=Posredniški strežnik
Name[sr]=Прокси
Name[sr@ijekavian]=Прокси
Name[sr@ijekavianlatin]=Proksi
Name[sr@latin]=Proksi
Name[sv]=Proxyservrar
Name[ta]=போலி
Name[te]=ప్రాక్సి
Name[tg]=Proxy
Name[th]=พร็อกซี
Name[tr]=Vekil Sunucu
Name[ug]=ۋاكالەتچى
Name[uk]=Проксі
Name[uz]=Proksi
Name[uz@cyrillic]=Прокси
Name[vi]=Ủy nhiệm
Name[wa]=Procsi
Name[xh]=Umntu onegunya lokusebenzela omnye
Name[x-test]=xxProxyxx
Name[zh_CN]=代理
Name[zh_TW]=代理伺服器

Comment=Configure the proxy servers used
Comment[af]=Konfigureer die volmag bedieners gebruik word
Comment[ar]=اضبط خوادم الوكيل المستخدمة
Comment[as]=ব্যৱহাৰ কৰা প্ৰশমক সেৱক বিন্যাস কৰক
Comment[ast]=Configuración de los sirvidores proxy usaos
Comment[be]=Настаўленні сервераў проксі
Comment[be@latin]=Naładź dziejnyja proxy-servery
Comment[bg]=Настройки на прокси сървъра
Comment[bn]=ব্যবহৃত প্রক্সি সার্ভার কনফিগার করুন
Comment[bn_IN]=ব্যবহৃত প্রক্সি সার্ভার(গুলি) কনফিগার করুন
Comment[br]=Kefluniañ  ar servijeroù proksi implijet
Comment[bs]=Podešavanje proksi servera
Comment[ca]=Configura els servidors intermediaris emprats
Comment[ca@valencia]=Configura els servidors intermediaris emprats
Comment[cs]=Nastavení proxy serverů
Comment[csb]=Kònfigùracëjô pòstrzédniczącëch serwerów (proxy)
Comment[cy]=Ffurfweddu gweinyddion dirprwyol i'w defnyddio
Comment[da]=Indstil de proxyservere der bruges
Comment[de]=Proxy-Server einrichten
Comment[el]=Διαμορφώστε τους διαμεσολαβητές που χρησιμοποιούνται
Comment[en_GB]=Configure the proxy servers used
Comment[eo]=Agordi la prokurilon
Comment[es]=Configuración de los servidores proxy usados
Comment[et]=Kasutatavate puhverserverite seadistamine
Comment[eu]=Konfiguratu erabilitako proxy zerbitzariak
Comment[fa]=پیکربندی پیشکارهای استفاده‌شده
Comment[fi]=Välityspalvelimien asetukset
Comment[fr]=Configuration des serveurs mandataires (proxy) utilisés
Comment[fy]=Hjir kinne jo de Proxy-tsjinner ynstelle
Comment[ga]=Cumraigh na seachfhreastalaithe
Comment[gl]=Configurar os servidores proxy empregados
Comment[gu]=ઉપયોગ કરેલ પ્રોક્સી સર્વરો રૂપરેખાંકિત કરો
Comment[he]=הגדרת שרתי הפרוקסי שבשימוש
Comment[hi]=उपयोग में प्रॉक्सी सर्वर कॉन्फ़िगर करें
Comment[hne]=उपयोग मं प्राक्सी सर्वर कान्फिगर करव
Comment[hr]=Konfiguriranje proxy poslužitelja
Comment[hsb]=Nastajić, kotre proxyje so wužiwaja
Comment[hu]=A proxy kiszolgálók beállításai
Comment[ia]=Configura le servitores de proxy usate
Comment[id]=Atur server proxy yang digunakan
Comment[is]=Stilla milliþjóna sem á að nota
Comment[it]=Configura i server proxy da usare
Comment[ja]=プロキシサーバの設定
Comment[ka]=გამოყენებული პროქსების კონფიგურაცია
Comment[kk]=Қолданатын прокси серверлерді баптау
Comment[km]=កំណត់​រចនាសម្ព័ន្ធ​ម៉ាស៊ីន​បម្រើ​ប្រូកស៊ី​​ដែល​បាន​ប្រើ
Comment[kn]=ಬಳಸಲಾದ ಪ್ರಾತಿನಿಧಿಕ ಪರಿಚಾರಕಗಳನ್ನು (ಪ್ರಾಕ್ಸಿ ಸರ್ವರ್) ಸಂರಚಿಸು
Comment[ko]=사용할 프록시 서버 설정
Comment[ku]=Proksiyan ava bike
Comment[lt]=Konfigūruoti naudojamus įgaliotuosius serverius
Comment[lv]=Šeit jūs varat konfigurēt izmantojamos starpniekserverus
Comment[mai]=उपयोग मे प्राक्सी सर्वर केँ बिन्यस्त करू
Comment[mk]=Конфигурирајте ги прокси-серверите кои се користат
Comment[ml]=ഉപയോഗിച്ചിരിയ്ക്കുന്ന പ്രോക്സി സെര്‍വറുകള്‍ ക്രമീകരിയ്ക്കുക
Comment[mr]=वापरलेले प्रॉक्सी सर्व्हर्स संयोजीत करा
Comment[ms]=Konfigur pelayan proksi yang digunakan
Comment[nb]=Sett opp mellomtjenere
Comment[nds]=De bruukten Proxies instellen
Comment[ne]=प्रयोग गरिएको प्रोक्सी सर्भर कन्फिगर गर्नुहोस्
Comment[nl]=Hier kunt u de Proxy-servers instellen
Comment[nn]=Oppsett av mellomtenarar
Comment[or]=ବ୍ୟବହୃତ ପ୍ରକ୍ସି ସର୍ଭରକୁ ବିନ୍ୟାସ କରନ୍ତୁ
Comment[pa]=ਵਰਤੇ ਜਾਂਦੇ ਪਰਾਕਸੀ ਸਰਵਰਾਂ ਦੀ ਸੰਰਚਨਾ
Comment[pl]=Konfiguracja serwerów pośredniczących (proxy)
Comment[pt]=Configurar os servidores 'proxy' usados
Comment[pt_BR]=Configura os servidores proxy usados
Comment[ro]=Configurează serverele proxy utilizate
Comment[ru]=Настройка соединения через прокси-сервер
Comment[se]=Heivet gaskabálváid mat geavahuvvojit
Comment[si]=භාවිතවන ප්‍රොක්සි සේවා දැකසුම්
Comment[sk]=Nastavenie proxy serverov
Comment[sl]=Nastavitve posredniških strežnikov
Comment[sr]=Подешавање прокси сервера
Comment[sr@ijekavian]=Подешавање прокси сервера
Comment[sr@ijekavianlatin]=Podešavanje proksi servera
Comment[sr@latin]=Podešavanje proksi servera
Comment[sv]=Anpassa proxyservrar som används
Comment[ta]=பயன்படுத்தப்படும் போலி வழங்கிகளை வடிவமை
Comment[te]=ఉపయోగించిన ప్రోక్సీ సేవికలను ఆకృతీకరించుము
Comment[tg]=Танзимоти хидматҳои proxy истифодашуда
Comment[th]=ปรับแต่งเซิร์ฟเวอร์พร็อกซี
Comment[tr]=Kullanılan vekil sunucuları yapılandır
Comment[ug]=ئىشلەتكەن ۋاكالەتچى مۇلازىمېتىر سەپلىمىسى
Comment[uk]=Налаштування проксі-сервера
Comment[uz]=Proksi serverlarini moslash
Comment[uz@cyrillic]=Прокси серверларини мослаш
Comment[vi]=Cấu hình máy phục vụ ủy nhiệm được sử dụng
Comment[wa]=Apontyî les sierveus procsi eployîs
Comment[xh]=Qwalasela indlela abasebenziswa ngayo abancedisi be proxy
Comment[x-test]=xxConfigure the proxy servers usedxx
Comment[zh_CN]=配置所用的代理服务器
Comment[zh_TW]=設定使用的代理伺服器

X-KDE-Keywords=Proxy,Proxy server,Firewall,Squid
X-KDE-Keywords[bg]=Прокси,Прокси сървър,Защитна стена,Proxy,Proxy server,Firewall,Squid
X-KDE-Keywords[bs]=Proxy,Proxy server,Firewall,Squid
X-KDE-Keywords[ca]=Intermediari,Servidor intermediari,Tallafocs,Squid
X-KDE-Keywords[ca@valencia]=Intermediari,Servidor intermediari,Tallafocs,Squid
X-KDE-Keywords[da]=Proxy,Proxy-server,Firewall,Squid
X-KDE-Keywords[de]=Proxy,Proxy-Server,Firewall,Squid
X-KDE-Keywords[el]=Διαμεσολαβητής,εξυπηρετητής διαμεσολάβησης,τείχος προστασίας,squid
X-KDE-Keywords[es]=Proxy,Servidor proxy,Cortafuegos,Squid
X-KDE-Keywords[et]=Puhver,Puhverserver,Tulemüür,Squid
X-KDE-Keywords[fi]=Proxy,Välitys,Välityspalvelin,Firewall,Palomuuri,Squid
X-KDE-Keywords[fr]=Serveur mandataire, serveur (proxy), pare-feu, squid
X-KDE-Keywords[ga]=Seachfhreastalaí,Balla Dóiteáin,Squid
X-KDE-Keywords[gl]=Proxy,servidor proxy,devasa,Squid
X-KDE-Keywords[hu]=Proxy,Proxy kiszolgáló,Tűzfal,Squid
X-KDE-Keywords[ia]=Proxy,Servitor de Proxy,Talia Foco,Squid
X-KDE-Keywords[it]=Proxy,Server proxy server,Firewall,Squid
X-KDE-Keywords[kk]=Proxy,Proxy server,Firewall,Squid,Прокси
X-KDE-Keywords[km]=ប្រូកស៊ី ម៉ាស៊ីន​បម្រើ​ប្រូកស៊ី ជញ្ជាំង​ភ្លើង Squid
X-KDE-Keywords[ko]=Proxy,Proxy server,Firewall,Squid,proxy,프록시,프록시 서버,방화벽
X-KDE-Keywords[lt]=Įgaliotasis serveris,Įgaliotasis,Užkarda,Squid
X-KDE-Keywords[nb]=Mellomtjener,Brannmur,Squid
X-KDE-Keywords[nds]=Proxy,Proxy-Server,Nettdiek,Squid
X-KDE-Keywords[nl]=Proxy,proxy-server,firewall,squid
X-KDE-Keywords[pa]=ਪਰਾਕਸੀ,ਪਰਾਕਸੀ ਸਰਵਰ,ਫਾਇਰਵਾਲ,ਸੁਕਵਿਡ
X-KDE-Keywords[pl]=Pośrednik,Serwer pośrednika,Zapora sieciowa,Squid
X-KDE-Keywords[pt]=Proxy,servidor proxy,Firewall,Squid
X-KDE-Keywords[pt_BR]=Proxy,Servidor proxy,Firewall,Squid
X-KDE-Keywords[ro]=Proxy,server proxy,paravan de protecție,squid
X-KDE-Keywords[ru]=Proxy,Proxy server,Firewall,Squid,прокси,прокси-сервер,брандмауэр,защитный экран
X-KDE-Keywords[sk]=Proxy,Proxy server,Firewall,Squid
X-KDE-Keywords[sl]=Proxy,Posredniški strežnik,Požarni zid,Squid
X-KDE-Keywords[sr]=Proxy,Proxy server,Firewall,Squid,прокси,прокси сервер,Сквид,заштитни зид
X-KDE-Keywords[sr@ijekavian]=Proxy,Proxy server,Firewall,Squid,прокси,прокси сервер,Сквид,заштитни зид
X-KDE-Keywords[sr@ijekavianlatin]=Proxy,Proxy server,Firewall,Squid,proksi,proksi server,Squid,zaštitni zid
X-KDE-Keywords[sr@latin]=Proxy,Proxy server,Firewall,Squid,proksi,proksi server,Squid,zaštitni zid
X-KDE-Keywords[sv]=Proxy,Proxyserver,Brandvägg,Squid
X-KDE-Keywords[tr]=Vekil,Vekil sunucu,Firewall,Squid
X-KDE-Keywords[uk]=Proxy,Proxy server,Firewall,Squid,proxy,проксі,сервер,проксі-сервер,брандмауер,файрвол
X-KDE-Keywords[wa]=Procsi,sierveu Procsi,Côpe-feu,Squid
X-KDE-Keywords[x-test]=xxProxy,Proxy server,Firewall,Squidxx
X-KDE-Keywords[zh_CN]=Proxy,Proxy server,Firewall,Squid,代理,代理服务器,防火墙
X-KDE-Keywords[zh_TW]=Proxy,Proxy server,Firewall,Squid

