[Desktop Entry]
Exec=kcmshell4 randr
Icon=preferences-desktop-display-randr
Type=Service
X-KDE-ServiceTypes=KCModule
X-KDE-Library=kcm_randr
X-KDE-ParentApp=kcontrol
#This is always false when kbuildsycoca runs, probably because it is now a QCoreApplication
#Hidden[$e]=$(if xdpyinfo|grep RANDR > /dev/null; then echo "false"; else echo "true"; fi)

X-KDE-System-Settings-Parent-Category=display
X-KDE-Weight=50

Name=Size & Orientation
Name[af]=Grootte & Ooriëntasie
Name[ar]=الحجم والاتجاه
Name[ast]=Tamañu y orientación
Name[be]=Памеры і арыентацыя
Name[be@latin]=Pamiery j pavarot
Name[bg]=Големина и завъртане
Name[bn]=আকৃতি এবং দিশা
Name[bn_IN]=মাপ ও দিশা
Name[br]=Ment ha reteradur
Name[bs]=Veličina i orijentacija
Name[ca]=Mida i orientació
Name[ca@valencia]=Mida i orientació
Name[cs]=Velikost a orientace
Name[csb]=Miara ë pòłóżenié
Name[cy]=Maint & Cyfeiriad
Name[da]=Størrelse og orientering
Name[de]=Größe & Ausrichtung
Name[el]=Μέγεθος & Προσανατολισμός
Name[en_GB]=Size & Orientation
Name[eo]=Grandeco kaj orientiĝo
Name[es]=Tamaño y orientación
Name[et]=Suurus ja orientatsioon
Name[eu]=Tamaina eta orientazioa
Name[fa]=اندازه و جهت
Name[fi]=Koko ja suunta
Name[fr]=Taille et orientation
Name[fy]=Grutte en oriïntaasje
Name[ga]=Méid agus Treoshuíomh
Name[gl]=Tamaño e orientación
Name[gu]=માપ & દિશા
Name[he]=גודל וכיוון
Name[hi]=आकार व दिशा निर्धारण
Name[hne]=आकार अउ दिसा निर्धारन
Name[hr]=Veličina i orijentacija
Name[hsb]=Wulkosć & orientacija
Name[hu]=Képernyőfelbontás
Name[ia]=Dimension & Orientation
Name[id]=Ukuran & Orientasi
Name[is]=Stærð og snúningur
Name[it]=Dimensione e orientazione
Name[ja]=サイズと配置
Name[ka]=ზომა და ორიენტაცია
Name[kk]=Өлшем және бағыт
Name[km]=ទំហំ និង​ទិស
Name[kn]=ಗಾತ್ರ && ನಿಲುವು (ಓರಿಯೆಂಟೇಶನ್)
Name[ko]=해상도와 회전
Name[ku]=Mezinahî & Hêl
Name[lt]=Dydis ir orientacija
Name[lv]=Izmērs un orientācija
Name[mai]=आकार आ दिशा निर्धारण
Name[mk]=Големина и ориентација
Name[ml]=വലിപ്പവും ക്രമീകരണവും
Name[mr]=आकार व कल
Name[ms]=Saiz & Orientasi
Name[nb]=Størrelse og retning
Name[nds]=Grött & Utrichten
Name[ne]=साइज र अभिमुखीकरण
Name[nl]=Grootte en oriëntatie
Name[nn]=Storleik og retning
Name[or]=ଆକାର ଏବଂ ଅନୁସ୍ଥାପନ
Name[pa]=ਸਾਇਜ਼ ਅਤੇ ਸਥਿਤੀ
Name[pl]=Rozmiar i orientacja
Name[pt]=Tamanho e Orientação
Name[pt_BR]=Tamanho e orientação
Name[ro]=Dimensiune și orientare
Name[ru]=Размер и ориентация
Name[se]=Sturrodat ja joraheapmi
Name[si]=ප්‍රමාණය හා කේන්ද්‍රීයතාව
Name[sk]=Veľkosť a orientácia
Name[sl]=Velikost in usmerjenost
Name[sr]=Величина и оријентација
Name[sr@ijekavian]=Величина и оријентација
Name[sr@ijekavianlatin]=Veličina i orijentacija
Name[sr@latin]=Veličina i orijentacija
Name[sv]=Storlek och orientering
Name[ta]=அளவும் திசையும்
Name[te]=పరిమాణం & సర్దుబాటు
Name[tg]=Андоза ва ҷойгиршавӣ
Name[th]=ขนาดและแนวการวาง
Name[tr]=Konum ve Boyut
Name[ug]=چوڭلۇق ۋە يۆنىلىش
Name[uk]=Розмір та орієнтація
Name[uz]=Oʻlchami va joylashishi
Name[uz@cyrillic]=Ўлчами ва жойлашиши
Name[vi]=Cỡ và Hướng
Name[wa]=Grandeu eyet oryintåcion
Name[x-test]=xxSize & Orientationxx
Name[zh_CN]=大小和方向
Name[zh_TW]=尺寸及定位

Comment=Resize and Rotate your display
Comment[af]=Hervergroot en Roteer jou skerm
Comment[ar]=غيّر حجم الشاشة ودوّرها
Comment[ast]=Axustar el tamañu y voltiar la pantalla
Comment[be]=Змяняе памеры і перагортвае ваш экран
Comment[be@latin]=Źmianieńnie pamieraŭ i pavarot ekrana
Comment[bg]=Настройки на големината и завъртането на екрана
Comment[bn]=আপনার ডিসপ্লের আকৃতি এবং দিশা পরিবর্তন করুন
Comment[br]=Adventañ ha treiñ ho skramm
Comment[bs]=Promijenite veličinu i orijentaciju ekrana
Comment[ca]=Amida i gira la vostra pantalla
Comment[ca@valencia]=Amida i gira la vostra pantalla
Comment[cs]=Změna velikosti a rotace obrazovky
Comment[csb]=Zmiana miarë ë pòłożenia ekranu
Comment[cy]=Newid Maint a Cylchdroi eich dangosydd
Comment[da]=Ændrer størrelse og roterer din visning
Comment[de]=Die Größe und Ausrichtung der Anzeige ändern
Comment[el]=Αλλαγή μεγέθους και Περιστροφή της οθόνης σας
Comment[en_GB]=Resize and Rotate your display
Comment[eo]=Regrandigi kaj turni vian ekranon
Comment[es]=Ajustar el tamaño y rotar la pantalla
Comment[et]=Oma kuva suuruse muutmine ja pööramine
Comment[eu]=Aldatu tamaina eta biratu zure pantaila
Comment[fa]=تغییر اندازه و چرخش صفحه نمایش شما
Comment[fi]=Näytön tarkkuuden ja suunnan asetukset
Comment[fr]=Redimensionner et faire pivoter votre écran
Comment[fy]=Wizigje it skermgrutte en rotearje dizze
Comment[ga]=Athraigh méid do scáileáin agus rothlaigh é
Comment[gl]=Muda o tamaño e xira a pantalla
Comment[gu]=તમારા ડિસ્પ્લેનું માપ બદલો અને ફેરવો
Comment[he]=שינוי גודל התצוגה וסיבובה
Comment[hi]=अपने कंप्यूटर के डिस्प्ले का आकार बदलें तथा घुमाएँ 
Comment[hne]=अपन कंप्यूटर के डिस्प्ले के आकार बदलव अउ घुमाव 
Comment[hr]=Promijena veličine i orijentacije zaslona
Comment[hsb]=Připrawće a wjerćće swoju wobrazowku 
Comment[hu]=A képernyő átméretezése, elforgatása
Comment[ia]=Redimensiona & Rota tu monstrator
Comment[id]=Ubah Ukuran dan Rotasi tampilan anda
Comment[is]=Breyta stærð skjásins og snúa honum
Comment[it]=Ridimensiona e ruota lo schermo
Comment[ja]=ディスプレイのリサイズと回転
Comment[ka]=ეკრანის ზომის და ორიენტაციის შეცვლა
Comment[kk]=Дисплейдің өлшемін және бағытын өзгерту
Comment[km]=ផ្លាស់ប្ដូរ​​ទំហំ និង​​បង្វិល​ការ​បង្ហាញ​របស់​អ្នក
Comment[kn]=ತೆರೆಯ ಗಾತ್ರಬದಲಿಸು ಮತ್ತು ತಿರುಗಿಸು
Comment[ko]=디스플레이의 크기와 방향 조정
Comment[ku]=Mezinahî û Hêla monitora xwe biguherîne
Comment[lt]=Keisti ekrano dydį ir orientaciją
Comment[lv]=Maina izmēru un rotē jūsu ekrānu
Comment[mai]=अपन कंप्यूटर केर डिस्प्ले क' आकार बदलू आओर घुमाबू
Comment[mk]=Сменете ја големината и ротацијата на вашиот екран
Comment[ml]=നിങ്ങളുടെ പ്രദര്‍ശനത്തിന്റെ വലിപ്പം മാറ്റി തിരിയ്ക്കുന്നു
Comment[mr]=डिस्प्लेचा आकार बदला व फिरवा
Comment[ms]=Saiz Semula dan Putar paparan anda
Comment[nb]=Endre størrelsen på og rotere skjermbildet
Comment[nds]=Grött un Utrichten vun den Schirm ännern
Comment[ne]=तपाईँको प्रदर्शन रिसाइज गर्नुहोस् र घुमाउनुहोस्
Comment[nl]=Wijzig de schermgrootte en roteer deze
Comment[nn]=Endra storleiken på og roter skjermbiletet
Comment[or]=ଆକାର ବଦଳ ଏବଂ ଆପଣଙ୍କର ପ୍ରଦର୍ଶନକୁ ଘୁରାନ୍ତୁ
Comment[pa]=ਆਪਣੇ ਡਿਸਪਲੇਅ ਨੂੰ ਮੁੜ-ਸਾਇਜ਼ ਕਰੋ ਅਤੇ ਘੁੰਮਾਓ
Comment[pl]=Zmiana rozmiaru i orientacji ekranu
Comment[pt]=Dimensione e rode o seu ecrã
Comment[pt_BR]=Redimensiona e rotaciona a sua tela
Comment[ro]=Redimensionează și rotește ecranul dumneavoastră
Comment[ru]=Изменение размера и ориентации экрана
Comment[se]=Rievdat šearpma sturrodaga ja joraheami
Comment[si]=ඔබේ දර්ශකය ප්‍රතිප්‍රමාණ කර භ්‍රමණය කරන්න
Comment[sk]=Zmena veľkosti a otočenie obrazovky
Comment[sl]=Spremenite velikost in zavrtite zaslon
Comment[sr]=Промените величину и оријентацију екрана
Comment[sr@ijekavian]=Промијените величину и оријентацију екрана
Comment[sr@ijekavianlatin]=Promijenite veličinu i orijentaciju ekrana
Comment[sr@latin]=Promenite veličinu i orijentaciju ekrana
Comment[sv]=Storleksändring och rotation av skärmen
Comment[ta]=தங்கள் காட்சியை அளவு மாற்று மற்றும் சுழற்று
Comment[te]=మీ ప్రదర్శనను పునఃపరిమాణం మరియు భ్రమణం చేయుము
Comment[tg]=Изменение размера и ориентации экрана
Comment[th]=ปรับขนาดและหมุนหน้าจอแสดงผลของคุณ
Comment[tr]=Ekranı boyutlandır ve çevir
Comment[ug]=ئېكرانىڭىزنىڭ چوڭلۇقىنى ئۆزگەرتىڭ ۋە چۆرگىلىتىڭ
Comment[uk]=Зміна розмірів та обертання зображення на дисплеї
Comment[uz]=Ekraning oʻlchamini oʻzgartirish va burish
Comment[uz@cyrillic]=Экранинг ўлчамини ўзгартириш ва буриш
Comment[vi]=Đổi cỡ và Quay màn hình của bạn
Comment[wa]=Candjî l' grandeu eyet tourner li håynaedje
Comment[x-test]=xxResize and Rotate your displayxx
Comment[zh_CN]=更改显示的大小和方向
Comment[zh_TW]=調整大小及旋轉你的螢幕

X-KDE-Keywords=screen,resolution,resize,rotate,orientation,display,color depth,size,horizontal,vertical,refresh rate
X-KDE-Keywords[bs]=ekran,rezolucija,promijeniti veličinu,rotacija,orjentacija,prikaz,dubina boje,veličina,horizontalno,vertikalno,osvježiti poredak
X-KDE-Keywords[ca]=pantalla,resolució,redimensió,gir,orientació,mostra,profunditat de color,mida,horitzontal,vertical,velocitat de refresc
X-KDE-Keywords[ca@valencia]=pantalla,resolució,redimensió,gir,orientació,mostra,profunditat de color,mida,horitzontal,vertical,velocitat de refresc
X-KDE-Keywords[da]=skærm,opløsning,ændr størrelse,orientering,farvedybde,monitor,størrelse,horisontal,vertical,genopfriskningsrate
X-KDE-Keywords[de]=Bildschirm,Auflösung,Größe ändern,rotieren,Orientierung,Ausrichtung,Anzeige,Farbtiefe,Größe,horizontal,vertikal,waagerecht,senkrecht,Aktualisierungsrate
X-KDE-Keywords[el]=οθόνη,ανάλυση,αλλαγή μεγέθους,περιστροφή,προσανατολισμός,εμφάνιση,χρωματικό βάθος,μέγεθος,οριζόντια,κατακόρυφα,ρυθμός ανανέωσης
X-KDE-Keywords[es]=pantalla,resolución,cambio de tamaño,rotación,orientación,pantalla,profundidad de color,tamaño,horizontal,vertical,tasa de refresco
X-KDE-Keywords[et]=ekraan,ekraanilahutus,lahutusvõime,eraldusvõime,pööramine,orientatsioon,kuva,monitor,värv,sügavus,suurus,suuruse muutmine,horisontaalne,vertikaalne,uuendamissagedus
X-KDE-Keywords[fi]=näyttö,resoluutio,tarkkuus,koon muuttaminen,kääntö,suunta,näyttö,värisyvyys,koko,vaakasuunnassa,vaakasuunta,pystysuunnassa,pystysuunta,virkistystaajuus
X-KDE-Keywords[fr]=écran, résolution, redimensionner, rotation, orientation, affichage, profondeur de couleur, taille, horizontal, vertical, fréquence de rafraîchissement
X-KDE-Keywords[ga]=scáileán,taifeach,athraigh méid,rothlaigh,treoshuíomh,scáileán,taispeáint,doimhneacht datha,méid,cothrománach,ingearach,ráta athnuachana
X-KDE-Keywords[gl]=pantalla,resolución, mudar o tamaño, redimensionar, xirar, rotar, orientación, monitor, profundidade da cor, tamaño, horizontal, vertical, taxa de refresco
X-KDE-Keywords[hu]=képernyő,felbontás,átméretezés,forgatás,irány,kijelző,színmélység,méret,vízszintes,függőleges,frissítési frekvencia
X-KDE-Keywords[ia]=schermo,resolution,redimensiona,rota,orientation,monstrator,profunditate de color,dimension,horizontal,vertical,frequentia de refrescar
X-KDE-Keywords[it]=schermo,risoluzione,ridimensiona,ruota,orientazione,schermo,profondità di colore,dimensione,orizzontale,verticale,frequenza di aggiornamento
X-KDE-Keywords[kk]=screen,resolution,resize,rotate,orientation,display,color depth,size,horizontal,vertical,refresh rate
X-KDE-Keywords[km]=screen,resolution,resize,rotate,orientation,display,color depth,size,horizontal,vertical,refresh rate
X-KDE-Keywords[ko]=screen,resolution,resize,rotate,orientation,display,color depth,size,horizontal,vertical,refresh rate,화면,해상도,조정,회전,방향,디스플레이,색 농도,크기,수평,수직,주사율
X-KDE-Keywords[mr]=स्क्रीन, रेजोल्युशन, रिसाईझ, रोटेट,ओऱीएन्टेशन, डिसप्ले, कलर डेप्थ, साईझ, हॉरीझॉन्टल, व्हर्टीकल, रिफ्रेश रेट
X-KDE-Keywords[nb]=skjerm,oppløsning,endre størrelse,roter,orientering,vis,fargedybde,størrelse,vannrett,loddrett,oppfriskningsrate
X-KDE-Keywords[nds]=Schirm,Schirmoplösen,Schirmgrött,Schirmutrichten,Dorstellen,Klörendeepde,Grött,kimmrecht,pielrecht,Bildwedderhalen
X-KDE-Keywords[nl]=scherm,resolutie,afmeting wijzigen,roondraaien,oriëntatie,scherm,kleurdiepte,grootte,horizontaal,verticaal,verversingssnelheid
X-KDE-Keywords[pl]=ekran,rozdzielczość,zmiana rozmiaru,obrót,orientacja,wyświetlacz,głębia koloru, rozmiar,poziomo,pionowo,częstotliwość odświeżania
X-KDE-Keywords[pt]=ecrã,resolução,dimensionamento,rodar,orientação,ecrã,profundidade de cor,tamanho,horizontal,vertical,taxa de actualização
X-KDE-Keywords[pt_BR]=tela,resolução,redimensionamento,girar,orientação,monitor,profundidade de cores,tamanho,horizontal,vertical,taxa de atualização
X-KDE-Keywords[ru]=screen,resolution,resize,rotate,orientation,display,color depth,size,horizontal,vertical,refresh rate,экран,разрешение,изменение размера,поворот,ориентация,дисплей,глубина цвета,размер,горизонтально,вертикально,частота обновления
X-KDE-Keywords[sk]=obrazovka,rozlíšenie,zmena veľkosti,rotácie,orientácie,displej,farebná hĺbka,veľkosť,vodorovne,zvislo,obnovovacia frekvencia
X-KDE-Keywords[sl]=zaslon,monitor,ločljivost,velikost,spremeni velikost,zavrti,obrni,usmerjenost,prikazovalnik,barvna globina,vodoravno,navpično,osveževanje,
X-KDE-Keywords[sr]=screen,resolution,resize,rotate,orientation,display,color depth,size,horizontal,vertical,refresh rate,екран,резолуција,промени величину,ротирај,оријентација,приказ,дубина боја,број боја,величина,водоравно,усправно,учестаност освежавања
X-KDE-Keywords[sr@ijekavian]=screen,resolution,resize,rotate,orientation,display,color depth,size,horizontal,vertical,refresh rate,екран,резолуција,промени величину,ротирај,оријентација,приказ,дубина боја,број боја,величина,водоравно,усправно,учестаност освежавања
X-KDE-Keywords[sr@ijekavianlatin]=screen,resolution,resize,rotate,orientation,display,color depth,size,horizontal,vertical,refresh rate,ekran,rezolucija,promeni veličinu,rotiraj,orijentacija,prikaz,dubina boja,broj boja,veličina,vodoravno,uspravno,učestanost osvežavanja
X-KDE-Keywords[sr@latin]=screen,resolution,resize,rotate,orientation,display,color depth,size,horizontal,vertical,refresh rate,ekran,rezolucija,promeni veličinu,rotiraj,orijentacija,prikaz,dubina boja,broj boja,veličina,vodoravno,uspravno,učestanost osvežavanja
X-KDE-Keywords[sv]=skärm,upplösning,ändra storlek,rotera,orientering,bildskärm,färgdjup,storlek,horisontell,vertikal,uppdateringsfrekvens
X-KDE-Keywords[tr]=ekran,çözünürlük,yeniden boyutlandır,döndür,yön,yönelim,ekran,renk derinliği,boyut,yatay,dikey,tazeleme oranı
X-KDE-Keywords[uk]=screen,resolution,resize,rotate,orientation,display,color depth,size,horizontal,vertical,refresh rate,екран,роздільна здатність,роздільність,розмір,розміри екрана,обертання,орієнтація,показ,дисплей,глибина кольорів,горизонтальний,вертикальний,частота
X-KDE-Keywords[x-test]=xxscreen,resolution,resize,rotate,orientation,display,color depth,size,horizontal,vertical,refresh ratexx
X-KDE-Keywords[zh_CN]=screen,resolution,resize,rotate,orientation,display,color depth,size,horizontal,vertical,refresh rate,屏幕,分辨率,缩放,旋转,方向,显示,色深,大小,水平,垂直,刷新率
X-KDE-Keywords[zh_TW]=screen,resolution,resize,rotate,orientation,display,color depth,size,horizontal,vertical,refresh rate
