[Desktop Entry]
Type=Service
Name=Audio Preview
Name[af]=Klankvoorskou
Name[ar]=معاينة صوت
Name[ast]=Prueba d'audio
Name[be]=Прагляд аўдыё
Name[be@latin]=Počut dla hukavoha fajła
Name[bg]=Преглед на звукови файлове
Name[bn]=অডিও প্রাকদর্শন
Name[bs]=Audio pregled
Name[ca]=Vista prèvia de l'àudio
Name[ca@valencia]=Vista prèvia de l'àudio
Name[cs]=Ukázka zvuku
Name[csb]=Pòdzérk zwãkù
Name[da]=Forhåndsvisning af lyd
Name[de]=Audiovorschau
Name[el]=Προεπισκόπηση ήχου
Name[en_GB]=Audio Preview
Name[eo]=Antaŭaŭskulto
Name[es]=Prueba de audio
Name[et]=Heli eelvaatlus
Name[eu]=Audio aurrebista
Name[fa]=پیش‌نمایش صوتی
Name[fi]=Äänen esikuuntelu
Name[fr]=Aperçu de fichier audio
Name[fy]=Audio Foarbyld
Name[ga]=Réamhamharc Fuaime
Name[gl]=Vista previa do son
Name[gu]=ધ્વનિ પૂર્વદર્શન
Name[he]=השמעה מקדימה
Name[hi]=आडियो पूर्वावलोकन
Name[hne]=आडियो प्रीव्यू
Name[hr]=Preslušavanje
Name[hsb]=Přehladka za zwuki
Name[hu]=Hangminta
Name[ia]=Vista preliminar Audio
Name[id]=Pratilik Audio
Name[is]=Hljóðforsýn
Name[it]=Anteprima audio
Name[ja]=オーディオプレビュー
Name[kk]=Дыбысты алдын-ала қарау
Name[km]=មើល​អូឌីយ៉ូ​ជាមុន
Name[kn]=ಶ್ರವ್ಯಾಂಶ (ಧ್ವನಿ) ಮುನ್ನೋಟ
Name[ko]=오디오 미리 듣기
Name[ku]=Pêşdîtina Deng
Name[lt]=Audio perklausa
Name[lv]=Audio priekšapskate
Name[mai]=ऑडियो पूर्वावलोकन
Name[mk]=Аудиопреглед
Name[ml]=ശബ്ദം കേട്ടു് നോക്കുക
Name[mr]=आवाज पूर्वावलोकन
Name[nb]=Lydprøve
Name[nds]=Vörweghören
Name[ne]=अडियो पूर्वावलोकन
Name[nl]=Geluidsvoorbeeld
Name[nn]=Førehandsvising av lyd
Name[or]=ଧ୍ୱନି ପ୍ରାକଦର୍ଶନ
Name[pa]=ਆਡੀਓ ਝਲਕ
Name[pl]=Podgląd audio
Name[pt]=Antevisão do Áudio
Name[pt_BR]=Previsão de áudio
Name[ro]=Previzualizare audio
Name[ru]=Прослушивание звукового файла
Name[se]=Jietna-ovdačájeheapmi
Name[si]=ස්වයංක්‍රීය පුර්‍වදසුන
Name[sk]=Náhľad zvuku
Name[sl]=Predogled zvoka
Name[sr]=Аудио преглед
Name[sr@ijekavian]=Аудио преглед
Name[sr@ijekavianlatin]=Audio pregled
Name[sr@latin]=Audio pregled
Name[sv]=Förhandsgranska ljud
Name[ta]=பதிவொலி மாதிரி
Name[te]=ఆడియో ఉపదర్శనం
Name[tg]=Шунидани пешакии аудио
Name[th]=ตัวอย่างเสียง
Name[tr]=Ses Ön İzlemesi
Name[ug]=ئۈننى ئالدىن كۆرۈش
Name[uk]=Перегляд аудіо
Name[vi]=Nghe trước âm thanh
Name[wa]=Prévoeyaedje di son
Name[x-test]=xxAudio Previewxx
Name[zh_CN]=音频预览
Name[zh_TW]=音效預覽
X-KDE-Library=librenaudioplugin
X-KDE-ServiceTypes=RenameDialog/Plugin,audio/mpeg,audio/x-wav,application/ogg
