[Desktop Entry]
Type=Service
Name=Image Displayer
Name[af]=Beeldwyser
Name[ar]=عارض صور
Name[ast]=Visor d'imáxenes
Name[be]=Праглядчык відарысаў
Name[be@latin]=Padhlad vyjavaŭ
Name[bg]=Показване на изображения
Name[bn]=চিত্র প্রদর্শক
Name[bn_IN]=ছবি প্রদর্শনব্যবস্থা
Name[bs]=Prikazivač slika
Name[ca]=Visor d'imatges
Name[ca@valencia]=Visor d'imatges
Name[cs]=Prohlížeč obrázků
Name[csb]=Przezérnik òbrôzków
Name[da]=Billedfremviser
Name[de]=Bildbetrachter
Name[el]=Προβολή εικόνων
Name[en_GB]=Image Displayer
Name[eo]=Bildomontrilo
Name[es]=Visor de imágenes
Name[et]=Pildinäitaja
Name[eu]=Irudi ikustailua
Name[fa]=نمایشگر تصویر
Name[fi]=Kuvannäytin
Name[fr]=Afficheur d'image
Name[fy]=Ofbylding werjouwer
Name[ga]=Amharcán Íomhánna
Name[gl]=Visor de imaxes
Name[gu]=ચિત્ર દર્શક
Name[he]=מציג תמונות
Name[hi]=छवि प्रदर्शक
Name[hne]=फोटो दिखइया
Name[hr]=Preglednik slika
Name[hsb]=Přehladowar worazow
Name[hu]=Képnézegető
Name[ia]=Monstrator de imagine
Name[id]=Penampil Gambar
Name[is]=Myndbirtir
Name[it]=Visore di immagini
Name[ja]=イメージ表示ツール
Name[kk]=Кескінді қарау құралы
Name[km]=កម្មវិធី​បង្ហាញ​រូបភាព
Name[kn]=ಬಿಂಬ (ಇಮೇಜ್) ಪ್ರದರ್ಶಕ
Name[ko]=그림 뷰어
Name[ku]=Pêşandana Wêneyî
Name[lt]=Paveikslėlių rodymo priemonė
Name[lv]=Attēlu skatītājs
Name[mai]=छवि देखैनिहार
Name[mk]=Прикажувач на слики
Name[ml]=ചിത്രം പ്രദര്‍ശിപ്പിക്കുന്നതിനുള്ള സംവിധാനം
Name[mr]=प्रतिमा प्रदर्शक
Name[nb]=Bildeviser
Name[nds]=Bildwieser
Name[ne]=छवि प्रदर्शक
Name[nl]=Afbeeldingweergave
Name[nn]=Biletvisar
Name[or]=ପ୍ରତିଛବି ପ୍ରଦର୍ଶକ
Name[pa]=ਚਿੱਤਰ ਦਰਸ਼ਕ
Name[pl]=Przeglądarka obrazków
Name[pt]=Visualizador de Imagens
Name[pt_BR]=Visualizador de imagens
Name[ro]=Afișor de imagini
Name[ru]=Просмотр изображения
Name[se]=Govvačájeheaddji
Name[si]=පිංතූර දර්ශකය
Name[sk]=Prehliadač obrázkov
Name[sl]=Prikazovalnik slik
Name[sr]=Приказивач слика
Name[sr@ijekavian]=Приказивач слика
Name[sr@ijekavianlatin]=Prikazivač slika
Name[sr@latin]=Prikazivač slika
Name[sv]=Bildvisare
Name[ta]=பிம்ப காட்டி
Name[te]=చిత్ర ప్రదర్శని
Name[tg]=Намоишгари тасвирҳо
Name[th]=ตัวแสดงภาพ
Name[tr]=Resim Gösterici
Name[ug]=سۈرەت كۆرسەتكۈچ
Name[uk]=Перегляд зображень
Name[vi]=Trình hiển thị ảnh
Name[wa]=Håyneu d' imådje
Name[x-test]=xxImage Displayerxx
Name[zh_CN]=图片显示器
Name[zh_TW]=影像顯示
X-KDE-Library=librenimageplugin
X-KDE-ServiceTypes=RenameDialog/Plugin,image/jpeg,image/png
