[Desktop Entry]
Exec=kcmshell4 screensaver
Icon=preferences-desktop-screensaver
Type=Service
X-KDE-ServiceTypes=KCModule
X-DocPath=kcontrol/screensaver/index.html

X-KDE-Library=kcm_screensaver
X-KDE-ParentApp=kcontrol

X-KDE-System-Settings-Parent-Category=display
X-KDE-Weight=70

Name=Screen Locker
Name[bs]=Zaključavanje ekrana
Name[ca]=Bloqueig de pantalla
Name[ca@valencia]=Bloqueig de pantalla
Name[cs]=Zámek obrazovky
Name[da]=Skærmlås
Name[de]=Bildschirmsperre
Name[el]=Κλείδωμα οθόνης
Name[es]=Bloqueador de pantalla
Name[et]=Ekraani lukustaja
Name[fi]=Näyttölukko
Name[fr]=Verrouillage d'écran
Name[gl]=Bloqueador da pantalla
Name[he]=נועל מסך
Name[hu]=Képernyőzároló
Name[ia]=Blocator de schermo
Name[is]=Skjálæsing
Name[it]=Bloccaschermo
Name[kk]=Экран бұғаттағышы
Name[ko]=화면 잠금
Name[lt]=Ekrano užraktas
Name[mr]=स्क्रीन कुलूपबंद करणारा
Name[nb]=Skjermlåser
Name[nl]=Schermvergrendelaar
Name[pa]=ਸਕਰੀਨ ਲਾਕਰ
Name[pl]=Blokowanie ekranu
Name[pt]=Bloqueio do Ecrã
Name[pt_BR]=Bloqueador de sessão
Name[ro]=Blocarea ecranului
Name[ru]=Блокировщик экрана
Name[sk]=Zamykač obrazovky
Name[sl]=Zaklep zaslona
Name[sr]=Закључавач екрана
Name[sr@ijekavian]=Закључавач екрана
Name[sr@ijekavianlatin]=Zaključavač ekrana
Name[sr@latin]=Zaključavač ekrana
Name[sv]=Skärmlåsning
Name[tr]=Ekran Kilitleyici
Name[uk]=Блокування екрана
Name[x-test]=xxScreen Lockerxx
Name[zh_CN]=屏幕锁
Name[zh_TW]=螢幕鎖定程式

Comment=Screen Locker Settings
Comment[bs]=Postavke zaključavanja ekrana
Comment[ca]=Arranjament del bloqueig de pantalla
Comment[ca@valencia]=Arranjament del bloqueig de pantalla
Comment[cs]=Nastavení zámku obrazovky
Comment[da]=Indstilling af skærmlås
Comment[de]=Einstellungen für Bildschirmsperre
Comment[el]=Ρυθμίσεις κλειδώματος οθόνης
Comment[es]=Preferencias del bloqueador de pantalla
Comment[et]=Ekraani lukustaja seadistused
Comment[fi]=Näyttölukon asetukset
Comment[fr]=Configuration du verrouillage de l'écran
Comment[gl]=Configuración do bloqueador da pantalla
Comment[he]=הגדרות נועל המסך
Comment[hu]=A képernyőzároló beállításai
Comment[ia]=Preferentias de Blocator de schermo
Comment[is]=Stillingar skjálæsingar
Comment[it]=Impostazioni del bloccaschermo
Comment[kk]=Экран бұғаттағышының параметрлері
Comment[ko]=화면 잠금 설정
Comment[lt]=Ekrano užrakto nustatymai
Comment[mr]=स्क्रीन कुलूपबंद संयोजना
Comment[nb]=Tilpasning av skjermlåser
Comment[nl]=Instellingen voor schermvergrendeling
Comment[pa]=ਸਕਰੀਨ ਲਾਕਰ ਸੈਟਿੰਗ
Comment[pl]=Ustawienia blokowania ekranu
Comment[pt]=Configuração do Bloqueio do Ecrã
Comment[pt_BR]=Configurações do bloqueador de sessão
Comment[ro]=Configurări pentru blocarea ecranului
Comment[ru]=Настройка блокировщика экрана
Comment[sk]=Nastavenie zamykača obrazovky
Comment[sl]=Nastavitve zaklepa zaslona
Comment[sr]=Поставке закључавача екрана
Comment[sr@ijekavian]=Поставке закључавача екрана
Comment[sr@ijekavianlatin]=Postavke zaključavača ekrana
Comment[sr@latin]=Postavke zaključavača ekrana
Comment[sv]=Inställningar av skärmlåsning
Comment[tr]=Ekran Kilitleyici Ayarları
Comment[uk]=Параметри блокування екрана
Comment[x-test]=xxScreen Locker Settingsxx
Comment[zh_CN]=屏幕锁定程序设置
Comment[zh_TW]=螢幕鎖定程式設定

X-KDE-Keywords=screensavers,Priority,locking,security
X-KDE-Keywords[bs]=čuvar ekrana,prioritet,zaključavanje,sigurnost
X-KDE-Keywords[ca]=estalvis de pantalla,Prioritat,bloqueig,seguretat
X-KDE-Keywords[ca@valencia]=estalvis de pantalla,Prioritat,bloqueig,seguretat
X-KDE-Keywords[cs]=spořiče obrazovky,priorita,zamykání,bezpečnost
X-KDE-Keywords[da]=screensaver,pauseskærme,prioritet,lås,sikkerhed
X-KDE-Keywords[de]=Bildschirmschoner,Priorität,Bildschirmsperre,Sicherheit
X-KDE-Keywords[el]=προφύλαξη οθόνης,Προτεραιότητα,κλείδωμα,ασφάλεια
X-KDE-Keywords[es]=salvapantallas,Prioridad,bloqueo,seguridad
X-KDE-Keywords[et]=ekraanisäästjad,prioriteet,lukustamine,turvalisus,turve
X-KDE-Keywords[fi]=näytönsäästäjät,prioriteetti,tärkeys,lukitus,turvallisuus
X-KDE-Keywords[fr]=écran de veille, priorité, verrouillage, sécurité
X-KDE-Keywords[ga]=spárálaithe scáileáin,Tosaíocht,glasáil,slándáil
X-KDE-Keywords[gl]=protector de pantalla, salvapantallas, prioridade, seguranza, seguridade
X-KDE-Keywords[he]=screensavers,Priority,locking,security,שומר מסך, עדיפות, אבטחה, נעילה, נעל
X-KDE-Keywords[hu]=képernyővédők,Prioritás,zárolás,biztonság
X-KDE-Keywords[ia]=Salvatores de schermo,Prioritate,blocante,securitate
X-KDE-Keywords[it]=salvaschermi,priorità,blocco,sicurezza
X-KDE-Keywords[kk]=screensavers,Priority,locking,security
X-KDE-Keywords[ko]=screensavers,Priority,locking,security,화면보호기,화면 보호기,잠금,보안
X-KDE-Keywords[lt]=užsklandos,prioritetas,užrakinimas,saugumas
X-KDE-Keywords[mr]=स्क्रीन सेवर्स, प्रायोरीटी, लॉकिंग, सिक़्युरिटी
X-KDE-Keywords[nb]=pauseskjermer,Prioritet,låsing,sikkerhet
X-KDE-Keywords[nl]=schermbeveiliging,prioriteit,vergrendeling,beveiliging
X-KDE-Keywords[pa]=ਸਕਰੀਨ-ਸੇਵਰ,ਤਰਜੀਹ,ਲਾਕ ਕਰਨਾ,ਸੁਰੱਖਿਆ
X-KDE-Keywords[pl]=wygaszacze ekranu,Priorytet,blokowanie,bezpieczeństwo
X-KDE-Keywords[pt]=protector de ecrã,prioridade,bloqueio,segurança
X-KDE-Keywords[pt_BR]=protetor de tela,Prioridade,bloqueio,segurança
X-KDE-Keywords[ru]=screensavers,Priority,locking,security,хранители экрана, приоритет,блокировка,безопасность
X-KDE-Keywords[sk]=šetriče obrazovky,Priorita,zamykanie,bezpečnosť
X-KDE-Keywords[sl]=ohranjevalniki zaslona,prednost,zaklepanje,varnost
X-KDE-Keywords[sr]=screensavers,Priority,locking,security,чувар екрана,приоритет,закључавање,безбедност
X-KDE-Keywords[sr@ijekavian]=screensavers,Priority,locking,security,чувар екрана,приоритет,закључавање,безбедност
X-KDE-Keywords[sr@ijekavianlatin]=screensavers,Priority,locking,security,čuvar ekrana,prioritet,zaključavanje,bezbednost
X-KDE-Keywords[sr@latin]=screensavers,Priority,locking,security,čuvar ekrana,prioritet,zaključavanje,bezbednost
X-KDE-Keywords[sv]=skärmsläckare,Prioritet,låsa,säkerhet
X-KDE-Keywords[tr]=ekran koruyucular,Öncelik,kilitleme,güvenlik
X-KDE-Keywords[uk]=screensavers,Priority,locking,security,зберігач,екран,блокування,захист,безпека
X-KDE-Keywords[x-test]=xxscreensavers,Priority,locking,securityxx
X-KDE-Keywords[zh_CN]=screensavers,Priority,locking,security,屏幕保护,优先级,锁定,安全
X-KDE-Keywords[zh_TW]=screensavers,Priority,locking,security

Categories=Qt;KDE;X-KDE-settings-looknfeel;
