[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=SystemSettingsCategory
X-KDE-System-Settings-Category=personal-information
X-KDE-System-Settings-Parent-Category=application-appearance-and-behavior
Icon=preferences-desktop-user

Name=Personal Information
Name[ar]=معلومات شخصية
Name[ast]=Información personal
Name[bg]=Лични данни
Name[bn]=ব্যক্তিগত তথ্য
Name[bs]=Lični podaci
Name[ca]=Informació personal
Name[ca@valencia]=Informació personal
Name[cs]=Osobní informace
Name[da]=Personlig information
Name[de]=Persönliche Informationen
Name[el]=Προσωπικές πληροφορίες
Name[en_GB]=Personal Information
Name[es]=Información personal
Name[et]=Isiklik teave
Name[eu]=Informazio pertsonala
Name[fa]=اطلاعات شخصی
Name[fi]=Henkilökohtaiset tiedot
Name[fr]=Informations personnelles
Name[ga]=Faisnéis Phearsanta
Name[gl]=Información persoal 
Name[gu]=વ્યક્તિગત જાણકારી
Name[he]=פרטים אישיים
Name[hi]=व्यक्तिगत जानकारी
Name[hr]=Osobne informacije
Name[hu]=Személyi adatok
Name[ia]=Information personal
Name[id]=Informasi Personal
Name[is]=Persónulegar upplýsingar
Name[it]=Informazioni personali
Name[ja]=個人情報
Name[kk]=Дербес мәлімет
Name[km]=ព័ត៌មាន​​ផ្ទាល់ខ្លួន
Name[kn]=ವೈಯಕ್ತಿಕ ಮಾಹಿತಿ
Name[ko]=개인 정보
Name[lt]=Asmeninė informacija
Name[lv]=Personīgā informācija
Name[mr]=वैयक्तिक माहिती
Name[nb]=Personlige opplysninger
Name[nds]=Persöönliche Informatschonen
Name[nl]=Persoonlijke informatie
Name[nn]=Personleg informasjon
Name[pa]=ਨਿੱਜੀ ਜਾਣਕਾਰੀ
Name[pl]=Informacje osobiste
Name[pt]=Informação Pessoal
Name[pt_BR]=Informações pessoais
Name[ro]=Informații personale
Name[ru]=Личные данные
Name[si]=පුද්ගලික විස්තර
Name[sk]=Osobné informácie
Name[sl]=Osebni podatki
Name[sr]=Лични подаци
Name[sr@ijekavian]=Лични подаци
Name[sr@ijekavianlatin]=Lični podaci
Name[sr@latin]=Lični podaci
Name[sv]=Personlig information
Name[tg]=Иттилооти шахсӣ
Name[th]=ข้อมูลส่วนบุคคล
Name[tr]=Kişisel Bilgi
Name[ug]=شەخسىي ئۇچۇرلار
Name[uk]=Особисті відомості
Name[vi]=Thông tin cá nhân
Name[wa]=Informåcion da sinne
Name[x-test]=xxPersonal Informationxx
Name[zh_CN]=个人信息
Name[zh_TW]=個人資訊

