[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=SystemSettingsCategory
X-KDE-System-Settings-Category=network-and-connectivity
X-KDE-System-Settings-Parent-Category=
Icon=preferences-system-network-connection

Name=Network and Connectivity
Name[ar]=الشبكة والاتصال
Name[ast]=Rede y conectividá
Name[bg]=Мрежова свързаност
Name[bn]=নেটওয়ার্ক এবং সংযোগ
Name[bs]=Mreža i povezivost
Name[ca]=Xarxa i connectivitat
Name[ca@valencia]=Xarxa i connectivitat
Name[cs]=Síť a připojení
Name[da]=Netværk og forbindelse
Name[de]=Netzwerk und Verbindungen
Name[el]=Δίκτυο και συνδεσιμότητα
Name[en_GB]=Network and Connectivity
Name[es]=Red y conectividad
Name[et]=Võrk ja ühendused
Name[eu]=Sarea eta konektibitatea
Name[fi]=Verkko ja yhteydet
Name[fr]=Réseau et connectivité
Name[ga]=Líonra agus Comhcheangailteacht
Name[gl]=Rede e conectividade
Name[gu]=નેટવર્ક અને જોડાણ
Name[he]=רשת וחיבוריות
Name[hi]=नेटवर्क व जुडाव
Name[hr]=Mreža i spojivost
Name[hu]=Hálózat és kapcsolat
Name[ia]=Rete e connectivitate
Name[id]=Jaringan dan Konektivitas
Name[is]=Net og tengingar
Name[it]=Rete e connettività
Name[ja]=ネットワークと接続
Name[kk]=Желі мен Байланыс
Name[km]=បណ្តាញ និង​ការតភ្ជាប់
Name[kn]=ಜಾಲಬಂಧ ಮತ್ತು ಸಂಪರ್ಕ
Name[ko]=네트워크와 연결
Name[lt]=Tinklas ir prisijungimai
Name[lv]=Tīkls un savienojumi
Name[mr]=संजाळ व जुळवणी
Name[nb]=Nettverk og tilkoblinger
Name[nds]=Nettwark un Verbinnen
Name[nl]=Netwerk en connectiviteit
Name[nn]=Nettverk og samband
Name[pa]=ਨੈੱਟਵਰਕ ਅਤੇ ਕੁਨੈਕਟਵਿਟੀ
Name[pl]=Sieć i łączność
Name[pt]=Rede e Conectividade
Name[pt_BR]=Rede e conectividade
Name[ro]=Rețea și conectivitate
Name[ru]=Сеть и связь
Name[si]=ජාල සහ සම්බන්ධතාවය
Name[sk]=Sieť a pripojenie
Name[sl]=Omrežje in povezljivost
Name[sr]=Мрежа и повезивост
Name[sr@ijekavian]=Мрежа и повезивост
Name[sr@ijekavianlatin]=Mreža i povezivost
Name[sr@latin]=Mreža i povezivost
Name[sv]=Nätverk och anslutningar
Name[tg]=Шабака ва пайвастшавӣ
Name[th]=เครือข่ายและการเชื่อมต่อ
Name[tr]=Ağ ve Bağlanabilirlik
Name[ug]=تور ۋە باغلىنىش
Name[uk]=Мережа і з'єднання
Name[vi]=Kết nối và mạng
Name[wa]=Rantoele eyet raloyaedje
Name[x-test]=xxNetwork and Connectivityxx
Name[zh_CN]=网络和连接
Name[zh_TW]=網路與連線
