[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=SystemSettingsCategory
X-KDE-System-Settings-Category=permissions
X-KDE-System-Settings-Parent-Category=system-administration
Icon=preferences-other

Name=Permissions
Name[ar]=الصلاحيات
Name[ast]=Permisos
Name[bg]=Права
Name[bn]=অনুমতি
Name[bs]=Dozvole
Name[ca]=Permisos
Name[ca@valencia]=Permisos
Name[cs]=Oprávnění
Name[da]=Rettigheder
Name[de]=Berechtigungen
Name[el]=Άδειες
Name[en_GB]=Permissions
Name[es]=Permisos
Name[et]=Õigused
Name[eu]=Baimenak
Name[fi]=Oikeudet
Name[fr]=Permissions
Name[ga]=Ceadanna
Name[gl]=Permisos
Name[gu]=પરવાનગીઓ
Name[he]=הרשאות
Name[hi]=अनुमतियाँ
Name[hr]=Dopuštenja
Name[hu]=Jogosultságok
Name[ia]=Permissiones
Name[id]=Hak Akses
Name[is]=Heimildir
Name[it]=Permessi
Name[ja]=許可
Name[kk]=Рұқсаттар
Name[km]=សិទ្ធិ
Name[kn]=ಅನುಮತಿಗಳು
Name[ko]=권한
Name[lt]=Leidimai
Name[lv]=Atļaujas
Name[mai]=अऩुमति
Name[mr]=परवानगी
Name[nb]=Rettigheter
Name[nds]=Verlöven
Name[nl]=Toegangsrechten
Name[nn]=Løyve
Name[pa]=ਅਧਿਕਾਰ
Name[pl]=Uprawnienia
Name[pt]=Permissões
Name[pt_BR]=Permissões
Name[ro]=Permisiuni
Name[ru]=Права доступа
Name[si]=අවසර
Name[sk]=Práva
Name[sl]=Dovoljenja
Name[sr]=Дозволе
Name[sr@ijekavian]=Дозволе
Name[sr@ijekavianlatin]=Dozvole
Name[sr@latin]=Dozvole
Name[sv]=Rättigheter
Name[tg]=Дастрасӣ
Name[th]=สิทธิ์ที่อนุญาต
Name[tr]=Yetkiler
Name[ug]=ھوقۇقلار
Name[uk]=Права доступу
Name[vi]=Quyền hạn
Name[wa]=Droets
Name[x-test]=xxPermissionsxx
Name[zh_CN]=权限
Name[zh_TW]=權限
