[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=SystemSettingsCategory
X-KDE-System-Settings-Category=network-settings
X-KDE-System-Settings-Parent-Category=network-and-connectivity
Icon=preferences-system-network

Name=Network Settings
Name[ar]=إعدادات الشبكة
Name[ast]=Preferencies de rede
Name[be]=Настаўленні сеткі
Name[be@latin]=Nałady sietki
Name[bg]=Мрежови настройки
Name[bn]=নেটওয়ার্ক সেটিংস
Name[bn_IN]=নেটওয়ার্ক সংক্রান্ত বৈশিষ্ট্য
Name[br]=Kefluniadur ar Rouedad
Name[bs]=Mrežne postavke
Name[ca]=Paràmetres de xarxa
Name[ca@valencia]=Paràmetres de xarxa
Name[cs]=Nastavení sítě
Name[csb]=Sécowi nastôw
Name[da]=Netværksindstillinger
Name[de]=Netzwerkeinstellungen
Name[el]=Ρυθμίσεις δικτύου
Name[en_GB]=Network Settings
Name[eo]=Reta agordo
Name[es]=Preferencias de red
Name[et]=Võrguseadistused
Name[eu]=Sare ezarpenak
Name[fa]=تنظیمات شبکه
Name[fi]=Verkkoasetukset
Name[fr]=Configuration de réseau
Name[fy]=Netwurk ynstellings
Name[ga]=Socruithe Líonra
Name[gl]=Configuración da rede
Name[gu]=નેટવર્ક ગોઠવણીઓ
Name[he]=הגדרות רשת
Name[hi]=नेटवर्क विन्यास 
Name[hne]=नेटवर्क सेटिंग 
Name[hr]=Postavke mreže
Name[hu]=Hálózati beállítások
Name[ia]=Preferentias de rete
Name[id]=Pengaturan Jaringan
Name[is]=Netstillingar
Name[it]=Impostazioni di rete
Name[ja]=ネットワークの設定
Name[ka]=ქსელის პარამეტრები
Name[kk]=Желі параметрлері
Name[km]=ការ​កំណត់​បណ្តាញ​
Name[kn]=ಜಾಲ ಸಂಯೋಜನೆಗಳು
Name[ko]=네트워크 설정
Name[ku]=Mîhengên Torê
Name[lt]=Tinklo nustatymai
Name[lv]=Tīkla iestatījumi
Name[mai]=नेटवर्क विन्यास 
Name[mk]=Поставувања за мрежа
Name[ml]=ശൃംഖലയുടെ സജ്ജീകരണങ്ങള്‍
Name[mr]=संजाळ संयोजना
Name[ms]=Tetapan Rangkaian
Name[nb]=Nettverksinnstillinger
Name[nds]=Nettwarkinstellen
Name[ne]=सञ्जाल सेटिङ
Name[nl]=Netwerkinstellingen
Name[nn]=Nettverk
Name[oc]=Paramètres ret
Name[or]=ନେଟୱର୍କ ବିନ୍ୟାସ
Name[pa]=ਨੈੱਟਵਰਕ ਸੈਟਿੰਗ
Name[pl]=Ustawienia sieci
Name[pt]=Configuração da Rede
Name[pt_BR]=Configurações de rede
Name[ro]=Configurări rețea
Name[ru]=Настройка сети
Name[se]=Fierpmádatheivehusat
Name[si]=ජාල සැකසුම්
Name[sk]=Nastavenie siete
Name[sl]=Nastavitve omrežja
Name[sr]=Мрежне поставке
Name[sr@ijekavian]=Мрежне поставке
Name[sr@ijekavianlatin]=Mrežne postavke
Name[sr@latin]=Mrežne postavke
Name[sv]=Nätverksinställningar
Name[ta]=Network Settings
Name[te]=నెట్వర్‍క్   అమర్పులు
Name[tg]=Танзимотҳои Интернетӣ
Name[th]=ตั้งค่าระบบเครือข่าย
Name[tr]=Ağ Ayarları
Name[ug]=تور تەڭشەكلىرى
Name[uk]=Мережні параметри
Name[uz]=Tarmoqning moslamalari
Name[uz@cyrillic]=Тармоқнинг мосламалари
Name[vi]=Thiết lập mạng
Name[wa]=Apontiaedjes rantoele
Name[x-test]=xxNetwork Settingsxx
Name[zh_CN]=网络设置
Name[zh_TW]=網路設定
