[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=SystemSettingsCategory
X-KDE-System-Settings-Category=workspace-appearance-and-behavior
X-KDE-System-Settings-Parent-Category=
X-KDE-Weight=80
Icon=preferences-desktop-theme

Name=Workspace Appearance and Behavior
Name[ar]=مظهر وسلوك مساحة العمل
Name[ast]=Apariencia y comportamientu del espaciu de trabayu
Name[bg]=Изглед и поведение на работната среда
Name[bn]=ওয়ার্কস্পেস-এর চেহারা এবং আচরণ
Name[bs]=Izgled i ponašanje radnog prostora
Name[ca]=Aparença i comportament de l'espai de treball
Name[ca@valencia]=Aparença i comportament de l'espai de treball
Name[cs]=Vzhled a chování oken
Name[da]=Arbejdsområdets udseende og opførsel
Name[de]=Erscheinungsbild und Verhalten der Arbeitsfläche
Name[el]=Εμφάνιση και συμπεριφορά χώρου εργασίας
Name[en_GB]=Workspace Appearance and Behaviour
Name[es]=Apariencia y comportamiento del espacio de trabajo
Name[et]=Töötsooni välimus ja käitumine
Name[eu]=Langunearen itxura eta portaera
Name[fi]=Työtilan ulkoasu ja toiminta
Name[fr]=Apparence et comportement de l'espace de travail
Name[gl]=Aparencia e comportamento do espazo de traballo
Name[he]=התנהגות ומראה סביבת העבודה
Name[hr]=Izgled i ponašanje radnog prostora
Name[hu]=A munkaterület megjelenése és működése
Name[ia]=Apparentia e comportamento del spatio de labor (Workspace)
Name[id]=Tampilan dan Perilaku Ruang Kerja
Name[is]=Útlit og hegðun vinnusvæðis
Name[it]=Aspetto e comportamento dello spazio di lavoro
Name[ja]=ワークスペースの外観と挙動
Name[kk]=Жұмыс орның көрініс пен тәртібі
Name[km]=រូបរាង និង​ឥរិយាបថ​របស់​តំបន់​ធ្វើការ
Name[kn]=ಕಾರ್ಯಕ್ಷೇತ್ರ ಗೋಚರಿಕೆ ಹಾಗು ವರ್ತನೆ
Name[ko]=작업 공간 모양과 행동
Name[lt]=Darbo erdvės išvaizda ir elgsena
Name[lv]=Darba telpas izskats un izturēšanās
Name[mr]=कार्यस्थान दर्शनीयता व वर्तन
Name[nb]=Utseende og oppførsel for arbeidsflaten
Name[nds]=Arbeitrebeet-Utsehn un -Bedregen
Name[nl]=Uiterlijk en gedrag van werkruimte
Name[nn]=Utsjånad og åtferd til arbeids­område
Name[pa]=ਵਰਕਸਪੇਸ ਦਿੱਖ ਤੇ ਰਵੱਈਆ
Name[pl]=Wygląd i zachowanie przestrzeni roboczej
Name[pt]=Aparência e Comportamento da Área de Trabalho
Name[pt_BR]=Comportamento e aparência do espaço de trabalho
Name[ro]=Aspect și comportament pentru spațiul de lucru
Name[ru]=Внешний вид и поведение среды рабочего стола
Name[si]=වැඩබිම් පෙනුම සහ හැසිරීම
Name[sk]=Vzhľad a správanie pracovnej plochy
Name[sl]=Videz in obnašanje delovnega prostora
Name[sr]=Изглед и понашање радног простора
Name[sr@ijekavian]=Изглед и понашање радног простора
Name[sr@ijekavianlatin]=Izgled i ponašanje radnog prostora
Name[sr@latin]=Izgled i ponašanje radnog prostora
Name[sv]=Arbetsytans utseende och beteende
Name[tg]=Рафтор ва намуди зоҳирии муҳити корӣ
Name[th]=รูปลักษณ์และพฤติกรรมของพื้นที่ทำงาน
Name[tr]=Çalışma Alanı Görünümü ve Davranışı
Name[ug]=خىزمەت بوشلۇقىنىڭ كۆرۈنۈشى ۋە ئىش-ھەرىكەتلىرى
Name[uk]=Вигляд і поведінка робочого простору
Name[vi]=Diện mạo và hành vi không gian làm việc
Name[wa]=Rivnance eyet dujhance di l' espåce di boutaedje
Name[x-test]=xxWorkspace Appearance and Behaviorxx
Name[zh_CN]=工作空间外观和行为
Name[zh_TW]=工作空間外觀與行為
