[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=SystemSettingsCategory
X-KDE-System-Settings-Category=startup-and-shutdown
X-KDE-System-Settings-Parent-Category=system-administration
Icon=preferences-other

Name=Startup and Shutdown
Name[ar]=بدء التشغيل والإطفاء
Name[ast]=Arranque y apagáu
Name[bg]=Зареждане и изключване
Name[bn]=স্টার্ট-আপ এবং শাটডাউন
Name[bs]=Podizanje i gašenje
Name[ca]=Engegada i aturada
Name[ca@valencia]=Engegada i parada
Name[cs]=Spuštění a ukončení
Name[da]=Opstart og nedlukning
Name[de]=Starten und Beenden
Name[el]=Εκκίνηση και τερματισμός
Name[en_GB]=Startup and Shutdown
Name[es]=Arranque y apagado
Name[et]=Käivitamine ja seiskamine
Name[eu]=Abiatu eta itzaldu
Name[fi]=Käynnistys ja sammutus
Name[fr]=Démarrage et arrêt
Name[ga]=Tosú agus Múchadh
Name[gl]=Inicio e saída
Name[he]=הפעלה וכיבוי
Name[hi]=स्टारटप व शटडाउन
Name[hr]=Pokretanje i isključivanje
Name[hu]=Indítás és leállítás
Name[ia]=Initia e claude (Shutdown)
Name[id]=Jalankan dan Matikan
Name[is]=Ræsing og stöðvun
Name[it]=Avvio e spegnimento
Name[ja]=起動と終了
Name[kk]=Бастау мен сөндіру
Name[km]=ចាប់ផ្ដើម និង​បិទ
Name[kn]=ಪ್ರಾರಂಭಿಸು ಹಾಗು ಸ್ಥಗಿತಗೊಳಿಸು
Name[ko]=시작 및 종료
Name[lt]=Įjungimas ir išjungimas
Name[lv]=Ieslēgšana un izslēgšana
Name[mr]=सुरुवात व समाप्ती
Name[nb]=Oppstart og avslutning
Name[nds]=An- un Utmaken
Name[nl]=Opstarten en afsluiten
Name[nn]=Oppstart og avslutting
Name[pa]=ਸ਼ੁਰੂਆਤ ਤੇ ਬੰਦ ਕਰਨਾ
Name[pl]=Uruchamianie i wyłączanie
Name[pt]=Arranque e Paragem
Name[pt_BR]=Inicialização e desligamento
Name[ro]=Pornire și oprire
Name[ru]=Запуск и завершение
Name[si]=ආරම්භ කිරීම සහ වැසීම
Name[sk]=Spustenie a vypnutie
Name[sl]=Zagon in izklop
Name[sr]=Подизање и гашење
Name[sr@ijekavian]=Подизање и гашење
Name[sr@ijekavianlatin]=Podizanje i gašenje
Name[sr@latin]=Podizanje i gašenje
Name[sv]=Start och avslutning
Name[th]=การเริ่มการทำงานและการปิดเครื่อง
Name[tr]=Başlatma ve Kapatma
Name[ug]=قوزغىلىش ۋە تاقاش
Name[uk]=Запуск і вихід
Name[vi]=Khởi động và tắt máy
Name[wa]=Enondaedje eyet aresse di l' éndjole
Name[x-test]=xxStartup and Shutdownxx
Name[zh_CN]=开机和关机
Name[zh_TW]=啟動與關閉
