[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=SystemSettingsCategory
X-KDE-System-Settings-Category=application-appearance
X-KDE-System-Settings-Parent-Category=application-appearance-and-behavior
Icon=preferences-desktop-theme

Name=Application Appearance
Name[ar]=مظهر التطبيقات
Name[ast]=Apariencia de les aplicaciones
Name[bg]=Изглед на програмите
Name[bn]=অ্যাপলিকেশন-এর চেহারা
Name[bs]=Izgled programa
Name[ca]=Aparença de les aplicacions
Name[ca@valencia]=Aparença de les aplicacions
Name[cs]=Vzhled aplikací
Name[da]=Programmers udseende
Name[de]=Erscheinungsbild von Anwendungen
Name[el]=Εμφάνιση εφαρμογών
Name[en_GB]=Application Appearance
Name[es]=Apariencia de las aplicaciones
Name[et]=Rakenduste välimus
Name[eu]=Aplikazioen itxura
Name[fi]=Sovellusten ulkoasu
Name[fr]=Apparence des applications
Name[gl]=Aparencia dos programas
Name[he]=מראה יישום
Name[hi]=अनुप्रयोग रूप
Name[hr]=Izgled aplikacija
Name[hu]=Az alkalmazások megjelenése
Name[ia]=Apparentia de application
Name[id]=Tampilan Aplikasi
Name[is]=Útlit forrita
Name[it]=Aspetto delle applicazioni
Name[ja]=アプリケーションの外観
Name[kk]=Қолданба көрінісі
Name[km]=រូបរាង​កម្មវិធី​
Name[kn]=ಅನ್ವಯ ಗೋಚರಿಕೆ
Name[ko]=프로그램 모양
Name[lt]=Programų išvaizda
Name[lv]=Programmu izskats
Name[mr]=अनुप्रयोग दर्शनीयता
Name[nb]=Programutseende
Name[nds]=Programmutsehn
Name[nl]=Uiterlijk van programma
Name[nn]=Program­utsjånad
Name[pa]=ਐਪਲੀਕੇਸ਼ਨ ਦਿੱਖ
Name[pl]=Wygląd programów
Name[pt]=Aparência das Aplicações
Name[pt_BR]=Aparência dos aplicativos
Name[ro]=Aspect aplicații
Name[ru]=Оформление приложений
Name[si]=යෙදුම් පෙනුම
Name[sk]=Vzhľad aplikácií
Name[sl]=Videz programov
Name[sr]=Изглед програма
Name[sr@ijekavian]=Изглед програма
Name[sr@ijekavianlatin]=Izgled programa
Name[sr@latin]=Izgled programa
Name[sv]=Programutseende
Name[tg]=Намуди зоҳирии барнома
Name[th]=รูปลักษณ์ของโปรแกรม
Name[tr]=Uygulama Görünümü
Name[ug]=پروگرامما كۆرۈنۈشى
Name[uk]=Вигляд вікон програм
Name[vi]=Diện mạo ứng dụng
Name[wa]=Rivnance des programes
Name[x-test]=xxApplication Appearancexx
Name[zh_CN]=应用程序外观
Name[zh_TW]=應用程式外觀
