[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=SystemSettingsCategory
X-KDE-System-Settings-Category=sharing
X-KDE-System-Settings-Parent-Category=network-and-connectivity
Icon=preferences-system-network-sharing

Name=Sharing
Name[ar]=مشاركة
Name[ast]=Compartición
Name[be]=Абмен
Name[be@latin]=Supolny dostup
Name[bg]=Споделяне
Name[bn_IN]=যৌথ ব্যবহার
Name[br]=Rannañ
Name[bs]=Dijeljenje
Name[ca]=Compartició
Name[ca@valencia]=Compartició
Name[cs]=Sdílení
Name[csb]=Ùwòlnienié
Name[da]=Deling
Name[de]=Freigabe
Name[el]=Διαμοιρασμός
Name[en_GB]=Sharing
Name[eo]=Komunigo
Name[es]=Compartición
Name[et]=Jagamine
Name[eu]=Partekatzen
Name[fa]=اشتراک
Name[fi]=Verkkojaot
Name[fr]=Partage
Name[fy]=Diele
Name[ga]=Comhroinnt
Name[gl]=Compartición
Name[gu]=ભાગીદારી
Name[he]=שיתוף
Name[hi]=साझेदारी
Name[hne]=साझेदारी
Name[hr]=Dijeljenje
Name[hu]=Megosztás
Name[ia]=Compartir
Name[id]=Berbagi
Name[is]=Deiling
Name[it]=Condivisione
Name[ja]=共有
Name[kk]=Ортақ ресурстар
Name[km]=ការ​ចែក​រំលែក
Name[kn]=ಹಂಚಿಕೊಳ್ಳುವಿಕೆ
Name[ko]=공유
Name[ku]=Parvekirin
Name[lt]=Dalinimasis
Name[lv]=Koplietošana
Name[mai]=साझेदारी
Name[mk]=Споделување
Name[ml]=പങ്കിടല്‍
Name[mr]=शेअरींग
Name[ms]=Perkongsian
Name[nb]=Deling
Name[nds]=Delen
Name[ne]=साझेदारी
Name[nl]=Delen
Name[nn]=Deling
Name[or]=ସହଭାଗ
Name[pa]=ਸਾਂਝ
Name[pl]=Współdzielenie
Name[pt]=Partilha
Name[pt_BR]=Compartilhamento
Name[ro]=Partajare
Name[ru]=Общий доступ
Name[se]=Juogádeapmi
Name[si]=හවුල්
Name[sk]=Zdieľanie
Name[sl]=Souporaba
Name[sr]=Дељење
Name[sr@ijekavian]=Дијељење
Name[sr@ijekavianlatin]=Dijeljenje
Name[sr@latin]=Deljenje
Name[sv]=Delning
Name[ta]=Sharing
Name[te]=భాగస్వామ్యం
Name[tg]=Дастрасӣ
Name[th]=การใช้งานร่วมกัน
Name[tr]=Paylaşım
Name[ug]=ھەمبەھىر
Name[uk]=Спільне користування
Name[uz]=Boʻlishish
Name[uz@cyrillic]=Бўлишиш
Name[vi]=Chia sẻ
Name[wa]=Pårtaedje
Name[x-test]=xxSharingxx
Name[zh_CN]=共享
Name[zh_TW]=分享
