[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=SystemSettingsCategory
X-KDE-System-Settings-Category=application-and-system-notifications
X-KDE-System-Settings-Parent-Category=application-appearance-and-behavior
Icon=preferences-desktop-notification

Name=Application and System Notifications
Name[ar]=تنبيهات التطبيقات والنظام
Name[ast]=Notificaciones d'aplicaciones y del sistema
Name[bg]=Програмни и системни съобщения
Name[bn]=অ্যাপলিকেশন এবং সিস্টেম বিজ্ঞপ্তি
Name[bs]=Sistemska i programska obavještenja
Name[ca]=Notificacions de les aplicacions i del sistema
Name[ca@valencia]=Notificacions de les aplicacions i del sistema
Name[cs]=Oznamování aplikací a systému
Name[da]=Program- og systembekendtgørelser
Name[de]=Anwendungs- und Systembenachrichtigungen
Name[el]=Ειδοποιήσεις εφαρμογών και συστήματος
Name[en_GB]=Application and System Notifications
Name[es]=Notificaciones de aplicaciones y del sistema
Name[et]=Rakenduste ja süsteemi märguanded
Name[eu]=Aplikazio eta sistema jakinarazpenak
Name[fi]=Ohjelma- ja järjestelmäilmoitukset
Name[fr]=Notifications des applications et du système
Name[gl]=Notificacións dos programas e do sistema
Name[he]=הודעות מערכת והודעות יישום
Name[hi]=अनुप्रयोग व तंत्र सूचनाएँ
Name[hr]=Obavijesti sustava i aplikacija
Name[hu]=Alkalmazás- és rendszerértesítések
Name[ia]=Applicationes e notificationes de systema
Name[id]=Notifikasi Sistem dan Aplikasi
Name[is]=Tilkynningar kerfis og forrita
Name[it]=Notifiche delle applicazioni e di sistema
Name[ja]=アプリケーションとシステムの通知
Name[kk]=Қолданба мен жүйелік құлақтандырулары
Name[km]=កា​រជូនដំណឹង​ប្រព័ន្ធ និង​កម្មវិធី​
Name[kn]=ಅನ್ವಯ ಹಾಗು ವ್ಯವಸ್ಥೆಯ ಸೂಚನೆಗಳು
Name[ko]=프로그램 및 시스템 알림
Name[lt]=Programų ir sistemos pranešimai
Name[lv]=Programmu un sistēmas paziņojumi
Name[mr]=अनुप्रयोग व प्रणाली सूचना
Name[nb]=Program- og systemvarsler
Name[nds]=Programm- un Systeembescheden
Name[nl]=Programma- en systeemmeldingen
Name[nn]=Program- og system­varslingar
Name[pa]=ਐਪਲੀਕੇਸ਼ਨ ਤੇ ਸਿਸਟਮ ਨੋਟੀਫਿਕੇਸ਼ਨ
Name[pl]=Powiadomienia programów i systemu
Name[pt]=Notificações das Aplicações e do Sistema
Name[pt_BR]=Notificações dos aplicativos e do sistema
Name[ro]=Notificare aplicații și sistem
Name[ru]=Уведомления
Name[si]=යෙදුම් සහ පද්ධති දැනුම්දීම්
Name[sk]=Upozornenia aplikácií a systému
Name[sl]=Obvestila programov in sistema
Name[sr]=Системска и програмска обавештења
Name[sr@ijekavian]=Системска и програмска обавјештења
Name[sr@ijekavianlatin]=Sistemska i programska obavještenja
Name[sr@latin]=Sistemska i programska obaveštenja
Name[sv]=Program- och systemunderrättelser
Name[tg]=Барномаҳо ва огоҳномаҳои система
Name[th]=การแจ้งให้ทราบของโปรแกรมและระบบ
Name[tr]=Uygulama ve Sistem Bildirimleri
Name[ug]=پروگرامما ۋە سىستېما ئۇقتۇرۇشى
Name[uk]=Сповіщення програм і системи
Name[vi]=Thông báo hệ thống và ứng dụng
Name[wa]=Notifiaedjes des programes eyet do sistinme
Name[x-test]=xxApplication and System Notificationsxx
Name[zh_CN]=应用程序和系统通知
Name[zh_TW]=應用程式與系統通知
