[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=SystemSettingsCategory
X-KDE-System-Settings-Category=removable-devices
X-KDE-System-Settings-Parent-Category=hardware
Icon=drive-removable-media

Name=Removable Devices
Name[ar]=أجهزة قابلة للإزالة
Name[ast]=Preseos estrayibles
Name[bg]=Преносими устройства
Name[bn]=অপসারণযোগ্য ডিভাইস
Name[bs]=Uklonjivi uređaji
Name[ca]=Dispositius extraïbles
Name[ca@valencia]=Dispositius extraïbles
Name[cs]=Odpojitelná zařízení
Name[csb]=Przenosné ùrządzenia
Name[da]=Flytbare enheder
Name[de]=Wechselmedien
Name[el]=Αφαιρούμενες συσκευές
Name[en_GB]=Removable Devices
Name[eo]=Demeteblaj Aparatoj
Name[es]=Dispositivos extraíbles
Name[et]=Eemaldatavad seadmed
Name[eu]=Gailu aldagarriak
Name[fa]=دستگاههای جداشدنی
Name[fi]=Irrotettavat laitteet
Name[fr]=Périphériques amovibles
Name[fy]=Utnimbere apparaten
Name[ga]=Gléasanna Inbhainte
Name[gl]=Dispositivos extraíbeis
Name[he]=התקנים נשלפים
Name[hi]=हटाने लायक औज़ार
Name[hr]=Uklonjivi uređaji
Name[hu]=Cserélhető eszközök
Name[ia]=Dispositivos removibile
Name[id]=Divais Dapat Dilepaskan
Name[is]=Útskiptanleg tæki
Name[it]=Dispositivi rimovibili
Name[ja]=リムーバブルデバイス
Name[kk]=Ауыстырмалы құрылғылар
Name[km]=ឧបករណ៍ចល័ត
Name[kn]=ತೆಗೆದೆಹಾಕಬಹುದಾದ ಸಾಧನಗಳು
Name[ko]=이동식 장치
Name[lt]=Pašalinami įrenginiai
Name[lv]=Noņemamās iekārtas
Name[mk]=Подвижни уреди
Name[ml]=നീക്കം ചെയ്യാവുന്ന ഉപകരണങ്ങള്‍
Name[mr]=काढता येणारी साधने
Name[nb]=Flyttbar
Name[nds]=Tuuschbor Reedschappen
Name[nl]=Verwijderbare apparaten
Name[nn]=Flyttbare einingar
Name[pa]=ਹਟਾਉਣਯੋਗ ਜੰਤਰ
Name[pl]=Urządzenia wymienne
Name[pt]=Dispositivos Removíveis
Name[pt_BR]=Dispositivos removíveis
Name[ro]=Dispozitive amovibile
Name[ru]=Внешние носители
Name[si]=ඉවත් කල හැකි මෙවලම්
Name[sk]=Vymeniteľné zariadenia
Name[sl]=Odstranljive naprave
Name[sr]=Уклоњиви уређаји
Name[sr@ijekavian]=Уклоњиви уређаји
Name[sr@ijekavianlatin]=Uklonjivi uređaji
Name[sr@latin]=Uklonjivi uređaji
Name[sv]=Flyttbara enheter
Name[tg]=Дастгоҳи ҷудошаванда
Name[th]=อุปกรณ์ที่สามารถถอด/เสียบได้
Name[tr]=Çıkarılabilir Aygıtlar
Name[ug]=Removable ئۈسكۈنىلەر
Name[uk]=Портативні пристрої
Name[vi]=Thiết bị gắn ngoài
Name[wa]=Oiståves éndjins
Name[x-test]=xxRemovable Devicesxx
Name[zh_CN]=移动设备
Name[zh_TW]=可移除裝置
