[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=SystemSettingsCategory
X-KDE-System-Settings-Category=locale
X-KDE-System-Settings-Parent-Category=application-appearance-and-behavior
Icon=preferences-desktop-locale

Name=Locale
Name[ar]=المحليّة
Name[ast]=Llocal
Name[bn]=লোকেল
Name[bs]=Lokalitet
Name[ca]=Localització
Name[ca@valencia]=Localització
Name[cs]=Lokalizace
Name[da]=Lokalitet
Name[de]=Regionales
Name[el]=Τοπικότητα
Name[en_GB]=Locale
Name[es]=Local
Name[et]=Keeleseadistused
Name[eu]=Locale-a
Name[fi]=Alue ja kieli
Name[fr]=Localisation
Name[ga]=Logchaighdeán
Name[gl]=Configuración rexional
Name[gu]=સ્થાનિય
Name[he]=מיקום
Name[hi]=लोकेल
Name[hr]=Lokalne postavke
Name[hu]=Nyelvi beállítások
Name[ia]=Local
Name[id]=Locale
Name[is]=Staðfærsla
Name[it]=Localizzazione
Name[ja]=ロケール
Name[ka]=ენა
Name[kk]=Жергілікті стандарттар
Name[km]=មូលដ្ឋាន
Name[kn]=ಪ್ರಾದೇಶಿಕ
Name[ko]=로캘
Name[lt]=Lokalė
Name[lv]=Lokāle
Name[mr]=स्थानिक
Name[nb]=Lokale
Name[nds]=Spraakinstellen
Name[nl]=Taalregio
Name[nn]=Land og språk
Name[pa]=ਲੋਕੇਲ
Name[pl]=Ustawienia regionalne
Name[pt]=Localização
Name[pt_BR]=Localização
Name[ro]=Localizare
Name[ru]=Локаль
Name[si]=ස්ථානය
Name[sk]=Lokalizácia
Name[sl]=Krajevne nastavitve
Name[sr]=Локалитет
Name[sr@ijekavian]=Локалитет
Name[sr@ijekavianlatin]=Lokalitet
Name[sr@latin]=Lokalitet
Name[sv]=Plats
Name[tg]=Маҳаллӣ
Name[th]=ภาษาระบบ
Name[tr]=Yerel
Name[ug]=رايون
Name[uk]=Локаль
Name[vi]=Vùng
Name[wa]=Lingaedje/payis
Name[x-test]=xxLocalexx
Name[zh_CN]=语系
Name[zh_TW]=地域
