[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=KCModule
X-DocPath=kcontrol/smb/index.html
Icon=preferences-system-network-share-windows
Exec=kcmshell4 smb

X-KDE-Library=kcm_kio
X-KDE-PluginKeyword=smb
X-KDE-System-Settings-Parent-Category=sharing
X-KDE-ParentApp=kcontrol

Name=Windows Shares
Name[af]=Vensters Gedeelde bronne
Name[ar]=مشاركات ويندوز
Name[as]=Windows Shares
Name[ast]=Comparticiones Windows
Name[be]=Агульныя тэчкі Windows
Name[be@latin]=Supolna dastupnyja katalohi „Windows”
Name[bg]=Споделяне с Windows
Name[bn]=উইণ্ডোস শেয়ারস
Name[bn_IN]=Windows শেয়ার
Name[br]=Rannadur prenestrer
Name[bs]=Vindouzova dijeljenja
Name[ca]=Recursos compartits de Windows
Name[ca@valencia]=Recursos compartits de Windows
Name[cs]=Sdílené disky systému Microsoft Windows
Name[csb]=Zbiérné dostónczi Windows
Name[cy]=Rhaniadau Windows
Name[da]=Windows-shares
Name[de]=Windows-Freigaben
Name[el]=Κοινόχρηστοι πόροι των Windows
Name[en_GB]=Windows Shares
Name[eo]=Vindozaj retdosierujoj
Name[es]=Comparticiones Windows
Name[et]=Windowsi ressursid
Name[eu]=Windows partekatzea
Name[fa]=اشتراکهای ویندوزی
Name[fi]=Windows-jaot
Name[fr]=Partages Windows
Name[fy]=Windows-netwurken
Name[ga]=Comhranna Windows
Name[gl]=Comparticións con Windows
Name[gu]=વિન્ડોઝ ભાગીદારી
Name[he]=שיתופי Windows
Name[hi]=विंडोज़ साझेदारी
Name[hne]=विंडोज साझेदारी
Name[hr]=Windows dijeljenja
Name[hsb]=Hromadźe z Windowsami wužiwane
Name[hu]=Samba kliens
Name[ia]=Areas Compartite de Windows
Name[id]=Kongsi Windows
Name[is]=SMB netdrif
Name[it]=Condivisioni Windows
Name[ja]=Windows 共有
Name[ka]=Windows საზიარო
Name[kk]=Windows ортақ ресурстары
Name[km]=ការ​ចែក​រំលែក​របស់​វីនដូ
Name[kn]=ವಿಂಡೋಸ್ ಹಂಚಿಕೆಗಳು (ಷೇರ್)
Name[ko]=Windows 공유
Name[ku]=Parvekirinên Windowsê
Name[lt]=Windows bendro naudojimo diskai
Name[lv]=Windows koplietojumi
Name[mai]=विंडोज साझेदारी
Name[mk]=Windows заеднички
Name[ml]=വിന്‍ഡോസില്‍ പങ്കിട്ടവ
Name[mr]=विंडोज शेअर
Name[ms]=Kongsi Tetingkap
Name[nb]=Delte Windows-ressurser
Name[nds]=Windows-Freegaven
Name[ne]=विण्डोज साझेदारी
Name[nl]=Windows-netwerken
Name[nn]=Delte Windows-ressursar
Name[or]=ୱିଣ୍ଡୋର ସହଭାଗ
Name[pa]=ਵਿੰਡੋ (windows) ਸਾਂਝ
Name[pl]=Udostępniane zasoby Windows
Name[pt]=Partilhas do Windows
Name[pt_BR]=Compartilhamentos Windows
Name[ro]=Partajări Windows
Name[ru]=Общие папки Windows
Name[se]=Juohkojuvvon Windows-resurssat
Name[si]=Windows හවුල්
Name[sk]=Zdieľanie v sieti Windows
Name[sl]=Souporabe s sistemom Windows
Name[sr]=Виндоузова дељења
Name[sr@ijekavian]=Виндоузова дељења
Name[sr@ijekavianlatin]=Windowsova deljenja
Name[sr@latin]=Windowsova deljenja
Name[sv]=Utdelade Windows-kataloger
Name[ta]=விண்டோ பகிர்வுகள்
Name[te]=విండోస్ షేర్‍స్
Name[tg]=Мубодилаи Windows
Name[th]=ใช้ทรัพยากรร่วมกับวินโดวส์
Name[tr]=Windows Paylaşımları
Name[ug]=Windows ھەمبەھىر
Name[uk]=Спільні ресурси Windows
Name[vi]=Chia sẻ Windows
Name[wa]=Pårtaedjes Windows
Name[xh]=Ulwahlulelwano lwe Windows
Name[x-test]=xxWindows Sharesxx
Name[zh_CN]=Windows 共享
Name[zh_TW]=Windows 資源共享

Comment=Use to configure which windows (SMB) filesystems you can browse
Comment[af]=Gebruik om te konfigureer watter Windows (SMB) lêerstelsels jy kan blaai
Comment[ar]=استخدمه لإعداد أي نظام ملفات ويندوز (SMB) تتصفح
Comment[ast]=Úsalu pa configurar qué sistemes de ficheros de Windows (SMB) pues restolar
Comment[be]=Настаўленні файлавых сістэмаў SMB
Comment[be@latin]=Naładź, jakija fajłavyja systemy „Windows” (SMB) možna prahladać
Comment[bg]=Настройване споделянето на файлове с Windows
Comment[bn]=কোন কোন উইণ্ডোস (সাম্বা) শেয়ার ব্রাউজ করতে পারবেন তা নির্বাচন করতে ব্যবহার করুন
Comment[bn_IN]=ব্রাউজ করার উদ্দেশ্যে চিহ্নিত windows (SMB) ফাইল-সিস্টেম কনফিগার করতে ব্যবহৃত
Comment[br]=Implijit evit kefluniañ pe reizhiad restroù windows (SMB) a c'hellit furchal
Comment[bs]=Podesite pregledanje Vindouzovih (SMB) datotečnog sistema
Comment[ca]=S'usa per a configurar en quins sistemes de fitxers windows (SMB) es podrà navegar
Comment[ca@valencia]=S'usa per a configurar en quins sistemes de fitxers windows (SMB) es podrà navegar
Comment[cs]=Použijte k nastavení systémů Windows (SMB), které si přejete procházet
Comment[csb]=Kònfigùracëjô przëstãpnëch systemòwëch lopków z Windowsa (SMB)
Comment[cy]=Defnyddio i ffurfweddu pa cysodau ffeil Windows (SMB) a fedrwch eu pori
Comment[da]=Bruges til at indstille hvilke Windows-filsystemer (SMB) du kan se
Comment[de]=Hier stellen Sie ein, welche (SMB-)Dateisysteme Sie durchsuchen können
Comment[el]=Διαμορφώστε ποια συστήματα αρχείων windows (SMB) μπορείτε να επισκεφθείτε
Comment[en_GB]=Use to configure which windows (SMB) filesystems you can browse
Comment[eo]=Agordi la retdosierujojn alireblajn per SMB
Comment[es]=Úselo para configurar qué sistemas de archivos de Windows (SMB) puede examinar
Comment[et]=Windowsi (SMB) jagatud resursside lehitsemise seadistused
Comment[eu]=Erabili zein Windows (SMB) fitxategi-sistema araka dezakezun konfiguratzeko
Comment[fa]=استفاده جهت پیکربندی سیستم پرونده‌های ویندوزی(SMB) که می‌توانید مرور کنید.
Comment[fi]=Windowsin tiedostojärjestelmien (SMB) selausasetukset
Comment[fr]=Configuration des systèmes de fichiers Windows (SMB) pour que vous y naviguiez
Comment[fy]=Hjir kinne jo fêstelle mei wat fan Windows-triemsystemen (SMB) jo fia it netwurk blêdzje wolle.
Comment[ga]=Cumraigh na córais chomhad Windows (SMB) is féidir leat brabhsáil
Comment[gl]=Configurar os sistemas de ficheiros windows (SMB) que pode navegar
Comment[gu]=તમે કઇ વિન્ડોઝ (SMB) ફાઇલસિસ્ટમો બ્રાઉઝ કરવાનાં છો તે રૂપરેખાંકિત કરો
Comment[he]=הגדרת אילו מערכות קבצים של Windows (SMB) ניתנות לעיון
Comment[hi]=कॉन्फ़िगर करने के लिए इस्तेमाल करें कि कौन सा विंडोज़ फ़ाइलसिस्टम (SMB) आप ब्राउज कर सकते हैं. 
Comment[hne]=कान्फिगर करे बर उपयोग करव कि कोन वाले विंडोज फाइलसिसटम (एसएमबी) आप मन ब्राउज कर सकहू.
Comment[hr]=Konfiguriranje Windows (SMB) datotečnih sustava koje smijete pregledavati
Comment[hsb]=Nastajić, kotre windowsowe datajowe systemy (SMB) so wužiwaja
Comment[hu]=Az SMB fájlrendszerek böngészésének beállításai
Comment[ia]=Usa lo per configurar qual systema de files de windows (SMB) tu pote navigar
Comment[id]=Gunakan untuk mengatur sistem berkas windows (SMB) mana yang dapat anda ramban
Comment[is]=Stilla hvaða SMB netdiska (e. windows sameignir) þú getur skoðað
Comment[it]=Configura quali filesystem Windows (SMB) si possono sfogliare
Comment[ja]=windows (SMB) ファイルシステムをブラウズするための設定
Comment[ka]=გამოიყენება windows (SMB) ფაილური სისტემების ჩვენების მისათითებლად
Comment[kk]=Windows-компьютерлердің қай файл жүйелері (SMB) қатынауға ашық екенін баптау
Comment[km]=ប្រើ​ដើម្បី​កំណត់​រចនាសម្ព័ន្ធ ថា​តើ​ប្រព័ន្ធ​ឯកសារ​វីនដូ (SMB) ណា​មួយ​ដែល​អ្នក​អាច​រុករក
Comment[kn]=ನೀನು ವೀಕ್ಷಿಸಬಹುದಾದ ವಿಂಡೋಸ್ ಕಡತವ್ಯವಸ್ಥೆಗಳನ್ನು (SMB) ಸಂರಚಿಸಲು ಬಳಸು
Comment[ko]=Windows (SMB) 파일 시스템 탐색 설정
Comment[ku]=Di avakirina pergalên pelan ên Windowsê (Samba) ku dikarî bibînî de tê bikaranîn
Comment[lt]=Naudokite tai norėdami nustatyti kurias Windows (SMB) failų sistemas Jūs galėsite naršyti
Comment[lv]=Lietojiet, lai norādītu, kuras windows (SMB) failu sistēmas jūs varat pārlūkot
Comment[mai]=बिन्यस्त करब क' लेल इस्तेमाल करू जे कओन सँ विंडोज फाइलसिस्टम (SMB) अहाँ ब्राउज कए सकैत छी. 
Comment[mk]=Користете го за да конфигурирате кои windows (SMB) датотечни системи можете да ги прелистувате
Comment[ml]=നിങ്ങള്‍ക്കു് പരതാവുന്ന ജാലക (എസ്എംബി) ഫയല്‍ സിസ്റ്റങ്ങള്‍ ഏതെല്ലാമാണെന്നു് ക്രമീകരിയ്ക്കാന്‍ ഉപയോഗിയ്ക്കുന്നു
Comment[mr]=संचारणसाठी Windows (SMB) फाईलप्रणाली संयोजीत करण्याकरिता वापरले जाते
Comment[ms]=Guna untuk konfigur sistem fail tetingkap (SMB) mana yang anda boleh layar
Comment[nb]=Her kan du stille inn hvilke Windows-filsystemer (SMB) du kan lese
Comment[nds]=De Windows- (SMB-) Dateisystemen fastleggen, de Du dörkieken kannst
Comment[ne]=तपाईँले ब्राउज गर्न सक्ने विण्डोजको (SMB) फाइल प्रणालीहरूमा कन्फिगर गर्न प्रयोग गर्नुहोस्
Comment[nl]=Hier kunt u bepalen op welke Windows-bestandssytemen (SMB) u via het netwerk wilt kunnen bladeren. 
Comment[nn]=Her kan du setja opp kva for Windows-filsystem (SMB) du kan lesa
Comment[or]=ଆପଣ ବ୍ରାଉଜ କରିପାରୁଥିବା ଯେଉଁ ୱିଣ୍ଡୋର (SMB) ଫାଇଲତନ୍ତ୍ରକୁ ବିନ୍ୟାସ କରିବା ପାଇଁ ବ୍ୟବହୃତ ହୋଇଥାଏ
Comment[pa]=ਸੰਰਚਨਾ ਵਰਤੋਂ, ਜੋ ਕਿ ਵਿੰਡੋ (SMB) ਫਾਇਲ ਸਿਸਟਮ ਦੀ ਝਲਕ ਵੇਖਾ ਸਕਦਾ ਹੈ
Comment[pl]=Konfiguracja dostępnych systemów plików z Windows (SMB)
Comment[pt]=Configuração das partilhas de Windows (SMB) a que você pode aceder
Comment[pt_BR]=Configura os compartilhamentos Windows (SMB) que você pode acessar
Comment[ro]=Configurează partajările Windows (SMB) pe care le puteți răsfoi
Comment[ru]=Настройка обзора общих папок Windows
Comment[se]=Dás sáhtát heivehit guđe Windows-fiilavuogádaid (SMB) oaččut lohkat
Comment[si]=ඔබට ගවේශනය කල හැකි windows (SMB) ගොනු පද්ධති සැකසීමට භාවිත කරයි
Comment[sk]=Konfigurácia súborového systému Windows (SMB), ktorý môžete prehliadať
Comment[sl]=Nastavitve datotečnih sistemov Windows (SMB)
Comment[sr]=Подесите прегледање Виндоузових (СМБ) фајл система
Comment[sr@ijekavian]=Подесите прегледање Виндоузових (СМБ) фајл система
Comment[sr@ijekavianlatin]=Podesite pregledanje Windowsovih (SMB) fajl sistema
Comment[sr@latin]=Podesite pregledanje Windowsovih (SMB) fajl sistema
Comment[sv]=Använd detta för att ställa in vilka Windows-filsystem (SMB) som du kan komma åt
Comment[ta]=எந்த விண்டோ கோப்புமுறைகளை உலா வந்திட இயலும் என்பதை வடிவமைக்க பயன்படுத்துக
Comment[te]=ఏ విండోస్ (SMB) ఫైల్‌సిస్టమ్‍స్‌ను మీరు అన్వేషించాలో ఆకృతీకరించండి
Comment[tg]=Барои танзимоти тирезаи файлҳои системавии SMB истифода баред
Comment[th]=ใช้ปรับแต่งว่าระบบแฟ้มของวินโดวส์ (SMB) อันไหนที่คุณสามารถเรียกดูได้บ้าง
Comment[tr]=Göz atılabilecek Windows (SMB) dosya sistemlerini yapılandırmak için kullanılır
Comment[ug]=سىز زىيارەت قىلالايدىغان windows (SMB) ھۆججەت سىستېما سەپلىمىسى
Comment[uk]=Налаштування файлових систем Windows (SMB), для навігації
Comment[vi]=Dùng để cấu hình hệ thống tập tin Windows (SMB) nào cho bạn duyệt
Comment[wa]=Eployîz l' po-z apontyî les sistinmes di fitchîs Windows (SMB) ki vos ploz foyter
Comment[xh]=Sebenzisa ukuqwalasela eyiphi (SMB) indlela yousebenza okwaziyo ukukhangela iincwadi
Comment[x-test]=xxUse to configure which windows (SMB) filesystems you can browsexx
Comment[zh_CN]=配置您可以浏览的 Windows (SMB) 文件系统
Comment[zh_TW]=設定您可以瀏覽的 Windows (SMB) 檔案系統

X-KDE-Keywords=SMB,SAMBA,SMB client,Windows network,LAN,Network,neighborhood,Server,Broadcast,WINS,Share,Login,Passwords
X-KDE-Keywords[bg]=Уиндоус,Локална мрежа,Лан,Сървър,Споделяне,Пароли,SMB,SAMBA,SMB client,Windows network,LAN,Network,neighborhood,Server,Broadcast,WINS,Share,Login,Passwords
X-KDE-Keywords[bs]=SMB,SAMBA,SMB client,Windows network,LAN,Network,neighborhood,Server,Broadcast,WINS,Share,Login,Passwords
X-KDE-Keywords[ca]=SMB,SAMBA,Client SMB,Xarxa Windows,LAN,Xarxa,veïnat,Servidor,Difusió,WINS,Compartició,Connexió,Contrasenyes
X-KDE-Keywords[ca@valencia]=SMB,SAMBA,Client SMB,Xarxa Windows,LAN,Xarxa,veïnat,Servidor,Difusió,WINS,Compartició,Connexió,Contrasenyes
X-KDE-Keywords[da]=SMB,SAMBA,SMB-klient,Windows netværk,LAN,netværk,nabolag,Server,Broadcast,WINS,Share,Login,adgangskoder
X-KDE-Keywords[de]=SMB,Samba,SMB-Client,Windows-Netzwerk,LAN,Netzwerk,Netzumgebung,Netzwerkumgebung,Umgebung,Server,Broadcast,WINS,Freigabe,Anmeldung,Passwörter
X-KDE-Keywords[el]=SMB,SAMBA,πελάτης SMB,δίκτυο Windows,LAN,δίκτυο,γειτονιά,εξυπηρετητής,μετάδοση,WINS,κοινόχρηστο,είσοδος,κωδικοί πρόσβασης
X-KDE-Keywords[es]=SMB,SAMBA,Cliente SMB,red Windows,LAN,Red,entorno de red,Servidor,Redifusión,WINS,Compartir,Inicio de sesión,Contraseñas
X-KDE-Keywords[et]=SMB,SAMBA,SMB klient,Windowsi võrk,LAN,Võrk,naabrus,Server,Leviedastus,Broadcast,WINS,Jagatud ressurss,Sisselogimine,Paroolid
X-KDE-Keywords[fi]=SMB,SAMBA,SMB client,SMB-asiakas,SMB-ohjelma,Windows-verkko,LAN,Verkko,ympäristö,Palvelin,Broadcast,Yleislähetys,WINS,Jako,Kirjautuminen,Salasanat
X-KDE-Keywords[fr]=SMB, SAMBA,client SMB, réseau Windows, LAN, réseau, voisinage,Serveur, diffusion, WINS, partages, connexion, mots de passe
X-KDE-Keywords[ga]=SMB,SAMBA,cliant SMB,líonra Windows,LAN,Líonra,comharsanacht,Freastalaí,Craoladh,WINS,Comhroinn,Logáil Isteach,Focail Fhaire
X-KDE-Keywords[gl]=SMB,SAMBA,cliente SMB,rede de windows,LAN,rede,veciñanza,servidor, retransmisión,WINS,compartición,compartir,acceso,contrasinais
X-KDE-Keywords[hu]=SMB,SAMBA,SMB kliens,Windows hálózat,LAN,Hálózat,szomszéd,Kiszolgáló,Broadcast,WINS,Megosztás,Bejelentkezés,Jelszavak
X-KDE-Keywords[ia]=SMB,SAMBA,Cliente SMB,rete de Windows,LAN,rete,vicinitate,Servitor,Transmission,WINS,Compartite,Authentication,Contrasignos
X-KDE-Keywords[it]=SMB,SAMBA,client SMB,rete di Windows,LAN,Rete,vicinanza,Server,Broadcast,WINS,Share,Login,Password
X-KDE-Keywords[kk]=SMB,SAMBA,SMB client,Windows network,LAN,Network,neighborhood,Server,Broadcast,WINS,Share,Login,Passwords
X-KDE-Keywords[km]=SMB SAMBA ម៉ាស៊ីន​ភ្ញៀវ SMB បណ្ដាញ​វីនដូ LAN បណ្ដាញ ក្បែរៗ ម៉ាស៊ីន​បម្រើ ផ្សាយ WINS ចែករំលែក ចូល ពាក្យសម្ងាត់
X-KDE-Keywords[ko]=SMB,SAMBA,SMB client,Windows network,LAN,Network,neighborhood,Server,Broadcast,WINS,Share,Login,Passwords,삼바,윈도우,윈도우 네트워크,네트워크 환경,내 네트워크 환경,로그인,공유,암호,비밀번호
X-KDE-Keywords[lt]=SMB,SAMBA,SMB klientas,Windows tinklas,LAN,tinklas,tinklo aplinka,Serveris,Transliavimas,WINS,Bendrinti,Registracija,Slaptažodžiai
X-KDE-Keywords[lv]=SMB,SAMBA,SMB klients,Windows tīkls,LAN,Tīkls,tīkla apkaime,Serveris,Apraide,WINS,Koplietojums,Pieteikšanās,Paroles
X-KDE-Keywords[nb]=SMB,SAMBA,SMB-klient,Windows-nettverk,LAN,Nettverk,nabolag,Tjener,Kringkasting,WINS,Ressurs,Login,Passord
X-KDE-Keywords[nds]=SMB,SAMBA,SMB-Programm,Windows-Nettwark,LAN,Nettwark,Nettwarkümgeven,Naverschap,Server,Rundroop,WINS,Freegaav,Anmellen,Passwöör
X-KDE-Keywords[nl]=SMB,SAMBA,SMB-client,Windows-netwerk,LAN,netwerk,nabije omgeving,server,broadcast,WINS,delen,aanmelden,wachtwoorden
X-KDE-Keywords[pl]=SMB,SAMBA,Klient SMB,Sieć Windows, LAN,Sieć,otoczenie,Serwer,Broadcast,WINS,Udostępnianie,Współdzielenie,Login,Hasła
X-KDE-Keywords[pt]=SMB,SAMBA,cliente de SMB,rede Windows,LAN,rede,vizinhança,servidor,difusão,WINS,partilha,conta,senhas
X-KDE-Keywords[pt_BR]=SMB,SAMBA,Cliente de SMB,Rede Windows,LAN,Rede,vizinhança,Servidor,Difusão,WINS,Compartilhamento,Autenticação,Senhas
X-KDE-Keywords[ro]=SMB,SAMBA,client SMB,rețea Windows,LAN,rețea,vecinătate,server,difuzare,WINS,partajare,autentificare,parole
X-KDE-Keywords[ru]=SMB,SAMBA,SMB client,Windows network,LAN,Network,neighborhood,Server,Broadcast,WINS,Share,Login,Passwords,клиент SMB,сеть Windows,сеть,соседи,широковещание,совместный доступ,логин,имя пользователя,пароль
X-KDE-Keywords[sk]=SMB,SAMBA,SMB klient,Sieť Windows,LAN,Sieť,okolie,Server,Broadcast,WINS,Zdieľanie,Login,Heslá
X-KDE-Keywords[sl]=SMB,SAMBA,Odjemalec SMB,omrežje Windows,LAN,Omrežje,soseska,Strežnik,Vsesmerno oddajanje,WINS,Deljenje,Prijava,Gesla
X-KDE-Keywords[sr]=SMB,SAMBA,SMB client,Windows network,LAN,Network,neighborhood,Server,Broadcast,WINS,Share,Login,Passwords,СМБ,Самба,СМБ клијент,виндоуз мрежа,ЛАН,мрежа,суседство,сервер,емитовање,ВИНС,дељење,пријава,лозинка
X-KDE-Keywords[sr@ijekavian]=SMB,SAMBA,SMB client,Windows network,LAN,Network,neighborhood,Server,Broadcast,WINS,Share,Login,Passwords,СМБ,Самба,СМБ клијент,виндоуз мрежа,ЛАН,мрежа,суседство,сервер,емитовање,ВИНС,дељење,пријава,лозинка
X-KDE-Keywords[sr@ijekavianlatin]=SMB,SAMBA,SMB client,Windows network,LAN,Network,neighborhood,Server,Broadcast,WINS,Share,Login,Passwords,SMB,Samba,SMB klijent,windows mreža,LAN,mreža,susedstvo,server,emitovanje,WINS,deljenje,prijava,lozinka
X-KDE-Keywords[sr@latin]=SMB,SAMBA,SMB client,Windows network,LAN,Network,neighborhood,Server,Broadcast,WINS,Share,Login,Passwords,SMB,Samba,SMB klijent,windows mreža,LAN,mreža,susedstvo,server,emitovanje,WINS,deljenje,prijava,lozinka
X-KDE-Keywords[sv]=SMB,SAMBA,SMB klient,Windows nätverk,LAN,Nätverk,grannskap,Server,Utsändning,WINS,Dela,Inloggning,Lösenord
X-KDE-Keywords[tr]=SMB,SAMBA,SMB istemcisi,Windows ağı,LAN,Ağ,komşu,Sunucu,Yayın,WINS,Paylaşım,Giriş,Parolalar
X-KDE-Keywords[uk]=SMB,SAMBA,SMB client,Windows network,LAN,Network,neighborhood,Server,Broadcast,WINS,Share,Login,Passwords,клієнт,віндоус,віндовс,віндовз,оточення,локальна,сервер,трансляція,ресурс,спільний,пароль,вхід,реєстрація
X-KDE-Keywords[wa]=SMB,SAMBA,cliyint SMB,rantoele Windows,LAN,rantoele,vijhnaedje,Sierveu,Evoyaedje,WINS,Pårtaedje,Login,Elodjaedje,Sicrets
X-KDE-Keywords[x-test]=xxSMB,SAMBA,SMB client,Windows network,LAN,Network,neighborhood,Server,Broadcast,WINS,Share,Login,Passwordsxx
X-KDE-Keywords[zh_CN]=SMB,SAMBA,SMB client,Windows network,LAN,Network,neighborhood,Server,Broadcast,WINS,Share,Login,Passwords,SMB 客户端,Windows 网络,网络,网上邻居,服务器,广播,共享,登录,密码
X-KDE-Keywords[zh_TW]=SMB,SAMBA,SMB client,Windows network,LAN,Network,neighborhood,Server,Broadcast,WINS,Share,Login,Passwords
