[Desktop Entry]
Exec=kcmshell4 smbstatus
Icon=preferences-system-network-share-windows-status
Type=Service
X-KDE-ServiceTypes=KCModule

X-KDE-KInfoCenter-Category=network_information
X-KDE-Library=kcm_samba
X-KDE-ParentApp=kinfocenter
X-DocPath=kinfocenter/index.html#smbstatus

Name=Samba Status
Name[af]=Samba Status
Name[ar]=حالة السامبا
Name[as]=Samba ৰ অৱস্থা
Name[ast]=Estáu de Samba
Name[be]=Стан Samba
Name[be@latin]=Stanovišča słužby „Samba”
Name[bg]=Сървър Samba
Name[bn]=সাম্বা স্ট্যাটাস
Name[bn_IN]=Samba-র অবস্থা
Name[br]=Saviad Samba
Name[bs]=Stanje Sambe
Name[ca]=Estat de Samba
Name[ca@valencia]=Estat de Samba
Name[cs]=Stav Samby
Name[csb]=Sztaus Samba
Name[cy]=Cyflwr Samba
Name[da]=Samba-status
Name[de]=Samba-Status
Name[el]=Κατάσταση samba
Name[en_GB]=Samba Status
Name[eo]=Samba stato
Name[es]=Estado de Samba
Name[et]=Samba olek
Name[eu]=Sambaren egoera
Name[fa]=وضعیت Samba
Name[fi]=Samban tila
Name[fr]=État de Samba
Name[fy]=Samba-tastân
Name[ga]=Stádas Samba
Name[gl]=Estado de Samba
Name[gu]=સામ્બા સ્થિતિ
Name[he]=מצב Samba
Name[hi]=साम्बा स्थिति
Name[hne]=साम्बा स्थिति
Name[hr]=Stanje Sambe
Name[hsb]=Samba status
Name[hu]=Samba
Name[ia]=Stato de Samba
Name[id]=Status Samba
Name[is]=Staða Samba
Name[it]=Stato di Samba
Name[ja]=Samba の状態
Name[ka]=Samba-ს სტატუსი
Name[kk]=Samba сервері 
Name[km]=ស្ថានភាព​ Samba
Name[kn]=ಸಾಂಬಾ ಸ್ಥಿತಿಗತಿ
Name[ko]=삼바 상태
Name[ku]=Rewşa Sambayê
Name[lt]=Samba būsena
Name[lv]=Samba statuss
Name[mai]=साम्बा स्थिति
Name[mk]=Статус на Samba
Name[ml]=സാംബാ സ്ഥിതിവിവരം
Name[mr]=साम्बा स्थिति
Name[ms]=Status Samba
Name[nb]=Samba-status
Name[nds]=Samba-Status
Name[ne]=साम्बा वस्तुस्थिति
Name[nl]=Samba-status
Name[nn]=Samba-status
Name[or]=ସାମ୍ବା ସ୍ଥିତି
Name[pa]=ਸਾਂਬਾ ਹਾਲਤ
Name[pl]=Stan Samby
Name[pt]=Estado do Samba
Name[pt_BR]=Estado do Samba
Name[ro]=Stare Samba
Name[ru]=Сервер Samba
Name[se]=Samba stáhtus
Name[si]=සම්බා තත්ත්වය
Name[sk]=Stav Samby
Name[sl]=Stanje Sambe
Name[sr]=Стање Самбе
Name[sr@ijekavian]=Стање Самбе
Name[sr@ijekavianlatin]=Stanje Sambe
Name[sr@latin]=Stanje Sambe
Name[sv]=Samba-status
Name[ta]=சம்பா நிலை
Name[te]=సాంబా స్థితి
Name[tg]=Ҳолати Samba
Name[th]=สถานะของ Samba
Name[tr]=Samba Servisi
Name[ug]=Samba ھالىتى
Name[uk]=Стан Samba
Name[uz]=Samba'ning holati
Name[uz@cyrillic]=Samba'нинг ҳолати
Name[vi]=Trạng thái Samba
Name[wa]=Estat di Samba
Name[xh]=Isimo se Samba
Name[x-test]=xxSamba Statusxx
Name[zh_CN]=Samba 状态
Name[zh_TW]=Samba 狀態

Comment=Samba status monitor
Comment[af]=Samba status monitor
Comment[ar]=مراقب حالة السامبا
Comment[as]=Samba ৰ অৱস্থাৰ নিৰীক্ষণ
Comment[ast]=Monitor d'estáu de Samba
Comment[be]=Назіральнік стану Samba
Comment[be@latin]=Nazirańnik za stanoviščam słužby „Samba”
Comment[bg]=Данни за състоянието на сървъра Samba
Comment[bn]=সাম্বা স্ট্যাটাস নির্দেশক
Comment[bn_IN]=Samba অবস্থা নিরীক্ষণ
Comment[br]=Diskwel saviad Samba
Comment[bs]=Nadgledanje stanja Sambe
Comment[ca]=Monitor de l'estat de Samba
Comment[ca@valencia]=Monitor de l'estat de Samba
Comment[cs]=Monitor stavu Samby
Comment[csb]=Mònitor stónu Sambë
Comment[cy]=Monitr cyflwr samba
Comment[da]=Overvågning af samba-status
Comment[de]=Samba-Statusmonitor
Comment[el]=Εποπτεία της Samba
Comment[en_GB]=Samba status monitor
Comment[eo]=Rigardilo por la stato de Samba
Comment[es]=Monitor de estado de Samba
Comment[et]=Samba oleku jälgimine
Comment[eu]=Sambaren egoeraren monitorea
Comment[fa]=نمایشگر وضعیت Samba
Comment[fi]=Samban tilan näyttö
Comment[fr]=Indicateur d'état de Samba
Comment[fy]=Sambatastânmonitor
Comment[ga]=Monatóir stádais Samba
Comment[gl]=Vixilante do estado de Samba
Comment[gu]=સામ્બા સ્થિતિ દેખરેખ
Comment[he]=מידע על המצב של Samba
Comment[hi]=साम्बा स्थिति मॉनीटर
Comment[hne]=साम्बा स्थिति मानीटर
Comment[hr]=Nadzor stanje Sambe
Comment[hsb]=Samba statusowy monitor
Comment[hu]=Samba állapotmonitor
Comment[ia]=Monitor de stato de Samba
Comment[id]=Monitor status Samba
Comment[is]=Eftirlit með stöðu Samba
Comment[it]=Monitor dello stato di Samba
Comment[ja]=Samba の状態を監視します
Comment[ka]=Samba-ს სტატუსის მონიტორი
Comment[kk]=Samba күйін бақылау
Comment[km]=កម្មវិធី​ត្រួត​ពិនិត្យ​ស្ថានភាព​ Samba
Comment[kn]=ಸಾಂಬಾ ಸ್ಥಿತಿಗತಿ ಮೇಲ್ವಿಚಾರಕ
Comment[ko]=삼바 상태 모니터
Comment[ku]=Temaşekarê Rewşa Sambayê
Comment[lt]=Samba būsenos monitorius
Comment[lv]=Sambas statusa monitors
Comment[mai]=साम्बा स्थिति मानीटर
Comment[mk]=Монитор на статусот на Samba
Comment[ml]=സാംബാ അവസ്ഥ നിരീക്ഷിണി
Comment[mr]=साम्बा स्थिति मॉनीटर
Comment[ms]=Monitor status Samba
Comment[nb]=Overvåking av Samba-status
Comment[nds]=Statuskieker för Samba
Comment[ne]=साम्बा वस्तुस्थिति मोनिटर
Comment[nl]=Sambastatusmonitor
Comment[nn]=Overvaking av Samba-status
Comment[or]=ସାମ୍ବା ସ୍ଥିତି ପ୍ରଦର୍ଶିକା
Comment[pa]=ਸਾਂਬਾ ਹਾਲਤ ਨਿਗਰਾਨ
Comment[pl]=Monitor stanu Samby
Comment[pt]=Monitor do estado do Samba
Comment[pt_BR]=Monitor de estado do Samba
Comment[ro]=Monitorizează starea serverului Samba
Comment[ru]=Состояние сервера Samba
Comment[se]=Gozit Samba stáhtusa
Comment[si]=සම්බා තත්ත්ව නිරික්‍ෂකය
Comment[sk]=Monitor stavu Samby
Comment[sl]=Nadzornik stanja Sambe
Comment[sr]=Надгледање стања Самбе
Comment[sr@ijekavian]=Надгледање стања Самбе
Comment[sr@ijekavianlatin]=Nadgledanje stanja Sambe
Comment[sr@latin]=Nadgledanje stanja Sambe
Comment[sv]=Övervakar Samba-status
Comment[ta]=சம்பா நிலை காட்டி
Comment[te]=సాంబా స్థితి మానిటర్
Comment[tg]=Барномаи ҳолатҳои Samba
Comment[th]=เฝ้าดูสถานะ Samba
Comment[tr]=Samba durum izleyici
Comment[ug]=Samba ھالەت كۆزەتكۈچىسى
Comment[uk]=Монітор стану Samba
Comment[uz]=Samba'ning holatini nazorat qiluvchi vosita
Comment[uz@cyrillic]=Samba'нинг ҳолатини назорат қилувчи восита
Comment[vi]=Theo dõi trạng thái Samba
Comment[wa]=Corwaitoe di l' estat di Samba
Comment[xh]=Umphathi wemeko we Samba
Comment[x-test]=xxSamba status monitorxx
Comment[zh_CN]=Samba 状态监视器
Comment[zh_TW]=Samba 狀態監視器

X-KDE-Keywords=SMB,SAMBA,Windows network,LAN,System Information
X-KDE-Keywords[bs]=SMB,SAMBA,Windows umrežavanje,LAN,Sistemske informacije
X-KDE-Keywords[ca]=SMB,SAMBA,Xarxa Windows,LAN,Informació del sistema
X-KDE-Keywords[ca@valencia]=SMB,SAMBA,Xarxa Windows,LAN,Informació del sistema
X-KDE-Keywords[da]=SMB,SAMBA,Windows netværk,LAN,Systeminformation
X-KDE-Keywords[de]=SMB,Samba,Windows-Netzwerk,LAN,Systeminformationen
X-KDE-Keywords[el]=SMB,SAMBA,δίκτυο Windows,LAN,πληροφορίες συστήματος
X-KDE-Keywords[es]=SMB,SAMBA,Red Windows,LAN,Información del sistema
X-KDE-Keywords[et]=SMB,SAMBA,Windowsi võrk,LAN,süsteemi teave
X-KDE-Keywords[eu]=SMB,SAMBA,Windows sarea,LAN,Sistemaren informazioa
X-KDE-Keywords[fi]=SMB,SAMBA,Windows-verkko,LAN,järjestelmätiedot
X-KDE-Keywords[fr]=SMB, SAMBA, réseau Windows, LAN, Informations système
X-KDE-Keywords[ga]=SMB,SAMBA,Líonra Windows,LAN,líonra logánta,Eolas faoin Chóras
X-KDE-Keywords[gl]=SMB,SAMBA,Rede de Windows,LAN,Información do sistema
X-KDE-Keywords[hu]=SMB,SAMBA,Windows hálózat,LAN,Rendszerinformáció
X-KDE-Keywords[ia]=SMB,SAMBA,rete de Windows,LAN,Information de systema
X-KDE-Keywords[it]=SMB,SAMBA,rete di Windows,LAN,Informazioni di sistema
X-KDE-Keywords[kk]=SMB,SAMBA,Windows network,LAN,System Information
X-KDE-Keywords[km]=SMB,SAMBA,Windows network,LAN,System Information
X-KDE-Keywords[ko]=SMB,SAMBA,Windows network,LAN,System Information,윈도우,윈도,윈도우 네트워크,윈도 네트워크,시스템 정보
X-KDE-Keywords[mr]=SMB, SAMBA, विंडोज नेटवर्क, LAN, प्रणाली माहीती
X-KDE-Keywords[nb]=SMB,SAMBA,Windows-nettverk,LAN,Systeminformasjon
X-KDE-Keywords[nds]=SMB,SAMBA,Windows-Nettwark,LAN,Systeem-Informatschonen
X-KDE-Keywords[nl]=SMB,SAMBA,Windows-netwerk,LAN,systeeminformatie
X-KDE-Keywords[pa]=SMB,SAMBA,ਵਿੰਡੋਜ਼ ਨੈੱਟਵਰਕ,LAN,ਸਿਸਟਮ ਜਾਣਕਾਰੀ
X-KDE-Keywords[pl]=SMB,SAMBA,Sieć Windows,LAN,Informacje o systemie
X-KDE-Keywords[pt]=SMB,SAMBA,rede Windows,LAN,Informação do Sistema
X-KDE-Keywords[pt_BR]=SMB,SAMBA,Rede Windows,LAN,Informação do sistema
X-KDE-Keywords[ro]=SMB,SAMBA,rețea Windows,LAN,informații sistem,rețea locală
X-KDE-Keywords[ru]=SMB,SAMBA,Windows network,LAN,System Information,сеть Windows,локальная сеть,локальная вычислительная сеть,ЛВС
X-KDE-Keywords[sk]=SMB,SAMBA,Sieť Windows,LAN,Systémové informácie
X-KDE-Keywords[sl]=smb,samba,omrežje Windows,lan,krajevno omrežje,sistemski podatki,podatki o sistemu
X-KDE-Keywords[sr]=SMB,SAMBA,Windows network,LAN,System Information,СМБ,Самба,виндоуз мрежа,ЛАН,системске информације
X-KDE-Keywords[sr@ijekavian]=SMB,SAMBA,Windows network,LAN,System Information,СМБ,Самба,виндоуз мрежа,ЛАН,системске информације
X-KDE-Keywords[sr@ijekavianlatin]=SMB,SAMBA,Windows network,LAN,System Information,SMB,Samba,windows mreža,LAN,sistemske informacije
X-KDE-Keywords[sr@latin]=SMB,SAMBA,Windows network,LAN,System Information,SMB,Samba,windows mreža,LAN,sistemske informacije
X-KDE-Keywords[sv]=SMB,SAMBA,Windows-nätverk,LAN,Systeminformation
X-KDE-Keywords[tr]=SMB,SAMBA,Windows ağı,LAN,Yerel Ağ,Sistem Bilgileri
X-KDE-Keywords[uk]=SMB,SAMBA,Windows network,LAN,System Information,мережа,віндоус,віндоуз,віндовс,віндовз,система,інформація,відомості
X-KDE-Keywords[x-test]=xxSMB,SAMBA,Windows network,LAN,System Informationxx
X-KDE-Keywords[zh_CN]=SMB,SAMBA,Windows network,LAN,System Information,Windows 网络,网上邻居,局域网,系统信息
X-KDE-Keywords[zh_TW]=SMB,SAMBA,Windows network,LAN,System Information
Categories=Qt;KDE;X-KDE-information;
