[Desktop Entry]
Type=Service
Name=SVG Images
Name[ar]=صور SVG
Name[ast]=Imáxenes SVG
Name[bg]=Изображения SVG
Name[bn]=SVG ছবি
Name[bs]=SVG slike
Name[ca]=Imatges SVG
Name[ca@valencia]=Imatges SVG
Name[cs]=SVG obrázky
Name[csb]=Òbrôzczi SVG
Name[da]=SVG-billeder
Name[de]=SVG-Bilder
Name[el]=Εικόνες SVG
Name[en_GB]=SVG Images
Name[eo]=SVG-bildoj
Name[es]=Imágenes SVG
Name[et]=SVG pildid
Name[eu]=SVG irudiak
Name[fa]=تصاویر SVG
Name[fi]=SVG-kuvat
Name[fr]=Images SVG
Name[fy]=SVG-ôfbyldings
Name[ga]=Íomhánna SVG
Name[gl]=Imaxes SVG
Name[gu]=SVG ચિત્રો
Name[he]=תמונות SVG
Name[hi]=एसवीजी छवियाँ
Name[hr]=SVG slike
Name[hu]=SVG-képek
Name[ia]=Imagines SVG
Name[id]=Gambar SVG
Name[is]=SVG myndir
Name[it]=Immagini SVG
Name[ja]=SVG 画像
Name[kk]=SVG кескіндері
Name[km]=រូបភាព SVG
Name[kn]=SVG ಚಿತ್ರಗಳು
Name[ko]=SVG 그림
Name[lt]=SVG paveikslėliai
Name[lv]=SVG attēli
Name[mai]=SVG चित्र
Name[mk]=SVG-слики
Name[ml]=എസ്‌വിജി ചിത്രങ്ങള്‍
Name[mr]=SVG प्रतिमा
Name[nb]=SVG-bilder
Name[nds]=SVG-Biller
Name[nl]=SVG-afbeeldingen
Name[nn]=SVG-bilete
Name[pa]=SVG ਚਿੱਤਰ
Name[pl]=Obrazy SVG
Name[pt]=Imagens SVG
Name[pt_BR]=Imagens SVG
Name[ro]=Imagini SVG
Name[ru]=Изображения SVG
Name[si]=SVG පින්තූර
Name[sk]=Obrázky SVG
Name[sl]=Slike SVG
Name[sr]=СВГ слике
Name[sr@ijekavian]=СВГ слике
Name[sr@ijekavianlatin]=SVG slike
Name[sr@latin]=SVG slike
Name[sv]=SVG-bilder
Name[tg]=Тасвирҳои SVG
Name[th]=แฟ้มภาพประเภท SVG
Name[tr]=SVG Resimleri
Name[ug]=SVG سۈرەتلەر
Name[uk]=Зображення SVG
Name[vi]=Ảnh SVG
Name[wa]=Imådjes SVG
Name[x-test]=xxSVG Imagesxx
Name[zh_CN]=SVG 图像
Name[zh_TW]=SVG 影像
X-KDE-ServiceTypes=ThumbCreator
MimeType=image/svg+xml;image/svg+xml-compressed;
X-KDE-Library=svgthumbnail
CacheThumbnail=true
