[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=KCModule
Icon=preferences-web-browser-identification
Exec=kcmshell4 useragent
X-DocPath=kcontrol/useragent/index.html

X-KDE-Library=kcm_kio
X-KDE-PluginKeyword=useragent
X-KDE-ParentApp=kcontrol

Name=Browser Identification
Name[af]=Stelsel identifisering
Name[ar]=تعريف المتصفح
Name[as]=চৰকৰ চিনাক্তকৰণ
Name[ast]=Identificación del restolador
Name[be]=Ідэнтыфікацыя вандроўніка
Name[be@latin]=Identyfikacyja hartača
Name[bg]=Идентификация
Name[bn]=ব্রাউজার সনাক্তকরণ
Name[bn_IN]=ব্রাউজার সনাক্তকরণ
Name[br]=Anvelezh ar furcher
Name[bs]=Identifikacija pregledača
Name[ca]=Identificació del navegador
Name[ca@valencia]=Identificació del navegador
Name[cs]=Identifikace prohlížeče
Name[csb]=Identifikacëjô przezérnika
Name[cy]=Enw'r Porwr
Name[da]=Browseridentifikation
Name[de]=Browserkennung
Name[el]=Ταυτοποίηση περιηγητή
Name[en_GB]=Browser Identification
Name[eo]=TTT-legila identeco
Name[es]=Identificación del navegador
Name[et]=Brauseri identifikaator
Name[eu]=Arakatzailearen identifikazioa
Name[fa]=شناسایی مرورگر
Name[fi]=Selaimen tunnistus
Name[fr]=Identification du navigateur
Name[fy]=Blêder identifikaasje
Name[ga]=Aitheantas Brabhsálaithe
Name[gl]=Identificación do navegador
Name[gu]=બ્રાઉઝર ઓળખ
Name[he]=זיהוי הדפדפן
Name[hi]=ब्राउज़र पहचान
Name[hne]=ब्राउजर चिनहइया
Name[hr]=Identifikacija preglednika
Name[hsb]=Identifikacija browsera
Name[hu]=Böngészőazonosító
Name[ia]=Identification de Navigator
Name[id]=Identifikasi Peramban
Name[is]=Auðkenni vafra
Name[it]=Identificazione del browser
Name[ja]=ブラウザ識別情報
Name[ka]=ბრაუზერის ინდენტიფიკაცია
Name[kk]=Шолғыштың өз туралы хабарлауы
Name[km]=ការ​កំណត់​អត្តសញ្ញាណ​កម្មវិធី​រុករក
Name[kn]=ವೀಕ್ಷಕದ ಗುರುತು
Name[ko]=브라우저 증명
Name[ku]=Nasnameya Gerokê
Name[lt]=Naršyklės identifikacija
Name[lv]=Pārlūka identifikācija
Name[mai]=ब्राउजर पहचान
Name[mk]=Идентификација
Name[ml]=ബ്രൌസര്‍ തിരിച്ചറിയല്‍
Name[mr]=ब्राऊजर ओळख
Name[ms]=Pengenalpastian Pelayar
Name[nb]=Nettleseridentifisering
Name[nds]=Nettkieker-Identiteet
Name[ne]=ब्राउजर पहिचान
Name[nl]=Browseridentificatie
Name[nn]=Nettlesaridentifikasjon
Name[or]=ବ୍ରାଉଜର ପରିଚୟ
Name[pa]=ਬਰਾਊਜ਼ਰ ਪਛਾਣ
Name[pl]=Identyfikacja przeglądarki
Name[pt]=Identificação do Navegador
Name[pt_BR]=Identificação do navegador
Name[ro]=Identificare navigator web
Name[ru]=Версия браузера
Name[se]=Fierpmádatloganidentifikašuvdna
Name[si]=ගවේශකය හඳුනා ගැනීම
Name[sk]=Identifikácia prehliadača
Name[sl]=Istovetnost brskalnika
Name[sr]=Идентификација прегледача
Name[sr@ijekavian]=Идентификација прегледача
Name[sr@ijekavianlatin]=Identifikacija pregledača
Name[sr@latin]=Identifikacija pregledača
Name[sv]=Webbläsaridentifikation
Name[ta]=உலாவி அடையாளம்
Name[te]=అన్వేషణి గుర్తింపు
Name[tg]=Аслшиносии браузер
Name[th]=การแสดงตัวของเบราว์เซอร์
Name[tr]=Ağ Tarayıcı Kimliği
Name[ug]=توركۆرگۈ كىملىكى
Name[uk]=Ідентифікація навігатора
Name[vi]=Nhận diện trình duyệt
Name[wa]=Idintifiaedje do betchteu
Name[xh]=Uchazo Lomkhangeli zincwadi
Name[x-test]=xxBrowser Identificationxx
Name[zh_CN]=浏览器识别
Name[zh_TW]=瀏覽器識別

Comment=Configure the way Konqueror reports itself
Comment[af]=Stel die manier waarop Konqueror homself raporteer op
Comment[ar]=اضبط طريقة تعريف كونكيورر عن نفسه
Comment[as]=Konqueror নিজৰ বিষয়ে প্ৰতিবেদন কৰাৰ ব্যৱহাৰ বিন্যাস কৰক
Comment[ast]=Configuración del mou d'autoidentificación de Konqueror
Comment[be]=Настаўленні спосабу прадстаўлення Konqueror у Сеціве
Comment[be@latin]=Naładź, jak hartač „Konqueror” siabie pradstaŭlaje
Comment[bg]=Идентификация на браузъра
Comment[bn]=কনকরার নিজেকে কিভাবে উপস্থাপন করবে তা কনফিগার করুন
Comment[bn_IN]=Konqueror দ্বারা নিজস্ব পরিচিতি প্রদর্শন কনফিগার করুন
Comment[bs]=Podešavanje K‑osvajačevog predstavljanja
Comment[ca]=Configura la manera com el Konqueror s'identifica a si mateix
Comment[ca@valencia]=Configura la manera com el Konqueror s'identifica a si mateix
Comment[cs]=Zde můžete jak se bude Konqueror hlásit webovým serverům
Comment[csb]=Kònfigùracëjô ôrtu przedstôwianiô sã Konquerora
Comment[cy]=Ffurfweddu'r ffordd y mae Konqueror yn adrodd ei hun 
Comment[da]=Indstil hvordan Konqueror rapporterer sig selv
Comment[de]=Kennungen festlegen, mit der sich Konqueror ausgibt
Comment[el]=Διαμορφώστε τον τρόπο με τον οποίο αναφέρεται ο Konqueror
Comment[en_GB]=Configure the way Konqueror reports itself
Comment[eo]=Agordi kiel Konkeranto prezentiĝas
Comment[es]=Configuración del modo de autoidentificación de Konqueror
Comment[et]=Selle seadistamine, kuidas Konqueror endast teada annab
Comment[eu]=Konfiguratu nola azaltzen duen Konquerorrek bere burua
Comment[fa]=پیکربندی روشی که Konqueror گزارش خود را می‌دهد.
Comment[fi]=Konquerorin esittäytymistavan asetukset
Comment[fr]=Configuration de la manière dont Konqueror se signale
Comment[fy]=Hjir kinne jo fêststelle hoe Konqueror har by webtsjinners identifisearret
Comment[ga]=Cumraigh conas a chuireann Konqueror é féin in aithne
Comment[gl]=Configurar o xeito de identificarse de Konqueror
Comment[gu]=કોન્કરર પોતાને અહેવાલ આપે તે રૂપરેખાંકિત કરો
Comment[he]=הגדרת האופן שבו Konqueror מזדהה
Comment[hi]=कॉन्करर अपने आप को जिस रूप में रिपोर्ट करे वैसा कॉन्फ़िगर करें
Comment[hne]=कान्करर अपन आप जऊन रूप मं रिपोट करही वइसन कान्फिगर करव
Comment[hr]=Konfiguriranje načina na koji se Konqueror prijavljuje
Comment[hsb]=Nastajić, pod kotrym mjenom so konqueror přizjewi
Comment[hu]=A Konqueror webböngésző kliensazonosítójának beállítása
Comment[ia]=Configura le modo Konqueror reporta illo mesme
Comment[id]=Atur bagaimana cara Konqueror melaporkan dirinya
Comment[is]=Stilla hvernig Konqueror kynnir sig
Comment[it]=Configura come Konqueror si identifica con i server
Comment[ja]=Konqueror のブラウザ識別情報を設定
Comment[ka]=Konqueror-ის იდენტიფიკაციის კონფიგურირება
Comment[kk]=Konqueror өз туралы хабарлауын баптау
Comment[km]=កំណត់​រចនាសម្ព័ន្ធ​​ពី​របៀប​ដែល Konqueror រាយការណ៍​​ដោយ​ខ្លួន​វា​ផ្ទាល់
Comment[kn]=ಕಾಂಕರ್ ತನನ್ನು ವರದಿಮಾಡಿಕೊಳ್ಳುವ ರಿತಿಯನ್ನು ಸಂರಚಿಸು
Comment[ko]=Konqueror가 자신을 보고하는 방법 설정
Comment[ku]=Pergala raporkirina Konquerorê ava bike
Comment[lt]=Čia galite nustatyti, kaip Konqueror save identifikuoja
Comment[lv]=Norādiet, kā Konqueror sevi identificēt
Comment[mai]=कान्करर अपने अहाँ केँ जे रूपेँ रिपोट करैत अछि वहिना बिन्यस्त करू
Comment[mk]=Конфигурирајте го начинот на кој Konqueror се пријавува себе си
Comment[ml]=കോണ്‍ക്വറര്‍ സ്വയം തിരിച്ചറിയുന്ന രീതി ക്രമീകരിയ്ക്കുക
Comment[mr]=कॉन्करर जसा अहवाल दाखल करतो तसा संयोजीत करा
Comment[ms]=Konfigur cara Konqueror melaporkan dirinya
Comment[nb]=Tilpass Konquerors egenrapportering
Comment[nds]=Instellen, wat Konqueror seggt, woneem he is
Comment[ne]=कन्क्वेररले प्रतिवेदन गर्ने तरीकामा कन्फिगर गर्नुहोस्
Comment[nl]=Hier kunt u bepalen hoe Konqueror zich bij webservers identificeert
Comment[nn]=Vel korleis Konqueror skal presentera seg sjølv
Comment[or]=Konqueror ନିଜକୁ ଖବର କରୁଥିବା ପଥକୁ ବିନ୍ୟାସ କରନ୍ତୁ
Comment[pa]=ਕੋਨਕਿਉਰੋਰ ਦੇ ਖੁਦ ਨੂੰ ਜਾਣਕਾਰੀ ਦੇਣ ਦੇ ਢੰਗ ਦੀ ਸੰਰਚਨਾ
Comment[pl]=Konfiguracja sposobu przedstawiania się Konquerora
Comment[pt]=Configuração da forma como o Konqueror se apresenta
Comment[pt_BR]=Configura a forma como o Konqueror se apresenta
Comment[ro]=Configurează modul în care Konqueror se identifică la serverele de web
Comment[ru]=Настройка версии Konqueror
Comment[se]=Vállje mo Konqueror galgá iežas ovdanbuktit
Comment[si]=Konqueror එය විසින්ම වාර්‍ථා කරන ආකාරය සකසන්න
Comment[sk]=Nastavenie identifikácie Konquerora
Comment[sl]=Nastavitve načina predstavljanja brskalnika Konqueror
Comment[sr]=Подешавање К‑освајачевог представљања
Comment[sr@ijekavian]=Подешавање К‑освајачевог представљања
Comment[sr@ijekavianlatin]=Podešavanje K‑osvajačevog predstavljanja
Comment[sr@latin]=Podešavanje K‑osvajačevog predstavljanja
Comment[sv]=Anpassa hur Konqueror identifierar sig
Comment[ta]=கான்கொரர் அறிக்கைகளை வழிகளை வடிவமை
Comment[te]=Konqueror దానంతటదే ఎలానివేదిస్తుంతో ఆకృతీకరించుము
Comment[tg]=Танзимоти огоҳдоди Konqueror дар бораи худ
Comment[th]=ปรับแต่งการแสดงตัวของ Konqueror
Comment[tr]=Konqueror raporlama sistemini yapılandır
Comment[ug]=Konqueror نىڭ ئۆزىنى مەلۇم قىلىش ئۇسۇلىنىڭ سەپلىمىسى
Comment[uk]=Тут можна налаштувати ідентифікацію Konqueror
Comment[vi]=Cấu hình cách Konqueror tự báo cáo
Comment[wa]=Apontyî l' manire ki Konqueror s' idintifeye
Comment[xh]=Qwalasela indlela i Konqueror ezichaza ngayo
Comment[x-test]=xxConfigure the way Konqueror reports itselfxx
Comment[zh_CN]=配置 Konqueror 报告自己的方式
Comment[zh_TW]=設定 Konqueror 回報自身狀況的方式

X-KDE-Keywords=User Agent,Browser,Internet,WWW,Network,agent,bindings,server,login
X-KDE-Keywords[bg]=Браузър,Идентификация,Агент,Интернет,Уеб,Мрежа,User Agent,Browser,Internet,WWW,Network,agent,bindings,server,login
X-KDE-Keywords[bs]=User Agent,Browser,Internet,WWW,Network,agent,bindings,server,login
X-KDE-Keywords[ca]=Agent d'usuari,Navegador,Internet,WWW,Xarxa,agent,lligams,servidor,connexió
X-KDE-Keywords[ca@valencia]=Agent d'usuari,Navegador,Internet,WWW,Xarxa,agent,lligams,servidor,connexió
X-KDE-Keywords[da]=User agent,brugeragent,internet,www,netværk,agent,bindinger,server,login
X-KDE-Keywords[de]=Browserkennung,Internetprogramm,Browser,Internet,WWW,Netzwerk,Server,Zuordnungen,Anmeldung
X-KDE-Keywords[el]=Πράκτορας χρήστη,περιηγητής,διαδίκτυο,www,δίκτυο,πράκτορας,δεσμεύσεις,εξυπηρετητής,είσοδος
X-KDE-Keywords[es]=Agente de usuario,Navegador,Internet,WWW,Red,agente,bindings,servidor,inicio de sesión
X-KDE-Keywords[et]=Identifikaator,Brauser,Internet,WWW,Võrk,identifikaator,seosed,server,sisselogimine
X-KDE-Keywords[fi]=User Agent,Selaimen tunnistetiedot,Selaimen tunnistus,Selain,Internet,WWW,Verkko,agent,palvelin,kirjautuminen
X-KDE-Keywords[fr]=Agent utilisateur, navigateur, Internet, www, réseau, agent, liens, serveur, connexion
X-KDE-Keywords[ga]=UserAgent,gníomhaire úsáideora,Brabhsálaí,Idirlíon,WWW,Líonra,Gréasán,gníomhaire,ceangail,freastalaí,logáil isteach
X-KDE-Keywords[gl]=Programa cliente,navegador,internet,www,rede,axente,cliente,asociacións,servidor,acceso
X-KDE-Keywords[hu]=Böngészőazonosító,Böngésző,Internet,WWW,Hálózat,azonosító,kötések,kiszolgáló,bejelentkezés
X-KDE-Keywords[ia]=Agente usator,Navigator,Internet,WWW,Rete.agente,ligamines,servitor,authentication
X-KDE-Keywords[it]=Identificazione del browser,browser,Internet,WWW,rete,agente,binding,server,login
X-KDE-Keywords[kk]=User Agent,Browser,Internet,WWW,Network,agent,bindings,server,login
X-KDE-Keywords[km]=ភ្នាក់ងារ​អ្នកប្រើ កម្មវិធី​រុករក អ៊ីនធឺណិត WWW បណ្ដាញ ភ្នាក់ងារ ការ​ចង ម៉ាស៊ីន​បម្រើ ចូល
X-KDE-Keywords[ko]=User Agent,Browser,Internet,WWW,Network,agent,bindings,server,login,사용자 에이전트,브라우저,인터넷,네트워크,바인딩,서버,로그인
X-KDE-Keywords[lt]=Naudotojo agentas,Naršyklė,Internetas,WWW,Tinklas,Agentas,sąsajos,serveris,prisijungimas
X-KDE-Keywords[lv]=Lietotāja aģents,Pārlūks,Internets,WWW,Tīkls,aģents,sasaistes,serveris,pieteikšanās
X-KDE-Keywords[nb]=Brukeragent,Nettleser,Internett,WWW,Nettverk,agent,bindinger,tjener,login
X-KDE-Keywords[nds]=Nettkieker-Kennen,Nettkieker,Internet,WWW,Nettwark,Kennen,Toornen,Server,Anmellen
X-KDE-Keywords[nl]=Gebruikersagent,browser,internet,www,netwerk,agent,bindings,server,aanmelden
X-KDE-Keywords[pl]=Agent użytkownika,Przeglądarka,Internet,WWW,Sieć,agent, powiązania,serwer,login
X-KDE-Keywords[pt]=Agente do Utilizador,Navegador,Internet,WWW,Rede,agente,interfaces,servidor,conta
X-KDE-Keywords[pt_BR]=Agente do usuário,Navegador,Internet,WWW,Rede,agente,interfaces,servidor,conta
X-KDE-Keywords[ro]=User agent,agent urilizator,navigator,internet,WWW,rețea,agent,legături,server,autentificare
X-KDE-Keywords[ru]=User Agent,Browser,Internet,WWW,Network,agent,bindings,server,login,браузер,Интернет,сеть,агент,привязка,сервер,логин,имя пользователя
X-KDE-Keywords[sk]=Používateľský agent,Prehliadač,Internet,WWW,Sieť,agent,bindings,server,login
X-KDE-Keywords[sl]=Uporabniški posrednik,Brskalnik,Internet,WWW,Omrežje,posrednik,povezave,strežnik,prijava
X-KDE-Keywords[sr]=User Agent,Browser,Internet,WWW,Network,agent,bindings,server,login,кориснички агент,прегледач,Интернет,веб,мрежа,агент,свезе,сервер,пријава
X-KDE-Keywords[sr@ijekavian]=User Agent,Browser,Internet,WWW,Network,agent,bindings,server,login,кориснички агент,прегледач,Интернет,веб,мрежа,агент,свезе,сервер,пријава
X-KDE-Keywords[sr@ijekavianlatin]=User Agent,Browser,Internet,WWW,Network,agent,bindings,server,login,korisnički agent,pregledač,Internet,veb,mreža,agent,sveze,server,prijava
X-KDE-Keywords[sr@latin]=User Agent,Browser,Internet,WWW,Network,agent,bindings,server,login,korisnički agent,pregledač,Internet,veb,mreža,agent,sveze,server,prijava
X-KDE-Keywords[sv]=Användaragent,Webbläsare,Internet,WWW,Nätverk,agent,bindning,server,inloggning
X-KDE-Keywords[tr]=Kullanıcı İstemcisi,Tarayıcı,İnternet,WWW,Ağ,istemci,bağlayıcılar,sunucu,giriş
X-KDE-Keywords[uk]=User Agent,Browser,Internet,WWW,Network,agent,bindings,server,login,агент,перегляд,переглядач,браузер,мережа,прив’язки,прив’язування,сервер,вхід,реєстрація
X-KDE-Keywords[wa]=User Agent,idintité do betchteu,betchteu,Internet,daedntoele,WWW,rantoele,idintité,agent,sierveu,login,elodjaedje
X-KDE-Keywords[x-test]=xxUser Agent,Browser,Internet,WWW,Network,agent,bindings,server,loginxx
X-KDE-Keywords[zh_CN]=User Agent,Browser,Internet,WWW,Network,agent,bindings,server,login,用户标识,浏览器,互联网,网络,代理,绑定,服务器,登录
X-KDE-Keywords[zh_TW]=User Agent,Browser,Internet,WWW,Network,agent,bindings,server,login
