[Desktop Entry]
Encoding=UTF-8
Type=Service
Name=Web Archives
Name[ar]=أرشيف الويب
Name[bg]=Архиви на страници
Name[bs]=Veb arhive
Name[ca]=Arxius web
Name[ca@valencia]=Arxius web
Name[cs]=Webové archivy
Name[da]=Webarkiver
Name[de]=Web-Archive
Name[el]=Αρχειοθήκες ιστού
Name[en_GB]=Web Archives
Name[es]=Archivos web
Name[et]=Veebiarhiivid
Name[eu]=Web-artxiboak
Name[fi]=Verkkosivuarkistot
Name[fr]=Archives Web
Name[ga]=Cartlanna Gréasáin
Name[gl]=Arquivos web
Name[he]=ארכיון אתרי אינטרנט
Name[hne]=वेब अभिलेखागार
Name[hr]=Web arhiva
Name[hu]=Webarchívumok
Name[ia]=Archivos Web
Name[is]=Vefsíðusöfn
Name[it]=Archivi web
Name[ja]=ウェブアーカイブ
Name[kk]=Веб-архивтері
Name[km]=ប័ណ្ណសារ​តំបន់​បណ្ដាញ
Name[ko]=웹 보관
Name[ku]=Arşîvên Torê
Name[lt]=Žiniatinklio archyvai
Name[lv]=Tīmekļa arhīvi
Name[mr]=वेब संग्रह
Name[nb]=Nettarkiver
Name[nds]=Nettarchiven
Name[nl]=Webarchieven
Name[nn]=Nettsidearkiv
Name[pa]=ਵੈੱਬ ਅਕਾਇਵਰ
Name[pl]=Archiwa sieciowe
Name[pt]=Arquivos Web
Name[pt_BR]=Arquivos da Internet
Name[ro]=Arhive web
Name[ru]=Архивы веб-страниц
Name[sk]=Webové archívy
Name[sl]=Spletni arhivi
Name[sr]=Веб архиве
Name[sr@ijekavian]=Веб архиве
Name[sr@ijekavianlatin]=Veb arhive
Name[sr@latin]=Veb arhive
Name[sv]=Webbarkiv
Name[tg]=Бойгонии интернетӣ
Name[th]=แฟ้มจัดเก็บหน้าเว็บ
Name[tr]=Web Arşivleri
Name[ug]=تور ئارخىپلىرى
Name[uk]=Вебархіви
Name[wa]=Årtchives waibe
Name[x-test]=xxWeb Archivesxx
Name[zh_CN]=网页归档
Name[zh_TW]=網頁歸檔
X-KDE-ServiceTypes=ThumbCreator
MimeType=application/x-webarchive;
X-KDE-Library=webarchivethumbnail
CacheThumbnail=true
