[Desktop Entry]
Name=Akonadi Address Books
Name[ar]=دفتر عناوين اكوندا
Name[bg]=Адресници Akonadi
Name[bs]=Akonadi adresar
Name[ca]=Llibreta d'adreces de l'Akonadi
Name[ca@valencia]=Llibreta d'adreces de l'Akonadi
Name[cs]=Kniha adres Akonadi
Name[da]=Akonadi-adressebøger
Name[de]=Akonadi-Adressbücher
Name[el]=Βιβλία διευθύνσεων του Akonadi
Name[en_GB]=Akonadi Address Books
Name[es]=Libreta de direcciones Akonadi
Name[et]=Akonadi aadressiraamatud
Name[fi]=Akonadin osoitekirjat
Name[fr]=Carnet d'adresses Akonadi
Name[ga]=Leabhair Sheoltaí Akonadi
Name[gl]=Cadernos de enderezos do Akonadi
Name[hu]=Akonadi-címjegyzékek
Name[ia]=Adressarios de Akonadi
Name[it]=Rubrica indirizzi di Akonadi
Name[ja]=Akonadi アドレス帳
Name[kk]=Akonadi адрестік кітапшасы
Name[km]=សៀវភៅ​អាសយដ្ឋាន Akonadi
Name[ko]=Akonadi 주소록
Name[lt]=Akonadi adresų knygelės
Name[lv]=Akonadi adrešu grāmatas
Name[nb]=Akonadi adressebøker
Name[nds]=Akonadi-Adressbook instellen
Name[nl]=Adresboek van Akonadi
Name[nn]=Akonadi-adressebøker
Name[pa]=ਅਕੌਂਡੀ ਐਡਰੈੱਸ ਬੁੱਕ
Name[pl]=Książki adresowe Akonadi
Name[pt]=Livros de Endereços do Akonadi
Name[pt_BR]=Livro de endereços do Akonadi
Name[ro]=Cărți de adrese Akonadi
Name[ru]=Адресные книги Akonadi
Name[sk]=Adresár Akonadi
Name[sl]=Akonadijevi imeniki
Name[sr]=Адресари Аконадија
Name[sr@ijekavian]=Адресари Аконадија
Name[sr@ijekavianlatin]=Adresari Akonadija
Name[sr@latin]=Adresari Akonadija
Name[sv]=Akonadi adressböcker
Name[tr]=Akonadi Adres Defterleri
Name[uk]=Адресні книги Akonadi
Name[x-test]=xxAkonadi Address Booksxx
Name[zh_CN]=Akonadi 地址簿
Name[zh_TW]=Akonadi 通訊錄
Comment=Provides access to contacts stored in Akonadi address book folders
Comment[ar]=يوفر الدخول لجهات الإتصال المحفوظة في مجلد دفتر عناوين اكوندا
Comment[bs]=Omogućuje pristup kontaktima pohranjenim u Akonadi imenicima
Comment[ca]=Proporciona l'accés als contactes emmagatzemats en carpetes de llibreta d'adreces de l'Akonadi
Comment[ca@valencia]=Proporciona l'accés als contactes emmagatzemats en carpetes de llibreta d'adreces de l'Akonadi
Comment[da]=Giver adgang til kontakter lagret i Akonadi adressebogs-mapper
Comment[de]=Ermöglicht den Zugriff auf Kontakte, die in Akonadi-Adressbuchordnern gespeichert sind.
Comment[el]=Παρέχει πρόσβαση σε επαφές αποθηκευμένες σε φακέλους βιβλίων διευθύνσεων του Akonadi
Comment[en_GB]=Provides access to contacts stored in Akonadi address book folders
Comment[es]=Proporciona acceso a los contactos almacenados en carpetas de la libreta de direcciones de Akonadi
Comment[et]=Võimaldab kasutada Akonadi aadressiraamatukaustadesse salvestatud kontakte
Comment[fi]=Tarjoaa pääsyn Akonadin osoitekirjakansioihin tallennettuihin yhteystietoihin
Comment[fr]=Fournit l'accès aux contacts enregistrés dans les dossiers du carnet d'adresses Akonadi
Comment[gl]=Fornece acceso aos contactos almacenados nos cartafoles de caderno de enderezos do Akonadi
Comment[hu]=Hozzáférést biztosít Akonadi-címjegyzékekben tárolt névjegyekhez
Comment[ia]=Provide accesso a contactos salveguardate in dossiers de adressarios de Akonadi
Comment[it]=Consente l'accesso ai contatti memorizzati in cartelle di tipo rubrica di Akonadi
Comment[ja]=Akonadi のアドレス帳フォルダに保存されている連絡先へのアクセスを提供します
Comment[kk]=Akonadi адрестік кітапшасының қапшығындағы контакттарға қатынау
Comment[km]=ចូល​ដំណើរការ​ទៅ​កាន់​ទំនាក់ទំនង​ដែល​បាន​ទុក​នៅ​ក្នុង​ថត​សៀវភៅ​អាសយដ្ឋាន Akonadi
Comment[ko]=Akonadi 주소록에 저장된 연락처에 접근합니다
Comment[lt]=Suteikia priėjimą prie adresatų, saugomų Akonadi adresų knygelės aplankuose
Comment[lv]=Nodrošina piekļuvi kontaktiem, kas glabājas Akonadi adrešu grāmatu mapēs
Comment[nb]=Gir tilgang til kontakter lagret i Akonadi adressebok-mappene
Comment[nds]=Stellt Togriep op binnen Akonadi sien Adressbookornern wohrte Kontakten praat
Comment[nl]=Geeft toegang tot de in de adresboekmappen van Akonadi opgeslagen contactpersonen
Comment[nn]=Gjev tilgang til kontaktar lagra i Akonadi-adressebokmapper
Comment[pa]=ਅਕੌਂਡੀ ਐਡਰੈੱਸ ਬੁੱਕ ਫੋਲਡਰਾਂ ਵਿੱਚ ਸਟੋਰ ਕੀਤੇ ਸੰਪਰਕਾਂ ਲਈ ਅਸੈੱਸ ਹੈ
Comment[pl]=Zapewnia dostęp do wizytówek przechowywanych w katalogach książki adresowej Akonadi
Comment[pt]=Oferece o acesso aos contactos guardados nas pastas do livro de endereços do Akonadi
Comment[pt_BR]=Fornece acesso aos contatos armazenados nas pastas do livro de endereços do Akonadi
Comment[ro]=Oferă acces la contactele stocate în dosarele cărții de adrese Akonadi
Comment[ru]=Доступ к папкам адресных книг Akonadi
Comment[sk]=Poskytuje prístup ku kontaktom uloženým v priečinkoch adresára Akonadi
Comment[sl]=Omogoča dostop do stikov, shranjenih v Akonadijevih mapah z imeniki
Comment[sr]=Омогућава приступ контактима смештеним у адресним фасциклама Аконадија
Comment[sr@ijekavian]=Омогућава приступ контактима смјештеним у адресним фасциклама Аконадија
Comment[sr@ijekavianlatin]=Omogućava pristup kontaktima smještenim u adresnim fasciklama Akonadija
Comment[sr@latin]=Omogućava pristup kontaktima smeštenim u adresnim fasciklama Akonadija
Comment[sv]=Ger tillgång till kontakter lagrade i Akonadi adressbokskataloger
Comment[tr]=Akonadi adres defteri dizinlerindeki kişilere erişimi sağlar
Comment[uk]=Надає доступ до контактів, які зберігаються у теках адресної книги Akonadi
Comment[x-test]=xxProvides access to contacts stored in Akonadi address book foldersxx
Comment[zh_CN]=提供对存储在 Akonadi 地址簿文件夹中的联系人的访问支持
Comment[zh_TW]=提供存取儲存在 Akonadi 通訊錄資料夾中的聯絡人
X-KDE-Library=kabc_akonadi
Type=Service
ServiceTypes=KResources/Plugin
X-KDE-ResourceFamily=contact
X-KDE-ResourceType=akonadi
