[Desktop Entry]
Name=Folder
Name[bs]=Direktorij
Name[ca]=Carpeta
Name[ca@valencia]=Carpeta
Name[cs]=Složka
Name[da]=Mappe
Name[de]=Ordner
Name[el]=Φάκελος
Name[en_GB]=Folder
Name[eo]=Dosierujo
Name[es]=Carpeta
Name[et]=Kataloog
Name[fi]=Kansio
Name[fr]=Dossier
Name[ga]=Fillteán
Name[gl]=Cartafol
Name[he]=תיקייה
Name[hu]=Mappa
Name[ia]=Dossier
Name[it]=Cartella
Name[ja]=フォルダ
Name[kk]=Қапшық
Name[km]=ថត
Name[lt]=Aplankas
Name[lv]=Mape
Name[mr]=संचयीका
Name[nb]=Mappe
Name[nds]=Orner
Name[nl]=Map
Name[nn]=Mappe
Name[pa]=ਫੋਲਡਰ
Name[pl]=Katalog
Name[pt]=Pasta
Name[pt_BR]=Pasta
Name[ro]=Dosar
Name[ru]=Папка
Name[sk]=Priečinok
Name[sl]=Mapa
Name[sr]=Фасцикла
Name[sr@ijekavian]=Фасцикла
Name[sr@ijekavianlatin]=Fascikla
Name[sr@latin]=Fascikla
Name[sv]=Katalog
Name[th]=โฟลเดอร์
Name[tr]=Dizin
Name[ug]=قىسقۇچ
Name[uk]=Тека
Name[wa]=Ridant
Name[x-test]=xxFolderxx
Name[zh_CN]=文件夹
Name[zh_TW]=資料夾
Comment=Provides access to contacts, each stored in a single file, in a given folder. Supports standard vCard file and other formats depending on availability of plugins.
Comment[bs]=Pruža pristup kontaktima skladištenim u poјedinačnim datotekama u datom direktoriju. Podržava standardne VCard datoteke i druge formate, prema raspoloživim priključcima.
Comment[ca]=Proporciona l'accés als contactes, cada un emmagatzemat en un fitxer individual, en una carpeta proporcionada. Accepta els fitxers estàndard vCard i altres formats depenent de la disponibilitat dels connectors.
Comment[ca@valencia]=Proporciona l'accés als contactes, cada un emmagatzemat en un fitxer individual, en una carpeta proporcionada. Accepta els fitxers estàndard vCard i altres formats depenent de la disponibilitat dels connectors.
Comment[cs]=Poskytuje přístup ke kontaktům, každém uloženém v jednom souboru v dané složce. Podporuje standardní soubory s vizitkou a jiným formátům podle dostupných modulů.
Comment[da]=Giver adgang til kontakter, hver lagret i en enkelt fil, i en given mappe. Understøtter standard vCard-fil og andre formater afhængigt af tilgængeligheden af plugins.
Comment[de]=Ermöglicht Zugriff auf Kontakte, die in einzelnen Dateien in einem vorgegebenen Ordner gespeichert sind. Unterstützt Standard-vCard-Dateien und andere Formate abhängig von den verfügbaren Modulen.
Comment[el]=Προσφέρει πρόσβαση σε επαφές, αποθηκευμένες σε ξεχωριστά αρχεία, σε ένα δοσμένο φάκελο. Υποστηρίζει τυπικά αρχεία vCard και άλλες μορφές αρχείων ανάλογα με τη διαθεσιμότητα των πρόσθετων.
Comment[es]=Proporciona acceso a los contactos, cada uno almacenado en un archivo diferente, dentro de una carpeta determinada. Admite archivos vCard estándar y otros formatos dependiendo de la disponibilidad de los complementos.
Comment[fi]=Tarjoaa pääsyn annetun kansion yksittäisiin tiedostoihin tallennettuihin yhteystietoihin. Tukee vakiomuotoista vCard-tiedostoa sekä muita tiedostomuotoja liitännäisistä riippuen.
Comment[fr]=Fournit un accès aux contacts dont chacun est enregistré dans un fichier, dans le dossier indiqué. Le format « vCard » et d'autres formats sont pris en charge selon les modules externes disponibles.
Comment[gl]=Fornece acceso aos contactos, cada un gardado nun ficheiro nun cartafol dado. Admite ficheiros vCard estándar e outros formatos, en función da dispoñibilidade de engadidos.
Comment[hu]=Névjegyek elérését biztosítja. Minden névjegy külön fájlban található, egy adott mappában. Támogatja a szabványos vCard fájlt és az elérhető bővítményektől függően más formátumokat.
Comment[ia]=Il provide accessos a contactos, cata un immagazinate in un singule file, in un date dossier. Il supporta file de standard VCard e altere formatos dependente ab le disponibilitate de plugins.
Comment[it]=Fornisce accesso a contatti, ciascuno dei quali memorizzato in un singolo file in una cartella data. Gestisce file in standard vCard e altri formati in base alle estensioni disponibili.
Comment[kk]=Көрсетілген қапшықта, әрбірі бөлек файлда сақталған контакттарға қатынау мүмкіндігін береді. Плагині бар-жоғына қарай, vCard және басқа да пішімдерді тани алады.
Comment[nb]=Gir tilgang til kontakter, lagret hver for seg i en enkelt fil, i en gitt mappe. Støtter standard vCard og andre formater avhengig av tilgjengelige programtillegg.
Comment[nl]=Geeft toegang tot contactpersonen, elk opgeslagen in een enkel bestand in een opgegeven map. Ondersteunt standaard vCard-bestand en andere van beschikbare plug-ins afhankelijke formaten
Comment[pl]=Daje dostęp do kontaktów, z których każdy jest przechowywany w oddzielnym pliku, w podanym katalogu. Obsługuje pliki zgodne ze standardem vCard i inne, jeśli są dostępne odpowiednie wtyczki.
Comment[pt]=Oferece o acesso aos contactos, estando cada um guardado num único ficheiro de uma dada pasta. Suporta os ficheiros vCard normais, assim como outros formatos, dependendo da disponibilidade dos 'plugins'.
Comment[pt_BR]=Fornece acesso aos contatos, cada um armazenado em um único arquivo, em uma pasta informada. Suporta o formato de arquivos vCard padrão e outros formatos, dependendo da disponibilidade de plugins.
Comment[ru]=Предоставляет доступ к контактам, хранящимся в отдельных файлах в заданной папке. Поддерживает стандартный формат vCard и другие форматы при наличии соответствующих модулей.
Comment[sk]=Poskytuje prístup ku kontaktom, každý uložený v samostatnom súbore v danom adresári. Podporuje štandardný vCard súbor a ostatné formáty v závislosti od dostupnosti zásuvných modulov.
Comment[sr]=Пружа приступ контактима складиштеним у појединачним фајловима у датој фасцикли. Подржава стандардне в‑кард фајлове и друге формате, према расположивим прикључцима.
Comment[sr@ijekavian]=Пружа приступ контактима складиштеним у појединачним фајловима у датој фасцикли. Подржава стандардне в‑кард фајлове и друге формате, према расположивим прикључцима.
Comment[sr@ijekavianlatin]=Pruža pristup kontaktima skladištenim u pojedinačnim fajlovima u datoj fascikli. Podržava standardne vCard fajlove i druge formate, prema raspoloživim priključcima.
Comment[sr@latin]=Pruža pristup kontaktima skladištenim u pojedinačnim fajlovima u datoj fascikli. Podržava standardne vCard fajlove i druge formate, prema raspoloživim priključcima.
Comment[sv]=Ger tillgång till kontakter, var och en lagrad i en enstaka fil, i en given katalog. Stöder vCard-standardfiler och andra format, beroende på tillgängliga insticksprogram.
Comment[tr]=Verilen bir dizin içerisindeki, her biri bir dosya içerisinde bulunan kişilere erişmeyi sağlar. VCard dosyalarını ve eklentilere uygun diğer biçimleri destekler.
Comment[uk]=Надає доступ до контактів, кожен з яких зберігається у окремому файлі у вказаній теці. Підтримує стандартні файли vCard та файли у інших форматах, залежно від наявності відповідних додатків.
Comment[x-test]=xxProvides access to contacts, each stored in a single file, in a given folder. Supports standard vCard file and other formats depending on availability of plugins.xx
Comment[zh_CN]=提供对被存储在指定目录下的单独一个文件中的联系人的访问支持。支持标准 vCard 文件和其它插件所允许的格式。
Comment[zh_TW]=提供存取特定目錄下，個別儲存在單一檔案中的聯絡人的功能。支援標準的 vCard 檔，以及外掛程式所提供的其它格式檔案。
X-KDE-Library=kabc_directory
Type=Service
X-KDE-ServiceTypes=KResources/Plugin
X-KDE-ResourceFamily=contact
X-KDE-ResourceType=dir
