[Desktop Entry]
Name=File
Name[be]=Файл
Name[bs]=Datoteka
Name[ca]=Fitxer
Name[ca@valencia]=Fitxer
Name[cs]=Soubor
Name[da]=Fil
Name[de]=Datei
Name[el]=Αρχείο
Name[en_GB]=File
Name[eo]=Dosiero
Name[es]=Archivo
Name[et]=Fail
Name[fi]=Tiedosto
Name[fr]=Fichier
Name[ga]=Comhad
Name[gl]=Ficheiro
Name[he]=קובץ
Name[hne]=फाइल
Name[hu]=Fájl
Name[ia]=File
Name[it]=File
Name[ja]=ファイル
Name[kk]=Файл
Name[km]=ឯកសារ
Name[lt]=Failas
Name[lv]=Fails
Name[mr]=फाईल
Name[nb]=Fil
Name[nds]=Datei
Name[nl]=Bestand
Name[nn]=Fil
Name[oc]=Fichièr
Name[pa]=ਫਾਇਲ
Name[pl]=Plik
Name[pt]=Ficheiro
Name[pt_BR]=Arquivo
Name[ro]=Fișier
Name[ru]=Файл
Name[se]=Fiila
Name[sk]=Súbor
Name[sl]=Datoteka
Name[sq]=Skedari
Name[sr]=Фајл
Name[sr@ijekavian]=Фајл
Name[sr@ijekavianlatin]=Fajl
Name[sr@latin]=Fajl
Name[sv]=Fil
Name[th]=แฟ้ม
Name[tr]=Dosya
Name[ug]=ھۆججەت
Name[uk]=Файл
Name[wa]=Ficthe
Name[x-test]=xxFilexx
Name[zh_CN]=文件
Name[zh_TW]=檔案
Comment=Provides access to contacts stored in a single local file. Supports standard vCard files and other formats depending on available plugins.
Comment[bs]=Pruža pristup kontaktima skladištenim u јednoj lokalnoj datoteci. Podržava standardne VCard faјlove i druge formate, prema raspoloživim priključcima.
Comment[ca]=Proporciona l'accés als contactes emmagatzemats en un fitxer individual. Accepta els fitxers estàndard vCard i altres formats, depenent dels connectors disponibles.
Comment[ca@valencia]=Proporciona l'accés als contactes emmagatzemats en un fitxer individual. Accepta els fitxers estàndard vCard i altres formats, depenent dels connectors disponibles.
Comment[cs]=Poskytuje přístup ke kontaktům uloženým v jednom lokálním souboru. Podporuje standardní soubory s vizitkou a jiným formátům podle dostupných modulů.
Comment[da]=Giver adgang til kontakter, hver lagret i en enkelt fil. Understøtter standard vCard-fil og andre formater afhængigt af tilgængelige af plugins.
Comment[de]=Ermöglicht Zugriff auf Kontakte, die in einer einzigen Datei lokal gespeichert sind. Unterstützt Standard-vCard-Dateien und andere Formate abhängig von den verfügbaren Modulen.
Comment[el]=Προσφέρει πρόσβαση σε επαφές, αποθηκευμένες σε ένα τοπικό αρχείο. Υποστηρίζει τυπικά αρχεία vCard και άλλες μορφές αρχείων ανάλογα με τη διαθεσιμότητα των πρόσθετων.
Comment[es]=Proporciona acceso a los contactos almacenados en un único archivo local. Admite archivos vCard estándar y otros formatos dependiendo de la disponibilidad de los complementos.
Comment[fi]=Tarjoaa pääsyn yksittäiseen paikalliseen tiedostoon tallennettuihin yhteystietoihin. Tukee vakiomuotoisia vCard-tiedostoja sekä muita tiedostomuotoja liitännäisistä riippuen.
Comment[fr]=Fournit un accès aux contacts enregistrés dans un unique fichier local. Le format « vCard » et d'autres formats sont pris en charge selon les modules externes disponibles.
Comment[gl]=Fornece acceso a contactos gardados nun único ficheiro local. Admite ficheiros vCard estándar e outros formatos en función dos engadidos dispoñíbeis.
Comment[hu]=Névjegyek elérését biztosítja. Minden névjegy egy közös helyi fájlban található. Támogatja a szabványos vCard fájlt és az elérhető bővítményektől függően más formátumokat.
Comment[ia]=Il provide accessos a contactos immagazinate in un singule file local. Il supporta files de standard VCard e altere formatos in dependentia de plugins disponibile.
Comment[it]=Fornisce accesso a contatti memorizzati in un singolo file locale. Gestisce file in standard vCard e altri formati in base alle estensioni disponibili.
Comment[kk]=Бір файлда сақталған контакттарға қатынау мүмкіндігін береді. Плагині бар-жоғына қарай, vCard және басқа да пішімдерді тани алады.
Comment[nb]=Gir tilgang til kontakter, lagret i en enkelt lokal fil. Støtter standard vCard og andre formater avhengig av tilgjengelige programtillegg.
Comment[nl]=Geeft toegang tot in een enkel lokaal bestand opgeslagen contactpersonen. Ondersteunt standaard vCard-bestanden en andere van beschikbare plug-ins afhankelijke formaten.
Comment[pl]=Daje dostęp do kontaktów przechowywanych w jednym pliku lokalnym. Obsługuje pliki zgodne ze standardem vCard i inne, jeśli są dostępne odpowiednie wtyczki.
Comment[pt]=Oferece o acesso aos contactos, estando todos guardados num único ficheiro local. Suporta os ficheiros vCard normais, assim como outros formatos, dependendo da disponibilidade dos 'plugins'.
Comment[pt_BR]=Fornece acesso aos contatos armazenados em um único arquivo local. Suporta o formato de arquivos vCard padrão e outros formatos, dependendo da disponibilidade de plugins.
Comment[ru]=Предоставляет доступ к контактам, хранящимся в одном локальном файле. Поддерживает стандартный формат vCard и другие форматы при наличии соответствующих модулей.
Comment[sk]=Poskytuje prístup ku kontaktom uloženým v samostatnom lokálnom súbore. Podporuje štandardný vCard súbor a ostatné formáty v závislosti od dostupnosti zásuvných modulov.
Comment[sr]=Пружа приступ контактима складиштеним у једном локалном фајлу. Подржава стандардне в‑кард фајлове и друге формате, према расположивим прикључцима.
Comment[sr@ijekavian]=Пружа приступ контактима складиштеним у једном локалном фајлу. Подржава стандардне в‑кард фајлове и друге формате, према расположивим прикључцима.
Comment[sr@ijekavianlatin]=Pruža pristup kontaktima skladištenim u jednom lokalnom fajlu. Podržava standardne vCard fajlove i druge formate, prema raspoloživim priključcima.
Comment[sr@latin]=Pruža pristup kontaktima skladištenim u jednom lokalnom fajlu. Podržava standardne vCard fajlove i druge formate, prema raspoloživim priključcima.
Comment[sv]=Ger tillgång till kontakter lagrade i en enda lokal fil. Stöder vCard-standardfiler och andra format, beroende på tillgängliga insticksprogram.
Comment[tr]=Yerel bir dosya içerisindeki kişilere erişmeyi sağlar. VCard dosyalarını ve eklentilere uygun diğer biçimleri destekler.
Comment[uk]=Надає доступ до контактів, які зберігаються у окремому локальному файлі. Підтримує стандартні файли vCard та файли у інших форматах, залежно від наявності відповідних додатків.
Comment[x-test]=xxProvides access to contacts stored in a single local file. Supports standard vCard files and other formats depending on available plugins.xx
Comment[zh_CN]=提供对被存储在单独的本地文件中的联系人的访问支持。支持标准 vCard 文件和其它插件所允许的格式。
Comment[zh_TW]=提供存取儲存在單一檔案中的聯絡人的功能。支援標準的 vCard 檔，以及外掛程式所提供的其它格式檔案。
X-KDE-Library=kabc_file
Type=Service
X-KDE-ServiceTypes=KResources/Plugin
X-KDE-ResourceFamily=contact
X-KDE-ResourceType=file
