[Desktop Entry]
Name=LDAP
Name[be]=LDAP
Name[bs]=LDAP
Name[ca]=LDAP
Name[ca@valencia]=LDAP
Name[cs]=LDAP
Name[da]=LDAP
Name[de]=LDAP
Name[el]=LDAP
Name[en_GB]=LDAP
Name[eo]=LDAP
Name[es]=LDAP
Name[et]=LDAP
Name[fi]=LDAP
Name[fr]=LDAP
Name[ga]=LDAP
Name[gl]=LDAP
Name[he]=LDAP
Name[hne]=एलडीएपी
Name[hu]=LDAP
Name[ia]=LDAP
Name[it]=LDAP
Name[ja]=LDAP
Name[kk]=LDAP
Name[km]=LDAP
Name[lt]=LDAP
Name[lv]=LDAP
Name[mr]=LDAP
Name[nb]=LDAP
Name[nds]=LDAP
Name[nl]=LDAP
Name[nn]=LDAP
Name[oc]=LDAP
Name[pa]=LDAP
Name[pl]=LDAP
Name[pt]=LDAP
Name[pt_BR]=LDAP
Name[ro]=LDAP
Name[ru]=LDAP
Name[se]=LDAP
Name[sk]=LDAP
Name[sl]=LDAP
Name[sq]=LDAP
Name[sr]=ЛДАП
Name[sr@ijekavian]=ЛДАП
Name[sr@ijekavianlatin]=LDAP
Name[sr@latin]=LDAP
Name[sv]=LDAP
Name[th]=ระบบ LDAP
Name[tr]=LDAP
Name[ug]=LDAP
Name[uk]=LDAP
Name[wa]=LDAP
Name[x-test]=xxLDAPxx
Name[zh_CN]=LDAP
Name[zh_TW]=LDAP
Comment=Provides access to contacts stored on a LDAP directory server
Comment[bs]=Pruža pristup kontaktima skladištenim na serveru LDAP imenika
Comment[ca]=Proporciona l'accés als contactes emmagatzemats en un servidor de directori LDAP
Comment[ca@valencia]=Proporciona l'accés als contactes emmagatzemats en un servidor de directori LDAP
Comment[cs]=Poskytuje přístup ke kontaktům uloženým v adresářovém serveru LDAP
Comment[da]=Giver adgang til kontakter lagret på en LDAP directory-server
Comment[de]=Ermöglicht Zugriff auf Kontakte, die auf einem LDAP-Server gespeichert sind.
Comment[el]=Προσφέρει πρόσβαση σε επαφές, αποθηκευμένες σε έναν εξυπηρετητή καταλόγου LDAP
Comment[en_GB]=Provides access to contacts stored on a LDAP directory server
Comment[es]=Provee acceso a los contactos almacenados en un servidor de directorios LDAP
Comment[et]=Võimaldab kasutada LDAP kataloogiserverisse salvestatud kontakte
Comment[fi]=Tarjoaa pääsyn LDAP-hakemistopalvelimelle tallennettuihin yhteystietoihin
Comment[fr]=Fournit un accès aux contacts enregistrés dans un annuaire LDAP
Comment[ga]=Soláthraíonn sé seo rochtain ar theagmhálacha atá stóráilte in eolaire LDAP
Comment[gl]=Fornece acceso a contactos gardados nun servidor de directorio LDAP
Comment[he]=מספק גישה אל אנשי קשר המאוחסנים בשרת LDAP
Comment[hu]=LDAP címtárkiszolgálókon tárolt névjegyek elérését biztosítja.
Comment[ia]=Il provide accesso a contactos immagazinate sur un servitor de directorio LDAP
Comment[it]=Fornisce accesso a contatti memorizzati su un server LDAP
Comment[ja]=LDAP ディレクトリサーバに保存されている連絡先へのアクセスを提供します。
Comment[kk]=LDAP каталог серверінде сақталған контакттарға қатынау мүмкіндігін береді.
Comment[km]=ផ្ដល់​ការ​ចូលដំណើរការ​ទៅ​ទំនាក់ទំនង​ដែល​បានផ្ទុក​នៅ​លើ​ម៉ាស៊ីន​បម្រើ​ថត LDAP
Comment[lt]=Suteikia prieigą prie kontaktų, saugomų LDAP aplankų serveryje
Comment[lv]=Nodrošina piekļuvi kontaktiem, kas glabājas LDAP direktorija serverī
Comment[nb]=Gir tilgang til kontakter lagret på en LDAP-katalogtjener
Comment[nds]=Stellt Togriep op Kontakten praat, de op en LDAP-Vertelenserver wohrt warrt
Comment[nl]=Geeft toegang tot contactpersonen, opgeslagen op een LDAP-directoryserver
Comment[nn]=Gjev tilgang til kontaktar lagra på ein LDAP-katalogtenar
Comment[pl]=Daje dostęp do kontaktów przechowywanych na serwerze katalogowym LDAP
Comment[pt]=Oferece o acesso aos contactos guardados num servidor de directório LDAP
Comment[pt_BR]=Fornece acesso aos contatos armazenados em um servidor de pastas LDAP
Comment[ro]=Oferă acces la contactele stocate în dosarele unui server LDAP
Comment[ru]=Предоставляет доступ к контактам на сервере каталогов LDAP
Comment[sk]=Poskytuje prístup ku kontaktom uloženým na LDAP adresárovom serveri.
Comment[sl]=Nudi dostop do stikov, ki so shranjeni na imeniškem strežniku LDAP
Comment[sr]=Пружа приступ контактима складиштеним на серверу ЛДАП именика
Comment[sr@ijekavian]=Пружа приступ контактима складиштеним на серверу ЛДАП именика
Comment[sr@ijekavianlatin]=Pruža pristup kontaktima skladištenim na serveru LDAP imenika
Comment[sr@latin]=Pruža pristup kontaktima skladištenim na serveru LDAP imenika
Comment[sv]=Ger tillgång till kontakter lagrade på en LDAP-katalogserver
Comment[th]=จัดเตรียมส่วนเข้าใช้งานที่อยู่ติดต่อที่จัดเก็บไว้บนแม่ข่ายบริการไดเรกทอรี LDAP
Comment[tr]=Bir LDAP dizin sunucusunda depolanmış kişilere erişim sağlar
Comment[uk]=Надає доступ до записів контактів, які зберігаються на сервері каталогів LDAP
Comment[wa]=Vos permet d' moussî dins des contaks wårdés dins l' ridant d' on sierveu LDAP
Comment[x-test]=xxProvides access to contacts stored on a LDAP directory serverxx
Comment[zh_CN]=提供对被存储在 LDAP 目录服务器上的联系人的访问支持
Comment[zh_TW]=提供存取儲存在 LDAP 目錄伺服器上的聯絡人的功能
X-KDE-Library=kabc_ldapkio
Type=Service
X-KDE-ServiceTypes=KResources/Plugin
X-KDE-ResourceFamily=contact
X-KDE-ResourceType=ldapkio
