[Desktop Entry]
Name=Network
Name[be]=Сетка
Name[bs]=Mreža
Name[ca]=Xarxa
Name[ca@valencia]=Xarxa
Name[cs]=Síť
Name[da]=Netværk
Name[de]=Netzwerk
Name[el]=Δίκτυο
Name[en_GB]=Network
Name[eo]=Reto
Name[es]=Red
Name[et]=Võrk
Name[fi]=Verkko
Name[fr]=Réseau
Name[ga]=Líonra
Name[gl]=Rede
Name[he]=רשת 
Name[hne]=नेटवर्क
Name[hu]=Hálózat
Name[ia]=Rete
Name[it]=Rete
Name[ja]=ネットワーク
Name[kk]=Желі
Name[km]=បណ្តាញ
Name[lt]=Tinklas
Name[lv]=Tīkls
Name[mr]=संजाळ
Name[nb]=Nettverk
Name[nds]=Nettwark
Name[nl]=Netwerk
Name[nn]=Nettverk
Name[oc]=Ret
Name[pa]=ਨੈੱਟਵਰਕ
Name[pl]=Sieć
Name[pt]=Rede
Name[pt_BR]=Rede
Name[ro]=Rețea
Name[ru]=Сетевой файл
Name[se]=Fierbmi
Name[sk]=Sieť
Name[sl]=Omrežje
Name[sq]=Rrjeti
Name[sr]=Мрежа
Name[sr@ijekavian]=Мрежа
Name[sr@ijekavianlatin]=Mreža
Name[sr@latin]=Mreža
Name[sv]=Nätverk
Name[th]=ระบบเครือข่าย
Name[tr]=Ağ
Name[ug]=تور
Name[uk]=Мережа
Name[wa]=Rantoele
Name[x-test]=xxNetworkxx
Name[zh_CN]=网络
Name[zh_TW]=網路
Comment=Provides access to contacts in remote files using KDE's network framework KIO. Supports standard vCard files and other formats depending on available plugins.
Comment[bs]=Pruža pristup kontaktima u udaljenim datotekama preko KDE-ovog mrežnog radnog okvira KIO. Podržava standardne VCard datoteke i druge formate, prema raspoloživim priključcima.
Comment[ca]=Proporciona l'accés als contactes en fitxers remots usant la infraestructura KIO de xarxa del KDE. Accepta els fitxers estàndard vCard i altres formats, depenent dels connectors disponibles.
Comment[ca@valencia]=Proporciona l'accés als contactes en fitxers remots usant la infraestructura KIO de xarxa del KDE. Accepta els fitxers estàndard vCard i altres formats, depenent dels connectors disponibles.
Comment[cs]=Poskytuje přístup ke vzdáleným kontaktům pomocí síťového frameworku KDE KIO. Podporuje standardní soubory s vizitkou a jiným formátům podle dostupných modulů.
Comment[da]=Giver adgang til kontakter i eksterne filer med brug af KDE's netværks-framework KIO. Understøtter standard vCard-filer og andre formater afhængigt af tilgængelige plugins.
Comment[de]=Ermöglicht Zugriff auf Kontakte in entfernten Dateien durch das KIO-Netzwerksystem von KDE. Unterstützt Standard-vCard-Dateien und andere Formate abhängig von den verfügbaren Modulen.
Comment[el]=Προσφέρει πρόσβαση σε επαφές σε απομακρυσμένα αρχεία με τη χρήση του συστήματος KIO του KDE. Υποστηρίζει τυπικά αρχεία vCard και άλλες μορφές αρχείων ανάλογα με τη διαθεσιμότητα των πρόσθετων.
Comment[es]=Proporciona acceso a los contactos en un archivo remoto utilizando la infraestructura de red KIO de KDE. Admite archivos vCard estándar y otros formatos dependiendo en la disponibilidad de los complementos.
Comment[fi]=Tarjoaa pääsyn etätiedostoissa oleviin yhteystietoihin KDE:n verkkokehyksen KIOn välityksellä. Tukee vakiomuotoisia vCard-tiedostoja sekä muita tiedostomuotoja liitännäisistä riippuen.
Comment[fr]=Fournit un accès aux contacts enregistrés dans des fichiers distants en utilisant le mécanisme réseau KIO de KDE. Le format « vCard » et d'autres formats sont pris en charge selon les modules externes disponibles.
Comment[gl]=Fornece acceso a contactos gardados en ficheiros remotos mediante a infraestrutura de rede KIO, de KDE. Admite ficheiros vCard estándar e outros formatos en función dos engadidos dispoñíbeis.
Comment[hu]=Távoli fájlokban található névjegyek elérését biztosítja a KDE KIO hálózati keretrendszeren keresztül. Támogatja a szabványos vCard fájlt és az elérhető bővítményektől függően más formátumokat.
Comment[ia]=Il provide accesso a contactos in files remote usante le schema de rete de KDE KIO. Il suppporta files de standard VCard e altere formatos in dependentia de plugins disponibile.
Comment[it]=Fornisce accesso a contatti su file remoti usando KIO, l'infrastruttura di rete di KDE. Gestisce file in standard vCard e altri formati in base alle estensioni disponibili.
Comment[kk]=KDE-нің KIO желі құрылымы арқылы қашықтағы файлдарда сақталған контакттарға қатынау мүмкіндігін береді. Плагині бар-жоғына қарай, vCard және басқа да пішімдерді тани алады.
Comment[nb]=Gir tilgang til kontakter i nettverksfiler, ved bruk av KDEs rammeverk KIO for nettverk. Støtter standard vCard og andre formater avhengig av tilgjengelige programtillegg.
Comment[nl]=Geeft toegang tot contactpersonen in externe bestanden gebruikmakend van KIO, een netwerkonderdeel van KDE. Ondersteunt standaard vCard-bestanden en andere van beschikbare plug-ins afhankelijke formaten.
Comment[pl]=Daje dostęp do kontaktów w zdalnym pliku przy użyciu modułu sieciowego KIO. Obsługuje pliki zgodne ze standardem vCard oraz inne, jeśli dostępne są odpowiednie wtyczki.
Comment[pt]=Oferece o acesso aos contactos em ficheiros remotos, disponíveis através de um KIO da plataforma de rede do KDE.  Suporta os ficheiros vCard normais, assim como outros formatos, dependendo da disponibilidade dos 'plugins'.
Comment[pt_BR]=Fornece acesso aos contatos em arquivos remotos usando o KIO framework de rede do KDE. O suporte a arquivos vCard padrão e outros formatos dependem da disponibilidade de plugins.
Comment[ru]=Предоставляет доступ к контактам в удалённых файлах, используя сетевую подсистему KDE KIO. Поддерживает стандартный формат vCard и другие форматы при наличии соответствующих модулей.
Comment[sk]=Poskytuje prístup ku kontaktom vo vzdialených súboroch s použitím KDE sieťového rámca KIO. Podporuje štandardný vCard súbor a ostatné formáty v závislosti od dostupnosti zásuvných modulov.
Comment[sr]=Пружа приступ контактима у удаљеним фајловима преко КДЕ‑овог мрежног радног оквира К‑У/И. Подржава стандардне в‑кард фајлове и друге формате, према расположивим прикључцима.
Comment[sr@ijekavian]=Пружа приступ контактима у удаљеним фајловима преко КДЕ‑овог мрежног радног оквира К‑У/И. Подржава стандардне в‑кард фајлове и друге формате, према расположивим прикључцима.
Comment[sr@ijekavianlatin]=Pruža pristup kontaktima u udaljenim fajlovima preko KDE‑ovog mrežnog radnog okvira K‑U/I. Podržava standardne vCard fajlove i druge formate, prema raspoloživim priključcima.
Comment[sr@latin]=Pruža pristup kontaktima u udaljenim fajlovima preko KDE‑ovog mrežnog radnog okvira K‑U/I. Podržava standardne vCard fajlove i druge formate, prema raspoloživim priključcima.
Comment[sv]=Ger tillgång till kontakter i fjärrfiler med användning av KDE:s I/O-ramverk. Stöder vCard-standardfiler och andra format, beroende på tillgängliga insticksprogram.
Comment[tr]=KDE'nin ağ iskeleti KIO'yu kullanarak uzak dosyalardaki kişilere erişim sağlar. Mevcut eklentilere bağlı olarak standart VCard dosyalarını ve diğer dosya biçimleri destekler.
Comment[uk]=Надає доступ до контактів, які зберігаються у віддалених файлах, за допомогою мережевих засобів KIO KDE. Підтримує стандартні файли vCard та файли у інших форматах, залежно від наявності відповідних додатків.
Comment[x-test]=xxProvides access to contacts in remote files using KDE's network framework KIO. Supports standard vCard files and other formats depending on available plugins.xx
Comment[zh_CN]=通过 KDE 的网络透明框架 KIO，提供对被存储在远程文件中的联系人的访问支持。支持标准 vCard 文件和其它插件所允许的格式。
Comment[zh_TW]=提供存取使用 KDE 網路架構 KIO 儲存在遠端檔案中的聯絡人。支援標準的 vCard 檔，以及外掛程式所提供的其它格式檔案。
X-KDE-Library=kabc_net
Type=Service
X-KDE-ServiceTypes=KResources/Plugin
X-KDE-ResourceFamily=contact
X-KDE-ResourceType=net
