[Desktop Entry]
Type=Application
Name=Mutter
Name[ar]=مَتَر
Name[as]=Mutter
Name[ast]=Mutter
Name[be]=Mutter
Name[bg]=Mutter
Name[bn_IN]=Mutter
Name[br]=Mutter
Name[ca]=Mutter
Name[ca@valencia]=Mutter
Name[cs]=Mutter
Name[da]=Mutter
Name[de]=Mutter
Name[el]=Mutter
Name[en_GB]=Mutter
Name[eo]=Mutero
Name[es]=Mutter
Name[et]=Mutter
Name[eu]=Mutter
Name[fa]=ماتر
Name[fi]=Mutter
Name[fr]=Mutter
Name[ga]=Mutter
Name[gl]=Mutter
Name[gu]=Mutter
Name[he]=Mutter
Name[hi]=Mutter
Name[hu]=Mutter
Name[id]=Mutter
Name[it]=Mutter
Name[ja]=Mutter
Name[kn]=Mutter
Name[ko]=머터
Name[lt]=Mutter
Name[lv]=Mutter
Name[ml]=മട്ടര്‍
Name[mr]=मुटर
Name[nb]=Mutter
Name[nds]=Mutter
Name[nl]=Mutter
Name[or]=Mutter
Name[pa]=ਮੱਟਰ
Name[pl]=Mutter
Name[pt]=Mutter
Name[pt_BR]=Mutter
Name[ro]=Mutter
Name[ru]=Mutter
Name[sk]=Mutter
Name[sl]=Mutter
Name[sr]=Матер
Name[sr@latin]=Mater
Name[sv]=Mutter
Name[ta]=மட்டர்
Name[te]=మట్టర్
Name[th]=Mutter
Name[tr]=Mutter
Name[ug]=Mutter
Name[uk]=Mutter
Name[vi]=Mutter
Name[zh_CN]=Mutter
Name[zh_HK]=Mutter
Name[zh_TW]=Mutter
Exec=mutter
# name of loadable control center module
X-GNOME-WMSettingsModule=metacity
# name we put on the WM spec check window
X-GNOME-WMName=Mutter
# back compat only 
X-GnomeWMSettingsLibrary=metacity
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=mutter
X-GNOME-Bugzilla-Component=general
X-GNOME-Autostart-Phase=WindowManager
X-GNOME-Provides=windowmanager
X-GNOME-Autostart-Notify=true

[Window Manager]
SessionManaged=true

