[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=QImageIOPlugins
X-KDE-ImageFormat=pgm
X-KDE-MimeType=image/x-portable-graymap
X-KDE-Read=true
X-KDE-Write=true
