[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=QImageIOPlugins
X-KDE-ImageFormat=xpm
X-KDE-MimeType=image/x-xpixmap
X-KDE-Read=true
X-KDE-Write=true
